@model KompassHR.Areas.Module.Models.Module_Employee.Contractor_AttendanceSummary

@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 40px; /* Set the width for the first column */
    }

    th:nth-child(2), td:nth-child(2) {
        width: 40px; /* Set the width for the first column */
    }

    .tblAddData td:nth-child(7) {
        display: none;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 10px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Contractor Attendance (Summary)
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_AttenInvoiceMenu", "Module_Employee_AttenInvoiceMenu", new {id =27, ScreenId=925, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Contractor Attendance (Summary) - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of Contractor Attendance (summary) created.
                    </p>
                </div>
                <div class="panel-body">
                    <form role="form" action="@Url.Action("GetList", "Module_Employee_ContractorAttendanceSummary")" id="SaveMonthlyAttendance">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="@Url.Action("Module_Employee_ContractorAttendanceSummary", "Module_Employee_ContractorAttendanceSummary", new { area = "Module" })">
                                    <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                        <i class="fa-solid fa-plus"></i> &nbsp; Add
                                    </button>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Company <span class="important">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { @class = "form-select", name = "CmpId", id = "ddlCmpId" })
                                            <span class="text-danger" id="errCmpId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Business Unit <span class="important">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                            <span class="text-danger" id="errBranchId"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Month/Year
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.InvoiceMonth, new { id = "txtMonth", @class = "form-control", name = "Month", type = "month" })
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-3">
                                        <button type="button" onclick="showList()" class="btn btn-success btn-sm  mb-10px">
                                            <i class="fa-solid fa-eye"></i> &nbsp; Show
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </form>

                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <table class="table table-bordered align-middle TablePage" id="fixed-header"
                                   style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">Show </th>
                                        <th class="text-nowrap">Export </th>
                                        <th class="text-nowrap">Company Name </th>
                                        <th class="text-nowrap">Business Unit</th>
                                        <th class="text-nowrap">Contactor Name</th>
                                        <th class="text-nowrap">Month Year</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.GetContractorAttendance)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <a id="btnshow" onclick="ViewForEmployee('@d.ContractorMonthlyCmpId' ,'@d.ContractorMonthlyBranchId','@d.ContractorMonthlyContractorId','@d.ContractorMonthlyMonthYear')"
                                                   style="cursor:pointer;">
                                                    <i class="fa-solid fa-solid fa-eye fa-lg text-danger"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a id="btnshow" onclick="downloadExcelFile('@d.ContractorMonthlyCmpId' ,'@d.ContractorMonthlyBranchId','@d.ContractorMonthlyContractorId','@d.ContractorMonthlyMonthYear')"
                                                   style="cursor:pointer;">
                                                    <i class="fa-solid fa-download fa-lg text-primary"></i>

                                                </a>
                                            </td>
                                            <td>@d.ShortName</td>
                                            <td>@d.BranchName</td>
                                            <td>@d.ContractorName</td>
                                            <td>@d.ContractorMonthlyMonthYear</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END panel -->
</div>

<!-- #Start modal-dialog -->
<div class="modal fade" id="myEmployeeAttendance" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Contractor Attendance - List</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scroll div1">
                                <div class="row">
                                    <table id="data-table-combine15" class="table table-striped table-bordered align-middle">
                                        <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnEmployeeSubmit" onclick="funSave()"
                        class="btn btn-danger btn-sm">
                    <i class="fa-solid fa-trash-alt"></i> Delete
                </button>
                <button type="button" class="btn btn-primary btnpress btn-sm CloseModel" id="CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(document).ready(function () {
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();

        // Get current date and set default values
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // getMonth() returns 0-11

        // Format as YYYY-MM (HTML5 month input format)
        var defaultMonthYear = yyyy + '-' + mm;

        // Set default values if empty
        if (!$('#txtMonth').val()) {
            $('#txtMonth').val(defaultMonthYear);
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();

            var CmpId = $("#ddlCmpId").val();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Module_Employee_ContractorAttendanceSummary")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlBranchId").append("<option value='0'>--Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            })
        });
    });
</script>
<script>
   
        //use for add regex function
        jQuery.validator.addMethod(
        "regex",
         function (value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         }, "erreur expression reguliere"
      );

        $('#SaveMonthlyAttendance').validate({
            rules: {
                CmpId: {
                    required: true,
                },
                BranchId: {
                    required: true,
                },
            },
            messages: {
                CmpId: {
                    required: "Comapany is required",
                },
                BranchId: {
                    required: "Buisness Unit is required",
                },
               
            },
        });

        var form = $("#SaveMonthlyAttendance");
        form.validate();

        function showList() {
            debugger;
            form.valid();
            if (form.valid() == false) {
                $("#txtEstablishedDate").removeClass("error");
                return false;
            }
            $("#SaveMonthlyAttendance").submit();
    }

    function ViewForEmployee(ContractorMonthlyCmpId, ContractorMonthlyBranchId, ContractorMonthlyContractorId, ContractorMonthlyMonthYear) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetContactorAttendanceSummary", "Module_Employee_ContractorAttendanceSummary")',
            data: {
                ContractorMonthlyCmpId,
                ContractorMonthlyBranchId,
                ContractorMonthlyContractorId,
                ContractorMonthlyMonthYear
            },
            dataType: "json",
            success: function (data) {
                debugger;

                const modal = $('#myEmployeeAttendance');
                const table = $('#data-table-combine15');
                const thead = table.find('thead');
                const tbody = table.find('tbody');

                modal.modal(data.length > 0 ? 'show' : 'hide');

                if ($.fn.DataTable.isDataTable('#data-table-combine15')) {
                    table.DataTable().clear().destroy();
                }

                thead.empty();
                tbody.empty();

                if (data.length > 0) {

                    // ✅ HEADER WITH SELECT ALL
                    let headerRow = '<tr>';

                    headerRow += `<th><input type="checkbox" id="selectAllDynamic"/></th>`;

                    data[0].forEach(col => {
                        // Hide ID & Month columns
                        if (col.Key === 'ContractorMonthlyId' || col.Key === 'ContractorMonthlyEmployeeId' || col.Key === 'ContractorMonthlyMonthYear') {
                            headerRow += `<th style="display:none">${col.Key}</th>`;
                        } else {
                            headerRow += `<th>${col.Key}</th>`;
                        }
                    });

                    headerRow += '</tr>';
                    thead.append(headerRow);

                    // ✅ BODY WITH CHECKBOX
                    data.forEach(row => {
                        let bodyRow = '<tr>';

                        let ContractorMonthlyId = '';
                        let ContractorMonthlyEmployeeId = '';
                        let ContractorMonthlyMonthYear = '';

                        row.forEach(col => {
                            if (col.Key === 'ContractorMonthlyId') ContractorMonthlyId = col.Value;
                            if (col.Key === 'ContractorMonthlyEmployeeId') ContractorMonthlyEmployeeId = col.Value;
                            if (col.Key === 'ContractorMonthlyMonthYear') ContractorMonthlyMonthYear = col.Value;
                        });

                        // checkbox column
                        bodyRow += `<td class="text-center"> <input type="checkbox" class="rowCheckbox"  data-id="${ContractorMonthlyId}" data-empid="${ContractorMonthlyEmployeeId}" data-month="${ContractorMonthlyMonthYear}" /></td>`;

                        // add other columns dynamically and hide IDs & Month
                        row.forEach(col => {
                            if (col.Key === 'ContractorMonthlyId' || col.Key === 'ContractorMonthlyEmployeeId' || col.Key === 'ContractorMonthlyMonthYear') {
                                bodyRow += `<td style="display:none">${col.Value}</td>`;
                            } else {
                                bodyRow += `<td>${col.Value}</td>`;
                            }
                        });

                        bodyRow += '</tr>';
                        tbody.append(bodyRow);
                    });

                    // ✅ Select All functionality
                    $(document).on('change', '#selectAllDynamic', function () {
                        $('.rowCheckbox').prop('checked', this.checked);
                    });

                    $(document).on('change', '.rowCheckbox', function () {
                        if (!this.checked) $('#selectAllDynamic').prop('checked', false);
                    });

                    table.DataTable({
                        scrollX: true,
                        paging: false,
                        scrollY: "400px",
                        scrollCollapse: true
                    });
                }
            }
        });
    }

    function downloadExcelFile(ContractorMonthlyCmpId, ContractorMonthlyBranchId, ContractorMonthlyContractorId, ContractorMonthlyMonthYear) {
        $(".Userloaderbg").css("display", "flex");
        var txtMonth = $("#txtMonth").val();

        var url = `@Url.Action("DownloadExcelFile", "Module_Employee_ContractorAttendanceSummary")?ContractorMonthlyCmpId=${ContractorMonthlyCmpId}&ContractorMonthlyBranchId=${ContractorMonthlyBranchId}&ContractorMonthlyContractorId=${ContractorMonthlyContractorId}&ContractorMonthlyMonthYear=${ContractorMonthlyMonthYear}`;
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function (data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if (data.size == 0) {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertMonthYearFormat(txtMonth);
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'Contractor Attendance(' + formattedDate + ').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }

    function funSave() {
        debugger;

        const Month = $("#txtMonth").val();
        const ObjContractorAttendance = [];

        $('#data-table-combine15 tbody .rowCheckbox:checked').each(function () {

            const data = {
                ContractorMonthlyId: $(this).data('id'),
                ContractorMonthlyEmployeeId: $(this).data('empid'),
                ContractorMonthlyMonthYear: Month
            };

            ObjContractorAttendance.push(data);
        });

        if (ObjContractorAttendance.length === 0) {
            return Swal.fire({
                icon: "error",
                text: "Select at least one employee"
            });
        }

        const dataToSend = {
            model: {
                ObjContractorAttendance: ObjContractorAttendance
            },
            Month: Month,
        };

        $(".Userloaderbg").css("display", "flex");

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteContractorAttendance", "Module_Employee_ContractorAttendanceSummary")',
            data: JSON.stringify(dataToSend),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $(".Userloaderbg").hide();

                if (response != null) {

                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message
                    }).then(() => {
                        if (response.Icon !== "error") {
                            location.reload(); // or redirect if needed
                        }
                    });
                }
            }
        });
    }
</script>
