@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Reports_Attendance_ShiftDefaultRoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*select Row CSS End*/

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 12px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
        min-width: 270px;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }

    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td {
        border-color: black !important;
        background-color: white !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Attendance ShiftDefault Roster Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_MonthlyAttendance_RptSubMenu", "Report_MonthlyAttendance_RptSubMenu", new {id = 5, ScreenId=327, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Attendance ShiftDefault Roster Report</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">
                            <div class="row justify-content-center">
                                <form role="form" action="/Reports/Reports_Attendance_ShiftDefaultRoster/Reports_Attendance_ShiftDefaultRoster" id="formShiftDefaultRoster" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Department
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Sub Department
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Designation
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Grade
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Line Master
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Sub Unit
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.SubUnitId, new SelectList(ViewBag.SubUnit, "Id", "Name"), "All", new { @class = "form-select", name = "SubUnit", id = "ddlSubUnit" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Contractor Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ContractorId, new SelectList(ViewBag.GetContractor, "Id", "Name"), "All", new { @class = "form-select", name = "ContractorId", id = "ddlContractorId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Month/Year
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", type = "month", name = "FromDate" })
                                                    <span id="ErrortxtFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        To Date
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", type = "date", name = "ToDate" })
                                                    </div>

                                                </div>
                                            </div>*@
                                    </div>
                                    @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Employee Name
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-10">
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                                <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered table-hover mb-0 " id="tblrptShiftDefaultRoster" style="width: 100%;">
                                            <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="trheading">
                                                    <th class="fixed-side text-nowrap" style="border-color:black !important;">EmployeeName</th>
                                                    <th class="fixed-side1 text-nowrap">EmployeeNo</th>
                                                    <th class="text-nowrap">EmployeeCardNo</th>
                                                    <th class="text-nowrap">Age</th>
                                                    <th class="text-nowrap">Gender</th>
                                                    <th class="text-nowrap">JoiningDate</th>
                                                    <th class="text-nowrap">LastWorkingDay</th>
                                                    <th class="text-nowrap">Designation</th>
                                                    <th class="text-nowrap">Department</th>
                                                    <th class="text-nowrap">SubDepartment</th>
                                                    <th class="text-nowrap">BusinessArea</th>
                                                    <th class="text-nowrap">BusinessUnit</th>
                                                    <th class="text-nowrap">GradeName</th>
                                                    <th class="text-nowrap">EmployeeType</th>
                                                    <th class="text-nowrap">CriticalStageName</th>
                                                    <th class="text-nowrap">PF_UANNO</th>
                                                    <th class="text-nowrap">EmployeeLevel</th>
                                                    <th class="text-nowrap">Services</th>
                                                    <th class="text-nowrap">Line</th>
                                                    @for (int i = 1; i < ViewBag.GetDays + 1; i++)
                                                    {
                                                        <th class="text-center">@i</th>
                                                    }
                                                    <th class="text-nowrap">CD</th>
                                                    <th class="text-nowrap">CN</th>
                                                    <th class="text-nowrap">FS</th>
                                                    <th class="text-nowrap">FX</th>
                                                    <th class="text-nowrap">GP</th>
                                                    <th class="text-nowrap">GS</th>
                                                    <th class="text-nowrap">SF</th>
                                                    <th class="text-nowrap">SN</th>
                                                    <th class="text-nowrap">SP</th>
                                                    <th class="text-nowrap">SP1</th>
                                                    <th class="text-nowrap">SS</th>
                                                    <th class="text-nowrap">TS</th>
                                                    <th class="text-nowrap">WO</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblDeptWiseReport">
                                                @foreach (var d in ViewBag.ShiftDefaultRosterReport)
                                                {
                                                    <tr>
                                                        <td class="fixed-side">@d.EmployeeName</td>
                                                        <td class="fixed-side1">@d.EmployeeNo</td>
                                                        <td class="text-nowrap">@d.EmployeeCardNo</td>
                                                        <td class="text-nowrap">@d.Age</td>
                                                        <td class="text-nowrap">@d.Gender</td>
                                                        <td class="text-nowrap">@d.JoiningDate</td>
                                                        <td class="text-nowrap">@d.LastWorkingDay</td>
                                                        <td class="text-nowrap">@d.Designation</td>
                                                        <td class="text-nowrap">@d.Department</td>
                                                        <td class="text-nowrap">@d.SubDepartment</td>
                                                        <td class="text-nowrap">@d.BusinessArea</td>
                                                        <td class="text-nowrap">@d.BusinessUnit</td>
                                                        <td class="text-nowrap">@d.GradeName</td>
                                                        <td class="text-nowrap">@d.EmployeeType</td>
                                                        <td class="text-nowrap">@d.CriticalStageName</td>
                                                        <td class="text-nowrap">@d.PF_UANNO</td>
                                                        <td class="text-nowrap">@d.EmployeeLevel</td>
                                                        <td class="text-nowrap">@d.Services</td>
                                                        <td class="text-nowrap">@d.Line</td>

                                                        @if (d.Day1 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day1</td>
                                                        }
                                                        @if (d.Day2 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day2</td>
                                                        }
                                                        @if (d.Day3 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day3</td>
                                                        }
                                                        @if (d.Day4 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day4</td>
                                                        }
                                                        @if (d.Day5 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day5</td>
                                                        }
                                                        @if (d.Day6 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day6</td>
                                                        }
                                                        @if (d.Day7 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day7</td>
                                                        }
                                                        @if (d.Day8 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day8</td>
                                                        }
                                                        @if (d.Day9 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day9</td>
                                                        }
                                                        @if (d.Day10 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day10</td>
                                                        }
                                                        @if (d.Day11 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day11</td>
                                                        }
                                                        @if (d.Day12 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day12</td>
                                                        }
                                                        @if (d.Day13 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day13</td>
                                                        }
                                                        @if (d.Day14 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day14</td>
                                                        }
                                                        @if (d.Day15 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day15</td>
                                                        }
                                                        @if (d.Day16 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day16</td>
                                                        }
                                                        @if (d.Day17 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day17</td>
                                                        }
                                                        @if (d.Day18 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day18</td>
                                                        }
                                                        @if (d.Day19 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day19</td>
                                                        }
                                                        @if (d.Day20 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day20</td>
                                                        }
                                                        @if (d.Day21 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day21</td>
                                                        }
                                                        @if (d.Day22 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day22</td>
                                                        }
                                                        @if (d.Day23 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day23</td>
                                                        }
                                                        @if (d.Day24 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day24</td>
                                                        }
                                                        @if (d.Day25 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day25</td>
                                                        }
                                                        @if (d.Day26 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day26</td>
                                                        }
                                                        @if (d.Day27 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day27</td>
                                                        }
                                                        @if (d.Day28 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day28</td>
                                                        }
                                                        <td class="text-nowrap">@d.Day1</td>
                                                         <td class="text-nowrap">@d.Day2</td>
                                                         <td class="text-nowrap">@d.Day3</td>
                                                         <td class="text-nowrap">@d.Day4</td>
                                                         <td class="text-nowrap">@d.Day5</td>
                                                         <td class="text-nowrap">@d.Day6</td>
                                                         <td class="text-nowrap">@d.Day7</td>
                                                         <td class="text-nowrap">@d.Day8</td>
                                                         <td class="text-nowrap">@d.Day9</td>
                                                         <td class="text-nowrap">@d.Day10</td>
                                                         <td class="text-nowrap">@d.Day11</td>
                                                         <td class="text-nowrap">@d.Day12</td>
                                                         <td class="text-nowrap">@d.Day13</td>
                                                         <td class="text-nowrap">@d.Day14</td>
                                                         <td class="text-nowrap">@d.Day15</td>
                                                         <td class="text-nowrap">@d.Day16</td>
                                                         <td class="text-nowrap">@d.Day17</td>
                                                         <td class="text-nowrap">@d.Day18</td>
                                                         <td class="text-nowrap">@d.Day19</td>
                                                         <td class="text-nowrap">@d.Day20</td>
                                                         <td class="text-nowrap">@d.Day21</td>
                                                         <td class="text-nowrap">@d.Day22</td>
                                                         <td class="text-nowrap">@d.Day23</td>
                                                         <td class="text-nowrap">@d.Day24</td>
                                                         <td class="text-nowrap">@d.Day25</td>
                                                         <td class="text-nowrap">@d.Day26</td>
                                                         <td class="text-nowrap">@d.Day27</td>
                                                         <td class="text-nowrap">@d.Day28</td>
                                                        @if (d.Day29 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day29</td>
                                                        }
                                                        @if (d.Day30 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day30</td>
                                                        }
                                                        @if (d.Day31 != null)
                                                        {
                                                            <td class="text-nowrap">@d.Day31</td>
                                                        }
                                                        <td class="text-nowrap">@d.CD</td>
                                                        <td class="text-nowrap">@d.CN</td>
                                                        <td class="text-nowrap">@d.FS</td>
                                                        <td class="text-nowrap">@d.FX</td>
                                                        <td class="text-nowrap">@d.GP</td>
                                                        <td class="text-nowrap">@d.GS</td>
                                                        <td class="text-nowrap">@d.SF</td>
                                                        <td class="text-nowrap">@d.SN</td>
                                                        <td class="text-nowrap">@d.SP</td>
                                                        <td class="text-nowrap">@d.SP1</td>
                                                        <td class="text-nowrap">@d.SS</td>
                                                        <td class="text-nowrap">@d.TS</td>
                                                        <td class="text-nowrap">@d.WO</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (ViewBag.ShiftDefaultRosterReport.ToString() != "")
                                        {
                                            if (ViewBag.ShiftDefaultRosterReport.Count != 0)
                                            {
                                                <br />
                                                    <span id="tblRowCount"></span>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('title').html("Attendance ShiftDefault Roster");
        var today = new Date();
        // Format the date as YYYY-MM (year-month)
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var defaultMonth = yyyy + '-' + mm;
        // Set the value of the input element to the default month
        var CheckEmptyDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('txtFromDate').value = defaultMonth;
        }
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlContractorId").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var GetMonthYear =   $("#txtFromDate").val();
            $("#ddlContractorId").find("option").remove();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMonthlyBusinessUnit", "Report_Attendance_RptMenu")',
                data: { CmpId: CmpId ,GetMonthYear:GetMonthYear},
                success: function (data) {
                    var GetBranch = data.Branch;
                    if (GetBranch !=null) {
                        $("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(GetBranch, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    var ContractorDropdown = data.GetContractorDropdown;
                    if (ContractorDropdown != null) {
                        $("#ddlContractorId").append("<option value=''>All </option>");
                        $.each(ContractorDropdown, function (i, p) {
                            $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlContractorId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            var GetFromDate = $("#txtFromDate").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Report_Attendance_RptMenu")',
                data: {CmpId:CmpId, UnitBranchId: UnitBranchId,GetFromDate:GetFromDate },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlContractorId").find("option").remove();
                        $("#ddlContractorId").append("<option value=''>All </option>");
                    }
                    else {
                        var GetContractorDropdown = data.GetContractorDropdown;
                        if (GetContractorDropdown != null) {
                            $("#ddlContractorId").append("<option value=''>All </option>");
                            $.each(GetContractorDropdown, function (i, p) {
                                $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

    });//Ready Function

    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        //var CmpId = $("#ddlCmpId").val();
        //var BranchId = $("#ddlBranchId").val();
        //var FromDate = $("#ddlContractorId").val();

        var BranchId = encodeURIComponent($("#ddlBranchId").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var CmpId = encodeURIComponent($("#ddlCmpId").val());
        var ContractorId = encodeURIComponent($("#ddlContractorId").val());

        var url = `@Url.Action("DownloadExcelFile", "Reports_Attendance_ShiftDefaultRoster")?BranchId=${BranchId}&FromDate=${FromDate}&CmpId=${CmpId}&ContractorId=${ContractorId}`;

        // Create a full URL with query parameters
        //var url = '/Reports_Attendance_ShiftDefaultRoster/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) +'&CmpId='+ encodeURIComponent(CmpId) +'&DepartmentId='+encodeURIComponent(DepartmentId)+'&SubDepartmentId='+encodeURIComponent(SubDepartmentId)+'&DesignationId='+encodeURIComponent(DesignationId)+'&GradeId='+encodeURIComponent(GradeId)+'&LineId='+encodeURIComponent(LineId)+'&SubUnitId='+encodeURIComponent(SubUnitId)+'&EmployeeID='+encodeURIComponent(EmployeeID)+'&ToDate='+encodeURIComponent(ToDate);
        //var url = '/Reports_Attendance_ShiftDefaultRoster/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) +'&CmpId='+ encodeURIComponent(CmpId);
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertMonthYearFormat(FromDate);

                // Create a Blob from the response data
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'ShiftDefaultRosterReport('+formattedDate +').xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }


</script>

