<tbody class="scrollable-tbody" id="tbodyApproveReject">
    @if (Model != null)
    {
        foreach (var d in ViewBag.TimeOfficeApprovalList)
        {
            <tr>
                <td hidden>@d.DocID</td>
                <td hidden>@d.DocID_Encrypted</td>
                <td hidden>@d.Origin</td>
                <td style="width:10px">
                    <input type="checkbox" class="form-check-input" data-checked="email-checkbox" value="@d.DocID_Encrypted" id="tblCheckbox">
                </td>
                <td style="width:20px">
                    <span class="email-userBx">
                        <a class="email-user bg-indigo">
                            <span class="text-white">@d.FirstEmployeeName</span>
                        </a>
                    </span>
                </td>
                <td onclick="ViewForApprover('@d.DocID_Encrypted', '@d.Origin')">
                    <span class="email-sender">@d.EmployeeName</span>
                </td>
                <td onclick="ViewForApprover('@d.DocID_Encrypted', '@d.Origin')">
                    <span class="email-title">@d.Reason</span>
                </td>
                <td onclick="ViewForApprover('@d.DocID_Encrypted', '@d.Origin')">
                    <span class="email-title sub">@d.TotalDuration</span>
                </td>
                <td onclick="ViewForApprover('@d.DocID_Encrypted', '@d.Origin')">
                    <span class="email-time">@d.PendingScience</span>
                </td>
            </tr>
        }
    }
</tbody>

