
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<!-- Start panel -->
<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false"
         data-bs-scroll=true>
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1"
                style="width: 100%;">
                <span id="EmpName">@Session["FNFEmployeeName"]</span>
            </h6>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                @foreach (var item in ViewBag.GetUserMenuList)
                {
                    <div class="col-md-4 col-6 d-flex justify-content-center">
                        <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" style="text-decoration:none !important;">
                            <div class="box2">
                                <div class="info">
                                    <i class="@item.Icon"></i>
                                    <h7><b>@item.ScreenDisplayMenuName</b></h7>
                                    <div class="box2Checkmark">
                                        <i class="fa-regular fa-circle-check text-green FS-12PX" id="@($"{item.ScreenSourceMenuName}_Submit")"></i>
                                        <i class="fa-regular fa-circle-xmark text-red FS-12PX" id="@($"{item.ScreenSourceMenuName}_NotSubmit")"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var List = @Html.Raw(Json.Encode(ViewBag.GetStatusAssetDetails));
        debugger;
        if(List.length==0)
        {
            $("#FNFDetails_NotSubmit").show();
            $("#FNFDetails_Submit").hide();

            $("#LeaveCalculation_NotSubmit").show();
            $("#LeaveCalculation_Submit").hide();

            $("#Reporting_NotSubmit").show();
            $("#Reporting_Submit").hide();

            $("#BonusCalculation_NotSubmit").show();
            $("#BonusCalculation_Submit").hide();

            $("#SalaryCalculation_NotSubmit").show();
            $("#SalaryCalculation_Submit").hide();

            $("#GratuityCalculation_NotSubmit").show();
            $("#GratuityCalculation_Submit").hide();

            $("#TDSCalculation_NotSubmit").show();
            $("#TDSCalculation_Submit").hide();

            $("#Requisition_NotSubmit").show();
            $("#Requisition_Submit").hide();

            $("#UpdateManager_NotSubmit").show();
            $("#UpdateManager_Submit").hide();

            $("#AssetDetails_NotSubmit").show();
            $("#AssetDetails_Submit").hide();

            $("#Dues_NotSubmit").show();
            $("#Dues_Submit").hide();

            $("#Assets_NotSubmit").show();
            $("#Assets_Submit").hide();

            $("#AccessLock_NotSubmit").show();
            $("#AccessLock_Submit").hide();
      
        }
        else{
            var ListLength=List[0].length;
            for (var i = 0; i < ListLength; i++) {
                var SetUpValue = List[0][i].Value;
                var SetUpkey = List[0][i].Key;
                if (SetUpkey=="SetupFNFDetails") {
                    if (SetUpValue == true)
                    {
                        $("#FNFDetails_Submit").show();
                        $("#FNFDetails_NotSubmit").hide();
                    }
                    else
                    {
                        $("#FNFDetails_NotSubmit").show();
                        $("#FNFDetails_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupLeaveCalculation") {
                    if (SetUpValue == true) {
                        $("#LeaveCalculation_Submit").show();
                        $("#LeaveCalculation_NotSubmit").hide();
                    }
                    else {
                        $("#LeaveCalculation_NotSubmit").show();
                        $("#LeaveCalculation_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupReporting") {
                    if (SetUpValue == true) {
                        $("#Reporting_Submit").show();
                        $("#Reporting_NotSubmit").hide();
                    }
                    else {
                        $("#Reporting_NotSubmit").show();
                        $("#Reporting_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupBonusCalculation") {
                    if (SetUpValue == true) {
                        $("#BonusCalculation_Submit").show();
                        $("#BonusCalculation_NotSubmit").hide();
                    }
                    else {
                        $("#BonusCalculation_NotSubmit").show();
                        $("#BonusCalculation_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupSalaryCalculation") {
                    if (SetUpValue == true) {
                        $("#SalaryCalculation_Submit").show();
                        $("#SalaryCalculation_NotSubmit").hide();
                    }
                    else {
                        $("#SalaryCalculation_NotSubmit").show();
                        $("#SalaryCalculation_Submit").hide();
                    }

                }
                if (SetUpkey=="SetupGratuityCalculation") {
                    if (SetUpValue == true) {
                        $("#GratuityCalculation_Submit").show();
                        $("#GratuityCalculation_NotSubmit").hide();
                    }
                    else {
                        $("#ESS_NotSubmit").show();
                        $("#ESS_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupTDSCalculation") {
                    if (SetUpValue == true) {
                        $("#TDSCalculation_Submit").show();
                        $("#TDSCalculation_NotSubmit").hide();
                    }
                    else {
                        $("#TDSCalculation_NotSubmit").show();
                        $("#TDSCalculation_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupRequisition") {
                    if (SetUpValue == true) {
                        $("#Requisition_Submit").show();
                        $("#Requisition_NotSubmit").hide();
                    }
                    else {
                        $("#Requisition_NotSubmit").show();
                        $("#Requisition_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupUpdateManager") {
                    if (SetUpValue == true) {
                        $("#UpdateManager_Submit").show();
                        $("#UpdateManager_NotSubmit").hide();
                    }
                    else {
                        $("#UpdateManager_NotSubmit").show();
                        $("#UpdateManager_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupAssetDetails") {
                    if (SetUpValue == true) {
                        $("#AssetDetails_Submit").show();
                        $("#AssetDetails_NotSubmit").hide();
                    }
                    else {
                        $("#AssetDetails_NotSubmit").show();
                        $("#AssetDetails_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupDues") {
                    if (SetUpValue == true) {
                        $("#Dues_Submit").show();
                        $("#Dues_NotSubmit").hide();
                    }
                    else {
                        $("#Dues_NotSubmit").show();
                        $("#Dues_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupAssets") {
                    if (SetUpValue == true) {
                        $("#Assets_Submit").show();
                        $("#Assets_NotSubmit").hide();
                    }
                    else {
                        $("#Assets_NotSubmit").show();
                        $("#Assets_Submit").hide();
                    }
                }

                if (SetUpkey=="SetupAccessLock") {
                    if (SetUpValue == true) {
                        $("#AccessLock_Submit").show();
                        $("#AccessLock_NotSubmit").hide();
                    }
                    else {
                        $("#AccessLock_NotSubmit").show();
                        $("#AccessLock_Submit").hide();
                    }
                }
                
            }

        }

       
    });
</script>