
<a href="@Url.Action("ESS_Training_TrainingPlan", "ESS_Training_TrainingPlan", new { area = "ESS" })">
    <button type="button" class="btn btn-primary btn-sm mb-3">
        <i class="fa-solid fa-plus"></i> &nbsp; Add
    </button>
</a>

<div class="table-scroll div1">
    <div class="table-wrap">
        <table class="table table-bordered align-middle TablePage" style="width: 100%;">
            <thead class="text-center">
                <tr>
                    <th class="fixed-side">Delete</th>
                    <th class="fixed-side text-center">View</th>
                    <th class="text-nowrap">Training Calender Name </th>
                    <th class="text-nowrap">Batch</th>
                    <th class="text-nowrap">Start Date</th>
                    <th class="text-nowrap">Start Time</th>
                    <th class="text-nowrap">End Date</th>
                    <th class="text-nowrap">End Time</th>
                    <th class="text-nowrap">Created By</th>
                    <th class="text-nowrap">Created Date</th>
                    <th class="text-nowrap">Modify By</th>
                    <th class="text-nowrap">Modified Date </th>
                    <th class="text-nowrap">Machine Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in ViewBag.GetTrainingtPlan)
                {
                    <tr>
                        <td class="text-center">
                            <a onclick="DeleteTrainingPlan('@d.TrainingPlan_MasterId')" id="btnDelete" style="cursor:pointer;">
                                <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;" onclick="ViewEmployee('@d.TrainingCalenderId', '@d.Batch')"></i>
                        </td>
                        <td>@d.TrainingCalenderName</td>
                        <td>@d.Batch</td>
                        <td>@d.StartDate</td>
                        <td>@d.StartTime</td>
                        <td>@d.EndDate</td>
                        <td>@d.EndTime</td>
                        <td>@d.CreatedBy</td>
                        <td>@d.CreatedDate</td>
                        <td>@d.ModifiedBy</td>
                        <td>@d.ModifiedDate</td>
                        <td>@d.MachineName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

