@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_Arrears
@{
    ViewBag.Title = "Module_Payroll_Arrears";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*select Row CSS End*/

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 10px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
        min-width: 270px;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }

    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td {
        border-color: black !important;
        background-color: white !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Arrears
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu", new {id = 6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@     Arrears </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action='@Url.Action("SaveUpdate", "Module_Payroll_Arrears", new { area = "Module" })' id="FormArrears" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ArrearsCmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                    @Html.HiddenFor(model => model.ArrearsId_Encrypted, new { id = "hdnArrearsId_Encrypted" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ArrearsBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ArrearsEmployeeId, new SelectList(ViewBag.EmployeeName ?? Enumerable.Empty<SelectListItem>(), "Id", "Name"), "--Select--", new { @class = "form-select", name = "EmployeeId", id = "ddlEmployeeId" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Type
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ArrearsType,
                                                                            new SelectList(
                                                                                new List<SelectListItem>
                                                                                {
                                                                                    new SelectListItem { Text = "Days", Value = "Days" },
                                                                                    new SelectListItem { Text = "Salary", Value = "Salary" }
                                                                                }, "Value", "Text"
                                                                            ), "--Select--", new { @class = "form-select", name = "EmployeeID", id = "ddlType" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Arrears Month/Year
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ArrearsCalculateMonthYear, new
                                               {
                                                   @class = "form-control",
                                                   id = "dateCalMonthYear",
                                                   type = "Month",
                                                   name = "FromDate"/*,onkeydown = "return false;" */@*, Value = @Model.ArrearsCalculateMonthYear.ToString("yyyy-MM")*@ })
                                                    <span id="ErrortxtFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Arrears Paid Month/Year
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ArrearsPaidMonthYear, new
                                               {
                                                   @class = "form-control",
                                                   id = "datePaidMonthYear",
                                                   type = "Month",
                                                   name = "ToDate"/*, onkeydown = "return false;"*/ @*,Value = @Model.ArrearsPaidMonthYear.ToString("yyyy-MM")*@ })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" class="btn btn-success btn-sm" id="btnGetDetails">
                                                        <i class="fa-regular fa-clipboard"></i> GetDetails
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th colspan="1" class="text-nowrap">Salary Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>

                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Month Days
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.MonthDays, new { @class = "form-control readonly-textbox", id = "txtMonthDays" })
                                                                    <span id="ErrorMonthDays" class="Error"></span>
                                                                </div>
                                                            </div>

                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Payable Days
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.PayableDays, new { @class = "form-control readonly-textbox", id = "txtPayableDays", @readonly = "readonly", @style = " background-color: #eee;" })
                                                                </div>
                                                            </div>

                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Payable OT Hrs
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.PayableOTHrs, new { @class = "form-control", id = "txtPayableHrs", @readonly = "readonly", @style = " background-color: #eee;" })
                                                                </div>
                                                            </div>

                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Gross Pay
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.GrossPay, new { @class = "form-control", id = "txtGrossPay", @readonly = "readonly", @style = " background-color: #eee;" })
                                                                </div>
                                                            </div>

                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Net pays
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.NetPays, new { @class = "form-control readonly-textbox", id = "txtNetPays", @readonly = "readonly", @style = " background-color: #eee;" })
                                                                </div>
                                                            </div>
                                                           

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        @*<div class="col-md-1"></div>*@
                                        <div class="col-md-6">
                                            <table class="table table-bordered " id="">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th colspan="1" class="text-nowrap">Arrears Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Arrears Days
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.ArrearsPayableDays, new { @class = "form-control readonly-textbox", id = "txtArrearsPayableDays" })
                                                                    <span id="ErrorArrearsPayableDays" class="Error"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Arrear OT Hrs
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.ArrearsPayableOTHrs, new { @class = "form-control", id = "txtArrearsPaidHrs" })
                                                                </div>
                                                            </div>
                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Arrears Amount
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextBoxFor(model => model.ArrearsAmount, new { @class = "form-control", id = "txtArrearsAmount", autocomplete = "Off", type = "text", step = "1" })
                                                                </div>
                                                            </div>
                                                            <div class="row mb-15px">
                                                                <label class="form-label col-form-label col-md-5">
                                                                    Remark
                                                                </label>
                                                                <div class="col-md-7">
                                                                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", id = "txtRemark", rows = 2, cols = 50 })
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-md-5"></div>
                                                                <div class="col-md-2">
                                                                    <div class="row mb-15px">
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            PF
                                                                        </label>
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            @Html.CheckBoxFor(model => model.ArrearsPF, new { id = "chkArrearsPF", @class = "chkArrearsPF" })
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="row mb-15px">
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            PT
                                                                        </label>
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            @Html.CheckBoxFor(model => model.ArrearsPT, new { id = "chkArrearsPT", @class = "chkArrearsPT" })
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="row mb-15px">
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            ESI
                                                                        </label>
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            @Html.CheckBoxFor(model => model.ArrearsESI, new { id = "chkArrearsESI", @class = "chkArrearsESI" })
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-5"></div>
                                                                <div class="col-md-7">
                                                                    <div class="row mb-15px">
                                                                        <label class="form-label col-form-label col-md-5">
                                                                            Merge With Salary
                                                                        </label>
                                                                        <label class="form-label col-form-label col-md-2">
                                                                            @Html.CheckBoxFor(model => model.IsMergeWithSalary, new { id = "chkMergeWithSalary", @class = "chkMergeWithSalary" })
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Module_Payroll_Arrears", new { area = "Module" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetStatutoryESICCodeList">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
        $("#ddlEmployeeId").select2();

        var today = new Date();
        // Format the date as YYYY-MM (year-month)
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var defaultMonth = yyyy + '-' + mm;
        // Set the value of the input element to the default month
        var CheckEmptyDate = document.getElementById('dateCalMonthYear').value;
        if (CheckEmptyDate == "") {
            document.getElementById('dateCalMonthYear').value = defaultMonth;
            document.getElementById('datePaidMonthYear').value = defaultMonth;
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false // Disable outside clicks
            }).then(() => {
                window.location.reload();
            });
        }

        $("#ddlCmpId").on("change", function () {
            $("#ddlBranchId").find("option").remove();
            $("#ddlEmployeeId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMonthlyBusinessUnit", "Module_Payroll_Arrears")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data.Branch != null) {
                        $("#ddlBranchId").append("<option value=''>--Select--</option>");
                        $.each(data.Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
        $("#dateCalMonthYear, #datePaidMonthYear").on("change", function () {
            var CalMonthYear = $("#dateCalMonthYear").val(); // Format: YYYY-MM
            var PaidMonthYear = $("#datePaidMonthYear").val(); // Format: YYYY-MM

            if (CalMonthYear && PaidMonthYear) {
                var calParts = CalMonthYear.split('-'); // ["YYYY", "MM"]
                var paidParts = PaidMonthYear.split('-');

                // Create date objects
                var calDate = new Date(parseInt(calParts[0]), parseInt(calParts[1]) - 1);
                var paidDate = new Date(parseInt(paidParts[0]), parseInt(paidParts[1]) - 1);

                if (calDate >= paidDate) {
                    $("#ErrortxtFromDate").html("Arrears Month/Year should be less than Paid Month/Year");
                } else {
                    $("#ErrortxtFromDate").html("");
                }
            }
        });



        $("#ddlType").on("change", function () {
            var Type = $("#ddlType").val();
            if(Type=="Salary")
            {
                $("#txtArrearsPayableDays").attr("readonly", true).css("background-color", "#eee");
                $("#txtArrearsPaidHrs").attr("readonly", true).css("background-color", "#eee");
            }
            else
            {
                $("#txtArrearsPayableDays").attr("readonly", false).css("background-color", "");
                $("#txtArrearsPaidHrs").attr("readonly", false).css("background-color", "");
            }
        });



        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlEmployeeId").find("option").remove();
            var BranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Module_Payroll_Arrears")',
                data: { BranchId: BranchId },
                success: function (data) {
                    debugger;
                    if (data.EmployeeName != null) {
                        //$("#ddlEmployeeId").append("<option value=''>--Select--</option>");
                        $.each(data.EmployeeName, function (i, p) {
                            $("#ddlEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


    });
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function (value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   }, "erreur expression reguliere"
);

    $("#FormArrears").validate({
        rules: {
            ArrearsBranchId: {
                required: true,
            },
            ArrearsType: {
                required: true,
            },
            ArrearsCalculateMonthYear: {
                required: true,
            },
            ArrearsPaidMonthYear: {
                required: true,
            },

        },
        messages: {
            ArrearsBranchId: {
                required: "Business unit  is required",
            },
            ArrearsType: {
                required: "Type is required",
            },
            ArrearsCalculateMonthYear: {
                required: "Date is required",
            },
            ArrearsPaidMonthYear: {
                required: "Date is required",
            },

        }
    });

    var form = $("#FormArrears");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#dateDeducationMonth").removeClass('error');
            $("#dateRequiredDate").removeClass('error');
            $("#dateDocDate").removeClass('error');
            return false;
        }
        var ArrearsId_Encrypted = $("#hdnArrearsId_Encrypted").val();
        var ArrearsCmpId = $("#ddlCmpId").val();
        var ArrearsBranchId = $("#ddlBranchId").val();
        var ArrearsEmployeeId = $("#ddlEmployeeId").val();
        var Type = $("#ddlType").val();
        var ArrearsCalculateMonthYear = $("#dateCalMonthYear").val();
        var ArrearsPaidMonthYear = $("#datePaidMonthYear").val();
        var PayableDays = $("#txtPayableDays").val();
        var PayableHrs = $("#txtPayableHrs").val();
        var ArrearsPayableDays = $("#txtArrearsPayableDays").val();
        var ArrearsPaidHrs = $("#txtArrearsPaidHrs").val();
        if(Type=="Days")
        {
            var ArrearsPayableDays =Number($("#txtArrearsPayableDays").val());
            var ArrearsPaidHrs = Number($("#txtArrearsPaidHrs").val());
            var ArrearsAmount = Number($("#txtArrearsAmount").val());
            var Total =(ArrearsPayableDays+ArrearsPaidHrs)
            //if ((Number(Total))<=0)
            //{
            //    $("#ErrorArrearsPayableDays").html("Arrears Days should be greater than zero");
            //    return false;
            //}
            //else{
            //    $("#ErrorArrearsPayableDays").html("");
            //}
        }
        else
        {
            var ArrearsPayableDays =Number($("#txtArrearsPayableDays").val());
            var ArrearsPaidHrs = Number($("#txtArrearsPaidHrs").val());
            var ArrearsAmount = Number($("#txtArrearsAmount").val());
            var Total =(ArrearsPayableDays+ArrearsPaidHrs)
        }
        var txMonthDays =Number( $("#txtMonthDays").val());
        if(txMonthDays<=0)
        {
            $("#ErrorMonthDays").html("Month Days should be greater than zero");
            return false;
        }
        else{
            $("#ErrorMonthDays").html("");
        }

        $.ajax({
            url: '@Url.Action("IsExists", "Module_Payroll_Arrears")',
            method: "Get",
            data: {
                ArrearsId_Encrypted: ArrearsId_Encrypted,
                ArrearsCmpId:ArrearsCmpId,
                ArrearsBranchId:ArrearsBranchId,
                ArrearsEmployeeId:ArrearsEmployeeId,
                Type:Type,
                ArrearsCalculateMonthYear:ArrearsCalculateMonthYear,
                ArrearsPaidMonthYear:ArrearsPaidMonthYear,PayableDays:PayableDays,PayableHrs:PayableHrs,ArrearsPayableDays:ArrearsPayableDays,ArrearsPaidHrs:ArrearsPaidHrs,
                ArrearsAmount:ArrearsAmount
            },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon === "error" && Message1) {
                    Swal.fire({
                        icon: Icon1,
                        text: Message1,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup();
                            popup.classList.remove('swal2-show');
                            setTimeout(() => popup.classList.add('animate__animated', 'animate__headShake'), 0);
                            setTimeout(() => popup.classList.remove('animate__animated', 'animate__headShake'), 500);
                            return false;
                        }
                    });
                }
                else {
                    $("#FormArrears").submit();
                }
            }
        });
    });

    var form = $("#FormArrears");
    form.validate();
    $('#btnGetDetails').click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#dateCalMonthYear").removeClass('error');
            $("#datePaidMonthYear").removeClass('error');
            return false;
        }
        var CmpId= $("#ddlCmpId").val();
        var  BranchId= $("#ddlBranchId").val();
        var EmployeeId= $("#ddlEmployeeId").val();
        var Type= $("#ddlType").val();
        var CalMonthYear= $("#dateCalMonthYear").val();
        var PaidMonthYear= $("#datePaidMonthYear").val();
        debugger;
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetArrearsDetails", "Module_Payroll_Arrears")',
            data: {CmpId:CmpId,BranchId:BranchId,EmployeeId:EmployeeId,Type:Type,CalMonthYear:CalMonthYear,PaidMonthYear:PaidMonthYear},
            success: function (response) {
                debugger;
                $("#txtPayableDays").val(response[0][0].Value);
                $("#txtPayableHrs").val(response[0][1].Value);

                $("#txtMonthDays").val(response[0][2].Value);
                $("#txtGrossPay").val(response[0][3].Value);
                $("#txtNetPays").val(response[0][4].Value);

            },
            error: function (err) {
                console.error('Error fetching data:', err);
            }
        });
    });

    $(document).on('input', '#txtArrearsAmount', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>