@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "COffApproved_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 10px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*/*table first column fixed*/
    /*.div1 th:nth-child(1) {
        position: sticky !important;
        left: 0;
    }

    .div1 th:nth-child(2) {
        position: sticky !important;
        left: 80px !important;
    }

    .fixed-side0 {
        position: sticky !important;
        left: 0;
        z-index: 1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 80px !important;
        z-index: 1;
    }*/

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    /*th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column *
    }*/

    /*#tblOTApprovalList td:nth-child(2) {
        display: none;
    }*/
    .fa-share-from-square {
        transform: rotate(180deg);
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                COff Approved List
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Leave_Menu", "ESS_Leave_Menu", new {id = 4, ScreenId=145, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">COff Approved List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            @* Plant HR either approves or rejects the OT request. If approved, the employee is notified, and the overtime hours are logged for payroll processing. If rejected, the employee receives an explanation for the decision.*@
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">
                            <div class="row justify-content-center">
                                <form role="form" action='@Url.Action("COffApproved_List", "ESS_TimeOffice_COffApproval", new { area = "ESS" })' id="SaveCOffApproved" method="post">
                                    @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-3">
                                                        Company Name
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-3">
                                                        Business Unit
                                                    </label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-2">
                                                    From Date
                                                </label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", name = "FromDate", type = "date", id = "FromDate" })
                                                    <span id="ErrorFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-2">
                                                    To Date
                                                </label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", name = "ToDate", type = "date", id = "ToDate" })
                                                    <span id="ErrorFromDate" class="Error"></span>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" onclick="OTApproved()" class="btn btn-sm btn-success">Show</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="mt-15px">
                        <div class="row">
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table" id="tblOTApprovalList" style="width: 100%;">
                                        <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr class="trheading">
                                                <th class="fixed-side0" style="border-color:black !important;background-color:#eee; z-index:3">
                                                    Action
                                                    @*ALL <input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" />*@
                                                </th>
                                                @*<th class="fixed-sideHidden" hidden style="border-color:black !important;z-index:3">EmployeeId</th>*@
                                                <th class="fixed-side1" style="border-color:black !important;z-index:3">Employee Name</th>
                                                @*<th class="fixed-side2" style="border-color:black !important;">Employee No. </th>*@

                                                @*<th class="text-nowrap" style="border-color:black !important;">Joining Date</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Gender</th>*@
                                                <th class="text-nowrap" style="border-color:black !important;">Contractor Name</th>
                                                <th class="text-nowrap" style="border-color:black !important;">Business Unit</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Line Name</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">In Time </th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Out Time </th>
                                                <th class="text-nowrap" style="border-color:black !important;">Attendance Date</th>
                                                <th class="text-nowrap" style="border-color:black !important;">No Of Coff </th>
                                                <th class="text-nowrap" style="border-color:black !important;">Approved Coff</th>
                                                <th class="text-nowrap" style="border-color:black !important;">Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyCOffApproval">
                                            @foreach (var d in ViewBag.COffApprovedList)
                                            {
                                                <tr>
                                                    <td class="fixed-side0 text-center" style="background-color:white !important;background-color:#eee !important; border-color:black !important;">
                                                        @* <input type="checkbox" id="txtDesignationId" class="chk chkDesignation" />*@
                                                        <button type="button" onclick="btnCOffRejected('@d.InOutID','@d.EmployeeId')" id="btnDelete"
                                                                class="btn btn-danger ListBtn btnpress">
                                                            Reject
                                                            @*<i class="fa-solid fa-trash-alt"></i>*@
                                                        </button>
                                                    </td>
                                                    @*<td class="fixed-sideHidden" style="background-color:white !important; border-color:black !important; min-width:270px;" hidden>@d.EmployeeId</td>*@
                                                    <td class="fixed-side1" style="background-color:white !important; border-color:black !important; min-width:270px;">@d.EmployeeName - @d.Employeeno</td>
                                                    @*<td class="fixed-side2" style="background-color:white !important; border-color:black !important;">@d.Employeeno</td>*@
                                                    @*<td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.JoiningDate</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Gender</td>*@
                                                    <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.ContractorName</td>
                                                    <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.BranchName</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.LineName</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.InOutIntime</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.InOutOutTime</td>
                                                    <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.AttendanceDate</td>
                                                    <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.NoOfCoffDays</td>
                                                    <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.CoffApproved</td>
                                                    @*<td class="text-nowrap">
                                                            <input type="text" placeholder="HH:MM" class="form-control" id="txtActualOTHrs" name="ActualOTHrs" onchange="validateTimeInput(this)" value="@d.ActualOTHrs" style="width:100px; height:23px; text-align: center; background-color:white !important; border-color:black !important;">
                                                        </td>*@
                                                    <td class="text-nowrap">
                                                        <input type="text" class="form-control" id="txtRemark" name="Remark" value="@d.Remark" style="width:100%; height:26px;  background-color:white !important; border-color:black !important; ">
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <span id="tblRowCount"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-20px">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <a href="@Url.Action("ESS_TimeOffice_COffApproval", "ESS_TimeOffice_COffApproval", new { id=4 , ScreenId=380, area = "ESS" })">
                                                    <button type="button" class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i>   Back
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var CheckEmptyDate = document.getElementById('FromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('FromDate').value = SetTodaysDate;
            document.getElementById('ToDate').value = SetTodaysDate;
        }
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlEmployeeID").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                });

            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessApprovedUnit", "ESS_TimeOffice_OTApproval")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if(data==false)
                    {
                        $("#ddlBranchId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>--Select-- </option>");
                        $("#ddlBranchId").append("<option value=''>--Select-- </option>");
                    }
                    else{
                        var BranchName=data.BranchList;
                        if (BranchName != null) {
                            $.each(BranchName, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var EmployeeName=data.GetEmployeeName;
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlEmployeeID").find("option").remove();
            var BranchId = $("#ddlBranchId").val();
            var CmpID = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeList", "ESS_TimeOffice_OTApproval")',
                data: { BranchId: BranchId,CmpID:CmpID },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>--Select-- </option>");
                    }
                    else {
                        if (data != null) {
                            $("#ddlEmployeeID").append("<option value=''>All</option>");
                            $.each(data, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $('#tblOTApprovalList').DataTable({
            //dom: 'Bfrtip',
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
            //select:true,

        });
    });//Ready
</script>

<script>
    function OTApproved() {
        $(".Userloaderbg").css("display", "flex");
        $("#SaveCOffApproved").submit();
    }

    function btnCOffRejected(InOutID,EmployeeId) {

        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();

        debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, Reject it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var row = $("#tbodyCOffApproval");
                var Remark = row.find('input[id="txtRemark"]').val();
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("TimeOffice_COffRejected", "ESS_TimeOffice_COffApproval")',
                    data: { InOutID: InOutID, Remark: Remark,EmployeeId:EmployeeId },
                    success: function (data) {
                        debugger;
                        if(data!=undefined)
                        {
                            var Message= data.Message;
                            var Icon= data.Icon;
                            if (Message != null) {
                                if (Icon != null) {
                                    Swal.fire({
                                        icon: Icon,
                                        text: Message,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            // return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("COffApproved_List", "ESS_TimeOffice_COffApproval")?FromDate='+ FromDate + '&ToDate=' +ToDate ;
                                        }
                                    });

                                }
                            }
                        }

                    }
                })
            }
        })
    }
</script>