@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_MonthlyTax
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>


<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 40px; /* Set the width for the first column */
    }

    th:nth-child(2), td:nth-child(2) {
        width: 40px; /* Set the width for the first column */
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    .tblAddData td:nth-child(3) {
        display: none;
    }
    .tblAddData td:nth-child(4) {
        display: none;
    }
</style>



<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Montly Tax Calculation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_TaxCalculation_Menu", "ESS_Tax_TaxCalculation_Menu", new {id = 9, ScreenId= 546, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Montly Tax Calculation - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of montly tax calculation created.
                    </p>
                </div>
                <div class="panel-body">
                    <form role="form" action="@Url.Action("GetList", "ESS_Tax_MontlyTaxCalculation")" id="SaveMonthlyTaxDetails">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="@Url.Action("ESS_Tax_MontlyTaxCalculation", "ESS_Tax_MontlyTaxCalculation", new { area = "ESS" })">
                                    <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                        <i class="fa-solid fa-plus"></i> &nbsp; Add
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Month Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.MonthlyTaxMonthYear, new { id = "MonthlyTaxMonthYear", type = "month", @class = "form-select", autocomplete = "off", name = "MonthlyTaxMonthYear" })


                                        @*@Html.DropDownListFor(model => model.TaxFyearId, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "TaxFyearId", @class = "form-select", autocomplete = "off", name = "TaxFyearId" })*@
                                        <span id="ErrorFyearId" class="Error"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" id="btnshow"  class="btn btn-success btn-sm  mb-10px">
                                            <i class="fa-solid fa-eye"></i> &nbsp; Show
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <table class="table table-bordered align-middle TablePage" id="fixed-header" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">Show </th>
                                        <th class="text-nowrap">Export </th>
                                        <th class="text-nowrap" style="width:20px;">Month Year</th>
                                        <th class="text-nowrap">Company Name</th>
                                        <th class="text-nowrap">Employee Count </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.MonthlyTaxCalculation)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <a id="btnshow" onclick="TaxDetails('@d.TaxCal_MonthYear','@d.TaxCal_FyearID','@d.TaxCal_CmpID' )" style="cursor:pointer;">
                                                    <i class="fa-solid fa-solid fa-eye fa-lg text-danger"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a id="btnshow" onclick="downloadExcelFile('@d.TaxCal_MonthYear' ,'@d.TaxCal_FyearID','@d.TaxCal_CmpID')" style="cursor:pointer;">
                                                    <i class="fa-solid fa-download fa-lg text-primary"></i>
                                                </a>
                                            </td>                                            
                                            <td>@d.TaxCal_MonthYear</td>
                                            <td>@d.CompanyName</td>
                                            <td>@d.EmployeeCount</td>
                                            
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- #Start modal-dialog -->
<div class="modal fade" id="modalTaxDetails" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Tax Details - List</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModelHistory">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scroll div1">
                                <div class="row">
                                    <table class="table table-bordered mb-0 text-dark align-middle TabledataBulkClass tblAddData" style="width: 100%;overflow:auto;" id="tblTaxdetailsHead">
                                        <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr>
                                                <th class="text-nowrap text-center">All <input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" /></th>
                                                <th hidden class="text-nowrap">TaxCal_Id </th>
                                                <th hidden class="text-nowrap">TaxCal_EmployeeID</th>
                                                <th hidden class="text-nowrap">TaxCal_MonthYear</th>
                                                <th class="text-nowrap">Short Name </th>
                                                <th class="text-nowrap">Branch Name</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Employee No</th>
                                                <th class="text-nowrap">Net Tax Payable</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody id="tblBodyTaxDetails"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnEmployeeSubmit" onclick="funSave()"
                        class="btn btn-danger btn-sm">
                    <i class="fa-solid fa-trash-alt"></i> Delete
                </button>
                <button type="button" class="btn btn-primary btnpress btn-sm CloseModelHistory" id="CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        @*var GetMonth = @Html.Raw(Json.Encode(TempData["Fyear"]));
        if(GetMonth =="" || GetMonth == null)
        {
            var today = new Date();
            // Format the date as YYYY-MM (year-month)
            var yyyy = today.getFullYear();
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var defaultMonth = yyyy + '-' + mm;
            // Set the value of the input element to the default month
            var CheckEmptyDate = document.getElementById('TaxFyearId').value;
            if (CheckEmptyDate == "") {
                document.getElementById('TaxFyearId').value = defaultMonth;
            }
        }
        else
        {
            $("#TaxFyearId").val(GetMonth);
        }*@

        $('#modalTaxDetails').on('shown.bs.modal', function () {
            var table = $('.TabledataBulkClass').DataTable();

            if ($.fn.DataTable.isDataTable('.TabledataBulkClass')) {
                table.destroy();
            }

            $('.TabledataBulkClass').DataTable({
                scrollY: 300,
                scrollCollapse: true,
                paging: false,
                scrollX: true,
                searching: true,
                autoWidth: false,
            });
        });
    });//ready function


    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

    function showList() {
        $("#SaveMonthlyTaxDetails").submit();
    }
</script>










<script>
    function TaxDetails(TaxCal_MonthYear, TaxCal_FyearID,TaxCal_CmpID) {
        debugger
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetTaxDetails", "ESS_Tax_MontlyTaxCalculation")',
            data: { TaxCal_MonthYear, TaxCal_FyearID ,TaxCal_CmpID},
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                const data = JSON.parse(response);
                const modal = $('#modalTaxDetails');
                const tableBody = $('#tblBodyTaxDetails');

                // Clear table body (except headers)
                if ($.fn.DataTable.isDataTable('#tblTaxdetailsHead')) {
                    $('#tblTaxdetailsHead').DataTable().clear().destroy();
                }

                if (data && data.length > 0) {
                    modal.modal('show');

                    data.forEach(item => {
                        const row = $('<tr>');

                        const getCellValue = (key) => {
                            const cell = item.find(e => e.Key === key);
                            return cell ? cell.Value : '';
                        };

                        row.append(`<td><center><input type="checkbox" class="form-check-input"/></center></td>`);
                        row.append(`<td>${getCellValue("TaxCal_Id")}</td>`);
                        row.append(`<td>${getCellValue("TaxCal_EmployeeID")}</td>`);
                        row.append(`<td>${getCellValue("TaxCal_MonthYear")}</td>`);
                        row.append(`<td>${getCellValue("ShortName")}</td>`);
                        row.append(`<td>${getCellValue("BranchName")}</td>`);
                        row.append(`<td>${getCellValue("EmployeeName")}</td>`);
                        row.append(`<td>${getCellValue("EmployeeNo")}</td>`);
                        row.append(`<td>${getCellValue("TaxCal_Net_Tax_Payable")}</td>`);

                        tableBody.append(row);
                    });
                } else {
                    modal.modal('hide');
                }
            }
        });
    }



    function funSave() {
        debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger
                $("#SelectAll").prop("checked", false);
                var ObjDelete = [];
                var MonthlyTaxMonthYear=$("#MonthlyTaxMonthYear").val();
                // Iterate through checked checkboxes in the table body only
                $('#tblBodyTaxDetails :checkbox:checked').each(function () {

                    var row = $(this).closest('tr'); // Get the closest row
                    var data = {
                        TaxCal_Id: row.find('td').eq(1).text(), 
                        TaxCal_EmployeeID:row.find('td').eq(2).text(), 
                        TaxCal_MonthYear:row.find('td').eq(3).text(), 
                        // Hidden column
                    };

                    // Push the data object to the array
                    ObjDelete.push(data);
                });
                $("#modalTaxDetails").modal('hide');
                $(".Userloaderbg").css("display", "flex");
                $.ajax({

                    url: '@Url.Action("DeleteMonthlyTaxDetails", "ESS_Tax_MontlyTaxCalculation")',
                    type: "POST",
                    data: JSON.stringify({ ObjDelete: ObjDelete,MonthlyTaxMonthYear: MonthlyTaxMonthYear }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (response) {
                        debugger;
                        var data = JSON.parse(response);
                        var Message1 = data.Message;
                        var Icon1 = data.Icon;
                        var Month1 = data.Month;
                        if (data != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '@Url.Action("GetList", "ESS_Tax_MontlyTaxCalculation")';
                                    } else if (
                                        /* Read more about handling dismissals below */
                                        result.dismiss === Swal.DismissReason.cancel
                                    ) {

                                    }
                                })
                            }
                        }
                    }
                });

            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }



    function downloadExcelFile(TaxCal_MonthYear, TaxCal_FyearID,TaxCal_CmpID) {
        debugger
        $(".Userloaderbg").css("display", "flex");
        var MonthlyTaxMonthYear= $("#MonthlyTaxMonthYear").val();
        var MonthYear = encodeURIComponent(TaxCal_MonthYear);
        var FyearID = encodeURIComponent(TaxCal_FyearID);
        var CmpId=encodeURIComponent(TaxCal_CmpID);
        var url = `@Url.Action("DownloadExcelFile", "ESS_Tax_MontlyTaxCalculation")?MonthYear=${MonthYear}&FyearID=${FyearID}&CmpId=${CmpId}`;
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }

                var formattedDate = convertMonthYearFormat(TaxCal_MonthYear);
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'MonthlyTaxCalculation('+formattedDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>