
@{
    ViewBag.Title = "AllCandidateData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 65px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 65px;
    }*/
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Candidate Data
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Candidate Data - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>


                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is list of candidate upload.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ESS_Recruitment_RequestPool", "ESS_Recruitment_RequestPool", new {id = 1, ScreenId=126, area = "ESS" })">
                                <button type="button" class="btn btn-danger btn-sm  mb-10px">
                                    <i class="fa-solid fa-share fa-flip-horizontal"></i> &nbsp; Back
                                </button>
                            </a>

                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="data-table-combine"
                                           style="width: 100%;">
                                        <thead class="text-center">
                                            <tr class="trheading">
                                                <th hidden class="text-nowrap text-center">ResumeId_Encrypted</th>
                                                @*<th class="fixed-side1">Select Candidate</th>*@
                                                <th class="fixed-side">Update</th>
                                                <th class="fixed-side1">Delete</th>
                                                <th class="text-nowrap text-center">Candidate Name </th>
                                                <th class="text-nowrap text-center">Moblie No</th>
                                                <th class="text-nowrap text-center">Date Of Birth</th>
                                                <th class="text-nowrap text-center">Email Id</th>
                                                <th class="text-nowrap text-center">Highest Qualification </th>
                                                <th class="text-nowrap text-center">Last Company Name</th>
                                                <th class="text-nowrap text-center">Last Designation</th>
                                                <th class="text-nowrap text-center">Sutible For Designation</th>
                                                <th class="text-nowrap text-center">Total Experince</th>
                                                <th class="text-nowrap text-center">Total CTC </th>
                                                <th class="text-nowrap text-center">Skill</th>
                                                <th class="text-nowrap text-center">Remark</th>
                                                <th class="text-nowrap text-center">Download File</th>
                                                <th class="text-nowrap text-center">Candidate Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblAllCandidateData">
                                            @foreach (var d in ViewBag.CandidateData)
                                            {
                                                <tr>
                                                    <td hidden>@d.ResumeId_Encrypted</td>
                                                    <td hidden>@d.ResumeId_Encrypted</td>
                                                    @*@if (d.PreboardingId != 0)
                                                    {
                                                        <td class="text-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input text-muted"
                                                                   data-checked="email-checkbox"
                                                                   value="@d.ResumeId_Encrypted"
                                                                   id="tblCheckbox"
                                                                   disabled
                                                                   title="Cannot select this because preboarding is not completed">
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <input type="checkbox"
                                                                   class="form-check-input"
                                                                   data-checked="email-checkbox"
                                                                   value="@d.ResumeId_Encrypted"
                                                                   id="tblCheckbox">
                                                        </td>

                                                        
                                                    }*@


                                                    @*<input type="checkbox" value="@d.ResumeId_Encrypted"   />*@

                                                    <td class="text-center">
                                                        <a id="btnUpdate" onclick="UpdateFuncation('@d.ResumeId_Encrypted', @d.Resume_ResourceId)" style="cursor:pointer;">
                                                            <i class="fa-solid fa-pen-to-square fa-lg text-Dark"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a id="btnDelete" onclick="DeleteFunction('@d.ResumeId_Encrypted')" style="cursor:pointer;">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-nowrap">@d.CandidateName</td>
                                                    <td class="text-nowrap">@d.MobileNo</td>
                                                    <td class="text-nowrap">@d.DOB</td>
                                                    <td class="text-nowrap">@d.EmailId</td>
                                                    <td class="text-nowrap">@d.HighestQualification</td>
                                                    <td class="text-nowrap">@d.LastCompanyName</td>
                                                    <td class="text-nowrap">@d.LastDesignation</td>
                                                    <td class="text-nowrap">@d.SutableForDesignation</td>
                                                    <td class="text-nowrap">@d.TotalExperience</td>
                                                    <td class="text-nowrap">@d.CTC</td>

                                                    <td class="text-nowrap">@d.RelevantSkill</td>
                                                    <td class="text-nowrap">@d.JobDescription</td>
                                                    <td class="text-nowrap text-center">
                                                        @if (d.FilePath == "File Not Found")
                                                        {
                                                            <span>@d.FilePath</span>
                                                        }
                                                        else
                                                        {
                                                            <a type="button" class="btn btn-success ListBtn btnpress" href="~/ESS/ESS_Recruitment_CandidateData/DownloadFile?FilePath=@d.FilePath" download>
                                                                <i class="fa-solid fa-download"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                    <td class="text-nowrap">@d.ResumeStatus</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$("#btnSubmit").click(function () {
    //    debugger;
    ////    var table = document.getElementById("tblAllCandidateData");
    ////var rowCount = table.rows.length;
    ////var Record = [];
    ////var data = {};
    //var Record = new Array();
    //$(':checkbox:checked').each(function (i) {
    //    debugger;
    //    var data = {};
    //    //data.DocID = $(this).val();
    //    var currentRow = $(this).closest("tr");
    //    data.ResumeId_Encrypted = currentRow.prevObject[0].defaultValue;
    //    Record.push(data);
    //});
    ////for (i = 0; i <= rowCount - 1; i++) {


    ////    var CheckedBox = table.rows[i].cells[0].children[0].checked;
    ////    if (CheckedBox == true)
    ////    {
    ////        var data = {};
    ////        data.ResumeId_Encrypted = table.rows[i].cells[0].children[0].defaultValue;
    ////        Record.push(data);
    ////    }

    //    //}

    //$.ajax({
    //    type: "POST",
    //    url: "AssignResourceToAllCandidate",
    //    data: JSON.stringify(Record),
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "text",
    //    success: function (response) {
    //        debugger
    //        var dataStauts = JSON.parse(response);
    //        var Message1 = dataStauts.Message;
    //        var Icon1 = dataStauts.Icon;
    //        if (Icon1 == "success") {
    //            if (Message1 != null) {
    //                Swal.fire({
    //                    icon: Icon1,
    //                    text: Message1,
    //                    allowOutsideClick: () => {
    //                        const popup = Swal.getPopup()
    //                        popup.classList.remove('swal2-show')
    //                        setTimeout(() => {
    //                            popup.classList.add('animate__animated', 'animate__headShake')
    //                        })
    //                        setTimeout(() => {
    //                            popup.classList.remove('animate__animated', 'animate__headShake')
    //                        }, 500)
    //                        // return false
    //                    }

    //                }).then(function () {
    //                    location.reload();
    //                })

    //            }
    //        }
    //        else {
    //            var Message1 = dataStatus.Message;
    //            var Icon1 = dataStatus.Icon;
    //            if (Message1 != null) {
    //                Swal.fire({
    //                    icon: Icon1,
    //                    text: Message1,
    //                    allowOutsideClick: () => {
    //                        const popup = Swal.getPopup()
    //                        popup.classList.remove('swal2-show')
    //                        setTimeout(() => {
    //                            popup.classList.add('animate__animated', 'animate__headShake')
    //                        })
    //                        setTimeout(() => {
    //                            popup.classList.remove('animate__animated', 'animate__headShake')
    //                        }, 500)
    //                        // return false
    //                    }

    //                });

    //            }
    //        }
    //    }
    //})
    //});


    
    var Message = @Html.Raw(Json.Encode(TempData["Message"]));
    var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
    debugger;
    if (Message != null) {
        if (Icon != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    // return false
                }
            }).then(function() {
                window.location.reload();
            });
        }
    }

    $("#btnSubmit").click(function () {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                //    var table = document.getElementById("tblAllCandidateData");
                //var rowCount = table.rows.length;
                //var Record = [];
                //var data = {};
                var Record = new Array();
                $(':checkbox:checked').each(function (i) {
                    debugger;
                    var data = {};

                    var currentRow = $(this).closest("tr");
                    data.ResumeId_Encrypted = currentRow.prevObject[0].defaultValue;
                    Record.push(data);
                });

                $.ajax({
                    type: "POST",
                    url: "AssignResourceToAllCandidate",
                    data: JSON.stringify(Record),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (response) {
                        debugger
                        var dataStauts = JSON.parse(response);
                        var Message1 = dataStauts.Message;
                        var Icon1 = dataStauts.Icon;
                        if (Icon1 == "success") {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        // return false
                                    }

                                }).then(function () {
                                    location.reload();
                                })

                            }
                        }
                        else {
                            var Message1 = dataStatus.Message;
                            var Icon1 = dataStatus.Icon;
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        // return false
                                    }

                                });

                            }
                        }
                    }
                })

            } else if (
                /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                    ) {

            }
        })
    });




</script>



<script>

    function UpdateFuncation(ResumeId_Encrypted, Resume_ResourceId) {
    debugger;
    var url = '@Url.Action("ESS_Recruitment_CandidateData", "ESS_Recruitment_CandidateData")'
            + '?ResumeId_Encrypted=' + encodeURIComponent(ResumeId_Encrypted)
            + '&Resume_ResourceId=' + encodeURIComponent(Resume_ResourceId);

    window.location.href = url;
}


    function DeleteFunction(ResumeId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "ESS_Recruitment_CandidateData")?ResumeId_Encrypted=' + ResumeId_Encrypted;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }


</script>
