@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_ResourceRequest
@{
    ViewBag.Title = "GetInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var Item = ViewBag.GetEmployeeDetails;
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<!-- Include dompurify -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: #fff;
    }

    #tblInvoice {
        width: 100%;
        font-size: 11px;
        font-family: 'Arial', sans-serif;
        /*font-family: 'Montserrat', sans-serif;*/
    }

    .thcmphead {
        font-size: 14px;
        font-weight: bold;
    }

    table {
        border: none !important;
    }

        table th,
        table td {
            border: none !important;
        }
</style>

<style>
    /* Apply styles to the table container */
    .table-container {
        max-height: 500px; /* Set max height for vertical scrolling */
        overflow: auto; /* Enable both horizontal and vertical scrolling */
        border: 1px solid #ccc;
        padding: 0px;
    }

        /* Scrollbar customization for WebKit browsers (Chrome, Edge, Safari) */
        .table-container::-webkit-scrollbar {
            width: 10px; /* Thin vertical scrollbar */
            height: 10px; /* Thin horizontal scrollbar */
        }

        /* Scrollbar track */
        .table-container::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light background */
            border-radius: 10px; /* Round shape */
        }

        /* Scrollbar handle */
        .table-container::-webkit-scrollbar-thumb {
            background: #888; /* Darker scrollbar */
            border-radius: 10px; /* Rounded edges */
        }

            /* On hover */
            .table-container::-webkit-scrollbar-thumb:hover {
                background: #555; /* Darker on hover */
            }

    /* For Firefox */
    .table-container {
        scrollbar-width: thin; /* Small scrollbar */
        scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Assign Agency
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="#" id="backButton">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Assign Agency</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Prime_Location", new { area = "Setting" })' id="SaveLocation" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Agency Assign
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.AgencyAssignId, new SelectList(ViewBag.AgencyAssign, "Id", "Name"), "--Select--", new { id = "ddlAgencyAssignId", @class = "form-control select", name = "AgencyAssignId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Agency EmailId

                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.Remark, new { ViewBag.GetAgencyEmail, @class = "form-control", id = "txtGetAgencyEmail", autocomplete = "off", Name = "GetAgencyEmail", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="d-flex justify-content-end align-items-center mb-6">
                                                <a href="@Url.Action("ExportToExcel", "Module_Payroll_PayrollProcess")" class="btn btn-success btn-sm me-2" hidden>
                                                    Export to Excel
                                                </a>
                                                <button type="button" class="btn btn-success btn-sm me-2" onclick="generateAndSendPDF()">
                                                    Send Email
                                                </button>
                                                <button onclick="printInvoice('divPrint')" class="btn btn-primary btn-sm"><i class="fa-solid fa-print fa-xl"></i>  Print</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr />

                    <div class="modal-body " id="payslip" margin 20px; padding:10px;">
                        <form class="form-horizontal PayslipBorder" style="padding:10px; border:2px solid black; padding-bottom:30px;">

                            <div class="">
                                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                    <!-- Logo -->
                                    <div style="flex: 0 0 auto;">
                                        <img src="@Session["CompanyLogo"]" style="height:65px; width:65px; padding:0px;" id="CompanyLogo" />
                                    </div>

                                    <!-- Company Details -->
                                    <div style="text-align: center; flex: 1;">
                                        <h4>
                                            <span id="spnCompanyName"> We're Hiring! </span>
                                            @*<span id="spnBranchName">@ViewBag.ResourceApprovalList.BranchName</span>*@
                                        </h4>
                                        <h5 style="font-weight: 700;"> Exciting Opportunity for @ViewBag.ResourceApprovalList.DesignationName at @ViewBag.ResourceApprovalList.CompanyName  <span id="spnMonth"></span></h5>
                                        <p style="font-size:10px;" id="spnAddress"></p>
                                    </div>
                                </div>

                                <div class="table-responsive row" style="border-bottom: 2px solid black; border-top: 2px solid black">
                                    <div class="row" style="display: flex; flex-wrap: wrap;">
                                        <div class="row" style="padding:17px">
                                            <style>
                                                #tblEmpInfo {
                                                    border: none;
                                                    border-collapse: collapse; /* Ensure borders do not double */
                                                    width: 100%; /* Full width table */
                                                }
                                            </style>
                                            <table class="dynamic-table1" id="tblEmpInfo" cellspacing="0" cellpadding="2">
                                                <tbody>
                                                    <!-- First Column -->
                                                    <tr>
                                                        <td style="width: 17%;">Company Name</td>
                                                        <td style="width: 50%;">: <span id="EmpName">@ViewBag.ResourceApprovalList.CompanyName </span></td>
                                                        <td style="width: 15%;">Business Unit</td>
                                                        <td style="width: 18%;">: <span id="EmpNo">@ViewBag.ResourceApprovalList.BranchName </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Department Name</td>
                                                        <td>: <span id="EmpDepartment">@ViewBag.ResourceApprovalList.DepartmentName </span></td>
                                                        <td>Designatiom Name</td>
                                                        <td>: <span id="EmpAadhaarNo">@ViewBag.ResourceApprovalList.DesignationName</span></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Position Type</td>
                                                        <td>: <span id="EmpDesignation">@ViewBag.ResourceApprovalList.PositionType</span></td>
                                                        <td>Total Position</td>
                                                        <td>: <span id="EmpPANNo">@ViewBag.ResourceApprovalList.TotalPositions</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Closing Date</td>
                                                        <td>: <span id="EmpGrade">@ViewBag.ResourceApprovalList.Assigned_ClosingDate</span></td>
                                                        <td>Replacement For</td>
                                                        <td>: <span id="EmpESICNo">@ViewBag.ResourceApprovalList.EmployeeifReplacement</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Legal Bond</td>
                                                        <td>: <span id="EmpDOJ">@ViewBag.ResourceApprovalList.Assigned_LegalBond</span></td>
                                                        <td>Work Type</td>
                                                        <td>: <span id="EmpLINNo">@ViewBag.ResourceApprovalList.WorkType</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Priority</td>
                                                        <td style="padding: 5px; color: #555;">: <span id="EmpPFNo">@ViewBag.ResourceApprovalList.Priority</span></td>
                                                        <td>Legal Bond Duration</td>
                                                        <td>: <span id="EmpUANNo">@ViewBag.ResourceApprovalList.Assigned_LegalBondMonth</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Min. Experience</td>
                                                        <td style="padding: 5px; color: #555;">: <span id="EmpPFNo">@ViewBag.ResourceApprovalList.MinExperience Year</span></td>
                                                        <td>Max. Experience</td>
                                                        <td>: <span id="EmpUANNo">@ViewBag.ResourceApprovalList.MaxExperience Year</span></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Preferred Technical Skills</td>
                                                        <td style="padding: 5px; color: #555;">: <span id="EmpPFNo">@ViewBag.ResourceApprovalList.PreferredTechnicalSkills</span></td>
                                                        <td>Must have Technical Skills</td>
                                                        <td>: <span id="EmpUANNo">@ViewBag.ResourceApprovalList.MusthaveTechnicalSkills</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Qualification</td>
                                                        <td style="padding: 5px; color: #555;">: <span id="EmpPFNo">@ViewBag.ResourceApprovalList.Qualification</span></td>
                                                        <td>Position Budgeted</td>
                                                        <td>: <span id="EmpUANNo">@ViewBag.ResourceApprovalList.Assigned_PositionBudget</span></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Gender</td>
                                                        <td style="padding: 5px; color: #555;">: <span id="EmpPFNo">@ViewBag.ResourceApprovalList.PreferredGender</span></td>
                                                        <td>Shift Timing</td>
                                                        <td>: <span id="EmpUANNo">@ViewBag.ResourceApprovalList.PreferredShiftTiming</span></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row no-margin-padding" style="padding-left:5px;">
                                <style>
                                    .dynamic-table {
                                        table-layout: auto; /* Allow columns to adjust their width based on content */
                                        width: auto; /* Table will take up 100% of its container's width */
                                        border-collapse: collapse; /* Remove gaps between table cells */
                                    }

                                        .dynamic-table td {
                                            text-align: left; /* Align text to the left */
                                            padding: 5px 8px; /* Add some padding for better readability */
                                            word-wrap: break-word; /* Break long words to fit within the cell */
                                            overflow-wrap: anywhere; /* Handle overflowing text gracefully */
                                            white-space: nowrap; /* Prevent text wrapping */
                                        }

                                        .dynamic-table th {
                                            text-align: left; /* Align header text to the left */
                                            padding: 8px; /* Add some padding for table headers */
                                        }

                                        .dynamic-table td.attend-type {
                                            font-weight: bold; /* Bold text for specific cells */
                                        }

                                        /* Optional: Add borders for better visibility */
                                        .dynamic-table td, .dynamic-table th {
                                            border: none;
                                        }
                                </style>

                                <table id="tblAttendanceInfo" class="dynamic-table" cellspacing="0" cellpadding="2"></table>
                            </div>

                            <div class="row" style="padding-top: 2px; border-top: 1px solid black; border-bottom: 2px solid black;">
                                <div class="form-group row no-margin-padding" style="padding-bottom: 7px; padding-top: 7px; ">
                                    <div class="col-4">
                                        <label class="no-margin-padding"><b>Job Description :</b> </label>
                                    </div>
                                </div>
                            </div>


                            <style>
                                #tblCombined thead th {
                                    border: 1px solid black; /* Apply border to header cells */
                                    padding: 5px; /* Add padding for better fit */
                                    text-align: center; /* Center-align text for a clean look */
                                    background-color: #f2f2f2; /* Optional: Add a light background color */
                                }
                                /* Add vertical borders to table columns */
                                #tblCombined th,
                                #tblCombined td {
                                    border-left: 1px solid black; /* Add a left border for vertical lines */
                                    border-right: 1px solid black; /* Add a right border for vertical lines */
                                    padding: 5px; /* Add padding for better spacing */
                                    text-align: right; /* Center-align the content */
                                }

                                /* Ensure the table headers have proper styling with borders */
                                #tblCombined thead th {
                                    background-color: #f2f2f2; /* Optional: Light background for the header */
                                    border: 1px solid black; /* Full border for header cells */
                                }

                                /* Add an outer border for the table */
                                #tblCombined {
                                    border: 1px solid black; /* Outer border for the entire table */
                                    border-collapse: collapse; /* Ensure borders do not double */
                                    width: 100%; /* Full width table */
                                }

                                    /* Remove horizontal row borders, but keep vertical column borders */
                                    #tblCombined tbody td {
                                        border-top: none; /* No top border */
                                        border-bottom: none; /* No bottom border */
                                        padding: 2px 5px;
                                    }



                                    #tblCombined tfoot td {
                                        border: 1px solid black; /* Full borders for footer cells */
                                        padding: 8px; /* Add padding for spacing */
                                        text-align: center; /* Center-align footer content */
                                    }

                                    #tblCombined tfoot .hideBorder {
                                        border: none !important;
                                    }
                            </style>
                            <div style="padding-top:10px">
                                <table id="tblCombined" border="1" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <div id="txtJobDescription" class="p-2 border"></div>
                                            </td>
                                        </tr>
                                        <!-- Rows will be appended dynamically here -->
                                    </tbody>

                                </table>
                            </div>

                            <style>
                                /* Styling the table */
                                /* Styling the tables */
                                #tblEarning, #tblDeduction {
                                    width: 100%;
                                    border-collapse: collapse; /* Ensures borders are combined */
                                }

                                    /* Styling table cells and table headers for both tables */
                                    #tblEarning th, #tblEarning td, #tblDeduction th, #tblDeduction td {
                                        border: 1px solid black; /* Adds a border to cells */
                                    }
                            </style>
                        </form>
                        <div class="text-center" style="margin-top:5px;">

                            <div class="mb-4">This is a computer generated report and does not required signature </div>
                        </div>


                    </div>
                    <!-- #End modal-dialog -->
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function generateAndSendPDF() {
        debugger;


        //$(".Userloaderbg").css("display", "flex");
        const jsPDF = window.jspdf.jsPDF;
        // Initialize jsPDF with A4 size
        const pdf = new jsPDF({
            orientation: 'portrait',
            unit: 'pt', // Points
            format: 'a4'
        });

        var printStyles = `
        <style>
            body {
                font-family: 'helvetica', Tahoma, Geneva, Verdana, sans-serif !important;
                font-size: 13px !important;
            }
            #PayslipMDL .modal-body,
            #PayslipMDL form,
            #PayslipMDL table {
                font-family: 'helvetica', Tahoma, Geneva, Verdana, sans-serif !important;
                font-size: 13px !important;
            }
        </style>
        `;
        const payslipContent = document.getElementById('payslip').innerHTML;
        const fullContent = printStyles + payslipContent;

        pdf.html(fullContent, {
            callback: function (doc) {
                //doc.save('Payslip.pdf');
            },
            x: 20,
            y: 20,
            width: 555, // Adjust width to fit A4 size (A4 width in pt: 595.28pt, minus margins)
            windowWidth: 800 // Adjust based on your content width
        });

        // Get the content of the div and prepend the styles
        // Send content to server
        Swal.fire({
            title: 'Are you sure?',
            text: "Are yor sure for send mail!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, send it!',
            cancelButtonText: 'No, cancel!',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var AgencyEmail=$("#txtGetAgencyEmail").val();
                var AgencyId = $("#ddlAgencyAssignId").val();  // "agency@example.com"
                var textAgencyEmail = $("#ddlAgencyAssignId option:selected").text();  // "Agency Name"
                $(".Userloaderbg").css("display", "flex");
                $.ajax({
                    url: '@Url.Action("SendMail", "ESS_Recruitment_RequestPool")',
                    //url: '/PDF/GenerateAndSendEmail',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ htmlContent: fullContent,AgencyEmail:AgencyEmail,textAgencyEmail:textAgencyEmail,AgencyId:AgencyId }),
                    success: function (response) {

                        if (response.success) {
                            Swal.fire({
                                icon: "success",
                                text: "Email sent successfully!",
                                allowOutsideClick: false // Disables click outside to close the alert
                            }).then(() => {
                                $(".Userloaderbg").css("display", "none");
                               window.location.reload();
                                //return false;
                            });

                        } else {
                            Swal.fire({
                                icon: "error",
                                text: `Failed to send email: ${response.error}`,
                                allowOutsideClick: false
                            }).then(() => {
                                return false;
                            });
                        }
                    },
                    error: function () {
                        $(".Userloaderbg").css("display", "none");
                        alert("An error occurred while sending the email.");
                    }
                });
            }
        });
    }


</script>

<script>
    $(document).ready(function () {
        // Fetch the message and icon from TempData
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false,
                confirmButtonText: 'OK'
            }).then(() => location.reload());
        }
        debugger;

        $('#ddlAgencyAssignId').select2();
        $('#txtJobDescription').html('');
        @*const JD = @Html.Raw(Json.Encode(ViewBag.ResourceApprovalList));
        var JobDesc=JD[48].Value;

        $('#txtJobDescription').html(JobDesc);*@
        //$('#txtJobDescription').summernote('pasteHTML', WorkOnTask);
        const JD = @Html.Raw(Json.Encode(ViewBag.ResourceApprovalList));

        var jobObj = JD.find(x => x.Key == "Remark");

        if (jobObj) {
            $('#txtJobDescription').html(jobObj.Value);
        }

        $("#ddlAgencyAssignId").on("change", function () {
            debugger;
            //$("#ddlBranchId").find("option").remove();
            var AgencyAssignId = $("#ddlAgencyAssignId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetAgencyEmail", "ESS_Recruitment_RequestPool")',
                data: { AgencyAssignId: AgencyAssignId },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $("#txtGetAgencyEmail").val(data.mail); // Set the remark in the textarea
                    } else {
                        alert(data.message); // Show error message if any
                    }
                }
            })
        });
    });
</script>
<script>
    $('#tblInvoice tfoot .sumTotal').each(function (index) {
        let total = 0;
        $('#tblInvoice tbody tr').each(function () {
            let value = parseFloat($(this).find('td.sumColumn').eq(index).text()) || 0;
            total += value;
        });
        $(this).text(total.toFixed(2));
    });
</script>

<script>
    function printInvoice() {
        debugger;
        event.preventDefault();
        const divPrint = document.getElementById('divPrint').cloneNode(true); // Clone content
        const table = divPrint.querySelector('table#tblInvoice');


        // Create an invisible iframe
        const iframe = document.createElement('iframe');
        iframe.style.position = 'absolute';
        iframe.style.width = '0px';
        iframe.style.height = '0px';
        iframe.style.border = 'none';
        document.body.appendChild(iframe);

        const iframeDoc = iframe.contentWindow.document;
        iframeDoc.open();
        iframeDoc.write(`
        <html>
            <head>
                <title>Print</title>
                <style>
                    @@page { size: A4; margin: 8mm; }
                    body { font-family: Arial, sans-serif; font-size: 12px; margin: 0; padding: 0; }
                    table, th, td { border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: center; }
                    #tblInvoice { font-family: Montserrat, sans-serif; font-size: 12px; }
                    .thcmphead { font-size: 20px; font-weight: bold; }
                </style>
            </head>
            <body>
                ${divPrint.innerHTML}
            </body>
        </html>
    `);
        iframeDoc.close();

        // Print using iframe
        iframe.contentWindow.focus();
        iframe.contentWindow.print();

        // Remove iframe after printing to prevent memory leaks
        iframe.contentWindow.onafterprint = () => document.body.removeChild(iframe);

        // Delay removal of iframe to avoid page reload
        iframe.contentWindow.onafterprint = () => {
            setTimeout(() => {
                document.body.removeChild(iframe);
            }, 500);
        };
    }


</script>

<script>
    document.getElementById('backButton').addEventListener('click', function (event) {
        event.preventDefault();
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.location.href = this.href;
        }
    });
</script>

<script>
    function printInvoice123() {
        // Clone the div content to avoid modifying the original
        var divPrintClone = document.getElementById('divPrint').cloneNode(true);

        // Select the specific table (tbl) within the cloned content
        var table = divPrintClone.querySelector('table#tblInvoice');
        if (!table) {
            console.error('Table with ID "tbl" not found in divPrint');
            return;
        }

        // Iterate over all rows in the table
        //var rows = table.querySelectorAll('tr');
        //rows.forEach(function (row) {
        //    // Hide the last three cells (Contractor Name, Created Date, Origin)
        //    var cells = row.querySelectorAll('td, th');
        //    if (cells.length >= 3) {
        //        cells[cells.length - 1].style.display = 'none'; // Origin
        //        cells[cells.length - 2].style.display = 'none'; // Created Date
        //        cells[cells.length - 3].style.display = 'none'; // Contractor Name
        //    }
        //});

        // Prepare the print window
        var printWindow = window.open('', '', 'height=600,width=800');
        printWindow.document.write('<html><head><title>Print</title>');
        printWindow.document.write('<style>');
        // Set up A4 page size and portrait layout

        // Save the current body content
        const originalContent = document.body.innerHTML;

        // Set the body content to the cloned div content
        document.body.innerHTML = `
        <!DOCTYPE html>
        <html>
            <head>
                <title>Print</title>
                <style>
                    @@page {
                        size: A4 landscape;
                        margin: 10mm;
                    }
                    body {
                        font-family: Montserrat, sans-serif;
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                    }
                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                        padding: 5px;
                        text-align: center;
                    }
                    #tblInvoice {
                        width: 100%;
                    }
                    .thcmphead {
                        font-size: 14px;
                        font-weight: bold;
                    }
                </style>
            </head>
            <body>
                ${divPrint.innerHTML}
            </body>
        </html>
    `;

        // Trigger print
        window.print();

        // Restore the original body content
        document.body.innerHTML = originalContent;
    }

</script>

<script>
    function calculateColumnTotals() {
        // Get the table and its rows
        var table = document.getElementById("tblInvoice");
        var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
        var footerCells = table.getElementsByTagName("tfoot")[0].getElementsByClassName("sumTotal");

        // Initialize an array to store column totals
        var totals = new Array(footerCells.length).fill(0);

        // Loop through each row
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");

            // Loop through each cell (skip first two cells for SR.No and Employee details)
            for (var j = 2; j < cells.length; j++) {
                var cellValue = cells[j].innerText.trim().replace(/,/g, '');
                var value = parseFloat(cellValue) || 0;
                totals[j - 2] += value;
            }
        }

        // Insert the totals into the footer cells
        for (var k = 0; k < footerCells.length; k++) {
            footerCells[k].innerText = totals[k].toFixed(2);
        }
    }

    // Call the function on page load
    window.onload = calculateColumnTotals;
</script>

