@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_ResourceRequest
@{
    ViewBag.Title = "ViewForRequestPool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    p {
        font-size: 15px;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Resource Pool
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible rounded-0 mb-0 fade show">
        A detailed description of the position requested is provided in this form.Individual resumes can be uploaded manually or in bulk via an Excel sheet, if the user prefers.
    </div>

    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            @Html.HiddenFor(model => model.ResourceId_Encrypted, new { id = "txtResourceId_Encrypted" })
            @Html.HiddenFor(model => model.ResourceId, new { id = "txtResourceId" })
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary btn-sm" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <button type="button" class="btn btn-success btn-sm" id="btnCandidateManualUpload" onclick="CandidateManualUpload()">Manual Upload</button>
                <button type="button" class="btn btn-success btn-sm" id="btnCandidateBulkUpload" onclick="CandidateBulkUpload()">Bulk Upload</button>
                @*<a href="@Url.Action("BulkUploadCandidateList", "ESS_Recruitment_RequestPool", new { area = "ESS" })">
                        <button type="button" id="btnBulkUpload"
                                class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-floppy-disk"></i> Bulk Upload
                        </button>
                    </a>*@
                <button onclick="ViewCandidateData()" type="button" class="btn btn-danger btn-sm" id="btnmodal-dialog1" value="">View Candidate List</button>
            </span>
            Recruitment for @ViewBag.ResourceApprovalList.DesignationName
        </div>

        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header">

                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@ViewBag.ResourceApprovalList.EmployeeName</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b>&nbsp;@ViewBag.ResourceApprovalList.EmpDepartmentName <br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b>   @ViewBag.ResourceApprovalList.EmpDesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b> +91-@ViewBag.ResourceApprovalList.companymobileno  <b></b><br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b>  @ViewBag.ResourceApprovalList.CompanyMailID
                            </address>
                        </div>

                        <div class="invoice-to">
                            <b><small class="smallFrom">For,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;  <b> Department&nbsp;:</b> &nbsp;@ViewBag.ResourceApprovalList.DepartmentName <br />
                                <i class="fa-solid fa-desktop"> </i>&nbsp; <b>Job Title&nbsp;:</b> &nbsp; @ViewBag.ResourceApprovalList.DesignationName <br />
                                <i class="fa-solid fa-briefcase"> </i>&nbsp;&nbsp; <b>No. of Positions&nbsp;:</b>&nbsp;@ViewBag.ResourceApprovalList.TotalPositions<br />
                            </address>
                        </div>

                        <div class="invoice-date">
                            <small> </small><br />
                            <div class="date text-dark mt-5px"></div><br />
                            <div class="date text-dark mt-5px"></div>
                            <div class="invoice-detail">
                                <i class="fa-solid fa-calendar-days"></i> <b>Opening Date&nbsp;: </b>&nbsp; @ViewBag.ResourceApprovalList.DocDate<br />
                                <i class="fa-solid fa-calendar-days"></i>  <b> Closing Date&nbsp;:</b> &nbsp; @ViewBag.ResourceApprovalList.ClosingDate
                            </div>
                        </div>
                    </div>

                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Company Name</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.CompanyName</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Department</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.DepartmentName</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Position Type</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.PositionType</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Closing Date</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.ClosingDate</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Legal Bond</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.LegalBond</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Priority</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Priority</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Minimum Experience</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MinExperience</td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Preferred Technical Skills</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.PreferredTechnicalSkills</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Qualification</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Qualification</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Position Budgeted</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Assigned_PositionBudget</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Minimum Budget</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MinBudget</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Minimum Age</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MinAge</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Gender</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.PreferredGender</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Business Unit</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.BranchName</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Designation Name</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.DesignationName</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Total Position</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.TotalPositions</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark"> Replacement For</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.EmployeeifReplacement</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Work Type</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.WorkType</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Legal Bond Duration</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Assigned_LegalBondMonth</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Max Exp.</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MaxExperience</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Must have Technical Skills</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MusthaveTechnicalSkills</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Residence</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Residence</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Currency</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Currency</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Maximum Budget</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.Assigned_PositionMaxBudget</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Maximum Age</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.MaxAge</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Marital Status</span><br />
                                            </th>
                                            <td>@ViewBag.ResourceApprovalList.PreferredMaritalStatus</td>
                                        </tr>
                                        
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END table-responsive -->
                        <hr />

                        @if (ViewBag.ApprovalRemarkList.Count != 0)
                        {
                            <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine"
                                   style="width: 100%;">
                                <thead>
                                    <tr class="trheading">
                                        <th class="text-nowrap">Approved By</th>
                                        <th class="text-nowrap">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.ApprovalRemarkList)
                                    {
                                        <tr>
                                            <td class="text-nowrap">@d.EmployeeName</td>
                                            <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <hr />
                        <!-- BEGIN invoice-price -->
                        <h6>&nbsp;<b>Job Description:</b></h6>
                        <div class="invoice-price ">
                            <div class="invoice-price-left ">
                                <div class="invoice-price-row col-md-12">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea autocomplete="Off" class="form-control summernote" cols="20" height="auto" id="summernote" name="JobDescription" rows="2" style="font-size:16px" Value="">@ViewBag.ResourceApprovalList.Remark</textarea>
                                            <span class="field-validation-valid help-block" data-valmsg-for="JobDescription" data-valmsg-replace="true" id="ErrorDescription" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END invoice-price -->
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btn-sm btnpress btnClear" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }

        var List = @Html.Raw(Json.Encode(ViewBag.ResourceApprovalList));
        debugger;
        var Encrypted=List[1].Value;
        var id=List[0].Value;
        $("#txtResourceId_Encrypted").val(Encrypted);
        $("#txtResourceId").val(id);

    });

    function CandidateManualUpload(){
        debugger;
        var ResourceId_Encrypted = $("#txtResourceId_Encrypted").val();
        var Resume_ResourceId = $("#txtResourceId").val();
        var url = '@Url.Action("ESS_Recruitment_CandidateData", "ESS_Recruitment_CandidateData")?ResourceId_Encrypted=' + ResourceId_Encrypted+'&Resume_ResourceId='+Resume_ResourceId;
        window.location.href = url;
    }

    function CandidateBulkUpload(){
        debugger;
        var ResourceId_Encrypted = $("#txtResourceId_Encrypted").val();
        var Resume_ResourceId = $("#txtResourceId").val();
        var url = '@Url.Action("ESS_Recruitment_BulkCandidateData", "ESS_Recruitment_BulkCandidateData")?ResourceId_Encrypted=' + ResourceId_Encrypted+'&Resume_ResourceId='+Resume_ResourceId;
        window.location.href = url;
    }


    function ViewCandidateData(){
        debugger;
        var url = '@Url.Action("CandidateDataGetByResourceId", "ESS_Recruitment_RequestPool")';
        window.location.href = url;
    }


    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
</script>


<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });

    $('#summernote').summernote('disable');
</script>
