
@{
    ViewBag.Title = "ShowOrganisationChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #flowchartDiv {
        width: 100%;
        height: 600px;
        border: 1px solid black;
        background-color: white;
        overflow: auto;
    }
</style>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }
    .profile-card {
        max-width: 350px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        overflow: hidden;
        margin: 20px auto;
         border: 1px solid #003366; /* Added Border */
    }
    .header {
        background: #b3e0ff;
        padding: 7px;
        position: relative;
    }
    .header img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid white;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
            margin-left: -112px;
    }
    .header h2 {
        margin: 0;
        font-size: 14px;
        color: #003366;
        font-weight: bold;
        margin-left: 20px;
    }
    .content {
        padding: 5px 5px 2px;
    }
    .info {

        font-size: 14px;
        color: #555;
        margin-bottom: 11px;
        text-align: right;
    }
    .info p {
        margin-bottom: 0rem !important;
    }
    .info i {
        margin-right: 5px;
    }
    .name {
        font-size: 14px;
        font-weight: bold;
        color: #003366;
    }
    .subtitle {
        font-size: 14px;
        color: #444;
        font-weight: bold;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 5px 8px;
        border-top: 1px solid #ddd;
        font-size: 14px;
    }
    .footer i {
        margin-right: 5px;
    }

    @@media (max-width: 400px) {
        .profile-card {
            width: 90%;
        }
    }
</style>

<style>
    .breadcrumb {
        position: fixed;
        right: 20px;
        top: 60px;
        background: none;
        padding: 10px;
    }

    .chart-container {
    width: 100%;
    height: 100vh; /* Adjust based on your needs */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Allows scrolling if needed */
    position: relative;
}

</style>



<style>
    @@media print {

        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible !important;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 100%;
            overflow: hidden !important; /* Prevents overflow */
            page-break-inside: avoid;
        }

        #flowchartDiv {
            overflow: hidden !important; /* Prevents overflow */
            /*border: none !important;*/
        }

        .printDiv {
            display: none;
        }
    }
</style>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.0.1"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>



<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-org-chart@2"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>


<div id="content" class="app-content">
        <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="row" id="printSection">
                            <div class="col-md-12">
                                <div class="form-group d-flex align-items-center mb-2">
                                    <button onclick="printDiv()" id="printDiv" class="btn btn-sm btn-success me-3 printDiv">
                                        <i class="fa fa-print"></i> Print
                                    </button>
                                    <h2 class="flex-grow-1 text-center m-0">@Session["OrgTypeName"] Flowchart</h2>
                                    <ol style="list-style: none; padding: 0; margin: 0; display: flex; margin-left: auto;">
                                        <li style="margin-right: 10px;">
                                            <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                                                <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ESS_OrganisationChart_Menu", "ESS_OrganisationChart_Menu",  new { id = 37,ScreenId=535, area = "ESS" })">
                                                <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                                <span class="printDiv" style="color:orangered">Before printing, scroll the chart to fit within the white panel, then click the print button.</span>
                                <div class="chart-container" id="flowchartDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</div>
@*<div class="chart-container" style="height: 1200px; background-color: #f6f6f6"></div>*@

<!-- Start panel -->
<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false" data-bs-scroll="true" style="max-width: 350px; width: 100%;">
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1" style="width: 100%;">
                <span id="EmpName">@Session["OrgTypeName"] Flowchart</span>
            </h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body" style="padding:0px;">
            <div class="row text-center mt-2">
                <div class="d-flex justify-content-center">
                    <img src="" id="ImgEmp" class="rounded-circle" alt="Flowchart Icon" width="80" height="80">
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table id="orgChartTable" class="table table-hover">
                        @*<thead class="table-light">
                                <tr>
                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                            </thead>*@
                        <tbody>
                            <!-- Dynamic rows will be inserted here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END panel -->


<script>
    var employeeData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.GetOrganisationChart));
    var CompanyLogo = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Session["EmployeeProfile"]));
    debugger;
    var data = [];
    employeeData.forEach(item => {
        var parentId = item.Parent ? item.Parent.toString() : '';
        var nodeId = item.Key.toString();
        data.push({
            id: nodeId,
            parent: parentId,
            name: item.Name,
            color: item.Highlight === 1 ? "#90ca4bbf" : "lightblue",
            Title: item.Title,
            OrgLevel: item.OrgLevel,
            EmployeeName: item.EmployeeName,
            Designation: item.Designation,
            Remark: item.Remark,
            JoiningDate: item.JoiningDate,
            Experience: item.Experience,
            Employeeid: item.Employeeid,
            Gender: item.Gender
        });
    });
    //console.log(data);

    new d3.OrgChart()
      .nodeId((dataItem) => dataItem.id)
      .parentNodeId((dataItem) => dataItem.parent)
      .nodeWidth((d) => 280)
      .initialZoom(0.7)
      .nodeHeight((node) => {
        // Dynamically set height based on content or node type
        return node.data.height || 175; // Default height = 175px
    })
      .childrenMargin((d) => 50)
      .compactMarginBetween((d) => 45)
      .compactMarginPair((d) => 80)
        .linkUpdate(function (d) {
            d3.select(this)
              .attr("stroke", "black")  // Set line color to black
              .attr("stroke-width", 1); // Make the line thicker
        })
      .nodeContent((node) => {
          let imageUrl;
          debugger;
          if (node.data.Gender == "Male") {
              imageUrl = node.data.image || "/assets/img/Allimages/MaleIcon.png";
          }
          if (node.data.Gender == "Female"){
              imageUrl = node.data.image || "/assets/img/Allimages/FeMaleIcon.png";
          }
          if (node.data.Gender == "-")
          {
              imageUrl = node.data.image || "/assets/img/Allimages/Kings.png";
          }
          return `
        <div class="profile-card">
    <div class="header" style="background: ${node.data.color}; position: relative;">
        <h2>${node.data.Title}</h2>
               <span class="org-level" style="position: absolute; right: 5px; top: 5px; font-size: 14px; color: white; background: rgba(0, 0, 0, 0.4); padding: 3px 5px; border-radius: 7px;" data-bs-toggle="offcanvas" href="#offcanvasExample" onclick="showOrgLevel('${node.data.Employeeid}', '${node.data.Gender}')">
                ${node.data.OrgLevel}
            </span>
        <img src="${imageUrl}" alt="Profile Picture" onerror="this.onerror=null;this.src='/assets/img/Allimages/default.png';">
    </div>
    <div class="content">
        <div class="info">
        </div>
        <p class="name">${node.data.EmployeeName}</p>
        <p class="subtitle">${node.data.Designation}</p>
              <p class="subtitle">${node.data.Remark}</p>
    </div>
    <div class="footer">
        <span><i class="fa-regular fa-calendar"></i> ${node.data.JoiningDate}</span>
        <span><i class="fa-regular fa-calendar"></i> ${node.data.Experience}</span>

    </div>
</div>`;
      })
      .container('.chart-container')
      .data(data)
      .render()
    .expandAll(); // Expands all nodes by default


</script>

<script>
    function showOrgLevel(EmpId,Gender) {
        debugger
        let GetGender=Gender;
        $.ajax({
            url: '@Url.Action("GetOrgChartDetails", "ESS_OrganisationChart_Menu")', // Generates the correct URL
            type: 'GET',
            data: { EmployeeId: EmpId }, // Pass Employee ID
            dataType: 'json',
            success: function (response)
            {
                debugger;
                var MaleimageUrl = '@Url.Content("~/assets/img/Allimages/MaleIcon.png")';
                var FemaleimageUrl = '@Url.Content("~/assets/img/Allimages/FeMaleIcon.png")';
                var DefaultImgUrl = '@Url.Content("~/assets/img/Allimages/Kings.png")';

                var SetImgUrl=response.EmployeePhoto;
                if (SetImgUrl!=null)
                {
                    $("#ImgEmp").attr("src", SetImgUrl);
                }
                else
                {
                    $("#ImgEmp").attr("src", "").hide();

                    if (GetGender=='Male')
                    {
                        $("#ImgEmp").attr("src", MaleimageUrl);
                        $("#ImgEmp").show();
                    }
                    if (GetGender=='Female')
                    {
                        $("#ImgEmp").attr("src", FemaleimageUrl);
                        $("#ImgEmp").show();
                    }
                }

                var formattedData = response.Data.map(itemArray => {
                    let obj = {};
                    itemArray.forEach(item => {
                        obj[item.Key] = item.Value;
                    });
                    return obj;
                });




                // Clear the table body before adding new data
                $("#orgChartTable tbody").empty();

                // Append rows dynamically
                formattedData.forEach(item => {
                    if (item.Question!='Employee Photo')
                    {
                        var row = `<tr>
                        <td><strong>${item.Question || ''}</strong></td>
                        <td><strong>:</strong></td>
                        <td>${item.Answer || ''}</td>
                        </tr>`;
                    }



                    $("#orgChartTable tbody").append(row);
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching organisation chart details:", error);
            }
        });
    }

</script>

<script>
    function printDiv() {
        window.print(); // Triggers the print dialog
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.2.4/mermaid.min.js"></script>

<script>
    function exportToPDF1() {
            const {jsPDF } = window.jspdf;
            const doc = new jsPDF('l', 'mm', 'a4'); // Landscape mode

            const scale = window.devicePixelRatio; // Improve image quality
            const flowchartDiv = document.querySelector("#flowchartDiv");

            html2canvas(flowchartDiv, {
                scale: scale,
                useCORS: true, // Handle cross-origin issues
            }).then(canvas => {
                const imgData = canvas.toDataURL("image/png");
                const imgWidth = 280; // Adjust for landscape A4
                const imgHeight = (canvas.height * imgWidth) / canvas.width;

                doc.addImage(imgData, 'PNG', 10, 10, imgWidth, imgHeight);
                doc.save("flowchart.pdf");
            });
        }
</script>


