@model KompassHR.Areas.ESS.Models.ESS_ManpowerAllocation.Manpower_HeadCountMapping

@{
    ViewBag.Title = "ESS_HeadCountMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
            background-color: rgba(233, 236, 239, 0.5) !important;
        }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        /*overflow: auto;*/
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 10px;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Line and Manpower Category R1/R2/R3 (HC/MD) Mappings
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_ManpowerAllocation_Menu", "ESS_ManpowerAllocation_Menu",  new { id = 35,ScreenId=278, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Line and Manpower Category R1/R2/R3 (HC/MD) Mapping - @ViewBag.AddUpdateTitle </h4>
                </div>

                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the form of Line and Manpower Category R1/R2/R3 (HC/MD) Mapping .
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_HeadCountMapping", "ESS_HeadCountMapping", new { area = "ESS" })' id="formheadcountmapping" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <!-- Company Name -->
                                    <div class="col-md-6">
                                        <div class="mb-3 row">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlCmpId", name = "CmpId", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.HeadCountMappingMasterID_Encrypted)
                                                @Html.HiddenFor(model => model.HeadCountMappingMasterID)
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Business Unit -->
                                    <div class="col-md-6">
                                        <div class="mb-3 row">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlBranchId", name = "BranchId", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3 row">
                                            <label class="form-label col-form-label col-md-4">
                                                Line <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.GetLineName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlLineId", name = "LineId", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Month/Year -->
                                    <div class="col-md-6">
                                        <div class="mb-3 row">
                                            <label class="form-label col-form-label col-md-4">
                                                Month/Year <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-control", name = "Month", type = "month", id = "GetMonth" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" id="btnshow" onclick="GetHeadCount('Normal')" class="btn btn-primary btn-sm">Show</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" hidden>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4"> Import File </label>
                                            <div class="col-md-8">
                                                <input type="file" name="AttachFile" class="form-control" id="AttachFile" onchange="ResetFile()" />
                                                <span id='validationMessage_' style='color: red;'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row mb-15px">
                                            <div class="col-md-12">
                                                <button type="button" id="" onclick="GetHeadCount('Excel')"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Import
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 text-end" style="margin-top: -6px;">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                <a href="~/assets/BulkUpload/BulkHeadcountUpload.xlsx" type="button" class="btn btn-success btn-sm">
                                                    <i class="fa-solid fa-download"></i>
                                                </a>
                                                Download Excel Format
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-12">
                                        <div class="table-scroll div1">
                                            <div class="table-wrap" style="max-height:300px; overflow-y:auto;">
                                                <table class="table table-bordered align-middle tblAddData tdTable" id="tblApproval" style="width: 100%;">
                                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                        <tr class="trheading">
                                                            <th rowspan="2">Line / Manpower Category</th>
                                                            <th colspan="2" style="text-align:center">R1</th>
                                                            <th colspan="2" style="text-align:center">R2</th>
                                                            <th colspan="2" style="text-align:center">R3</th>
                                                        </tr>
                                                        <tr class="trheading">
                                                            <th style="text-align:center">HC</th>
                                                            <th style="text-align:center">MD</th>
                                                            <th style="text-align:center">HC</th>
                                                            <th style="text-align:center">MD</th>
                                                            <th style="text-align:center">HC</th>
                                                            <th style="text-align:center">MD</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="tblHeadCountMapping">
                                                        @if (ViewBag.GetLineandManpowerCategoryList != null)
                                                        {
                                                            var data = ViewBag.GetLineandManpowerCategoryList as IEnumerable<dynamic>;
                                                            var groupedLines = data.GroupBy(x => new { x.LineId, x.LineName, x.LineR1SCDay, x.LineR2SCDay, x.LineR3SCDay });

                                                            foreach (var lineGroup in groupedLines)
                                                            {
                                                                <tr class="table-secondary fw-bold">
                                                                    <td hidden>@lineGroup.Key.LineId</td>
                                                                    <td style="background-color: rgba(233, 236, 239, 1); font-weight: 700; text-align:left">
                                                                        @lineGroup.Key.LineName
                                                                    </td>
                                                                    <td>
                                                                        <label>SCHEDULE/DAY :</label>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" name="LineR1SCDay[@lineGroup.Key.LineId]" class="form-control" min="0" style="height:26px; text-align:right" value="@lineGroup.Key.LineR1SCDay" />
                                                                    </td>
                                                                    <td>
                                                                        <label>SCHEDULE/DAY :</label>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" name="LineR2SCDay[@lineGroup.Key.LineId]" class="form-control" min="0" style="height:26px; text-align:right" value="@lineGroup.Key.LineR2SCDay" />
                                                                    </td>
                                                                    <td>
                                                                        <label>SCHEDULE/DAY :</label>
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <input type="number" name="LineR3SCDay[@lineGroup.Key.LineId]" class="form-control" min="0" style="height:26px; text-align:right" value="@lineGroup.Key.LineR3SCDay" />
                                                                    </td>

                                                                </tr>

                                                                foreach (var item in lineGroup)
                                                                {
                                                                    <tr>
                                                                        <td>@item.KPISubCategoryFName</td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R1HC[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control headcount" min="0" step="1"
                                                                                   style="height:26px;text-align:right" value="@item.R1HeadCount" oninput="validateInteger(this);" />
                                                                        </td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R1MD[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control" min="0"
                                                                                   style="height:26px;text-align:right" value="@item.R1MonthDays" />
                                                                        </td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R2HC[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control headcount" min="0" step="1"
                                                                                   style="height:26px;text-align:right" value="@item.R2HeadCount" oninput="validateInteger(this);" />
                                                                        </td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R2MD[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control" min="0"
                                                                                   style="height:26px;text-align:right" value="@item.R2MonthDays" />
                                                                        </td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R3HC[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control headcount" min="0" step="1"
                                                                                   style="height:26px;text-align:right" value="@item.R3HeadCount" oninput="validateInteger(this);" />
                                                                        </td>
                                                                        <td style="text-align:right">
                                                                            <input type="number" name="R3MD[@($"{item.LineId}_{item.KPISubCategoryFName}")]"
                                                                                   class="form-control" min="0"
                                                                                   style="height:26px;text-align:right" value="@item.R3MonthDays" />
                                                                        </td>

                                                                        <td hidden>@item.LineId</td>
                                                                        <td hidden>@item.KPISubCategoryId</td>
                                                                        <td hidden>@item.HeadCountMappingDetailsID</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                    Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "ESS_HeadCountMapping", new { area = "ESS" })">
                                                    <button type="button" class="btn btn-danger btn-sm" id="btnPunchMissingList">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
        $("#ddlLineId").select2();

        var addUpdateTitle = '@ViewBag.AddUpdateTitle';
            if (addUpdateTitle === "Update") {
            var MonthYear = @Html.Raw(Json.Encode(TempData["MonthYear"]));
            $("#GetMonth").val(MonthYear);
        }

        $('title').html("Line and Manpower Category Mapping");

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_HeadCountMapping")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
    });
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#formheadcountmapping').validate({
        rules: {
            CmpId: {
                required: true,
            },
            MonthYear: {
                required: true,
            },
            BranchId: {
                required: true,
            }
        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            MonthYear: {
                required: "MonthYear is required",
            },
            BranchId: {
                required: "Buisness Unit is required",
            },
        },
    });

    var form = $("#formheadcountmapping");
    form.validate();


    function GetHeadCount(Process) {
        if(Process=="Excel")
        {
            var fileInput = document.getElementById('AttachFile');
            var files = fileInput.files;

            // Check if a file is selected
            if (files.length > 0) {
                var fileName = files[0].name;
                $("#validationMessage_").html("");
            } else {
                $("#validationMessage_").html("Choose a file");
                return false;
            }
        }
        else{
            form.valid();
            if (form.valid() == false) {
                $("#FromDate").removeClass("error");
                return false;
            }
            $(".Userloaderbg").css("display", "flex");
        }

        $('#tblHeadCountMapping tr').not(function(){ return !!$(this).has('th').length; }).remove();
        $(".Userloaderbg").css("display", "flex");
        $("#formheadcountmapping").submit();
    }

    $("#btnSubmit").click(function () {
        var rowCount = $('#tblHeadCountMapping tr').length;
        if (rowCount === 0) {
            Swal.fire({
                icon: 'warning',
                text: 'Please add at least one manpower category to the list!',
                allowOutsideClick: false
            });
            return false;
        }

        if (!form.valid()) {
            $("#FromDate").removeClass("error");
            return false;
        }

        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var MonthYear = $("#GetMonth").val();
        var HeadCountMappingMasterID_Encrypted = $("#HeadCountMappingMasterID_Encrypted").val();

        $(".Userloaderbg").css("display", "flex");

        $.ajax({
            type: "POST",
            url: '@Url.Action("IsHeadCountMappingExists", "ESS_HeadCountMapping")',
            data: JSON.stringify({
                CmpId: CmpId,
                BranchId: BranchId,
                MonthYear: MonthYear,
                HeadCountMappingMasterID_Encrypted: HeadCountMappingMasterID_Encrypted
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var Message1 = response.Message;
                var Icon1 = response.Icon;

                if (Icon1 === "error") {
                    Swal.fire({
                        icon: Icon1,
                        text: Message1,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup();
                            popup.classList.remove('swal2-show');
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake');
                            });
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake');
                            }, 500);
                            return false;
                        }
                    });
                    $(".Userloaderbg").hide();
                    return false;
                }

                var rows = document.getElementById("tblHeadCountMapping").rows;
                var HeadCountMapping = [];

                var currentLineId = null;
                var currentLineR1SCDay = 0;
                var currentLineR2SCDay = 0;
                var currentLineR3SCDay = 0;

                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];

                    if (row.classList.contains("table-secondary")) {
                        currentLineR1SCDay = row.cells[3].querySelector("input").value.trim() || 0;
                        currentLineR2SCDay = row.cells[5].querySelector("input").value.trim() || 0;
                        currentLineR3SCDay = row.cells[7].querySelector("input").value.trim() || 0;
                    }
                    else {
                        var R1HC = row.cells[1].querySelector("input").value.trim() || 0;
                        var R1MD = row.cells[2].querySelector("input").value.trim() || 0;
                        var R2HC = row.cells[3].querySelector("input").value.trim() || 0;
                        var R2MD = row.cells[4].querySelector("input").value.trim() || 0;
                        var R3HC = row.cells[5].querySelector("input").value.trim() || 0;
                        var R3MD = row.cells[6].querySelector("input").value.trim() || 0;
                        var LineId = row.cells[7].textContent.trim() || 0;
                        var KPISubCategoryId = row.cells[8].textContent.trim() || 0;
                        var HeadCountMappingDetailsID = row.cells[9].textContent.trim() || 0;

                        if (KPISubCategoryId !== "0") {
                            HeadCountMapping.push({
                                LineId: LineId,
                                KPISubCategoryId: KPISubCategoryId,
                                R1HeadCount: R1HC,
                                R2HeadCount: R2HC,
                                R3HeadCount: R3HC,
                                R1MonthDays: R1MD,
                                R2MonthDays: R2MD,
                                R3MonthDays: R3MD,
                                HeadCountMappingDetailsID: HeadCountMappingDetailsID,
                                LineR1SCDay: currentLineR1SCDay,
                                LineR2SCDay: currentLineR2SCDay,
                                LineR3SCDay: currentLineR3SCDay
                            });
                        }
                    }
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveUpadte", "ESS_HeadCountMapping")',
                    data: JSON.stringify({
                        HeadCountMapping: HeadCountMapping,
                        CmpId: CmpId,
                        BranchId: BranchId,
                        MonthYear: MonthYear,
                        HeadCountMappingMasterID_Encrypted: HeadCountMappingMasterID_Encrypted
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        debugger;
                        var Message1 = data.Message;
                        var Icon1 = data.Icon;

                        if (Icon1 && Message1) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: false
                            }).then(function () {
                                var url = '@Url.Action("ESS_HeadCountMapping", "ESS_HeadCountMapping")';
                                window.location.href = url;
                            });
                        }
                    }
                });
            }
        });
    });

    function validateInteger(input) {
        input.value = input.value.replace(/[^0-9]/g, ""); // allow only digits
    }
</script>