@model KompassHR.Areas.ESS.Models.ESS_FNF.FNF_FeedbackMaster
@{
    ViewBag.Title = "ESS_FNF_ResignationApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .bold-question {
        font-weight: bold;
        font-size: 16px;
    }

    .question-container {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .option-container {
        margin: 0px 0;
    }

    .option-label {
        font-size: 14px;
        padding-left: 25px;
        position: relative;
        cursor: pointer;
        margin: 7px;
    }

    .text-area-container {
        margin-top: 10px;
    }

    .text-area {
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
        transition: border-color 0.3s;
    }


    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }

    .card {
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
        margin: 20px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
        width: 96%;
    }

    .card-title {
        font-weight: 800;
        font-size: 15px;
    }

    .card-text {
        font-weight: 600;
        text-align: justify;
        font-size: 13px;
        height: 80px;
    }

    .card-body .features {
        background: #EAF0FF;
        width: fit-content;
        color: #1676CC;
        font-size: 11px;
        font-weight: 800;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 5px;
    }

    .iconBx {
        /* background-color: #E60019; */
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

        .iconBx img {
            width: 100%;
        }

        .iconBx .iconWord {
            background-color: #fff;
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 50px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 800;
        }

    .card-footer .ApplyCountBx {
        font-size: 12px;
        font-weight: 800;
    }

    .ApplyCountBx abbr {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .ApplyCountBx .CountIcon {
        padding: 3px 5px;
        border-radius: 50px;
        font-size: 15px;
    }

    .ApplyCountBx,
    .ApplyBtnBx {
        width: auto;
    }

    .btn-greenlight {
        background-color: #1ED760;
        color: #fff;
        font-size: 12px;
        padding: 5px 8px;
    }

        .btn-greenlight:hover {
            background-color: #159241;
            color: #fff;
        }

    .btnpress:hover {
        outline: 0 !important;
    }

    .btn-greenlight:active {
        transform: translateY(4px);
        background-color: #159241;
        color: #fff;
    }

    [title] {
        position: relative;
    }

        [title]:after {
            content: attr(title);
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0%;
            color: #fff;
            background-color: #000;
            padding: 5px 8px;
            width: max-content;
            opacity: 0;
            -webkit-transition: opacity 0.9s ease;
            /* 👈 Change the time to meet your requirements. */
            font-weight: 500;
        }

        [title]:hover:after {
            opacity: 1;
        }

    .tblInbox td:nth-child(4) {
        display: none;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_FNF_Menu", "ESS_FNF_Menu", new { id = 7, area = "ESS" })">FNF Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Exit Feedback Manager</h1>
    <!-- END page-header -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Feedback Question - <b>@ViewBag.AddUpdateTitle</b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Respond to exit survey here!
                    </p>
                </div>
                <div class="card shadow-sm rounded">
                    <div class="card-header text-center bg-light">
                        <h4 class="card-title">Employee Information</h4>
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-0">
                                <div class="invoice-from">
                                    @* <small class="text-muted d-block">From : </small>*@
                                    <address class="custom-font">
                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<b>Employee Name:</b> @Session["EmployeeName"] - @Session["EmployeeNo"] <br />
                                        <i class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;<b>Designation:</b> @Session["DepartmentName"] / @Session["DesignationName"] <br />
                                        <i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;<b>JoiningDate:</b> @Session["JoiningDate"] <br />
                                    </address>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-0">
                                <div class="invoice-to">
                                    @*<small class="text-muted d-block">For : </small>*@
                                    <address class="custom-font">
                                        <i class="fa-brands fa-quora"></i>&nbsp;&nbsp;<b>Total Questions:</b> <span id="spnTotalQuestion">@ViewBag.TotalQue</span> <br />
                                        <i class="fa-solid fa-comment-alt"></i>&nbsp;&nbsp;<b>Attemt Questions:</b><span id="spnAttemptQuestion">@ViewBag.AtempQue</span> <br />
                                        <i class="fa-solid fa-clock"></i>&nbsp;&nbsp;<b>Pending Questions:</b> <span id="spnPendingQuestion">@ViewBag.PendingQue</span> <br />
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    body {
                        font-family: Arial, sans-serif;
                        margin: 0;
                        padding: 0;
                        background-color: #f9f9f9;
                    }

                    .container {
                        max-width: 96%;
                        margin: 20px auto;
                        background: #ffffff;
                        padding: 20px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }

                    h3 {
                        font-size: 1.25rem;
                        color: #333;
                    }

                    .form-group {
                        margin-bottom: 20px;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        padding: 3px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: background-color 0.2s ease;
                    }

                        label:hover {
                            background-color: #f1f1f1;
                        }

                    input[type="radio"],
                    input[type="checkbox"] {
                        margin-right: 10px;
                    }

                    textarea {
                        width: 100%;
                        min-height: 100px;
                        resize: vertical;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }

                    .btn:hover {
                        background-color: #0056b3;
                    }

                    .success-message {
                        position: fixed;
                        bottom: 20px;
                        right: 20px;
                        background-color: #28a745;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                    }

                    .hidden {
                        display: none;
                    }
                </style>
                @foreach (var d in ViewBag.GetQuestionList)
                {
                    <input type="text" value="@d.OptionType" hidden id="txtQuestionType" />
                    <input type="text" value="@d.QustionID" hidden id="txtQuestionId" />
                            <div class="container">
                                <form id="feedbackForm">
                                    <div class="form-group">
                                        <h3><span class="bold-question" style="color: #5496cf"><i class="fa-brands fa-quora"></i>. @d.Question</span></h3>
                                        <div>
                                            @foreach (var e in ViewBag.GetOptionsList)
                                            {
                                                double MasterQuestionid = Convert.ToDouble(d.QustionID);
                                                double DetailQustionID = Convert.ToDouble(e.QustionID);
                                                double OptionId = Convert.ToDouble(e.OptionId);
                                                if (MasterQuestionid == DetailQustionID)
                                                {
                                                    if (d.OptionType == 1)
                                                    {
                                                        <div class="col-md-12 option-container">
                                                            <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                            <label class="option-label">
                                                                @if (e.IsSelected == "True")
                                                                {
                                                                    <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" checked />}
                                                                else
                                                                {
                                                                    <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" />}
                                                                @e.OptionName
                                                                <input type="text" value="@e.OptionId" hidden id="txtOptionId" />
                                                            </label>
                                                        </div>    }
                                                    if (d.OptionType == 2)
                                                    {
                                                        <div class="col-md-12 option-container">
                                                            <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                            <label class="option-label">
                                                                @if (e.IsSelected == "True")
                                                                {
                                                                    <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" checked />}
                                                                else
                                                                {
                                                                    <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" />}
                                                                @e.OptionName
                                                            </label>
                                                        </div>    }
                                                    if (d.OptionType == 3)
                                                    {
                                                        <div class="col-md-12 text-area-container">
                                                            <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                            @if (e.InputRemark != "")
                                                            {
                                                                <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4">@e.InputRemark</textarea><br />}
                                                            else
                                                            {
                                                                <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4"></textarea><br />}
                                                        </div>
                                                    }
                                                }
                                            }

                                            <div class="row">
                                                <div class="col-md-10">
                                                    @if (d.OptionType == 3)
                                                    {
                                                        <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Enter Text.</label>
                                                    }
                                                    @if (d.OptionType == 2)
                                                    {
                                                        <label class="form-label col-form-label co6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One/Multiple Option.</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One Option.</label>}
                                                </div>                                     <div class="col-md-2">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit" onclick="funSubmit(@d.QustionID,@d.OptionType)" class="btn btn-primary btn-sm" style="padding: 3px 6px;">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            @Html.HiddenFor(model => model.FeedbackID, new { id = "txtFeedbackID", Value = d.QustionID })            @Html.HiddenFor(model => model.FeedbackID_Encrypted, new { id = "FeedbackID_Encrypted" })
                }

                @*<div class="col-md-12 question-container">
                    <span class="bold-question">Q. @d.Question</span><br />

                                        @foreach (var e in ViewBag.GetOptionsList)
                        {
                            double MasterQuestionid = Convert.ToDouble(d.QustionID);
                            double DetailQustionID = Convert.ToDouble(e.QustionID);
                            double OptionId = Convert.ToDouble(e.OptionId);
                            if (MasterQuestionid == DetailQustionID)
                            {
                                if (d.OptionType == 1)
                                {
                                    <div class="col-md-12 option-container">
                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                        <label class="option-label">
                                            @if (e.IsSelected == "True")
                                            {
                                                <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" checked />
                                            }
                                            else
                                            {
                                                <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" />
                                            }
                                            @e.OptionName
                                            <input type="text" value="@e.OptionId" hidden id="txtOptionId" />
                                        </label><br />
                                    </div>
                                }
                                if (d.OptionType == 2)
                                {
                                    <div class="col-md-12 option-container">
                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                        <label class="option-label">
                                            @if (e.IsSelected == "True")
                                            {
                                                <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" />
                                            }
                                            @e.OptionName

                                        </label><br />
                                    </div>
                                }
                                if (d.OptionType == 3)
                                {
                                    <div class="col-md-12 text-area-container">
                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                        @if (e.InputRemark != "")
                                        {
                                            <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4">@e.InputRemark</textarea><br />
                                        }
                                        else
                                        {
                                            <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4"></textarea><br />
                                        }
                                    </div>
                                }
                            }
                        }
                        <div class="row">
                            <div class="col-md-10">
                                @if (d.OptionType == 3)
                                {
                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Enter Text.</label>
                                }
                                @if (d.OptionType == 2)
                                {
                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One/Multiple Option.</label>
                                }
                                else
                                {
                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One Option.</label>
                                }
                            </div>
                            <div class="col-md-2">
                                <div class="BtnBx">
                                    <div>
                                        <button type="button" id="btnSubmit" onclick="funSubmit(@d.QustionID,@d.OptionType)"
                                                class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        @Html.HiddenFor(model => model.FeedbackID, new { id = "txtFeedbackID", Value = d.QustionID })
                        @Html.HiddenFor(model => model.FeedbackID_Encrypted, new { id = "FeedbackID_Encrypted" })*@




                @*@foreach (var d in ViewBag.GetQuestionList)
                    {
                      <input type="text" value="@d.OptionType" hidden id="txtQuestionType" />
                                    <input type="text" value="@d.QustionID" hidden id="txtQuestionId" />
                                    <div class="col-md-12 question-container">
                                        <span class="bold-question">Q. @d.Question</span><br />

                                        @foreach (var e in ViewBag.GetOptionsList)
                                        {
                                            double MasterQuestionid = Convert.ToDouble(d.QustionID);
                                            double DetailQustionID = Convert.ToDouble(e.QustionID);
                                            double OptionId = Convert.ToDouble(e.OptionId);
                                            if (MasterQuestionid == DetailQustionID)
                                            {
                                                if (d.OptionType == 1)
                                                {
                                                    <div class="col-md-12 option-container">
                                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                        <label class="option-label">
                                                            @if (e.IsSelected == "True")
                                                            {
                                                                <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" checked />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="RadioOption_@e.QustionID" value="@e.OptionId" id="RadioOption_@e.OptionId" class="option-input" />
                                                            }
                                                            @e.OptionName
                                                            <input type="text" value="@e.OptionId" hidden id="txtOptionId" />
                                                        </label><br />
                                                    </div>
                                                }
                                                if (d.OptionType == 2)
                                                {
                                                    <div class="col-md-12 option-container">
                                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                        <label class="option-label">
                                                            @if (e.IsSelected == "True")
                                                            {
                                                                <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" checked />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="CheckboxOption_@e.QustionID" value="@e.OptionId" id="CheckboxOption_@e.OptionId" class="option-input" />
                                                            }
                                                            @e.OptionName

                                                        </label><br />
                                                    </div>
                                                }
                                                if (d.OptionType == 3)
                                                {
                                                    <div class="col-md-12 text-area-container">
                                                        <input type="text" value="@e.MasterID" hidden id="txtMasterID" />
                                                        @if (e.InputRemark != "")
                                                        {
                                                            <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4">@e.InputRemark</textarea><br />
                                                        }
                                                        else
                                                        {
                                                            <textarea id="InputText_@e.OptionId" name="InputText_@e.QustionID" class="text-area" rows="4"></textarea><br />
                                                        }
                                                    </div>
                                                }
                                            }
                                        }
                                        <div class="row">
                                            <div class="col-md-10">
                                                @if (d.OptionType == 3)
                                                {
                                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Enter Text.</label>
                                                }
                                                @if (d.OptionType == 2)
                                                {
                                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One/Multiple Option.</label>
                                                }
                                                else
                                                {
                                                    <label class="form-label col-form-label col-md-6" id="lblerror_@d.QustionID" style="display: none; color: red;">Kindly Choose at least One Option.</label>
                                                }
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" onclick="funSubmit(@d.QustionID,@d.OptionType)"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.FeedbackID, new { id = "txtFeedbackID", Value = d.QustionID })
                                    @Html.HiddenFor(model => model.FeedbackID_Encrypted, new { id = "FeedbackID_Encrypted" })
                                }*@
                <!-- Hidden fields -->
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="BtnBx">
                            <div>
                                <a href="@Url.Action("ESS_FNF_ResignationApproval", "ESS_FNF_ResignationApproval", new { id = 7 , area = "ESS" })">
                                    <button type="button" class="btn btn-danger btn-sm" id="btnGetBankCreationList">
                                        <i class="fa-solid fa-share-from-square"></i> Back
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                function funSubmit(questionIDs,QuestionType){
                    debugger;
                    var Question = [];
                    var optionList = @Html.Raw(Json.Encode(ViewBag.GetOptionsList));

                    var questionAnswers = [];

                    var questionData = {};  // Initialize an object to store data for this question
                    var questionData1 = {};

                    var answers = [];  // Array to store selected answers for this question
                    var isOptionSelected = false;
                    // Loop through each option for the current question
                    for (var j = 0; j < optionList.length; j++) {
                        var option = optionList[j];


                        // Check if the current option belongs to the current question
                        if (questionIDs== option.QustionID) {
                            var answer = {};  // Object to store answer data for this option

                            // For Radio buttons (QuestionTypeID == 1)
                            if (QuestionType == 1) {
                                var selectedRadio = $("input[name='RadioOption_" +questionIDs+ "'][value='" +  option.OptionId + "']:checked").length > 0;
                                answer.OptionId =  option.OptionId;
                                answer.IsSelected = selectedRadio;
                                answer.MasterID =  option.MasterID;
                                if(selectedRadio==true){
                                    isOptionSelected = true;
                                }
                                answers.push(answer);

                                questionAnswers.push({
                                    OptionId:  option.OptionId,
                                    IsSelected: selectedRadio,
                                    MasterID:option.MasterID
                                });

                            }

                            // For Checkboxes (QuestionTypeID == 2)
                            if (QuestionType == 2) {
                                var selectedCheckbox = $("input[name='CheckboxOption_" + questionIDs + "'][value='" + option.OptionId + "']:checked").length > 0;
                                answer.OptionId =  option.OptionId;
                                answer.IsSelected = selectedCheckbox;
                                answer.MasterID =  option.MasterID;
                                if(selectedCheckbox==true){
                                    isOptionSelected = true;
                                }// true or false based on whether it's checked
                                answers.push(answer);

                                // Store in questionAnswers array
                                questionAnswers.push({
                                    OptionId:  option.OptionId,
                                    IsSelected: selectedCheckbox,
                                    MasterID:option.MasterID

                                });
                            }

                            // For Textarea (QuestionTypeID == 3)
                            if (QuestionType == 3) {
                                var inputText = $("textarea[name='InputText_" + questionIDs + "']").val();
                                if (inputText) {
                                    answer.Answer = inputText;
                                    answer.OptionId =  option.OptionId;// Store the answer from the textarea
                                    answer.MasterID =  option.MasterID;
                                    answers.push(answer);

                                    // Store in questionAnswers array
                                    questionAnswers.push({
                                        InputRemark: inputText,
                                        OptionId:  option.OptionId,
                                        IsSelected: true,
                                        MasterID:option.MasterID
                                    });
                                    isOptionSelected = true;
                                }
                            }
                        }
                    }
                    var error = document.getElementById("lblerror_"+questionIDs);

                    if (!isOptionSelected) {
                        error.style.display = "block";
                    } else {
                        error.style.display = "none";
                    }
                    if (answers.length > 0) {
                        questionData.Answers = answers;
                        Question.push(questionData);

                    }

                    if (isOptionSelected) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveUpdate", "ESS_FNF_ResignationApproval")',
                            data: JSON.stringify({ questionIDs: questionIDs, questionAnswers: questionAnswers, QuestionType: QuestionType }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                var Message1 = response.Message;
                                var Icon1 = response.Icon;
                                if (response != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("ESS_FNF_ResignationApproval", "ESS_FNF_ResignationApproval")';
                                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                            }
                                        })
                                    }
                                }
                            }
                        });
                    }
                }

            </script>
