@model KompassHR.Areas.ESS.Models.ESS_Ticket.Ticket_Raise 
@{
    ViewBag.Title = "ESS_Ticket_TicketRaise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .matrix-card {
    background: #f9fbff;
    border: 1px solid #dbe4f0;
    border-radius: 6px;
    padding: 15px 20px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.matrix-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #2a4d7c;
    display: flex;
    align-items: center;
    gap: 6px;
}

#tblMatrix th {
    font-weight: 600;
    text-align: center;
}
#tblMatrix td {
    vertical-align: middle;
    padding: 6px 12px;
}
#tblMatrix tbody tr:hover {
    background-color: #f1f7ff;
}

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }

       .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
               Ticket Raise
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Ticket_Menu", "ESS_Ticket_Menu",  new { id = 13,ScreenId=199, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Ticket Raise<b></b> </h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                       
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action='@Url.Action("SaveUpdate", "ESS_Ticket_TicketRaise", new { area = "ESS" })' id="saveTicketRaise" method="post" enctype="multipart/form-data">

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => Model.TicketRaiseID_Encrypted)
                                        @Html.HiddenFor(model => Model.TicketRaiseID)
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => Model.DocNo, new { @class = "form-control mb-5px", id = "DocNo", name = "DocNo", @readonly = "readonly", Value = @ViewBag.DocNo.DocNo })
                                             @Html.HiddenFor(model => model.Level1EmployeeID, new { @class = "form-control mb-5px", id = "Level1EmployeeID", @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.Level2EmployeeID, new { @class = "form-control mb-5px", id = "Level2EmployeeID", @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.Level3EmployeeID, new { @class = "form-control mb-5px", id = "Level3EmployeeID", @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.Level4EmployeeID, new { @class = "form-control mb-5px", id = "Level4EmployeeID", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.Level1Status, new { @class = "form-control mb-5px", id = "Level1EmployeeID", @readonly = "readonly",Value="Pending" })




                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { name = "DocDate", @class = "form-control", id = "dateDocDate", type = "date", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label label class="form-label col-form-label col-md-4">
                                                Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TicketCategoryID, new SelectList(ViewBag.ListTicketCategory, "TicketCategoryID", "TicketCategoryName"), "--Select--", new { id = "ddlTicketCategoryID", name = "TicketCategoryID", @class = "form-select Cat", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label label class="form-label col-form-label col-md-4">
                                                Sub Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TicketSubCategoryID, new SelectList(ViewBag.GetSubCategory, "Id", "Name"), "--Select--", new { id = "ddlTicketSubCategoryID", name = "TicketCategoryID", @class = "form-select Cat", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Title
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TicketRaiseTitle, new { @class = "form-control", type = "text", id = "TicketRaiseTitle", autocomplete = "Off", name = "TicketRaiseTitle" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "Description", name = "Description" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label">
                                                Description
                                                @*<span class="important">*</span>*@
                                                <div class="col-md-12 mt-2">
                                                    @Html.TextAreaFor(model => model.Description, new { @class = "summernote", style = "border: 1px solid #000;", id = "Description", name = "Description", @placeholder = "Description....", autocomplete = "Off", contenteditable = "true" })
                                                </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">Attachment  </label>
                                            <div class="col-md-8">
                                                <input type="file" name="FilePath" class="form-control" id="txtFilePath" onchange="ResetFile()" />
                                                <label class="form-label col-form-label col-md-8" id="lblFileName">@TempData["FilePath"]</label>

                                                @if (TempData["FilePath"] == "" || TempData["FilePath"] == null)
                                                {

                                                }
                                                else
                                                {
                                                    @*<a type="button" class="btn btn-success ListBtn btnpress" href="~/ESS/ESS_Ticket_TicketRaise/DownloadFile?TicketRaised=@TempData["AttachFile"]" download>
                                                        
                                                         <i class="fa-solid fa-download"></i>
                                                    </a>*@
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Priority
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Priority, new List
                                                <SelectListItem>
                                                {
                                                new SelectListItem { Text = "Critical",Value = "Critical"},
                                                new SelectListItem { Text = "High",Value = "High"},
                                                new SelectListItem { Text = "Medium",Value = "Medium"},
                                                new SelectListItem { Text = "Low",Value = "Low"},
                                                
                                                   }, "--Select--",
                                                   new { @class = "form-select", id = "ddlPriority", name = "Priority" })
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!-- MATRIX CARD -->
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="matrix-card">
                                            <h5 class="matrix-title">
                                                <i class="fa fa-sitemap text-primary"></i> Assignment / Approval Matrix
                                            </h5>
                                            <table id="tblMatrix" class="table table-hover table-bordered align-middle">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th style="width:90px;">Level</th>
                                                        <th>Employee</th>
                                                        <th>Email</th>
                                                        <th>Mobile No</th>
                                                        <th>Department</th>
                                                        @*<th style="width:120px;">TAT (Hours)</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="5" class="text-center text-muted">
                                                            Please select Category & Sub-Category to load matrix.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <!-- Resolution CARD -->
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="matrix-card">
                                            <h5 class="matrix-title">
                                                <i class="fa fa-sitemap text-primary"></i> Resolution Time
                                            </h5>
                                            <table id="tblResolution" class="table table-hover table-bordered align-middle">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <th class="text-center"> Severity Level</th>
                                                        <th class="text-center">Response Time(In Minutes)</th>
                                                        <th class="text-center">Resolution Time(In Hour)</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3" class="text-center text-muted">
                                                            Please select Category & Sub-Category to load matrix.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <!----KeyPoints-->

                                <h5 class="mb-1 mt-4" style="border-bottom:2px solid #ccc; padding-bottom:5px;">
                                   Knowledge Base 
                                </h5>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">

                                            @*<label class="form-label">
                                                KeyPoints*@
                                                <div class="col-md-12 mt-2">
                                                    @Html.TextAreaFor(model => model.KeyPoints, new { @class = "form-control", style = "height:150px; border:none; box-shadow:none;", id = "txtKeyPoints", autocomplete = "Off",  @readonly = "readonly" })
                                                </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnTicketRaiseGetList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>



<script>
    debugger;
    function millisecTodate(milliDate) {
                                                        var date = new Date(milliDate);
                                                        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
                                                        var day = ("0" + date.getDate()).slice(-2);
                                                        var hours = date.getHours();
                                                        var minutes = date.getMinutes();
                                                        hours = hours < 10 ? '0'+hours : hours;
                                                        minutes = minutes < 10 ? '0'+minutes : minutes;
                                                        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
                                                        return ddmmyyyy;
                                                    }



                                                    function convertDate(data) {
                                                        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
                                                        var date = millisecTodate(getdate);
                                                        return date;
                                                    }

</script>



<script>
    $(".summernote").summernote({
                                                        placeholder: '',
        height: "300"
    });

</script>


<script>
    $(document).ready(function () {
                                                        debugger;

        @*var FilePath1= @Html.Raw(Json.Encode(TempData["FilePath"]));
        if(FilePath1 !=null){
          
            $("#txtFilePath").val(FilePath1);
        }*@

        
        var dt = @Html.Raw(Json.Encode(TempData["DocDate"]));
        if(dt != null )
        {
            var DocDatedt =  convertDate(dt);
            $("#dateDocDate").val(DocDatedt);
        }
        $("#ddlRaisedToEmployee").select2();
        $("#ddlTicketCategoryID").select2();
        $("#ddlTicketSubCategoryID").select2();
        $("#ddlPriority").select2();

        var IsUpdateMode = @Html.Raw(Json.Encode(ViewBag.AddUpdateTitle == "Update"));

        if (IsUpdateMode) {

            // Lock Category Select2 (readonly)
            $("#ddlTicketCategoryID").next(".select2-container")
                .css("pointer-events", "none")
                .find(".select2-selection")
                .css("background-color", "#e9ecef");

            // Lock SubCategory Select2 (readonly)
            $("#ddlTicketSubCategoryID").next(".select2-container")
                .css("pointer-events", "none")
                .find(".select2-selection")
                .css("background-color", "#e9ecef");
        }



        //$("#txtTicketMatrixKPICategoryId").on("change", function () {
        //    debugger;
        //    var CategoryId = $("#txtTicketMatrixKPICategoryId").val();
        //    $.ajax({
        //        type: 'GET',
        //        dataType: 'JSON',
        //        contentType: "application/json; charset=utf-8",
        //        url: 'GetSubCategory',
        //        data: { CategoryId: CategoryId },
        //        success: function (data) {
        //            debugger
        //            if (data != null) {
        //                $("#txtTicketSubCategoryId").append("<option value=0> --Select-- </option>");
        //                $.each(data, function (i, p) {
        //                    debugger
        //                        $("#txtTicketSubCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");


        //                });
        //            }
        //        }
        //    })
        //});

        $("#ddlTicketCategoryID").on("change", function () {
            debugger;
            var CategoryId = $("#ddlTicketCategoryID").val();
            var SubCategory=$("#ddlTicketSubCategoryID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
              //  url: 'GetSubCategory',
                url: '@Url.Action("GetSubCategory", "ESS_Ticket_TicketRaise", new { area="ESS" })',

                data: { CategoryId: CategoryId },
                success: function (data) {
                    debugger
                    $("#ddlTicketSubCategoryID").empty();
                    if (data != null) {
                        $("#ddlTicketSubCategoryID").append("<option value=0> --Select-- </option>");
                        $.each(data, function (i, p) {
                            debugger
                            $.each(p, function (s, t) {
                                $("#ddlTicketSubCategoryID").append("<option value='" + t.Id + "'>" + t.Name + "</option>");
                            });
                        });

                    }
                }
            })
        });


        @*$(".Cat").on("change", function () {
            debugger
    var categoryId = $("#ddlTicketCategoryID").val();
    var subCategoryId = $("#ddlTicketSubCategoryID").val();

    var tbody = $("#tblMatrix tbody");
    var tbodyRes = $("#tblResolution tbody");

    if (categoryId && subCategoryId) {
        tbody.html(`<tr>
            <td colspan="5" class="text-center text-primary">Loading...</td>
        </tr>`);


        tbodyRes.html(`<tr>
            <td colspan="3" class="text-center text-primary">Loading...</td>
            </tr>`);


        $.ajax({
            url: '@Url.Action("GetCategoryDetails", "ESS_Ticket_TicketRaise", new { area="ESS" })',
            type: 'GET',
            data: { categoryId: categoryId, subCategoryId: subCategoryId },
            success: function (data) {
                tbody.empty();

                if (Array.isArray(data) && data.length > 0 && Array.isArray(data[0])) {
                    var matrix = data[0];
                    var obj = {};
                    matrix.forEach(function (item) {
                        obj[item.Key] = item.Value;
                    });
                    for (var i = 1; i <= 4; i++) {
                        var empName = obj['Level' + i + 'EmployeeName'];
                        var empId   = obj['Level' + i + 'Employee'];
                        //var tat     = obj['Level' + i + 'TAT'];
                        var dept = obj['Level' + i + 'DepartmentName'];
                        var email = obj["Level" + i + "Email"];
                        var mobile = obj["Level" + i + "Mobile"];
                        //var tat = obj['Level' + i + 'TATValue'];

                        $("#Level" + i + "EmployeeID").val(empId || "");

                        if (empId && empId !== 0) {
                            tbody.append(`
                                <tr>
                                    <td class="text-center">Level ${i}</td>
                                    <td>${empName || empId || '-'}</td>

                                    <td  class="text-center">${email || "-"}</td>
                                    <td class="text-center"> ${mobile || "-"}</td>
                                    <td class="text-center">${dept || '-'}</td>
                                   
                                </tr>
                            `);
                        }
                    }
                    if (tbody.children().length === 0) {
                        tbody.html(`<tr>
                            <td colspan="5" class="text-center text-danger">
                                No levels defined for this matrix.
                            </td>
                        </tr>`);
                    }
                } else {
                    tbody.html(`<tr>
                        <td colspan="5" class="text-center text-danger">
                            No matrix data found.
                        </td>
                    </tr>`);
                }



                tbodyRes.empty();

                if (data.length > 1 && Array.isArray(data[1])) {

                    var res = data[1];
                    var resObj = {};

                    res.forEach(function (item) {
                        resObj[item.Key] = item.Value;
                    });

                    // Static order
                    const severity = ["Critical", "High", "Medium", "Low"];

                    severity.forEach(function (level) {
                        tbodyRes.append(`
                            <tr>
                                <td>${level}</td>
                                <td class="text-center">${resObj[level + "_ResponseTime"] || '-'}</td>
                                <td class="text-center">${resObj[level + "_ResolutionTime"] || '-'}</td>
                            </tr>
                        `);
                    });

                } else {
                    tbodyRes.html(`<tr>
                        <td colspan="3" class="text-center text-danger">No resolution data found.</td>
                    </tr>`);
                }



            },
            error: function () {
                tbody.html(`<tr>
                    <td colspan="5" class="text-center text-danger">
                        Error loading matrix. Please try again.
                    </td>
                </tr>`);

                tbodyRes.html(`<tr><td colspan="3" class="text-center text-danger">Error loading resolution.</td></tr>`);

            }
        });

    } else {
        tbody.html(`<tr>
            <td colspan="5" class="text-center text-muted">
                Please select Category & Sub-Category to load matrix.
            </td>
        </tr>`);


        tbodyRes.html(`<tr><td colspan="3" class="text-center text-muted">Please select Category & Sub-Category to load matrix.</td></tr>`);

    }


});*@



        $(".Cat").on("change", function () {
            debugger
            var categoryId = $("#ddlTicketCategoryID").val();
            var subCategoryId = $("#ddlTicketSubCategoryID").val();

            var tbody = $("#tblMatrix tbody");
            var tbodyRes = $("#tblResolution tbody");

            if (categoryId && subCategoryId) {

                tbody.html(`
            <tr><td colspan="5" class="text-center text-primary">Loading...</td></tr>
        `);

                tbodyRes.html(`
            <tr><td colspan="3" class="text-center text-primary">Loading...</td></tr>
        `);

                $.ajax({
                    url: '@Url.Action("GetCategoryDetails", "ESS_Ticket_TicketRaise", new { area="ESS" })',
                    type: 'GET',
                    data: { categoryId: categoryId, subCategoryId: subCategoryId },

                    success: function (data) {

                        tbody.empty();
                        tbodyRes.empty();

                        // -----------------------------
                        // VALIDATE DATA FORMAT
                        // -----------------------------
                        if (!Array.isArray(data) || data.length === 0 || !Array.isArray(data[0])) {
                            tbody.html(`<tr><td colspan="5" class="text-center text-danger">No matrix data found.</td></tr>`);
                            tbodyRes.html(`<tr><td colspan="3" class="text-center text-danger">No resolution data found.</td></tr>`);
                            return;
                        }

                        var matrix = data[0];
                        var row = {};

                        // Convert list Key/Value to object
                        matrix.forEach(function (item) {
                            row[item.Key] = item.Value;
                        });

                        // ⭐ FORMAT KEYPOINTS FOR TEXTAREA
                        let keypoints = row["KeyPoints"] || "";

                        //keypoints = keypoints
                        //    .replace(/<p>/gi, "")
                        //    .replace(/<\/p>/gi, "\n")
                        //    .trim();


                        // Convert paragraph to new line
                        keypoints = keypoints.replace(/<\/p>/gi, "\n");

                        // Remove ALL remaining HTML tags
                        keypoints = keypoints.replace(/<[^>]*>/g, "");

                        // Clean extra spaces
                        keypoints = keypoints.replace(/\n\s*\n/g, "\n").trim();

                        $("#txtKeyPoints").val(keypoints);

                    
                        // --------------------------------------------------
                        // 1️⃣ FILL ASSIGNMENT / APPROVAL MATRIX (FIRST TABLE)
                        // --------------------------------------------------
                        var hasMatrix = false;

                        for (var i = 1; i <= 4; i++) {

                            var empId   = row["Level" + i + "Employee"];
                            var empName = row["Level" + i + "EmployeeName"];
                            var dept    = row["Level" + i + "DepartmentName"];
                            var email   = row["Level" + i + "Email"];
                            var mobile  = row["Level" + i + "Mobile"];

                            $("#Level" + i + "EmployeeID").val(empId || "");

                            if (empId && empId !== 0) {

                                tbody.append(`
                            <tr>
                                <td>Level ${i}</td>
                                <td>${empName || '-'}</td>
                                <td>${email || '-'}</td>
                                <td>${mobile || '-'}</td>
                                <td>${dept || '-'}</td>
                            </tr>
                        `);

                                hasMatrix = true;
                            }
                        }

                        if (!hasMatrix) {
                            tbody.html(`
                        <tr><td colspan="5" class="text-center text-danger">No levels defined for this matrix.</td></tr>
                    `);
                        }

                        // ------------------------------------
                        // 2️⃣ FILL RESOLUTION TABLE (ONE DATASET)
                        // ------------------------------------
                        const severityLevels = ["Critical", "High", "Medium", "Low"];

                        severityLevels.forEach(function (level) {
                            tbodyRes.append(`
                        <tr>
                            <td>${level}</td>
                            <td class="text-center">${row[level + "_ResponseTime"] || '-'}</td>
                            <td class="text-center">${row[level + "_ResolutionTime"] || '-'}</td>
                        </tr>
                    `);
                        });

                    },

                    error: function () {
                        tbody.html(`<tr><td colspan="5" class="text-center text-danger">Error loading matrix.</td></tr>`);
                        tbodyRes.html(`<tr><td colspan="3" class="text-center text-danger">Error loading resolution.</td></tr>`);
                    }
                });

            } else {

                tbody.html(`
            <tr><td colspan="5" class="text-center text-muted">Please select Category & Sub-Category to load matrix.</td></tr>
        `);

                tbodyRes.html(`
            <tr><td colspan="3" class="text-center text-muted">Please select Category & Sub-Category to load matrix.</td></tr>
        `);
            }
        });





        // ---------------- AUTO LOAD MATRIX IN UPDATE MODE ----------------
        var IsUpdate = @Html.Raw(Json.Encode(ViewBag.AddUpdateTitle == "Update"));

        if (IsUpdate) {
            debugger
            setTimeout(function () {
                debugger
                //$("#ddlTicketCategoryID").trigger("change");

                setTimeout(function () {
                    debugger
                    $("#ddlTicketSubCategoryID").trigger("change");
                }, 300);

            }, 300);
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#btnTicketRaiseGetList").click(function () {
            window.location.href= '@Url.Action("GetList", "ESS_Ticket_TicketRaise")';
        });

        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#dateDocDate").val(dateString);

    });
</script>

<script>
    jQuery.validator.addMethod(
  "regex",

   function(value, element, regexp) {
       debugger;
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#saveTicketRaise").validate({

        rules: {
            DocDate:{
                required:true, 
            },
            TicketCategoryID: {
                required: true,

            },
            RaisedToEmployee: {
                required: true,

            },
            TicketRaiseTitle: {
                required:true,
            },
            Description:{
                required:true,
            },
           
            Priority:{
                required:true,
            }
            
        },
        messages: {

            DocDate: {
                required: "This field is required",
            },
            TicketCategoryID: {
                required: "This field is required",

            },
            ddlRaisedToEmployee: {
                required: "This field is required",

            },
            TicketRaiseTitle: {
                required: "This field is required",
            },

            Description:{
                required: "This field is required",
            },
           
            Priority:{
                required: "This field is required",
            },
        }
    });

    var form=$("#saveTicketRaise");
    form.validate();

</script>



