
@{
    ViewBag.Title = "ViewData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }
      .inline-field {
        font-weight: 600;
        color: #333;
        margin-bottom: 6px;
    }
    .inline-field span {
        font-weight: normal;
        margin-left: 4px;
    }
    </style>

<style>
    /*.row > div {
        margin-bottom: 12px;
    }*/

    /*.row > div > div {
        padding: 5px 0;
    }*/

    label {
        display: block;
        font-weight: 600;
        color: #444;
    }
    
 .emi-table {
        border: 1px solid #ccc;
        width: 100%;
        border-collapse: collapse;
        display: table;
    }

    .emi-header, .emi-row {
        display: table-row;
    }

    .emi-col {
        display: table-cell;
        padding: 8px;
        border: 1px solid #ccc;
        vertical-align: middle;
    }
     .emi-header{
        font-weight: bold;
        background: #f5f5f5;
    }


</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee wise Loan Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Rpt_Payroll_EmployeeWiseLoanReport", "Rpt_Payroll_EmployeeWiseLoanReport", new { id = 6, ScreenId = 889, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Employee wise Loan Report</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Export report of employee wise loan report.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row justify-content-center">
                        <form role="form" href="@Url.Action("Rpt_Payroll_EmployeeWiseLoanReport", "Rpt_Payroll_EmployeeWiseLoanReport", new { area = "Reports" })" id="formMonthWiseBonus" method="post">
                            <div id="divPrint">

                                <table style="width:100%; border-collapse: collapse; border:1.5px solid #ccc;">
                                    <thead></thead>
                                    @{
                                        bool EmployeeData = ViewBag.EmployeeData == null || ViewBag.EmployeeData.Count == 0;
                                    }

                                    @*@if (ViewBag.EmployeeData == null || ViewBag.EmployeeData.Count == 0)*@
                                    @if (EmployeeData)
                                    {
                                        
                                        @*<div class="alert alert-danger">
                                            No records found.
                                        </div>*@

                                    }
                                    else
                                    {

                                        var header = ViewBag.EmployeeData[0];
                                        //var emiList = ViewBag.EmployeeData;
                                        var emiList = (IEnumerable<dynamic>)ViewBag.EmployeeData;
                                        //var header = emiList.First();

                                        var loanGroups =from e in emiList group e by e.LoanNo into g select g;

                                        <tbody>
                                            <tr>
                                                <td style="padding:0 !important;">

                                                    <table class="emi-table1" style="width:100%; border-collapse: collapse; border:1px solid #ccc; margin-bottom:25px;">
                                                        <tbody>
                                                            <tr>
                                                                @*<td style="font-weight:bold; width:25%; border:1px solid #ccc; padding:5px;">Company Name</td>*@
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:center; font-weight:bold; background:#f5f5f5; height:40px; font-size:18px;" colspan="4">
                                                                    @header.CompanyName
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Employee Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.EmployeeName</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Joining Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.JoiningDate</td>
                                                            </tr>

                                                            @*<tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan No</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LoanNo</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.Loantype</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LoanAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Interest</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LoanInterest</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Interest Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.InterestAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Total Loan</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.TotalLoan</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">No Of Installment</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.NoOfInstallment</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Reason</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.Reason</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Deducation Start Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.DeducationStartDate</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Deducation End Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.DeducationEndDate</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Last Paid Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LastPaidAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Last Paid Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LastPaidDate</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Status</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.LoanStatus</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Total Settlement Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.TotalSettlementAmount</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Settled Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.SettledDate</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Settled Remark</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.SettledRemark</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Guarantor Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.GuarantorName</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Guarantor Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@header.GuarantorName1</td>
                                                            </tr>*@

                                                        </tbody>
                                                    </table>

                                               @foreach (var loanGroup in loanGroups)
                                                    {
                                                     var loanHeader = loanGroup.First();

                                                    <table class="emi-table2" style="width:100%; border-collapse: collapse; border:1px solid #ccc; margin-bottom:10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:center; font-weight:bold; background:#f5f5f5; height:40px; font-size:18px;" colspan="4">
                                                                    EMI Details 
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan No</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LoanNo</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.Loantype</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LoanAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Interest</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LoanInterest</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Interest Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.InterestAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Total Loan</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.TotalLoan</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">No Of Installment</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.NoOfInstallment</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Reason</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.Reason</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Deducation Start Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.DeducationStartDate</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Deducation End Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.DeducationEndDate</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Last Paid Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LastPaidAmount</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Last Paid Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LastPaidDate</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Loan Status</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.LoanStatus</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Total Settlement Amount</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.TotalSettlementAmount</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Settled Date</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.SettledDate</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Settled Remark</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.SettledRemark</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Guarantor Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.GuarantorName</td>
                                                                <td style="font-weight:bold; border:1px solid #ccc; padding:5px;">Guarantor Name</td>
                                                                <td style="border:1px solid #ccc; padding:5px;">@loanHeader.GuarantorName1</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    @*<br />
                                                    }*@




                                            @*@foreach (var loanGroup in loanGroups)
                                            {
                                                    var loanHeader = loanGroup.First();*@ 
                                                
                                                <table class="emi-table" style="width:100%; border-collapse: collapse; border:1px solid #ccc; margin-bottom:20px;">
                                                    <thead>
                                                        @{
                                                            int Sr_No = 1;
                                                        }

                                                        @*<tr>
                                                            <td style="border:1px solid #ccc; padding:5px; text-align:center; font-weight:bold; background:#f5f5f5; height:40px; font-size:18px;" colspan="4">
                                                                EMI Details 
                                                            </td>
                                                        </tr>*@

                                                        <tr class="emi-header">
                                                            <th style="border:1px solid #ccc; padding:5px; text-align:center; width:50px;">Sr.No</th>
                                                            <th style="border:1px solid #ccc; padding:5px; text-align:center;">EMI Date</th>
                                                            <th style="border:1px solid #ccc; padding:5px; text-align:center;">EMI Amount</th>
                                                            <th style="border:1px solid #ccc; padding:5px; text-align:center;">Status</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var d in loanGroup)
                                                        {
                                                            
                                                            <tr>
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:right; width:100px;">@Sr_No</td>
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:center;">@d.EMIDate</td>
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:right; width:200px;">@d.MonthlyEMIAmount</td>
                                                                <td style="border:1px solid #ccc; padding:5px; text-align:center;">@d.EMIStatus</td>
                                                            </tr>

                                                            Sr_No++;
                                                        }

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="font-weight:bold; text-align:right; border:1px solid #ccc; padding:5px;">Loan Amount:</td>
                                                            <td style="font-weight:bold; border:1px solid #ccc; padding:5px; text-align:right;">@loanHeader.TotalLoan</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="font-weight:bold; text-align:right; border:1px solid #ccc; padding:5px;">Total Paid:</td>
                                                            <td style="font-weight:bold; border:1px solid #ccc; padding:5px; text-align:right">@loanHeader.TotalPaidAmount</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="font-weight:bold; text-align:right; border:1px solid #ccc; padding:5px;">Remaining:</td>
                                                            <td style="font-weight:bold; border:1px solid #ccc; padding:5px; text-align:right">@loanHeader.RemainingAmount</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <br />
                                               }


                                                    </td>
                                                </tr>
                                          </tbody>
                                    }

                                </table>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-primary" id="btnPrint" onclick="Print()">
                                                            <i class="fa-solid fa-print fa-xl"></i> Print
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var noDataFlag = '@EmployeeData';
        if (noDataFlag === 'True') {
            Swal.fire({
                icon: 'warning',
                title: 'No Data Found',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Rpt_Payroll_EmployeeWiseLoanReport", "Rpt_Payroll_EmployeeWiseLoanReport")';
                }
            });
        }
    });
</script>



<script>
function Print() {

    // Hide print button before printing
    document.getElementById("btnPrint").style.display = "none";

    var content = document.getElementById('divPrint').innerHTML;

    var printFrame = document.createElement('iframe');
    printFrame.style.position = 'absolute';
    printFrame.style.left = '-9999px';
    document.body.appendChild(printFrame);

    var frameDoc = printFrame.contentWindow || printFrame.contentDocument;
    if (frameDoc.document) frameDoc = frameDoc.document;

    var styles = '';
    document.querySelectorAll('link[rel="stylesheet"], style')
        .forEach(function (style) {
            styles += style.outerHTML;
        });

    frameDoc.open();
    frameDoc.write(`
        <html>
        <head>
            <title>Employee Loan Report</title>
            ${styles}
        </head>
        <body>${content}</body>
        </html>
    `);
    frameDoc.close();

    setTimeout(function () {

        printFrame.contentWindow.focus();
        printFrame.contentWindow.print();

        // Remove iframe after printing
        document.body.removeChild(printFrame);

        // Show print button again
        document.getElementById("btnPrint").style.display = "block";

    }, 500);
}
</script>


@*<script>
function Print() {
    // Show loader if you have one
    $(".Userloaderbg").css("display", "flex");

    // Get the HTML content of the div that contains the data
    var content = document.getElementById('divPrint').innerHTML;

    // Create an invisible iframe to print from
    var printFrame = document.createElement('iframe');
    printFrame.style.position = 'absolute';
    printFrame.style.left = '-9999px';
    document.body.appendChild(printFrame);

    var frameDoc = printFrame.contentWindow || printFrame.contentDocument;
    if (frameDoc.document) frameDoc = frameDoc.document;

    // Collect all current stylesheets and style tags
    var styles = '';
    document.querySelectorAll('link[rel="stylesheet"], style').forEach(function(style) {
        styles += style.outerHTML;
    });

    // Write the content into the iframe
    frameDoc.open();
    frameDoc.write(`<html>
        <head>
            <title>Employee Loan Report</title>
            ${styles} <!-- include all current styles -->
        </head>
        <body>${content}</body>
    </html>`);
    frameDoc.close();

    // Focus and print
    printFrame.contentWindow.focus();
    printFrame.contentWindow.print();

    // Remove the iframe
    document.body.removeChild(printFrame);

    // Hide loader
    $(".Userloaderbg").css("display", "none");
}
</script>*@



