@model KompassHR.Areas.Module.Models.Module_Payroll.PayrollBonus

@{
    ViewBag.Title = "Module_Payroll_YearlyBonusPaid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
    .tblAddData tbody tr{
         height: 10px; 
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Yearly Bonus Paid
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu",  new {id =6, ScreenId=159})">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Yearly Bonus Paid- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Yearly Bonus Paid
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Module_Payroll_YearlyBonusPaid", "Module_Payroll_YearlyBonusPaid", new { area = "Module" })' id="formYearlyBonus" method="post">
                                @Html.HiddenFor(model => model.BonusId_Encrypted, new { id = "txtBonusId_Encrypted" })
                                @Html.HiddenFor(model => model.BonusId, new { id = "txtAttendanceCycleId" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlCmpId", name = "CmpId", onchange = "OnCompanyChange()" })
                                                <span id="errCmpId" class="text-danger"></span>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlBranchId", name = "BranchId", autocomplete = "Off" })
                                                <span id="errBranchId" class="text-danger"></span>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Financial MonthYear
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.FinantialYear, new SelectList(ViewBag.GetMonthYear, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlFinantialYear", name = "FinantialYear", autocomplete = "Off" })
                                                <span id="errFinYear" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                              Paid MonthYear
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.Month, new { @class = "form-control", name = "Month", type = "month", id = "GetMonth" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div class="mb-4">
                                                <button type="button" id="btnshow" onclick="ShowYearlyBonus()" class="btn btn-primary btn-sm">
                                                    Show
                                                </button>

                                                <button type="button" class="btn btn-success btn-sm" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                    <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover mb-0 text-dark align-middle tblAddData TablePageAccess">
                                                    <thead style="background-color: rgba(233, 236, 239, 1) !important; position: sticky; top: 0; z-index: 1;">
                                                        <tr class="trheading">
                                                            <th class="text-center" style="width:70px;"><label><input type="checkbox" class="allChecked" name="checkbox" id="AllCheckBox" value="value"><b>&nbsp; All</b></label></th>
                                                            <th class="text-Left"  style="display:none">Bonus Encryped Id</th>
                                                            <th class="text-Left"  style="display:none">Employee Id</th>
                                                            <th class="text-Left">Employee No</th>
                                                            <th class="text-Left">Employee Name</th>
                                                            @*<th class="text-Left" style="display:none">Month</th>*@
                                                            <th class="text-Left">Amount</th>
                                                            <th class="text-Left" style="display:none">Remark</th>
                                                            <th class="text-Left">Paid Remark</th>
                                                         
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblEmployee" style="max-height: 250px; overflow-y: auto;">
                                                        @if (ViewBag.GetEmployeeList != null)
                                                        {
                                                            foreach (var d in ViewBag.GetEmployeeList)
                                                            {

                                                                <tr>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" class="rowCheckbox" name="selectedEmployees" value="@d.EmployeeNo" />
                                                                    </td>
                                                                    <td  style="display:none">@d.BonusId_Encrypted</td>
                                                                    <td  style="display:none">@d.BonusEmpId</td>
                                                                    <td>@d.EmployeeNo</td>
                                                                    <td>@d.EmployeeName</td>
                                                                    <td>@d.Amount</td>
                                                                    <td style="display:none">@d.Remark</td>
                                                                    @*<td class="month-column" style="display:none">@d.Month</td>*@

                                                                    @*<td class="month-column" style="display:none">@d.Month.ToString("MMM/yyyy")</td>*@
                                                                    @*<td>
                                                                        <input type="number" class="form-control" />
                                                                    </td>*@
                                                                    <td>
                                                                        <input type="text" class="form-control" style="height:20px; padding:0;"/>
                                                                    </td>
                                                                </tr>
                                                                }
                                                                }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                          
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    function OnCompanyChange() {
        debugger
        var CmpId = document.getElementById("ddlCmpId").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetBusinessUnit", "Module_Payroll_YearlyBonusPaid")',
            data: { CmpId: CmpId},
            success: function (data) {
                var $BusinessUnitDropdown = $("#ddlBranchId");
                $BusinessUnitDropdown.empty();

                if (data && data.length > 0) {
                    $BusinessUnitDropdown.append("<option value=''>--Select--</option>");
                    $.each(data, function (i, module) {
                        $BusinessUnitDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $BusinessUnitDropdown.append("<option>--Select--</option>");
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#ddlBranchId").empty().append("<option>Error loading modules</option>");
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $("#ddlFinantialYear").select2();
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
    });
    $("#AllCheckBox").on("click", function () {
        debugger;
        var isChecked = $(this).prop('checked');
        $("#tblEmployee tr").each(function () {
            $(this).find("input").prop('checked', isChecked);
        });
    });
</script>

<script>
    function downloadExcelFile() {
    var tableData = [];

    $(".tblAddData tbody tr").each(function () {
        var $row = $(this); // define $row
        var isChecked = $row.find("td:eq(0) input.rowCheckbox").is(":checked");
        if (isChecked) {
            var row = {};
            row.EmployeeNo = $row.find('td:eq(3)').text().trim();
            row.EmployeeName = $row.find('td:eq(4)').text().trim();
            row.Amount = parseFloat($row.find('td:eq(5)').text().trim()) || 0;
            row.PaidRemark = $row.find('td:eq(7) input').val().trim();
            tableData.push(row);
        }
    });

    if (tableData.length === 0) {
        Swal.fire({
            icon: 'warning',
            title: 'Oops!',
            text: 'Please select at least one row to export.',
            confirmButtonText: 'OK'
        });
        return;
    }

    $.ajax({
        url: '@Url.Action("DownloadExcelFile", "Module_Payroll_YearlyBonusPaid")',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(tableData), 
        xhrFields: { responseType: 'blob' },
        success: function (data) {
            var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "YearlyBonus.xlsx";
            link.click();
        }
    });
}
</script>

<script>
    $(document).ready(function () {
        debugger
        $("#btnshow").click(function () {
            var CmpId = $("#ddlCmpId").val();
            var BranchId = $("#ddlBranchId").val();
            var FinantialYear = $("#ddlFinantialYear").val();
          var Month = $("#GetMonth").val();

          //if (!CmpId || !BranchId || !FinantialYear) {
          //      alert("Please select both Company and Branch.");
          //      return;
            //  }

          let isError = false;

          if (!CmpId) {
              $("#errCmpId").text("Please select Company");
              isError = true;
          }

          if (!BranchId) {
              $("#errBranchId").text("Please select Branch");
              isError = true;
          }

          if (!FinantialYear) {
              $("#errFinYear").text("Please select Financial Year");
              isError = true;
          }

          if (isError) {
              return false; 
          }


            window.location.href = '@Url.Action("Module_Payroll_YearlyBonusPaid", "Module_Payroll_YearlyBonusPaid")'
                + '?CmpId=' + encodeURIComponent(CmpId)
                + '&BranchId=' + encodeURIComponent(BranchId)
               + '&FinantialYear=' + encodeURIComponent(FinantialYear)
              + '&Month=' + encodeURIComponent(Month);
        });
    });
</script>

<script>
    $("#formYearlyBonus").validate({
        rules: {
            
            Month:
             {
                required: true,
             }
        },
        messages: {
            Month:
              {
                 required: "Select the Paid Month",
              },
        },
        errorPlacement: function (error, element) {
            if (element.hasClass("select2-hidden-accessible")) {
                error.insertAfter(element.next('.select2'));
            } else {
                error.insertAfter(element);
            }
        },
    });

    var form = $("#formYearlyBonus");
    form.validate();

        $("#btnSubmit").click(function (e) {
            e.preventDefault();  
            debugger;

            if (form.valid() === false) {
                return false;
            }

        var employeeData = [];

        $('#tblEmployee tr').each(function () {
            var $row = $(this);
            var isChecked = $row.find('.rowCheckbox').prop('checked');
            if (isChecked) {
                var BonusId_Encrypted = $row.find('td:eq(1)').text().trim();
                var employeeId = $row.find('td:eq(2)').text().trim();
                var employeeNo = $row.find('td:eq(3)').text().trim(); 
                var employeeName = $row.find('td:eq(4)').text().trim();
                var amount = parseFloat($row.find('td:eq(5)').text().trim()) || 0; 
                var Remark = $row.find('td:eq(6)').text().trim();
                var paidRemark = $row.find('td:eq(7) input').val().trim(); 
              //  var month = $row.find('td:eq(6)').text().trim();

                     employeeData.push({
                    BonusId_Encrypted: BonusId_Encrypted,
                    employeeId:employeeId,
                    EmployeeNo: employeeNo,
                    EmployeeName: employeeName,
                    Amount: amount,
                    PaidRemark: paidRemark,
                    Remark: Remark,
                   // Month: month
                });
            }
        });

        console.log(employeeData); 

        var payload = {
            CmpId: $("#ddlCmpId").val(),
            BranchId: $("#ddlBranchId").val(),
            FinantialYear: $("#ddlFinantialYear").val(),
            PaidMonth:$("#GetMonth").val(),
            EmployeeData: employeeData
        };
        if (employeeData.length === 0) {
            Swal.fire({
                icon: 'warning',
                text: 'Please select at least one employee.'
            });
            return false;
        }

        $.ajax({
            url: '@Url.Action("SaveUpdate", "Module_Payroll_YearlyBonusPaid", new { area = "Module" })',
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(payload),
            //success: function (response) {
            //    Swal.fire({
            //        icon: 'success',
            //        text: 'Data saved successfully!'
            //    }).then(() => {
            //        location.reload();
            //    });
            //},
            success: function (response) {

                Swal.fire({
                    icon: response.icon,      
                    text: response.message   
                }).then(() => {
                    location.reload();
                });
            },

            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    text: 'An error occurred while saving the data.'
                });
            }
        });
    });
</script>



