@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_InvestmentDeclaration_PreviousEmployer

@{
    ViewBag.Title = "ESS_Tax_Investment_PreviousEmployerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>


<style>
    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    body {
        font-family: 'Montserrat', sans-serif;
    }

        body.swal2-shown > [aria-hidden="true"] {
            /* transition: 0.1s filter; */
            filter: blur(2px);
        }

    .invoice {
        border-radius: 12px;
        border: 3px solid #fff;
        padding: 10px 20px !important;
        margin-bottom: 10px;
        backdrop-filter: blur(25px) saturate(00%);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
    }

        .invoice > div:not(.invoice-footer) {
            margin: 0;
        }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*This is use for input type number remove up down arrow in textbox*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*This is use for add my own Error class font color*/
    .Error {
        font-size: 12px;
        color: red;
    }


    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
         position: sticky;
         left:0;
     }
      .fixed-side {
         position: sticky;
         left:0;
     }*/

    /*This is use for add Table horizontal Scroll*/
    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    /*use For Back button Rotaion change*/
    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .form-label.col-5 {
        font-weight: bold; /* Adjust the weight as needed */
    }

    .form-label.col-md-3 {
        font-weight: bold;
    }

    .form-label.col-md-9 {
        font-weight: bold;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 13px;
        color: red;
        font-size: 12px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Previous Employer Details
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new {id = 9, ScreenId=176, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">  Previous Employer Details</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add here previous employer details.
                    </p>
                </div>
                <div class="panel-body" @*style="overflow: auto !important;"*@>
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_Tax_Investment_PreviousEmployerDetails", new { area = "ESS" })" id="SavePreviousEmployerDetails" name="PreviousEmployerDetails" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            <span>
                                                <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            @if (TempData["SubmitValid"] != null)
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Previous Employer Details
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.PreviousEmployerName, new { @class = "form-control rnt", id = "txtPreviousEmployerName", autocomplete = "Off", name = "PreviousEmployerName" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Address
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.PreviousEmployerAddress, new { @class = "form-control rnt", id = "txtPreviousEmployerAddress", autocomplete = "Off", name = "PreviousEmployerAddress" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Salary Month<br />
                                                @Html.ValidationMessageFor(model => model.PreviousEmployerSalaryMonth, "", new { @class = "help-block", @id = "ErrorSalaryMonth", @style = "color:red" })
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerSalaryMonth, new { @class = "form-control", id = "txtPreviousEmployerSalaryMonth", type = "month", autocomplete = "Off", name = "PreviousEmployerSalaryMonth" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Gross Salary
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerGrossSalary, new { @class = "form-control rnt", id = "txtPreviousEmployerGrossSalary", type = "number", autocomplete = "Off", name = "PreviousEmployerGrossSalary", @style = "text-align:right", Value = "0" })
                                                <span id="GrossSalError" class="Error"></span>

                                            </div>
                                        </div>

                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Professional Tax
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerProfessionalTax, new { @class = "form-control rnt", id = "txtPreviousEmployerProfessionalTax", type = "number", autocomplete = "Off", name = "PreviousEmployerProfessionalTax", @style = "text-align:right", Value = "0" })

                                            </div>
                                        </div>

                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Investment Under
                                                Section 80-C(Only PF)
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployer80C, new { @class = "form-control rnt", id = "txtPreviousEmployer80C", type = "number", autocomplete = "Off", name = "PreviousEmployer80C", @style = "text-align:right", Value = "0" })

                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Joining Date
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerJoiningDate, new { @class = "form-control", id = "txtPreviousEmployerJoiningDate", type = "date", autocomplete = "Off", name = "PreviousEmployerJoiningDate" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Tax Deducated at
                                                Source(TDS)
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerTaxDeductedAtSource, new { @class = "form-control rnt", id = "txtPreviousEmployerTaxDeductedAtSource", type = "number", autocomplete = "Off", name = "PreviousEmployerTaxDeductedAtSource", @style = "text-align:right", Value = "0" })

                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                NPS Employee
                                                Contribution (80CCD-1B)
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerNPSEmployeeContribution80CCD1B, new { @class = "form-control rnt", id = "txtPreviousEmployerNPSEmployeeContribution80CCD1B", type = "number", autocomplete = "Off", name = "PreviousEmployerNPSEmployeeContribution80CCD1B", @style = "text-align:right", Value = "0" })

                                            </div>
                                        </div>

                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                NPS Employer
                                                Contribution (80CCD(2))
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerNPSEmployerContribution80CCD2, new { @class = "form-control rnt", id = "txtPreviousEmployerNPSEmployerContribution80CCD2", type = "number", autocomplete = "Off", name = "PreviousEmployerNPSEmployerContribution80CCD2", @style = "text-align:right", Value = "0" })

                                            </div>
                                        </div>



                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-9">
                                                Leaving Date<br />
                                                @Html.ValidationMessageFor(model => model.PreviousEmployerLeavingDate, "", new { @class = "help-block", @id = "ErrorPreviousEmployerLeavingDate", @style = "color:red" })
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.PreviousEmployerLeavingDate, new { @class = "form-control", id = "txtPreviousEmployerLeavingDate", type = "date", autocomplete = "Off", name = "PreviousEmployerLeavingDate" })

                                            </div>
                                        </div>


                                        <div class="row mb-15px">
                                            <div class="col-md-9"></div>
                                            <div class="col-md-3 d-flex justify-content-end">
                                                <button type="button" id="btnAdd"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-plus"></i> Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BEGIN table-responsive -->
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered table-hover mb-0 " id="tblEmployeeWise" style="width: 100%;">
                                            <thead>
                                                <tr class="trheading">
                                                    <th class="fixed-side">Action</th>
                                                    <th class="fixed-side1">Employer Name</th>
                                                    <th class="text-nowrap">Address</th>
                                                    <th class="text-nowrap">Salary Month</th>
                                                    <th class="text-nowrap">Gross Salary</th>
                                                    <th class="text-nowrap">Professional Tax</th>
                                                    <th class="text-nowrap">Investment Under Section 80-C(Only PF)</th>
                                                    <th class="text-nowrap">Tax Deducated at Source(TDS)</th>
                                                    <th class="text-nowrap">NPS Employee Contribution</th>
                                                    <th class="text-nowrap">NPS Employer Contribution</th>
                                                    <th class="text-nowrap">Joining Date</th>
                                                    <th class="text-nowrap">Leaving Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblPreviousEmployerDetails"></tbody>
                                        </table>
                                        <span id="tbllength" class="Error"></span>
                                    </div>
                                </div>
                                <!-- END table-responsive -->
                                <br />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Unemployed In Previous Year Details
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">

                                    </label>
                                    <div class="col-md-3">
                                        @Html.CheckBoxFor(model => model.Previous_Er_Unemployed, new { id = "chkUnemployedInPreviousYear", @class = "UnemployedInPreviousYear" })
                                        &nbsp;   <b>Unemployed In PreviousYear</b>
                                    </div>

                                </div>

                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        <b>Description</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Previous_Er_UnemployedDescription, new { @class = "form-control rnt", id = "txtUnemployedInPreviousYearDescription", type = "text", autocomplete = "Off", name = "UnemployedInPreviousYearDescription" })

                                    </div>
                                </div>

                                <br />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Proof Upload
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                <b>Income proof of Previous Employer</b>
                                            </label>
                                            <div class="col-md-5">
                                                <input type="file" name="AttachFile" class="form-control" id="txtPreviousEmployerDetails" onchange="ResetFile('PreviousEmployerDetails')" />
                                                <span id="errorPreviousEmployerDetails" class="error" style="display:none"></span>
                                                @Html.HiddenFor(model => model.Previous_Er_ProofUpload, new { id = "Previous_Er_ProofUpload" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(model => model.Previous_Er_ProofUpload, new { id = "FilePath", @class = "form-control", disabled = "disabled" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<h5>Income proof of Previous Employer</h5>
                                            <div class="col-md-6">
                                                <input type="file" name="AttachFile" class="form-control" id="txtPreviousEmployerDetails" onchange="ResetFile('PreviousEmployerDetails')" />
                                                <span id="errorPreviousEmployerDetails" class="error" style="display:none"></span>
                                            </div>*@
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <button type="button" id="" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new { area = "ESS",id=9,ScreenId=176 })'">
                                                    <i class="fa-solid fa-share-from-square"></i> Back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    function SomeDeleteRowFunction(btndel) {
        debugger;
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if(Icon=="error")
        {
            if (Message != null) {
                if (Icon != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            // return false
                        }
                    }).then(function() {
                        window.location.href = '@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu")';
                    });
                }
            }
        }
        else{
            if (Message != null) {
                if (Icon != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            // return false
                        }
                    }).then(function() {
                        window.location.reload();
                    });
                }
            }
        }

        //To Get List In Inner HTML
        debugger;
        var PreviousEmployerDetailsList =@Html.Raw(Json.Encode(ViewBag.PreviousEmployerDetailsListBag));
        if (PreviousEmployerDetailsList != null) {
            for (var i = 0; i <= PreviousEmployerDetailsList.length - 1; i++) {
                var table = document.getElementById("tblPreviousEmployerDetails");
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                var count = $('#tblPreviousEmployerDetails tr').length;

                // Delete button
                row.insertCell(0).innerHTML = '<center><i class="fa-regular fa-trash-can fa-xl" onClick="SomeDeleteRowFunction(this,\'\')" id="btnDelete" style="color:#ff5b57"></i></center>';

                // Employer Name
                row.insertCell(1).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerName;

                // Employer Address
                row.insertCell(2).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerAddress;

                // Salary Month (/Date(x)/ to Month/Year)
                var salaryMonthRaw = PreviousEmployerDetailsList[i].PreviousEmployerSalaryMonth;
                var salaryMonthDate = new Date(parseInt(salaryMonthRaw.substr(6)));
                var salaryMonthFormatted = salaryMonthDate.toLocaleString('default', { month: 'short', year: 'numeric' }).replace(" ", "/");
                row.insertCell(3).innerHTML = salaryMonthFormatted;

                // Gross Salary
                row.insertCell(4).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerGrossSalary;

                // Professional Tax
                row.insertCell(5).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerProfessionalTax;

                // 80C
                row.insertCell(6).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployer80C;

                // Tax Deducted at Source
                row.insertCell(7).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerTaxDeductedAtSource;

                // NPS Employee Contribution 80CCD1B
                row.insertCell(8).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerNPSEmployeeContribution80CCD1B;

                // NPS Employer Contribution 80CCD2
                row.insertCell(9).innerHTML = PreviousEmployerDetailsList[i].PreviousEmployerNPSEmployerContribution80CCD2;

                // Joining Date (/Date(x)/ to normal date)
                var joiningDateRaw = PreviousEmployerDetailsList[i].PreviousEmployerJoiningDate;
                var joiningDateObj = new Date(parseInt(joiningDateRaw.substr(6)));
                var dd = String(joiningDateObj.getDate()).padStart(2, '0');
                var mmm = joiningDateObj.toLocaleString('default', { month: 'short' });
                var yyyy = joiningDateObj.getFullYear();
                var joiningDateFormatted = dd + "/" + mmm + "/" + yyyy;
                row.insertCell(10).innerHTML= joiningDateFormatted;
                // Leaving Date (/Date(x)/ to dd/MMM/yyyy)
                var leavingDateRaw = PreviousEmployerDetailsList[i].PreviousEmployerLeavingDate;
                var leavingDateObj = new Date(parseInt(leavingDateRaw.substr(6)));
                var dd = String(leavingDateObj.getDate()).padStart(2, '0');
                var mmm = leavingDateObj.toLocaleString('default', { month: 'short' });
                var yyyy = leavingDateObj.getFullYear();
                var leavingDateFormatted = dd + "/" + mmm + "/" + yyyy;
                row.insertCell(11).innerHTML = leavingDateFormatted;
            }
        }

        //BtnSubmit
        var SubmitCheck = @Html.Raw(Json.Encode(TempData["SubmitValid"]));

        $("#btnSubmit").click(function () {
            debugger;

            if (!SubmitCheck) {
                Swal.fire({
                    icon: 'error',
                    text: 'Declaration window is closed',
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup();
                        popup.classList.remove('swal2-show');
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake');
                        }, 100);
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake');
                        }, 500);
                        return false;
                    }
                });
                return false;
            }

            $("#tbllength").html("");
            let formData = new FormData();
            var table = document.getElementById("tblPreviousEmployerDetails");
            var rowCount = table.rows.length;

            var UnemployedInPreviousYear = $("#chkUnemployedInPreviousYear").prop("checked");

            if (UnemployedInPreviousYear) {
                var file = $("#txtPreviousEmployerDetails").get(0).files[0];
                var uploadedPath = $("#Previous_Er_ProofUpload").val();
                var description = $("#txtUnemployedInPreviousYearDescription").val();

                if (!file && !uploadedPath) {
                    $("#errorPreviousEmployerDetails").html("Choose a file").css("display", "flex");
                    return false;
                } else {
                    $("#errorPreviousEmployerDetails").html("").css("display", "none");
                }

                formData.append("Task", JSON.stringify("")); // Empty task
                formData.append("AttachFile", file);
                formData.append("UnemployedInPreviousYear", true);
                formData.append("UnemployedInPreviousYearDescription", description);
            } else {
                if (rowCount == 0) {
                    $("#tbllength").html("Add at least one row");
                    return false;
                }

                var Task = [];
                for (var i = 0; i < rowCount; i++) {
                    var data = {
                        PreviousEmployerName: table.rows[i].cells[1].innerText,
                        PreviousEmployerAddress: table.rows[i].cells[2].innerText,
                        PreviousEmployerSalaryMonth: table.rows[i].cells[3].innerText,
                        PreviousEmployerGrossSalary: table.rows[i].cells[4].innerText,
                        PreviousEmployerProfessionalTax: table.rows[i].cells[5].innerText,
                        PreviousEmployer80C: table.rows[i].cells[6].innerText,
                        PreviousEmployerTaxDeductedAtSource: table.rows[i].cells[7].innerText,
                        PreviousEmployerNPSEmployeeContribution80CCD1B: table.rows[i].cells[8].innerText,
                        PreviousEmployerNPSEmployerContribution80CCD2: table.rows[i].cells[9].innerText,
                        PreviousEmployerJoiningDate: table.rows[i].cells[10].innerText,
                        PreviousEmployerLeavingDate: table.rows[i].cells[11].innerText
                    };
                    Task.push(data);
                }

                var fileInput = document.getElementById("txtPreviousEmployerDetails");
                var file = fileInput.files[0];
                formData.append("UnemployedInPreviousYear", false);
                formData.append("Task", JSON.stringify(Task));
                formData.append("AttachFile", file);
            }

            $(".Userloaderbg").css("display", "flex");

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveUpdate", "ESS_Tax_Investment_PreviousEmployerDetails")',
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (response) {
                    var message = response.Message;
                    var icon = response.Icon;

                    if (message) {
                        Swal.fire({
                            icon: icon,
                            text: message,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup();
                                popup.classList.remove('swal2-show');
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake');
                                }, 100);
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake');
                                }, 500);
                                return false;
                            }
                        }).then(() => {
                            window.location.reload();
                        });
                    }
                },
                error: function (err) {
                    console.error("Submission error", err);
                }
            });
        });
    });//ready Funcation

</script>

<script>
    //btn Addinto Rows
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);
    $('#SavePreviousEmployerDetails').validate({
        rules: {
            PreviousEmployerName: {
                required: true,
                regex: /^[a-zA-Z ]+$/,
            },
            PreviousEmployerAddress: {
                required: true,
            },
            PreviousEmployerGrossSalary: {
                required: true,
            },
        },
        messages: {
            PreviousEmployerName: {
                required: "Please enter previous employer name",
                regex: "Only alphabet allowed"
            },
            PreviousEmployerAddress: {
                required: "Please enter previous employer address",
            },
            PreviousEmployerGrossSalary: {
                required: "Insert gross salary",
            },
        },
    });

    var form = $("#SavePreviousEmployerDetails");
    form.validate();
    $("#btnAdd").click(function (e) {
        e.preventDefault();
        debugger;

        form.valid();
        if (form.valid() == false) {
            return false;
        }

        var GrossSal = $("#txtPreviousEmployerGrossSalary").val();
        if (GrossSal == 0 || GrossSal == "" || isNaN(GrossSal)) {
            $("#GrossSalError").html("Greater Than 0");
            return false;
        } else {
            $("#GrossSalError").html("");
        }

        var PreviousEmployerName = $('#txtPreviousEmployerName').val();
        var PreviousEmployerAddress = $('#txtPreviousEmployerAddress').val();
        var PreviousEmployerGrossSalary = $('#txtPreviousEmployerGrossSalary').val();
        var PreviousEmployerProfessionalTax = $('#txtPreviousEmployerProfessionalTax').val();
        var PreviousEmployer80C = $('#txtPreviousEmployer80C').val();
        var PreviousEmployerTaxDeductedAtSource = $('#txtPreviousEmployerTaxDeductedAtSource').val();
        var PreviousEmployerNPSEmployeeContribution80CCD1B = $('#txtPreviousEmployerNPSEmployeeContribution80CCD1B').val();
        var PreviousEmployerNPSEmployerContribution80CCD2 = $('#txtPreviousEmployerNPSEmployerContribution80CCD2').val();
        var PreviousEmployerSalaryMonth = $('#txtPreviousEmployerSalaryMonth').val();
        var PreviousEmployerJoiningDate = $('#txtPreviousEmployerJoiningDate').val();
        var PreviousEmployerLeavingDate = $('#txtPreviousEmployerLeavingDate').val();

        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        const formatDate = (dateStr) => {
            const date = new Date(dateStr);
            if (isNaN(date)) return '';
            return `${date.getDate().toString().padStart(2, '0')}/${months[date.getMonth()]}/${date.getFullYear()}`;
        }

        const formatMonthYear = (dateStr) => {
            const date = new Date(dateStr);
            if (isNaN(date)) return '';
            return `${months[date.getMonth()]}/${date.getFullYear()}`;
        }

        const formattedSalaryMonth = formatMonthYear(PreviousEmployerSalaryMonth);
        const formattedJoiningDate = formatDate(PreviousEmployerJoiningDate);
        const formattedLeavingDate = formatDate(PreviousEmployerLeavingDate);

        // 🔍 Check for duplicate dates
        let isDuplicate = false;
        $('#tblPreviousEmployerDetails tr').each(function () {
            const tds = $(this).find('td');
            if (tds.length === 0) return;

            const existingSalaryMonth = tds.eq(3).text().trim();
            const existingJoiningDate = tds.eq(10).text().trim();
            const existingLeavingDate = tds.eq(11).text().trim();

            if (
                existingSalaryMonth === formattedSalaryMonth
            ) {
                isDuplicate = true;
                return false; // Exit .each loop
            }

            if (
               existingJoiningDate === formattedJoiningDate
           ) {
                isDuplicate = true;
                return false; // Exit .each loop
            }

            if (
               existingLeavingDate === formattedLeavingDate
           ) {
                isDuplicate = true;
                return false; // Exit .each loop
            }
        });

        if (isDuplicate) {
            Swal.fire({
                icon: 'warning',
                title: 'Duplicate Entry',
                text: 'A record with the same Salary Month, Joining Date, and Leaving Date already exists.',
            });
            return false;
        }

        // ✅ Add new row
        const table = document.getElementById("tblPreviousEmployerDetails");
        const rowCount = table.rows.length;
        const row = table.insertRow(rowCount);

        row.insertCell(0).innerHTML = `<center><i class="fa-regular fa-trash-can fa-xl" onClick="SomeDeleteRowFunction(this,'')" id="btnDelete" style="color:#ff5b57"></i></center>`;
        row.insertCell(1).innerHTML = PreviousEmployerName;
        row.insertCell(2).innerHTML = PreviousEmployerAddress;
        row.insertCell(3).innerHTML = formattedSalaryMonth;
        row.insertCell(4).innerHTML = PreviousEmployerGrossSalary;
        row.insertCell(5).innerHTML = PreviousEmployerProfessionalTax;
        row.insertCell(6).innerHTML = PreviousEmployer80C;
        row.insertCell(7).innerHTML = PreviousEmployerTaxDeductedAtSource;
        row.insertCell(8).innerHTML = PreviousEmployerNPSEmployeeContribution80CCD1B;
        row.insertCell(9).innerHTML = PreviousEmployerNPSEmployerContribution80CCD2;
        row.insertCell(10).innerHTML = formattedJoiningDate;
        row.insertCell(11).innerHTML = formattedLeavingDate;

        // 🔄 Reset all fields
        $('#txtPreviousEmployerSalaryMonth, #txtPreviousEmployerJoiningDate, #txtPreviousEmployerLeavingDate').val('');
        $('#txtPreviousEmployerGrossSalary, #txtPreviousEmployerStandardDeduction, #txtPreviousEmployerProfessionalTax, #txtPreviousEmployer80C, #txtPreviousEmployerTaxDeductedAtSource, #txtPreviousEmployerSelfOccupiedHousePropertyRepayment, #txtPreviousEmployerMediclaim80D, #txtPreviousEmployerHandicappedDependent80DD, #txtPreviousEmployerTreatmentOfSpecifiedDiseases80DDB, #txtPreviousEmployerInterestOnEducationalLoan80E, #txtPreviousEmployerPhysicallyhandicapped80U, #txtPreviousEmployerNPSEmployeeContribution80CCD1B, #txtPreviousEmployerNPSEmployerContribution80CCD2').val('0');
    });


    $("#txtPreviousEmployerJoiningDate, #txtPreviousEmployerLeavingDate").on('change', function () {
        var txtPreviousEmployerJoiningDate = $("#txtPreviousEmployerJoiningDate").val();
        var txtPreviousEmployerLeavingDate = $("#txtPreviousEmployerLeavingDate").val();

        if (new Date(txtPreviousEmployerJoiningDate) > new Date(txtPreviousEmployerLeavingDate)) {
            $("#ErrorPreviousEmployerLeavingDate").html("Leaving Date should not be less than Joining Date");
            return false;
        } else {
            $("#ErrorPreviousEmployerLeavingDate").html("");
        }
    });
</script>

<script>
    function ResetFile(Origin) {
        debugger
        var a = "txt" + Origin; // Correct concatenation

        let allowedExtension = [
            'image/jpeg',
            'image/jpg',
            'image/png',
            'application/pdf',
            'application/msword', // .doc
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document', // .docx
            'application/zip', // .zip
            'application/x-zip-compressed', // Some browsers use this for ZIP
            'multipart/x-zip' // Additional MIME type for ZIP
        ];

        let maxSize = 1 * 1024 * 1024; // 1 MB in bytes

        let fileInput = document.getElementById(a);

        if (!fileInput || !fileInput.files.length) {
            Swal.fire({
                icon: "error",
                text: "No file selected.",
            });
            return;
        }

        let file = fileInput.files[0];
        let type = file.type;
        let size = file.size;

        // Check file type
        if (allowedExtension.indexOf(type) === -1) {
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf/docx/doc/zip",
            });
            fileInput.value = null;
            return;
        }

        // Check file size
        if (size > maxSize) {
            Swal.fire({
                icon: "error",
                text: "File size should not exceed 1 MB.",
            });
            fileInput.value = null;
            return;
        }
    }
</script>