@model KompassHR.Areas.Setting.Models.Setting_TimeOffice.Atten_ShiftChangeSetting
@{
    ViewBag.Title = "Setting_TimeOffice_ShiftChange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Shift Change
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_TimeOffice_Menu", "Setting_TimeOffice_Menu", new { id = 5, ScreenId =51, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Shift Change - <Span>@ViewBag.AddUpdateTitle</Span></h4>
                
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define shift change manual here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_TimeOffice_ShiftChange", new { area = "Setting" })' id="SaveShiftChange" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", @required = "required" })
                                                @Html.HiddenFor(model => model.ShiftChangeSettingId_Encrypted, new { @id = "ShiftChangeSettingId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ShiftChangeSettingBranchId, new SelectList(ViewBag.BusinessUnit, "Id", "Name"), "--Select--", new { @class = "form-control", @id = "ddlShiftChangeSettingBranchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Monthly Limit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MonthlyLimit, new { @class = "form-control", id = "txtMonthlyLimit", autocomplete = "Off", name = "MonthlyLimit", onKeypress = "return onlyNumbers(event);", MaxLength = 2 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Auto Approval (in Days)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AutoApprovalDays, new { @class = "form-control", id = "txtAutoApprovalDays", autocomplete = "Off", name = "AutoApprovalDays", onKeypress = "return onlyNumbers(event);", MaxLength = 2 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Back Date Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.BackDateDays, new { @class = "form-control", id = "txtBackDateDays", autocomplete = "Off", name = "BackDateDays", onKeypress = "return onlyNumbers(event);", MaxLength = 2 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Future Date Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FutureDateDays, new { @class = "form-control", id = "txtFutureDateDays", autocomplete = "Off", name = "FutureDateDays", onKeypress = "return onlyNumbers(event);", MaxLength = 2 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                            </label>
                                            <label class="form-label col-form-label col-md-10">
                                                @Html.CheckBoxFor(model => model.IsDefault, new { id = "chkIsDefault", @class = "chkIsDefault" })
                                                &nbsp;   This Setting Is Applied By Default For Contractor Employees During Bulk Insert.
                                            </label>
                                        </div>
                                    </div>*@

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_TimeOffice_ShiftChange", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnPunchMissingList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCompanyName").select2();
        $("#ddlShiftChangeSettingBranchId").select2();
        $('title').html("Shift Change");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        $("#ddlCompanyName").on("change", function () {
            $("#ddlShiftChangeSettingBranchId").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_TimeOffice_ShiftChange")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlShiftChangeSettingBranchId").append("<option value=''>--Select--</option>");
                        $.each(data, function(i, p) {
                            $("#ddlShiftChangeSettingBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                }
            })
        });

    });//ready function
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
        "regex",
         function(value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         },"erreur expression reguliere"
      );
    $("#SaveShiftChange").validate({
        rules: {
            CmpId:{
                required: true,
            },
            ShiftChangeSettingBranchId:{
                required: true,
            },

            AutoApprovalDays: {
                required: true,
            },
            BackDateDays: {
                required: true,
            },
            MonthlyLimit: {
                required: true,
            },
            FutureDateDays: {
                required: true,
            },
        },
        messages: {
            CmpId:{
                required: "Company name is required",
            },
            ShiftChangeSettingBranchId:{
                required: "Business unit is required",
            },

            AutoApprovalDays: {
                required: "Auto approval days is required",
            },
            BackDateDays: {
                required: "Back date days is required",
            },
            MonthlyLimit: {
                required: "Monthly limit is required",
            },
            FutureDateDays: {
                required: "Future Date Days is required",
            },

        }
    });

    var form = $("#SaveShiftChange");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var CmpId=$("#ddlCompanyName").val();
        var BusinessUnit=$("#ddlShiftChangeSettingBranchId").val();
        var ShiftChangeSettingId_Encrypted=$("#ShiftChangeSettingId_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsshiftChangeExists", "Setting_TimeOffice_ShiftChange")',
            method:"get",
            data :{ShiftChangeSettingId_Encrypted:ShiftChangeSettingId_Encrypted,CmpId:CmpId,BusinessUnit:BusinessUnit},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveShiftChange").submit();
                }
            }
        });

    });

    function onlyNumbers(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>



