@model KompassHR.Areas.ESS.Models.ESS_FNF.FNF_Calculation

@{
    ViewBag.Title = "ESS_FNF_FNFSalaryCalculation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<style>
    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Salary Calculation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_FNF_Menu", "ESS_FNF_Menu",  new { id = 7,ScreenId=168, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Salary Calculation -@ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Below is a salary calculation details here.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body" data-scrollbar="true">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form" action='@Url.Action("SaveUpdate", "ESS_Training_TrainingTrainer", new { area = "ESS" })' id="Trainer" method="post" enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="empbx">
                                                        <span>
                                                            <h4> <i class="fa-solid fa-user"></i> @Session["FNFEmployeeName"] -  @Session["FNFEmployeeId"] </h4>
                                                        </span>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="panel-heading blackHeadDiv text-center mb-2"
                                                         style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                                                        <h5 class="panel-title">Days</h5>
                                                    </div>
                                                  
                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-5 col-form-label">Wages Type <span class="important">*</span></label>
                                                        <div class="col-lg-7">
                                                            @Html.TextBoxFor(model => model.DailyMonthly, new { @class = "form-control", type = "text" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-5 col-form-label">Payable Days <span class="important">*</span></label>
                                                        <div class="col-lg-7">
                                                            @Html.TextBoxFor(model => model.PayableDays, new { @class = "form-control", type = "text" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-5 col-form-label">OT Hrs <span class="important">*</span></label>
                                                        <div class="col-lg-7">
                                                            @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Notice (Pay) <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.DropDownListFor(model => model.Notice_Pay_Type,
                                                            new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "Basic", Value = "Basic" },
                                                                new SelectListItem { Text = "Gross", Value = "Gross" }
                                                            }, "--Select--", new { @class = "form-select" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.Notice_Pay_Days, new { @class = "form-control", type = "text" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Notice (Purchase) <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.DropDownListFor(model => model.Notice_Purchase_Type,
                                                                new List<SelectListItem>
                                                                {
                                                                    new SelectListItem { Text = "Basic", Value = "Basic" },
                                                                    new SelectListItem { Text = "Gross", Value = "Gross" }
                                                                }, "--Select--", new { @class = "form-select" })
                                                         </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.Notice_Purchase_Days, new { @class = "form-control", type = "text" })
                                                        </div>
                                                    </div>

                                                    <div class="row mb-10px">
                                                        <div class="col-md-12">
                                                            <div class="card-row-title">
                                                                <b>A.Other Earning</b>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other  Earning 1 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherEarningRemark1, new { @class = "form-control", type = "text", name = "OtherEarningRemark1", id = "txtOtherEarningRemark1" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherEarning1, new { @class = "form-control", type = "text", name = "OtherEarning1", id = "txtOtherEarning1" })
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other  Earning 2 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherEarningRemark2, new { @class = "form-control", type = "text", name = "OtherEarningRemark2", id = "txtOtherEarningRemark2" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherEarning2, new { @class = "form-control", type = "text", name = "OtherEarning2", id = "txtOtherEarning2" })
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other  Earning 3 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherEarningRemark3, new { @class = "form-control", type = "text", name = "OtherEarningRemark3", id = "txtOtherEarningRemark3" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherEarning3, new { @class = "form-control", type = "text", name = "OtherEarning3", id = "txtOtherEarning3" })
                                                        </div>
                                                    </div>

                                                    <div class="row mb-10px">
                                                        <div class="col-md-12">
                                                            <div class="card-row-title">
                                                                <b> B.Other Deduction</b>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other Deduction 1 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherDeductionRemark1, new  { @class = "form-control",type = "text",name = "OtherDeductionRemark1",id = "txtOtherDeductionRemark1" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherDeduction1, new {@class = "form-control", type = "text", name = "OtherDeduction1",id = "txtOtherDeduction1"})
                                                         </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other Deduction 1 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherDeductionRemark2, new { @class = "form-control", type = "text", name = "OtherDeductionRemark2", id = "txtOtherDeductionRemark2" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherDeduction2, new { @class = "form-control", type = "text", name = "OtherDeduction2", id = "txtOtherDeduction2" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-5 col-form-label"> Other Deduction 1 <span class="important">*</span> </label>
                                                        <div class="col-lg-4 pe-1">
                                                            @Html.TextBoxFor(model => model.OtherDeductionRemark3, new { @class = "form-control", type = "text", name = "OtherDeductionRemark3", id = "txtOtherDeductionRemark3" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.OtherDeduction3, new { @class = "form-control", type = "text", name = "OtherDeduction3", id = "txtOtherDeduction3" })
                                                        </div>
                                                    </div>

                                                  
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="panel-heading blackHeadDiv text-center mb-2"
                                                         style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                                                        <h5 class="panel-title">Earnings</h5>
                                                    </div>
                                                    <div class="row mb-10px">
                                                        <div class="col-md-12">
                                                            <div class="card-row-title">
                                                                <b> C.Salary Calculation</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Basic + DA <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_Basic, new { @class = "form-control", type = "text", name = "RatePartA_Basic", id = "txtRatePartA_Basic" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_DA, new { @class = "form-control", type = "text", name = "RatePartA_DA", id = "txtRatePartA_DA" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> House Rent Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Conveyance Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Educational Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Entertainment Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Medical Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Washing Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Efficiency Allowance <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Attendance Bonus <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Producation Incentive <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center g-1">
                                                        <label class="col-lg-6 col-form-label"> Performance Incentive <span class="important">*</span> </label>
                                                        <div class="col-lg-3 pe-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_HRA, new { @class = "form-control", type = "text", name = "RatePartA_HRA", id = "txtRatePartA_HRA" })
                                                        </div>
                                                        <div class="col-lg-3 ps-1">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>


                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-6 col-form-label"> Leave Cashment <span class="important">*</span> </label>
                                                        <div class="col-lg-6">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-6 col-form-label"> Pay Notice <span class="important">*</span> </label>
                                                        <div class="col-lg-6">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-6 col-form-label"> Bonus Previous Year <span class="important">*</span> </label>
                                                        <div class="col-lg-6">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-6 col-form-label"> Bonus Current Year <span class="important">*</span> </label>
                                                        <div class="col-lg-6">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                    <div class="mb-2 row align-items-center">
                                                        <label class="col-lg-6 col-form-label"><b>Total Earning (A+C)</b><span class="important">*</span> </label>
                                                        <div class="col-lg-6">
                                                            @Html.TextBoxFor(model => model.RatePartA_A, new { @class = "form-control", type = "text", name = "RatePartA_A", id = "txtRatePartA_A" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row mb-10px">
                                                        <div class="col-md-12">
                                                            <div class="panel-heading blackHeadDiv text-center mb-2"
                                                                 style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                                                                <h5 class="panel-title">Deductions</h5>
                                                            </div>

                                                            <div class="row mb-10px">
                                                                <div class="col-md-12">
                                                                    <div class="card-row-title">
                                                                        <b> D.Deductions</b>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">PF<span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">ESIC <span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">PT <span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">LWF <span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">Purchase Notice <span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">Extra Leave Recovered <span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label"><b>Total Deduction (B+C) </b><span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <hr />
                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">Income Tax<span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>
                                                           
                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">Advance<span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label">Loan<span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>

                                                            <div class="mb-2 row align-items-center">
                                                                <label class="col-lg-6 col-form-label"><b>Net Payable</b><span class="important">*</span></label>
                                                                <div class="col-lg-6">
                                                                    @Html.TextBoxFor(model => model.OTHrs, new { @class = "form-control", type = "text" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="LastShortLeaveBx">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="BtnBx">
                                                                <div>
                                                                    <button type="button" data-bs-toggle="offcanvas"
                                                                            href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                                        <i class="fa-solid fa-list"></i>
                                                                    </button>
                                                                    <button type="button" id="btnsubmit" class="btn btn-primary btn-sm">
                                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                    </button>
                                                                    <a href="@Url.Action("ESS_FNF_FNFCalculation", "ESS_FNF_FNFCalculation", new { area = "ESS" })">
                                                                        <button type="button" class="btn btn-danger btn-sm" id="btnTrainer">
                                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    @Html.Action("FNF_SidebarMenu", "ESS_FNF_FNFEmployeeDetails")
</div>


