@model KompassHR.Areas.ESS.Models.ESS_Tax.InvestmentChapterVI_A
@{
    ViewBag.Title = "ESS_Tax_Investment_ChapterVI_A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

        body.swal2-shown > [aria-hidden="true"] {
            /* transition: 0.1s filter; */
            filter: blur(2px);
        }

    .important {
        margin-left: 3px;
        font-weight: 700;
        color: red;
    }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            /* width: 80px; */
            margin: 5px 3px;
            font-size: 12px;
        }

    .table {
        font-weight: 600;
        font-size: 14px;
    }

    .trheading {
        background-color: rgba(233, 236, 239, 0.5);
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 5px;
        background-color: #fff;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        height: 5px;
        border-radius: 10px;
    }

    .invoice {
        /* background-color: #fAfAfA; */
        border-radius: 12px;
        border: 3px solid #fff;
        /* border: 3px solid rgba(255, 255, 255, 1); */
        /* border-top: 1px solid #adb5bd;
           border-bottom: 1px solid #adb5bd; */
        padding: 10px 20px !important;
        margin-bottom: 10px;
        backdrop-filter: blur(25px) saturate(00%);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
    }

        .invoice > div:not(.invoice-footer) {
            margin: 0;
        }

    .Error {
        font-size: 12px;
        color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .lbl {
        border: none;
        outline: none;
        text-align: center;
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .form-label.col-5 {
        font-weight: bold; /* Adjust the weight as needed */
    }
</style>

<div id="content" class="app-content">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Under Section Chapter VI A
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new {id = 9, ScreenId=176, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Under Section Chapter VI A</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add here under section 80C chapter VI A
                    </p>
                </div>
                <div class="panel-body" style="overflow: auto !important;">
                    <div class="row">

                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_Tax_Investment_ChapterVI_A", new { area = "ESS" })" id="FormSaveChapterVI_A" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            <span>
                                                <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            @if (TempData["SubmitValid"] != null)
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <!-- BEGIN table-responsive -->
                                <table class="table table-bordered align-middle" id="">
                                    <thead>
                                        <tr>
                                            <th class="" colspan="1">  1. Mediclaim (80-D)</th>
                                            <th class="text-center" colspan="1">Amount </th>
                                            <th class="text-center" colspan="1">Limit </th>
                                            <th class="text-center" colspan="1">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="height:23px;" class="text-start">
                                                @Html.CheckBoxFor(model => model.ChapterVIA_Medical80D_IsSelfCoverd, new { @name = "ChapterVIA_Medical80D_IsSelfCoverd", @id = "IsSelfCoverd" })
                                                Is Self Covered?  Age - @TempData["Age"] (Self)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ChapterVIA_Medical80D_Self_CurrentAmt, new { @name = "ChapterVIA_Medical80D_Self_CurrentAmt", @class = "form-control", @style = "text-align:Right;height:23px;", type = "number", id = "ChapterVIA_Medical80D_Self_CurrentAmt", autocomplete = "Off", @readonly = true })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Medical80D_Self_LimitAmt, new { @class = "form-control lbl", id = "ChapterVIA_Medical80D_Self_CurrentAmtlbl", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>
                                                @Html.TextBoxFor(x => x.ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow", @readonly = true })
                                                @Html.HiddenFor(x => x.ChapterVIA_Medical80D_Self_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "ChapterVIA_Medical80D_Self_EligibleDeductionAmtlbl", @readonly = true })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">Self Preventive Health CheckUp </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt, new { @name = "ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Medical80D_Self_HealthCheckup_LimitAmt, new { @class = "form-control lbl", id = "ChapterVIA_Medical80D_Self_HealthCheckup_LimitAmtlbl", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.HiddenFor(x => x.ChapterVIA_Medical80D_Self_HealthCheckup_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "ChapterVIA_Medical80D_Self_HealthCheckup_EligibleDeductionAmt", @readonly = true })</td>

                                        </tr>

                                        <tr>
                                            <td class="text-start">
                                                @Html.CheckBoxFor(model => model.ChapterVIA_Medical80D_IsAreYourParentCovered, new { @name = "ChapterVIA_Medical80D_IsAreYourParentCovered", @id = "IsAreYourParentCovered" })
                                                Are Your Parents Covered? (Parents) <br>

                                                @Html.CheckBoxFor(model => model.ChapterVIA_Medical80D_IsParentSeniorCitizen, new { @name = "ChapterVIA_Medical80D_IsParentSeniorCitizen", @id = "IsParentSeniorCitizen" })
                                                Is Parent Senior Citizen?
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ChapterVIA_Medical80D_Parents_CurrentAmt, new { @name = "ChapterVIA_Medical80D_Parents_CurrentAmt", @style = "text-align:Right", @class = "form-control", type = "number", id = "ChapterVIA_Medical80D_Parents_CurrentAmt", autocomplete = "Off", @readonly = true })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Medical80D_Parents_LimitAmt, new { @class = "form-control lbl", id = "ChapterVIA_Medical80D_Parents_CurrentAmtlbl", @readonly = true, @style = "text-align:Right" })</td>
                                            <td>
                                                @Html.TextBoxFor(x => x.ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow, new { @class = "form-control lbl", @style = "text-align:Right", id = "ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow", @readonly = true })
                                                @Html.HiddenFor(x => x.ChapterVIA_Medical80D_Parents_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlbl", @readonly = true })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-start">Parent Preventive Health CheckUp </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ChapterVIA_Medical80D_HealthCheckup_CurrentAmt, new { @name = "ChapterVIA_Medical80D_HealthCheckup_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "ChapterVIA_Medical80D_HealthCheckup_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Medical80D_HealthCheckup_LimitAmt, new { @class = "form-control lbl", id = "80D_BothAbove60_DeductionUnder80D_HealthCheckuplbl", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.HiddenFor(x => x.ChapterVIA_Medical80D_HealthCheckup_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "80D_BothAbove60_DeductionUnder80D_EligibleDeductionAmtlbl", @readonly = true })</td>

                                        </tr>
                                        <tr class="trheading">
                                            <td colspan="2"> </td>
                                            <td class="text-center">Total</td>
                                            <td style="text-align:Right;height:23px;">@Html.TextBoxFor(x => x.ChapterVIA_Medical80D_FinalEligibleDeduction, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;background-color: #e9ecef;", id = "Totallbl", @readonly = true })</td>
                                        </tr>
                                        <tr style="background-color:white">
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="2">  2. Handicapped Dependent (80-DD)</th>
                                            @*<th colspan="1" class="text-nowrap text-center">Amount </th>*@
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="text-start" colspan="2">
                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent, new { @name = "ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent", @id = "Chk_80DDIsNonSevere" })
                                                Is Handicapped Dependent? <br>

                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_HandicappedDependent80DD_IsSevere, new { @name = "ChapterVIA_HandicappedDependent80DD_IsSevere", @id = "Chk_80DDIsSevere", @style = "text-align:Right" })
                                                Is Severe?
                                            </td>
                                            @*<td></td>*@
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent_LimitAmt, new { @class = "form-control lbl", id = "lbl_80DDLimit", @readonly = true, @style = "text-align:Right" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_80DDEligible", @readonly = true })</td>

                                            @*<td><label for="ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent_LimitAmt" id="lbl_80DDLimit">0</label></td>
                                                <td><label for="ChapterVIA_HandicappedDependent80DD_IsHandicappedDependent_EligibleDeductionAmt" id="lbl_80DDEligible">0</label></td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1"> 3. Treatement of Specified Diseases (80-DDB)</th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_IsSeniorCitizen, new { @name = "ChapterVIA_TreatmentofSpecifiedDiseases80DDB_IsSeniorCitizen", @id = "Chk_IsSeniorCitizen" })
                                                Is Senior Citizen?
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_CurrentAmt, new { @name = "ChapterVIA_TreatmentofSpecifiedDiseases80DDB_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "80DDB_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_LimitAmt, new { @class = "form-control lbl", id = "lbl_80DDBLimit", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80DDBEligible", @readonly = true })</td>
                                        </tr>

                                        <tr>
                                            <td class="text-start">
                                                Amount Recovered From Insurance Company
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_AmountRecoveredFromInsuranceCompany_CurrentAmt, new { @name = "ChapterVIA_TreatmentofSpecifiedDiseases80DDB_LimitAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "80DDB_LimitAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_EligibleDeductionAmt, new { @class = "form-control lbl", id = "lbl_80DDBInsuranceCompLimit", @readonly = true, @style = "text-align:Right;height:23px;", type = "hidden" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_TreatmentofSpecifiedDiseases80DDB_AmountRecoveredFromInsuranceCompany_CurrentAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80DDBInsuranceCompEligible", @readonly = true, type = "hidden" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1">  4. interest On Higher Education Loan (80-E) </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_InterestOnEducationalLoan80E_IsFullTime, new { @name = "ChapterVIA_InterestOnEducationalLoan80E_IsFullTime", @id = "Chk_80E_IsFullTime" })
                                                Is Full Time?
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_InterestOnEducationalLoan80E_CurrentAmt, new { @name = "ChapterVIA_InterestOnEducationalLoan80E_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "80E_CurrentAmt", autocomplete = "Off", @readonly = true })
                                            </td>
                                            <td></td>
                                            @*Missing in model and table -- ChapterVIA_InterestOnEducationalLoan80E_EligibleAmt*@
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestOnEducationalLoan80E_CurrentAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80E_Eligible", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_InterestOnEducationalLoan80E_EligibleAmt" for="" id="80E_Eligible">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="2"> 5. Self-Disability (80-U)  </th>
                                            @*<th colspan="1" class="text-nowrap text-center">Amount </th>*@
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start" colspan="2">
                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_PhysicallyHandicapped80U_IsPhysicallyHandicapped, new { @name = "ChapterVIA_PhysicallyHandicapped80U_IsPhysicallyHandicapped", @id = "Chk_80U_IsPhysicallyHandicapped" })
                                                Is Physically Handicapped ?
                                                <br>
                                                @*<input type="checkbox" />*@
                                                @Html.CheckBoxFor(model => model.ChapterVIA_PhysicallyHandicapped80U_IsSevere, new { @name = "ChapterVIA_PhysicallyHandicapped80U_IsSevere", @id = "Chk_80U_IsSevere" })
                                                Is Severe ?
                                            </td>
                                            @*<td></td>*@
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_PhysicallyHandicapped80U_LimitAmt, new { @class = "form-control lbl", id = "lbl_80U_LimitAmt", @readonly = true, @style = "text-align:Right" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_PhysicallyHandicapped80U_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_80U_EligibleDeductionAmt", @readonly = true })</td>

                                            @*<td><label name="ChapterVIA_PhysicallyHandicapped80U_LimitAmt" for="" id="lbl_80U_LimitAmt">0</label></td>
                                                <td> <label name="ChapterVIA_PhysicallyHandicapped80U_EligibleDeductionAmt" for="" id="lbl_80U_EligibleDeductionAmt">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1"> 6. Additional Contribution to NPS 80CCD (1B)    </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Additional Contribution to NPS 80CCD (1B)
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_AdditionalcontributionToNPS80CCD1B_CurrentAmt, new { @name = "ChapterVIA_AdditionalcontributionToNPS80CCD1B_CurrentAmt", @style = "text-align:Right;height:23px;", @id = "80CCD1B_CurrentAmt", type = "number", @class = "form-control", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_AdditionalcontributionToNPS80CCD1B_LimitAmt, new { @class = "form-control lbl", id = "lbl_80CCD1B_LimitAmt", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_AdditionalcontributionToNPS80CCD1B_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80CCD1B_EligibleDeductionAmt", @readonly = true })</td>

                                            @*<td><label name="ChapterVIA_AdditionalcontributionToNPS80CCD1B_LimitAmt" for="" id="lbl_80CCD1B_LimitAmt">0</label></td>
                                                <td><label name="ChapterVIA_AdditionalcontributionToNPS80CCD1B_EligibleDeductionAmt" for="" id="lbl_80CCD1B_EligibleDeductionAmt">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1"> 7. interest on Saving Bank Account (80TTA)   </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                interest on Saving Bank Account (80TTA)
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_InterestondepositionSavingaccount80TTA_CurrentAmt, new { @name = "ChapterVIA_InterestondepositionSavingaccount80TTA_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", @id = "80TTA_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestondepositionSavingaccount80TTA_LimitAmt, new { @class = "form-control lbl", id = "lbl_80TTA_LimitAmt", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestondepositionSavingaccount80TTA_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80TTA_EligibleDeductionAmt", @readonly = true })</td>

                                            @*<td><label name="ChapterVIA_InterestondepositionSavingaccount80TTA_LimitAmt" for="" id="lbl_80TTA_LimitAmt">0</label></td>
                                                <td><label name="ChapterVIA_InterestondepositionSavingaccount80TTA_EligibleDeductionAmt" for="" id="lbl_80TTA_EligibleDeductionAmt">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1"> 8. interest on Saving Bank Account (80TTB-Senior Citizen) </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                interest on Saving Bank Account (80TTB-Senior Citizen)
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" disabled />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_InterestondepositionSavingaccount80TTB_CurrentAmt, new { @name = "ChapterVIA_InterestondepositionSavingaccount80TTB_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", @id = "80TTB_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestondepositionSavingaccount80TTB_LimitAmt, new { @class = "form-control lbl", id = "lbl_80TTB_LimitAmt", @readonly = true, @style = "text-align:Right;height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestondepositionSavingaccount80TTB_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80TTB_EligibleDeductionAmt", @readonly = true })</td>

                                            @*<td><label name="ChapterVIA_InterestondepositionSavingaccount80TTB_LimitAmt" for="" id="lbl_80TTB_LimitAmt">0</label></td>
                                                <td><label name="ChapterVIA_InterestondepositionSavingaccount80TTB_EligibleDeductionAmt" for="" id="lbl80TTB_EligibleDeductionAmt">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1">9. interest on Loan For Purchase of Electric Vehicle(80EEB)  </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6"> Vehicle Purchase date</div>
                                                    <div class="col-md-6">
                                                        @*<input type="date" class="form-control" />*@
                                                        @Html.TextBoxFor(model => model.ChapterVIA_VehiclePurchaseDate, new { @name = "ChapterVIA_VehiclePurchaseDate", @class = "form-control", id = "VehiclePurchaseDate", type = "date" })
                                                        @Html.ValidationMessageFor(model => model.ChapterVIA_VehiclePurchaseDate, "", new { @class = "help-block", @id = "ErrorChapterVIA_VehiclePurchaseDate", @style = "color:red" })
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_CurrentAmt, new { @name = "ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_CurrentAmt", @style = "text-align:Right", @class = "form-control", type = "number", @id = "80EEB_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_LimitAmt, new { @class = "form-control lbl", id = "lbl_80EEB_LimitAmt", @readonly = true })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_80EEB_EligibleDeductionAmt", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_LimitAmt" for="" id="lbl_80EEB_LimitAmt">0</label></td>
                                                <td> <label name="ChapterVIA_InterestOnLoanForPurchaseOfElectricVehicle80EEB_EligibleDeductionAmt" for="" id="lbl_80EEB_EligibleDeductionAmt">0</label> </td>*@
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    </tbody>

                                    <thead>
                                        <tr>
                                            <th class="" colspan="1">10. Donations.(80G/ 80GGA/ 80GGC)  </th>
                                            <th colspan="1" class="text-nowrap text-center">Amount </th>
                                            <th colspan="1" class="text-nowrap text-center">Limit </th>
                                            <th colspan="1" class="text-nowrap text-center">Eligible Deduction </th>
                                        </tr>

                                        <tr class="trheading">
                                            <th class="text-start">
                                                <h5>80G</h5>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                a. Funds eligible for 100% deduction without limit (80G)

                                                <div class="row mt-10px mb-10px">

                                                    <div class="col-md-10 col-12 mb-10px" id="ddl80G_A">
                                                        <select class="form-select">
                                                            <option class="form-control" selected>
                                                                --Select--
                                                            </option>
                                                            <option class="form-control">
                                                                (1) National Defence Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (2) PM National Relief Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (3) PM Citizen Assistance and Relief in Emergency Situations Fund (PM CARES FUND)
                                                            </option>
                                                            <option class="form-control">
                                                                (4) National Children's Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (5) CM Relief Fund or the Lieutenant  Governor's Relief Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (6) Zila Saksharta Samiti
                                                            </option>
                                                            <option class="form-control">
                                                                (7) Army Central Welfare Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (8) Indian Naval Benevolent Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (9) Air Force Central Welfare Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (10) Andhra Pradesh CM Cyclone Relief Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (11) National Sports Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (12) National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities
                                                            </option>
                                                            <option class="form-control">
                                                                (13) Swachh Bharat Kosh (not being in pursuance of CSR)
                                                            </option>
                                                            <option class="form-control">
                                                                (14) Clean Ganga Fund (not being in pursuance of CSR) - Only to the resident assessee
                                                            </option>
                                                            <option class="form-control">
                                                                (15) National Fund for Control of Drug Abuse
                                                            </option>
                                                            <option class="form-control">
                                                                (16) National Illness Assistance Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (17) National Blood Transfusion Council or State Blood Transfusion Council
                                                            </option>
                                                            <option class="form-control">
                                                                (18) Fund set up by a State Government for the medical relief to the poor
                                                            </option>
                                                            <option class="form-control">
                                                                (19) National Cultural Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (20) Fund for Technology Development and Application
                                                            </option>
                                                            <option class="form-control">
                                                                (21) National Foundation for Communal Harmony
                                                            </option>
                                                            <option class="form-control">
                                                                (22) PM Armenia Earthquake Relief Fund

                                                            </option>
                                                            <option class="form-control">
                                                                (23) Africa (Public Contributions - India) Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (24) CM Earthquake Relief Fund, Maharashtra
                                                            </option>
                                                            <option class="form-control">
                                                                (25) An university or educational institution of National eminence approved by the tax authorities
                                                            </option>
                                                            <option class="form-control">
                                                                (26) Fund set up by the State Government of Gujarat exclusively for providing relief to the victims of earthquake in Gujarat.
                                                            </option>

                                                        </select>
                                                        <span id="Error80G_A" class="Error"></span>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnAdd80G_A">
                                                            <i class="fa-solid fa-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row mt-10px mb-10px">

                                                    <div class="col-md-10 col-12 mb-10px">
                                                        @Html.TextAreaFor(x => x.ChapterVIA_Donations80G_100Per_Remark, new { @class = "form-control textareaprop", id = "txtArea_80G_100Per_Remark", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.ChapterVIA_Donations80G_100Per_Remark, "", new { @class = "help-block", @id = "ErrorChapterVIA_Donations80G_100Per_Remark", @style = "color:red" })
                                                    </div>
                                                    <div class="col-md-2 ">
                                                        <button type="button" id="btn80G_100Per_RemarkClr" class="btn btn-danger btn-sm">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_Donations80G_100Per_CurrentAmt, new { @name = "ChapterVIA_Donations80G_100Per_CurrentAmt", @style = "text-align:Right", @class = "form-control", type = "number", id = "Donations80G_100Per_CurrentAmt", autocomplete = "Off", rows = "4", cols = "80" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_100Per_Limit, new { @class = "form-control lbl", id = "lbl_80G_100Per_Limit", Value = "100%", @readonly = true })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_100Per_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_80G_100Per_Eligible", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_Donations80G_100Per_Limit" for="" id="lbl_80G_100Per_Limit">100%</label></td> @*ChapterVIA_Donations80G_100Per_Limit
                                                <td> <label name="ChapterVIA_Donations80G_100Per_EligibleDeductionAmt" for="" id="lbl_80G_100Per_Eligible">0</label> </td>*@
                                        </tr>

                                        <tr>
                                            <td class="text-start">
                                                b. Funds eligible for 50% deduction without limit (80G)
                                                <div class="row mt-10px mb-10px">
                                                    <div class="col-md-10 col-12 mb-10px">
                                                        <select class="form-select" id="ddl80G_B">
                                                            <option class="form-control">--Select--</option>
                                                            <option class="form-control">
                                                                (1) Jawaharlal Nehru Memorial Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (2) PM Drought Relief Fund
                                                            </option>
                                                            <option class="form-control">
                                                                (3) Indira Gandhi Memorial Trust
                                                            </option>
                                                            <option class="form-control">
                                                                (4) Rajiv Gandhi Foundation
                                                            </option>
                                                        </select>
                                                        <span id="Error80G_B" class="Error"></span>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnAdd80G_B">
                                                            <i class="fa-solid fa-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row mt-10px mb-10px">
                                                    <div class="col-md-10 col-12 mb-10px">
                                                        @Html.TextAreaFor(x => x.ChapterVIA_Donations80G_50Per_Remark, new { @class = "form-control", id = "txtArea_80G_50Per_Remark", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.ChapterVIA_Donations80G_50Per_Remark, "", new { @class = "help-block", @id = "ErrorChapterVIA_Donations80G_50Per_Remark", @style = "color:red" })
                                                    </div>
                                                    <div class="col-md-2 ">
                                                        <button type="button" id="btn80G_50Per_RemarkClr" class="btn btn-danger btn-sm">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_Donations80G_50Per_CurrentAmt, new { @name = "ChapterVIA_Donations80G_50Per_CurrentAmt", @style = "text-align:Right", @class = "form-control", type = "number", id = "Donations80G_50Per_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_50Per_Limit, new { @class = "form-control lbl", id = "lbl_80G_50Per_Limit", Value = "50%", @readonly = true })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_50Per_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_80G_50Per_Eligible", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_Donations80G_50Per_Limit" for="" id="lbl_80G_50Per_Eligible">50%</label></td> @*ChapterVIA_Donations80G_50Per_Limit
                                                <td> <label name="ChapterVIA_Donations80G_50Per_EligibleDeductionAmt" for="" id="lbl_80G_50Per_Eligible">0</label> </td>*@
                                        </tr>

                                        <tr>
                                            <td class="text-start">
                                                b. Funds eligible for 50% deduction subject to the maximum limit
                                                <select class="form-select" id="ddl80G_B_MaxLimit">
                                                    <option class="form-control" selected>
                                                        Notified temple, mosque,
                                                        gurudwara,
                                                        church or other place (for repairs or
                                                        renovation)
                                                    </option>
                                                </select>
                                                <br>
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_CurrentAmt, new { @name = "ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_CurrentAmt", @class = "form-control", @style = "text-align:Right", type = "number", id = "TempleMosqueGurudwara50Per_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_Limit, new { @class = "form-control lbl", id = "lbl_TempleMosqueGurudwara50Pert_Limit", Value = "50%", @readonly = true, @style = "height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right", id = "lbl_TempleMosqueGurudwara50Pert_Eligible", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_Limit" for="" id="lbl_TempleMosqueGurudwara50Pert_Eligible">50%</label></td> @*ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_Limit
                                                <td> <label name="ChapterVIA_Donations80G_TempleMosqueGurudwara50Per_EligibleDeductionAmt" for="" id="lbl_TempleMosqueGurudwara50Pert">0</label> </td>*@
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="trheading">
                                            <th class="text-start">
                                                <h5>80GGA</h5>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Donations for scientific research or rural development
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_CurrentAmt, new { @name = "ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_CurrentAmt", @style = "text-align:Right;height:23px;", @class = "form-control", type = "number", id = "development_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_Limit, new { @class = "form-control lbl", id = "lbl_80GGA_ScientificResearch_Limit", Value = "100%", @readonly = true, @style = "height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80GGA_ScientificResearch_Eligible", @readonly = true })</td>

                                            @*<td> <label name="ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_Limit" for="" id="lbl_80GGA_ScientificResearch_Limit">100%</label></td> @*ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_Limit
                                                <td> <label name="ChapterVIA_Donations80GGA_ScientificResearch_Ruraldevelopment_EligibleDeductionAmt" for="" id="lbl_80GGA_ScientificResearch_Eligible">0</label> </td>*@
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr class="trheading">
                                            <th class="text-start">
                                                <h5>80GGC</h5>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Donations for political party
                                            </td>
                                            <td>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(model => model.ChapterVIA_Donations80GGC_PoliticalParties_CurrentAmt, new { @name = "ChapterVIA_Donations80GGC_PoliticalParties_CurrentAmt", @class = "form-control", @style = "text-align:Right;height:23px;", type = "number", id = "PoliticalParties_CurrentAmt", autocomplete = "Off" })
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80GGC_PoliticalParties_Limit, new { @class = "form-control lbl", id = "lbl_PoliticalParties_Limit", Value = "100%", @readonly = true, @style = "height:23px;" })</td>
                                            <td>@Html.TextBoxFor(x => x.ChapterVIA_Donations80GGC_PoliticalParties_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "lbl_80GGC_PoliticalParties_Eligible", @readonly = true })</td>

                                            @*<td><label name="ChapterVIA_Donations80GGC_PoliticalParties_Limit" for="" id="lbl_PoliticalParties_Limit">100%</label></td>
                                                <td><label name="ChapterVIA_Donations80GGC_PoliticalParties_EligibleDeductionAmt" for="" id="lbl_80GGC_PoliticalParties_Eligible">0</label></td>*@
                                        </tr>
                                    </tbody>
                                    <tfoot hidden>
                                        <tr>
                                            <th colspan="3">
                                                <h5 style="text-align:center">Total</h5>
                                            </th>
                                            <td>
                                                @Html.TextBoxFor(x => x.ChapterVIA_TotalAmount, new { @class = "form-control lbl", id = "lblAllTotal", @readonly = true, @style = "text-align:Right;height:23px;background-color: #e9ecef;" })
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <span id="ErroForm" class="Error"></span>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<h5>
                                                <div class="col-md-3">
                                                    <td>@Html.TextBoxFor(x => x.ChapterVIA_TotalAmount, new { @class = "form-control lbl", id = "lblAllTotal", @readonly = true })</td>
                                                </div>

                                                <label name="ChapterVIA_TotalAmount" for="" id="lblAllTotal"><span style="font-weight:bold;">&#8377 : </label>
                                            </h5>*@
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new { area = "ESS",id=9,ScreenId=176 })'">
                                                    <i class="fa-solid fa-share-from-square"></i> Back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        if ($('#Chk_80DDIsNonSevere').is(":checked")) {
            $("#Chk_80DDIsSevere").attr('disabled', !$("#Chk_80DDIsSevere").attr('disabled'));
        }

        if ($('#Chk_80U_IsPhysicallyHandicapped').is(":checked")) {
            $("#Chk_80U_IsSevere").attr('disabled', !$("#Chk_80U_IsSevere").attr('disabled'));
        }
        if ($('#IsSelfCoverd').is(":checked")) {
            $('#ChapterVIA_Medical80D_Self_CurrentAmt').attr('readonly', false);
        }
        if ($('#IsAreYourParentCovered').is(":checked")) {
            $('#ChapterVIA_Medical80D_Parents_CurrentAmt').attr('readonly', false);
        }
        //if ($('#Chk_IsSeniorCitizen').is(":checked")) {
        //    $('#80DDB_CurrentAmt').attr('readonly', false);
        //}
        if ($('#Chk_80E_IsFullTime').is(":checked")) {
            $('#80E_CurrentAmt').attr('readonly', false);
        }




       @*// var FYearId = @Html.Raw(Json.Encode(@Session["TaxFyearId"]));*@
        @*var EmployeeId = @Html.Raw(Json.Encode(@ViewBag.GetChapterVIEmployee.EmployeeId));
        var EmployeeNo = @Html.Raw(Json.Encode(@ViewBag.GetChapterVIEmployee.EmployeeNo));
        var EmployeeName = @Html.Raw(Json.Encode(@ViewBag.GetChapterVIEmployee.EmployeeName));*@

        //$("#FyearId").val(FYearId);
        //$("#EmployeeId").val(EmployeeId);
        //$("#EmployeeNo").val(EmployeeNo);
        //$("#EmployeeName").val(EmployeeName);


        function calculateDeduction() {
            debugger;
            var selfCrntAmt = Number($("#ChapterVIA_Medical80D_Self_CurrentAmt").val()) || 0;
            var parentsCrntAmt = Number($("#ChapterVIA_Medical80D_Parents_CurrentAmt").val()) || 0;
            var healthCheckupAmt = Number($("#ChapterVIA_Medical80D_HealthCheckup_CurrentAmt").val()) || 0;
            var selfHealthCheckupAmt = Number($("#ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt").val()) || 0;

            var selfCrntAmtLimit = Number($("#ChapterVIA_Medical80D_Self_CurrentAmtlbl").val()) || 0;
            var parentsCrntAmtLimit = Number($("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val()) || 0;
            var healthCheckupLimit = Number($("#80D_BothAbove60_DeductionUnder80D_HealthCheckuplbl").val()) || 0;
            var selfHealthCheckupLimit = Number($("#ChapterVIA_Medical80D_Self_HealthCheckup_LimitAmtlbl").val()) || 0;

            // Total Calculation


            // Self Deduction Calculation
            var selfTotal = selfCrntAmt + selfHealthCheckupAmt;
            var selfEligibleAmt = Math.min(selfTotal, selfCrntAmtLimit);
            $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlbl").val(selfEligibleAmt);
            $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val(selfEligibleAmt);

            // Parents Deduction Calculation
            var parentsTotal = parentsCrntAmt + healthCheckupAmt;
            var parentsEligibleAmt = Math.min(parentsTotal, parentsCrntAmtLimit);
            $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlbl").val(parentsEligibleAmt);
            $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val(parentsEligibleAmt);

            var Parents_EligibleDeductionAmtlblShow=Number($("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val());
            var Self_EligibleDeductionAmtlblShow= Number($("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val());

            var total = Self_EligibleDeductionAmtlblShow + Parents_EligibleDeductionAmtlblShow ;
            $("#Totallbl").val(total);


            // Health Checkup Deduction Calculation
            var healthCheckupEligibleAmt = Math.min(healthCheckupAmt, healthCheckupLimit);
            $("#80D_BothAbove60_DeductionUnder80D_EligibleDeductionAmtlbl").val(healthCheckupEligibleAmt);

            // Self Health Checkup Deduction Calculation
            var selfHealthCheckupEligibleAmt = Math.min(selfHealthCheckupAmt, selfHealthCheckupLimit);
            $("#ChapterVIA_Medical80D_Self_HealthCheckup_EligibleDeductionAmt").val(selfHealthCheckupEligibleAmt);
        }

        // Attach keyup event to all relevant input fields
        $("#ChapterVIA_Medical80D_Self_CurrentAmt, #ChapterVIA_Medical80D_Parents_CurrentAmt, #ChapterVIA_Medical80D_HealthCheckup_CurrentAmt, #ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt")
            .on("keyup", function () {
                calculateDeduction();
            });

    });
</script>

<script>

    var TotalAmount = @Html.Raw(Json.Encode(TempData["ChapterVIA_TotalAmount"]));
    var AgeLimit = @Html.Raw(Json.Encode(TempData["AgeLimit"]));
    var Self_Family_ChildrenAmt = @Html.Raw(Json.Encode(TempData["80D_ParentsBelow60_Self_Family_Children"]));
    var ParentsBelow60_ParentsAmt = @Html.Raw(Json.Encode(TempData["80D_ParentsBelow60_Parents"]));
    var Below60_ParentsAbove60_Self_Family_ChildrenAmt = @Html.Raw(Json.Encode(TempData["80D_Below60_ParentsAbove60_Self_Family_Children"]));
    var Below60_ParentsAbove60_ParentsAmt = @Html.Raw(Json.Encode(TempData["80D_Below60_ParentsAbove60_Parents"]));
    var BothAbove60_Self_Family_ChildrenAmt = @Html.Raw(Json.Encode(TempData["80D_BothAbove60_Self_Family_Children"]));
    var BothAbove60_ParentsAmt = @Html.Raw(Json.Encode(TempData["80D_BothAbove60_Parents"]));
    var BothAbove60_DeductionUnder80D_HealthCheckupAmt = @Html.Raw(Json.Encode(TempData["80D_BothAbove60_DeductionUnder80D_HealthCheckup"]));
    $('#80D_BothAbove60_DeductionUnder80D_HealthCheckuplbl').val(BothAbove60_DeductionUnder80D_HealthCheckupAmt);
    $('#ChapterVIA_Medical80D_Self_HealthCheckup_LimitAmtlbl').val(BothAbove60_DeductionUnder80D_HealthCheckupAmt);

    //var selfCrntAmtTotal = Number($("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlbl").val());
    //var ParentsCrntAmtTotal = Number($("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlbl").val());
    //var HealthCheckupTotal = Number($("#80D_BothAbove60_DeductionUnder80D_EligibleDeductionAmtlbl").val());
    //var Total = selfCrntAmtTotal + ParentsCrntAmtTotal + HealthCheckupTotal;
    //$("#Totallbl").val(Total);

    $("#btn80G_100Per_RemarkClr").click(function () {

        $('#txtArea_80G_100Per_Remark').val("");
    })
    $("#btn80G_50Per_RemarkClr").click(function () {

        $('#txtArea_80G_50Per_Remark').val("");
    })


    var ChapterVIA_Medical80D_Self_CurrentAmt = @Html.Raw(Json.Encode(TempData["ChapterVIA_Medical80D_Self_CurrentAmt"]));
    var ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt = @Html.Raw(Json.Encode(TempData["ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt"]));
    var ChapterVIA_Medical80D_Parents_CurrentAmt = @Html.Raw(Json.Encode(TempData["ChapterVIA_Medical80D_Parents_CurrentAmt"]));
    var ChapterVIA_Medical80D_HealthCheckup_CurrentAmt = @Html.Raw(Json.Encode(TempData["ChapterVIA_Medical80D_HealthCheckup_CurrentAmt"]));
    var ChapterVIA_VehiclePurchaseDate = @Html.Raw(Json.Encode(TempData["ChapterVIA_VehiclePurchaseDate"]));
    if (ChapterVIA_Medical80D_Self_CurrentAmt!=null)
    {
        var getSelf= Number(ChapterVIA_Medical80D_Self_CurrentAmt)+Number(ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt)
        var getParent= Number(ChapterVIA_Medical80D_Parents_CurrentAmt)+Number(ChapterVIA_Medical80D_HealthCheckup_CurrentAmt)
        $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val(getSelf);
        $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlbl").val(getSelf);

        $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val(getParent);
        $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlbl").val(getParent);

        $("#VehiclePurchaseDate").val(ChapterVIA_VehiclePurchaseDate)
    }


    var AgeLimit = @Html.Raw(Json.Encode(TempData["Age"]));

    // var AgeLimit = Number($('#lblAge').html());

    $("#IsSelfCoverd").change(function () {

        debugger;
        if ($('#IsSelfCoverd').is(":checked")) {

            $('#ChapterVIA_Medical80D_Self_CurrentAmt').attr('readonly', false);
            $('#ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt').attr('readonly', false);
            if(AgeLimit>=60)
            {
                $("#ChapterVIA_Medical80D_Self_CurrentAmtlbl").val(Below60_ParentsAbove60_ParentsAmt);
            }
            else{
                $("#ChapterVIA_Medical80D_Self_CurrentAmtlbl").val(Self_Family_ChildrenAmt);
            }
        }
        else
        {

            $('#ChapterVIA_Medical80D_Self_CurrentAmt').attr('readonly', true);
            $('#ChapterVIA_Medical80D_Self_CurrentAmt').val(0);
            $("#ChapterVIA_Medical80D_Self_CurrentAmtlbl").val(0);
            $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlbl").val(0);
            $("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val(0);
            $("#ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt").val(0);
            $("#ChapterVIA_Medical80D_Self_HealthCheckup_CurrentAmt").attr('readonly', true);
            var Medical80D_Self_EligibleDeductionAmtlblShow=  Number($("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val());
            var Medical80D_Parents_EligibleDeductionAmtlblShow=  Number($("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val());

            $("#Totallbl").val(Medical80D_Self_EligibleDeductionAmtlblShow+Medical80D_Parents_EligibleDeductionAmtlblShow)
        }
    });

    $("#IsAreYourParentCovered").change(function () {
        debugger;
        if ($('#IsAreYourParentCovered').is(":checked")) {
            $('#ChapterVIA_Medical80D_Parents_CurrentAmt').attr('readonly', false);
            $('#ChapterVIA_Medical80D_HealthCheckup_CurrentAmt').attr('readonly', false);
            if(AgeLimit>=60)
            {
                $("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val(Below60_ParentsAbove60_ParentsAmt);
                $('#IsParentSeniorCitizen').prop('checked', true).attr('checked');
                document.getElementById("IsParentSeniorCitizen").disabled = true;
            }
            else{
                $("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val(ParentsBelow60_ParentsAmt);
            }
        }
        else {
            $('#IsParentSeniorCitizen').prop('checked', false).removeAttr('checked');
            $('#ChapterVIA_Medical80D_Parents_CurrentAmt').attr('readonly', true);
            $("#ChapterVIA_Medical80D_Parents_CurrentAmt").val(0);
            $("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val(0);
            $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlbl").val(0);
            $("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val(0);
            $("#ChapterVIA_Medical80D_HealthCheckup_CurrentAmt").val(0);
            $('#ChapterVIA_Medical80D_HealthCheckup_CurrentAmt').attr('readonly', true);

            var Medical80D_Self_EligibleDeductionAmtlblShow=  Number($("#ChapterVIA_Medical80D_Self_EligibleDeductionAmtlblShow").val());
            var Medical80D_Parents_EligibleDeductionAmtlblShow=  Number($("#ChapterVIA_Medical80D_Parents_EligibleDeductionAmtlblShow").val());

            $("#Totallbl").val(Medical80D_Self_EligibleDeductionAmtlblShow+Medical80D_Parents_EligibleDeductionAmtlblShow)
        }
    });

    $("#IsParentSeniorCitizen").change(function () {
        if ($('#IsParentSeniorCitizen').is(":checked")) {
            $('#ChapterVIA_Medical80D_Parents_CurrentAmt').attr('readonly', false);
            $("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val(Below60_ParentsAbove60_ParentsAmt);
        }
        else {
            $('#IsParentSeniorCitizen').prop('checked', false).removeAttr('checked');
            $('#ChapterVIA_Medical80D_Parents_CurrentAmt').attr('readonly', false);
            $("#ChapterVIA_Medical80D_Parents_CurrentAmtlbl").val(ParentsBelow60_ParentsAmt);
            $("#80D_BothAbove60_DeductionUnder80D_EligibleDeductionAmtlbl").val(0)
        }
    });


    //Start 2.Handicapped Dependent (80-DD)
    document.getElementById("Chk_80DDIsSevere").disabled = true;
    var Limit80DDIsNonSevere = @Html.Raw(Json.Encode(TempData["Limit80DD_Handicap_NonSevereAmount"]));
    var Limit80DD_IsSevere = @Html.Raw(Json.Encode(TempData["Limit80DD_Handicap_SevereAmount"]));
    $("#Chk_80DDIsNonSevere").change(function () {
        if ($('#Chk_80DDIsNonSevere').is(":checked")) {
            document.getElementById("Chk_80DDIsSevere").disabled = false;
            $("#lbl_80DDLimit").val(Limit80DDIsNonSevere);
            $("#lbl_80DDEligible").val(Limit80DDIsNonSevere);
        }
        else {
            document.getElementById("Chk_80DDIsSevere").disabled = true;
            $('#Chk_80DDIsSevere').prop('checked', false).removeAttr('checked');
            $("#lbl_80DDLimit").val(0);
            $("#lbl_80DDEligible").val(0);
        }
    });

    $("#Chk_80DDIsSevere").change(function () {
        if ($('#Chk_80DDIsSevere').is(":checked")) {
            $("#lbl_80DDLimit").val(Limit80DD_IsSevere);
            $("#lbl_80DDEligible").val(Limit80DD_IsSevere);
        }
        else {
            if ($('#Chk_80DDIsNonSevere').is(":checked")) {
                $("#lbl_80DDLimit").val(Limit80DDIsNonSevere);
                $("#lbl_80DDEligible").val(Limit80DDIsNonSevere);
            }
            else
            {
                $("#lbl_80DDLimit").val(0);
                $("#lbl_80DDEligible").val(0);
            }

        }
    });
    // End 2.Handicapped Dependent (80-DD)

    // Start 3. Treatement of Specified Diseases (80-DDB)
    var Limit80DDB_LimitAmt = @Html.Raw(Json.Encode(TempData["Limit80DDB_NormalCitizen_Amount"]));
    var Limit80DDB_VeryseniorcitizenAmt = @Html.Raw(Json.Encode(TempData["Limit80DDB_SeniorCitizen_Amount"]));
    $("#Chk_IsSeniorCitizen").change(function () {
        if ($('#Chk_IsSeniorCitizen').is(":checked")) {
            $('#80DDB_CurrentAmt').val("0"); //text
            $('#lbl_80DDBEligible').val("0"); //text

            $('#80DDB_CurrentAmt').attr('readonly', false); //text
            $("#lbl_80DDBLimit").val(Limit80DDB_VeryseniorcitizenAmt);//Limit lbl
        }
        else {
            $('#80DDB_CurrentAmt').attr('readonly', true);
            $("#80DDB_CurrentAmt").val(0) //text
            $("#lbl_80DDBLimit").val(Limit80DDB_LimitAmt);//Limit lbl
            $("#lbl_80DDBEligible").val(0);//Limit lbl
        }
    });


    $("#lbl_80DDBLimit").val(Limit80DDB_LimitAmt); //Limit lbl
    $("#80DDB_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80DDB_CurrentAmt = Number($("#80DDB_CurrentAmt").val()); //text
        var selfCrntAmtLimit = Number($("#lbl_80DDBLimit").val()); //Limit lbl
        var A80DDB_LimitAmt = Number($("#80DDB_LimitAmt").val()); //text
        if(txt80DDB_CurrentAmt>selfCrntAmtLimit)
        {
            $("#lbl_80DDBEligible").val(selfCrntAmtLimit);
            $("#lbl_80DDBEligible").val(selfCrntAmtLimit);
        }
        else
        {
            $("#lbl_80DDBEligible").val(txt80DDB_CurrentAmt);
            $("#lbl_80DDBEligible").val(txt80DDB_CurrentAmt-A80DDB_LimitAmt);
        }
    });

    $("#80DDB_LimitAmt").keyup(function (e) {
        debugger;
        var txt80DDB_CurrentAmt = Number($("#80DDB_LimitAmt").val()); //text
        var selfCrntAmtLimit = Number($("#lbl_80DDBLimit").val()); //Limit lbl
        var A80DDB_CurrentAmt= Number($("#80DDB_CurrentAmt").val()); //text

        if(A80DDB_CurrentAmt>selfCrntAmtLimit)
        {
            $("#lbl_80DDBEligible").val(selfCrntAmtLimit-txt80DDB_CurrentAmt);
        }
        else
        {
            $("#lbl_80DDBEligible").val(txt80DDB_CurrentAmt);
            $("#lbl_80DDBEligible").val(A80DDB_CurrentAmt-txt80DDB_CurrentAmt);
        }
        $("#lbl_80DDBInsuranceCompLimit").val(txt80DDB_CurrentAmt);
        $("#lbl_80DDBInsuranceCompEligible").val(txt80DDB_CurrentAmt);
    });
    // End 3. Treatement of Specified Diseases (80-DDB)




    //Start 4. interest On Higher Education Loan (80-E)
    $("#Chk_80E_IsFullTime").change(function () {
        if ($('#Chk_80E_IsFullTime').is(":checked")) {
            $('#80E_CurrentAmt').attr('readonly', false); //text
        }
        else {
            $('#80E_CurrentAmt').attr('readonly', true);
            $('#80E_CurrentAmt').val(0);
            $("#lbl_80E_Eligible").val(0);
        }
    });

    $("#80E_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80E_CurrentAmt = Number($("#80E_CurrentAmt").val()); //text
        $("#lbl_80E_Eligible").val(txt80E_CurrentAmt);
    });
    //End 4. interest On Higher Education Loan (80-E)



    //Start 5. Self-Disability (80-U)
    document.getElementById("Chk_80U_IsSevere").disabled = true;
    var Limit80UPhyHandIsNonSevere = @Html.Raw(Json.Encode(TempData["Limit80U_Physical_Handicap_NonSevere_Amount"]));
    var Limit80UPhyHandIsSevere = @Html.Raw(Json.Encode(TempData["Limit80U_Physical_Handicap_Severe_Amount"]));
    $("#Chk_80U_IsPhysicallyHandicapped").change(function () {
        debugger;
        if ($('#Chk_80U_IsPhysicallyHandicapped').is(":checked")) {
            document.getElementById("Chk_80U_IsSevere").disabled = false;
            $("#lbl_80U_LimitAmt").val(Limit80UPhyHandIsNonSevere);
            $("#lbl_80U_EligibleDeductionAmt").val(Limit80UPhyHandIsNonSevere);
        }
        else {
            document.getElementById("Chk_80U_IsSevere").disabled = true;
            $('#Chk_80U_IsSevere').prop('checked', false).removeAttr('checked');
            $("#lbl_80U_LimitAmt").val(0);
            $("#lbl_80U_EligibleDeductionAmt").val(0);
        }
    });

    $("#Chk_80U_IsSevere").change(function () {
        if ($('#Chk_80U_IsSevere').is(":checked")) {
            $("#lbl_80U_LimitAmt").val(Limit80UPhyHandIsSevere);
            $("#lbl_80U_EligibleDeductionAmt").val(Limit80UPhyHandIsSevere);
        }
        else {
            $("#lbl_80U_LimitAmt").val(Limit80UPhyHandIsNonSevere);
            $("#lbl_80U_EligibleDeductionAmt").val(Limit80UPhyHandIsNonSevere);
        }
    });
    // End 5. Self-Disability (80-U)

    //Start 6. Additional Contribution to NPS 80CCD (1B)
    var Limit80CCD_1B_NPS_Amount = @Html.Raw(Json.Encode(TempData["Limit80CCD_1B_NPS_Amount"]));
    $("#lbl_80CCD1B_LimitAmt").val(Limit80CCD_1B_NPS_Amount);
    $("#80CCD1B_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80CCD1B_CurrentAmt = Number($("#80CCD1B_CurrentAmt").val()); //text
        $("#lbl_80CCD1B_EligibleDeductionAmt").val(txt80CCD1B_CurrentAmt);
        if(txt80CCD1B_CurrentAmt>Limit80CCD_1B_NPS_Amount)
        {
            $("#lbl_80CCD1B_EligibleDeductionAmt").val(Limit80CCD_1B_NPS_Amount);
        }
    });
    //End 6. Additional Contribution to NPS 80CCD (1B)

    //Start 7. interest on Saving Bank Account (80TTA)
    var Limit80TTA_Amount = @Html.Raw(Json.Encode(TempData["Limit80TTA_Amount"]));
    $("#lbl_80TTA_LimitAmt").val(Limit80TTA_Amount);
    $("#80TTA_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80TTA_CurrentAmt = Number($("#80TTA_CurrentAmt").val()); //text
        $("#lbl_80TTA_EligibleDeductionAmt").val(txt80TTA_CurrentAmt);
        if(txt80TTA_CurrentAmt>Limit80TTA_Amount)
        {
            $("#lbl_80TTA_EligibleDeductionAmt").val(Limit80TTA_Amount);
        }
    });
    //End 7. interest on Saving Bank Account (80TTA)

    //Start 8. interest on Saving Bank Account (80TTB-Senior Citizen)
    var Limit80TTB_Amount = @Html.Raw(Json.Encode(TempData["Limit80TTB_Amount"]));
    $("#lbl_80TTB_LimitAmt").val(Limit80TTB_Amount);
    $("#80TTB_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80TTB_CurrentAmt = Number($("#80TTB_CurrentAmt").val()); //text
        $("#lbl_80TTB_EligibleDeductionAmt").val(txt80TTB_CurrentAmt);
        if(txt80TTB_CurrentAmt>Limit80TTB_Amount)
        {
            $("#lbl_80TTB_EligibleDeductionAmt").val(Limit80TTB_Amount);
        }
    });
    //End 8. interest on Saving Bank Account (80TTB-Senior Citizen)

    //Start 9. interest on Loan For Purchase of Electric Vehicle(80EEB)
    var Limit80EEB_Interes_Onelecticvechile = @Html.Raw(Json.Encode(TempData["Limit80EEB_Interes_Onelecticvechile"]));
    $("#lbl_80EEB_LimitAmt").val(Limit80EEB_Interes_Onelecticvechile);
    $("#80EEB_CurrentAmt").keyup(function (e) {
        debugger;
        var txt80EEB_CurrentAmt = Number($("#80EEB_CurrentAmt").val()); //text
        $("#lbl_80EEB_EligibleDeductionAmt").val(txt80EEB_CurrentAmt);
        if(txt80EEB_CurrentAmt>Limit80EEB_Interes_Onelecticvechile)
        {
            $("#lbl_80EEB_EligibleDeductionAmt").val(Limit80EEB_Interes_Onelecticvechile);
        }
    });
    //End 9. interest on Loan For Purchase of Electric Vehicle(80EEB)

    //Start 10. Donations.(80G/ 80GGA/ 80GGC)
    $("#Donations80G_100Per_CurrentAmt").keyup(function (e) {
        debugger;
        var txtDonations80G_100Per = Number($("#Donations80G_100Per_CurrentAmt").val()); //text
        $("#lbl_80G_100Per_Eligible").val(txtDonations80G_100Per);
    });

    $("#Donations80G_50Per_CurrentAmt").keyup(function (e) {
        debugger;
        var txtDonations80G_50Per = Number($("#Donations80G_50Per_CurrentAmt").val()); //text
        $("#lbl_80G_50Per_Eligible").val(txtDonations80G_50Per/2);
    });

    $("#TempleMosqueGurudwara50Per_CurrentAmt").keyup(function (e) {
        debugger;
        var txtTempleMosqueGurudwara50Per = Number($("#TempleMosqueGurudwara50Per_CurrentAmt").val()); //text
        $("#lbl_TempleMosqueGurudwara50Pert_Eligible").val(txtTempleMosqueGurudwara50Per/2);
    });

    $("#development_CurrentAmt").keyup(function (e) {
        debugger;
        var txtdevelopment_CurrentAmt = Number($("#development_CurrentAmt").val()); //text
        $("#lbl_80GGA_ScientificResearch_Eligible").val(txtdevelopment_CurrentAmt);
    });

    $("#btnAdd80G_A").click(function () {
        var txt80G_A = $("#ddl80G_A option:selected").text().trim();
        $("#txtArea_80G_100Per_Remark").val(function(_, val) {
            return val + txt80G_A + "\n";
        });
    });

    var Task1 = new Array();
    var data1 = {};
    $("#btnAdd80G_B").click(function () {
        var txt80G_B = $("#ddl80G_B option:selected").text().trim();
        $("#txtArea_80G_50Per_Remark").val(function(_, val) {
            return val + txt80G_B + "\n";
        });
    });

    $("#PoliticalParties_CurrentAmt").keyup(function (e) {
        debugger;
        var txtPoliticalParties_CurrentAmt = Number($("#PoliticalParties_CurrentAmt").val()); //text
        $("#lbl_80GGC_PoliticalParties_Eligible").val(txtPoliticalParties_CurrentAmt);

    });
</script>

<script>
    var SubmitCheck = @Html.Raw(Json.Encode(TempData["SubmitValid"]));
    $("#btnSubmit").click(function () {
        debugger;

        //Check Submit button valid or not based on open close taxDeclaration beetween Date
        if(SubmitCheck==null || SubmitCheck=="")
        {
            Swal.fire({
                //title: 'Saved',
                icon: 'error',
                text: 'Declaration window is close',
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }

        var Get80EEB_CurrentAmt=$("#80EEB_CurrentAmt").val();
        var GetVehiclePurchaseDate=  $("#VehiclePurchaseDate").val();
        if (Get80EEB_CurrentAmt>"0")
        {
            if (GetVehiclePurchaseDate=="")
            {
                $("#ErrorChapterVIA_VehiclePurchaseDate").html("Vehicle Purchase date is required");return false;
            }
            else{
                $("#ErrorChapterVIA_VehiclePurchaseDate").html("");
            }
        }
        var Donations80G_100Per_CurrentAmt=  $("#Donations80G_100Per_CurrentAmt").val();
        var txtArea_80G_100Per_Remark=  $("#txtArea_80G_100Per_Remark").val().trim();

        if (Donations80G_100Per_CurrentAmt>"0" )
        {
            debugger
            if (txtArea_80G_100Per_Remark=="" || txtArea_80G_100Per_Remark=="--Select--")
            {
                $("#ErrorChapterVIA_Donations80G_100Per_Remark").html("Funds eligible for 100% deduction without limit (80G) is required");return false;
            }
            else{
                $("#ErrorChapterVIA_Donations80G_100Per_Remark").html("");
            }
        }
        var Donations80G_50Per_CurrentAmt=  $("#Donations80G_50Per_CurrentAmt").val();
        var txtArea_80G_50Per_Remark=  $("#txtArea_80G_50Per_Remark").val().trim();;
        if (Donations80G_50Per_CurrentAmt> "0")
        {
            if (txtArea_80G_50Per_Remark=="" || txtArea_80G_50Per_Remark=="--Select--")
            {
                $("#ErrorChapterVIA_Donations80G_50Per_Remark").html("Funds eligible for 50% deduction without limit (80G) is required");return false;
            }
            else{
                $("#ErrorChapterVIA_Donations80G_50Per_Remark").html("");
            }
        }

        $(".Userloaderbg").css("display", "flex");
        var Totallbl = Number($("#Totallbl").val());
        var lbl_80DD = Number($("#lbl_80DDEligible").val());
        var lbl_80DDB = Number($("#lbl_80DDBEligible").val());
        var DDBInsComp = Number($("#lbl_80DDBInsuranceCompEligible").val());
        var E_Eligible = Number($("#lbl_80E_Eligible").val());
        var U_Eligible = Number($("#lbl_80U_EligibleDeductionAmt").val());
        var CCD1B_Eligible = Number($("#lbl_80CCD1B_EligibleDeductionAmt").val());
        var TTA_Eligible = Number($("#lbl_80TTA_EligibleDeductionAmt").val());
        var TTB_Eligible = Number($("#lbl_80TTB_EligibleDeductionAmt").val());
        var EEB_Eligible = Number($("#lbl_80EEB_EligibleDeductionAmt").val());
        var lbl80G_100Per_Eligible = Number($("#lbl_80G_100Per_Eligible").val());
        var lbl80G_50Per_Eligible = Number($("#lbl_80G_50Per_Eligible").val());
        var lblTempleMos50Pert = Number($("#lbl_TempleMosqueGurudwara50Pert_Eligible").val());
        var lbl80GGA_SciRes = Number($("#lbl_80GGA_ScientificResearch_Eligible").val());
        var lbl80GGC_Polit = Number($("#lbl_80GGC_PoliticalParties_Eligible").val());
        var AllTotal = Totallbl + lbl_80DD + lbl_80DDB + DDBInsComp + E_Eligible + U_Eligible + CCD1B_Eligible + TTA_Eligible + TTB_Eligible + EEB_Eligible + lbl80G_100Per_Eligible +  lbl80G_50Per_Eligible + lblTempleMos50Pert + lbl80GGA_SciRes + lbl80GGC_Polit;
        $("#lblAllTotal").val(AllTotal);

        $("#FormSaveChapterVI_A").submit();
    });
</script>