
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Warning List</title>
</head>
<body>
    <div id="content" class="app-content">
        <!-- BEGIN breadcrumb -->
        <ol class="breadcrumb float-xl-end">
            <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/Setting/Setting_Warning_Menu/Setting_Warning_Menu">Warning Menu</a></li>
        </ol>
        <!-- END breadcrumb -->
        <!-- BEGIN page-header -->
        <h1 class="page-header"> Employee Warning List </h1>
        <!-- END page-header -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                     <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title"> Employee Warning - List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div> 
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            This is the list of employee warning created.
                        </p>
                    </div>
                    <div class="panel-body" data-scrollbar="true">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/Setting/Setting_Warning_EmployeeWarning/Setting_Warning_EmployeeWarning">
                                    <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                        <i class="fa-solid fa-plus"></i> &nbsp; Add
                                    </button>
                                </a>
                                <!-- BEGIN table-responsive -->
                                <table class="table table-bordered align-middle" id="data-table-combine"
                                       style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-nowrap width-45">Update</th>
                                            <th class="text-nowrap width-45">Delete</th>
                                            <th class="text-nowrap">Doc No</th>
                                            <th class="text-nowrap">Doc Date </th>
                                            <th class="text-nowrap">Employee Name</th>
                                            <th class="text-nowrap">Warning Type</th>
                                            <th class="text-nowrap">Description</th>
                                            <th class="text-nowrap">CreatedBy </th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">ModifiedBy</th>
                                            <th class="text-nowrap">Modified Date </th>
                                            <th class="text-nowrap">Machine Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetEmployeeWarningList)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <button type="button" onclick="UpdateGeneralClaims('@d.WarningEmpID_Encrypted')" id="btnUpdate"
                                                            class="btn btn-success btnpress ListBtn">
                                                        <i class="fa-solid fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" onclick="DeleteGeneralClaims('@d.WarningEmpID')" id="btnDelete"
                                                            class="btn btn-danger ListBtn btnpress">
                                                        <i class="fa-solid fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                                <td>@d.DocNo</td>
                                                <td>@d.DocDate</td>
                                                <th>@d.EmployeeName</th>
                                                <th>@d.WarningType</th>
                                                <th>@d.Description</th>

                                                <td>@d.CreatedBy</td>
                                                <td>@d.CreatedDate</td>
                                                <td>@d.ModifiedBy</td>
                                                <td>@d.ModifiedDate</td>
                                                <td>@d.MachineName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>


</body>
</html>


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>

    function UpdateGeneralClaims(WarningEmpID_Encrypted) {
        var url = '@Url.Action("Setting_Warning_EmployeeWarning", "Setting_Warning_EmployeeWarning")?WarningEmpID_Encrypted=' + WarningEmpID_Encrypted;
        window.location.href = url;
    }



    function DeleteGeneralClaims(WarningEmpID) {
             const DeleteButtons = Swal.mixin({
                 customClass: {
                     cancelButton: ' btnpress',
                     confirmButton: ' btnpress'
                 },
                 buttonsStyling: true
             })
             DeleteButtons.fire({
                 title: 'Are you sure?',
                 text: "You won't be able to revert this!",
                 icon: 'warning',
                 confirmButtonColor: '#d33',
                 cancelButtonColor: '#3085d6',
                 showCancelButton: true,
                 confirmButtonText: 'Yes, delete it!',
                 cancelButtonText: 'No, cancel!',
                 reverseButtons: false,
                 allowOutsideClick: () => {
                     const popup = Swal.getPopup()
                     popup.classList.remove('swal2-show')
                     setTimeout(() => {
                         popup.classList.add('animate__animated', 'animate__headShake')
                     })
                     setTimeout(() => {
                         popup.classList.remove('animate__animated', 'animate__headShake')
                     }, 500)
                     return false
                 }

             }).then((result) => {
                 if (result.isConfirmed) {
                     window.location.href = '@Url.Action("Delete", "Setting_Warning_EmployeeWarning")?WarningEmpID=' + WarningEmpID;

                 } else if (
                     result.dismiss === Swal.DismissReason.cancel
                 ) {

                 }
             })
    }

</script>




