@model KompassHR.Areas.ESS.Models.ESS_Training.Training_TrainingPlan

@{
    ViewBag.Title = "ESS_Training_TrainingConduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Training Conduct
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_LMS_Training_Training", "ESS_LMS_Training_Training",  new { id = 38,ScreenId=589, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Training Conduct - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Training conduct information created here.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_Training_TrainingConduct", "ESS_Training_TrainingConduct", new { area = "ESS" })' id="TrainingConduct" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Calender
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingCalenderId, new SelectList(ViewBag.TrainingCalender, "Id", "Name"), "--Select--", new { id = "ddlTrainingCalenderID", name = "TrainingCalenderID", @class = "form-select", autocomplete = "off", onchange = "OnTrainingCalenderChanged();"})
                                                <span id="ddlTrainingCalenderID-error" class="text-danger" style="display:none;"></span>
                                             </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Plan
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingPlan_MasterId, new SelectList(ViewBag.GetTrainingPlan, "Id", "Name"), "--Select--", new { id = "ddlTrainingPlanID", name = "TrainingPlanID", @class = "form-select", autocomplete = "off", onchange = "OnTrainingPlanChanged();" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Batch
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.Batch, new SelectList(ViewBag.Batch, "Id", "Name"), "--Select--", new { id = "ddlBatch", name = "Batch", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnload" style="margin-top: 33px;" onclick="ShowEmployee(); ">
                                                    Show
                                                </button>
                                                <a href="javascript:void(0);" onclick="goToTrainingList();" class="btn btn-danger btn-sm" style="margin-top: 33px;" id="btnGetUserAccessPolicyList">
                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN table-responsive -->
                                            <div class="table-scroll div1">
                                                <div class="table-wrap">
                                                    <table id="tblEmployees" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">
                                                                    <label>
                                                                        <input type="checkbox" id="AllCheckBox" class="allChecked"> <b>&nbsp;All</b>
                                                                    </label>
                                                                </th>
                                                                <th hidden>EmployeeId</th>
                                                                <th>Employee Name</th>
                                                                <th>Designation</th>
                                                                <th>Department</th>
                                                                <th>Mobile No</th>
                                                                <th>Email Id</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblLoadEmployee">
                                                            @if (ViewBag.GetCalenderAssignedEmpolyeeList != null)
                                                            {
                                                                foreach (var d in ViewBag.GetCalenderAssignedEmpolyeeList)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            @{
                                                                                var check = Convert.ToBoolean(d.IsTrainingConduct) ? "checked" : "";
                                                                            }
                                                                            <input type="checkbox" class="rowCheckbox" id="chkIsActive_@d.EmployeeId" @check />
                                                                        </td>
                                                                        <td hidden>@d.EmployeeId</td>
                                                                        <td>@d.EmployeeName</td>
                                                                        <td>@d.DesignationName</td>
                                                                        <td>@d.DepartmentName</td>
                                                                        <td>@d.PrimaryMobile</td>
                                                                        <td>@d.PersonalEmailId</td>
                                                                    </tr>
                                                                      }
                                                                  }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        Submit
                                                    </button>
                                                    <a href="@Url.Action("GetTrainingConductList", "ESS_Training_TrainingConduct", new { id = 38, ScreenId = 555, area = "ESS" })">
                                                        <button type="button" id="btnGetList"
                                                                class="btn btn-success btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                    Training Conduct List
                                                        </button>
                                                    </a>
                                                    <a href="@Url.Action("GetTrainingPendingList", "ESS_Training_TrainingConduct", new { id = 38, ScreenId = 555, area = "ESS" })">
                                                        <button type="button" id="btnGetList"
                                                                class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            Training Pending List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ddlTrainingCalenderID").select2();
        $("#ddlTrainingPlanID").select2();
        $("#ddlBatch").select2();
    });

    function OnTrainingCalenderChanged() {
        debugger;
        var CalenderId = document.getElementById("ddlTrainingCalenderID").value;
        $("#ddlTrainingPlanID").empty();
        $("#ddlBatch").empty();
        $.ajax({
            url: '@Url.Action("GetTrainingPlan", "ESS_Training_TrainingConduct")',
            method: "GET",
            data: { CalenderId: CalenderId },
            success: function (data) {
                debugger
                if (data != null) {
                    $("#ddlTrainingPlanID").append("<option value=''>--Select-- </option>");
                    $.each(data, function (i, p) {
                        $("#ddlTrainingPlanID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error:", xhr.responseText);
            }
        });

    }

    function OnTrainingPlanChanged() {
        debugger;
        var PlanId = document.getElementById("ddlTrainingPlanID").value;

        $("#ddlBatch").find("option").remove();
        if ($.fn.DataTable.isDataTable('#tblEmployees')) {
            $('#tblEmployees').DataTable().destroy();
        }
        var tbody = $('#tblLoadEmployee');
        tbody.empty();
        $.ajax({
            url: '@Url.Action("GetBatch", "ESS_Training_TrainingConduct")',
            method: "GET",
            data: { PlanId: PlanId },
            success: function (data) {
                debugger
                if (data != null) {
                    $("#ddlBatch").append("<option value=''>--Select-- </option>");
                    $.each(data, function (i, p) {
                        $("#ddlBatch").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error:", xhr.responseText);
            }
        });
    }

    function goToTrainingList() {
        var TrainingCalenderId = $('#ddlTrainingCalenderID').val();
        var errorSpan = $('#ddlTrainingCalenderID-error');

        if (!TrainingCalenderId || TrainingCalenderId === "--Select--") {
            errorSpan.text("Please select a training calendar.");
            errorSpan.show();
            return;
        } else {
            errorSpan.text("");
            errorSpan.hide();
        }

        var url = '@Url.Action("GetList", "ESS_Training_TrainingConduct", new { area = "ESS" })';
        url += '?TrainingCalenderId=' + TrainingCalenderId;

        window.location.href = url;
    }

    // Select/Deselect all checkboxes
    $(document).on('change', '#AllCheckBox', function () {
        var table = $('#tblEmployees').DataTable();
        var isChecked = $(this).is(':checked');

        table.rows({ search: 'applied' }).nodes().each(function (row) {
            $(row).find('.rowCheckbox').prop('checked', isChecked);
        });
    });

    $(document).on('change', '.rowCheckbox', function () {
        const all = $('.rowCheckbox').length;
        const checked = $('.rowCheckbox:checked').length;
        $('#AllCheckBox').prop('checked', all === checked);
    });

    jQuery.validator.addMethod(
"regex",
   function (value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   }, "erreur expression reguliere"
);

    $("#TrainingConduct").validate({
        rules: {
            TrainingCalenderId: {
                required: true
            },
            TrainingPlan_MasterId: {
                required: true
            },
            Batch: {
                required: true
            }
        },
        messages: {
            TrainingCalenderId: {
                required: "Please select Training Calender."
            },
            TrainingPlan_MasterId: {
                required: "Please select Training Plan."
            },
            Batch: {
                required: "Please select Batch."
            }
        },
        errorElement: 'span',
        errorClass: 'text-danger'
    });

    var form = $("#TrainingConduct");
    form.validate();

    function ShowEmployee() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#txtEstablishedDate").removeClass("error");
            return false;
        }

        var trainingCalId = $("#ddlTrainingCalenderID").val();
        var trainingPlanId = $("#ddlTrainingPlanID").val();
        var batch = $("#ddlBatch option:selected").text();

        $.ajax({
            url: '@Url.Action("GetEmployeeDetails", "ESS_Training_TrainingConduct")',
            type: 'GET',
            data: {
                TrainingCalenderId: trainingCalId,
                TrainingPlanId: trainingPlanId,
                Batch: batch
            },
            success: function (data) {
                if ($.fn.DataTable.isDataTable('#tblEmployees')) {
                    $('#tblEmployees').DataTable().destroy();
                }

                var tbody = $('#tblLoadEmployee');
                tbody.empty();

                if (data && data.length > 0) {
                    $.each(data, function (i, d) {
                        var checked = d.IsTrainingConduct ? 'checked' : '';
                        var row = `<tr>
                        <td class="text-center">
                            <input type="checkbox" class="rowCheckbox" id="chkIsActive_${d.EmployeeId}" ${checked} style="cursor:pointer" />
                        </td>
                        <td hidden>${d.EmployeeId}</td>
                        <td>${d.EmployeeName}</td>
                        <td>${d.DesignationName}</td>
                        <td>${d.DepartmentName}</td>
                        <td>${d.PrimaryMobile}</td>
                        <td>${d.PersonalEmailId}</td>
                    </tr>`;
                        tbody.append(row);
                    });
                }

                $('#tblEmployees').DataTable({
                    "paging": true,
                    "searching": true,
                    "ordering": false
                });
            },
            error: function (xhr, status, error) {
                console.error("Error loading employees:", error);
            }
        });
    }

    $("#btnSubmit").click(function () {
        debugger
        $(".Userloaderbg").css("display", "flex");
        var TrainingPlanId = $("#ddlTrainingPlanID").val();
        var table = document.getElementById("tblLoadEmployee");
        //var table = $('#tblEmployees').DataTable();
        //var TrainingConductEmployeeList = [];

        //table.rows().every(function () {
        //    var row = this.node();
        //    var checkbox = $(row).find('.rowCheckbox');

        //    if (checkbox.prop('checked')) {
        //        var data = {};
        //        data.IsTrainingConduct = true;
        //        data.EmployeeId = $(row).find('td').eq(1).text().trim(); 
        //        TrainingConductEmployeeList.push(data);
        //    }
        //});

        var table = $('#tblEmployees').DataTable();
        var TrainingConductEmployeeList = [];

        table.rows().every(function () {
            var row = this.node();
            var checkbox = $(row).find('.rowCheckbox');

            var data = {};
            data.EmployeeId = $(row).find('td').eq(1).text().trim();
            data.IsTrainingConduct = checkbox.prop('checked'); 

            TrainingConductEmployeeList.push(data);
        });

        if (TrainingConductEmployeeList.length === 0) {
            alert("Please select at least one employee.");
            $(".Userloaderbg").hide();
            return false;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpadte", "ESS_Training_TrainingConduct")',
            data: JSON.stringify({ TrainingConductEmployeeList: TrainingConductEmployeeList, TrainingPlanId: TrainingPlanId }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (Icon1 != null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                            }
                        }).then(function () {
                            var url = '@Url.Action("ESS_Training_TrainingConduct", "ESS_Training_TrainingConduct")';
                            window.location.href = url;
                        })
                    }
                }
            }
        });
    });

</script>
