@model KompassHR.Areas.Reports.Models.TaxFilters

@{
    ViewBag.Title = "ESS_Tax_ChallanAndReturn_Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
               Challan Return
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_ChallanAndReturn", "ESS_Tax_ChallanAndReturn", new {id = 9, ScreenId=235, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Challan Return </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" href="@Url.Action("ESS_Tax_ChallanAndReturn_Return", "ESS_Tax_ChallanAndReturn_Return" , new { area = "ESS" })" id="ChallanReturnRPUFile" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                TAN<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TAN, new SelectList(ViewBag.GetTAN, "Id", "Name"), "--Select--", new { id = "TAN", @class = "form-select", autocomplete = "off", name = "TAN" })
                                                <span id="ErrorddlCmpId" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Financial Year<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.FinancialYear, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "ddlTaxFyearId", @class = "form-select", autocomplete = "off", name = "FinancialYear" })
                                                <span id="ErrorddlTaxFyearId" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>

                                
                                <div class="row">                                  
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Quarter<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Quarter, new SelectList(new List<object>() {
                                                                 new {text="1",value="Q1"},
                                                                 new {text="2",value="Q2"},
                                                                 new {text="3",value="Q3"},
                                                                 new {text="4",value="Q4"},
                                                                  }, "text", "value"), "--Select--", new { @class = "form-select ", id = "Quarter", name = "Quarter" })
                                                <span id="ErrorQuarter" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Date<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model=>model.MonthYear,new { @class="form-control",id="txtDate",type="date",name="Date"})
                                                <span id="ErrorMonthYear" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!-- Left column content (if any) -->
                                            </div>
                                            <div class="col-md-4 d-flex justify-content-end align-items-center gap-2">
                                                <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                    <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                </button>

                                                <button type="button" class="btn btn-success" id="btlExportToRPU" onclick="DownloadRPUFile()">
                                                    <i class="fa-regular fa-file-excel fa-xl"></i> RPU File
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>











<script>
    $(document).ready(function () {
        const today = new Date();
        const formattedDate = today.toISOString().split('T')[0]; // yyyy-mm-dd
        document.getElementById("txtDate").value = formattedDate;
    });
</script>





<script>
    jQuery.validator.addMethod(
"regex",
function (value, element, regexp) {
    if (regexp.constructor != RegExp)
        regexp = new RegExp(regexp);
    else if (regexp.global)
        regexp.lastIndex = 0;
    return this.optional(element) || regexp.test(value);
}, "erreur expression reguliere"
);

    $("#ChallanReturnRPUFile").validate({
        rules: {
            TAN: {
                required: true,
            },
            FinancialYear: {
                required: true,
            },
            Quarter: {
                required: true,
            },
            Date: {
                required: true,
            },

        },
        messages: {
            TAN: {
                required: "Please select TAN ",
            },
            FinancialYear: {
                required: "Please select Financial Year",
            },
            Quarter: {
                required: "Please select Quarter",
            },
            Date: {
                required: "Please select Date ",
            },
        }
    });

    var form = $("#ChallanReturnRPUFile");
    form.validate();





    function downloadExcelFile() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }


        $(".Userloaderbg").css("display", "flex");
        var Fyear = $('#ddlTaxFyearId option:selected').text();
        var QuarterName = $('#Quarter option:selected').text();
        var TAN = $('#TAN option:selected').text();


        var FYearID = encodeURIComponent($("#ddlTaxFyearId").val());
        var TAN_ID = encodeURIComponent($("#TAN").val());

        var Quarter = encodeURIComponent($("#Quarter").val());

        var Date = encodeURIComponent($("#txtDate").val());

        var url = `@Url.Action("DownloadExcelFile", "ESS_Tax_ChallanAndReturn_Return")?FYearID=${FYearID}&TAN_ID=${TAN_ID}&Quarter=${Quarter}&Date=${Date}&TAN=${TAN}&QuarterName=${QuarterName}&Fyear=${Fyear}`;

            $.ajax({
                url: url,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob
                },
                success: function(data) {
                    debugger;
                    $(".Userloaderbg").css("display", "none");
                    if(data.size==0)
                    {
                        Swal.fire({
                            icon: 'error',
                            text: 'Record Not Found',
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                        $(".Userloaderbg").css("display", "none");
                        return false;
                    }

                    // Create a Blob from the response data
                    var formattedDate = Fyear;
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    // Create a temporary anchor element to initiate the download
                    var anchorElement = document.createElement('a');
                    var url = window.URL.createObjectURL(blob);
                    anchorElement.href = url;
                    anchorElement.download = '' + TAN + '-' + formattedDate + '-' + QuarterName + '.xlsx';
                    anchorElement.click();
                    // Clean up
                    window.URL.revokeObjectURL(url);
                },
                error: function(xhr, status, error) {
                    console.error('Error downloading file:', error);
                }
            });
    }
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function (value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   }, "erreur expression reguliere"
);

    $("#ChallanReturnRPUFile").validate({
        rules: {
            TAN: {
                required: true,
            },
            FinancialYear: {
                required: true,
            },
            Quarter: {
                required: true,
            },
            Date: {
                required: true,
            },
            
        },
        messages: {
            TAN: {
                required: "Please select TAN ",
            },
            FinancialYear: {
                required: "Please select Financial Year",
            },
            Quarter: {
                required: "Please select Quarter",
            },
            Date: {
                required: "Please select Date ",
            },                   
        }
    });

    var form = $("#ChallanReturnRPUFile");
    form.validate();


    function DownloadRPUFile() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }


        debugger;
        $(".Userloaderbg").css("display", "flex");
        var Fyear =  $('#ddlTaxFyearId option:selected').text();
        var QuarterName = $('#Quarter option:selected').text();
        var TAN = $('#TAN option:selected').text();


       var FYearID = encodeURIComponent($("#ddlTaxFyearId").val());
       var TAN_ID = encodeURIComponent($("#TAN").val());
       
       var Quarter = encodeURIComponent($("#Quarter").val());
       
       var Date = encodeURIComponent($("#txtDate").val());
       var url = `@Url.Action("DownloadRPUFile", "ESS_Tax_ChallanAndReturn_Return")?FYearID=${FYearID}&TAN_ID=${TAN_ID}&Quarter=${Quarter}&Date=${Date}&TAN=${TAN}&QuarterName=${QuarterName}&Fyear=${Fyear}`;

            $.ajax({
                url: url,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob
                },
                success: function(data) {
                    debugger;
                    $(".Userloaderbg").css("display", "none");
                    if(data.size==0)
                    {
                        Swal.fire({
                            icon: 'error',
                            text: 'Record Not Found',
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                        $(".Userloaderbg").css("display", "none");
                        return false;
                    }

                    // Create a Blob from the response data
                    var formattedDate = Fyear;
                    var blob = new Blob([data], { type: 'application/octet-stream' });
                    // Create a temporary anchor element to initiate the download
                    var anchorElement = document.createElement('a');
                    var url = window.URL.createObjectURL(blob);
                    anchorElement.href = url;
                    anchorElement.download = '' + TAN + '-' + formattedDate + '-' + QuarterName + '';
                    anchorElement.click();
                    // Clean up
                    window.URL.revokeObjectURL(url);
                },
                error: function(xhr, status, error) {
                    console.error('Error downloading file:', error);
                }
            });


    }
</script>
