@model KompassHR.Areas.Setting.Models.Setting_PMS.PMS_ReviewCycle

@{
    ViewBag.Title = "Setting_Competency_ReviewCycle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Review Cycle
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_CustomizePMS_Menu", "Setting_CustomizePMS_Menu", new { id = 46, ScreenId = 817, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Review Cycle - @ViewBag.AddUpdateTitle</h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Review Cycle here!
                    </p>
                </div>

                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Competency_ReviewCycle", new { area = "Setting" })'
                                  id="SaveReviewCycle"
                                  method="post"
                                  data-parsley-validate="true">

                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <label class="form-label text-dark fw-semibold">
                                            Cycle Name <span class="text-danger">*</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.CycleName, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "Enter competency name",
                                           @id = "txtCycleName",
                                           autocomplete = "off",
                                           name = "CycleName"
                                       })
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label text-dark fw-semibold">
                                                Start Date <span class="text-danger">*</span>
                                            </label>
                                            @Html.TextBoxFor(model => model.StartDate, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "Enter cycle name",
                                           @id = "txtStartDate",
                                           autocomplete = "off",
                                           name = "StartDate",
                                           type = "date"
                                       })
                                            @Html.HiddenFor(model => model.ReviewCycleID_Encrypted, new { id = "ReviewCycleID_Encrypted" })
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label text-dark fw-semibold">
                                                End Date <span class="text-danger">*</span>
                                            </label>
                                            @Html.TextBoxFor(model => model.EndDate, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "Enter competency name",
                                           @id = "txtEndDate",
                                           autocomplete = "off",
                                           name = "EndDate"
                                           ,type="date"
                                       })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label text-dark fw-semibold">
                                                Status <span class="text-danger">*</span>
                                            </label>
                                            @*@Html.TextBoxFor(model => model.Status, new
        {
            @class = "form-control",
            @placeholder = "Enter competency name",
            @id = "txtStatus",
            autocomplete = "off",
            name= "Status"
        })*@


                                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Draft", Value = "Draft"},
                                                    new SelectListItem { Text = "Active", Value = "Active"},
                                                    new SelectListItem { Text = "Completed", Value = "Completed"},
                                                }, "--Select--", new { id = "txtStatus", @class = "form-select", autocomplete = "off", name = "Status" })


                                        </div>

                                        <div class="col-md-6">
                                           
                                            <div class="row mb-4">
                                                <div class="col-md-12">
                                                    <label class="form-label text-dark fw-semibold">
                                                        Description <span class="text-danger">*</span>
                                                    </label>
                                                    @Html.TextAreaFor(model => model.Description, new
                                       {
                                           @class = "form-control",
                                           @rows = "3",
                                           @placeholder = "Enter description",
                                           @id = "txtDescription",
                                           autocomplete = "off",
                                           name = "Description"
                                       })
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                  

                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Setting_Competency_ReviewCycle", new { area = "Setting" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnDocumentCategory">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //var today = new Date().toISOString().split('T')[0];
        //document.getElementById("txtStartDate").setAttribute("min", today);

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        debugger
        var StartDate = @Html.Raw(Json.Encode(TempData["StartDate"]));
        var EndDate = @Html.Raw(Json.Encode(TempData["EndDate"]));

        if(StartDate =="" || EndDate == "")
        {

        }
        else
        {
            var StartDate =  convertDate(StartDate);
            var EndDate =  convertDate(EndDate);

            $("#txtStartDate").val(StartDate);
            $("#txtEndDate").val(EndDate);
        }


    });//ready Funcation


    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }


    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $('#SaveReviewCycle').validate({
        rules: {
            CycleName: {
                required: true,
            },
            StartDate: {
                required: true,
            },
            EndDate: {
                required: true,
            },
            Status: {
                required: true,
            },
            Description: {
                required: true,
            },
        },
        messages: {
            CycleName: {
                required: "Cycle Name is required",
            },
            StartDate: {
                required: "Start Date is required",
            },
            EndDate: {
                required: "End Date is required",
            },
            Status: {
                required: "Status is required",
            },
            Description: {
                required: "Description is required",
            },
        },
    });


    var form = $("#SaveReviewCycle");
    form.validate();
    $("#btnSubmit").click(function () {
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        var CycleName=$("#txtCycleName").val();
        var ReviewCycleID_Encrypted=$("#ReviewCycleID_Encrypted").val();

        $.ajax({
            url: '@Url.Action("IsValidation", "Setting_Competency_ReviewCycle")',
            method:"get",
            data:{ReviewCycleID_Encrypted:ReviewCycleID_Encrypted,CycleName:CycleName},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveReviewCycle").submit();

                }
            }
        });

    });
</script>
