@model KompassHR.Areas.Setting.Models.Setting_PMS.PMS_CompetencyFramework
@{
    ViewBag.Title = "Setting_Competency_Framework";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Competency Framework
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "Setting_Competency_Framework", new { id = 11, ScreenId = 819, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Competency Framework - @ViewBag.AddUpdateTitle</h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Competency Framework here!
                    </p>
                </div>

                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form"
                                  action='@Url.Action("SaveUpdate", "Setting_Competency_Framework", new { area = "Setting" })'
                                  id="SaveCompetencyFramework"
                                  method="post"
                                  data-parsley-validate="true">

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label text-dark fw-semibold">
                                            Competency Type <span class="text-danger">*</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.CompentencyType, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Enter competency type",
                                       @id = "txtCompentencyType",
                                       autocomplete = "off"
                                   })
                                        @Html.Hidden("CompetencyFrameworkId_Encrypted", "", new { id = "CompetencyFrameworkId_Encrypted" })
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label text-dark fw-semibold">
                                            Category <span class="text-danger">*</span>
                                        </label>
                                        @*@Html.TextBoxFor(model => model.Category, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Enter category",
                                       @id = "txtCategory",
                                       autocomplete = "off"
                                   })*@

                                        @Html.DropDownListFor(model => model.Category, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Common to all", Value = "Common to all"},
                                                    new SelectListItem { Text = "Role Specific", Value = "Role Specific"},
                                                    new SelectListItem { Text = "Management Specific", Value = "Management Specific"},
                                                }, "--Select--", new { id = "txtCategory", @class = "form-select", autocomplete = "off", name = "Category" })
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <label class="form-label text-dark fw-semibold">
                                            Description 
                                        </label>
                                        @Html.TextAreaFor(model => model.Description, new
                                   {
                                       @class = "form-control",
                                       @rows = "3",
                                       @placeholder = "Enter description",
                                       @id = "txtDescription",
                                       autocomplete = "off"
                                   })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Competency_Framework", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnDocumentCategory">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });//ready Funcation

    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $('#SaveCompetencyFramework').validate({
        rules: {
            CompentencyType: {
                required: true,
            },
            Category: {
                required: true,
            },
        },
        messages: {
            CompentencyType: {
                required: "Compentency Type is required",
            },
            Category: {
                required: "Category is required",
            },
        },
    });


    var form = $("#SaveCompetencyFramework");
    form.validate();
    $("#btnSubmit").click(function () {
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        var CompentencyType=$("#txtCompentencyType").val();
        var Category=$("#txtCategory").val();
        var CompentencyType=$("#txtCompentencyType").val();
        var CompetencyFrameworkIdEncrypted=$("#CompetencyFrameworkId_Encrypted").val();

        $.ajax({
            url: '@Url.Action("IsValidation", "Setting_Competency_Framework")',
            method:"get",
            data:{CompentencyType:CompentencyType,CompetencyFrameworkIdEncrypted:CompetencyFrameworkIdEncrypted},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveCompetencyFramework").submit();

                }
            }
        });

    });
</script>




