@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_Family
@{
    ViewBag.Title = "Module_Employee_WorkerFamilyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }


    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
     th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }
</style>


<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "Dashboard" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_Contractor_Menu", "ESS_Contractor_Menu", new { id = 27, ScreenId=307, area = "Module" })">Contractor Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Worker Family Information </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Worker Family Information - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add employee family details.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveWorkerFamily", "Module_Employee_WorkerDetails", new { area = "Module" })' id="SaveWorkerFamilyInformation" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["WorkerOnboardEmployeeName"] -  @Session["WorkerOnboardEmployeeNo"]  (@Session["WorkerContractorName"]) </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["WorkerOnboardEmpDepartment"] / @Session["WorkerOnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["WorkerOnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Family Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Member Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.MemberName, new { @class = "form-control", name = "MemberName", type = "text", id = "txtMemberName", autocomplete = "Off", Maxlength = 50 })
                                                @Html.HiddenFor(model => model.FamilyId_Encrypted, new { id = "FamilyId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Relation With
                                                Candidate
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.Relation, new SelectList(ViewBag.GetRelationName, "RelationName", "RelationName"), "--Select--", new { id = "ddlRelation", @class = "form-select", autocomplete = "off", name = "Relation" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Date Of Birth
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", name = "DOB", type = "date", id = "dateDOB", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Aadhar No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.AadharNo, new { @class = "form-control", name = "AadharNo", type = "text", Maxlength = 12, onkeypress = " return numbervalidate(event)", id = "txtAadharNo", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="col-md-3">
                                                <label class="col-form-label"> </label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.ESIC_InsuranceType, new { id = "ESIC_InsuranceType" })
                                                    &nbsp;
                                                    <label class="form-check-label form-label">
                                                        ESIC Covered
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label col-form-label col-md-4" id="lblMemberResiding">
                                                    Member_Residing
                                                </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.Member_Residing, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Yes", Value = "Yes"},
                                                    new SelectListItem { Text = "No", Value = "No"},
                                                }, "--Select--", new { id = "ddlMember_Residing", @class = "form-select", autocomplete = "off", name = "Member_Residing", @onchange = "check()" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label col-form-label col-md-6" id="lblTownName">
                                                    Town Name
                                                </label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.TownName, new { @class = "form-control", name = "TownName", type = "text", id = "txtTownName", autocomplete = "Off", Maxlength = 30 })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label col-form-label col-md-4" id="lblStateName">
                                                    State Name
                                                </label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.StateName, new { @class = "form-control", name = "StateName", type = "text", id = "txtStateName", autocomplete = "Off", Maxlength = 30 })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" type="button" id="btnSubmit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("ActiveWorkerList", "Module_Employee_AddWorkers", new { area = "Module" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row ShortNote pt-1">
                                            <label><b>
                                                Note : You can add multiple family member details upto 6
                                                members</b>
                                            </label>
                                        </div>
                                        <!-- BEGIN table-responsive -->


                                        <table class="table table-bordered align-middle" id="fixed-header"
                                               style="width: 100%;">
                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="text-center">
                                                    <th class="text-nowrap"> Action</th>
                                                    <th class="text-nowrap"> Member Name </th>
                                                    <th class="text-nowrap"> Relation</th>
                                                    <th class="text-nowrap"> Date Of Birth </th>
                                                    <th class="text-nowrap"> Aadhar No.</th>
                                                    <th class="text-nowrap"> ESIC Covered</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var d in ViewBag.GetEmployeeFamilyList)
                                                {
                                                    <tr>

                                                        <td class="text-center">
                                                            <a onclick="DeleteFamily('@d.FamilyId_Encrypted')" id="btnDelete"
                                                                   style="cursor:pointer">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                            </a>
                                                        </td>
                                                        <td>@d.MemberName</td>
                                                        <td>@d.Relation</td>
                                                        <td>@d.DOB</td>
                                                        <td>@d.AadharNo</td>
                                                        <td>@d.ESIC_InsuranceType</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<div class="row">
    @Html.Action("WorkerDetails_SidebarMenu", "Module_Employee_WorkerDetails")
</div>

<script>
    $(document).ready(function () {
        $("#ddlRelation").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#ddlMember_Residing").hide();
        $("#lblMemberResiding").hide();
        $("#txtTownName").hide();
        $("#txtStateName").hide();
        $("#lblTownName").hide();
        $("#lblStateName").hide();

        $("#ESIC_InsuranceType").click(function(){
            debugger;
            var ESICValue = $("#ESIC_InsuranceType").val();
            if ($('#ESIC_InsuranceType').is(":checked")) {
                $("#ddlMember_Residing").show();
                $("#lblMemberResiding").show();
            }
            else
            {
                $("#ddlMember_Residing").hide();
                $("#lblMemberResiding").hide();
                $("#txtTownName").hide();
                $("#txtStateName").hide();
                $("#lblTownName").hide();
                $("#lblStateName").hide();
            }
        })
        $("#ddlMember_Residing").change(function(){
            var ddlCheck= $('#ddlMember_Residing :selected').val();
            if (ddlCheck== "No") {
                $("#txtTownName").show();
                $("#txtStateName").show();
                $("#lblTownName").show();
                $("#lblStateName").show();
            }
            else
            {
                $("#txtTownName").hide();
                $("#txtStateName").hide();
                $("#lblTownName").hide();
                $("#lblStateName").hide();
            }
        })
    });
</script>
<script>
    function DeleteFamily(FamilyId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $(".Userloaderbg").css("display","flex");
               window.location.href = '@Url.Action("Delete", "Module_Employee_WorkerDetails")?FamilyId_Encrypted=' + FamilyId_Encrypted;

            }
        })
    }
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);


    $("#SaveWorkerFamilyInformation").validate({
        rules: {
            MemberName: {
                required: true,
                regex: /^[a-zA-Z ]+$/,
            },
            Relation: {
                required: true,
            },
            DOB: {
                required: true,

            },
            AadharNo: {
                required: true,
                regex: /^[0-9]+$/,
            },
        },
        messages: {
            MemberName: {
                required: "Member name is required",
                regex: "Enter olny alphabate.",
            },
            Relation: {
                required: "Relation with candidate is required",

            },
            DOB: {
                required: "Date of birth is required",
            },
            AadharNo: {
                required: "Aadhar number is required",
                regex: "Enter olny number.",
            },
        }
    });

    var form = $( "#SaveWorkerFamilyInformation" );
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        if(form.valid()==false)
        {
            $("#dateDOB").removeClass('error');
            return false;
        }
        $(".Userloaderbg").css("display","flex");
        var FamilyId_Encrypted=$("#FamilyId_Encrypted").val();
        var AadharNo=$("#txtAadharNo").val();

        $.ajax({
            url: '@Url.Action("IsFamilyExists", "Module_Employee_WorkerDetails")',
            method:"get",
            data:{FamilyId_Encrypted:FamilyId_Encrypted,AadharNo:AadharNo},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                $(".Userloaderbg").css("display","none");
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $(".Userloaderbg").css("display","flex");
                    $("#SaveWorkerFamilyInformation").submit();

                }
            }
        });

    });
    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }
</script>
