@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_Bank
@{
    ViewBag.Title = "Module_Employee_WorkerBankDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }
</style>


<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboar>Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_Contractor_Menu", "ESS_Contractor_Menu", new { id = 27, ScreenId=307, area = "ESS" })">Contractor Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Worker Bank Information </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Worker Bank Information - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add employee bank details.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveWorkerBank", "Module_Employee_WorkerDetails", new { area = "Module" })' id="SaveWorkerBank" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["WorkerOnboardEmployeeName"] -  @Session["WorkerOnboardEmployeeNo"]  (@Session["WorkerContractorName"]) </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["WorkerOnboardEmpDepartment"] / @Session["WorkerOnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["WorkerOnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Salary Bank Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                IFSC Code
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SalaryIFSC, new { @class = "form-control", name = "SalaryIFSC", type = "text", id = "txtSalaryIFSC", autocomplete = "Off", oninput = "this.value = this.value.toUpperCase()", Maxlength = 50 })
                                                @Html.HiddenFor(model => model.EmployeeBankId_Encrypted)
                                                @Html.HiddenFor(model => model.EmployeeBankEmployeeId)
                                                @Html.ValidationMessageFor(model => model.SalaryIFSC, "", new { @class = "help-block", @id = "ErrorSalaryIFSC", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Bank Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.SalaryBankName, new { @class = "form-control", name = "SalaryBankName", type = "text", id = "txtSalaryBankName", autocomplete = "Off", Maxlength = 100 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Branch Name

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.SalaryBankBranchName, new { @class = "form-control", name = "SalaryBankBranchName", type = "text", id = "txtSalaryBankBranchName", autocomplete = "Off", Maxlength = 100 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Bank Address

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.SalaryBankAddress, new { @class = "form-control", name = "SalaryBankAddress", type = "text", id = "txtSalaryBankAddress", autocomplete = "Off", Maxlength = 500 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Account No
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.SalaryAccountNo, new { @class = "form-control", name = "SalaryAccountNo", type = "password", id = "txtSalaryAccountNo", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default btnpress" id="togglePasswordSalary">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Confirm Account
                                                No
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.SalaryConfirmAccountNo, new { @class = "form-control", name = "SalaryConfirmAccountNo", type = "password", id = "txtSalaryConfirmAccountNo", autocomplete = "Off", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.SalaryConfirmAccountNo, "", new { @class = "help-block", @id = "ErrorSalaryConfirmAccountNo", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default btnpress" id="togglePasswordSalaryConfirm">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Name As Per Bank

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.SalaryNameAsPerBank, new { @class = "form-control", name = "SalaryNameAsPerBank", type = "text", id = "txtSalaryNameAsPerBank", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Personal Bank Information
                                        </div>
                                    </div>
                                </div>*@

                                @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                IFSC Code

                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PermanentIFSC, new { @class = "form-control", name = "PermanentIFSC", type = "text", id = "txtPermanentIFSC", autocomplete = "Off", oninput = "this.value = this.value.toUpperCase()", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.PermanentIFSC, "", new { @class = "help-block", @id = "ErrorPermanentIFSC", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnSearchPersonal">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Bank Name

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PermanentBankName, new { @class = "form-control", name = "PermanentBankName", type = "text", id = "txtPermanentBankName", autocomplete = "Off", Maxlength = 100 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Branch Name

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PermanentBankBranchName, new { @class = "form-control", name = "PermanentBankBranchName", type = "text", id = "txtPermanentBankBranchName", autocomplete = "Off", Maxlength = 100 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Bank Address

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PermanentBankAddress, new { @class = "form-control", name = "PermanentBankAddress", type = "text", id = "txtPermanentBankAddress", autocomplete = "Off", Maxlength = 500 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Account No

                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.PermanentAccountNo, new { @class = "form-control", name = "PermanentAccountNo", type = "password", id = "txtPermanentAccountNo", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default btnpress" id="togglePasswordPermanentAccountNo">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Confirm Account
                                                No

                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.PermanentConfirmAccountNo, new { @class = "form-control", name = "PermanentConfirmAccountNo", type = "password", id = "txtPermanentConfirmAccountNo", autocomplete = "Off", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.PermanentConfirmAccountNo, "", new { @class = "help-block", @id = "ErrorPermanentConfirmAccountNo", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default btnpress" id="togglePasswordPermanentConfirmAccountNo">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Name As Per Bank

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PermanentNameAsPerBank, new { @class = "form-control", name = "PermanentNameAsPerBank", type = "text", id = "txtPermanentNameAsPerBank", autocomplete = "Off", Maxlength = 70 })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("ActiveWorkerList", "Module_Employee_AddWorkers", new { area = "Module" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<div class="row">
    @Html.Action("WorkerDetails_SidebarMenu", "Module_Employee_WorkerDetails")
</div>


<!-- ================== BEGIN core-js ================== -->
<script src="/ColorAssets/js/app.min.js"></script>
<script src="/ColorAssets/js/vendor.min.js"></script>
<!-- ================== END core-js ================== -->
<!-- ================== BEGIN page-js ================== -->
<script src="/ColorAssets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/ColorAssets/js/demo/dashboard.js"></script>


<!-- #Start modal-dialog -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Bank List</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModel" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered tblAddData" id="tblIFSCcodeHeading" style="width: 100%">
                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                        <tr class="text-center">
                                            <th class="text-nowrap">Action </th>
                                            <th class="text-nowrap">IFSC Code </th>
                                            <th class="text-nowrap">Bank Name</th>
                                            <th class="text-nowrap">Branch Name</th>
                                            <th class="text-nowrap">Address</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblIFSCcode"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnpress CloseModel" id="CloseModel" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<!-- #Start Permanent Bank MOdel-dialog -->
<div class="modal fade" id="myModalPermanent" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Bank List</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModel" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered tblAddData" id="tblIFSCcodeHeading" style="width: 100%">
                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                        <tr class="text-center">
                                            <th class="text-nowrap">Action </th>
                                            <th class="text-nowrap">IFSC Code </th>
                                            <th class="text-nowrap">Bank Name</th>
                                            <th class="text-nowrap">Branch Name</th>
                                            <th class="text-nowrap">Address</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblIFSCcodePermanent"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnpress CloseModel" id="CloseModel" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End   Permanent Bank MOdel modal-dialog -->



<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });
    $(".CloseModel").click(function () {
        $('#tblIFSCcode tr').not(function () { return !!$(this).has('th').length; }).remove();
    })
</script>

<script>

    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);


    $("#SaveWorkerBank").validate({
        rules: {
            SalaryIFSC: {
                required: true,
            },
            SalaryBankName: {
                required: true,
            },
            
            SalaryAccountNo: {
                required: true,
            },
            SalaryConfirmAccountNo: {
                required: true,
            },
          
        },
        messages: {
            SalaryIFSC: {
                required: "IFSC code is required",
            },
            SalaryBankName: {
                required: "Bank name is required",
            },
           
            SalaryAccountNo: {
                required: "Account number is required",
            },
            SalaryConfirmAccountNo: {
                required: "Confirm account number is required",
            },
        }
    });

    var form = $("#SaveWorkerBank");
    form.validate();
    $("#btnSubmit").click(function(){
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var SalaryAccountNo= document.getElementById("txtSalaryAccountNo");
        var SalaryConfirmAccountNo= document.getElementById("txtSalaryConfirmAccountNo");
        if(SalaryAccountNo.value==SalaryConfirmAccountNo.value)
        {
            $('#ErrorSalaryConfirmAccountNo').html("");
        }
        else
        {
            $('#ErrorSalaryConfirmAccountNo').html("Account number is not matched !"); $("#PermanentConfirmAccountNo").focus();  return false;

        }
        $(".Userloaderbg").css("display","flex");
        $("#SaveWorkerBank").submit();
    })
</script>
<script>
    //Salary Account
    var togglePasswordSalary = document.querySelector('#togglePasswordSalary');
    var AccountNoSalary = document.querySelector('#txtSalaryAccountNo');
    $("#togglePasswordSalary" ).hover(
       function() {
           $( this ).addClass( "hover" );
           const type = AccountNoSalary.getAttribute('type') === 'password' ? 'text' : 'password';
           AccountNoSalary.setAttribute('type', type);
           // toggle the eye slash icon
           this.classList.toggle('fa-solid-eye-slash');
       }, function() {
           $( this ).removeClass( "hover" );
           const type = AccountNoSalary.getAttribute('type') === 'password' ? 'text' : 'password';
           AccountNoSalary.setAttribute('type', type);
           // toggle the eye slash icon
           this.classList.toggle('fa-solid-eye-slash');
       }
   );
    //Confirm Password hide show Salaty
    var togglePassword = document.querySelector('#togglePasswordSalaryConfirm');
    var passwordSalary = document.querySelector('#txtSalaryConfirmAccountNo');

    $("#togglePasswordSalaryConfirm" ).hover(
        function() {
            $( this ).addClass( "hover" );
            const type = passwordSalary.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordSalary.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-solid-eye-slash');
        }, function() {
            $( this ).removeClass( "hover" );
            const type = passwordSalary.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordSalary.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-solid-eye-slash');
        }
    );
</script>

<script>
    $('#btnSearch').click(function () {
        debugger;
        var IFSCode = $('#txtSalaryIFSC').val();
        if(IFSCode!=""){

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetIFSCCode", "Module_Employee_BankInfo")',
                data: {IFSCode:IFSCode},
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    debugger;
                    var data = JSON.parse(response);
                    if(data.data.length!=0)
                    {
                        var length = data.data.length
                        if(length==0)
                        {
                            $('#ErrorSalaryIFSC').html("Please enter valid IFSC Code !"); $("#SalaryIFSC").focus();  return false;
                        }
                        else
                        {
                            $('#ErrorSalaryIFSC').html("");
                        }
                        if (length>0) {
                            $('#myModal').modal('show');
                        }
                        else
                        {
                            $('#myModal').modal('hide');
                        }
                        if (data.data != null) {
                            for (var i = 0; i <= data.data.length ; i++) {
                                var table = document.getElementById("tblIFSCcode");
                                var rowCount = table.rows.length;
                                var row = table.insertRow(rowCount);
                                var count = $('#tblIFSCcode tr').length;
                                var IFSCcodes=data.data[i];
                                for (var j = 0; j <= IFSCcodes.length-1; j++) {
                                    debugger;
                                    if (j >= IFSCcodes.length) { continue; }
                                    var IFSCKey=IFSCcodes[j].Key;
                                    var IFSCValue=IFSCcodes[j].Value;

                                    if(IFSCKey=="IFSCode")
                                    {
                                        row.insertCell(0).innerHTML ='<center><a href="javascript:;" class="CloseModel" data-bs-dismiss="modal" aria-hidden="true" id="CloseModel"><button type="button" id="btnOpenPopUp" class="btn btn-success ListBtn btnpress CloseModel"  onclick="EmployeeIFSCcode(this)">Select</button></a></center>';
                                        row.insertCell(1).innerHTML = "" + IFSCValue + "";
                                    }
                                    else
                                    {
                                        //row.insertCell(1).innerHTML="";
                                    }
                                    if(IFSCKey=="BankName")
                                    {
                                        row.insertCell(2).innerHTML = "" + IFSCValue + "";
                                    }
                                    else
                                    {
                                        //row.insertCell(2).innerHTML="";
                                    }
                                    if(IFSCKey=="BranchName")
                                    {
                                        row.insertCell(3).innerHTML = "" + IFSCValue+ "";
                                    }
                                    else
                                    {
                                        //row.insertCell(3).innerHTML="";
                                    }
                                    if(IFSCKey=="Address")
                                    {
                                        row.insertCell(4).innerHTML = "" + IFSCValue + "";
                                    }
                                    else
                                    {
                                        //row.insertCell(4).innerHTML="";
                                    }
                                }
                            }
                        }
                    }
                    else{
                        var Message="IFSC Code is invalid !";
                        var Icon ="error";
                        if (Message != null) {
                            if (Message != null) {
                                Swal.fire({
                                    icon: Icon,
                                    text: Message,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                });
                            }
                        }
                    }

                }
            });
        }
    });

    function EmployeeIFSCcode(tblRow)
    {
        debugger;
        var currentRow = $(tblRow).closest("tr");
        var BankName = currentRow.find("td:eq(2)").html();
        var BranchName = currentRow.find("td:eq(3)").html();
        var Address = currentRow.find("td:eq(4)").html();

        $("#txtSalaryBankName").val(BankName);
        $("#txtSalaryBankBranchName").val(BranchName);
        $("#txtSalaryBankAddress").val(Address);
        $(".CloseModel").click(function () {
            $('#tblIFSCcode tr').not(function () { return !!$(this).has('th').length; }).remove();
        })
    }
</script>

<script>
    $("#txtSalaryConfirmAccountNo ,#txtSalaryAccountNo").on("keyup", function() {
        var SalaryAccountNo= document.getElementById("txtSalaryAccountNo");
        var SalaryConfirmAccountNo= document.getElementById("txtSalaryConfirmAccountNo");
        if(SalaryAccountNo.value==SalaryConfirmAccountNo.value)
        {
            $('#ErrorSalaryConfirmAccountNo').html("");
        }
        else
        {
            $('#ErrorSalaryConfirmAccountNo').html("Account number is not matched !"); $("#PermanentConfirmAccountNo").focus();  return false;

        }
    });

</script>