@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_Statutory
@{
    ViewBag.Title = "Module_Employee_WorkerStatutoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_Contractor_Menu", "ESS_Contractor_Menu", new { id = 27, ScreenId=307, area = "ESS" })">Contractor Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Worker Statutory Information </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Worker Statutory Information - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Details regarding salary, wages, bonuses, benefits enrollment, retirement plans, insurance coverage, and other financial aspects of employment are recorded.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveWorkerStatutory", "Module_Employee_WorkerDetails", new { area = "Module" })' id="SaveWorkerStatutoryInfo" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["WorkerOnboardEmployeeName"] -  @Session["WorkerOnboardEmployeeNo"]  (@Session["WorkerContractorName"]) </h4>
                                            </span> 
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["WorkerOnboardEmpDepartment"] / @Session["WorkerOnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["WorkerOnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            PT Code
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PT Applicable
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PT_Applicable, new List<SelectListItem>{
                                                new SelectListItem {Text ="Yes", Value="true"},
                                                 new SelectListItem {Text ="No", Value="false"}
                                              }, new { @class = "form-select", name = "PT_Applicable", id = "ddlPT_Applicable", @onchange = "check()" })
                                                @Html.HiddenFor(model => model.StatutoryId_Encrypted, new { id = "StatutoryId_Encrypted" })
                                                @Html.HiddenFor(model => model.StatutoryId, new { id = "StatutoryId" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PT Code
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PT_CodeId, new SelectList(ViewBag.GetPTStateCode, "Id", "Name"), "--Select--", new { id = "ddlPT_CodeId", @class = "form-select", autocomplete = "off", name = "PT_SettingID" })
                                                @Html.ValidationMessageFor(model => model.PT_CodeId, "", new { @class = "help-block", @id = "ErrorPT_SettingID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-12">
                                                    PT Slab
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.PTSlab_MasterId, new SelectList(ViewBag.GetPTSlabMaster, "Id", "Name"), "--Select--", new { id = "ddlPTSlab_MasterId", @class = "form-select", autocomplete = "off", name = "PTSlab_MasterId" })
                                                    @Html.ValidationMessageFor(model => model.PTSlab_MasterId, "", new { @class = "help-block", @id = "ErrorPTSlab_MasterId", @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            LWF Code
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                LWF Applicable
                                               
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.LWF_Applicable, new List<SelectListItem>{
                                                new SelectListItem {Text ="Yes", Value="true"},
                                                 new SelectListItem {Text ="No", Value="false"}
                                              }, new { @class = "form-select", name = "LWF_Applicable", id = "ddlLWF_Applicable", @onchange = "check()" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                LWF Code
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.LWF_CodeId, new SelectList(ViewBag.GetLWFCode, "Id", "Name"), "--Select--", new { id = "ddlLWF_CodeId", @class = "form-select", name = "LWF_SettingID" })
                                                @Html.ValidationMessageFor(model => model.LWF_CodeId, "", new { @class = "help-block", @id = "ErrorLWF_SettingID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-12">
                                                    LWF Slab
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.LWFSlab_MasterId, new SelectList(ViewBag.GetLWFSlabMaster, "Id", "Name"), "--Select--", new { id = "ddlLWF_SlabMasterId", @class = "form-select", autocomplete = "off", name = "LWF_SlabMasterId" })
                                                    @Html.ValidationMessageFor(model => model.LWFSlab_MasterId, "", new { @class = "help-block", @id = "ErrorLWF_SlabMasterId", @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            ESIC-Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                ESIC Applicable
                                             
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.ESIC_Applicable, new List<SelectListItem>{
                                                new SelectListItem {Text ="Yes", Value="true"},
                                                 new SelectListItem {Text ="No", Value="false"}
                                              }, new { @class = "form-select", name = "ESIC_Applicable", id = "ddlESIC_Applicable", @onchange = "check()" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                ESIC No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.ESIC_NO, new { @class = "form-control", name = "ESIC_NO", type = "text", id = "txtESIC_NO", autocomplete = "Off", Maxlength = 17 })
                                                @Html.ValidationMessageFor(model => model.ESIC_NO, "", new { @class = "help-block", @id = "ErrorESIC_NO", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                ESIC Code
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.ESIC_CodeId, new SelectList(ViewBag.GetESICCode, "Id", "Name"), "--Select--", new { id = "ddlESIC_CodeId", @class = "form-select", autocomplete = "off", name = "ESIC_SettingID" })
                                                @Html.ValidationMessageFor(model => model.ESIC_CodeId, "", new { @class = "help-block", @id = "ErrorESIC_SettingID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                ESIC Closing Date
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.ESIC_ClosingDate, new { @class = "form-control", name = "ESIC_ClosingDate", type = "text", id = "txtESIC_ClosingDate", autocomplete = "Off", @readonly = "readonly", @style = "background-color:#eee" })
                                                @Html.ValidationMessageFor(model => model.ESIC_ClosingDate, "", new { @class = "help-block", @id = "ErrorESIC_ClosingDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Previous ESIC-No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.ESIC_PreviousESICNo, new { @class = "form-control", name = "ESIC_PreviousESICNo", type = "text", id = "txtESIC_PreviousESICNo", autocomplete = "Off", Maxlength = 17 })
                                                @Html.ValidationMessageFor(model => model.ESIC_PreviousESICNo, "", new { @class = "help-block", @id = "ErrorESIC_PreviousESICNo", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                <span class="important"></span>
                                            </label>
                                            <div class="col-md-12">
                                                <label class="form-label col-form-label col-md-6">
                                                    @Html.CheckBoxFor(model => model.ESIC_IS_LinkWithESIC, new { id = "ESIC_IS_LinkWithESIC" })
                                                    &nbsp;   Is Link with ESIC
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            PF-Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF Applicable
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PF_Applicable, new List<SelectListItem>{
                                                new SelectListItem {Text ="Yes", Value="true"},
                                                 new SelectListItem {Text ="No", Value="false"}
                                              }, new { @class = "form-select", name = "PF_Applicable", id = "ddlPF_Applicable" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF Code
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PF_CodeId, new SelectList(ViewBag.GetPFCode, "Id", "Name"), "--Select--", new { id = "ddlPF_CodeId", @class = "form-select", autocomplete = "off", name = "PF_SettingID" })
                                                @Html.ValidationMessageFor(model => model.PF_CodeId, "", new { @class = "help-block", @id = "ErrorPF_SettingID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF Calculation
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PF_Limit, new List<SelectListItem>{
                                                new SelectListItem {Text ="PF Limits", Value="true"},
                                                 new SelectListItem {Text ="Pf Wages", Value="false"}
                                              }, new { @class = "form-select", name = "PF_Limit", id = "ddlPF_Limit" })
                                                @Html.ValidationMessageFor(model => model.PF_Limit, "", new { @class = "help-block", @id = "ErrorPF_Limit", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF Wages
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PFWages_MasterId, new SelectList(ViewBag.GetPFWageMaster, "Id", "Name"), "--Select--", new { id = "ddlPF_WagesMasterId", @class = "form-select", autocomplete = "off", name = "PF_WagesMasterId" })
                                                @Html.ValidationMessageFor(model => model.PFWages_MasterId, "", new { @class = "help-block", @id = "ErrorPF_WagesMasterId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                VPF %
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_VPF, new { @class = "form-control", name = "PF_VPF", type = "text", id = "txtPF_VPF", autocomplete = "Off", Maxlength = 2 })
                                                @Html.ValidationMessageFor(model => model.PF_VPF, "", new { @class = "help-block", @id = "ErrorPF_VPF", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Father/Mother/Spouse
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PF_FSType, new List<SelectListItem>{
                                                 new SelectListItem {Text ="Father", Value="Father"},
                                                new SelectListItem {Text ="Mother", Value="Mother"},
                                                 new SelectListItem {Text ="Spouse", Value="Spouse"}
                                              }, new { @class = "form-select", name = "PF_FSType", id = "ddlPF_FSType" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Father/Mother/Spouse Name
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_FS_Name, new { @class = "form-control", name = "PF_FS_Name", type = "text", id = "txtPF_FS_Name", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                UAN No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_UAN, new { @class = "form-control", name = "PF_UAN", type = "text", id = "txtPF_UAN", autocomplete = "Off", Maxlength = 12, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.PF_UAN, "", new { @class = "help-block", @id = "ErrorPF_UAN", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_NO, new { @class = "form-control", name = "PF_NO", type = "text", id = "txtPF_NO", autocomplete = "Off", Maxlength = 22 })
                                                @Html.ValidationMessageFor(model => model.ESIC_PreviousESICNo, "", new { @class = "help-block", @id = "ErrorESIC_PreviousESICNo", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-6">
                                                @Html.CheckBoxFor(model => model.PF_OldUANNo, new { id = "PF_OldUANNo" })
                                                &nbsp;  OLd UAN No
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-6">
                                                @Html.CheckBoxFor(model => model.PF_LinkWithUAN, new { id = "PF_LinkWithUAN" })
                                                &nbsp;   Link With PF Code
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Mobile No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_MobileNo, new { @class = "form-control", name = "PF_MobileNo", type = "text", id = "txtPF_MobileNo", autocomplete = "Off", Maxlength = 12, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.PF_MobileNo, "", new { @class = "help-block", @id = "ErrorPF_MobileNo", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            KYC
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Bank Name
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_BankName, new { @class = "form-control", name = "PF_BankName", type = "text", id = "txtPF_BankName", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                IFSC Code
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_BankIFSC, new { @class = "form-control", name = "PF_BankIFSC", type = "text", id = "txtPF_BankIFSC", autocomplete = "Off", oninput = "this.value = this.value.toUpperCase()", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Account No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_Account, new { @class = "form-control", name = "PF_Account", type = "text", id = "txtPF_Account", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Nominee 1
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Relation/ Nominee
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PF_Reletion1, new SelectList(ViewBag.GetRelationName, "Id", "Name"), "--Select--", new { id = "ddlPF_Reletion1", @class = "form-select", autocomplete = "off", name = "PF_Reletion1" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Relation/ Nominee Name
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_Nominee1, new { @class = "form-control", name = "PF_Nominee1", type = "text", id = "txtPF_Nominee1", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Date Of Birth
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_DOB1, new { @class = "form-control", name = "PF_DOB1", type = "date", id = "datePF_DOB1", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PF Share %
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_Share1, new { @class = "form-control", name = "PF_Share1", type = "text", id = "txtPF_Share1", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Address
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.PF_Address1, new { @class = "form-control", name = "PF_Address1", type = "text", id = "txtPF_Address1", autocomplete = "Off", Maxlength = 250 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Guardian Name
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_GuardianName1, new { @class = "form-control", name = "PF_GuardianName1", type = "text", id = "txtPF_GuardianName1", autocomplete = "Off", Maxlength = 50 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Previous Member
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-6">
                                                @Html.CheckBoxFor(model => model.PF_1952, new { id = "PF_1952" })
                                                &nbsp;  Whether Earlier A Member Of The Employees Provident Funds Schemes ,1952?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-6">
                                                @Html.CheckBoxFor(model => model.PF_1995, new { id = "PF_1995" })
                                                &nbsp;  Whether Earlier A Mmember Of The Employees Pension Funds Schemes ,1955?
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Previous PF No.
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_PreviousPFNo, new { @class = "form-control", name = "PF_PreviousPFNo", type = "text", id = "txtPF_PreviousPFNo", autocomplete = "Off", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.PF_PreviousPFNo, "", new { @class = "help-block", @id = "ErrorPF_PreviousPFNo", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Date Of Exit For Previous Member Id
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PF_ExitDate, new { @class = "form-control", name = "PF_ExitDate", type = "date", id = "datePF_ExitDate", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.PF_ExitDate, "", new { @class = "help-block", @id = "ErrorPF_ExitDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                A) If Scheme Certificate Issued for Previous Employement
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">

                                            <label class="form-label col-form-label col-md-6">
                                                Then Scheme Certificate Number
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.PF_CertificateNo, new { @class = "form-control", name = "PF_CertificateNo", type = "text", id = "txtPF_CertificateNo", autocomplete = "Off", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.PF_CertificateNo, "", new { @class = "help-block", @id = "ErrorPF_CertificateNo", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                B) If Pension Payment Order (PPO) Issued for
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-6">
                                                Previous Employement, Then (PPO) Number
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.PF_PPO, new { @class = "form-control", name = "PF_PPO", type = "text", id = "txtPF_PPO", autocomplete = "Off", Maxlength = 50 })
                                                @Html.ValidationMessageFor(model => model.PF_PPO, "", new { @class = "help-block", @id = "ErrorPF_PPO", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button  type="button" class="btn btn-primary btn-sm" id="btnSubmit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("ActiveWorkerList", "Module_Employee_AddWorkers", new { area = "Module" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<div class="row">
    @Html.Action("WorkerDetails_SidebarMenu", "Module_Employee_WorkerDetails")
</div>

<script>
    $(document).ready(function () {
        $("#ddlPT_CodeId").select2();
        $("#ddlLWF_CodeId").select2();
        $("#ddlESIC_CodeId").select2();
        $("#ddlPF_CodeId").select2();
        $("#ddlPF_Reletion1").select2();
        $("#ddlPF_Reletion1").select2();
        $("#ddlPF_FSType").select2();
        $("#ddlPF_Limit").select2();
       
        var PFApplicable = @Html.Raw(Json.Encode(ViewBag.PFApplicable));
        var PFApplicableView=PFApplicable.PF_Applicable;
        if(PFApplicableView==true)
        {
            $("#ddlPF_CodeId").removeAttr("disabled");
            $("#ddlPF_Limit").removeAttr("disabled");
            $("#ddlPF_EPS").removeAttr("disabled");
            $("#txtPF_VPF").removeAttr("disabled");
            $("#ddlPF_FSType").removeAttr("disabled");
            $("#txtPF_FS_Name").removeAttr("disabled");
            $("#txtPF_UAN").removeAttr("disabled");
            $("#txtPF_NO").removeAttr("disabled");
            $("#PF_OldUANNo").removeAttr("disabled");
            $("#PF_LinkWithUAN").removeAttr("disabled");
            $("#txtPF_BankName").removeAttr("disabled");
            $("#txtPF_BankIFSC").removeAttr("disabled");
            $("#txtPF_Account").removeAttr("disabled");
            $("#ddlPF_Reletion1").removeAttr("disabled");
            $("#txtPF_Nominee1").removeAttr("disabled");
            $("#datePF_DOB1").removeAttr("disabled");
            $("#txtPF_Share1").removeAttr("disabled");
            $("#txtPF_Address1").removeAttr("disabled");
            $("#txtPF_GuardianName1").removeAttr("disabled");
            $("#txtPF_MobileNo").removeAttr("disabled");
        }
        else
        {
            $("#ddlPF_CodeId").attr("disabled", "disabled");
            $("#ddlPF_Limit").attr("disabled", "disabled");
            $("#ddlPF_EPS").attr("disabled", "disabled");
            $("#txtPF_VPF").attr("disabled", "disabled");
            $("#ddlPF_FSType").attr("disabled", "disabled");
            $("#txtPF_FS_Name").attr("disabled", "disabled");
            $("#txtPF_UAN").attr("disabled", "disabled");
            $("#txtPF_NO").attr("disabled", "disabled");
            $("#PF_OldUANNo").attr("disabled", "disabled");
            $("#PF_LinkWithUAN").attr("disabled", "disabled");
            $("#txtPF_BankName").attr("disabled", "disabled");
            $("#txtPF_BankIFSC").attr("disabled", "disabled");
            $("#txtPF_Account").attr("disabled", "disabled");
            $("#ddlPF_Reletion1").attr("disabled", "disabled");
            $("#txtPF_Nominee1").attr("disabled", "disabled");
            $("#datePF_DOB1").attr("disabled", "disabled");
            $("#txtPF_Share1").attr("disabled", "disabled");
            $("#txtPF_Address1").attr("disabled", "disabled");
            $("#txtPF_GuardianName1").attr("disabled", "disabled");
            $("#txtPF_MobileNo").attr("disabled", "disabled");
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#txtPF_VPF").change(function(){
            var PF_VPF=  $("#txtPF_VPF").val();
            if(PF_VPF>=88)
            {
                $("#ErrorPF_VPF").html("VPF % should not greater than 88 %");
            }
            else{
                $("#ErrorPF_VPF").html("");
            }
        })

        $("#ddlPT_Applicable").change(function(){
            var PtApplicable=$("#ddlPT_Applicable").val();
            if(PtApplicable=="false")
            {
                $("#ddlPT_CodeId").attr("disabled", "disabled");
                $("#ddlPT_CodeId").val(null).select2();
            }
            else{
                $("#ddlPT_CodeId").removeAttr("disabled");
            }
        })

        $("#ddlLWF_Applicable").change(function(){
            var LWF_Applicable=$("#ddlLWF_Applicable").val();
            if(LWF_Applicable=="false")
            {
                $("#ddlLWF_CodeId").attr("disabled", "disabled");
                $("#ddlLWF_CodeId").val(null).select2();
            }
            else{
                $("#ddlLWF_CodeId").removeAttr("disabled");
            }
        })

        $("#ddlESIC_Applicable").change(function(){
            var ESIC_Applicable=$("#ddlESIC_Applicable").val();
            if(ESIC_Applicable=="false")
            {
                $("#txtESIC_NO").attr("disabled", "disabled");
                $("#ddlESIC_CodeId").attr("disabled", "disabled");
                $("#txtESIC_PreviousESICNo").attr("disabled", "disabled");
                $("#txtESIC_ClosingDate").attr("disabled", "disabled");
                $("#ddlESIC_CodeId").val(null).select2();
                $("#txtESIC_NO").val("");
                $("#ddlLWF_CodeId").val("");
                $("#ddlLWF_CodeId").val("");
            }
            else{
                $("#txtESIC_NO").removeAttr("disabled");
                $("#ddlESIC_CodeId").removeAttr("disabled");
                $("#txtESIC_PreviousESICNo").removeAttr("disabled");
                $("#txtESIC_ClosingDate").removeAttr("disabled");
            }
        })
        $("#txtPF_UAN").keyup(function(){
            debugger;
            var UANCount=this.value.length;
            if(UANCount==12)
            { $('#ErrorPF_UAN').html(""); }
            else {$('#ErrorPF_UAN').html("Please enter 12 digit valid UAN no."); $("#ErrorPF_UAN").focus();  return false;}


        })

        var ESIC_ClosingDate = @Html.Raw(Json.Encode(TempData["ESIC_ClosingDate"]));
        var PF_DOB1 = @Html.Raw(Json.Encode(TempData["PF_DOB1"]));
        if( PF_DOB1 == null || PF_DOB1 == "")
        {

        }
        else
        {
            var PF_DOB1Dt =  convertDate(PF_DOB1);
            $("#datePF_DOB1").val(PF_DOB1Dt);
        }
    });
</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }

    // use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);


    $("#SaveStatutoryInfo").validate({
        rules: {
            PT_Applicable: {
                required: true,
            },
           
            LWF_Applicable: {
                required: true,
            },
           
            ESIC_Applicable: {
                required: true,
            },
            PF_FS_Name: {
                required: true,
            },
            //PF_UAN: {
            //    required: true,
            //},
            //PF_Applicable: {
            //    required: true,
            //},
            //PF_Reletion1: {
            //    required: true,
            //},
            //PF_Nominee1: {
            //    required: true,
            //},
            //PF_DOB1: {
            //    required: true,
            //},
            //PF_Share1: {
            //    required: true,
            //},
            //PF_Address1: {
            //    required: true,
            //    regex: /^[a-zA-Z ]+$/,
            //},
            //PF_GuardianName1: {
            //    required: true,
            //    regex: /^[a-zA-Z ]+$/,
            //},
        },
        messages: {
            PT_Applicable: {
                required: "PT applicable is required",
            },
            LWF_Applicable: {
                required: "LWF applicable is required",
            },
            ESIC_Applicable: {
                required: "ESIC applicable is required",
            },
            PF_FS_Name: {
                required: "Father/Mother/Spouse Name is required",
            },
            //PF_UAN: {
            //    required: "UAN No is required",
            //},
            //PF_Applicable: {
            //    required: "PF applicable is required",
            //},
            
            //PF_Reletion1: {
            //    required: "Relation/ Nominee is required",
            //},
            //PF_Nominee1: {
            //    required: "Relation/ Nominee name is required",
            //},
            //PF_DOB1: {
            //    required: "Date of birth is required",
            //},
            //PF_Share1: {
            //    required: "PF share  is required",
            //},
            //PF_Address1: {
            //    required: "Address  is required",
            //},
            //PF_GuardianName1: {
            //    required: "Guardian name  is required",
            //},
        }
    });
    var form = $("#SaveWorkerStatutoryInfo");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        //============= Previous Member==============================================================================
        //if ($('#PF_1952').is(":checked")) {
        //    var PreviousPFNo=$("#txtPF_PreviousPFNo").val();
        //    var PF_ExitDate=$("#datePF_ExitDate").val();
        //    var PF_CertificateNo=$("#txtPF_CertificateNo").val();
        //    var PF_PPO=$("#txtPF_PPO").val();

        //    if(PreviousPFNo==""){$('#ErrorPF_PreviousPFNo').html("Value is required");return false;}
        //    else{$('#ErrorPF_PreviousPFNo').html(""); }

        //    if(PF_ExitDate==""){ $('#ErrorPF_ExitDate').html("Value is required"); return false;}
        //    else{  $('#ErrorPF_ExitDate').html("");}

        //    if(PF_CertificateNo==""){ $('#ErrorPF_CertificateNo').html("Value is required"); $("#PF_CertificateNo").focus();  return false;}
        //    else{ $('#ErrorPF_CertificateNo').html("");}

        //    if(PF_PPO==""){ $('#ErrorPF_PPO').html("Value is required"); $("#PF_PPO").focus();  return false;}
        //    else{  $('#ErrorPF_PPO').html("");}
        //}
        //else
        //{
        //    $('#ErrorPF_PreviousPFNo').html("");
        //    $('#ErrorPF_ExitDate').html("");
        //    $('#ErrorPF_CertificateNo').html("");
        //    $('#ErrorPF_PPO').html("");
        //}
        ////=========================================================================================================
        ////PT Code===================================================================================
        //debugger;
        //var PtApplicable=$("#ddlPT_Applicable").val();
        //var ddlptApplicable=$("#ddlPT_SettingID").val();
        //if(PtApplicable=="true")
        //{
        //    if(ddlptApplicable==""){ $('#ErrorPT_SettingID').html("PT code is required"); $("#PT_SettingID").focus();  return false;}
        //    else{  $('#ErrorPT_SettingID').html("");}
        //}
        //else{  $('#ErrorPT_SettingID').html("");}
        ////==========================================================================

        ////===LWF Code======================================================================
        //var lwfApplicable=$("#ddlLWF_Applicable").val();
        //var ddlLWFApplicable=$("#ddlLWF_SettingID").val();
        //if(lwfApplicable=="true")
        //{
        //    if(ddlLWFApplicable==""){ $('#ErrorLWF_SettingID').html("LWF code is required"); $("#LWF_SettingID").focus();  return false;}
        //    else{  $('#ErrorLWF_SettingID').html("");}
        //}
        //else{   $('#ErrorLWF_SettingID').html("");}
        ////=============================================================================================

        ////=====ESIC Code===============================================================================

        //var ESICApplicable=$("#ddlESIC_Applicable").val();
        //var txtESIC_NO=$("#txtESIC_NO").val();
        //var ddlESIC_SettingID=$("#ddlESIC_SettingID").val();
        //var txtESIC_ClosingDate=$("#txtESIC_ClosingDate").val();
        //var txtESIC_PreviousESICNo=$("#txtESIC_PreviousESICNo").val();
        //if(ESICApplicable=="true")
        //{
        //    if(txtESIC_NO==""){ $('#ErrorESIC_NO').html("ESIC no is required"); $("#ESIC_NO").focus();  return false;}
        //    else{  $('#ErrorESIC_NO').html("");}

        //    if(ddlESIC_SettingID==""){ $('#ErrorESIC_SettingID').html("ESIC code is required"); $("#ESIC_SettingID").focus();  return false;}
        //    else{  $('#ErrorESIC_SettingID').html("");}

        //    //if(txtESIC_ClosingDate==""){ $('#ErrorESIC_ClosingDate').html("Value is required"); $("#ESIC_ClosingDate").focus();  return false;}
        //    //else{  $('#ErrorESIC_ClosingDate').html("");}

        //    if(txtESIC_PreviousESICNo==""){ $('#ErrorESIC_PreviousESICNo').html("Previous ESIC-No  is required"); $("#ESIC_PreviousESICNo").focus();  return false;}
        //    else{  $('#ErrorESIC_PreviousESICNo').html("");}
        //}
        //else{
        //    $('#ErrorESIC_NO').html("");
        //    $('#ErrorESIC_SettingID').html("");
        //    $('#ErrorESIC_ClosingDate').html("");
        //    $('#ErrorESIC_PreviousESICNo').html("");
        //}
        ////=====================================================================================================
        //// PF applicable=====================================================================================================

        //var PF_Applicable=$("#ddlPF_Applicable").val();
        //var PF_SettingID=$("#ddlPF_SettingID").val();
        //var PF_Limit=$("#ddlPF_Limit").val();
        //var PF_EPS=$("#ddlPF_EPS").val();
        //var PF_VPF=$("#txtPF_VPF").val();

        //var PF_UAN=$("#txtPF_UAN").val();
        //var PF_MobileNo=$("#txtPF_MobileNo").val();
        //if(PF_Applicable=="true")
        //{
        //    if(PF_SettingID==""){ $('#ErrorPF_SettingID').html("PF code is required"); $("#ddlPF_SettingID").focus();  return false;}
        //    else{  $('#ErrorPF_SettingID').html("");}

        //    if(PF_Limit==""){ $('#ErrorPF_Limit').html("PF calculation is required"); $("#ddlPF_Limit").focus();  return false;}
        //    else{  $('#ErrorPF_Limit').html("");}

        //    if(PF_EPS==""){ $('#ErrorPF_EPS').html("EPS is required"); $("#ddlPF_EPS").focus();  return false;}
        //    else{  $('#ErrorPF_EPS').html("");}

        //    if(PF_VPF==""){ $('#ErrorPF_VPF').html("VPF % is required"); $("#txtPF_VPF").focus();  return false;}
        //    else{  $('#ErrorPF_VPF').html("");}

        //    if(PF_UAN==""){ $('#ErrorPF_UAN').html("UAN No is required"); $("#txtPF_UAN").focus();  return false;}
        //    else{  $('#ErrorPF_UAN').html("");}

        //    if(PF_MobileNo==""){ $('#ErrorPF_MobileNo').html("Mobile No is required"); $("#txtPF_MobileNo").focus();  return false;}
        //    else{  $('#ErrorPF_MobileNo').html("");}
        //}
        //else{
        //    $('#ErrorPF_SettingID').html("");
        //    $('#ErrorPF_Limit').html("");
        //    $('#ErrorPF_EPS').html("");
        //    $('#ErrorPF_VPF').html("");
        //    $('#ErrorPF_UAN').html("");
        //    $('#ErrorPF_MobileNo').html("");
        //}

        //=====================================================================================================

        form.valid();
        if(form.valid()==false)
        {
            $("#datePF_DOB1").removeClass('error');
            $("#datePF_ExitDate").removeClass('error');
            return false;
        }
        $(".Userloaderbg").css("display","flex");
        $("#SaveWorkerStatutoryInfo").submit();
    });
</script>



<script>
    $("#ddlPF_Applicable").change(function(){
        debugger;
        var PFApplicable=$("#ddlPF_Applicable").val();
        if(PFApplicable=="true")
        {
            $("#ddlPF_CodeId").removeAttr("disabled");
            $("#ddlPF_Limit").removeAttr("disabled");
            $("#ddlPF_EPS").removeAttr("disabled");
            $("#txtPF_VPF").removeAttr("disabled");
            $("#ddlPF_FSType").removeAttr("disabled");
            $("#txtPF_FS_Name").removeAttr("disabled");

            $("#txtPF_UAN").removeAttr("disabled");
            $("#txtPF_NO").removeAttr("disabled");
            $("#PF_OldUANNo").removeAttr("disabled");
            $("#PF_LinkWithUAN").removeAttr("disabled");
            $("#txtPF_BankName").removeAttr("disabled");
            $("#txtPF_BankIFSC").removeAttr("disabled");
            $("#txtPF_Account").removeAttr("disabled");
            $("#ddlPF_Reletion1").removeAttr("disabled");
            $("#txtPF_Nominee1").removeAttr("disabled");
            $("#datePF_DOB1").removeAttr("disabled");
            $("#txtPF_Share1").removeAttr("disabled");
            $("#txtPF_Address1").removeAttr("disabled");
            $("#txtPF_GuardianName1").removeAttr("disabled");
            $("#txtPF_MobileNo").removeAttr("disabled");
        }
        else
        {
            $("#ddlPF_CodeId").attr("disabled", "disabled");
            document.querySelector('#ddlPF_CodeId').style.backgroundColor = '#eee';
            $("#ddlPF_CodeId").val(null).select2();
            $("#ddlPF_Limit").attr("disabled", "disabled");
            $("#ddlPF_Limit").val(null).select2();
            document.querySelector('#ddlPF_Limit').style.backgroundColor = '#eee';
            $("#ddlPF_EPS").attr("disabled", "disabled");
            $("#ddlPF_EPS").val("false");
            $("#txtPF_VPF").attr("disabled", "disabled");
            $("#ddlPF_Limit").val("");
            $("#ddlPF_FSType").attr("disabled", "disabled");
            $("#ddlPF_FSType").val(null).select2();
            $("#txtPF_FS_Name").attr("disabled", "disabled");
            $("#txtPF_FS_Name").val("");
            $("#txtPF_UAN").attr("disabled", "disabled");
            $("#txtPF_UAN").val("");
            $("#txtPF_NO").attr("disabled", "disabled");
            $("#txtPF_NO").val("");
            $("#PF_OldUANNo").attr("disabled", "disabled");
            $("#PF_OldUANNo").val("");
            $("#PF_LinkWithUAN").attr("disabled", "disabled");
            $("#PF_LinkWithUAN").val("");
            $("#txtPF_BankName").attr("disabled", "disabled");
            $("#txtPF_BankName").val("");
            $("#txtPF_BankIFSC").attr("disabled", "disabled");
            $("#txtPF_BankIFSC").val("");
            $("#txtPF_Account").attr("disabled", "disabled");
            $("#txtPF_Account").val("");
            $("#ddlPF_Reletion1").attr("disabled", "disabled");
            $("#ddlPF_Reletion1").val(null).select2();
            $("#txtPF_Nominee1").attr("disabled", "disabled");
            $("#txtPF_Nominee1").val("");
            $("#datePF_DOB1").attr("disabled", "disabled");
            $("#datePF_DOB1").val(null);
            $("#txtPF_Share1").attr("disabled", "disabled");
            $("#txtPF_Share1").val("");
            $("#txtPF_Address1").attr("disabled", "disabled");
            $("#txtPF_Address1").val("");
            $("#txtPF_GuardianName1").attr("disabled", "disabled");
            $("#txtPF_GuardianName1").val("");
            $("#txtPF_MobileNo").attr("disabled", "disabled");
            $("#txtPF_MobileNo").val("");

        }
    })

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }
</script>

