@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_PersonalGatepass

@{
    ViewBag.Title = "App_Attendance_PersonalGatePass";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>


<style>
    .app-header-fixed {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .app-content {
        padding: 5px 5px;
    }
</style>


<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .teambx {
        border: 1px solid gray;
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px 5px;
        border-radius: 10px;
    }

        .teambx .teamheading {
            position: absolute;
            right: 0px;
            bottom: 5px;
            padding: 5px 15px;
            width: fit-content;
            border-radius: 20px 0px 0px 20px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 900;
        }

        .teambx .teamname {
            font-size: 16px;
            font-weight: 800;
            border-bottom: 1px solid lightgray;
            margin-bottom: 8px;
        }

    .teamname i {
        margin-right: 0 10px !important;
    }

    .teamcontactBx {
        font-size: 14px;
        text-align: left;
        font-weight: 600;
    }

        .teamcontactBx i {
            margin: 0 5px;
        }
</style>

<style>
    /*.form-label-container {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                    }*/

    .form-label-text {
        display: inline-flex;
        align-items: center;
        min-width: 120px; /* Adjust this value to fit your longest label */
    }

        .form-label-text i {
            margin-right: 0.5rem; /* Space between icon and label text */
        }
</style>



<style>
    @@media (max-width: 767px) {
        .row.mb-3.align-items-center {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

            .row.mb-3.align-items-center .col-md-4,
            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                max-width: none;
                padding-right: 10px;
                padding-left: 10px;
            }

            .row.mb-3.align-items-center .col-md-4 {
                flex: 0 0 auto;
                width: 40%;
            }

            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                width: 60%;
            }

        .form-label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .form-control,
        .form-select {
            width: 100%;
        }
    }
</style>



<div id="content" class="app-content">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "App_Attendance_PersonalGatePass", new { area = "App" })' id="SavePersonalGetpass" method="post" data-parsley-validate="true">
                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-hashtag text-purple-600"></i> Doc No.
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", id = "DocNo", type = "text", autocomplete = "Off", Value = @ViewBag.DocNo, @readonly = "readonly", Style = "background-color: #eee;" })
                                        @Html.HiddenFor(model => model.PersonalGatepassID_Encrypted, new { id = "PersonalGatepassIdEncrypted" })
                                    </div>
                                </div>



                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fas fa-briefcase text-purple-600"></i>Shift<span class="important">*</span>
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="hidden" name="PersonalGatepassShiftName" id="ShiftName" name="ShiftName" />
                                        @Html.DropDownListFor(model => model.PersonalGatepassShiftId, new SelectList(ViewBag.GetShiftList, "ShiftId", "ShiftName"), "--Select--", new { id = "ddlShift", name = "PersonalGatepassShiftId", @class = "form-select", autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-calendar-days text-purple-600"></i>Date<span class="important">*</span>
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.PersonalGatepassDate, new { @class = "form-control", id = "PersoanlDate", name = "PersonalGatepassDate", Type = "date", autocomplete = "Off" })
                                    </div>
                                </div>


                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-calendar-day text-blue-500"></i>From Date/Time<span class="important">*</span>
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FromTime, new { @class = "form-control", id = "FromTime", type = "datetime-local", @name = "FromTime" })
                                        @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "help-block", @id = "ErrorFromTime", @style = "color:red" })
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-calendar-check text-blue-600"></i>To Date/Time<span class="important">*</span>
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.ToTime, new { @class = "form-control", id = "ToTime", type = "datetime-local", @name = "ToTime" })
                                        @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "help-block", id = "ErrorToTime", @style = "color:red" })
                                    </div>
                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-clock text-purple-600"></i>Max Allow (Min)
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.TotalDurations, new { @class = "form-control", @id = "Totalallowtime", @type = "text", @autocomplete = "off", @readonly = "readonly", @style = "background-color:#eee;" })
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fa-solid fa-clock text-purple-600"></i> Total (Min)
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.TotalDurations, new { @class = "form-control", id = "TotalDurations", type = "text", autocomplete = "Off", @readonly = "readonly", Style = "background-color: #eee;" })
                                        @Html.ValidationMessageFor(model => model.TotalDurations, "", new { @class = "help-block", id = "ErrortxtTotalDuration", @style = "color:red" })
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-label-container">
                                            <label class="form-label">
                                                <span class="form-label-text">
                                                    <i class="fas fa-lightbulb text-yellow-500"></i> Reason<span class="important">*</span>
                                                </span>:
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", id = "Reason", name = "Reason", type = "text", autocomplete = "Off", @required = "required" })
                                    </div>
                                </div>





                                @*<div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-3"
                                                       style="width: 16.5%;">
                                                    Addition Notify
                                                </label>
                                                <div class="col-md-9" style="min-width: 83.5%; max-width: 100%;">
                                                    @Html.DropDownListFor(model => model.AdditionNotify, new MultiSelectList(ViewBag.GetAdditionalList, "Name", "Name"), new { id = "ddlAdditionNotify", name = "AdditionNotify", @class = "form-control multiple-select2", @multiple = "multiple" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-4 d-flex">
                                                @*<div class="title d-flex align-items-center">
                                                        Last Record :
                                                        <span>@ViewBag.LastRecored</span>
                                                    </div>*@
                                            </div>

                                            <div class="col-md-8">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm" value="Submit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("App_Attendance_GetApproveRejectPersonalGatepassList", "App_Attendance_PersonalGatePass", new { area = "App" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>

        @*<div class="col-md-4">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Attendance Log </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body" data-scrollbar="true">
                        <div class="row" style="max-height:350px; overflow-y:auto;">
                            <!-- BEGIN table-responsive -->
                            <table class="table table-bordered align-middle" id="fixed-header" style="width: 100%;">
                                <thead style="background-color:#eee">
                                    <tr>
                                        <th class="text-nowrap text-center">Date & Time</th>
                                        <th class="text-nowrap text-center">I / O</th>
                                        <th class="text-nowrap text-center">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.GetDeviceLogsList)
                                    {
                                        <tr>
                                            <td>@d.LogDate</td>
                                            @if (@d.Direction == "IN")
                                            {
                                                <td class="text-center"><i class="fa-solid fa-circle-down fa-lg" style="color: #5cce40; padding: 0px;"></i></td>
                                            }
                                            @if (@d.Direction == "OUT")
                                            {
                                                <td class="text-center"><i class="fa-solid fa-circle-up fa-lg" style="color:#fe6966; padding: 0px;"></i></td>
                                            }
                                            <td class="text-nowrap">@d.C1</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- END table-responsive -->
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

    <!-- #Start NotificationModalPopUp modal-dialog -->
    <div class="modal fade" id="NotificationModalPopUp" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h4 class="modal-title">Manager Details</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-icon btn-danger" data-bs-dismiss="modal" aria-hidden="true">
                            <i class="fa fa-xmark"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- BEGIN panel -->
                    <div class="modal-body-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="teambx">
                                                <div class="teamheading">Manager 1</div>
                                                <div class="teambody">
                                                    <div class="teamcontactBx">
                                                        <div class="teamname">
                                                            <i class="fa-solid fa-user"></i>
                                                            @Html.Label("ManagerName1", new { @class = "control-label", id = "lblManager1Name" })
                                                        </div>
                                                        <div class="teamEmail">
                                                            <i class="fa fa-envelope"></i>
                                                            @Html.Label("EmailId", new { @class = "control-label", id = "lblManager1EmailId" })
                                                        </div>
                                                        <div class="teamMob">
                                                            <i class="fa fa-phone"></i>
                                                            @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager1Mobile" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="teambx">
                                                <div class="teamheading">Manager 2</div>
                                                <div class="teambody">
                                                    <div class="teamcontactBx">
                                                        <div class="teamname">
                                                            <i class="fa-solid fa-user"></i>
                                                            @Html.Label("ManagerName2", new { @class = "control-label", id = "lblManager2Name" })
                                                        </div>
                                                        <div class="teamEmail">
                                                            <i class="fa fa-envelope"></i>
                                                            @Html.Label("EmailId", new { @class = "control-label", id = "lblManager2EmailId" })
                                                        </div>
                                                        <div class="teamMob">
                                                            <i class="fa fa-phone"></i>
                                                            @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager2Mobile" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="teambx">
                                                <div class="teamheading">HR</div>
                                                <div class="teambody">
                                                    <div class="teamcontactBx">
                                                        <div class="teamname">
                                                            <i class="fa-solid fa-user"></i>
                                                            @Html.Label("HR", new { @class = "control-label", id = "lblHRName" })
                                                        </div>
                                                        <div class="teamEmail">
                                                            <i class="fa fa-envelope"></i>
                                                            @Html.Label("EmailId", new { @class = "control-label", id = "lblHREmailId" })
                                                        </div>
                                                        <div class="teamMob">
                                                            <i class="fa fa-phone"></i>
                                                            @Html.Label("MobileNo", new { @class = "control-label", id = "lblHRMobile" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancel" class="btn btn-primary btn-sm" data-bs-dismiss="modal">
                        <i class="fa-solid fa-floppy-disk"> </i> Ok
                    </button>
                    @*<input type="button" class="Ok btn btn-close" data-bs-dismiss="modal" id="btnCancel" value="Cancel" />*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #End NotificationModalPopUp modal-dialog -->
<!-- #Start SendNotificationModalPopUp modal-dialog -->
@*<div class="modal fade" id="SendNotificationModalPopUp" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
        @Html.Action("SendNotificationPopupModal", "ESS_TimeOffice_Leave")
    </div>*@
<!-- #End SendNotificationModalPopUp modal-dialog -->

<script type="text/javascript">
    $(document).ready(function () {
        //Validation for back day days
        var BackDatedDays = @Html.Raw(Json.Encode(ViewBag.GetBackDatedDays));
       
        var Duration =@Html.Raw(Json.Encode(ViewBag.Duration));
        $("#Totalallowtime").val(Duration)
        //var fromDateInput = document.getElementById("FromTime");
        //var currentDate = new Date();
        //var minDate = new Date();
        //minDate.setDate(currentDate.getDate() - BackDatedDays);
        //var minDateString = minDate.toISOString().split('T')[0];
        //fromDateInput.setAttribute("min", minDateString);

        //var currentDate1 = new Date();
        //currentDate1.setDate(currentDate1.getDate() + 31);
        //var SetMaxDays = currentDate1.toISOString().split('T')[0];
        //document.getElementById("FromTime").setAttribute("max", SetMaxDays);
        // //End Validation for back day days
        //var fromDateInput = document.getElementById("FromTime");
        //var ToDateInput = document.getElementById("ToTime");

        //// Get current date
        //var now = new Date();

        //// Min Date = yesterday
        //var minDate = new Date();
        //minDate.setDate(now.getDate() - BackDatedDays);

        //// Max Date = tomorrow
        //var maxDate = new Date();
        //maxDate.setDate(now.getDate() + 0);

        //// Format to yyyy-MM-ddTHH:mm
        //function formatDateToLocalInput(date) {
        //    const offset = date.getTimezoneOffset();
        //    const localDate = new Date(date.getTime() - (offset * 60 * 1000));
        //    return localDate.toISOString().slice(0,16); // "yyyy-MM-ddTHH:mm"
        //}

        //fromDateInput.min = formatDateToLocalInput(minDate);
        //fromDateInput.max = formatDateToLocalInput(maxDate);

        //ToDateInput.min = formatDateToLocalInput(minDate);
        //ToDateInput.max = formatDateToLocalInput(maxDate);





        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#PersoanlDate").val(dateString);

        $("#ddlShift").change(function () {
            debugger;
            var ShiftId = Number($("#ddlShift").val());
            $("#FromTime").val("");
            $("#ToTime").val("");
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetShiftFlag", "App_Attendance_PersonalGatePass")",
                data: { ShiftId:ShiftId},
                dataType: "text",
                success: function (data) {
                    debugger;
                    var GetShiftFlag = JSON.parse(data)
                    var Flag=GetShiftFlag[0].Value;
                    if(Flag==false)
                    {
                        var fromDateInput = document.getElementById("FromTime");
                        var ToDateInput = document.getElementById("ToTime");

                        var now = new Date();

                        // Min Date: BackDatedDays ago at 00:00
                        var minDate = new Date();
                        minDate.setDate(now.getDate() - BackDatedDays);
                        minDate.setHours(0, 0, 0, 0);

                        // Max Date: today at 23:59
                        var maxDate = new Date();
                        maxDate.setDate(now.getDate() + 0);
                        maxDate.setHours(23, 59, 59, 999);

                        // Format to yyyy-MM-ddTHH:mm
                        function formatDateToLocalInput(date) {
                            const offset = date.getTimezoneOffset();
                            const localDate = new Date(date.getTime() - (offset * 60 * 1000));
                            return localDate.toISOString().slice(0, 16); // "yyyy-MM-ddTHH:mm"
                        }

                        fromDateInput.min = formatDateToLocalInput(minDate);
                        fromDateInput.max = formatDateToLocalInput(maxDate);

                        ToDateInput.min = formatDateToLocalInput(minDate);
                        ToDateInput.max = formatDateToLocalInput(maxDate);


                        var PersoanlDateInput = document.getElementById("PersoanlDate");

                        var now = new Date();
                        var minDate = new Date();
                        minDate.setDate(now.getDate() - BackDatedDays);

                        var maxDate = new Date(); // today

                        function formatDate(date) {
                            return date.toISOString().split('T')[0]; // yyyy-MM-dd
                        }

                        PersoanlDateInput.min = formatDate(minDate);
                        PersoanlDateInput.max = formatDate(maxDate);
                    }
                    else{
                        var fromDateInput = document.getElementById("FromTime");
                        var ToDateInput = document.getElementById("ToTime");

                        var now = new Date();
                        // Min Date: BackDatedDays ago at 00:00
                        var minDate = new Date();
                        minDate.setDate(now.getDate() - BackDatedDays);
                        minDate.setHours(0, 0, 0, 0);

                        // Max Date: today at 23:59
                        var maxDate = new Date();
                        maxDate.setDate(now.getDate() + 1);
                        maxDate.setHours(23, 59, 59, 999);

                        // Format to yyyy-MM-ddTHH:mm
                        function formatDateToLocalInput(date) {
                            const offset = date.getTimezoneOffset();
                            const localDate = new Date(date.getTime() - (offset * 60 * 1000));
                            return localDate.toISOString().slice(0, 16); // "yyyy-MM-ddTHH:mm"
                        }

                        fromDateInput.min = formatDateToLocalInput(minDate);
                        fromDateInput.max = formatDateToLocalInput(maxDate);

                        ToDateInput.min = formatDateToLocalInput(minDate);
                        ToDateInput.max = formatDateToLocalInput(maxDate);


                        var PersoanlDateInput = document.getElementById("PersoanlDate");

                        var now = new Date();
                        var minDate = new Date();
                        minDate.setDate(now.getDate() - BackDatedDays);

                        var maxDate = new Date(); // today

                        function formatDate(date) {
                            return date.toISOString().split('T')[0]; // yyyy-MM-dd
                        }

                        PersoanlDateInput.min = formatDate(minDate);
                        PersoanlDateInput.max = formatDate(maxDate);

                    }
                }
            })
        });

    });//Reday Funcation


    $("#FromTime, #ToTime").change(function () {
        debugger;
        var FromTime = $("#FromTime").val();
        var ToTime = $("#ToTime").val();

        if (!ToTime) {
            $('#ErrorToTime').html("To time is required");
            return;
        }

        if (FromTime >= ToTime) {
            $('#ErrorFromTime').html("From Time should be less than To Time");
            return false;
        } else {
            $('#ErrorToTime, #ErrorFromTime').html("");
        }

        // Parse datetime-local strings into Date objects
        var fromDate = new Date(FromTime);
        var toDate = new Date(ToTime);

        // Calculate time difference in minutes
        var diffMs = toDate - fromDate; // in milliseconds
        var diffMins = Math.floor(diffMs / 60000); // convert to minutes

        $('#TotalDurations').val(diffMins + " Min");

        var TotalTime = $('#Totalallowtime').val(); // e.g., "60Min"
        var allowedMinutes = parseInt(TotalTime.replace("Min", "").trim());

        if (diffMins > allowedMinutes) {
            $("#ErrortxtTotalDuration").html("Total duration cannot exceed: " + allowedMinutes + " Min");
            return false;
        } else {
            $("#ErrortxtTotalDuration").html("");
        }
    });

    function DeletePersonalGetPass(PersonalGatepassId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("PersonalGetPassDelete", "App_Attendance_PersonalGatePass")?PersonalGatepassId_Encrypted=' + PersonalGatepassId_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

</script>

<script>
    jQuery.validator.addMethod(
    "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },"erreur expression reguliere"
    );

    $('#SavePersonalGetpass').validate({
        rules: {
            PersonalGatepassShiftId:{
                required: true,
            },
            PersonalGatepassEmployeeId: {
                required: true,
            },
            PersonalGatepassDate:{
                required: true,
            },
            FromTime:{
                required: true,
            },
            ToTime:{
                required: true,
            },
            Direction:{
                required: true,
            },
            Reason:{
                required: true,
            },

        },
        messages: {
            PersonalGatepassShiftId:{
                required: "Please select shift",
            },
            PersonalGatepassEmployeeId: {
                required: "Please select the Employee Name",
            },
            PersonalGatepassDate: {
                required: "Date is required",
            },
            FromTime:{
                required: "From Time is required",
            },
            ToTime:{
                required: "To Time is required",
            },
            Direction:{
                required: "Direction is required",
            },
            Reason:{
                required: "Reason is required",
            }
        },
    });

    var form = $("#SavePersonalGetpass");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;

        form.valid();
        if(form.valid()==false)
        {
            $("#PersoanlDate").removeClass('error');
            $("#FromTime").removeClass('error');
            $("#ToTime").removeClass('error');
            return false;
        }

        var PersoanlDate = $("#PersoanlDate").val();
        var FromTime = $("#FromTime").val();
        var ToTime = $("#ToTime").val();

        if (PersoanlDate && FromTime) {
            var personalDateOnly = new Date(PersoanlDate);
            var fromDateTime = new Date(FromTime);

            // Compare if FromTime is before PersonalDate
            if (fromDateTime < personalDateOnly) {
                $('#ErrorFromTime').html("From date/time must be equal to or greater than the Personal date.");
            } else {
                $('#ErrorFromTime').html(""); // Clear error if valid
            }
        }

        if (!ToTime) {
            $('#ErrorToTime').html("To time is required");
            return;
        }

        if (FromTime >= ToTime) {
            $('#ErrorFromTime').html("From Time should be less than To Time");
            return false;
        } else {
            $('#ErrorToTime, #ErrorFromTime').html("");
        }

        // Parse datetime-local strings into Date objects
        var fromDate = new Date(FromTime);
        var toDate = new Date(ToTime);

        // Calculate time difference in minutes
        var diffMs = toDate - fromDate; // in milliseconds
        var diffMins = Math.floor(diffMs / 60000); // convert to minutes

        $('#TotalDurations').val(diffMins + " Min");

        var TotalTime = $('#Totalallowtime').val(); // e.g., "60Min"
        var allowedMinutes = parseInt(TotalTime.replace("Min", "").trim());

        if (diffMins > allowedMinutes) {
            $("#ErrortxtTotalDuration").html("Total duration cannot exceed: " + allowedMinutes + " Min");
            return false;
        } else {
            $("#ErrortxtTotalDuration").html("");
        }
        $(".Userloaderbg").css("display","flex");
        //var AdditionalNotify = [];
        //for (var option of document.getElementById('ddlAdditionNotify').options)
        //{
        //    if (option.selected) {
        //        AdditionalNotify.push(option.value);
        //    }
        //}
        //var AdditionalNotifyPerson = JSON.stringify(AdditionalNotify);
        var EmployeeID=$("#PersonalGatepassEmployeeId").val();
        var PersoanlDate = $("#PersoanlDate").val();
        var FromTime = $("#FromTime").val();
        var ToTime = $("#ToTime").val();
        var ErrorFromTime = $("#ErrorFromTime").text();
        var ErrorToTime = $("#ErrorToTime").text();
        var ShiftId = $("#ddlShift").val();
        var Duration =@Html.Raw(Json.Encode(ViewBag.Duration));
        var TotalDurations = $("#TotalDurations").val();
        var ErrortxtTotalDuration = $("#ErrortxtTotalDuration").text();
        //if(Duration < TotalDurations ||  ErrorFromTime =='From Time should be less than To time' || ErrorToTime =='To time should be greater than from time' || ErrortxtTotalDuration == 'Please Select vaild time')
        if(Duration < TotalDurations ||FromTime > ToTime || ToTime < FromTime )
        {
            return false;
        }
        else
        {
            $.ajax({
                //url:"IsPersoanlGetPassExists",
                url: '@Url.Action("IsPersoanlGetPassExists", "App_Attendance_PersonalGatePass")',
                method:"get",
                data:{EmployeeID:EmployeeID,PersoanlDate:PersoanlDate,FromTime:FromTime,ToTime:ToTime,ShiftId:ShiftId}, //,AdditionalNotifyPerson:AdditionalNotifyPerson
                success:function(response){
                    debugger;
                    var Message1 = response.Message;
                    var Icon1 = response.Icon;
                    if (response.Icon=="error") {
                        if (Message1 != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        return false;
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                })
                                $(".Userloaderbg").css("display","none");
                            }
                        }
                        return false;
                    }
                    else{
                        $("#SavePersonalGetpass").submit();
                    }
                }
            });
        }

    });




    function NotificationFunction(EmployeeId,PersonalGatepassId_Encrypted) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetContactDetails", "App_Attendance_PersonalGatePass")",
            data: { EmployeeId:EmployeeId , PersonalGatepassId_Encrypted: PersonalGatepassId_Encrypted },
            dataType: "text",
            success: function (data) {
                debugger;
                var datas = JSON.parse(data);
                var Getdata = datas.data[0];

                $('#lblManager1Name').html(Getdata[0].Value);
                $('#lblManager1EmailId').html(Getdata[1].Value);
                $('#lblManager1Mobile').html(Getdata[2].Value);

                $('#lblManager2Name').html(Getdata[3].Value);
                $('#lblManager2EmailId').html(Getdata[4].Value);
                $('#lblManager2Mobile').html(Getdata[5].Value);

                $('#lblHRName').html(Getdata[6].Value);
                $('#lblHREmailId').html(Getdata[7].Value);
                $('#lblHRMobile').html(Getdata[8].Value);
                $('#NotificationModalPopUp').modal('show');
            }
        });
    }
    //CapthaVerification code added in CapthaVerification.js file.
    $(".Close").click(function () {
        $("#mainCaptcha").val("");
        $("#txtInput").val("");
        $("#success").html("");
        $("#error").html("");
    });
</script>

