
@{
    ViewBag.Title = "ESS_VMS_VisitorEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .tblAddDatas td:nth-child(18) {
        display: none;
    }

    .tblAddDatas td:nth-child(15) {
        display: none;
    }

    .tblAddDatas td:nth-child(16) {
        display: none;
    }

    .tblAddDatas td:nth-child(17) {
        display: none;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Visitor Management System
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_VMS_Menu", "ESS_VMS_Menu",  new { id = 10,ScreenId=184, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
        <p class="pb-0">
            Access the main dashboard with an overview of visitor activity and system notifications.
        </p>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <!-- BEGIN col-12 -->
                <!-- BEGIN row -->
                <!-- BEGIN panel-heading -->
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- END panel-heading -->
                <div class="panel-body">
                    <div class="row mb-20px">
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                            <div class="widget widget-stats bg-blue mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">Today Appointment</div>
                                    <div class="stats-number">
                                        @TempData["TodayAppointment"]
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc"></div>
                                </div>
                            </div>
                        </div>


                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                            <div class="idget widget-stats bg-teal mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">Today Visitor (In)</div>
                                    <div class="stats-number">
                                        @TempData["TodayInVisitor"]
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        @*<div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                                <div class="widget widget-stats bg-orange mb-7px">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                    <div class="stats-content" style="height:120px;">
                                        <div class="stats-title">Today Visitor (Out)</div>
                                        <div class="stats-number">
                                        @TempData["TotalOutVisitors"]

                                        </div>
                                        <div class="stats-progress progress">
                                            <div class="progress-bar" style="width: 54.9%;"></div>
                                        </div>
                                        <div class="stats-desc"> </div>
                                    </div>
                                </div>
                            </div>*@
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                            <div class="widget widget-stats bg-purple mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">Today Visitor(In & Out)</div>
                                    <div class="stats-number">
                                        @TempData["TodayInOutVistor"]

                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 76.3%;"></div>
                                    </div>
                                    <div class="stats-desc"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-4 -->
                        <div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                            <div class="widget widget-stats bg-dark mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">Personal Gatepass</div>
                                    <div class="stats-number"><a href="@Url.Action("PersonalGatepassList", "ESS_VMS_VisitorEntry", new { area = "ESS" })" id="AchorCandidate" onClick="Showdata('CandidatesPendingForAction','Candidates Pending for actions')" style="color:white;">@TempData["PersonalGatepassCount"] </a></div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 54.9%;"></div>
                                    </div>
                                    <div class="stats-desc"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" style="cursor: pointer;">
                            <div class="widget widget-stats bg-pink mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">Outdoor (Official Gatepass)</div>
                                    <div class="stats-number"><a href="@Url.Action("OfficialOutDoorList", "ESS_VMS_VisitorEntry", new { area = "ESS" })" id="AchorCandidate" onClick="Showdata('CandidatesPendingForAction','Candidates Pending for actions')" style="color:white;">@TempData["OutDoorCount"] </a></div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 54.9%;"></div>
                                    </div>
                                    <div class="stats-desc"> </div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                    </div>
                </div>
                <!-- END widget-list -->
                <!-- END col-12 -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Today Appointment - List </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage2 " id="data-table-combine">
                                        <thead>
                                            <tr class="trheading">
                                                <th hidden class="text-nowrap text-center">CmpId</th>
                                                <th hidden class="text-nowrap text-center">VisitorAppointmentBranchID</th>
                                                <th hidden class="text-nowrap text-center">VisitorAppointmentEmployeeID</th>
                                                <th hidden class="text-nowrap text-center">VisitorPuposeId</th>
                                                <th class="text-nowrap text-center">Visit</th>
                                                <th class="text-nowrap text-center">Doc No</th>
                                                <th class="text-nowrap text-center">Host Name</th>
                                                <th class="text-start text-nowrap">Visitor Name</th>
                                                <th class="text-nowrap text-center">VIP</th>
                                                <th class="text-nowrap text-center">Designation</th>

                                                <th class="text-nowrap text-center">Purpose</th>
                                                <th class="text-nowrap text-center">Addition Person</th>
                                                <th class="text-nowrap text-center">Appointment Time</th>
                                                <th class="text-nowrap text-center">Mobile No</th>
                                                <th class="text-nowrap text-center">Visitor Company Name</th>
                                                <th class="text-nowrap text-center">Visitor Remark</th>
                                                <th hidden class="text-nowrap text-center">VisitorAppointmentID</th>

                                                <th class="text-nowrap text-center">Email ID</th>
                                                <th hidden class="text-nowrap text-center">VisitorType</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.VisitorAppointment)
                                            {
                                                <tr>
                                                    <td hidden class="text-nowrap">@d.CmpId</td>
                                                    <td hidden class="text-nowrap">@d.VisitorAppointmentBranchID</td>
                                                    <td hidden class="text-nowrap">@d.VisitorAppointmentEmployeeID</td>
                                                    <td hidden class="text-nowrap">@d.VisitorPuposeId</td>
                                                    <td class="text-center">
                                                        <button type="button" onclick="EmployeeDetails(this)" id="btnDelete"
                                                                class="btn  btnpress ListBtn" style="background-color:#fff;">
                                                            <i class="fa-solid fa-user-group"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-nowrap">@d.DocNo</td>
                                                    <td class="text-nowrap">@d.HostName</td>
                                                    <td class="text-nowrap">@d.VisitorName</td>
                                                    <td class="text-nowrap">@d.IsSpecial</td>
                                                    <td class="text-nowrap">@d.Designation</td>

                                                    <td class="text-nowrap">@d.Purpose</td>
                                                    <td class="text-nowrap">@d.AdditionPerson</td>
                                                    <td class="text-nowrap">@d.AppointmentTime</td>
                                                    <td class="text-nowrap">@d.MobileNo</td>
                                                    <td class="text-nowrap">@d.Company</td>
                                                    <td class="text-nowrap">@d.VisitorRemark</td>
                                                    <td hidden class="text-nowrap">@d.VisitorAppointmentID</td>
                                                    <td class="text-nowrap">@d.EmailID</td>
                                                    <td hidden class="text-nowrap">@d.VisitorTypeId</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Second Table*@
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">In Visitor - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ESS_VMS_VisitorInformation", "ESS_VMS_VisitorInformation", new { area = "ESS" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add Visitor
                                </button>
                            </a>
                            <a href="@Url.Action("PersonalGatepassList", "ESS_VMS_VisitorEntry", new { area = "ESS" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    Personal Gatepass
                                </button>
                            </a>
                            <a href="@Url.Action("OfficialOutDoorList", "ESS_VMS_VisitorEntry", new { area = "ESS" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    OutDoor
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage2 tblAddDatas" id="data-table-combine">
                                        <thead>
                                            <tr class="trheading">
                                                <th class="fixed-side">Print</th>
                                                <th class="fixed-side">Action</th>
                                                <th class="fixed-side">Check Out</th>
                                                <th class="text-nowrap">Doc No</th>
                                                <th class="text-nowrap">Host Name</th>
                                                <th class="text-nowrap">Visitor Name</th>
                                                <th class="text-nowrap">In Date Time</th>
                                                <th class="text-nowrap">Additional</th>
                                                <th class="text-nowrap">Badge No</th>
                                                <th class="text-nowrap">Visitor Allow Item</th>
                                                <th class="text-nowrap">Visitor Deposite Item</th>
                                                <th class="text-nowrap">Visitor Deposite Locker</th>
                                                <th class="text-nowrap">Visitor Return Item</th>
                                                <th class="text-nowrap">VisitorInBy</th>
                                                <th hidden>Allow</th>
                                                <th hidden>Deposite</th>
                                                <th hidden>Return</th>
                                                <th hidden>VisitorId_Encrypted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.InVisitorAppointment)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <button type="button" onclick="PrintInvoice('@d.VisitorId_Encrypted')"
                                                                class="btn  btnpress ListBtn" style="background-color:#fff;">
                                                            <i class="fa-solid fa-print"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="AllowandDepositItem('@d.VisitorId','@d.VisitorName')" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" onclick="CheckOutVisitor(@d.VisitorId)" id="btnCheckOutVisitor"
                                                                class="btn  btnpress ListBtn" style="background-color:#fff;">
                                                            <i class="fa-solid fa-paper-plane text-dark"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-nowrap">@d.DocNo</td>
                                                    <td class="text-nowrap">@d.HostName</td>
                                                    <td class="text-nowrap">@d.VisitorName</td>
                                                    <td class="text-nowrap">@d.InDateTime</td>
                                                    <td class="text-nowrap">@d.Additional</td>
                                                    <td class="text-nowrap">@d.Batchno</td>
                                                    <td class="text-nowrap">@d.Allow</td>
                                                    <td class="text-nowrap">@d.Deposite</td>
                                                    <td class="text-nowrap">@d.DepositeLockerNo</td>
                                                    <td class="text-nowrap">@d.retun</td>
                                                    <td class="text-nowrap">@d.EmployeeName</td>
                                                    <td class="text-nowrap hidden">@d.AllowRemark</td>
                                                    <td class="text-nowrap hidden">@d.DepositeRemark</td>
                                                    <td class="text-nowrap hidden">@d.ReturnRemark</td>
                                                    <td class="text-nowrap hidden">@d.VisitorId_Encrypted</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END table-responsive -->
                        </div>

                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <a href="@Url.Action("InOutVisitorList", "ESS_VMS_Menu", new { area = "ESS" })">
                                                    <button type="button" class="btn btn-danger btnpress btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i>   List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- #Start modal-dialog -->
                        <div class="modal fade" id="modal_basic2" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-black text-white">
                                        <h4 class="modal-title">Visitor Item</h4>
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" data-bs-dismiss="modal"
                                               aria-hidden="true">
                                                @*<i class="fa fa-xmark"></i>*@
                                            </a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <!-- BEGIN panel -->
                                        <div class="table-scroll div1">
                                            <div class="table-wrap">
                                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                                    <thead>
                                                        <tr class="trheading">
                                                            <th class="text-nowrap">Allow Item</th>
                                                            <th class="text-nowrap">Remark</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblAllowItem">
                                                        <tr>
                                                            <td class="text-nowrap" id="Allow">AllowItem</td>
                                                            <td class="text-nowrap" id="Remark">Remark</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br />
                                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                                    <thead>
                                                        <tr class="trheading">
                                                            <th class="text-nowrap">Deposite Item</th>
                                                            <th class="text-nowrap">Locker No</th>
                                                            <th class="text-nowrap">Remark</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblAllowItem">
                                                        <tr>
                                                            <td class="text-nowrap" id="Deposite">Deposite Item</td>
                                                            <td class="text-nowrap" id="LockerNo">LockerNo</td>
                                                            <td class="text-nowrap" id="DepositeRemark">Remark</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br />
                                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                                    <thead>
                                                        <tr class="trheading">
                                                            <th class="text-nowrap">Return Item</th>
                                                            <th class="text-nowrap">Remark</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblReturnItem">
                                                        <tr>
                                                            <td class="text-nowrap" id="Return">Return Item</td>
                                                            <td class="text-nowrap" id="ReturnRemark">Remark</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END panel -->
                                    </div>
                                    <div class="modal-footer">
                                        @*<a href="/ESS/ESS_VMS_VisitorInformation/UpdateCheckOutVisitor">*@
                                        <button type="button" id="btnOK" class="btn btn-primary btn-sm" onclick="btnOks()" data-bs-dismiss="modal">
                                            <i class="fa-solid fa-floppy-disk"> </i> Ok
                                        </button>
                                        @*</a>*@
                                        <a href="@Url.Action("ESS_VMS_VisitorEntry", "ESS_VMS_VisitorEntry", new { area = "ESS" })">
                                            <button type="button" id="btnOK" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
                                                <i class="fa-solid fa-floppy-disk"> </i> Back
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #End modal-dialog -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function EmployeeDetails(tblRow) {
        debugger;
        var currentRow = $(tblRow).closest("tr");
        // var a = this.SetUpAddress;
        var MobileNo = currentRow.find("td:eq(13)").html();
        var HostEmployeeId = currentRow.find("td:eq(2)").html();
        var VisitorPurposeId = currentRow.find("td:eq(3)").html();
        var VisitorName = currentRow.find("td:eq(7)").html();
        var Designation = currentRow.find("td:eq(9)").html();
        var VisitorAppointmentID = currentRow.find("td:eq(16)").html();
        var CompanyName = currentRow.find("td:eq(14)").html();
        var Additional = currentRow.find("td:eq(11)").html();
        var VisitorType = currentRow.find("td:eq(18)").html();
        var url = '@Url.Action("ESS_VMS_VisitorInformation", "ESS_VMS_VisitorInformation")?VisitorPurposeId=' + VisitorPurposeId + '&HostEmployeeId=' + HostEmployeeId + '&VisitorName=' + VisitorName + '&Designation=' + Designation + '&CompanyName=' + CompanyName + '&MobileNo=' + MobileNo + '&VisitorAppointmentID=' + VisitorAppointmentID + '&Additional=' + Additional + '&VisitorType=' + VisitorType ;
        window.location.href = url;
    }





    function PrintInvoice(VisitorId_Encrypted) {
        var Origin="List";
        var url = '@Url.Action("VisitorPassInvoice", "ESS_VMS_Menu")?VisitorId_Encrypted=' + VisitorId_Encrypted+'&Origin='+Origin;
        window.location.href = url;
    }

    function AllowandDepositItem(VisitorId, VisitorName) {
        var url = '@Url.Action("AllAllowedandDepositeItem", "ESS_VMS_VisitorInformation")?VisitorId=' + VisitorId + '&VisitorName=' + VisitorName;
        window.location.href = url;
    }

    function btnOks() {
        debugger;
        const btnOks = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        btnOks.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                var VisitorIdEncrypted = localStorage.getItem("VisitorId_Encrypted");
                $.ajax({
                    url: '@Url.Action("UpdateGardCheckOutVisitor", "ESS_VMS_VisitorEntry")',
                    method: "GET",
                    data: { VisitorIdEncrypted: VisitorIdEncrypted },
                    success: function (response) {
                        debugger;
                        var Message="Check out successfully";
                        var Icon="success";
                        if(Message!=null)
                        {
                            Swal.fire({
                                icon:Icon,
                                text: Message,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("ESS_VMS_VisitorEntry", "ESS_VMS_VisitorEntry")';
                                }
                                else if (result.dismiss === Swal.DismissReason.cancel) {

                                }
                            })
                        }
                    }
                });

            }
        })
    }


</script>

<script>
    $(document).ready(function () {
        //$("#modal_basic2").show();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }


        $(document).on('click', '#btnCheckOutVisitor', function() {
            debugger;
            $("#modal_basic2").modal('show');
            debugger;
            var currentRow = $(this).closest("tr");
            var col1 = currentRow.find("td:eq(9)").html();
            var col2 = currentRow.find("td:eq(15)").html();
            var col3 = currentRow.find("td:eq(10)").html();
            var col4 = currentRow.find("td:eq(11)").html();
            var col5 = currentRow.find("td:eq(15)").html();
            var col6 = currentRow.find("td:eq(12)").html();
            var col7 = currentRow.find("td:eq(16)").html();
            var col8 = currentRow.find("td:eq(17)").html();
            var col9 = currentRow.find("td:eq(18)").html();
            localStorage.setItem("VisitorId_Encrypted", col8);
            $("#Allow").html(col1);
            $("#Remark").html(col2);
            $("#Deposite").html(col3);
            $("#LockerNo").html(col4);
            $("#DepositeRemark").html(col5);
            $("#Return").html(col6);
            $("#ReturnRemark").html(col7);

        });
    });//ready function
</script>