@model KompassHR.Areas.Setting.Models.Setting_Contractor.Contractor_Master
@{
    ViewBag.Title = "Setting_Contractor_ContractorCreaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Contractor Creation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Contractor_Menu", "Setting_Contractor_Menu", new { id = 27, ScreenId = 110, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Contractor Creation - <b>@ViewBag.AddUpdateTitle</b></h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Creating a contractor profile within an application involves several steps to ensure accurate documentation and effective management. Here's a generalized process for creating a contractor profile
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Contractor_ContractorCreaction", new { area = "Setting" })' id="SaveContractorCreaction" method="post">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Contractor Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ContractorName, new { @class = "form-control", type = "text", name = "ContractorName", id = "txtContractorName", autocomplete = "Off" })
                                                @Html.HiddenFor(model => model.ContractorId_Encrypted, new { @id = "ContractorId_Encrypted" })
                                                @Html.HiddenFor(model => model.ContractorId, new { @id = "ContractorId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Contractor Address
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.ContractorAddress, new { @class = "form-control", type = "text", name = "ContractorAddress", id = "txtContractorAddress", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, new { id = "txtFromDate", name = "FromDate", @class = "form-control", type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, new { id = "txtToDate", name = "ToDate", @class = "form-control", type = "date" })
                                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contractor Contact No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", type = "number", name = "ContactNo", id = "txtContactNo", autocomplete = "Off", Maxlength = 10, onkeypress = " return numbervalidate(event)" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contractor Whats App No

                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.WhatsAppNo, new { @class = "form-control", type = "text", name = "WhatsAppNo", id = "txtWhatsAppNo", autocomplete = "Off", Maxlength = 10, onkeypress = " return numbervalidate(event)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contactor Email ID
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ContactorEmailID, new { @class = "form-control", type = "text", name = "ContactorEmailID", id = "txtContactorEmailID", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Fax No
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FaxNo, new { @class = "form-control", type = "text", name = "FaxNo", id = "txtFaxNo", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Contact Person Name

                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control", type = "text", name = "ContactPersonName", id = "txtContactPersonName", autocomplete = "Off" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Contact Person No.
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ContactPersonContactNo, new { @class = "form-control", type = "text", name = "ContactPersonContactNo", id = "txtContactPersonContactNo", autocomplete = "Off", Maxlength = 10, onkeypress = " return numbervalidate(event)" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Contact Person Email ID

                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ContactPersonEmailID, new { @class = "form-control", type = "text", name = "ContactPersonEmailID", id = "txtContactPersonEmailID", autocomplete = "Off" })

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="LastShortLeaveBx">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="BtnBx">
                                                            <div>
                                                                <button type="button" id="btnSubmit"
                                                                        class="btn btn-primary btn-sm">
                                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                </button>
                                                                <a href="@Url.Action("GetList", "Setting_Contractor_ContractorCreaction", new { area = "Setting" })">
                                                                    <button type="button" class="btn btn-danger btn-sm" id="btnContractorCreactionGetList">
                                                                        <i class="fa-solid fa-share-from-square"></i>List
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>

    </div>
</div>


<script>

    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        $("#ddlCompanyName").select2();
        $("#txtContractorBranchID").select2();

        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        $("#ddlCompanyName").on("change", function () {
            debugger;
            $("#txtContractorBranchID").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_Contractor_ContractorCreaction")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        //$("#txtContractorBranchID").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#txtContractorBranchID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        $("#formReset").click(function () {
            $("#SaveContractorCreaction")[0].reset();

        })
        @Html.Raw(Json.Encode(TempData["FromDate"]));

        var ToDate = @Html.Raw(Json.Encode(TempData["ToDate"]));
        var FromDate = @Html.Raw(Json.Encode(TempData["FromDate"]));
        debugger;
        if(ToDate=="" || FromDate=="")
        {

        }
        else
        {
            var ToDate =  convertDate(ToDate);
            var FromDate =  convertDate(FromDate);
            $("#txtToDate").val(ToDate);
            $("#txtFromDate").val(FromDate);
        }
    });//Ready Funcation
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveContractorCreaction').validate({
        rules: {
            ContractorName:{
                required:true,
            },
            //FromDate:{
            //    required:true,
            //},
            //ToDate:{
            //    required:true,
            //},
            //ContactNo:{
            //    required:true,
            //},
            ContactorEmailID:{
                email:true,
            },
            //FaxNo:{
            //    regex:/^\+?[0-9]{6,}$/,
            //},
            //ContactPersonContactNo:{
            //    regex:/^[0-9]+$/
            //},
            ContactPersonEmailID:{
                email:true,
            },
        },
        messages: {
            ContractorName:{
                required:"Please enter contractor name"
            },
            //FromDate:{
            //    required:"Please select formdate"
            //},
            //ToDate:{
            //    required:"Please select todate"
            //},
            //ContactNo:{
            //    required:"Please enter contact no."
            //},
            ContactorEmailID:{
                email:"Please enter valid email id"
            },
            //FaxNo:{
            //    regex:"Please enter valid fax no.",
            //},
            //ContactPersonContactNo:{
            //    regex:"Please enter only digit"
            //},
            ContactPersonEmailID:{
                email:"Please enter valid email id"
            },
        },
    });

    var form = $("#SaveContractorCreaction");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtFromDate").removeClass("error");
            $("#txtToDate").removeClass("error");
            return false;
        }
        $(".Userloaderbg").css("display","flex");
        var ContractorName=$("#txtContractorName").val();
        var CmpId=$("#ddlCompanyName").val();
        var ContractorBranchID=$("#txtContractorBranchID").val();
        var ContractorId_Encrypted=$("#ContractorId_Encrypted").val();

        $.ajax({
            url:"IsContractorCreactionExists",
            method:"get",
            data:{ContractorName:ContractorName,ContractorId_Encrypted:ContractorId_Encrypted,CmpId:CmpId,ContractorBranchID:ContractorBranchID},
            success:function(response){
                debugger;
                $(".Userloaderbg").css("display","none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveContractorCreaction").submit();

                }
            }
        });


        $("#formReset").click(function () {
            $("#SaveContractorCreaction")[0].reset();
        })

    });

    $("#txtFromDate,#txtToDate").change(function () {
        debugger;
        var StartDate= document.getElementById('txtFromDate').value;
        var EndDate= document.getElementById('txtToDate').value;
        var eDate = new Date(EndDate);
        var sDate = new Date(StartDate);

        if(StartDate!= '' && EndDate!= '' && sDate > eDate)
        {
            $("#ErrortxtToDate").html("To date should not be less than from date.");
            $("#txtToDate").val('');
        }
        else{
            $("#ErrortxtToDate").html("");
        }
    });



</script>

