@model KompassHR.Areas.Setting.Models.Setting_Leave.Leave_EncashmentSetting
@{
    ViewBag.Title = "Setting_Leave_LeaveEncashment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 61px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 61px;
    }
</style>
<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Leave Encashment
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Leave_Menu", "Setting_Leave_Menu", new { id = 4, ScreenId =44, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Leave Encashment - <b>@ViewBag.AddUpdateTitle</b>  </h4>
                  
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define leave encashment structure here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Leave_LeaveEncashment", new { area = "Setting" })' id="SaveLeaveEncashment" method="post" data-parsley-validate="">

                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-3">
                                        Comapany Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyname, "CompanyId", "CompanyName"), "--Select--", new { id = "CmpId", @class = "form-select", autocomplete = "off", name = "CmpId" })
                                        @Html.HiddenFor(model => model.LeaveEncashSettingId_Encrypted)
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-3">
                                        Leave Type
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.LeaveEncashSettingLeaveTypeId, new SelectList(ViewBag.GetLeaveType, "Id", "Name"), "--Select--", new { id = "LeaveEncashSettingLeaveTypeId", @class = "form-select", autocomplete = "off", name = "LeaveEncashSettingLeaveTypeId" })

                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-3"> </div>

                                    <div class="col-md-6" id="LeaveEncashSettingEarningIds">
                                        <table class="table table-bordered" id="FixHeader" style="width: 100%;">
                                            <thead style="background-color: rgba(233, 236, 239, 1)">
                                                <tr>
                                                    <th class="text-center">Earning Heads</th>
                                                    <th class="text-center width-45">Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="form-label">Basic + DA</td>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="1" id="chkBasicDA" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">HRA</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="2" id="HRA" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Conveyance</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="3" id="chkConveyance" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Education</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="4" id="chkEducation" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Entertainment</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="5" id="chkEntertainment" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Medical</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="6" id="chkMedical" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Washing</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="7" id="chkWashing" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Effciency</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="8" id="chkEffciency" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Performance</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="9" id="chkPerformance" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Attendance Bonus</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="10" id="chkAttendanceBonus" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Over Time</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="11" id="chkOverTime" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Ear1</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="12" id="chkEar1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Ear2</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="13" id="chkEar2" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Ear3</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="14" id="chkEar3" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Other Ear1</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="15" id="chkOtherEar1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Other Ear2</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="16" id="chkOtherEar2" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Other Ear3</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="17" id="chkOtherEar3" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-label">Arrears</td>
                                                    <td>
                                                        <input type="checkbox" name="LeaveEncashSettingEarningId" class="form-check chk" value="18" id="chkArrears" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Leave_LeaveEncashment", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" onclick="LeaveEncashmentList()" id="btnGetLeaveEncashmentList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>

    //$("#btnGetLeaveEncashmentList").click(function () {
    function LeaveEncashmentList(){
        var url = '@Url.Action("GetList", "Setting_Leave_LeaveEncashment")';
        window.location.href = url;
    }

    $(document).ready(function () {
        $("#CmpId").select2();
        $("#LeaveEncashSettingLeaveTypeId").select2();


        $("#formReset").click(function () {
            $("#SaveLeaveEncashment")[0].reset()
        });


        var Company = @Html.Raw(Json.Encode(ViewBag.GetCompanyname));
        $("#ddlCompanyName").val(Company);

        $("#CmpId").on("change", function () {
            debugger;
            $("#LeaveEncashSettingLeaveTypeId").find("option").remove();
            var CmpId = $("#CmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetLeaveType", "Setting_Leave_LeaveEncashment")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        //var data1 = data.data;
                        $("#LeaveEncashSettingLeaveTypeId").append("<option value=''>All </option>");
                        $.each(data.data, function (i, p) {
                            $("#LeaveEncashSettingLeaveTypeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })

        });


        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
        debugger;
        var Leave_Encashment = @Html.Raw(Json.Encode(ViewBag.Leave_Encashment));
        var LeaveEncashSetting=Leave_Encashment.LeaveEncashSettingEarningId;
        var month = new Array();
        month = LeaveEncashSetting.split(",");
        for(var i= 0; i<= month.length -1; i++)
        {
            if(month[i] == '1')
            {
                $("#chkBasicDA").prop("checked",true);
            }
            else if(month[i] == '2')
            {
                $("#HRA").prop("checked",true);
            }
            else if(month[i] == '3')
            {
                $("#chkConveyance").prop("checked",true);
            }
            else if(month[i] == '4')
            {
                $("#chkEducation").prop("checked",true);
            }
            else if(month[i] == '5')
            {
                $("#chkEntertainment").prop("checked",true);
            }
            else if(month[i] == '6')
            {
                $("#chkMedical").prop("checked",true);
            }
            else if(month[i] == '7')
            {
                $("#chkWashing").prop("checked",true);
            }
            else if(month[i] == '8')
            {
                $("#chkEffciency").prop("checked",true);
            }
            else if(month[i] == '9')
            {
                $("#chkPerformance").prop("checked",true);
            }
            else if(month[i] == '10')
            {
                $("#chkAttendanceBonus").prop("checked",true);
            }
            else if(month[i] == '11')
            {
                $("#chkOverTime").prop("checked",true);
            }
            else if(month[i] == '12')
            {
                $("#chkEar1").prop("checked",true);
            }
            else if(month[i] == '13')
            {
                $("#chkEar2").prop("checked",true);
            }
            else if(month[i] == '14')
            {
                $("#chkEar3").prop("checked",true);
            } else if(month[i] == '15')
            {
                $("#chkOtherEar1").prop("checked",true);
            }
            else if(month[i] == '16')
            {
                $("#chkOtherEar2").prop("checked",true);
            }
            else if(month[i] == '17')
            {
                $("#chkOtherEar3").prop("checked",true);
            }
            else if(month[i] == '18')
            {
                $("#chkArrears").prop("checked",true);
            }
        }
    });//ready function



    jQuery.validator.addMethod(
"regex",
function(value, element, regexp) {
    if (regexp.constructor != RegExp)
        regexp = new RegExp(regexp);
    else if (regexp.global)
        regexp.lastIndex = 0;
    return this.optional(element) || regexp.test(value);
},"erreur expression reguliere"
);
    $('#SaveLeaveEncashment').validate({
        rules: {
            LeaveEncashSettingLeaveTypeId: {
                required: true,
            },
            CmpId:{
                required: true,
            },
        },
        messages: {
            LeaveEncashSettingLeaveTypeId: {
                required: "Leave Type is required",
            },
            CmpId: {
                required: "Company Name is required",
            },
        },
    });

    var form = $("#SaveLeaveEncashment");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var array = $('.chk:checked').map(function(){
            return this.value;
        }).get();

        if (array.length === 0) {
            Swal.fire({
                icon: 'error',
                text: 'Please select at least one checkbox.',
            });
            return false;
        }
        var CheckBoxValue = JSON.stringify(array);
        var LeaveEncashSettingId_Encrypted=$("#LeaveEncashSettingId_Encrypted").val();
        var LeaveEncashSettingEarningId=$("#LeaveEncashSettingEarningIds").val();
        var LeaveType = $("#LeaveEncashSettingLeaveTypeId").val();
        $.ajax({
            url:"IsLeaveEncashmentExists",
            method:"get",
            data:{LeaveEncashSettingId_Encrypted:LeaveEncashSettingId_Encrypted,LeaveEncashSettingEarningId:LeaveEncashSettingEarningId,LeaveType:LeaveType},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    var array = $('.chk:checked').map(function(){
                        return this.value;
                    }).get();
                    var CheckBoxValue = JSON.stringify(array)
                    $("#SaveLeaveEncashment").submit();
                }
            }
        });

    });
</script>
