
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
        .Tooltip {
            position: relative;
        }

            .Tooltip button {
                width: 35px;
            }

            .Tooltip:hover .Tooltip-text {
                display: flex;
                position: absolute;
            }

            .Tooltip .Tooltip-text {
                z-index: 1;
                min-width: 45px;
                max-width: fit-content;
                background-color: black;
                color: #fff;
                top: 40px;
                right: -18px;
                padding: 5px 8px;
                border-radius: 6px;
                display: none;
                justify-content: center;
                position: absolute;
                margin-right: 10px;
            }

                .Tooltip .Tooltip-text::after {
                    content: "";
                    position: absolute;
                    top: -20px;
                    right: 20px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }

        .ListBtn {
            font-size: 10px !important;
            padding: 5px 8px !important;
            border: 1px solid lightgray !important;
        }


        tr td {
            padding: 4px !important;
            font-weight: 600;
        }

        .table-striped > tbody > tr:nth-of-type(odd) > * {
            --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
        }

        .table-wrap::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        .table-wrap::-webkit-scrollbar {
            width: 6px;
            height: 10px;
            background-color: #F5F5F5;
        }

        .table-wrap::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 10px;
        }

        /*table first column fixed*/
        .table-wrap {
            width: 100%;
            overflow: auto;
        }

        .table-scroll table {
            width: 100%;
            margin: auto;
            border-collapse: separate;
            border-spacing: 0;
        }

        .table-scroll th, .table-scroll td {
            padding: 5px 10px;
            border: 1px solid lightgray;
            background: #fff;
            white-space: nowrap;
            vertical-align: top;
        }

        .table-scroll th {
            background-color: rgba(233, 236, 239, 1) !important;
        }



        .approve-btn, .reject-btn, .pending-btn {
            display: flex;
            justify-content: center;
            padding: 5px 8px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            text-decoration: none;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 1px solid white;
            letter-spacing: -0.5px;
            align-items: center;
        }


            .approve-btn, .approve-btn:hover {
                background-color: #ddf5df;
                color: #2e7d32;
                /*background: #2e7d32;
        /* background-color: #e8f5e9; */
            }

        .doodle {
            font-size: 12px !important;
            background: #fff;
            color: #2e7d32;
            padding: 0 2px;
            margin-left: 5px;
            border-radius: 50px;
        }

        .approve-btn .doodle {
            color: #2e7d32;
        }

        .reject-btn .doodle {
            color: #c62828 !important;
        }

        .pending-btn .doodle {
            color: #ab9808 !important;
        }

        .reject-btn {
            background-color: #ffebee;
            color: #c62828;
        }

        .pending-btn {
            background-color: #fffad5;
            color: #ab9808;
        }
        /*.approve-btn:hover {
        background-color: #c8e6c9;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }*/

        .reject-btn:hover {
            background-color: #ffebee;
            color: #c62828;
        }

        .approve-btn i, .reject-btn i, .pending-btn i {
            margin-right: 5px;
        }

        .approve-btn span, .reject-btn span, .pending-btn span {
            font-size: 0.9rem;
        }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Document Assignment
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_DocumentAssignmentSubmenu", "Module_Employee_DocumentAssignmentSubmenu",  new { id = 3,ScreenId=913, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Document Assignment - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="@Url.Action("Module_Employee_DocumentAssignment", "Module_Employee_DocumentAssignment", new { area = "Module" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                        </div>

                        <!-- BEGIN table-responsive -->
                        <div class="table-scroll div1">
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="data-table-combine" style="width: 100%;">
                                    <thead>
                                        <tr class="trheading">
                                            <th class="fixed-side">Update</th>
                                            <th class="fixed-side">Delete</th>
                                            @*<th class="fixed-side1">View</th>*@
                                            <th class="text-nowrap">Pending List </th>
                                            <th class="text-nowrap">Approve List </th>
                                            <th class="text-nowrap">Reject List </th>
                                            <th class="text-nowrap text-center">Doc No</th>
                                            <th class="text-nowrap text-center">Doc Date</th>
                                            <th class="text-nowrap text-center">Assignment Title</th>
                                            <th class="text-nowrap">Descripion</th>
                                            <th class="text-nowrap">Instruction</th>
                                            <th class="text-nowrap text-center">Due Date</th>
                                            @*<th class="text-nowrap text-center">Created By</th>
                                            <th class="text-nowrap text-center">Created Date</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetDocumentAssignmentList)
                                        {
                                            <tr>
                                                <td class="text-center" style="width: 80px;">
                                                    <a onclick="Update('@d.DocAssignmentMasterId_Encrypted')" id="btnUpdate" style="cursor:pointer;">
                                                        <i class="fa-solid fa-pen-to-square fa-lg text-Dark"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a onclick="Delete('@d.DocAssignmentMasterId')" id="btnDelete" style="cursor:pointer;">
                                                        <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                    </a>
                                                </td>
                                                @*<td class="text-center" style="width: 80px;">
                                                    <a id="btnshow" onclick="ViewEmployeeList('@d.CmpId','@d.DocAssignmentMasterId')" style="cursor:pointer;">
                                                        <i class="fa-solid fa-eye fa-lg text-danger"></i>
                                                    </a>
                                                </td>*@
                                                <td class="text-center">
                                                    <a id="btnshow" class="pending-btn" onclick="PendingEmployeeDocument('@d.CmpId','@d.BranchId','@d.DepartmentId','@d.DocAssignmentMasterId')" style="cursor:pointer;">
                                                        <i class="fa-solid fa-check-double"></i>
                                                        <span>Pending</span>
                                                        <span class="doodle">@d.PendingCount</span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a id="btnApproveList" onclick="ApproveEmployeeDocument('@d.CmpId','@d.BranchId','@d.DepartmentId','@d.DocAssignmentMasterId')"
                                                       class="approve-btn" title="Approve">
                                                        <i class="fa-solid fa-circle-check"></i>
                                                        <span>Approve</span>
                                                        <span class="doodle">@d.ApprovedCount</span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a id="btnRejectList" onclick="RejectEmployeeDocument('@d.CmpId','@d.BranchId','@d.DepartmentId','@d.DocAssignmentMasterId')"
                                                       class="reject-btn" title="Reject">
                                                        <i class="fa-solid fa-circle-xmark"></i>
                                                        <span>Reject</span>
                                                        <span class="doodle">@d.RejectedCount</span>
                                                    </a>
                                                </td>
                                                <td class="text-center">@d.DocNo</td>
                                                <td class="text-nowrap">@d.DocDate</td>
                                                <td class="text-nowrap">@d.AssignmentTitle</td>
                                                <td class="text-start text-center">
                                                    <input type="hidden" id="hiddenDescription_@d.DocAssignmentMasterId" value="@d.Description" />
                                                    <i class="fa-solid fa-receipt fa-lg" onclick="Description(encodeURIComponent(document.getElementById('hiddenDescription_@d.DocAssignmentMasterId').value))" style="cursor:pointer; color: #ff5b57;"></i>
                                                </td>
                                                <td class="text-start text-center">
                                                    <input type="hidden" id="hiddenInstruction_@d.DocAssignmentMasterId" value="@d.Instruction" />
                                                    <i class="fa-solid fa-receipt fa-lg" onclick="Instruction(encodeURIComponent(document.getElementById('hiddenInstruction_@d.DocAssignmentMasterId').value))" style="cursor:pointer; color: #ff5b57;"></i>
                                                </td>
                                                <td class="text-nowrap">@d.DueDate</td>
                                                @*<td class="text-nowrap">@d.CreatedBy</td>
                                                <td class="text-nowrap">@d.CreatedDate</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<!-- #Start modal-dialog -->
<div class="modal fade" id="EmployeeListModel" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title" id="EmployeeListTitle">@*Employee List*@</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true" id="CloseModelHistory">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="table-scroll">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered table-hover mb-0 table-wrap align-middle" id="tblEmployeeLog">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap text-center">All <input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" /></th>
                                                                <th class="text-nowrap text-left">Employee Name</th>
                                                                <th>Assignment Title</th>
                                                                @*<th>Document Path</th>*@
                                                                <th>Submitted Date</th>
                                                                <th>ApproveRejectBy</th>
                                                                <th>ApproveReject Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyEmployeeList"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" id="btnEmployeeSubmit" class="btn btn-danger btn-sm">
                    <i class="fa-solid fa-trash-alt"></i> Delete
                </button>

                <button type="button" class="btn btn-primary btnpress btn-sm CloseModelHistory" id="CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<div class="modal fade" id="modal_basic3" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Description</h4>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div id="txtRemark"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-success btnpress" onclick="dismissModal('modal_basic3')">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_basic4" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Instruction</h4>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div id="txtInstruction"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-success btnpress" onclick="dismissModal('modal_basic4')">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('title').html("Document Assignment");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
    function Update(DocAssignmentMasterId_Encrypted) {
        debugger;
        var url = '@Url.Action("Module_Employee_DocumentAssignment", "Module_Employee_DocumentAssignment")' +
                  '?DocAssignmentMasterId_Encrypted=' + encodeURIComponent(DocAssignmentMasterId_Encrypted) ;
        window.location.href = url;
    }


    function Delete(DocAssignmentMasterId) {debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "Module_Employee_DocumentAssignment")?DocAssignmentMasterId=' + DocAssignmentMasterId;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

   
</script>
<script>
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

</script>
<script>
    function PendingEmployeeDocument(CmpId,BranchId,DepartmentId,DocAssignmentMasterId) {debugger
        $('#btnEmployeeSubmit').show();
        @*var downloadUrl = '@Url.Action("DownloadAttachment", "Module_Employee_DocumentAssignment")';*@
        var url = '@Url.Action("ShowEmployeeList", "Module_Employee_DocumentAssignment")';

        var Process="PendingEmployeeList";
        var Status="Pending"
        $.getJSON(url,
            {
                CmpId: CmpId,
                BranchId:BranchId,
                DepartmentId:DepartmentId,
                DocAssignmentMasterId: DocAssignmentMasterId,
                Process:Process,
                Status:Status
            }, function (data) {

                const jsonData = JSON.parse(data);

                $('#EmployeeListModel').modal('show');
                $('#EmployeeListTitle').text('Pending Employee List');
                $("#tbodyEmployeeList").empty();

                $.each(jsonData, function (index, item) {debugger
                 var row = `<tr>
                <td><center>
                    <input type="checkbox" value="${item.DocAssignmentDetailsId}"
                           class="form-check-input rowCheckbox" />
                </center></td>
                <td class="text-left">${item.EmployeeName}</td>
                <td class="text-left">${item.AssignmentTitle}</td>
                <td class="text-left">${item.DocSubmitDate || ''}</td>
                <td class="text-left">${item.ApproveRejectBy || ''}</td>
                <td class="text-left">${item.ApproveRejectDate || ''}</td>
            </tr>`;

                    $("#tbodyEmployeeList").append(row);
                });
            });
    }

    function ApproveEmployeeDocument(CmpId, BranchId,DepartmentId,DocAssignmentMasterId) {debugger
        $('#btnEmployeeSubmit').hide();
        @*var downloadUrl = '@Url.Action("DownloadAttachment", "Module_Employee_DocumentAssignment")';*@
        var url = '@Url.Action("ShowEmployeeList", "Module_Employee_DocumentAssignment")';

        var Process="ApproveEmployeeList";
        var Status="Approved";
        $.getJSON(url, {
            CmpId: CmpId,
            BranchId:BranchId,
            DepartmentId:DepartmentId,
            DocAssignmentMasterId: DocAssignmentMasterId,
            Process:Process,
            Status:Status
        }, function (data) {

            const jsonData = JSON.parse(data);

            $('#EmployeeListModel').modal('show');
            $('#EmployeeListTitle').text('Document Approved Employee List');
            $("#tbodyEmployeeList").empty();

            $.each(jsonData, function (index, item) {debugger
                let statusCol = '';

                if (item.Status === "Approved") {
                    statusCol = `<td><center><span class="text-success fw-bold">Approved</span></center></td>`;
                }  else {
                    statusCol = `<td><center><input type="checkbox" class="form-check-input" /></center></td>`;
                }
                var row = `<tr>
                 ${statusCol}
                <td class="text-left">${item.EmployeeName}</td>
                <td class="text-left">${item.AssignmentTitle}</td>
                <td class="text-left">${item.DocSubmitDate || ''}</td>
                <td class="text-left">${item.ApproveRejectBy || ''}</td>
                <td class="text-left">${item.ApproveRejectDate || ''}</td>
            </tr>`;

                $("#tbodyEmployeeList").append(row);
            });
        });
    }

    function RejectEmployeeDocument(CmpId, BranchId,DepartmentId,DocAssignmentMasterId) {debugger
        $('#btnEmployeeSubmit').hide();
        @*var downloadUrl = '@Url.Action("DownloadAttachment", "Module_Employee_DocumentAssignment")';*@
        var url = '@Url.Action("ShowEmployeeList", "Module_Employee_DocumentAssignment")';

        var Process="RejectEmployeeList";
        var Status="Rejected";
        $.getJSON(url, {
            CmpId: CmpId,
            BranchId:BranchId,
            DepartmentId:DepartmentId,
            DocAssignmentMasterId: DocAssignmentMasterId,
            Process:Process,
            Status:Status
        }, function (data) {

            const jsonData = JSON.parse(data);

            $('#EmployeeListModel').modal('show');
            $('#EmployeeListTitle').text('Document Reject Employee List');
            $("#tbodyEmployeeList").empty();

            $.each(jsonData, function (index, item) {

                let statusCol = '';

                if (item.Status === "Rejected") {
                    statusCol = `<td><center><span class="text-danger fw-bold">Rejected</span></center></td>`;
                }  else {
                    statusCol = `<td><center><input type="checkbox" class="form-check-input" /></center></td>`;
                }

                var row = `<tr>
                ${statusCol}
                <td class="text-left">${item.EmployeeName}</td>
                <td class="text-left">${item.AssignmentTitle}</td>
                <td class="text-left">${item.DocSubmitDate || ''}</td>
                <td class="text-left">${item.ApproveRejectBy || ''}</td>
                <td class="text-left">${item.ApproveRejectDate || ''}</td>
            </tr>`;

                $("#tbodyEmployeeList").append(row);
            });
        });
    }
</script>

<script>
    $("#btnEmployeeSubmit").click(function () {
        debugger
        $("#SelectAll").prop("checked", false);
        var EmployeeList = [];
        var table = $('#tblEmployeeLog').DataTable();
        table.rows().nodes().to$()
            .find('.rowCheckbox:checked')
            .each(function () {
                EmployeeList.push({
                    DocAssignmentDetailsId: $(this).val()
                });
            });

        if (EmployeeList.length === 0) {
            Swal.fire({
                text: 'Please select at least one employee.',
                icon: 'info',
                allowOutsideClick: false
            });
            $(".Userloaderbg").hide();
            return false;
        }

        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteEmployee", "Module_Employee_DocumentAssignment")',
            data: JSON.stringify({
                EmployeeList: EmployeeList
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (Icon1 != null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                            }
                        }).then(function () {
                            var url = '@Url.Action("GetList", "Module_Employee_DocumentAssignment")';
                            window.location.href = url;
                        })
                    }
                }
            }
        });
    });
</script>
<script>
    function Description(encodedHtml)
    {debugger;
        $('#txtRemark').html('');
        const AssignDesc = decodeURIComponent(encodedHtml);
        $('#modal_basic3').modal('show');
        $('#modal_basic3').on('shown.bs.modal', function () {
            $('#txtRemark').html(AssignDesc);
            //$('#txtRemark').summernote('pasteHTML', WorkOnTask);
        });
    }

    function dismissModal(modalId) {
        $('#' + modalId).modal('hide');
    }
</script>
<script>
    function Instruction(encodedHtml)
    {debugger;
        $('#txtInstruction').html('');
        const AssignDesc = decodeURIComponent(encodedHtml);
        $('#modal_basic4').modal('show');
        $('#modal_basic4').on('shown.bs.modal', function () {
            $('#txtInstruction').html(AssignDesc);
            //$('#txtRemark').summernote('pasteHTML', WorkOnTask);
        });
    }

    function dismissModal(modalId) {
        $('#' + modalId).modal('hide');
    }
</script>