@model KompassHR.Areas.Setting.Models.Setting_TimeOffice.Atten_Shifts
@{
    ViewBag.Title = "Setting_TimeOffice_Shift";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Shift Creation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_TimeOffice_Menu", "Setting_TimeOffice_Menu", new { id = 5, ScreenId =51, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Shift Creation - <Span>@ViewBag.AddUpdateTitle</Span></h4>
                   
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define shift schedule here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_TimeOffice_Shift", new { area = "Setting" })' id="TimeOffice_Shift" method="post" data-parsley-validate="true">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { name = "CmpId", id = "ddlCompanyName", @class = "form-select", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.ShiftId_Encrypted, new { id = "ShiftId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ShiftBranchId, new SelectList(ViewBag.Location, "Id", "Name"), "--Select--", new { name = "ShiftBranchId", id = "ddlBusinessUnit", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftName, new { @class = "form-control", type = "text", id = "txtShiftName", autocomplete = "Off", name = "ShiftName" })
                                                @Html.HiddenFor(model => model.ShiftId_Encrypted)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift Short Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SName, new { @class = "form-control", type = "text", id = "txtSName", autocomplete = "Off", name = "SName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift Start Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.BeginTime, new { @class = "form-control", type = "time", id = "txtBeginTime", autocomplete = "Off", name = "BeginTime" })
                                                @Html.ValidationMessageFor(model => model.BeginTime, "", new { @class = "help-block", @id = "ErrorBeginTime", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift End Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control", type = "time", id = "txtEndTime", autocomplete = "Off", name = "EndTime" })
                                                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "help-block", @id = "ErrorEndTime", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Punch Begin Before (Min)
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PunchBeginDuration, new { @class = "form-control", id = "txtPunchDuration", autocomplete = "Off", name = "PunchBeginDuration", type = "number", onkeypress = "return event.charCode >=48" })
                                                    <span id="ErrortxtPunchDuration" class="Error"></span>
                                                </div>

                                            </div>
                                        </div>*@
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                            </label>
                                            <label class="form-label col-form-label col-md-8">
                                                @Html.CheckBoxFor(model => model.ShiftFlag, new { id = "chkShiftFlag" })
                                                &nbsp; Is Night Shift
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Lunch Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LunchTime, new { @class = "form-control", type = "time", id = "txtLunchTime", autocomplete = "Off", name = "LunchTime" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Lunch Duration
                                                (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LunchTimeMin, new { @class = "form-control", id = "txtLunchTimeMin", autocomplete = "Off", name = "LunchTimeMin", onkeypress = "return event.charCode >=48", type = "number" })
                                                <span id="ErrortxtLunchTimeMin" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Punch Begin Before/After Lunch (Min (+/-) )
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LunchTimePunchBegin, new { @class = "form-control", id = "txtLunchTimePunchBegin", autocomplete = "Off", name = "LunchTimePunchBegin", type = "number", onkeypress = "return event.charCode >=48" })
                                                <span id="ErrortxtLunchTimePunchBegin" class="Error"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Late Coming(Grace Time (Min))
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.GraceTimeForLateComming, new { @class = "form-control", id = "txtGraceTimeForLateComming", autocomplete = "Off", name = "GraceTimeForLateComming", type = "number", onkeypress = "return event.charCode >=48" })
                                                <span id="ErrortxtGraceTimeForLateComming" class="Error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Early Going(Grace Time (Min))
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.GraceTimeForEarlyGoing, new { @class = "form-control", id = "txtGraceEarlyTime", autocomplete = "Off", name = "GraceTimeForEarlyGoing", type = "number", onkeypress = "return event.charCode >=48" })
                                                <span id="ErrortxtGraceEarlyTime" class="Error"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Present(PP) Duration(Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftDurationForPP, new { @class = "form-control", type = "number", id = "txtFullDayDuration", autocomplete = "Off", name = "FullDayDuration" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Half Day(HD) Duration (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftDurationForHD, new { @class = "form-control", type = "number", id = "txtHalfDayDuration", autocomplete = "Off", name = "HalfDayDuration" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            OT Setting
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                OT Calculation After Duration(Min)

                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftDurationForOTCalculation, new { @class = "form-control", id = "txtShiftDurationForOTCalculation", autocomplete = "Off", name = "ShiftDurationForOTCalculation", type = "text", onkeypress = " return numbervalidate(event)" })
                                                <span id="ErrortxtLunchTimePunchBegin" class="Error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                            </label>
                                            <label class="form-label col-form-label col-md-8">
                                                @Html.CheckBoxFor(model => model.OT_CalculationAfterOutPunch, new { id = "chkOT_CalculationAfterOutPunch" })
                                                &nbsp; OT Calculation After Out Punch
                                            </label>
                                        </div>
                                    </div>*@
                                </div>
                                <hr />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Coff Setting
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label col-form-label p-0">
                                            <b>Regular Day</b>
                                            <span class="important">*</span>
                                        </label>
                                        <!-- BEGIN table-responsive -->
                                        <table class="table table-borderless align-middle" id="fixed-header"
                                               style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-nowrap">From (Min) </th>
                                                    <th class="text-nowrap">To (Min) </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Half_Regular_Applicable) &nbsp;   For 0.5 Day 
                                                        </label>
                                                    </td>
                                                   
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Half_Regular_From, new { @class = "form-control", type = "text", id = "txtCoff_Half_Regular_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Half_Regular_To, new { @class = "form-control", type = "text", id = "txtCoff_Half_Regular_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Full_Regular_Applicable) &nbsp;   For 1 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Regular_From, new { @class = "form-control", type = "text", id = "txtCoff_Full_Regular_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Regular_To, new { @class = "form-control", type = "text", id = "txtCoff_Full_Regular_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Full_Half_Regular_Applicable) &nbsp;     For 1.5 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Half_Regular_From, new { @class = "form-control", type = "text", id = "txtCoff_Full_Half_Regular_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Half_Regular_To, new { @class = "form-control", type = "text", id = "txtCoff_Full_Half_Regular_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Two_Regular_Applicable) &nbsp;    For 2 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_Regular_From, new { @class = "form-control", type = "text", id = "txtCoff_Two_Regular_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_Regular_To, new { @class = "form-control", type = "text", id = "txtCoff_Two_Regular_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label col-form-label p-0">
                                            <b>WO/PH</b>
                                            <span class="important">*</span>
                                        </label>
                                        <!-- BEGIN table-responsive -->
                                        <table class="table table-borderless align-middle" id="fixed-header"
                                               style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-nowrap">From (Min) </th>
                                                    <th class="text-nowrap">To (Min) </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Half_PH_Applicable) &nbsp;    For 0.5 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Half_PH_From, new { @class = "form-control", id = "txtCoff_Half_PH_From", autocomplete = "Off", type = "text", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Half_PH_To, new { @class = "form-control", id = "txtCoff_Half_PH_To", autocomplete = "Off", type = "text", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Full_PH_Applicable) &nbsp;      For 1 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_PH_From, new { @class = "form-control", type = "text", id = "txtCoff_Full_PH_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_PH_To, new { @class = "form-control", type = "text", id = "txtCoff_Full_PH_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Full_Half_PH_Applicable) &nbsp;      For 1.5 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Half_PH_From, new { @class = "form-control", type = "text", id = "txtCoff_Full_Half_PH_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Full_Half_PH_To, new { @class = "form-control", type = "text", id = "txtCoff_Full_Half_PH_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Two_PH_Applicable) &nbsp;     For 2 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_PH_From, new { @class = "form-control", type = "text", id = "txtCoff_Two_PH_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_PH_To, new { @class = "form-control", type = "text", id = "txtCoff_Two_PH_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Two_Half_PH_Applicable) &nbsp;     For 2.5 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_Half_PH_From, new { @class = "form-control", type = "text", id = "txtCoff_Two_Half_PH_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Two_Half_PH_To, new { @class = "form-control", type = "text", id = "txtCoff_Two_Half_PH_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="form-label col-form-label">
                                                            @Html.CheckBoxFor(model => model.Coff_Three_PH_Applicable) &nbsp;     For 3 Day
                                                        </label>
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Three_PH_From, new { @class = "form-control", type = "text", id = "txtCoff_Three_PH_From", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.TextBoxFor(model => model.Coff_Three_PH_To, new { @class = "form-control", type = "text", id = "txtCoff_Three_PH_To", autocomplete = "Off", onKeypress = "return onlyNumbers(event);", MaxLength = 4 })
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_TimeOffice_Shift", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetTimeAndAttendanceList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCompanyName").select2();
        $("#ddlBusinessUnit").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#ddlCompanyName").on("change", function () {
            $("#ddlBusinessUnit").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_TimeOffice_Shift")',
                //url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        $("#ddlBusinessUnit").append("<option value=0> --Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlBusinessUnit").append();
                            $("#ddlBusinessUnit").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                }
            })
        });
    });
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
        "regex",
         function(value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         },"erreur expression reguliere"
      );
    $("#TimeOffice_Shift").validate({
        rules: {
            CmpId:{
                required: true,
            },
            ShiftBranchId:{
                required: true,
            },

            ShiftName: {
                required: true,
            },
            ShiftShortName: {
                required: true,

            },
            SName: {
                required: true,

            },
            BeginTime: {
                required: true,
            },
            EndTime: {
                required: true,
            },
            GraceTimeForEarlyGoing: {
                required: true,
            },
            GraceTimeForLateComming: {
                required: true,
            },
            PunchBeginDuration: {
                required: true,
            },
            LunchTime: {
                required: true,
            },
            LunchTimeMin: {
                required: true,
            },
            LunchTimePunchBegin: {
                required: true,
            },
            //ShiftDurationForOTCalculation: {
            //    required: true,
            //}

        },
        messages: {
            CmpId:{
                required: "Company name is required",
            },
            ShiftBranchId:{
                required: "Business unit is required",
            },
            ShiftName: {
                required: "Shift name is required",
            },
            ShiftShortName: {
                required: "Shift short name is required",
            },
            SName: {
                required: "Shift short name is required ",
            },
            BeginTime: {
                required: "Shift start time is required",
            },
            EndTime: {
                required: "Shift end time is required",
            },
            GraceTimeForEarlyGoing: {
                required: "Early going(grace time) is required",
            },
            GraceTimeForLateComming: {
                required: "Late coming(grace time) is required",
            },
            PunchBeginDuration: {
                required: "Punch begin before is required",
            },
            LunchTime: {
                required: "Lunch time is required",
            },
            LunchTimeMin: {
                required: "Lunch duration is required",
            },
            LunchTimePunchBegin: {
                required: "Punch begin before lunch is required",
            },

        }

    });

    var form = $("#TimeOffice_Shift");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            debugger;
            $("#txtBeginTime").removeClass("error");
            $("#txtEndTime").removeClass("error");
            $("#txtLunchTime").removeClass("error");
            return false;
        }

        // Set hidden field value for checkbox (if not using CheckBoxFor hidden input)
      //  var OT_CalculationAfterOutPunch = $("#chkOT_CalculationAfterOutPunch").is(":checked") ? 1 : 0;
     //   $("#OT_CalculationAfterOutPunch").val(OT_CalculationAfterOutPunch);

        var ShiftBranchId=$("#ddlBusinessUnit").val();
        var CmpId=$("#ddlCompanyName").val();
        var ShiftId_Encrypted=$("#ShiftId_Encrypted").val();
        var SName=$("#txtSName").val();
        var ShiftName=$("#txtShiftName").val();
        $.ajax({
            url: '@Url.Action("IsShiftExists", "Setting_TimeOffice_Shift")',
            //url: "IsShiftExists",
            method:"get",
            data :{ShiftBranchId:ShiftBranchId,ShiftId_Encrypted:ShiftId_Encrypted,SName:SName,CmpId:CmpId,ShiftName:ShiftName},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#TimeOffice_Shift").submit();
                }
            }
        });

        debugger;
        var PunchDuration = $("#txtPunchDuration").val();
        if(PunchDuration>120)
        {
            $("#ErrortxtPunchDuration").html("Please punch begin time less than 120");
            return false;
        }
        else
        {
            $("#ErrortxtPunchDuration").html("");
        }

        var GraceEarlyTime = $("#txtGraceEarlyTime").val();
        if(GraceEarlyTime>60)
        {
            $("#ErrortxtGraceEarlyTime").html("Please grace early time less than 60");
            return false;
        }
        else
        {
            $("#ErrortxtGraceEarlyTime").html("");
        }

        var GraceTimeForLateComming = $("#txtGraceTimeForLateComming").val();
        if(GraceTimeForLateComming>60)
        {
            $("#ErrortxtGraceTimeForLateComming").html("Please grace time for late comming less than 60");
            return false;
        }
        else
        {
            $("#ErrortxtGraceTimeForLateComming").html("");
        }

        var LunchTimeMin = $("#txtLunchTimeMin").val();
        if(LunchTimeMin>60)
        {
            $("#ErrortxtLunchTimeMin").html("Please lunch time less than 60");
            return false;
        }
        else
        {
            $("#ErrortxtLunchTimeMin").html("");
        }

        var LunchTimePunchBegin = $("#txtLunchTimePunchBegin").val();
        if(LunchTimePunchBegin>90)
        {
            $("#ErrortxtLunchTimePunchBegin").html("Please lunch time punch begin less than 90");
            return false;
        }
        else
        {
            $("#ErrortxtLunchTimePunchBegin").html("");
        }
    });

</script>

<script>
    $("#chkShiftFlag").change(function(){
        var BeginTime=$("#txtBeginTime").val();
        var EndTime= $("#txtEndTime").val();

        if ($('#chkShiftFlag').is(":checked")) {
            if(BeginTime>EndTime)
            {
                $("#ErrorEndTime").html("");
            }
            else{
                $('#ErrorEndTime').html("Shift start time should not less than shift end time"); $("#txtEndTime").focus();  return false;
            }
        }
        else{
            if(BeginTime>EndTime)
            {
                $('#ErrorEndTime').html("Shift start time should not greater than shift end time"); $("#txtEndTime").focus();  return false;

            }
            else{
                $("#ErrorEndTime").html("");
            }
        }

    })
    $("#txtBeginTime,#txtEndTime").change(function(){
        var BeginTime=$("#txtBeginTime").val();
        var EndTime= $("#txtEndTime").val();
        if ($('#chkShiftFlag').is(":checked")) {
            if(BeginTime>EndTime)
            {
                $("#ErrorEndTime").html("");
            }
            else{
                $('#ErrorEndTime').html("Shift start time should not less than shift end time"); $("#txtEndTime").focus();  return false;
            }
        }
        else{
            if(BeginTime>EndTime)
            {
                $('#ErrorEndTime').html("Shift start time should not greater than shift end time"); $("#txtEndTime").focus();  return false;

            }
            else{
                $("#ErrorEndTime").html("");
            }
        }

    })


    function onlyNumbers(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
