
@{
    ViewBag.Title = "ESS_Tax_InvestmentMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ================== Icon Css ================== -->
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->

<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">IT Declaration Menu</h5>
        <ol class="breadcrumb float-md-end mb-0">
            <li style="margin-right: 10px;">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                </a>
            </li>
            <li>
                <a href="@Url.Action("ESS_Tax_InvestmentFYear", "ESS_Tax_InvestmentFYear", new {id = 9, ScreenId=176, area = "ESS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>

    
    
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                <p class="pb-0">
                    Employees can submit their Income Tax Declaration here.
                </p>
            </div>

            <div class="gradientLine-Div">
                <div class="gradientLine1"> </div>
                <div><strong>Menu</strong></div>
                <div class="gradientLine2"> </div>
            </div>

            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-body" style="max-height: fit-content; overflow: auto !important;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="empbx">
                                <span>
                                    <h5> <i class="fa-solid fa-user"></i> &nbsp; @ViewBag.GetUS80CEmployee.EmployeeName -  @ViewBag.GetUS80CEmployee.EmployeeNo </h5>
                                </span>
                                <span>
                                    <h6> <i class="fa-solid fa-briefcase"></i>&nbsp; &nbsp; @ViewBag.GetUS80CEmployee.DepartmentName / @ViewBag.GetUS80CEmployee.DesignationName / @ViewBag.GetUS80CEmployee.GradeName</h6>
                                </span>
                                <span>
                                    <h6> <i class="fa-solid fa-calendar"></i>&nbsp; &nbsp; @ViewBag.GetUS80CEmployee.JoiningDate.ToString(string.Format("dd/MMM/yyyy"))</h6>
                                </span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="empbx">
                                <span>
                                    <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="empbx">
                                @if (TempData["SubmitValid"] != null)
                                {
                                    <span>
                                        <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <hr />
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                @foreach (var item in ViewBag.GetUserMenuList)
                                {
                                    <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/@item.Icon" width="50px" height="50px" />
                                            <h3>@item.ScreenDisplayMenuName</h3>
                                        </div>
                                    </a>
                                }
                            </div>
                            @*<div class="row">
                                @foreach (var item in ViewBag.GetUserMenuList)
                                {
                                    <div class="col-md-1-5 col-6 d-flex ">
                                        <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" style="text-decoration:none !important;">
                                            <div class="box">
                                                <div class="info">
                                                    <i class="@item.Icon"></i>
                                                    <h7><b>@item.ScreenDisplayMenuName</b></h7>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }                                
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End New UI*@
    <!--
        <div class="row">
        <div class="col-md-6">


            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Menu </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="max-height: fit-content;">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                For the Financial Year &nbsp; &nbsp;<span class="form-label"> ( @Session["TaxYear"] ) </span>

                                            </label>

                                            <div class="col-md-6">

                                                @*@Html.HiddenFor(Model => Model.InvestmentDeclaration_Encrypted, new { @class = "form-control", @id = "InvestmentDeclaration_Encrypted" })*@
                                                @*@Html.TextBox("TaxYear", "", new { @class = "form-control", @readonly = "readonly",@id = "TaxYear", @required = "required", Value = Session["TaxYear"] })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_HouseRental/ESS_Tax_Investment_HouseRental"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b>House <br> Rental</b></h7>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_UnderSection80C/ESS_Tax_Investment_UnderSection"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b> Under Section 80 C </b> </h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_IncomeFromLetOutHouseProperty/ESS_Tax_Investment_IncomeFromLetOutHouseProperty"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7> <b>Let Out House</b> </h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_ChapterVI_A/ESS_Tax_Investment_ChapterVI_A"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b>Chapter <br> VI A</b></h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="#"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b>House Loan Repayment</b></h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_OtherDetails/ESS_Tax_Investment_OtherDetails"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b>Other <br> Details</b></h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-3 col-6 d-flex justify-content-center">
                                    <div class="box">
                                        <a href="/ESS/ESS_Tax_Investment_PreviousEmployerDetails/ESS_Tax_Investment_PreviousEmployerDetails"
                                           style="text-decoration: none; color: #000;">
                                            <div class="info">
                                                <i class="fa-solid fa-file-signature"></i>
                                                <h7><b>Previous Employer</h7>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    -->

</div>

