@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Leave_Master
@{
    ViewBag.Title = "App_TimeOffice_Leave";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}


<style>
    .app-header-fixed {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .app-content {
        padding: 5px 5px;
    }
</style>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }*/

    /*TeamBX Css*/
    .teambx {
        border: 1px solid gray;
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px 5px;
        border-radius: 10px;
    }

        .teambx .teamheading {
            position: absolute;
            right: 0px;
            bottom: 5px;
            padding: 5px 15px;
            width: fit-content;
            border-radius: 20px 0px 0px 20px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 900;
        }

        .teambx .teamname {
            font-size: 16px;
            font-weight: 800;
            border-bottom: 1px solid lightgray;
            margin-bottom: 8px;
        }

    .teamname i {
        margin-right: 0 10px !important;
    }

    .teamcontactBx {
        font-size: 14px;
        text-align: left;
        font-weight: 600;
    }

        .teamcontactBx i {
            margin: 0 5px;
        }
</style>


<div id="content" class="app-content">
    <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-body" data-scrollbar="false">
            <div class="row">
                
                <div class="col-md-12">
                    <!-- BEGIN panel -->
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        @*<div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                            <h4 class="panel-title">Leave</h4>
                        </div>
                        <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                            <p class="pb-0">
                                Employees fill out a form specifying the type of leave, the duration (start and end dates), the reason for the leave, and any additional comments or attachments.
                            </p>
                        </div>*@
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <form role="form" action="@Url.Action("SaveUpdate", "ESS_TimeOffice_Leave", new { area = "ESS" })" id="SaveLeave" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    @Html.HiddenFor(model => Model.LeaveMasterId)
                                                    <label class="form-label col-form-label col-md-4">Doc No.</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => Model.DocNo, new { @class = "form-control mb-5px", @id = "txtDocNo", @readonly = "readonly", Value = @ViewBag.DocNo.DocNo, Style = "background-color: #eee;" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4"> Leave Year </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.LeaveMasterLeaveYearId, new SelectList(ViewBag.GetLeaveYear, "Id", "Name"), new { id = "LeaveMasterLeaveYearId", name = "LeaveMasterLeaveYearId", @class = "form-select", autocomplete = "off" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Leave Type
                                                        <span class="important">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.LeaveMasterLeaveTypeId, new SelectList(ViewBag.GetLeaveType, "LeaveTypeId", "LeaveTypeShortName"), "--Select--", new { id = "LeaveType", name = "LeaveType", @class = "form-select", autocomplete = "off" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Leave Day
                                                        <span class="important">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.LeaveMasterDayType, new List
                                                <SelectListItem>
                                                    {
                                                    new SelectListItem { Text = "Full Day",Value = "Full Day"},
                                                    new SelectListItem { Text = "1st Half",Value = "1st Half"},
                                                    new SelectListItem { Text = "2nd Half",Value = "2nd Half"},
                                                    }, "--Select--",
                                                    new { @class = "form-select", @id = "LeaveMasterDayType", @name = "LeaveMasterDayType" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        From Date
                                                        <span class="important">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.FromDate, new { @name = "FromDate", @class = "form-control", id = "FormDate", onkeydown = "return false;", type = "date" })
                                                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        To Date
                                                        <span class="important">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ToDate, new { @name = "ToDate", @class = "form-control", @id = "ToDate", onkeydown = "return false;", type = "date", onchange = "btnGetTotalDays();" })
                                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">Shift  <span class="important">*</span></label>
                                                    <div class="col-md-8">
                                                        @*<input type="hidden" name="LeaveMasterShiftName" id="ShiftName" />*@
                                                        @Html.DropDownListFor(model => model.LeaveMasterShiftId, new SelectList(ViewBag.GetShiftList, "ShiftId", "ShiftName"), "--Select--", new { id = "ddlShift", name = "LeaveMasterShiftId", @class = "form-select", autocomplete = "off" })
                                                        @*<select name="LeaveMasterShiftId" id="ddlShift" class="form-select">
                                                    <option>Select Shift</option>
                                                </select>*@
                                                    </div>
                                                    @*<span id="ErrorddlShift" class="Error" style="margin-left: 117px;"></span>*@
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Total Days
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.TotalDays, new { @class = "form-control", @id = "txtTotalDay", autocomplete = "Off", @readonly = "readonly", Style = "background:#eee;" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-3" style="width: 16.5%;"> Reason <span class="important">*</span></label>
                                                    <div class="col-md-9" style="min-width: 83.5%; max-width: 100%;">
                                                        @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @id = "txtReason" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-3" style="width: 16.5%;"> Proof Upload </label>
                                                    <div class="col-md-9" style="min-width: 83.5%; max-width: 100%;">
                                                        <input type="file" name="LeaveFilePath" class="form-control" id="LeaveFilePath" onchange="ResetFile()" />
                                                        @Html.ValidationMessageFor(model => model.ProofUpload, "", new { @class = "help-block", id = "ErrorProofUpload", @style = "color:red" })
                                                        <label class="form-label col-form-label col-md-8" id="lblFileName">@TempData["FileName"]</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       

                                        <div class="row">
                                            <div class="LastShortLeaveBx">
                                                <div class="row">
                                                    <div class="col-md-4 d-flex">
                                                        @*<div class="title d-flex align-items-center">
                                                    Last Record :
                                                    <span>@ViewBag.LastRecored</span>
                                                </div>*@
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="BtnBx">
                                                            <div>
                                                                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetList" onclick="btnGetLists();">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                                <button type="button" id="btnShowLog" class="btn btn-warning btn-sm" onclick="LoadEmployeeLog()">
                                                                    @*<i class="fa-solid fa-floppy-disk"></i>*@ Show Log
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function btnGetLists()
    {
        var url = '@Url.Action("App_GetList", "App_TimeOffice_Leave")';
        window.location.href = url;
    }

    $(document).ready(function () {
        $("#LeaveMasterEmployeeId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;

        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false // Disable outside clicks
            }).then(() => {
                window.location.reload();
            });
        }


        @*var data = @Html.Raw(Json.Encode(ViewBag.GetShiftList));
        debugger;
        $("#ddlShift").find("option").remove();
        $("#ddlShift").append("<option value='0'>-- Select--</option>");
        for(var i=0; i<data.length; i++)
        {

            $("#ddlShift").append("<option value='" + data[i].ShiftId +"'>" + data[i].ShiftName +"</option>");
            $("#ShiftName").val(data[i].ShiftName);
        }*@

        $('#ToDate,#FormDate').change(function () {
            debugger

            var CheckValidation = $("#LeaveMasterDayType").val();
            if(CheckValidation=="1st Half")
            {
                var StartDate= document.getElementById('FormDate').value;
                $("#ToDate").val(StartDate);
                $("#txtTotalDay").val("0.5");
            }
            if(CheckValidation=="2nd Half")
            {
                var StartDate= document.getElementById('FormDate').value;
                $("#ToDate").val(StartDate);
                $("#txtTotalDay").val("0.5");
            }

            var StartDate= document.getElementById('FormDate').value;
            var EndDate= document.getElementById('ToDate').value;
            if(StartDate=="")
            {
                $("#ErrortxtToDate").html("Please select form date first.");
                $("#ToDate").val('');
                return false;
            }
            else{
                $("#ErrortxtToDate").html("");
            }

            var sDate = new Date(StartDate);
            var eDate = new Date(EndDate);
            var Time = Math.abs(eDate - sDate);
            var days = Math.ceil(Time/(1000 * 60 * 60 * 24))+1;

            if(CheckValidation=="Full Day")
            {
                var StartDate= document.getElementById('FormDate').value;
                //$("#ToDate").val(StartDate);
                $("#txtTotalDay").val(days);
            }
            if(StartDate!= '' && EndDate!= '' && sDate > eDate)
            {
                $("#ErrortxtToDate").html("To date should not be less than from date.");
                $("#ToDate").val('');
            }
            else{
                $("#ErrortxtToDate").html("");
            }

            $.ajax({
                url: '@Url.Action("GetData", "ESS_TimeOffice_Leave")',
                type: 'GET',
                data: { fromDate: StartDate, toDate: EndDate },
                success: function (response) {
                    debugger;
                    $('#tblConflictEmp tbody').empty();

                    response.forEach(item => {
                        $('#tblConflictEmp tbody').append(`
                                    <tr>
                                    <td class="text-nowrap">${item[0].Value}</td>
                                    <td class="text-nowrap">${item[1].Value}</td>
                                    <td class="text-nowrap">${item[2].Value}</td>
                                    <td class="text-nowrap">${item[3].Value}</td>
                                    </tr>
                                `);
                    });
                },
                error: function (err) {
                    console.error('Error fetching data:', err);
                }
            });
        });

        $('#LeaveMasterLeaveYearId').change(function () {
            debugger;
            var FYearId=$("#LeaveMasterLeaveYearId").val();
            $.ajax({
                url: '@Url.Action("GetLeaveBalance", "ESS_TimeOffice_Leave")',
                type: 'GET',
                data: { FYearId: FYearId },
                success: function (response) {
                    debugger;
                    $('#tblLeaveBalance tbody').empty();

                    $('#tblLeaveBalance tbody').empty();
                    var GetData = response.data[0];
                    const jsonData = GetData.reduce((acc, item) => {
                        acc[item.Key] = item.Value;
                        return acc;
                    }, {});

                    $('#tblLeaveBalance tbody').append(`
                            <tr>
                                <td class="text-nowrap">${jsonData.LeaveTypeShortName}</td>
                                <td class="text-nowrap">${jsonData.OpeningBalance}</td>
                                <td class="text-nowrap">${jsonData.TakenLeave}</td>
                                <td class="text-nowrap">${jsonData.PendingLeave}</td>
                                <td class="text-nowrap">${jsonData.ClosingBalance}</td>
                            </tr>
                        `);
                },
                error: function (err) {
                    console.error('Error fetching data:', err);
                }
            });
        });

        var TotalCount = $("#ShortLeaveTotalCount").text();
        var AvailesCount = $("#ShortLeaveAvailedCount").text();
        var Balance = TotalCount - AvailesCount;
        $("#ShortLeaveBalanceCount").text(Balance);

        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];

        $("#LeaveMasterDayType").change(function(){
            var SelectedDay =   $("#LeaveMasterDayType").val();
            if(SelectedDay== "Full Day")
            {
                //$("#FormDate").val(dateString);
                //$("#ToDate").val(dateString);
                $("#FormDate").val("");
                $("#ToDate").val("");
                $("#ToDate").attr('readOnly', false);
                $("#txtTotalDay").val("1");
            }
            if(SelectedDay== "1st Half")
            {
                $("#FormDate").val("");
                $("#ToDate").val("");
                $("#ToDate").attr('readOnly', true);
                $("#txtTotalDay").val("0.5");
            }
            if(SelectedDay== "2nd Half")
            {
                $("#FormDate").val("");
                $("#ToDate").val("");
                $("#ToDate").attr('readOnly', true);
                $("#txtTotalDay").val("0.5");
            }

        });

        function ResetFile()
        {
            let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png'];
            let type = document.getElementById('LeaveFilePath').files[0].type;

            if(allowedExtension.indexOf(type)>-1)
            {
            }else{
                alert('File type should be jpeg/jpg/png')
                document.getElementById("LeaveFilePath").value = null;
            }
            $("#lblFileName").text('');
        }



        $("#LeaveType").change(function(){
            debugger;
            var GetLeaveTypeId = $("#LeaveType").val();
            $.ajax({
                url: '@Url.Action("GetFutureAndBackDays", "ESS_TimeOffice_Leave")',
                Type:"Get",
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                data:{GetLeaveTypeId:GetLeaveTypeId},
                success:function(data){
                    debugger;
                    var data1= JSON.parse(data);
                    var GetBackDays=data1[0][0].Value;
                    var GetFutureDays=data1[0][1].Value;
                    var IsDocRequired=data1[0][2].Value;
                    var IsAfterDays=data1[0][3].Value;

                    localStorage.setItem("IsDocRequired", IsDocRequired);
                    localStorage.setItem("IsAfterDays", IsAfterDays);
                    //alert(IsDocRequired);
                    if(GetBackDays!=null && GetFutureDays!=null)
                    {
                        var fromDateInputMin = document.getElementById("FormDate");
                        var toDateInputMin = document.getElementById("ToDate");
                        var currentDateMin = new Date();
                        var minDate = new Date();
                        minDate.setDate(currentDateMin.getDate() - GetBackDays);
                        var minDateString = minDate.toISOString().split('T')[0];
                        fromDateInputMin.setAttribute("min", minDateString);
                        toDateInputMin.setAttribute("min", minDateString);

                        //Validation for back day days Max Days
                        var currentDateMax = new Date();
                        var MaxDate = new Date();
                        MaxDate.setDate(currentDateMax.getDate() + GetFutureDays);
                        var maxDateString = MaxDate.toISOString().split('T')[0];
                        fromDateInputMin.setAttribute("max", maxDateString);
                        toDateInputMin.setAttribute("max", maxDateString);
                    }
                }
            });

        });




    });//ready funcation
    function LoadEmployeeLog() {
        debugger;
        var LogFromDate = $("#FormDate").val();
        var LogToDate = $("#ToDate").val();
        if (LogFromDate=="")
        {
            $("#ErrortxtFromDate").html("From date and To date required");return false;
        }else{$("#ErrortxtFromDate").html("");}
        if (LogToDate=="")
        {
            $("#ErrortxtFromDate").html("From date and To date required");return false;
        }else{$("#ErrortxtFromDate").html("");}

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetEmployeeLogAndShift", "ESS_TimeOffice_Leave")',
            data: { LogFromDate: LogFromDate, LogToDate: LogToDate },
            success: function (data) {
                debugger;
                $("#tblEmployeeLog  tbody tr").detach();
                //$("#tblShift  tbody tr").detach();
                var Logdata = data;
                //var Shiftdata = data.Shiftdata;
                var tableLogContent = '';
                //var tableShiftContent = '';

                for (var i = 0; i < Logdata.length; i++) {
                    tableLogContent += '<tr id="LogSelectRow_NotUse">';
                    tableLogContent += '<td class="text-nowrap">' + convertDateTime12Hr(Logdata[i][0].Value) + '</td>';
                    if (Logdata[i][1].Value=="IN")
                    {
                        tableLogContent += '<td class="text-nowrap text-center"><i class="fa-solid fa-circle-down fa-lg" style="color: #5cce40; padding: 0px;"></i></td>';
                    }
                    else{
                        tableLogContent += '<td class="text-nowrap text-center"><i class="fa-solid fa-circle-up fa-lg" style="color:#fe6966; padding: 0px;"></i></td>';
                    }
                    tableLogContent += '<td class="text-nowrap text-center">' + Logdata[i][1].Value + '</td>';
                    //tableLogContent += '<td hidden>' + convertDateTime(Logdata[i][0].Value) + '</td>';
                    //tableLogContent += '<td  class="text-nowrap text-center"><i class="fa-solid fa-square-check fa-lg" style="color:#5cce40;padding:0px;cursor:pointer;" onclick="funLogInOutTime(\'IN\', \'' + convertDateTime(Logdata[i][0].Value) + '\')"></i></td>';
                    //tableLogContent += '<td  class="text-nowrap text-center"><i class="fa-solid fa-square-check fa-lg" style="color:#fe6966;padding:0px;cursor:pointer;" onclick="funLogInOutTime(\'OUT\', \'' + convertDateTime(Logdata[i][0].Value) + '\')"></i></td>';
                }
                $('#tblEmployeeLog tbody').append(tableLogContent);
            }
        });
    }

    //This Function use for bind in input type
    function convertDateTime12Hr(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date1 = millisecToDateTime12Hour(getdate);
        return date1;
    }
    function millisecToDateTime12Hour(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = ("0" + date.getMinutes()).slice(-2);

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = ("0" + hours).slice(-2);

        var yyyyMMdd = [date.getFullYear(), mnth, day].join("-");
        var hhmm = [hours, minutes].join(":");
        return yyyyMMdd + " " + hhmm + " " + ampm;
    }
</script>

<script>
    function DeleteLeave(LeaveMasterId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("LeaveDelete", "ESS_TimeOffice_Leave")?LeaveMasterId_Encrypted=' + LeaveMasterId_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }


    jQuery.validator.addMethod(
  "regex",
      function(value, element, regexp) {
          if (regexp.constructor != RegExp)
              regexp = new RegExp(regexp);
          else if (regexp.global)
              regexp.lastIndex = 0;
          return this.optional(element) || regexp.test(value);
      },"erreur expression reguliere"
   );

    $('#SaveLeave').validate({
        rules: {
            LeaveMasterLeaveYearId:{
                required: true,
            },
            LeaveMasterLeaveTypeId:{
                required: true,
            },
            LeaveMasterDayType:{
                required: true,
            },
            FromDate:{
                required: true,
            },
            ToDate:{
                required: true,
            },
            LeaveMasterShiftId:{
                required: true,
            },
            Reason:{
                required: true,
            }

        },
        messages: {
            LeaveMasterLeaveYearId:{
                required: "Leave year is required",
            },
            LeaveMasterLeaveTypeId: {
                required: "Leave type is required",
            },
            LeaveMasterDayType:{
                required: "Leave day is required",
            },
            FromDate:{
                required: "From date is required",
            },
            ToDate:{
                required: "To date is required",
            },
            LeaveMasterShiftId:{
                required: "Shift is required",
            },
            Reason:{
                required: "Reason is required",
            }
        },
    });


    var form = $("#SaveLeave");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        var FormDate = $("#FormDate").val();
        var ToDate = $("#ToDate").val();
        var TotalDays = Number($("#txtTotalDay").val());
        var LeaveTypeId = $("#LeaveType").val();
        var letLeaveMasterLeaveYearId = $("#LeaveMasterLeaveYearId").val();
        var LeaveMasterShiftId = $("#ddlShift").val();
        var TotalDays1 =  Number(TotalDays);
        var tblClosingBalance1 =  Number(tblClosingBalance);
        
        //var AdditionalNotifyPerson = JSON.stringify(AdditionalNotify);
        form.valid();
        if(form.valid()==false)
        {
            $("#FormDate").removeClass('error');
            $("#ToDate").removeClass('error');
            return false;
        }

        //Check Shift Validation
        var GetShiftId = $("#ddlShift").val();
        if(GetShiftId==0)
        {
            $("#ErrorddlShift").html("Shift is required");
            return false;
        }
        else
        {
            $("#ErrorddlShift").html("");
        }
        var FormDate = $("#FormDate").val();
        var ToDate = $("#ToDate").val();
        var TotalDays = Number($("#txtTotalDay").val());
        var LeaveTypeId = $("#LeaveType").val();
        var letLeaveMasterLeaveYearId = $("#LeaveMasterLeaveYearId").val();
        var LeaveMasterShiftId = $("#ddlShift").val();


        //var TotalDays = $("#txtTotalDay").val();
        var tblOpeningBalance;
        var tblLeaveTaken;
        var tblLeavePending;
        var tblClosingBalance;
        var table = document.getElementById("tblLeaveBalance");
        var rowcount = table.rows.length;
        var row = table.insertRow(rowcount);
        var LeaveType = $('#LeaveType :selected').text();
        const isEmpty = document.querySelectorAll("#tblLeaveBalance tbody tr").length <= 1;

        var LeaveMasterDayType=$("#LeaveMasterDayType").val();

        var LeaveFilePath= document.getElementById("LeaveFilePath").value;
        var GetIsDocRequired= localStorage.getItem("IsDocRequired");
        var GetIsAfterDays=Number(localStorage.getItem("IsAfterDays"));

        const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.pdf)$/i;



        if (GetIsDocRequired=="true")
        {
            if (TotalDays>GetIsAfterDays)
            {
                if (LeaveFilePath=="")
                {
                    $("#ErrorProofUpload").html("Proof Upload is required");return false;
                    if (!allowedExtensions.exec(LeaveFilePath)) {
                        $("#ErrorProofUpload").html("Allow image or pdf only");return false;
                        //fileInput.value = ""; // Clear the file input
                    }
                    else
                    {
                        $("#ErrorProofUpload").html("");
                    }
                }
                else{
                    $("#ErrorProofUpload").html("");
                }
            }
        }

        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            url: '@Url.Action("IsLeaveExists", "ESS_TimeOffice_Leave")',
            Type:"Get",
            contentType:"application/json; charset=utf-8",
            dataType:"text",
            data:{FormDate:FormDate , ToDate:ToDate , LeaveMasterDayType:LeaveMasterDayType , TotalDays:TotalDays, LeaveTypeId:LeaveTypeId,LeaveMasterShiftId:LeaveMasterShiftId,letLeaveMasterLeaveYearId:letLeaveMasterLeaveYearId}, //, AdditionalNotifyPerson:AdditionalNotifyPerson
            success:function(response){
                debugger;
                $(".Userloaderbg").css("display", "none");
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (data.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    return false;
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false;
                                }
                            });
                        }
                    }
                    return false;
                }
                else{
                    $(".Userloaderbg").css("display", "flex");
                    $.ajax({
                        url: '@Url.Action("IsLeaveLog", "ESS_TimeOffice_Leave")',
                        Type:"Get",
                        contentType:"application/json; charset=utf-8",
                        dataType:"text",
                        data:{FormDate:FormDate , ToDate:ToDate , LeaveMasterDayType:LeaveMasterDayType , TotalDays:TotalDays, LeaveTypeId:LeaveTypeId,LeaveMasterShiftId:LeaveMasterShiftId,letLeaveMasterLeaveYearId:letLeaveMasterLeaveYearId}, //, AdditionalNotifyPerson:AdditionalNotifyPerson
                        success:function(response){
                            var data = JSON.parse(response);
                            var Message1 = data.Message;
                            var Icon1 = data.Icon;
                            var Punches = data.Punches;
                            if (Punches == "PunchesFound") {
                                debugger;
                                const DeleteButtons = Swal.mixin({
                                    customClass: {
                                        cancelButton: 'btnpress',
                                        confirmButton: 'btnpress',
                                        denyButton: 'btnpress' // Style for the deny button (optional)
                                    },
                                    buttonsStyling: true
                                });

                                DeleteButtons.fire({
                                    title: 'Are you sure?',
                                    text: "Employee Punches Found!",
                                    icon: 'warning',
                                    confirmButtonColor: '#007bff', // Primary color (blue) for "Submit"
                                    cancelButtonColor: '#dc3545', // Danger color (red) for "Cancel"
                                    denyButtonColor: '#28a745', // Success color (green) for "Show Log"
                                    showCancelButton: true,
                                    showDenyButton: true, // Show the additional button
                                    confirmButtonText: 'Yes, submit!',
                                    cancelButtonText: 'No, cancel!',
                                    denyButtonText: 'Show Log', // Label for the new "Show Log" button
                                    reverseButtons: false,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup();
                                        popup.classList.remove('swal2-show');
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake');
                                        });
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake');
                                        }, 500);
                                        return false;
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $(".Userloaderbg").css("display", "flex");
                                        $("#SaveLeave").submit();
                                        // Handle "Yes, Submit" action
                                    } else if (result.isDenied) {
                                        // Redirect to "Show Log" page when "Show Log" button is clicked
                                        window.location.href = '@Url.Action("Reports_Attendance_MyAttendance", "Reports_Attendance_MyAttendance", new { area= "Reports" })';
                                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                                        // Handle "Cancel" action if needed
                                        $(".Userloaderbg").css("display", "none");
                                    }
                                });
                            }
                            else
                            {
                                $(".Userloaderbg").css("display", "flex");
                                $("#SaveLeave").submit();
                            }
                        }
                    });
                }
            }
        });
    });


    function NotificationFunction(EmployeeId,LeaveMasterId_Encrypted) {
        debugger;
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetContactDetails", "ESS_TimeOffice_Leave")',
            data: {EmployeeId:EmployeeId , LeaveMasterId_Encrypted:LeaveMasterId_Encrypted},
            dataType: "text",
            success: function (data) {
                debugger;
                var datas = JSON.parse(data);
                var Getdata = datas.data[0];

                $('#lblManager1Name').html(Getdata[0].Value);
                $('#lblManager1EmailId').html(Getdata[1].Value);
                $('#lblManager1Mobile').html(Getdata[2].Value);

                $('#lblManager2Name').html(Getdata[3].Value);
                $('#lblManager2EmailId').html(Getdata[4].Value);
                $('#lblManager2Mobile').html(Getdata[5].Value);

                $('#lblHRName').html(Getdata[6].Value);
                $('#lblHREmailId').html(Getdata[7].Value);
                $('#lblHRMobile').html(Getdata[8].Value);
                $('#NotificationModalPopUp').modal('show');
            }
        });
    }
    //CapthaVerification code added in CapthaVerification.js file.
    $(".Close").click(function () {
        $("#mainCaptcha").val("");
        $("#txtInput").val("");
        $("#success").html("");
        $("#error").html("");
    });


    function formatDate(dateString) {
        // Extract the timestamp
        let timestamp = Number(dateString.match(/\/Date\((\d+)\)\//)[1]);
        // Create a Date object
        let date = new Date(timestamp);

        // Extract day, month, year, hours, and minutes
        let day = String(date.getDate()).padStart(2, '0'); // Pad single digits with a leading zero
        let month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed, so add 1
        let year = date.getFullYear();
        let hours = String(date.getHours()).padStart(2, '0'); // Pad single digits with a leading zero
        let minutes = String(date.getMinutes()).padStart(2, '0'); // Pad single digits with a leading zero

        // Return the formatted date string
        return `${day}/${month}/${year}, ${hours}:${minutes}`;
    }

</script>