@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_InvestmentDeclaration_PanAdharUpdate
@{
    ViewBag.Title = "Ess_Tax_PanAdharUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                PAN Aadhaar Update
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_Menu", "ESS_Tax_Menu", new {id = 9, ScreenId=183, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> PAN Aadhaar Update <b>@ViewBag.AddUpdateTitle</b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add PAN Aadhaar here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Ess_Tax_PanAdharUpdate", new { area = "ESS" })' id="PanAadhaarUpdate" method="post" data-parsley-validate="">
                                <div class="col-md-12">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            Employee No.
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.EmployeeNo, new { @class = "form-control", type = "text", id = "txtEmployeeNo", autocomplete = "Off", Name = "EmployeeNo", maxlength = "6", oninput = "this.value = this.value.replace(/[^0-9]/g, '').slice(0,10)" })
                                            <span id="ErrorEmployeeNo" class="Error"></span>
                                            @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })

                                        </div>
                                        <div class="col-md-4">
                                            <a href="@Url.Action("SearchEmployee", "Ess_Tax_PanAdharUpdate", new { area = "ESS" })">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnSearch">
                                                    <i class="fa-solid fa-magnifying-glass"></i> Search
                                                </button>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="card shadow-sm rounded">
                                    <div class="card-header text-center bg-light">
                                        <h4 class="card-title">Employee Information</h4>
                                    </div>
                                    <div class="card-body p-1">
                                        <div class="row">
                                            <div class="col-12 col-md-12 mb-0">
                                                <div class="invoice-from">
                                                    @* <small class="text-muted d-block">From : </small>*@
                                                    <address class="custom-font">
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>Employee Name : </strong><span id="EmployeeName" class="EmployeeName"></span> - <span id="EmployeeNo" class="EmployeeNo"> </span></span><br />
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>Company / Bussiness Unit : </strong><span id="CompanyName" class="CompanyName"></span><strong> / </strong><span><span id="BranchName" class="BranchName"></span></span></span><br />
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>Department / Designation / Grade: </strong><span id="DepartmentName" class="DepartmentName"></span> <strong> / </strong> <span><span id="DesignationName" class="DesignationName"></span></span><strong> / </strong><span><span id="GradeName" class="GradeName"></span></span></span><br />
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>PAN No : </strong><span id="PAN" class="PAN"></span></span><br />
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>Aadhaar No : </strong><span id="AadhaarNo" class="AadhaarNo"></span></span><br />
                                                        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;<span><strong>PAN Aadhaar Link : </strong><span id="PANAadhaarLink" class="PANAadhaarLink"></span></span><br />
                                                    </address>
                                                </div>
                                            </div>
                                            @*<div class="col-12 col-md-6 mb-0">
                                                    <div class="invoice-to">
                                                        <address class="custom-font">
                                                            <i class="fa-brands fa-quora"></i>&nbsp;&nbsp;<b>Total Questions:</b> <span id="spnTotalQuestion">@ViewBag.TotalQue</span> <br />
                                                            <i class="fa-solid fa-comment-alt"></i>&nbsp;&nbsp;<b>Attemt Questions:</b><span id="spnAttemptQuestion">@ViewBag.AtempQue</span> <br />
                                                            <i class="fa-solid fa-clock"></i>&nbsp;&nbsp;<b>Pending Questions:</b> <span id="spnPendingQuestion">@ViewBag.PendingQue</span> <br />
                                                        </address>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Update PAN and Aadhaar
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                PAN No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.PAN, new { @class = "form-control", type = "text", id = "txtPAN", autocomplete = "Off", name = "PAN", @disabled = "disabled", onkeyup = "this.value = this.value.toUpperCase();" })
                                                <span id="panError" style="color: red; display: none;">Invalid PAN format</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Aadhaar No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.AadhaarNo, new { @class = "form-control", type = "text", id = "txtAadhaar", autocomplete = "Off", name = "AadhaarNo", @disabled = "disabled", @maxlength = "12", oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                            </label>
                                            <label class="form-label col-form-label col-md-6">
                                                @Html.CheckBoxFor(model => model.PANAadhaarLink, new { id = "chkPANAadhaarLink" })
                                                Is PAN Aadhaar Link
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        @*<a href="@Url.Action("GetList", "Ess_Tax_PanAdharUpdate", new { area = "ESS" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetResignationReasonList">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            @*<button type="button" class="btn btn-danger btn-sm" id="btnGetFNFList">
                                    <i class="fa-solid fa-share-from-square"></i> List
                                </button>*@
                        </div>

                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        $('#txtPAN').on('input', function () {
            // Convert input to uppercase
            this.value = this.value.toUpperCase();

            // PAN regex pattern
            var panPattern = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
            var panValue = this.value;

            if (panPattern.test(panValue)) {
                $('#panError').hide(); // Hide error if valid
            } else {
                $('#panError').show(); // Show error if invalid
            }
        });

        debugger;
        if (Message != null || Icon !=null ) {
            //swal("", AlreadyExist, "warning");
            if (Message != null) {
                Swal.fire({
                    //title: 'Saved',
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
        //ask
    });
</script>
<script>
    $("#btnSearch").on("click", function (event) {
        event.preventDefault(); // Prevent form submission and page reload
        debugger;
        var EmployeeNo = $("#txtEmployeeNo").val();
        if(EmployeeNo==""){
            $('#ErrorEmployeeNo').text('Employee No is required').css('color', 'red').show();
        }
        else{
            $('#ErrorEmployeeNo').text('Employee No is required').css('color', 'red').hide();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SearchEmployee", "Ess_Tax_PanAdharUpdate")',
                data: { EmployeeNo: EmployeeNo },
                success: function (data) {
                    const result = data[0].reduce((acc, item) => {
                        acc[item.Key] = item.Value;
                        return acc;
                    }, {});
                    debugger;
                    // Now 'result' contains the formatted object
                    console.log(result);
                    $("#hdnEmployeeId").val(result.EmployeeId);
                    $(".EmployeeNo").html(result.EmployeeNo);
                    $(".EmployeeName").html(result.EmployeeName);
                    $(".CompanyName").html(result.CompanyName);
                    $(".BranchName").html(result.BranchName);
                    $(".DepartmentName").html(result.DepartmentName);
                    $(".DesignationName").html(result.DesignationName);
                    $(".GradeName").html(GradeName);
                    $(".PAN").html(result.PAN);
                    $(".AadhaarNo").html(result.AadhaarNo);
                    $(".PANAadhaarLink").html(result.PANAadhaarLink);
                    $("#txtPAN").val(result.PAN);
                    $("#txtAadhaar").val(result.AadhaarNo);
                    $("#chkPANAadhaarLink").prop("checked", result.PANAadhaarLink);
                    $('#txtPAN').prop('disabled', false);
                    $('#txtAadhaar').prop('disabled', false);

                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }

    });

</script>
<script>
    $("#formReset").click(function () {
        $("#PanAadhaarUpdate")[0].reset();
    })
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#PanAadhaarUpdate").validate({
        rules: {
            EmployeeNo:
                {
                    required: true,
                },
            PAN: {
                required: true,

            },
            AadhaarNo:{
                required: true,
            }
        },
    messages: {
        EmployeeNo:
                {
                    required: "Employee No is required",
                },
            PAN: {
                required: "PAN No is required",

                },

            AadhaarNo:{
                required: "Aadhaar No is required",
            },
        }
    });
    @*$('#btnSearch').click(function () {
        debugger;
        var EmployeeNo = $('#txtEmployeeNo').val();

        $.ajax({
            url: '@Url.Action("SearchEmployee","Ess_Tax_PanAdharUpdate")',
            method: "GET",
            data: { EmployeeNo: EmployeeNo },
            success: function (response) {
                alert("Employee data:", response);

            },
            error: function (xhr, status, error) {
                console.error("Error fetching employee data:", error);
            }
        });
    });*@

    var form = $("#PanAadhaarUpdate");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var PAN =$("#txtPAN").val();
        var Aadhaar =$("#txtAadhaar").val();
        var EmployeeId = $("#hdnEmployeeId").val();
        $.ajax({
            url:'@Url.Action("IsPANAaddhaarExists", "Ess_Tax_PanAdharUpdate")',
            method:"get",
            data:{PAN:PAN,Aadhaar:Aadhaar,EmployeeId:EmployeeId},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#PanAadhaarUpdate").submit();

                }
            }
        });
    });
</script>

