@model KompassHR.Areas.Setting.Models.Setting_UserAccessPolicy.Tool_UserAccessPolicyMaster
@{
    ViewBag.Title = "Setting_UserAccessPolicy_PolicyWise";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
        color: red;
    }

    .tblAddData td:nth-child(1) {
        text-align: center;
    }

    .tblAddData td:nth-child(6) {
        display: none;
    }

    .tblAddData td:nth-child(7) {
        display: none;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        /*overflow: auto;*/
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 10px;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                User Access Policy
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_UserAccessPolicy_Menu", "Setting_UserAccessPolicy_Menu", new { id = 32, ScreenId = 121, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">User Access Policy - @ViewBag.AddUpdateTitle </h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        User access policy groups play a crucial role in managing access permissions within an HRMS, ensuring that employees have the appropriate level of access to perform their job duties while maintaining the security and integrity of sensitive HR data.
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Setting_UserAccessPolicy_PolicyWise", "Setting_UserAccessPolicy_PolicyWise", new { area = "Setting" })' id="SaveUserAccessPolicy" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Access Policy Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.UserGroupName, new { @class = "form-control", name = "UserGroupName", type = "text", id = "txtUserGroupName", autocomplete = "Off", Value = "" })
                                                @Html.ValidationMessageFor(model => model.UserGroupName, "", new { @class = "help-block", @id = "ErrorUserGroupName", @style = "color:red" })
                                                @*<span class="error" id="ErrortxtUserGroupName"></span>*@
                                                @Html.HiddenFor(model => model.UserGroupId_Encrypted, new { id = "UserGroupId_Encrypted" })
                                                @Html.HiddenFor(model => model.UserGroupId, new { id = "UserGroupId" })
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN table-responsive -->
                                            <div class="table-scroll div1">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle tblAddData TablePageAccess">
                                                        <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                            @*<tr class="trheading">
                                                                    <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsMenuCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsMenu')"> All</label></th>
                                                                    <th class="fixed-side"></th>
                                                                    <th class="fixed-side1"></th>
                                                                    <th class="fixed-side1"></th>
                                                                    <th class="fixed-side1"></th>
                                                                    <th hidden>ScreenId</th>
                                                                    <th hidden>ScreenModuleId</th>
                                                                </tr>*@
                                                            <tr class="trheading">
                                                                <th class="text-center text-nowrap"><label><input type="checkbox" name="checkbox" id="IsMenuCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsMenu')"> All Menu</label></th>
                                                                <th class="fixed-side text-nowrap">Module Name</th>
                                                                <th class="fixed-side1 text-nowrap">Type</th>
                                                                <th class="fixed-side text-nowrap">Form Name</th>
                                                                <th class="fixed-side1 text-nowrap">Description</th>
                                                                <th hidden>ScreenId</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblLoadModule">
                                                            @foreach (var d in ViewBag.GetUserAccessPolicyMaster)
                                                            {
                                                                if (@d.IsSideMenu == true)
                                                                {
                                                                    <tr>
                                                                        <td style="background-color: rgba(233, 236, 239, 1) !important;"><input type="checkbox" /></td>
                                                                        <td style="background-color: rgba(233, 236, 239, 1) !important;">@d.ModuleName</td>
                                                                        <td style="background-color: rgba(233, 236, 239, 1) !important;">@d.ScreenMenuType</td>
                                                                        <td style="background-color: rgba(233, 236, 239, 1) !important;">@d.ScreenDisplayMenuName</td>
                                                                        <td style="background-color: rgba(233, 236, 239, 1) !important;">@d.DescriptionForUser</td>
                                                                        <td hidden>@d.ScreenId</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td><input type="checkbox" /></td>
                                                                        <td>@d.ModuleName</td>
                                                                        <td>@d.ScreenMenuType</td>
                                                                        <td>@d.ScreenDisplayMenuName</td>
                                                                        <td>@d.DescriptionForUser</td>
                                                                        <td hidden>@d.ScreenId</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        Submit
                                                    </button>

                                                    <a href="@Url.Action("GetList", "Setting_UserAccessPolicy_PolicyWise", new { area = "Setting" })">
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetUserAccessPolicyList">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger
        //$('.TablePageAccess').DataTable({
        //    destroy: true,
        //    "searching": true,
        //    "paging": false,      // Disable paging
        //    "bInfo": true,
        //    "bFilter": true,
        //    "ordering": false,    // Disable sorting
        //});
        $('.TablePageAccess').DataTable({
            scrollY: 400,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
            stripeClasses: [] // Disable alternating row colors
        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });
    var UserAccessPolicyMaster = @Html.Raw(Json.Encode(ViewBag.UserAccessPolicyMaster));
    debugger;
    if(UserAccessPolicyMaster!=null)
    {
        var GroupName=UserAccessPolicyMaster[0][2].Value;
        $("#txtUserGroupName").val(GroupName);
        $('#tblLoadModule tr').not(function () { return !!$(this).has('th').length; }).remove();
        for(var i=0;i <= UserAccessPolicyMaster.length-1;i++)
        {
            var table = document.getElementById("tblLoadModule");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var count = $('#tblLoadModule tr').length;

            row.insertCell(0).innerHTML= '<input ' + ( UserAccessPolicyMaster[i][10].Value ? 'checked' : ' ') + ' type="checkbox" />';
            row.insertCell(1).innerHTML = "" + UserAccessPolicyMaster[i][4].Value + "";
            row.insertCell(2).innerHTML = "" + UserAccessPolicyMaster[i][5].Value + "";
            row.insertCell(3).innerHTML = "" + UserAccessPolicyMaster[i][6].Value + "";
            row.insertCell(4).innerHTML = "" + UserAccessPolicyMaster[i][9].Value + "";
            row.insertCell(5).innerHTML = ""+ UserAccessPolicyMaster[i][3].Value +"";
        }
    }
</script>

<script>
    $("#btnSubmit").click(function () {
        debugger;
        var table =  $('.TablePageAccess').DataTable();
        table.search('').draw();
        $("#txtUserGroupName").val();
        var UserGroupName = $("#txtUserGroupName").val();
        var UserGroupIdEncrypted = $("#UserGroupId_Encrypted").val();

        var UserAccessRecoardList1 = new Array();
        $("#tblLoadModule").find(':checkbox:checked').each(function (i) {
            var data = {};
            var currentRow = $(this).closest("tr");
            data.IsMenu = currentRow.find('input[type="checkbox"]').prop('checked');
            data.UserGroupDetails_ScreenID = currentRow.find("td:eq(5)").html();
            UserAccessRecoardList1.push(data);
        });

        if (UserAccessRecoardList1 == "") {
            debugger;
            Swal.fire({
                icon: "error",
                text: "Select atleast one record",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }

        if(UserGroupName=="")
        {
            $("#ErrortxtUserGroupName").html("Access name is required");
            $("#txtUserGroupName").focus();
            return false;
        }
        else
        {
            $("#ErrortxtUserGroupName").html("");
        }
        $(".Userloaderbg").css("display", "flex");


        $.ajax({
            url: '@Url.Action("IsUserAssccesExists", "Setting_UserAccessPolicy_PolicyWise")',
            method: "get",
            data: { UserGroupName: UserGroupName, UserGroupIdEncrypted: UserGroupIdEncrypted },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    $(".Userloaderbg").css("display", "none");
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    var UserAccessRecoardList = new Array();
                    $("#tblLoadModule").find(':checkbox:checked').each(function (i) {
                        var data = {};
                        var currentRow = $(this).closest("tr");
                        data.IsMenu = currentRow.find('input[type="checkbox"]').prop('checked');
                        data.UserGroupDetails_ScreenID = currentRow.find("td:eq(5)").html();
                        UserAccessRecoardList.push(data);
                    });

                    if (UserAccessRecoardList == null || UserAccessRecoardList =="") {
                        $(".Userloaderbg").css("display","none");
                        Swal.fire({
                            icon: 'warning',
                            title: 'Oops...',
                            text: 'Please select the checkbox before submitting the form.'
                        });
                    }

                    debugger;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SaveUpdate")",
                        contentType: "application/json",
                        dataType: "text",
                        data: JSON.stringify({ UserGroupName: UserGroupName, UserGroupIdEncrypted:UserGroupIdEncrypted, UserAccessRecoardList:UserAccessRecoardList }),
                        success: function (response) {
                            debugger;
                            var GetMsg  = JSON.parse(response);
                            var Message1 = GetMsg.Message;
                            var Icon1 = GetMsg.Icon;
                            if (Icon1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            // return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("Setting_UserAccessPolicy_PolicyWise", "Setting_UserAccessPolicy_PolicyWise")';
                                        }
                                    });
                                }
                            }
                        }
                    });

                }
            }
        });

    });




    function checkAllCheckboxes(checkbox, checkboxType) {
        var checkboxes = document.querySelectorAll('[id^="' + checkboxType + 'CheckBox"]');
        checkboxes.forEach(function (cb) {
            cb.checked = checkbox.checked;
        });
        if (checkboxType === 'IsMenu' || checkboxType === 'IsSave' || checkboxType === 'IsUpdate' || checkboxType === 'IsDelete' || checkboxType === 'IsList') {

            var typeIndex = ['IsMenu', 'IsSave', 'IsUpdate', 'IsDelete', 'IsList'].indexOf(checkboxType);
            var dynamicCheckboxes = document.querySelectorAll('#tblLoadModule tr td:nth-child(' + (typeIndex + 1) + ') input[type="checkbox"]');
            dynamicCheckboxes.forEach(function (dynamicCheckbox) {
                dynamicCheckbox.checked = checkbox.checked;
            });
        }
    }
</script>

<script>
    //$("#txtModuleName").change(function () {
    //    $("#tblLoadModule").empty();
    //});

    //$("#txtModuleName").select2();

    @*$("#btnModuleName").click(function () {
        debugger;
        //$("#SaveUserAccessPolicy").submit();
        var multipleModuleId = [];
        for (var option of document.getElementById('txtModuleName').options)
        {
            if (option.selected) {
                multipleModuleId.push(option.value);
            }
        }
        var ModuleIds = JSON.stringify(multipleModuleId);
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetModuleName", "Setting_UserAccessPolicy")',
            data: { ModuleIds: ModuleIds },
            dataType: "text",
            success: function (data) {
                debugger;
                // Clear previous rows
                $("#tblLoadModule").find('tr:not(:first)').remove();

                var parsedData = JSON.parse(data);
                parsedData.data.forEach(function(item, index) {
                    // Create a new row and populate it with data
                    var newRow = `<tr>
                                    <td>${item[3].Value}</td>
                                    <td>${item[4].Value}</td>
                                    <td>${item[2].Value}</td>
                                    <td><input type='checkbox'></td>
                                </tr>`;

                    // Append the new row to the table
                    $("#tblLoadModule").append(newRow);
                });
            }

        });*@
    @*var multipleModuleId = [];
        for (var option of document.getElementById('txtModuleName').options)
        {
            if (option.selected) {
                multipleModuleId.push(option.value);
            }
        }
        var ModuleIds = JSON.stringify(multipleModuleId);
        window.location.href = '@Url.Action("Setting_UserAccessPolicy", "Setting_UserAccessPolicy")?ModuleIds=' + encodeURIComponent(ModuleIds);*@

    //});


    //$("#btnModuleName").click(function () {
    //    debugger;
    //    var checkbox = document.getElementById("AllCheckBox");
    //    if (!checkbox.checked) {
    //        var ModuleName = $("#txtModuleName").val();
    //        if (ModuleName=="") {
    //            $("#ErrorModuleName").html("Please select only one option either Module Name or All option.");
    //            return false;
    //        }
    //        else
    //        {
    //            $("#ErrorModuleName").html("");
    //        }
    //    }

    //$('#txtModuleName').on('change', function() {
    //var ModuleName = $("#txtModuleName").val();
    //if (ModuleName=="") {
    //    $("#ErrorModuleName").html("Please select only one option either Module Name or All option.");
    //    return false;
    //}
    //else
    //{
    //    $("#ErrorModuleName").html("");
    //}

    //    CheckBoxCheck = false;
    //    if ($('#AllCheckBox').is(":checked")) {
    //        CheckBoxCheck = true
    //        $("#ErrorModuleName").html("");
    //        $("#txtModuleName").val(null).trigger('change');
    //        $("#txtModuleName").select2('close');
    //    }
    //    else {
    //        CheckBoxCheck==false;
    //    }

    //    debugger;
    //    var multipleModuleId = [];
    //    for (var option of document.getElementById('txtModuleName').options)
    //    {
    //        if (option.selected) {
    //            multipleModuleId.push(option.value);
    //        }
    //    }
    //    var ModuleIds = JSON.stringify(multipleModuleId);


    //    $.ajax({
    //        type: "Get",
    //        url: "GetModuleName",
    //        data: { ModuleIds: ModuleIds , AllModuleIds:CheckBoxCheck},
    //        contentType:"application/json; charset=utf-8",
    //        dataType:"text",
    //        success: function (data) {
    //            debugger;
    //            $("#tblLoadModule").find('tr:not(:first)').remove();
    //            $('#tblLoadModule tr').not(function () { return !!$(this).has('th').length; }).remove();
    //            var data = JSON.parse(data);
    //            for (var i = 0; i <= data.data.length-1; i++) {
    //                var table = document.getElementById("tblLoadModule");
    //                var rowcount = table.rows.length;
    //                var row = table.insertRow(rowcount);
    //                var count = $('#tblLoadModule tr').length;
    //                row.insertCell(0).innerHTML = "" + data.data[i][3].Value + "";
    //                row.insertCell(1).innerHTML = "" + data.data[i][4].Value + "";
    //                row.insertCell(2).innerHTML = "" + data.data[i][5].Value + "";
    //                row.insertCell(3).innerHTML = "" + data.data[i][2].Value + "";
    //                row.insertCell(4).innerHTML = "<input type='checkbox'>";
    //                row.insertCell(5).innerHTML = ""+ data.data[i][0].Value +"";
    //                row.insertCell(6).innerHTML = ""+ data.data[i][1].Value +"";
    //                //row.insertCell(4).innerHTML = "<input type='checkbox'>";
    //                //row.insertCell(5).innerHTML = "<input type='checkbox'>";
    //                //row.insertCell(6).innerHTML = "<input type='checkbox'>";
    //                //row.insertCell(7).innerHTML = "<input type='checkbox' >";
    //                //row.insertCell(8).innerHTML = ""+ data.data[i][0].Value +"";
    //                //row.insertCell(9).innerHTML = "<input id='id2' type='text' value=" + data.data[i][1].Value + ">";
    //            }

    //        }

    //    });
    //});

    //function Validation() {
    //    debugger;
    //    var ModuleName = $("#txtModuleName").val();
    //    var AllCheckBoxChecked = false;
    //    var ModuleNameHasValue = false;

    //    if ($('#AllCheckBox').is(":checked")) {
    //        AllCheckBoxChecked = true
    //        $("#txtModuleName").val("").select2();
    //    }

    //    if (ModuleName != null && ModuleName != '')
    //    {
    //        ModuleNameHasValue = true;
    //    }
    //    if (ModuleNameHasValue == false && AllCheckBoxChecked == false) {
    //        $("#ErrorModuleName").html("Please select only one option either Module Name or All option.");
    //        return false;
    //    }
    //    if (ModuleNameHasValue == true && AllCheckBoxChecked == true) {
    //        $("#ErrorModuleName").html("Please select only one option either Module Name or All option.");
    //        return false;
    //    }

    //}






    //$("#AllCheckBox").click(function () {
    //    $("#txtModuleName").val("");
    //    Validation();
    //    $("#ErrorModuleName").html("");
    //});

    //$("#txtModuleName").change(function () {
    //    $('#AllCheckBox').prop("checked", false);
    //    Validation();
    //    $("#ErrorModuleName").html("");
    //});


    //use for add regex function
    //    jQuery.validator.addMethod(
    //  "regex",
    //   function (value, element, regexp) {
    //       if (regexp.constructor != RegExp)
    //           regexp = new RegExp(regexp);
    //       else if (regexp.global)
    //           regexp.lastIndex = 0;
    //       return this.optional(element) || regexp.test(value);
    //   }, "erreur expression reguliere"
    //);

    //    $("#SaveUserAccessPolicy").validate({
    //        rules: {
    //            UserGroupName: {
    //                required: true,

    //            }
    //        },
    //        messages: {
    //            UserGroupName: {
    //                required: "User Group Name is required"
    //            }
    //        }
    //    });




    //var form = $("#SaveUserAccessPolicy");
    //form.validate();

</script>
