@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_PunchMissing

@{
    ViewBag.Title = "App_Attendance_PunchMissing";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<link href="~/assets/MyCSS/Tailwindcss.css" rel="stylesheet" />

<style>
    .app-header-fixed {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .app-content {
        padding: 0px 0px;
    }

    .panel .panel-body {
        padding: 8px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>



@*<style>
        .Tooltip {
            position: relative;
        }

            .Tooltip button {
                width: 35px;
            }

            .Tooltip:hover .Tooltip-text {
                display: flex;
                position: absolute;
            }

            .Tooltip .Tooltip-text {
                z-index: 1;
                min-width: 45px;
                max-width: fit-content;
                background-color: black;
                color: #fff;
                top: 40px;
                right: -18px;
                padding: 5px 8px;
                border-radius: 6px;
                display: none;
                justify-content: center;
                position: absolute;
                margin-right: 10px;
            }

                .Tooltip .Tooltip-text::after {
                    content: "";
                    position: absolute;
                    top: -20px;
                    right: 20px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }

        .ListBtn {
            font-size: 10px !important;
            padding: 5px 8px !important;
            border: 1px solid lightgray !important;
        }

        /*.trheading {
            background-color: rgba(233, 236, 239, 0.5) !important;
        }*/

        tr td {
            padding: 4px !important;
            font-weight: 600;
        }

        .table-striped > tbody > tr:nth-of-type(odd) > * {
            --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
        }

        .table-wrap::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        .table-wrap::-webkit-scrollbar {
            width: 6px;
            height: 10px;
            background-color: #F5F5F5;
        }

        .table-wrap::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 10px;
        }

        label.error {
            text-align: left;
            height: 25px;
            color: red;
            font-size: 12px;
        }

        .error {
            text-align: left;
            height: 35px;
        }

        /*table first column fixed*/
        .table-wrap {
            width: 100%;
            overflow: auto;
        }

        .table-scroll table {
            width: 100%;
            margin: auto;
            border-collapse: separate;
            border-spacing: 0;
        }

        .table-scroll th, .table-scroll td {
            padding: 5px 10px;
            border: 1px solid lightgray;
            background: #fff;
            white-space: nowrap;
            vertical-align: top;
        }

        .table-scroll th {
            background-color: rgba(233, 236, 239, 1) !important;
        }
    </style>*@


<style>
    /*.form-label-container {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                    }*/

    .form-label-text {
        display: inline-flex;
        align-items: center;
        min-width: 120px; /* Adjust this value to fit your longest label */
    }

        .form-label-text i {
            margin-right: 0.5rem; /* Space between icon and label text */
        }
</style>



<style>
    @@media (max-width: 767px) {
        .row.mb-3.align-items-center {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

            .row.mb-3.align-items-center .col-md-4,
            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                max-width: none;
                padding-right: 10px;
                padding-left: 10px;
            }

            .row.mb-3.align-items-center .col-md-4 {
                flex: 0 0 auto;
                width: 40%;
            }

            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                width: 60%;
            }

        .form-label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .form-control,
        .form-select {
            width: 100%;
        }
    }
</style>











<div id="content" class="app-content">
    <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-body" data-scrollbar="false">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action='@Url.Action("SaveUpdate", "App_Attendance_PunchMissing", new { area = "App" })' id="PunchinoutRequest" method="post">

                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fa-solid fa-hashtag text-purple-600"></i> Doc No.<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", id = "txtdocno", autocomplete = "Off", name = "txtdocno", Value = @ViewBag.DocNo, Style = "background-color: #eee;" })
                                @Html.HiddenFor(model => model.PunchMissingID_Encrypted)
                                @Html.HiddenFor(model => model.CmpId, new { @class = "form-control", id = "txtCMPID", autocomplete = "Off", name = "txtCMPID" })
                                @Html.HiddenFor(model => model.PunchMissingBranchId, new { @class = "form-control", id = "txtBranch", autocomplete = "Off", name = "txtBranch" })
                                @Html.HiddenFor(model => model.ShiftFlag, new { @class = "form-control", id = "hdnShiftFlag", autocomplete = "Off", name = "ShiftFlag" })
                            </div>
                        </div>



                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fas fa-briefcase text-purple-600"></i> Shift<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PunchMissingShiftId, new SelectList(ViewBag.GetShiftList, "ShiftId", "ShiftName"), "--Select--", new { id = "ddlShift", name = "PunchMissingShiftId", @class = "form-select", autocomplete = "off" })
                            </div>
                        </div>


                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">

                                            <i class="fa-solid fa-arrows-left-right text-purple-600"></i> In/Out<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PunchMissingInOut, new SelectList(new List<object>() {
                                                    new {text="In",value="In"},
                                                    new {text="Out",value="Out"},
                                                }, "text", "value"), "--Select--", new { @class = "form-control", @id = "PunchMissingInOut", name = "PunchMissingInOut" })
                                @Html.ValidationMessageFor(model => model.PunchMissingInOut, "", new { @class = "help-block", id = "ErrorPunchMissingInOut", @style = "color:red" })
                            </div>
                            <div hidden>
                                @Html.TextBox("AllowInReq", "", new { @class = "form-control", @id = "AllowInReq", Type = "number" })
                                @Html.TextBox("TotalTakenIn", "", new { @class = "form-control", @id = "TotalTakenIn", Type = "number" })
                                @Html.TextBox("AllowOutReq", "", new { @class = "form-control", @id = "AllowOutReq", Type = "number" })
                                @Html.TextBox("TotalTakenOut", "", new { @class = "form-control", @id = "TotalTakenOut", Type = "number" })

                            </div>
                        </div>
                    
             


                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fa-solid fa-calendar-days text-orange-600"></i> Attendance Date<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PunchMissingAttendanceDate, new { @class = "form-control", @id = "PunchMissingAttendanceDate", name = "PunchMissingAttendanceDate", Type = "date", onchange = "updateMaxTime()" })
                                @Html.ValidationMessageFor(model => model.PunchMissingAttendanceDate, "", new { @class = "help-block", id = "ErrorPunchMissingAttendanceDate", @style = "color:red" })
                                                       
                           </div>
                            <div hidden>
                                @Html.TextBox("BAckDate", "", new { @class = "form-control", @id = "BAckDate", Type = "text" })
                            </div>
                        </div>



                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fa-solid fa-calendar text-blue-600"></i> Log Date<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PunchMissingLogDate, new { @class = "form-control", @id = "PunchMissingLogDate", name = "PunchMissingLogDate", Type = "date" })
                            </div>                           
                        </div>

                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fa-solid fa-clock text-purple-600"></i> Time<span class="important">*</span>
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.PunchMissingLogTime, new { @class = "form-control", @id = "PunchMissingLogTime", Type = "time", name = "PunchMissingLogTime" })
                            </div>
                            <div hidden>
                                @Html.TextBox("AllowBeforeStartShift", "", new { @class = "form-control", @id = "AllowBeforeStartShift", Type = "text" })
                                @Html.TextBox("AllowAfterEndShift", "", new { @class = "form-control", @id = "AllowAfterEndShift", Type = "text" })
                            </div>
                        </div>


                        <div class="row mb-3 align-items-center">
                            <div class="col-md-4">
                                <div class="form-label-container">
                                    <label class="form-label">
                                        <span class="form-label-text">
                                            <i class="fas fa-lightbulb text-yellow-500"></i> Reason
                                        </span>:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @id = "TxtAreaReason", Type = "text" })
                            </div>
                            
                        </div>
                

            
               
                @*<div class="row">
                <div class="col-md-12">
                    <div class="row mb-15px">
                        <label class="form-label col-form-label col-md-3" style="width: 16.5%;"> Addition Notify</label>
                        <div class="col-md-9" style="min-width: 83.5%; max-width: 100%;">
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.AdditionNotify, new MultiSelectList(ViewBag.GetAdditionalList, "Name", "Name"), new { id = "ddlAdditionNotify", name = "AdditionNotify", @class = "form-control multiple-select2", @multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
                <br>
                <div class="row">
                    <div class="LastShortLeaveBx">
                        <div class="row">
                            <div class="col-md-4 d-flex">
                                @*<div class="title d-flex align-items-center">
                                Last Record :
                                <span>@ViewBag.LastRecored</span>
                            </div>*@
                            </div>
                            <div class="col-md-8">
                                <div class="BtnBx">
                                    <div>
                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetList" onclick="btnGetLists()">
                                            <i class="fa-solid fa-share-from-square"></i> List
                                        </button>
                                        @*<button type="button" id="btnSubmit" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                        </button>

                                        <button type="button" class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50" id="btnGetList" onclick="btnGetLists();">
                                            <i class="fa-solid fa-share-from-square"></i> List
                                        </button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>


        <!-- END panel -->
    </div>
</div>

@*<div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                <h4 class="panel-title">Attendance Log </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body" data-scrollbar="true">
                <div class="row" style="max-height:350px; overflow-y:auto;">
                    <!-- BEGIN table-responsive -->
                    <table class="table table-bordered align-middle" id="fixed-header" style="width: 100%;">
                        <thead style="background-color:#eee">
                            <tr>
                                <th class="text-nowrap text-center">Date & Time</th>
                                <th class="text-nowrap text-center">I / O</th>
                                <th class="text-nowrap text-center">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.GetDeviceLogsList)
                            {
                                <tr>
                                    <td>@d.LogDate</td>
                                    @if (@d.Direction == "IN")
                                    {
                                        <td class="text-center"><i class="fa-solid fa-circle-down fa-lg" style="color: #5cce40; padding: 0px;"></i></td>
                                    }
                                    @if (@d.Direction == "OUT")
                                    {
                                        <td class="text-center"><i class="fa-solid fa-circle-up fa-lg" style="color:#fe6966; padding: 0px;"></i></td>
                                    }
                                    <td class="text-nowrap">@d.C1</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- END table-responsive -->
                </div>
            </div>
        </div>
    </div>*@
   
<!-- #Start modal-dialog -->
<!-- #Start modal-dialog -->
<div class="modal fade" id="NotificationModalPopUp" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Manager Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger" data-bs-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">Manager 1</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("ManagerName1", new { @class = "control-label", id = "lblManager1Name" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblManager1EmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager1Mobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">Manager 2</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("ManagerName2", new { @class = "control-label", id = "lblManager2Name" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblManager2EmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager2Mobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">HR</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("HR", new { @class = "control-label", id = "lblHRName" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblHREmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblHRMobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-primary btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
                @*<input type="button" class="Ok btn btn-close" data-bs-dismiss="modal" id="btnCancel" value="Cancel" />*@
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->


<script>
    $(document).ready(function () {
        debugger;

        //Start Validation for back day days
        var BackDatedDays = @Html.Raw(Json.Encode(ViewBag.GetBackDatedDays));
        var fromDateInput = document.getElementById("PunchMissingAttendanceDate");
        var toDateInput = document.getElementById("PunchMissingLogDate");
        //For min Days (Back DAys -------------------------------------------------)
        var currentDate = new Date();
        var minDate = new Date();
        var LogminDate = new Date();
        minDate.setDate(currentDate.getDate() - BackDatedDays);
        var minDateString = minDate.toISOString().split('T')[0];
        fromDateInput.setAttribute("min", minDateString);
        toDateInput.setAttribute("min", minDateString);

        //For MAx Days  -------------------------------------------------)
        LogminDate.setDate(currentDate.getDate()+0);
        minDate.setDate(currentDate.getDate());
        var minDateString = minDate.toISOString().split('T')[0];
        var LogminDateString = LogminDate.toISOString().split('T')[0];
        fromDateInput.setAttribute("max", LogminDateString);
        toDateInput.setAttribute("max", LogminDateString);
        //  toDateInput.setAttribute("min", minDateString);

        //--------------------------------------------------------------------------------
        //End Validation for back day days

        $("#btnGetList").click(function () {
            var url = '@Url.Action("App_Attendance_PunchMissingApprovalpendingList", "App_Attendance_PunchMissing")';
            window.location.href = url;
        })


                                             


        var BAckDate = @Html.Raw(Json.Encode(ViewBag.BAckDate));
        $("#BAckDate").val(BAckDate);

        var Branch = @Html.Raw(Json.Encode(ViewBag.Branch));
        $("#txtBranch").val(Branch);

        var Emp = @Html.Raw(Json.Encode(ViewBag.Emp));
        $("#ddlEmployeeName").val(Emp);

        var CMPID = @Html.Raw(Json.Encode(ViewBag.CMPID));
        $("#txtCMPID").val(CMPID);

        var AllowInReq = @Html.Raw(Json.Encode(ViewBag.AllowInReq));
        $("#AllowInReq").val(AllowInReq);

        var TotalTakenIn = @Html.Raw(Json.Encode(ViewBag.TotalTakenIn));
        $("#TotalTakenIn").val(TotalTakenIn);

        var AllowOutReq = @Html.Raw(Json.Encode(ViewBag.AllowOutReq));
        $("#AllowOutReq").val(AllowOutReq);
        var TotalTakenOut = @Html.Raw(Json.Encode(ViewBag.TotalTakenOut));
        $("#TotalTakenOut").val(TotalTakenOut);

        var AllowBeforeStartShift = @Html.Raw(Json.Encode(ViewBag.AllowBeforeStartShift));
        $("#AllowBeforeStartShift").val(AllowBeforeStartShift);
        var AllowAfterEndShift = @Html.Raw(Json.Encode(ViewBag.AllowAfterEndShift));
        $("#AllowAfterEndShift").val(AllowAfterEndShift);

        var AtdDate = @Html.Raw(Json.Encode(ViewBag.AtdDate));
        var AtdDateLog = @Html.Raw(Json.Encode(ViewBag.AtdDateLog));
        if(AtdDate !=null){
            var Today = new Date(AtdDate);
            var d =("0" + Today.getDate()).slice(-2)
            var m = ("0" + (Today.getMonth() + 1)).slice(-2);
            var y = Today.getFullYear();
            var ddmmyy = y+"-"+m+"-"+d;
            $("#PunchMissingAttendanceDate").val(ddmmyy);
        }
        if(AtdDateLog !=null){
            var Today = new Date(AtdDateLog);
            var d =("0" + Today.getDate()).slice(-2)
            var m = ("0" + (Today.getMonth() + 1)).slice(-2);
            var y = Today.getFullYear();
            var ddmmyy1 = y+"-"+m+"-"+d;
            $("#PunchMissingLogDate").val(ddmmyy1);
        }


        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#PunchMissingAttendanceDate").change(function() {
            var AttendanceDate = $("#PunchMissingAttendanceDate").val();
            $("#PunchMissingLogDate").val(AttendanceDate);

            // Convert AttendanceDate to Date object
            var selectedDate = new Date(AttendanceDate);

            // Clone selectedDate for setting minDate
            var minDate = new Date(selectedDate);

            // Add 1 day to selectedDate for setting maxDate
            var maxDate = new Date(selectedDate.setDate(selectedDate.getDate() + 1));

            // Format the dates for setting attributes
            var formattedMinDate = formatDate(minDate);
            var formattedMaxDate = formatDate(maxDate);

            // Set min and max attributes for #PunchMissingLogDate
            $("#PunchMissingLogDate").attr("min", formattedMinDate).attr("max", formattedMaxDate);
        });

        function formatDate(date) {
            var year = date.getFullYear();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            return year + '-' + month + '-' + day;
        }


        function btnGetLists()
        {
            var url = '@Url.Action("App_Attendance_PunchMissingApprovalpendingList", "App_Attendance_PunchMissing")';
            window.location.href = url;
        }


        //    toDateInput.setAttribute("max", LogminDateString);
        //})

        $("#ddlShift").change(function () {

            var ShiftId =  $("#ddlShift").val();
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                url: "@Url.Action("GetShiftFlag", "App_Attendance_PunchMissing")",
                data: { ShiftId: ShiftId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#hdnShiftFlag").val(data.data);
                        if(data.data==true)
                        {
                            var getDate = $("#PunchMissingAttendanceDate").val();
                            var date = new Date(getDate);
                            // add a day
                            date.setDate(date.getDate() + 1);
                            var d =("0" + date.getDate()).slice(-2)
                            var m = ("0" + (date.getMonth() + 1)).slice(-2);
                            var y = date.getFullYear();
                            var ddmmyyNew = y+"-"+m+"-"+d;
                            $("#PunchMissingLogDate").val(ddmmyyNew);

                        }
                    }
                },
            });

        })


        $("#PunchMissingShiftId").change(function(){
            debugger
            var PunchMissingShiftId=$("#PunchMissingShiftId").val();
            var txtEmp=$("#ddlEmployeeName").val();
            var PunchMissingLogTime=$("#PunchMissingLogTime").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GET_ShiftTiming", "App_Attendance_PunchMissing")",
                data: { PunchMissingShiftId:PunchMissingShiftId,PunchMissingLogTime:PunchMissingLogTime},
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    var PunchMissingInOut=$("#PunchMissingInOut").val();
                    var SetData = Object.values(data[0]);
                    var a = Object.values(SetData[0]);
                    var b = Object.values(SetData[1]);
                    var duration = Object.values(SetData[2]);
                    if(PunchMissingInOut=="In"){
                        document.getElementById("PunchMissingLogTime").value = a[1];
                    }
                    if(PunchMissingInOut=="Out"){
                        document.getElementById("PunchMissingLogTime").value = b[1];
                    }
                    document.getElementById("Start").value = a[1];
                    document.getElementById("End").value = b[1];
                }
            });

        })


        $('#PunchMissingLogDate').change(function () {
            debugger
            var StartDate= document.getElementById('PunchMissingAttendanceDate').value;
            var EndDate= document.getElementById('PunchMissingLogDate').value;
            var sDate = new Date(StartDate);
            var eDate = new Date(EndDate);
            var Time = Math.abs(eDate - sDate);
            var days = Math.ceil(Time/(1000 * 60 * 60 * 24))+1;
            if(StartDate!= '' && EndDate!= '' && sDate > eDate)
            {
                $("#ErrorPunchMissingAttendanceDate").html("Attendance Date should not be smaller than Log Date.");
                $("#ErrorPunchMissingAttendanceDate").val('');
            }
            else{
                $("#ErrorPunchMissingAttendanceDate").html("");
            }
        });

        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#PunchMissingAttendanceDate").val(dateString);
        $("#PunchMissingLogDate").val(dateString);

    });//ready funcation
</script>

<script>
    function DeleteInOutPunch(PunchMissingId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "App_Attendance_PunchMissing")?PunchMissingId_Encrypted=' + PunchMissingId_Encrypted;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

    jQuery.validator.addMethod(
  "regex",
      function(value, element, regexp) {
          if (regexp.constructor != RegExp)
              regexp = new RegExp(regexp);
          else if (regexp.global)
              regexp.lastIndex = 0;
          return this.optional(element) || regexp.test(value);
      },"erreur expression reguliere"
   );

    $('#PunchinoutRequest').validate({
        rules: {
            PunchMissingShiftId:{
                required: true,
            },
            PunchMissingEmployeeID: {
                required: true,
            },
            PunchMissingInOut:{
                required: true,
            },
            PunchMissingAttendanceDate:{
                required: true,
            },
            PunchMissingLogDate:{
                required: true,
            },
            PunchMissingLogTime:{
                required: true,
            },

        },
        messages: {
            PunchMissingShiftId:{
                required: "Please select shift",
            },
            PunchMissingEmployeeID: {
                required: "Please select the Employee Name",
            },
            PunchMissingInOut: {
                required: "Select In/Out time",
            },
            PunchMissingAttendanceDate:{
                required: "Select Attendance Date",
            },
            PunchMissingLogDate:{
                required: "Select log Date",
            },
            PunchMissingLogTime:{
                required: "Select Time",
            },

        },
    });



    var form = $("#PunchinoutRequest");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        var CheckLogin1 = @Html.Raw(Json.Encode(Session["Con_Server"]));
        var CheckLogin2 = @Html.Raw(Json.Encode(Session["Con_UserId"]));
        var CheckLogin3 = @Html.Raw(Json.Encode(Session["Con_Password"]));
        var CheckLogin4 = @Html.Raw(Json.Encode(Session["Con_Database"]));

        form.valid();
        if(form.valid()==false)
        {
            $("#PunchMissingAttendanceDate").removeClass('error');
            $("#PunchMissingLogDate").removeClass('error');
            $("#PunchMissingLogTime").removeClass('error');
            return false;
        }
     
        var ddlShift = $('select#ddlShift option:selected').val();
        var PunchMissingInOut =  $('select#PunchMissingInOut option:selected').val();
        var PunchMissingAttendanceDate = $('#PunchMissingAttendanceDate').val();
        var PunchMissingLogDate = $('#PunchMissingLogDate').val();
        var PunchMissingLogTime = $('#PunchMissingLogTime').val();

        $.ajax({
            url: "@Url.Action("IsPunchMissingExists", "App_Attendance_PunchMissing")",
            method:"get",
            data: {
                ddlShift: ddlShift,
                PunchMissingInOut: PunchMissingInOut,
                PunchMissingAttendanceDate: PunchMissingAttendanceDate,
                PunchMissingLogDate: PunchMissingLogDate,
                PunchMissingLogTime: PunchMissingLogTime,
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    return false;
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                    return false;
                }
                else{
                    $("#PunchinoutRequest").submit();
                }
            }
        });

    });

    function NotificationFunction(EmployeeId, PunchMissingId_Encrypted) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetContactDetails", "App_Attendance_PunchMissing")",
            data: {EmployeeId:EmployeeId , PunchMissingId_Encrypted:PunchMissingId_Encrypted},
            dataType: "text",
            success: function (data) {
                debugger;
                var datas = JSON.parse(data);
                var Getdata = datas.data[0];

                $('#lblManager1Name').html(Getdata[0].Value);
                $('#lblManager1EmailId').html(Getdata[1].Value);
                $('#lblManager1Mobile').html(Getdata[2].Value);

                $('#lblManager2Name').html(Getdata[3].Value);
                $('#lblManager2EmailId').html(Getdata[4].Value);
                $('#lblManager2Mobile').html(Getdata[5].Value);

                $('#lblHRName').html(Getdata[6].Value);
                $('#lblHREmailId').html(Getdata[7].Value);
                $('#lblHRMobile').html(Getdata[8].Value);
                $('#NotificationModalPopUp').modal('show');
            }
        });
    }


    function formatDate(dateString) {
        // Parse the input date string into a Date object
        var date = new Date(dateString);

        // Check if the date is valid
        if (isNaN(date.getTime())) {
            return 'Invalid Date';
        }

        // Extract day, month, and year components
        var dd = String(date.getDate()).padStart(2, '0');
        var mm = String(date.getMonth() + 1).padStart(2, '0'); // January is 0!
        var yyyy = date.getFullYear();

        // Return formatted date in yyyy-MM-dd format
        return yyyy + '-' + dd + '-' + mm;
    }

</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }
</script>
