@model KompassHR.Areas.Setting.Models.Setting_Onboarding.Mas_LineMaster
@{
    ViewBag.Title = "Setting_Onboarding_LineMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
   
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Line Master
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Onboarding_Menu", "Setting_Onboarding_Menu", new { id = 3, ScreenId = 19, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Line Master - @ViewBag.AddUpdateTitle </h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define line master here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Onboarding_LineMaster", new { area = "Setting" })' id="FormLineMaster" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.ComapnyProfile, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", name = "CompanyName" })
                                                @Html.HiddenFor(model => model.LineId_Encrypted, new { id = "LineId_Encrypted" })
                                                @Html.ValidationMessageFor(model => model.CmpId, "", new { @class = "help-block", @id = "ErrorCmpId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.MasBranch, "BranchId", "BranchName"), "--Select--", new { id = "ddlBranchId", @class = "form-select", autocomplete = "off", name = "BranchId" })
                                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "help-block", @id = "ErrorBranchId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Line Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LineName, new { @class = "form-control", name = "LineName", @id = "txtLineName", type = "text", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.LineId_Encrypted, new { @id = "txtLineId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                        </label>
                                        <label class="form-label col-form-label col-md-2">
                                            @Html.CheckBoxFor(model => model.IsDefault, new { id = "chkIsDefault", @class = "chkIsDefault" })
                                            &nbsp;   Is Default
                                        </label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Onboarding_LineMaster", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger" id="btnGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        $("#ddlCompanyName").select2();
        $("#ddlBranchId").select2();
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
       
        $("#ddlCompanyName").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlBranchId").append("<option value=0> --Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

    });//ready Funcation
</script>

<script>
    //use for add regex function
      jQuery.validator.addMethod(
      "regex",
       function(value, element, regexp) {
           if (regexp.constructor != RegExp)
               regexp = new RegExp(regexp);
           else if (regexp.global)
               regexp.lastIndex = 0;
           return this.optional(element) || regexp.test(value);
       },"erreur expression reguliere"
    );


      $('#FormLineMaster').validate({
          rules: {
              LineName: {
                  required: true,
              },
          },
          messages: {
              LineName: {
                  required: "Line name is required",
              }
          },
      });


      var form = $("#FormLineMaster");
      form.validate();
      $("#btnSubmit").click(function () {

          var CmpId = $("#ddlCompanyName").val();
          var BranchId = $("#ddlBranchId").val();
          if(CmpId==0)
          {
              $('#ErrorCmpId').html("Company name is required");return false;}                     
          else{$('#ErrorCmpId').html(""); }  
          if(BranchId==0)
          {
              $('#ErrorBranchId').html("Business unit is required");return false;}                     
          else{$('#ErrorBranchId').html(""); } 
          debugger;
          form.valid();
          if(form.valid()==false)
          {
              return false;
          }
          var LineName=$("#txtLineName").val();
          var LineId_Encrypted =$("#txtLineId_Encrypted").val();
          $.ajax({
              url:"IsLineMasterExists",
              method:"get",
              data:{LineName:LineName,LineId_Encrypted:LineId_Encrypted,CmpId:CmpId,BranchId:BranchId},
              success:function(response){
                  debugger;
                  var Message1 = response.Message;
                  var Icon1 = response.Icon;
                  if (response.Icon=="error") {
                      if (Message1 != null) {
                          if (Message1 != null) {
                              Swal.fire({
                                  icon: Icon1,
                                  text: Message1,
                                  allowOutsideClick: () => {
                                      const popup = Swal.getPopup()
                                      popup.classList.remove('swal2-show')
                                      setTimeout(() => {
                                          popup.classList.add('animate__animated', 'animate__headShake')
                                      })
                                      setTimeout(() => {
                                          popup.classList.remove('animate__animated', 'animate__headShake')
                                      }, 500)
                                      return false
                                  }
                              });
                          }
                      }
                  }
                  else{
                      $("#FormLineMaster").submit();
                  }
              }
          });

      });

</script>

