@model KompassHR.Areas.ESS.Models.ESS_TMS.TMS_Timesheet
@{
    ViewBag.Title = "Timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }
    /*.div1 td:nth-child(2) {
        position: sticky;
        left:62px;
    }*/
    .fixed-side {
        position: sticky;
        left: 0;
    }
    /*.fixed-side1 {
        position: sticky;
        left:62px;
    }*/
    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Timesheet
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_Menu", "ESS_TMS_Menu",  new { id = 12,ScreenId=194, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Timesheet - Add </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_TMS_Timesheet", new { area = "ESS" })" id="SaveTimeSheet" method="post" enctype="multipart/form-data">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", type = "text", id = "txtDocNo", autocomplete = "Off", @readonly = "readonly", Value = ViewBag.DocNo != null ? ViewBag.DocNo : "", Style = "background-color: lightgray;" })
                                                @Html.HiddenFor(model => model.TimeSheetID_Encrypted, new { id = "TimeSheetID_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date
                                            </label>
                                            <div class="col-md-8">
                                                @{
                                                    var minDateOffset = TempData["DocMinDate"] != null ? Convert.ToInt32(TempData["DocMinDate"]) : 0;
                                                    var maxDateOffset = TempData["DocMaxDate"] != null ? Convert.ToInt32(TempData["DocMaxDate"]) : 0;

                                                    var minDate = DateTime.Now.AddDays(-minDateOffset).ToString("yyyy-MM-dd");
                                                    var maxDate = DateTime.Now.AddDays(maxDateOffset).ToString("yyyy-MM-dd");
                                                }
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", type = "date", id = "txtDocDate", autocomplete = "Off", Name = "DocDate", min = minDate, max = maxDate })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Client Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ClientID, new SelectList(ViewBag.GetClientName, "Id", "Name"), "--Select--", new { id = "ddlClientID", @class = "form-select", autocomplete = "off", name = "ClientID", onchange = "onClientChange ()"})

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Manager Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ResponsiblePerson, new SelectList(ViewBag.GetResponsiblePersonName, "Id", "Name"), "--Select--", new { id = "ddlResponsiblePerson", @class = "form-select", autocomplete = "off", name = "ResponsiblePerson"})

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Project Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.GetProjectName, "Id", "Name"), "--Select--", new { id = "ddlProjectID", @class = "form-select", autocomplete = "off", name = "ProjectID", onchange = "onProjectChange()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Module Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ModuleId, new SelectList(ViewBag.GetModuleName, "Id", "Name"), "--Select--", new { id = "txtModuleID", name = "ModuleID", @class = "form-select", onchange = "onModuleChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskCategoryId, new SelectList(ViewBag.TaskCategory, "Id", "Name"), "--Select--", new { id = "txtTaskCategoryId", name = "TaskCategoryId", @class = "form-select", onchange = "onTaskCategoryChange()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task SubCategory
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskSubCategoryId, new SelectList(ViewBag.TaskSubCategory, "Id", "Name"), "--Select--", new { id = "txtTaskSubCategoryId", name = "TaskSubCategoryId", @class = "form-select" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Task Title
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TaskTitle, new { @class = "form-control", type = "text", id = "txtTaskTitle", autocomplete = "Off", Name = "TaskTitle" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px" hidden>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                From Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FormTime, new { @class = "form-control", type = "time", id = "timeFormTime", autocomplete = "Off", Name = "FormTime", Value = TempData["FromTime"] != null ? ((DateTime)TempData["FromTime"]).ToString("HH:mm") : null })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                To Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToTime, new { @class = "form-control", type = "time", id = "timeToTime", autocomplete = "Off", Name = "ToTime", Value = TempData["ToTime"] != null ? ((DateTime)TempData["ToTime"]).ToString("HH:mm") : null })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Time <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Time, new { id = "txtTime", @class = "form-control", @placeholder = "HH:mm", maxlength = "5" })
                                                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "help-block", id = "ErrorToTime", style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task Status
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskStatus, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Complete", Value = "Complete"},
                                                    new SelectListItem { Text = "In Process", Value = "In Process"},
                                                }, "--Select--", new { id = "ddlTaskStatus", @class = "form-select", autocomplete = "off", name = "TaskStatus" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Complete Percentage (%)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.CompletePercentage, new { @class = "form-control", type = "number", id = "txtCompletePercentage", autocomplete = "Off", Name = "CompletePercentage" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Task Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.TaskDescription, new { @class = "summernote", style = "border: 1px solid #000;", id = "txtTaskDescription", @placeholder = "Description....", autocomplete = "Off", contenteditable = "true" })
                                                @*@Html.TextAreaFor(model => model.TaskDescription, new { @class = "form-control", type = "text", id = "txtTaskDescription", autocomplete = "Off", Name = "TaskDescription" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Attachment
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="file" name="AssignFilePath" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmits" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnTimeSheetGetList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>


    @*<div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Timesheet - Pending List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                               data-toggle="panel-expand"><i class="fa fa-expand"></i></a>


                        </div>
                    </div>
                    <div class="panel-body" data-scrollbar="true">
                        <!-- BEGIN table-responsive -->
                        <div class="table-scroll div1">
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                    <thead>
                                        <tr class="trheading">
                                            <th class="fixed-side">Delete</th>
                                            <th hidden class="fixed-side1"> Notification</th>
                                            <th class="text-nowrap text-center">Doc No</th>
                                            <th class="text-nowrap text-center">Doc Date</th>
                                            <th class="text-start text-nowrap">Employee Name</th>
                                            <th class="text-nowrap text-center">Project Name</th>
                                            <th class="text-nowrap text-center">Client Name</th>
                                            <th class="text-nowrap text-center">Task Title</th>
                                            <th class="text-nowrap text-center">Task Description</th>
                                            <th class="text-nowrap text-center">For Time</th>
                                            @*<th class="text-nowrap text-center">ToTime</th>
                                            <th class="text-nowrap text-center">Task Status</th>
                                            <th class="text-nowrap text-center">Complete Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.TimesheetPendingLIst)
                                        {
                                            <tr>
                                                <td>
                                                    <button type="button" onclick="DeleteTimeSheet('@d.TimeSheetID_Encrypted')" id="btnDelete"
                                                            class="btn btn-danger ListBtn btnpress">
                                                        <i class="fa-solid fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                                <td class="text-nowrap">@d.DocNo</td>
                                                <td class="text-nowrap">@d.DocDate</td>
                                                <td class="text-start text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@d.ProjectName</td>
                                                <td class="text-nowrap">@d.ClientName</td>
                                                <td class="text-nowrap">@d.TaskTitle</td>
                                                <td class="text-nowrap">@d.TaskDescription</td>
                                                <td class="text-nowrap">@d.ForTime</td>
                                                <td class="text-nowrap">@d.TaskStatus</td>
                                                <td class="text-nowrap">@d.CompletePercentage</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <!-- END table-responsive -->
                    </div>
                </div>
            </div>

        </div>*@
</div>


<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>

<script>
    $(document).ready(function () {
        $("#ddlProjectID").select2();
        $("#ddlClientID").select2();
        $("#txtTaskCategoryId").select2();
        $("#txtTaskSubCategoryId").select2();

        $("#btnTimeSheetGetList").click(function () {
            var url = '@Url.Action("GetListTimeSheet", "ESS_TMS_Timesheet")';
            window.location.href = url;
        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false
            });
        }


        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#txtDocDate").val(dateString);
        debugger;
        var Doc = @Html.Raw(Json.Encode(TempData["DocDate"]));
        if(Doc =="")
        {

        }
        else
        {
            var DocDate =  convertDate(Doc);
            $("#txtDocDate").val(DocDate);
        }

        $("#formReset").click(function () {
            $("#SaveTimeSheet")[0].reset()
        });

    });//Ready Funcation


    $('#ddlTaskStatus').change(function () {
        debugger;
        var TaskStatus = $('#ddlTaskStatus').val();
        if(TaskStatus == "Complete") {
            $('#txtCompletePercentage').val("100");
        }
        if(TaskStatus == "In Process") {
            $('#txtCompletePercentage').val("");
        }
    });

</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }

</script>

@*<script>
        function numbervalidate(event, inputElement) {
            debugger;
            var key = event.keyCode || event.which;
            var currentValue = inputElement.value;

            // Allow Backspace (8), Delete (46), and digits (48-57)
            if (key === 8 || key === 46 || (key >= 48 && key <= 57)) {
                // If a digit is pressed, check if the value exceeds 100
                var newValue = currentValue + (key >= 48 && key <= 57 ? String.fromCharCode(key) : '');
                if (parseInt(newValue) > 100) {
                    return false;
                }
                return true;
            }
            return false;
        }
    </script>*@
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveTimeSheet").validate({
        rules: {
            DocDate: {
                required: true,
            },
            ProjectID: {
                required: true,
            },
            ClientID: {
                required: true,
            },
            TaskTitle: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            ModuleId: {
            required: true,
            },
            Time: {
                required: true,
            },
            TaskStatus: {
                required: true,
            },
            CompletePercentage: {
                required: true,
            },
            TaskDescription: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            TaskCategoryId: {
                required: true,
            },
            TaskSubCategoryId: {
                required: true,
            },
        },
        messages: {
            DocDate: {
                required: "Doc date is required",
            },

            ProjectID: {
                required: "Project name  is required",
            },
            ClientID: {
                required: "Client name is required",
            },
            TaskTitle: {
                required: "Task title is required",
            },
            ModuleId: {
                required: "Module is required",
            },
            Time: {
                required: "Time is required",
            },
            //FormTime: {
            //    required: "Form time is required",
            //},
            //ToTime: {
            //    required: "To time  is required",
            //},
            TaskStatus: {
                required: "Task status is required",
                regex: "Enter olny alphabate.",
            },
            CompletePercentage: {
                required: "Complete percentage is required",
            },
            TaskDescription: {
                required: "Task description is required",
                regex: "Enter olny alphabate.",
            },
            TaskCategoryId: {
                required: "Task Category is required",
            },
            TaskSubCategoryId: {
                required: "Task SubCategory is required",
            },
        }
    });
</script>

<script>
    function DeleteTimeSheet(TimeSheetID_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: false

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "ESS_TMS_Timesheet")?TimeSheetID_Encrypted=' + TimeSheetID_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

</script>

<script>
    function onProjectChange() {debugger
        var projectId = document.getElementById("ddlProjectID").value;

        $("#txtModuleID").find("option").remove();
        $("#txtTaskCategoryId").find("option").remove();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetModule", "ESS_TMS_Timesheet")',
            data: { ProjectId: projectId },
            success: function (data) {
                var $moduleDropdown = $("#txtModuleID");
                $moduleDropdown.empty();

                // Module Dropdown
                if (data.module && data.module.length > 0 > 0) {
                    $moduleDropdown.append("<option value=''>--Select--</option>");
                    $.each(data.module, function (i, module) {
                        $moduleDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $moduleDropdown.append("<option>--Select--</option>");
                }

                //Task Category Dropdown
                var $TaskCategoryIdDropdown = $("#txtTaskCategoryId");
                $TaskCategoryIdDropdown.empty().append("<option value=''>--Select--</option>");

                if (data.taskCategory && data.taskCategory.length > 0) {
                    $.each(data.taskCategory, function (i, taskCategory) {debugger
                        $TaskCategoryIdDropdown.append(
                            $("<option>").val(taskCategory.Id).text(taskCategory.Name)
                        );
                    });
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#txtModuleID").empty().append("<option>Error loading modules</option>");
            }
        });
    }

    function onClientChange() {
        debugger
        var clientId = document.getElementById("ddlClientID").value;
        $("#ddlProjectID").find("option").remove();
        $("#txtTaskCategoryId").find("option").remove();
        $("#txtModuleID").find("option").remove();
        $("#ddlResponsiblePerson").find("option").remove();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetProject", "ESS_TMS_Timesheet", new { area = "ESS" })',
            data: { Clientd: clientId },
            success: function (data) {
                // Populate Business Unit dropdown
                var Project = data.Project || [];
                if (Project.length > 0) {
                    $("#ddlProjectID").append("<option value=''>--Select--</option>");
                    $.each(Project, function (i, p) {
                        $("#ddlProjectID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }

                var ResponsiblePerson =data.ResponsiblePerson || [];
                if (ResponsiblePerson.length > 0) {
                    $("#ddlResponsiblePerson").append("<option value=''>--Select--</option>");
                    $.each(ResponsiblePerson, function (i, p) {
                        $("#ddlResponsiblePerson").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }

            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }

    function onModuleChange() {debugger
        var ModuleId = document.getElementById("txtModuleID").value;
        var ProjectId= document.getElementById("ddlProjectID").value;

        $("#txtTaskCategoryId").find("option").remove();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetTaskCategory", "ESS_TMS_TaskAssign", new { area = "ESS" })',
            data: { ModuleId: ModuleId,ProjectId:ProjectId },
            success: function (data) {
                // Populate Business Unit dropdown
                var TaskCategory = data.TaskCategory || [];
                if (TaskCategory.length > 0) {
                    $("#txtTaskCategoryId").append("<option value=''>--Select--</option>");
                    $.each(TaskCategory, function (i, p) {
                        $("#txtTaskCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }
    function onTaskCategoryChange() {debugger
        var TaskCategoryId = document.getElementById("txtTaskCategoryId").value;
        $("#txtTaskSubCategoryId").find("option").remove();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetTaskSubCategory", "ESS_TMS_Timesheet", new { area = "ESS" })',
            data: { TaskCategoryId: TaskCategoryId },
            success: function (data) {
                // Populate Business Unit dropdown
                var TaskSubCategory = data.TaskSubCategory || [];
                if (TaskSubCategory.length > 0) {
                    $("#txtTaskSubCategoryId").append("<option value=''>--Select--</option>");
                    $.each(TaskSubCategory, function (i, p) {
                        $("#txtTaskSubCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }
</script>
<script>
    // Format time input as HH:mm with validation
    function formatAndSetTime(value) {
        let raw = (value || '').replace(/[^0-9]/g, '').padEnd(4, '0').slice(0, 4);
        let hours = parseInt(raw.slice(0, 2)) || 0;
        let minutes = parseInt(raw.slice(2, 4)) || 0;

        // Handle hour overflow (24-hour format)
        if (hours >= 24) {
            hours = hours % 24;
        }

        // Handle minute overflow
        if (minutes >= 60) {
            hours += Math.floor(minutes / 60);
            minutes = minutes % 60;

            // Re-check hour overflow after minute adjustment
            if (hours >= 24) {
                hours = hours % 24;
            }
        }

        return {
            formattedTime: `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`,
            hours: hours,
            minutes: minutes
        };
    }

    //function updateDurationDisplay(timeValue) {
    //    const result = formatAndSetTime(timeValue);
    //    const durationField = document.getElementById('txtTotalDuration');
    //    if (durationField) {
    //        durationField.value = `${result.hours} Hr : ${result.minutes} Min`;
    //    }
    //    return result.formattedTime;
    //}

    function attachTimeHandlers(inputId) {
        const input = document.getElementById(inputId);
        if (!input) return;

        input.addEventListener('input', function(e) {
            // Allow only numbers and colon
            this.value = this.value.replace(/[^0-9:]/g, '');

            // Auto-insert colon after 2 digits
            if (this.value.length > 2 && !this.value.includes(':')) {
                this.value = this.value.substring(0, 2) + ':' + this.value.substring(2);
            }

            // Limit to 5 characters (HH:mm)
            if (this.value.length > 5) {
                this.value = this.value.substring(0, 5);
            }

            // Update duration display in real-time
           // updateDurationDisplay(this.value);
        });

        input.addEventListener('blur', function() {
            const result = formatAndSetTime(this.value);
            this.value = result.formattedTime;
          //  updateDurationDisplay(this.value);
        });

        // Prevent invalid key presses
        input.addEventListener('keydown', function(e) {
            // Allow: backspace, delete, tab, escape, enter
            if ([8, 9, 13, 27, 46].includes(e.keyCode) ||
                // Allow: Ctrl+A, Ctrl+C, Ctrl+V, Ctrl+X
                (e.ctrlKey && [65, 67, 86, 88].includes(e.keyCode))) {
                return true;
            }

            // Allow colon only after 2 digits
            if (e.key === ':' && this.selectionStart >= 2) {
                return true;
            }

            // Allow numbers (main keyboard and numpad)
            if ((e.keyCode >= 48 && e.keyCode <= 57) ||
                (e.keyCode >= 96 && e.keyCode <= 105)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        attachTimeHandlers('txtTime');
    });
</script>