@model KompassHR.Areas.Setting.Models.Setting_IncomeTax.TaxApprover
@{
    ViewBag.Title = "Setting_IncomeTax_TaxApprover";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Tax Approver
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_IncomeTax_Menu", "Setting_IncomeTax_Menu", new { id = 9, ScreenId =74, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Tax Approver - <b>@ViewBag.AddUpdateTitle</b></h4>
                 
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Tax Approver for Access here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_IncomeTax_TaxApprover", new { area = "Setting" })' id="SaveTaxApprover" method="post" data-parsley-validate="">
                                <div class="col-md-12">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            Employee Name
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.TaxApproverEmployeeID, new SelectList(ViewBag.AllEmployeeName, "Id", "Name"), new { @class = "form-select", name = "EmployeeName", id = "ddlEmployeeID" })
                                            <span id="ErrorddlEmployeeID" class="Error"></span>
                                            @Html.HiddenFor(model => model.TaxApproverId_Encrypted)
                                        </div>
                                        <label class="form-label col-form-label col-md-2">
                                            Business Unit
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.BranchName, new SelectList(ViewBag.AllBranchName, "Id", "Name"), new { @class = "form-select", name = "BranchName", id = "ddlBranchName" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Mobile No.
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @*@Html.TextBoxFor(model => model.CompanyMobileNo, new { @class = "form-control", type = "text", id = "txtCompanyMobileNo", autocomplete = "Off", Name = "CompanyMobileNo" })*@
                                        @Html.TextBoxFor(model => model.CompanyMobileNo, new { @class = "form-control", type = "text", id = "txtCompanyMobileNo", autocomplete = "Off", Name = "CompanyMobileNo", maxlength = "10", oninput = "this.value = this.value.replace(/[^0-9]/g, '').slice(0,10)" })

                                    </div>
                                    <label class="form-label col-form-label col-md-2">
                                        Email Id
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.CompanyEmailID, new { @class = "form-control", type = "email", id = "txtCompanyEmailID", autocomplete = "Off", Name = "CompanyEmailID", oninput = "validateEmail(this)" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_IncomeTax_TaxApprover", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetResignationReasonList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlEmployeeID").select2();
        $("#ddlBranchName").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        $("#ddlEmployeeID").on("change", function () {
            debugger;
            //$("#ddlBranchId").find("option").remove();
            var EmployeeID = $("#ddlEmployeeID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("Company", "Setting_IncomeTax_TaxApprover")',
                data: { EmployeeID: EmployeeID },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $("#txtCompanyMobileNo").val(data.CompanyMobileNo);
                        $("#txtCompanyEmailID").val(data.CompanyMailID);
                    } else {
                        alert(data.message);
                    }
                }
            })
        });

        debugger;
        if (Message != null || Icon !=null ) {
            //swal("", AlreadyExist, "warning");
            if (Message != null) {
                Swal.fire({
                    //title: 'Saved',
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
        //ask
    });
</script>

<script>
    $("#formReset").click(function () {
        $("#SaveTaxApprover")[0].reset();
    })
</script>
<script>

</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveTaxApprover").validate({
        rules: {
            EmployeeName: {
                required: true,

            },
            CompanyMobileNo: {
                required: true,

            },
            CompanyEmailID: {
                required: true,

            },
            BranchName: {
        required: true,

        }
        },
        messages: {
            EmployeeName: {
                required: "Employee is required",

            },
            CompanyMobileNo: {
                required: "Company Mobile is required",

            },
            CompanyEmailID: {
                required: "Company Email is required",

            },
            BranchName: {
                required: "BranchName is required",

            },
        }
    });

    var form = $("#SaveTaxApprover");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var EmployeeID=$("#ddlEmployeeID").val();
        var TaxApproverId_Encrypted=$("#TaxApproverId_Encrypted").val();
        var BranchName=$("#ddlBranchName").val();
        $.ajax({
            url:"IsApproverExists",
            method:"get",
            data:{EmployeeID:EmployeeID,TaxApproverId_Encrypted:TaxApproverId_Encrypted,BranchName:BranchName},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveTaxApprover").submit();

                }
            }
        });
    });
</script>
