@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_MaleFemaleRate

@{
    ViewBag.Title = "Module_Payroll_MaleFemaleRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Male Female Rate
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu",  new {id =6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Male Female Rate- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Male Female Rate
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Payroll_MaleFemaleRate", new { area = "Module" })' id="SaveMaleFemaleRate" method="post">
                                @Html.HiddenFor(model => model.MaleFemaleRateId_Encrypted, new { id = "txtMaleFemaleRateId_Encrypted" })
                                @Html.HiddenFor(model => model.MaleFemaleRateId, new { id = "txtMaleFemaleRateId" })


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.MaleFemaleRateCmpid, new SelectList(ViewBag.CompanyName, "Id", "Name"), "Select", new { id = "ddlMaleFemaleRateCmpid", @class = "form-select", autocomplete = "off", name = "MaleFemaleRateCmpid" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Buisness Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.MaleFemaleRateBranchid, new SelectList(ViewBag.BranchName, "Id", "Name"), "Select", new { id = "ddlMaleFemaleRateBranchid", @class = "form-select", autocomplete = "off", name = "MaleFemaleRateBranchid" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Gender
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @*@Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.CompanyName, "Id", "Name"), "Select", new { id = "ddlGender", @class = "form-select", autocomplete = "off", name = "Gender" })*@
                                                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                                          {
                                         new SelectListItem { Text = "Male", Value = "Male" },
                                         new SelectListItem { Text = "Female", Value = "Female" }
                                          }, "Select", new { id = "ddlGender", @class = "form-select", autocomplete = "off", name = "Gender" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Rate
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.Rate, new { id = "txtRate", @class = "form-control", autocomplete = "off", type = "number", name = "Rate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Insument Rate
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.InsumentRate, new { id = "txtInsumentRate", @class = "form-control", autocomplete = "off", type = "number", name = "InsumentRate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.RateFromDate, new { @class = "form-control", id = "txtFromDate", type = "date", name = "RateFromDate" })
                                                <span id="ErrorFromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.RateTodate, new { @class = "form-control", id = "txtToDate", type = "date", name = "RateTodate" ,@readonly = "readonly" })
                                                <span id="ErrorToDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                        @*</div>*@

                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "Module_Payroll_MaleFemaleRate", new { area = "Module" })">
                                                    <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>
</div>


@*<script>
    function validateDates() {
        debugger
        let fromDate = $("#txtFromDate").val();
        let toDate = $("#txtToDate").val();

        $("#ErrorFromDate").text("");
        $("#ErrorToDate").text("");

        let isValid = true;

        if (fromDate) {
            let fDate = new Date(fromDate);

            if (fDate.getDate() !== 1) {
                $("#ErrorFromDate").text("From Date must be the 1st day of the month.");
                isValid = false;
            }
        }

        //if (fromDate && toDate) {
        //    let fDate = new Date(fromDate);
        //    let tDate = new Date(toDate);

        //    if (tDate <= fDate) {
        //        $("#ErrorToDate").text("To Date must be greater than From Date.");
        //        isValid = false;
        //    }
        //}

        return isValid;
    }

</script>*@

<script>
    $("#txtFromDate").on("change", function () {
        debugger;

        let fromDate = $("#txtFromDate").val();
        let toDate = $("#txtToDate").val();

        // Clear previous error messages
        $("#ErrorFromDate").text("");
        $("#ErrorToDate").text("");

        let isValid = true;

        if (fromDate) {
            let fDate = new Date(fromDate + "T00:00:00"); 

            if (fDate.getDate() !== 1) {
                $("#ErrorFromDate").text("From Date must be the 1st day of the month.");
                isValid = false;
            }
        }

        return isValid;
    });

</script>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlMaleFemaleRateCmpid").select2();
        $("#ddlMaleFemaleRateBranchid").select2();

        @*var RateFromDate = @Html.Raw(Json.Encode(TempData["RateFromDate"]));
        $("#txtFromDate").val(RateFromDate);
        var RateTodate = @Html.Raw(Json.Encode(TempData["RateTodate"]));
        $("#txtToDate").val(RateTodate);*@

        var AddUpdateTitle = @Html.Raw(Json.Encode(ViewBag.AddUpdateTitle));

        if (AddUpdateTitle === "Add") {

            document.getElementById('txtToDate').value = "2999-12-31";

        } else {

            var FromDate = @Html.Raw(Json.Encode(TempData["RateFromDate"]));
            var Todate = @Html.Raw(Json.Encode(TempData["RateTodate"]));

            document.getElementById('txtFromDate').value = FromDate;
            document.getElementById('txtToDate').value = Todate;
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false
            }).then(() => {
                window.location.reload();
            });
        }



        $("#ddlMaleFemaleRateCmpid").on("change", function () {
            debugger;
            $("#ddlMaleFemaleRateBranchid").find("option").remove();
            //$(".ddlEmployeeId").find("option").remove();
            var MaleFemaleRateCmpid = $("#ddlMaleFemaleRateCmpid").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Module_Payroll_MaleFemaleRate")',
                data: { MaleFemaleRateCmpid: MaleFemaleRateCmpid },
                success: function (data) {
                    debugger;
                    if (data.Branch != null) {
                        $("#ddlMaleFemaleRateBranchid").append("<option value=''>Select</option>");
                        $.each(data.Branch, function (i, p) {
                            $("#ddlMaleFemaleRateBranchid").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

    });
</script>

<script>

    $("#SaveMaleFemaleRate").validate({

        rules: {
            MaleFemaleRateCmpid:
                {
                required: true,
                },
            MaleFemaleRateBranchid:
                {
                required: true,
                },
            Gender:
                {
                    required: true,
                },
            Rate:
                {
                    required: true,
                },
            RateFromDate:
                {
                    required: true,
                },
            RateTodate:
                {
                    required: true,
                },

        },
        messages: {

            MaleFemaleRateCmpid: {
                required: "Select the Company Name",
            },
            MaleFemaleRateBranchid: {
                required: "Select the Branch Name",
            },
            Gender: {
                required: "Select Gender",
            },
            Rate: {
                required: "Select Rate",
            },
            RateFromDate: {
                required: "Select Rate From Date",
            },
            RateTodate: {
                required: "Select Rate To Date",
            },


        },
        errorPlacement: function (error, element) {
            if (element.hasClass("select2-hidden-accessible")) {
                // Insert error after Select2's container
                error.insertAfter(element.next('.select2'));
            } else {
                error.insertAfter(element);
            }
        },

    });


    var form = $("#SaveMaleFemaleRate");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;

        //if (!validateDates()) {
        //    return false;
        //}

        form.valid();
        if (form.valid() == false) {
            return false;
        }

        var MaleFemaleRateId_Encrypted = $("#txtMaleFemaleRateId_Encrypted").val();
        var MaleFemaleRateCmpid = $("#ddlMaleFemaleRateCmpid").val();
        var MaleFemaleRateBranchid = $("#ddlMaleFemaleRateBranchid").val();

        var Gender = $("#ddlGender").val();
        var Rate = $("#txtRate").val();
        var InsumentRate = $("#txtInsumentRate").val();
        //var OtherEmpId = $("#ddlOtherEmpId").val();



        $.ajax({
            url: '@Url.Action("IsExists", "Module_Payroll_MaleFemaleRate")',
            method: "get",
            data:
                {
                MaleFemaleRateId_Encrypted: MaleFemaleRateId_Encrypted,
                MaleFemaleRateCmpid:MaleFemaleRateCmpid,
                MaleFemaleRateBranchid:MaleFemaleRateBranchid,
                Gender:Gender,
                Rate:Rate,
                InsumentRate:InsumentRate

                },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: false
                        }).then(() => {
                            const p = Swal.getPopup();
                            p.classList.add('animate__headShake');
                            setTimeout(() => p.classList.remove('animate__headShake'), 500);
                        });
                    }
                }
                else
                {
                    debugger;
                    $("#SaveMaleFemaleRate").submit();
                }
            }
        });
    });
</script>