@model KompassHR.Areas.Reports.Models.ActualLogReportFilter
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee Payroll Hold/Release
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu", new {id = 6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Employee Payroll Hold/Release - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of employee payroll hold/release employee created.
                    </p>
                </div>
                <div class="panel-body">
                    <form role="form" action='@Url.Action("GetList", "Module_Payroll_PayrollBulkHoldRelease", new { area = "Module" })' id="SavePayrollBulkHoldRelease" method="post">
                        <div class="row">
                            <div class="col-md-2">
                                <div>
                                    <a href="@Url.Action("Module_Payroll_PayrollBulkHoldRelease", "Module_Payroll_PayrollBulkHoldRelease")">
                                        <button type="button" id="btnAdd" class="btn btn-primary btn-sm  mb-10px">
                                            <i class="fa-solid fa-plus"></i> &nbsp; Add
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-3">
                                        Month year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.FromDate, new { id = "txtFromDate", name = "FromDate", @class = "form-control", type = "month" })
                                        <span id="ErrortxtCmpID" class="Error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <button type="button" id="btnShow" class="btn btn-primary btn-sm  mb-10px" onclick="ShowData()">
                                        &nbsp; Show
                                    </button>

                                </div>
                            </div>
                        </div>

                    </form>
                    <!-- BEGIN table-responsive -->
                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <!-- BEGIN table-responsive -->
                            <table class="table table-bordered align-middle TablePage" id="fixed-header"
                                   style="width: 100%;">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-nowrap">Delete </th>
                                        <th class="text-nowrap">Company </th>
                                        <th class="text-nowrap">Business Unit </th>
                                        <th class="text-nowrap">Employee Name</th>
                                        <th class="text-nowrap">Salary Month /Year  </th>
                                        <th class="text-nowrap">Hold/Release   </th>
                                        <th class="text-nowrap">Hold date  </th>
                                        <th class="text-nowrap">Hold Remark  </th>
                                        <th class="text-nowrap">Hold By  </th>
                                        @*<th class="text-nowrap">Hold/Release   </th>*@
                                        <th class="text-nowrap">Release date  </th>
                                        <th class="text-nowrap">Release Remark  </th>
                                        <th class="text-nowrap">Release By  </th>


                                    </tr>
                                </thead>
                                <tbody id="tblOtherEarning">
                                    @foreach (var d in ViewBag._SalaryHold)
                                    {
                                        <tr>

                                            <td class="text-center">
                                                <a onclick="DeleteHold('@d.PayrollHoldId_Encrypted','@d.IsHoldRelease')" id="btnDelete" style="cursor:pointer;">
                                                    <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                </a>
                                            </td>
                                            <td class="text-nowrap">@d.CompanyName</td>
                                            <td class="text-nowrap">@d.BranchName</td>
                                            <td class="text-nowrap">@d.SalaryEmployeeName</td>
                                            <td class="text-nowrap">@d.Payroll_SalaryMonth</td>
                                            <td class="text-nowrap">@d.IsHoldRelease</td>
                                            <td class="text-nowrap">@d.HoldDate</td>
                                            <td class="text-nowrap">@d.HoldRemark</td>
                                            <td class="text-nowrap">@d.HoldEmployeeName</td>
                                            @*<td class="text-nowrap">@d.IsRelease</td>*@
                                            <td class="text-nowrap">@d.ReleaseDate</td>
                                            <td class="text-nowrap">@d.ReleaseRemark</td>
                                            <td class="text-nowrap">@d.ReleaseEmployeeName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var MonthYear = @Html.Raw(Json.Encode(TempData["MonthYear"]));
        if (MonthYear=="")
        {
            var today = new Date();
            // Format the date as YYYY-MM (year-month)
            var yyyy = today.getFullYear();
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var defaultMonth = yyyy + '-' + mm;
            // Set the value of the input element to the default month
            document.getElementById('txtFromDate').value = defaultMonth;

            var CheckEmptyDate = document.getElementById('txtFromDate').value;
            if (CheckEmptyDate == "") {
                document.getElementById('txtFromDate').value = SetTodaysDate;

            }
        }
        else{

        }




        $('title').html("Bulk Employee Payroll Hold/Release");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });


    function ShowData(){
        $("#SavePayrollBulkHoldRelease").submit();
    }
</script>

<script>
    function DeleteHold(PayrollHoldId_Encrypted,IsRelease) {
        if(IsRelease!="Release")
        {
            const DeleteButtons = Swal.mixin({
                customClass: {
                    cancelButton: ' btnpress',
                    confirmButton: ' btnpress'
                },
                buttonsStyling: true
            })
            DeleteButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: false,

                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Delete", "Module_Payroll_PayrollBulkHoldRelease")?PayrollHoldId_Encrypted=' + PayrollHoldId_Encrypted ;

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {

                }
            })
        }
        else{
            var Message="Salary Employee Already Release";
            var Icon="error";
            if (Message != null) {
                if (Message != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                }
            }
        }
    }

</script>
