@model KompassHR.Areas.Setting.Models.Setting_Payroll.Payroll_Master_Head
@{
    ViewBag.Title = "Setting_EarningsandDeductions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId=121, area = "ESS" })">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Setting_IncomeTax_Menu", "Setting_IncomeTax_Menu", new { id = 6, ScreenId=287, area = "Setting" })">Payroll Tax Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Earning and Deduction  </h1>
    <!-- END page-header -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Earning and Deduction - <b>@ViewBag.AddUpdateTitle</b> </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add currency here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_EarningsandDeductions", new { area = "Setting" })' id="SaveEarningDeducation" method="post" data-parsley-validate="">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Head Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.HeadName, new { @class = "form-control", type = "text", id = "txtHeadName", autocomplete = "Off", name = "HeadName" })
                                                @Html.HiddenFor(model => model.EncryptedId, new { id = "hdnEncryptedId", name = "EncryptedId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Head ShortName
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control", type = "text", id = "txtShortName", autocomplete = "Off", name = "ShortName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Earning / Deduction
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                               @Html.DropDownListFor(model => model.EarningDeductionType, 
                                                                new List<SelectListItem> 
                                                                {
                                                                    new SelectListItem { Text = "Earning", Value = "Earning" },
                                                                    new SelectListItem { Text = "Deduction", Value = "Deduction" }
                                                                }, "--Select--", 
                                                                new { 
                                                                    id = "ddlEarningDeductionType", 
                                                                    @class = "form-select", 
                                                                    autocomplete = "off" 
                                                                }
                                                            )
                                                @*@Html.DropDownListFor(model => model.EarningDeductionType, new SelectList(ViewBag.GetCurrency, "CountryId", "CountryName"), "--Select--", new { id = "txtEarningDeductionType", @class = "form-select", autocomplete = "off", name = "EarningDeductionType" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CTCType, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Direct Component (CTC)", Value = "1"},
                                                    new SelectListItem { Text = "Indirect Component (CTC)", Value = "2"},
                                                    new SelectListItem { Text = "Other Earning", Value = "3"},
                                                    new SelectListItem { Text ="Other Deduction",Value="4"}
                                                }, "--Select--", new { id = "ddlCTCType", @class = "form-select", autocomplete = "off", name = "CTCType" })
                                                @Html.HiddenFor(model => model.CTCTypeName, new { @style = "display:none;", id= "hdnCTCTypeName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", id = "chkIsActive", name = "IsActive" })
                                                    &nbsp; IsActive
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetEarningandDeduction">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ddlEarningDeductionType = document.getElementById("ddlEarningDeductionType");
        const ddlCTCType = document.getElementById("ddlCTCType");

        // Function to update the second dropdown based on the first dropdown selection
        function updateCTCDropdown() {
            debugger;
            const selectedValue = ddlEarningDeductionType.value;

            // Clear existing options
            ddlCTCType.innerHTML = "";

            // Create and append the default option
            const defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.text = "--Select--";
            ddlCTCType.appendChild(defaultOption);

            // Add options based on the first dropdown selection
            let options = [];
            if (selectedValue === "Earning") {
                options = [
                    { text: "Direct Component (CTC)", value: "1" },
                    { text: "Indirect Component (CTC)", value: "2" },
                    { text: "Other Earning", value: "3" }
                ];
            } else if (selectedValue === "Deduction") {
                options = [{ text: "Other Deduction", value: "4" }];
            }

            // Append new options to the second dropdown
            options.forEach(option => {
                const newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                ddlCTCType.appendChild(newOption);
            });
        }

        // Attach event listener to update the second dropdown on change
        ddlEarningDeductionType.addEventListener("change", updateCTCDropdown);
    });

</script>

<script>
    $(document).ready(function () {
        $('#ddlCTCType').change(function () {
            var selectedText = $(this).find("option:selected").text();
            $('#hdnCTCTypeName').val(selectedText); // Ensure this matches your hidden field's ID
        });
        //$("#ddlEarningDeductionType").select2();
        //$("#ddlCTCType").select2();
        $("#btnGetEarningandDeduction").click(function () {
            var url = '@Url.Action("GetList", "Setting_EarningsandDeductions")';
            window.location.href = url;
        });
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });//ready


    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );
    $('#SaveEarningDeducation').validate({
        rules: {
            HeadName: {
                required: true,
            },
            ShortName: {
                required: true,
            },
            EarningDeductionType: {
                required: true,
            },
            CTCType: {
                required: true,
            }
        },
        messages: {
            HeadName: {
                required: "Type is required",
            },
            ShortName: {
                required: "Earning Deduction Name is required",
            },
            EarningDeductionType: {
                required: "Earning Deduction Type is required",
            },
            CTCType: {
                required: "CTC Type is required",
            }
        },
        errorPlacement: function (error, element) {
            if (element.hasClass("select2-hidden-accessible")) {
                // Insert error after Select2's container
                error.insertAfter(element.next('.select2'));
            } else {
                error.insertAfter(element);
            }
        },
        //highlight: function (element) {
        //    if ($(element).hasClass("select2-hidden-accessible")) {
        //        $(element).next('.select2').find('.select2-selection').css('border-color', 'red');
        //    } else {
        //        $(element).css('border-color', 'red');
        //    }
        //},
        unhighlight: function (element) {
            if ($(element).hasClass("select2-hidden-accessible")) {
                $(element).next('.select2').find('.select2-selection').css('border-color', '');
            } else {
                $(element).css('border-color', '');
            }
        }
    });
    var form = $("#SaveEarningDeducation");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var EncryptedId = $("#hdnEncryptedId").val();
        var HeadName = $("#txtHeadName").val();
        var ShortName = $("#txtShortName").val();
        var EarningDeductionType = $("#ddlEarningDeductionType").val();
        var CTCType = $("#ddlCTCType").val();
        var IsActive = $("#chkIsActive").is(":checked");

        //let data = {
        //     HeadName : $("#txtHeadName").val(),
        //     ShortName : $("#txtShortName").val(),
        //     EarningDeductionType : $("#ddlEarningDeductionType").val(),
        //     CTCType : $("#ddlCTCType").val(),
        //     IsActive : $("#chkIsActive").is(":checked"),
        //};
        $.ajax({
            url: '@Url.Action("IsEarningsandDeductionsExists", "Setting_EarningsandDeductions")',
            method: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                EncryptedId: EncryptedId,
                HeadName: HeadName,
                ShortName: ShortName,
                EarningDeductionType: EarningDeductionType,
                CTCType: CTCType,
                IsActive: IsActive
            }),
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveEarningDeducation").submit();
                }
            }
        });

    });
</script>
