@model KompassHR.Areas.ESS.Models.ESS_Tax.InvestmentDeclaration_80C
@{
    ViewBag.Title = "ESS_Tax_Investment_UnderSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

        body.swal2-shown > [aria-hidden="true"] {
            /* transition: 0.1s filter; */
            filter: blur(2px);
        }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            /* width: 80px; */
            margin: 5px 3px;
            font-size: 12px;
        }

    .table {
        font-weight: 800;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .Info-text {
        display: flex;
        justify-content: space-between;
        border: 0;
        height: fit-content;
    }

    .Tooltip {
        position: relative;
    }


        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            width: 300px;
            text-align: center;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            display: none;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                left: 10px;
                margin-right: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    /*.invoice {
        border-radius: 12px;
        border: 3px solid #fff;

        padding: 10px 20px !important;
        margin-bottom: 10px;
        backdrop-filter: blur(25px) saturate(00%);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
    }

        .invoice > div:not(.invoice-footer) {
            margin: 0;
        }*/

    .Error {
        font-size: 12px;
        color: red;
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .form-label.col-5 {
        font-weight: bold; /* Adjust the weight as needed */
    }

    .table-striped th {
        background-color: deepskyblue !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Under Section 80C
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new {id = 9, ScreenId=176, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Under Section 80C  </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add here under section 80C
                    </p>
                </div>
                <form role="form" action="@Url.Action("SaveUpdate", "ESS_Tax_Investment_UnderSection80C", new { area = "ESS" })" id="SaveInvestmentUnderSection" name="PreviousEmployerDetails" method="post" enctype="multipart/form-data">
                    <div class="panel-body" style="overflow: auto !important;">
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="invoice">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Employee No
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.EmployeeNo
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-2 col-5">
                                                        Name
                                                    </label>
                                                    <div class="col-md-1 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-9 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.EmployeeName
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Department :
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.DepartmentName
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Designation
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.DesignationName
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Grade
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.GradeName
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        DOJ

                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.JoiningDate.ToString(string.Format("dd/MMM/yyyy"))
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        PAN

                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.PAN
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Age

                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @ViewBag.GetUS80CEmployee.Age
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Financial Year
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @Session["TaxYear"]
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Last Update
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @TempData["US80C_SubmitDate"]
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                        Count
                                                    </label>
                                                    <div class="col-md-2 col-1">
                                                        :
                                                    </div>
                                                    <div class="col-md-6 col-6">
                                                        <h6>
                                                            <label class="form-label col-form-label p-0">
                                                                @TempData["US80C_SubmitCount"]
                                                            </label>
                                                        </h6>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="empbx">
                                    <span>
                                        <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="empbx">
                                    @if (TempData["SubmitValid"] != null)
                                    {
                                        <span>
                                            <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <b> Note: If you are declaring a House Loan Amount, supporting proof must be submitted.</b>
                        </div>
                        <!-- BEGIN table-responsive -->
                        <table class="table table-striped table-bordered align-middle TablePageInvestment">
                            <thead>
                                <tr style="background-color: deepskyblue !important;">
                                    <th class="text-start" colspan="5">
                                        <h5> Under Section 80C</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-nowrap">Sr.No.</th>
                                    <th class="text-nowrap">Particular</th>
                                    <th class="text-nowrap">Amount</th>
                                    <th class="text-nowrap">Limit</th>
                                    <th class="text-nowrap">Eligible Deduction</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>1</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Employee's National Pension Scheme 80CCD(1)</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Section 80CCD1 allows you to get tax deduction benefits from
                                                    the amount you deposit in your NPS account.
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        @Html.TextBoxFor(model => model.US80C_EmployeesNationalPensionScheme80CCD1_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_EmployeesNationalPensionScheme80CCD1_CurrentAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_EmployeesNationalPensionScheme80CCD1_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" value="0" id="US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmtlbl"  style = "text-align:right">
                                            @Html.DisplayFor(model => model.US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt,new { @style = "text-align:right" , name="US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt"})</label>
                                            @Html.HiddenFor(model => model.US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>2</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Pension Plan from Insurance Companies/Mutual Funds</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Section 80CCC of the Income Tax Act of 1961 allows for
                                                    annual deductions of up to Rs.1.5 lakh for contributions
                                                    made by an individual to designated pension plans provided
                                                    by life insurance.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.US80C_PensionPlanfromInsuranceCompaniesMutualFunds_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_PensionPlanfromInsuranceCompaniesMutualFunds_CurrentAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_PensionPlanfromInsuranceCompaniesMutualFunds_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>3</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Housing Loan-Principal Repayment</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    The principal paid on the home loan EMI for the year is
                                                    allowed as a deduction under Section 80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_HousingLoanPrincipalRepayment_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_HousingLoanPrincipalRepayment_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_HousingLoanPrincipalRepayment_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>4</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Life Insurance Premium</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Premium on life insurance policy can be claimed as deduction
                                                    under section 80C. Calculation 10% of Sum Assured or Actual
                                                    amount paid whichever is lower.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_LifeInsurancePremium_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_LifeInsurancePremium_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_LifeInsurancePremium_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_LifeInsurancePremium_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_LifeInsurancePremium_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_LifeInsurancePremium_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_LifeInsurancePremium_EligibleDeductionAmt) </label>
                                            @Html.HiddenFor(model => model.US80C_LifeInsurancePremium_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_LifeInsurancePremium_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>5</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>National Saving Certificate</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Investments made towards National Savings Certificate are
                                                    eligible for a deduction under Section 80C up to a maximum
                                                    limit of ₹1.5 lakhs in a financial year.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_NationalSavingCertificate_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_NationalSavingCertificate_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_NationalSavingCertificate_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_NationalSavingCertificate_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_NationalSavingCertificate_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_NationalSavingCertificate_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_NationalSavingCertificate_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_NationalSavingCertificate_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_NationalSavingCertificate_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>6</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>National Saving Certificate Accrued Interest</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Interest Accrued on NSC reinvested for 1st 4 year so it will
                                                    eligible for the deduction under sec 80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_NationalSavingCertificateAccruedInterest_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_NationalSavingCertificateAccruedInterest_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_NationalSavingCertificateAccruedInterest_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>7</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Public Provident Fund</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    All deposits made in the PPF are deductible under Section
                                                    80C of the Income Tax Act
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_PublicProvidentFund_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_PublicProvidentFund_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_PublicProvidentFund_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_PublicProvidentFund_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_PublicProvidentFund_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_PublicProvidentFund_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_PublicProvidentFund_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_PublicProvidentFund_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_PublicProvidentFund_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>8</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Unit Linked Insurance Plan</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    A policyholder can avail of tax deduction up to Rs. 1,
                                                    50,000 on the policy premium amounts paid towards the ULIPs
                                                    under section 80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_UnitLinkedInsurancePlan_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_UnitLinkedInsurancePlan_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_UnitLinkedInsurancePlan_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_UnitLinkedInsurancePlan_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_UnitLinkedInsurancePlan_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>9</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>E.L.S.S (Tax Saving Mutual Fund)</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    An equity-linked savings scheme or ELSS is a tax-saving
                                                    (Mutual Fund) investment under Section 80C. 3 year Lock in
                                                    this mutual fund.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_ELSSTaxSavingMutualFund_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_ELSSTaxSavingMutualFund_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_ELSSTaxSavingMutualFund_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>10</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Tuition fees for 2 children</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    In a financial year, individuals can claim a maximum
                                                    deduction of Rs 1.5 lakh for payments made towards tuition
                                                    fees for 2 children under Section 80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_Tuitionfeesfor2children_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_Tuitionfeesfor2children_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_Tuitionfeesfor2children_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_Tuitionfeesfor2children_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_Tuitionfeesfor2children_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_Tuitionfeesfor2children_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_Tuitionfeesfor2children_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_Tuitionfeesfor2children_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_Tuitionfeesfor2children_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>11</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>
                                                Tax Saving Shares / NABARD and Other
                                                Bonds
                                            </b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Section 80C of the Income-tax Act to provide that deposits
                                                    made in such bonds issued by the National Bank for
                                                    Agriculture and Rural Development, as the Central Government
                                                    may, by notification in the official gazette, specify in
                                                    this behalf, shall be eligible for deduction under the said
                                                    section.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_TaxSavingSharesNABARDandOtherBonds_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_TaxSavingSharesNABARDandOtherBonds_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_TaxSavingSharesNABARDandOtherBonds_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>12</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>
                                                Tax saving Fix Deposits (Tenure - 5 years or
                                                more)
                                            </b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    A tax-saving fixed deposit (FD) account is a type of fixed
                                                    deposit account that offers a tax deduction under Section
                                                    80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_TaxsavingFixDepositsTenure5yearsormore_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_TaxsavingFixDepositsTenure5yearsormore_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_TaxsavingFixDepositsTenure5yearsormore_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>13</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Housing - Stamp Duty & Registration</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Section 80CCC of the Income Tax Act of 1961 allows for
                                                    Stamp duty and registration charges and other expenses which
                                                    are directly related to the transfer are allowed as a
                                                    deduction under Section 80C.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_HousingStampDutyRegistration_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_HousingStampDutyRegistration_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_HousingStampDutyRegistration_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px; ">
                                        @Html.TextBoxFor(model => model.US80C_HousingStampDutyRegistration_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_HousingStampDutyRegistration_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_HousingStampDutyRegistration_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_HousingStampDutyRegistration_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_HousingStampDutyRegistration_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_HousingStampDutyRegistration_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>14</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Post Office Time Deposit Scheme</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Individuals investing in 5 year Post office time deposits
                                                    are eligible for tax benefit
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_PostOfficeTimeDepositScheme_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_PostOfficeTimeDepositScheme_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_PostOfficeTimeDepositScheme_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px; ">
                                        @Html.TextBoxFor(model => model.US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>15</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Senior Citizen Saving Scheme</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    A Senior Citizens’ Saving Scheme (SCSS) is a
                                                    government-backed retirement benefits programme. Senior
                                                    citizens resident in India can invest a lump sum in the
                                                    scheme, individually or jointly, and get access to regular
                                                    income along with tax benefits.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_SeniorCitizenSavingScheme_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_SeniorCitizenSavingScheme_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_SeniorCitizenSavingScheme_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_SeniorCitizenSavingScheme_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_SeniorCitizenSavingScheme_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>16</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Sukanya Samriddhi Scheme</b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    "Investments made in the SSY scheme are eligible for
                                                    deductions under Section 80C, subject to a maximum cap of Rs
                                                    1.5 lakh.
                                                    The interest that accrues against this account which gets
                                                    compounded annually is also exempt from tax under Section 10
                                                    of the Income Tax Act."
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_SukanyaSamriddhiScheme_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_SukanyaSamriddhiScheme_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_SukanyaSamriddhiScheme_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_SukanyaSamriddhiScheme_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_SukanyaSamriddhiScheme_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>17</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>
                                                Annuity plan of LIC or other insurer towards
                                                Pension Scheme -
                                                80CCC
                                            </b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    "Any installment or part payment of the amount due under any
                                                    self-financing or other scheme of any development authority,
                                                    housing board or other authority engaged in the construction
                                                    and sale of house property on ownership basis
                                                    "
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_80CCC_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_80CCC_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_80CCC_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_80CCC_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_80CCC_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_80CCC_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_80CCC_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_80CCC_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_80CCC_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b>18</b></td>
                                    <td>
                                        <div class="Info-text">
                                            <b>Superannuation Fund Contribution </b>
                                            <div class="Tooltip">
                                                <i class="fa fa-info-circle fs-15px"></i>
                                                <div class="Tooltip-text">
                                                    Employee’s contribution to the approved superannuation fund
                                                    is deductible under Section 80C subject to overall limit of
                                                    Rs 1,50,000.
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.US80C_SuperannuationFundContribution_CurrentAmt, new { @class = "form-control CurrentAmt", id = "US80C_SuperannuationFundContribution_CurrentAmt", @style = "text-align:Right;height:23px;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl"></label>
                                        @Html.HiddenFor(model => model.US80C_SuperannuationFundContribution_LimitAmt, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;" })
                                    </td>
                                    <td style="text-align:right;height:23px;">
                                        @Html.TextBoxFor(model => model.US80C_SuperannuationFundContribution_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "US80C_SuperannuationFundContribution_EligibleDeductionAmtlbl", @readonly = true })
                                        @*<label class="EligibleDeductionLbl" id="US80C_SuperannuationFundContribution_EligibleDeductionAmtlbl" value="0">
                                            @Html.DisplayFor(model => model.US80C_SuperannuationFundContribution_EligibleDeductionAmt)</label>
                                            @Html.HiddenFor(model => model.US80C_SuperannuationFundContribution_EligibleDeductionAmt, new { @class = "form-control ", id = "US80C_SuperannuationFundContribution_EligibleDeductionAmt", @style = "text-align:right" })*@
                                    </td>
                                </tr>

                                <tr>
                                    <td><b></b></td>
                                    <td>
                                        <h5 style="text-align:Right">Total</h5>
                                    </td>
                                    @*<td><input type="text" class="form-control" disabled id="sumEligiblededuction" /></td>*@
                                    <td>@Html.TextBoxFor(model => model.US80C_Total, new { @class = "form-control CurrentAmt", id = "sumEligiblededuction", @readonly = "readonly", @style = "text-align:Right;height:23px;background-color: #e9ecef;" })</td>
                                    <td class="text-center">
                                        <label class="Limitlbl" id="CheckLimit"></label>
                                        @Html.HiddenFor(model => model.US80C_Total_Limit, new { @class = "form-control LimitAmt", @style = "text-align:Right;height:23px;background-color: #e9ecef;" })
                                    </td>
                                    @*<label class="EligibleDeductionLbl" id="US80C_Total_EligibleDeductionlbl" value="0">@Html.DisplayFor(model => model.US80C_Total_EligibleDeduction)</label>*@
                                    <td>@Html.TextBoxFor(model => model.US80C_Total_EligibleDeduction, new { @class = "form-control ", id = "US80C_Total_EligibleDeduction", @readonly = "readonly", @style = "text-align:Right;height:23px;background-color: #e9ecef;" })</td>

                                </tr>

                            </tbody>
                        </table>
                        <!-- END table-responsive -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="form-label col-form-label col-md-3">
                                        <b>Housing Loan-Principal Repayment</b>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="file" name="AttachFile" class="form-control" id="txtHouseLoanPrincipalRepayment" onchange="ResetFile('HouseLoanPrincipalRepayment')" />
                                        <span id="errorHouseLoanPrincipalRepayment" style="display:none;color:red"></span>

                                        @Html.HiddenFor(model => model.US80C_HouseLoanPrincipalRepayment_ProofUpload, new { id = "HouseLoanPrincipalRepaymentProof_Upload" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.FilePath, new { id = "FilePath", @class = "form-control", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <span id="ErrorTotal" class="Error"></span>
                                <div class="BtnBx">
                                    <div>
                                        <button type="button" id="SubmitBtn" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                        </button>
                                        <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new { area = "ESS",id=9,ScreenId=176 })">
                                            <button type="button" id="btnBack" class="btn btn-danger btn-sm" data-bs-toggle="modal">
                                                <i class="fa-solid fa-share-from-square"></i> Back
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END panel -->
        </div>

    </div>

</div>

<!-- ================== SweetAlert MSG Script ================== -->
<script>
    $(document).ready(function () {
        debugger
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $('.TablePageInvestment').DataTable({
            destroy: true,
            "searching": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "ordering": false,
            "stripeClasses": [] // Removes alternating row colors
        });


        debugger;
        let Limit = @Html.Raw(Json.Encode(TempData["80C_Amount"]));
        //console.log(Limit);
        //Limit=500;
        $(".Limitlbl").text(Limit);
        $(".LimitAmt").val(Limit);

        $(".form-control").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });


        //$('.CurrentAmt').change(function(){
        //            debugger;
        //            var CurrentAmmout = Number($(this).val());
        //             sum = CurrentAmmout + sum;
        //            var Limit = Number(150000);
        //            if(sum>=Limit)
        //            {
        //            }
        //            else
        //            {
        //             $(this).closest('#TableInvestment tr').find('td').eq(4).html(CurrentAmmout);
        //                $("#EligibleDeductionAmt").val(CurrentAmmout);
        //                $("#sumEligiblededuction").val(sum);
        //                $("#US80C_Total_EligibleDeduction").html(sum);
        //            }
        //        });




        // let sum = 0;


        function CalculateSum() {
            debugger;
            var sum=0;
            var value =Number ($("#US80C_EmployeesNationalPensionScheme80CCD1_CurrentAmt").val());
            var value1 =Number ($("#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_CurrentAmt").val());
            var value2 =Number ($("#US80C_HousingLoanPrincipalRepayment_CurrentAmt").val());
            var value3 =Number ($("#US80C_LifeInsurancePremium_CurrentAmt").val());
            var value4 =Number ($("#US80C_NationalSavingCertificate_CurrentAmt").val());
            var value5 =Number ($("#US80C_NationalSavingCertificateAccruedInterest_CurrentAmt").val());
            var value6 =Number ($("#US80C_PublicProvidentFund_CurrentAmt").val());
            var value7 =Number ($("#US80C_UnitLinkedInsurancePlan_CurrentAmt").val());
            var value8 =Number ($("#US80C_ELSSTaxSavingMutualFund_CurrentAmt").val());
            var value9 =Number ($("#US80C_Tuitionfeesfor2children_CurrentAmt").val());
            var value10 =Number ($("#US80C_TaxSavingSharesNABARDandOtherBonds_CurrentAmt").val());
            var value11 =Number ($("#US80C_TaxsavingFixDepositsTenure5yearsormore_CurrentAmt").val());
            var value12 =Number ($("#US80C_HousingStampDutyRegistration_CurrentAmt").val());
            var value13 =Number ($("#US80C_PostOfficeTimeDepositScheme_CurrentAmt").val());
            var value14 =Number ($("#US80C_SeniorCitizenSavingScheme_CurrentAmt").val());
            var value15 =Number ($("#US80C_SukanyaSamriddhiScheme_CurrentAmt").val());
            var value16 =Number ($("#US80C_80CCC_CurrentAmt").val());
            var value17 =Number ($("#US80C_SuperannuationFundContribution_CurrentAmt").val());

            sum = value + value1 + value2 + value3 + value4 + value5 + value6 + value7 + value8 + value9 + value10 + value11
             + value12 + value13 + value14 + value15 + value16 + value17;

            //var sum;
            $("#sumEligiblededuction").val(sum);
            // var value18 = Number($("#sumEligiblededuction").val());
            //$("#US80C_Total_EligibleDeduction").val(sum);
            var CheckLimit = $("#sumEligiblededuction").val();

            if(CheckLimit>Limit)
            {
                $('#US80C_Total_EligibleDeduction').val(Limit);
            }
            else
            {
                $('#US80C_Total_EligibleDeduction').val(sum);
            }
        }

        $('#US80C_EmployeesNationalPensionScheme80CCD1_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = ($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmtlbl").val(CurrentAmmout);
                // $("#US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt").val(CurrentAmmout);
            }
            else
            {
                $("#US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmtlbl").html(Limit);
                //$("#US80C_EmployeesNationalPensionScheme80CCD1_EligibleDeductionAmt").val(Limit);
            }
        });

        $('#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_PensionPlanfromInsuranceCompaniesMutualFunds_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_HousingLoanPrincipalRepayment_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_HousingLoanPrincipalRepayment_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_LifeInsurancePremium_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_LifeInsurancePremium_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_LifeInsurancePremium_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_LifeInsurancePremium_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_LifeInsurancePremium_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_NationalSavingCertificate_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_NationalSavingCertificate_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_NationalSavingCertificate_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_NationalSavingCertificate_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_NationalSavingCertificate_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_NationalSavingCertificateAccruedInterest_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_NationalSavingCertificateAccruedInterest_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_PublicProvidentFund_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_PublicProvidentFund_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_PublicProvidentFund_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_PublicProvidentFund_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_PublicProvidentFund_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_UnitLinkedInsurancePlan_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_UnitLinkedInsurancePlan_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_UnitLinkedInsurancePlan_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_UnitLinkedInsurancePlan_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_ELSSTaxSavingMutualFund_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_ELSSTaxSavingMutualFund_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_Tuitionfeesfor2children_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_Tuitionfeesfor2children_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_Tuitionfeesfor2children_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_Tuitionfeesfor2children_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_Tuitionfeesfor2children_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_TaxSavingSharesNABARDandOtherBonds_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmtlbl").val(Limit);
                // $("#US80C_TaxSavingSharesNABARDandOtherBonds_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_TaxsavingFixDepositsTenure5yearsormore_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_TaxsavingFixDepositsTenure5yearsormore_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_HousingStampDutyRegistration_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_HousingStampDutyRegistration_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_HousingStampDutyRegistration_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_HousingStampDutyRegistration_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_HousingStampDutyRegistration_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_PostOfficeTimeDepositScheme_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt").val(CurrentAmmout);
            }
            else
            {
                $("#US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_PostOfficeTimeDepositScheme_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_SeniorCitizenSavingScheme_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_SeniorCitizenSavingScheme_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_SeniorCitizenSavingScheme_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_SeniorCitizenSavingScheme_EligibleDeductionAmt").val(CurrentAmmout);

            }
        });

        $('#US80C_SukanyaSamriddhiScheme_CurrentAmt').keyup(function(){
            debugger
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_SukanyaSamriddhiScheme_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_SukanyaSamriddhiScheme_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_SukanyaSamriddhiScheme_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_80CCC_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_80CCC_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_80CCC_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_80CCC_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_80CCC_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

        $('#US80C_SuperannuationFundContribution_CurrentAmt').keyup(function(){
            debugger;
            CalculateSum();
            var CurrentAmmout = Number($(this).val());
            if(CurrentAmmout<=Limit)
            {
                $("#US80C_SuperannuationFundContribution_EligibleDeductionAmtlbl").val(CurrentAmmout);
                //$("#US80C_SuperannuationFundContribution_EligibleDeductionAmt").val(Limit);
            }
            else
            {
                $("#US80C_SuperannuationFundContribution_EligibleDeductionAmtlbl").val(Limit);
                //$("#US80C_SuperannuationFundContribution_EligibleDeductionAmt").val(CurrentAmmout);
            }
        });

    });
    var SubmitCheck = @Html.Raw(Json.Encode(TempData["SubmitValid"]));
    $("#SubmitBtn").click(function () {
        debugger;
        var total = $("#sumEligiblededuction").val();
        if(total==0)
        {
            $("#ErrorTotal").html("Please insert at list one field");
            return false;
        }
        else
        {
            $("#ErrorTotal").html("");
        }

        var fileInput = document.getElementById("txtHouseLoanPrincipalRepayment");
        var Amount=document.getElementById("US80C_HousingLoanPrincipalRepayment_CurrentAmt").value;
        if (fileInput.files.length === 0 && Amount > 0) {
            $("#errorHouseLoanPrincipalRepayment").html("select a file to upload.");
            $("#errorHouseLoanPrincipalRepayment").css("display","flex");
            return false;
        }
        else{
            $("#errorHouseLoanPrincipalRepayment").html("");
            $("#errorHouseLoanPrincipalRepayment").css("display","none");
        }



        //Check Submit button valid or not based on open close taxDeclaration beetween Date
        if(SubmitCheck==null || SubmitCheck=="")
        {
            Swal.fire({
                //title: 'Saved',
                icon: 'error',
                text: 'Declaration window is close',
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        else
        {
            $("#SaveInvestmentUnderSection").submit();
        }

    });

</script>

<!-- ================== END SweetAlert-js ================== -->


<script>
    function ResetFile(Origin) {
        debugger
        var a = "txt" + Origin; // Correct concatenation

        let allowedExtension = [
            'image/jpeg',
            'image/jpg',
            'image/png',
            'application/pdf',
            'application/msword', // .doc
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document', // .docx
            'application/zip', // .zip
            'application/x-zip-compressed', // Some browsers use this for ZIP
            'multipart/x-zip' // Additional MIME type for ZIP
        ];

        let maxSize = 1 * 1024 * 1024; // 1 MB in bytes

        let fileInput = document.getElementById(a);

        if (!fileInput || !fileInput.files.length) {
            Swal.fire({
                icon: "error",
                text: "No file selected.",
            });
            return;
        }

        let file = fileInput.files[0];
        let type = file.type;
        let size = file.size;

        // Check file type
        if (allowedExtension.indexOf(type) === -1) {
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf/docx/doc/zip",
            });
            fileInput.value = null;
            return;
        }

        // Check file size
        if (size > maxSize) {
            Swal.fire({
                icon: "error",
                text: "File size should not exceed 1 MB.",
            });
            fileInput.value = null;
            return;
        }
    }
</script>