@model KompassHR.Areas.Reports.Models.MonthWiseReportFilter
@{
    ViewBag.Title = "Rpt_MonthWise_Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<style>
    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 15px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
        min-width: 270px;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }

    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td {
        border-color: black !important;
        background-color: white !important;
    }
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Reports/Report_MonthlyAttendance_RptSubMenu/Report_MonthlyAttendance_RptSubMenu/?ScreenSubId=327">Report Menu</a></li>
    </ol>
    <h1 class="page-header"> Month Wise Report </h1>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">
                            @*<hr class="mt-15px">*@
                            <div class="row justify-content-center">
                                <form role="form" action="/Reports/Rpt_MonthWise_Attendance/Rpt_MonthWise_Attendance" id="formMonthWise_Attendance" method="post">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                   Month
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Month, new { @class = "form-control", name = "Month", type = "month", id = "GetMonth" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row mb-15px">
                                                <div class="col-md-8">
                                                    <button type="button" onclick="MonthlyAttendanceReport()" class="btn btn-sm btn-success">Show</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="mt-15px">
                        <div class="row">
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 " id="tblrptMonthWise" style="width: 100%;">
                                        <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr class="trheading">
                                                <th class="fixed-side text-nowrap" style="border-color:black !important;">Employee Name</th>
                                                <th class="fixed-side1 text-nowrap">Employee Card No</th>
                                                <th class="text-nowrap">Date Of Joining </th>
                                                <th class="text-nowrap">Department</th>
                                                <th class="text-nowrap">Designation</th>
                                                <th class="text-nowrap">Line</th>
                                                <th class="text-nowrap">Sub department</th>
                                                <th class="text-nowrap">Gender</th>

                                                @for (int i = 1; i < ViewBag.GetDays + 1; i++)
                                                {
                                                    <th class="text-center">@i</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody id="tblDeptWiseReport">
                                            @*@foreach (var d in ViewBag.DailyAttendanceReport)
    {
        <tr>

            <td class="fixed-side text-nowrap">@d.SrNo</td>
            <td class="fixed-side1 text-nowrap">@d.CompanyName</td>
            <td class="text-nowrap">@d.EmployeeCardNo</td>
            <td class="text-nowrap">@d.EmployeeName</td>
            <td class="text-nowrap">@d.AttendanceDate</td>
            <td class="text-nowrap">@d.JoiningDate</td>
            <td class="text-nowrap">@d.Location</td>
            <td class="text-nowrap">@d.Department</td>
            <td class="text-nowrap">@d.ContractorName</td>
            <td class="text-nowrap">@d.GradeName</td>
            <td class="text-nowrap">@d.Designation</td>
            <td class="text-nowrap">@d.CriticalStageY/N</td>
            <td class="text-nowrap">@d.CriticalStageName</td>
            <td class="text-nowrap">@d.AssesmentLevel</td>
            <td class="text-nowrap">@d.LineName</td>
            <td class="text-nowrap">@d.Shift</td>
            <td class="text-nowrap">@d.InTime</td>
            <td class="text-nowrap">@d.OutTime</td>
            <td class="text-nowrap">@d.Duration</td>
            <td class="text-nowrap">@d.LateIn</td>
            <td class="text-nowrap">@d.EarlyOut</td>
            <td class="text-nowrap">@d.OverTime</td>
            <td class="text-nowrap">@d.CompOff</td>
            <td class="text-nowrap">@d.LateMark</td>
            <td class="text-nowrap">@d.Remark</td>
        </tr>
    }*@
                                        </tbody>
                                    </table>
                                    <br />
                                    <span id="tblRowCount"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = document.getElementById("tblrptMonthWise");
        var rowCount = table.rows.length - 1;
        $("#tblRowCount").html("No Of Rows : " + rowCount);
        $('title').html("Month Wise Report");
        var today = new Date();
        // Format the date as YYYY-MM (year-month)
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var defaultMonth = yyyy + '-' + mm;
        // Set the value of the input element to the default month
        document.getElementById('GetMonth').value = defaultMonth;

        var CheckEmptyDate = document.getElementById('GetMonth').value;
        if (CheckEmptyDate == "") {
            document.getElementById('GetMonth').value = SetTodaysDate;
           
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlBranchId").append("<option value=0>--Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        $('#tblrptMonthWise').DataTable({
            //dom: 'Bfrtip',
            dom: '<"row"<"col-sm-4"B><"col-sm-4"l><"col-sm-4"f>>' + 't' + '<"row"<"col-sm-6"l><"col-sm-6">>',
            buttons: [
              {
                  extend: 'excel',
                  text: 'Excel',
                  customize: function (xlsx) {
                      var $sheet = $(xlsx.xl.worksheets['sheet1.xml']);

                      // Loop through each row in the sheet
                      $sheet.find('row').each(function (index) {
                          // Apply different styles to different rows
                          if (index == 0) {
                              $(this).find('c').attr('s', '2'); // Bold font
                          } else if (index == 1) {
                              $(this).find('c').attr('s', '5'); // Change background color                               
                          }
                          else {
                              $(this).find('c').attr('s', '25'); // Apply Border 
                          }
                      });


                  }
              },
               'copy',
               'csv',
                'pdf',
                'print'
            ],
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
            select: true,

        });
    })
</script>

<script>

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#formMonthWise_Attendance').validate({
        rules: {
            Month: {
                required: true,
            },
        },
        messages: {
            Month: {
                required: "Month is required",
            },
        },
    });

    var form = $("#formMonthWise_Attendance");
    form.validate();
    function MonthlyAttendanceReport() {
        debugger;
        form.valid();
        if (form.valid() == false) {

            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#formMonthWise_Attendance").submit();
    }
</script>

