@model KompassHR.Areas.ESS.Models.ESS_VMS.Visitor_Report
@{
    ViewBag.Title = "ESS_VMS_MostVisitedGuests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Most Visited Guests
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_VMS_Reports", "ESS_VMS_Reports",  new { id = 10,ScreenId=189, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Most Visited Guest Reports<b></b> </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This report highlights the guests who have visited the organization most frequently. It provides an overview of visitor activity based on the number of visits. 
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/ESS/ESS_VMS_MostVisitedGuests/ESS_VMS_MostVisitedGuests" id="MostVisitedGuestReports" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCompanyName" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBusinessUnit, "Id", "Name"), new { @class = "form-select", type = "text", name = "BusinessUnit", id = "txtBusinessUnit" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", type = "date", name = "FromDate", id = "txtFromDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", type = "date", name = "ToDate", id = "txtToDate" })
                                                <span id="ErrortxtGetUserPolicyName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="panel-body" data-scrollbar="true">
                                                <!-- BEGIN table-responsive -->
                                                <div class="table-scroll div1">
                                                    <div class="table-wrap">
                                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage tblAddData">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr>
                                                                    <th class="text-nowrap">Visitor Name</th>
                                                                    <th class="text-nowrap">No Of Count Visiting</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var d in ViewBag.getMostVisitedGuest)
                                                                {
                                                                    <tr>
                                                                        <td>@d.visitorname</td>
                                                                        <td>@d.NoOfVisitngCount</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- END table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#ddlCompanyName").select2();
        $("#txtBusinessUnit").select2();

        $('title').html("Most Visited Guests Report");
        var CheckEmptyToDate = document.getElementById('txtToDate').value;
        if (CheckEmptyToDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }
        $("#ddlCompanyName").on("change", function () {
            //$("#ddlLocation").find("option").remove();
            $("#txtBusinessUnit").empty();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_VMS_MostVisitedGuests")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        //$("#txtBusinessUnit").append("<option value=0> --Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#txtBusinessUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }

                });
            }
        }

    });//ready function

    function downloadExcelFile() {
        debugger;
        //$(".Userloaderbg").css("display", "flex");
        //var CmpId = $("#ddlCompanyName").val();
        //var BranchId = $("#txtBusinessUnit").val();
        //var FromDate = $("#txtFromDate").val();
        //var ToDate=$("#txtToDate").val();
        //var url = '/ESS_VMS_MostVisitedGuests/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) +'&CmpId='+ encodeURIComponent(CmpId)+'&ToDate='+encodeURIComponent(ToDate);
       
        $(".Userloaderbg").css("display", "flex");
        var CmpId = encodeURIComponent($("#ddlCompanyName").val());
        var BranchId = encodeURIComponent($("#txtBusinessUnit").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var ToDate = encodeURIComponent($("#txtToDate").val());
        var url = `@Url.Action("DownloadExcelFile", "ESS_VMS_MostVisitedGuests")?BranchId=${BranchId}&CmpId=${CmpId}&FromDate=${FromDate}&ToDate=${ToDate}`;

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                var ToformattedDate = convertDateFormat(ToDate);
                // Create a Blob from the response data
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'MostVisitedGuests('+formattedDate +' - '+ ToformattedDate+').xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }



//    // Call on Load Button OnClick
//    function LoadMostVisitedGuest() {
//        $("#MostVisitedGuestReports").submit();
//    }


//    //use for add regex function
//    jQuery.validator.addMethod(
//  "regex",
//        function (value, element, regexp) {
//            if (regexp.constructor != RegExp)
//                regexp = new RegExp(regexp);
//            else if (regexp.global)
//                regexp.lastIndex = 0;
//            return this.optional(element) || regexp.test(value);
//        }, "erreur expression reguliere"
//);

//    $("#MostVisitedGuestReports").validate({
//        rules: {
//            FromDate: {
//                required: true,
//            },
//            ToDate: {
//                required: true,
//            },
//            CompanyName: {
//                required: true,
//            },

//        },
//        messages: {
//            FromDate: {
//                required: "From Date is required"
//            },
//            ToDate: {
//                required: "To Date is required"
//            },
//            CompanyName: {
//                required: "Company Name is required"
//            },

//        }
//    });


//    var form = $("#MostVisitedGuestReports");
    //form.validate();
    //$("#btnload").click(function () {
    //    debugger;
    //    form.valid();
    //    if (form.valid() == false) {
    //        $("#txtFromDate").removeClass("error");
    //        $("#txtToDate").removeClass("error");
    //        return false;
    //    }
    //    var Fromdate = $("#txtFromDate").val();
    //    var Todate = $("#txtToDate").val();
    //    //var CompanyName = $("#dllCompanyName").val();
    //    var BusinessUnit = $("#txtBusinessUnit").val();
    //    var VisitorName = $("#ddlVisitorName").val();
    //    $.ajax({
    //        type: 'GET',
    //        dataType: 'JSON',
    //        contentType: "application/json; charset=utf-8",
    //        url: 'GetMostVisitedGuest',
    //        data: { Fromdate: Fromdate, Todate: Todate, VisitorName: VisitorName, BusinessUnit: BusinessUnit },
    //        success: function (getMostVisitedGuestReports) {
    //            debugger;
    //            console.log(getMostVisitedGuestReports);
    //            debugger;
    //            $('#tablegetdatewaisereports tr').not(function () { return !!$(this).has('th').length; }).remove();
    //            for (var i = 0; i < getMostVisitedGuestReports.length; i++) {
    //                var table = document.getElementById("tablegetdatewaisereports");
    //                var rowcount = table.rows.length;
    //                var row = table.insertRow(rowcount);
    //                row.insertCell(0).innerHTML = "" + getMostVisitedGuestReports[i][1].Value + "";//Visitor Name
    //                row.insertCell(1).innerHTML = "" + getMostVisitedGuestReports[i][0].Value + "";//No Of Count Visiting




    //            }

    //        }
    //    });
   // });
</script>


