
@{
    ViewBag.Title = "CategoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

        .loader::after {
            content: "";
            width: 50px;
            height: 50px;
            border: 6px solid #ccc;
            border-top-color: #007bff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

    @@keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    #DocBody {
        height: 400px; /* Set desired height */
        width: 100%; /* Or use a fixed width like 400px */
        overflow-y: auto; /* Enables vertical scroll when needed */
        overflow-x: hidden; /* Hides horizontal scroll */
    }

    .Error {
        text-align: left;
        height: 35px;
    }
</style>

<style>
    .mfa-input {
        width: 45px;
        height: 55px;
        font-size: 24px;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin: 0 4px;
        transition: all 0.2s ease;
    }

        .mfa-input:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
        }
</style>

<div id="content" class="app-content">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                @TempData["Cat_SubCatName"]
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_LMS_Category", "ESS_LMS_Category", new {id = 38, ScreenId=560, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
        <br /><br />
        <div class="box-footer text-right" style="background-color: #f5f5f5; padding: 5px 10px;">
            <div class="form-inline d-inline-block">
                <label class="checkbox-inline" style="margin-right: 10px; font-size: 13px;">
                    @TempData["CategoryDesc"]
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-body">
                    <!-- Main Grid -->
                    <div class="row">
                        <!-- Left Column (4 cols) - Table with File List -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header text-white" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">File List</div>
                                <div class="card-body p-0">
                                    <input type="hidden" id="hdnLibraryDocId" />
                                    <input type="hidden" id="hdnIsReadDocument" />
                                    <input type="hidden" id="hdnLMSLibraryId" value="@TempData["LMSLibraryId"]" />
                                    <input type="hidden" id="hdnLMSCategoryId" value="@TempData["LMSCategoryId"]" />
                                    <table class="table table-bordered table-striped m-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center" hidden><small>LibraryDocId</small></th>
                                                <th class="text-center"><small>File Name</small></th>
                                                <th class="text-center" hidden><small>Type</small></th>
                                                <th class="text-center"><small>Status</small></th>
                                                <th class="text-center"><small>Show</small></th>
                                            </tr>
                                        </thead>
                                        <tbody id="fileListTableBody">
                                            <!-- Populated by JS -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column (8 cols) - Gallery (PDF/Image/Video) -->
                        <div class="col-md-8">
                            <div class="panel panel-inverse" data-sortable-id="index-1">
                                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                                    <h4 class="panel-title"> Document </h4>
                                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" style="background-color: white;" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                                <!-- Main Footer with Checkbox and Button -->
                                <div class="box-footer text-right" style="background-color: #f5f5f5; padding: 5px 10px; display:none" id="divDocAgree">
                                    <div class="form-inline d-inline-block">
                                        <label class="checkbox-inline" style="margin-right: 10px; font-size: 13px;">
                                            <input type="checkbox" id="DocagreeCheck" style="margin-right: 5px;">
                                            I have reviewed the document and I agree with its contents.
                                        </label>
                                        <button type="button" class="btn btn-primary btn-sm" id="btnDocSeeSubmit" onclick="submitReadDocumentSure()">Submit</button>
                                    </div>
                                </div>

                                <!-- Error Message Section (Initially Hidden) -->
                                <div class="box-footer text-left" style="background-color: #fff; padding: 5px 10px; display: none;" id="divErrorDocagreeCheck">
                                    <span id="ErrorDocagreeCheck" class="Error text-danger" style="font-size: 12px;"></span>
                                </div>

                                <div class="box-body" id="DocBody">
                                    <div class="gallery-row row" id="modalContent1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <div class="box-footer text-right" style="background-color: #f5f5f5; padding: 5px 10px;">
                    <div class="d-flex align-items-center">
                        <!-- First div containing checkbox and submit button -->
                        <div class="align-items-center mr-3" id="divFinalSubmit">
                            <label class="checkbox-inline" style="margin-right: 10px; font-size: 13px;">
                                <input type="checkbox" id="FinalgreeCheck" style="margin-right: 5px;">
                                I have reviewed the entire document and hereby submit it as final.
                            </label>

                            <button type="button" class="btn btn-primary btn-sm" id="btnFinalSubmit" onclick="FinalSubmitSure()">Submit</button> &nbsp;&nbsp;
                        </div>

                        @{
                            var isAssessment = TempData["IsAssessment"] != null && Convert.ToBoolean(TempData["IsAssessment"]);
                        }
                        @if (isAssessment)
                        {
                            <div>
                                <span id="spnFinalSubmit"></span>
                                <button type="button" class="btn btn-success btn-sm" id="btnIsAssesment" onclick="GoToAssesment()"><i class="fa-solid fa-pen-to-square"></i> Assessment</button>
                            </div>
                        }
                        &nbsp;&nbsp;
                        <div>
                            <span id="spnAssessmentSubmit"></span>
                            <button type="button" class="btn btn-primary btn-sm" id="feedbackTrigger"> <i class="fa-solid fa-comments"></i> Give Feedback</button>
                            @*<button type="button" class="btn btn-secondary btn-sm " id="feedbackTrigger">
                                <img src="~/assets/MenuImages/LMSfeedback.png"  alt="Good Feedback" width="16" height="16" style="margin-right: 5px;">
                                Give Feedback
                            </button>*@
                           
                        </div>
                    </div>
                </div>
                <!-- Error Message Section (Initially Hidden) -->
                <div class="box-footer text-left" style="background-color: #fff; padding: 5px 10px; display: none;" id="divErrorFinalgreeCheck">
                    <span id="ErrorFinalgreeCheck" class="Error text-danger" style="font-size: 12px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EmailOTPModal" tabindex="-1" role="dialog" aria-labelledby="mfaModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="mfaModalLabel">LMS - OTP</h5>
                <!-- Close Button -->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h3 class="mb-4">Enter the 6-digit OTP from your email.</h3>
                <form id="EmailOTP">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <div class="d-flex">
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                            <input type="text" class="mfa-input text-center mx-1 form-control" maxlength="1" />
                        </div>
                        <button type="button" id="pasteButton" class="btn btn-light ms-2" title="Paste from clipboard" hidden>
                            <i class="fa-solid fa-paste"></i>
                        </button>
                    </div>
                    <button type="submit" class="btn btn-success mt-4 px-5">Verify</button>
                    <div id="mfaError" class="text-danger mt-2"></div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg">
            <div class="modal-body text-center">
                <div class="feedback-container">
                    <div class="panel-heading-btn" style="margin-top: -30px; position: absolute; right: 8px;" data-bs-dismiss="modal">
                        <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal" aria-hidden="true" id="CloseModel">
                            <i class="fa fa-xmark"></i>
                        </a>
                    </div>
                    @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px; background-color:red"></button>*@
                    <h2>Rate Us</h2>
                    <div class="rating">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <textarea id="feedback" placeholder="Leave your feedback here..."></textarea>
                    <button id="btnFeedbackSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
        /* Modal specific styles for FeedbackModal */
    #FeedbackModal .modal-content {
        border-radius: 8px;
    }

    #FeedbackModal .feedback-container {
        padding: 20px;
    }

    #FeedbackModal h2 {
        text-align: center;
    }

    #FeedbackModal .rating {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    #FeedbackModal .star {
        font-size: 50px;
        cursor: pointer;
        color: #ccc;
    }

    #FeedbackModal .star:hover,
    #FeedbackModal .star.selected {
        color: gold;
    }

    #FeedbackModal textarea {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
    }

    #FeedbackModal button {
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #FeedbackModal button:hover {
        background-color: #218838;
    }

    body {
    overflow-x: hidden !important;
}
</style>

<script>
    //WHEN CLOSE MODAL THEN CLEAR ALL CONTENT IN MODAL POPUP
    document.addEventListener('DOMContentLoaded', function () {
        var feedbackModal = document.getElementById('FeedbackModal');
        feedbackModal.addEventListener('hidden.bs.modal', function () {
            document.querySelectorAll('#FeedbackModal .star').forEach(function (star) {
                star.classList.remove('selected');
            });
            document.getElementById('feedback').value = '';
        });
    });



    const feedbackTrigger = document.getElementById('feedbackTrigger');
    const stars = document.querySelectorAll('.star');
    let rating = 0;

    feedbackTrigger.addEventListener('click', () => {
        $('#FeedbackModal').modal('show');
        //feedbackTrigger.style.display = 'none'; // Hide the trigger button
    });

    stars.forEach(star => {
        star.addEventListener('click', () => {
            rating = star.getAttribute('data-value');
            stars.forEach(s => s.classList.remove('selected'));
            for (let i = 0; i < rating; i++) {
                stars[i].classList.add('selected');
            }
        });
    });

    document.getElementById('btnFeedbackSubmit').addEventListener('click', () => {
        debugger;
        var LMSLibraryId = Number($('#hdnLMSLibraryId').val());
        var LMSCategoryId = Number($('#hdnLMSCategoryId').val());
        const feedbackText = document.getElementById('feedback').value;
        var dataToSend = {
            LibraryId: LMSLibraryId,
            CategoryId:LMSCategoryId,
            feedbackText:feedbackText,
            rating:rating
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("saveEmployeeRatingFeedback", "ESS_LMS_SubCategory")',
            data: dataToSend,
            success: function (response) {
                if (response != null) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                        }
                    })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while submitting documents.");
            }
        });


        if (rating > 0 && feedbackText.trim() !== '') {
            //alert(`Thank you for your feedback!\nRating: ${rating}\nComment: ${feedbackText}`);
            // Reset the form
            rating = 0;
            stars.forEach(s => s.classList.remove('selected'));
            document.getElementById('feedback').value = ''; // Clear the textarea
            $('#FeedbackModal').modal('hide'); // Hide the modal
            //feedbackTrigger.style.display = 'block'; // Show the trigger button again
        } else {
            alert('Please provide a rating and feedback before submitting.');
        }
    });
</script>







<script type="text/javascript">
    //Global variable declaration and assignment
    var fileList = @Html.Raw(Json.Encode(TempData["FileList"] ?? new List<object>()));
    var IsDigitalSignature = @Html.Raw(Json.Encode(TempData["IsDigitalSignature"] ?? false));
   
    debugger;
    var ChkEmployeeFinalSubmit = @Html.Raw(Json.Encode(TempData["LMS_EmployeeFinalSubmit"]));
    var isAssessmentActive =false;
    var FinalSubmitDate =  "";
    var IsFinalSubmit = false;
    if (ChkEmployeeFinalSubmit!=null) {
        var jsonChkEmployeeFinalSubmit = {};
        ChkEmployeeFinalSubmit.forEach(function(item) {
            jsonChkEmployeeFinalSubmit[item.Key] = item.Value;
        });
        isAssessmentActive = jsonChkEmployeeFinalSubmit.IsAssessmentActive;
        FinalSubmitDate =  jsonChkEmployeeFinalSubmit.CreatedDate;
        IsFinalSubmit = jsonChkEmployeeFinalSubmit.IsFinalSubmit;
    }

    const date = new Date(+FinalSubmitDate.replace(/\D/g, ''));
    const DatTimeSubmit = date.toLocaleString('en-GB', { hour12: true, hour: '2-digit', minute: '2-digit' });
    const datePart = date.toLocaleDateString('en-GB');
    var FinalSubmitDateTime = `${datePart}, ${DatTimeSubmit}`;
    debugger;
    if (isAssessmentActive === true && IsFinalSubmit===true)
    {
        document.getElementById("btnIsAssesment").hidden = false;  // Show the button
        document.getElementById("divFinalSubmit").hidden = true;
        $("#spnFinalSubmit").html("You have submited this to <b> "+FinalSubmitDateTime+" </b>");
    }

    if (isAssessmentActive === true && IsFinalSubmit===false)
    {
        document.getElementById("btnIsAssesment").hidden = true;
        document.getElementById("divFinalSubmit").hidden = false; // Show the button
    }
    if (isAssessmentActive === false && IsFinalSubmit===false)
    {
        document.getElementById("btnIsAssesment").hidden = true;
        document.getElementById("divFinalSubmit").hidden = false;
    }

</script>

<script>
    //const fileList = @Html.Raw(Json.Encode(TempData["FileList"]));
    const timestamp = new Date().getTime(); // For cache busting

    fileList.forEach((file, index) => {
        const fileType = file.FileType.toUpperCase();
        //const fileSrc = `${file.FileSrc}?v=${timestamp}`;
        const baseSrc = file.FileSrc.replace(/\\/g, "/"); // replace \ with /
        const fileSrc = `${baseSrc}`; // only one query string
        const Title = file.Title;
        const LibraryDocId = file.LibraryDocId;
        var isValid = file.IsReadDocument;
        let iconClass = '';
        switch (fileType) {
            case 'PDF':
                iconClass = 'fa-file-pdf text-danger';
                break;
            case 'JPG':
            case 'JPEG':
            case 'PNG':
                iconClass = 'fa-file-image text-warning';
                break;
            case 'MP4':
            case 'WEBM':
            case 'AVI':
                iconClass = 'fa fa-video-camera';
                break;
            default:
                iconClass = 'fa-file text-secondary';
        }
        // Append to table with preview icon

        const statusIcon = Boolean(isValid)
            ? '<i class="fa fa-check fa-xl" style="color:green;"></i>'
            : '<i class="fa fa-times fa-xl" style="color:red;"></i>';
        $('#fileListTableBody').append(`
        <tr>
            <td hidden>${LibraryDocId}</td>
            <td><i class="fa ${iconClass} fa-lg"></i> &nbsp ${file.Title || 'Unnamed'}</td>
            <td hidden>${fileType}</td>
            <td class="text-center">${statusIcon}</td>
            <td class="text-center">
            <i class="fa fa-eye fa-lg" style="cursor:pointer; color:blue;"
               onclick="previewFile('${fileSrc}', '${fileType}' , '${LibraryDocId}', '${isValid}'  )"></i>
            </td>
        </tr>
    `);

        // Optional: still render thumbnails on the right if needed
        if (fileType === "PDF") {
            $("#PDFfileContainer").append(`
            <div class="pdf-wrapper mb-3" onclick='showPDF("${fileSrc}")'>
                <iframe src="${fileSrc}#toolbar=0&navpanes=0&scrollbar=0" height="100%" width="100%"></iframe>
            </div>
        `);
        }
        if (["JPG", "PNG", "JPEG"].includes(fileType)) {
            $("#ImagefileContainer").append(`
            <div class="image-wrapper mb-3" onclick='showImage("${fileSrc}")'>
                <img src="${fileSrc}" height="200px" width="100%" />
            </div>
        `);
        }
        if (["MP4", "AVI"].includes(fileType)) {
            $("#VideofileContainer").append(`
            <div class="video-wrapper mb-3" onclick='showVideo("${fileSrc}", "${fileType.toLowerCase()}")'>
                <video height="150px" width="100%" id="videoPlayer">
                    <source src="${fileSrc}" id="ViewVideo" type="video/${fileType.toLowerCase()}">
                </video>
            </div>
        `);
        }
    });


    function previewFile(fileSrc, fileType, LibraryDocId,isValid) {
        debugger;
        if (isValid=="true")
        {
            $("#divDocAgree").show();
        }
        if (isValid=="" || isValid=="null")
        {
            $("#divDocAgree").show();
        }
        else{
            $("#divDocAgree").hide();
        }

        document.getElementById('DocagreeCheck').checked = false;
        $('#hdnLibraryDocId').val(LibraryDocId);

        fileType = fileType.toUpperCase();
        if (fileType === "PDF")
        {
            showPDF(fileSrc);
        }
        if (["JPG", "PNG", "JPEG"].includes(fileType))
        {
            showImage(fileSrc);
        }
        if (["MP4", "AVI"].includes(fileType))
        {
            showVideo(fileSrc, fileType.toLowerCase());
        }
    }


    function showPDF(src) {
        debugger;
        var timestamp = new Date().getTime(); // Add timestamp to prevent caching
        const fullSrc = `${src}?v=${timestamp}#toolbar=0&navpanes=0&scrollbar=0`;
        const html = `<iframe src="${fullSrc}" width="100%" height="100%"></iframe>`;
        $('#modalContent1').html(html).css('height', '600px');
        // Create iframe element dynamically
        const iframe = document.createElement('iframe');
        iframe.src = fullSrc;
        iframe.width = '100%';
        iframe.height = '100%';
        iframe.style.border = 'none';

        // Once PDF iframe is loaded, replace loader with iframe
        iframe.onload = function () {
            $('#modalContent1').html(iframe);
        };
        $('#modalContent1').html(html);
        //new bootstrap.Modal('#mediaModal').show();
    }

    function showImage(src) {
        debugger;
       
        const html = `<img src="${src}" class="img-fluid" />`;
        $('#modalContent1').html(html).css('height', '400px');
        $('#modalContent1').html(html);
        //new bootstrap.Modal('#mediaModal').show();
    }

    function showVideo(src, type) {
        const html = `
    <video id="videoPlayer" controls autoplay controlsList="nodownload noplaybackrate" disablePictureInPicture>
        <source src="${src}" type="video/${type}">
        Your browser does not support the video tag.
    </video>`;

        $('#modalContent1').html(html).css('height', '400px');

        const video = document.getElementById('videoPlayer');
        let lastAllowedTime = 0;

        // Track how much the user has watched
        video.addEventListener('timeupdate', function () {
            if (!video.seeking) {
                lastAllowedTime = video.currentTime;
            }
        });
        // Prevent seeking forward
        video.addEventListener('seeking', function () {
            // If user tries to seek forward, block it
            if (video.currentTime > lastAllowedTime + 0.01) {
                video.currentTime = lastAllowedTime;
            }
        });
    }

</script>

<script>
    function submitReadDocumentSure()
    {
        if (!document.getElementById('DocagreeCheck').checked) {
            $("#ErrorDocagreeCheck").html("Please agree to the documents before submitting.");
            $("#divErrorDocagreeCheck").show();
            return;
        } else {
            $("#ErrorDocagreeCheck").html("");
            $("#divErrorDocagreeCheck").hide();
        }
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, do it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $(".Userloaderbg").css("display", "flex");
                submitReadDocument();
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    title: 'Cancelled',
                    text: 'Your action was cancelled.',
                    confirmButtonText: 'OK' // shows OK button
                });
            }
        });
    }

    function submitReadDocument()
    {
        debugger;
        var LMSLibraryId = $('#hdnLMSLibraryId').val();
        var LMSCategoryId = $('#hdnLMSCategoryId').val();
        var LibraryDocId = $('#hdnLibraryDocId').val();
        debugger;
        var dataToSend = {
            LibraryDocId: LibraryDocId,
            CategoryId:LMSCategoryId,
            LibraryId:LMSLibraryId
        };
        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReadDocuments", "ESS_LMS_SubCategory")',
            data: JSON.stringify(dataToSend),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $(".Userloaderbg").css("display", "none");
                if (response != null) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                        }
                    })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while submitting documents.");
            }
        });
    }
    function GoToAssesment() {
        var LMSLibraryId = $('#hdnLMSLibraryId').val();
        var LMSCategoryId = $('#hdnLMSCategoryId').val();

        var url = '@Url.Action("Assesment", "ESS_LMS_SubCategory")' + '?LibraryId=' + LMSLibraryId + '&CategoryId=' + LMSCategoryId;
        window.location.href = url;
    }
</script>

<script>
    function FinalSubmitSure()
    {
        if (!document.getElementById('FinalgreeCheck').checked)
        {
            $("#divErrorFinalgreeCheck").show();
            Swal.fire({
                text: 'Please agree to the before final submitting.',
                icon: 'info',
                allowOutsideClick: false
            });
            return false;
        }
        else
        {
            $("#ErrorFinalgreeCheck").html("");
            $("#divErrorFinalgreeCheck").hide();
        }
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, do it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                let allValid = fileList.every(file => file.IsReadDocument === true);
                //let allValid =true;
                if (allValid)
                {
                    if (IsDigitalSignature)
                    {
                        $(".Userloaderbg").css("display", "flex");
                        $.ajax({
                            url: '@Url.Action("GenerateAndSendEmail", "ESS_LMS_SubCategory")',
                            //url: '/PDF/GenerateAndSendEmail',
                            type: 'POST',
                            contentType: 'application/json',
                            //data: JSON.stringify({ htmlContent: fullContent }),
                            success: function (response) {
                                debugger;
                                $(".Userloaderbg").css("display", "none");
                                if (response.success) {
                                    Swal.fire({
                                        icon: "success",
                                        text: "OTP Email sent successfully!",
                                        allowOutsideClick: false // Disables click outside to close the alert
                                    }).then(() => {
                                        //window.location.reload();
                                        $('#EmailOTPModal').modal({
                                            backdrop: 'static',
                                            keyboard: false
                                        }).modal('show');
                                        return false;
                                    });

                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        text: `Failed to send email: ${response.error}`,
                                        allowOutsideClick: false
                                    }).then(() => {
                                        return false;
                                    });
                                }
                            },
                            error: function () {
                                $(".Userloaderbg").css("display", "none");
                                Swal.fire({
                                    text: 'An error occurred while sending the email.',
                                    icon: 'error',
                                    allowOutsideClick: false
                                });
                            }
                        });
                    }
                    else
                    {
                        FinalSubmit();
                    }
                }
                else
                {
                    $("#divErrorFinalgreeCheck").show();
                    Swal.fire({
                        text: 'Please review all document and then final submit.',
                        icon: 'error',
                        allowOutsideClick: false
                    });
                    //$("#ErrorFinalgreeCheck").html("Please review all document and then final submit.");
                }
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    title: 'Cancelled',
                    text: 'Your action was cancelled.',
                    confirmButtonText: 'OK' // shows OK button
                });
            }
        });

    }


    const inputs = $('.mfa-input');

    // Auto-focus to the next box after entering a digit
    $('.mfa-input').on('keyup', function (e) {
        var $input = $(this);
        // Move focus to next input when one character is entered
        if ($input.val().length === 1) {
            $input.next('.mfa-input').focus();
        }
            // Move focus to previous input on Backspace
        else if (e.key === "Backspace") {
            $input.prev('.mfa-input').focus();
        }
    });

    // Disable normal paste in the MFA input fields
    inputs.on('paste', function (e) {
        e.preventDefault();
    });

    inputs.on('input', function () {
        this.value = this.value.replace(/\D/g, '');
        if (this.value.length === 1) {
            $(this).next('.mfa-input').focus();
        }
    });

    $('#pasteButton').on('click', function () {
        navigator.clipboard.readText().then(function (text) {
            const code = text.trim();

            if (/^\d{6}$/.test(code)) {
                $('.mfa-input').each(function (i) {
                    $(this).val(code[i]);
                });
                $('.mfa-input').last().focus();
                $('#mfaError').text('');
            } else {
                $('#mfaError').text("Clipboard doesn't contain a valid 6-digit code.");
            }
        }).catch(function (err) {
            $('#mfaError').text("Clipboard access denied or not supported.");
        });
    });
    $('#EmailOTP').on('submit', function (e) {
        e.preventDefault();
        var code = '';
        $('.mfa-input').each(function () {
            code += $(this).val();
        });
        if (code.length !== 6 || isNaN(code)) {
            $('#mfaError').text("Please enter a valid 6-digit OTP.");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ValidateCode", "ESS_LMS_SubCategory")',
            data: { code: code },
            success: function (res) {
                debugger;
                if (res.status === "Correct")
                {
                    FinalSubmit();
                    //$('#mfaError').text("Final Submit");
                } else {
                    $('#mfaError').text("Invalid OTP. Please try again.");
                    $('.mfa-input').val(''); // Clear inputs
                    $('.mfa-input').first().focus();
                }
            },
            error: function () {
                $('#mfaError').text("Something went wrong. Please try again.");
            }
        });
    });

    function FinalSubmit()
    {
        debugger;
        var LMSLibraryId = Number($('#hdnLMSLibraryId').val());
        var LMSCategoryId = Number($('#hdnLMSCategoryId').val());

        var dataToSend = {
            LibraryId: LMSLibraryId,
            CategoryId:LMSCategoryId
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("FinalSubmit", "ESS_LMS_SubCategory")',
            data: dataToSend,
            success: function (response) {
                if (response != null) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            //return false;
                            window.location.reload();
                            //window.location.href = '@Url.Action("CategoryView", "ESS_LMS_SubCategory")';
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                        }
                    })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while submitting documents.");
            }
        });
    }
</script>

<script>

</script>
