
@{
    ViewBag.Title = "ESS_PMS_PerformanceApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ratings = ViewBag.ApprovalRatings as IEnumerable<dynamic>;
    dynamic approvalPeriod = ViewBag.ApprovalPeriod;
    dynamic alignment = ViewBag.Alignment;

}


<style>
  

.text-danger {
    margin-top: 4px;
}


        .rating-row {
        background: #f9fafb;
        border-radius: 10px;
        padding: 12px 14px;
        margin-bottom: 12px;
        border-left: 4px solid #2563eb;
    }

    .rating-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .rating-body {
        display: flex;
        gap: 30px;
        font-size: 13px;
        color: #374151;
    }

    .rating-body span,
    .rating-remark span {
        color: #6b7280;
        font-size: 12px;
    }

    .rating-remark {
        margin-top: 6px;
        font-size: 13px;
        color: #374151;
    }

    .status-badge {
        padding: 4px 10px;
        border-radius: 14px;
        font-size: 11px;
        font-weight: 600;
    }

    .status-badge.approved {
        background: #dcfce7;
        color: #15803d;
    }

    .status-badge.rejected {
        background: #fee2e2;
        color: #b91c1c;
    }

     .perf-wrapper {
        max-width: 1100px;
        margin: auto;
        padding-bottom: 40px;
        font-family: 'Segoe UI', sans-serif;
    }

    /* Header */
    .page-title {
        font-size: 20px;
        font-weight: 700;
        color: #1e3a8a;
    }

    /* Icons */
    .icon-btn {
        width: 26px;
        height: 26px;
    }

    /* Employee Card */
    .emp-card {
        padding: 18px;
        border-radius: 12px;
        background: #fff;
    }

    .emp-photo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .emp-name {
        font-size: 18px;
        font-weight: 600;
    }

    .emp-meta span {
        font-size: 12px;
        margin-right: 10px;
        color: #6b7280;
    }

    /* Progress */
    .progress-line {
        background: #e5e7eb;
        height: 6px;
        border-radius: 4px;
        margin: 5px 0;
    }

    .progress-line div {
        height: 6px;
        background: #3b82f6;
    }

    /* Big card */
    .big-card {
        padding: 15px;
        border-radius: 12px;
        background: #fff;
    }

    .block {
        margin-bottom: 12px;
    }

    .block-label {
        font-size: 11px;
        font-weight: 600;
        color: #6b7280;
    }

    .block-value {
        font-size: 14px;
        font-weight: 500;
    }

    /* Section Card */
    .section-card {
        background: #fff;
        border-radius: 12px;
        padding: 18px;
        margin-top: 20px;
        border-left: 4px solid #2563eb;
    }

    .section-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #1e3a8a;
    }

    /* Details */
    .detail-box {
        background: #f9fafb;
        border-radius: 8px;
        padding: 10px 12px;
    }

    .detail-box label {
        font-size: 12px;
        color: #6b7280;
        margin: 0;
    }

    /* Alignment */
    .align-box {
        padding: 12px;
        border-radius: 10px;
        display: flex;
        gap: 10px;
        align-items: flex-start;
        font-size: 14px;
    }

    .align-yes {
        background: #f0fdf4;
        border-left: 4px solid #10b981;
    }

    .icon-green {
        font-size: 22px;
        color: #10b981;
    }

    /* Description */
    .rich-description {
        padding: 10px;
        background: #f9fafb;
        border-radius: 8px;
        font-size: 14px;
    }

    /* Attachments */
    .attach-item {
        margin-right: 20px;
        font-size: 14px;
    }

    /* Logs */
    .log-scroll {
        max-height: 220px;
        overflow-y: auto;
        padding-right: 10px;
    }

    .log-entry {
        background: #eef3ff;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
        border-left: 4px solid #2563eb;
    }

    /* Final Entry */
    .final-label {
        font-size: 13px;
        color: #6b7280;
    }

    .final-value {
        font-weight: 700;
        font-size: 16px;
    }

    /* Approval */
    .approval-actions {
        display: flex;
        gap: 10px;
    }
    .card {
    height:100%;
    }
</style>

<div id="content" class="app-content">
    <div class="perf-wrapper container-fluid">

        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h1 class="page-title">
                    Performance Review
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb-icons"
                        style="list-style:none; padding:0; margin:0; display:flex; align-items:center;">
                        <li style="margin-right:10px;">
                            <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })"
                               title="Home" aria-label="Home">
                                <img src="~/assets/MenuImages/Home.png"
                                     class="icon-btn" alt="Home">
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("ESS_PMS_Menu", "ESS_PMS_Menu",
                                    new { id = 11, ScreenId = 594, area = "ESS" })"
                               title="Back" aria-label="Back">
                                <img src="~/assets/MenuImages/Back.png"
                                     class="icon-btn" alt="Back">
                            </a>
                        </li>
                    </ol>
                </nav>

            </div>
        </div>

        @foreach (var item in ViewBag.EmpObjectiveInfo)
        {
            <div class="row g-3">
                <div class="col-lg-4 col-md-12">
                    <div class="card emp-card shadow-sm">
                        <div class="d-flex align-items-center gap-3">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="emp-photo" />

                            <div>
                                <h3 class="emp-name">@item.EmployeeName</h3>
                                <div class="emp-meta">
                                    <span><i class="far fa-building"></i> @item.DepartmentName</span>
                                    <span><i class="fas fa-user-tie"></i> @item.DesignationName</span> <br />
                                    <span><i class="fas fa-layer-group"></i> @item.GradeName</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <label class="label-sm">Overall Progress</label>
                            <div class="progress-line">
                                <div style="width: @(item.ProgressPercentage > 100 ? 100 : item.ProgressPercentage)%"></div>                            </div>
                            <small>@item.ProgressPercentage% Completed</small>
                        </div>
                    </div>
                </div>

                <!-- RIGHT: OBJECTIVE + TIMELINE -->
                <div class="col-lg-8 col-md-12">
                    <div class="card shadow-sm big-card">
                        <div class="block">
                            <div class="block-label">Objective</div>
                            <div class="block-value">@item.ObjectiveTitle</div>
                        </div>

                        <div class="block">
                            <div class="block-label">KRA</div>
                            <div class="block-value">@item.KRA</div>
                        </div>

                        <div class="block">
                            <div class="block-label">Timeline</div>
                            <div class="block-value">
                                <i class="far fa-calendar"></i> @item.TimeLine
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @foreach (var item in ViewBag.EmpObjectiveInfo)
        {

            <div class="section-card shadow-sm">
                <div class="section-title"><i class="fas fa-info-circle"></i> Key Details</div>

                <div class="row g-3">

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>UOM</label>
                            <div>@item.UOM</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>Target</label>
                            <div>@item.Target</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>Target Type</label>
                            <div>@item.TargetType</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>KPI Category</label>
                            <div>@item.KPICategory</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>KPI Name</label>
                            <div>@item.KPIName</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>Visibility</label>
                            <div>@item.Visibility</div>
                        </div>
                    </div>

                </div>
            </div>

        if (approvalPeriod != null)
        {
            <div class="section-card shadow-sm">
                <div class="section-title">
                    <i class="fas fa-calendar-alt"></i> Approval Period
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>Period</label>
                            <div><strong>@approvalPeriod.PeriodLabel</strong></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>From</label>
                            <div>@approvalPeriod.PeriodFromDate.ToString("dd-MMM-yyyy")</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="detail-box">
                            <label>To</label>
                            <div>@approvalPeriod.PeriodToDate.ToString("dd-MMM-yyyy")</div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="DocId" value="@approvalPeriod.ObjectivePeriodId" />
        }
            
            <div class="section-card shadow-sm">
                <div class="section-title"><i class="fas fa-file-alt summernote"></i> Description</div>

                <div class="rich-description">
                    @Html.Raw(item.Description)
                </div>
            </div>
        }

   @if (alignment != null && !string.IsNullOrEmpty(alignment.AlignWithObjectiveTitle))
   {
    <div class="section-card shadow-sm">
        <div class="section-title">
            <i class="fas fa-link"></i> Alignment
        </div>

        <div class="align-box align-yes">
            <i class="fas fa-check-circle icon-green"></i>
            <div>
                <strong>Aligned With</strong> - @alignment.AlignWithType<br />
                <span style="font-weight:600;">
                    @alignment.AlignWithObjectiveTitle
                </span><br />
                <small class="text-muted">
                    KRA: @alignment.AlignWithKRA
                </small>
            </div>
        </div>
    </div>
   }





        <!-- ========== ATTACHMENTS ========== -->
        @*<div class="section-card shadow-sm">
                <div class="section-title"><i class="fas fa-paperclip"></i> Attachments</div>
                <div class="attachment-row">
                    <a href="#" class="attach-item"><i class="fas fa-file-pdf text-danger"></i> JD Document.pdf</a>
                    <a href="#" class="attach-item"><i class="fas fa-image text-primary"></i> Flowchart.png</a>
                </div>
            </div>*@


        <!-- ========== PERFORMANCE LOGS (SCROLLABLE) ========== -->
        <div class="section-card shadow-sm">
            <div class="section-title"><i class="fas fa-history"></i> Performance History</div>
            <div class="log-scroll">
                @foreach (var d in ViewBag.PerformanceLog)
                {
                    <div class="log-entry">
                        <strong>@d.KraUpdatedDate • @d.PercentageValue%</strong>
                        <p>
                            Actual Value -
                            <strong>@d.ActualValue</strong>
                            (@d.PerformanceStatus)
                        </p>
                        <p>Comment - @d.Comment</p>
                        @if (!string.IsNullOrEmpty(Convert.ToString(d.Attachment)))
                        {
                            var fileName = System.IO.Path.GetFileName(Convert.ToString(d.Attachment));
                            var docId = d.PerformanceId; 

                            <p class="mt-1">
                                <i class="fas fa-paperclip text-secondary"></i>
                                <a href="javascript:void(0);"
                                   class="view-attachment"
                                   data-file="@fileName"
                                   data-docid="@docId"
                                   style="font-size:13px;">
                                    View Attachment
                                </a>
                            </p>
                        }
                    </div>
                }

                @*<div class="log-entry">
                        <strong>05 Feb 2025 • 30%</strong>
                        <p>Initial screening completed</p>
                    </div>

                    <div class="log-entry">
                        <strong>15 Feb 2025 • 45%</strong>
                        <p>Second round interviews done</p>
                    </div>

                    <div class="log-entry">
                        <strong>25 Feb 2025 • 60%</strong>
                        <p>Delay due to client feedback</p>
                    </div>*@
            </div>
        </div>

        @if (ratings != null && ratings.Any())
        {
            <div class="section-card shadow-sm">
                <div class="section-title">
                    <i class="fas fa-user-check"></i> Manager Rating History
                </div>

                @foreach (var r in ViewBag.ApprovalRatings)
                {
                    <div class="rating-row">
                        <div class="rating-header">
                            <div>
                                <strong>Level @r.ApproverLevel</strong> · @r.ApproverName
                            </div>
                            <span class="status-badge @(r.Status == "Approved" ? "approved" : "rejected")">
                                @r.Status
                            </span>
                        </div>

                        <div class="rating-body">
                            <div>
                                <span>Rating:</span>
                                <strong>@r.Rating</strong>
                            </div>
                            <div>
                                <span>Date:</span>
                                @Convert.ToDateTime(r.ApproveRejectDate).ToString("dd-MMM-yyyy")
                            </div>
                        </div>

                        <div class="rating-remark">
                            <span>Remarks:</span> @r.ApproveRejectRemark
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="section-card shadow-sm">
                <div class="section-title">
                    <i class="fas fa-user-check"></i> Manager Rating History
                </div>

                <div class="alert alert-info mb-0">
                    <i class="fas fa-info-circle"></i>
                    No manager ratings available.
                </div>
            </div>
        }


        @foreach (var item in ViewBag.EmpObjectiveInfo)
        {
            <div class="section-card shadow-sm">
                <div class="section-title"><i class="fas fa-edit"></i> Final Entry</div>

                <div class="row g-3 text-center">

                    <!-- Target -->
                    <div class="col-md-4">
                        <div class="detail-box">
                            <label class="final-label">Target</label>
                            <div class="final-value">@item.Target</div>
                        </div>
                    </div>

                    <!-- Achieved -->
                    <div class="col-md-4">
                        <div class="detail-box">
                            <label class="final-label">Achieved</label>
                            <div class="final-value">@item.ActualValue</div>
                        </div>
                    </div>

                    <!-- Manager Editable -->
                    <div class="col-md-4">
                        <div class="detail-box">
                            <label class="final-label">Manager Final Value</label>
                            <input type="number" id="ManagerRating" class="form-control text-center"
                                   step="0.01" min="0">                            <span class="text-danger small d-none" id="errManagerRating">
                                Required
                            </span>
                        </div>
                    </div>

                </div>

                <!-- Remarks Full Width -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="final-label">Manager Remarks</label>
                        <textarea id="ManagerRemark" class="form-control" rows="3"></textarea>
                        <span class="text-danger small d-none" id="errManagerRemark">
                            Manager remarks are required
                        </span>
                    </div>
                </div>            </div>

        }
        @if (ViewBag.CurrentApproval != null)
        {
            foreach (var id in ViewBag.CurrentApproval)
            {
                <input type="hidden" id="DocId"
                       value="@id.ObjectivePeriodId" />
            }

        }

        <!-- ========== APPROVAL ========== -->
        <div class="section-card shadow-sm mb-5">
            <div class="section-title"><i class="fas fa-clipboard-check"></i> Approval Decision</div>

            <div class="approval-actions">
                <button class="btn btn-success btn-sm" id="btnApprove">
                    <i class="fa fa-check"></i> Approve
                </button>
                <button class="btn btn-danger btn-sm" id="btnReject">
                    <i class="fa fa-times"></i> Reject
                </button>
            </div>
        </div>

    </div>
</div>


<script>

$("#btnApprove, #btnReject").click(function () {
    debugger;
        $(".text-danger").addClass("d-none");
        $(".form-control").removeClass("border-danger");

        let managerRating = $("#ManagerRating").val().trim();
        let managerRemark = $("#ManagerRemark").val().trim();

        let isValid = true;

        if (managerRating === "") {
            $("#errManagerRating").removeClass("d-none");
            isValid = false;
        }

        if (managerRemark === "") {
            $("#errManagerRemark").removeClass("d-none");
            isValid = false;
        }

        if (!isValid) {
            return;
        }

        let status = $(this).attr("id") === "btnApprove" ? "Approved" : "Rejected";

        Swal.fire({
            title: "Are you sure?",
            text: "Do you want to " + status.toLowerCase() + " this appraisal?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, " + status,
            cancelButtonText: "Cancel"
        }).then((result) => {

            if (!result.isConfirmed) {
                return;
            }

        // ===== SAVE =====
        $.ajax({
            url: '@Url.Action("ESS_PMS_PerformanceApproval")',
            type: "POST",
            data: {
                DocId: $("#DocId").val(),
                ManagerRating: managerRating,
                Remark: managerRemark,
                Status: status
            },
            success: function () {
                window.location.href = '@Url.Action("GetList", "ESS_PMS_PerformanceApproval", new { Area = "ESS" })';
            }
        });
    });
});


   
$(document).on("click", ".view-attachment", function () {
    debugger;

    var fileName = $(this).data("file");
    var docId = $(this).data("docid");

    if (!fileName || !docId) {
        Swal.fire("Error", "Attachment not found", "error");
        return;
    }

    var url = '@Url.Action("ViewPerformanceAttachment", "ESS_PMS_PerformanceApproval")'
              + '?docId=' + docId
              + '&fileName=' + encodeURIComponent(fileName);

    window.open(url, "_blank");
});


</script>
