@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_OtherDeduction
@{
    ViewBag.Title = "Module_Payroll_OtherDeduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*.dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td{

          background-color:white !important;
        }*/
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Variable Deduction
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu", new {id = 6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Variable Deduction </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add variable deduction here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Module_Payroll_OtherDeduction", "Module_Payroll_OtherDeduction", new { area = "Module" })' id="SaveOtherDeduction" method="post" enctype="multipart/form-data" }">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.VariableDeductionCmpId, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { id = "ddlCmpID", @class = "form-select", name = "VariableDeductionCmpId" })
                                                @Html.ValidationMessageFor(model => model.VariableDeductionCmpId, "", new { @class = "help-block", @id = "ErrorVariableDeductionCmpId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.VariableDeductionBranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "All", new { id = "ddlOtherDeductionBranchID", @class = "form-select", name = "VariableDeductionBranchId" })
                                                @Html.ValidationMessageFor(model => model.VariableDeductionBranchId, "", new { @class = "help-block", @id = "ErrorVariableDeductionBranchId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name

                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.VariableDeductionEmployeeId, new SelectList(ViewBag.GetEmployeeList, "Id", "Name"), "All", new { id = "ddlOtherDeductionEmployeeId", @class = "form-select", autocomplete = "off", name = "VariableDeductionEmployeeId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Month /Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-control", type = "month", id = "dateOtherEarningMonthYear", autocomplete = "Off", Name = "MonthYear" })
                                                @Html.ValidationMessageFor(model => model.MonthYear, "", new { @class = "help-block", @id = "ErrorMonthYear", @style = "color:red" })
                                                @Html.HiddenFor(model => model.VariableDeductionId_Encrypted, new { id = "VariableDeductionId_Encrypted" })
                                                @Html.HiddenFor(model => model.VariableDeductionId, new { id = "VariableDeductionId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Deduction Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.VariableHead, new SelectList(ViewBag.GetHeadVariable, "Id", "Name"), "--Select--", new { id = "ddlVariableHead", @class = "form-select", autocomplete = "off", name = "VariableHead" })
                                                @Html.ValidationMessageFor(model => model.VariableHead, "", new { @class = "help-block", @id = "ErrorVariableHead", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Deduction Sub-Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.OtherDeductionName, new SelectList(ViewBag.GetOtherDeductionName, "Id", "Name"), "--Select--", new { id = "ddlOtherDeductionName", @class = "form-select", autocomplete = "off", name = "OtherDeductionName" })
                                                @Html.ValidationMessageFor(model => model.OtherDeductionName, "", new { @class = "help-block", @id = "ErrorOtherDeductionName", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" id="btnLoadEmployee" onclick="GetOtherEarning('Normal')"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-thin fa-user-magnifying-glass"></i>Show
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4"> Import File </label>
                                            <div class="col-md-8">
                                                <input type="file" name="AttachFile" class="form-control" id="FileVariableDeduction" onchange="ResetFile()" />
                                                <span id='validationMessage_' style='color: red;'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row mb-15px">
                                            <div class="col-md-12">
                                                <button type="button" id="" onclick="GetOtherEarning('Excel')"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Import
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                @*<a href="~/assets/BulkUpload/VariableDeduction.xlsx">~/assets/BulkUpload/VariableDeduction.xlsx</a>*@
                                                <a href="~/assets/BulkUpload/VariableDeduction.xlsx" type="button" class="btn btn-success btn-sm">
                                                    <i class="fa-solid fa-download"></i>
                                                </a>
                                                Download Excel Format
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-6">
                                                    Download Excel Format
                                                    <a href="~/assets/BulkUpload/Candidate_Bulk_Upload.xlsx" type="button" class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-download"></i>
                                                    </a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>*@

                            </form>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN table-responsive -->
                                    <div class="table-scroll div1">
                                        <div class="table-wrap">
                                            <table class="table table-bordered align-middle tblAddData TablePageDeduction" id="tblOtherEarningHead" style="width: 100%;">
                                                <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                    <tr class="text-center">
                                                        <th class="text-center"><input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" /> &nbsp; All</th>
                                                        <th class="text-nowrap"> Employee No</th>
                                                        <th class="text-nowrap"> Employee Name </th>
                                                        <th class="text-nowrap">Deduction Name </th>
                                                        <th class="text-nowrap">Deduction Sub-Category </th>
                                                        <th class="text-nowrap"> Amount</th>
                                                        <th class="text-nowrap"> Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblEmployeeListOther">
                                                    @foreach (var d in ViewBag.GetOtherDeductionEmployeeLoad)
                                                    {
                                                        <tr>
                                                            <td class="text-nowrap text-center"><input type="checkbox" class="form-check-input" @*onchange="AmountSum()"*@/></td>
                                                            <td class="text-nowrap">@d.EmployeeNo</td>
                                                            <td class="text-nowrap">@d.EmployeeName</td>
                                                            <td class="text-nowrap">@d.CategoryName</td>
                                                            <td class="text-nowrap">@d.SubCategoryName</td>

                                                            @if (d.Amount != null)
                                                            {
                                                                <td class="text-nowrap"><input type='number' autocomplete='Off' id='txttableAmount' style="text-align:right; height:23px; width:100%" class='form-control Amounttxt' @*onkeyup='AmountSum()'*@ value="@d.Amount"></td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-nowrap"><input type='number' autocomplete='Off' id='txttableAmount' style="text-align:right; height:23px; width:100%" class='form-control Amounttxt' @*onkeyup='AmountSum()'*@></td>
                                                            }

                                                            @if (d.Remark != null)
                                                            {
                                                                <td class="text-nowrap"><input type="text" id='txttableRemark' style="height:23px;" maxlength="150" class='form-control Remarktxt' value="@d.Remark"></td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-nowrap"><input type="text" id='txttableRemark' style="height:23px;" maxlength="150" class='form-control Remarktxt'></td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Total Record  :
                                        </label>

                                        <div class="col-md-9">
                                            <input type='text' id='lblTotalRecord' class='form-control' readonly="readonly" style="background:#eee">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Total Amount :
                                        </label>
                                        <div class="col-md-9">
                                            <input type='text' id='lblTotalAmount' class='form-control' readonly="readonly" style="background:#eee">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Amount
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control totalAmount", type = "text", id = "txtOtherDeductionAmount", Name = "Amount", @style = "text-align:right", onkeypress = " return numbervalidate(event)", autocomplete = "Off" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Remark
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", type = "text", id = "txtOtherDeductionRemarks", autocomplete = "Off", Name = "Remarks" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="BtnBx">
                                        <div>
                                            <button type="button" id="btnApply" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-floppy-disk"></i> Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnTotal" onclick="AmountSum()" class="btn btn-secondary btn-sm">
                                                        <i class="fa-solid fa-calculator"></i> Calsulate Sum
                                                    </button>
                                                    <button type="button" id="btnSubmit" onclick="funSave()"class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>
                                                    <a href="@Url.Action("GetList", "Module_Payroll_OtherDeduction", new { area = "Module" })">
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnGetOtherEarningList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<!-- #Start modal-dialog  myEmployeeNoModal-->
<div class="modal fade" id="myEmployeeNoModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Variable deduction for this category and month is already added.</h4>

            </div>
            <div style="height:400px; overflow-y:auto">
                <div class="modal-body">
                    <!-- BEGIN panel -->
                    <div class="modal-body-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered tblInnerAddData TabledataClass" id="tblHeadEmployeeNo" style="width: 100%">

                                        <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr>
                                                <th class="text-nowrap">Company Name </th>
                                                <th class="text-nowrap">Business Unit </th>
                                                <th class="text-nowrap">Employee No</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Department Name</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblEmployeeNo"></tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="tableToExcelEmployeeNo('testTable', 'EmployeeNo')" value="Export to Excel">
                    <i class="fa-solid fa-share-from-square"></i> Export to Excel
                </button>
                <button type="button" class="btn btn-danger btnpress CloseModel" id="CloseModel" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(document).ready(function () {
        $("#ddlOtherDeductionEmployeeId").select2();
        $("#ddlCmpID").select2();
        $("#ddlOtherDeductionBranchID").select2();
        $("#ddlOtherDeductionName").select2();
        $("#ddlVariableHead").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }

        $('.TablePageDeduction').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
        });

        $("#ddlCmpID").on("change", function () {
            $("#ddlOtherDeductionBranchID").find("option").remove();
            $("#ddlVariableHead").find("option").remove();
            var CmpId = $("#ddlCmpID").val();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Module_Payroll_OtherDeduction")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data.BranchName !=null) {
                        $("#ddlOtherDeductionBranchID").append("<option value=''>All</option>");
                        $.each(data.BranchName, function(i, p) {
                            $("#ddlOtherDeductionBranchID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }

                    if (data.GetVeriableHead !=null) {
                        $("#ddlVariableHead").append("<option value=0>--Select-- </option>");
                        $.each(data.GetVeriableHead, function(i, p) {
                            $("#ddlVariableHead").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })


        $("#ddlVariableHead").on("change", function () {
            $("#ddlOtherDeductionName").find("option").remove();
            var VariableName = $("#ddlVariableHead").val();
            var CmpId= $("#ddlCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetOtherDeductionName", "Module_Payroll_OtherDeduction")',
                data: { VariableName: VariableName,CmpId:CmpId },
                success: function (data) {
                    if (data !=null) {
                        //$("#ddlOtherDeductionName").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlOtherDeductionName").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })


        $("#ddlOtherDeductionBranchID").on("change", function () {
            debugger
            $("#ddlOtherDeductionEmployeeId").find("option").remove();
            var BranchId = $("#ddlOtherDeductionBranchID").val();
            var CmpId = $("#ddlCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Module_Payroll_OtherDeduction")',
                data: { BranchId: BranchId,CmpId:CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlOtherDeductionEmployeeId").append("<option value=''>All </option>");
                        $.each(data, function(i, p) {
                            $("#ddlOtherDeductionEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        var today = new Date();
        // Format the date as YYYY-MM (year-month)
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var defaultMonth = yyyy + '-' + mm;
        // Set the value of the input element to the default month
        var CheckEmptyDate = document.getElementById('dateOtherEarningMonthYear').value;
        if (CheckEmptyDate == "") {
            document.getElementById('dateOtherEarningMonthYear').value = defaultMonth;
        }
        var GetOtherEarningEmployeeLoad = @Html.Raw(Json.Encode(ViewBag.GetOtherDeductionEmployeeLoad));
        var OtherEarninglength=GetOtherEarningEmployeeLoad.length;
        debugger;
        if(GetOtherEarningEmployeeLoad=="")
        {
            $("#lblTotalRecord").val("0");
        }
        else{
            $("#lblTotalRecord").val(OtherEarninglength);
        }


        var GetOtherDeductionEmployeeLoad = @Html.Raw(Json.Encode(ViewBag.GetOtherDeductionEmployeeLoad));

        if (GetOtherDeductionEmployeeLoad != null && GetOtherDeductionEmployeeLoad.length > 0) {
            debugger;

            // Initialize total amount
            var totalAmount = Number($("#lblTotalAmount").val()) || 0;

            // Loop through the array
            for (var i = 0; i < GetOtherDeductionEmployeeLoad.length; i++) {

                // Parse the amount for the current item
                var groupAmount = Number(GetOtherDeductionEmployeeLoad[i].Amount) || 0;

                // Add the amount to the total
                totalAmount += groupAmount;
            }

            // Update the label with the final total
            $("#lblTotalAmount").val(totalAmount);
        }


    });//Ready Funcation

    // use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#SaveOtherDeduction').validate({
        rules: {
            VariableDeductionCmpId: {
                required: true,
            },
            //VariableDeductionBranchId: {
            //    required: true,
            //},

            MonthYear: {
                required: true,
            },
            VariableHead: {
                required: true,
            },
            OtherDeductionName: {
                required: true,
            },
        },
        messages: {
            VariableDeductionCmpId: {
                required: "Company name is required",
            },
            //VariableDeductionBranchId: {
            //    required: "Business unit is required",
            //},
            MonthYear: {
                required: "Paid Month /Year is required",
            },
            VariableHead: {
                required: "Deduction name is required",
            },
            OtherDeductionName: {
                required: "Deduction sub-category is required",
            },
        },
    });


    //$('#SaveOtherDeduction').validate({
    //    rules: {
    //        AttachFile: {
    //            required: true,
    //        },
    //    },
    //    messages: {
    //        AttachFile: {
    //            required: "File is required",
    //        },
    //    },
    //});

    var formNormal = $("#SaveOtherDeduction");
    formNormal.validate();

    //var formExcel = $("#SaveOtherDeduction");
    //formExcel.validate();
    function GetOtherEarning(Process) {
        debugger;
        $('#tblEmployeeListOther tr').not(function(){ return !!$(this).has('th').length; }).remove();
        if(Process=="Excel")
        {
            //formExcel.valid();
            //if (formExcel.valid() == false) {
            //    //$("#dateOtherEarningMonthYear").removeClass("error");
            //    return false;
            //}
            var fileInput = document.getElementById('FileVariableDeduction');
            var files = fileInput.files;

            // Check if a file is selected
            if (files.length > 0) {
                var fileName = files[0].name;
                $("#validationMessage_").html("");
            } else {
                $("#validationMessage_").html("Choose a file");
                return false;
            }
        }
        else{
            formNormal.valid();
            if (formNormal.valid() == false) {
                $("#dateOtherEarningMonthYear").removeClass("error");
                return false;
            }
        }

        $(".Userloaderbg").css("display", "flex");
        $("#SaveOtherDeduction").submit();
    }



    function funSave() {
        debugger;
        //formNormal.valid();
        //if (formNormal.valid() == false) {
        //    $("#dateOtherEarningMonthYear").removeClass("error");
        //    return false;
        //}
        //$("#SelectAll").prop("checked", false);
        var CmpId = $("#ddlCmpID").val();
        var BranchID = $("#ddlOtherDeductionBranchID").val();
        var MonthYear = $("#dateOtherEarningMonthYear").val();
        var VariableHead=$("#ddlVariableHead").val();
        var OtherDeductionName=$("#ddlOtherDeductionName").val();

        if (CmpId!="")
        {
            $("#ErrorVariableDeductionCmpId").html("");
        }
        else
        {
            $("#ErrorVariableDeductionCmpId").html("Company Name is required");return false;
        }


        if (MonthYear!="")
        {
            $("#ErrorMonthYear").html("");
        }
        else
        {
            $("#ErrorMonthYear").html("Month Year is required");return false;
        }
        var ObjDeduction = [];

        // Iterate through checked checkboxes in the table body only
        $('#tblEmployeeListOther :checkbox:checked').each(function () {
            var row = $(this).closest('tr'); // Get the closest row
            var data = {
                EmployeeNo: row.find('td').eq(1).text(), // Hidden column
                CategoryName: row.find('td').eq(3).text(), // Hidden column
                SubCategoryName: row.find('td').eq(4).text(), // Hidden column
                //OtherDeductionName: row.find('td').eq(5).find('input').val(), // Input value
                Amount: row.find('td').eq(5).find('input').val(),
                Remark: row.find('td').eq(6).find('input').val(),
            };

            // Push the data object to the array
            ObjDeduction.push(data);
        });

        if (ObjDeduction.length==0)
        {
            var Message="Select atleast one employee";
            var Icon="error";
            if (Message != null) {
                if (Message != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)

                            return false
                        }
                    })
                    return false;
                }
            }
        }
        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdate", "Module_Payroll_OtherDeduction")',
            data: JSON.stringify({ ObjDeduction: ObjDeduction, CmpId: CmpId, MonthYear: MonthYear}),
            ///data: JSON.stringify({ ObjDeduction: ObjDeduction, CmpId: CmpId, MonthYear: MonthYear,BranchID:BranchID,VariableHead:VariableHead ,OtherDeductionName:OtherDeductionName}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var GetListEmployeeNo=data.GetListEmployeeNo;
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if(GetListEmployeeNo!=undefined)
                {
                    $(".Userloaderbg").css("display", "none");
                    if (GetListEmployeeNo.length>0) {
                        $('#myEmployeeNoModal').modal('show');
                    }
                    else
                    {
                        $('#myEmployeeNoModal').modal('hide');
                    }
                    $('#tblEmployeeNo tr').not(function(){ return !!$(this).has('th').length; }).remove();
                    if (GetListEmployeeNo != null) {
                        for (var i = 0; i <= GetListEmployeeNo.length; i++) {
                            var table = document.getElementById("tblEmployeeNo");
                            var rowCount = table.rows.length;
                            var row = table.insertRow(rowCount);
                            var count = $('#tblEmployeeNo tr').length;
                            var Pin=GetListEmployeeNo[i];
                            for (var j = 0; j <= Pin.length; j++) {

                                if (j >= Pin.length) { continue; }
                                var PinKey=Pin[j].Key;
                                var PinValue=Pin[j].Value;

                                if(PinKey=="Company")
                                {
                                    row.insertCell(0).innerHTML = "" + PinValue + "";
                                }
                                else
                                {
                                    //row.insertCell(1).innerHTML="";
                                }
                                if(PinKey=="BU")
                                {
                                    row.insertCell(1).innerHTML = "" +PinValue + "";
                                }
                                else
                                {
                                    //row.insertCell(2).innerHTML="";
                                }
                                if(PinKey=="EmployeeNo")
                                {
                                    row.insertCell(2).innerHTML = "" + PinValue + "";
                                }
                                else
                                {
                                    //row.insertCell(3).innerHTML="";
                                }
                                if(PinKey=="Employee")
                                {
                                    row.insertCell(3).innerHTML = "" + PinValue + "";
                                }
                                else
                                {
                                    //row.insertCell(4).innerHTML="";
                                }
                                if(PinKey=="DepartmentName")
                                {
                                    row.insertCell(4).innerHTML = "" + PinValue + "";
                                }
                                else
                                {
                                    //row.insertCell(5).innerHTML="";
                                }
                            }

                        }
                    }
                }
                if (data != null) {

                    if (Icon1=="error")
                    {
                        $(".Userloaderbg").css("display", "none");
                        if (data != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                });
                            }
                            // location.reload();
                        }
                    }
                    else
                    {
                        if (data != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '@Url.Action("Module_Payroll_OtherDeduction", "Module_Payroll_OtherDeduction")';
                                    } else if (
                                        /* Read more about handling dismissals below */
                                        result.dismiss === Swal.DismissReason.cancel
                                    ) {

                                    }
                                })
                            }
                            // location.reload();
                        }
                    }
                    // location.reload();
                }
            }
        });
    }
</script>


<script>

</script>


<script>
    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

    $("#btnApply").click(function () {
        debugger;
        //For  Amonut===============================================
        var table = document.getElementById("tblEmployeeListOther");
        var rowCount = table.rows.length;
        var txtAmount = $("#txtOtherDeductionAmount").val(); // Get once outside the loop

        for (var i = 0; i < rowCount; i++) {
            var row = table.rows[i];
            var checkbox = row.cells[0].querySelector("input[type='checkbox']");
            var amountInput = row.cells[5].querySelector("input[type='number']");

            if (checkbox && checkbox.checked) {
                if (amountInput) {
                    amountInput.value = txtAmount; // Always overwrite
                }
            }
        }

        // Clear the input after applying
        $("#txtOtherDeductionAmount").val("");




        //var table = document.getElementById("tblEmployeeListOther");
        //var rowCount = table.rows.length;
        //for (i = 0; i <= rowCount-1; i++) {
        //    var LblValue = table.rows.item(i).cells;
        //    var ValueAmount= LblValue[3].firstChild.value;

        //    if(ValueAmount!="")
        //    {
        //        $(".Amounttxt").val();
        //    }
        //    else
        //    {
        //        var txtAmount=$("#txtOtherDeductionAmount").val();
        //        $(".Amounttxt").val(txtAmount);

        //        $("#txtOtherDeductionAmount").val("");
        //    }
        //}

        //For  Remark============================================================
        var tableRemark=  $("#txttableRemark").val();
        if(tableRemark!=" ")
        {
            $(".Remarktxt").val();
        }
        else{
            var txtRemark=$("#txtOtherDeductionRemarks").val();
            $(".Remarktxt").val(txtRemark);
            $("#txtOtherDeductionRemarks").val("");
        }

        //For Total Amount==========================================================
        //AmountSum();
        //var table = document.getElementById("tblEmployeeListOther");
        //debugger;
        //$("#lblTotalAmount").val("");
        //var rowCount = table.rows.length;
        //for (i = 0; i <= rowCount-1; i++) {

        //    var lblValueAmount=$("#lblTotalAmount").val();
        //    var LblValue = table.rows.item(i).cells;
        //    var ValueAmount=OtherEarningEarningremarks =LblValue[3].firstChild.value;
        //    var sum= 0;
        //    var AmountA = Number(lblValueAmount);
        //    var AmountB = Number(ValueAmount);
        //    var sum = AmountA+AmountB;
        //    $('#lblTotalAmount').val(sum);
        //}

    })
   

    function AmountSum(){
        debugger;
        $('#lblTotalAmount').val("");
        var table = document.getElementById("tblOtherEarningHead");
        var rowCount = table.rows.length;
        var sum = 0;
        for (var i = 1; i < rowCount; i++) { // start from 1 to skip header row
            var row = table.rows[i];
            // Get checkbox in the first column
            var checkbox = row.cells[0].querySelector("input[type='checkbox']");
            if (checkbox && checkbox.checked) {
                // Get the input inside the 6th column (index 5)
                var input = row.cells[5].querySelector("input[type='number']");
                if (input) {
                    var value = parseFloat(input.value) || 0;
                    sum += value;
                }
            }
        }
        // Set the total value
        $('#lblTotalAmount').val(sum);



        //var table = document.getElementById("tblEmployeeListOther");
        //debugger;
        //var rowCount = table.rows.length;
        //for (i = 0; i <= rowCount-1; i++) {

        //    var lblValueAmount=$("#lblTotalAmount").val();
        //    var LblValue = table.rows.item(i).cells;
        //    var ValueAmount=OtherEarningEarningremarks =LblValue[5].childElementCount;
        //    //var ValueAmount=OtherEarningEarningremarks =LblValue[3].chile.value;
        //    var sum= 0;
        //    var AmountA = Number(lblValueAmount);
        //    var AmountB = Number(ValueAmount);
        //    var sum = AmountA+AmountB;
        //    $('#lblTotalAmount').val(sum);
        //}
    }

</script>
