@model KompassHR.Areas.Reports.Models.ActualLogReportFilter
@{
    ViewBag.Title = "ESS_TimeOffice_ManualAttendanceUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.0/dist/xlsx.full.min.js"></script>


<style>
    .Col-md-2 {
        margin: 10px 0;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    #tblManualUploadItems input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblManualUploadItems input[type="number"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblManualUploadItems input[type="datetime-local"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblManualUploadItems tbody tr td {
        padding: 4px;
    }
</style>
<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Manual Attendance Upload
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Manual Attendance Upload  </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action='@Url.Action("ESS_TimeOffice_ManualAttendanceUpload", "ESS_TimeOffice_ManualAttendanceUpload", new { area = "ESS" })' method="post" enctype="multipart/form-data" id="SaveManualUpload">
                                    @*<form role="form" action="/ESS//" id="SaveManualUpload" method="post" enctype="multipart/form-data" }>*@
                                        <div class="row">
                                            <div class="col-md-2">
                                                <a href="@Url.Content("~/assets/BulkUpload/Manual_Attendance.xlsx")">
                                                    @*<a href="/ESS_TimeOffice_ManualAttendanceUpload/DownloadFile/">*@
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa-regular fa-file-excel fa-xl"></i>
                                                        Download Excel
                                                    </button>
                                                </a>
                                            </div>

                                            <div class="col-md-4">
                                                @*<input id="fileupload" type=file name="files[]" class="form-control" style="width:300px">*@
                                                <input type="file" name="AttachFile" class="form-control" id="txtAttachFile" onchange="ResetFile()" />
                                                <span id="ErrorFile" class="error" style="color:red"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-sm btn-danger" id="btnfileupload">Import</button> &nbsp; &nbsp;
                                            </div>
                                        </div>
                                        <hr />
                                        @*<div class="row">
                    <div class="LastShortLeaveBx">
                        <div class="row">
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-2">
                                <div class="BtnBx">
                                    <div>
                                        <button type="button" class="btn btn-success" id="btn" onclick="ManualUploadSave()">
                                            <i class="fa-regular fa-file-excel fa-xl"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                                    </form>
</div>
                        </div>
                        <div class="row">

                            <button type="button" class="btn btn-success btn-sm" style="margin-left:25px; width:60px" onclick="addRow()">
                                <i class="fas fa-plus"></i> Add
                            </button>
                        </div>
                        <div>
                            <div class="panel-body">
                                <div class="w3-responsive" style="height:400px; overflow-y:auto">
                                    <table id="tblManualUploadItems" class="table table-bordered w3-table-all w3-hoverable">
                                        <thead style="position: sticky;top:0; z-index: 1; background-color:#eee; border:gray">
                                            <tr class="trheading">
                                                <th class="text-start text-center">Action</th>
                                                <th class="text-start text-center">Sr.No.</th>
                                                <th class="text-start text-center">Employee No</th>
                                                @*<th class="text-start text-center">Employee Card</th>*@
                                                <th class="text-start text-center">Date In-Time</th>
                                                <th class="text-start text-center">Date Out-Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (ViewBag.GetExceldata != null)
                                            {
                                                int SrNo = 0;
                                                foreach (var d in ViewBag.GetExceldata)
                                                {
                                                    SrNo++;
                                                    <tr>
                                                        <td class="text-center" style="background-color:#eee"><i class="fa-regular fa-trash-can fa-xl" onclick="removeRow(this)" id="btnDelete" style="color:#ff5b57"></i></td>
                                                        <td class="text-center" style="background-color:#eee">@SrNo</td>
                                                        <td><input id=txtAtten type=text name=txtAtten class=form-control value=@d.EmployeeNo></td>
                                                        @*<td><input id=txtNumber type="number" readonly=readonly  name="txtAtten" class="form-control txtNumber" max="10" value=@d.EmployeeCardNo></td>*@
                                                        <td><input id=txtAttenINTime type="datetime-local" name=txtAtten class=form-control value=@d.InTime></td>
                                                        <td><input id=txtAttenOutTime type="datetime-local" name=txtAtten class=form-control value=@d.OutTime></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-10">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSave" class="btn btn-success">
                                                    @*onclick="ManualUploadSave()"*@
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });//Ready Funcation
</script>

<script>
    $("#btnfileupload").click(function(){
        debugger;
        var fileInput = document.getElementById('txtAttachFile');
        if (fileInput.files.length === 0) {
            Swal.fire({
                icon:  "error",
                text: "Please import excel file",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        $(".Userloaderbg").css("display","flex");
        $('#tblManualUploadItems').not(function(){return!!$(this).has('th').length;}).remove();
        $("#SaveManualUpload").submit();
    })

    $("#btnSave").click(function () {
        //function ManualUploadSave() {
        debugger;
        var hasError = true;
        var table = document.getElementById("tblManualUploadItems");
        var rowCount = table.rows.length;
        if (rowCount <= 1)
        {
            $("#ErrorFile").html("Please import file first");
            return false;
        }
        else
        {
            $("#ErrorFile").html("");
        }
        var ObjManualAttendance = [];
        $("#tblManualUploadItems tbody tr").each(function (index) {

            var row = $(this);
            var varEmployeeNo = row.find("td").eq(2).find("input").val();
            //data1.EmployeeCardNo = row.find("td").eq(3).find("input").val();
            var varInTime = row.find("td").eq(3).find("input").val();
            var varOutTime = row.find("td").eq(4).find("input").val();

            var SrNo = index+1;

            if(varEmployeeNo=="")
            {
                Swal.fire({
                    text: 'Please Enter EmployeeNo In Sr.no. '+SrNo+'',
                    icon: 'error',
                });
                hasError = false;
                return false;
            }
            //else if(data1.EmployeeCardNo=="")
            //{
            //    Swal.fire({
            //        text: 'Please Enter EmployeeCardNo In Sr.no. '+SrNo+'',
            //        icon: 'error',
            //    });
            //    return false;
            //}
            else if(varInTime=="" && varOutTime=="")
            {
                Swal.fire({
                    text: 'Please Enter Date-InTime Or OutTime In Sr.no. '+SrNo+'',
                    icon: 'error',
                });
                hasError = false;
                return false;
            }
            //else if(varOutTime=="")
            //{
            //    Swal.fire({
            //        text: 'Please Enter Date-OutTime In Sr.no. '+SrNo+'',
            //        icon: 'error',
            //    });
            //    hasError = false;
            //    return false;
            //}
            const IN_fromDate = new Date(varInTime);
            const IN_year = IN_fromDate.getFullYear();
            const IN_month = IN_fromDate.getMonth() + 1; // getMonth() returns 0-11, so we add 1
            const IN_date = IN_fromDate.getDate();
            var InDateTime = IN_year +"-"+ IN_month +"-" +IN_date

            // IN Time
            const IN_hours = IN_fromDate.getHours();
            const IN_minutes = IN_fromDate.getMinutes();

            const OUT_fromDate = new Date(varOutTime);
            const OUT_year = OUT_fromDate.getFullYear();
            const OUT_month = OUT_fromDate.getMonth() + 1; // getMonth() returns 0-11, so we add 1
            const OUT_date = OUT_fromDate.getDate();

            var OUTDateTime = OUT_year +"-"+ OUT_month +"-" +OUT_date
            // OUT Time
            const OUT_hours = OUT_fromDate.getHours();
            const OUT_minutes = OUT_fromDate.getMinutes();

            const inDate = new Date(InDateTime);
            const outDate = new Date(OUTDateTime);

            // Compare the Date objects
            if (InDateTime == OUTDateTime)
            {
                var myDateInTime = new Date(varInTime);
                var nineAMInTime = new Date(myDateInTime);
                nineAMInTime.setHours(5, 0, 0, 0);

                var myDateOutTime = new Date(varOutTime);
                var nineAMOutTime = new Date(myDateOutTime);
                nineAMOutTime.setHours(5, 0, 0, 0);

                if (myDateInTime < nineAMInTime) {
                    Swal.fire({
                        icon: "error",
                        text: "In-time should not be less than 5:00 AM in sr.no: "+SrNo+"",
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    hasError = false;
                    return false;
                }
                if (myDateOutTime < nineAMOutTime) {
                    Swal.fire({
                        icon: "error",
                        text: "Out-time should not be less than 5:00 AM in sr.no: "+SrNo+"",
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    hasError = false;
                    return false;
                }
            }
            if (outDate < inDate) {

                Swal.fire({
                    icon: "error",
                    text: "OutDateTime should not be less than InDateTime in sr.no: "+SrNo+"",
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
                hasError = false;
                return false;
            }

            if (outDate > inDate) {
                var myDateTime = new Date(varOutTime);
                var nineAM = new Date(myDateTime);
                nineAM.setHours(9, 0, 0, 0);
                if (myDateTime > nineAM) {
                    Swal.fire({
                        icon: "error",
                        text: "Out time should not be greter than 9:00 AM in sr.no: "+SrNo+"",
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    }).then(function () {
                        hasError = false;
                        return false;
                    });
                    hasError = false;
                    return false;
                }
            }

            var data1 = {};
            data1.EmployeeNo = row.find("td").eq(2).find("input").val();
            //data1.EmployeeCardNo = row.find("td").eq(3).find("input").val();
            data1.InTime = row.find("td").eq(3).find("input").val();
            data1.OutTime = row.find("td").eq(4).find("input").val();
            ObjManualAttendance.push(data1);
        });
        var jsonData = JSON.stringify(ObjManualAttendance);
        if(hasError == false)
        {
            return false;
            $(".Userloaderbg").css("display","none");
        }
        $(".Userloaderbg").css("display","flex");
        $.ajax({
            url: '@Url.Action("SaveUpdate", "ESS_TimeOffice_ManualAttendanceUpload")',
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: JSON.stringify({ TestOBJAttenINOUT: ObjManualAttendance}),
            data: jsonData,
            success: function (response) {
                debugger;
                $(".Userloaderbg").css("display","none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (Icon1 !=null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("ESS_TimeOffice_ManualAttendanceUpload", "ESS_TimeOffice_ManualAttendanceUpload")';
                            }
                        });
                    }
                }
            }
        });
    });
</script>

<script>

    function addRow() {
        // Get the table body element
        //var table = document.getElementById("tblManualUploadItems").getElementsByTagName('tbody')[0];
        //// Create a new row
        //var newRow = table.insertRow();
        //// Create new cells and add input elements
        //var fromCell0 = newRow.insertCell(0);
        //var fromCell1 = newRow.insertCell(1);
        //var fromCell2 = newRow.insertCell(2);
        //var fromCell3 = newRow.insertCell(3);
        //var fromCell4 = newRow.insertCell(4);

        //fromCell0.style.backgroundColor = '#eee';
        //fromCell0.style.textAlign = 'center';

        //fromCell0.innerHTML = '<i class="fa-regular fa-trash-can fa-xl" onclick="removeRow(this)" id="btnDelete" style="color:#ff5b57"></i>';
        //fromCell1.innerHTML = '<input id="txtAtten" readonly=readonly style=background-color:#eee type="text" name="txtAtten" class="form-control">';
        //fromCell2.innerHTML = '<input id="txtNumber"  type="number" name="txtAtten" class="form-control txtNumber">';
        //fromCell3.innerHTML = '<input id="txtAttenINTime" type="datetime-local" name="txtAtten" class="form-control">';
        //fromCell4.innerHTML = '<input id="txtAttenOutTime" type="datetime-local" name="txtAtten" class="form-control">';

        var table = document.getElementById("tblManualUploadItems").getElementsByTagName('tbody')[0];
        var SrNo = table.rows.length;
        SrNo++;
        var tableContent0 = '<tr>';
        var tableContent1 = '<td class="text-center" style="background-color:#eee"><i class="fa-regular fa-trash-can fa-xl" onclick="removeRow(this)" id="btnDelete" style="color:#ff5b57"></i></td>';
        var tableContent2 = '<td class="text-center" style="background-color:#eee">'+SrNo+'</td>';
        var tableContent3 = '<td><input id=txtAtten type=text name=txtAtten class=form-control></td>';
        //var tableContent4 = '<td><input id=txtNumber type="number" name="txtAtten" class="form-control txtNumber" maxlength="10" max="10"></td>';
        var tableContent5 = '<td><input id=txtAttenINTime type="datetime-local" name=txtAtten class=form-control></td>';
        var tableContent6 = '<td><input id=txtAttenOutTime type="datetime-local" name=txtAtten class=form-control></td>';
        var tableContent7 = '</tr>';

        $('#tblManualUploadItems tbody').append(tableContent0 + tableContent1 + tableContent2 + tableContent3 + tableContent5 + tableContent6);

    }

    //THIS CODE IS USE FOR INPUT TYPE NUMBER NOT ALLOW MAX 10 DIGIT
    $(document).on('input', '.txtNumber', function() {
        if (this.value.length > 10) {
            this.value = this.value.slice(0, 10);
        }
    });

    //THIS CODE IS USE FOR REMOVE ROW IN A TABLE
    function removeRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        updateSrNo();
    }

    function updateSrNo() {
        var table = document.getElementById("tblManualUploadItems");
        var rows = table.getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i++) { // Assuming the first row is the header
            rows[i].cells[1].innerText = i; // Update SrNo, assuming it's in the first cell
        }
    }
</script>
