@model KompassHR.Areas.Module.Models.Module_Employee.Module_Employee_UserRightGroups
@{
    ViewBag.Title = "Module_Employee_UserRight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Module/Module_Employee_EmployeeList/Module_Employee_EmployeeList"> Onboarding List</a></li>

    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">User Right </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ User Right </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Provide employees with access to a self-service portal where they can view their attendance records, submit leave requests, check accrued leave balances, and track attendance-related information in real-time.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Module/Module_Employee_ESSInfo/SaveUpdate" id="SaveESSLoginInformation" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <input type="hidden" id="hdnEmployeeId" value="@Session["OnboardEmployeeId"]" />
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["OnboardEmployeeName"] -  @Session["OnboardEmployeeNo"] </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["OnboardEmpDepartment"] / @Session["OnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["OnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                User Group Policy
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.UserRightsGroupId, new SelectList(ViewBag.GroupName, "Id", "Name"), "--Select--", new { @class = "form-control", name = "UserGroupName", id = "txtPolicyGroupId" })
                                                <span id="ErrortxtGetUserPolicyName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            @*<div class="col-md-2">
                                                    <label><input type="checkbox" name="checkbox" id="AllCheckBox" value="value">  All</label>
                                                </div>*@
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnAdd">
                                                    <i class="fa-solid fa-share-from-square"></i> Add
                                                </button>
                                            </div>

                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-success btn-sm" id="btnSubmit" onclick="funSaveEmployeeAccess()">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="panel-body">
                                                <!-- BEGIN table-responsive -->
                                                <div class="table-scroll div1">
                                                    <div class="table-wrap">
                                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle  tblAddData" id="tblUserRights" style="background-color: white;">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr class="trheading">
                                                                    <th hidden>ScreenId</th>
                                                                    <th hidden>ScreenModuleId</th>
                                                                    <th class="text-center" colspan="3" style="border-left:1px solid lightgray;"></th>

                                                                    <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsMenuCheckBox" value="value" onchange="checkAll(this)"> All</label></th>
                                                                </tr>
                                                                <tr>
                                                                    <th hidden>ScreenId</th>
                                                                    <th hidden>ScreenModuleId</th>
                                                                    <th class="text-center" style="border-left:1px solid lightgray;">Screen Name</th>
                                                                    <th class="text-center">Description</th>
                                                                    <th class="text-center">Screen Type</th>
                                                                    <th class="text-center">Menu</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbodyUserRights">
                                                                @*@if (ViewBag.GetMenus != null)
                                                                {
                                                                    foreach (var d in ViewBag.GetMenus)
                                                                    {
                                                                        <tr>
                                                                            <td class="text-nowrap" hidden>@d.ScreenID</td>
                                                                            <td class="text-nowrap" hidden>@d.ScreenModuleId</td>
                                                                            <td class="text-nowrap" style="border-left:1px solid lightgray;">@d.ScreenDisplayMenuName</td>
                                                                            <td class="">@d.DescriptionForUser</td>
                                                                            <td class="text-nowrap">@d.ScreenMenuType</td>
                                                                            <td class="text-center">
                                                                                <input type="checkbox" @(d.IsMenu == true ? "checked" : "")>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- END table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" id="btnActionList" class="btn btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" type="button" id="btnSubmit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Save
                                                        </button>
                                                        <a href="/Module/Module_Employee_EmployeeList/Module_Employee_EmployeeList">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
@*<div class="row">
    @Html.Action("Onboarding_SidebarMenu", "Module_Employee_UserRight")
</div>*@
<script>
    $(document).ready(function () {
        $("#txtPolicyGroupId").select2();
    });
</script>
<script>
    $("#btnAdd").click(function () {
        debugger;
        var PolicyGroupId = $("#txtPolicyGroupId").val();
        var EmployeeId = $("#hdnEmployeeId").val();
        var table = document.getElementById('tblUserRights');

        var PolicyName = $("#txtPolicyGroupId").val();
        if (PolicyName == "")
        {
            $("#ErrortxtGetUserPolicyName").html("Please select User Group Policy");
            return false;
        }
        else
        {
            $("#ErrortxtGetUserPolicyName").html("");
        }
        // Check if the table has any rows (other than the header row)
        //if (table.rows.length > 2) {
        //    alert('The table is not empty.');
        //} else {
        //    alert('The table is empty.');
        //}

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetScreenName", "Module_Employee_UserRight")',
            data: { EmployeeId: EmployeeId, PolicyGroupId: PolicyGroupId },
            dataType: "JSON",
            success: function (data) {
                debugger;
                var tableLogContent = '';
                for (var i = 0; i < data.data.length; i++) {
                    tableLogContent += '<tr>';
                    tableLogContent += '<td hidden>' + data.data[i][0].Value + '</td>';
                    tableLogContent += '<td hidden>' + data.data[i][1].Value + '</td>';
                    tableLogContent += '<td>' + data.data[i][2].Value + '</td>';
                    tableLogContent += '<td>' + data.data[i][9].Value + '</td>';
                    tableLogContent += '<td>' + data.data[i][3].Value + '</td>';
                    tableLogContent += '<td  class="text-center"><input ' + (data.data[i][4].Value ? 'checked' : ' ') + ' type="checkbox" /></td>';
                }
                $('#tblUserRights tbody').append(tableLogContent);
            }
        });
    });

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

   
    function funSaveEmployeeAccess() {
        debugger
        var PolicyGroupId = $("#txtPolicyGroupId").val();
        var EmployeeId = $("#hdnEmployeeId").val();
        var url = '@Url.Action("SaveEmployeeAccess", "Module_Employee_UserRight")?EmployeeId=' + EmployeeId + '&PolicyGroupId=' + PolicyGroupId;
        window.location.href = url;
    }
</script>

