@model KompassHR.Areas.Setting.Models.Setting_Leave.Atten_PublicHoliday
@{
    ViewBag.Title = "Setting_Leave_PublicHoliday";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Public Holiday
            @*</h1>*@
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Leave_Menu", "Setting_Leave_Menu", new { id = 4, ScreenId =44, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Public Holiday  - <b>@ViewBag.AddUpdateTitle</b></h4>
                  
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define annual public holiday here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Leave_PublicHoliday", new { area = "Setting" })'  id="SavePublicHolidays" method="post" data-parsley-validate="true">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.GetCompanyname, "CompanyId", "CompanyName"), "--Select--", new { id = "ddlCmpID", @class = "form-select", autocomplete = "off", name = "CmpID" })
                                                @Html.HiddenFor(model => model.PublicHolidayID_Encrypted)
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.PublicHolidayBranchId, new SelectList(ViewBag.GetBranchname, "Id", "Name"), "--Select--", new { id = "PublicHolidayBranchId", @class = "form-select", autocomplete = "off", name = "PublicHolidayBranchId" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Holiday Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Type, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Public Holiday", Value = "Public Holiday"},
                                                    new SelectListItem { Text = "National Holiday", Value = "National Holiday"},
                                                }, "--Select--", new { id = "ddlType", @class = "form-select", autocomplete = "off", name = "Type" })

                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.PublicHolidayDate, new { id = "txtPublicHolidayDate", type = "date", @class = "form-control", name = "PublicHolidayDate" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Holiday Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", type = "text", id = "txtHolidayDescription", autocomplete = "Off", name = "Description" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px" hidden>
                                            <label class="form-label col-form-label col-md-2">
                                                OT / Coff Multiple
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10" >
                                                @Html.DropDownListFor(model => model.OTCoff, new List<SelectListItem> {
                                                    new SelectListItem { Text = "Single", Value = "1"},
                                                    new SelectListItem { Text = "Double", Value = "2"},
                                                },  new { id = "ddlOTCoff", @class = "form-select", autocomplete = "off", name = "OTCoff" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>         
                                                        <a href="@Url.Action("GetList", "Setting_Leave_PublicHoliday", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="GetPublicHolidaysList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ddlCmpID").select2();
        $("#PublicHolidayBranchId").select2();
        $("#ddlType").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        var dt = @Html.Raw(Json.Encode(TempData["PublicHolidayDate"]));
        if(dt == null || dt == "")
        {

        }
        else
        {
            var publicdt =  convertDate(dt);
            $("#txtPublicHolidayDate").val(publicdt);
        }

        $("#ddlCmpID").on("change", function () {
            $("#PublicHolidayBranchId").find("option").remove();
            var CmpId = $("#ddlCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url : '@Url.Action("GetBusinessUnit", "Setting_Leave_PublicHoliday")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        $("#PublicHolidayBranchId").append("<option value=0> --Select--</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#PublicHolidayBranchId").append("<option value='" + data[i].Id +"'>" + data[i].Name +"</option>");
                        }
                        //$.each(data, function(i, p) {
                        
                        //    $("#PublicHolidayBranchId").append("<option value='" + data.Id +"'>" + data.Name +"</option>");
                        //});
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

       

    });//READY FUNCTION

    

    $("#GetPublicHolidaysList").click(function () {
        var url = '@Url.Action("GetList", "Setting_Leave_PublicHoliday")';
        window.location.href = url;
    });
    $("#formReset").click(function () {
        $("#SavePublicHolidays")[0].reset();
    })
</script>


<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }


</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SavePublicHolidays").validate({
        rules: {
            CmpID: {
                required: true,
            },
            PublicHolidayBranchId: {
                required: true,
            },
            Type: {
                required: true,
            },
            PublicHolidayDate: {
                required: true,
            },
            Description: {
                required: true,
                //regex: /^[a-zA-Z /./,/]+$/,
            },
            //OTCoff: {
            //    required: true,
            //}
        },
        messages: {
            CmpID: {
                required: "Company name is required",
            },
            PublicHolidayBranchId: {
                required: "Business unit is required",
            },
            Type: {
                required: "Holiday type is required",
            },
            PublicHolidayDate: {
                required: "Holiday Date is required",
            },
            Description: {
                required: "Description is required",              
            },
            //OTCoff: {
            //    required: "OT/Coff is required",
            //}
        },
    });

    var form = $("#SavePublicHolidays");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtPublicHolidayDate").removeClass('error');
            return false;
        }      
      
        var PublicHolidayDate=$("#txtPublicHolidayDate").val();       
        var PublicHolidayBranchId=$("#PublicHolidayBranchId").val();
        var CmpID=$("#ddlCmpID").val();
        var PublicHolidayID_Encrypted=$("#PublicHolidayID_Encrypted").val();
        $.ajax({
            url:"IsPublicHolidaysExists",
            method:"get",
            data:{PublicHolidayID_Encrypted:PublicHolidayID_Encrypted,CmpID:CmpID,PublicHolidayBranchId:PublicHolidayBranchId,PublicHolidayDate:PublicHolidayDate},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SavePublicHolidays").submit();

                }
            }
        });

    });
</script>

<script>
 
</script>

