@model KompassHR.Areas.Reports.Models.NewJoiningEmployeeReport
@{
    ViewBag.Title = "Rpt_Payroll_CTCHistroy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                CTC Histroy
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_Payroll_RptMenu", "Report_Payroll_RptMenu", new {id = 6, ScreenId=455, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">CTC Histroy</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Export report of CTC Histroy
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row justify-content-center">
                        <form role="form" href="@Url.Action("Rpt_Payroll_CTCHistroy", "Rpt_Payroll_CTCHistroy" , new { area = "Reports" })" id="SavePayroll_HeadWise" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Company
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                            <span id="ErrorddlCmpId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Business Unit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                            <span id="ErrorddlBranchId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            From Date
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", name = "FromDate", type = "date", id = "txtFromDate" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            To Date
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", name = "ToDate", type = "date", id = "txtToDate" })
                                            @Html.ValidationMessage("ToDate", "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                            <span id="ErrortxtToDate" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr class="mt-15px">
                        
                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                    @*onclick="downloadExcelFile()"*@
                                                    <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('title').html("CTC Histroy");

        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();

        // Get current date
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // Month (01-12)
        var dd = String(today.getDate()).padStart(2, '0');      // Day (01-31)

        // Format as YYYY-MM-DD (HTML5 date input format)
        var defaultDate = yyyy + '-' + mm + '-' + dd;

        // Set default values if inputs are empty
        if (!$('#txtFromDate').val()) {
            $('#txtFromDate').val(defaultDate);
        }
        if (!$('#txtToDate').val()) {
            $('#txtToDate').val(defaultDate);
        }
    
        // Add date validation
        $('#txtFromDate, #txtToDate').change(function() {debugger
            validateMonthRange();
        });
    
        function validateMonthRange() {debugger
            const fromVal = $('#txtFromDate').val();
            const toVal = $('#txtToDate').val();
        
            if (fromVal && toVal) {
                if (Date.parse(fromVal) > Date.parse(toVal)) {
                    $('#ErrortxtToDate').html("To Date must be greter From Month.");
                } else {
                    $('#ErrortxtToDate').hide();
                }
            }
        }

        var Title = @Html.Raw(Json.Encode(TempData["Title"]));
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            $(".Userloaderbg").css("display","none");
            if (Message != null) {
                var Text = "Your Download File Path Is "+Title+"";
                Swal.fire({
                    title: Message,
                    icon: Icon,
                    text: Text,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }


        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMonthlyBusinessUnit", "Rpt_Payroll_CTCHistroy")',
                data: { CmpId: CmpId},
                success: function (data) {
                    debugger;
                    if (data.Branch !=null) {
                        $("#ddlBranchId").append("<option value=''>All</option>");
                        $.each(data.Branch, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
    });
</script>
<script>
    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        var CmpId = encodeURIComponent($("#ddlCmpId").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var ToDate = encodeURIComponent($("#txtToDate").val());
        var url = `@Url.Action("DownloadExcelFile", "Rpt_Payroll_CTCHistroy")?BranchId=${branchId}&CmpId=${CmpId}&FromDate=${FromDate}&ToDate=${ToDate}`;

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                var ToformattedDate = convertDateFormat(ToDate);
                // Create and download file
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'CTCHistroyReport('+formattedDate +' - '+ ToformattedDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>


