@model KompassHR.Areas.Setting.Models.Setting_Recruitment.Recruitment_CheckList
@{
    ViewBag.Title = "Setting_Recruitment_InterviewCheckList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }


    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }



    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*.tblAddData td:nth-child(1) {
        display: none;
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    .tblAddData td:nth-child(3) {
        display: none;
    }

    .tblAddData td:nth-child(4) {
        display: none;
    }

    .tblAddData td:nth-child(5) {
        display: none;
    }*/
</style>
<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Recruitment Check List
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "Setting_Recruitment_InterviewCheckList", new { id =1 ,ScreenId =36, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Interview CheckList- <Span><b>@ViewBag.AddUpdateTitle</b></Span></h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add company details here!
                    </p>
                </div>

                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Prime_CompanyProfile", new { area = "Setting" })' id="SaveRecurtmentCheckList" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.ComapnyName, "Id", "Name"), "--Select--", new { @class = "form-control", name = "CmpId", @id = "txtCmpId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Buniness Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CheckListBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { @class = "form-control", type = "text", name = "CheckListBranchId", id = "txtBranchId", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Department Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.DepatmentList, "Id", "Name"), "--Select--", new { @class = "form-control", name = "DepartmentID", id = "txtDepartmentID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Designation Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DesignationID, new SelectList(ViewBag.DesignationList, "Id", "Name"), "--Select--", new { @class = "form-control", type = "text", name = "DesignationID", id = "txtDesignationID", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Grade
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.GradeID, new SelectList(ViewBag.GradeList, "Id", "Name"), "--Select--", new { @class = "form-control", name = "GradeID", id = "txtGrade" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Rate
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Rate, new { @class = "form-control", name = "Rate", id = "txtRate", type = "number", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Remark
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", type = "text", name = "Remarks", id = "txtRemarks", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <div class="col-md-8">
                                                <button type="button" id="btnAdd"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-body test" data-scrollbar="true">
                                    <!-- BEGIN table-responsive -->
                                    <div class="table-scroll div1">
                                        <div class="table-wrap">
                                            <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                                <thead>
                                                    <tr class="trheading">
                                                        <th class="text-nowrap text-center">Delete</th>
                                                        <th class="text-nowrap text-center">Company Name</th>
                                                        <th class="text-nowrap text-center">Buniness Unit </th>
                                                        <th class="text-nowrap text-center">Designation Name</th>
                                                        <th class="text-nowrap text-center">Department Name </th>
                                                        <th class="text-nowrap text-center">Grade</th>
                                                        <th class="text-nowrap text-center">Remark</th>
                                                        <th class="text-nowrap text-center">Rate</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="InterviewCheckList" class="tblAddData"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="7"> <h3 class="text-center">Total</h3></td>
                                                        <td>
                                                            <input type="text" class="form-control" id="txtTotalCount" style="text-align:right" disabled />
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                    <!-- END table-responsive -->
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div align="right">
                                                        <button type="button" id="btnsubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Recruitment_InterviewCheckList", new { area = "Setting" })">
                                                            <button type="button" id="btnPTSlabGetList" class="btn btn-danger btn-sm">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#txtCmpId").select2();
        $("#txtBranchId").select2();
        $("#txtDepartmentID").select2();
        $("#txtGrade").select2();
        $("#txtDesignationID").select2();


        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#txtCmpId").on("change", function () {
            debugger;
            $("#txtBranchId").find("option").remove();
            var CmpId = $("#txtCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_Recruitment_InterviewCheckList")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data != null) {
                        $("#txtBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#txtBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
    });




    jQuery.validator.addMethod(
 "regex",
  function (value, element, regexp) {
      if (regexp.constructor != RegExp)
          regexp = new RegExp(regexp);
      else if (regexp.global)
          regexp.lastIndex = 0;
      return this.optional(element) || regexp.test(value);
  }, "erreur expression reguliere"
);

    $('#SaveRecurtmentCheckList').validate({
        rules: {
            CmpId: {
                required: true,
            },
            CheckListBranchId: {
                required: true,
            },
            DepartmentID: {
                required: true,
            },
            DesignationID: {
                required: true,
            },
            GradeID: {
                required: true,
            },
            Rate: {
                required: true,
            },
            Remarks: {
                required: true,
            },

        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            CheckListBranchId: {
                required: "Branch name is required",
            },
            DepartmentID: {
                required: "Department name is required",
            },
            DesignationID: {
                required: "Designation name is required",
            },
            GradeID: {
                required: "Grade name is required",
            },
            Rate: {
                required: "Rate is required",
            },
            Remarks: {
                required: "Remarks is required",
            },
        },
    });


    var form = $("#SaveRecurtmentCheckList");
    form.validate();
    $("#btnAdd").click(function () {
        debugger;
        var Sum =Number( $("#txtTotalCount").val());
        var SumRate = Number($("#txtRate").val());
        var b =(Sum+SumRate)
        if (Number(b) > 100) {
            Swal.fire({
                title: "",
                text: "Rate /Total rate should not greater than hundred percent",
                icon: "warning",
                confirmButtonText: "OK"
            });
            return false;
        }
        else {

            form.valid();
            if (form.valid() == false) {
                return false;
            }
            var CompanyName = $('#txtCmpId :selected').text();
            var BranchName = $('#txtBranchId :selected').text();
            var DesignationName = $('#txtDesignationID :selected').text();
            var DepartmentName = $('#txtDepartmentID :selected').text();
            var GradeName = $('#txtGrade :selected').text();
            var Remarks = $('#txtRemarks').val();
            var txtRate = $("#txtRate").val();
            var table = document.getElementById("InterviewCheckList");
            var GetTableRecord = table.innerText;
            var CheckContaint = GetTableRecord.includes(BranchName, CompanyName, DesignationName, DepartmentName, GradeName);

            var CheckRemarks = GetTableRecord.includes(Remarks);

            if (CheckRemarks == true) {
                Swal.fire({
                    title: "",
                    text: "Recruitment CheckList is already exists",
                    icon: "warning",
                    confirmButtonText: "OK"
                });
                return false;
            }
            else {
                debugger;
                var table = document.getElementById("InterviewCheckList");
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                var count = $('#InterviewCheckList tr').length;
                row.insertCell(0).innerHTML = "<center><a style='cursor:pointer' class='btnDeleteRow'><i class='fa-solid fa-trash-alt text-danger fa-lg'></i></a></center>";
                row.insertCell(1).innerHTML = "" + CompanyName + "";
                row.insertCell(2).innerHTML = "" + BranchName + "";
                row.insertCell(3).innerHTML = "" + DesignationName + "";
                row.insertCell(4).innerHTML = "" + DepartmentName + "";
                row.insertCell(5).innerHTML = "" + GradeName + "";
                row.insertCell(6).innerHTML = "" + Remarks + "";
                row.insertCell(7).innerHTML = "" + txtRate + "";
                $('#txtRemarks').val('');
                $('#txtRate').val('');

                var TableId = $('#InterviewCheckList').find('tr').last();
                var RateRowNumber = TableId[0].cells;
                var TotalCount = RateRowNumber[7].innerHTML;
                var TotalSum = $("#txtTotalCount").val();
                var sum = Number(TotalCount) + Number(TotalSum);
                $("#txtTotalCount").val(sum);

                var count = $('#InterviewCheckList tr').length;

                if (count != "") {
                    $("#txtCmpId").attr("disabled", "disabled");
                    $('#txtCmpId').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                    $("#txtBranchId").attr("disabled", "disabled");
                    $('#txtBranchId').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                    $("#txtDesignationID").attr("disabled", "disabled");
                    $('#txtDesignationID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                    $("#txtGrade").attr("disabled", "disabled");
                    $('#txtGrade').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                    $("#txtDepartmentID").attr("disabled", "disabled");
                    $('#txtDepartmentID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');


                }
                else {
                    $("#txtCmpId").removeAttr("disabled");
                    $("#txtBranchId").removeAttr("disabled");
                    $("#txtDesignationID").removeAttr("disabled");
                    $("#txtGrade").removeAttr("disabled");
                    $("#txtDepartmentID").removeAttr("disabled");
                }

            }
        }

    });


    $("#btnsubmit").click(function () {
        debugger;
        var CmpId = $('#txtCmpId :selected').val();
        var BranchId = $('#txtBranchId :selected').val();
        var DesignationId = $('#txtDesignationID :selected').val();
        var DepartmentId = $('#txtDepartmentID :selected').val();
        var GradeId = $('#txtGrade :selected').val();
        var Sum = $("#txtTotalCount").val();
        if (Sum == 100) {
            debugger;
            var table = document.getElementById("InterviewCheckList");
            var rowCount = table.rows.length;
            var RecruitmentRecoardList = [];
            debugger;
            for (i = 0; i <= rowCount - 1; i++) {
                var data = {};
                debugger;

                data.Remarks = table.rows[i].cells[6].innerHTML;
                data.Rate = table.rows[i].cells[7].innerHTML;
                RecruitmentRecoardList.push(data);
            }
            $(".Userloaderbg").css("display", "flex");
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveUpdate", "Setting_Recruitment_InterviewCheckList")',
                data: JSON.stringify({RecruitmentRecoardList:RecruitmentRecoardList, CmpId: CmpId, BranchId: BranchId,  DesignationId: DesignationId, DepartmentId: DepartmentId, GradeId: GradeId }),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    debugger;
                    var data =JSON.parse(response);
                    var Icon=data.Icon;
                    var Message=data.Message;
                    if (Icon=="error")
                    {
                        $(".Userloaderbg").css("display", "none");
                        if (Message != null) {
                            if (Message != null) {
                                Swal.fire({
                                    icon: Icon,
                                    text: Message,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                });
                            }
                        }
                    }
                    else
                    {
                        if (Message != null) {
                            if (Message != null) {
                                Swal.fire({
                                    icon: Icon,
                                    text: Message,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                }).then((result) => {
                                    if(result.isConfirmed)
                                    {
                                        var url = '@Url.Action("Setting_Recruitment_InterviewCheckList", "Setting_Recruitment_InterviewCheckList")';
                                        window.location.href = url;
                                    }
                                })
                            }
                        }
                    }
                }
            });
        }
        else {
            Swal.fire({
                title: "",
                text: "Rate should be hundred percent",
                icon: "warning",
                confirmButtonText: "OK"
            });
            return false;
        }

    });



    $("#InterviewCheckList").on("click", ".btnDeleteRow", function () {
        debugger;
        var table = document.getElementById("InterviewCheckList");
        var rowCount = table.rows.length;

        // Ensure there are rows to delete (excluding the header row)
        if (rowCount >= 1) {
            var row = $(this).closest("tr"); // Get the row containing the clicked delete button
            row.remove(); // Remove the row
            $("#txtTotalCount").val('');
            var table1 = document.getElementById("InterviewCheckList");
            var rowCount1 = table1.rows.length;
            for(var i=0;i <= rowCount1-1;i++)
            {
                var Rate = table1.rows[i].cells[7].innerHTML;
               var a=  $("#txtTotalCount").val();
               var c=Number(Rate)+Number(a);
               $("#txtTotalCount").val(c);

            }
        }

        // Check if the table is empty after deletion
        var rowCountAfterDelete = $("#InterviewCheckList tr").length;
        if (rowCountAfterDelete == 0) { // No rows left in tbody
            $("#txtCmpId").removeAttr("disabled");
            $("#txtBranchId").removeAttr("disabled");
            $("#txtDesignationID").removeAttr("disabled");
            $("#txtGrade").removeAttr("disabled");
            $("#txtDepartmentID").removeAttr("disabled");

        }
    });

</script>