@model KompassHR.Areas.Setting.Models.Setting_TimeOffice.Atten_GeneralSetting
@{
    ViewBag.Title = "Setting_TimeOffice_GeneralSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>


<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Outdoor Setting
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_TimeOffice_Menu", "Setting_TimeOffice_Menu", new { id = 5, ScreenId =51, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Outdoor Setting - @ViewBag.AddUpdateTitle</h4>
                   
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define outdoor setting for attendance here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_TimeOffice_GeneralSetting", new { area = "Setting" })' id="GeneralSettings" method="post" data-parsley-validate="true">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyname, "Id", "Name"), "--Select--", new { id = "ddlCmpID", @class = "form-select", autocomplete = "off", name = "CmpName" })
                                                @Html.HiddenFor(model => model.AttenGeneralId_Encrypted, new { id = "AttenGeneralId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.OutDoorCompanyBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { id = "ddlOutDoorCompanyBranchId", @class = "form-select", autocomplete = "off", name = "OutDoorCompanyBranchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Outdoor Setting Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.OutDoorCompanySettingName, new { @class = "form-control", type = "text", id = "txtOutDoorCompanySettingName", autocomplete = "Off", name = "OutDoorCompanySettingName" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Auto Approval (in Days)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AutoApprovalDays, new { @class = "form-control", type = "text", id = "txtAutoApprovalDays", autocomplete = "Off", name = "AutoApprovalDays" })
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Short Period (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.OutDoorCompanyShortPeriod, new { @class = "form-control", type = "number", id = "txtOutDoorCompanyShortHrs", autocomplete = "Off", name = "OutDoorCompanyShortPeriod", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Full Day Duration (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.OutDoorCompanyFullDayDuration, new { @class = "form-control", type = "number", id = "txtOutDoorCompanyFullDayDuration", autocomplete = "Off", name = "OutDoorCompanyFullDayDuration", onkeypress = "return event.charCode >=48" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" hidden>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Ist-Half Duration (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.OutDoorCompanyIstHalfDuration, new { @class = "form-control", type = "number", id = "txtOutDoorCompanyIstHalfDuration", autocomplete = "Off", name = "OutDoorCompanyIstHalfDuration", onkeypress = "return event.charCode >=48" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" hidden>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                IInd-Half Duration (Min)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.OutDoorCompanyIIndHalfDuration, new { @class = "form-control", type = "number", id = "txtOutDoorCompanyIIndHalfDuration", autocomplete = "Off", name = "OutDoorCompanyIIndHalfDuration", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>

                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Back Date Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.BackDatedDays, new { @class = "form-control", type = "number", id = "txtBackDatedDays", autocomplete = "Off", name = "BackDatedDays", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Future Date Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FutureDatedDays, new { @class = "form-control", type = "number", id = "txtFutureDatedDays", autocomplete = "Off", name = "BackDatedDays", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                        </label>
                                        <label class="form-label col-form-label col-md-8">
                                            @Html.CheckBoxFor(model => model.IsDefault, new { id = "chkIsDefault" })
                                            &nbsp;   This Setting Is Applied By Default For Contractor Employees During Bulk Insert.
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_TimeOffice_GeneralSetting", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnLocation">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCmpID").select2();
        $("#ddlOutDoorCompanyBranchId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#ddlCmpID").on("change", function () {
            debugger;
            $("#ddlOutDoorCompanyBranchId").find("option").remove();
            var CmpId = $("#ddlCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_TimeOffice_GeneralSetting")',
                //url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlOutDoorCompanyBranchId").append("<option>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlOutDoorCompanyBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        //$("#ddlOutDoorCompanyBranchId").on("change", function () {
        //    var CmpId = $("#ddlCmpID").val();
        //    var OutDoorCompanyBranchId = $("#ddlOutDoorCompanyBranchId").val();
        //    $.ajax({
        //        type: 'GET',
        //        dataType: 'JSON',
        //        contentType: "application/json; charset=utf-8",
        //        url: 'GetList',
        //        data: { CmpId: CmpId,OutDoorCompanyBranchId:OutDoorCompanyBranchId },
        //        success: function (data) {
        //            debugger;
        //            if (data.length !=0) {
        //                var OutDoorCompanyShortHrs = data[0][0].Value;
        //                var OutDoorCompanyIstHalfDuration = data[0][1].Value;
        //                var OutDoorCompanyIIndHalfDuration = data[0][2].Value;
        //                var OutDoorCompanyFullDayDuration = data[0][3].Value;
        //                var BackDatedDays = data[0][4].Value;
        //                $("#txtOutDoorCompanyShortHrs").val(OutDoorCompanyShortHrs);
        //                $("#txtOutDoorCompanyIstHalfDuration").val(OutDoorCompanyIstHalfDuration);
        //                $("#txtOutDoorCompanyIIndHalfDuration").val(OutDoorCompanyIIndHalfDuration);
        //                $("#txtOutDoorCompanyFullDayDuration").val(OutDoorCompanyFullDayDuration);
        //                $("#txtBackDatedDays").val(BackDatedDays);
        //                var AllowTeamRequest = data[0][5].Value;
        //                var IsDefault= data[0][6].Value;
        //                var AttenGeneralId_Encrypted= data[0][7].Value;
        //                $("#AttenGeneralId_Encrypted").val(AttenGeneralId_Encrypted);
        //                if(IsDefault==true)
        //                {
        //                    $('#chkIsDefault').prop('checked', true);
        //                   // $("#chkIsDefault").is(":checked");
        //                }
        //                if(IsDefault==false)
        //                {
        //                    $('#chkIsDefault').prop('checked', false);
        //                }
        //                $("#")
        //            }
        //            else{
        //                $("#txtOutDoorCompanyShortHrs").val("");
        //                $("#txtOutDoorCompanyIstHalfDuration").val("");
        //                $("#txtOutDoorCompanyIIndHalfDuration").val("");
        //                $("#txtOutDoorCompanyFullDayDuration").val("");
        //                $("#txtBackDatedDays").val("");
        //                $('#ddlAllowTeamRequest').prop('selectedIndex',0);
        //                $('#chkIsDefault').prop('checked', false);

        //            }
        //        }
        //    })
        //});
    });//Ready Funcation
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
        "regex",
         function(value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         },"erreur expression reguliere"
      );
    $("#GeneralSettings").validate({
        rules: {
            CmpId:{
                required: true,
            },
            OutDoorCompanyBranchId:{
                required: true,
            },
            OutDoorCompanySettingName:{
                required: true,
            },
            OutDoorCompanyShortPeriod:{
                required: true,
            },
            OutDoorCompanyIstHalfDuration:{
                required: true,
            },
            OutDoorCompanyIIndHalfDuration:{
                required: true,
            },
            OutDoorCompanyFullDayDuration:{
                required: true,
            },
            BackDatedDays:{
                required: true,
            },
            FutureDatedDays:{
                required: true,
            },
            AutoApprovalDays:{
                required: true,
            },

        },
        messages: {
            CmpId:{
                required: "Company is required",
            },
            OutDoorCompanyBranchId:{
                required: "Business unit  is required",
            },
            OutDoorCompanySettingName :{
                required: "OutDoor company setting name is required",
            },
            OutDoorCompanyShortPeriod :{
                required: "OutDoor company short period is required",
            },
            OutDoorCompanyIstHalfDuration	:{
                required: "OutDoor company Ist-half duration is required",
            },
            OutDoorCompanyIIndHalfDuration	:{
                required: "OutDoor company IInd-half duration is required",
            },
            OutDoorCompanyFullDayDuration	:{
                required: "OutDoor company full day duration is required",
            },
            BackDatedDays	:{
                required: "Back date days is required",
            },
            FutureDatedDays	:{
                required: "Future date days is required",
            },
            AutoApprovalDays	:{
                required: "Auto approval days is required",
            },

        }
    });

    var form = $("#GeneralSettings");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        var OutDoorCompanyShortHrs=$("#txtOutDoorCompanyShortHrs").val();
        var OutDoorCompanyIstHalfDuration=$("#txtOutDoorCompanyIstHalfDuration").val();
        var OutDoorCompanyIIndHalfDuration=$("#txtOutDoorCompanyIIndHalfDuration").val();
        var OutDoorCompanyFullDayDuration=$("#txtOutDoorCompanyFullDayDuration").val();
        var BackDatedDays=	$("#txtBackDatedDays").val();
        var AllowTeamRequest=$("#txtAllowTeamRequest").val();
        var CmpId=$("#ddlCmpID").val();
        var OutDoorCompanyBranchId=$("#ddlOutDoorCompanyBranchId").val();
        var AttenGeneralId_Encrypted=$("#AttenGeneralId_Encrypted").val();
        var OutDoorCompanySettingName=$("#txtOutDoorCompanySettingName").val();
        var IsDefault=$("#chkIsDefault").is(":checked");
        $.ajax({
            url: '@Url.Action("IsGeneralSettingExists", "Setting_TimeOffice_GeneralSetting")',
            //url: "IsGeneralSettingExists",
            method:"get",
            data :{AttenGeneralId_Encrypted:AttenGeneralId_Encrypted,CmpId:CmpId,IsDefault:IsDefault,OutDoorCompanyBranchId:OutDoorCompanyBranchId,OutDoorCompanySettingName:OutDoorCompanySettingName},
            success:function(response){
                debugger;
                $(".Userloaderbg").css("display", "none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#GeneralSettings").submit();
                }
            }
        });

    });


</script>