@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_RegimeDeclaration
@{
    ViewBag.Title = "ESS_Tax_OldNewRegimeDeclaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Old / New Regime Declaration
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_ITDeclarationMenu", "ESS_Tax_ITDeclarationMenu", new {id = 9, ScreenId=526, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Old / New Regime Declaration - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Old / New Regime Declaration here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Tax_OldNewRegimeDeclaration", new { area = "ESS" })' id="SaveOldNewRegimeDeclaration" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Financial Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.FYearId, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtFYearId", type = "text", name = "FYearId", autocomplete = "Off" })
                                                @Html.HiddenFor(model => model.RegimeDeclarationId_Encrypted, new { id = "RegimeDeclarationId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Regime Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.RegimeType, new List<SelectListItem>{
                                                  new SelectListItem {Text ="NewRegime", Value="2"},
                                                new SelectListItem {Text ="OldRegime", Value="1"}
                                            }, "--Select--", new { @class = "form-select", id = "txtRegimeType", name = "RegimeType", autocomplete = "Off" })


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                            </label>
                                            <div class="col-md-8">
                                                <b>Declaration :</b>
                                                <br>
                                                1) I <b>@Session["EmployeeName"]</b> hereby declare that all the information provided above is correct.<br>
                                                2) I agree that any misstatements discovered in this form will be grounds for rejection of this application and /or termination of employment.<br>
                                                3) I also undertake to bear any tax liability if the information provided in this application is established to be misstated.<br>
                                                4) I have gone through the tax computation and comparison of tax under both regime. I understand that this is an estimated tax liability and can change according to variation in my income further reported in payroll. I am aware that in the new regime I will not be eligible for any benefits of exemptions and deductions as notified by Income tax authorities and in case of excess deduction the tax cannot be refunded through Salary.<br>
                                                5) I agree that we cannot change the regime beyond the financial year. <br />
                                                6) Note: Declarations made from April to November are considered provisional. From December onward, declarations must be final and supported with proof.<br><br>
                                                @Html.CheckBoxFor(model => model.Declaration, new { @id = "txtDeclaration" }) &nbsp;
                                                <b>  Yes ,I Agree</b>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_Tax_OldNewRegimeDeclaration", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnLanguage">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#txtFYearId").select2();
        $("#txtRegimeType").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });//radayFuncation
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


    $('#SaveOldNewRegimeDeclaration').validate({
        rules: {
            FYearId: {
                required: true,
            },
            RegimeType: {
                required: true,
            },
            Declaration: {
                required: true,
            },
        },
        messages: {
            FYearId: {
                required: "Financial year is required",

            },
            RegimeType: {
                required: "Regime type is required",

            },
            Declaration: {
                required: "Declaration is required",
            },
        },
    });
    var form = $("#SaveOldNewRegimeDeclaration");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtDeclaration").removeClass("error");
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        var FYearId=$("#txtFYearId").val();
        var RegimeTypeID=$("#txtRegimeType").val();
        var RegimeDeclarationId_Encrypted=$("#RegimeDeclarationId_Encrypted").val();
        $.ajax({
            method:"get",
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("IsOldNewRegimeDeclarationExists", "ESS_Tax_OldNewRegimeDeclaration")',
            data:{FYearId:FYearId,RegimeDeclarationId_Encrypted:RegimeDeclarationId_Encrypted,RegimeTypeID:RegimeTypeID},
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    $(".Userloaderbg").css("display", "none");
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveOldNewRegimeDeclaration").submit();
                }
            }
        })

    });
</script>
