@model KompassHR.Areas.ESS.Models.ESS_EmployeeTransfer.Trans_BusinessUnit
@{
    ViewBag.Title = "ESS_EmployeeTransfer_BusinessWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Transfer Business Unit
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_HRSpace_EmployeeTransferMenu", "ESS_HRSpace_EmployeeTransferMenu",  new { id = 41, ScreenId=708, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>



    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Employee transfer @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define Employee transfer Unit!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action='@Url.Action("SaveUpdate", "ESS_EmployeeTransfer_BusinessWise", new { area = "ESS" })' id="SaveTransferBusinessWise" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => Model.DocNo, new { @class = "form-control mb-5px", id = "DocNo", name = "DocNo", @readonly = "readonly", Value = @ViewBag.DocNo.DocNo, @style = "background-color:#EEE" })
                                                @Html.HiddenFor(model => Model.TransferBusinessUnitId)
                                                @Html.HiddenFor(model => Model.TransferBusinessUnitId_Encrypted, new { id = "Trans_BusinessUnitId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                DocDate
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { name = "DocDate", @class = "form-control", id = "txtDocDate", type = "date", onkeydown = "return false", @readonly = "readonly", })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TransferToCmpID, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { id = "ddlTransferToCmpID", name = "TransferToCmpID", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TransferEmployeeBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { id = "ddlTransferEmployeeBranchId", name = "TransferEmployeeBranchId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TransferEmployeeId, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "--Select--", new { id = "ddlTransferEmployeeId", name = "TransferEmployeeId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Transfer To Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TransferToBranchId, new SelectList(ViewBag.ToBranchName, "Id", "Name"), "--Select--", new { id = "ddlTransferToBranchId", name = "TransferToBranchId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Reporting HR
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TransferReportingHRId, new SelectList(ViewBag.HREmployeeName, "Id", "Name"), "--Select--", new { id = "ddlTransferReportingHRId", name = "TransferReportingHRId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Reporting Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TransferReportingDate, new { name = "TransferReportingDate", @class = "form-control", id = "txtTransferReportingDate", type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Reason
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.TransferReason, new { name = "TransferReason", @class = "form-control", id = "txtTransferReason", type = "text" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-4 d-flex">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_EmployeeTransfer_BusinessWise", new { area = "ESS" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnShiftChangeGetList">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlTransferToCmpID").select2();
        $("#ddlTransferEmployeeId").select2();
        $("#ddlTransferToBranchId").select2();
        $("#ddlTransferReportingHRId").select2();
        $("#ddlTransferEmployeeBranchId").select2();
        document.getElementById('txtDocDate').value = SetTodaysDate;
        document.getElementById('txtTransferReportingDate').value = SetTodaysDate;
        document.querySelector('#txtDocDate').style.backgroundColor = '#eee';
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        $("#ddlTransferToCmpID").on("change", function () {
            debugger;
            $("#ddlTransferEmployeeBranchId").find("option").remove();
            $("#ddlTransferToBranchId").find("option").remove();
            var CmpId = $("#ddlTransferToCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_EmployeeTransfer_BusinessWise")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlTransferEmployeeBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlTransferEmployeeBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                        $("#ddlTransferToBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlTransferToBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });

                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlTransferToBranchId").on("change", function () {
            debugger;
            $("#ddlTransferReportingHRId").find("option").remove();
            var BranchId = $("#ddlTransferToBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetHREmployeeName", "ESS_EmployeeTransfer_BusinessWise")',
                data: { BranchId: BranchId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlTransferReportingHRId").append("<option value=''>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlTransferReportingHRId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        $("#ddlTransferEmployeeBranchId").on("change", function () {
            debugger;
            $("#ddlTransferEmployeeId").find("option").remove();
            $("#ddlTransferToBranchId").find("option").remove();
            var BranchId = $("#ddlTransferEmployeeBranchId").val();
            var CmpId = $("#ddlTransferToCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "ESS_EmployeeTransfer_BusinessWise")',
                data: { BranchId: BranchId,CmpId:CmpId },
                success: function (data) {
                    var ToBranchName =data.ToBranchName;
                    var GetEmployeeNameDropdown=data.GetEmployeeNameDropdown;
                    if (GetEmployeeNameDropdown !=null) {
                        $("#ddlTransferEmployeeId").append("<option value=''>--Select-- </option>");
                        $.each(GetEmployeeNameDropdown, function(i, p) {
                            $("#ddlTransferEmployeeId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    if (ToBranchName !=null) {
                        $("#ddlTransferToBranchId").append("<option value=''>--Select-- </option>");
                        $.each(ToBranchName, function(i, p) {
                            $("#ddlTransferToBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }

                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


    });//ready funcation for SelectedDay

    jQuery.validator.addMethod(
   "regex",
       function(value, element, regexp) {
           if (regexp.constructor != RegExp)
               regexp = new RegExp(regexp);
           else if (regexp.global)
               regexp.lastIndex = 0;
           return this.optional(element) || regexp.test(value);
       },"erreur expression reguliere"
    );

    $('#SaveTransferBusinessWise').validate({
        rules: {
            TransferEmployeeId:{
                required: true,
            },
            TransferReason: {
                required: true,
            },
            TransferToBranchId:{
                required: true,
            },
            TransferReportingDate:{
                required: true,
            },
            TransferReportingHRId:{
                required: true,
            }
        },
        messages: {
            TransferEmployeeId:{
                required: "Employee name is required",
            },
            TransferReason: {
                required: "Reason is required",
            },
            TransferToBranchId: {
                required: "To business unit is required",
            },
            TransferReportingDate:{
                required: "Reporting Date is required",
            },
            TransferReportingHRId:{
                required: "Reporting HR is required",
            }
        },
        errorPlacement: function (error, element) {
            if (element.hasClass("select2-hidden-accessible")) {
                // Insert error after Select2's container
                error.insertAfter(element.next('.select2'));
            } else {
                error.insertAfter(element);
            }
        },
        //highlight: function (element) {
        //    if ($(element).hasClass("select2-hidden-accessible")) {
        //        $(element).next('.select2').find('.select2-selection').css('border-color', 'red');
        //    } else {
        //        $(element).css('border-color', 'red');
        //    }
        //},
        unhighlight: function (element) {
            if ($(element).hasClass("select2-hidden-accessible")) {
                $(element).next('.select2').find('.select2-selection').css('border-color', '');
            } else {
                $(element).css('border-color', '');
            }
        }
    });

    $('.select2-hidden-accessible').on('change', function () {
        alert("ok")
        $(this).valid(); // Trigger validation to call unhighlight if valid
    });

    var form = $("#SaveTransferBusinessWise");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtTransferReportingDate").removeClass('error');
            return false;
        }
        var TransferEmployeeId=$("#ddlTransferEmployeeId").val();
        var TransferToBranchId=$("#txtTransferToBranchId").val();
        var DocDate=$("#txtDocDate").val();
        $.ajax({
            method:"get",
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("IsTransferBusinessExists", "ESS_EmployeeTransfer_BusinessWise")',
            data:{TransferEmployeeId:TransferEmployeeId,TransferToBranchId:TransferToBranchId,DocDate:DocDate},
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveTransferBusinessWise").submit();
                }
            }
        })
        // $("#SaveTransferBusinessWise").submit();
    });
</script>