@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_CTC
@{
    ViewBag.Title = "Module_Employee_CTCInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
@*<script src="~/scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    /* Constrain the height of the modal and enable scrolling */
    .modal-dialog {
        max-width: 800px; /* Adjust the width of the modal */
    }

    .modal-body {
        max-height: 400px; /* Set the maximum height of the modal body */
        overflow-y: auto; /* Enable vertical scrolling */
    }

    /* Optional: Style for the table to make it look nicer */
    table {
        width: 100%;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
   

    text-align:center;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
  

    }
        .box2 .info {       
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

        .box2 .imgbx {
      width: 80px;
    height: 80px;
    padding:5px 0px;
    font-family:Open Sans,sans-serif;
          border: 1px solid #dedede;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content:center;
    align-items:center;
        }

        /*.box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
           
        }*/
        .box2 .imgbx img {
             width: 50px;
             height: 50px;
             filter: brightness(1.2);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {           
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
           
            text-align: center;
            display: flex;
            justify-content: center;
            color:#000;
            text-transform: capitalize;
            margin-top: 5px;
      
          
        }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }*/

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    /*.fixed-side {
        position: sticky;
        left: 0px;
    }*/

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error,.Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    #partATable input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }

    #partBTable input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee CTC
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new {id = 3, ScreenId=142, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Employee CTC - @ViewBag.AddUpdateTitle</h4>
                    @*<div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>*@
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add CTC details for a employee.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="empbx">
                                        <span>
                                            <h4> <i class="fa-solid fa-user"></i> @Session["OnboardEmployeeName"] -  @Session["OnboardEmployeeNo"] </h4>
                                        </span>
                                        <span>
                                            <h6> <i class="fa-solid fa-briefcase"></i>  @Session["OnboardEmpDepartment"] / @Session["OnboardEmpDesignation"] </h6>
                                        </span>
                                        <span>
                                            <h6> <i class="fa-solid fa-calendar"></i> @Session["OnboardEmpDoj"] </h6>
                                        </span>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Employee_CTCInfo", new { area = "Module" })' id="SaveCTCInformation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.FromDate, null, new { @class = "form-control", type = "date", id = "txtFromDate" })
                                                @Html.ValidationMessage("FromDate", "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.ToDate, null, new { @class = "form-control", type = "date", id = "txtToDate", onkeydown = "return false;", style = "background-color:#eee;", @readonly = "readonly" })
                                                @Html.ValidationMessage("ToDate", "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Category Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.CategoryName ?? new List<SelectListItem>(), "Id", "Name"), "--Select--", new { id = "ddlCategoryName", @class = "form-select", autocomplete = "off", name = "CategoryName" })
                                                @Html.ValidationMessage("CTC_CategoryId", "", new { @class = "help-block", id = "ErrorddlCategoryName", @style = "color:red" })
                                                @Html.HiddenFor(model => model.EmployeeCTCId_Encrypted, new { id = "hdnEncriptedId" })
                                                @Html.Hidden("Status", new { id = "hdnStatus" })
                                                @Html.Hidden("OBEmpId", Session["OnboardEmployeeId"], new { id = "hdnOBEmpId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Monthly/Daily
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.DailyMonthly, new { id = "ddlDailyMonthly", @class = "form-control", autocomplete = "off", name = "DailyMonthly", style = "background-color:#eee;", @readonly = "readonly", Value = TempData["GetDailyOrMonthly"]?.ToString() ?? "" })

                                                @*@Html.DropDownListFor(model => model.DailyMonthly, new List<SelectListItem>
                                                    {
                                                    new SelectListItem { Text = "Monthly", Value = "Monthly" },
                                                    new SelectListItem { Text = "Daily", Value = "Daily" },
                                                    },
                                                    //"--Select--",
                                                    new { id = "ddlDailyMonthly", @class = "form-select", autocomplete = "off", name = "DailyMonthly" })*@
                                                @Html.ValidationMessage("DailyMonthly", "", new { @class = "help-block", id = "ErrortxtDailyMonthly", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Salary Transfer from Bank
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.RateCmpBankId, new SelectList(ViewBag.CompanyBankName ?? new List<SelectListItem>(), "Id", "Name"),
                                              //"--Select--",
                                              new { id = "ddlCompanyBankName", @class = "form-select", autocomplete = "off", name = "RateCmpBankId" })
                                                @Html.ValidationMessage("RateCmpBankId", "", new { @class = "help-block", id = "ErrorddlCompanyBankName", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Salary Mode
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.RateSalaryMode, new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Bank-Salary", Value = "Bank-Salary" },
                                                new SelectListItem { Text = "Bank-NEFT", Value = "Bank-NEFT" },
                                                new SelectListItem { Text = "Cheque", Value = "Cheque" },
                                                new SelectListItem { Text = "Cash", Value = "Cash" },
                                                },
                                                //"--Select--",
                                                new { id = "ddlRateSalaryMode", @class = "form-select", autocomplete = "off", name = "RateSalaryMode" })
                                                @Html.ValidationMessage("RateSalaryMode", "", new { @class = "help-block", id = "ErrorddlRateSalaryMode", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                OT Rate
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.RateOTRate, new { @class = "form-control", type = "text", id = "txtRateOTRate", Value = 0, oninput = "validateInput(this)" })
                                                @Html.ValidationMessage("RateOTRate", "", new { @class = "help-block", id = "ErrortxtRateOTRate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                CTC Budget
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.RateBudgetId, new SelectList(ViewBag.BudgetName ?? new List<SelectListItem>(), "Id", "Name"), "--Select--", new { id = "ddlCTCBudget", @class = "form-select", autocomplete = "off", name = "BudgetName" })
                                                @Html.ValidationMessage("RateBudgetId", "", new { @class = "help-block", id = "ErrorddlCTCBudget", @style = "color:red" })
                                            </div>

                                            @*<div class="col-md-7">
                                                    @Html.TextBoxFor(model => model.RateBudgetId, new { @class = "form-control", type = "text", id = "txtCTCBudget", Value = 0 })
                                                    @Html.ValidationMessage("RateBudgetId", "", new { @class = "help-block", id = "ErrortxtCTCBudget", @style = "color:red" })
                                                </div>*@
                                        </div>
                                    </div>
                                </div>


    <hr />


@{
    var list = ViewBag.GetCommonColumn as IEnumerable<dynamic>;
    int i = 0;
}

@if (list != null)
{
    <div class="row">
        @foreach (var item in list)
        {
            <div class="col-md-4 d-flex align-items-center mb-2">
                <label class="form-label me-2 mb-0 flex-shrink-0" style="min-width:120px">
                    @item.Heads
                </label>

                <input type="text"
                       name="RateValues[@i].Value"
                       class="form-control flex-grow-1"
                       value="0"
                       id="txt@(item.ID)" />

                <input type="hidden"
                       name="RateValues[@i].RateId"
                       value="@item.ID" />
            </div>
            i++;
        }
    </div>
}


<br />







                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <div class="col-md-12">
                                                <label class="form-label">PF : <span id="spnPF"></span> &nbsp; &nbsp; &nbsp; |</label> &nbsp; &nbsp;&nbsp;
                                                <label class="form-label">ESIC : <span id="spnESIC"></span> &nbsp; &nbsp; &nbsp; |</label> &nbsp; &nbsp;&nbsp;
                                                <label class="form-label">LWF : <span id="spnLWF"></span> &nbsp; &nbsp; &nbsp; |</label> &nbsp; &nbsp;&nbsp;
                                                @*<label class="form-label">Gratuity : <span id="spnGratuity"></span> &nbsp; &nbsp; &nbsp; |</label> &nbsp; &nbsp;&nbsp;*@
                                                <label class="form-label">PT : <span id="spnPT"></span></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" hidden>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Template Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.TemplateId, new SelectList(ViewBag.TemplateName ?? new List<SelectListItem>(), "Id", "Name"), "--Select--", new { id = "ddlTemplateName", @class = "form-select", autocomplete = "off", name = "TemplateId", onchange = "onTemplateChange(this)" })
                                                @Html.ValidationMessage("TemplateId", "", new { @class = "help-block", id = "ErrorddlTemplateName", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="row mb-15px">
                                        <div class="col-md-12">
                                            <div id="dynamicTables">
                                                <div class="row">
                                                    <!-- Part A -->
                                                    <div class="col-md-6">
                                                        <div class="table-responsive">
                                                            <h5 style="background-color:lightgray; padding: 5px;">Part A</h5>
                                                            <table class="table table-bordered" id="partATable">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 10%;">Sr.No</th> <!-- Set width -->
                                                                        <th hidden style="width: 10%;">ColumnName</th> <!-- Set width -->
                                                                        <th style="width: 60%;">Head Name</th> <!-- Set width -->
                                                                        <th style="width: 30%;">Amount</th> <!-- Set width -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPartA">
                                                                    @if (ViewBag.MappedHeadPartA != null)
                                                                    {
                                                                        int srNo = 1;
                                                                        foreach (var d in ViewBag.MappedHeadPartA)
                                                                        {
                                                                            <tr>
                                                                                <td>@srNo</td>
                                                                                <td hidden>@d.ID</td>
                                                                                <td style="text-align: left;">@d.Heads</td>
                                                                                <td><input type="text" Value=0 style="text-align: right;" class="form-control validate-number" name="value_@srNo" id="txt@(d.ID)"></td>
                                                                            </tr>
                                                                            srNo++;
                                                                        }
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>Part A (Gross) Total =</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number" id="txtRateTotalPartA" readonly style="text-align: right; background-color:#eee"></td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>

                                                        </div>
                                                    </div>
                                                    <!-- Part B -->
                                                    <div class="col-md-6">
                                                        <div class="table-responsive">
                                                            <h5 style="background-color:lightgray;padding: 5px;">Part B</h5>
                                                            <table class="table table-bordered" id="partBTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 10%;">Sr.No</th> <!-- Set width -->
                                                                        <th hidden style="width: 10%;">ColumnName</th> <!-- Set width -->
                                                                        <th style="width: 60%;">Head Name</th> <!-- Set width -->
                                                                        <th style="width: 30%;">Amount</th> <!-- Set width -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPartB">
                                                                    @if (ViewBag.MappedHeadPartB != null)
                                                                    {
                                                                        int srNo = 1;
                                                                        foreach (var d in ViewBag.MappedHeadPartB)
                                                                        {
                                                                            <tr>
                                                                                <td>@srNo</td>
                                                                                <td hidden>@d.ID</td>
                                                                                <td style="text-align: left;">@d.Heads</td>
                                                                                <td><input type="text" Value=0 style="text-align: right;" class="form-control validate-number" name="value_@srNo" id="txt@(d.ID)"></td>
                                                                            </tr>
                                                                            srNo++;
                                                                        }
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>Part B Total&nbsp;=&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number" id="txtRateTotalPartB" readonly style="text-align: right; background-color:#eee"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>CTC (A + B)&nbsp;=&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number" id="txtRateTotalPartAB" readonly style="text-align: right;background-color:#eee"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>VPF Amount &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number" style="text-align: right;" id="txtRate_VPF"></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>Employee PF &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_PF"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>Employee ESIC &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_ESIC"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>PT &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_PT"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>LWF &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_MLWF"></td>
                                                                    </tr>
                                                                    <tr style="@(TempData["CTC_RatePartB_Head_A"] == "" ? "display:none;" : "")">
                                                                        <td colspan="2" style="text-align:right"><b>@TempData["CTC_RatePartB_Head_A"] &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_Head_A"></td>
                                                                    </tr>
                                                                    <tr style="@(TempData["CTC_RatePartB_Head_B"] == "" ? "display:none;" : "")">
                                                                        <td colspan="2" style="text-align:right"><b>@TempData["CTC_RatePartB_Head_B"] &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number NetPay" style="text-align: right;" id="txtRatePartB_Head_B"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" style="text-align:right"><b>Net Pay &nbsp;&nbsp;</b></td>
                                                                        <td><input type="text" Value=0 class="form-control validate-number" readonly style="text-align: right;background-color:#eee" id="txtRate_NetPay"></td>
                                                                    </tr>

                                                                    @{
                                                                        var isAttenBonusApplicable = Convert.ToBoolean(TempData["GetAttenBonusIsApplicable"]);
                                                                    }

                                                                    @if (isAttenBonusApplicable)
                                                                    {
                                                                        <tr>
                                                                            <td colspan="2" style="text-align:right">
                                                                                <b>Attendance Bonus &nbsp;&nbsp;</b>
                                                                            </td>
                                                                            <td>
                                                                                <input type="checkbox" class="form-check-input" id="ChkRatePartB_AttendanceBonus_IsApplicable" />
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                    @*<tr>
                                                                            <td colspan="2" style="text-align:right"><b>Attendance Bonus &nbsp;&nbsp;</b></td>
                                                                            <td><input type="checkbox" class="form-check-input" id="ChkRatePartB_AttendanceBonus_IsApplicable"></td>
                                                                        </tr>*@
                                                                </tfoot>
                                                            </table>
                                                            <hr />
                                                            <button id="calculateButton" onclick="calculateFunction()" type="button" class="btn btn-primary btn-sm">
                                                                <i class="fas fa-calculator"></i> Calculate
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="d-flex align-items-center">
                                                            <div class="me-3">
                                                                <a href="javascript:void(0);" onclick="updateNextIncrementDate(6)" style="text-decoration: none; font-weight: bold;">6 Month</a>
                                                            </div>
                                                            <div class="me-3">
                                                                <a href="javascript:void(0);" onclick="updateNextIncrementDate(12)" style="text-decoration: none; font-weight: bold;">12 Month</a>
                                                            </div>
                                                            <div class="me-3">
                                                                <a href="javascript:void(0);" onclick="updateNextIncrementDate(18)" style="text-decoration: none; font-weight: bold;">18 Month</a>
                                                            </div>
                                                            <div class="me-3">
                                                                <a href="javascript:void(0);" onclick="updateNextIncrementDate(24)" style="text-decoration: none; font-weight: bold;">24 Month</a>
                                                            </div>
                                                            <label>Next Increment</label><span class="important">*</span>
                                                            <div class="ms-3">
                                                                @Html.TextBoxFor(model => model.NextIncrementDate, null, new { @class = "form-control", type = "date", id = "txtNextIncrementDate", style = "width: 120px;" })
                                                                <span id="ErrortxtNextIncrementDate" class="Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-1">Remark</label>
                                                    <div class="col-md-5">
                                                        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", id = "txtRemark", rows = "2", cols = "30" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20px">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn btnpress ListBtn me-2">
                                                                <i class="fa-solid fa-list"></i>
                                                            </button>

                                                            <button class="btn btn-primary btn-sm btnpress save" id="btnSubmit" type="button">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Module_Employee_CTCInfo" , new { area="Module" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnBack">
                                                                    <i class="fa-solid fa-share-from-square"></i>
                                                                    List
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    document.getElementById("txtFromDate").addEventListener("blur", function () {
        var dateValue = this.value;

        if (dateValue.includes("-")) {
            var parts = dateValue.split("-"); 
            dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
        }

        var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;

        if (!regex.test(dateValue)) {
            $("#ErrortxtFromDate").html("Please enter valid date in DD-MM-YYYY format");
            this.value = "";
            this.focus();
            return;
        } else {
            $("#ErrortxtFromDate").html("");
        }
    });


    document.getElementById("txtNextIncrementDate").addEventListener("blur", function () {
        var dateValue = this.value;

        if (dateValue.includes("-")) {
            var parts = dateValue.split("-"); 
            dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
        }

        var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;

        if (!regex.test(dateValue)) {
            $("#ErrortxtNextIncrementDate").html("Please enter valid date in DD-MM-YYYY format");
            this.value = "";
            this.focus();
            return;
        } else {
            $("#ErrortxtNextIncrementDate").html("");
        }
    });






    function onTemplateChange(select) {
        debugger
        var selectedTemplateId = select.value;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTemplateDetails", "Module_Employee_CTCInfo", new { area = "Module" })',
            data: { TemplateId: selectedTemplateId },
            success: function (response) {
                debugger;
                jsonTemplate = Object.fromEntries(response.data[0].map(item => [item.Key, item.Value]));
                var GetDataTemplate = jsonTemplate;
                //==================================================================
                //$("#txtRateOTRate").val(GetDataTemplate.RateOTRate);
                $("#txtRatePartA_Basic").val(GetDataTemplate.RatePartA_Basic);
                $("#txtRatePartA_DA").val(GetDataTemplate.RatePartA_DA);
                $("#txtRatePartA_HRA").val(GetDataTemplate.RatePartA_HRA);
                $("#txtRatePartA_A").val(GetDataTemplate.RatePartA_A);
                $("#txtRatePartA_B").val(GetDataTemplate.RatePartA_B);
                $("#txtRatePartA_C").val(GetDataTemplate.RatePartA_C);
                $("#txtRatePartA_D").val(GetDataTemplate.RatePartA_D);
                $("#txtRatePartA_E").val(GetDataTemplate.RatePartA_E);
                $("#txtRatePartA_F").val(GetDataTemplate.RatePartA_F);
                $("#txtRatePartA_G").val(GetDataTemplate.RatePartA_G);
                $("#txtRatePartA_H").val(GetDataTemplate.RatePartA_H);
                $("#txtRatePartA_I").val(GetDataTemplate.RatePartA_I);
                $("#txtRatePartA_J").val(GetDataTemplate.RatePartA_J);
                $("#txtRatePartA_K").val(GetDataTemplate.RatePartA_K);
                $("#txtRatePartA_L").val(GetDataTemplate.RatePartA_L);
                $("#txtRatePartA_M").val(GetDataTemplate.RatePartA_M);
                $("#txtRatePartA_N").val(GetDataTemplate.RatePartA_N);
                $("#txtRatePartA_O").val(GetDataTemplate.RatePartA_O);
                $("#txtRatePartA_P").val(GetDataTemplate.RatePartA_P);
                $("#txtRatePartA_Q").val(GetDataTemplate.RatePartA_Q);
                $("#txtRatePartA_R").val(GetDataTemplate.RatePartA_R);
                $("#txtRatePartA_S").val(GetDataTemplate.RatePartA_S);
                $("#txtRatePartA_T").val(GetDataTemplate.RatePartA_T);
                $("#txtRatePartB_PFEmployer").val(GetDataTemplate.RatePartB_PFEmployer);
                $("#txtRatePartB_ESICEmployer").val(GetDataTemplate.RatePartB_ESICEmployer);
                $("#txtRatePartB_LWFEmployer").val(GetDataTemplate.RatePartB_LWFEmployer);
                $("#txtRatePartB_Bonus").val(GetDataTemplate.RatePartB_Bonus);
                $("#txtRatePartB_Gratuity").val(GetDataTemplate.RatePartB_Gratuity);
                $("#txtRatePartB_A").val(GetDataTemplate.RatePartB_A);
                $("#txtRatePartB_B").val(GetDataTemplate.RatePartB_B);
                $("#txtRatePartB_C").val(GetDataTemplate.RatePartB_C);
                $("#txtRatePartB_D").val(GetDataTemplate.RatePartB_D);
                $("#txtRatePartB_E").val(GetDataTemplate.RatePartB_E);

                $("#txtRateTotalPartA").val(GetDataTemplate.RateTotalPartA);
                $("#txtRateTotalPartB").val(GetDataTemplate.RateTotalPartB);
                $("#txtRateTotalPartAB").val(GetDataTemplate.RateTotalPartA + GetDataTemplate.RateTotalPartB);
            
                $("#txtRate_VPF").val(GetDataTemplate.Rate_VPF);
                $("#txtRatePartB_PF").val(GetDataTemplate.RatePartB_PFEmployee);
                $("#txtRatePartB_ESIC").val(GetDataTemplate.RatePartB_ESICEmployee);
                $("#txtRatePartB_PT").val(GetDataTemplate.RatePartB_PTEmployee);

                $("#txtRatePartB_MLWF").val(GetDataTemplate.RatePartB_MLWF);
                $("#txtRatePartB_Head_A").val(GetDataTemplate.RatePartB_Head_A);
                $("#txtRatePartB_Head_B").val(GetDataTemplate.RatePartB_Head_B);
                // Parse values for calculation
                var pf = parseFloat(GetDataTemplate.RatePartB_PFEmployee) || 0;
                var esic = parseFloat(GetDataTemplate.RatePartB_ESICEmployee) || 0;
                var pt = parseFloat(GetDataTemplate.RatePartB_PTEmployee) || 0;

                var MLWF = parseFloat($('#txtRatePartB_MLWF').val()) || 0;
                var GetHead_A = parseFloat($('#txtRatePartB_Head_A').val()) || 0;
                var GetHead_B = parseFloat($('#txtRatePartB_Head_B').val()) || 0;

                var RateTotalPartA = parseFloat($('#txtRateTotalPartA').val()) || 0;
                // Calculate Net Pay
                var netPay = RateTotalPartA - (pf + esic + pt + MLWF + GetHead_A + GetHead_B);
                $('#txtRate_NetPay').val(netPay);
                //==================================================================
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
</script>

@*<script>
    function onTemplateChange(select) {
        var selectedTemplateId = select.value;
        window.location.href = '@Url.Action("Module_Employee_CTCInfo", "Module_Employee_CTCInfo", new { area = "Module" })' + '?TemplateId=' + selectedTemplateId;
    }
</script>*@

<div class="row">
    @Html.Action("Onboarding_SidebarMenu", "Module_Employee_PersonalInfo")
</div>

<script>
    $('.NetPay').on('input', function () {
        var total = 0;
        // Subtract PF, ESIC, PT
        var pf = parseFloat($('#txtRatePartB_PF').val()) || 0;
        var esic = parseFloat($('#txtRatePartB_ESIC').val()) || 0;
        var pt = parseFloat($('#txtRatePartB_PT').val()) || 0;

        var MLWF = parseFloat($('#txtRatePartB_MLWF').val()) || 0;
        var GetHead_A = parseFloat($('#txtRatePartB_Head_A').val()) || 0;
        var GetHead_B = parseFloat($('#txtRatePartB_Head_B').val()) || 0;

        var RateTotalPartA = parseFloat($('#txtRateTotalPartA').val())
        var netPay = RateTotalPartA - (pf + esic + pt + MLWF + GetHead_A + GetHead_B);
        $('#txtRate_NetPay').val(netPay);
    });
</script>

<script>
    $(document).ready(function () {
        debugger;
        $('#txtFromDate').on('input', function () {
            const value = $(this).val(); // e.g., "2025-04-16"
            const year = value.substring(0, 4);
            const month = value.substring(5, 7);
            if (year.length === 4 && !isNaN(year) && month.length === 2 && !isNaN(month)) {
                updateDates(+year, +month);
            }
        });

        function updateDates(year, month) {
            if (year < 1900 || year > 2100 || month < 1 || month > 12) return;
            const formattedMonth = month.toString().padStart(2, '0');
            $('#txtFromDate').val(`${year}-${formattedMonth}-01`);
        }


        $("#ddlCompanyBankName").select2();
        const GetStatutory = @Html.Raw(Json.Encode(TempData["GetStatutoryDetail"]));
        if (GetStatutory && GetStatutory !== 'null' && GetStatutory !== 'undefined') {
            var SetStatutory = JSON.parse(GetStatutory);
            if (SetStatutory) {
                $("#spnPF").text(SetStatutory.PF_Applicable ? "Yes" : "No")
                    .css("color", SetStatutory.PF_Applicable ? "black" : "red");

                $("#spnESIC").text(SetStatutory.ESIC_Applicable ? "Yes" : "No")
                    .css("color", SetStatutory.ESIC_Applicable ? "black" : "red");

                $("#spnLWF").text(SetStatutory.LWF_Applicable ? "Yes" : "No")
                    .css("color", SetStatutory.LWF_Applicable ? "black" : "red");

                $("#spnPT").text(SetStatutory.PT_Applicable ? "Yes" : "No")
                    .css("color", SetStatutory.PT_Applicable ? "black" : "red");

                $("#spnGratuity").text(SetStatutory.Gratuity_Applicable ? "Yes" : "No")
                    .css("color", SetStatutory.Gratuity_Applicable ? "black" : "red");
            }
        }

        debugger;
        const json = @Html.Raw(Json.Encode(TempData["GetIncrementDetail"]));
        if (json!=null)
        {
            debugger;
            const transformed = {
                GetIncrementDetail: Object.fromEntries(
                    json.map(item =>[item.Key, item.Value])
                )
            };
            var GetData = transformed.GetIncrementDetail;
            var FromDate = convertDate(GetData.FromDate);
            var ToDate = convertDate(GetData.ToDate);

            $("#ddlCompanyBankName").val(GetData.RateCmpBankId).trigger('change');
            $("#ddlRateSalaryMode").val(GetData.RateSalaryMode);
            $("#txtFromDate").val(FromDate);
            $("#txtToDate").val(ToDate);

            $("#hdnEncriptedId").val(GetData.EmployeeCTCId_Encrypted);
            $("#ddlCategoryName").val(GetData.CategoryId);
            //$("#ddlDailyMonthly").val(GetData.DailyMonthly);
            $("#txtRateOTRate").val(GetData.RateOTRate);

            $("#txtRatePartA_Basic").val(GetData.RatePartA_Basic);
            $("#txtRatePartA_DA").val(GetData.RatePartA_DA);
            $("#txtRatePartA_HRA").val(GetData.RatePartA_HRA);
            $("#txtRatePartA_A").val(GetData.RatePartA_A);
            $("#txtRatePartA_B").val(GetData.RatePartA_B);
            $("#txtRatePartA_C").val(GetData.RatePartA_C);
            $("#txtRatePartA_D").val(GetData.RatePartA_D);
            $("#txtRatePartA_E").val(GetData.RatePartA_E);
            $("#txtRatePartA_F").val(GetData.RatePartA_F);
            $("#txtRatePartA_G").val(GetData.RatePartA_G);
            $("#txtRatePartA_H").val(GetData.RatePartA_H);
            $("#txtRatePartA_I").val(GetData.RatePartA_I);
            $("#txtRatePartA_J").val(GetData.RatePartA_J);
            $("#txtRatePartA_K").val(GetData.RatePartA_K);
            $("#txtRatePartA_L").val(GetData.RatePartA_L);
            $("#txtRatePartA_M").val(GetData.RatePartA_M);
            $("#txtRatePartA_N").val(GetData.RatePartA_N);
            $("#txtRatePartA_O").val(GetData.RatePartA_O);
            $("#txtRatePartA_P").val(GetData.RatePartA_P);
            $("#txtRatePartA_Q").val(GetData.RatePartA_Q);
            $("#txtRatePartA_R").val(GetData.RatePartA_R);
            $("#txtRatePartA_S").val(GetData.RatePartA_S);
            $("#txtRatePartA_T").val(GetData.RatePartA_T);
            $("#txtRatePartB_PFEmployer").val(GetData.RatePartB_PFEmployer);
            $("#txtRatePartB_ESICEmployer").val(GetData.RatePartB_ESICEmployer);
            $("#txtRatePartB_LWFEmployer").val(GetData.RatePartB_LWFEmployer);
            $("#txtRatePartB_Bonus").val(GetData.RatePartB_Bonus);
            $("#txtRatePartB_Gratuity").val(GetData.RatePartB_Gratuity);
            $("#txtRatePartB_A").val(GetData.RatePartB_A);
            $("#txtRatePartB_B").val(GetData.RatePartB_B);
            $("#txtRatePartB_C").val(GetData.RatePartB_C);
            $("#txtRatePartB_D").val(GetData.RatePartB_D);
            $("#txtRatePartB_E").val(GetData.RatePartB_E);
            
            $("#txtRateTotalPartA").val(GetData.RateTotalPartA);
            $("#txtRateTotalPartB").val(GetData.RateTotalPartB);
            $("#txtRateTotalPartAB").val(GetData.RateTotalPartA + GetData.RateTotalPartB);

            var NextIncrementDate = convertDate(GetData.NextIncrementDate);
            $("#txtNextIncrementDate").val(NextIncrementDate);
            $("#txtRemark").val(GetData.Remark);
            $("#txtRate_VPF").val(GetData.Rate_VPF || 0);
            $("#ddlCTCBudget").val(GetData.RateBudgetId || 0);

            $("#txtRatePartB_PF").val(GetData.RatePartB_PFEmployee || 0);
            $("#txtRatePartB_ESIC").val(GetData.RatePartB_ESICEmployee || 0);
            $("#txtRatePartB_PT").val(GetData.RatePartB_PTEmployee || 0);

            $("#txtRatePartB_MLWF").val(GetData.RatePartB_MLWF || 0);
            $("#txtRatePartB_Head_A").val(GetData.RatePartB_Head_A || 0);
            $("#txtRatePartB_Head_B").val(GetData.RatePartB_Head_B || 0);

            //$("#txtRate_NetPay").val(GetData.Rate_NetPay);
            $("#ChkRatePartB_AttendanceBonus_IsApplicable").prop("checked", GetData.RatePartB_AttendanceBonus_IsApplicable == 1);

            $("#txtRateA").val(GetData.RateA || 0);
            $("#txtRateB").val(GetData.RateB || 0);
            $("#txtRateC").val(GetData.RateC || 0);



            // Parse values for calculation
            var pf = parseFloat(GetData.RatePartB_PFEmployee) || 0;
            var esic = parseFloat(GetData.RatePartB_ESICEmployee) || 0;
            var pt = parseFloat(GetData.RatePartB_PTEmployee) || 0;

            var MLWF = parseFloat(GetData.RatePartB_MLWF) || 0;
            var PartB_Head_A = parseFloat(GetData.RatePartB_Head_A) || 0;
            var PartB_Head_B = parseFloat(GetData.RatePartB_Head_B) || 0;

            var RateTotalPartA = parseFloat($('#txtRateTotalPartA').val()) || 0;

            // Calculate Net Pay
            var netPay = RateTotalPartA - (pf + esic + pt + MLWF + PartB_Head_A + PartB_Head_B);
            $('#txtRate_NetPay').val(netPay);

            return false;

        }
        var onboardEmpDoj = '@Session["OnboardEmpDoj"]';
        var dateParts = onboardEmpDoj.split("/");
        var day = "1"; var JoinDateMonth = dateParts[1]; var Joindateyear = dateParts[2];
        var formattedDate = Joindateyear + "-" + (JoinDateMonth.padStart(2, '0')) + "-" + (day.padStart(2, '0'));
        document.getElementById('txtFromDate').value = formattedDate;
        document.getElementById('txtToDate').value = "2999-12-31";

        var Error = false;
        $("#txtFromDate,#txtToDate").change(function () {
            debugger;
            const ChekP_Process = @Html.Raw(Json.Encode(Session["p_process"]));

            var StartDate = $("#txtFromDate").val();
            var EndDate = $("#txtToDate").val();
            var sDate = new Date(StartDate);
            var eDate = new Date(EndDate);
            var Time = Math.abs(eDate - sDate);
            var days = Math.ceil(Time / (1000 * 60 * 60 * 24)) + 1;
            sDate.setDate(1);
            var checkJoinMonth = sDate.getMonth() + 1;
            var checkJoinYear = sDate.getFullYear();
            var getJoinDateMonth = Number(JoinDateMonth)
            var getJoindateyear = Number(Joindateyear)
            if (checkJoinYear < getJoindateyear) {
                $("#ErrortxtFromDate").html("Should not be less than joining year");
                $("#txtFromDate").focus().select();
                Error = true;
                return false;
            }
            else if (checkJoinMonth < getJoinDateMonth && ChekP_Process!="Increment") {
                $("#ErrortxtFromDate").html("Should not be less than joining date month");
                $("#txtFromDate").focus().select();
                Error = true;
                return false;
            } else {
                $("#ErrortxtFromDate").html("");
            }

            if (StartDate != '' && EndDate != '' && sDate > eDate) {
                $("#ErrortxtFromDate").html("To date should not be less than from date.");
                $("#txtFromDate").focus().select();
                $("#txtFromDate").val('');
                Error = true;
                return false;
            }
            else {
                $("#ErrortxtFromDate").html("");
            }
        });
    });
</script>

<script>
    //THIS CADE IS AJAX CALL AND SAVE RECORD
    $('#btnSubmit').click(function () {
        debugger;
        var Error = false;
        var Status = $("#statusText").text();
        var StartDate = $("#txtFromDate").val();
        var EndDate = $("#txtToDate").val();
        var EncriptedId = $("#hdnEncriptedId").val();
        var RateOTRate = parseFloat($("#txtRateOTRate").val());
        var CategoryId = $("#ddlCategoryName").val();
        var DailyMonthly = $("#ddlDailyMonthly").val();
        var OBEmployeeId = $("#hdnOBEmpId").val();
        var NextIncrementDate = $("#txtNextIncrementDate").val();
        var Remark = document.getElementById("txtRemark").value;
        var RateSalaryMode = document.getElementById("ddlRateSalaryMode").value;
        var CompanyBankName = document.getElementById("ddlCompanyBankName").value;

        var BudgetId = document.getElementById("ddlCTCBudget").value;

        EncriptedId = EncriptedId ? EncriptedId : null;
        var fromDate = document.getElementById("txtFromDate").value;
        var toDate = document.getElementById("txtToDate").value;
        var fromDateObj = new Date(fromDate);
        var toDateObj = new Date(toDate);
        if (fromDateObj > toDateObj) {
            $("#ErrortxtFromDate").html("FromDate should not be greater than ToDate.");
            document.getElementById("txtFromDate").value = ""; // Reset FromDate
            $("#txtFromDate").focus().select();
            return false;
        }
        else
        {
            $("#ErrortxtFromDate").html("");
        }

        if (StartDate == "") {
            $("#ErrortxtFromDate").html("From date is required");
            $("#txtFromDate").focus().select();
            return false;
        } else {
            $("#ErrortxtFromDate").html("");
        }
        if (EndDate == "") {
            $("#ErrortxtToDate").html("To date is required");
            $("#txtToDate").focus().select();
            return false;
        } else {
            $("#ErrortxtToDate").html("");
        }
        if (RateOTRate == "" && RateOTRate!=0) {
            $("#ErrortxtRateOTRate").html("To OT Rate is required");
            $("#RateOTRate").focus().select();
            return false;
        } else {
            $("#ErrortxtRateOTRate").html("");
        }
        if (CategoryId == '') {
            $("#ErrorddlCategoryName").html("Category name is required");
            $("#ddlCategoryName").focus().select();
            return false;
        } else {
            $("#ErrorddlCategoryName").html("");
        }

        if (NextIncrementDate == "") {
            $("#ErrortxtNextIncrementDate").html("Next increment date is required");
            $("#ErrortxtNextIncrementDate").focus().select();
            return false;
        } else {
            $("#ErrortxtNextIncrementDate").html("");
        }

        if (RateSalaryMode == "") {
            $("#ErrorddlRateSalaryMode").html("Salary mode is required");
            $("#ErrorddlRateSalaryMode").focus().select();
            return false;
        } else {
            $("#ErrorddlRateSalaryMode").html("");
        }

        if (CompanyBankName == "") {
            $("#ErrorddlCompanyBankName").html("Bank name is required");
            $("#ErrorddlCompanyBankName").focus().select();
            return false;
        } else {
            $("#ErrorddlCompanyBankName").html("");
        }

        if (BudgetId == "") {
            $("#ErrorddlCTCBudget").html("CTC budget is required");
            $("#CTCBudget").focus().select();
            return false;
        } else {
            $("#ErrorddlCTCBudget").html("");
        }

        if (Error) { return false;} else{ Error=false;}

        let partAData = {};
        let partBData = {};

        $('#partATable tbody tr').each(function () {
            let headName = $(this).find('td:eq(1)').text().trim();
            let value = $(this).find('input[type="text"]').val().trim();
            if (headName) {
                partAData[headName] = value;
            }
        });

        $('#partBTable tbody tr').each(function () {
            let headName = $(this).find('td:eq(1)').text().trim();
            let value = $(this).find('input[type="text"]').val().trim();
            if (headName) {
                partBData[headName] = value;
            }
        });
        var partATotal = $("#txtRateTotalPartA").val();
        var partBTotal = $("#txtRateTotalPartB").val();
        var partABTotal = $("#txtRateTotalPartAB").val();
        var Rate_VPF = $("#txtRate_VPF").val();

        var RatePartB_PF = $("#txtRatePartB_PF").val();
        var RatePartB_ESIC = $("#txtRatePartB_ESIC").val();
        var RatePartB_PT = $("#txtRatePartB_PT").val();
        var RatePartB_MLWF = $("#txtRatePartB_MLWF").val();
        var RatePartB_Head_A = $("#txtRatePartB_Head_A").val();
        var RatePartB_Head_B = $("#txtRatePartB_Head_B").val();
        var Rate_NetPay = $("#txtRate_NetPay").val();
        var RatePartB_AttendanceBonus_IsApplicable = $("#ChkRatePartB_AttendanceBonus_IsApplicable").length ? $("#ChkRatePartB_AttendanceBonus_IsApplicable").prop("checked"): false;
        var RateA=$("#txtRateA").val();
        var RateB=$("#txtRateB").val();
        var RateC=$("#txtRateC").val();
        let requestData = {
            data: {
                partA: partAData,
                partB: partBData
            },
            fromDate: StartDate,
            toDate: EndDate,
            Status: Status,
            RateOTRate: RateOTRate,
            CategoryId: CategoryId,
            DailyMonthly:DailyMonthly,
            partATotal: partATotal,
            partBTotal: partBTotal,
            partABTotal: partABTotal,
            EncriptedId: EncriptedId,
            OBEmployeeId: OBEmployeeId,
            NextIncrementDate:NextIncrementDate,
            Remark:Remark,
            Rate_VPF:Rate_VPF,
            RateSalaryMode:RateSalaryMode,
            CompanyBankId:CompanyBankName,
            BudgetId:BudgetId,
            RatePartB_PF:RatePartB_PF,
            RatePartB_ESIC:RatePartB_ESIC,
            RatePartB_PT:RatePartB_PT,
            RatePartB_MLWF:RatePartB_MLWF,
            RatePartB_Head_A:RatePartB_Head_A,
            RatePartB_Head_B:RatePartB_Head_B,
            Rate_NetPay:Rate_NetPay,
            RatePartB_AttendanceBonus_IsApplicable:RatePartB_AttendanceBonus_IsApplicable,
            RateA:RateA,
            RateB:RateB,
            RateC:RateC
        };
        console.log(requestData);
        //return false;
        $.ajax({
            url: '@Url.Action("SubmitData", "Module_Employee_CTCInfo")',
            type: 'POST',
            data: JSON.stringify(requestData),
            contentType: 'application/json',
            success: function (response) {
                debugger
                if (response.message != null) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            // return false
                        }
                    }).then((result) => {
                        if (response.Icon !== 'info') { // Only redirect if icon is not 'info'
                            var url = '@Url.Action("GetList", "Module_Employee_CTCInfo")';
                            window.location.href = url;
                        }
                        else
                        {
                            return false;
                        }
                    });
                } else {
                    console.log(response.message);
                }
                //CloseModel();
                //$('#tableModal').modal('hide');
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
</script>

<script type="text/javascript">
    function calculateFunction() {
        debugger;
        var StartDate = $("#txtFromDate").val();
        var DailyMonthly = $("#ddlDailyMonthly").val();
        var OBEmployeeId = $("#hdnOBEmpId").val();
        let partAData = {};
        $('#partATable tbody tr').each(function () {
            let headName = $(this).find('td:eq(1)').text().trim();
            let value = $(this).find('input[type="text"]').val().trim();
            if (headName) {
                partAData[headName] = value;
            }
        });
        var partATotal = $("#txtRateTotalPartA").val();

        // Create request payload
        let requestData1 = {
            data1: { partA: partAData },
            FromDate: StartDate,
            DailyMonthly: DailyMonthly,
            partATotal: partATotal
        };

        console.log(requestData1);

        $.ajax({
            url: '@Url.Action("CalculateDatas", "Module_Employee_CTCInfo", new { area = "Module" })',
            type: 'POST',
            data: JSON.stringify(requestData1),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response)
            {
                debugger;
                var json = JSON.parse(response);
                // Access the innermost array within GetCalculte
                const transformed = {
                    GetCalculte: Object.fromEntries(
                        json.GetCalculte[0].map(item => [item.Key, item.Value]) // Properly map Key and Value
                    )
                };
                // Access the transformed data
                var GetData = transformed.GetCalculte;
                if (GetData) {
                    $("#txtRatePartB_PFEmployer").val(GetData.RatePartB_PFEmployer != null ? GetData.RatePartB_PFEmployer : 0);
                    $("#txtRatePartB_ESICEmployer").val(GetData.RatePartB_ESICEmployer != null ? GetData.RatePartB_ESICEmployer : 0);
                    $("#txtRatePartB_Gratuity").val(GetData.RatePartB_Gratuity != null ? GetData.RatePartB_Gratuity : 0);
                    $("#txtRatePartB_A").val(GetData.RatePartB_A != null ? GetData.RatePartB_A : 0);

                    $("#txtRatePartB_PF").val(GetData.RatePartB_PFEmployee != null ? GetData.RatePartB_PFEmployee : 0);
                    $("#txtRatePartB_ESIC").val(GetData.RatePartB_ESICEmployee != null ? GetData.RatePartB_ESICEmployee : 0);
                    $("#txtRatePartB_PT").val(GetData.tb_SalaryDed_PTAmt != null ? GetData.tb_SalaryDed_PTAmt : 0);

                    $("#txtRate_NetPay").val(GetData.Rate_NetPay != null ? GetData.Rate_NetPay : 0);
                }

                //var GetData = transformed.GetCalculte;
                //$("#txtRatePartB_PFEmployer").val(GetData.RatePartB_PFEmployer);
                //$("#txtRatePartB_ESICEmployer").val(GetData.RatePartB_ESICEmployer);
                //$("#txtRatePartB_Gratuity").val(GetData.RatePartB_Gratuity);
                //$("#txtRatePartB_A").val(GetData.RatePartB_A);

                //var pf = $("#txtRatePartB_PF").val(GetData.RatePartB_PFEmployee);
                //var esic = $("#txtRatePartB_ESIC").val(GetData.RatePartB_ESICEmployee);
                //var pt = $("#txtRatePartB_PT").val(GetData.tb_SalaryDed_PTAmt);
                //$("#txtRate_NetPay").val(GetData.Rate_NetPay);
                $("#ChkRatePartB_AttendanceBonus_IsApplicable").prop("checked", GetData.RatePartB_AttendanceBonus_IsApplicable == 1);

                // Parse values for calculation
                var pf = parseFloat(GetData.RatePartB_PFEmployee) || 0;
                var esic = parseFloat(GetData.RatePartB_ESICEmployee) || 0;
                var pt = parseFloat(GetData.tb_SalaryDed_PTAmt) || 0;

                let MLWF = Number($("#txtRatePartB_MLWF").val());
                let GetHead_A =Number($("#txtRatePartB_Head_A").val());
                let GetHead_B = Number($("#txtRatePartB_Head_B").val());

                var RateTotalPartA = parseFloat($('#txtRateTotalPartA').val()) || 0;
                // Calculate Net Pay
                var netPay = RateTotalPartA - (pf + esic + pt + MLWF + GetHead_A + GetHead_B );
                $('#txtRate_NetPay').val(netPay);

                calculatePartBTotal();
                updateOverallTotal();
                if (response!= null) {
                    debugger;
                }
                else {
                    alert(response.message || "An error occurred.");
                }
            },
            error: function (xhr, status, error) {
                debugger;
                alert(response.Message || "An error occurreds.");
            }
        });
    }

</script>

<script>
    // Attach input change event for Part A inputs
    $('#partATable tbody').on('input', 'input[type="text"]', function () {
        calculatePartATotal();
    });
    // Attach input change event for Part B inputs
    $('#partBTable tbody input[type="text"]').on('input', function () {
        calculatePartBTotal();
    });

    // Function to calculate the total for Part A
    function calculatePartATotal() {
        let total = 0;
        $('#partATable tbody input[type="text"]').each(function () {
            let value = parseFloat($(this).val()) || 0; // Parse value or use 0 if NaN
            total += value;
        });

        $('#txtRateTotalPartA').val(total); // Set total value in the Total field

        // Update the overall total
        updateOverallTotal();
    }

    // Function to calculate the total for Part B
    function calculatePartBTotal() {
        let total = 0;

        $('#partBTable tbody input[type="text"]').each(function () {
            let value = parseFloat($(this).val()) || 0;
            total += value;
        });

        $('#txtRateTotalPartB').val(total); // Set total value in the Total field

        // Update the overall total
        updateOverallTotal();
    }

    // Function to update the overall total of Part A and Part B
    function updateOverallTotal() {
        let partATotal = parseFloat($('#txtRateTotalPartA').val()) || 0;
        let partBTotal = parseFloat($('#txtRateTotalPartB').val()) || 0;
        let overallTotal = partATotal + partBTotal;

        $('#txtRateTotalPartAB').val(overallTotal); // Set total value in the overall Total field
    }
</script>

@*THIS SCRIPT FOR CHECK ALL TEXTBOX ONLY NUMERIC ALLOW VALIDATION*@
<script>
    document.getElementById('tblPartA').addEventListener('input', function (e) {
        if (e.target.classList.contains('validate-number')) {
            validateInput(e.target);
        }
    });

    document.getElementById('tblPartB').addEventListener('input', function (e) {
        if (e.target.classList.contains('validate-number')) {
            validateInput(e.target);
        }
    });

    document.getElementById('txtRateOTRate').addEventListener('input', function (e) {
        if (e.target.classList.contains('validate-number')) {
            validateInput(e.target);
        }
    });

    document.querySelectorAll('.validate-number').forEach(function (element) {
        element.addEventListener('input', function () {
            validateInput(this);
        });
    });


    function validateInput(input) {
        const regex = /^\d*\.?\d{0,2}$/; // Regex: digits, optional dot, and up to 2 decimal places.
        const value = input.value;
        if (!regex.test(value)) {
            input.value = value.slice(0, -1); // Remove the last invalid character
        }
    }
</script>

<script>
    function updateNextIncrementDate(monthsToAdd) {
        var fromDate = document.getElementById('txtFromDate').value;
        var nextIncrementDate = document.getElementById('txtNextIncrementDate');

        // If no checkbox is checked, do nothing
        if (monthsToAdd > 0 && fromDate) {
            var fromDateObj = new Date(fromDate);
            fromDateObj.setMonth(fromDateObj.getMonth() + monthsToAdd);

            // Update Next Increment Date field
            var nextDate = fromDateObj.toISOString().split('T')[0]; // Format as YYYY-MM-DD
            nextIncrementDate.value = nextDate;
        }
    }
</script>



