@model KompassHR.Areas.ESS.Models.ESS_EmployeeGrievance.Employee_RaiseGrievance

@{
    ViewBag.Title = "ESS_Employee_RaiseGrievance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>


<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Raise Grievance
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "ESS_Employee_RaiseGrievance",  new { area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Raise Grievance- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Grievance here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Employee_RaiseGrievance", new { area = "ESS" })' id="SaveRaiseGrievance" method="post" enctype="multipart/form-data">
                                @Html.HiddenFor(model => model.RaiseGrievanceId_Encrypted, new { id = "txtRaiseGrievanceId_Encrypted" })
                                @Html.HiddenFor(model => model.GrievanceFilePath)
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Grievance Raise Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.GrievanceRaiseDate, new { name = "GrievanceRaiseDate", @class = "form-control", id = "txtGrievanceRaiseDate", type = "date", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-2">
                                                Doc Id
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(model => model.DocId, new { @class = "form-control", id = "txtdocId", autocomplete = "Off", name = "DocId", Value = @ViewBag.DocId, @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Grievance Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.GrievanceCategoryId, new SelectList(ViewBag.CategoryName, "Id", "Name"), "--Select--", new { id = "ddlCategoryID", name = "CategoryID", @class = "form-select", autocomplete = "off", onchange = "onCategoryChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Grievance SubCategory
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.GrievanceSubCategoryId, new SelectList(ViewBag.GrievanceSubCategory, "Id", "Name"), "--Select--", new { id = "ddlSubCategoryID", name = "SubCategoryID", @class = "form-select", autocomplete = "off", onchange = "onSubCategoryChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                SubCategory  Description
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.SubCatDescription, new { id = "txtSubCatDescription", name = "SubCatDescription", @class = "form-control", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "summernote", style = "border: 1px solid #000;", id = "txtDescription", @placeholder = "Description....", autocomplete = "Off", contenteditable = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Proof upload
                                    </label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="file" onchange="ResetFile()" name="GrievanceFilePath" id="GrievanceFilePath" accept=".jpg,.jpeg,.png,.pdf" />
                                        @Html.ValidationMessageFor(model => model.GrievanceFilePath, null, new { @class = "help-block", @id = "ErrorPhotoPath", @style = "color:red" })
                                        <label class="form-label col-form-label col-md-8" id="fileUploadFile-lbltext">@TempData["FileName"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "ESS_Employee_RaiseGrievance", new { area = "ESS" })">
                                                    <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>



<script>
    $(document).ready(function () {
        debugger;
        document.getElementById('txtGrievanceRaiseDate').value = SetTodaysDate;
        var today = new Date().toISOString().split("T")[0];
        document.getElementById("txtGrievanceRaiseDate").setAttribute("max", today);
    });
</script>

<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#formReset").click(function () {
            $("#SaveRaiseGrievance")[0].reset();
        });

    });//Ready Funcation
</script>


<script>

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveRaiseGrievance').validate({
        rules: {
            GrievanceRaiseDate:{
                required: true,
            },
            GrievanceCategoryId: {
                required: true,
            },
            GrievanceSubCategoryId: {
                required: true,
            },
        },
        messages: {
            GrievanceRaiseDate:{
                required: "Grievance Raise Date is required",

            },
            GrievanceCategoryId: {
                required: "Grievance Category name is required",
            },
            GrievanceSubCategoryId: {
                required: "Grievance SubCategory name is required",
            }
        },
    });

    var form = $("#SaveRaiseGrievance");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtGrievanceRaiseDate").removeClass('error');
            return false;
        }
        var GrievanceCategoryId=$("#ddlCategoryID").val();
        var GrievanceSubCategoryId=$("#ddlSubCategoryID").val();
        var RaiseGrievanceId_Encrypted=$("#txtRaiseGrievanceId_Encrypted").val();
        var Description=$("#txtDescription").val();
        var GrievanceRaiseDate=$("#txtGrievanceRaiseDate").val();

        $.ajax({
            url:"IsRaiseGrievanceExists",
            method:"get",
            data:{GrievanceCategoryId:GrievanceCategoryId,
                RaiseGrievanceId_Encrypted:RaiseGrievanceId_Encrypted,
                GrievanceSubCategoryId:GrievanceSubCategoryId
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveRaiseGrievance").submit();
                }
            }
        });
    });
</script>

<script>
    function onCategoryChange() {debugger
        var GrievanceCategoryId = document.getElementById("ddlCategoryID").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetGrievanceSubCategory", "ESS_Employee_RaiseGrievance")',
            data: { GrievanceCategoryId: GrievanceCategoryId },
            success: function (data) {
                var $SubCategoryDropdown = $("#ddlSubCategoryID");
                $SubCategoryDropdown.empty();

                if (data && data.length > 0) {
                    $SubCategoryDropdown.append("<option value=''>--Select--</option>");
                    $.each(data, function (i, module) {
                        $SubCategoryDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $SubCategoryDropdown.append("<option>--Select--</option>");
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#ddlSubCategoryID").empty().append("<option>Error loading modules</option>");
            }
        });
    }
</script>

<script>
    function onSubCategoryChange() {
        debugger
        var GrievanceSubCategoryId = document.getElementById("ddlSubCategoryID").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSubCatDescription", "ESS_Employee_RaiseGrievance")',
            data: { GrievanceSubCategoryId: GrievanceSubCategoryId },
            success: function (data) {debugger
                $("#txtSubCatDescription").val(data);
            },
            error: function () {
                console.error("Failed to fetch modules.");
            }
        });
    }
</script>


<script>
    function ResetFile()
    {
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf'];
        let type = document.getElementById('fileupload').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }else{
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf",
            })
            document.getElementById("fileUploadFile").value = null;
        }

        $("#lblFileName").text('');
    }
</script>