@model KompassHR.Areas.Setting.Models.Setting_Safety.Safety_AccidentDetails
@{
    ViewBag.Title = "Setting_Safety_AccidentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }


    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }



    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/ESS/ESS_Recruitment_Menu/ESS_Recruitment_Menu/?id=1">Resource Request</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Accident Details</h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Accident Details - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>

                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/ESS/ESS_Recruitment_ResourcesRequisition/SaveUpdate" id="SaveResourcesRecruitment" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", id = "DocNo", type = "text", autocomplete = "Off", Value = @ViewBag.DocNo.DocNo, @readonly = "readonly", Style = "background-color: #e9ecef;" })
                                                @Html.HiddenFor(model => model.AccidentDetailId_Encrypted)
                                                @Html.HiddenFor(model => model.AccidentDetailId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", id = "txtDocDate", type = "date", name = "DocDate", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Job Information
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlCmpId", type = "text", name = "CmpId", autocomplete = "Off" })
                                               </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AccidentDetailBranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlAccidentDetailBranchId", type = "text", name = "AccidentDetailBranchId", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Accident Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AccidentTime, new { @class = "form-control", id = "txtAccidentTime", type = "time", name = "AccidentTime" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Sub Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AccidentDetailSubUnitId, new SelectList(ViewBag.SubUnitList, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlAccidentDetailSubUnitId", type = "text", name = "AccidentDetailSubUnitId", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AccidentDetailShiftId, new SelectList(ViewBag.GetShiftList, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlAccidentDetailShiftId", type = "text", name = "AccidentDetailShiftId", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Short Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AccidentDescription, new { @class = "form-control", id = "txtAccidentDescription", type = "text", name = "AccidentDescription", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                               Cause
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AccidentCause, new { @class = "form-control", id = "txtAccidentDescription", type = "text", name = "AccidentDescription", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="ReplacementDiv">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                               Nature
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AccidentNature, new { @class = "form-control", id = "txtAccidentNature", type = "text", name = "AccidentNature", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                               Immediate Correction Action 
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ImmediateCorrectionAction, new { @class = "form-control", id = "txtImmediateCorrectionAction", type = "text", name = "ImmediateCorrectionAction", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                HospitalName
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.HospitalName, new { @class = "form-control", id = "txtHospitalName", type = "text", name = "HospitalName", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Was Anybody Injured
                                            </label>
                                            <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.WasAnybodyInjured, new { @class = "form-control", id = "txtWasAnybodyInjured", type = "text", name = "WasAnybodyInjured", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Was Anybody Involved
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.WasAnybodyInvolved, new { @class = "form-control", id = "txtWasAnybodyInvolved", type = "text", name = "WasAnybodyInvolved", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                WhereThereIsAnyWitness
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.WhereThereIsAnyWitness, new { @class = "form-control", id = "txtWhereThereIsAnyWitness", type = "text", name = "WhereThereIsAnyWitness", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                AccidentBookBy
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AccidentBookBy, new { @class = "form-control", id = "txtAccidentBookBy", type = "text", name = "AccidentBookBy", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList"
                                                                class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = document.getElementById("tblrptActualLog");
        var rowCount = table.rows.length -1;
        $("#tblRowCount").html("No Of Rows : " + rowCount);
        var FD = document.getElementById("FromDate").value;
        var TD = document.getElementById("ToDate").value;
        $('title').html("Actual Log Report ("+FD+"To"+TD+")");

        var CheckEmptyDate = document.getElementById('FromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('FromDate').value = SetTodaysDate;
            document.getElementById('ToDate').value = SetTodaysDate;
        }

      
        $("#ddlCmpId").select2();
        $("#ddlAccidentDetailBranchId").select2();
        $("#ddlAccidentDetailSubUnitId").select2();
        $("#ddlAccidentDetailShiftId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();
        $("#ddlSubUnit").select2();
       
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlAccidentDetailBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_Safety_AccidentDetails")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        var Branch = data.Branch;
                        $("#ddlAccidentDetailBranchId").append("<option value=''>All </option>");
                        $.each(Branch, function (i, p) {
                            $("#ddlAccidentDetailBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlAccidentDetailBranchId").on("change", function () {
            debugger;
            $("#ddlAccidentDetailSubUnitId").find("option").remove();
            $("#ddlAccidentDetailShiftId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Setting_Safety_AccidentDetails")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlAccidentDetailSubUnitId").find("option").remove();
                        $("#ddlAccidentDetailShiftId").find("option").remove();
                        $("#ddlAccidentDetailSubUnitId").append("<option value=''>All </option>");
                        $("#ddlAccidentDetailShiftId").append("<option value=''>All </option>");
                    }
                    else {
                        var ShiftNameGet = data.ShiftNameGet;
                        var List_SubUnit = data.List_SubUnit;
                      
                        if (List_SubUnit != null) {
                            $("#ddlAccidentDetailSubUnitId").append("<option value=''>All </option>");
                            $.each(List_SubUnit, function (i, p) {
                                $("#ddlAccidentDetailSubUnitId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (ShiftNameGet != null) {
                            $("#ddlAccidentDetailShiftId").append("<option value=''>All </option>");
                            $.each(ShiftNameGet, function (i, p) {
                                $("#ddlAccidentDetailShiftId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

    });//Ready Funcation
</script>




