@model KompassHR.Areas.Setting.Models.Setting_UserAccessPolicy.Tool_UserRights
@{
    ViewBag.Title = "Setting_UserRights";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .tblAddData td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10) {
        text-align: center;
    }

    #tblUserRights td:nth-child(1) {
        display: none;
    }

    #tblUserRights td:nth-child(2) {
        display: none;
    }
</style>

<div id="content" class="app-content">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                User Right
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_UserAccessPolicy_Menu", "Setting_UserAccessPolicy_Menu", new { id = 32, ScreenId = 121, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">User Right - <b>@ViewBag.AddUpdateTitle</b> </h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        User rights are determined by the sensitivity and criticality of the data or functions within the HRMS. For example, certain users may have read-only access, while others might have permission to modify or delete data. or Make any necessary adjustments or modifications if certain settings need to be customized for the target user.
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Setting/Setting_UserRights/Setting_UserRights" id="SaveUserRight" method="post">

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Empoyee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.UserRightsEmployeeId, new SelectList(ViewBag.EmployeeName, "Id", "Name"), new { @class = "form-select", name = "GetEmpolyeeName", id = "ddlEmployeeId" })
                                                <span id="ErrortxtGetEmpolyeeName" class="Error"></span>
                                                @Html.HiddenFor(model => model.UserRightsID_Encrypted, new { id = "UserRightsIDEncrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                User Group Policy
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.UserRightsGroupId, new SelectList(ViewBag.GroupName, "Id", "Name"), "--Select--", new { @class = "form-control", name = "UserGroupName", id = "txtGetUserPolicyName" })
                                                <span id="ErrortxtGetUserPolicyName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row mb-15px">
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnshow" style="width:90px;">
                                                    <i class="fa-solid fa-share-from-square"></i> Show
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="panel-body">
                                                <!-- BEGIN table-responsive -->
                                                <div class="table-scroll div1">
                                                    <div class="table-wrap">
                                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle  tblAddData" id="tblUserRight">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr class="trheading">
                                                                    <th hidden>ScreenId</th>
                                                                    <th hidden>ScreenModuleId</th>
                                                                    <th class="text-center" colspan="3" style="border-left:1px solid lightgray;"></th>

                                                                    <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsMenuCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsMenu')"> All</label></th>
                                                                    @*<th class="text-center"><label><input type="checkbox" name="checkbox" id="IsSaveCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsSave')"> All</label></th>
                                                                        <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsUpdateCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsUpdate')"> All</label></th>
                                                                        <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsDeleteCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsDelete')"> All</label></th>
                                                                        <th class="text-center"><label><input type="checkbox" name="checkbox" id="IsListCheckBox" value="value" onclick="checkAllCheckboxes(this, 'IsList')"> All</label></th>*@
                                                                </tr>
                                                                <tr>
                                                                    <th hidden>ScreenId</th>
                                                                    <th hidden>ScreenModuleId</th>
                                                                    <th class="text-center" style="border-left:1px solid lightgray;">Screen Name</th>
                                                                    <th class="text-center">Description</th>
                                                                    <th class="text-center">Screen Type</th>
                                                                    <th class="text-center">Menu</th>
                                                                    @*<th class="text-center">Add</th>
                                                                        <th class="text-center">Modify</th>
                                                                        <th class="text-center">Delete</th>
                                                                        <th class="text-center">List</th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tblUserRights">
                                                                @if (ViewBag.GetMenus != null)
                                                                {
                                                                    foreach (var d in ViewBag.GetMenus)
                                                                    {
                                                                        <tr>
                                                                            @*<td class="fixed-side0 text-center" style="background-color:white !important; border-color:black !important;">
                                                                                    <input type="checkbox" id="txtDesignationId" class="chk chkDesignation" />
                                                                                </td>*@
                                                                            <td class="text-nowrap" hidden>@d.ScreenID</td>
                                                                            <td class="text-nowrap" hidden>@d.ScreenModuleId</td>
                                                                            <td class="text-nowrap" style="border-left:1px solid lightgray;">@d.ScreenDisplayMenuName</td>
                                                                            <td class="">@d.DescriptionForUser</td>
                                                                            <td class="text-nowrap">@d.ScreenMenuType</td>
                                                                            <td class="text-center">
                                                                                <input type="checkbox" @(d.IsMenu == true ? "checked" : "")>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- END table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        Submit
                                                    </button>
                                                    @*<a href="/Setting/Setting_UserRights/GetList">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetUserAccessPolicyList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlEmployeeId").select2();
        $("#txtGetUserPolicyName").select2();
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlEmployeeId").find("option").remove();
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            //var BranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_UserRights")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;

                    var BranchName = data.Branch;
                    if (BranchName != null) {
                        //var data1 = data.data;
                        //$("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(data.Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });

                    }
                    else {
                        $("#ddlBranchId").append("<option value=''>--Select-- </option>");
                    }
                    var EmployeeName = data.EmployeeName;
                    if (EmployeeName != null) {
                        //$("#ddlEmployeeId").append("<option value=''>All </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $("#ddlEmployeeId").append("<option value=''>--Select-- </option>");
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlEmployeeId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: 'GetUnit',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlEmployeeId").find("option").remove();
                        $("#ddlEmployeeId").append("<option value=''>--Select-- </option>");
                    }
                    else {
                        debugger;
                        $("#ddlEmployeeId").find("option").remove();
                        if (data != null) {
                            //$("#txtEmployeeUnit").append("<option value=''>--Select-- </option>");
                            $.each(data, function (i, p) {
                                $("#ddlEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        else {
                            $("#ddlEmployeeId").append("<option value=''>--Select-- </option>");
                        }
                    }
                }
            })
        });

    });

    function checkAllCheckboxes(checkbox, checkboxType) {
        debugger;
        var checkboxes = document.querySelectorAll('[id^="' + checkboxType + 'CheckBox"]');
        checkboxes.forEach(function (cb) {
            cb.checked = checkbox.checked;
        });
        // if (checkboxType === 'IsMenu' || checkboxType === 'IsSave' || checkboxType === 'IsUpdate' || checkboxType === 'IsDelete' || checkboxType === 'IsList') {
        if (checkboxType === 'IsMenu') {

            var typeIndex = ['IsMenu'].indexOf(checkboxType);
            //var typeIndex = ['IsMenu', 'IsSave', 'IsUpdate', 'IsDelete', 'IsList'].indexOf(checkboxType);
            var dynamicCheckboxes = document.querySelectorAll('#tblUserRights tr td:nth-child(' + (typeIndex + 6) + ') input[type="checkbox"]');
            dynamicCheckboxes.forEach(function (dynamicCheckbox) {
                dynamicCheckbox.checked = checkbox.checked;
            });
        }
    }
</script>

<script>
    $("#btnshow").click(function () {
        debugger;
        var EmployeeId = $("#ddlEmployeeId").val();
        var GroupId = $("#txtGetUserPolicyName").val();
        if (EmployeeId == "") {
            $("#ErrortxtGetEmpolyeeName").html("Please select compane name");
            return false;
        }
        else {
            $("#ErrortxtGetEmpolyeeName").html("");
        }
        if (GroupId == "") {
            $("#ErrortxtGetUserPolicyName").html("Please select group policy");
            return false;
        }
        else {
            $("#ErrortxtGetUserPolicyName").html("");
        }

        $(".Userloaderbg").css("display", "flex");
        $("#SaveUserRight").submit();
        //window.location.href = '@Url.Action("GetscreenName", "Setting_UserRights")';
    });


    @*$("#btnshow").click(function () {
        debugger;
        var EmployeeId = $("#ddlEmployeeId").val();
        var GroupId = $("#txtGetUserPolicyName").val();
        if (EmployeeId == "")
        {
            $("#ErrortxtGetEmpolyeeName").html("Please select compane name");
            return false;
        }
        else
        {
            $("#ErrortxtGetEmpolyeeName").html("");
        }
        if (GroupId == "") {
            $("#ErrortxtGetUserPolicyName").html("Please select group policy");
            return false;
        }
        else {
            $("#ErrortxtGetUserPolicyName").html("");
        }
        //Validation();
        //$("#ErrorModuleName").html("");

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetscreenName", "Setting_UserRights")',
            data: { EmployeeId: EmployeeId, GroupId: GroupId },
            dataType: "JSON",
            success: function (data) {
                debugger;
                // If table is initialized
                if ($.fn.DataTable.isDataTable('#tblUserRights')) {
                    // Destroy existing table
                    $('#tblUserRights').DataTable().destroy();


                    //if success it will display the data
                    $('#show_productss').html(data);

                    // Initialize the table
                    $('#tblUserRights').DataTable();
                }
                $('#tblUserRights tr').not(function () { return !!$(this).has('th').length; }).remove();
                for (i = 0; i < data.data.length; i++) {
                    debugger;
                    var table = document.getElementById("tblUserRights");
                    var rowcount = table.rows.length;
                    var row = table.insertRow(rowcount);
                    var count = $('#tblUserRights  tr').length;
                    row.insertCell(0).innerHTML = "" + data.data[i][0].Value + "";
                    row.insertCell(1).innerHTML = "" + data.data[i][1].Value + "";
                    row.insertCell(2).innerHTML = "" + data.data[i][2].Value + "";
                    row.insertCell(3).innerHTML = "" + data.data[i][9].Value + "";
                    row.insertCell(4).innerHTML = "" + data.data[i][3].Value + "";
                    row.insertCell(5).innerHTML = '<input ' + (data.data[i][4].Value ? 'checked' : ' ') + ' type="checkbox" />';
                    //row.insertCell(6).innerHTML = '<input ' + (data.data[i][5].Value ? 'checked' : ' ') + ' type="checkbox" />';
                    //row.insertCell(7).innerHTML = '<input ' + (data.data[i][6].Value ? 'checked' : ' ') + ' type="checkbox" />';
                    //row.insertCell(8).innerHTML = '<input ' + (data.data[i][7].Value ? 'checked' : ' ') + ' type="checkbox" />';
                    //row.insertCell(9).innerHTML = '<input ' + (data.data[i][8].Value ? 'checked' : ' ') + ' type="checkbox" />';
                }
                $('#show_data').html(html);
                var table = $('#tblUserRight').DataTable();

            }

        });
    });*@

    $("#btnSubmit").click(function () {
        $(".Userloaderbg").css("display", "flex");
        var table = document.getElementById("tblUserRights");
        //var EmployeeId = $("#ddlEmployeeId").val();
        var EmployeeId = $('select#ddlEmployeeId option:selected').val();
        var GroupId = $("#txtGetUserPolicyName").val();
        var UserRightsIDEncrypted = $("#UserRightsIDEncrypted").val();

        var rowCount = table.rows.length;
        var UseRigths = [];
        debugger;
        for (i = 0; i <= rowCount - 1; i++) {
            debugger;
            var data = {};
            data.UserRightsScreenId = table.rows[i].cells[0].innerHTML;
            data.UserRightsModuleId = table.rows[i].cells[1].innerHTML;
            data.UserRightsGroupId = GroupId;
            //data.ScreenDisplayMenuName = table.rows[i].cells[2].innerHTML;
            //data.Description = table.rows[i].cells[3].innerHTML;
            //data.ScreenMenuType = table.rows[i].cells[4].innerHTML;
            data.ismenu = table.rows[i].cells[5].children[0].checked;
            data.EmployeeId = EmployeeId;
            //data.IsSave = table.rows[i].cells[6].children[0].checked;
            //data.IsUpdate = table.rows[i].cells[7].children[0].checked;
            //data.IsDelete = table.rows[i].cells[8].children[0].checked;
            //data.IsList = table.rows[i].cells[9].children[0].checked;
            UseRigths.push(data);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdate", "Setting_UserRights")',
            data: JSON.stringify({ UseRigths: UseRigths, EmployeeId: EmployeeId }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",

            //type: "POST",
            //url: "SaveUpdate",
            //data: JSON.stringify({ UseRigths: UseRigths, EmployeeId: EmployeeId }),
            //contentType: "application/json; charset=utf-8",
            //dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (Icon1 != null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                // return false
                            }
                        }).then(function () {
                            location.reload();
                        })
                    }
                }
            }
        });
    });
</script>
