@model KompassHR.Areas.Setting.Models.Setting_TicketManagement.Ticket_Matrix

@{
    ViewBag.Title = "Setting_TicketManagement_TicketMatrix";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }

        .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Ticket Matrix
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action(" ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard" , new { id=32, ScreenId=121, area="ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(" Setting_TicketManagement_Menu", "Setting_TicketManagement_Menu" , new { id=13 ,ScreenId=89, area="Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session[" HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Ticket Matrix- <b>@ViewBag.AddUpdateTitle</b> </h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define Ticket Matrix here

                    </p>
                </div>
                <div class="panel-body">
                    <form action="/Setting/Setting_TicketManagement_TicketMatrix/SaveUpdate" id="SaveTicketMatrix" method="post">

                        <h5 class="mb-3" style="border-bottom:2px solid #ccc; padding-bottom:5px;">
                            Ticket Information
                        </h5>

                        <!-- Row 1 -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Ticket Category <span class="important">*</span></label>
                                @Html.DropDownListFor(model => model.TicketMatrixKPICategoryId, new SelectList(ViewBag.GetTicketCategory, "Id", "Name"),
                                "--Select--", new { @class = "form-select", id = "txtTicketMatrixKPICategoryId" })
                                @Html.HiddenFor(model => model.TicketMatrixID_Encrypted, new { @class = "form-control", id = "TicketMatrixID_Encrypted" })
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Ticket Sub Category<span class="important">*</span></label>
                                @Html.DropDownListFor(model => model.TicketSubCategoryId, new SelectList(ViewBag.GetTicketSubCategory, "Id", "Name"),
                                "--Select--", new { @class = "form-select", id = "txtTicketSubCategoryId", name = "TicketSubCategoryId" })
                            </div>
                        </div>

                        <!-- Row 2 -->
                        <div class="row mb-3">
                            <div class="col-md-6 d-none">
                                <label class="form-label">Ticket Type Name<span class="important">*</span></label>
                                @Html.HiddenFor(m => m.TicketType, new { id = "txtTicketType", value = Model?.TicketType ?? "SYSTEM" })
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Overall TAT(in hours/days) <span class="important">*</span></label>
                                @Html.TextBoxFor(model => model.TicketMatrixTAT, new { @class = "form-control", id = "txtTicketMatrixTAT", name = "TicketMatrixTAT" })
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Department Responsible<span class="important">*</span></label>
                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.GetDepartment, "Id", "Name"),
                                "--Select--", new { @class = "form-select", id = "ddlDepartmentID", name = "DepartmentID" })
                            </div>
                        </div>

                        <h5 class="mb-3 mt-4" style="border-bottom:2px solid #ccc; padding-bottom:5px;">
                            Escalation Levels & Assigned Employees
                        </h5>

                        <div class="row">
                            @for (int i = 1; i <= 4; i++)
                            {
                                @*<div class="row mb-3">*@
                                <div class="col-md-6 mb-4">
                                    @*<div class="col-md-12 mb-2">
                                        <strong>Escalation Level @i</strong>
                                    </div>*@
                                    <h6 class="fw-bold">Escalation Level @i</h6> 

                                    @*<div class="col-md-6 mb-4">*@
                                        <label class="form-label me-2">
                                            Assigned Employee
                                            @if (i == 1)
                                            {
                                                <span class="important">*</span>
                                            }
                                        </label>

                                        <div class="input-group">
                                            @Html.DropDownList($"Level{i}Employee", new SelectList(ViewBag.getEmployeeID, "Id", "Name"), "--Select--", new { @class = "form-select", id = $"ddlLevel{i}Employee", name = $"Level{i}Employee" })
                                            <div class="input-group-text">
                                                @if (i == 1)
                                                {
                                                    @Html.CheckBoxFor(m => m.chkAllLevel1, new { id = "chkAllLevel1", @class = "chkAllLevel", data_level = "1" })
                                                }
                                                else if (i == 2)
                                                {
                                                    @Html.CheckBoxFor(m => m.chkAllLevel2, new { id = "chkAllLevel2", @class = "chkAllLevel", data_level = "2" })
                                                }
                                                else if (i == 3)
                                                {
                                                    @Html.CheckBoxFor(m => m.chkAllLevel3, new { id = "chkAllLevel3", @class = "chkAllLevel", data_level = "3" })
                                                }
                                                else if (i == 4)
                                                {
                                                    @Html.CheckBoxFor(m => m.chkAllLevel4, new { id = "chkAllLevel4", @class = "chkAllLevel", data_level = "4" })
                                                }
                                                <label for="chkAllLevel@i" class="ms-1 mb-0">All</label>
                                            </div>
                                        </div>
                                    </div>

                                @*</div>*@
                            }
                            </div>

                            @*<div class="col-md-6">
                <label class="form-label">
                    Level @i TAT (in hours)
                    @if (i == 1)
                    {
                        <span class="important">*</span>
                    }
                </label>

                    @Html.DropDownList($"Level{i}TAT", new SelectList(ViewBag.GetTAT, "Id", "Name"),"--Select--", new { @class = "form-select", id = $"Level{i}TAT", name = $"Level{i}TAT" })

            </div>*@

                            @*</div>
            }*@




                            <h5 class="mb-3 mt-4" style="border-bottom:2px solid #ccc; padding-bottom:5px;">
                                Response Time
                            </h5>


                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Severity Level</th>
                                        <th>Response Time (In Minutes)</th>
                                        <th>Resolution Time (In Hour)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Critical</td>
                                        <td>@Html.TextBoxFor(m => m.Critical_ResponseTime, new { @class = "form-control", id = "txtCritical_ResponseTime", type = "number", min = "1" })</td>
                                        <td>@Html.TextBoxFor(m => m.Critical_ResolutionTime, new { @class = "form-control", id = "txtCritical_ResolutionTime", type = "number", min = "1" })</td>
                                    </tr>
                                    <tr>
                                        <td>High</td>
                                        <td>@Html.TextBoxFor(m => m.High_ResponseTime, new { @class = "form-control", id = "txtHigh_ResponseTime", type = "number", min = "1" })</td>
                                        <td>@Html.TextBoxFor(m => m.High_ResolutionTime, new { @class = "form-control", id = "txtHigh_ResolutionTime", type = "number", min = "1" })</td>
                                    </tr>
                                    <tr>
                                        <td>Medium</td>
                                        <td>@Html.TextBoxFor(m => m.Medium_ResponseTime, new { @class = "form-control", type = "number", min = "1" })</td>
                                        <td>@Html.TextBoxFor(m => m.Medium_ResolutionTime, new { @class = "form-control", type = "number", min = "1" })</td>
                                    </tr>
                                    <tr>
                                        <td>Low</td>
                                        <td>@Html.TextBoxFor(m => m.Low_ResponseTime, new { @class = "form-control", type = "number", min = "1" })</td>
                                        <td>@Html.TextBoxFor(m => m.Low_ResolutionTime, new { @class = "form-control", type = "number", min = "1" })</td>
                                    </tr>
                                </tbody>

                                @*<tbody>
                    @for (int i = 0; i < Model.SeverityList.Count; i++)
                    {
                        <tr class="severity-row">
                            <td>
                                @Html.TextBoxFor(m => m.SeverityList[i].SeverityLevel,
                                 new { @class = "form-control" , @readonly = "readonly" })
                            </td>
                            <td >
                                @Html.TextBoxFor(m => m.SeverityList[i].ResponseTime,
                                 new { @class = "form-control resp"  })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.SeverityList[i].ResolutionTime,
                                new { @class = "form-control res" })
                            </td>
                        </tr>
                    }
                </tbody>*@



                            </table>



                        <h5 class="mb-3 mt-4" style="border-bottom:2px solid #ccc; padding-bottom:5px;">
                            KeyPoints
                        </h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    @*<label class="form-label col-form-label col-md-2">
                                        KeyPoints
                                    </label>*@

                                    <label class="form-label">KeyPoints
                                    <div class="col-md-12 mt-2">
                                        @Html.TextAreaFor(model => model.KeyPoints, new { @class = "summernote", style = "border: 1px solid #000;", id = "txtKeyPoints", @placeholder = "KeyPoints....", autocomplete = "Off", contenteditable = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>


                            <!-- Buttons -->
                            <div class="text-end mt-4">
                                <button type="button" class="btn btn-primary btn-sm" id="btnSubmit">
                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                </button>
                                <a href="@Url.Action("GetList", "Setting_TicketManagement_TicketMatrix" , new { area="Setting" })">
                                    <button type="button" class="btn btn-danger btn-sm" id="btnLeaveList">
                                        <i class="fa-solid fa-share-from-square"></i> List
                                    </button>
                                </a>
                            </div>

</form>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });
</script>


<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>

<script>
    $(document).ready(function () {
        $("#ddlLevel1Employee, #ddlLevel2Employee, #ddlLevel3Employee, #ddlLevel4Employee, #ddlDepartmentID").select2();
        $("#txtTicketMatrixKPICategoryId").select2();
        $("#txtTicketSubCategoryId").select2();

        $("#txtTicketMatrixKPICategoryId").on("change", function () {
            debugger;
            var CategoryId = $(this).val();
            $("#txtTicketSubCategoryId").empty();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                url: '@Url.Action("GetSubCategory", "Setting_TicketManagement_TicketMatrix")',
                data: { CategoryId: CategoryId },
                success: function (data) { debugger;
                    var data = data.data || [];
                    if (data.length > 0) {debugger
                        $("#txtTicketSubCategoryId").append("<option value=''>--Select--</option>");
                        $.each(data, function (i, t) {
                            $("#txtTicketSubCategoryId").append("<option value='" + t.Id + "'>" + t.Name + "</option>");
                        });
                    }

                }
            });
        });

        $("#ddlDepartmentID").on("change", function () { debugger;
            var DepartmentID = $(this).val();
            $("[id^=ddlLevel]").each(function () {
                var ddl = $(this);
                var level = ddl.attr("id").replace("ddlLevel", "").replace("Employee", "");
                var chk = $("#chkAllLevel" + level);
                ddl.empty();
                if (chk.is(":checked")) {
                    loadAllEmployees(ddl);
                } else {
                    loadDeptEmployees(ddl, DepartmentID);
                }
            });
        });

        $(".chkAllLevel").change(function () {
            var level = $(this).data("level");
            var ddl = $("#ddlLevel" + level + "Employee");
            ddl.empty();

            if (this.checked) {
                loadAllEmployees(ddl);
            } else {
                var DepartmentID = $("#ddlDepartmentID").val();
                if (DepartmentID) {
                    loadDeptEmployees(ddl, DepartmentID);
                }
            }
        });

        function loadAllEmployees(ddl) { debugger;
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                url: '/Setting/Setting_TicketManagement_TicketMatrix/GetAllEmployees',
                success: function (data) {
                    ddl.append("<option value=''> --Select-- </option>");
                    $.each(data.result, function (i, p) {
                        ddl.append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            });
        }

        function loadDeptEmployees(ddl, DepartmentID) { debugger;
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                url: '/Setting/Setting_TicketManagement_TicketMatrix/GetEmployee',
                data: { DepartmentID: DepartmentID },
                success: function (data) {
                    ddl.append("<option value=''> --Select-- </option>");
                    $.each(data.result, function (i, p) {
                        ddl.append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            });
        }
    });




    $('#SaveTicketMatrix').validate({
        rules: {
            TicketMatrixKPICategoryId: {
                required: true
            },
            TicketSubCategoryId: {
                required: true
            },
            TicketMatrixTAT: {
                required: true
            },
            DepartmentID: {
                required: true
            },
            Level1Employee: {
                required: true
            },
            Critical_ResponseTime:{
                required: true
            },
            Critical_ResolutionTime:{
                required: true
            },
            High_ResponseTime:{
                required: true
            },
            High_ResolutionTime:{
                required: true
            },
            Medium_ResponseTime:{
                required: true
            },
            Medium_ResolutionTime:{
                required: true
            },
            Low_ResponseTime:{
                required: true
            },
            Low_ResolutionTime:{
                required: true
            },

            //Level2Employee: {
            //    required: true
            //},
            //Level3Employee: {
            //    required: true
            //},
            //Level4Employee: {
            //    required: true
            //},
            //Level1TAT: {
            //    required: true
            //},
            //Level2TAT: {
            //    required: true
            //},
            //Level3TAT: {
            //    required: true
            //},
            //Level4TAT: {
            //    required: true
            //}
        },

        messages: {
            TicketMatrixKPICategoryId: {
                required: "KPI Category is required"
            },
            TicketSubCategoryId: {
                required: "Ticket SubCategory is required"
            },
            TicketMatrixTAT: {
                required: "Ticket Matrix TAT is required"
            },
            DepartmentID: {
                required: "Department is required"
            },
            Level1Employee: {
                required: "Level 1 Employee is required"
            },
            Level2Employee: {
                required: "Level 2 Employee is required"
            },
            Level3Employee: {
                required: "Level 3 Employee is required"
            },
            Level4Employee: {
                required: "Level 4 Employee is required"
            },
            Critical_ResponseTime:{
                required: "Critical Response Time is required"
            },
            Critical_ResolutionTime:{
                required: "Critical Resolution Time is required"
            },
            High_ResponseTime:{
                required:  "High Response Time is required"
             },
    High_ResolutionTime:{
        required:"High Resolution Time is required"
    },
    Medium_ResponseTime:{
        required: "Medium Response Time is required"
    },
    Medium_ResolutionTime:{
        required: "Medium Resolution Time is required"
    },
    Low_ResponseTime:{
        required: "Low Response Time is required"
    },
    Low_ResolutionTime:{
        required: "Low Resolution Time is required"
    }
            //Level1TAT: {
            //    required: "Level 1 TAT is required"
            //},
            //Level2TAT: {
            //    required: "Level 2 TAT is required"
            //},
            //Level3TAT: {
            //    required: "Level 3 TAT is required"
            //},
            //Level4TAT: {
            //    required: "Level 4 TAT is required"
            //}
        },

        /// Uncomment if you want custom placement of error messages
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    });



    function CheckDuplicateLevels() {
        debugger
        var L1 = $("#ddlLevel1Employee").val();
        var L2 = $("#ddlLevel2Employee").val();
        var L3 = $("#ddlLevel3Employee").val();
        var L4 = $("#ddlLevel4Employee").val();

        var arr = [L1, L2, L3, L4].filter(x => x !== "" && x !== null);

        var duplicate = arr.some((value, index) => arr.indexOf(value) !== index);

        if (duplicate) {
            Swal.fire({
                icon: "error",
                text: "Assigned employees cannot be duplicate."
            });
            return false;
        }

        return true;
    }

    function ValidateSeverityOrder() {
        debugger
        var crit = Number($("#txtCritical_ResolutionTime").val());
        var high = Number($("#txtHigh_ResolutionTime").val());
        var medium = Number($("input[name='Medium_ResolutionTime']").val());
        var low = Number($("input[name='Low_ResolutionTime']").val());

        // Validate Critical < High
        if (high <= crit) {
            Swal.fire({
                icon: "error",
                text: "High Resolution Time must be greater than Critical Resolution Time."
            });
            return false;
        }

        // Validate High < Medium
        if (medium <= high) {
            Swal.fire({
                icon: "error",
                text: "Medium Resolution Time must be greater than High Resolution Time."
            });
            return false;
        }

        // Validate Medium < Low
        if (low <= medium) {
            Swal.fire({
                icon: "error",
                text: "Low Resolution Time must be greater than Medium Resolution Time."
            });
            return false;
        }

        return true;
    }


    var form = $("#SaveTicketMatrix");
    //form.validate();
    $("#btnSubmit").click(function () {
        debugger
        if (form.valid() == false) {
            ValidateLevelEmployee();
            return false;
        }

        if (!CheckDuplicateLevels()) {
            return false;  // stop submit
        }

        if (!ValidateSeverityOrder()) {
            return false;
        }

        var TicketMatrixID_Encrypted = $("#TicketMatrixID_Encrypted").val();
        var ddlTicketCategoryID = $("#txtTicketMatrixKPICategoryId").val();
        var TicketSubCategoryId = $("#txtTicketSubCategoryId").val(); // ✅ FIX

        var txtTicketTypeName = $("#txtTicketType").val();
        var txtTicketMatrixTAT = $("#txtTicketMatrixTAT").val();
        var ddlDepartmentID = $("#ddlDepartmentID").val();

        // ✅ FIXED
        var ddlResponsibleEmployeeID = $("#ddlLevel1Employee").val();
        var txtTicketMatrixUnit = ""; // or real field if added

        $.ajax({
            url: "IsResponserEmployeeExists",
            method: "GET",
            data: {
                TicketMatrixID_Encrypted: TicketMatrixID_Encrypted,
                ddlTicketCategoryID: ddlTicketCategoryID,
                TicketSubCategoryId:TicketSubCategoryId,

                txtTicketTypeName: txtTicketTypeName,
                txtTicketMatrixUnit: txtTicketMatrixUnit,
                txtTicketMatrixTAT: txtTicketMatrixTAT,
                ddlDepartmentID: ddlDepartmentID,
                ddlResponsibleEmployeeID: ddlResponsibleEmployeeID
            },
            success: function (response) {

                if (response.Icon === "error") {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message
                    });
                } else {
                    $("#SaveTicketMatrix").submit();
                }
            }
        });
    });

    function ValidateLevelEmployee() {
        debugger
        let isValid = true; // track overall validity

        for (let i = 1; i <= 4; i++) {
            let employeeVal = $(`#ddlLevel${i}Employee`).val();
          //  let tatVal = $(`#Level${i}TAT`).val();

            // Validate Employee
            if (employeeVal === '') {
                $(`#ErrorLevel${i}Employee`).text(`Level ${i} Employee is required`);
                isValid = false;
            } else {
                $(`#ErrorLevel${i}Employee`).text('');
            }

            // Validate TAT
            //if (tatVal === '') {
            //    $(`#ErrorLevel${i}TAT`).text(`Level ${i} TAT is required`);
            //    isValid = false;
            //} else {
            //    $(`#ErrorLevel${i}TAT`).text('');
            //}
        }

        return isValid; // false if any level failed, true if all passed
    }



    //$("form").submit(function () {
    //debugger
    //    $(".severity-row").each(function () {

    //        let response = $(this).find(".resp").val();
    //        let resolution = $(this).find(".res").val();

    //        if (response === "" || resolution === "" || response=="null" || resolution=="null" ) {

    //            $(this).find("input").each(function () {
    //                $(this).prop("disabled", true);
    //            });
    //        }
    //    });
    //});


</script>
