
@{
    ViewBag.Title = "ESS_TimeOffice_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->

<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">Attendance</h5>
        <ol class="breadcrumb float-md-end mb-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/img/Icons/home-button.png" class="img-fluid" style="max-width: 40%;float:right" />
                </a>
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p> <b>Attendance</b>  Displays detailed records of employee attendance, including check-in and check-out times, total hours worked, absences, tardiness, and any other relevant attendance-related information.</p>
                </div>

                <div class="panel-body">
                    <div class="row mb-20px">
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '@Url.Action("GetList", "ESS_TimeOffice_ShiftChange")';" style="cursor: pointer;">
                            <div class="widget widget-stats bg-blue mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Shift Change</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("GetList", "ESS_TimeOffice_ShiftChange", new { area = "ESS" })" id="anchorApprovals" style="color:white;" onClick="Showdata('RECR03','Approvals pending with me')">@TempData["CountShiftChange"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Open raised by me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '/ESS/ESS_TimeOffice_OutDoor/ESS_TimeOffice_GetApproveRejectList';" style="cursor: pointer;">
                            <div class="idget widget-stats bg-teal mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">OutDoor</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("ESS_TimeOffice_GetApproveRejectList", "ESS_TimeOffice_OutDoor", new { area = "ESS" })" id="anchorApprovals" style="color:white;" onClick="Showdata('RECR03','Approvals pending with me')">@TempData["CountOutDoorCompany"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Open raised by me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '/ESS/ESS_TimeOffice_PersonalGatePass/ESS_TimeOffice_GetApproveRejectPersOnalGatepassList';" style="cursor: pointer;">
                            <div class="widget widget-stats bg-purple mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Personal Gatepass</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("ESS_TimeOffice_GetApproveRejectPersOnalGatepassList", "ESS_TimeOffice_PersonalGatePass", new { area = "ESS" })" id="AchorRequsitions" onClick="Showdata('RECR01','Open raised by me')" style="color:white;">@TempData["CountPersonalGatepass"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 76.3%;"></div>
                                    </div>
                                    <div class="stats-desc">Open raised by me </div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-4 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '/ESS/ESS_TimeOffice_WHF/ESS_TimeOffice_WHF_ApprovalandrejectList';" style="cursor: pointer;">
                            <div class="widget widget-stats bg-dark mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Work From Home</div>
                                    <div class="stats-number"><a href="@Url.Action("ESS_TimeOffice_WHF_ApprovalandrejectList", "ESS_TimeOffice_WHF", new { area = "ESS" })" id="AchorCandidate" onClick="Showdata('CandidatesPendingForAction','Candidates Pending for actions')" style="color:white;"> @TempData["CountWorkFromHome"] </a></div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 54.9%;"></div>
                                    </div>
                                    <div class="stats-desc"> Open raised by me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '/ESS/ESS_TimeOffice_PunchMissing/ESS_TimeOffice_GetPunchMissingApprovalpendingList';" style="cursor: pointer;">
                            <div class="widget widget-stats bg-orange mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Punch Missing</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("ESS_TimeOffice_GetPunchMissingApprovalpendingList", "ESS_TimeOffice_PunchMissing", new { area = "ESS" })" id="AnchorInterview" onClick="Showdata('RECR07','Interviews pending with me')" style="color:white;">@TempData["CountPunchMissing"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 23.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Open raised by me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6" onClick="location.href = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';" style="cursor: pointer;">
                            <div class="widget widget-stats bg-pink mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Approval</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval", new { area = "ESS" })" id="AnchorDatabaseCandidates" onClick="Showdata('DatabaseCandidates','Database Candidates')" style="color:white;">@TempData["ApprovelRequestCount"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 10.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Pending Request</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                    </div>
                    <div class="gradientLine-Div">
                        <div class="gradientLine1"> </div>
                        <div><strong>Menu</strong></div>
                        <div class="gradientLine2"> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                @foreach (var item in ViewBag.GetUserMenuList)
                                {
                                    <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/@item.Icon" width="50px" height="50px" />
                                            <h3>@item.ScreenDisplayMenuName</h3>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


