@model KompassHR.Areas.Setting.Models.Setting_Prime.Mas_CompanyEmergencyContact
@{
    ViewBag.Title = "Setting_Prime_CompanyEmergencyContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<style>
    .card {
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
    }

    .card-text {
        font-weight: 600;
        text-align: justify;
        font-size: 13px;
        height: 80px;
    }

    .card-body .features {
        background: #EAF0FF;
        width: fit-content;
        color: #1676CC;
        font-size: 11px;
        font-weight: 800;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 5px;
    }

    .important {
        color: red;
    }

    .iconBx {
        /* background-color: #E60019; */
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

        .iconBx img {
            width: 100%;
        }

        .iconBx .iconWord {
            background-color: #fff;
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 50px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 800;
        }

    .card-footer .ApplyCountBx {
        font-size: 12px;
        font-weight: 800;
    }

    .ApplyCountBx abbr {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .ApplyCountBx .CountIcon {
        padding: 3px 5px;
        border-radius: 50px;
        font-size: 15px;
    }

    .ApplyCountBx,
    .ApplyBtnBx {
        width: auto;
    }

    .btn-greenlight {
        background-color: #1ED760;
        color: #fff;
        font-size: 12px;
        padding: 5px 8px;
    }

        .btn-greenlight:hover {
            background-color: #159241;
            color: #fff;
        }

        .btn-greenlight:active {
            transform: translateY(4px);
            background-color: #159241;
            color: #fff;
        }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    [title] {
        position: relative;
    }

        [title]:after {
            content: attr(title);
            position: absolute;
            left: -10px;
            bottom: 100%;
            color: #fff;
            background-color: #000;
            padding: 5px 8px;
            width: max-content;
            opacity: 0;
            -webkit-transition: opacity 0.9s ease;
            /* 👈 Change the time to meet your requirements. */
            font-weight: 500;
        }

        [title]:hover:after {
            opacity: 1;
        }

    .ApplyHistory {
        display: flex;
        justify-content: end;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    }

        .ApplyHistory .PostedTime {
            margin: 0 5px;
            font-size: 12px;
            color: #727272;
            font-weight: 600;
        }

        .ApplyHistory .ApplyCountBx {
            color: #1676CC;
            margin: 0 5px;
            font-size: 14px;
            font-weight: 800;
        }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            /* width: 80px; */
            margin: 5px 15px;
            font-size: 15px;
        }

            .BtnBx .btn i {
                margin-right: 5px;
            }

    .JobDescription {
        margin-bottom: 20px;
        padding: 10px;
    }

        .JobDescription .Title {
            margin: 10px 0;
        }

        .JobDescription .Text {
            font-size: 14px;
            font-weight: 500;
            text-align: justify;
        }

            .JobDescription .Text ul li {
                margin-bottom: 0.25rem;
                font-weight: 600;
                color: #727272;
            }

    .featureBx {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

        .featureBx .feature-Item {
            background-color: #f5f5f5;
            width: 120px;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #fff;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
        }

    .feature-Item .Title {
        font-size: 12px;
        text-align: center;
    }

    .feature-Item .Text {
        font-size: 14px;
        font-weight: 800;
        text-align: center;
    }

    .HiringImg {
        display: block;
    }

    .HiringImg2 {
        display: none;
    }


    .modal-body-content {
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>



<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/ESS/ESS_AdminDashboard_Dashboard/ESS_AdminDashboard_Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Setting/Setting_Prime_Menu/Setting_Prime_Menu">PrimeSetting Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Emergency Contact </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Emergency Contact - <b>@ViewBag.AddUpdateTitle</b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>    
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        
                        
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Setting/Setting_Prime_CompanyEmergencyContact/SaveUpdate" id="SaveEmergencyContact" method="post" data-parsley-validate="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                               @Html.DropDownListFor(model => model.ContactBranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { id = "ddlContactBranchId", @class = "form-select", autocomplete = "off", name = "ContactBranchId" })
                                                @Html.HiddenFor(model => model.CompanyEmergencyContactId_Encrypted,new { id= "CompanyEmergencyContactId_Encrypted" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                               Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Type, new { @class = "form-control", type = "text", id = "txtType", autocomplete = "Off", name = "Type" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", type = "text", id = "Name", autocomplete = "Off", name = "Name" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                               Designation
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">                                                
                                                @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", type = "text", id = "txtDesignation", autocomplete = "Off", name = "Designation" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                               Mobile No
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", type = "text", maxlength = "10", onkeypress = "return event.charCode >=48", inputmode = "numeric", id = "txtMobileNo", name = "MobileNo" , autocomplete = "Off" })
                                            </div>
                                        </div>                                         
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                            </label>
                                            <label class="form-label col-form-label col-md-2">
                                                @Html.CheckBoxFor(model => model.IsGlobal)
                                                &nbsp;  Is Global
                                            </label>

                                        </div>                                      
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="/Setting/Setting_Prime_CompanyEmergencyContact/GetList">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetIFSCCodeList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#formReset").click(function () {
            $("#SaveEmergencyContact")[0].reset()
        })
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

    });
</script>


<script>

    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveEmergencyContact").validate({
        rules: {
            ContactBranchId: {
                required: true,            
            },
            Type: {
                required: true,
            },
            Name: {
                required: true,
                regex: /^[a-zA-Z ]+$/,
            },
            Designation: {
                required: true,
                regex: /^[a-zA-Z ]+$/,
            },
            MobileNo: {
                required: true,
                regex: /^[0-9]+$/,
            },          
        },
        messages: {
            ContactBranchId: {
                required: "Business unit is required",              
            },
            Type: {
                required: "Type name  is required",
            },
            Name: {
                required: "Name is required",
                regex:"Please enter only alphabet",
            },
            Designation: {
                required: "Designation is required",
                regex:"Please enter only alphabet",
            },
            MobileNo: {
                required: "Mobile no is required",
                regex:"Please enter only number",
            },           
        }

    });

    var form = $("#SaveEmergencyContact");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        var MobileNo=$("#txtMobileNo").val();
        var CompanyEmergencyContactId_Encrypted=$("#CompanyEmergencyContactId_Encrypted").val();        

        $.ajax({
            url:"IsContactExists",
            method:"get",
            data:{MobileNo:MobileNo,CompanyEmergencyContactId_Encrypted:CompanyEmergencyContactId_Encrypted},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveEmergencyContact").submit();

                }
            }
        });

    });
</script>

