
@{
    ViewBag.Title = "ViewForEmployeeBusinessTransferApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.GetTransferApprovalList;
     //var Detail = TempData["GetEmployeeReportList"]
}

<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb hidden-print float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="#" id="backButton"> Back</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header hidden-print">Approval Request <small></small></h1>
    <!-- END page-header -->
    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            <input type="hidden" id="hdnEncryptedId" value="@Item.TransferBusinessUnitId_Encrypted" />
            <input type="hidden" id="hdnDocIdId" value="@Item.TransferBusinessUnitId" />
            <input type="hidden" id="hdnOrigin" value="@Item.Origin" />
            <input type="hidden" id="hdnTransferEmployeeId" value="@Item.TransferEmployeeId" />
            <input type="hidden" id="hdnTransferToBranchId" value="@Item.TransferToBranchId" />
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <a href="#modal-dialogForApproval1" onclick="Approved()" type="button" class="btn btn-success" id="btnmodal-dialog" value="Approved"><i class="fa-solid fa-check-double"></i>Process</a>
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-danger" id="btnmodal-dialog1" value="Rejected">Reject</button>
            </span>
            Employee Transfer Business Unit
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.TransferEmployee</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b>  &nbsp;  @Item.CompanyMobileNo <b></b><br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b> &nbsp;  @Item.CompanyMailID
                            </address>
                        </div>
                    </div>

                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Doc No</span><br /></th>
                                            <td>@Item.DocNo</td>

                                            <th><span class="text-dark">Doc Date</span><br /></th>
                                            <td>@Item.DocDate</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@Item.TransferEmployee</td>

                                            <th><span class="text-dark">Transfer Order By</span><br /></th>
                                            <td>@Item.OrderByEmployee</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Form Business Unit</span><br /></th>
                                            <td>@Item.TransferEmployeeBranch</td>

                                            <th><span class="text-dark">To Business Unit</span><br /></th>
                                            <td>@Item.ToBranch</td>
                                        </tr>

                                        <tr>
                                            <th><span class="text-dark">Reason</span><br /></th>
                                            <td>@Item.TransferReason</td>

                                            @*<th><span class="text-dark">To Business Unit</span><br /></th>
                                                <td>@ViewBag.GetEmployeeReportList.BirthDayDate</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>

    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            Employee Information
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    @*<div class="invoice-header">
                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.TransferEmployee</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b>  &nbsp;  @Item.CompanyMobileNo <b></b><br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b> &nbsp;  @Item.CompanyMailID
                            </address>
                        </div>
                    </div>*@

                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.EmployeeName</td>

                                            <th><span class="text-dark">Employee No</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.EmployeeNo</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Company Name</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.CompanyName</td>

                                            <th><span class="text-dark">Business Unit</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.BranchName</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Department Name</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.DepartmentName</td>

                                            <th><span class="text-dark">Designation Name</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.DesignationName</td>
                                        </tr>

                                        <tr>
                                            <th><span class="text-dark">Grade Name</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.GradeName</td>

                                            <th><span class="text-dark">Line Master</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.LineName</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Aadhar No</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.AadharNo</td>

                                            <th><span class="text-dark">Joining Date</span><br /></th>
                                            <td>@ViewBag.GetEmployeeReportList.JoiningDate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Rejected()" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<script>
    function OpenModule() {
        debugger;
        $("#myModalFinal").modal('show');
    }

    function Approved() {
        debugger
        var TransferEmployeeId = $("#hdnTransferEmployeeId").val();
        var Origin = $("#hdnOrigin").val();
        var TransferToBranchId = $("#hdnTransferToBranchId").val();
        if (Origin == 'Trans_BU') {
            var url = '@Url.Action("Module_Employee_Onboarding", "Module_Employee_Onboarding",new { area= "Module" })?TransferEmployeeId=' + TransferEmployeeId;
            window.location.href = url;
        }

    }


    function Rejected() {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                $(".Userloaderbg").css("display", "flex");
                var DocId = $("#hdnDocIdId").val();
                var Remark = $("#txtApproveRejectRemark").val();
                $.ajax({
                    url: "@Url.Action("ApproveRequest", "ESS_EmployeeTransfer_ForApproval")",
                    method: "get",
                    data: { DocId: DocId, Remark: Remark },
                    success: function (response) {
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        $(".Userloaderbg").css("display", "none");
                        $("#myModalFinal").modal('hide');
                        $("#txtApproveRejectRemark").val("")
                        if (Message1 != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '@Url.Action("ESS_EmployeeTransfer_ForApproval", "ESS_EmployeeTransfer_ForApproval")';
                                    } else if (
                                        /* Read more about handling dismissals below */
                                        result.dismiss === Swal.DismissReason.cancel
                                    ) {

                                    }
                                })
                            }
                        }
                    }
                });

            }
        })
    }
</script>
