@model KompassHR.Areas.Setting.Models.Setting_LMS.LMS_Library
@{
    ViewBag.Title = "Setting_LMS_Library";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    #txtURL-error, #fileUploadFile-error, label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .lbltext {
        text-align: left;
        height: 25px;
        color: green;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                LMS Library
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_LMS_Menu", "Setting_LMS_Menu", new { id = 38, ScreenId = 562, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">LMS Library - @ViewBag.AddUpdateTitle</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define LMS library here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_LMS_Library", new { area = "Setting" })' id="SaveLMS_Library"  method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { id = "ddlCmpID", name = "CmpID", @class = "form-select", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.LMSLibraryId_Encrypted, new { @id = "LMSLibraryId_Encrypted" })
                                                @Html.ValidationMessageFor(model => model.CmpID, null, new { @class = "help-block", @id = "ErrorCmpID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                LMS Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.LMSLibrary_CategoryId, new SelectList(ViewBag.LMSCategory, "Id", "Name"), "--Select--", new { id = "ddlLMSLibrary_CategoryId", name = "LMSLibrary_CategoryId", @class = "form-select", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.LMSLibrary_CategoryId, null, new { @class = "help-block", @id = "ErrorLMSLibrary_CategoryId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                LMS Sub Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", type = "text", name = "Title", id = "txtTitle", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-block", @id = "ErrorTitle", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", type = "text", name = "Description", id = "txtDescription", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-block", @id = "ErrorDescription", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Upload File

                                            </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" onchange="ResetFile()" name="DocumentPath" id="DocumentPath" />
                                                @Html.ValidationMessageFor(model => model.DocumentPath, null, new { @class = "help-block", @id = "ErrorDocumentPath", @style = "color:red" })
                                                <label class="form-label col-form-label col-md-8" id="fileUploadFile-lbltext">@TempData["FileName"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="col-md-2"></label>
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(model => model.IsAssessmentRequired, new { name = "IsAssessmentRequired", id = "chkIsAssessmentRequired" })
                                                &nbsp;
                                                <label class="form-check-label form-label">Is Assessment Required</label>

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                @Html.CheckBoxFor(model => model.IsDigitalSignature, new { name = "IsDigitalSignature", id = "chkIsDigitalSignature" })
                                                &nbsp;&nbsp;
                                                <label class="form-check-label form-label">Is IsDigital Signature Required</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_LMS_Library", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnCompanyDocument">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ddlCmpID").select2();
        $("#ddlLMSLibrary_CategoryId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });//Ready Funcation
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    // Use for Add validation in form
    $("#SaveLMS_Library").validate({
        rules: {
            CmpID: {
                required: true,
            },
            LMSLibrary_CategoryId:{
                required: true
            },
            Title:{
                required: true,
            },
            Description:{
                required: true,
            },
        },
        messages: {
            CmpID: {
                required: "Comapny name is required"
            },
            LMSLibrary_CategoryId:{
                required:"Category name is required",
            },
            Title:{
                required: "Title is required",
            },
            Description:{
                required: "Description is required",
            },
        }
    });


    var form = $("#SaveLMS_Library");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        if(form.valid()==false)
        {
            return false;
        }
        var CmpID=$("#ddlCmpID").val();
        var LMSLibrary_CategoryId=$("#ddlLMSLibrary_CategoryId").val();
        var LMSLibraryId_Encrypted=$("#LMSLibraryId_Encrypted").val();
        var Title=$("#txtTitle").val();
        $.ajax({
            url: '@Url.Action("IsLMSLibraryExists", "Setting_LMS_Library")',
            method:"get",
            data:{CmpID:CmpID, LMSLibrary_CategoryId:LMSLibrary_CategoryId,LMSLibraryId_Encrypted:LMSLibraryId_Encrypted,Title:Title },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveLMS_Library").submit();
                }
            }
        });

    });

    function ResetFile()
    {
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf'];
        let type = document.getElementById('fileupload').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }else{
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf",
            })
            document.getElementById("fileUploadFile").value = null;
        }

        $("#lblFileName").text('');
    }

</script>