@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_MonthlyTax
@{
    ViewBag.Title = "ESS_Tax_ReplacementInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    h6 {
        margin-top: -20px;
        padding: 0 10px;
    }

    mark {
        background-color: #fff;
        font-size: 15px;
        padding: 0 5px;
    }


    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
      .select2.select2-container {
        width: 100% !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Monthly Tax 
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_TaxCalculation_Menu", "ESS_Tax_TaxCalculation_Menu", new {id = 9, ScreenId= 546, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Monthly Tax   - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define year wise Monthly Tax here!
                    </p>
                </div>
                <div class="panel-body" style="height: 100% !important;">
                    <form role="form" action='@Url.Action("SaveUpdate", "ESS_Tax_ReplacementInput", new { area = "ESS" })' id="SaveReplacementInput" method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Financial Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.MonthlyTaxFyearId, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "ddlMonthlyTaxFyearId", @class = "form-control", autocomplete = "off", name = "MonthlyTaxFyearId" })
                                        @Html.HiddenFor(model => model.MonthlyTaxId_Encrypted, new { id = "MonthlyTaxId_Encrypted" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Month Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxMonthYear, new { id = "MonthlyTaxMonthYear", type="month", @class = "form-control", autocomplete = "off", name = "MonthlyTaxMonthYear" })                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Employee Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.MonthlyTaxEmployeeId, new SelectList(ViewBag.GetEmployeeList, "Id", "Name"), "--Select--", new { id = "ddlMonthlyTaxEmployeeId", @class = "form-control", autocomplete = "off", name = "MonthlyTaxEmployeeId" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Amount
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxGross, new { id = "MonthlyTaxGross ", type = "number", @class = "form-control rnt", autocomplete = "off", name = "MonthlyTaxGross", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Tax Amount
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxAmount, new { id = "MonthlyTaxAmount amt", @class = "form-control", autocomplete = "off", type = "number", name = "MonthlyTaxAmount", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Base Tax
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxBaseTax, new { id = "MonthlyTaxBaseTax amt", @class = "form-control", autocomplete = "off", type = "number", name = "MonthlyTaxBaseTax", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Surcharge
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxSurcharge, new { id = "MonthlyTaxSurcharge amt", type = "number", @class = "form-control", autocomplete = "off", name = "MonthlyTaxSurcharge", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Education
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.MonthlyTaxEducation, new { id = "MonthlyTaxEducation amt", @class = "form-control", autocomplete = "off", type = "number", name = "MonthlyTaxEducation", style = "text-align: right;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Remark
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.MonthlyTaxRemark, new { id = "MonthlyTaxRemark", @class = "form-control", autocomplete = "off", name = "MonthlyTaxRemark" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "ESS_Tax_ReplacementInput", new { area = "ESS" })">
                                                    <button type="button" id="btnGetTaxRuleList" class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>



<script>
    // Helper function to format a Date object as 'YYYY-MM-DD'
    function formatToYYYYMMDD(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 0-based index
        const day = String(date.getDate()).padStart(2, '0'); // Always '01' here
        return `${year}-${month}-${day}`;
    }
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveReplacementInput").validate({
        rules: {
            MonthlyTaxFyearId: {
                required: true,
            },
            MonthlyTaxMonthYear: {
                required: true,
            },
            MonthlyTaxEmployeeId: {
                required: true,
            },
            MonthlyTaxGross:{
                required: true,
            },
            MonthlyTaxAmount: {
                required: true,
            },
            MonthlyTaxBaseTax:{
                required:true,
            },
            MonthlyTaxSurcharge:{
                required:true
            },
            MonthlyTaxEducation:{
                required:true
            },
            MonthlyTaxRemark: {
                required: true,
            },

        },
        messages: {
            MonthlyTaxFyearId: {
                required: "Please select financial year",
            },
            MonthlyTaxMonthYear: {
                required: "Please select month and year",
            },
            MonthlyTaxEmployeeId: {
                required: "Please select Employee",
            },
            MonthlyTaxGross:{
                required:"Please enter amount"
            },
            MonthlyTaxAmount: {
                required: "Please enter tax amount",
            },    
            MonthlyTaxBaseTax:{
                required: "Please enter base tax",
            },
            MonthlyTaxSurcharge:{
                required:"Please enter surcharge",
            },
            MonthlyTaxEducation:{
                required:"Please enter education",
            },
            MonthlyTaxRemark: {
                required: "Please enter remark",
            },           
        },
    });

    //IsValidation Check
    var form = $("#SaveReplacementInput");
    form.validate();

    $("#btnSubmit").click(function () {

        debugger;
        form.valid();
        if(form.valid()==false)
        {
            //$("#dateToDate").removeClass('error');
            return false;
        }
        var MonthlyTaxFyearId = $("#ddlMonthlyTaxFyearId").val();
        var MonthlyTaxId_Encrypted = $("#MonthlyTaxId_Encrypted").val();
        var MonthlyTaxMonthYear = $("#MonthlyTaxMonthYear").val();
        var MonthlyTaxEmployeeId=$("#ddlMonthlyTaxEmployeeId").val();
        $.ajax({
            url: "@Url.Action("IsMonthlyTaxExists", "ESS_Tax_ReplacementInput")",
            method:"get",
            data: { MonthlyTaxFyearId: MonthlyTaxFyearId, MonthlyTaxId_Encrypted: MonthlyTaxId_Encrypted ,MonthlyTaxMonthYear:MonthlyTaxMonthYear,MonthlyTaxEmployeeId:MonthlyTaxEmployeeId},
            success:function(response){
            debugger;
            var Message1 = response.Message;
            var Icon1 = response.Icon;
            if (response.Icon=="error") {
                if (Message1 != null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                    }
                }
            }
            else{
                $("#SaveReplacementInput").submit();
            }
        }
    });

    });





</script>


<script>


        $(document).ready(function(){
        $("#ddlMonthlyTaxFyearId").select2();
        $("#ddlMonthlyTaxEmployeeId").select2();

        var MonthYear = @Html.Raw(Json.Encode(TempData["MonthlyTaxMonthYear"]));

        if (MonthYear && MonthYear !== "null" && MonthYear !== "undefined" && MonthYear.trim() !== "") {
            var dateParts = MonthYear.split('-');
            var yyyy = parseInt(dateParts[0], 10);
            var mm = parseInt(dateParts[1], 10) - 1;
            var selectedDate = new Date(yyyy, mm, 1);
            var formattedMonth = selectedDate.getFullYear() + '-' + String(selectedDate.getMonth() + 1).padStart(2, '0');
            var CheckEmptyDate = document.getElementById('MonthlyTaxMonthYear').value;
            if (CheckEmptyDate === "") {
                document.getElementById('MonthlyTaxMonthYear').value = formattedMonth;
            }
        } else {
            console.error("TempData['MonthlyTaxMonthYear'] is invalid or empty.");
        }

        updateFinancialYearRange();

        // Also apply when dropdown changes
        $('#ddlMonthlyTaxFyearId').change(function () {
            debugger
            updateFinancialYearRange();
        });

        function updateFinancialYearRange() {
            debugger
            var selectedFYear = $('#ddlMonthlyTaxFyearId').find(":selected").text(); // Get selected financial year text

            if (selectedFYear && selectedFYear.includes("-")) {
                var years = selectedFYear.split("-"); // Assuming format "2023-2024"
                var startYear = years[0].trim();
                var endYear = years[1].trim();

                // Define financial year range
                minDate = startYear + "-04"; // Financial year starts in April
                maxDate = endYear + "-03";   // Financial year ends in March

                $('#MonthlyTaxMonthYear').attr('min', minDate);
                $('#MonthlyTaxMonthYear').attr('max', maxDate);
            } else {
                $('#MonthlyTaxMonthYear').removeAttr('min max');
            }
        }
    });

    //var today = new Date();
    //// Format the date as YYYY-MM (year-month)
    //var yyyy = today.getFullYear();
    //var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
    //var defaultMonth = yyyy + '-' + mm;
    //// Set the value of the input element to the default month
    //var CheckEmptyDate = document.getElementById('MonthlyTaxMonthYear').value;
        
    //if (CheckEmptyDate == "") {
    //    document.getElementById('MonthlyTaxMonthYear').value = defaultMonth;
    //}
    var Message = @Html.Raw(Json.Encode(TempData["Message"]));
    var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
    if (Message != null) {
        if (Icon != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    // return false
                }
            }).then(function() {
                window.location.reload();
            });
        }
    }


</script>