@model KompassHR.Areas.Setting.Models.Setting_Recruitment.Recruitment_AssignDesignation
@{
    ViewBag.Title = "Setting_RecruitmentAssign_Designation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .chkDesignation {
        text-align: center;
    }

    /*.tblAddData td:nth-child(1) {
        text-align: center;
         width: 60px;
    }*/
    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Recruitment Assign Designation Wise
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Recruitment_Menu", "Setting_Recruitment_Menu", new { id =1 ,ScreenId =35, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Recruitment Assign Designation</h4>
                  
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define recruiter assign designation here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Setting_RecruitmentAssign_Designation", "Setting_RecruitmentAssign_Designation", new { area = "Setting" })' id="SaveAssignDesignation" method="post" data-parsley-validate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AssignDesignationEmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "--Select--", new { id = "ddlAssignDesignationEmployeeID", @class = "form-control select", name = "AssignDesignationEmployeeID" })
                                                @Html.ValidationMessageFor(model => model.AssignDesignationEmployeeID, "", new { @class = "help-block", @id = "ErrorAssignDesignationEmployeeID", @style = "color:red" })
                                                @Html.HiddenFor(model => model.RecruitmentAssignDesignationID_Encrypted, new { id = "RecruitmentAssignDesignationID_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" id="btnshow" onclick="ShowDesignation()" class="btn btn-primary btn-sm">Show</button>
                                    </div>
                                </div>
                                @*<div style="height:400px; overflow-y:auto">*@
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <!-- BEGIN table-responsive -->
                                            <div class="table-scroll">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered align-middle tblAddData" id="tblRecruitmentDesignation"
                                                           style="width: 100%;">
                                                        <thead class="text-center" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                            <tr>
                                                                <th class="fixed-side text-center">Select</th>
                                                                <th hidden class="fixed-side text-center">DesignationId</th>
                                                                <th class="fixed-side1 text-center">Designation Name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="TblDesignation">
                                                            @foreach (var d in ViewBag.DesignationList)
                                                            {
                                                                <tr>

                                                                    <td class="text-center">
                                                                        <input type="checkbox" id="txtDesignationId" class="chk chkDesignation" Value="@d.Id" />
                                                                    </td>
                                                                    <td class="text-nowrap">@d.Id</td>
                                                                    <td class="text-nowrap">@d.Name</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        @*<a href="/Setting/Setting_RecruitmentAssign_Designation/GetList">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetCostCenterList">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger;
        $("#ddlRecruitmentDesignationID").select2();
        $("#ddlRecruitmentGradeID").select2();
        $("#ddlAssignDesignationEmployeeID").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $('#tblRecruitmentDesignation').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
        });

        var AssignDesignationList = @Html.Raw(Json.Encode(ViewBag.AssignDesignationList));
        debugger;
        if (AssignDesignationList != null) {
            var table = document.getElementById("TblDesignation");
            var rowCount = table.rows.length;
            for (i = 0; i < rowCount; i++) {
                var TableDepartmentId = Number(table.rows[i].cells[1].innerHTML);
                var UpdatedepartmentId = Number(AssignDesignationList[i][1].Value);
                var CheckboxValue = Number(AssignDesignationList[i][0].Value);
                var chk = document.querySelectorAll('.chk');
                if (TableDepartmentId === UpdatedepartmentId && CheckboxValue === 1) {
                    var achk = chk[i];
                    achk.checked = true;
                }
            }
        }
    });


    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );
    $('#SaveContractorMapping').validate({
        rules: {
            AssignDesignationEmployeeID: {
                required: true,
            },
        },
        messages: {
            AssignDesignationEmployeeID: {
                required: "Employee name  is required"
            },
        },
    });

    var form = $("#SaveAssignDesignation");
    form.validate();
    function ShowDesignation() {
        debugger;
        form.valid();
        if (form.valid() == false) {

            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#SaveAssignDesignation").submit();
    }


    $("#btnSubmit").click(function () {
        var DesignationRecord = [];
        //debugger;
        var DesignationEmployeeID=$("#ddlAssignDesignationEmployeeID").val();
        $(':checkbox:checked').each(function (i) {
            debugger;
            var data1 = {};
            data1.RecruitmentDesignationID = $(this).val();
            DesignationRecord.push(data1);
        });
        debugger;
        if (DesignationRecord == "") {
            debugger;
            Swal.fire({
                icon: "error",
                text: "Please select atleast one designation",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            async: true,
            type: "POST",
            url: "@Url.Action("SaveUpdate", "Setting_RecruitmentAssign_Designation")",
          //  url: "SaveUpdate",
            data: JSON.stringify({ DesignationRecord: DesignationRecord,DesignationEmployeeID:DesignationEmployeeID }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                var Getdata = JSON.parse(response);
                var Message1 = Getdata.Message;
                var Icon1 = Getdata.Icon;
                if (Message1 != null) {
                    Swal.fire({
                        icon: Icon1,
                        text: Message1,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {

                            window.location.href = '@Url.Action("Setting_RecruitmentAssign_Designation", "Setting_RecruitmentAssign_Designation")';
                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {

                        }
                    })
                }
            }
        });
    });
</script>
