                <!-- END panel -->
@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Rpt_LateComing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<style>
    .Col-md-2 {
        margin: 10px 0;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Reports/Report_Attendance_RptMenu/Report_Attendance_RptMenu">Report Menu</a></li>
    </ol>
    <h1 class="page-header"> Total Employee Present Report </h1>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@  TotalEmployee Present Report </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action="/Reports/Reports_Attendance_TotalEmployeePresent/Reports_Attendance_TotalEmployeePresent" id="rptTotalEmployeePresent" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Department Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Sub Department Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Designation Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Grade Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Line Master
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    From date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", type = "date", name = "FromDate" })
                                                    <span id="ErrortxtFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    To Date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", type = "date", name = "ToDate" })
                                                    <span id="ErrortxtToDate" class="Error"></span>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-success btnpress" id="btnload" onclick="LoadEmployee()">
                                                        Show
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                                <hr class="mt-15px">
                                <div class="row">
                                    <div class="table-scroll div1">
                                        <div class="table-wrap">
                                            <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="tblLateComing" style="width: 100%;">
                                                <thead>
                                                    <tr class="trheading">
                                                        <th class="text-nowrap text-center">Sr.No.</th>
                                                        <th class="text-nowrap text-center">Company</th>
                                                        <th class="text-nowrap text-center">Business Unit</th>
                                                        <th class="text-nowrap text-center">Employee No</th>
                                                        <th class="text-nowrap text-center">Employee Card No</th>
                                                        <th class="text-nowrap text-center">Employee Name</th>
                                                        <th class="text-nowrap text-center">Gender</th>
                                                        <th class="text-nowrap text-center">DOJ</th>
                                                        <th class="text-nowrap text-center">Service</th>
                                                        <th class="text-nowrap text-center">Department</th>
                                                        <th class="text-nowrap text-center">Designation</th>
                                                        <th class="text-nowrap text-center">Grade</th>
                                                        <th class="text-nowrap text-center">Contractor</th>
                                                        <th class="text-nowrap text-center">Assessment Level</th>
                                                        <th class="text-nowrap text-center">Critical Stage Y/N</th>
                                                        <th class="text-nowrap text-center">Critical Stage</th>
                                                        <th class="text-nowrap text-center">Line</th>
                                                        <th class="text-nowrap text-center">Attendance Date</th>
                                                        <th class="text-nowrap text-center">Shift</th>
                                                        <th class="text-nowrap text-center">In Time</th>
                                                        <th class="text-nowrap text-center">Out Time</th>
                                                        <th class="text-nowrap text-center">Duration</th>
                                                        <th class="text-nowrap text-center">Status</th>
                                                        <th class="text-nowrap text-center">In Out Late By</th>
                                                        <th class="text-nowrap text-center">In Out Early By</th>



                                                    </tr>
                                                </thead>
                                                <tbody id="tblAbnormalReport">
                                                    @foreach (var d in ViewBag.TotalEmployeePresentReport)
                                                    {
                                                        <tr>
                                                            <td class="text-nowrap">@d.SrNo </td>
                                                            <td class="text-nowrap">@d.Companyname</td>
                                                            <td class="text-nowrap">@d.BusinessUnitName</td>
                                                            <td class="text-nowrap">@d.EmployeeNo</td>
                                                            <td class="text-nowrap">@d.EmployeeCardNo</td>
                                                            <td class="text-nowrap">@d.EmployeeName</td>
                                                            <td class="text-nowrap">@d.Gender</td>
                                                            <td class="text-nowrap">@d.DOJ</td>
                                                            <td class="text-nowrap">@d.Service</td>
                                                            <td class="text-nowrap">@d.DepartmentName</td>
                                                            <td class="text-nowrap">@d.DesignationName</td>
                                                            <td class="text-nowrap">@d.GradeName</td>
                                                            <td class="text-nowrap">@d.ContractorName</td>
                                                            <td class="text-nowrap">@d.AssessmentLevel</td>
                                                            <td class="text-nowrap">@d.InOut_EmpCriticalY_N</td>
                                                            <td class="text-nowrap">@d.CriticalStagName</td>
                                                            <td class="text-nowrap">@d.Line</td>
                                                            <td class="text-nowrap">@d.AttendanceDate</td>
                                                            <td class="text-nowrap">@d.Shift</td>
                                                            <td class="text-nowrap">@d.InTime</td>
                                                            <td class="text-nowrap">@d.OutTime</td>
                                                            <td class="text-nowrap">@d.Duration</td>
                                                            <td class="text-nowrap">@d.Status</td>
                                                            <td class="text-nowrap">@d.InOutLateBy</td>
                                                            <td class="text-nowrap">@d.InOutEarlyBy</td>


                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.getElementById("txtFromDate").addEventListener("blur", function () {
        var dateValue = this.value;
        if (dateValue.includes("-")) {
            var parts = dateValue.split("-");
            dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
        }
        var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
        if (!regex.test(dateValue)) {
            $("#ErrortxtFromDate").html("Please enter valid date in DD-MM-YYYY format");
            this.value = "";
            this.focus();
            return;
        } else {
            $("#ErrortxtFromDate").html("");
        }
    });

    document.getElementById("txtToDate").addEventListener("blur", function () {
        var dateValue = this.value;
        if (dateValue.includes("-")) {
            var parts = dateValue.split("-");
            dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
        }
        var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
        if (!regex.test(dateValue)) {
            $("#ErrortxtToDate").html("Please enter valid date in DD-MM-YYYY format");
            this.value = "";
            this.focus();
            return;
        } else {
            $("#ErrortxtToDate").html("");
        }
    });

















    $(document).ready(function () {
        var FD = document.getElementById("txtFromDate").value;
        var TD = document.getElementById("txtToDate").value;
        $('title').html("Total Employee Present Report ("+FD+" To "+TD+")");
        var CheckEmptyDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }

        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlDepartmentId").select2();
        $("#ddlSubDepartmentId").select2();
        $("#ddlDesignationId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();
        $("#ddlBranchId").find("option").remove();
        
        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Reports_Attendance_TotalEmployeePresent")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlBranchId").find("option").remove();
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlBranchId").append("<option value=''>All </option>");
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        var Branch = data.Branch;
                        if (Branch != null) {
                            //var data1 = data.data;
                            $("#ddlBranchId").append("<option value=''>All </option>");
                            $.each(Branch, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }                                               
                    }

                }
            })

        });

      
        var CmpId = $("#ddlCmpId").val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetBusinessUnit", "Reports_Attendance_TotalEmployeePresent")',
            data: { CmpId: CmpId },
            success: function (data) {
                debugger;
                if (data == false) {
                    $("#ddlBranchId").find("option").remove();
                    $("#ddlLineId").find("option").remove();
                    $("#ddlEmployeeID").find("option").remove();
                    $("#ddlBranchId").append("<option value=''>All </option>");
                    $("#ddlEmployeeID").append("<option value=''>All </option>");
                    $("#ddlLineId").append("<option value=''>All </option>");
                }
                else {
                    var EmployeeName = data.EmployeeName;
                    var LineMaster = data.List_LineMaster;
                    var Branch = data.Branch;
                    if (Branch != null) {
                        //var data1 = data.data;
                        //$("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    debugger;
                    if (EmployeeName != null) {
                       // $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    debugger;
                    if (LineMaster != null) {
                       // $("#ddlLineId").append("<option value=''>All </option>");
                        $.each(LineMaster, function (i, p) {
                            $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }

            }
        })



        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlSubDepartmentId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetSubDepartment", "Reports_Attendance_TotalEmployeePresent")',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlSubDepartmentId").find("option").remove();
                        $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                    }
                    else {
                        if (data != null) {
                            $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                            $.each(data, function (i, p) {
                                $("#ddlSubDepartmentId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Reports_Attendance_TotalEmployeePresent")',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (LineMaster != null) {
                            $("#ddlLineId").append("<option value=''>All </option>");
                            $.each(LineMaster, function (i, p) {
                                $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })


        });

        $("#txtFromDate, #txtToDate").on("change", function () {
            debugger;
            var input = document.getElementById("txtFromDate").value;
            var input1 = document.getElementById("txtToDate").value;
            //define two date object variables with dates inside it
            fromDateObj = new Date(input);
            toDateObj = new Date(input1);
            //calculate time difference
            var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            //calculate days difference by dividing total milliseconds in a day
            var days_differences = time_difference / (1000 * 60 * 60 * 24);
            var days_difference = days_differences + 1;
            // Check if toDate is greater than fromDate
            var from = $("#txtFromDate").val();
            var to = $("#txtToDate").val();
            if (Date.parse(from) > Date.parse(to)) {

                $("#ErrortxtFromDate").html("From date should not be greater than todate");
                return false;
            }
            else {
                $("#ErrortxtFromDate").html("");
            }
            if (days_difference > 31) {
                $("#ErrortxtFromDate").html("You should not allow greter than 31 days");
            }
        });
    }); //Ready Function



    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#rptTotalEmployeePresent').validate({
        rules: {
            CmpId: {
                required: true,
                },

            FromDate: {
                required: true,
            },
            ToDate: {
                required: true,
            },


        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },

            FromDate: {
                required: "From date is required",
            },
            ToDate: {
                required: "To date is required",
            },


        },
    });

    var form = $("#rptTotalEmployeePresent");
    form.validate();
    function LoadEmployee() {
        debugger;

        form.valid();
        if (form.valid() == false) {
            $("#txtToDate").removeClass("error");
            $("#txtFromDate").removeClass("error");
            return false;
        }
        var EmptyCheck = $("#ErrortxtFromDate").text();
        if (EmptyCheck != "") {
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#rptTotalEmployeePresent").submit();
    }

</script>





