
@{
    ViewBag.Title = "ESS_EmployeePosting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .card-text {
        font-weight: 600;
        text-align: justify;
        font-size: 13px;
        height: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Limit to 4 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* Add ellipsis for overflow */
    }

    .card {
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
    }

    .card-title {
        font-weight: 800;
        font-size: 15px;
        height: 55px;
        overflow-y: hidden;
    }

    .card-text {
        font-weight: 600;
        text-align: justify;
        font-size: 13px;
        height: 80px;
    }

    .card-body .features {
        background: #EAF0FF;
        width: fit-content;
        color: #1676CC;
        font-size: 11px;
        font-weight: 800;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 5px;
    }

    .iconBx {
        /* background-color: #E60019; */
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

        .iconBx img {
            width: 100%;
        }

        .iconBx .iconWord {
            background-color: #fff;
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 50px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 800;
        }

    .card-footer .ApplyCountBx {
        font-size: 12px;
        font-weight: 800;
    }

    .ApplyCountBx abbr {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .ApplyCountBx .CountIcon {
        padding: 3px 5px;
        border-radius: 50px;
        font-size: 15px;
    }

    .ApplyCountBx,
    .ApplyBtnBx {
        width: auto;
    }

    .btn-greenlight {
        background-color: #1ED760;
        color: #fff;
        font-size: 12px;
        padding: 5px 8px;
    }

        .btn-greenlight:hover {
            background-color: #159241;
            color: #fff;
        }

    .btnpress:hover {
        outline: 0 !important;
    }

    .btn-greenlight:active {
        transform: translateY(4px);
        background-color: #159241;
        color: #fff;
    }

    [title] {
        position: relative;
    }

        [title]:after {
            content: attr(title);
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0%;
            color: #fff;
            background-color: #000;
            padding: 5px 8px;
            width: max-content;
            opacity: 0;
            -webkit-transition: opacity 0.9s ease;
            /* 👈 Change the time to meet your requirements. */
            font-weight: 500;
        }

        [title]:hover:after {
            opacity: 1;
        }
</style>



<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Current Opening
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>

            </ol>
        </div>
    </div>
    <div class="row">

        @foreach (var d in ViewBag.GetJobOpeningList)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <!-- BEGIN card -->
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row mb-10px">
                            <div class="col-md-3 col-3">
                                <div class="iconBx">
                                    <img src="/assets/img/Allimages/JobOpening.png">
                                </div>
                            </div>
                            <div class="col-md-9 col-9">
                                <h4 class="card-title mb-10px">
                                    Job opening For - @d.DesignationName  Immediate joiners
                                </h4>
                            </div>
                        </div>
                        <div class="row mb-10px">
                            <div class="col-md-12 text-center">
                                <h6 class="card-subtitle text-blue">
                                    <i class="fa-solid fa-location-dot"></i>
                                    @d.BranchName
                                </h6>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <p class="card-text">
@Html.Raw(string.IsNullOrEmpty(d.Remark)
          ? ""
          : System.Text.RegularExpressions.Regex.Replace(d.Remark, "<.*?>", string.Empty))
                        </p>
                        <div class="row">
                            <div class="features" title="Open Position">
                                <i class="fa-solid fa-thumbtack"></i>
                                @d.TotalPositions
                            </div>

                            <div class="features" title="Job Type">
                                <i class="fa-regular fa-clock-four"></i>
                                @d.WorkType
                            </div>

                            <div class="features" title="Experience">
                                <i class="fa-solid fa-briefcase"></i>
                                @d.PositionType
                            </div>

                            <div class="features" title="Salary">
                                <i class="fa-solid fa-indian-rupee-sign"></i>
                                @d.AnnualSalary
                            </div>

                            <div class="features" title="Closing Date">
                                <i class="fa-solid fa-calendar-days"></i>
                                @d.ClosingDate

                            </div>

                            <div class="features" title="Walk in Drive">
                                <i class="fa-solid fa-person-walking"></i>
                                @d.IsWalkIn
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="ApplyCountBx">
                                <abbr title="Application Count" class="ApplicationCount">
                                    @d.TotalPositions
                                    <div class="CountIcon">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </abbr>
                            </div>
                            <div class="ApplyBtnBx">
                                <button type="button" onclick="MoreDetails('@d.ResourceId','@d.ResourceId_Encrypted')" id="btnMoreDetails"
                                        class="btn btnpress btn-greenlight">
                                    <i class="fa-solid fa-arrow-right"></i>  More Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END card -->
            </div>
        }
    </div>
</div>
<script>
    function MoreDetails(ResourceId, ResourceId_Encrypted) {
         debugger;
         @*var url = '@Url.Action("CurrentOpeningMoreDetails", "CurrentOpening")?JobOpeningId_Encrypted=' + JobOpeningId_Encrypted;*@
         var url = '@Url.Action("ViewForEmployeePosting", "ESS_EmployeePosting")?ResourceId=' + ResourceId + '&ResourceId_Encrypted=' + ResourceId_Encrypted;
        window.location.href = url;
     }

    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>


