@model KompassHR.Areas.Dashboards.Models.Recruitment_Resume
@{
    ViewBag.Title = "CurrentOpeningMoreDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');*@

@*@media only screen and (max-width: 800px) {

        .HiringImg {
      display: none;
    }
    .HiringImg2 {
    display: block;
    }
    }*@

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
    }

    .card-text {
        font-weight: 600;
        text-align: justify;
        font-size: 13px;
        height: 80px;
    }

    .card-body .features {
        background: #EAF0FF;
        width: fit-content;
        color: #1676CC;
        font-size: 11px;
        font-weight: 800;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 5px;
    }

    .important {
        color: red;
    }

    .iconBx {
        /* background-color: #E60019; */
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

        .iconBx img {
            width: 100%;
        }

        .iconBx .iconWord {
            background-color: #fff;
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 50px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 800;
        }

    .card-footer .ApplyCountBx {
        font-size: 12px;
        font-weight: 800;
    }

    .ApplyCountBx abbr {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .ApplyCountBx .CountIcon {
        padding: 3px 5px;
        border-radius: 50px;
        font-size: 15px;
    }

    .ApplyCountBx,
    .ApplyBtnBx {
        width: auto;
    }

    .btn-greenlight {
        background-color: #1ED760;
        color: #fff;
        font-size: 12px;
        padding: 5px 8px;
    }

        .btn-greenlight:hover {
            background-color: #159241;
            color: #fff;
        }

        .btn-greenlight:active {
            transform: translateY(4px);
            background-color: #159241;
            color: #fff;
        }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    [title] {
        position: relative;
    }

        [title]:after {
            content: attr(title);
            position: absolute;
            left: -10px;
            bottom: 100%;
            color: #fff;
            background-color: #000;
            padding: 5px 8px;
            width: max-content;
            opacity: 0;
            -webkit-transition: opacity 0.9s ease;
            /* 👈 Change the time to meet your requirements. */
            font-weight: 500;
        }

        [title]:hover:after {
            opacity: 1;
        }

    .ApplyHistory {
        display: flex;
        justify-content: end;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    }

        .ApplyHistory .PostedTime {
            margin: 0 5px;
            font-size: 12px;
            color: #727272;
            font-weight: 600;
        }

        .ApplyHistory .ApplyCountBx {
            color: #1676CC;
            margin: 0 5px;
            font-size: 14px;
            font-weight: 800;
        }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            /* width: 80px; */
            margin: 5px 15px;
            font-size: 15px;
        }

            .BtnBx .btn i {
                margin-right: 5px;
            }

    .JobDescription {
        margin-bottom: 20px;
        padding: 10px;
    }

        .JobDescription .Title {
            margin: 10px 0;
        }

        .JobDescription .Text {
            font-size: 14px;
            font-weight: 500;
            text-align: justify;
        }

            .JobDescription .Text ul li {
                margin-bottom: 0.25rem;
                font-weight: 600;
                color: #727272;
            }

    .featureBx {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

        .featureBx .feature-Item {
            background-color: #f5f5f5;
            width: 120px;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #fff;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .05);
        }

    .feature-Item .Title {
        font-size: 12px;
        text-align: center;
    }

    .feature-Item .Text {
        font-size: 14px;
        font-weight: 800;
        text-align: center;
    }

    .HiringImg {
        display: block;
    }

    .HiringImg2 {
        display: none;
    }


    .modal-body-content {
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Current Opening
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>

            </ol>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN col-3 -->
        <div class="col-md-12">
            <!-- BEGIN card -->
            <div class="card border-0">
                <div class="Card-img-Bx " style="overflow: hidden;">
                    <img class="card-img-top HiringImg" src="~/assets/img/Allimages/HiringBannerLG.jpg" />
                    <img class="card-img-top HiringImg2" src="/assets/img/Allimages/HiringBannerSM.jpg" />
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="row">
                                <div class="col-md-12 mb-15px">
                                    <h3 class="card-title fw-900">

                                        Job opening @ViewBag.GetJobOpeningMoreDetailsList.DesignationName
                                        @*@ViewBag.GetJobOpeningMoreDetailsList.JobTittle*@ - Immediate joiners
                                    </h3>
                                </div>
                                <div class="col-md-12 mb-15px">
                                    <h6 class="card-subtitle text-blue">
                                        <i class="fa-solid fa-location-dot"></i>
                                        @ViewBag.GetJobOpeningMoreDetailsList.BranchName
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ApplyHistory">
                                        <span class="PostedTime">
                                            <i class="fa-solid fa-clock-rotate-left"></i>
                                            Posted @ViewBag.GetJobOpeningMoreDetailsList.PostedDays days Ago
                                        </span> ||
                                        <span class="ApplyCountBx">
                                            <i class="fa-solid fa-user-check"></i>
                                            @ViewBag.GetJobOpeningMoreDetailsList.TotalPositions
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="BtnBx">
                                        <a href="@Url.Action("EmployeePosting_CandidateData", "ESS_EmployeePosting", new {
                                                ResumeId_Encrypted = @ViewBag.GetJobOpeningMoreDetailsList.ResumeId_Encrypted,
                                                Resume_ResourceId = @ViewBag.GetJobOpeningMoreDetailsList.ResourceId,
                                                ResourceId_Encrypted = @ViewBag.GetJobOpeningMoreDetailsList.ResourceId_Encrypted
                                            })"
                                           class="btn btn-sm btn-primary btnpress">
                                            <i class="fa-solid fa-briefcase"></i> Apply
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- END card -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN card -->
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="JobInfoArea">
                                <div class="JobDescription">
                                    <div class="Title">
                                        <h4> Job Overview: </h4>
                                    </div>
                                    <div class="Text" style="margin: 0 25px;">
                                        We are searching a driven Expert Senior UI Designer to join our growing
                                        team at Twitter in Tangerang. Growing you career as a Full Time UI
                                        Designer is a terrific oppurtunity to develop competitive skills. if you
                                        are strong in project management, problem solving, and have the right
                                        personality for the job, then apply for the posisition of UI Designer at
                                        Twitter today!.
                                    </div>
                                </div>

                                <div class="JobDescription">
                                    <div class="Title">
                                        <h4> Job Description:</h4>
                                    </div>
                                    <div class="Text">
                                        <ul class="Text-Point">
                                            @Html.Raw(System.Text.RegularExpressions.Regex.Replace(ViewBag.GetJobOpeningMoreDetailsList.Remark ?? "", "<.*?>", string.Empty))


                                        </ul>
                                    </div>
                                </div>

                                <div class="JobDescription">
                                    <div class="Title">
                                        <h4> Job Requirement: </h4>
                                    </div>
                                    <div class="Text">
                                        <ul>
                                            @ViewBag.GetJobOpeningMoreDetailsList.MustHaveTechnicalSkills @ViewBag.GetJobOpeningMoreDetailsList.MustHaveTechnicalSkills

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END card -->
        </div>

        <div class="col-md-12">
            <!-- BEGIN card -->
            <div class="card border-0">

                <div class="card-body">
                    <div class="featureBx">
                        <div class="row">
                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Open Position</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.TotalPositions
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Experience</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.MinExperience-@ViewBag.GetJobOpeningMoreDetailsList.MaxExperience Years
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Work Level</div>
                                    <div class="Text">@ViewBag.GetJobOpeningMoreDetailsList.GradeLevel</div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Job Type</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.WorkType
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Fields</div>
                                    <div class="Text">@ViewBag.GetJobOpeningMoreDetailsList.DepartmentName</div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Salary</div>
                                    @if (@ViewBag.GetJobOpeningMoreDetailsList.MinBudget != null && @ViewBag.GetJobOpeningMoreDetailsList.MaxBudget != null)
                                    {
                                        <div class="Text">

                                            @ViewBag.GetJobOpeningMoreDetailsList.MinBudget - @ViewBag.GetJobOpeningMoreDetailsList.MaxBudget;

                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Work Model</div>
                                    <div class="Text">On-Site</div>
                                </div>
                            </div>


                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Job Posted</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.CreatedDate
                                    </div>
                                </div>
                            </div>



                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Last Date</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.ClosingDate
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Day Remaining</div>
                                    <div class="Text"> @ViewBag.GetJobOpeningMoreDetailsList.DayRemaining  Days</div>
                                </div>
                            </div>


                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Qualification</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.Qualification
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3 col-6">
                                <div class="feature-Item">
                                    <div class="Title">Age Limit</div>
                                    <div class="Text">
                                        @ViewBag.GetJobOpeningMoreDetailsList.MinAge-@ViewBag.GetJobOpeningMoreDetailsList.MaxAge
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
            <!-- END card -->
        </div>
    </div>
    }
    <!-- BEGIN scroll-top-btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
       data-toggle="scroll-to-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END scroll-top-btn -->
</div>


<!-- END #app -->
<!-- ================== BEGIN core-js ================== -->
<script src="/ColorAssets/js/app.min.js"></script>
<script src="/ColorAssets/js/vendor.min.js"></script>
<!-- ================== END core-js ================== -->
<!-- ================== BEGIN page-js ================== -->
<script src="/ColorAssets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/ColorAssets/js/demo/dashboard.js"></script>
<!-- ================== END page-js ================== -->
<!-- #modal-dialog -->


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }
</script>


<script>
//use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#FormCurrentOpening').validate({
        rules: {
            CandidateName: {
                required: true,
                regex:/^[a-zA-Z ]+$/
            },
            Gender: {
                required: true,

            },
            EmailId: {
                required: true,
                email:true,

            },
            MobileNo:{
                required:true,
                minimum:10,
                maximum:10,
            },
            TotalExperience:{
                required:true,
            },
            CTC:{
                required:true,
            },
            CurrentCity:{
                required:true,
                regex:/^[a-zA-Z ]+$/
            },
            CurrentWorking:{
                required:true,
            },

        },
        messages: {
            CandidateName: {
                required: "Company name is required",
                regex:"Please enter only alphabet"
            },
            Gender: {
                required: "Gender is required",

            },
            EmailId: {
                required: "EmailId code is required",
            },
            MobileNo: {
                required: "Mobile number is required",
            },
            TotalExperience: {
                required: "Total experience is required",
            },
            CTC: {
                required: "CTC is required",
            },
            CurrentCity: {
                required: "Current city is required",
            },
            CurrentWorking: {
                required: "Current working is required",
            },

        },
    });
</script>