@model KompassHR.Areas.Module.Models.Employee_ReportList.Employee_ReportLists
@{
     
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables.net/js/jquery.dataTables.js"></script>
<style>
    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 61px !important;
    }

    .div1 td:nth-child(3) {
        position: sticky !important;
        left: 237px !important;
    }*/

    /*.fixed-side {
        position: sticky !important;
        left: 0;
        z-index:1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 61px !important;
        z-index: 1;
    }
    .fixed-side2 {
        position: sticky !important;
        left: 237px !important;
        z-index: 1;
    }*/
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/ESS/ESS_AdminDashboard_Dashboard/ESS_AdminDashboard_Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Module/Module_Employee_Menu/Module_Employee_Menu"> Onboarding Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Onboarding Employee List </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" EmpList-sortable-id="index-1">
              

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Onboarding Employee - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        
                        
                    </p>
                </div>
                <div class="panel-body" EmpList-scrollbar="true">
                    <form role="form" action="/Module/Onboarding_Employee_ReportList/Onboarding_Employee_ReportList" id="SaveEmployeeOnboarding" method="post">
                        <div class="row">
                            @*<div class="col-md-2">
                                <div>
                                    <a href="/Module/Module_Employee_Onboarding/Module_Employee_Onboarding">
                                        <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                            <i class="fa-solid fa-plus"></i> &nbsp; Add
                                        </button>
                                    </a>
                                </div>
                            </div>*@
                            <div class="col-md-5">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Company Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.CompanyId, new SelectList(ViewBag.ComapnyProfile, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", name = "CompanyId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Business Unit
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetMasBranch, "Id", "Name"), "--Select--", new { @class = "form-select", type = "text", id = "ddlBuniessUnit", autocomplete = "Off", Required = "", name = "BranchId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    
                                        <button type="submit" id="btnshow" class="btn btn-primary btn-sm  mb-10px">
                                            <i class="fa-solid fa-eye"></i> &nbsp; show
                                        </button>
                                   
                                </div>

                            </div>
                        </div>
                    </form>
                    <!-- BEGIN table-responsive -->
                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN table-responsive -->
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="tblEmployeeDetails" style="width:100%">
                                         
                                        <thead>
                                            <tr class="text-center">
                                                <th class="fixed-side 1">Company Name</th>
                                                <th class="fixed-side 2">Business Unit</th>
                                                <th class="fixed-side 3">Employee No.</th>
                                                <th class="fixed-side 4">Employee Card No.</th>
                                                <th class="fixed-side 43">Local/Expat</th>
                                                <th class="fixed-side 0">Salutation</th>
                                                <th class="fixed-side 0">Employee Name</th>
                                                <th class="fixed-side 49">Employee Level</th>
                                                <th class="fixed-side 47">Wage Category</th>                                               
                                                <th class="fixed-side 43">Department Name</th>
                                                <th class="fixed-side 43">Sub Departmentt Name</th>
                                                <th class="fixed-side 44">Designation Name</th>
                                                <th class="fixed-side 45">Grade Name</th>
                                                <th class="fixed-side 48">Employee Group Name</th>
                                                <th class="fixed-side 50">Employee Type</th>
                                                <th class="fixed-side 51">Cost Center Name</th>
                                                <th class="fixed-side 52">Zone Name</th>
                                                <th class="fixed-side 53">Unit Name</th>
                                                <th class="fixed-side 46">Contractor Name</th>                                               
                                                <th class="fixed-side 42">Critical Stage Applicable</th>  
                                                <th class="fixed-side 54">Critical Stage</th>
                                                <th class="fixed-side 54">Line Name</th>
                                                <th class="fixed-side 39">Joining Date</th>
                                                <th class="fixed-side 39">Is Joining Special</th>
                                                <th class="fixed-side 54">Trainee Due Date</th>
                                                <th class="fixed-side 39">Probation Due Date</th>
                                                <th class="fixed-side 39">Confirmation Date</th>
                                                <th class="fixed-side 39">Is Confirmation</th>
                                                <th class="fixed-side 39">Confirmation By</th>
                                                <th class="fixed-side 42">Company Mobile No.</th>
                                                <th class="fixed-side 41">Company Mail ID</th>   
                                                <th class="fixed-side 5">Employee Left</th> 
                                                <th class="fixed-side 5">Leaving Date</th> 
                                                <th class="fixed-side 41">Leaving Reason</th>
                                                <th class="fixed-side 5">Leaving Reason PF</th>
                                                <th class="fixed-side 5">Leaving Reason ESI</th> 
                                                <th class="fixed-side 55">Present Pin</th>
                                                <th class="fixed-side 56">Present State</th>
                                                <th class="fixed-side 57">Present District</th>
                                                <th class="fixed-side 58">Present Taluka</th>
                                                <th class="fixed-side 59">Present PO</th>
                                                <th class="fixed-side 60">Present City</th>
                                                <th class="fixed-side 61">Present Postel Address</th>
                                                <th class="fixed-side 62">Permanent Pin</th>
                                                <th class="fixed-side 63">Permanent State</th>
                                                <th class="fixed-side 64">Permanent District</th>
                                                <th class="fixed-side 65">Permanent Taluka</th>
                                                <th class="fixed-side 66">Permanent PO</th>
                                                <th class="fixed-side 67">Permanent City</th>                                             
                                                <th class="fixed-side 69">Permanent Postel Address</th>
                                                <th class="fixed-side 81">Atten OT Applicable</th>
                                                <th class="fixed-side 82">Atten OT Multiply By</th>
                                                <th class="fixed-side 82">Atten PerDay Shift Hrs</th>
                                                <th class="fixed-side 83">EM_Atten_CoffApplicable</th>
                                                <th class="fixed-side 72">EM_Atten_WOFF1</th>
                                                <th class="fixed-side 73">EM_Atten_WOFF2</th>                                               
                                                
                                                <th class="fixed-side 76">EM_Atten_WOFF_Check1</th>
                                                <th class="fixed-side 76">EM_Atten_WOFF_Check2</th>
                                                <th class="fixed-side 77">EM_Atten_WOFF_Check3</th>
                                                <th class="fixed-side 78">EM_Atten_WOFF_Check4</th>
                                                <th class="fixed-side 79">EM_Atten_WOFF_Check5</th>
                                                <th class="fixed-side 75">Late Mark Applicable</th>
                                                <th class="fixed-side 76">Rotational Week Off</th>
                                                <th class="fixed-side 77">Regularization Required</th>
                                                <th class="fixed-side 78">Short LeaveApplicable</th>
                                                <th class="fixed-side 79">PersonalGatepassApplicable</th>
                                                <th class="fixed-side 84"> IFSC Code</th>
                                                <th class="fixed-side 85"> Bank Name</th>
                                                <th class="fixed-side 86"> Account No.</th>
                                                <th class="fixed-side 87">Bank Address</th>                                               
                                                <th class="fixed-side 89"> Bank Branch Name</th>
                                                <th class="fixed-side 90"> Name As Per Bank</th>
                                                <th class="fixed-side 104">Bond Start Date</th>
                                                <th class="fixed-side 105">Bond End Date</th>
                                                <th class="fixed-side 106">Bond Amount</th>
                                                <th class="fixed-side 107">Bond Description</th>
                                                <th class="fixed-side 107">Job Description</th>
                                                <th class="fixed-side 5">Aadhaar No</th>
                                                <th class="fixed-side 6">Name As Per Aadhaar</th>
                                                <th class="fixed-side 7">Mobile Link To Aadhar</th>
                                                <th class="fixed-side 8">Aadhaar No Mobile No</th>
                                                <th class="fixed-side 9">PAN No</th>
                                                <th class="fixed-side 10">PAN Name As Per Pan</th>
                                                <th class="fixed-side 11">PAN Aadhaar Link</th>
                                                <th class="fixed-side 12">Primary Mobile</th>
                                                <th class="fixed-side 13">Secondary Mobile</th>
                                                <th class="fixed-side 14">Whats App No.</th>
                                                <th class="fixed-side 15">Personal Email Id</th>
                                                <th class="fixed-side 16">Birthday Date</th>
                                                <th class="fixed-side 17">Age Of Joining</th>
                                                <th class="fixed-side 18">Birthday Place</th>
                                                <th class="fixed-side 19">Birth Document Name</th>
                                                <th class="fixed-side 21">Is DOB Special</th>
                                                <th class="fixed-side 22">Qualification Status</th>                                           
                                                <th class="fixed-side 24">Gender</th>
                                                <th class="fixed-side 25">Blood Group</th>
                                                <th class="fixed-side 26">Marital Status</th>
                                                <th class="fixed-side 27">Anniversary Date</th>
                                                <th class="fixed-side 28">Gender Reveal Status</th>
                                                <th class="fixed-side 29">Physically Disable</th>
                                                <th class="fixed-side 29">Physically Disable Type</th>
                                                <th class="fixed-side 20">Physically Disable Remark</th>
                                                <th class="fixed-side 31">Identification Mark</th>
                                                <th class="fixed-side 32">Driving Licence No</th>
                                                <th class="fixed-side 33">Driving Licence Expiry Date</th>
                                                <th class="fixed-side 34">Passport No.</th>
                                                <th class="fixed-side 35">Passport Expiry Date</th>
                                                <th class="fixed-side 36">Religion Name</th>
                                                <th class="fixed-side 40">Religion Reveal Status</th>
                                                <th class="fixed-side 70">Cast Name</th>
                                                <th class="fixed-side 91">Primary Neighbour Name</th>
                                                <th class="fixed-side 92">Primary Neighbour Mobile No</th>
                                                <th class="fixed-side 91"> Secondary Neighbour Name</th>
                                                <th class="fixed-side 92">Secondary Neighbour Mobile No</th>
                                                <th class="fixed-side 93">Relative Name</th>
                                                <th class="fixed-side 94">Relative Relation</th>
                                                <th class="fixed-side 95">Relative Mobile No</th>
                                                <th class="fixed-side 91"> Primary Emergency Name</th>
                                                <th class="fixed-side 92">Primary Emergency Relation</th>
                                                <th class="fixed-side 93">Primary Emergency Mobile No</th>
                                                <th class="fixed-side 94">Secondary Emergency Name </th>
                                                <th class="fixed-side 91">Secondary Emergency Relation</th>
                                                <th class="fixed-side 91">Secondary Emergency MobileNo</th>
                                                <th class="fixed-side 91">Primary Company Referance Name</th>
                                                <th class="fixed-side 91">Primary Company Mobile No</th>
                                                <th class="fixed-side 91">Secondary CompanyReferance Name</th>
                                                <th class="fixed-side 91">Secondary Company Mobile No</th>
                                                <th class="fixed-side 91">ESIC Applicable</th>
                                                <th class="fixed-side 91">ESIC Setting Name</th>
                                                <th class="fixed-side 91">ESIC No</th>
                                                <th class="fixed-side 91">ESIC Closing Date</th>
                                                <th class="fixed-side 91">Previous ESIC No</th>
                                                <th class="fixed-side 91">ESIC Link With Esic</th>
                                                <th class="fixed-side 91">PT Applicable</th>
                                                <th class="fixed-side 91">PT Code Name</th>
                                                <th class="fixed-side 91">LWF Applicable</th>
                                                <th class="fixed-side 91">LWF Code Name</th>
                                                <th class="fixed-side 91">LWFLINNo</th>
                                                <th class="fixed-side 91">Gratuity Applicable</th>
                                                <th class="fixed-side 91">Gratuity No</th>
                                                <th class="fixed-side 91">PF Applicable</th>
                                                <th class="fixed-side 91">PF Code Name</th>
                                                <th class="fixed-side 91">PF Applicable Limit</th>
                                                <th class="fixed-side 91">EPS Applicable</th>
                                                <th class="fixed-side 91">VPF Percrntage</th>
                                                <th class="fixed-side 91">PFFS Relation</th>
                                                <th class="fixed-side 91">PFFS Name</th>
                                                <th class="fixed-side 91">UAN No</th>
                                                <th class="fixed-side 91">PF No</th>
                                                <th class="fixed-side 91">First Nominee Name </th>
                                                <th class="fixed-side 91">First Nominee Relation</th>
                                                <th class="fixed-side 91">First Nominee Birdthdate</th>
                                                <th class="fixed-side 91">First Nominee Share%</th>
                                                <th class="fixed-side 91">First Nominee address</th>
                                                <th class="fixed-side 91">First Nominees GuradianName</th>
                                                <th class="fixed-side 91">Second Nominee Name </th>
                                                <th class="fixed-side 91">Second Nominee Relation</th>
                                                <th class="fixed-side 91">Second Nominee Birdthdate</th>
                                                <th class="fixed-side 91">Second Nominee Share%</th>
                                                <th class="fixed-side 91">Second Nominee address</th>
                                                <th class="fixed-side 91">Second Nominees Guradian Name</th>
                                                <th class="fixed-side 91">Third Nominee Name </th>
                                                <th class="fixed-side 91">Third Nominee Relation</th>
                                                <th class="fixed-side 91">Third Nominee Birdthdate</th>
                                                <th class="fixed-side 91">Third Nominee Share%</th>
                                                <th class="fixed-side 91">Third Nominee address</th>
                                                <th class="fixed-side 91">Third Nominees Guradian Name</th>
                                                <th class="fixed-side 91">PF Link Mobile No</th>
                                                <th class="fixed-side 91">PF Bank</th>
                                                <th class="fixed-side 91">PF Bank IFSC</th>
                                                <th class="fixed-side 91">PF AccountNo</th>
                                                <th class="fixed-side 91">PF 1952</th>
                                                <th class="fixed-side 91">PF 1995</th>
                                                <th class="fixed-side 91">Previous PF No</th>
                                                <th class="fixed-side 91">PF Exit Date</th>
                                                <th class="fixed-side 91">PF Certificate No</th>
                                                <th class="fixed-side 91">PF PPO</th>
                                                <th class="fixed-side 91">Old UAN No</th>
                                                <th class="fixed-side 91">PF Link With UAN</th>
                                                <th class="fixed-side 91">Extension No </th>
                                                <th class="fixed-side 91">Floor No</th>
                                                <th class="fixed-side 91">Cabin No</th>
                                                <th class="fixed-side 91">VMS Multi location Applicable</th>
                                                <th class="text-nowrap">Created By</th>
                                                <th class="text-nowrap">Created Date</th>
                                                <th class="text-nowrap">Modifiy</th>
                                                <th class="text-nowrap">Modified Date</th>
                                                <th class="text-nowrap">Machine Name</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetEmployeeReportList)
                                            {
                                                <tr>
                                                    <td class="fixed-side">@d.CompanyName</td>
                                                    <td class="fixed-side">@d.BranchName</td>
                                                    <td class="fixed-side">@d.EmployeeNo</td>
                                                    <td class="fixed-side">@d.EmployeeCardNo</td>
                                                    <td class="fixed-side">@d.LocalExpat</td>
                                                    <td class="fixed-side">@d.Salutation</td>
                                                    <td class="fixed-side">@d.EmployeeName</td>
                                                    <td class="fixed-side">@d.EmployeeLevel</td>
                                                    <td class="fixed-side">@d.WageCategory</td>                                                  
                                                    <td class="fixed-side">@d.DepartmentName</td>
                                                    <td class="fixed-side">@d.SubDepartment</td>
                                                    <td class="fixed-side">@d.DesignationName</td>
                                                    <td class="fixed-side">@d.GradeName</td>
                                                    <td class="fixed-side">@d.EmployeeGroup</td>
                                                    <td class="fixed-side">@d.EmployeeType</td>
                                                    <td class="fixed-side">@d.CostCenter</td>
                                                    <td class="fixed-side">@d.Zone</td>
                                                    <td class="fixed-side">@d.Unit</td>
                                                    <td class="fixed-side">@d.Contractor</td>                                                  
                                                    <td class="fixed-side">@d.CriticalStageApplicable</td>                                                  
                                                    <td class="fixed-side">@d.CriticalStage</td>
                                                    <td class="fixed-side">@d.LineName</td>
                                                    <td class="fixed-side">@d.JoiningDate</td>
                                                    <td class="fixed-side">@d.IsJoiningSpecial</td>
                                                    <td class="fixed-side">@d.TraineeDueDate</td>
                                                    <td class="fixed-side">@d.ProbationDueDate</td>
                                                    <td class="fixed-side">@d.ConfirmationDate</td>
                                                    <td class="fixed-side">@d.IsConfirmation</td>
                                                    <td class="fixed-side">@d.ConfirmationBy</td>
                                                    <td class="fixed-side">@d.CompanyMobileNo</td>
                                                    <td class="fixed-side">@d.CompanyMailId</td>
                                                    <td class="fixed-side">@d.EmployeeLeft</td>
                                                    <td class="fixed-side">@d.LeavingDate</td>
                                                    <td class="fixed-side">@d.LeavingReason</td>
                                                    <td class="fixed-side">@d.LeavingReasonPF</td>
                                                    <td class="fixed-side">@d.LeavingReasonESI</td>
                                                    <td class="fixed-side">@d.PresentPin</td>
                                                    <td class="fixed-side">@d.PresentState</td>
                                                    <td class="fixed-side">@d.PresentDistrict</td>
                                                    <td class="fixed-side">@d.PresentTaluka</td>
                                                    <td class="fixed-side">@d.PresentPO</td>
                                                    <td class="fixed-side">@d.PresentCity</td>
                                                    <td class="fixed-side">@d.PresentPostelAddress</td>
                                                    <td class="fixed-side">@d.PermanentPin</td>
                                                    <td class="fixed-side">@d.PermanentState</td>
                                                    <td class="fixed-side">@d.PermanentDistrict</td>
                                                    <td class="fixed-side">@d.PermanentTaluka</td>
                                                    <td class="fixed-side">@d.PermanentPO</td>
                                                    <td class="fixed-side">@d.PermanentCity</td>                                                 
                                                    <td class="fixed-side">@d.PermanentPostelAddress</td>
                                                    <td class="fixed-side">@d.OT</td>                                                 
                                                    <td class="fixed-side">@d.OTMultiplyBy</td>
                                                    <td class="fixed-side">@d.PerDayShiftHrs</td>
                                                    <td class="fixed-side">@d.CoffApplicable</td>
                                                    <td class="fixed-side">@d.WOFF1</td>
                                                    <td class="fixed-side">@d.WOFF2</td>                                                 
                                                    <td class="fixed-side">@d.FirstWO</td>
                                                    <td class="fixed-side">@d.SecondWO</td>
                                                    <td class="fixed-side">@d.ThirdWO</td>
                                                    <td class="fixed-side">@d.FourthWO</td>
                                                    <td class="fixed-side">@d.FifthWO</td>
                                                    <td class="fixed-side">@d.LateMarkApplicable</td>
                                                    <td class="fixed-side">@d.RotationalWeekOff</td>
                                                    <td class="fixed-side">@d.regularization_Required</td>
                                                    <td class="fixed-side">@d.ShortLeaveApplicable</td>
                                                    <td class="fixed-side">@d.PersonalGatepassApplicable</td>
                                                    <td class="fixed-side">@d.IFSCCode</td>
                                                    <td class="fixed-side">@d.BankName</td>
                                                    <td class="fixed-side">@d.AccountNo</td>
                                                    <td class="fixed-side">@d.BankAddress</td>
                                                    <td class="fixed-side">@d.BankBranchName</td>
                                                    <td class="fixed-side">@d.NameAsPerBank</td>
                                                    <td class="fixed-side">@d.BondStartDate</td>
                                                    <td class="fixed-side">@d.BondEndDate</td>
                                                    <td class="fixed-side">@d.BondAmount</td>
                                                    <td class="fixed-side">@d.BondDescription</td>
                                                    <td class="fixed-side">@d.JobDescription</td>                                            
                                                    <td class="fixed-side">@d.AadharNo</td>
                                                    <td class="fixed-side">@d.NameAsPerAadhar</td>
                                                    <td class="fixed-side">@d.MobileLinktoaadhar</td>
                                                    <td class="fixed-side">@d.AadharMobileNo</td>
                                                    <td class="fixed-side">@d.PanName</td>
                                                    <td class="fixed-side">@d.NameAsperPan</td>
                                                    <td class="fixed-side">@d.PanandAadharLink</td>
                                                    <td class="fixed-side">@d.PrimaryMobileNo</td>
                                                    <td class="fixed-side">@d.SecondaryMobileNo</td>
                                                    <td class="fixed-side">@d.WhatsAppNo</td>
                                                    <td class="fixed-side">@d.PersonalEmailID</td>
                                                    <td class="fixed-side">@d.BirthDayDate</td>
                                                    <td class="fixed-side">@d.Ageofjoining</td>
                                                    <td class="fixed-side">@d.BirthPlace</td>
                                                    <td class="fixed-side">@d.BirthDocumentNo</td>
                                                    <td class="fixed-side">@d.IsBirthDaySpecial</td>
                                                    <td class="fixed-side">@d.QualificationStatus</td>
                                                    <td class="fixed-side">@d.Gender</td>                                              
                                                    <td class="fixed-side">@d.BloodGroup</td>
                                                    <td class="fixed-side">@d.MaritalStatus</td>
                                                    <td class="fixed-side">@d.AnniversaryDate</td>
                                                    <td class="fixed-side">@d.GenderRevealStatus</td>
                                                    <td class="fixed-side">@d.PhysicallyDisabled</td>
                                                    <td class="fixed-side">@d.DisableType</td>
                                                    <td class="fixed-side">@d.DisableRemark</td>
                                                    <td class="fixed-side">@d.IdentificationRemark</td>
                                                    <td class="fixed-side">@d.DrivingLicenceNo</td>
                                                    <td class="fixed-side">@d.DrivingExpiryDate</td>
                                                    <td class="fixed-side">@d.PassportNo</td>
                                                    <td class="fixed-side">@d.PassportExpiryDate</td>
                                                    <td class="fixed-side">@d.ReligionName</td>
                                                    <td class="fixed-side">@d.ReliginRevealStatus</td>
                                                    <td class="fixed-side">@d.CastName</td>
                                                    <td class="fixed-side">@d.PrimaryNeighbourName</td>
                                                    <td class="fixed-side">@d.PrimaryNeighbourMobileNo</td>
                                                    <td class="fixed-side">@d.SecondaryNeighbourName</td>
                                                    <td class="fixed-side">@d.SecondaryNeighbourMobileNo</td>
                                                    <td class="fixed-side">@d.RelativeName</td>
                                                    <td class="fixed-side">@d.RelativeRelation</td>
                                                    <td class="fixed-side">@d.RelativeMobileNo</td>
                                                    <td class="fixed-side">@d.PrimaryEmergencyName</td>
                                                    <td class="fixed-side">@d.PrimaryEmergencyRelation</td>
                                                    <td class="fixed-side">@d.PrimaryEmergencyMobileNo</td>
                                                    <td class="fixed-side">@d.SecondaryEmergencyName</td>
                                                    <td class="fixed-side">@d.SecondaryEmergencyRelation</td>
                                                    <td class="fixed-side">@d.SecondaryEmergencyMobileNo</td>
                                                    <td class="fixed-side">@d.PrimaryCompanyReferanceName</td>
                                                    <td class="fixed-side">@d.PrimaryCompanyMobileNo</td>
                                                    <td class="fixed-side">@d.SecondaryCompanyReferanceName</td>
                                                    <td class="fixed-side">@d.SecondaryCompanyMobileNo</td>
                                                    <td class="fixed-side">@d.ESICApplicable</td>
                                                    <td class="fixed-side">@d.ESICSettingName</td>
                                                    <td class="fixed-side">@d.ESICNo</td>
                                                    <td class="fixed-side">@d.ESICClosingDate</td>
                                                    <td class="fixed-side">@d.PreviousESICNo</td>
                                                    <td class="fixed-side">@d.ESICLinkwithEsic</td>
                                                    <td class="fixed-side">@d.PTApplicable</td>
                                                    <td class="fixed-side">@d.PTCodeName</td>
                                                    <td class="fixed-side">@d.LWFApplicable</td>
                                                    <td class="fixed-side">@d.LWFCodeName</td>
                                                    <td class="fixed-side">@d.LWFLINNo</td>
                                                    <td class="fixed-side">@d.GratuityApplicable</td>
                                                    <td class="fixed-side">@d.GratuityNo</td>
                                                    <td class="fixed-side">@d.PFApplicable</td>
                                                    <td class="fixed-side">@d.PFCodeName</td>
                                                    <td class="fixed-side">@d.PFApplicableLimit</td>
                                                    <td class="fixed-side">@d.EPSApplicable</td>
                                                    <td class="fixed-side">@d.VPFPercrntage</td>
                                                    <td class="fixed-side">@d.PFFSRelation</td>
                                                    <td class="fixed-side">@d.PFFSName</td>
                                                    <td class="fixed-side">@d.UANNo</td>
                                                    <td class="fixed-side">@d.PFNo</td>
                                                    <td class="fixed-side">@d.FirstNomineeName </td>
                                                    <td class="fixed-side">@d.FirstNomineeRelation</td>
                                                    <td class="fixed-side">@d.FirstNomineeBirdthdate</td>
                                                    <td class="fixed-side">@d.FirstNomineeShare</td>
                                                    <td class="fixed-side">@d.FirstNomineeaddress</td>
                                                    <td class="fixed-side">@d.FirstNomineesGuradianName</td>
                                                    <td class="fixed-side">@d.SecondNomineeName </td>
                                                    <td class="fixed-side">@d.SecondNomineeRelation</td>
                                                    <td class="fixed-side">@d.SecondNomineeBirdthdate</td>
                                                    <td class="fixed-side">@d.SecondNomineeShare</td>
                                                    <td class="fixed-side">@d.SecondNomineeaddress</td>
                                                    <td class="fixed-side">@d.SecondNomineesGuradianName</td>
                                                    <td class="fixed-side">@d.ThirdNomineeName </td>
                                                    <td class="fixed-side">@d.ThirdNomineeRelation</td>
                                                    <td class="fixed-side">@d.ThirdNomineeBirdthdate</td>
                                                    <td class="fixed-side">@d.ThirdNomineeShare</td>
                                                    <td class="fixed-side">@d.ThirdNomineeaddress</td>
                                                    <td class="fixed-side">@d.ThirdNomineesGuradianName</td>
                                                    <td class="fixed-side">@d.PFLinkMobileNo</td>
                                                    <td class="fixed-side">@d.PFBank</td>
                                                    <td class="fixed-side">@d.PFBank_IFSC</td>
                                                    <td class="fixed-side">@d.PFAccountNo
                                                    <td class="fixed-side">@d.PF_1952</td>
                                                    <td class="fixed-side">@d.PF_1995</td>
                                                    <td class="fixed-side">@d.PreviousPFNo</td>
                                                    <td class="fixed-side">@d.PFExitDate</td>
                                                    <td class="fixed-side">@d.PFCertificateNo</td>
                                                    <td class="fixed-side">@d.PF_PPO</td>
                                                    <td class="fixed-side">@d.OldUANNo</td>
                                                    <td class="fixed-side">@d.PFLinkWithUAN</td>
                                                    <td class="fixed-side">@d.ExtensionNo</td>
                                                    <td class="fixed-side">@d.FloorNo</td>
                                                    <td class="fixed-side">@d.CabinNo</td>                                                
                                                    <td class="fixed-side">@d.VMSMultilocationApplicable</td>
                                                    <td class="fixed-side">@d.CreatedBy</td>
                                                    <td class="fixed-side">@d.CreatedDate</td>
                                                    <td class="fixed-side">@d.ModifiedBy</td>
                                                    <td class="fixed-side">@d.ModifiedDate</td>
                                                    <td class="fixed-side">@d.MachineName</td>
                                                   
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       debugger;
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveEmployeeOnboarding").validate({

        rules: {
            CompanyId: {
                required:true,
            },
            BranchId: {
                required: true,

            },           

        },
        messages: {
            CompanyId: {
                required: "Company Name is required",
            },
            BranchId: {
                required: "Business unit is required",

            },           
        }
    });

    //<-----------------------------Alreay exist---------------------------------->
    var form = $("#SaveEmployeeOnboarding");
    form.validate();   
    $("#btnshow").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {           
            return false;
        }
    });
</script>*@



<script>
    $(document).ready(function () {
        debugger;

        $("#ddlCompanyName").select2();
        $("#ddlBuniessUnit").select2();
        $("#ddlCompanyName").on("change", function () {

            $("#ddlBuniessUnit").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlBuniessUnit").append("<option value=0>--Select--</option>");
                        $.each(data, function (i, p) {
                            debugger;
                            $("#ddlBuniessUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })
    });



    //$("#btnshow").click(function () {
    //    var CmpId = $("#ddlCompanyName").val();
    //    var BranchId = $("#ddlBuniessUnit").val();
    //    $.ajax({
    //        type: 'GET',
    //        dataType: 'JSON',
    //        contentType: "application/json; charset=utf-8",
    //        url: 'GetEmployeeDetailsList',
    //        data: { CmpId: CmpId, BranchId: BranchId },
    //        success: function (data) {
    //            debugger;
    //            //$("#tblEmployeeDetails tr").remove();

    //            if (data.Data.length != 0) {
    //                for (var i = 1; i <= data.Data.length-1 ; i++) {
    //                    var table = document.getElementById("tblEmployeeDetails");
    //                    var rowCount = table.rows.length;
    //                    var row = table.insertRow(rowCount);
    //                   // var count = $('#tblEmployeeDetails tr').length;
    //                    var EmpList = data.Data[i];
    //                    row.insertCell(0).innerHTML = "" + EmpList[1].Value + "";
    //                    row.insertCell(1).innerHTML = "" + EmpList[2].Value + "";
    //                    row.insertCell(2).innerHTML = "" + EmpList[3].Value + "";
    //                    row.insertCell(3).innerHTML = "" + EmpList[4].Value + "";
    //                    row.insertCell(4).innerHTML = "" + EmpList[7].Value + "";
    //                    row.insertCell(5).innerHTML = "" + EmpList[8].Value + "";
    //                    row.insertCell(6).innerHTML = "" + EmpList[47].Value + "";
    //                    row.insertCell(7).innerHTML = "" + EmpList[48].Value + "";
    //                    row.insertCell(8).innerHTML = "" + EmpList[49].Value + "";
    //                    row.insertCell(9).innerHTML = "" + EmpList[9].Value + "";
    //                    row.insertCell(10).innerHTML = "" + EmpList[10].Value + "";
    //                    row.insertCell(11).innerHTML = "" + EmpList[11].Value + "";
    //                    row.insertCell(12).innerHTML = "" + EmpList[12].Value + "";
    //                    row.insertCell(13).innerHTML = "" + EmpList[13].Value + "";
    //                    row.insertCell(14).innerHTML = "" + EmpList[14].Value + "";
    //                    row.insertCell(15).innerHTML = "" + EmpList[15].Value + "";
    //                    row.insertCell(16).innerHTML = "" + EmpList[16].Value + "";
    //                    row.insertCell(17).innerHTML = "" + EmpList[17].Value + "";
    //                    row.insertCell(18).innerHTML = "" + EmpList[18].Value + "";
    //                    row.insertCell(19).innerHTML = "" + EmpList[19].Value + "";
    //                    row.insertCell(20).innerHTML = "" + EmpList[20].Value + "";
    //                    row.insertCell(21).innerHTML = "" + EmpList[21].Value + "";
    //                    row.insertCell(22).innerHTML = "" + EmpList[22].Value + "";
    //                    row.insertCell(23).innerHTML = "" + EmpList[23].Value + "";
    //                    row.insertCell(24).innerHTML = "" + EmpList[24].Value + "";
    //                    row.insertCell(25).innerHTML = "" + EmpList[25].Value + "";
    //                    row.insertCell(26).innerHTML = "" + EmpList[26].Value + "";
    //                    row.insertCell(27).innerHTML = "" + EmpList[27].Value + "";
    //                    row.insertCell(28).innerHTML = "" + EmpList[28].Value + "";
    //                    row.insertCell(29).innerHTML = "" + EmpList[29].Value + "";
    //                    row.insertCell(30).innerHTML = "" + EmpList[30].Value + "";
    //                    row.insertCell(31).innerHTML = "" + EmpList[31].Value + "";
    //                    row.insertCell(32).innerHTML = "" + EmpList[32].Value + "";
    //                    row.insertCell(33).innerHTML = "" + EmpList[33].Value + "";
    //                    row.insertCell(34).innerHTML = "" + EmpList[34].Value + "";
    //                    row.insertCell(35).innerHTML = "" + EmpList[35].Value + "";
    //                    row.insertCell(36).innerHTML = "" + EmpList[36].Value + "";
    //                    row.insertCell(37).innerHTML = "" + EmpList[37].Value + "";
    //                    row.insertCell(38).innerHTML = "" + EmpList[38].Value + "";
    //                    row.insertCell(39).innerHTML = "" + EmpList[39].Value + "";
    //                    row.insertCell(40).innerHTML = "" + EmpList[40].Value + "";
    //                    row.insertCell(41).innerHTML = "" + EmpList[41].Value + "";
    //                    row.insertCell(42).innerHTML = "" + EmpList[42].Value + "";
    //                    row.insertCell(43).innerHTML = "" + EmpList[43].Value + "";
    //                    row.insertCell(44).innerHTML = "" + EmpList[44].Value + "";
    //                    row.insertCell(45).innerHTML = "" + EmpList[45].Value + "";
    //                    row.insertCell(46).innerHTML = "" + EmpList[46].Value + "";
    //                    row.insertCell(47).innerHTML = "" + EmpList[50].Value + "";
    //                    row.insertCell(48).innerHTML = "" + EmpList[51].Value + "";
    //                    row.insertCell(49).innerHTML = "" + EmpList[52].Value + "";
    //                    row.insertCell(50).innerHTML = "" + EmpList[53].Value + "";
    //                    row.insertCell(51).innerHTML = "" + EmpList[54].Value + "";
    //                    row.insertCell(52).innerHTML = "" + EmpList[55].Value + "";
    //                    row.insertCell(53).innerHTML = "" + EmpList[56].Value + "";
    //                    row.insertCell(54).innerHTML = "" + EmpList[57].Value + "";
    //                    row.insertCell(55).innerHTML = "" + EmpList[58].Value + "";
    //                    row.insertCell(56).innerHTML = "" + EmpList[59].Value + "";
    //                    row.insertCell(57).innerHTML = "" + EmpList[60].Value + "";
    //                    row.insertCell(58).innerHTML = "" + EmpList[61].Value + "";
    //                    row.insertCell(59).innerHTML = "" + EmpList[62].Value + "";
    //                    row.insertCell(60).innerHTML = "" + EmpList[63].Value + "";
    //                    row.insertCell(61).innerHTML = "" + EmpList[64].Value + "";
    //                    row.insertCell(62).innerHTML = "" + EmpList[65].Value + "";
    //                    row.insertCell(63).innerHTML = "" + EmpList[66].Value + "";
    //                    row.insertCell(64).innerHTML = "" + EmpList[67].Value + "";
    //                    row.insertCell(65).innerHTML = "" + EmpList[68].Value + "";
    //                    row.insertCell(66).innerHTML = "" + EmpList[69].Value + "";
    //                    row.insertCell(67).innerHTML = "" + EmpList[70].Value + "";
    //                    row.insertCell(68).innerHTML = "" + EmpList[71].Value + "";
    //                    row.insertCell(69).innerHTML = "" + EmpList[72].Value + "";
    //                    row.insertCell(70).innerHTML = "" + EmpList[73].Value + "";
    //                    row.insertCell(71).innerHTML = "" + EmpList[74].Value + "";
    //                    row.insertCell(72).innerHTML = "" + EmpList[75].Value + "";
    //                    row.insertCell(73).innerHTML = "" + EmpList[76].Value + "";
    //                    row.insertCell(74).innerHTML = "" + EmpList[77].Value + "";
    //                    row.insertCell(75).innerHTML = "" + EmpList[78].Value + "";
    //                    row.insertCell(76).innerHTML = "" + EmpList[79].Value + "";
    //                    row.insertCell(77).innerHTML = "" + EmpList[80].Value + "";
    //                    row.insertCell(78).innerHTML = "" + EmpList[81].Value + "";
    //                    row.insertCell(79).innerHTML = "" + EmpList[82].Value + "";
    //                    row.insertCell(80).innerHTML = "" + EmpList[83].Value + "";
    //                    row.insertCell(81).innerHTML = "" + EmpList[84].Value + "";
    //                    row.insertCell(82).innerHTML = "" + EmpList[85].Value + "";
    //                    row.insertCell(83).innerHTML = "" + EmpList[86].Value + "";
    //                    row.insertCell(84).innerHTML = "" + EmpList[87].Value + "";
    //                    row.insertCell(85).innerHTML = "" + EmpList[88].Value + "";
    //                    row.insertCell(86).innerHTML = "" + EmpList[89].Value + "";
    //                    row.insertCell(87).innerHTML = "" + EmpList[90].Value + "";
    //                    row.insertCell(88).innerHTML = "" + EmpList[91].Value + "";
    //                    row.insertCell(89).innerHTML = "" + EmpList[92].Value + "";
    //                    row.insertCell(90).innerHTML = "" + EmpList[93].Value + "";
    //                    row.insertCell(91).innerHTML = "" + EmpList[94].Value + "";
    //                    row.insertCell(92).innerHTML = "" + EmpList[95].Value + "";
    //                    row.insertCell(93).innerHTML = "" + EmpList[96].Value + "";
    //                    row.insertCell(94).innerHTML = "" + EmpList[97].Value + "";
    //                    row.insertCell(95).innerHTML = "" + EmpList[98].Value + "";
    //                    row.insertCell(96).innerHTML = "" + EmpList[99].Value + "";
    //                    row.insertCell(97).innerHTML = "" + EmpList[100].Value + "";
    //                    row.insertCell(98).innerHTML = "" + EmpList[101].Value + "";
    //                    row.insertCell(99).innerHTML = "" + EmpList[102].Value + "";
    //                    row.insertCell(100).innerHTML = "" + EmpList[103].Value + "";
    //                    row.insertCell(101).innerHTML = "" + EmpList[104].Value + "";
    //                    row.insertCell(102).innerHTML = "" + EmpList[105].Value + "";
    //                    row.insertCell(103).innerHTML = "" + EmpList[106].Value + "";
    //                    row.insertCell(104).innerHTML = "" + EmpList[107].Value + "";
    //                    row.insertCell(105).innerHTML = "" + EmpList[108].Value + "";
    //                    row.insertCell(106).innerHTML = "" + EmpList[109].Value + "";
    //                    row.insertCell(107).innerHTML = "" + EmpList[110].Value + "";
    //                    row.insertCell(108).innerHTML = "" + EmpList[111].Value + "";
    //                    row.insertCell(109).innerHTML = "" + EmpList[112].Value + "";
    //                    row.insertCell(110).innerHTML = "" + EmpList[113].Value + "";
    //                    row.insertCell(111).innerHTML = "" + EmpList[114].Value + "";
    //                  //  row.insertCell(112).innerHTML = "" + EmpList[115].Value + "";
    //                  //  row.insertCell(113).innerHTML = "" + EmpList[116].Value + "";



    //                }
    //            }
    //            else {
    //                var Message = "Record Not Found";
    //                var Icon = "error";
    //                if (Icon == "error") {
    //                    if (Message != null) {
    //                        if (Message != null) {
    //                            Swal.fire({
    //                                icon: Icon,
    //                                text: Message,
    //                                allowOutsideClick: () => {
    //                                    const popup = Swal.getPopup()
    //                                    popup.classList.remove('swal2-show')
    //                                    setTimeout(() => {
    //                                        popup.classList.add('animate__animated', 'animate__headShake')
    //                                    })
    //                                    setTimeout(() => {
    //                                        popup.classList.remove('animate__animated', 'animate__headShake')
    //                                    }, 500)
    //                                    return false
    //                                }
    //                            });
    //                        }
    //                    }
    //                }
    //            }
    //        }
    //    })
    // });
</script>
