@model KompassHR.Areas.Reports.Models.MonthWiseFilter

@{
    ViewBag.Title = "Rpt_Payroll_PayrollAct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Payroll Act Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_Payroll_RptMenu", "Report_Payroll_RptMenu", new {id = 6, ScreenId=455, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Payroll Act Report</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Export Payroll Act Report
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row justify-content-center">
                        <form role="form" href="@Url.Action("Rpt_Payroll_PayrollAct", "Rpt_Payroll_PayrollAct" , new { area = "Reports" })" id="formMonthlyPayrollReport" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Company
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"),"--Select--", new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                            <span id="ErrorddlCmpId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Business Unit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"),"--Select--",  new { @class = "form-select", name = "BranchId", id = "ddlBranchId" })
                                            <span id="ErrorddlBranchId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Month/Year
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Month,"All", new { @class = "form-control", name = "Month", type = "month", id = "GetMonth" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Month/Year
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Month, new { @class = "form-control", name = "Month", type = "month", id = "ToGetMonth" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                      Form
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PayrollActId, new SelectList(ViewBag.FormName, "Id", "Name"),"--Select--", new { @class = "form-select", type = "text", name = "PayrollActId", id = "ddlFormId" })
                                        <span id="ErrorddlBranchId" class="Error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                        <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger
        $('title').html("Payroll Act Report");
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlFormId").select2();
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var defaultMonth = yyyy + '-' + mm;
        var CheckEmptyDate = document.getElementById('GetMonth').value;
        if (CheckEmptyDate == "") {
            document.getElementById('GetMonth').value = defaultMonth;
        }
        var Title = @Html.Raw(Json.Encode(TempData["Title"]));
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            $(".Userloaderbg").css("display","none");
            if (Message != null) {
                var Text = "Your Download File Path Is "+Title+"";
                Swal.fire({
                    title: Message,
                    icon: Icon,
                    text: Text,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }

        @*$("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMonthlyBusinessUnit", "Rpt_Payroll_PayrollAct")',
                data: { CmpId: CmpId},
                success: function (data) {
                    debugger;
                    if (data.Branch !=null) {
                        $("#ddlBranchId").append("<option value=''>All</option>");
                        $.each(data.Branch, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
    
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });*@

        $("#ddlCmpId").on("change", function () {
            var CmpId = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetMonthlyBusinessUnit", "Rpt_Payroll_PayrollAct")',
                data: { CmpId: CmpId },
                success: function (data) {
                    var $BusinessUnitDropdown = $("#ddlBranchId");
                    $BusinessUnitDropdown.empty();

                    if (data && data.length > 0) {
                        $BusinessUnitDropdown.append("<option value=''>--Select--</option>");
                        $.each(data, function (i, module) {
                            $BusinessUnitDropdown.append($("<option>").val(module.Id).text(module.Name));
                        });
                    }
                    else {
                        $BusinessUnitDropdown.append("<option>--Select--</option>");
                    }
                },
                error: function () {
                    console.error("Failed to fetch branches.");
                    $("#ddlBranchId").empty().append("<option>Error loading branches</option>");
                }
            });
        });


        $("#ddlBranchId").on("change", function () {
            debugger;
            var CmpId = $("#ddlCmpId").val();
            var BranchId = $(this).val();

            if (CmpId && CmpId !== "" && BranchId && BranchId !== "") {
                loadForm(CmpId, BranchId);

            } else {
                $("#ddlFormId").find("option").remove();

                $("#ddlFormId").append("<option value='0'>All</option>");

            }
        });

        function loadForm(CmpId, BranchId) {
            debugger
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetFormName", "Rpt_Payroll_PayrollAct")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlFormId").find("option").remove();
                        // $("#ddlFormId").append("<option value='0'>All</option>");
                        $.each(data, function (i, p) {
                            $("#ddlFormId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });

                    }
                }
            });
        }


    });
</script>

<script>
    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        var CmpId = encodeURIComponent($("#ddlCmpId").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var Month = encodeURIComponent($("#GetMonth").val());
        var ToMonth = encodeURIComponent($("#ToGetMonth").val());
       // var StateId = encodeURIComponent($("#ddlStateId").val());
        var FormId = encodeURIComponent($("#ddlFormId").val());
        var url = `@Url.Action("DownloadExcelFile", "Rpt_Payroll_PayrollAct")?BranchId=${branchId}&Month=${Month}&ToMonth=${ToMonth}&CmpId=${CmpId}&FormId=${FormId}`;
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertMonthYearFormat(Month);
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'PayrollActReport('+formattedDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>