@model KompassHR.Areas.ESS.Models.ESS_Training.Training_TrainingInternal
@{
    ViewBag.Title = "ESS_Training_TrainingInternal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Internal Trainer
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Training_SubMenu", "ESS_Training_SubMenu",  new { id = 38,ScreenId=568, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Internal Trainer - <Span>@ViewBag.AddUpdateTitle</Span></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add internal trainer details here!
                    </p>
                </div>

                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Training_TrainingInternal", new { area = "ESS" })' id="TrainingInternal" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Training Course
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.TrainingCategoryId, new SelectList(ViewBag.CategoryName, "Id", "Name"), "--Select--", new { id = "ddlCategoryID", name = "CategoryID", @class = "form-select", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.TrainingInternalId_Encrypted, new { @class = "form-control", id = "TrainingInternalId_Encrypted" })
                                                @Html.HiddenFor(model => model.TrainingInternalId, new { @class = "form-control", id = "TrainingInternalId" })


                                             </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Employee
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.AllEmployeeName, "Id", "Name"), "--Select--", new { id = "ddlEmployeeId", name = "EmployeeId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Contract Details
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Month
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromMonth, new { @class = "form-control", name = "FromMonth", type = "Month", id = "txtfromMonth", required = "required" })
                                                @Html.ValidationMessage("FromMonth", "", new { @class = "help-block", id = "ErrortxtFromMonth", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Month
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToMonth, new { @class = "form-control", name = "ToMonth", type = "Month", id = "txtToMonth", required = "required" })
                                                @Html.ValidationMessage("ToMonth", "", new { @class = "help-block", id = "ErrortxtToMonth", @style = "color:red" })
                                                <span id="monthError" style="color:red; display:none;">Please select a valid To Month.</span>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Contract duration(In Month)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ContractDuration, new { @class = "form-control", type = "text", name = "ContractDuration", id = "txtContractDuration", autocomplete = "Off", @maxlength = 10 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                No.of training to be conducted
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.NoOfTrainingConducted, new { @class = "form-control", type = "text", name = "NoOfTrainingConducted", id = "txtNoOfTrainingConducted", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                LinkedIn Profile
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LinkedinProfile, new { @class = "form-control", type = "text", name = "LinkedinProfile", id = "txtLinkedinProfile", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Upload Photo
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="file" onchange="ResetFile()" name="PhotoPath" id="PhotoPath" accept=".jpg,.jpeg,.png,.pdf" />
                                                @Html.ValidationMessageFor(model => model.PhotoPath, null, new { @class = "help-block", @id = "ErrorPhotoPath", @style = "color:red" })
                                                <label class="form-label col-form-label col-md-8" id="fileUploadFile-lbltext">@TempData["FileName"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnsubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_Training_TrainingInternal", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnTrainingInternal">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCategoryID").select2();
        $("#ddlEmployeeId").select2();
    });

</script>
<script>
    $(document).ready(function () {
        var FromMonth = @Html.Raw(Json.Encode(TempData["FromMonth"]));
        $("#txtfromMonth").val(FromMonth);

        var ToMonth = @Html.Raw(Json.Encode(TempData["ToMonth"]));
        $("#txtToMonth").val(ToMonth);

        $("#formReset").click(function () {
            $("#TrainingInternal")[0].reset();
        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });// Ready end

    $("#btnTrainingInternal").click(function () {
        debugger;
        var url = '@Url.Action("GetList", "ESS_Training_TrainingInternal")';
        window.location.href = url;
    });
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#TrainingInternal').validate({
        rules: {
            TrainingCategoryId: {
                required: true,
            },
            EmployeeId: {
                required:true,
            },
            NoOfTrainingConducted: {
                required:true,
            },
            FromMonth: {
                required:true,
            },
            ToMonth: {
                required:true,
            },
            ContractDuration: {
                required:true,
            },
        },
        messages: {
            TrainingCategoryId: {
                required:"Training Category is required",
            },
            EmployeeId: {
                required:"Employee is required",
                email:"Please enter valid EmailId"
            },
            NoOfTrainingConducted: {
                required:"No.Of Training Conducted is required.",
            },
            FromMonth: {
                required:"From Month is required.",
            },
            ToMonth: {
                required:"To Month is required.",
            },
            ContractDuration: {
                required:"Contract Duration is required."
            },
        },
    });

    var form = $("#TrainingInternal");
    form.validate();
    $("#btnsubmit").click(function () {
        debugger;

        form.valid();
        if(form.valid()==false)
        {
            $("#txtEstablishedDate").removeClass("error");
            return false;
        }
        var TrainingCategoryId=$("#ddlCategoryID").val();
        var TrainingInternalId_Encrypted =$("#TrainingInternalId_Encrypted").val();
        var TrainingInternalId =$("#TrainingInternalId").val();
        var EmployeeId=$("#ddlEmployeeId").val();
        $.ajax({
            url:"IsTrainingInternalExists",
            method:"get",
            data:{TrainingCategoryId:TrainingCategoryId,EmployeeId:EmployeeId,TrainingInternalId_Encrypted:TrainingInternalId_Encrypted,TrainingInternalId:TrainingInternalId},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#TrainingInternal").submit();
                }
            }
        });

    });
</script>
<script>
    function ResetFile()
    {debugger;
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf'];
        let type = document.getElementById('fileupload').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }else{
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf",
            })
            document.getElementById("fileUploadFile").value = null;
        }

        $("#lblFileName").text('');
    }
</script>
<script>
    function calculateContractDuration(fromMonthValue, toMonthValue) {
        if (!fromMonthValue || !toMonthValue) return "";

        const fromDate = new Date(fromMonthValue + "-01");
        const toDate = new Date(toMonthValue + "-01");

        if (toDate < fromDate) return "Invalid range";

        const fromYear = fromDate.getFullYear();
        const fromMonth = fromDate.getMonth(); // 0-based
        const toYear = toDate.getFullYear();
        const toMonth = toDate.getMonth();

        const totalMonths = (toYear - fromYear) * 12 + (toMonth - fromMonth) + 1;

        return totalMonths + " Month" + (totalMonths !== 1 ? "s" : "");
    }

    $(document).ready(function () {debugger;
        $('#txtfromMonth, #txtToMonth').on('change', function () {
            const fromMonthVal = $('#txtfromMonth').val();
            const toMonthVal = $('#txtToMonth').val();
            const duration = calculateContractDuration(fromMonthVal, toMonthVal);
            $('#txtContractDuration').val(duration);
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const fromMonth = document.getElementById("txtfromMonth");
        const toMonth = document.getElementById("txtToMonth");
        const errorSpan = document.getElementById("monthError");

        function validateMonthRange() {
            if (!fromMonth.value || !toMonth.value) return;

            const from = new Date(fromMonth.value + "-01");
            const to = new Date(toMonth.value + "-01");

            if (to < from) {
                errorSpan.style.display = "inline";
               // toMonth.classList.add("is-invalid");
            } else {
                errorSpan.style.display = "none";
              //  toMonth.classList.remove("is-invalid");
            }
        }

        toMonth.addEventListener("change", validateMonthRange);
        fromMonth.addEventListener("change", validateMonthRange); // Optional: to revalidate if FromMonth changes
    });
</script>
