
@model KompassHR.Areas.Setting.Models.Setting_Prime.Mas_CompanyEmergencyContact
@{
    ViewBag.Title = "Setting_Prime_EmergencyContactNo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
                <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                    Emergency Contact
                </h1>
                <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                    <li style="margin-right: 10px;">
                        <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                            <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Setting_Prime_Menu", "Setting_Prime_Menu", new { id = 31, ScreenId = 1, area = "Setting" })">
                            <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Emergency Contact - @ViewBag.AddUpdateTitle </h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Emergency Contact here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Prime_EmergencyContactNo", new { area = "Setting" })' id="SaveContact" method="post" data-parsley-validate="">
                                @Html.HiddenFor(model => model.CompanyEmergencyContactId_Encrypted, new { id = "txtCompanyEmergencyContactId_Encrypted" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CmpID", id = "ddlCmpId" })
                                                <span id="ErrorddlCmpId" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ContactBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), new { @class = "form-select", type = "text", name = "ContactBranchId", id = "ddlBranchId" })
                                                <span id="ErrorddlBranchId" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                   <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contact Person
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", type = "text", id = "txtEmployeeName", autocomplete = "Off", name = "Name" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contact Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Type, new { @class = "form-control", type = "text", id = "txtType", autocomplete = "Off", name = "Type" })
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Contact No
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", type = "Number", id = "txtMobileNo", autocomplete = "Off", name = "MobileNo" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                               Designation
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", type = "text", id = "txtDesignation", autocomplete = "Off", name = "Designation" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <label class="form-label col-form-label col-md-4">
                                          Is Global
                                            @*<span class="important">*</span>*@
                                        </label>
                                        <div class="col-md-8">
                                            @Html.CheckBoxFor(model => model.IsGlobal, new { name = "IsGlobal", id = "chkIsGlobal" })
                                        </div>
                                    </div>
                                </div>


                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit"
                                                                    class="btn btn-primary btn-sm">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Setting_Prime_EmergencyContactNo", new { area = "Setting" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetContactList">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#formReset").click(function () {
            $("#SaveContact")[0].reset();
        })

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                     
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });
</script>

<script>
    $("#ddlCmpId").on("change", function () {
        debugger;
        $("#ddlBranchId").find("option").remove();
        var CmpId = $("#ddlCmpId").val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetBusinessUnit", "Setting_Prime_EmergencyContactNo")',
            data: { CmpId: CmpId},
            success: function (data) {
                debugger;
                if (data.Branch !=null) {
                    $("#ddlBranchId").append("<option value=''>All</option>");
                    $.each(data.Branch, function(i, p) {
                        $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    });
                }
                else {
                    $('#ErrorESSPassword').html(" ");
                }
            }
        })
    });
</script>


<script>
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveContact").validate({
        rules: {
            CmpID: {
                required: true,

            },
            ContactBranchId: {
                required: true,

            },
            Name: {
                required: true,
            },
            Type:{
                required: true,
            },
            MobileNo: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            Designation:{
                required: true,
            }
        },
        messages: {
            CmpID: {
                required: "Company is required"
            },
            ContactBranchId: {
                required: "Branch is required"
            },
            Name: {
                required: "name is required"
            },
            Type: {
                required: "Type is required"
            },
            MobileNo: {
                required: "Mobile No is required",
                digits: "Please enter only digits",
                minlength: "Mobile No must be exactly 10 digits",
                maxlength: "Mobile No must be exactly 10 digits"
            },
            Designation: {
                required: "Designation No is required"
            }
        }
    });


    var form = $("#SaveContact");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtEstablishedDate").removeClass('error');
            return false;
        }
        var CmpID=$("#ddlCmpId").val();
        var ContactBranchId=$("#ddlBranchId").val();
       // var Name=$("#txtEmployeeName").val();
        var CompanyEmergencyContactId_Encrypted=$("#txtCompanyEmergencyContactId_Encrypted").val();
       
        $.ajax({
            url:"IsContactExists",
            method:"get",
          //  data:{CompanyEmergencyContactId_Encrypted:CompanyEmergencyContactId_Encrypted},

            data:{CompanyEmergencyContactId_Encrypted:CompanyEmergencyContactId_Encrypted,CmpID:CmpID,ContactBranchId:ContactBranchId},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveContact").submit();

                }
            }
        });

    });
</script>

