@model KompassHR.Areas.ESS.Models.ESS_TMS.TMS_TaskAssign
@{
    ViewBag.Title = "ESS_TMS_TaskAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Task Assign
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_Menu", "ESS_TMS_Menu",  new { id = 12,ScreenId=194, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Task Assign - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_TMS_TaskAssign", new { area = "ESS" })" id="SaveTaskAssign" method="post" enctype="multipart/form-data">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", id = "txtDocNo", autocomplete = "Off", type = "text", Value = @ViewBag.DocNo, Style = "background-color: #eee;", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.TaskAssignID_Encrypted)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", name = "DocDate", id = "txtDocDate", autocomplete = "Off", type = "date", Style = "background-color: #eee;", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Client Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ClientID, new SelectList(ViewBag.TMSClient, "Id", "Name"), "--Select--", new { id = "txtClientID", name = "ClientID", @class = "form-select", onchange = "onClientChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Project Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.TMSProject, "Id", "Name"), "--Select--", new { id = "txtProjectID", name = "ProjectID", @class = "form-select", onchange = "onProjectChange()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Module Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ModuleId, new SelectList(ViewBag.TMSModule, "Id", "Name"), "--Select--", new { id = "txtModuleID", name = "ModuleID", @class = "form-select", onchange = "onModuleChange()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task Category 
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskCategoryId, new SelectList(ViewBag.TaskCategory, "Id", "Name"), "--Select--", new { id = "txtTaskCategoryId", name = "TaskCategoryId", @class = "form-select", onchange = "onTaskCategoryChange ()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task SubCategory
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskSubCategoryId, new SelectList(ViewBag.TaskSubCategory, "Id", "Name"), "--Select--", new { id = "txtTaskSubCategoryId", name = "TaskSubCategoryId", @class = "form-select" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Title
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TaskTittle, new { id = "txtTaskTittle", name = "TaskTittle", @class = "form-control", AutoComplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @*@Html.TextAreaFor(model => model.Description, new { id = "txtDescription", name = "Description", style = "border: 1px solid #000;", @class = "summernote", type = "text" })*@
                                                @Html.TextAreaFor(model => model.Description, new { @class = "summernote", style = "border: 2px solid #000; padding: 10px;", id = "Description", @placeholder = "Description....", autocomplete = "Off", contenteditable = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Task Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TaskType, new List<SelectListItem>{
                                                new SelectListItem {Text ="Day", Value="Day"},
                                                 new SelectListItem {Text ="Time", Value="Time"}
                                              }, "--Select--", new { @class = "form-select", name = "TaskType", @id = "txtTaskType" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Start Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.StartDate, new { id = "txtStartDate", name = "StartDate", @class = "form-control", type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Due Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DueDate, new { id = "txtDueDate", name = "DueDate", @class = "form-control", type = "date" })
                                                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "help-block", @id = "ErrorDueDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px" hidden>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Start Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromTime, new { id = "txtFromTime", name = "FromTime", @class = "form-control", type = "time" })
                                                @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "help-block", @id = "ErrorFromTime", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                End Time
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToTime, new { id = "txtToTime", name = "ToTime", @class = "form-control", type = "time" })
                                                @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "help-block", @id = "ErrorToTime", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Time <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Time, new { id = "txtTime", @class = "form-control", @placeholder = "HH:mm", maxlength = "5" })
                                                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "help-block", id = "ErrorToTime", style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Total Duration
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TotalDuration, new { id = "txtTotalDuration", name = "TotalDuration", @class = "form-control", type = "text", Style = "background-color: #eee;", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Assign To
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(model => model.AssignToEmployeeID, new SelectList(ViewBag.GetEmployeeName, "Id", "Name"), "--Select--", new { id = "txtAssignToEmployeeID", name = "AssignToEmployeeID", @class = "form-select" })
                                            </div>
                                            <div class="col-md-4">
                                                <div class="button-container">
                                                    <b><span id="GetCount"></span></b>
                                                    <button type="button" id="btnPreview" onclick="Preview()" class="btn btn-success btn-sm btnpress">Preview</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Priority
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Priority, new List<SelectListItem>{
                                                new SelectListItem {Text ="Low", Value="Low"},
                                                 new SelectListItem {Text ="Medium", Value="Medium"},
                                                   new SelectListItem {Text ="High", Value="High"},
                                              }, "--Select--", new { @class = "form-select", name = "Priority", @id = "txtPriority" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Attachment
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="file" name="AssignFilePath" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="SubmitBtn" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<!-- #Start modal-dialog -->
<div class="modal fade" id="modal_basic2" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Manager Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="table-scroll">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap text-center"> Project Name</th>
                                                                <th class="text-nowrap text-center">Client Name</th>
                                                                <th class="text-nowrap text-center">Doc Date</th>
                                                                <th class="text-start text-nowrap">Task Category name</th>
                                                                <th class="text-nowrap text-center">Task Title</th>
                                                                <th class="text-nowrap text-center">Description</th>
                                                                <th class="text-nowrap text-center">Task Type</th>
                                                                <th class="text-nowrap text-center">For Date</th>
                                                                <th class="text-nowrap text-center">For Time</th>
                                                                <th class="text-nowrap text-center">Employee Name</th>
                                                                <th class="text-nowrap text-center">Priority</th>
                                                                <th class="text-nowrap text-center">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblTaskAssign"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-primary btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>

<script>

    $(document).ready(function () {debugger
        $("#txtAssignToEmployeeID").select2();
        $("#txtProjectID").select2();
        $("#txtModuleID").select2();
        $("#txtClientID").select2();
        $("#txtTaskCategoryId").select2();
        $("#txtTaskSubCategoryId").select2();
        $("#txtFromTime").prop("disabled", true);
        $("#txtToTime").prop("disabled", true);

        var SelectedDayTime = $('#txtTaskType').val();
       
        if(SelectedDayTime =="Day")
        {
            $("#txtDueDate").attr('readOnly', false);
            $("#txtFromTime").prop("disabled", true);
            $("#txtToTime").prop("disabled", true);
            $("#txtTime").prop("disabled", true);
            $("#txtStartDate").prop("disabled", false);
            $("#txtDueDate").prop("disabled", false);
        }
        if(SelectedDayTime =="Time")
        {
            debugger;
            $("#txtTime").prop("disabled", false);
            $("#txtDueDate").attr('readOnly', true);
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false
            }).then((result) => {
                if (result.isConfirmed || result.isDismissed) {
                    location.reload();
                }
            });
        }
        $("#btnGetList").click(function () {
            debugger;
            var url = '@Url.Action("GetListTaskAssign", "ESS_TMS_TaskAssign", new { area = "ESS" })';
            window.location.href = url;
        });


        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#txtDocDate").val(dateString);
        var Doc = @Html.Raw(Json.Encode(TempData["DocDate"]));
        if(Doc =="")
        {

        }
        else
        {
            var DocDate =  convertDate(Doc);
            $("#txtDocDate").val(DocDate);
        }

        // $("#txtStartDate").val(dateString);
        function strToMins(t) {
            var s = t.split(":");
            return Number(s[0]) * 60 + Number(s[1]);
        }

        function minsToStr(t) {
            return Math.trunc(t / 60)+':'+('00' + t % 60).slice(-2);
        }

    });//ready function


    // Custom method to check if Due Date is greater than or equal to Start Date
    $.validator.addMethod("dateGreaterThan", function (value, element, params) {
        var startDate = $(params).val(); // Get Start Date value
        if (!startDate || !value) return true; // Skip validation if either field is empty
        return new Date(value) >= new Date(startDate); // Compare dates
    }, "Due Date must be greater than or equal to Start Date.");


    // Custom method to check if Start Date is less than or equal to Due Date
    $.validator.addMethod("dateLessThan", function (value, element, params) {
        var dueDate = $(params).val(); // Get Due Date value
        if (!dueDate || !value) return true; // Skip validation if either field is empty
        return new Date(value) <= new Date(dueDate); // Allow same date or earlier dates
    }, "Start Date must be less than or equal to Due Date.");

    // Custom method to check if ToTime is greater than FromTime
    $.validator.addMethod("timeLessThan", function (value, element, params) {
        var fromTime = $(params).val(); // Get FromTime value
        if (!fromTime || !value) return true; // Skip validation if either field is empty
        var fromDate = new Date("1970/01/01 " + fromTime); // Parse FromTime
        var toDate = new Date("1970/01/01 " + value); // Parse ToTime
        return toDate > fromDate; // Allow ToTime to be the same or greater
    }, "To Time must be greater than From Time.");

    // Custom method to check if FromTime is less than ToTime
    $.validator.addMethod("timeGreaterThan", function (value, element, params) {
        var toTime = $(params).val(); // Get ToTime value
        if (!toTime || !value) return true; // Skip validation if either field is empty
        var fromDate = new Date("1970/01/01 " + value); // Parse FromTime
        var toDate = new Date("1970/01/01 " + toTime); // Parse ToTime
        return fromDate <= toDate; // Allow FromTime to be the same or less
    }, "From Time must be less than To Time.");

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveTaskAssign').validate({
        rules: {
            DocDate: {
                required: true,
            },
            ProjectID: {
                required: true,
            },
            ModuleId: {
                required: true,
            },
            ClientID: {
                required: true,
            },
            Description: {
                required: true,
            },
            TaskType:{
                required: true,
            },
            StartDate:{
                required: true,
                dateLessThan: "#txtDueDate"
            },
            DueDate:{
                required: true,
                dateGreaterThan: "#txtStartDate"
            },
            //FromTime: {
            //    required: true,
            //    timeGreaterThan: "#txtToTime", // Pass the ID of the FromTime field
            //},
            //ToTime: {
            //    required: true,
            //    timeLessThan: "#txtFromTime", // Pass the ID of the FromTime field
            //},
            Time: {
                required: true,
            },
            Priority:{
                required: true,
            },
            AssignToEmployeeID:{
                required: true,
            },
            TaskTittle:{
                required: true,
            },
            TaskCategoryId:{
                required: true,
            },
            TaskSubCategoryId:{
        required: true,
        }
        },
        messages: {
            DocDate: {
                required:"Doc Date is required",
            },
            ProjectID: {
                required:"Project name is required",
            },
            ModuleId: {
                required: "Module name is required",
            },
            ClientID: {
                required: "Client name is required",
            },
            Description: {
                required: "Description is required",
            },
            TaskType:{
                required: "Task type is required",
            },
            StartDate: {
                required: "Start Date is required",
            },
            DueDate: {
                required: "Due Date is required",
                dateGreaterThan: "Due Date cannot be earlier than Start Date."
            },
            //StartTime: {
            //    required: "From time is required",
            //    timeGreaterThan: "From Time must be less than To Time",
            //},
            //ToTime: {
            //    required: "To time is required",
            //    timeLessThan: "To Time must be greater than From Time",
            //},
            Time: {
                required: "Time is required",
            },
            Priority: {
                required: "Priority is required",
            },
            AssignToEmployeeID: {
                required: " Assign To is required",
            },
            TaskTittle: {
                required: "Tittle is required",
            },
            TaskCategoryId: {
                required: "Task Category is required",
            },
            TaskSubCategoryId: {
                required: "Task SubCategory is required",
            },
        },
    });

    var form = $("#SaveTaskAssign");
    form.validate();
    $("#SubmitBtn").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtStartDate").removeClass("error");
            $("#txtDueDate").removeClass("error");
            return false;
        }
        else
        {
            $("#SaveTaskAssign").submit();
        }
    });



    $('#txtAssignToEmployeeID').change(function () {
        var EmployeeId = $('#txtAssignToEmployeeID').val();
        debugger;
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("GetCountTaskAssign", "ESS_TMS_TaskAssign")',
            data: { EmployeeId: EmployeeId },
            success: function (data){
                debugger;
                var count = data[0][0].Value;
                $('#GetCount').html("Total Count : "+ count );
            }

        });
    });

    function Preview(){
        var EmployeeId = $('#txtAssignToEmployeeID').val();
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetPreviewTaskAssign", "ESS_TMS_TaskAssign")',
            data: {EmployeeId:EmployeeId},
            dataType: "text",
            success: function (data) {
                debugger;
                var Getdata = JSON.parse(data);
                console.log(Getdata)
                $('#tblTaskAssign tr').not(function () { return !!$(this).has('th').length; }).remove();
                if(Getdata!=null)
                {
                    for(var i=0;i <= Getdata.length-1;i++)
                    {
                        var table = document.getElementById("tblTaskAssign");
                        var rowCount = table.rows.length;
                        var row = table.insertRow(rowCount);
                        var TaskAssign = Getdata[i];
                        var count = $('#tblTaskAssign tr').length;
                        row.insertCell(0).innerHTML = "" + TaskAssign[4].Value + "";
                        row.insertCell(1).innerHTML = "" + TaskAssign[5].Value+ "";
                        row.insertCell(2).innerHTML = "" + TaskAssign[3].Value + "";
                        row.insertCell(3).innerHTML = "" + TaskAssign[6].Value + "";
                        row.insertCell(4).innerHTML = "" + TaskAssign[7].Value + "";
                        row.insertCell(5).innerHTML = "" + TaskAssign[8].Value + "";
                        row.insertCell(6).innerHTML = "" + TaskAssign[9].Value + "";
                        row.insertCell(7).innerHTML = "" + TaskAssign[10].Value + "";
                        row.insertCell(8).innerHTML = "" + TaskAssign[11].Value + "";
                        row.insertCell(9).innerHTML = "" + TaskAssign[12].Value + "";
                        row.insertCell(10).innerHTML = "" + TaskAssign[13].Value + "";
                        row.insertCell(11).innerHTML = "" + TaskAssign[16].Value + "";
                    }
                }
                $('#modal_basic2').modal('show');
            }
        });
    }

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("txtStartDate").setAttribute("min", today);
    document.getElementById("txtDueDate").setAttribute("min", today);
    // document.getElementById("txtDocDate").setAttribute("min", today);



    var DocDate = @Html.Raw(Json.Encode(TempData["DocDate"]));
    var StartDate = @Html.Raw(Json.Encode(TempData["StartDate"]));
    var DueDate = @Html.Raw(Json.Encode(TempData["DueDate"]));
    if(DocDate ==""|| StartDate=="" || DueDate=="")
    {

    }
    else
    {
        debugger;
        var DocDate =  convertDate(DocDate);
        var StartDate =  convertDate(StartDate);
        var DueDate =  convertDate(DueDate);
        $("#txtDocDate").val(DocDate);
        $("#txtStartDate").val(StartDate);
        $("#txtDueDate").val(DueDate);
    }

    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }


</script>


<script>
    $("#txtStartDate").change(function (){
        debugger;
        var SelectedDayTimes = $('#txtTaskType').val();
        if(SelectedDayTimes == "Time")
        {
            //  $("#txtDueDate").attr('readOnly', true);
            // $("#txtDueDate").prop("disabled", true);
            var StartDate1 = document.getElementById("txtStartDate").value;
            $('#txtDueDate').val(StartDate1)

            var DueDate1 = document.getElementById("txtDueDate").value;
            if(DueDate1 > StartDate1 )
            {debugger
                $("#ErrorDueDate").text('Due Date cannot be earlier than Start Date');
                return false;
            }
            else
            {
                $("#ErrorDueDate").text('');
            }
        }
        else{
            $("#ErrorDueDate").text('');
        }
    });

    $('#txtDueDate').change(function () {
        debugger
        $("#txtFromTime").prop("disabled", true);
        $("#txtToTime").prop("disabled", true);
        var SelectedDayTimes = $('#txtTaskType').val();

        var StartDate= document.getElementById('txtStartDate').value;
        var EndDate= document.getElementById('txtDueDate').value;
        if((EndDate > StartDate) && SelectedDayTimes == "Time" )
        {debugger
        $("#ErrorDueDate").text('Due Date is must be equal to start Date.');
        $("#txtTime").prop("disabled", true);
        $("#txtTime").val("");
        $("#txtTotalDuration").val('');
            return false;
        }
        else
        {
           // $("#txtTime").prop("disabled", false);
            $("#ErrorDueDate").text('');
        }
        var sDate = new Date(StartDate);
        var eDate = new Date(EndDate);
        var Time = Math.abs(eDate - sDate);
        var days = Math.ceil(Time/(1000 * 60 * 60 * 24))+1;
        $("#txtTotalDuration").val(days+' '+'Days');

    });

    $('#txtTaskType').change(function () {
        debugger
        var SelectedDayTime = $('#txtTaskType').val();
        if(SelectedDayTime =="Day")
        {
            $("#txtDueDate").val('');
            $("#txtDueDate").attr('readOnly', false);
            $("#txtFromTime").prop("disabled", true);
            $("#txtToTime").prop("disabled", true);
            $("#txtTime").prop("disabled", true);
            $("#txtFromTime").val('');
            $("#txtToTime").val('');
            $("#txtTime").val('');
            $("#txtStartDate").prop("disabled", false);
            $("#txtDueDate").prop("disabled", false);
            $("#txtTotalDuration").val('');


        }
        if(SelectedDayTime =="Time")
        {
            debugger;
            $("#txtTime").prop("disabled", false);

            var StartDate1 = document.getElementById("txtStartDate").value;
            $('#txtDueDate').val(StartDate1)
            $("#txtDueDate").attr('readOnly', true);
            $("#txtTotalDuration").val('');
        }
    });

</script>

<script>
    function DeleteTaskAssign(TaskAssignID_Encrypted) {
        alert(TaskAssignID_Encrypted)
        debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "ESS_TMS_TaskAssign")?TaskAssignID_Encrypted=' + TaskAssignID_Encrypted;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

</script>


<script>
    function onProjectChange() {
        debugger;
        var projectId = document.getElementById("txtProjectID").value;
        var clientId = document.getElementById("txtClientID").value;
        $("#txtModuleID").find("option").remove();
        $("#txtAssignToEmployeeID").find("option").remove();
        $("#txtTaskCategoryId").find("option").remove();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetModule", "ESS_TMS_TaskAssign")',
            data: { ProjectId: projectId, clientId: clientId },
            success: function (response) {
                // Handle Module Dropdown
                var $moduleDropdown = $("#txtModuleID");
                $moduleDropdown.empty().append("<option value=''>--Select--</option>");

                if (response.data && response.data.length > 0) {
                    $.each(response.data, function (i, module) {debugger
                        $moduleDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                }

                // Handle AssignToEmployee Dropdown
                var $assignToEmployeeDropdown = $("#txtAssignToEmployeeID");
                $assignToEmployeeDropdown.empty().append("<option value=''>--Select--</option>");

                if (response.assigntoemployee && response.assigntoemployee.length > 0) {
                    $.each(response.assigntoemployee, function (i, employee) {debugger
                        $assignToEmployeeDropdown.append(
                            $("<option>").val(employee.Id).text(employee.Name)
                        );
                    });
                }

                // Handle Task Category Dropdown
                var $TaskCategoryIdDropdown = $("#txtTaskCategoryId");
                $TaskCategoryIdDropdown.empty().append("<option value=''>--Select--</option>");

                if (response.taskCategory && response.taskCategory.length > 0) {
                    $.each(response.taskCategory, function (i, taskCategory) {debugger
                        $TaskCategoryIdDropdown.append(
                            $("<option>").val(taskCategory.Id).text(taskCategory.Name)
                        );
                    });
                }
            },
            error: function () {
                console.error("Failed to fetch data.");
                $("#txtModuleID").empty().append("<option value=''></option>");
                $("#txtAssignToEmployeeID").empty().append("<option value=''></option>");
                $("#txtTaskCategoryId").empty().append("<option value=''></option>");
            }
        });
    }


    function onClientChange() {debugger
        var clientId = document.getElementById("txtClientID").value;
        $("#txtProjectID").find("option").remove();
        $("#txtModuleID").find("option").remove();
        $("#txtTaskCategoryId").find("option").remove();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetProject", "ESS_TMS_TaskAssign", new { area = "ESS" })',
            data: { Clientd: clientId },
            success: function (data) {
                // Populate Business Unit dropdown
                var Project = data.Project || [];
                if (Project.length > 0) {
                    $("#txtProjectID").append("<option value=''>--Select--</option>");
                    $.each(Project, function (i, p) {
                        $("#txtProjectID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }

    function onModuleChange() {debugger
        var ModuleId = document.getElementById("txtModuleID").value;
        var ProjectId= document.getElementById("txtProjectID").value;

        $("#txtTaskCategoryId").find("option").remove();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetTaskCategory", "ESS_TMS_TaskAssign", new { area = "ESS" })',
            data: { ModuleId: ModuleId,ProjectId:ProjectId },
            success: function (data) {
                // Populate Business Unit dropdown
                var TaskCategory = data.TaskCategory || [];
                if (TaskCategory.length > 0) {
                    $("#txtTaskCategoryId").append("<option value=''>--Select--</option>");
                    $.each(TaskCategory, function (i, p) {
                        $("#txtTaskCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }

    function onTaskCategoryChange() {debugger
        var TaskCategoryId = document.getElementById("txtTaskCategoryId").value;
        $("#txtTaskSubCategoryId").find("option").remove();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetTaskSubCategory", "ESS_TMS_TaskAssign", new { area = "ESS" })',
            data: { TaskCategoryId: TaskCategoryId },
            success: function (data) {
                // Populate Business Unit dropdown
                var TaskSubCategory = data.TaskSubCategory || [];
                if (TaskSubCategory.length > 0) {
                    $("#txtTaskSubCategoryId").append("<option value=''>--Select--</option>");
                    $.each(TaskSubCategory, function (i, p) {
                        $("#txtTaskSubCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }
</script>


<script>
    // Format time input as HH:mm with validation
    function formatAndSetTime(value) {
        let raw = (value || '').replace(/[^0-9]/g, '').padEnd(4, '0').slice(0, 4);
        let hours = parseInt(raw.slice(0, 2)) || 0;
        let minutes = parseInt(raw.slice(2, 4)) || 0;

        // Handle hour overflow (24-hour format)
        if (hours >= 24) {
            hours = hours % 24;
        }

        // Handle minute overflow
        if (minutes >= 60) {
            hours += Math.floor(minutes / 60);
            minutes = minutes % 60;

            // Re-check hour overflow after minute adjustment
            if (hours >= 24) {
                hours = hours % 24;
            }
        }

        return {
            formattedTime: `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`,
            hours: hours,
            minutes: minutes
        };
    }

    function updateDurationDisplay(timeValue) {
        const result = formatAndSetTime(timeValue);
        const durationField = document.getElementById('txtTotalDuration');
        if (durationField) {
            durationField.value = `${result.hours} Hr : ${result.minutes} Min`;
        }
        return result.formattedTime;
    }

    function attachTimeHandlers(inputId) {
        const input = document.getElementById(inputId);
        if (!input) return;

        input.addEventListener('input', function(e) {
            // Allow only numbers and colon
            this.value = this.value.replace(/[^0-9:]/g, '');

            // Auto-insert colon after 2 digits
            if (this.value.length > 2 && !this.value.includes(':')) {
                this.value = this.value.substring(0, 2) + ':' + this.value.substring(2);
            }

            // Limit to 5 characters (HH:mm)
            if (this.value.length > 5) {
                this.value = this.value.substring(0, 5);
            }

            // Update duration display in real-time
            updateDurationDisplay(this.value);
        });

        input.addEventListener('blur', function() {
            const result = formatAndSetTime(this.value);
            this.value = result.formattedTime;
            updateDurationDisplay(this.value);
        });

        // Prevent invalid key presses
        input.addEventListener('keydown', function(e) {
            // Allow: backspace, delete, tab, escape, enter
            if ([8, 9, 13, 27, 46].includes(e.keyCode) ||
                // Allow: Ctrl+A, Ctrl+C, Ctrl+V, Ctrl+X
                (e.ctrlKey && [65, 67, 86, 88].includes(e.keyCode))) {
                return true;
            }

            // Allow colon only after 2 digits
            if (e.key === ':' && this.selectionStart >= 2) {
                return true;
            }

            // Allow numbers (main keyboard and numpad)
            if ((e.keyCode >= 48 && e.keyCode <= 57) ||
                (e.keyCode >= 96 && e.keyCode <= 105)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        attachTimeHandlers('txtTime');
    });
</script>


