@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_PerquisiteAmount
@{
    ViewBag.Title = "ESS_Tax_PerquisiteAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
       .select2.select2-container {
        width: 100% !important;
    }
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    h6 {
        margin-top: -20px;
        padding: 0 10px;
    }

    mark {
        background-color: #fff;
        font-size: 15px;
        padding: 0 5px;
    }


    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Tax Perquisite 
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_Menu", "ESS_Tax_Menu", new {id = 9, ScreenId=183, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Tax Perquisite  - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define year wise Perquisite amount here!

                    </p>
                </div>
                <div class="panel-body" style="height: 100% !important;">
                    <form role="form" action='@Url.Action("SaveUpdate", "ESS_Tax_PerquisiteAmount", new { area = "ESS" })' id="SavePerquisite" method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Financial Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PerquisiteFyearId, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "ddlPerquisiteFyearId", @class = "form-control", autocomplete = "off", name = "PerquisiteFyearId" })
                                        @Html.HiddenFor(model => model.PerquisiteAmountId_Encrypted, new { id = "PerquisiteAmountId_Encrypted" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Employee Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PerquisiteEmployeeId, new SelectList(ViewBag.GetEmployeeList, "Id", "Name"), "--Select--", new { id = "ddlPerquisiteEmployeeId", @class = "form-control", autocomplete = "off", name = "PerquisiteEmployeeId" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Perquisite List
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PerquisiteListId, new SelectList(ViewBag.GetPerquisiteList, "Id", "Name"), "--Select--", new { id = "ddlPerquisiteListId", @class = "form-control", autocomplete = "off", name = "PerquisiteListId" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Total Amount
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.TotalAmount, new { id = "PerquisiteAmount", @class = "form-control", autocomplete = "off", name = "PerquisiteAmount" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Taxable Amount
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.TaxableAmount, new { id = "TaxableAmount", @class = "form-control", autocomplete = "off", name = "TaxableAmount" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Month/Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.MonthYear, new { id = "MonthYear", @class = "form-control", autocomplete = "off", type = "month", name = "MonthYear" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "ESS_Tax_PerquisiteAmount", new { area = "ESS" })">
                                                    <button type="button" id="btnGetTaxRuleList" class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>

<script>

    $(document).ready(function(){
        debugger

    var Message = @Html.Raw(Json.Encode(TempData["Message"]));
    var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
    if (Message != null) {
        if (Icon != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    // return false
                }
            }).then(function() {
                window.location.reload();
            });
        }
    }


    $("#ddlPerquisiteEmployeeId").select2();
    $("#ddlPerquisiteListId").select2();

    var MonthYear = @Html.Raw(Json.Encode(TempData["MonthYear"]));

        if (MonthYear && MonthYear !== "null" && MonthYear !== "undefined" && MonthYear.trim() !== "") {
            var dateParts = MonthYear.split('-');
            var yyyy = parseInt(dateParts[0], 10);
            var mm = parseInt(dateParts[1], 10) - 1;
            var selectedDate = new Date(yyyy, mm, 1);
            var formattedMonth = selectedDate.getFullYear() + '-' + String(selectedDate.getMonth() + 1).padStart(2, '0');
            var CheckEmptyDate = document.getElementById('MonthYear').value;
            if (CheckEmptyDate === "") {
                document.getElementById('MonthYear').value = formattedMonth;
            }
        } else {
            console.error("TempData['MonthYear'] is invalid or empty.");
        }

        updateFinancialYearRange();

        // Also apply when dropdown changes
        $('#ddlPerquisiteFyearId').change(function () {
            updateFinancialYearRange();
        });

        function updateFinancialYearRange() {
            var selectedFYear = $('#ddlPerquisiteFyearId').find(":selected").text(); // Get selected financial year text

            if (selectedFYear && selectedFYear.includes("-")) {
                var years = selectedFYear.split("-"); // Assuming format "2023-2024"
                var startYear = years[0].trim();
                var endYear = years[1].trim();

                // Define financial year range
                minDate = startYear + "-04"; // Financial year starts in April
                maxDate = endYear + "-03";   // Financial year ends in March

                $('#MonthYear').attr('min', minDate);
                $('#MonthYear').attr('max', maxDate);
            } else {
                $('#MonthYear').removeAttr('min max');
            }
        }


    });
</script>

<script>
    // Helper function to format a Date object as 'YYYY-MM-DD'
    function formatToYYYYMMDD(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 0-based index
        const day = String(date.getDate()).padStart(2, '0'); // Always '01' here
        return `${year}-${month}-${day}`;
    }
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SavePerquisite").validate({
        rules: {
            PerquisiteFyearId: {
                required: true,
            },
            PerquisiteEmployeeId: {
                required: true,
            },
            PerquisiteListId: {
                required: true,
            },
            TotalAmount: {
                required: true,
            },
            TaxableAmount: {
                required: true,
            },
            MonthYear: {
                required: true,
            },
        },
        messages: {
            PerquisiteFyearId: {
                required: "Please select financial year",
            },
            PerquisiteEmployeeId: {
                required: "Please select Employee",
            },
            PerquisiteListId: {
                required: "Please select Perquisite ",
            },
            TotalAmount: {
                required: "Please enter Total Amount",
            },
            TaxableAmount: {
                required: "Please enter Taxable Amount",
            },
            MonthYear: {
                required: "Please select Month Year ",
            },
        },
    });

    //IsValidation Check
    var form = $("#SavePerquisite");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            //$("#dateToDate").removeClass('error');
            return false;
        }
        else{
            $("#SavePerquisite").submit();
        }

        //var PerquisiteFyearId = $("#ddlPerquisiteFyearId").val();
        //var PerquisiteAmountId_Encrypted = $("#PerquisiteAmountId_Encrypted").val();
        //var PerquisiteEmployeeId = $("#ddlPerquisiteEmployeeId").val();
        //var PerquisiteListId = $("#ddlPerquisiteListId").val();


        //$.ajax({
           // url: "@Url.Action("IsPerquisiteExist", "ESS_Tax_PerquisiteAmount")",
          //  method:"get",
          //  data: { PerquisiteFyearId: PerquisiteFyearId, PerquisiteAmountId_Encrypted: PerquisiteAmountId_Encrypted,PerquisiteEmployeeId:PerquisiteEmployeeId,PerquisiteListId:PerquisiteListId },
          //  success:function(response){
              //  debugger;
              //  var Message1 = response.Message;
                //var Icon1 = response.Icon;
                //if (response.Icon=="error") {
                //    if (Message1 != null) {
                //        if (Message1 != null) {
                //            Swal.fire({
                //                icon: Icon1,
                //                text: Message1,
                //                allowOutsideClick: () => {
                //                    const popup = Swal.getPopup()
                //                    popup.classList.remove('swal2-show')
                //                    setTimeout(() => {
                //                        popup.classList.add('animate__animated', 'animate__headShake')
                //                    })
                //                    setTimeout(() => {
                //                        popup.classList.remove('animate__animated', 'animate__headShake')
                //                    }, 500)
                //                    return false
                //                }
                //            });
                //        }
                //    }
                //}
            //    else{

            //    }
            //}
        //});

    });
</script>