@model KompassHR.Areas.Setting.Models.Setting_Payroll.Payroll_PayrollCycle
@{
    ViewBag.Title = "Setting_Payroll_PayrollCycle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Payroll Cycle
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Payroll_Menu", "Setting_Payroll_Menu", new { id = 6, ScreenId = 287, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Payroll Cycle - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Payroll_PayrollCycle", new { area = "Setting" })' id="savePayrollCycle" method="post" enctype="multipart/form-data">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => Model.PayrollCycleId_Encrypted)
                                        @Html.HiddenFor(model => Model.PayrollCycleId)
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.getCompanyName, "Id", "Name"), "--Select--", new { id = "ddlCmpID", name = "CmpID", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Payroll Cycle Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PayrollCycleType, new List<SelectListItem> {
                                               new SelectListItem {Text="Month Days",Value="IsMonthDays" },
                                               new SelectListItem {Text="Period Based Days",Value="IsPeriodBasedDays" },
                                               new SelectListItem {Text=" Fixed Days",Value="PayrollCycleFixedDays" }

                                           }, "--Select--", new { id = "ddlPayrollCycleType", name = "PayrollCycleType", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row mb-12px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="row mb-15px align-items-center">

                                                <label class="form-label col-form-label col-md-2"> </label>
                                                <div class="col-md-2 ">
                                                    @Html.CheckBoxFor(model => model.IsMonthDays, new { id = "IsMonthDays", name = "IsMonthDays" })
                                                    <label class="form-check-label form-label">
                                                        Month Days
                                                    </label>
                                                </div>*@

                                @*<div class="col-md-6">
                                        <div class="row mb-13px align-items-center">
                                            <label class="form-label col-form-label col-md-3"> </label>
                                            <div class="col-md-3 ">
                                                @Html.CheckBoxFor(model => model.IsPeriodBasedDays, new { id = "IsPeriodBasedDays", name = "IsPeriodBasedDays" })
                                                <label class="form-check-label form-label">
                                                    Period Based Days
                                                </label>
                                            </div>
                                        </div>
                                    </div>*@
                                @*</div>
                                    </div>*@
                                @*</div>*@
                                @*</div>*@
                                @*<div class="row mb-10px">
                                        <div class="row mb-10px align-items-center">
                                            <label class="form-label col-form-label col-md-2"> </label>
                                            <div class="col-md-2 ">
                                                @Html.CheckBoxFor(model => model.IsPeriodBasedDays, new { id = "IsPeriodBasedDays", name = "IsPeriodBasedDays" })
                                                <label class="form-check-label form-label">
                                                    Period Based Days
                                                </label>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label label class="form-label col-form-label col-md-4">
                                                From
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PeriodBasedFromDay, new List<SelectListItem>
                                                    {
                                                       new SelectListItem {Text="1",Value="1" },new SelectListItem {Text="2",Value="2" },new SelectListItem {Text="3",Value="3" },
                                                        new SelectListItem {Text="4",Value="4" },new SelectListItem {Text="5",Value="5" },new SelectListItem {Text="6",Value="6" },
                                                          new SelectListItem {Text="7",Value="7" },new SelectListItem {Text="8",Value="8" },new SelectListItem {Text="9",Value="9" },
                                                            new SelectListItem {Text="10",Value="10" },new SelectListItem {Text="11",Value="11" },new SelectListItem {Text="12",Value="12" },
                                                        new SelectListItem {Text="13",Value="13" },new SelectListItem {Text="14",Value="14" },new SelectListItem {Text="15",Value="15" },
                                                        new SelectListItem {Text="16",Value="16" },new SelectListItem {Text="17",Value="17" },new SelectListItem {Text="18",Value="18" },
                                                        new SelectListItem {Text="19",Value="19" },new SelectListItem {Text="20",Value="20" },new SelectListItem {Text="21",Value="21" },
                                                          new SelectListItem {Text="22",Value="22" },new SelectListItem {Text="23",Value="23" },new SelectListItem {Text="24",Value="24" },
                                                        new SelectListItem {Text="25",Value="25" },new SelectListItem {Text="26",Value="27" },new SelectListItem {Text="28",Value="28" },
                                                         new SelectListItem {Text="29",Value="29" },new SelectListItem {Text="30",Value="30" },new SelectListItem {Text="31",Value="31" },
                                                     }, "--Select--", new { id = "ddlPeriodBasedFromDay", name = "PeriodBasedFromDay", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label label class="form-label col-form-label col-md-4">
                                                To
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PeriodBasedToDay, new List<SelectListItem>
                                                    {
                                                       new SelectListItem {Text="1",Value="1" },new SelectListItem {Text="2",Value="2" },new SelectListItem {Text="3",Value="3" },
                                                        new SelectListItem {Text="4",Value="4" },new SelectListItem {Text="5",Value="5" },new SelectListItem {Text="6",Value="6" },
                                                          new SelectListItem {Text="7",Value="7" },new SelectListItem {Text="8",Value="8" },new SelectListItem {Text="9",Value="9" },
                                                            new SelectListItem {Text="10",Value="10" },new SelectListItem {Text="11",Value="11" },new SelectListItem {Text="12",Value="12" },
                                                        new SelectListItem {Text="13",Value="13" },new SelectListItem {Text="14",Value="14" },new SelectListItem {Text="15",Value="15" },
                                                        new SelectListItem {Text="16",Value="16" },new SelectListItem {Text="17",Value="17" },new SelectListItem {Text="18",Value="18" },
                                                        new SelectListItem {Text="19",Value="19" },new SelectListItem {Text="20",Value="20" },new SelectListItem {Text="21",Value="21" },
                                                          new SelectListItem {Text="22",Value="22" },new SelectListItem {Text="23",Value="23" },new SelectListItem {Text="24",Value="24" },
                                                        new SelectListItem {Text="25",Value="25" },new SelectListItem {Text="26",Value="27" },new SelectListItem {Text="28",Value="28" },
                                                         new SelectListItem {Text="29",Value="29" },new SelectListItem {Text="30",Value="30" },new SelectListItem {Text="31",Value="31" },
                                                     }, "--Select--", new { id = "ddlPeriodBasedToDay", name = "ddlPeriodBasedToDay", @class = "form-select", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.PeriodBasedToDay, "", new { @class = "help-block", @id = "ErrorPeriodBasedToDay", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label label class="form-label col-form-label col-md-4">
                                                adjust Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.adjustDays, new List<SelectListItem>
                                                        {
                                                           new SelectListItem {Text="1",Value="1" }

                                              }, "--Select--", new { id = "ddladjustDays", name = "adjustDays", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>*@

                                @*<div class="row mb-15px">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-2">
                                                    PayrollCycleFixedDays
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PayrollCycleFixedDays, new { id = "txtPayrollCycleFixedDays", name = "PayrollCycleFixedDays", @class = "form-select", autocomplete = "off" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnPayrollCyleGetList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END panel -->
        </div>
    </div>
</div>


<!-- BEGIN scroll-top-btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
   data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- END scroll-top-btn -->
<!-- END #app -->
<

<script>
    $(document).ready(function () {
        debugger;

        var IsPeriodBasedDays = @Html.Raw(Json.Encode(TempData["IsPeriodBasedDays"]));

        if(IsPeriodBasedDays != null ){
            if(IsPeriodBasedDays==true)
            {
                debugger;
                $('#ddlPeriodBasedFromDay').prop('disabled', false);
                $('#ddlPeriodBasedToDay').prop('disabled', false);
            }
            else{
                $('#ddlPeriodBasedFromDay').prop('disabled', true);
                $('#ddlPeriodBasedToDay').prop('disabled', true);
            }
        }

        $("#ddlCmpID").select2();
        $("#ddlPeriodBasedFromDay").select2();
        $("#ddlPeriodBasedToDay").select2();

        $("#ddlPayrollCycleType").change(function()
        {
            debugger
            var ddlPayrollCycleType = $("#ddlPayrollCycleType").val();

            if(ddlPayrollCycleType=="IsMonthDays")
            {
                $('#ddlPeriodBasedFromDay').prop('disabled', true);
                $('#ddlPeriodBasedToDay').prop('disabled', true);
                document.querySelector('#ddlPeriodBasedFromDay').style.backgroundColor = '#e9ecef';
                cument.querySelector('#ddlPeriodBasedToDay').style.backgroundColor = '#e9ecef';
                $("#ddlPeriodBasedFromDay").val("").select2();
                $("#ddlPeriodBasedToDay").val("").select2();
            }
            else{
                $('#ddlPeriodBasedFromDay').prop('disabled', false);
                $('#ddlPeriodBasedToDay').prop('disabled', false);
                document.querySelector('#ddlPeriodBasedFromDay').style.backgroundColor = '';
                cument.querySelector('#ddlPeriodBasedToDay').style.backgroundColor = '';
            }
        });

        //$('#IsMonthDays').change(function () {
        //    if ($(this).is(':checked')) {
        //        $('#ddlPeriodBasedFromDay').prop('disabled', true);
        //        $('#ddlPeriodBasedToDay').prop('disabled', true);
        //        $("#ddlPeriodBasedFromDay").val("").select2();
        //        $("#ddlPeriodBasedToDay").val("").select2();
        //    } else {
        //        $('#ddlPeriodBasedFromDay').prop('disabled', false);
        //        $('#ddlPeriodBasedToDay').prop('disabled', false);
        //    }
        //});
        //$('#IsPeriodBasedDays').change(function () {
        //    if ($(this).is(':checked')) {
        //        $('#ddlPeriodBasedFromDay').prop('disabled', false);
        //        $('#ddlPeriodBasedToDay').prop('disabled', false);
        //        $("#ddlPeriodBasedFromDay").val("").select2();
        //        $("#ddlPeriodBasedToDay").val("").select2();
        //    } else {
        //        $('#ddlPeriodBasedFromDay').prop('disabled', true);
        //        $('#ddlPeriodBasedToDay').prop('disabled', true);
        //        $("#ddlPeriodBasedFromDay").val("").select2();
        //        $("#ddlPeriodBasedToDay").val("").select2();
        //    }
        //});


        //$('#IsMonthDays').change(function () {
        //    if ($('#IsMonthDays').is(':checked')) {
        //        $('#IsPeriodBasedDays').prop('checked', false);

        //    } else {
        //        $('#IsPeriodBasedDays').is('checked', true);

        //    }
        //});
        //$('#IsPeriodBasedDays').change(function () {
        //    if ($('#IsPeriodBasedDays').is(':checked')) {
        //        $('#IsMonthDays').prop('checked', false);

        //    } else {
        //        $('#IsMonthDays').is('checked', true);

        //    }
        //});


        $("#ddlPeriodBasedFromDay,#ddlPeriodBasedToDay").change(function() {
            debugger;
            var PeriodBasedFromDay = Number($("#ddlPeriodBasedFromDay").val());
            var PeriodBasedToDay = Number($("#ddlPeriodBasedToDay").val());
            if(PeriodBasedFromDay>=PeriodBasedToDay)
            {
                $("#ErrorPeriodBasedToDay").html("To date cannot less than from date");return false;
            }
            else{
                $("#ErrorPeriodBasedToDay").html("");
            }


        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }

        $("#btnPayrollCyleGetList").click(function () {
            window.location.href= '@Url.Action("GetList", "Setting_Payroll_PayrollCycle")';
        });



    });//Ready Funcation
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       debugger;
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#savePayrollCycle").validate({

        rules: {
            CmpID:{
                required:true,
            },

            PayrollCycleType: {
                required: true,

            },
            PeriodBasedFromDay: {
                required:true,
            },
            PeriodBasedToDay:{
                required:true,
            },
            adjustDays:{
                required:true,
            }

        },
        messages: {

            CmpID: {
                required: "This field is required",
            },
            PayrollCycleType: {
                required: "This field is required",

            },

            PeriodBasedFromDay: {
                required: "This field is required",
            },

            PeriodBasedToDay:{
                required: "This field is required",
            },
            adjustDays:{
                required: "This field is required",
            },


        }
    });

    //<-----------------------------Alreay exist---------------------------------->
    var form=$("#savePayrollCycle");
    form.validate();

    //$("#btnSubmit").click(function () {
    //    debugger;
    //    form.valid();
    //    if(form.valid()==false)
    //    {
    //        $("#dateDocDate").removeClass('error');
    //        //$('#txtCorporationDate').removeClass('error');
    //        return false;
    //    }
    //    debugger;
    //    var ddlCmpID=$("#ddlCmpID").val();
    //    var PayrollCycleId_Encrypted=$("#PayrollCycleId_Encrypted").val();
    //    var PayrollCycleId=$("#PayrollCycleId").val();
    //    var IsMonthDays=$("#IsMonthDays").val();
    //    var IsPeriodBasedDays=$("#IsPeriodBasedDays").val();
    //    var ddlPeriodBasedFromDay=$("#ddlPeriodBasedFromDay").val();
    //    var ddlPeriodBasedToDay=$("#ddlPeriodBasedToDay").val();


    //    $.ajax({
    //        url:"IsPayrollCycleExists",
    //        method:"get",
    //        data:{ddlCmpID:ddlCmpID,
    //            PayrollCycleId_Encrypted:PayrollCycleId_Encrypted,
    //            PayrollCycleId:PayrollCycleId,
    //            IsMonthDays:IsMonthDays,
    //            IsPeriodBasedDays:IsPeriodBasedDays,
    //            ddlPeriodBasedFromDay:ddlPeriodBasedFromDay,
    //            FilddlPeriodBasedToDayePath:ddlPeriodBasedToDay

    //        },
    //        success:function(response){
    //            var Message1 = response.Message;
    //            var Icon1 = response.Icon;
    //            if (response.Icon=="error") {
    //                debugger;
    //                if (Message1 != null) {
    //                    Swal.fire({
    //                        icon: Icon1,
    //                        text: Message1,
    //                        allowOutsideClick: () => {
    //                            const popup = Swal.getPopup()
    //                            popup.classList.remove('swal2-show')
    //                            setTimeout(() => {
    //                                popup.classList.add('animate__animated', 'animate__headShake')
    //                            })
    //                            setTimeout(() => {
    //                                popup.classList.remove('animate__animated', 'animate__headShake')
    //                            }, 500)
    //                            return false
    //                        }
    //                    });
    //                }
    //            }
    //            else{
    //                //End BtnSubmit
    //                $("#savePayrollCycle").submit();
    //            }
    //       }
    //    });
    //});
</script>



