@model KompassHR.Areas.Setting.Models.Setting_TimeOffice.Atten_ShiftGroups
@{
    ViewBag.Title = "Setting_TimeOffice_ShiftGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .tblAddData td:nth-child(4) {
        display: none;
    }

    .tblAddData td:nth-child(2) {
        text-align: left;
        width: auto;
    }

    .tblAddData td:nth-child(3) {
        text-align: left;
        width: auto;
    }
</style>

<script>
    $(document).ready(function ()
    {
        $(".AddOnList").click(function () {
            listOfArray = [];
            var Fid = document.getElementById('ShiftGroupBranchId').value;
            $("#Entity_Fid").val(Fid);

            $.ajax({
                url: '@Url.Action("TimeAttendance_ShiftGroup", "TimeAttendanceShiftGroup")',
                method: 'post',
                data: '{"ShiftGroupId":' + ShiftGroupId + '}',
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    $("#tableList").find('tr:not(:first)').remove();
                    var Obj = response;
                    var table = document.getElementById("tableListttt");
                    var i = 1;
                    let defaultParticipantsArray = [];
                    //$.each(Obj, function (data, value) {

                    //    if(value.ParticipantExist == 1) {
                    //        defaultParticipantsArray.push(value.Fid.toString());
                    //    }
                    //    var rowCount = table.rows.length;
                    //    var row = table.insertRow(rowCount);
                    //    var count = $('#tableListttt tr').length;
                    //    //row.insertCell(0).innerHTML = "" + i++ + "";
                    //    //row.insertCell(1).innerHTML = ' <center><input type = "checkbox" id='+value.Fid+' onclick ="getCheckedCheckboxesFor(this)" class="btnApprove" /></center>'
                    //    row.insertCell(0).innerHTML = ` <center><input type = "checkbox" ${value.ParticipantExist == 1 ?'checked':''} id='${value.Fid}' onclick ="getCheckedCheckboxesFor(this)" class="btnApprove" /></center>`
                    //    row.insertCell(1).innerHTML = "" + value.EntityName + "";
                    //    row.insertCell(2).innerHTML = "" + value.GradeName + "";
                    //    row.insertCell(3).innerHTML = "" + value.FullName + "";
                    //    row.insertCell(4).innerHTML = "" + value.DepartmentName + "";
                    //    row.insertCell(5).innerHTML = "" + value.DesignationName + "";
                    //    var Dates = convertDate(value.JoiningDate);
                    //    row.insertCell(6).innerHTML = "" + Dates + "";
                    //    row.insertCell(7).innerHTML = "" + value.LocationName + "";
                    //});

                    addDefaultSelectedToHiddenField(defaultParticipantsArray);
                }
            });
        });
    })
</script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Shift Group
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_TimeOffice_Menu", "Setting_TimeOffice_Menu", new { id = 5, ScreenId =51, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Shift Group - <Span>@ViewBag.AddUpdateTitle</Span></h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define shift group here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "Setting_TimeOffice_ShiftGroup", new { area = "Setting" })" id="SaveShiftGroup" method="post" data-parsley-validate="true">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", @required = "required" })
                                                @Html.HiddenFor(model => model.ShiftGroupId_Encrypted)
                                                @Html.HiddenFor(model => model.ShiftGroupId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ShiftGroupBranchId, new SelectList(ViewBag.Location, "Id", "Name"), "--Select--", new { name = "ShiftGroupBranchId", @class = "form-control", @id = "ddlBusinessUnit" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift Group Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftGroupFName, new { @class = "form-control", type = "text", id = "ShiftGroupFName", autocomplete = "Off", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Shift Group Short Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ShiftGroupSName, new { @class = "form-control", type = "text", id = "ShiftGroupSName", autocomplete = "Off", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                    </label>
                                    <label class="form-label col-form-label col-md-8">
                                        @Html.CheckBoxFor(model => model.IsDefault, new { id = "chkIsDefault", @class = "chkIsDefault" })
                                        &nbsp;   This Setting Is Applied By Default For Contractor Employees.
                                    </label>
                                </div>
                                <hr class="mt-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                            </label>
                                            <div class="col-md-5">
                                                <table class="table table-bordered align-middle tblAddData" id="tblShiftList" style="width: 100%;">
                                                    <thead style="text-align: center;">
                                                        <tr style="background-color: lightgray; border: 1px solid lightslategray;">
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap width-45">Select</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">Shift Name</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">Shift Type</th>
                                                            <th hidden class="text-nowrap ">Shift</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_TimeOffice_ShiftGroup", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnShiftGroupList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCompanyName").select2();
        $("#ddlBusinessUnit").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#ddlCompanyName").on("change", function () {
            $("#ddlBusinessUnit").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_TimeOffice_ShiftGroup")',
                //url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlBusinessUnit").append("<option value=''> --Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlBusinessUnit").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                }
            })
        });

        $("#ddlBusinessUnit").on("change", function () {
            debugger;
            $('#tblShiftList tr').not(function(){ return !!$(this).has('th').length; }).remove();
            // $("#ddlBusinessUnit").find("option").remove();
            var BranchId = $("#ddlBusinessUnit").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetShiftList", "Setting_TimeOffice_ShiftGroup")',
                data: { BranchId: BranchId },
                success: function (data) {
                    debugger;
                    //return false;
                    debugger;
                    if (data !=null) {
                        var i=1;
                        var table = document.getElementById("tblShiftList");


                        $.each(data, function (data1, value) {
                            debugger;
                            //var rowCount = data.length;
                            console.log(data);
                            var rowCount = table.rows.length;
                            var row = table.insertRow(rowCount);
                            var count = data.length;
                            row.insertCell(0).innerHTML = ""+'<input id="chk" type="checkbox" name="checkBoxName" class="form-check-input" Value="'+value[0].Value+'" >'+""
                            row.insertCell(1).innerHTML = "" + value[1].Value + "";
                            row.insertCell(2).innerHTML = "" + value[2].Value + "";
                            row.insertCell(3).innerHTML = "" + value[3].Value + "";
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

    });//ready funcation
</script>

<script>

    var SelectedShiftList = @Html.Raw(Json.Encode(ViewBag.SelectedShiftList));
    if(SelectedShiftList!=null || SelectedShiftList!="")
    {
        var table = document.getElementById("tblShiftList");
        $.each(SelectedShiftList, function (data1, value) {
            debugger;
            //var rowCount = data.length;
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var count = SelectedShiftList.length;
            row.insertCell(0).innerHTML = ""+'<input id="chk" type="checkbox" name="checkBoxName" class="form-check-input" Value="'+value[0].Value+'" '+value[1].Value+'>'+""
            row.insertCell(1).innerHTML = "" + value[2].Value + "";
            row.insertCell(2).innerHTML = "" + value[3].Value + "";
            row.insertCell(3).innerHTML = "" + value[4].Value + "";
        });
    }
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );
    $('#SaveShiftGroup').validate({
        rules: {
            CmpID: {
                required: true,
            },
            ShiftGroupBranchId: {
                required: true,
            },
            ShiftGroupFName: {
                required: true,
            },
            ShiftGroupSName: {
                required: true,
            },
        },
        messages: {
            CmpID: {
                required: "company name  is required"
            },
            ShiftGroupBranchId: {
                required: "Business unit is required"
            },
            ShiftGroupFName: {
                required: "Shift group name is required"
            },
            ShiftGroupSName: {
                required: "Shift group short name is required"
            },
        },
    });

    var form = $("#SaveShiftGroup");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var ShiftGroupIdEncrypted=$("#ShiftGroupId_Encrypted").val();
        var CompanyName=$("#ddlCompanyName").val();
        var BusinessUnit=$("#ddlBusinessUnit").val();
        var ShiftGroupFName = $("#ShiftGroupFName").val();
        var ShiftGroupSName = $("#ShiftGroupSName").val();


        var lstShiftGroup=[];
        $(':checkbox:checked').each(function (i) {
            debugger;
            var data1 = {};
            data1.ShiftId = $(this).val();
            var currentRow = $(this).closest("tr");
            data1.ShiftId.value = currentRow.find("td:eq(0)").html();
            data1.ShiftName = currentRow.find("td:eq(1)").html();
            data1.ShiftFlag = currentRow.find("td:eq(2)").html();
            data1.DayNight = currentRow.find("td:eq(3)").html();
            lstShiftGroup.push(data1);
        });
        debugger;
        if (lstShiftGroup == "") {
            debugger;
            Swal.fire({
                icon: "error",
                text: "Please select atleast one shift group",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }

        $.ajax({
            async: true,
            type:"POST",
            url: '@Url.Action("IsShiftGroupExists", "Setting_TimeOffice_ShiftGroup")',
            data:JSON.stringify({ShiftGroupIdEncrypted:ShiftGroupIdEncrypted,CompanyName:CompanyName,BusinessUnit:BusinessUnit,ShiftGroupFName:ShiftGroupFName,ShiftGroupSName:ShiftGroupSName, lstShiftGroup:lstShiftGroup}),
            contentType: "application/json; charset=utf-8",
            dataType:"text",
            success:function(response){
                debugger;
               var Getdata = JSON.parse(response);
               var Message1 = Getdata.Message;
               var Icon1 = Getdata.Icon;
               if (Icon1=="error") {
                    if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                    }
                }
                else{
                    $("#SaveShiftGroup").submit();
                }
            }
        });
    });
</script>