
@{
    ViewBag.Title = "PublicHoliday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>


<title>@Convert.ToString(Session["CompanyName"]) | @ViewBag.FormName</title>
<style>
    .MonthBx {
        margin: 10px 0;
        height: fit-content;
        width: 100%;
        /* border-radius: 5px; */
        text-align: center;
        box-shadow: 2px 2px 8px rgba(97, 96, 96, 0.5), inset 2px 3px 8px rgba(0, 0, 0, 0.05);
    }

        .MonthBx .MonthTitle {
            background: #D80100;
            color: #fff;
            font-size: 12px;
            border-radius: 5px 5px 0 0;
            padding: 5px 0;
            font-weight: 500;
            text-transform: uppercase;
        }

        .MonthBx .MonthCount {
            padding: 5px 0;
            border: 1px solid gray;
            font-size: 20px;
            font-weight: bolder;
        }

    .HolidayList {
        border: 2px solid green;
        font-weight: 600;
        margin: 10px 0;
        width: 100%;
    }

        .HolidayList .DateIcon i {
            font-size: 45px;
            margin: 0 10px;
            color: green;
        }

        .HolidayList .DateInfo {
            margin: 0 10px;
            text-align: center;
        }

            .HolidayList .DateInfo .Date {
                background: green;
                color: #fff;
                margin: 5px 0;
                padding: 2px;
            }

            .HolidayList .DateInfo .DateRemain {
                font-size: 12px;
                color: green;
            }

            .HolidayList .DateInfo .DateTitle {
                border-top: 1px solid;
                margin-top: 5px;
                width: 100%;
            }

        .HolidayList.Expaired {
            border: 2px solid red;
            opacity: 0.2;
        }

            .HolidayList.Expaired:hover {
                opacity: 1;
                transition: 0.5s ease;
            }

            .HolidayList.Expaired .DateIcon i {
                color: red;
            }

            .HolidayList.Expaired .DateInfo .Date {
                background: red;
                color: #fff;
            }

            .HolidayList.Expaired .DateInfo .DateRemain {
                color: red;
            }

    .Weekdates {
        margin: 8px 0;
        display: flex;
        justify-content: space-evenly;
    }

        .Weekdates .weekbox {
            text-align: center;
            border: 1px solid gray;
            width: 12.5%;
        }

            .Weekdates .weekbox .weekday {
                background: green;
                color: #fff;
                padding: 1px 3px;
            }

            .Weekdates .weekbox.PHday .weekday {
                background: red;
                color: #fff;
            }

    .DateIcon2 {
        border: 2px solid green;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1px 3px;
        width: 100%;
        text-align: center;
    }

    .HolidayList .DateInfo2 {
        margin: 0 10px;
        text-align: center;
    }

        .HolidayList .DateInfo2 .Date {
            font-size: 14px;
            font-weight: 800;
            margin: 5px 0;
            padding: 2px;
        }

        .HolidayList .DateInfo2 .DateTitle {
            border-top: 1px solid;
            margin-top: 5px;
            width: 100%;
            text-align: center;
        }

    .Weekdates {
        margin: 8px 0;
        display: flex;
        justify-content: space-evenly;
    }

        .Weekdates .weekbox {
            text-align: center;
            border: 1px solid gray;
            width: 12.5%;
        }

    .DateIcon2 .weekdate {
        background: green;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        padding: 1px 5px;
        width: fit-content;
        font-size: 18px;
    }

    .HolidayList.Expaired .DateIcon2 .weekdate {
        background: red;
    }

    .HolidayList.Expaired .DateIcon2 {
        border: 2px solid red;
        color: red;
    }

    .HolidayList.Expaired .DateInfo2 {
        color: red;
    }
</style>




<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Public Holiday  </h1>
    <!-- END page-header -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Public Holiday - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>


                <div class="panel-body" style="max-height: fit-content; background: #f5f8ff; ">
                    <div class="col-md-12">
                        <div class="row" style="justify-content:center;">
                            @foreach (var d in ViewBag.GetPublicHolidayscount)
                            {
                                <div class="col-lg-1 col-md-3 col-3">
                                    <div class="MonthBx" id="divMonthBox">
                                        <div class="MonthTitle">@d.CountMonth</div>
                                        <div class="MonthCount">@d.HolidayCount</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                @foreach (var d in ViewBag.GetPublicHolidaysList)
                                {
                                    <div class="col-xl-4 col-md-6 col-12">

                                        <div class="HolidayList" id="PHList">
                                            <div class="row justify-content-center">
                                                <div class="col-4">
                                                    <div class="DateIcon2">
                                                        <div class="weekday">@d.CDay</div>
                                                        <div class="weekdate">@d.CDate</div>
                                                        <div class="weekmonth">@d.CMonth</div>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="DateInfo2">
                                                        <div class="Date">@d.DaysRemaining</div>
                                                        <div class="DateTitle">@d.Description</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="Weekdates">
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B1dw</div>
                                                        <div class="weekdate">@d.B1Day</div>
                                                    </div>
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B2dw</div>
                                                        <div class="weekdate">@d.B2Day</div>
                                                    </div>
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B3dw</div>
                                                        <div class="weekdate">@d.B3Day</div>
                                                    </div>
                                                    <div class="weekbox PHday">
                                                        <div class="weekday">@d.B4dw</div>
                                                        <div class="weekdate">@d.B4Day</div>
                                                    </div>
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B5dw</div>
                                                        <div class="weekdate">@d.B5Day</div>
                                                    </div>
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B6dw</div>
                                                        <div class="weekdate">@d.B6Day</div>
                                                    </div>
                                                    <div class="weekbox">
                                                        <div class="weekday">@d.B7dw</div>
                                                        <div class="weekdate">@d.B7Day</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        var myArray = new Array()
        myArray = @Html.Raw(Json.Encode(ViewBag.GetPublicHolidaysList));

        for(i=0; i<myArray.length; i++)
        {
            debugger;
            var Chekdata = myArray[i][20].Value;
            let text = Chekdata;
            let result = text.includes("-");
            var Id = document.getElementById('PHList').id = 'PHList'+[i]+'';
            if(result ==true)
            {
                $("#"+Id+"").addClass("Expaired");
            }
            else
            {
                $("#"+Id+"").removeClass("Expaired");
            }
        }
        @*debugger;
        var myArray1 = new Array()
        myArray1 = @Html.Raw(Json.Encode(ViewBag.GetPublicHolidayscount));

        for(i=0; i<myArray1.length; i++)
        {
            debugger;
            var Getdata = myArray1[i][1].Value;
            var DivId = document.getElementById('divMonthBox').id = 'divMonthBox'+[i]+'';
            if(Getdata ==0)
            {
                $("#"+DivId+"").hide();
            }
            else
            {
                $("#"+DivId+"").show();
            }
        }*@
        //divMonthBox
    });
</script>
<script>


    //if ($('.HolidayList').parents('.parent1').length == 1) {
    //    $(".HolidayList").addClass("new-class");
    //}
</script>
<script>
    $('#fixed-header').DataTable({
        scrollY: 300,
        scrollX: true,
        scrollCollapse: true,
        searching: true,
        paging: true,
        fixedColumns: true,
        info: true,
        responsive: false
    });
</script>
