@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.AttenCycle

@{
    ViewBag.Title = "ESS_TimeOffice_AttendanceCycle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Attendance Cycle
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Attendance Cycle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_TimeOffice_AttendanceCycle", new { area = "ESS" })' id="SaveAttendanceCycle" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.ComapnyProfile, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", name = "CompanyId" })
                                                @Html.HiddenFor(model => model.AttendanceCycleId_Encrypted, new { id = "AttendanceCycleId_Encrypted" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Buisness Unit<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AtdLockIDBranchId, new SelectList(ViewBag.GetMasBranch, "Id", "Name"), "--Select--", new { @class = "form-select", type = "text", id = "ddlBuniessUnit", name = "BranchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">Attendance Cycle Type <span class="important">*</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AtdType, new List<SelectListItem> 
                                                {
                                                    new SelectListItem { Text = "Interval", Value = "Interval" },
                                                    new SelectListItem { Text = "Monthly", Value = "Monthly" }
                                                }, "--Select--", new { id = "ddlAtdType", @class = "form-select", autocomplete = "off", name = "AtdType" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @{
                                    var dayList = Enumerable.Range(1, 31)
                                                            .Select(d => new SelectListItem
                                                            {
                                                                Value = d.ToString(),
                                                                Text = d.ToString()
                                                            });
                                }

                                <!-- From Day and To Day -->
                                <div class="row" id="dayRangeSection">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">From Day<span class="important">*</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.FromDay, new SelectList(dayList, "Value", "Text"), "-- Select Day --", new { @class = "form-control", @id = "FromDay" })
                                                <span class="text-danger field-validation-valid" data-valmsg-for="FromDay" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">To Day<span class="important">*</span></label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ToDay, new SelectList(dayList, "Value", "Text"), "-- Select Day --", new { @class = "form-control", @id = "ToDay" })
                                                <span class="text-danger field-validation-valid" data-valmsg-for="ToDay" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $("#btnGetList").click(function () {
        debugger;
        var url = '@Url.Action("GetList", "ESS_TimeOffice_AttendanceCycle")';
        window.location.href = url;
    });


    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

    });
</script>
<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCompanyName").select2();
        $("#ddlBuniessUnit").select2();
        $("#ddlAtdType").select2();


        $("#ddlCompanyName").on("change", function () {
            $("#ddlBuniessUnit").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_TimeOffice_AttendanceCycle")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlBuniessUnit").append("<option value=''>--Select--</option>");
                        $.each(data, function (i, p) {
                            debugger;
                            $("#ddlBuniessUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })

    });

</script>
<script>
    jQuery.validator.addMethod(
       "regex",
        function(value, element, regexp) {debugger
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },"erreur expression reguliere"
     );

    $('#SaveAttendanceCycle').validate({
        rules: {
            CmpId: {
                required: true,
            },
            AtdLockIDBranchId: {
                required: true,
            },
            AtdType: {
                required: true,
            },
        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            AtdLockIDBranchId: {
                required: "Buisness Unit is required"
            },
            AtdType: {
                required: "Attendance Cycle Type is required"
            },
        }
    });

    var form = $("#SaveAttendanceCycle");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }
        var CmpId = $("#ddlCompanyName").val();
        var AtdLockIDBranchId = $("#ddlBuniessUnit").val();
        var AtdType = $("#ddlAtdType").val();
        var AttendanceCycleId_Encrypted = $("#AttendanceCycleId_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsAttendanceCycleExists", "ESS_TimeOffice_AttendanceCycle")',
            method: "get",
            data: {
                CmpId:CmpId,
                AtdLockIDBranchId: AtdLockIDBranchId,
                AtdType: AtdType,
                AttendanceCycleId_Encrypted:AttendanceCycleId_Encrypted,},
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    $("#SaveAttendanceCycle").submit();
                }
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        $('#FromDay').change(function () {
            var fromDay = parseInt($(this).val());

            if (!isNaN(fromDay)) {
                var toDay = fromDay - 1;
                // If FromDay is 1, then ToDay wraps around to 31
                if (toDay < 1) {
                    toDay = 31;
                }
                $('#ToDay').val(toDay);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        function toggleDayFields() {
            var selectedType = $('#ddlAtdType').val();

            if (selectedType === "Interval") {
                $('#dayRangeSection').show();
                $('#FromDay, #ToDay').attr('required', 'required');
            } else {
                $('#dayRangeSection').hide();
                $('#FromDay, #ToDay').removeAttr('required');
                $('#FromDay, #ToDay').val(''); // Clear values
                // Remove validation messages if any
                $('span[data-valmsg-for="FromDay"], span[data-valmsg-for="ToDay"]').text('');
            }
        }

        $('#ddlAtdType').on('change', function () {
            toggleDayFields();
        });

        toggleDayFields(); // Run on page load in case of edit
    });
</script>