@model KompassHR.Areas.ESS.Models.ESS_Leave.YearlyLeaveEncashment

@{
    ViewBag.Title = "ESS_Leave_YearlyLeaveEncashment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>

<style>
    .hidden {
        display: none;
    }
</style>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }


    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .table-scroll {
        width: 100%;
        overflow-x: auto;
    }

        .table-scroll .table-wrap {
            width: max-content;
        }

        .table-scroll th {
            background-color: rgba(233, 236, 239, 1) !important;
        }
</style>



<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Yearly Leave Encashment
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Leave_Menu", "ESS_Leave_Menu", new {id = 4, ScreenId=145, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Yearly Leave Encashment <b>@ViewBag.AddUpdateTitle</b></h4>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Yearly Leave Encashment here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">

                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Leave_YearlyLeaveEncashment", new { area = "ESS" })' id="ShowLeaveStatus" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.CompanyId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "Select", new { id = "ddlCompanyId", @class = "form-select", autocomplete = "off", name = "CompanyId" })
                                                @*@Html.HiddenFor(model => model.AssetId_Encrypted, new { id = "AssetId_Encrypted" })*@
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                            <div class="row mb-15px">
                                <label class="form-label col-form-label col-md-4">
                                    Buisness Unit
                                    <span class="important">*</span>
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetMasBranch, "Id", "Name"), "All", new { id = "ddlBranchId", @class = "form-select", autocomplete = "off", name = "BranchId" })
                                </div>
                            </div>
                        </div>*@

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Leave Group
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.LeaveGroupId, new SelectList(ViewBag.GetLeaveGroup, "Id", "Name"), "All", new { id = "ddlLeaveGroupId", @class = "form-select", autocomplete = "off", name = "LeaveGroupId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Leave
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.Leave,
                                               new List<SelectListItem>
                                               {
                                                 new SelectListItem { Text = "Select", Value = " " },
                                               new SelectListItem { Text = "Carry Forward", Value = "CarryForward" },
                                                new SelectListItem { Text = "Encashment", Value = "Encashment" },
                                   
                                                },
                                               new { id = "ddlLeave", @class = "form-select",  name = "Leave" })
                                            </div>
                                        </div>
                                    </div>


                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Leave type
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(model => model.LeaveTypeId, new SelectList(ViewBag.GetLeaveType, "Id", "Name"), "All", new { id = "ddlLeaveTypeId", @class = "form-select", autocomplete = "off", name = "LeaveTypeId" })
                                        </div>
                                    </div>
                                </div>
                             </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                       Leave Year
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.LeaveYear, new SelectList(ViewBag.GetLeaveYear, "Id", "Name"), "Select", new { id = "ddlLeaveYear", @class = "form-select", autocomplete = "off", name = "LeaveYear" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Employee Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.GetEmployeeList, "Id", "Name"), "All", new { id = "ddlEmployeeId", @class = "form-select", autocomplete = "off", name = "EmployeeId" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-20px">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button class="btn btn-primary btn-sm" type="button" id="btnShow">
                                                    Show
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            @{
                                var dt = ViewBag.DynamicTable as System.Data.DataTable;
                            }

                            @if (dt != null && dt.Rows.Count > 0)
                            {
                                <div class="table-scroll">
                                    <table class="table table-bordered align-middle">
                                        <thead>
                                            <tr class="text-center">
                                                @foreach (System.Data.DataColumn col in dt.Columns)
                                                {

                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (System.Data.DataRow row in dt.Rows)
                                                 {
                                                <tr>
                                                    @foreach (System.Data.DataColumn col in dt.Columns)
                                                    {

                                                        <td>@row[col]</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            @*else
                            {
                                <div>No Data Found</div>
                            }*@


                                @*<div class="table-scroll">
                                    <table class="table table-bordered align-middle" id="fixed-header">
                                        <thead>
                                            <tr class="text-center">
                                                <th style="display:none;"></th>
                                                <th>Employee No</th>
                                                <th>Employee Name</th>
                                                <th>Joining Date</th>
                                                <th>Company Name</th>
                                                <th>Business Unit</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                <th>Present Days</th>
                                                <th>Absent Days</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var d in ViewBag.GetLeaveEncashmentList)
            {
                                                <tr>
                                                    <td style="display:none;"></td>
                                                    <td>@d.EmployeeNo</td>
                                                    <td>@d.EmployeeName</td>
                                                    <td>@d.JoiningDate</td>
                                                    <td>@d.CompanyName</td>
                                                    <td>@d.BusinessUnit</td>
                                                    <td>@d.DepartmentName</td>
                                                    <td>@d.DesignationName</td>
                                                    <td>@d.PresentDay</td>
                                                    <td>@d.AbsentDay</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>*@


                        

                        </form>
                    </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger

        $("#ddlEmployeeId").select2({
        });
        $("#ddlCompanyId").select2({
        });
        $("#ddlLeaveGroupId").select2({
        });
        $("#ddlLeaveTypeId").select2({
        }); 
        $("#ddlLeaveYear").select2({
        });
        
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: false
                }).then(function () {
                   // window.location.reload();
                });
            }
        }

        @*$("#ddlCompanyId").on("change", function () {
            debugger
            $("#ddlBranchId").empty();
            $("#ddlAssetEmployeeId").empty();

            var CompanyId = $("#ddlCompanyId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetBusinessUnit", "ESS_Assets_AssetStatus")',
                data: { CompanyId: CompanyId },
                success: function (data) {

                    if (data && data.Branch) {
                        $("#ddlBranchId").append("<option value=''>All</option>");
                        $.each(data.Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    if (data && data.EmployeeName) {
                        $("#ddlAssetEmployeeId").append("<option value=''>All</option>");
                        $.each(data.EmployeeName, function (i, p) {
                            $("#ddlAssetEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            });
        });*@


        $("#ddlCompanyId").on("change", function ()
        {
            debugger
            $("#ddlLeaveGroupId").empty();
            $("#ddlEmployeeId").empty();
            $("#ddlLeaveYear").empty();

            var CompanyId = $("#ddlCompanyId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLeaveGroup", "ESS_Leave_YearlyLeaveEncashment")',
                data: { CompanyId: CompanyId },
                success: function (data) {

                    if (data && data.LeaveGroup) {
                        $("#ddlLeaveGroupId").append("<option value=''>All</option>");
                        $.each(data.LeaveGroup, function (i, p) {
                            $("#ddlLeaveGroupId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    if (data && data.EmployeeName) {
                        $("#ddlEmployeeId").append("<option value=''>All</option>");
                        $.each(data.EmployeeName, function (i, p) {
                            $("#ddlEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    if (data && data.LeaveYear) {
                        $("#ddlLeaveYear").append("<option value=''>Select</option>");
                        $.each(data.LeaveYear, function (i, p) {
                            $("#ddlLeaveYear").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                }
            });
        });

        $("#ddlLeave").on("change", function () {
            debugger;
            $("#ddlLeaveTypeId").find("option").remove();
            var Leave = $("#ddlLeave").val() || null;
            var LeaveGroupId=$("#ddlLeaveGroupId").val();
           // var CompanyId = $("#ddlCompanyId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetLeaveType", "ESS_Leave_YearlyLeaveEncashment")',
                data: { Leave: Leave,LeaveGroupId:LeaveGroupId},
                success: function (data) {
                    if (data && data.Leave1) {
                   // if (data != null) {
                        $("#ddlLeaveTypeId").append("<option value=''>All</option>");
                        $.each(data.Leave1, function (i, p) {
                            $("#ddlLeaveTypeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


    });
</script>

<script>

    jQuery.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },
        "erreur expression reguliere"
    );

    $('#ShowLeaveStatus').validate({
        rules: {
            CompanyId: {
                required: true,
            },
            LeaveYear:{
                required:true,
            },
            LeaveGroupId:{
                required:true,
            },
            //BranchId: {
            //    required: true,
            //},
            //FromDate: {
            //    required: true,
            //},
            //ToDate: {
            //    required: true,
            //},
        },
        messages: {
            CompanyId: {
                required: "Company name is required",
            },
            LeaveYear:{
               required:"Leave year is required",
            },
            LeaveGroupId:{
                required:"Leave Group is required",
            },
            //BranchId: {
            //    required: "Branch is required",
            //},
            //FromDate: {
            //    required: "From Date is required",
            //},
            //ToDate: {
            //    required: "To Date is required",
            //},
        },
    });

    var form = $("#ShowLeaveStatus");
    form.validate();
    $("#btnShow").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return;
        }
        var CompanyId = $("#ddlCompanyId").val();
        var EmployeeId = $("#ddlEmployeeId").val();
        var LeaveYear=$("#ddlLeaveYear").val();
        var Leave=$("#ddlLeave").val();
        var LeaveGroupId=$("#ddlLeaveGroupId").val();
        
        var baseUrl = '@Url.Action("ESS_Leave_YearlyLeaveEncashment", "ESS_Leave_YearlyLeaveEncashment")';

        var fullUrl = baseUrl + '?CompanyId=' + encodeURIComponent(CompanyId)  + '&EmployeeId=' + encodeURIComponent(EmployeeId) + '&LeaveYear=' + encodeURIComponent(LeaveYear) + '&Leave='+ encodeURIComponent(Leave) +'&LeaveGroupId='+ encodeURIComponent(LeaveGroupId);
        window.location.href = fullUrl;
    });
</script>


