<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<!-- Start panel -->
<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false" data-bs-scroll=true style="width:210px">
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1"
                style="width: 100%;">
                <span id="EmpName">@Session["WorkerFirstName"]</span>
            </h6>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                @foreach (var item in ViewBag.GetUserMenuList)
                {
                    <div class="col-md-12 d-flex justify-content-center">
                        <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" style="text-decoration:none !important;">
                            <div class="box2">
                                <div class="info">
                                    <i class="@item.Icon"></i>
                                    <h7><b>@item.ScreenDisplayMenuName</b></h7>
                                    <div class="box2Checkmark">
                                        <i class="fa-regular fa-circle-check text-green FS-12PX" id="@($"{item.ScreenSourceMenuName}_Submit")"></i>
                                        <i class="fa-regular fa-circle-xmark text-red FS-12PX" id="@($"{item.ScreenSourceMenuName}_NotSubmit")"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END panel -->
<!-- END panel -->
<script>
    $(document).ready(function () {
        var List = @Html.Raw(Json.Encode(ViewBag.GetStatusCheckList));
        debugger;
        if(List.length==0)
        {
            $("#Admin_NotSubmit").show();
            $("#Admin_Submit").hide();

            $("#Personal_NotSubmit").show();
            $("#Personal_Submit").hide();

            $("#Reporting_NotSubmit").show();
            $("#Reporting_Submit").hide();

            $("#Attendance_NotSubmit").show();
            $("#Attendance_Submit").hide();

            $("#CTC_NotSubmit").show();
            $("#CTC_Submit").hide();

            $("#ESS_NotSubmit").show();
            $("#ESS_Submit").hide();

            $("#JobDescription_NotSubmit").show();
            $("#JobDescription_Submit").hide();

            $("#Verfication_NotSubmit").show();
            $("#Verfication_Submit").hide();

            $("#VMS_NotSubmit").show();
            $("#VMS_Submit").hide();

            $("#Checklist_NotSubmit").show();
            $("#Checklist_Submit").hide();

            $("#Policy_NotSubmit").show();
            $("#Policy_Submit").hide();

            $("#Assets_NotSubmit").show();
            $("#Assets_Submit").hide();

            $("#Insurance_NotSubmit").show();
            $("#Insurance_Submit").hide();

            $("#MedicalHistory_NotSubmit").show();
            $("#MedicalHistory_Submit").hide();

            $("#Address_NotSubmit").show();
            $("#Address_Submit").hide();

            $("#Bank_NotSubmit").show();
            $("#Bank_Submit").hide();

            $("#Reference_NotSubmit").show();
            $("#Reference_Submit").hide();

            $("#Family_NotSubmit").show();
            $("#Family_Submit").hide();

            $("#Statutory_NotSubmit").show();
            $("#Statutory_Submit").hide();

            $("#PreEmployeer_NotSubmit").show();
            $("#PreEmployeer_Submit").hide();

            $("#Qualifications_NotSubmit").show();
            $("#Qualifications_Submit").hide();

            $("#Skill_NotSubmit").show();
            $("#Skill_Submit").hide();

            $("#Language_NotSubmit").show();
            $("#Language_Submit").hide();

            $("#Signature_NotSubmit").show();
            $("#Signature_Submit").hide();

            $("#Documents_NotSubmit").show();
            $("#Documents_Submit").hide();

            $("#UploadPhoto_NotSubmit").show();
            $("#UploadPhoto_Submit").hide();

            $("#Bond_NotSubmit").show();
            $("#Bond_Submit").hide();

            $("#UploadDocument_NotSubmit").show();
            $("#UploadDocument_Submit").hide();

            $("#GeneralReporting_NotSubmit").show();
            $("#GeneralReporting_Submit").hide();
        }
        else{
            var ListLength=List[0].length;
            for (var i = 0; i < ListLength; i++) {
                var SetUpValue = List[0][i].Value;
                var SetUpkey = List[0][i].Key;
                if (SetUpkey=="SetupAdmin") {
                    if (SetUpValue == true)
                    {
                        $("#Admin_Submit").show();
                        $("#Admin_NotSubmit").hide();
                    }
                    else
                    {
                        $("#Admin_NotSubmit").show();
                        $("#Admin_Submit").hide();
                    }
                }
                //if (SetUpkey=="SetupPersonal") {
                //    if (SetUpValue == true) {
                //        $("#Personal_Submit").show();
                //        $("#Personal_NotSubmit").hide();
                //    }
                //    else {
                //        $("#Personal_NotSubmit").show();
                //        $("#Personal_Submit").hide();
                //    }
                //}
                if (SetUpkey=="SetupReporting") {
                    if (SetUpValue == true) {
                        $("#Reporting_Submit").show();
                        $("#Reporting_NotSubmit").hide();
                    }
                    else {
                        $("#Reporting_NotSubmit").show();
                        $("#Reporting_Submit").hide();
                    }
                }
                //if (SetUpkey=="SetupAttendance") {
                //    if (SetUpValue == true) {
                //        $("#Attendance_Submit").show();
                //        $("#Attendance_NotSubmit").hide();
                //    }
                //    else {
                //        $("#Attendance_NotSubmit").show();
                //        $("#Attendance_Submit").hide();
                //    }
                //}

                if (SetUpkey=="SetupESS") {
                    if (SetUpValue == true) {
                        $("#ESS_Submit").show();
                        $("#ESS_NotSubmit").hide();
                    }
                    else {
                        $("#ESS_NotSubmit").show();
                        $("#ESS_Submit").hide();
                    }
                }

                if (SetUpkey=="SetupBank") {
                    if (SetUpValue == true) {
                        $("#Bank_Submit").show();
                        $("#Bank_NotSubmit").hide();
                    }
                    else {
                        $("#Bank_NotSubmit").show();
                        $("#Bank_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupStatutory") {
                    if (SetUpValue == true) {
                        $("#Statutory_Submit").show();
                        $("#Statutory_NotSubmit").hide();
                    }
                    else {
                        $("#Statutory_NotSubmit").show();
                        $("#Statutory_Submit").hide();
                    }
                }
                if (SetUpkey=="SetupFamily") {
                    if (SetUpValue == true) {
                        $("#Family_Submit").show();
                        $("#Family_NotSubmit").hide();
                    }
                    else {
                        $("#Family_NotSubmit").show();
                        $("#Family_Submit").hide();
                    }
                }

                if (SetUpkey=="SetupUploadDocument") {
                    if (SetUpValue == true) {
                        $("#UploadDocument_Submit").show();
                        $("#UploadDocument_NotSubmit").hide();
                    }
                    else {
                        $("#UploadDocument_NotSubmit").show();
                        $("#UploadDocument_Submit").hide();
                    }
                }
            }
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>