@model KompassHR.Areas.Module.Models.Module_Employee.Mas_BlockEmployee
@{
    ViewBag.Title = "Module_Employee_BlockEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Block Employee
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("BlockEmployeeList", "Module_Employee_BlockEmployee", new {id = 41, ScreenId=403, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Block Employee - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Here, you can block an employee based on their Aadhaar number.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Employee_BlockEmployee", new { area = "Module" })' id="SaveBlockEmployee" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.BlockEmployeeName, new { name = "BlockEmployeeName", @class = "form-control", id = "txtBlockEmployeeName", Type = "text", autocomplete = "Off", Maxlength = 100, oninput = "this.value = this.value.toUpperCase()" })
                                                @Html.HiddenFor(model => model.BlockEmployeeId, new { id = "txtBlockEmployeeId" })
                                                @Html.HiddenFor(model => model.BlockEmployeeId_Encrypted, new { id = "txtBlockEmployeeId_Encrypted" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Aadhar No
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(model => model.AadharNo, new { id = "txtAadhaarNo", name = "AadhaarNo", @class = "form-control", type = "text", autocomplete = "Off", Maxlength = 12, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.AadharNo, "", new { @class = "help-block", @id = "ErrorAadhaarNo", @style = "color:red" })
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnEmployeeHistory" onclick="ViewEmployeeHistory()">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                PAN No
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PanNo, new { id = "txtPanNo", name = "AadhaarNo", @class = "form-control", type = "text", autocomplete = "Off", oninput = "this.value = this.value.toUpperCase()", Maxlength = 10 })
                                                @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "help-block", @id = "ErrorPanNo", @style = "color:red" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Is Block
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.IsBlock, new List<SelectListItem>{
                                                new SelectListItem { Text = "Yes", Value = "True" },
                                                new SelectListItem { Text = "No", Value = "False" }
                                              }, new { @class = "form-select", name = "IsBlock", @id = "ddlIsBlock" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Reason
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.Reason, new { name = "Reason", @class = "form-control", id = "txtReason", Type = "text", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Blocked By

                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.BlockedBy, new { id = "txtBlockedBy", name = "BlockedBy", @class = "form-control", type = "text", autocomplete = "Off", @disabled = "disabled" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Save
                                                        </button>
                                                        <a href="@Url.Action("BlockEmployeeList", "Module_Employee_BlockEmployee", new { area = "Module" })">
                                                            <button type="button" id="btnGetList"
                                                                    class="btn btn-danger btn-sm">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<!-- #Start modal-dialog -->
<div class="modal fade" id="myEmployeeHistoryModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Employee History</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModelHistory">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scroll div1">
                                @*<div class="table-wrap">*@
                                <div class="row">
                                    <table class="table table-bordered mb-0 text-dark align-middle" id="tblEmployeeHistoryHead">
                                        <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr>
                                                <th class="text-nowrap">Action</th>
                                                <th class="text-nowrap">Company</th>
                                                <th class="text-nowrap">Business Unit</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Employee No </th>
                                                <th class="text-nowrap">Employee Card No</th>
                                                <th class="text-nowrap">Contractor </th>
                                                <th class="text-nowrap">Joining Date</th>
                                                <th class="text-nowrap">Status</th>
                                                <th class="text-nowrap">Leaving Date</th>
                                                <th class="text-nowrap">Duration</th>
                                                <th class="text-nowrap">Aadhar No</th>
                                                <th class="text-nowrap">BirthDay Date</th>
                                                <th class="text-nowrap">Gender </th>
                                                <th class="text-nowrap">Department </th>
                                                <th class="text-nowrap">Designation </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblEmployeeHistory"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnpress CloseModelHistory" id="CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true">
                    <i class="fa-solid fa-share-from-square"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var EmployeeNameBy = @Html.Raw(Json.Encode(Session["EmployeeName"]));
        $("#txtBlockedBy").val(EmployeeNameBy);
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        var AddUpdateTitle = @Html.Raw(Json.Encode(ViewBag.AddUpdateTitle));
        if (AddUpdateTitle=="Add")
        {
            $("#ddlIsBlock").val("True");
        }
    });
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


    $('#SaveBlockEmployee').validate({
        rules: {
            BlockEmployeeName: {
                required: true,
            },
            AadharNo: {
                required: true,
            },
            PanNo: {
                regex: /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/,
            },
            Reason: {
                required: true,
            },
        },
        messages: {
            BlockEmployeeName: {
                required: "Employee name is required",
            },
            AadharNo: {
                required: "Aadhar No is required",
            },
            PanNo: {
                regex: "Please enter valid PAN",
            },
            Reason: {
                regex: "Reason is required",
            },
        },
    });
    var form = $("#SaveBlockEmployee");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var AadharNo = $("#txtAadhaarNo").val();
        var IsBlock = $("#ddlIsBlock").val();
        var BlockEmployeeId_Encrypted = $("#txtBlockEmployeeId_Encrypted").val();
        if(IsBlock=="False")
        {
            if (BlockEmployeeId_Encrypted=="")
            {
                var Message="Is Block should be Yes !";
                var Icon="error";
                if (Message != null) {
                    if (Message != null) {
                        Swal.fire({
                            icon: Icon,
                            text: Message,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                    }
                }
                return false;
            }
        }
        $(".Userloaderbg").css("display","flex");
        $.ajax({
            method:"get",
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("IsBlockEmployeeExists", "Module_Employee_BlockEmployee")',
            data: { AadharNo: AadharNo, BlockEmployeeId_Encrypted: BlockEmployeeId_Encrypted},
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                $(".Userloaderbg").css("display","none");
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $(".Userloaderbg").css("display","flex");
                    $("#SaveBlockEmployee").submit();
                }
            }
        })

    });
</script>



<!-- #End modal-dialog -->
<script>
    function ViewEmployeeHistory() {
        debugger;
        var AddharNo = $("#txtAadhaarNo").val();
        if (AddharNo == "") {
            $("#ErrorAadhaarNo").html("Aadhaar no is required"); return false;
        }
        else {
            $("#ErrorAadhaarNo").html("");
        }
        var AddharCount = $("#txtAadhaarNo").val().length;
        if (AddharCount == 12)
        { $('#ErrorAadhaarNo').html(""); }
        else { $('#ErrorAadhaarNo').html("Please enter 12 digit valid aadhar no."); $("#ErrorAadhaarNo").focus(); return false; }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetEmployeeHistory", "Module_Employee_AddWorkers", new { area = "Module" })',
            data: { AddharNo: AddharNo },
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (a) {
                debugger;
                var data = JSON.parse(a);
                if (data == "") {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                }
                debugger;
                $(".Userloaderbg").css("display", "none");
                if (data && data.length > 0) {
                    $('#tblEmployeeHistoryHead').DataTable({
                        data: data,
                        destroy: true,
                        dom: '<"row"<"col-sm-4"><"col-sm-4"l><"col-sm-4"f>>' + 't' + '<"row"<"col-sm-6"i><"col-sm-6">>',
                        scrollY: 300,
                        //scrollCollapse: true,
                        paging: false,
                        scrollX: true,
                        searching: true,
                        info: true, // Enable information display
                        columns: [
                            {
                                data: null, // Data is not needed as we're creating a button
                                render: function (data, type, row) {
                                    return '<button class="btn btn-primary btn-select btn-sm" onclick="selectEmployee(\'' + row.EmployeeName + '\')">Select</button>';
                                },
                                orderable: false,  // Prevent ordering on the button column
                                searchable: false  // Prevent searching on the button column
                            },
                            { data: 'ShortName' },
                            { data: 'BranchName' },
                            { data: 'EmployeeName' },
                            { data: 'EmployeeNo' },
                            { data: 'EmployeeCardNo' },
                            { data: 'ContractorName' },
                            { data: 'JoiningDate' },
                            { data: 'Status' },
                            { data: 'LeavingDate' },
                            { data: 'Duration' },
                            { data: 'AadhaarNo' },
                            { data: 'BirthdayDate' },
                            { data: 'Gender' },
                            { data: 'DepartmentName' },
                            { data: 'DesignationName' }
                        ]
                    });

                    $('#myEmployeeHistoryModal').modal('show');
                } else {
                    $('#myEmployeeHistoryModal').modal('hide');
                }
            },
            error: function () {
                // Handle errors
            }
        });
    }


    function selectEmployee(EmployeeName) {
        $('#myEmployeeHistoryModal').modal('hide');
        $("#txtBlockEmployeeName").val(EmployeeName);

    }
    $("#txtAadhaarNo").keyup(function () {
        debugger;
        var AddharCount = this.value.length;
        if (AddharCount == 12)
        { $('#ErrorAadhaarNo').html(""); }
        else { $('#ErrorAadhaarNo').html("Please enter 12 digit valid aadhar no."); $("#ErrorAadhaarNo").focus(); return false; }


    })
</script>