@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_LeaveEncashment
@{
    ViewBag.Title = "Module_Payroll_LeaveEncashment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>



<style>
        label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

        /* Make gap exactly same as TDS Create page */
        #content.app-content {
            margin-top: 10px !important; /* Small gap like list view */
            padding-top: 0 !important;
        }


        .card-row-title {
            color: #e63c3c;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            border-bottom: #009ce7 1px solid;
        }

        .note-editable {
            border: groove;
            font-size: 16px;
        }



    
</style>

<!-- ✅ FIX APPLIED: added container mt-4 -->
<div id="content" class="app-content">

    <!-- SAME AS YOUR LIST VIEW -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">

            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Leave Encashment
            </h1>

            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu",  new {id =6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Leave Encashment - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-15px text-black">
                    <p class="pb-0">
                        Leave Encashment
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Payroll_LeaveEncashment", new { area = "Module" })' id="SavePayrollLeaveEncashmet" method="post">

                                @Html.HiddenFor(model => model.LeaveEncashmentID_Encrypted, new { id = "txtLeaveEncashmentID_Encrypted" })

                                <!-- Row 1 -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.CmpId,
                                                      new SelectList(ViewBag.CompanyName, "Id", "Name"), "Select",
                                                      new { id = "ddlCmpId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.BranchId,
                                                      new SelectList(ViewBag.BranchName, "Id", "Name"), "Select",
                                                      new { id = "ddlBranchId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Row 2 -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.EmployeeId,
                                                      new SelectList(ViewBag.EmployeeName, "Id", "Name"), "Select",
                                                      new { id = "ddlEmpId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Financial Year<span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.FinancialYear,
                                                     new SelectList(ViewBag.FinantialYear, "Id", "Name"), "Select",
                                                     new { id = "FinancialYear", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Row 3 -->
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Amount <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.Amount,
                                                      new { id = "txtAmount", name = "Amount", @class = "form-control", autocomplete = "off", style = "text-align:right;" })

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Remark
                                            </label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.Remark,
                                                      new { id = "txtRemark", @class = "form-control", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               <!-- Submit Row -->
                                <div class="row mb-15px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>

                                                        <a href="@Url.Action("GetList", "Module_Payroll_LeaveEncashment", new { area = "Module" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
        $("#ddlEmpId").select2();
        $("#FinancialYear").select2();


        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false
            }).then(() => {
                window.location.reload();
            });
        }

        var Action = "@ViewBag.AddUpdateTitle";

        if (Action == "Update") {
            var fyear = "@Model.FinancialYear";
            $("#FinancialYear").val(fyear).trigger("change");
        }

        $("#ddlCmpId").on("change", function () {

            $("#ddlBranchId").empty();
            $("#ddlEmpId").empty();

            var CmpId = $("#ddlCmpId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetBusinessUnit", "Module_Payroll_LeaveEncashment")',
                data: { CmpId: CmpId },
                success: function (data) {

                    if (data && data.Branch) {
                        $("#ddlBranchId").append("<option value=''>Select</option>");
                        $.each(data.Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    if (data && data.EmployeeName) {
                        $("#ddlEmpId").append("<option value=''>Select</option>");
                        $.each(data.EmployeeName, function (i, p) {
                            $("#ddlEmpId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            });
        });

        $("#ddlBranchId").on("change", function () {

            $("#ddlEmpId").find("option").remove();
            var BranchId = $("#ddlBranchId").val() || null;
            var CmpId = $("#ddlCmpId").val();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Module_Payroll_LeaveEncashment")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlEmpId").append("<option value=''>Select</option>");

                        $.each(data.EmployeeName, function (i, p) {
                            $("#ddlEmpId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            })
        });
    });
</script>

<script>

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SavePayrollLeaveEncashmet').validate({
        rules: {
            CmpId: {
                required: true,
            },
            BranchId: {
                required: true,
            },
            EmployeeId: {
                required: true,
            },
            Amount: {
                required: true, 
            },

            FinancialYear:{
                required: true,
            }
        },
        messages: {
            CmpId: {
                required: "Select the Company Name",
            },
            BranchId: {
                required: "Select the Branch Name",
            },
            EmployeeId: {
                required: "Select Employee Name",
            },
            Amount: { 
                required: "Enter Amount",
            },

            FinancialYear:{
                required: "Select financial Year",
  
            }
         }

    });


    var form = $("#SavePayrollLeaveEncashmet");
    form.validate();

    $("#btnSubmit").click(function () {

        form.valid();
        if (!form.valid()) return false;

        var LeaveEncashmentID_Encrypted = $("#txtLeaveEncashmentID_Encrypted").val();
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var EmployeeId = $("#ddlEmpId").val();
        var FinancialYear = $("#FinancialYear").val();


        $.ajax({
            url: '@Url.Action("IsExists", "Module_Payroll_LeaveEncashment")',
            method: "get",
            data: {
                LeaveEncashmentID_Encrypted: LeaveEncashmentID_Encrypted,
                CmpId: CmpId,
                BranchId: BranchId,
                EmployeeId:EmployeeId,
                FinancialYear:FinancialYear

            },
            success: function (response) {

                var Message1 = response.Message;
                var Icon1 = response.Icon;

                if (response.Icon == "error") {

                    if (Message1) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: false
                        }).then(() => {
                            const p = Swal.getPopup();
                            p.classList.add('animate__headShake');
                            setTimeout(() => p.classList.remove('animate__headShake'), 500);
                        });
                    }
                }
                else {
                    $("#SavePayrollLeaveEncashmet").submit();
                }
            }
        });
    });
</script>
