
@{
    ViewBag.Title = "ViewForTravelClaimRequestApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.TravelClaimApprovalList;
}

<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<style>
    @@media (max-width: 768px) {
        .app-content, .invoice {
            padding: 10px;
        }

        .breadcrumb {
            flex-wrap: wrap;
            font-size: 14px;
        }

        .invoice-company, .invoice-from, .invoice-to {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            .invoice-from address, .invoice-to address {
                word-break: break-word;
            }

        .table {
            width: 100%;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

            .table th, .table td {
                font-size: 14px;
                padding: 8px;
            }

        .float-end {
            float: none !important;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            margin-top: 10px;
        }

            .float-end .btn {
                width: 100%;
                font-size: 14px;
            }

        .fa-solid, .fa-regular, address {
            font-size: 14px;
        }

        .hidden-print {
            display: block;
        }

        @@media print {
            .hidden-print {
                display: none !important;
            }
        }
    }
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "Dashboard" })">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("ESS_ClaimReimbusement_Menu", "ESS_ClaimReimbusement_Menu", new {id = 8, ScreenId= 172, area = "ESS" })">Claim Menu</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("ESS_ClaimReimbusement_Approval", "ESS_ClaimReimbusement_Approval", new {area = "ESS" })">List</a></li>
    </ol>
    <h1 class="page-header hidden-print">Approval Request <small></small></h1>
    <div class="invoice">
        <div class="invoice-company d-flex justify-content-between align-items-center">
            <span class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-road fa-lg"></i> Travel Claim Request For
            </span>
            <input type="hidden" id="hdnEncryptedId" value="@(Item.TravelClaimId_Encrypted ?? string.Empty)" />
            <input type="hidden" id="hdnClaimId" value="@(Item.TravelClaimId ?? string.Empty)" />
            <input type="hidden" id="hdnClaimType" value="@(Item.Type ?? string.Empty)" />
            <span class="hidden-print d-flex gap-2">
                <button type="button" class="btn btn-primary" onclick="printDiv();" id="search">
                    <i class="ace-icon fa fa-print align-top bigger-125"></i> Print
                </button>
                <a href="#modal-dialogForApproval1" onclick="Approved('Approved')" class="btn btn-success" id="btnmodal-dialog">
                    <i class="fa-solid fa-check-double"></i> Approve
                </a>
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" class="btn btn-danger" id="btnmodal-dialog1">
                    Reject
                </button>
            </span>
        </div>

        
        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header" style="margin:0px;">
                        <div class="invoice-from">
                            @*<b><small class="smallFrom">From,</small></b>*@
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.employeename</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b>  &nbsp;  @Item.CompanyMobileNo <b></b><br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b> &nbsp;  <b>@Item.CompanyMailID</b>
                            </address>
                        </div>
                        <div class="invoice-to">
                            @*<b><small class="smallFrom">For,</small></b>*@
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;  <b> Travel Purpose</b> &nbsp;:&nbsp;@Item.TravelPurpose <br />
                                <i class="fa-solid fa-desktop"> </i>&nbsp; <b>Description</b> &nbsp;:&nbsp; @Item.Description <br />
                            </address>
                        </div>
                    </div>

                    <div class="invoice-content">
                        <div class="table-responsive row">
                            <div class="col-md-12">
                                <table class="table">
                                    @*<thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>*@
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@Item.employeename</td>
                                            <th><span class="text-dark">Traval Type</span><br /></th>
                                            <td>@Item.VehicleType</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Location</span><br /></th>
                                            <td>@Item.FromLocation</td>

                                            <th><span class="text-dark">To Location</span><br /></th>
                                            <td>@Item.ToLocation</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Form Date</span><br /></th>
                                            <td>@Item.FromDate</td>

                                            <th><span class="text-dark">To Date</span><br /></th>
                                            <td>@Item.ToDate</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Total KM</span><br /></th>
                                            <td>@Item.TotalKM</td>

                                            <th><span class="text-dark">Per KM Rate</span><br /></th>
                                            <td>@Item.PerKMRate</td>

                                            @*<th><span class="text-dark">Per KM Amount</span><br /></th>
                                                <td>@Item.TotalKMAmount</td>*@
                                        </tr>

                                        <tr>
                                            <th><span class="text-dark">Total Amount</span><br /></th>
                                            <td id="txtTotalAmount">  @Item.TotalAmount</td>

                                            <th><span class="text-dark">Approve Claim Amount</span><br /></th>
                                            <td>
                                                <input type="number" class="form-control" id="txtClaimApproveAmount" style="width:auto" />
                                                <span id="ErrortxtClaimApproveAmount" class="Error"></span>
                                            </td>

                                        </tr>
                                        <tr style="background-color:#eee">
                                            <th colspan="4">Uploaded Files</th>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Total KM Path</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.TotalKMPath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.TotalKMPath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>

                                            <th><span class="text-dark">Transport File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.TransportPathFile))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.TransportPathFile.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Food File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.FoodPath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.FoodPath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>

                                            <th><span class="text-dark">Hotel File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.HotelPath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.HotelPath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Conveyance File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.ConveyancePath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.ConveyancePath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>

                                            <th><span class="text-dark">Other A File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.OtherAPath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.OtherAPath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>
                                        <tr>

                                            <th><span class="text-dark">Other B File</span><br /></th>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Item.OtherBPath))
                                                {
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-download fa-xl" onclick="DownloadFile('@Item.OtherBPath.Replace("\\", "/")')"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }
        var List = @Html.Raw(Json.Encode(ViewBag.ResourceApprovalList));
        debugger;
        var Encrypted=List[1].Value;
        var id=List[0].Value;
        $("#txtResourceId_Encrypted").val(Encrypted);
        $("#txtResourceId").val(id);
    });
</script>

<script>
    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";
        //Print Page
        window.print();
        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
    //var Resource="";
    //var ResourceEncrypted="";
    //var Status="";
    function OpenModule()
    {
        debugger;
        $("#myModalFinal").modal('show');
    }

    function Approved(Approver)
    {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes,submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
               debugger;
        if(Approver=="Approved")
        {
            var ApproveAmount=Number($("#txtClaimApproveAmount").val());
            if(ApproveAmount=="")
            {
                $("#ErrortxtClaimApproveAmount").html("Please enter claim approve amount");
                return false;
            }
            else{
                $("#ErrortxtClaimApproveAmount").html("");
            }
            var TotalAmount = Number($("#txtTotalAmount").html());
            debugger
            if(TotalAmount < ApproveAmount)
            {
                $("#ErrortxtClaimApproveAmount").html("Approve amount should be less than total amount");
                return false;
            }
            else{
                $("#ErrortxtClaimApproveAmount").html("");
            }
        }

        var DocId=$("#hdnClaimId").val();
        var Encrypted=$("#hdnEncryptedId").val();
        var Origin=$("#hdnClaimType").val();

        var Status="";
        var Remark="";
        if(Approver=="Rejected")
        {
            Remark = $("#txtApproveRejectRemark").val();
            Status="Rejected";
        }
        else{
            Status="Approved";
        }
        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            url: "@Url.Action("ApproveClaimRequest", "ESS_ClaimReimbusement_Approval")",
            method:"get",
            data:{DocId:DocId,Encrypted:Encrypted,Status:Status,Remark:Remark,ApproveAmount:ApproveAmount,Origin:Origin},
            success:function(response){
                debugger;
                $(".Userloaderbg").css("display", "none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });

                            $("#myModalFinal").modal('hide');
                            $("#txtApproveRejectRemark").val("")
                            .then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("ESS_ClaimReimbusement_Approval", "ESS_ClaimReimbusement_Approval")';
                                } else if (
                                    /* Read more about handling dismissals below */
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {

                                }
                            })
                        }
                    }
                }
                else{
                    var Message1 = response.Message;
                    var Icon1 = response.Icon;
                    if (response.Icon=="success") {
                        if (Message1 != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                })
                                .then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '@Url.Action("ESS_ClaimReimbusement_Approval", "ESS_ClaimReimbusement_Approval")';
                                    } else if (
                                        /* Read more about handling dismissals below */
                                        result.dismiss === Swal.DismissReason.cancel
                                    ) {

                                    }
                                })

                                $("#myModalFinal").modal('hide');
                                $("#txtApproveRejectRemark").val("");
                            }
                        }
                    }
                }
            }
        });
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }


    //$("#CloseModel").click(function () {
    //    $("#txtApproveRejectRemark").val('');
    //})
    function DownloadFile(attachmentPath) {
        var correctedPath = attachmentPath.replace(/\//g, '\\');
        var url = '@Url.Action("DownloadAttachment", "ESS_ClaimReimbusement_ExpenseApproval")';

        $.ajax({
            url: url,
            type: 'POST',
            data: { DownloadAttachment: correctedPath },
            success: function (response) {
                debugger;
                if (response.Success) {
                    var fileName = response.FileName;
                    var fileData = atob(response.FileData);  // Decode the base64 string
                    var byteArray = new Uint8Array(fileData.length);
                    for (var i = 0; i < fileData.length; i++) {
                        byteArray[i] = fileData.charCodeAt(i);
                    }

                    var blob = new Blob([byteArray], { type: response.ContentType });
                    var downloadUrl = window.URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = downloadUrl;
                    a.download = fileName;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(downloadUrl);
                }
                else {
                    Swal.fire({
                        icon: response.Icon || 'error',
                        text: response.Message || 'An error occurred.',
                        allowOutsideClick: false
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    text: 'An unexpected error occurred.',
                    allowOutsideClick: false
                });
            }
        });
    }
</script>
