
@{
    ViewBag.Title = "Ess_Tax_DeclarationApproval_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ================== Icon Css ================== -->
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->


<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">Declaration Approval Menu</h5>
        <ol class="breadcrumb float-md-end mb-0">
            <li style="margin-right: 10px;">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/MenuImages/Home.png" class="img-fluid" style="max-width: 100%;float:right" />
                </a>
            </li>
            <li>
                <a href="@Url.Action("ESS_Tax_Menu", "ESS_Tax_Menu", new {id = 9, ScreenId=183, area = "ESS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                <p class="pb-0">
                    Approvers can approve employees tax declarations here.
                </p>
            </div>

            <div class="gradientLine-Div">
                <div class="gradientLine1"> </div>
                <div><strong>Menu</strong></div>
                <div class="gradientLine2"> </div>
            </div>

            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-body" style="max-height: fit-content; overflow: auto !important;">                                       
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                @foreach (var item in ViewBag.MenuList)
                                {
                                    <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/@item.Icon" width="50px" height="50px" />
                                            <h3>@item.ScreenDisplayMenuName</h3>
                                        </div>
                                    </a>
                                }
                            </div>

                            @*<div class="row">
                                @foreach (var item in ViewBag.MenuList)
                                {
                                    <div class="col-md-1-5 col-6 d-flex ">
                                        <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" style="text-decoration:none !important;">
                                            <div class="box">
                                                <div class="info">
                                                    <i class="@item.Icon"></i>
                                                    <h7><b>@item.ScreenDisplayMenuName</b></h7>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

</div>
