@model KompassHR.Areas.Setting.Models.Setting_TimeOffice.Atten_LogUpload
@{
    ViewBag.Title = "Setting_TimeOffice_LogUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Log Upload
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new { id = 5, ScreenId =150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">  Log Upload - From Database</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0"></p>
                </div>
                <div class="panel-body">
                    <form role="form" action='@Url.Action("SaveUpdate", "Setting_TimeOffice_LogUpload", new { area = "Setting" })' id="Save_LogSetting" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Log Setting Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select id="ddlLog_SettingId" name="Log_SettingId" class="form-select">
                                            <option value="">--Select--</option>
                                            @foreach (var item in ViewBag.Get_LogDownloadSetting)
                                            {
                                                <option value="@item.AttenLogSettingId" data-ismonthwise="@item.IsMonthWise.ToString().ToLower()">
                                                    @item.LogSettingName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row DateRow">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        From Date
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", autocomplete = "Off", name = "FromDate", Type = "date" })
                                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "help-block", id = "ErrorFromDate", @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        To Date
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", autocomplete = "Off", name = "ToDate", Type = "date" })
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "help-block", id = "ErrorToDate", @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="BtnBx">
                                    <div>
                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-inverse" data-sortable-id="index-2">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">  Log Upload - From Pendrive</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0"></p>
                </div>
                <div class="panel-body">
                    <form role="form" id="SaveLogFile" action='@Url.Action("SaveLogFile", "Setting_TimeOffice_LogUpload", new { area = "Setting" })' method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        USB Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("USBName", new SelectList(ViewBag.LogColumnSettings, "Id", "Name"), "--Select--", new { id = "ddlUSBName", @class = "form-select", autocomplete = "off", @required = "required" })
                                        <span id="ErrorUSBName" class="error-message" style="color:red"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Select Direction
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="ddlDirection" name="Direction">
                                            <option value="">--Select--</option>
                                            <option value="IN">IN</option>
                                            <option value="OUT">OUT</option>
                                            <option value="BOTH">BOTH</option>
                                        </select>
                                        <span id="ErrorDirection" class="error-message" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Upload Log File
                                    </label>
                                    <div class="col-md-8">
                                        @*<input type="file" name="LogFile" id="LogFile" accept: "log,txt,csv,json,xml,dat" class="form-control">*@
                                        <input type="file" name="LogFile" class="form-control" id="LogFile" onchange="ResetFile()" accept=".log,.txt,.csv,.json,.xml,.dat" />
                                        <span id="ErrorFile" class="error-message" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="BtnBx">
                                    <button type="button" class="btn btn-primary btn-sm" id="UploadSubmit">
                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("txtFromDate").addEventListener("blur", function () {
        debugger
        var dateValue = this.value;

        if (dateValue.includes("-")) {
            var parts = dateValue.split("-");
            dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
        }
        var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
        if (!regex.test(dateValue)) {
            $("#ErrorFromDate").html("Please enter valid date in DD-MM-YYYY format");
            this.value = "";
            this.focus();
            return;
        } else {
            $("#ErrorFromDate").html("");
        }
    });


    document.getElementById("txtToDate").addEventListener("blur", function () {
        debugger
    var dateValue = this.value;

    if (dateValue.includes("-")) {
        var parts = dateValue.split("-");
        dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
    }

    var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
    if (!regex.test(dateValue)) {
        $("#ErrorToDate").html("Please enter valid date in DD-MM-YYYY format");
        this.value = "";
        this.focus();
        return;
    } else {
        $("#ErrorToDate").html("");
    }

    });

    
</script>
<script>

    $("#Save_LogSetting").validate({
        rules: {
            Log_SettingId: { required: true },
            FromDate: { required: true },
            ToDate: { required: true },
        },
        messages: {
            Log_SettingId: { required: "Log setting name is required" },
            FromDate: { required: "From date is required" },
            ToDate: { required: "To date is required" },
        }
    });

    var form = $("#Save_LogSetting");
    form.validate();
    $("#btnSubmit").click(function () {
        if (!form.valid()) return false;
        $("#Save_LogSetting").submit();
    });

    $(document).ready(function () {
        $("#ddlLog_SettingId").select2();

        // Re-trigger From Date logic when setting changes (for isMonthWise logic)
        $('#ddlLog_SettingId').on('change', function () {
            const fromDateVal = $('#txtFromDate').val();
            if (fromDateVal) {
                $('#txtFromDate').trigger('change'); // re-evaluate ToDate logic
            }
        });

        // Validate form on submit




        // From Date logic
        $('#txtFromDate').on('change', function () {
            const selectedOption = $('#ddlLog_SettingId option:selected');
            const isMonthWise = selectedOption.data('ismonthwise') === true || selectedOption.data('ismonthwise') === 'true';

            const fromDateVal = $(this).val();
            if (!fromDateVal) {
                $('#txtToDate').val('').prop('disabled', true).removeAttr('min max');
                return;
            }

            const fromDate = new Date(fromDateVal);
            const yyyy = fromDate.getFullYear();
            const mm = String(fromDate.getMonth() + 1).padStart(2, '0');
            const dd = String(fromDate.getDate()).padStart(2, '0');
            const minToDate = `${yyyy}-${mm}-${dd}`;
            let maxToDate;

            if (isMonthWise) {
                const lastDay = new Date(yyyy, fromDate.getMonth() + 1, 0).getDate();
                maxToDate = `${yyyy}-${mm}-${String(lastDay).padStart(2, '0')}`;
            } else {
                const toDate = new Date(fromDate);
                toDate.setDate(fromDate.getDate() + 30);
                const yyyyTo = toDate.getFullYear();
                const mmTo = String(toDate.getMonth() + 1).padStart(2, '0');
                const ddTo = String(toDate.getDate()).padStart(2, '0');
                maxToDate = `${yyyyTo}-${mmTo}-${ddTo}`;
            }

            $('#txtToDate').attr('min', minToDate).attr('max', maxToDate).val(minToDate).prop('disabled', false);
            $('#ErrorToDate').text('');
        });

        // To Date logic
        $('#txtToDate').on('change', function () {
            debugger
            const selectedOption = $('#ddlLog_SettingId option:selected');
            const isMonthWise = selectedOption.data('ismonthwise') === true || selectedOption.data('ismonthwise') === 'true';

            const fromDateVal = $('#txtFromDate').val();
            const toDateVal = $(this).val();


            const fullDateRegex = /^(19|20)\d\d-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$/;

            if (!fullDateRegex.test(toDateVal)) {
                return; // stop here until valid full date
            }


            if (fromDateVal && toDateVal) {
                const fromDate = new Date(fromDateVal);
                const toDate = new Date(toDateVal);
                $('#ErrorToDate').text('');

                if (isMonthWise) {
                    const sameMonth = toDate.getMonth() === fromDate.getMonth();
                    const sameYear = toDate.getFullYear() === fromDate.getFullYear();
                    const notBefore = toDate >= fromDate;

                    if (!sameMonth || !sameYear || !notBefore) {
                        $(this).val('');
                        $('#ErrorToDate').text("To Date must be in the same month and year, and on or after From Date.");
                    }
                } else {
                    const maxDate = new Date(fromDate);
                    maxDate.setDate(fromDate.getDate() + 30);
                    if (toDate < fromDate || toDate > maxDate) {
                        $(this).val('');
                        $('#ErrorToDate').text("To Date must be within 30 days from From Date.");
                    }
                }
            }
        });

        // Optional: Prevent typing in ToDate (only pick using calendar)
        //$('#txtToDate').on('keydown paste', function (e) {
        //    e.preventDefault();
        //});
    });
</script>



@*<script>
        $(document).ready(function () {
            $("#ddlLog_SettingId").select2();
        })

        $("#Save_LogSetting").validate({
            rules: {
                Log_SettingId: {
                    required: true,
                },
                FromDate: {
                    required: true,
                },
                ToDate:{
                    required: true,
                },
            },
            messages: {
                Log_SettingId: {
                    required: "Log setting name is required",
                },
                FromDate: {
                    required: "From date is required",
                },
                ToDate: {
                    required: "To date is required",
                },
            }
        });

        var form = $("#Save_LogSetting");
        form.validate();
        $("#btnSubmit").click(function () {
            form.valid();
            if (form.valid() == false) {
                return false;
            }

            $("#Save_LogSetting").submit();
        });

    </script>

    <script>
            var isMonthWise = $('#IsMonthWise').val();

            function formatDate(date) {
                var d = new Date(date),
                    month = (d.getMonth() + 1).toString().padStart(2, '0'),
                    day = d.getDate().toString().padStart(2, '0'),
                    year = d.getFullYear();
                return `${year}-${month}-${day}`;
            }

            $('#txtFromDate').on('change', function () {
                debugger
                const selectedOption = $('#ddlLog_SettingId option:selected');
                const isMonthWise = selectedOption.data('ismonthwise') === true || selectedOption.data('ismonthwise') === 'true';
                const fromDateVal = $(this).val();
                if (!fromDateVal) {
                    $('#txtToDate').val('').prop('disabled', true).removeAttr('min max');
                    return;
                }

                const fromDate = new Date(fromDateVal);
                const yyyy = fromDate.getFullYear();
                const mm = String(fromDate.getMonth() + 1).padStart(2, '0');
                const dd = String(fromDate.getDate()).padStart(2, '0');
                const minToDate = `${yyyy}-${mm}-${dd}`;

                let maxToDate;

                if (isMonthWise) {
                    // Last day of the same month
                    const lastDay = new Date(yyyy, fromDate.getMonth() + 1, 0).getDate();
                    maxToDate = `${yyyy}-${mm}-${String(lastDay).padStart(2, '0')}`;
                } else {
                    // Allow 30 days difference
                    const toDate = new Date(fromDate);
                    toDate.setDate(fromDate.getDate() + 30);
                    const yyyyTo = toDate.getFullYear();
                    const mmTo = String(toDate.getMonth() + 1).padStart(2, '0');
                    const ddTo = String(toDate.getDate()).padStart(2, '0');
                    maxToDate = `${yyyyTo}-${mmTo}-${ddTo}`;
                }

                $('#txtToDate').attr('min', minToDate);
                $('#txtToDate').attr('max', maxToDate);
                $('#txtToDate').val(minToDate).prop('disabled', false);
                $('#ErrorToDate').text('');
            });

            $('#txtToDate').on('change', function () {
                const selectedOption = $('#ddlLog_SettingId option:selected');
                const isMonthWise = selectedOption.data('ismonthwise') === true || selectedOption.data('ismonthwise') === 'true';

                const fromDateVal = $('#txtFromDate').val();
                const toDateVal = $(this).val();

                if (fromDateVal && toDateVal) {
                    const fromDate = new Date(fromDateVal);
                    const toDate = new Date(toDateVal);
                    $('#ErrorToDate').text('');

                    if (isMonthWise) {
                        const sameMonth = toDate.getMonth() === fromDate.getMonth();
                        const sameYear = toDate.getFullYear() === fromDate.getFullYear();
                        const notBefore = toDate >= fromDate;

                        if (!sameMonth || !sameYear || !notBefore) {
                            $(this).val('');
                            $('#ErrorToDate').text("To Date must be in the same month and year, and on or after From Date.");
                        }
                    } else {
                        const maxDate = new Date(fromDate);
                        maxDate.setDate(fromDate.getDate() + 30);
                        if (toDate < fromDate || toDate > maxDate) {
                            $(this).val('');
                            $('#ErrorToDate').text("To Date must be within 30 days from From Date.");
                        }
                    }
                }
            });

            // Utility function to format dates as yyyy-MM-dd for input[type="date"]
            //function formatDate(date) {
            //    var d = new Date(date),
            //        month = '' + (d.getMonth() + 1),
            //        day = '' + d.getDate(),
            //        year = d.getFullYear();


            function formatDate(date) {
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return `${date.getFullYear()}-${month}-${day}`;
            }

    </script>*@


<script>
    $(document).ready(function () {
        var message = "@TempData["Message"]";
        var icon = "@TempData["Icon"]";

        if (message) {
            swal({
                title: message,
                icon: icon,
                button: "OK",
            });
        }
    });
</script>


<script>
$(document).ready(function () {
    $("#UploadSubmit").click(function (e) {
        e.preventDefault();
        $(".error-message").text("");
        var isValid = true;
        var usbName = $("#ddlUSBName").val();
        if (!usbName) {
            $("#ErrorUSBName").text("Please enter a USB name.");
            isValid = false;
        }

        var direction = $("#ddlDirection").val();
        if (!direction) {
            $("#ErrorDirection").text("Please enter a direction.");
            isValid = false;
        }

        var fileInput = $("#LogFile").val();
        var allowedExtensions = /(\.log|\.txt|\.csv|\.json|\.xml|\.dat)$/i;
        if (!fileInput) {
            $("#ErrorFile").text("Please upload a log file.");
            isValid = false;
        } else if (!allowedExtensions.exec(fileInput)) {
            $("#ErrorFile").text("Allowed file types: log, txt, csv, json, xml, dat.");
            isValid = false;
        }
        if (isValid) {
            $("#SaveLogFile").submit();
        }
    });
});
</script>