
@{
    ViewBag.Title = "ESS_VMS_HostWiseReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Host Wise Reports
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_VMS_Reports", "ESS_VMS_Reports",  new { id = 10,ScreenId=189, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Host Wise Reports<b></b> </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This section offers detailed reports organized by host, highlighting visitor activities associated with each individual host within the organization. 
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_VMS_HostWiseReports", "ESS_VMS_HostWiseReports", new { area = "ESS" })' id="SaveHostWiseReports" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <abel class="form-label col-form-label col-md-4">
                                                Company Name
                                            </abel>
                                            <div class="col-md-8">
                                                @Html.DropDownList("CompanyName", new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCompanyName" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("BusinessUnit", new SelectList(ViewBag.GetBusinessUnit, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BusinessUnit", id = "txtBusinessUnit" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBox("FromDate", "", new { @class = "form-control", type = "date", name = "FromDate", id = "txtFromDate" })
                                                @Html.ValidationMessage("FromDate", "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBox("ToDate", "", new { @class = "form-control", type = "date", name = "ToDate", id = "txtToDate" })
                                                @Html.ValidationMessage("ToDate", "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                                <span id="ErrortxtGetUserPolicyName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("EmployeeName", new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeName", id = "ddlEmployeeName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="panel-body" data-scrollbar="true">
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage tblAddData">
                                        <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr>
                                                <th class="text-nowrap">Company Name</th>
                                                <th class="text-nowrap">Branch Name</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Appointment Date</th>
                                                <th class="text-nowrap">Appointment Time</th>
                                                <th class="text-nowrap">Visitor Name</th>
                                                <th class="text-nowrap">Addition Person</th>
                                                <th class="text-nowrap">Department Name</th>
                                                <th class="text-nowrap">Mobile No</th>
                                                <th class="text-nowrap">Email ID</th>
                                                <th class="text-nowrap">Is Special</th>
                                                <th class="text-nowrap">Company</th>
                                                <th class="text-nowrap">Purpose</th>
                                                <th class="text-nowrap">Visitor Remark</th>
                                                <th class="text-nowrap">Meeting Location</th>
                                                <th class="text-nowrap">Conference Name</th>
                                                <th class="text-nowrap">Conference Description</th>
                                                <th class="text-nowrap">In Date Time</th>
                                                <th class="text-nowrap">Out Date Time</th>
                                                <th class="text-nowrap">Check Out</th>
                                                <th class="text-nowrap">Host Out Time</th>
                                                <th class="text-nowrap">Host Cabin</th>
                                                <th class="text-nowrap">Batch No</th>
                                                <th class="text-nowrap">Vechile No</th>
                                                <th class="text-nowrap">VIdendtity Name</th>
                                                <th class="text-nowrap">Document No</th>
                                                <th class="text-nowrap">Address</th>
                                                <th class="text-nowrap">Industry Type</th>
                                                <th class="text-nowrap">Phone No</th>
                                                <th class="text-nowrap">Temperature</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tablegetdatewaisereports">
                                            @if (ViewBag.GetHostWiseReport != null)
                                            {
                                                foreach (var d in ViewBag.GetHostWiseReport)
                                                {
                                                    <tr>
                                                        <td>@d.CompanyName</td>
                                                        <td>@d.BranchName </td>
                                                        <td>@d.EmployeeName</td>
                                                        <td>@d.AppointmentDate</td>
                                                        <td>@d.AppointmentTime</td>
                                                        <td>@d.VisitorName</td>
                                                        <td>@d.Additional</td>
                                                        <td>@d.DepartmentName</td>
                                                        <td>@d.MobileNo</td>
                                                        <td>@d.EmailID</td>
                                                        <td>@d.IsSpecial</td>
                                                        <td>@d.Company</td>
                                                        <td>@d.Purpose</td>
                                                        <td>@d.VisitorRemark</td>
                                                        <td>@d.MeetingLocation</td>
                                                        <td>@d.ConferenceName</td>
                                                        <td>@d.ConferenceDescription</td>
                                                        <td>@d.InDateTime</td>
                                                        <td>@d.GateOutTime</td>
                                                        <td>@d.CheckOutFlag</td>
                                                        <td>@d.HostOutTime</td>
                                                        <td>@d.HostCabin</td>
                                                        <td>@d.Batchno</td>
                                                        <td>@d.VechileNo</td>
                                                        <td>@d.VIdendtityName</td>
                                                        <td>@d.DocumentNo</td>
                                                        <td>@d.Address</td>
                                                        <td>@d.IndustryType</td>
                                                        <td>@d.PhoneNo</td>
                                                        <td>@d.Temperature</td>
                                                    </tr>

                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END table-responsive -->
                        </div>
                    </div>
                </div>
            </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#ddlCompanyName").select2();
        $("#txtBusinessUnit").select2();
        $("#ddlEmployeeName").select2();
        $('title').html("Host Wise Reports");
        var CheckEmptyToDate = document.getElementById('txtToDate').value;
        if (CheckEmptyToDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }
        $("#ddlCompanyName").on("change", function () {
            debugger;
            $("#txtBusinessUnit").empty();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_VMS_HostWiseReports")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#txtBusinessUnit").find("option").remove();
                        $("#txtBusinessUnit").append("<option value=''> All </option>");
                        $.each(data, function (i, p) {
                            $("#txtBusinessUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#txtBusinessUnit").on("change", function () {
            var CmpId = $("#ddlCompanyName").val();
            var UnitBranchId = $("#txtBusinessUnit").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "ESS_VMS_HostWiseReports")',
                data: { UnitBranchId: UnitBranchId, CmpId: CmpId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlEmployeeName").find("option").remove();
                        $("#ddlEmployeeName").append("<option value=''> All </option>");
                        $.each(data, function (i, p) {
                            $("#ddlEmployeeName").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            })
        });

    });//ready function

    function downloadExcelFile() {
        debugger;
        //$(".Userloaderbg").css("display", "flex");
        //var CmpId = $("#ddlCompanyName").val();
        //var BranchId = $("#txtBusinessUnit").val();
        //var EmployeeId = $("#ddlEmployeeName").val();
        //var FromDate = $("#txtFromDate").val();
        //var ToDate = $("#txtToDate").val();
        //var url = '/ESS_VMS_HostWiseReports/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) + '&CmpId=' + encodeURIComponent(CmpId) + '&ToDate=' + encodeURIComponent(ToDate) + '&EmployeeId=' + encodeURIComponent(EmployeeId);

        $(".Userloaderbg").css("display", "flex");
        var CmpId = encodeURIComponent($("#ddlCompanyName").val());
        var BranchId = encodeURIComponent($("#txtBusinessUnit").val());
        var DepartmentId = encodeURIComponent($("#ddlDepartmentName").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var ToDate = encodeURIComponent($("#txtToDate").val());
        var url = `@Url.Action("DownloadExcelFile", "ESS_VMS_HostWiseReports")?BranchId=${BranchId}&CmpId=${CmpId}&DepartmentId=${DepartmentId}&FromDate=${FromDate}&ToDate=${ToDate}`;

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function (data) {
                debugger;
                if (data.size == 0) {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                var ToformattedDate = convertDateFormat(ToDate);
                // Create a Blob from the response data
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'HostWiseReports(' + formattedDate + ' - ' + ToformattedDate + ').xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function (xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }

    $("#txtFromDate").change(function () {
        debugger;
        var StartDate = document.getElementById('txtFromDate').value;
        var EndDate = document.getElementById('txtToDate').value;
        var eDate = new Date(EndDate);
        var sDate = new Date(StartDate);
        if (StartDate != '' && EndDate != '' && sDate > eDate) {
            $("#ErrortxtFromDate").html("From date should not be less than to date.");
        }
        else {
            $("#ErrortxtToDate").html("");
            $("#ErrortxtFromDate").html("");
        }
    });

    $("#txtToDate").change(function () {
        debugger;
        var StartDate = document.getElementById('txtFromDate').value;
        var EndDate = document.getElementById('txtToDate').value;
        var eDate = new Date(EndDate);
        var sDate = new Date(StartDate);
        if (StartDate != '' && EndDate != '' && sDate > eDate) {
            $("#ErrortxtToDate").html("To date should not be greater than from date.");
        }
        else {
            $("#ErrortxtToDate").html("");
            $("#ErrortxtFromDate").html("");
        }
    });



//    //use for add regex function
//    jQuery.validator.addMethod(
//  "regex",
//        function (value, element, regexp) {
//            if (regexp.constructor != RegExp)
//                regexp = new RegExp(regexp);
//            else if (regexp.global)
//                regexp.lastIndex = 0;
//            return this.optional(element) || regexp.test(value);
//        }, "erreur expression reguliere"
//);

//    $("#SaveHostWiseReports").validate({
//        rules: {
//            FromDate: {
//                required: true,
//            },
//            ToDate: {
//                required: true,
//            },
//            CompanyName: {
//                required: true,
//            },
//            EmployeeName: {
//                required: true,
//            }
//        },
//        messages: {
//            FromDate: {
//                required: "From Date is required"
//            },
//            ToDate: {
//                required: "To Date is required"
//            },
//            CompanyName: {
//                required: "Company Name is required"
//            },
//            EmployeeName: {
//                required: "Department Name is required"
//            }
//        }
//    });


//    var form = $("#SaveHostWiseReports");
//    form.validate();
    //$("#btnload").click(function () {
    //    debugger;
    //    form.valid();
    //    if (form.valid() == false) {
    //        $("#txtFromDate").removeClass("error");
    //        $("#txtToDate").removeClass("error");
    //        return false;
    //    }
    //    var Fromdate = $("#txtFromDate").val();
    //    var Todate = $("#txtToDate").val();
    //    var CompanyName = $("#dllCompanyName").val();
    //    var BusinessUnit = $("#txtBusinessUnit").val();
    //    var EmployeeName = $("#ddlEmployeeName").val();
    //    $.ajax({
    //        type: 'GET',
    //        dataType: 'JSON',
    //        contentType: "application/json; charset=utf-8",
    //        url: 'GetVisitorHostWiseReports',
    //        data: { Fromdate: Fromdate, Todate: Todate, CompanyName: CompanyName, BusinessUnit: BusinessUnit,  EmployeeName: EmployeeName },
    //        success: function (getDateWiseReports) {
    //            debugger;
    //            console.log(getDateWiseReports);
    //            debugger;
    //            $('#tablegetdatewaisereports tr').not(function () { return !!$(this).has('th').length; }).remove();
    //            for (var i = 0; i < getDateWiseReports.length; i++) {
    //                var table = document.getElementById("tablegetdatewaisereports");
    //                var rowcount = table.rows.length;
    //                var row = table.insertRow(rowcount);
    //                row.insertCell(0).innerHTML = "" + getDateWiseReports[i][5].Value + "";//doc
    //                row.insertCell(1).innerHTML = "" + getDateWiseReports[i][2].Value + "";//Company Name
    //                row.insertCell(2).innerHTML = "" + getDateWiseReports[i][3].Value + "";//Branch  Name
    //                row.insertCell(3).innerHTML = "" + getDateWiseReports[i][4].Value + "";//Employee Name
    //                row.insertCell(4).innerHTML = "" + getDateWiseReports[i][6].Value + "";//Appointment Date
    //                row.insertCell(5).innerHTML = "" + getDateWiseReports[i][7].Value + "";//Appointment Time
    //                row.insertCell(6).innerHTML = "" + getDateWiseReports[i][8].Value + "";//Visitor Name
    //                row.insertCell(7).innerHTML = "" + getDateWiseReports[i][9].Value + "";//Addition Person
    //                row.insertCell(8).innerHTML = "" + getDateWiseReports[i][10].Value + "";//Designation Name
    //                row.insertCell(9).innerHTML = "" + getDateWiseReports[i][25].Value + "";//Department Name
    //                row.insertCell(10).innerHTML = "" + getDateWiseReports[i][28].Value + "";//Mobile No
    //                row.insertCell(11).innerHTML = "" + getDateWiseReports[i][12].Value + "";//Email ID
    //                row.insertCell(12).innerHTML = "" + getDateWiseReports[i][14].Value + "";//IsSpecial
    //                row.insertCell(13).innerHTML = "" + getDateWiseReports[i][13].Value + "";//Company
    //                row.insertCell(14).innerHTML = "" + getDateWiseReports[i][15].Value + "";//Purpose
    //                row.insertCell(15).innerHTML = "" + getDateWiseReports[i][16].Value + "";//Visitor Remark
    //                row.insertCell(16).innerHTML = "" + getDateWiseReports[i][18].Value + "";//Meeting Location
    //                row.insertCell(17).innerHTML = "" + getDateWiseReports[i][19].Value + "";//Conference Name
    //                row.insertCell(18).innerHTML = "" + getDateWiseReports[i][20].Value + "";//Conference Description
    //                row.insertCell(19).innerHTML = "" + getDateWiseReports[i][21].Value + "";//In Date Time
    //                row.insertCell(20).innerHTML = "" + getDateWiseReports[i][22].Value + "";//Out Date Time
    //                row.insertCell(21).innerHTML = "" + getDateWiseReports[i][23].Value + "";//Check Out
    //                row.insertCell(22).innerHTML = "" + convertDate(getDateWiseReports[i][24].Value) + "";//Host Out Time
    //                row.insertCell(23).innerHTML = "" + getDateWiseReports[i][26].Value + "";//Host Cabin
    //                if (getDateWiseReports[i][30].Value == null) {
    //                    row.insertCell(24).innerHTML = "";
    //                }
    //                else {
    //                    row.insertCell(24).innerHTML = "" + getDateWiseReports[i][30].Value + "";//Batch No
    //                }
    //                row.insertCell(25).innerHTML = "" + getDateWiseReports[i][31].Value + "";//Vechile No
    //                row.insertCell(26).innerHTML = "" + getDateWiseReports[i][32].Value + "";//dendtity Name
    //                row.insertCell(27).innerHTML = "" + getDateWiseReports[i][33].Value + "";//Document No
    //                row.insertCell(28).innerHTML = "" + getDateWiseReports[i][34].Value + "";//Address
    //                if (getDateWiseReports[i][35].Value == null) {
    //                    row.insertCell(29).innerHTML = "";
    //                }
    //                else {
    //                    row.insertCell(29).innerHTML = "" + getDateWiseReports[i][35].Value + "";//Industry Type
    //                }
    //                if (getDateWiseReports[i][36].Value == null) {
    //                    row.insertCell(30).innerHTML = "";
    //                }
    //                else {
    //                    row.insertCell(30).innerHTML = "" + getDateWiseReports[i][36].Value + "";//Phone No
    //                }
    //                if (getDateWiseReports[i][37].Value == null) {
    //                    row.insertCell(31).innerHTML = "";
    //                }
    //                else {
    //                    row.insertCell(31).innerHTML = "" + getDateWiseReports[i][37].Value + "";//Temperature
    //                }

    //            }

    //        }
    //    });
    //});


</script>

