
@{
    ViewBag.Title = "ESS_Recruitment_CandidateSelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Candidate Selection 
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Candidate Selection - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        
                          
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        
                        
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="/ESS/ESS_Recruitment_CandidateData/ESS_Recruitment_CandidateData">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                        </div>

                        <!-- BEGIN table-responsive -->
                        <div class="table-scroll div1">
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage2" id="data-table-combine"
                                       style="width: 100%;">
                                    <thead>
                                        <tr class="trheading">
                                            <th class="fixed-side">Action</th>
                                            <th class="text-nowrap text-center">Department Name </th>
                                            <th class="text-nowrap text-center">Designation Name</th>
                                            <th class="text-nowrap text-center">Grade Name</th>
                                            <th class="text-nowrap text-center">Total Position</th>
                                            <th class="text-nowrap text-center">Position Type</th>
                                            <th class="text-nowrap text-center">Closing Date</th>
                                            <th class="text-nowrap text-center">Work Type </th>
                                            <th class="text-nowrap text-center">Priority </th>
                                            <th class="text-nowrap text-center">Min. Experience </th>
                                            <th class="text-nowrap text-center">Max. Experience  </th>
                                            <th class="text-nowrap text-center">Technical Skills</th>
                                            <th class="text-nowrap text-center">Qualification </th>
                                            <th class="text-nowrap text-center">Position Budgeted</th>
                                            <th class="text-nowrap text-center">Currency </th>
                                            <th class="text-nowrap text-center">Min. Budget</th>
                                            <th class="text-nowrap text-center">Max. Budget</th>
                                            <th class="text-nowrap text-center">Min. Age </th>
                                            <th class="text-nowrap text-center">Max. Age</th>
                                            <th class="text-nowrap text-center">Language </th>
                                            <th class="text-nowrap text-center">Marital Status</th>
                                            <th class="text-nowrap text-center">Gender</th>
                                            <th class="text-nowrap text-center">Shift Timing </th>
                                            <th class="text-nowrap text-center">Compentencies</th>
                                            <th class="text-nowrap text-center">Attach</th>
                                        </tr>
                                    </thead>
                                    @*<tbody>
                                        @foreach (var d in ViewBag.CandidateData)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <button type="button" id="btnUpdate" onclick="UpdateFuncation('@d.ResumeId_Encrypted')"
                                                            class="btn btn-success btnpress ListBtn">
                                                        <i class="fa-solid fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="btnDelete" onclick="DeleteFunction('@d.ResumeId_Encrypted')"
                                                            class="btn btn-danger ListBtn btnpress">
                                                        <i class="fa-solid fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                                <td class="text-nowrap">@d.CandidateName</td>
                                                <td class="text-nowrap">@d.MobileNo</td>
                                                <td class="text-nowrap">@d.DOB</td>
                                                <td class="text-nowrap">@d.EmailId</td>
                                                <td class="text-nowrap">@d.Gender</td>
                                                <td class="text-nowrap">@d.MaritalStatus</td>
                                                <td class="text-nowrap">@d.HighestQualification</td>
                                                <td class="text-nowrap">@d.LastCompanyName</td>
                                                <td class="text-nowrap">@d.TotalExperience</td>
                                                <td class="text-nowrap">@d.CTC</td>
                                                <td class="text-nowrap">@d.ResumeCategory</td>
                                                <td class="text-nowrap">@d.LastDesignation</td>
                                                <td class="text-nowrap">@d.SutableForDesignation</td>
                                                <td class="text-nowrap">@d.Skill</td>
                                                <td class="text-nowrap">@d.ResumeStatus</td>
                                                <td class="text-center">
                                                    <span>
                                                        <a type="button" class="btn btn-success ListBtn btnpress" href="~/ESS/ESS_Recruitment_CandidateData/DownloadFile?ResumePath=@d.ResumePath" download>
                                                            <i class="fa-solid fa-download"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>