@model KompassHR.Areas.Setting.Models.Setting_PolicyAndLibrary.Mas_CompanyDocumentLibrary
@{
    ViewBag.Title = "Setting_PolicyAndLibrary_CompanyDocument";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    #txtURL-error, #fileUploadFile-error, label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .lbltext {
        text-align: left;
        height: 25px;
        color: green;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>



<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Document Library
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_PolicyAndLibrary_Menu", "Setting_PolicyAndLibrary_Menu", new { id = 17, ScreenId = 13, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Document Library - @ViewBag.AddUpdateTitle</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define document & library here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/Setting/Setting_PolicyAndLibrary_CompanyDocument/SaveUpdate" id="FormCompanyDocument" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.Mas_CompanyDocumentList, "CompanyId", "CompanyName"), "--Select--", new { id = "ddlCompanyName", name = "CmpID", @class = "form-select", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.CompanyDocumentLibraryId_Encrypted, new { @id = "CompanyDocumentLiabraryId_Encrypted" })
                                                @Html.HiddenFor(model => model.CompanyDocumentLibraryId, new { @id = "CompanyDocumentLibraryId" })
                                                @Html.ValidationMessageFor(model => model.CmpID, null, new { @class = "help-block", @id = "ErrorCmpID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px align-items-center">
                                    <label class="form-label col-form-label col-md-2">
                                        Document Category
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.CompanyDocumentLibraryCategoryId, new SelectList(ViewBag.masCompanyDocumentCategoryList, "CompanyDocumentCategoryId", "DocumentCategoryName"), "--Select--", new { id = "ddlDocumentLiabraryCategory", name = "CompanyDocumentLibraryCategoryId", @class = "form-select", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.CompanyDocumentLibraryCategoryId, null, new { @class = "help-block", @id = "ErrorCompanyDocumentLibraryCategoryId", @style = "color:red" })
                                    </div>
                                    <div class="col-md-2 mt-10px" style="display:none">
                                        <input class="form-check-input form-check-label form-check-inline"
                                               type="checkbox" />
                                        <label class="form-check-label form-label">
                                            All
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Description
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", type = "text", name = "Description", id = "txtDescription", autocomplete = "Off" })
                                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-block", @id = "ErrorDescription", @style = "color:red" })
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                File Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">

                                                @Html.DropDownListFor(model => model.FileType, new List<SelectListItem> {
                                                    new SelectListItem { Text = "URL", Value = "URL"},
                                                    new SelectListItem { Text = "Upload File", Value = "UploadFile"},
                                                }, "--Select--", new { id = "ddlFileType", @class = "form-select", autocomplete = "off", name = "Gender" })
                                                @*@Html.TextBoxFor(model => model.URL, new { @class = "form-control", type = "text", name = "URL", id = "txtURL", autocomplete = "Off" })*@
                                                @Html.ValidationMessageFor(model => model.FileType, null, new { @class = "help-block", @id = "ErrorFileType", @style = "color:red" })
                                            </div>
                                            <div class="col-md-2 mt-10px" style="display:none">
                                                <input class="form-check-input form-check-label form-check-inline"
                                                       type="checkbox" />
                                                <label class="form-check-label form-label">
                                                    All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="divURL">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                URL
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocumentPath, new { @class = "form-control", name = "URL", type = "text", id = "txtURL", autocomplete = "Off" })
                                                <span id="txtURL-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row mb-15px" id="divUploadFile">
                                    <label class="form-label col-form-label col-md-2">
                                        Upload File

                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" onchange="ResetFile()" name="FilePath" id="fileUploadFile" />
                                        @Html.ValidationMessageFor(model => model.DocumentPath, null, new { @class = "help-block", @id = "ErrorDocumentPath", @style = "color:red" })
                                        <label class="form-label col-form-label col-md-8" id="fileUploadFile-lbltext">@TempData["FileName"]</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="/Setting/Setting_PolicyAndLibrary_CompanyDocument/GetList">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnCompanyDocument">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divURL").hide();
        $("#divUploadFile").hide();
        $("#ddlCompanyName").select2();
        $("#ddlDocumentLiabraryCategory").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#formReset").click(function () {
            $("#CompanyDocument")[0].reset();
        })
        var FileType = @Html.Raw(Json.Encode(TempData["FileType"]));
        if(FileType!=null)
        {
            if(FileType=="URL")
            {
                $("#divURL").show();
            }
            else{
                $("#divUploadFile").show();
            }
        }



    });//Ready Funcation
</script>



<script>

    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    // Use for Add validation in form
    $("#FormCompanyDocument").validate({
        rules: {
            //CmpID: {
            //    required: true,
            //},
            //CompanyDocumentLibraryCategoryId:{
            //    required: true
            //},
            //Description:{
            //    required: true,
            //    regex:/^[a-zA-Z0-9\s,\.\,\/\,(/) ]+$/
            //},
        },
        messages: {
            //CmpID: {
            //    required: "Comapny name is required"
            //},
            //CompanyDocumentLibraryCategoryId:{
            //    required:"Document category name is required",
            //},
            //Description:{
            //    required: "Description is required",
            //    regex:"Please enter only alphabet"
            //},
        }
    });


    var form = $("#FormCompanyDocument");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        if(form.valid()==false)
        {
            return false;
        }
        var Companyname = $("#ddlCompanyname").val();
        if(Companyname!="")
        {
            $('#ErrorCmpID').html("");
        }
        else{
            $('#ErrorCmpID').html("Company name is required"); $("#ddlCompanyname").focus();  return false;
        }
        var DocumentLiabraryCategory = $("#ddlDocumentLiabraryCategory").val();
        if(DocumentLiabraryCategory!="")
        {
            $('#ErrorCompanyDocumentLibraryCategoryId').html("");
        }
        else{
            $('#ErrorCompanyDocumentLibraryCategoryId').html("Document category is required"); $("#ddlDocumentLiabraryCategory").focus();  return false;
        }
        var Description = $("#txtDescription").val();
        if(Description!="")
        {
            $('#ErrorDescription').html("");
        }
        else{
            $('#ErrorDescription').html("Description is required"); $("#txtDescription").focus();  return false;
        }
        var FileType = $("#ddlFileType").val();
        if(FileType!="")
        {
            $('#ErrorFileType').html("");
        }
        else{
            $('#ErrorFileType').html("File type is required"); $("#ddlFileType").focus();  return false;
        }
        debugger;


        var DocumentFile=$("#fileUploadFile").val();
        var URL=$("#txtURL").val();
        if(FileType=="URL")
        {
            if(URL!="")
            {
                $('#ErrorURL').html("");
            }
            else{
                $('#ErrorURL').html("URL is required"); $("#txtURL").focus();  return false;
            }
        }
        else{
            if(DocumentFile!="")
            {
                $('#ErrorDocumentPath').html("");
            }
            else{
                $('#ErrorDocumentPath').html("File is required"); $("#fileUploadFile").focus();  return false;
            }
        }

        var CompanyName=$("#ddlCompanyName").val();
        debugger;
        var DocumentLiabraryCategory=$("#ddlDocumentLiabraryCategory").val();
        var CompanyDocumentLiabraryId_Encrypted=$("#CompanyDocumentLiabraryId_Encrypted").val();
        var Description=$("#txtDescription").val();
        var URL =$("txtURL").val();
        $.ajax({
            url:"IsCompanyDocumentExists",
            method:"get",
            data:{CompanyName:CompanyName, DocumentLiabraryCategory:DocumentLiabraryCategory,CompanyDocumentLiabraryId_Encrypted:CompanyDocumentLiabraryId_Encrypted,
                Description:Description, URL:URL },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#FormCompanyDocument").submit();
                }
            }
        });

    });

    $("#ddlFileType").change(function(){
        var Filetype=  $("#ddlFileType").val();
        if(Filetype=="UploadFile")
        {
            $("#divURL").hide();
            $("#divUploadFile").show();
        }
        else{
            $("#divURL").show();
            $("#divUploadFile").hide();
        }

    })


    function ResetFile()
    {
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf','application/docx','application/doc','application/vnd.ms-excel'];
        let type = document.getElementById('fileupload').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }else{
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf/docx/doc",
            })
            document.getElementById("fileUploadFile").value = null;
        }

        $("#lblFileName").text('');
    }

</script>
