@model KompassHR.Areas.ESS.Models.ESS_ManpowerAllocation.Manpower_ContractorWiseRate

@{
    ViewBag.Title = "ESS_ContractorWiseRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: black !important;
    }


    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: black !important;
    }


    .select2-container--default .select2-results__option {
        color: black !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Contractor Wise Rate
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_ManpowerAllocation_Menu", "ESS_ManpowerAllocation_Menu",  new {id =35, ScreenId=278, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Contractor Wise Rate- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Contractor Wise Rate
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_ContractorWiseRate", "ESS_ContractorWiseRate", new { area = "ESS" })' id="SaveContractorWiseRate" method="post" enctype="multipart/form-data">
                                @Html.HiddenFor(model => model.ContractorWiseRateMasterId_Encrypted, new { id = "ContractorWiseRateMasterId_Encrypted" })
                                @Html.HiddenFor(model => model.ContractorWiseRateMasterId, new { id = "ContractorWiseRateMasterId" })


                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "-- Select --", new { @class = "form-select", type = "text", name = "CmpId", id = "ddlCmpId", onchange = "OnCompanyChange()" })
                                                <span id="ErrorddlCmpId" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Buisness Unit
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BUName, "Id", "Name"), "-- Select --", new { @class = "form-select", type = "text", name = "CmpId", id = "ddlBranchId", onchange = "OnBUChange()" })
                                                <span id="ErrorddlBranchId" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Month/Year <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromMonth, new { @class = "form-control", name = "FromMonth", type = "month", id = "txtFromMonth" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Month/Year <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToMonth, new { @class = "form-control", name = "ToMonth", type = "month", id = "txtToMonth" })
                                                <span id="monthError" style="color:red; display:none;">To Month must be greter From Month.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Contractor
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ContractorId, new SelectList(ViewBag.ContractorName, "Id", "Name"), "-- Select --", new { @class = "form-select", type = "text", name = "ContractorId", id = "ddlContractorId" })
                                                <span id="ErrorddlContractorId" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <div class="col-md-2">
                                                <button type="button" id="btnshow" onclick="GetHeadCount('Normal')" class="btn btn-primary btn-sm">Show</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Import File
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="file" name="AttachFile" class="form-control" id="txtAttachFile" />
                                                <span id="ErrorFile" class="error" style="color:red;"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-sm btn-danger" id="btnfileupload">Import</button> &nbsp; &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-15px">
                                            <div class="col-md-8">
                                                <button type="button" class="btn btn-sm btn-primary" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                    <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-scroll div1">
                                            <div class="table-wrap" style="max-height:350px; overflow-y:auto;">
                                                <table class="table table-bordered align-middle TablePage2" id="tblApproval" style="width: 100%;">
                                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                        <tr class="trheading">
                                                            <th>Designation</th>
                                                            <th style="text-align:center">Per Day Rate</th>
                                                            <th style="text-align:center">Canteen Rate</th>
                                                            <th style="text-align:center">Attendance Bonus Rate</th>
                                                            <th style="text-align:center">Transport Allowance Rate</th>
                                                            <th style="text-align:center">Other1</th>
                                                            <th style="text-align:center">Other2</th>
                                                            <th hidden>DesignationId</th>
                                                            <th hidden>ContractorWiseRateDetailsId</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblHC_MDMapping">
                                                        @if (ViewBag.GetDesignationList != null)
                                                        {
                                                            foreach (var item in ViewBag.GetDesignationList)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:left;width:200px">@item.DesignationName</td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="PerDayRate[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.PerDayRate" />
                                                                    </td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="CanteenRate[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.CanteenRate" />
                                                                    </td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="AttendanceBonusRate[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.AttendanceBonusRate" />
                                                                    </td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="TransportAllowanceRate[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.TransportAllowanceRate" />
                                                                    </td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="Other1[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.Other1" />
                                                                    </td>
                                                                    <td style="text-align:right;width:50px">
                                                                        <input type="number" name="Other2[@($"{item.DesignationName}")]"
                                                                               class="form-control" min="0" step="1" style="height:26px;text-align:right" value="@item.Other2" />
                                                                    </td>
                                                                    <td style="display:none">
                                                                        <input type="hidden" value="@item.DesignationId" class="DesignationId" />
                                                                    </td>
                                                                    <td style="display:none">
                                                                        <input type="hidden" value="@item.ContractorWiseRateDetailsId" class="ContractorWiseRateDetailsId" />
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Service Charges
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ServiceCharges,
                                                    new SelectList(new List<SelectListItem>
                                                    {
                                                        new SelectListItem { Value = "", Text = "--Select--", Selected = true },
                                                        new SelectListItem { Value = "Percentage", Text = "Percentage" },
                                                        new SelectListItem { Value = "Fixed", Text = "Fixed" },
                                                        new SelectListItem { Value = "Perday", Text = "Perday" }
                                                    }, "Value", "Text"),
                                                    new { id = "txtServiceCharges", name = "ServiceCharges", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Rate Section -->
                                    <div class="col-md-6 mb-2" id="rateSection" style="display:none;">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4" id="lblServiceCharges"> Amount
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Rate, new { @class = "form-control", id = "txtRate", type = "text", name = "Rate" })
                                                <span id="ErrorRate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2" id="PercentageSection" style="display:none;">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4" id="lblServiceCharges">Percentage (%)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control", id = "txtPercentage", type = "text", name = "Percentage", step = "1", maxlength = "3" })
                                                <span id="ErrorPercentage" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Supervisor Charges
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SupervisorCharges, new { @class = "form-control", id = "ddlSupervisorCharges", type = "text", name = "ServiceCharges" })
                                                <span id="ErrorFromMonth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <!-- Gross & OT Section -->
                                        <div class="col-md-6 mb-2" id="grossOTSection" style="display:none;">
                                            <div class="row mb-12px">
                                                <div class="col-md-3">
                                                    <label class="form-label col-form-label col-md-8">Gross</label>
                                                    <label class="form-label col-form-label col-md-2">
                                                        @Html.CheckBoxFor(model => model.IsGross, new { id = "chkIsGross", @class = "chkIsGross" })
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="form-label col-form-label col-md-5">OT</label>
                                                    <label class="form-label col-form-label col-md-5">
                                                        @Html.CheckBoxFor(model => model.IsOT, new { id = "chkIsOT", @class = "chkIsOT" })
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_ContractorWiseRate", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
        $("#ddlContractorId").select2();

        // Get current date and set default values
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // getMonth() returns 0-11

        // Format as YYYY-MM (HTML5 month input format)
        var defaultMonthYear = yyyy + '-' + mm;

        // Set default values if empty
        if (!$('#txtFromMonth').val()) {
            $('#txtFromMonth').val(defaultMonthYear);
        }
        if (!$('#txtToMonth').val()) {
            $('#txtToMonth').val(defaultMonthYear);
        }

        // Add date validation
        $('#txtFromMonth, #txtToMonth').change(function() {
            validateMonthRange();
        });

        function validateMonthRange() {
            const fromVal = $('#txtFromMonth').val();
            const toVal = $('#txtToMonth').val();

            if (fromVal && toVal) {
                if (toVal < fromVal) {
                    $('#monthError').show();
                } else {
                    $('#monthError').hide();
                }
            }
        }
        var addUpdateTitle = '@ViewBag.AddUpdateTitle';
        if (addUpdateTitle === "Update") {
            var ServiceCharges=$("#txtServiceCharges").val();
            if (ServiceCharges === "Fixed" || ServiceCharges === "Perday") {
                $("#rateSection").show();
              //  $("#lblServiceCharges").text("Amount");
                $("#grossOTSection").hide();
                $("#PercentageSection").hide();
            }
            else if (ServiceCharges === "Percentage") {
                $("#rateSection").hide();
                $("#PercentageSection").show();
             //   $("#lblServiceCharges").text("Percentage");
                $("#grossOTSection").show();
            }
            else {
                // Default reset
                $("#rateSection").hide();
                $("#grossOTSection").hide();
                $("#PercentageSection").hide();
            }
        }

        var FromMonth = @Html.Raw(Json.Encode(TempData["FromMonth"]));
        $("#txtFromMonth").val(FromMonth);
        var ToMonth = @Html.Raw(Json.Encode(TempData["ToMonth"]));
        $("#txtToMonth").val(ToMonth);

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#formReset").click(function () {
            $("#SaveContractorWiseRate")[0].reset();
        });


        $("#txtServiceCharges").change(function () {
            var selected = $(this).val();

            if (selected === "Fixed" || selected === "Perday") {
                $("#rateSection").show();
             //   $("#lblServiceCharges").text("Amount");
                $("#PercentageSection").hide();

                $("#grossOTSection").hide();
            }
            else if (selected === "Percentage") {
                $("#rateSection").hide();
             //   $("#lblServiceCharges").text("Percentage");
                $("#grossOTSection").show();
                $("#PercentageSection").show();
            }
            else {
                // Default reset
                $("#rateSection").hide();
                $("#grossOTSection").hide();
                $("#PercentageSection").hide();
            }
        });
    });
</script>

<script>
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveContractorWiseRate').validate({
        rules: {
            CmpId: {
                required: true,
            },
            ContractorId:{
                required: true,
            },
            BranchId: {
                required: true,
            },
            ServiceCharges: {
                required: true,
            },
            SupervisorCharges: {
                required: true,
            },
            FromMonth: {
                required: true,
            },
            ToMonth: {
                required: true,
            },
        },
        messages: {
            CmpId: {
                required: "Company Name is required",

            },
            ContractorId:{
                required: "Contractor  is required",
            },
            BranchId: {
                required: "Business Unit name is required",
            },
            ServiceCharges: {
                required: "Service Charges is required",
            },
            SupervisorCharges: {
                required: "Supervisor Charges is required",
            },
            FromMonth: {
                required: "From Month is required",
            },
            ToMonth: {
                required: "To Month is required",
            },
        },
    });

    var form = $("#SaveContractorWiseRate");
    form.validate();

    function GetHeadCount(Process) {
        debugger;
        if(Process=="Excel")
        {
            var fileInput = document.getElementById('AttachFile');
            var files = fileInput.files;

            // Check if a file is selected
            if (files.length > 0) {
                var fileName = files[0].name;
                $("#validationMessage_").html("");
            } else {
                $("#validationMessage_").html("Choose a file");
                return false;
            }
        }
        else{
            var CmpId = $("#ddlCmpId").val();
            var BranchId = $("#ddlBranchId").val();
            var ContractorId = $("#ddlContractorId").val();

            var isValid = true;

            if (CmpId === "" || CmpId === "0") {
                $("#ErrorddlCmpId").text("Company is required");
                isValid = false;
            } else {
                $("#ErrorddlCmpId").text("");
            }

            if (BranchId === "" || BranchId === "0") {
                $("#ErrorddlBranchId").text("Business Unit is required");
                isValid = false;
            } else {
                $("#ErrorddlBranchId").text("");
            }

            if (ContractorId === "" || ContractorId === "0") {
                $("#ErrorddlContractorId").text("Contractor is required");
                isValid = false;
            } else {
                $("#ErrorddlContractorId").text("");
            }

            if (!isValid) {
                return false;
            }

            $(".Userloaderbg").css("display", "flex");
        }

        $('#tblHC_MDMapping tr').not(function(){ return !!$(this).has('th').length; }).remove();
        $(".Userloaderbg").css("display", "flex");
        $("#SaveContractorWiseRate").submit();
    }
    $("#btnSubmit").click(function () {
        debugger;

        var rowCount = $('#tblHC_MDMapping tr').length;
        if (rowCount === 1) {
            Swal.fire({
                icon: 'warning',
                text: 'Please add at least one Designation to the list!',
                allowOutsideClick: false
            });
            return false;
        }

        form.valid();
        if(form.valid()==false)
        {
            $("#txtFromMonth").removeClass('error');
            return false;
        }

        //var CmpId = $("#txtCmpId").val();
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var ContractorId=$("#ddlContractorId").val();
        var ContractorWiseRateMasterId_Encrypted = $("#ContractorWiseRateMasterId_Encrypted").val();
        var Rate=$("#txtRate").val();
        var Percentage=$("#txtPercentage").val();
        var SupervisorCharges=$("#ddlSupervisorCharges").val();
        var ServiceCharges=$("#txtServiceCharges").val();
        var FromMonth = $("#txtFromMonth").val();
        var ToMonth = $("#txtToMonth").val();
        let IsGross = $("#chkIsGross").is(":checked");
        let IsOT = $("#chkIsOT").is(":checked");

        if (ServiceCharges === "Percentage") {
            if (!IsGross && !IsOT) {
                Swal.fire({
                    icon: 'warning',
                    text: 'At least one checkbox (Gross or OT) must be checked!',
                    allowOutsideClick: false
                });
                return false; // stop further execution / submission
            }
        }

        $.ajax({
            url: '@Url.Action("IsContractorWiseRateExists", "ESS_ContractorWiseRate")',
            method:"get",
            data: {
                CmpId: CmpId,
                BranchId:BranchId,
                ContractorId:ContractorId,
                FromMonth:FromMonth,
                ToMonth:ToMonth,
                ContractorWiseRateMasterId_Encrypted:ContractorWiseRateMasterId_Encrypted
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{

                    var rows = document.getElementById("tblHC_MDMapping").rows;
                    var ContractorRateMapping = [];

                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];

                        // Skip rows without inputs
                        if (!row.cells[1] || !row.cells[1].querySelector("input")) {
                            continue;
                        }

                        var PerDayRate = row.cells[1].querySelector("input").value.trim() || "0";
                        var CanteenRate = row.cells[2].querySelector("input").value.trim() || "0";
                        var AttendanceBonusRate = row.cells[3].querySelector("input").value.trim() || "0";
                        var TransportAllowanceRate = row.cells[4].querySelector("input").value.trim() || "0";
                        var Other1 = row.cells[5].querySelector("input").value.trim() || "0";
                        var Other2 = row.cells[6].querySelector("input").value.trim() || "0";

                        var DesignationId = row.cells[7].querySelector("input").value.trim() || "0";
                        var ContractorWiseRateDetailsId = row.cells[8].querySelector("input").value.trim() || "0";

                        // Only push if DesignationId is valid
                        if (DesignationId !== "0") {
                            ContractorRateMapping.push({
                                DesignationId: DesignationId,
                                ContractorWiseRateDetailsId: ContractorWiseRateDetailsId,
                                PerDayRate: PerDayRate,
                                CanteenRate: CanteenRate,
                                AttendanceBonusRate: AttendanceBonusRate,
                                TransportAllowanceRate: TransportAllowanceRate,
                                Other1: Other1,
                                Other2: Other2
                            });
                        }
                    }


                    debugger
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveUpdate", "ESS_ContractorWiseRate")',
                        data: JSON.stringify({
                            ContractorRateMapping: ContractorRateMapping,
                            CmpId: CmpId,
                            BranchId: BranchId,
                            ContractorId:ContractorId,
                            ServiceCharges:ServiceCharges,
                            Rate:Rate,
                            Percentage:Percentage,
                            IsGross:IsGross,
                            IsOT:IsOT,
                            SupervisorCharges:SupervisorCharges,
                            FromMonth:FromMonth,
                            ToMonth:ToMonth,
                            ContractorWiseRateMasterId_Encrypted: ContractorWiseRateMasterId_Encrypted
                            //  HeadCountMappingMasterID: HeadCountMappingMasterID
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            debugger;
                            var Message1 = data.Message;
                            var Icon1 = data.Icon;

                            if (Icon1 && Message1) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: false
                                }).then(function () {
                                    var url = '@Url.Action("ESS_ContractorWiseRate", "ESS_ContractorWiseRate")';
                                    window.location.href = url;
                                });
                            }
                        }
                    });
                }
            }
        });
    });
</script>

<script>
    function OnCompanyChange() {
        debugger
        var CmpId = document.getElementById("ddlCmpId").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetBuisnessUnit", "ESS_ContractorWiseRate")',
            data: { CmpId: CmpId},
            success: function (data) {
                debugger;
                if (data.Branch !=null) {
                    //$("#ddlBranchId").append("<option value=''>All</option>");
                    $.each(data.Branch, function(i, p) {
                        $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    });
                }
                else {
                    $('#ddlBranchId').html(" ");
                }
            }
        });
    }

    function OnBUChange() {
        debugger
        var CmpId= document.getElementById("ddlCmpId").value;
        var BranchId = document.getElementById("ddlBranchId").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetContractor", "ESS_ContractorWiseRate")',
            data: { BranchId: BranchId,CmpId:CmpId},
            success: function (data) {
                var $ContractorDropdown = $("#ddlContractorId");
                $ContractorDropdown.empty();

                if (data && data.length > 0) {
                    $ContractorDropdown.append("<option value=''>--Select--</option>");
                    $.each(data, function (i, module) {
                        $ContractorDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $ContractorDropdown.append("<option>--Select--</option>");
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#ddlContractorId").empty().append("<option>Error loading modules</option>");
            }
        });
    }


    function downloadExcelFile() {
        debugger;
        var isValid = true;

        if (CmpId === "" || CmpId === "0") {
            $("#ErrorddlCmpId").text("Company is required");
            isValid = false;
        } else {
            $("#ErrorddlCmpId").text("");
        }

        if (BranchId === "" || BranchId === "0") {
            $("#ErrorddlBranchId").text("Business Unit is required");
            isValid = false;
        } else {
            $("#ErrorddlBranchId").text("");
        }

        if (ContractorId === "" || ContractorId === "0") {
            $("#ErrorddlContractorId").text("Contractor is required");
            isValid = false;
        } else {
            $("#ErrorddlContractorId").text("");
        }

        if (!isValid) {
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var ContractorId=$("#ddlContractorId").val();
        // var LeaveTypeId = encodeURIComponent($("#ddlLeaveTypeId").val());
        var url = `@Url.Action("DownloadExcelFile", "ESS_ContractorWiseRate")?CmpId=${CmpId}&BranchId=${BranchId}&ContractorId=${ContractorId}`;

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'ContractorWiseRate.xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }

    function ResetFile()  {
        debugger;
        let allowedExtension = ['application/vnd.ms-excel'];
        let fileInput = document.getElementById('txtAttachFile');

        if (fileInput.files.length > 0) {
            let type = fileInput.files[0].type;

            if (allowedExtension.indexOf(type) === -1) {
                $("#ErrorFile").text('File type should be Excel (.xlsx)');
                fileInput.value = null;
                return false;
            }
        }

        $("#ErrorFile").text('');
    }

    var form = $("#SaveContractorWiseRate");
    form.validate();

    $("#btnfileupload").click(function(){
        debugger;
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var ContractorId=$("#ddlContractorId").val();
        var isValid = true;

        if (CmpId === "" || CmpId === "0") {
            $("#ErrorddlCmpId").text("Company is required");
            isValid = false;
        } else {
            $("#ErrorddlCmpId").text("");
        }

        if (BranchId === "" || BranchId === "0") {
            $("#ErrorddlBranchId").text("Business Unit is required");
            isValid = false;
        } else {
            $("#ErrorddlBranchId").text("");
        }

        if (ContractorId === "" || ContractorId === "0") {
            $("#ErrorddlContractorId").text("Contractor is required");
            isValid = false;
        } else {
            $("#ErrorddlContractorId").text("");
        }

        if (!isValid) {
            return false;
        }

        var fileInput = document.getElementById('txtAttachFile');
        if (fileInput.files.length === 0) {
            Swal.fire({
                icon:  "error",
                text: "Please import excel file",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        $(".Userloaderbg").css("display","flex");
        $('#tblHC_MDMapping').not(function(){return!!$(this).has('th').length;}).remove();
        $("#SaveContractorWiseRate").submit();
    })

    $(document).on('input', '#txtPercentage', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>