@model KompassHR.Areas.ESS.Controllers.ESS_Tax.InvestmentDeclaration_SelfOccupiedHouseLoan
@{
    ViewBag.Title = "ESS_Tax_SelfOccupiedHouseLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    body {
        font-family: 'Montserrat', sans-serif;
    }

        body.swal2-shown > [aria-hidden="true"] {
            /* transition: 0.1s filter; */
            filter: blur(2px);
        }

    .important {
        margin-left: 3px;
        font-weight: 700;
        color: red;
    }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            /* width: 80px; */
            margin: 5px 3px;
            font-size: 12px;
        }

    .table {
        font-weight: 600;
        font-size: 14px;
    }

    .trheading {
        background-color: rgba(233, 236, 239, 0.5);
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 5px;
        background-color: #fff;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        height: 5px;
        border-radius: 10px;
    }

    .invoice {
        /* background-color: #fAfAfA; */
        border-radius: 12px;
        border: 3px solid #fff;
        /* border: 3px solid rgba(255, 255, 255, 1); */
        /* border-top: 1px solid #adb5bd;
           border-bottom: 1px solid #adb5bd; */
        padding: 10px 20px !important;
        margin-bottom: 10px;
        backdrop-filter: blur(25px) saturate(00%);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
    }

        .invoice > div:not(.invoice-footer) {
            margin: 0;
        }

    .Error {
        font-size: 12px;
        color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .lbl {
        border: none;
        outline: none;
        text-align: center;
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .form-label.col-5 {
        font-weight: bold; /* Adjust the weight as needed */
    }
</style>
@{
    var showPercentageSection = (Model != null && Model.SelfOccupied_IsCoOwner == true) ? "block" : "none";
}

@*@{
    var showPercentageSection = Model.SelfOccupied_IsCoOwner ? "block" : "none";
}*@

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Self Occupied House Loan Repayments
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new {id = 9, ScreenId=176, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Self Occupied House Loan Repayments</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add here self occupied house loan repayments .
                    </p>
                </div>
                <div class="panel-body" style="overflow: auto !important;">
                    <div class="row">

                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_Tax_SelfOccupiedHouseLoan", new { area = "ESS" })" id="SaveSelfOccupiedHouseLoan" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            <span>
                                                <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            @if (TempData["SubmitValid"] != null)
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <!-- BEGIN table-responsive -->
                                <table class="table table-bordered align-middle" id="">
                                    <thead>
                                        <tr>
                                            <th class="" colspan="1">  Particular</th>
                                            <th class="text-center" colspan="1"> Interest Amount </th>
                                            <th class="text-center" colspan="1">Limit </th>
                                            <th class="text-center" colspan="1">Eligible Deduction </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DropDownListFor(model => model.SelfOccupied_TypeID, new List<SelectListItem>{
                                                    new SelectListItem {Text ="Loan On or After 01/04/1999", Value="1"},
                                                    new SelectListItem {Text ="Loan Before 01/04/1999", Value="2"},
                                                    new SelectListItem {Text ="Loan On or After 01/04/1999 (First Home (Section 80EEA) (01/Apr/2019 - 31/Mar/2022))", Value="3"},
                                                    new SelectListItem {Text ="Loan Before 01/04/1999 (First Home (Section 80EEA) (01/Apr/2019 - 31/Mar/2022))", Value="4"},
                                                    new SelectListItem {Text ="Loan On or After 01/04/1999 (First Home (Section 80EE) (01/Apr/2016 - 31/Mar/2017))", Value="5"},
                                                    new SelectListItem {Text ="Loan Before 01/04/1999 (First Home (Section 80EE) (01/Apr/2016 - 31/Mar/2017))", Value="6"},
                                                    new SelectListItem {Text ="Repair or renewal or reconstruction of the house", Value="7"}
                                                                        }, "--Select--", new { @class = "form-select", id = "ddlSelfOccupied_TypeID", name = "SelfOccupied_TypeID", autocomplete = "Off" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(x => x.SelfOccupied_CurrentAmt, new { @class = "form-control", id = "txtSelfOccupied_CurrentAmt", @style = "text-align:Right;height:23px;", @autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.SelfOccupied_CurrentAmt, "", new { @class = "help-block", @id = "ErrorSelfOccupied_CurrentAmt", @style = "color:red" })
                                            </td>

                                            <td>
                                                @Html.TextBoxFor(x => x.SelfOccupied_Limit, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "txtSelfOccupied_Limit", @readonly = true })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(x => x.SelfOccupied_EligibleDeductionAmt, new { @class = "form-control lbl", @style = "text-align:Right;height:23px;", id = "txtSelfOccupied_EligibleDeductionAmt", @readonly = true })
                                            </td>
                                        </tr>
                                    </tbody>
                                    @*<tfoot>
                                            <tr>
                                                <th colspan="3">
                                                    <h5 style="text-align:center">Total</h5>
                                                </th>
                                                <td>
                                                    @Html.TextBoxFor(x => x.SelfOccupied_TotalAmount, new { @class = "form-control lbl", id = "lblAllTotal", @readonly = true, @style = "text-align:Right;height:23px;background-color: #e9ecef;" })
                                                </td>
                                            </tr>
                                        </tfoot>*@

                                </table>
                                <span id="ErroForm" class="Error"></span>

                                @*<div class="row">
                                        <h5>Housing loan certificate</h5>
                                        <div class="col-md-6">
                                            <input type="file" name="AttachFile" class="form-control" id="txtSelfOccupiedHouseLoanRepayments" onchange="ResetFile('SelfOccupiedHouseLoanRepayments')" />
                                            <span id="errorSelfOccupiedHouseLoanRepayments" class="error" style="display:none"></span>
                                        </div>

                                    </div>*@
                                <br />




                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        @Html.CheckBoxFor(model => model.SelfOccupied_IsCoOwner, new { @class = "form-check-input", id = "chkIsCoOwner" })
                                        &nbsp;&nbsp;<h5 class="panel-title">I am Co-applicant/Co-owner of housing property.</h5>
                                    </div>
                                </div>

                                <div class="row align-items-center" id="divCoApplicantPercentage" style="display:@showPercentageSection;">
                                    <div class="col-md-10">
                                        <div class="d-flex align-items-center flex-nowrap">
                                            <span class="important">*</span>
                                            <label for="txtSelfOccupied_Co_Applicant_Percentage" class="mb-0 mr-2" style="white-space: nowrap;">
                                                <b>I am applicable for the&nbsp;</b>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.SelfOccupied_Co_Applicant_Percentage, new { id = "txtSelfOccupied_Co_Applicant_Percentage", @class = "form-control", placeholder = "%", style = "text-align:right;", max = "100" })
                                                @Html.ValidationMessageFor(model => model.SelfOccupied_Co_Applicant_Percentage, "", new { @class = "help-block", id = "errorSelfOccupied_Co_Applicant_Percentage", style = "color:red" })
                                            </div>
                                            <span style="white-space: nowrap;"><b>&nbsp;%</b></span>

                                        </div>
                                        <div class="col-md-12"><b>I hereby acknowledge that if I am a co-applicant, the declared amount will be considered based on the declared percentage of my share.</b></div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                <b>Housing loan certificate</b>
                                            </label>
                                            <div class="col-md-5">
                                                <input type="file" name="AttachFile" class="form-control" id="txtSelfOccupiedHouseLoanRepayments" onchange="ResetFile('SelfOccupiedHouseLoanRepayments')" />
                                                <span id="errorSelfOccupiedHouseLoanRepayments" class="error" style="display:none"></span>
                                                @Html.HiddenFor(model => model.SelfOccupied_ProofUpload, new { id = "SelfOccupied_ProofUpload" })
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(model => model.SelfOccupied_ProofUpload, new { id = "txtSelfOccupied_ProofUpload", @class = "form-control", disabled = "disabled" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <b>Note: If you want to upload multiple files, please upload them as a single ZIP file.</b>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new { area = "ESS",id=9,ScreenId=176 })'">
                                                    <i class="fa-solid fa-share-from-square"></i> Back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>


    function togglePercentageSection() {
        if ($('#chkIsCoOwner').is(':checked')) {
            $('#divCoApplicantPercentage').slideDown();
        } else {
            $('#divCoApplicantPercentage').slideUp();
            $('#txtSelfOccupied_Co_Applicant_Percentage').val('');
        }
    }
    $(document).ready(function () {
        debugger

        @*var savedValue = @Html.Raw(Json.Encode(ViewBag.SelfOccupied_IsCoOwner));
        debugger
        document.getElementById("SelfOccupied_IsCoOwner").checked = savedValue === "true";*@

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });


    $("#ddlSelfOccupied_TypeID").on("change", function () {
        debugger;
        var GetTaxRuleLimit = @Html.Raw(Json.Encode(ViewBag.GetTaxRuleLimit)) || [];

var list = Array.isArray(GetTaxRuleLimit[0]) ? GetTaxRuleLimit[0] : GetTaxRuleLimit;

function getValue(key) {
    var item = list.find(x => (x.Key || x.key) === key);
    return item ? (item.Value || item.value) : 0;
}

        var SelfOccupied_TypeID = $("#ddlSelfOccupied_TypeID").val();
        $("#txtSelfOccupied_CurrentAmt").val("0");
        $("#txtSelfOccupied_EligibleDeductionAmt").val("0");

        var TaxRule80EE_Limit = getValue("TaxRule80EE_Limit");
        var TaxRule80EEA_Limit = getValue("TaxRule80EEA_Limit");
        var Housingloan_After_1999 = getValue("Housingloan_After_1999");
        var Housingloan_Before_1999 = getValue("Housingloan_Before_1999");
        var Housingloan_RepairOrRenewal = getValue("Housingloan_RepairOrRenewal");
     
        //var TaxRule80EE_Limit=GetTaxRuleLimit[0].Value;
        //var TaxRule80EEA_Limit=GetTaxRuleLimit[1].Value;
        //var Housingloan_After_1999=GetTaxRuleLimit[2].Value;
        //var Housingloan_Before_1999=GetTaxRuleLimit[3].Value;
        //var Housingloan_RepairOrRenewal=GetTaxRuleLimit[4].Value;


        $("#txtSelfOccupied_Limit").val(0);
        if (SelfOccupied_TypeID=="1")
        {
            $("#txtSelfOccupied_Limit").val(Housingloan_After_1999);
        }
        else if (SelfOccupied_TypeID=="2")
        {
            $("#txtSelfOccupied_Limit").val(Housingloan_Before_1999);
        }

        else if (SelfOccupied_TypeID=="3")
        {
            var Total80EEA_Limit= Number(Housingloan_After_1999)+Number(TaxRule80EEA_Limit);
            $("#txtSelfOccupied_Limit").val(Total80EEA_Limit);
        }

        else if (SelfOccupied_TypeID=="4")
        {
            var Before80EEA_Limit=Number(Housingloan_Before_1999)+Number(TaxRule80EEA_Limit);
            $("#txtSelfOccupied_Limit").val(Before80EEA_Limit);
        }

        else if (SelfOccupied_TypeID=="5")
        {
            var After80EE_Limit=Number(Housingloan_After_1999)+Number(TaxRule80EE_Limit);
            $("#txtSelfOccupied_Limit").val(After80EE_Limit);
        }

        else if (SelfOccupied_TypeID=="6")
        {
            var Before80EE_Limit=  Number(Housingloan_Before_1999)+Number(TaxRule80EE_Limit);
            $("#txtSelfOccupied_Limit").val(Before80EE_Limit);
        }

        else if (SelfOccupied_TypeID=="7")
        {
            $("#txtSelfOccupied_Limit").val(Housingloan_RepairOrRenewal);
        }

    });


    //document.getElementById("SelfOccupied_IsCoOwner").addEventListener("change", function () {
    //    document.getElementById("SelfOccupied_IsCoOwner_Hidden").value = this.checked ? "true" : "false";
    //});



    $('#txtSelfOccupied_CurrentAmt').keyup(function(){
        debugger;
        var SelfOccupied_CurrentAmt =Number( $("#txtSelfOccupied_CurrentAmt").val());
        $("#txtSelfOccupied_EligibleDeductionAmt").val(SelfOccupied_CurrentAmt);
        var SelfOccupied_Limit = Number($("#txtSelfOccupied_Limit").val());
        if(SelfOccupied_CurrentAmt>SelfOccupied_Limit)
        {
           // $("#txtSelfOccupied_EligibleDeductionAmt").val(0);
            $("#txtSelfOccupied_EligibleDeductionAmt").val(SelfOccupied_Limit);
           // $("#lblAllTotal").val(SelfOccupied_Limit);
        }
        else
        {
          //  $("#txtSelfOccupied_EligibleDeductionAmt").val(0);
            $("#SelfOccupied_Limit").val(SelfOccupied_CurrentAmt);
           // $("#lblAllTotal").val(SelfOccupied_CurrentAmt);
        }
    });


    $('#chkIsCoOwner').change(function () {
        if ($(this).is(':checked')) {
            $('#divCoApplicantPercentage').slideDown();
        } else {
            $('#divCoApplicantPercentage').slideUp();
            $('#txtSelfOccupied_Co_Applicant_Percentage').val('');
        }
    });

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveSelfOccupiedHouseLoan').validate({
        rules: {
            SelfOccupied_TypeID: {
                required: true,
            },
            SelfOccupied_CurrentAmt: {
                required: true,
            },
            //AttachFile: {
            //    required: true,
            //},


        },
        messages: {
            SelfOccupied_TypeID: {
                required: "Particular is required",
            },
            SelfOccupied_CurrentAmt: {
                required: "Interest amount is required",
            },
            //AttachFile: {
            //    required: "File is required",
            //},
        },
    });
    var form = $("#SaveSelfOccupiedHouseLoan");
    form.validate();
    var SubmitCheck = @Html.Raw(Json.Encode(TempData["SubmitValid"]));
    $("#btnSubmit").click(function () {
        debugger;
        //Check Submit button valid or not based on open close taxDeclaration beetween Date
        if(SubmitCheck==null || SubmitCheck=="")
        {
            Swal.fire({
                //title: 'Saved',
                icon: 'error',
                text: 'Declaration window is close',
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        else
        {
            form.valid();
            if(form.valid()==false)
            {
                return false;
            }

            var SelfOccupied_CurrentAmt = $("#txtSelfOccupied_CurrentAmt").val();
            if (SelfOccupied_CurrentAmt<=0)
            {
                $("#ErrorSelfOccupied_CurrentAmt").html("Enter a value");
                return false;
            }
            else{
                $("#ErrorSelfOccupied_CurrentAmt").html("");
            }
            var file = $("#txtSelfOccupiedHouseLoanRepayments").get(0).files[0];
            var SelfOccupied_ProofUpload=$("#txtSelfOccupied_ProofUpload").val();
            if (file) {
                $("#errorSelfOccupiedHouseLoanRepayments").html("").css("display", "none");
            } else {
                if (SelfOccupied_ProofUpload==null ||SelfOccupied_ProofUpload=="")
                {
                    $("#errorSelfOccupiedHouseLoanRepayments").html("Choose a file").css("display", "flex");
                    return false;
                }
                else{
                    $("#errorSelfOccupiedHouseLoanRepayments").html("").css("display", "none");
                }

            }


            if ($('#chkIsCoOwner').is(':checked')) {
                debugger
                const val = $('#txtSelfOccupied_Co_Applicant_Percentage').val();
                if ($.trim(val) === '' || isNaN(val) || parseFloat(val) <= 0) {
                    $("#errorSelfOccupied_Co_Applicant_Percentage").html("Please enter a valid Co-applicant percentage.");
                    //alert('Please enter a valid Co-applicant percentage.');
                    e.preventDefault();
                }
                else{
                    $("#errorSelfOccupied_Co_Applicant_Percentage").html();
                }
            }

            $(".Userloaderbg").css("display", "flex");
            $("#SaveSelfOccupiedHouseLoan").submit();
        }
    });

</script>


<script>
    function ResetFile(Origin) {
        debugger
        var a = "txt" + Origin; // Correct concatenation

        let allowedExtension = [
            'image/jpeg',
            'image/jpg',
            'image/png',
            'application/pdf',
            'application/msword', // .doc
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document', // .docx
            'application/zip', // .zip
            'application/x-zip-compressed', // Some browsers use this for ZIP
            'multipart/x-zip' // Additional MIME type for ZIP
        ];

        let maxSize = 1 * 1024 * 1024; // 1 MB in bytes

        let fileInput = document.getElementById(a);

        if (!fileInput || !fileInput.files.length) {
            Swal.fire({
                icon: "error",
                text: "No file selected.",
            });
            return;
        }

        let file = fileInput.files[0];
        let type = file.type;
        let size = file.size;

        // Check file type
        if (allowedExtension.indexOf(type) === -1) {
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf/docx/doc/zip",
            });
            fileInput.value = null;
            return;
        }

        // Check file size
        if (size > maxSize) {
            Swal.fire({
                icon: "error",
                text: "File size should not exceed 1 MB.",
            });
            fileInput.value = null;
            return;
        }
    }
</script>