
@model KompassHR.Areas.ESS.Models.ESS_ManpowerAllocation.Mapping_R1R2R3
{
@{
    ViewBag.Title = "ESS_ManpowerAllocation_R1R2R3Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                R1/R2/R3 Mapping
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_ManpowerAllocation_Menu", "ESS_ManpowerAllocation_Menu",  new {id =35, ScreenId=278, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">R1/R2/R3 Mapping- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        R1/R2/R3 Mapping
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_ManpowerAllocation_R1R2R3Mapping", new { area = "ESS" })' id="SaveR1R2R3Mapping" method="post">
                                @Html.HiddenFor(model => model.R1R2R3MappingId_Encrypted, new { id = "txtR1R2R3MappingId_Encrypted" })
                                @Html.HiddenFor(model => model.R1R2R3MappingId, new { id = "txtR1R2R3MappingId" })

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @if (ViewBag.AddUpdateTitle == "Add")
                                                {
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name", Model.CmpId), new { @class = "form-select", type = "text", name = "CmpId", id = "ddlCmpId", onchange = "OnCompanyChange()" })
                                                    <span id="ErrorddlCompanyId" class="Error"></span>
                                                }
                                                @if (ViewBag.AddUpdateTitle == "Update")
                                                {
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name", Model.CmpId), new { @class = "form-select", name = "CmpId", id = "ddlCmpId", onchange = "OnCompanyChange()", disabled = "disabled" })
                                                    @Html.HiddenFor(model => model.CmpId)
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Buisness Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @if (ViewBag.AddUpdateTitle == "Add")
                                                {
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BUName, "Id", "Name", Model.BranchId), new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                    <span id="ErrorddlBranchId" class="Error"></span>
                                                }
                                                @if (ViewBag.AddUpdateTitle == "Update")
                                                {
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BUName, "Id", "Name", Model.CmpId), new { @class = "form-select", name = "CmpId", id = "ddlBranchId", disabled = "disabled" })
                                                    @Html.HiddenFor(model => model.BranchId)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                Month/Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @if (ViewBag.AddUpdateTitle == "Add")
                                                {
                                                    @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-control", name = "MonthYear", type = "month", id = "txtMonthYear", Value = TempData["MonthYear"] })
                                                }
                                                @if (ViewBag.AddUpdateTitle == "Update")
                                                {
                                                    @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-control", type = "month", id = "txtMonthYear", Value = TempData["MonthYear"], @readonly = "readonly" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R1 From Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R1FromDate, new { @class = "form-control", id = "txtR1FromDate", type = "date", name = " R1FromDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R1 To Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R1ToDate, new { @class = "form-control", id = "txtR1ToDate", type = "date", name = " R1ToDate" })
                                                <span id="ErrorR1ToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R2 From Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R2FromDate, new { @class = "form-control", id = "txtR2FromDate", type = "date", name = " R2FromDate" })
                                                <span id="ErrorR2FromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R2 To Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R2ToDate, new { @class = "form-control", id = "txtR2ToDate", type = "date", name = " R2ToDate" })
                                                <span id="ErrorR2ToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R3 From Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R3FromDate, new { @class = "form-control", id = "txtR3FromDate", type = "date", name = " R3FromDate" })
                                                <span id="ErrorR3FromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="row mb-12px">
                                            <label class="form-label col-form-label col-md-4">
                                                R3 To Date
                                                <span class="important">*</span>
                                            </label>

                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.R3ToDate, new { @class = "form-control", id = "txtR3ToDate", type = "date", name = " R3ToDate" })
                                                <span id="ErrorR3ToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_ManpowerAllocation_R1R2R3Mapping", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger
       var MonthYear = @Html.Raw(Json.Encode(TempData["MonthYear"]));
        $("#txtMonthYear").val(MonthYear);
        var R1FromDate = @Html.Raw(Json.Encode(TempData["R1FromDate"]));
        $("#txtR1FromDate").val(R1FromDate);
        var R1ToDate = @Html.Raw(Json.Encode(TempData["R1ToDate"]));
        $("#txtR1ToDate").val(R1ToDate);
        var R2FromDate = @Html.Raw(Json.Encode(TempData["R2FromDate"]));
        $("#txtR2FromDate").val(R2FromDate);
        var R2ToDate = @Html.Raw(Json.Encode(TempData["R2ToDate"]));
        $("#txtR2ToDate").val(R2ToDate);
        var R3FromDate = @Html.Raw(Json.Encode(TempData["R3FromDate"]));
        $("#txtR3FromDate").val(R3FromDate);
        var R3ToDate = @Html.Raw(Json.Encode(TempData["R3ToDate"]));
        $("#txtR3ToDate").val(R3ToDate);

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#formReset").click(function () {
            $("#SaveR1R2R3Mapping")[0].reset();
        });

    });
</script>


<script>
    $(document).ready(function () {

        $("#txtMonthYear").change(function () {
            debugger;
            var monthYear = $(this).val();
            if (monthYear) {
                var parts = monthYear.split("-");
                var year = parseInt(parts[0]);
                var month = parseInt(parts[1]);

                // first day of month
                var firstDay = year + "-" + (month < 10 ? "0" + month : month) + "-01";

                // last day of month
                var lastDayDate = new Date(year, month, 0);
                var lastDay = year + "-" + (month < 10 ? "0" + month : month) + "-" + (lastDayDate.getDate());


                $("#txtR1FromDate, #txtR1ToDate, #txtR2FromDate, #txtR2ToDate, #txtR3FromDate, #txtR3ToDate")
                    .attr("min", firstDay)
                    .attr("max", lastDay)
                    .val("");
                $("#txtR1FromDate").val(firstDay).prop("readonly", true);;
                $("#txtR3ToDate").val(lastDay).prop("readonly", true);;
            }
        });

        $("#txtR1FromDate, #txtR1ToDate, #txtR2FromDate, #txtR2ToDate, #txtR3FromDate, #txtR3ToDate").change(function () {
            var r1From = $("#txtR1FromDate").val();
            var r1To = $("#txtR1ToDate").val();
            var r2From = $("#txtR2FromDate").val();
            var r2To = $("#txtR2ToDate").val();
            var r3From = $("#txtR3FromDate").val();
            var r3To = $("#txtR3ToDate").val();

            $("#ErrorR1ToDate, #ErrorR2FromDate, #ErrorR2ToDate, #ErrorR3FromDate, #ErrorR3ToDate").text("");

            // Convert to Date objects for comparison
            function parseDate(dateStr) {
                return dateStr ? new Date(dateStr) : null;
            }
            function diffDays(start, end) {
                return Math.floor((end - start) / (1000 * 60 * 60 * 24));
            }
            var dR1From = parseDate(r1From);
            var dR1To = parseDate(r1To);
            var dR2From = parseDate(r2From);
            var dR2To = parseDate(r2To);
            var dR3From = parseDate(r3From);
            var dR3To = parseDate(r3To);

            // Validate R1
            if (dR1From && dR1To && dR1To < dR1From) {
                $("#ErrorR1ToDate").text("R1 To Date must be greater than or equal to R1 From Date");
                $("#txtR1ToDate").val("");
            }

            // Validate gap between R1 and R2
            if (dR1To && dR2From) {
                var expectedR2From = new Date(dR1To);
                expectedR2From.setDate(expectedR2From.getDate() + 1);
                if (dR2From.getTime() !== expectedR2From.getTime()) {
                    $("#ErrorR2FromDate").text("R2 From Date must be the day after R1 To Date");
                    $("#txtR2FromDate").val("");
                }
            }

            // Validate R2 To
            if (dR2From && dR2To) {
                if (dR2To < dR2From) {
                    $("#ErrorR2ToDate").text("R2 To Date must be greater than or equal to R2 From Date");
                    $("#txtR2ToDate").val("");
                }
                else {
                    var totalDays = diffDays(dR2From, dR2To);
                    if (totalDays < 0) {
                        $("#ErrorR2ToDate").text("R2 To Date must cover consecutive days without gaps");
                        $("#txtR2ToDate").val("");
                    }
                }
            }

            // Validate R3 From
            if (dR2To && dR3From) {
                var expectedR3From = new Date(dR2To);
                expectedR3From.setDate(expectedR3From.getDate() + 1);
                if (dR3From.getTime() !== expectedR3From.getTime()) {
                    $("#ErrorR3FromDate").text("R3 From Date must be the day after R2 To Date");
                    $("#txtR3FromDate").val("");
                }
            }

            // Validate R3
            if (dR3From && dR3To && dR3To < dR3From) {
                $("#ErrorR3ToDate").text("R3 To Date must be greater than or equal to R3 From Date");
                $("#txtR3ToDate").val("");
            }
        });

        //    if (r1From && r1To && r1To < r1From) {
        //        $("#ErrorR1ToDate").text("R1 To Date must be greater than or equal to R1 From Date");
        //        $("#txtR1ToDate").val("");
        //    }
        //    else{
        //        $("#ErrorR1ToDate").text("");
        //    }

        //    if (r1To && r2From && r2From < r1To) {
        //        $("#ErrorR2FromDate").text("R2 From Date must be greater than or equal to R1 To Date");
        //        $("#txtR2FromDate").val("");
        //    }
        //    else{
        //        $("#ErrorR2FromDate").text("");
        //    }
        //            if (r2From && r2To && r2To < r2From) {
        //                $("#ErrorR2ToDate").text("R2 To Date must be greater than or equal to R2 From Date");
        //                $("#txtR2ToDate").val("");
        //            }
        //        else{
        //            $("#ErrorR2ToDate").text("");
        //        }
        //    if (r2To && r3From && r3From < r2To) {
        //        $("#ErrorR3FromDate").text("R3 From Date must be greater than or equal to R2 To Date");
        //        $("#txtR3FromDate").val("");
        //    }
        //    else{
        //        $("#ErrorR3FromDate").text("");
        //    }
        //    if (r3From && r3To && r3To < r3From) {
        //        $("#ErrorR3ToDate").text("R3 To Date must be greater than or equal to R3 From Date");
        //        $("#txtR3ToDate").val("");
        //    }
        //    else{
        //        $("#ErrorR3ToDate").text("");
        //    }
        //});
    });
</script>


<script>
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveR1R2R3Mapping').validate({
        rules: {
            CmpId: {
                required: true,
            },
            MonthYear:{
                required: true,
            },

            BranchId: {
                required: true,
            },
            R1FromDate: {
                required: true,
            },
            R1ToDate: {
                required: true,
            },
            R2FromDate: {
                required: true,
            },
            R2ToDate: {
                required: true,
            },
            R3FromDate: {
                required: true,
            },
            R3ToDate: {
                required: true,
            },

        },
        messages: {
              CmpId: {
                  required: "Company Name is required",
              },
              MonthYear:{
                  required: "Month Year is required",
              },
              BranchId: {
                  required: "Business Unit name is required",
              },
              R1FromDate:{
                  required: "This date is required",
              },
              R1ToDate:{
                  required: "This date is required",
              },
              R2FromDate:{
                  required: "This date is required",
              },
              R2ToDate:{
                  required: "This date is required",
              },
              R3FromDate:{
                  required: "This date is required",
              },
              R3ToDate:{
                  required: "This date is required",
              }
        },
    });

    var form = $("#SaveR1R2R3Mapping");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtR1FromDate").removeClass('error');
            return false;
        }
        //var CmpId = $("#txtCmpId").val();
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();

        var R1R2R3MappingId_Encrypted = $("#txtR1R2R3MappingId_Encrypted").val();
        var R1R2R3MappingId=$("#txtR1R2R3MappingId").val();


        $.ajax({
            url:"IsR1R2R3MappingExists",
            method:"get",
            data: {
                CmpId: CmpId,BranchId:BranchId,
                R1R2R3MappingId_Encrypted:R1R2R3MappingId_Encrypted,
                R1R2R3MappingId:R1R2R3MappingId
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveR1R2R3Mapping").submit();
                }
            }
        });
    });
</script>


<script>
    function OnCompanyChange() {
        debugger
        var CmpId = document.getElementById("ddlCmpId").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetBuisnessUnit", "ESS_ManpowerAllocation_R1R2R3Mapping")',
            data: { CmpId: CmpId},
            success: function (data) {
                var $BusinessUnitDropdown = $("#ddlBranchId");
                $BusinessUnitDropdown.empty();

                if (data && data.length > 0) {
                    $BusinessUnitDropdown.append("<option value=''>--Select--</option>");
                    $.each(data, function (i, module) {
                        $BusinessUnitDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $BusinessUnitDropdown.append("<option>--Select--</option>");
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#ddlBranchId").empty().append("<option>Error loading modules</option>");
            }
        });
    }
</script>