@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Rpt_Attendance_ShortLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<style>
    .Col-md-2 {
        margin: 10px 0;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>
<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Reports/Report_Attendance_RptMenu/Report_Attendance_RptMenu">Report Menu</a></li>
    </ol>
    <h1 class="page-header"> Short Leave Report </h1>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Short Leave Report  </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action="/Reports/Rpt_Attendance_ShortLeave/Rpt_Attendance_ShortLeave" id="formShortLeave" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"),  new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Department Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Sub Department Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Designation Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Grade Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Line Master
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    From Date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", name = "FromDate", type = "date", id = "FromDate" })
                                                    <span id="ErrorFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    To Date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", name = "ToDate", type = "date", id = "ToDate" })
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" onclick="LoadEmployee()" class="btn btn-sm btn-success">Show</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtCmpId", type = "text", name = "CmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtBranchId", type = "text", name = "BranchId" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    From date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", type = "date", name = "FromDate" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    To Date
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", type = "date", name = "ToDate" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row mb-15px">
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-primary btn-sm" id="btnload" onclick="LoadEmployee()">
                                                        @*<i class="fa-solid fa-share-from-square"></i>* Show
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </form>
                                <hr class="mt-15px">
                                <div class="row">
                                    <div class="table-scroll div1">
                                        <div class="table-wrap">
                                            <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="tblLateComing" style="width: 100%;">
                                                <thead>
                                                    <tr class="trheading">
                                                        @*<th class="text-nowrap text-center">Doc No </th>*@
                                                        @*<th class="text-nowrap text-center">Req Date</th>*@
                                                        <th class="text-nowrap text-center">Doc Date </th>
                                                        <th class="text-nowrap text-center">Employee No </th>
                                                        <th class="text-nowrap text-center">Employee Name </th>
                                                        <th class="text-nowrap text-center">Department Name </th>
                                                        <th class="text-nowrap text-center">Designation Name</th>
                                                        <th class="text-nowrap text-center">Shift</th>
                                                        <th class="text-nowrap text-center">Direction</th>
                                                        <th class="text-nowrap text-center">For Time</th>
                                                        <th class="text-nowrap text-center">Reason</th>
                                                        <th class="text-nowrap text-center">Approve/Rejected by</th>
                                                        <th class="text-nowrap text-center">Approve/Rejected Date</th>
                                                        <th class="text-nowrap text-center">Rejected Reason</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblAbnormalReport">
                                                    @foreach (var d in ViewBag.ShortLeaveReport)
                                                    {
                                                        <tr>
                                                            @*<td class="text-nowrap">@d.DocNo</td>*@
                                                            @*<td class="text-nowrap">@d.ReqDate</td>*@
                                                            <td class="text-nowrap">@d.DocDate</td>
                                                            <td class="text-nowrap">@d.EmployeeNo</td>
                                                            <td class="text-nowrap">@d.EmployeeName</td>
                                                            <td class="text-nowrap">@d.DepartmentName</td>
                                                            <td class="text-nowrap">@d.DesignationName</td>
                                                            <td class="text-nowrap">@d.ShiftName</td>
                                                            <td class="text-nowrap">@d.Direction</td>
                                                            <td class="text-nowrap">@d.ForTime</td>
                                                            <td class="text-nowrap">@d.Reason</td>
                                                            <td class="text-nowrap">@d.ApprovedBy</td>
                                                            <td class="text-nowrap">@d.ApproveRejectDate</td>
                                                            <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        var FD = document.getElementById("FromDate").value;
        var TD = document.getElementById("ToDate").value;
        $('title').html("Short Leave Report (" + FD + "To" + TD + ")");
        var CheckEmptyDate = document.getElementById('FromDate').value;
        if(CheckEmptyDate =="")
        {
            document.getElementById('FromDate').value = SetTodaysDate;
            document.getElementById('ToDate').value = SetTodaysDate;
        }

        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlDepartmentId").select2();
        $("#ddlSubDepartmentId").select2();
        $("#ddlDesignationId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Rpt_Attendance_ShortLeave")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        var Branch = data.Branch;
                        $("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        debugger;
        var CmpId = $("#ddlCmpId").val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetBusinessUnit", "Rpt_Attendance_ShortLeave")',
            data: { CmpId: CmpId },
            success: function (data) {
                debugger;
                if (data == false) {
                    $("#ddlBranchId").find("option").remove();
                    $("#ddlLineId").find("option").remove();
                    $("#ddlEmployeeID").find("option").remove();
                    $("#ddlBranchId").append("<option value=''>All </option>");
                    $("#ddlEmployeeID").append("<option value=''>All </option>");
                    $("#ddlLineId").append("<option value=''>All </option>");
                }
                else {
                    var EmployeeName = data.EmployeeName;
                    var LineMaster = data.List_LineMaster;
                    var Branch = data.Branch;
                    if (Branch != null) {
                        //var data1 = data.data;
                        //$("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    debugger;
                    if (EmployeeName != null) {
                        //$("#ddlEmployeeID").append("<option value=''>All </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    debugger;
                    if (LineMaster != null) {
                        //$("#ddlLineId").append("<option value=''>All </option>");
                        $.each(LineMaster, function (i, p) {
                            $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            }
        });

        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlSubDepartmentId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetSubDepartment", "Rpt_Attendance_ShortLeave")',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlSubDepartmentId").find("option").remove();
                        $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                    }
                    else {
                        if (data != null) {
                            $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                            $.each(data, function (i, p) {
                                $("#ddlSubDepartmentId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Rpt_Attendance_ShortLeave")',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (LineMaster != null) {
                            $("#ddlLineId").append("<option value=''>All </option>");
                            $.each(LineMaster, function (i, p) {
                                $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#FromDate, #ToDate").on("change", function () {
            var input = document.getElementById("FromDate").value;
            var input1 = document.getElementById("ToDate").value;
            //define two date object variables with dates inside it
            fromDateObj = new Date(input);
            toDateObj = new Date(input1);
            //calculate time difference
            var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            //calculate days difference by dividing total milliseconds in a day
            var days_differences = time_difference / (1000 * 60 * 60 * 24);
            var days_difference = days_differences + 1;
            // Check if toDate is greater than fromDate
            var from = $("#FromDate").val();
            var to = $("#ToDate").val();
            if (Date.parse(from) > Date.parse(to)) {

                $("#ErrorFromDate").html("From date should not be greater than todate");
                return false;
            }
            else {
                $("#ErrorFromDate").html("");
            }
            if(days_difference>31)
            {
                $("#ErrorFromDate").html("You should not allow greter than 31 days");
            }
        });
    })

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#formShortLeave').validate({
        rules: {
            CmpId: {
                required: true,
            },
            FromDate: {
                required: true,
            },
            ToDate: {
                required: true,
            },
        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            FromDate: {
                required: "From date is required",
            },
            ToDate: {
                required: "To date is required",
            },
        },
    });

    var form = $("#formShortLeave");
    form.validate();
    function LoadEmployee() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#ToDate").removeClass("error");
            $("#FromDate").removeClass("error");
            return false;
        }
        var EmptyCheck = $("#ErrorFromDate").text();
        if (EmptyCheck != "")
        {
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#formShortLeave").submit();
    }
</script>


