@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_Verification
@{
    ViewBag.Title = "Module_Employee_VerificationInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<style>
    
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



  
    .box2 {
   

    text-align:center;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
  

    }
        .box2 .info {
       
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

        .box2 .imgbx {
      width: 80px;
    height: 80px;
    padding:5px 0px;
    font-family:Open Sans,sans-serif;
          border: 1px solid #dedede;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content:center;
    align-items:center;
        }

   

        .blue-shadow {
    box-shadow: 0px 0px 10px #63b0f7;
    }
    .yellow-shadow{
        box-shadow: 0px 0px 10px #f6f763;
    }
    .green-shadow {
        box-shadow: 0px 0px 10px #b2fd9d;
    }
    .red-shadow {
        box-shadow: 0px 0px 10px #fd9d9d
    }

        /*.box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
           
        }*/
        .box2 img {
             width: 50px;
    height: 50px;
    filter: brightness(1.2);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
           
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
           
            text-align: center;
            display: flex;
            justify-content: center;
  color:#000;
            text-transform: capitalize;
            margin-top: 5px;
      
          
        }


    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Verification Information
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new {id = 3, ScreenId=142, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Verification Information - @ViewBag.AddUpdateTitle</h4>
                        @*<div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>*@
                    </div>
               
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add employee verification information.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Employee_VerificationInfo", new { area = "Module" })' id="SaveVerificationInformation" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["OnboardEmployeeName"] -  @Session["OnboardEmployeeNo"] </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["OnboardEmpDepartment"] / @Session["OnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["OnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Verification Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.VerificationEntrydate, new { @class = "form-control", name = "VerificationEntrydate", type = "date", id = "dateVerificationEntrydate", autocomplete = "Off" })
                                                @Html.HiddenFor(model => model.VerificationID_Encrypted, new { id = "VerificationID_Encrypted" })
                                                @Html.HiddenFor(model => model.VerificationEmployeeID)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Verification Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.VerificationType, new SelectList(ViewBag.GetVerificationName, "Id", "Name"), "--Select--", new { id = "ddlVerificationType", @class = "form-select", autocomplete = "off", name = "VerificationType" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Remark
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.VerificationRemark, new { @class = "form-control", name = "VerificationRemark", type = "text", id = "txtVerificationRemark", autocomplete = "Off", Maxlength = 500 })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnSubmit" type="button">
                                                            <i class="fa-solid fa-floppy-disk"></i> Save
                                                        </button>
                                                        <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new { area = "Module" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN table-responsive -->

                                        <table class="table table-bordered align-middle" id="fixed-header"
                                               style="width: 100%;">
                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="text-center">
                                                    <th class="text-nowrap width-45"> Action</th>
                                                    <th class="text-nowrap">Date </th>
                                                    <th class="text-nowrap"> Verification Type</th>
                                                    <th class="text-nowrap"> Remark </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var d in ViewBag.GetEmployeeVerificationList)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <button type="button" onclick="DeleteVerification('@d.VerificationID_Encrypted')" id="btnDelete"
                                                                    class="btn btn-danger btn-sm btnpress">
                                                                <i class="fa-solid fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                        <td>@d.VerificationEntrydate.ToString(string.Format("dd/MMM/yyyy"))</td>
                                                        <td>@d.VerificationName</td>
                                                        <td>@d.VerificationRemark</td>
                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<div class="row">
    @Html.Action("Onboarding_SidebarMenu", "Module_Employee_PersonalInfo")
</div>


<script>
    $(document).ready(function () {   
        $("#ddlVerificationType").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));       
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }      
    });
</script>

<script>
    function DeleteVerification(VerificationID_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }
        }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = '@Url.Action("Delete", "Module_Employee_VerificationInfo")?VerificationID_Encrypted=' + VerificationID_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }      
</script>


<script>

      //use for add regex function
      jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


      $("#SaveVerificationInformation").validate({
          rules: {
              VerificationEntrydate: {
                  required: true,
              },
              VerificationType: {
                  required: true,
              },
              VerificationRemark: {
                  required: true,
                  regex: /^[a-zA-Z/./,/ ]+$/,
              },
          },
          messages: {
              VerificationEntrydate: {
                  required: "Date is required",
              },
              VerificationType: {
                  required: "Verification type is required",
              },
              VerificationRemark: {
                  required: "Remark is required",
                  regex:"Please enter only alphabate",
              },
          }
      });
    var form = $( "#SaveVerificationInformation" );
    form.validate();
    $("#btnSubmit").click(function () {
        if(form.valid()==false)
        {
            $("#dateVerificationEntrydate").removeClass('error');
            return false;

        }
        var VerificationID_Encrypted=$("#VerificationID_Encrypted").val();
        var VerificationType=$("#ddlVerificationType").val();

        $.ajax({
            url: '@Url.Action("IsVerificationExists", "Module_Employee_VerificationInfo")',
            method:"get",
            data:{VerificationID_Encrypted:VerificationID_Encrypted,VerificationType:VerificationType},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveVerificationInformation").submit();

                }
            }
        });
    });
</script>