@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter

@{
    ViewBag.Title = "ESS_TMS_TaskStatusReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }
    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Task Status Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_TMSReports", "ESS_TMS_TMSReports", new { id = 12, ScreenId = 232, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Task Status Report<b></b> </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("ESS_TMS_TaskStatusReport", "ESS_TMS_TaskStatusReport", new { area = "ESS" })" id="SaveTaskStatusReports" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Client Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ClientID, new SelectList(ViewBag.TMSClient, "Id", "Name"), "--Select--", new { id = "ddlClientID", name = "ClientID", @class = "form-select", onchange = "onClientChange()" })
                                                <span id="errClientID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Project Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.TMSProject, "Id", "Name"), "--Select--", new { id = "ddlProjectID", name = "ProjectID", @class = "form-select", onchange = "onProjectChange()" })
                                                <span id="errProjectID" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Module Name
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ModuleId, new SelectList(ViewBag.TMSModule, "Id", "Name"), "--Select--", new { id = "ddlModuleID", name = "ModuleID", @class = "form-select" })
                                           
                                             </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.AssignToEmployeeID, new SelectList(ViewBag.GetEmployeeName, "Id", "Name"), "All", new { id = "ddlAssignToEmployeeID", name = "AssignToEmployeeID", @class = "form-select" })
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", type = "date", name = "FromDate", id = "txtFromDate" })
                                                <span id="errFromDate" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", type = "date", name = "ToDate", id = "txtToDate" })
                                                <span id="errToDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('title').html("Task Status Report");
        $("#ddlClientID").select2();
        $("#ddlProjectID").select2();
        $("#ddlModuleID").select2();
        $("#ddlAssignToEmployeeID").select2();
      

        var Title = @Html.Raw(Json.Encode(TempData["Title"]));
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            $(".Userloaderbg").css("display","none");
            if (Message != null) {
                var Text = "Your Download File Path Is "+Title+"";
                Swal.fire({
                    title: Message,
                    icon: Icon,
                    text: Text,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }



        $("#ddlClientID").on("change", function () {
            debugger;
            $("#ddlProjectID").find("option").remove();
            var ClientID = $("#ddlClientID").val();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetProject", "ESS_TMS_TaskStatusReport")',
                data: { ClientID: ClientID},
                success: function (data) {
                    debugger;
                    if (data.Project !=null) {
                        $("#ddlProjectID").append("<option value=0>--Select-- </option>");
                        $.each(data.Project, function(i, p) {
                            $("#ddlProjectID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    //if (data.YearList !=null) {
                    //    $("#GetFromYear").append("<option value=0>--Select-- </option>");
                    //    $.each(data.YearList, function(i, p) {
                    //        $("#GetFromYear").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    //    });
                    //}

                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlProjectID").on("change", function () {
            debugger;
            $("#ddlModuleID").find("option").remove();
        //    $("#ddlAssignToEmployeeID").find("option").remove();
            //   $("#ddlContractorId").find("option").remove();
            var ClientID = $("#ddlClientID").val();
            var ProjectID = $("#ddlProjectID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetModule", "ESS_TMS_TaskStatusReport")',
                data: { ClientID: ClientID,ProjectID:ProjectID},
                success: function (data) {
                    debugger;
                    if (data.Module !=null) {
                        $("#ddlModuleID").append("<option value=0>All</option>");
                        $.each(data.Module, function(i, p) {
                            $("#ddlModuleID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    //if (data.AssignToEmployeeID !=null) {
                    //        $("#ddlAssignToEmployeeID").append("<option value=0>--Select-- </option>");
                    //        $.each(data.YearList, function(i, p) {
                    //            $("#ddlAssignToEmployeeID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    //        });
                    //    }

                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
    });
</script>


<script>
    function downloadExcelFile() {
        debugger;

        var fromDate = encodeURIComponent($("#txtFromDate").val());
        var ToDate = encodeURIComponent($("#txtToDate").val());
        var AssignToEmployeeID=encodeURIComponent($("#ddlAssignToEmployeeID").val());
        var ClientID=encodeURIComponent($("#ddlClientID").val());
        var ProjectID=encodeURIComponent($("#ddlProjectID").val());
        var ModuleID=encodeURIComponent($("#ddlModuleID").val());
       // var TaskCategoryId=encodeURIComponent($("#ddlTaskCategoryId").val());

        var fromDateObj = new Date(fromDate);
       var toDateObj = new Date(ToDate);

        //var fromMonth = $("#GetFromMonth").val();
        //var toMonth = $("#GetToMonth").val();
        //var CmpId = encodeURIComponent($("#ddlCmpId").val());
        //var fromDate = fromMonth + "-01";
        //var lastDay = new Date(toMonth.split('-')[0], toMonth.split('-')[1], 0).getDate();
        //var ToDate = toMonth + "-" + lastDay;
        //var fromDateObj = new Date(fromDate);
        //var toDateObj = new Date(ToDate);

       $("#ErrorFromDate").html("");

       let isValid = true;

        // ---------------------- VALIDATION ----------------------

       if (!ClientID || ClientID === "0") {
           $("#errClientID").html("Please select Client Name");
           isValid = false;
       }

       if (!ProjectID || ProjectID === "0") {
           $("#errProjectID").html("Please select Project Name");
           isValid = false;
       }

       if (!fromDate) {
           $("#errFromDate").html("Please select From Date");
           isValid = false;
       }

       if (!ToDate) {
           $("#errToDate").html("Please select To Date");
           isValid = false;
       }

       if (fromDate && ToDate && (new Date(fromDate) > new Date(ToDate))) {
           $("#errToDate").html("To Date must be greater than or equal to From Date");
           isValid = false;
       }
       //if (!AssignToEmployeeID || AssignToEmployeeID === "0") {
       //    $("#errEmployeeId").html("Please select Employee Name");
       //    isValid = false;
       //}

       if (!isValid) return false;

        // ---------------------- IF VALID THEN CONTINUE ----------------------


        $(".Userloaderbg").css("display", "flex");

        var url = `@Url.Action("DownloadExcelFile", "ESS_TMS_TaskStatusReport")?AssignToEmployeeID=${AssignToEmployeeID}&FromDate=${fromDate}&ToDate=${ToDate}&ClientID=${ClientID}&ProjectID=${ProjectID}&ModuleID=${ModuleID}`;
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertMonthYearFormat(fromDate);
                var formattedToDate = convertMonthYearFormat(ToDate);

               // var formattedDate = convertMonthYearFormat(fromMonth);
                // var formattedToDate = convertMonthYearFormat(toMonth);

                //var formattedDate = $("#GetFromYear").val();

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'TaskStatusDetails(' + formattedDate + ').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },

            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>























@*<div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-body" data-scrollbar="false">

                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage tblAddData">
                                <thead style="background-color: rgba(233, 236, 239, 1) !important; width:auto">
                                    <tr>
                                        <th class="text-nowrap">Type</th>
                                        <th class="text-nowrap">Client Name</th>
                                        <th class="text-nowrap">Project Name</th>
                                        <th class="text-nowrap">Module Name</th>
                                        <th class="text-nowrap"> Assigned to Employee Name</th>
                                        <th class="text-nowrap">Task Status</th>
                                        <th class="text-nowrap">Complete Percentage</th>
                                        <th class="text-nowrap">Task Date</th>
                                        <th class="text-nowrap">Task Title</th>
                                        <th class="text-nowrap">Task Description</th>
                                    </tr>
                                </thead>
                                <tbody id="tblTmsReports">
                                    @if (ViewBag.GetTaskStatusReport != null)
                                    {
                                        foreach (var d in ViewBag.GetTaskStatusReport)
                                        {
                                            <tr>
                                                <td class="text-nowrap">@d.Type</td>
                                                <td class="text-nowrap">@d.ClientName</td>
                                                <td class="text-nowrap">@d.ProjectName</td>
                                                <td class="text-nowrap">@d.ModuleName</td>
                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@d.TaskStatus</td>
                                                <td class="text-nowrap">@d.CompletePercentage</td>
                                                <td class="text-nowrap">@d.TaskDate</td>
                                                <td class="text-nowrap">@d.TaskTittle</td>
                                                <td class="text-start text-center">
                                                    <input type="hidden" id="hiddenDescription_@d.Id" value="@d.TaskDescription" />
                                                    <i class="fa-solid fa-receipt fa-lg" onclick="AssignTaskDesc(encodeURIComponent(document.getElementById('hiddenDescription_@d.Id').value))" style="cursor:pointer; color: #ff5b57;"></i>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@

@*</form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
@*<div class="modal fade" id="modal_basic3" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h4 class="modal-title">Task Description</h4>
                    <div class="panel-heading-btn">
                    </div>
                </div>
                <div class="modal-body">

                    <div class="modal-body-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-15px">
                                                <div id="txtTaskStatus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancel" class="btn btn-success btnpress" onclick="dismissModal('modal_basic3')">
                        <i class="fa-solid fa-floppy-disk"> </i> Ok
                    </button>
                </div>
            </div>
        </div>
    </div>*@

@*<script>

    $(document).ready(function () {
        $("#ddlProjectID").select2();
        $("#ddlAssignToEmployeeID").select2();
    });
    $("#SaveTaskStatusReports").validate({
        rules: {
            FromDate: {
                required: true,
            },
            ToDate: {
                required: true,
            },
            //ProjectID: {
            //    required: true,
            //},
        },
        messages: {
            FromDate: {
                required: "From Date is required"
            },
            ToDate: {
                required: "To Date is required"
            },
            //ProjectID: {
            //    required: "Project Name is required",
            //},
        }
    });

    var form = $("#SaveTaskStatusReports");
    form.validate();
    $("#btnShow").click(function () {
        debugger;
        //var FormDate = $("#txtFromDate").val();
        //var ToDate = $("#txtToDate").val();
        //var EmpolyeeId = $("#dllEmployeeName").val();
        form.valid();
        if (form.valid() == false) {
            $("#txtFromDate").removeClass("error");
            $("#txtToDate").removeClass("error");
            return false;
        }
        $("#SaveTaskStatusReports").submit();
        @*$.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetAllTaskDetails", "ESS_TMS_EmployeeWiseReports")',
            data: { FormDate : FormDate, ToDate : ToDate, EmpolyeeId : EmpolyeeId},
            success: function (data) {
                debugger;
                console.log(data);
                $('#tblTmsReports tr').not(function () { return !!$(this).has('th').length; }).remove();
                for (var i = 0; i < data.length; i++) {
                    var table = document.getElementById("tblTmsReports");
                    var rowcount = table.rows.length;
                    var row = table.insertRow(rowcount);
                    row.insertCell(0).innerHTML = "" + data[i][0].Value + "";
                    row.insertCell(1).innerHTML = "" + data[i][1].Value + "";//doc
                    row.insertCell(2).innerHTML = "" + data[i][2].Value + "";//doc
                    row.insertCell(3).innerHTML = "" + data[i][3].Value + "";//doc
                    row.insertCell(4).innerHTML = "" + data[i][4].Value + "";//doc
                    row.insertCell(5).innerHTML = "" + data[i][5].Value + "";//doc
                    row.insertCell(6).innerHTML = "" + convertDate(data[i][6].Value) + "";//doc
                    row.insertCell(7).innerHTML = "" + convertDate(data[i][7].Value) + "";//doc
                    row.insertCell(8).innerHTML = "" + data[i][8].Value + "";//doc
                    row.insertCell(9).innerHTML = "" + data[i][9].Value + "";//doc
                }
            }
        });
    });
</script>*@

@*<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth, day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }

    function AssignTaskDesc(encodedHtml) {
        debugger;
        $('#txtTaskStatus').html('');
        const AssignDesc = decodeURIComponent(encodedHtml);
        $('#modal_basic3').modal('show');
        $('#modal_basic3').on('shown.bs.modal', function () {
            $('#txtTaskStatus').html(AssignDesc);
            //$('#txtTaskStatus').summernote('pasteHTML', WorkOnTask);
        });
    }

    function dismissModal(modalId) {
        $('#TaskDescription').html('');
        $('#tblTask tr').not(function () { return !!$(this).has('th').length; }).remove();
        $('#' + modalId).modal('hide');
    }

    function onProjectChange() {
        debugger
        var projectId = document.getElementById("ddlProjectID").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetModule", "ESS_TMS_Timesheet")',
            data: { ProjectId: projectId },
            success: function (data) {
                var $moduleDropdown = $("#txtModuleID");
                $moduleDropdown.empty();

                if (data && data.length > 0) {
                    $moduleDropdown.append("<option value=''>--Select--</option>");
                    $.each(data, function (i, module) {
                        $moduleDropdown.append(
                            $("<option>").val(module.Id).text(module.Name)
                        );
                    });
                } else {
                    $moduleDropdown.append("<option>--Select--</option>");
                }
            },
            error: function () {
                console.error("Failed to fetch modules.");
                $("#txtModuleID").empty().append("<option>Error loading modules</option>");
            }
        });
    }



</script>*@
