@model KompassHR.Areas.ESS.Models.ESS_LoanAndAdvance.Payroll_Advance
@{
    ViewBag.Title = "ESS_LoanAndAdvance_Advance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isSettlement = ViewBag.IsSettlement != null && (bool)ViewBag.IsSettlement;
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .select2.select2-container {
        width: 100% !important;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Advance
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_LoanAndAdvance_SubMenu", "ESS_LoanAndAdvance_SubMenu", new {id = 6, ScreenId=496, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Advance - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Fill in below form for advance salary here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_LoanAndAdvance_Advance", new { area = "ESS" })' id="SaveAdvance" method="post">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Doc No.
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", type = "text", id = "txtDocNo", autocomplete = "Off", @readonly = "readonly", Value = @ViewBag.DocNo.DocNo, Style = "background-color: #eee;" })
                                                @Html.HiddenFor(model => model.AdvanceID_Encrypted, new { id = "AdvanceID_Encrypted" })
                                                @Html.HiddenFor(model => model.AdvanceID)
                                                @Html.TextBox("Mode", "",new { id= "txtMode", name= "Mode", Value=@ViewBag.AddUpdateTitle,Style= "display:none;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Doc Date
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", type = "date", id = "dateDocDate", autocomplete = "Off", Name = "DocDate", @readonly = "readonly", Style = "background-color: #eee;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { id = "ddlCmpId", @class = "form-select", autocomplete = "off", name = "CmpId" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { id = "ddlBranchId", @class = "form-select", autocomplete = "off", name = "BranchId"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.AdvanceEmployeeID, new SelectList(ViewBag.GetEmployeeName, "Id", "Name"), "--Select--", new { id = "ddlAdvanceEmployeeID", @class = "form-select", autocomplete = "off", name = "AdvanceEmployeeID" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Advance Amount
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.AdvanceAmount, new { @class = "form-control", type = "number", onkeypress = " return numbervalidate(event)", id = "txtAdvanceAmount", autocomplete = "Off", Name = "AdvanceAmount", @style = "text-align:right" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Installment Amount
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.InstallmentAmount, new { @class = "form-control", type = "number", id = "txtInstallmentAmount", autocomplete = "Off", Name = "InstallmentAmount", @style = "text-align:right", onkeypress = " return numbervalidate(event)" })
                                                <span id="ErrorInstallmentAmount" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                No Of Installment
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.NoOfInstallment, new { @class = "form-control", type = "text", id = "txtNoOfInstallment", autocomplete = "Off", Name = "NoOfInstallment", @readonly = "readonly", @style = "background-color: #eee;" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Deduction Start Month /Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.FromMonthYear, new { @class = "form-control", type = "month", id = "dateFromMonthYear", autocomplete = "Off", Name = "FromMonthYear" })
                                                <span id="ErrorFromDate" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Deduction End Month /Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.ToMonthYear, new { @class = "form-control", type = "month", id = "dateToMonthYear", autocomplete = "Off", Name = "ToMonthYear", @readonly = "readonly", style = "background-color: #eee;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Remark
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", type = "text", id = "txtRemark", autocomplete = "Off", Name = "Remark" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (ViewBag.AddUpdateTitle == "AdvanceSettlment")
                                {
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Advance Settlement
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <label class="form-label col-md-2">Balance Amount</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.BalanceAmount, new { @class = "form-control", type = "number",id= "txtBalanceAmount", style = "text-align:right", onkeypress = "return numbervalidate(event)" })
                                    </div>

                                    <label class="form-label col-md-2">Settlement Amount</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.SettlementAmount, new { @class = "form-control", type = "number", style = "text-align:right", onkeypress = "return numbervalidate(event)" })
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <label class="form-label col-md-2">Settlement Remark</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.AdvanceSettlementRemark, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row" hidden>
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            Is Advance Settlement
                                        </label>
                                        <label class="form-label col-form-label col-md-2">
                                            @Html.CheckBoxFor(model => model.IsAdvanceSettlement, new { id = "chkIsAdvanceSettlement", @class = "chkIsAdvanceSettlement" })
                                        </label>
                                    </div>
                                </div>
                                }
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit"
                                                            class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>
                                                    <a href="@Url.Action("GetList", "ESS_LoanAndAdvance_Advance", new { area = "ESS" })">
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnAdvanceGetList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();
        $("#ddlAdvanceEmployeeID").select2();
        debugger
        var Doc = @Html.Raw(Json.Encode(TempData["DocDate"]));
        var FromDate = @Html.Raw(Json.Encode(TempData["FromMonthYear"]));
        var ToDate = @Html.Raw(Json.Encode(TempData["ToMonthYear"]));
        if(Doc!="")
        {
            $("#dateDocDate").val(Doc);
            $("#dateFromMonthYear").val(FromDate);
            $("#dateToMonthYear").val(ToDate);
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup();
                    popup.classList.toggle('animate__headShake', true);
                    setTimeout(() => popup.classList.toggle('animate__headShake', false), 500);
                    return false;
                }
            }).then(() => location.reload());
        }


        $("#ddlCmpId").on("change", function () {
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_LoanAndAdvance_Advance")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })


        $("#ddlBranchId").on("change", function () {
            debugger
            $("#ddlAdvanceEmployeeID").find("option").remove();
            var BranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url:'@Url.Action("GetEmployeeName", "ESS_LoanAndAdvance_Advance")',
                data: { BranchId: BranchId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlAdvanceEmployeeID").append("<option value=''>--Select--</option>");
                        $.each(data, function(i, p) {
                            $("#ddlAdvanceEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#dateDocDate").val(dateString);

    });//Ready Funcation

    $("#dateFromMonthYear, #txtNoOfInstallment").on("change", function () {
        debugger;
        var FromMonthYear = $("#dateFromMonthYear").val();
        var NoOfInstallment = Number($("#txtNoOfInstallment").val());

        if (FromMonthYear && NoOfInstallment > 0) {
            var sDate = new Date(FromMonthYear); // Convert input value to Date object
            var eDate = new Date(sDate); // Clone start date

            // Correct: include the start month, so add (NoOfInstallment - 1) months
            eDate.setMonth(eDate.getMonth() + (NoOfInstallment - 1));

            // Format date to YYYY-MM
            var formattedDate = eDate.getFullYear() + "-" +
                                String(eDate.getMonth() + 1).padStart(2, "0");

            $("#dateToMonthYear").val(formattedDate); // Set calculated ToMonthYear
        }
    });






    $("#txtInstallmentAmount").on("change", function () {
        debugger;

        var InstallmentAmount = Number($("#txtInstallmentAmount").val());
        var NoOfInstallment = Number($("#txtNoOfInstallment").val());
        var AdvanceAmount = Number($("#txtAdvanceAmount").val());
        $("#txtNoOfInstallment").val(0);
        // Validate the date range
        if (AdvanceAmount =="") {
            $("#ErrorInstallmentAmount").html("Advance amount is required");
            return false;
        } else {
            $("#ErrorInstallmentAmount").html("");
        }


        if (AdvanceAmount < InstallmentAmount) {
            $("#txtNoOfInstallment").val(0);
            $("#txtInstallmentAmount").val(0);
            $("#ErrorInstallmentAmount").html("Installment amount should be less than advance amount");
            return false;
        } else {
            $("#ErrorInstallmentAmount").html("");
        }


        if (NoOfInstallment !== "" && AdvanceAmount !== "") {
            //$("#txtNoOfInstallment").val(totalMonthDifference);
            var InstallmentAmount = Number($("#txtInstallmentAmount").val());
            var AdvanceAmount = Number($("#txtAdvanceAmount").val());

            // Validate inputs to ensure they are valid numbers
            if (AdvanceAmount > 0 && InstallmentAmount > 0) {
                var installmentAmount = Math.ceil(AdvanceAmount / InstallmentAmount); // Round up
                $("#txtNoOfInstallment").val(installmentAmount); // No decimal places
                var FromMonthYear = $("#dateFromMonthYear").val();
                var NoOfInstallment = Number($("#txtNoOfInstallment").val());
                if(FromMonthYear!=null ||FromMonthYear!="")
                {
                    if (FromMonthYear && NoOfInstallment > 0) {
                        var sDate = new Date(FromMonthYear); // Convert input value to Date object
                        var eDate = new Date(sDate); // Clone start date

                        // Add NoOfInstallments months
                        eDate.setMonth(eDate.getMonth() + NoOfInstallment);

                        // Format date to YYYY-MM for proper month-year display
                        var formattedDate = eDate.getFullYear() + "-" +
                                            String(eDate.getMonth() ).padStart(2, "0");

                        $("#dateToMonthYear").val(formattedDate); // Set calculated ToMonthYear
                    }
                }

            } else {
                $("#txtNoOfInstallment").val(""); // Clear the field if inputs are invalid
            }
        } else {
            $("#txtNoOfInstallment").val(0);
        }
    });

    $("#txtAdvanceAmount").on("keyup", function () {
        debugger;
        $("#txtNoOfInstallment").val(0);
        $("#txtInstallmentAmount").val(0);
    });


</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveAdvance").validate({
        rules: {
            DocDate: {
                required: true,
            },
            CmpId: {
                required: true,
            },
            BranchId: {
                required: true,
            },
            AdvanceEmployeeID: {
                required: true,
            },
            BranchID: {
                required: true,
            },
            AdvanceAmount: {
                required: true,
            },
            FromMonthYear: {
                required: true,
            },
            ToMonthYear: {
                required: true,
            },
            Remark: {
                required: true,
            },
            InstallmentAmount: {
                required: true,
            },
        },
        messages: {
            DocDate: {
                required: "Doc date is required",
            },
            CmpId: {
                required: "Company name is required",
            },

            AdvanceEmployeeID: {
                required: "Employee name is required",
            },
            BranchID: {
                required: "Business unit  is required",
            },
            AdvanceAmount: {
                required: "Advance amount is required",
            },
            FromMonthYear: {
                required: "From month/year  is required",
            },
            ToMonthYear: {
                required: "To month/year  is required",
            },
            InstallmentAmount: {
                required: "Installment amount is required",
            },
            Remark: {
                required: "Remark is required",
            },
        }
    });

    var form = $("#SaveAdvance");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#dateDeducationMonth").removeClass('error');
            $("#dateRequiredDate").removeClass('error');
            $("#dateDocDate").removeClass('error');

            return false;
        }

        var AdvanceEmployeeID=$("#ddlAdvanceEmployeeID").val();
        var BranchId=$("#ddlBranchId").val();
        var DeducationMonth=$("#dateFromMonthYear").val();
        var AdvanceID_Encrypted=$("#AdvanceID_Encrypted").val();

        //var BalanceAmoun=$("#txtBalanceAmount").val();
        //var DeducationMonth=$("#dateFromMonthYear").val();
        //var AdvanceID_Encrypted=$("#AdvanceID_Encrypted").val();

        $(".Userloaderbg").css("display", "flex");

        $.ajax({
            url: '@Url.Action("IsAdvanceExists", "ESS_LoanAndAdvance_Advance")',
            method:"Get",
            data:{AdvanceEmployeeID:AdvanceEmployeeID,DeducationMonth:DeducationMonth,AdvanceID_Encrypted:AdvanceID_Encrypted,BranchId:BranchId},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    $(".Userloaderbg").css("display", "none");
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveAdvance").submit();

                }
            }
        });

    });
</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }
</script>

<script>
    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        var isSettlement = '@isSettlement'.toLowerCase() === "true";

        if (isSettlement) {
            $("#ddlCmpId, #ddlBranchId, #ddlAdvanceEmployeeID").each(function () {
                var $sel = $(this);
                var name = $sel.attr('name');
                if ($('input[name="' + name + '"]').length === 0) {
                    $sel.after('<input type="hidden" name="' + name + '" />');
                }
                $('input[name="' + name + '"]').val($sel.val());
                $sel.prop('disabled', true).css({ "background-color": "#eee", "color": "#555" });

                $sel.on('change.programSync', function () {
                    $('input[name="' + name + '"]').val($sel.val());
                });
            });


            // For textboxes / dates / remarks
            $("#txtAdvanceAmount, #txtInstallmentAmount, #txtNoOfInstallment, #dateFromMonthYear, #dateToMonthYear, #txtRemark,#txtBalanceAmount")
                .prop("readonly", true)
                .css("background-color", "#eee");
        }


    });
</script>
