@model KompassHR.Areas.ESS.Models.ESS_TMS.TimeSheet_Report

@{
    ViewBag.Title = "ESS_TMS_TimesheetReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .font-bold {
        font-weight: 700 !important;
    }
</style>


@*<script src="~/scripts/jquery-1.10.2.js"></script>*@
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                TimeSheet Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_TMSReports", "ESS_TMS_TMSReports", new {id = 12, ScreenId=232, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> TimeSheet Report</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Export report of TimeSheet Report.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row justify-content-center">
                        <form role="form" href="@Url.Action("ESS_TMS_TimesheetReport", "ESS_TMS_TimesheetReport", new { area = "ESS" })" id="formTimeSheetReport" ,Method="Post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Company
                                            <span id="label" class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { @class = "form-select", name = "CmpId", id = "ddlCmpId" })
                                            <span id="ErrorddlCmpId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Client Name
                                            <span id="label" class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.ClientId, new SelectList(ViewBag.ClientName, "Id", "Name"), "--Select--", new { @class = "form-select", name = "ClientId", id = "ddlClientId" })
                                            <span id="ErrorddlClientId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                           Employee Name
                                            <span id="label" class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "--Select--", new { @class = "form-select", name = "EmployeeId", id = "ddlEmployeeId" })
                                            <span id="ErrorddlEmployeeId" class="Error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Month Year
                                            <span id="label" class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-select", name = "MonthYear", id = "txtMonthYear", type = "Month" })
                                            <span id="ErrortxtMonthYear" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                      

                            @*<div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" class="btn btn-success" id="btnShow">            
                                                         Show
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@



                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnShow"
                                                            class="btn btn-primary btn-sm">
                                                        @*<i class="fa-solid fa-floppy-disk"></i>*@ 
                                                       Show
                                                    </button>
                                                    <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                        <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*<div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                        <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger
        $("#ddlcmpId").select2();
        $("#ddlClientId").select2();
        $("#ddlEmployeeId").select2();

        @*var isSearch = @ViewBag.IsSearch.ToString().ToLower();
        var hasData = @(ViewBag.Getdata != null && ViewBag.Getdata.Count > 0 ? "true" : "false");

        if (isSearch && !hasData) {
            Swal.fire({
                icon: 'warning',
                title: 'No Data Found',
                confirmButtonText: 'OK'
            });
        }*@
    });
</script>

<script>
        jQuery.validator.addMethod(
        "regex",
         function(value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         },"erreur expression reguliere"
      );

        $('#formTimeSheetReport').validate({
            rules: {
                CmpId: {
                    required: true,
                },
                ClientId: {
                    required:true,
                },
                EmployeeId: {
                    required: true,
                },
                MonthYear: {
                    required:true,
                },

            },
            messages: {
                CmpId: {
                    required:"Company name is required",
                },
                ClientId: {

                    required: "Client Name is required",

                },
                EmployeeId: {
                    required:"Employee Name is required"
                },
                MonthYear: {
                    required:"Month Year is required"
                },

            },

            //errorPlacement: function (error, element) {
            //    if (element.hasClass("select2-hidden-accessible")) {
            //        error.insertAfter(element.next('.select2'));
            //    } else {
            //        error.insertAfter(element);
            //    }
            //}
        });

        var form = $("#formTimeSheetReport");
        form.validate();
        $("#btnShow").click(function () {
            //function ViewData() {
            debugger;
            form.valid();
            if(form.valid()==false)
            {
                $("#txtEstablishedDate").removeClass("error");
                return false;
            }

            var CmpId = $("#ddlCmpId").val();
            var ClientId = $("#ddlClientId").val();
            var EmployeeId = $("#ddlEmployeeId").val();
            var MonthYear = $("#txtMonthYear").val();

            var url = '@Url.Action("ViewData", "ESS_TMS_TimesheetReport")'
                             + '?CmpId=' + CmpId
                             + '&ClientId=' + ClientId
                             + '&EmployeeId=' + EmployeeId
                             + '&MonthYear=' + MonthYear;

            window.location.href = url;
        });


    if (window.location.search.length > 0) {
        window.history.replaceState({}, document.title, window.location.pathname);
    }
</script>

<script>
    function downloadExcelFile() {
        debugger;

        form.valid();
        if (!form.valid())
            return false;

        $(".Userloaderbg").css("display", "none");

        $.ajax({
            url: '@Url.Action("DownloadExcelFile", "ESS_TMS_TimesheetReport")',
            type: 'POST',
            data: {
                CmpId: $("#ddlCmpId").val(),
                ClientId: $("#ddlClientId").val(),
                EmployeeId: $("#ddlEmployeeId").val(),
                MonthYear: $("#txtMonthYear").val()
            },
            xhrFields: {
                responseType: 'blob'
            },
            success: function (data, status, xhr) {
                $(".Userloaderbg").css("display", "none");

                // Detect error text response
                var contentType = xhr.getResponseHeader("Content-Type");

                if (contentType && contentType.indexOf("text/plain") !== -1) {
                    // Convert blob -> text
                    var reader = new FileReader();
                    reader.onload = function () {
                        Swal.fire({ icon: 'error', text: reader.result });
                    };
                    reader.readAsText(data);
                    return;
                }

                // Download Excel
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var url = window.URL.createObjectURL(blob);

                var a = document.createElement('a');
                a.href = url;
                a.download = "TimeSheetReport.xlsx";
                a.click();

                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error('Error downloading file:', error);
            }
            //error: function () {
            //    $(".Userloaderbg").css("display", "none");
            //    Swal.fire({ icon: 'error', text: 'Error downloading file' });
            //}
        });
    }

</script>


@*@*<script>

    function downloadExcelFile() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#txtFromDate").removeClass("error");
            $("#txtToDate").removeClass("error");
            return false;
        }

        var CmpId = $("#ddlCmpId").val();
        var ClientId = $("#ddlClientId").val();
        var EmployeeId = $("#ddlEmployeeId").val();
        var MonthYear = $("#txtMonthYear").val();


        $.ajax({
            url: '@Url.Action("DownloadExcelFile", "ESS_TMS_TimesheetReport")',
            method: 'GET',
            data: {
                CmpId: CmpId,
                ClientId: ClientId,
                EmployeeId: EmployeeId,
                MonthYear: MonthYear
            
            },
            xhrFields: {
                responseType: 'blob' 
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                // Format dates for filename
                var formattedDate = convertMonthYearFormat(FromDate);
                var formattedToDate = convertMonthYearFormat(ToDate);

                // Create and download file
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'TimesheetReport('+formattedDate+' to '+formattedToDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>*@

  

