@model KompassHR.Areas.Module.Models.Module_Employee.Mas_Employee_Reporting
@{
    ViewBag.Title = "Module_Employee_Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*.select :disabled {
      color: grey !important;
    }*/
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



     .box2 {
   

    text-align:center;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
  

    }
        .box2 .info {
       
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

        .box2 .imgbx {
      width: 80px;
    height: 80px;
    padding:5px 0px;
    font-family:Open Sans,sans-serif;
          border: 1px solid #dedede;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content:center;
    align-items:center;
        }

        /*.box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
           
        }*/
        .box2 img {
             width: 50px;
    height: 50px;
    filter: brightness(1.2);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
           
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
           
            text-align: center;
            display: flex;
            justify-content: center;
  color:#000;
            text-transform: capitalize;
            margin-top: 5px;
      
          
        }


    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
            position: sticky;
            left: 62px;
        }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
            position: sticky;
            left: 62px;
        }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
            background-color: rgba(233, 236, 239, 0.5) !important;
        }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    #tblRequestApproval input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblRequestApproval input[type="time"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblRequestApproval input[type="datetime-local"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblRequestApproval input[type="date"] {
        height: 25px; /* Adjust the height as needed */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Request Approval
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new {id = 3, ScreenId=142, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Request Approval - @ViewBag.AddUpdateTitle</h4>
                    @*<div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>*@
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define the approval workflows for each process, including the sequence of approvers, escalation procedures, and conditions for approval or rejection.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Employee_Reporting", new { area = "Module" })' id="SaveReporting" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["OnboardEmployeeName"] -  @Session["OnboardEmployeeNo"] </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["OnboardEmpDepartment"] / @Session["OnboardEmpDesignation"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @Session["OnboardEmpDoj"] </h6>
                                            </span>
                                            <hr>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Request Approval
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN table-responsive -->
                                        <div class="table-scroll div1">
                                            <div class="table-wrap">
                                                <table class="table table-bordered align-middle" id="tblRequestApproval" style="width: 100%;">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th hidden>ModuleId</th>
                                                            <th>Sr.No.</th>
                                                            <th class="text-nowrap">Module Name</th>
                                                            @for (int i = 0; i < ViewBag.GetApprovalLevel.Count; i++)
                                                            {
                                                                <th class="text-nowrap">Level-@(i + 1) Approval Name</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int serialNumber = 1; // Initialize the serial number
                                                        }
                                                        @foreach (var d in ViewBag.ModuleList)
                                                        {
                                                            <tr>
                                                                <td hidden>@d.Id</td>
                                                                <td class="text-center">@serialNumber</td>
                                                                <td>@d.Name</td>
                                                                @{
                                                                    int index = 1; // Initialize the index variable
                                                                }
                                                                @foreach (var cell in ViewBag.GetApprovalLevel)
                                                                {
                                                                    <td>
                                                                        @Html.DropDownList($"Approval_{serialNumber}_{index}", new SelectList(ViewBag.ManagerLists, "Id", "Name"), "--Select--", new { @class = $"form-select ddlSelect2_{serialNumber}_{index}", name = "Approval", autocomplete = "Off", style = "width:100%; height: 25px; padding:0px; padding-left: 10px;" })
                                                                        @*@Html.DropDownList($"Approval_{serialNumber}_{cell}", new SelectList(ViewBag.ManagerLists, "Id", "Name"), "--Select--", new { @class = "form-select ddlSelect2", autocomplete = "Off", style = "width:100%; height: 25px; padding:0px; padding-left: 10px;" })*@
                                                                    </td>
                                                                    index++;
                                                                }
                                                            </tr>
                                                                        serialNumber++;
                                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="btnSubmit" type="button">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" id="DIVReplicaApproval" type="button" onclick="OpenModal()">
                                                            @*<i class="fa-solid fa-floppy-disk"></i>*@ Replica Approval
                                                        </button>
                                                        <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new { area = "Module" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!-- END panel -->
        </div>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Replica Approval</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <form role="form" action='@Url.Action("ApprovalCopy", "Module_Employee_Reporting", new { area = "Module" })' id="SaveReportingCopy" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        From Employee
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("FromUser", new SelectList(ViewBag.ManagerLists, "Id", "Name"), "--Select--", new { @class = "form-control", id = "ddlFromUser", type = "text", name = "FromUser", autocomplete = "Off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        To Employee
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("ToUser", new SelectList(ViewBag.ManagerLists, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlToUser", type = "text", name = "ToUser", autocomplete = "Off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END panel -->
                        <div class="modal-footer">
                            <button type="button" id="btnSubmitReportingCopy" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-floppy-disk"> </i> Submit
                            </button>
                            <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                                <i class="fa-solid fa-share-from-square"></i> Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<div class="row">
    @Html.Action("Onboarding_SidebarMenu", "Module_Employee_PersonalInfo")
</div>

<script>

    $(document).ready(function () {
        debugger;
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: false
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        //$("#ddlFromUser").select2();
        //$("#ddlToUser").select2();
        var TransferOrigin = localStorage.getItem('TransferOrigin');
        if (TransferOrigin!="")
        {
            $("#btnActionList").hide();
        }
        var myArray = @Html.Raw(Json.Encode(ViewBag.SetReportintId));
        $('#tblRequestApproval tbody tr').each(function(index) {
            debugger;
            var row = $(this);
            var rowIndex = index + 1;
            row.find("td").eq(3).find('.ddlSelect2_'+rowIndex+'_1').select2();
            row.find("td").eq(4).find('.ddlSelect2_'+rowIndex+'_2').select2();
            row.find("td").eq(5).find('.ddlSelect2_'+rowIndex+'_3').select2();

            var ModuleIds = $.trim(row.find("td").eq(0).text());
            var ModuleId = Number(ModuleIds);
            myArray.forEach(function(item,arrayIndex) {
                if (item[0].Value == ModuleId) {
                    var level1Select = row.find("td").eq(3).find("select");
                    var level2Select = row.find("td").eq(4).find("select");
                    var level3Select = row.find("td").eq(5).find("select");

                    var Level1 = level1Select.val();
                    var Level2 = level2Select.val();
                    var Level3 = level3Select.val();

                    if (Level1 === "") {
                        level1Select.val(item[1].Value).trigger('change');
                        return;
                    }
                    if (Level2 === "") {
                        level2Select.val(item[1].Value).trigger('change');
                        return;
                    }
                    if (Level3 === "") {
                        level3Select.val(item[1].Value).trigger('change');
                        return;
                    }
                }
            });
        });

        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false // Disable outside clicks
            }).then((result) => {
                if (result.isConfirmed) {
                    var TransferOrigin = localStorage.getItem('TransferOrigin');
                    if (TransferOrigin=="Trans_BU")
                    {
                        window.location.href = '@Url.Action("ESS_EmployeeTransfer_ForApproval", "ESS_EmployeeTransfer_ForApproval", new { area= "ESS" })';
                    }
                    else{
                        window.location.href = '@Url.Action("Module_Employee_Reporting", "Module_Employee_Reporting", new { area= "Module" })';
                    }
                }
            });
        }

    });//ready
</script>


<script>
    function OpenModal()
    {
        $("#myModal").modal('show');
        $("#ddlFromUser").select2({
            dropdownParent: $('#myModal')
        });

        $("#ddlToUser").select2({
            dropdownParent: $('#myModal')
        });
    }
    function UpdateReporting(ReportingID_Encrypted) {
        debugger
        var url = '@Url.Action("Module_Employee_Reporting", "Module_Employee_Reporting")?ReportingID_Encrypted=' + ReportingID_Encrypted;
        window.location.href = url;

    }
    function DeleteReporting(ReportingID_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "Module_Employee_Reporting")?ReportingID_Encrypted=' + ReportingID_Encrypted;
                //window.location.href = url;

            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }

        })
    }


    $("#ddlApproverLevel").val($("#ddlApproverLevel").val() === "0" ? "" : $("#ddlApproverLevel").val());
    $('#ddlApproverLevel').on('input propertychange paste', function() {
        $("#ddlApproverLevel").val($("#ddlApproverLevel").val() === "0" ? "" : $("#ddlApproverLevel").val());
    });
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);


    $("#SaveReporting").validate({
        rules: {
            ReportingModuleID: {
                required: true,
            },
            ReportingManager1: {
                required: true,
            },
            ReportingHR: {
                required: true,
            },
        },
        messages: {
            ReportingModuleID: {
                required: "Module is required",
            },
            ReportingManager1: {
                required: "Manager 1 is required",
            },

            ReportingHR: {
                required: "HR is required",
            },
        }
    });

    var form = $("#SaveReporting");
    form.validate();
    $("#btnSubmit").click(function () {
        $(".Userloaderbg").css("display", "flex");
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var hasError=false;
        var RequestApproval = [];
        $("#tblRequestApproval tbody tr").each(function (index) {
            debugger;
            var row = $(this).closest("tr");
            var tblRowData = {};

            var rowNumber = row.find("td").eq(1).html(); // Assuming this gets the row number.
            tblRowData.ModuleId = row.find("td").eq(0).html();

            var level1 = row.find("td").eq(3).find("select").val();
            var level2 = row.find("td").eq(4).find("select").val();
            var level3 = row.find("td").eq(5).find("select").val();

            tblRowData.Level1ReportingManagerId = level1;
            tblRowData.Level2ReportingManagerId = level2;
            tblRowData.Level3ReportingManagerId = level3;

            // Check if the same employee is selected in all three dropdowns
            if ((level1 && level2 && level3) && (level1 === level2 && level2 === level3 && level1 === level3)) {
                Swal.fire({
                    icon: "error",
                    text: "Same employee cannot be selected for Level 1, Level 2, and Level 3 Reporting Managers in row " + (rowNumber) + ".",
                    allowOutsideClick: false
                }).then(function () {
                    $(".Userloaderbg").css("display", "none");
                    return false;
                });
                hasError = true;
                return false;
            }

            // Check if the same employee is selected in any two dropdowns
            if ((level1 === level2 && level1 !== '') || (level2 === level3 && level2 !== '') || (level1 === level3 && level1 !== '')) {
                Swal.fire({
                    icon: "error",
                    text: "Same employee cannot be selected for more than one reporting level in row " + (rowNumber) + ".",
                    allowOutsideClick: false
                }).then(function () {
                    $(".Userloaderbg").css("display", "none");
                    return false;
                });
                hasError = true;
                return false;
            }

            // Check if Level 3 is selected but Level 1 or Level 2 is not
            if (level3 && (!level1 || !level2)) {
                Swal.fire({
                    icon: "error",
                    text: "Level 1 and Level 2 Reporting Managers must be required before selecting Level 3 in row " + (rowNumber) + ".",
                    allowOutsideClick: false
                }).then(function () {
                    $(".Userloaderbg").css("display", "none");
                    return false;
                });
                hasError = true;
                return false;
            }

            // Check if Level 2 is selected but Level 1 is not
            if (level2 && !level1) {
                Swal.fire({
                    icon: "error",
                    text: "Level 1 Reporting Manager must be required before selecting Level 2 in row " + (rowNumber) + ".",
                    allowOutsideClick: false
                }).then(function () {
                    $(".Userloaderbg").css("display", "none");
                    return false;
                });
                hasError = true;
                return false;
            }

            // Add valid data to RequestApproval array
            if(level1 || level2 || level3) {
                RequestApproval.push(tblRowData);
            }

        });


        console.log(RequestApproval);
        if (hasError == true) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("SaveUpdate", "Module_Employee_Reporting")',
            type: "POST",
            data: JSON.stringify({ RequestApproval: RequestApproval }),
            contentType: "application/json; charset=utf-8",
            dataType: "json", // ✅ Return parsed JSON
            success: function (response) {
                $(".Userloaderbg").css("display", "none"); // ✅ Always hide loader
                debugger;

                var Message1 = response.message;
                var Icon1 = response.Icon;

                if (Icon1 === "success") {
                    Swal.fire({
                        icon: Icon1,
                        text: Message1,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var TransferOrigin = localStorage.getItem('TransferOrigin');
                            if (TransferOrigin === "Trans_BU") {
                                window.location.href = '@Url.Action("ESS_EmployeeTransfer_ForApproval", "ESS_EmployeeTransfer_ForApproval", new { area= "ESS" })';
                            } else {
                                window.location.href = '@Url.Action("Module_Employee_Reporting", "Module_Employee_Reporting", new { area= "Module" })';
                            }
                        }
                    });
                } else {
                    // ❗ Show error/pending approval message
                    Swal.fire({
                        icon: Icon1 || "error",
                        text: Message1 || "Something went wrong",
                        allowOutsideClick: false
                    });
                }
            },
            error: function (xhr, status, error) {
                $(".Userloaderbg").css("display", "none"); // Always stop loader
                Swal.fire({
                    icon: "error",
                    text: "Server error: " + error,
                    allowOutsideClick: false
                });
            }
        });

    });
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);
    $('#SaveReportingCopy').validate({
        rules: {
            FromUser: {
                required: true,
            },
            ToUser: {
                required: true,
            },


        },
        messages: {
            FromUser: {
                required: "From employee is required"
            },
            ToUser: {
                required: "To employee is required",
            },

        }
    });
    var form = $("#SaveReportingCopy");
    form.validate();
    $("#btnSubmitReportingCopy").click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }
        var FromUser = $("#ddlFromUser").val();
        var ToUser = $("#ddlToUser").val();

        $.ajax({
            type: 'get',
            url: '@Url.Action("IsReportingCopyExists", "Module_Employee_Reporting")',
            data: { FromUser: FromUser, ToUser: ToUser },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                debugger;
                $(".Userloaderbg").css("display", "none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    $("#SaveReportingCopy").submit();

                }
            }
        });
    });

</script>