
@{
    ViewBag.Title = "Module_Employee_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<link href="~/assets/MyCSS/MenuImages.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- ================== End SWEEand css ================== -->

<div id="content" class="app-content">
    <div class="pageHeader d-flex align-items-center justify-content-between" style="flex-wrap:nowrap;">
        <h5 class="page-header text-center text-md-start">Onboarding </h5>
        <ol class="breadcrumb float-md-end mb-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                    <img src="~/assets/img/Icons/home-button.png" class="img-fluid" style="max-width: 40%;float:right" />
                </a>
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p> <b>Onboarding</b> menu allows HR administrators to capture essential information about new employees, including personal details, contact information, emergency contacts, employment history, educational background, and other relevant data.</p>
                </div>

                <div class="panel-body">
                    <div class="row mb-20px">


                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-blue mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Active Employee</div>
                                    <div class="stats-number">

                                        <a href="@Url.Action("Module_Employee_AllEmployee", "Module_Employee_AllEmployee", new { area = "Module" })" id="anchorApprovals" style="color:white;" onClick="Showdata('RECR03','Approvals pending with me')">@TempData["ActiveEmployeeCount"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 100%;" id="divActiveEmployee"></div>
                                    </div>
                                    @*<div class="stats-desc">Active Employee <span id="spnActiveEmployee"></span></div>*@
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="idget widget-stats bg-teal mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Left Employee</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("StaffLeftEmployeeList", "Module_Employee_Onboarding", new { area = "Module" })" id="anchorApprovals" style="color:white;" onClick="Showdata('RECR03','Approvals pending with me')">  @TempData["LeftEmployeeCount"] </a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;" id="divLeftEmployee"></div>
                                    </div>
                                    @*<div class="stats-desc">Left Employee <span id="spnLeftEmployee"></span></div>*@
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-purple mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">New Joining</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("Reports_Onboarding_NewJoining", "Reports_Onboarding_NewJoining", new { area = "Reports" })" id="AchorRequsitions" onClick="Showdata('RECR01','Open raised by me')" style="color:white;">@TempData["NewJoiningEmployeeCount"] </a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 76.3%;" id="divNewJoinee"></div>
                                    </div>
                                    <div class="stats-desc">New Joinee Employee <span id="spnNewJoinee"></span></div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-4 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-dark mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Male Employee</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("Reports_Onboarding_GenderWiseList", "Reports_Onboarding_GenderWiseList", new { area = "Reports" })" id="AnchorInterview" onClick="Showdata('RECR07','Interviews pending with me')" style="color:white;">@TempData["MaleEmployeeCount"] </a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 23.5%;" id="divMaleEmployee"></div>
                                    </div>
                                    <div class="stats-desc">Male Employee <span id="spnMaleEmployee"></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-orange mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Female Employee</div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("Reports_Onboarding_GenderWiseList", "Reports_Onboarding_GenderWiseList", new { area = "Reports" })" id="AnchorInterview" onClick="Showdata('RECR07','Interviews pending with me')" style="color:white;">@TempData["FemaleEmployeeCount"] </a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 23.5%;" id="divFemaleEmployee"></div>
                                    </div>
                                    <div class="stats-desc">Female Employee <span id="spnFemaleEmployee"></span></div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-pink mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                                <div class="stats-content" style="height:100px;">
                                    <div class="stats-title">Tenure </div>
                                    <div class="stats-number">
                                        <a href="@Url.Action("Reports_Onboarding_TenureEmployee", "Reports_Onboarding_TenureEmployee", new { area = "Reports" })" id="AnchorDatabaseCandidates" onClick="Showdata('DatabaseCandidates','Database Candidates')" style="color:white;">@TempData["TenuredEmployeeCount"]</a>
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 10.5%;" id="divTenureEmployee"></div>
                                    </div>
                                    <div class="stats-desc">Tenure Employee <span id="spnTenureEmployee"></span></div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->

                    </div>
                    <div class="gradientLine-Div">
                        <div class="gradientLine1"> </div>
                        <div><strong>Menu</strong></div>
                        <div class="gradientLine2"> </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row" style="padding: 0px 5px;">
                                @foreach (var item in ViewBag.GetUserMenuList)
                                {
                                    <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" class="col-md-2 col-3 d-flex" style="text-decoration:none !important; padding: 0px 5px;">

                                        <div class="quickLinks-box" style="margin-bottom: 10px;">
                                            <img src="~/assets/MenuImages/@item.Icon" width="50px" height="50px" />
                                            <h3>@item.ScreenDisplayMenuName</h3>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger;
        localStorage.setItem('TransferOrigin', "")
        var cat = localStorage.getItem('TransferOrigin');
        let TotalEmployee = @Html.Raw(Json.Encode(TempData["ActiveEmployeeCount"]));
        let LeftEmployee = @Html.Raw(Json.Encode(TempData["LeftEmployeeCount"]));
        let NewJoinee = @Html.Raw(Json.Encode(TempData["NewJoiningEmployeeCount"]));
        let Male = @Html.Raw(Json.Encode(TempData["MaleEmployeeCount"]));
        let Female = @Html.Raw(Json.Encode(TempData["FemaleEmployeeCount"]));
        let Tenure = @Html.Raw(Json.Encode(TempData["TenuredEmployeeCount"]));
        // Calculating percentages
        let TotalEmployeePercentage = 100;
        let LeftEmployeePercentage = (LeftEmployee / TotalEmployee) * 100;
        let NewJoineePercentage = (NewJoinee / TotalEmployee) * 100;
        let MalePercentage = (Male / TotalEmployee) * 100;
        let FemalePercentage = (Female / TotalEmployee) * 100;
        let TenurePercentage = (Tenure / TotalEmployee) * 100;

        document.getElementById('divActiveEmployee').style.width = TotalEmployeePercentage.toFixed(2) + "%";
        document.getElementById('spnActiveEmployee').innerHTML = TotalEmployeePercentage.toFixed(2) + "%";
        document.getElementById('divLeftEmployee').style.width = LeftEmployeePercentage.toFixed(2) + "%";
        document.getElementById('spnLeftEmployee').innerHTML = LeftEmployeePercentage.toFixed(2) + "%";
        document.getElementById('divNewJoinee').style.width = NewJoineePercentage.toFixed(2) + "%";
        document.getElementById('spnNewJoinee').innerHTML = NewJoineePercentage.toFixed(2) + "%";
        document.getElementById('divMaleEmployee').style.width = MalePercentage.toFixed(2) + "%";
        document.getElementById('spnMaleEmployee').innerHTML = MalePercentage.toFixed(2) + "%";
        document.getElementById('divFemaleEmployee').style.width = FemalePercentage.toFixed(2) + "%";
        document.getElementById('spnFemaleEmployee').innerHTML = FemalePercentage.toFixed(2) + "%";
        document.getElementById('divTenureEmployee').style.width = TenurePercentage.toFixed(2) + "%";
        document.getElementById('spnTenureEmployee').innerHTML = TenurePercentage.toFixed(2) + "%";

    });
</script>
