@model KompassHR.Areas.Setting.Models.Setting_FullAndFinal.FNF_NoticePeriod
@{
    ViewBag.Title = "Setting_FullAndFinal_NoticePeriod";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Notice Period
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_FullAndFinal_Menu", "Setting_FullAndFinal_Menu", new { id = 7, ScreenId =68, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Notice Period - <b>@ViewBag.AddUpdateTitle</b></h4>
                   
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define notice period here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_FullAndFinal_NoticePeriod", new { area = "Setting" })' id="SaveNoticePeriod" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Department
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.GetDepartmentName, "Id", "Name"), "--Select--", new { id = "ddlDepartmentID", @class = "form-select", autocomplete = "off", name = "DepartmentID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Designation
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DesignationID, new SelectList(ViewBag.GetDesignationName, "Id", "Name"), "--Select--", new { id = "ddlDesignationID", @class = "form-select", autocomplete = "off", name = "DesignationID" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Grade
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.NoticePeriodGradeId, new SelectList(ViewBag.GetGradeName, "GradeId", "GradeName"), "--Select--", new { id = "NoticePeriodGradeId", @class = "form-select", autocomplete = "off", name = "NoticePeriodGradeId" })
                                                @Html.HiddenFor(model => model.NoticePeriodId_Encrypted, new { id = "NoticePeriodId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                No of Days
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.NoticePeriodDays, new { @class = "form-control", type = "text", id = "txtNoticePeriodDays", autocomplete = "Off", name = "NoticePeriodDays", maxlength = "3", oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_FullAndFinal_NoticePeriod", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetNoticePeriodList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ddlDepartmentID").select2();
        $("#ddlDesignationID").select2();
        $("#NoticePeriodGradeId").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }



    });
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
     "regex",
     function (value, element, regexp) {
         var re = new RegExp(regexp);
         return this.optional(element) || re.test(value);
     },
     "Invalid input" // Default error message for regex
 );


    $("#SaveNoticePeriod").validate({
        rules: {
            NoticePeriodGradeId: {
                required: true,
            },
            NoticePeriodDays: {
                required: true,
            },
            DepartmentID: {
                required: true,
            },
            DesignationID: {
                required: true,
            },
        },
        messages: {
            NoticePeriodGradeId: {
                required: "Grade is required",
            },
            NoticePeriodDays: {
                required: "No. of days is required",
            },
            DepartmentID: {
                required: "Department is required",
            },
            DesignationID: {
                required: "Designation is required",
            },
        },

    });
    var form = $("#SaveNoticePeriod");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        var NoticePeriodGradeId=$("#NoticePeriodGradeId").val();
        var NoticePeriodId_Encrypted=$("#NoticePeriodId_Encrypted").val();
        var DeptID = Number($('#ddlDepartmentID ').val());
        var DesgID = Number($('#ddlDesignationID ').val());
        $.ajax({
            method:"get",
            dataType: 'JSON',
            url: '@Url.Action("IsNoticePeriodExists", "Setting_FullAndFinal_NoticePeriod")',
            data:{NoticePeriodGradeId:NoticePeriodGradeId,NoticePeriodId_Encrypted:NoticePeriodId_Encrypted,DeptID:DeptID,DesgID:DesgID},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveNoticePeriod").submit();
                }
            }
        });

    });

</script>
