@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_InvestmentDeclaration_LetOutHouseProperty
@{
    ViewBag.Title = "ESS_Tax_Investment_IncomeFromLetOutHouseProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    /*body {
        font-family: 'Montserrat', sans-serif;
    }

        body.swal2-shown > [aria-hidden="true"] {
            filter: blur(2px);
        }

    .important {
        margin-left: 3px;
        font-weight: 700;
        color: red;
    }

    .btnpress:focus-visible {
        outline: 0 !important;
    }

    .btnpress:active {
        transform: translateY(4px);
        color: #fff;
    }

    .BtnBx {
        display: flex;
        justify-content: end;
    }

        .BtnBx .btn {
            margin: 5px 3px;
            font-size: 12px;
        }*/

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8) {
        text-align: right;
    }

    /*.invoice {
        border-radius: 12px;
        border: 3px solid #fff;

        padding: 10px 20px !important;
        margin-bottom: 10px;
        backdrop-filter: blur(25px) saturate(00%);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
    }

        .invoice > div:not(.invoice-footer) {
            margin: 0;
        }*/

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    .table td:nth-child(9) {
        display: none;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .form-label.col-5 {
        font-weight: bold; /* Adjust the weight as needed */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Income From Let Out House Property
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new {id = 9, ScreenId=176, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Income From Let Out House Property - <b> @ViewBag.AddUpdateTitle </b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add here let out house property.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_Tax_Investment_IncomeFromLetOutHouseProperty", new { area = "ESS" })" id="SaveIncomeFromLetOutHouseProperty" name="IncomeFromLetOutHouseProperty" method="post" enctype="multipart/form-data">
                                @*<div class="row">
                                        <div class="col-md-12">
                                            <div class="invoice">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Employee No
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.EmployeeNo
                                                                        }
                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-2 col-5">
                                                                Name
                                                            </label>
                                                            <div class="col-md-1 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-9 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.EmployeeName
                                                                        }
                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Department :
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.DepartmentName
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Designation
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.DesignationName
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-3">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Grade
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.GradeName
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                DOJ

                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.JoiningDate.ToString(string.Format("dd/MMM/yyyy"))
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                PAN

                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.PAN
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-3">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Age

                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @if (ViewBag.GetLetoutHouseEmployee != null)
                                                                        {
                                                                            @ViewBag.GetLetoutHouseEmployee.Age
                                                                        }

                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Financial Year
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @Session["TaxYear"]
                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Last Update
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @TempData["IncomeFromLetOutHouseProperty_SubmitDate"]
                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-3">
                                                        <div class="row">
                                                            <label class="form-label col-form-label p-0 col-md-4 col-5">
                                                                Count
                                                            </label>
                                                            <div class="col-md-2 col-1">
                                                                :
                                                            </div>
                                                            <div class="col-md-6 col-6">
                                                                <h6>
                                                                    <label class="form-label col-form-label p-0">
                                                                        @TempData["IncomeFromLetOutHouseProperty_SubmitCount"]
                                                                    </label>
                                                                </h6>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            <span>
                                                <h5> <i class="fa-solid fa-calendar"></i> &nbsp;  Financial Year - @Session["TaxYear"]  </h5>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="empbx">
                                            @if (TempData["SubmitValid"] != null)
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock-open"></i> &nbsp; Declaration Window - <span class="text-success">Open</span>  </h5>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    <h5> <i class="fa-solid fa-lock"></i>  &nbsp;  Declaration Window - <span class="text-danger">Close</span>  </h5>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description of
                                                Property<span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.DescriptionOfProperty, new { @class = "form-control", id = "txtDescriptionProperty", autocomplete = "Off", name = "DescriptionProperty" })
                                                @*<input type="text" class="form-control mb-5px" name="DescriptionProperty" id="txtDescriptionProperty" />*@
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                A.Gross Annual Value
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.GrossAnnualValue, new { @class = "form-control Amount", id = "txtGrossAnnual", type = "number", autocomplete = "Off", name = "GrossAnnual", @style = "text-align:right" })
                                                @*<input type="text" class="form-control" name="GrossAnnual" id="txtGrossAnnual" />*@
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-8">
                                                B.Less : Municipal
                                                Taxes
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.MunicipalTaxes, new { @class = "form-control Amount", id = "txtMunicipalTaxes", autocomplete = "Off", type = "number", name = "MunicipalTaxes", @style = "text-align:right" })
                                                @*<input type="text" class="form-control" name="MunicipalTaxes" id="txtMunicipalTaxes" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                C. Net Annual
                                                Value (A-B)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.NetAnnualValue, new { @class = "form-control Amount", id = "txtNetAnnualValue", type = "number", autocomplete = "Off", name = "NetAnnualValue", @readonly = "readonly", @style = "text-align:right; background-color:#eee" })
                                                @*<input type="text" id="txtNetAnnualValue" class="form-control" disabled />*@
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-8">
                                                D. Less : Standard
                                                Deduction
                                                <span class="important">  @TempData["IncomefromLetOutHouseProperty_StandardEducation"] % Net Annual Value (C)</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.StandardDeduction, new { @class = "form-control Amount", id = "txtStandardDeduction", type = "number", autocomplete = "Off", name = "StandardDeduction", @readonly = "readonly", @style = "text-align:right; background-color:#eee" })
                                                @*<input type="text" class="form-control" id="txtStandardDeduction" disabled />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                E. Less :
                                                Intrest on
                                                Borrowed Capital
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.InterestOnBorrowedCapital, new { @class = "form-control Amount", id = "txtInsertonBorrowd", type = "number", autocomplete = "Off", name = "InterestOnBorrowedCapital", @style = "text-align:right" })
                                                @*<input type="text" class="form-control" name="InsertonBorrowd" id="txtInsertonBorrowd" />*@
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-8">
                                                F.Income From Let Out
                                                House Property (C-D-E)
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.IncomeFromLetOutHouseProperty, new { @class = "form-control Amount", id = "txtIncomeFromLetOuts", type = "number", autocomplete = "Off", name = "IncomeFromLetOutHouseProperty", @readonly = "readonly", @style = "text-align:right; background-color:#eee" })
                                                @*<input type="text" class="form-control" name="IncomeFromLetOuts" id="txtIncomeFromLetOuts" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnAdd" name="Add" class="btn btn-primary btn-sm">
                                                    <i class="fa-regular fa-plus-square"></i> Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- BEGIN table-responsive -->
                                @*<table class="table table-striped table-bordered align-middle" data-scrollbar="true" style="overflow-x: scroll;">*@

                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine">
                                            <thead>
                                                <tr class="trheading">
                                                    <th class="fixed-side">Action</th>
                                                    <th class="text-nowrap">Description of Property </th>
                                                    <th class="text-nowrap">Gross Annual Value</th>
                                                    <th class="text-nowrap">Municipal Taxes</th>
                                                    <th class="text-nowrap">Net Annual Value</th>
                                                    <th class="text-nowrap">Standard Deduction</th>
                                                    <th class="text-nowrap">Interest on Borrowed Capital </th>
                                                    <th class="text-nowrap">Income From Let Out House Property </th>
                                                    <th hidden>EncpId </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblIncomeFromOut"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7"> <h5 class="text-center">Total</h5></td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.TotalIncomeFromLetOutHouseProperty, new { @class = "form-control", @id = "txtTotal", autocomplete = "Off", name = "IncomeFromLetOuts", @style = "text-align:Right;height:23px;background-color: #e9ecef;" })
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- END table-responsive -->

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu", new { area = "ESS",id=9,ScreenId=176 })">
                                                    <button type="button" id="btnBack" class="btn btn-danger btn-sm" data-bs-toggle="modal">
                                                        <i class="fa-solid fa-share-from-square"></i> Back
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>

</div>

<script>
  
    //alert(IncomeFromLetOutHousePropertyId);
    //debugger;
    //function(){
    //    //var whichtr = $(this).closest("tr");
    //    //alert('worked'); // Alert does not work
    //    //whichtr.remove();

    //}  )
    //const DeleteButtons = Swal.mixin({
    //    customClass: {
    //        cancelButton: ' btnpress',
    //        confirmButton: ' btnpress'
    //    },
    //    buttonsStyling: true
    //})
    //DeleteButtons.fire({
    //    title: 'Are you sure?',
    //    text: "You won't be able to revert this!",
    //    icon: 'warning',
    //    confirmButtonColor: '#d33',
    //    cancelButtonColor: '#3085d6',
    //    showCancelButton: true,
    //    confirmButtonText: 'Yes, delete it!',
    //    cancelButtonText: 'No, cancel!',
    //    reverseButtons: false,
    //    //Swal({
    //    //    title: "Are you sure?",
    //    //    text: "You want to delete Record!",
    //    //    type: "warning",
    //    //    showCancelButton: true,
    //    //    confirmButtonClass: "btn-danger",
    //    //    confirmButtonText: "Yes, Delete it !",
    //    //    closeOnConfirm: true
    //    },
    $(document).ready(function () {
        debugger;

        var GetTotal = @Html.Raw(Json.Encode(TempData["TotalIncomeFromLetOutHouseProperty"]));
        $("#txtTotal").val(GetTotal);
        var LetOutHousePropertyList =@Html.Raw(Json.Encode(ViewBag.LetOutHousePropertybag));
        if(LetOutHousePropertyList!=null)
        {
            for(var i=0;i <= LetOutHousePropertyList.length-1;i++)
            {
                var table = document.getElementById("tblIncomeFromOut");
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                var count = $('#tblIncomeFromOut tr').length;
                row.insertCell(0).innerHTML = '<center><i class="fa-regular fa-trash-can fa-xl" onClick="SomeDeleteRowFunction(this,\'\')" id="btnDelete" style="color:#ff5b57"></i></center>';
                row.insertCell(1).innerHTML = "" + LetOutHousePropertyList[i].DescriptionOfProperty + "";
                row.insertCell(2).innerHTML = "" + LetOutHousePropertyList[i]. GrossAnnualValue + "";
                row.insertCell(3).innerHTML = "" + LetOutHousePropertyList[i].MunicipalTaxes + "";
                row.insertCell(4).innerHTML = "" + LetOutHousePropertyList[i].NetAnnualValue + "";
                row.insertCell(5).innerHTML = "" + LetOutHousePropertyList[i].StandardDeduction + "";
                row.insertCell(6).innerHTML = "" + LetOutHousePropertyList[i].InterestOnBorrowedCapital + "";
                row.insertCell(7).innerHTML = "" +LetOutHousePropertyList[i].IncomeFromLetOutHouseProperty + "";
                row.insertCell(8).innerHTML = "" +LetOutHousePropertyList[i].IncomeFromLetOutHousePropertyId_Encrypted + "";
                //row.insertCell(1).innerHTML = '<a href="#UserId" onClick="SomeDeleteRowFunction(this,\''+ MappedSiteList[i].Name +'\')" title="Delete"><i class="mdi mdi-delete"  style="font-size:x-large;color:#FC4B6C;"></i> </a>';
            }
        }

    });//ready Funcation
    let StandardDeductionValue = @Html.Raw(Json.Encode(TempData["IncomefromLetOutHouseProperty_StandardEducation"]));

    //$('#txtMunicipalTaxes').keyup( function () {
    //    debugger;
    //    var GrossAnnual = $('#txtGrossAnnual').val();
    //    var MunicipalTaxes = $('#txtMunicipalTaxes').val();
    //    var TotalAmount = GrossAnnual - MunicipalTaxes;
    //    $('#txtNetAnnualValue').val(TotalAmount);
    //    var StandardDeduction = TotalAmount * StandardDeductionValue / 100;
    //    var data = $('#txtStandardDeduction').val(StandardDeduction);

    //});


    //$('#txtInsertonBorrowd').keyup( function () {
    //    debugger;
    //    var NetAnnualValue = $('#txtNetAnnualValue').val();
    //    var StandardDeduction = $('#txtStandardDeduction').val();
    //    var InsertonBorrowd = $('#txtInsertonBorrowd').val();
    //    var IncomeFromLetOutHouseProperty = NetAnnualValue - StandardDeduction - InsertonBorrowd
    //    $('#txtIncomeFromLetOuts').val(IncomeFromLetOutHouseProperty);

    //});


    $(".Amount").keyup(function(){
        var GrossAnnual = $('#txtGrossAnnual').val();
        var MunicipalTaxes = $('#txtMunicipalTaxes').val();
        var TotalAmount = GrossAnnual - MunicipalTaxes;
        $('#txtNetAnnualValue').val(TotalAmount);
        var StandardDeduction = TotalAmount * StandardDeductionValue / 100;
        var data = $('#txtStandardDeduction').val(StandardDeduction);

        var NetAnnualValue = $('#txtNetAnnualValue').val();
        var StandardDeduction = $('#txtStandardDeduction').val();
        var InsertonBorrowd = $('#txtInsertonBorrowd').val();
        var IncomeFromLetOutHouseProperty = NetAnnualValue - StandardDeduction - InsertonBorrowd
        $('#txtIncomeFromLetOuts').val(IncomeFromLetOutHouseProperty);
    });





    //BtnSubmit
    var SubmitCheck = @Html.Raw(Json.Encode(TempData["SubmitValid"]));
    $("#btnSubmit").click(function () {
        debugger;
        var table = document.getElementById("tblIncomeFromOut");
        var rowCount = table.rows.length;
        //Check Submit button valid or not based on open close taxDeclaration beetween Date
        if(SubmitCheck==null || SubmitCheck=="")
        {
            Swal.fire({
                //title: 'Saved',
                icon: 'error',
                text: 'Declaration window is close',
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        var Task = new Array();
        var data = {};
        debugger;
        for (i = 0; i <= rowCount-1; i++) {
            var data = {};
            data.DescriptionOfProperty = table.rows[i].cells[1].innerHTML;
            data.GrossAnnualValue = table.rows[i].cells[2].innerHTML;
            data.MunicipalTaxes = table.rows[i].cells[3].innerHTML;
            data.NetAnnualValue = table.rows[i].cells[4].innerHTML;
            data.StandardDeduction = table.rows[i].cells[5].innerHTML;
            data.InterestOnBorrowedCapital = table.rows[i].cells[6].innerHTML;
            data.IncomeFromLetOutHouseProperty = table.rows[i].cells[7].innerHTML;
            data.IncomeFromLetOutHousePropertyId_Encrypted = table.rows[i].cells[8].innerHTML;
            Task.push(data);
        }



        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdate", "ESS_Tax_Investment_IncomeFromLetOutHouseProperty")',
            data: JSON.stringify(Task),
            contentType: "application/json; charset=utf-8",
            dataType: "text",


            success: function (response)
            {
                debugger;
                var data =  JSON.parse(response);

                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (data !=null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        }).then(function() {
                            window.location.reload();
                        });
                    }
                    //location.reload();
                }
            }

        });

        return false;
    });
    //End BtnSubmit

    //btn Addinto Rows

</script>

<script>
    jQuery.validator.addMethod(
  "regex",
      function(value, element, regexp) {
          if (regexp.constructor != RegExp)
              regexp = new RegExp(regexp);
          else if (regexp.global)
              regexp.lastIndex = 0;
          return this.optional(element) || regexp.test(value);
      },"erreur expression reguliere"
  );

    $('#SaveIncomeFromLetOutHouseProperty').validate({
        rules: {
            DescriptionOfProperty: {
                required: true,
            },
            GrossAnnualValue: {
                required: true,
            },
            MunicipalTaxes: {
                required: true,
            },
            InterestOnBorrowedCapital: {
                required: true,
            },
        },
        messages: {
            DescriptionOfProperty: {
                required: "Please enter description of property",
            },
            GrossAnnualValue: {
                required: "Please enter gross annual value",
            },
            MunicipalTaxes: {
                required: "Please enterc less municipal taxes",
            },
            InterestOnBorrowedCapital: {
                required: "Please enter less intrest on borrowed capital",
            },
        },
    });

    var form = $("#SaveIncomeFromLetOutHouseProperty");
    form.validate();
    $("#btnAdd").click(function (e) {
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        //e.preventDefault();
        var DescriptionProperty = $('#txtDescriptionProperty').val();
        var GrossAnnual = $('#txtGrossAnnual').val();
        var MunicipalTaxes = $('#txtMunicipalTaxes').val();
        var NetAnnualValue = $('#txtNetAnnualValue').val();
        var StandardDeduction = $('#txtStandardDeduction').val();
        var InsertonBorrowd = $('#txtInsertonBorrowd').val();
        var IncomeFromLetOut = $('#txtIncomeFromLetOuts').val();
        var table = document.getElementById("tblIncomeFromOut");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        var count = $('#tblIncomeFromOut tr').length;
        row.insertCell(0).innerHTML = ' <center><i class="fa-regular fa-trash-can fa-xl" onClick="SomeDeleteRowFunction(this,\'\')" id="btnDelete" style="color:#ff5b57"></i></center>'
        row.insertCell(1).innerHTML = "" + DescriptionProperty + "";
        row.insertCell(2).innerHTML = "" + GrossAnnual + "";
        row.insertCell(3).innerHTML = "" + MunicipalTaxes + "";
        row.insertCell(4).innerHTML = "" + NetAnnualValue + "";
        row.insertCell(5).innerHTML = "" + StandardDeduction + "";
        row.insertCell(6).innerHTML = "" + InsertonBorrowd + "";
        row.insertCell(7).innerHTML = "" + IncomeFromLetOut + "";
        row.insertCell(8).innerHTML = "";
        $('#txtDescriptionProperty').val(''),
        $('#txtGrossAnnual').val(''),
        $('#txtMunicipalTaxes').val(''),
        $('#txtInsertonBorrowd').val(''),
        $('#txtIncomeFromLetOuts').val('');
        $('#txtNetAnnualValue').val('');
        $('#txtStandardDeduction').val('');
        //var sum= 0;
        //var IncomeTotal=Number( $('#txtTotal').val());
        //var IncomeTotal2 = Number(IncomeFromLetOut);
        //var sum = IncomeTotal+IncomeTotal2;
        //$('#txtTotal').val(sum);
        //var amount=  $('#txtTotal').val();
        calculateTotal();

    });

    function calculateTotal() {
        debugger
        var sum = 0;
        $("#tblIncomeFromOut tr").each(function (index) {
            debugger
            // skip header row
            //if (index === 0) return;

            var value = $(this).find("td:eq(7)").text(); 
            sum += Number(value) || 0;
        });

        $("#txtTotal").val(sum);
    }

    function SomeDeleteRowFunction(btndel) {
        debugger
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();

            calculateTotal();

            return false;
        }
    }

</script>