@model KompassHR.Areas.Setting.Models.Setting_Payroll.CTCHeadMapping
@{
    ViewBag.Title = "Setting_Payroll_CTCHeadMapping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
        color: red;
    }

    .chkerror {
        text-align: center;
        height: 35px;
        color: red;
        font-size: larger;
    }

    #tblDynamic input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }
</style>

<style>
    * {
        box-sizing: border-box;
    }

    /*body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;*/
      
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 2px;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
        text-align: center;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="checkbox"] {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
    }

    /*.app-content {
        padding: 0px 0px;
    }*/

    #tblPartA input[type="text"],
    #tblPartB input[type="text"] {
        height: 25px;
    }

    @@media (max-width: 600px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
    }
</style>
<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                CTC Head Mapping
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Payroll_Menu", "Setting_Payroll_Menu", new { id = 6, ScreenId = 287, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> CTC Head Mapping - <b>@ViewBag.AddUpdateTitle</b> </h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Company wise CTC head mapping.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Payroll_CTCHeadMapping", new { area = "Setting" })' id="FormHeadMapping" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PayrollMap_CompanyId, new SelectList(ViewBag.CompanyName ?? new List<SelectListItem>(), "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", autocomplete = "off", name = "CompanyName", onchange = "GetDetails(event)" })
                                                <span class="error" id="ErrorddlCompanyName" style="display:none"></span>
                                            </div>
                                            @Html.HiddenFor(model => model.PayrollHeadId_Encrypted, new { id = "hdnEncryptedId", name = "EncryptedId" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <span id="ErrorcheckboxSeq" class="chkerror" style="display:none"></span>
                                    <div class="col-md-6">
                                        <table id="tblPartA">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Part (A)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_Basic_IsApplicable, new { id = "chkBasic", name = "RatePartA_Basic_IsApplicable" })</td>
                                                    <td>Basic</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_Basic, new { id = "txtBasic", name = "Basic", style = "background-color: lightgray;", @readonly = "readonly" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_DA_IsApplicable, new { id = "chkDA", name = "DA" })</td>
                                                    <td>DA</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_DA, new { id = "txtDA", name = "DA", style = "background-color: lightgray;", @readonly = "readonly" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_HRA_IsApplicable, new { id = "chkHRA", name = "HRA" })</td>
                                                    <td>HRA</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_HRA, new { id = "txtHRA", name = "HRA", style = "background-color: lightgray;", @readonly = "readonly" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_A_IsApplicable, new { id = "chkRatePartA_A", name = "RatePartA_A" })</td>
                                                    <td>RatePartA_A</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_A, new { id = "txtRatePartA_A", name = "RatePartA_A" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_B_IsApplicable, new { id = "chkRatePartA_B", name = "RatePartA_B" })</td>
                                                    <td>RatePartA_B</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_B, new { id = "txtRatePartA_B", name = "RatePartA_B" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_C_IsApplicable, new { id = "chkRatePartA_C", name = "RatePartA_C" })</td>
                                                    <td>RatePartA_C</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_C, new { id = "txtRatePartA_C", name = "RatePartA_C" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_D_IsApplicable, new { id = "chkRatePartA_D", name = "RatePartA_D" })</td>
                                                    <td>RatePartA_D</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_D, new { id = "txtRatePartA_D", name = "RatePartA_D" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_E_IsApplicable, new { id = "chkRatePartA_E", name = "RatePartA_E" })</td>
                                                    <td>RatePartA_E</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_E, new { id = "txtRatePartA_E", name = "RatePartA_E" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_F_IsApplicable, new { id = "chkRatePartA_F", name = "RatePartA_F" })</td>
                                                    <td>RatePartA_F</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_F, new { id = "txtRatePartA_F", name = "RatePartA_F" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_G_IsApplicable, new { id = "chkRatePartA_G", name = "RatePartA_G" })</td>
                                                    <td>RatePartA_G</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_G, new { id = "txtRatePartA_G", name = "RatePartA_G" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_H_IsApplicable, new { id = "chkRatePartA_H", name = "RatePartA_H" })</td>
                                                    <td>RatePartA_H</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_H, new { id = "txtRatePartA_H", name = "RatePartA_H" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_I_IsApplicable, new { id = "chkRatePartA_I", name = "RatePartA_I" })</td>
                                                    <td>RatePartA_I</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_I, new { id = "txtRatePartA_I", name = "RatePartA_I" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_J_IsApplicable, new { id = "chkRatePartA_J", name = "RatePartA_J" })</td>
                                                    <td>RatePartA_J</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_J, new { id = "txtRatePartA_J", name = "RatePartA_J" })</td>
                                                </tr>

                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_K_IsApplicable, new { id = "chkRatePartA_K", name = "RatePartA_K" })</td>
                                                    <td>RatePartA_K</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_K, new { id = "txtRatePartA_K", name = "RatePartA_K" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_L_IsApplicable, new { id = "chkRatePartA_L", name = "RatePartA_L" })</td>
                                                    <td>RatePartA_L</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_L, new { id = "txtRatePartA_L", name = "RatePartA_L" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_M_IsApplicable, new { id = "chkRatePartA_M", name = "RatePartA_M" })</td>
                                                    <td>RatePartA_M</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_M, new { id = "txtRatePartA_M", name = "RatePartA_M" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_N_IsApplicable, new { id = "chkRatePartA_N", name = "RatePartA_N" })</td>
                                                    <td>RatePartA_N</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_N, new { id = "txtRatePartA_N", name = "RatePartA_N" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_O_IsApplicable, new { id = "chkRatePartA_O", name = "RatePartA_O" })</td>
                                                    <td>RatePartA_O</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_O, new { id = "txtRatePartA_O", name = "RatePartA_O" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_P_IsApplicable, new { id = "chkRatePartA_P", name = "RatePartA_P" })</td>
                                                    <td>RatePartA_P</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_P, new { id = "txtRatePartA_P", name = "RatePartA_P" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_Q_IsApplicable, new { id = "chkRatePartA_Q", name = "RatePartA_Q" })</td>
                                                    <td>RatePartA_Q</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_Q, new { id = "txtRatePartA_Q", name = "RatePartA_Q" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_R_IsApplicable, new { id = "chkRatePartA_R", name = "RatePartA_R" })</td>
                                                    <td>RatePartA_R</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_R, new { id = "txtRatePartA_R", name = "RatePartA_R" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_S_IsApplicable, new { id = "chkRatePartA_S", name = "RatePartA_S" })</td>
                                                    <td>RatePartA_S</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_S, new { id = "txtRatePartA_S", name = "RatePartA_S" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartA_T_IsApplicable, new { id = "chkRatePartA_T", name = "RatePartA_T" })</td>
                                                    <td>RatePartA_T</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartA_T, new { id = "txtRatePartA_T", name = "RatePartA_T" })</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Part B -->
                                    <div class="col-md-6">
                                        <table id="tblPartB">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Part (B)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_PFEmployer_IsApplicable, new { id = "chkRatePartB_PFEmployer", name = "RatePartB_PFEmployer" })</td>
                                                    <td>PF</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_PFEmployer, new { id = "txtRatePartB_PFEmployer", name = "RatePartB_PFEmployer" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_ESICEmployer_IsApplicable, new { id = "chkRatePartB_ESICEmployer", name = "RatePartB_ESICEmployer" })</td>
                                                    <td>ESIC</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_ESICEmployer, new { id = "txtRatePartB_ESICEmployer", name = "RatePartB_ESICEmployer" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_LWFEmployer_IsApplicable, new { id = "chkRatePartB_LWFEmployer", name = "RatePartB_LWFEmployer" })</td>
                                                    <td>LWF</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_LWFEmployer, new { id = "txtRatePartB_LWFEmployer", name = "RatePartB_LWFEmployer" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_Bonus_IsApplicable, new { id = "chkRatePartB_Bonus", name = "RatePartB_Bonus" })</td>
                                                    <td>Bonus</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_Bonus, new { id = "txtRatePartB_Bonus", name = "RatePartB_Bonus" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_Gratuity_IsApplicable, new { id = "chkRatePartB_Gratuity", name = "RatePartB_Gratuity" })</td>
                                                    <td>Gratuity</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_Gratuity, new { id = "txtRatePartB_Gratuity", name = "RatePartB_Gratuity" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_A_IsApplicable, new { id = "chkRatePartB_A", name = "RatePartB_A" })</td>
                                                    <td>RatePartB_A</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_A, new { id = "txtRatePartB_A", name = "RatePartB_A" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_B_IsApplicable, new { id = "chkRatePartB_B", name = "RatePartB_B" })</td>
                                                    <td>RatePartB_B</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_B, new { id = "txtRatePartB_B", name = "RatePartB_B" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_C_IsApplicable, new { id = "chkRatePartB_C", name = "RatePartB_C" })</td>
                                                    <td>RatePartB_C</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_C, new { id = "txtRatePartB_C", name = "RatePartB_C" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_D_IsApplicable, new { id = "chkRatePartB_D", name = "RatePartB_D" })</td>
                                                    <td>RatePartB_D</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_D, new { id = "txtRatePartB_D", name = "RatePartB_D" })</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.CheckBoxFor(model => model.RatePartB_E_IsApplicable, new { id = "chkRatePartB_E", name = "RatePartB_E" })</td>
                                                    <td>RatePartB_E</td>
                                                    <td>@Html.TextBoxFor(model => model.RatePartB_E, new { id = "txtRatePartB_E", name = "RatePartB_E" })</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Extra Section -->
                                </div>
                                <br />
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnSubmit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetList"
                                                                onclick="window.location.href='@Url.Action("GetList", "Setting_Payroll_CTCHeadMapping")'">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
@*<form id="FormHeadMapping" action="/YourAction" method="post">

    </form>*@

<script>
    document.getElementById("btnSubmit").addEventListener("click", function () {
        debugger;
        if (validateForm()) {
            $(".Userloaderbg").css("display", "flex");
            document.getElementById("FormHeadMapping").submit();
        }
    });

    function validateForm() {
        debugger;
        const ddlCompanyName = document.getElementById("ddlCompanyName");
        const errorSpan = document.getElementById("ErrorddlCompanyName");
        const selectedValue = ddlCompanyName.value;
        // Check if the dropdown has a valid selection
        if (selectedValue === "" || selectedValue === "--Select--") {
            // Update the error message
            errorSpan.innerHTML = "Select company name";
            errorSpan.style.display = "block";
            ddlCompanyName.focus();
            return false; // Validation failed
        } else {
            errorSpan.innerHTML = "";
            errorSpan.style.display = "none";
        }

        let values = [];
        let isDuplicate = false;

        // Loop through all textboxes in the table
        $("#tblPartA input[type='text'], #tblPartB input[type='text']").each(function () {
            let value = $(this).val().trim();
            if (value) {
                // Check for duplicate values
                if (values.includes(value)) {
                    isDuplicate = true;
                    return false; // Exit the loop on duplicate
                }
                values.push(value); // Add the value to the array
            }
        });

        if (isDuplicate) {
            // Prevent form submission and show an error
            const errorSpanChkSuq = document.getElementById("ErrorcheckboxSeq");
            errorSpanChkSuq.innerText = "Duplicate name not allowed.";
            errorSpanChkSuq.setAttribute("tabindex", "-1"); // Make the span focusable
            errorSpanChkSuq.focus();
            errorSpanChkSuq.style.display = "block";
            e.preventDefault();
            return false;
        }
        else
        {
            const errorSpanChkSuq = document.getElementById("ErrorcheckboxSeq");
            errorSpanChkSuq.style.display = "none";
        }
        return true; // Validation passed
    }
</script>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            }).then(function() {
                window.location.reload();
            });
        }

        //['tblPartA', 'tblPartB'].forEach(tableId => {
        //    const table = document.getElementById(tableId);
        //    const checkboxes = table.querySelectorAll('input[type="checkbox"]');
        //    checkboxes.forEach((checkbox, index) => {
        //        checkbox.addEventListener('change', function () {
        //            if (this.checked && index > 0 && !checkboxes[index - 1].checked) {
        //                this.checked = false;
        //                const errorSpanChkSuq = document.getElementById("ErrorcheckboxSeq");
        //                document.getElementById("ErrorcheckboxSeq").innerText = "You must check the previous checkbox first."
        //                errorSpanChkSuq.style.display = "block";
        //                return;
        //            }
        //            document.getElementById("ErrorcheckboxSeq").innerText ="";
        //            const row = $(this).closest('tr');
        //            const columnValue = row.find('td:eq(1)').text().trim();
        //            const textbox = row.find('input[type="text"]');
        //            textbox.val(this.checked ? columnValue : '');
        //        });
        //    });
        //});

        ['tblPartA', 'tblPartB'].forEach(tableId => {
            const table = document.getElementById(tableId);
            const checkboxes = table.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach((checkbox, index) => {
                checkbox.addEventListener('change', function () {
                    // Apply sequence validation only for tblPartA
                    if (tableId === 'tblPartA') {
                        if (this.checked && index > 0 && !checkboxes[index - 1].checked) {
                            this.checked = false;
                            const errorSpanChkSuq = document.getElementById("ErrorcheckboxSeq");
                            errorSpanChkSuq.innerText = "You must check the previous checkbox first.";
                            errorSpanChkSuq.style.display = "block";
                            return;
                        }
                    }
                    // Clear error message if validation passes
                    document.getElementById("ErrorcheckboxSeq").innerText = "";
                    // Update the associated textbox based on checkbox state
                    const row = $(this).closest('tr');
                    const columnValue = row.find('td:eq(1)').text().trim();
                    const textbox = row.find('input[type="text"]');
                    textbox.val(this.checked ? columnValue : '');
                });
            });
        });
    });
</script>

<script>
     @*function GetDetails(event) {
         // Get the value from the input field
         const inputValue = event.target.value;
         alert(inputValue);
         return false;
         var url = '@Url.Action("Setting_Payroll_CTCHeadMapping", "Setting_Payroll_CTCHeadMapping")?CompanyId=' + inputValue;
         window.location.href = url;
     }*@
</script>

