@model KompassHR.Areas.ESS.Models.ESS_Leave.Leave_OpeningBalance
@{
    ViewBag.Title = "ESS_Leave_LeaveOpneingBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .select2.select2-container {
        width: 100% !important;
    }
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*.table{
           --bs-table-active-bg: #9bc2ce !important;
       }*/
    /*tr:nth-child(even) {
             --bs-table-accent-bg: #D0D3D4   !important;
             }*/
    /*select Row CSS End*/
    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

 
    #tblLeaveOpeningBulk input[type="text"] {
        height: 20px; /* Adjust the height as needed */
    }

    #tblEmployeeWise input[type="checkbox"] {
        height: 20px; /* Adjust the height as needed */
    }


    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 8px;
    }


    .tblAddData td:nth-child(9) {
        display: none;
    }

    .select2.select2-container {
        width: 100% !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Leave Opening balance 
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Leave_Menu", "ESS_Leave_Menu", new {id = 4, ScreenId=145, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Leave Opening balance -Add </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Specifying employees leave balance, sick leave, personal leave, maternity/paternity leave,
                        bereavement leave, or any other applicable category.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_Leave_LeaveOpneingBalance", "ESS_Leave_LeaveOpneingBalance", new { area = "ESS" })' id="SaveLeaveOpningBlance" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Company
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.ComapnyName, "Id", "Name"), "--Select--", new { id = "txtCmpID", name = "CmpID", @class = "form-select", autocomplete = "off", onChange = "ChangeConpany()" })
                                                <span id="ErrortxtCmpID" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.LeaveOpeningBalanceBranchID, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { id = "txtBranchname", name = "LeaveOpeningBalanceSettingId", @class = "form-select", autocomplete = "off" })
                                                <span id="ErrortxtBranchname" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Leave Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.LeaveOpeningBalanceLeaveYearId, new SelectList(ViewBag.GetLeaveYear, "Id", "Name"), "--Select--", new { id = "LeaveMasterLeaveYearId", name = "LeaveMasterLeaveYearId", @class = "form-control", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Leave Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.LeaveOpeningBalanceLeaveTypeId, new SelectList(ViewBag.LeaveTypeName, "Id", "Name"), "--Select--", new { id = "LeaveOpeningBalanceLeaveTypeId", name = "LeaveTypeId", @class = "form-select", autocomplete = "off" })
                                                <span id="ErrorLeaveOpeningBalanceLeaveTypeId" class="Error"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnGetAllEmployeeInformation" onclick="GetAllEmployeeInformation()">
                                                    Show
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-inverse" data-sortable-id="index-1">
                                        <div class="panel-body">
                                            <!-- Scrollable div -->
                                            <div class="table-scroll div1">
                                                <div class="table-wrap" style="max-height: 400px; overflow-y: auto;">
                                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle tblAddData TablePageBalance" id="tblLeaveOpeningBulk">
                                                        <thead style="background-color: rgba(233, 236, 239, 1) !important; position: sticky; top: 0; z-index: 1;">
                                                            <tr class="trheading">
                                                                <th class="text-nowrap">
                                                                    <label>
                                                                        <input type="checkbox" class="allChecked form-check-input" name="checkbox" id="AllCheckBox" value="value">
                                                                        All
                                                                    </label>
                                                                </th>
                                                                <th class="text-nowrap">Employee Name</th>
                                                                <th class="text-nowrap">Employee No</th>
                                                                <th class="text-nowrap">Date Of Joining</th>
                                                                <th class="text-nowrap">Confirmation Date</th>
                                                                <th class="text-nowrap">Department</th>
                                                                <th class="text-nowrap">Designation</th>
                                                                <th class="text-nowrap">No Of Leave</th>
                                                                <th class="text-nowrap" hidden>EmployeeId</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblLoadEmployedetails">
                                                            @foreach (var d in ViewBag.LeaveOpneingBalanceEmployee)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" class="form-check-input" data-checked="email-checkbox" value="@d.EmployeeId" id="tblCheckbox">
                                                                    </td>
                                                                    <td>@d.EmployeeName</td>
                                                                    <td>@d.EmployeeNo</td>
                                                                    <td>@d.JoiningDate</td>
                                                                    <td>@d.ConfirmationDate</td>
                                                                    <td>@d.DepartmentName</td>
                                                                    <td>@d.DesignationName</td>
                                                                    <td class="text-center">
                                                                        <input class="form-control" data-checked="email-checkbox" value="@d.YearlyLeave" id="txtnumber_" onchange="validateTextbox(this)" text="" type='text' min='0' step='0.5' Maxlength=5 onkeypress='return numbervalidate(event)'>
                                                                        <span id='validationMessage_' style='color: red;'></span>
                                                                    </td>
                                                                    <td hidden>@d.EmployeeId</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm" onclick="LeaveOpneingbalance()">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>
                                                    <a href="@Url.Action("GetList", "ESS_Leave_LeaveOpneingBalance", new { area = "ESS" })">
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetList" onclick="btnGetLists();">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txtCmpID').select2();
        $('#txtBranchname').select2();
        $('#LeaveMasterLeaveYearId').select2();
        $('#LeaveOpeningBalanceLeaveTypeId').select2();
        $('.TablePageBalance').DataTable({
            destroy: true,        // Allows the table to be reinitialized
            searching: true,      // Enables the search box
            paging: false,        // Disables pagination
            info: true,          // Disables the table information display (e.g., "Showing 1 to 10 of 50 entries")
            ordering: false,      // Disables column sorting
            bFilter: true         // Enables the filtering functionality (search box)
        });
        //$('.TablePageBalance').DataTable({
        //    scrollY: 300,
        //    scrollCollapse: true,
        //    paging: false,
        //    scrollX: true, // Enable horizontal scrolling to align the header
        //    searching: true, // Enable searching
        //    autoWidth: true, // Prevent automatic column resizing issues
        //    stripeClasses: [], // Disable alternating row colors
        //    columnDefs: [
        //        { targets: '_all', className: 'dt-head-center' } // Optional: Center align header text
        //    ],
        //    fixedHeader: false // Ensure the header stays fixed while scrolling
        //});

    });
</script>
<script>
    jQuery.validator.addMethod(
    "regex",
        function (value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        }, "erreur expression reguliere"
     );

        $('#SaveLeaveOpningBlance').validate({
            rules: {
                CmpID: {
                    required: true,
                },
                LeaveOpeningBalanceBranchID: {
                    required: true,
                },
                LeaveOpeningBalanceLeaveYearId: {
                    required: true,
                },
                LeaveOpeningBalanceLeaveTypeId: {
                    required: true,
                },

            },
            messages: {
                CmpID: {
                    required: "Please select company name",
                },
                LeaveOpeningBalanceBranchID: {
                    required: "Please select business unit",
                },
                LeaveOpeningBalanceLeaveYearId: {
                    required: "Please select leave year",
                },
                LeaveOpeningBalanceLeaveTypeId: {
                    required: "Please select leave type",
                },
            },
        });

        var form = $("#SaveLeaveOpningBlance");
        form.validate();
         function GetAllEmployeeInformation() {
        debugger;
            debugger;
            form.valid();
            if (form.valid() == false) {

                return false;
            }
            //var CompanyId = $('#txtCmpID :selected').val();
            //var BranchId = $('#txtBranchname :selected').val();
            //var LeaveYearId = $('#LeaveMasterLeaveYearId :selected').text();
            //var LeaveSettingId = $('#LeaveOpeningBalanceLeaveTypeId :selected').val();

            //if (CompanyId == "")
            //{
            //    $('#ErrortxtCmpID').html("Plsase select company name");
            //    return false;
            //}
            //else
            //{
            //    $('#ErrortxtCmpID').html("");
            //}
            //if (BranchId == 0)
            //{
            //    $('#ErrortxtBranchname').html("Plsase select business unit");
            //    return false;
            //}
            //else
            //{
            //    $('#ErrortxtBranchname').html("");
            //}
            //if (LeaveYearId == "--Select--")
            //{
            //    $('#ErrorLeaveMasterLeaveYearId').html("Plsase select leave year");
            //    return false;
            //}
            //else
            //{
            //    $('#ErrorLeaveMasterLeaveYearId').html("");
            //}
            //if (LeaveSettingId == "")
            //{
            //    $('#ErrorLeaveOpeningBalanceLeaveTypeId').html("Plsase select leave type");
            //    return false;
            //}
            //else
            //{
            //    $('#ErrorLeaveOpeningBalanceLeaveTypeId').html("");
            //}

        $("#SaveLeaveOpningBlance").submit();
    }

    function ChangeConpany() {
        debugger;
        $("#txtBranchname").find("option").remove();
        $("#LeaveMasterLeaveYearId").find("option").remove();
        $("#LeaveOpeningBalanceLeaveTypeId").find("option").remove();
        var CmpId = $("#txtCmpID").val();
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetBusinessUnit", "ESS_Leave_LeaveOpneingBalance")",
            data: { CmpId: CmpId },
            success: function (data) {
                debugger;
                if (data != null) {
                    var data1 = data.data;
                    var LeaveYear = data.LeaveYear;
                    var LeaveType = data.LeaveType;
                    $("#txtBranchname").append("<option value=''>--Select--</option>");
                    $.each(data1, function (i, p) {
                        $("#txtBranchname").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });

                    $("#LeaveOpeningBalanceLeaveTypeId").append("<option value=''>--Select--</option>");
                    for (var i = 0; i < LeaveType.length; i++) {
                        $("#LeaveOpeningBalanceLeaveTypeId").append("<option value='" + LeaveType[i].Id + "'>" + LeaveType[i].Name + "</option>");
                    }

                    $("#LeaveMasterLeaveYearId").append("<option value=''>--Select-- </option>");
                    for (var i = 0; i < LeaveYear.length; i++) {
                        $("#LeaveMasterLeaveYearId").append("<option value='" + LeaveYear[i].Id + "'>" + LeaveYear[i].Name + "</option>");
                    }
                }
            }
        })
    }



    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth, day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }




    $("#AllCheckBox").on("click", function () {
        debugger;
        var isChecked = $(this).prop('checked');
        $("#tblLoadEmployedetails tr").each(function () {
            $(this).find("input").prop('checked', isChecked);
        });
    });


    function validateTextbox(uniqueId) {
        debugger
        var currentRow = $(uniqueId).closest("tr");
        var validationMessage = currentRow.find('#validationMessage_').val();
        var textboxValue = currentRow.find('#txtnumber_').val();

        //var pattern = /^[1-9]\d*(\.(0|5))?$/;
        var pattern = /^(0|[1-9]\d*)(\.\d+)?$/;
        if (pattern.test(textboxValue)) {
            validationMessage.textContent = ''; // Clear validation message
        }
        else
        {
            currentRow.find('#txtnumber_').val('');
            Swal.fire({
                title: "",
                text: ".5 is Constant",
                icon: "warning",
                confirmButtonText: "OK"
            }).then(() => {
                currentRow.find('#txtnumber_').val('0'); // Set the textbox to 0 after OK is clicked
            });
            return false;
        }
    }
</script>

<script>
    function LeaveOpneingbalance() {
        debugger;
        $("#AllCheckBox").prop("checked", false)
        var companyId = $("#txtCmpID").val();
        var BranchId = $("#txtBranchname").val();
        var LeaveSettingId = $("#LeaveOpeningBalanceLeaveTypeId").val();
        var LeaveYearId = $("#LeaveMasterLeaveYearId").val();
        var table = document.getElementById("tblLoadEmployedetails");
        var rowCount = table.rows.length;
        debugger;
        //var LeaveOpeningBalance = new Array();
        var LeaveOpeningBalance = [];

        $(':checkbox:checked').each(function (i) {
            debugger;
            var data = {};
            data.DocID = $(this).val();
            var currentRow = $(this).closest("tr");
            var GetNoOfLeave = table.rows.item(i).cells;
            data.NoOfLeave = currentRow.find('#txtnumber_').val();

            data.LeaveOpeningBalanceEmployeeId = currentRow.find("td:eq(8)").html();
            LeaveOpeningBalance.push(data);

        });



        //var LeaveOpeningBalance = [];
        //var data = {};
        //$('#tblLoadEmployedetails input[type="checkbox"]').each(function () {
        //    debugger;
        //    var data = {};
        //    if ($(this).is(':checked')) {
        //        var row = $(this).closest('tr');
        //        var EmpolyeeId = row.find('td:eq(8)').html();
        //        var NoOfLeave = row.find('td:eq(7)').html();
        //        data.LeaveOpeningBalanceEmployeeId = EmpolyeeId;
        //        data.NoOfLeave = NoOfLeave;
        //        LeaveOpeningBalance.push(data);
        //    }
        //});

        if (LeaveOpeningBalance == "") {
            debugger;
            Swal.fire({
                icon: "error",
                text: "Select atleast one record",
                allowOutsideClick: false
            });
            return false;
        }

        if (LeaveOpeningBalance == null || LeaveOpeningBalance == "") {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Please select at leaset one employee'
            });
        }

        else {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveUpadte", "ESS_Leave_LeaveOpneingBalance")",
                data: JSON.stringify({ companyId: companyId, BranchId: BranchId, LeaveSettingId: LeaveSettingId, LeaveYearId: LeaveYearId, LeaveOpeningBalance: LeaveOpeningBalance }),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    debugger;
                    var data = JSON.parse(response);
                    var Message1 = data.Message;
                    var Icon1 = data.Icon;
                    if (Icon1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    // return false
                                }
                            }).then(function () {
                                var url = '@Url.Action("ESS_Leave_LeaveOpneingBalance", "ESS_Leave_LeaveOpneingBalance")';
                                window.location.href = url;
                            })
                        }
                    }
                }
            });
        }
    }


    //function numbervalidate(key) {
    //    var presskeys = (key.which) ? key.which : key.presskeys;
    //    if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
    //        return false;
    //    }
    //}
</script>