
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 63px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 63px;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/ESS/ESS_Marketplace_Menu/ESS_Marketplace_Menu">Marketplace Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Goal List</h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Goal Creation - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>


                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of your Goals.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/ESS/ESS_PMS_GoalCreation/ESS_PMS_GoalCreation">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle" id="fixed-header" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap width-45">Update</th>
                                                <th class="text-nowrap width-45">Delete</th>
                                                <th class="text-nowrap width-45">GoalTitle</th>
                                                <th class="text-nowrap">CreatedDate</th>
                                                <th class="text-nowrap">CreatedBy</th>
                                                <th class="text-nowrap">Description</th>
                                                <th class="text-nowrap">GoalType</th>
                                                <th class="text-nowrap">DepartmentId </th>
                                                <th class="text-nowrap">Alignment</th>
                                                <th class="text-nowrap">SuccessMatrix</th>
                                                <th class="text-nowrap">Weightage</th>
                                                <th class="text-nowrap">Visibility</th>
                                                <th class="text-nowrap">StartDate</th>
                                                <th class="text-nowrap">EndDate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetGoalList)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <button type="button" id="UpdateBtn"
                                                                onclick="UpdateMarketPlace('@d.GoalCreationIDEncrypted')"
                                                                class="btn btn-success btnpress ListBtn"
                                                                @if (!d.IsActive) { <text> disabled</text> }>
                                                            <i class="fa-solid fa-pencil-alt"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" id="DeleteBtn"
                                                                onclick="DeleteMarketPlace('@d.GoalCreationIDEncrypted')"
                                                                class="btn btn-danger ListBtn btnpress"
                                                                @if (!d.IsActive) { <text> disabled</text> }>
                                                            <i class="fa-solid fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                    <td>@d.GoalTitle</td>
                                                    <td>@d.CreatedDate</td>
                                                    <td>@d.CreatedBy</td>
                                                    <td>@d.Description</td>
                                                    <td>@d.GoalType</td>
                                                    <td>@d.DepartmentId</td>
                                                    <td>@d.Alignment</td>
                                                    <td>@d.SuccessMatrix</td>
                                                    <td>@d.Weightage</td>
                                                    <td>@d.Visibility</td>
                                                    <td>@d.StartDate</td>
                                                    <td>@d.EndDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
            var Message = @Html.Raw(Json.Encode(TempData["Message"]));
            var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
            debugger;
            if (Message != null) {
                if (Message != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                }
            }
    });
</script>

