@model KompassHR.Areas.Setting.Models.Setting_Onboarding.Mas_CriticalStageCategory
@{
    ViewBag.Title = "Setting_Onboarding_CriticalStageCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Critical Stage Category
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Onboarding_Menu", "Setting_Onboarding_Menu", new { id = 3, ScreenId = 19, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Critical Stage Category - @ViewBag.AddUpdateTitle </h4>
                 
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define critical stage category here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Onboarding_CriticalStageCategory", new { area = "Setting" })' id="FormCriticalStageCategory" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Critical Stage Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.CriticalStageName, new { @class = "form-control", name = "CriticalStageName", @id = "txtCriticalStageName", type = "text", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.CriticalStageId_Encrypted, new { @id = "txtCriticalStageId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="CriticalStageCategory">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Onboarding_CriticalStageCategory", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger" id="btnGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#txtCmpId").select2();
        $("#txtBranchId").select2();
        $("#txtLineMasterID").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        $("#txtCmpId").on("change", function () {
            debugger;
            $("#txtBranchId").find("option").remove();
            var CmpId = $("#txtCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_Onboarding_CriticalStageCategory")',
                //url: 'GetBusinessUnit',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#txtBranchId").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#txtBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        $("#txtBranchId").on("change", function () {
            debugger;
            $("#txtLineMasterID").find("option").remove();
            var BranchId = $("#txtBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetLineMaster", "Setting_Onboarding_CriticalStageCategory")',
                // url: 'GetLineMaster',
                data: { BranchId: BranchId },
                success: function (data) {
                    if (data !=null) {
                        //$("#txtLineMasterID").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#txtLineMasterID").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
    });//ready Funcation
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


    $('#FormCriticalStageCategory').validate({
        rules: {
            CriticalStageName: {
                required: true,
            },
        },
        messages: {
            CriticalStageName: {
                required: "Critical stage name is required",
            }
        },
    });




    var form = $("#FormCriticalStageCategory");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var CriticalStageName=$("#txtCriticalStageName").val();
        var CriticalStageId_Encrypted =$("#txtCriticalStageId_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsCriticalStageCategoryExists", "Setting_Onboarding_CriticalStageCategory")',
            // url:"IsCriticalStageCategoryExists",
            method:"get",
            data:{CriticalStageName:CriticalStageName,CriticalStageId_Encrypted:CriticalStageId_Encrypted},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#FormCriticalStageCategory").submit();
                }
            }
        });

    });

</script>

