@model KompassHR.Areas.Setting.Models.Setting_NightTracker.NightRound_QRCodeGeneration
@{
    ViewBag.Title = "Setting_NightRound_QRCodeGeneration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/ESS/ESS_AdminDashboard_Dashboard/ESS_AdminDashboard_Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Setting/Setting_NightTracker_Menu/Setting_NightTracker_Menu">Location Setting Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> QR Code Location </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">QR Code Location -@ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define QR Code Location here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Setting/Setting_NightRound_QRCodeGeneration/SaveUpdateQRCodeLocation" id="SaveQRCodeLocationName" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Location Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.LocationID, new SelectList(ViewBag.GetLocationName, "Id", "Name"),"--Select--", new { @class = "form-control", name = "LocationName", id = "dpdLocationNameID", autocomplete = "Off" })
                                                    @Html.HiddenFor(model => model.QRCodeID_Encrypted, new { id = "QRCodeID_Encrypted" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                QR Code Location
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.QRCodeLocationName, new { @class = "form-control", name = "QRCodeLocationName", id = "txtQRCodeLocationName", autocomplete = "Off" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                @*IsActive*@
                                                <span class="important"></span>
                                            </label>
                                            <div class="col-md-10">
                                                <div class="col-md-12">
                                                    @Html.CheckBoxFor(model => model.IsActive, new { name = "IsActive", id = "checkIsActive", })
                                                    <label class="form-label col-form-label col-md-2">
                                                        IsActive
                                                        @*<span class="important"></span>*@
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="/Setting/Setting_NightRound_QRCodeGeneration/GetQRCodeLocationList">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#formReset").click(function () {
            $("#SaveQRCodeLocationName")[0].reset();
        })

    });//Ready Funcation
</script>


<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveQRCodeLocationName').validate({
        rules: {
            QRCodeLocationName: { //Name textboxName
                required: true,

            },
            //LocationName: {
            //    required: true,

            //},

        },
        messages: {
            QRCodeLocationName: {
                required:"QR Code Location name is required",
            },
            //LocationName:{
            //    required:"Please Select Location "
            //}
        },

    });

    var form = $("#SaveQRCodeLocationName");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var QRCodeLocationName=$("#txtQRCodeLocationName").val();
        var QRCodeID_Encrypted=$("#QRCodeID_Encrypted").val();
        var dpdLocationNameID=$("#dpdLocationNameID").val();
        $.ajax({
            url:"IsQRCodeLocationExist",
            method:"get",
            data:{QRCodeLocationName:QRCodeLocationName,QRCodeID_Encrypted:QRCodeID_Encrypted,dpdLocationNameID:dpdLocationNameID},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveQRCodeLocationName").submit();

                }
            }
        });

    });
</script>

