@model KompassHR.Areas.Reports.Models.EmployeeConfirmation
@{
    ViewBag.Title = "Module_Employee_EmployeeConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
  
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 11px;
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        /*overflow: auto;*/
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 10px;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 60px; /* Set the width for the first column */
        text-align: center;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee Confirmation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_HRSpaceMenu", "ESS_HRSpaceMenu", new {id = 41, ScreenId=651, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Employee Confirmation</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        You can confirm the employee here. Their probation period is complete, and they are now a permanent part of the company.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Module_Employee_EmployeeConfirmation", "Module_Employee_EmployeeConfirmation", new { area = "Module" })' id="SaveEmployeeConfirmation" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.ComapnyName ?? new List<dynamic>(), "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlCmpId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Bussiness Unit <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName ?? new List<dynamic>(), "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlBranchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Month
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Month, new { id = "ddlMonth", @class = "form-control",name= "Month" ,type="month"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <div class="col-md-4">
                                                <button type="button" id="btnShow" class="btn btn-success btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Show
                                                </button>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <hr class="mt-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            @*<label class="form-label col-form-label col-md-2">
                                            </label>*@
                                            <div class="col-md-12">
                                                <table class="table table-bordered align-middle tblAddData TabledataBulkClass" id="tblEmployeeList" style="width: 100%;">
                                                    <thead style="text-align: center;">
                                                        <tr style="background-color: lightgray; border: 1px solid lightslategray;">
                                                            <th class="text-center"><input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" /> &nbsp; All</th>
                                                            <th hidden class="text-nowrap ">EmployeeID</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">EmployeeNo</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">Employee Name</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">Business Unit</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">DepartmentName</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">DesignationName</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">JoiningDate</th>
                                                            <th style="border: 1px solid lightslategray;" class="text-nowrap ">ConfirmationDate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblBodyEmployeeList">
                                                        @foreach (var d in ViewBag.GetEmployeeList)
                                                        {
                                                            <tr>
                                                                <td><input type="checkbox" class="form-check-input" /></td>
                                                                <td hidden class="text-nowrap">@d.EmployeeId</td>
                                                                <td class="text-nowrap">@d.EmployeeNo</td>
                                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                                <td class="text-nowrap">@d.BranchName</td>
                                                                <td class="text-nowrap">@d.DepartmentName</td>
                                                                <td class="text-nowrap">@d.DesignationName</td>
                                                                <td class="text-nowrap">@d.JoiningDate</td>
                                                                <td class="text-nowrap">@d.ConfirmationDate</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.TabledataBulkClass').DataTable({
            scrollY: '400px',
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true,
            autoWidth: true,
            stripeClasses: [],
            columnDefs: [
                { targets: '_all', className: 'dt-head-center' }
            ],
            fixedHeader: false,
        });

        $("#ddlCmpId").select2();
        $("#ddlBranchId").select2();

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Module_Employee_BulkUpdateReporting")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlBranchId").append("<option value=''>--Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlManagerId").find("option").remove();
            $("#ddlNewManagerId").find("option").remove();
            var BranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetManagerName", "Module_Employee_BulkUpdateReporting")',
                data: { BranchId: BranchId },
                success: function (data) {
                    if (data != null) {
                        $("#ddlManagerId").append("<option value=''>--Select-- </option>");
                        $.each(data.ManagerName, function (i, p) {
                            $("#ddlManagerId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
        $("#ddlMonth").on("change", function () {
            $('#tblBodyEmployeeList tr').not(function () { return !!$(this).has('th').length; }).remove();
        });

    })
    //ready end 


    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function (value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   }, "erreur expression reguliere"
);


    $("#SaveEmployeeConfirmation").validate({
        rules: {
            CmpId: {
                required: true,
            },
            BranchId: {
                required: true,
            },
            Month: {
                required: true,
            },
        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            BranchId: {
                required: "Bussiness unit is required",
            },
            Month: {
                required: "Month is required",
            },
        }
    });

    var form = $("#SaveEmployeeConfirmation");
    form.validate();
    $("#btnShow").click(function () {
        form.valid();
        if (form.valid() == false) {
            $("#ddlMonth").removeClass('error');
            return false;
        }
       
        $(".Userloaderbg").css("display", "flex");
        $("#SaveEmployeeConfirmation").submit();
    })

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
</script>

<script>
    $("#btnSubmit").click(function () {
        debugger;
        var Month = $("#ddlMonth").val();
     
        if (Month == "") {
            $("#errorNewManagerId").html("New Manager Name is required"); return false;
        }
        else {
            $("#errorNewManagerId").html("");
        }

        var BulkConfirmation = [];
        debugger;
        $("#tblBodyEmployeeList").find(':checkbox:checked').each(function (i) {
            debugger;
            var data = {};
            var currentRow = $(this).closest("tr");
            data.EmployeeId = currentRow[0].cells[1].innerText;
            BulkConfirmation.push(data);
        });

        if (BulkConfirmation == "") {
            debugger;
            Swal.fire({
                icon: "error",
                text: "Select atleast one record",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }
        // console.log(BulkUpdateReporting);

        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdate", "Module_Employee_EmployeeConfirmation")',
            data: JSON.stringify({ BulkConfirmation: BulkConfirmation, Month: Month }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (Icon1 == "error") {
                    $(".Userloaderbg").css("display", "none");
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                // return false
                            }
                        });
                    }
                }
                else {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                // return false
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Module_Employee_EmployeeConfirmation", "Module_Employee_EmployeeConfirmation")';
                            } else if (
                                result.dismiss === Swal.DismissReason.cancel
                            ) {
                            }
                        })
                    }
                }
            }
        });
    });
</script>
