
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<html>

<body>
    <div id="content" class="app-content">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
                <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                    Conveyance Claim
                </h1>
                <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                    <li style="margin-right: 10px;">
                        <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                            <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ESS_ClaimReimbusement_Menu", "ESS_ClaimReimbusement_Menu", new {id = 8, ScreenId=172, area = "ESS" })">
                            <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">

                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@Conveyance Claim - Approved List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            This is the approved list of Conveyance claim.
                        </p>
                    </div>
                    <div class="panel-body" data-scrollbar="true">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("ESS_ClaimReimbusement_TravelClaim", "ESS_ClaimReimbusement_TravelClaim", new { area = "ESS" })">
                                    <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                        <i class="fa-solid fa-plus"></i> &nbsp; Add
                                    </button>
                                </a>
                                <!-- BEGIN table-responsive -->
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered align-middle TablePage" id="tblClaim_Travel" style="width: 100%;">
                                            <thead>
                                                <tr class="trheading">                                                    
                                                    @*<th class="fixed-side">Approval History</th>*@
                                                    <th class="fixed-side">Delete</th>
                                                    <th class="fixed-side1">Status</th>
                                                    <th class="text-nowrap">Auto/Manually</th>
                                                    <th class="text-nowrap text-center">Doc No</th>
                                                    <th class="text-nowrap text-center">Doc Date</th>
                                                    <th class="text-nowrap text-center">Travel Type</th>
                                                    <th class="text-nowrap text-center">Per KM Rate</th>
                                                    <th class="text-nowrap text-center">From Date</th>
                                                    <th class="text-nowrap text-center">To Date</th>
                                                    <th class="text-nowrap text-center">From Location</th>
                                                    <th class="text-nowrap text-center">To Location</th>
                                                    <th class="text-nowrap text-center">Travel Purpose</th>
                                                    <th class="text-nowrap text-center">Description</th>
                                                    <th class="text-nowrap text-center">TotalKM</th>
                                                    <th class="text-nowrap text-center">Total KM Amount</th>
                                                    <th class="text-nowrap text-center">Total KM Path</th>
                                                    <th class="text-nowrap text-center">Transport</th>
                                                    <th class="text-nowrap text-center">Transport Path</th>
                                                    <th class="text-nowrap text-center">Food</th>
                                                    <th class="text-nowrap text-center">FoodPath</th>
                                                    <th class="text-nowrap text-center">Hotel</th>
                                                    <th class="text-nowrap text-center">Hotel Path</th>
                                                    <th class="text-nowrap text-center">Conveyance</th>
                                                    <th class="text-nowrap text-center">Conveyance Remark</th>
                                                    <th class="text-nowrap text-center">Conveyance Path</th>
                                                    <th class="text-nowrap text-center">Other A</th>
                                                    <th class="text-nowrap text-center">Other A Remark</th>
                                                    <th class="text-nowrap text-center">Other A Path</th>
                                                    <th class="text-nowrap text-center">Other B</th>
                                                    <th class="text-nowrap text-center">Other B Remark</th>
                                                    <th class="text-nowrap text-center">Other B Path</th>
                                                    <th class="text-nowrap text-center">Total Amount</th>
                                                    <th class="text-nowrap text-center">Approved Amount</th>
                                                    <th class="text-nowrap text-center">Approve Reject By</th>
                                                    <th class="text-nowrap text-center">Approve Reject Date</th>
                                                    <th class="text-nowrap text-center">Approve Reject Remark</th>
                                                    <th class="text-nowrap text-center">Created By</th>
                                                    <th class="text-nowrap text-center">Created Date</th>
                                                    <th class="text-nowrap text-center">Modified By</th>
                                                    <th class="text-nowrap text-center">Modified Date</th>
                                                    <th class="text-nowrap text-center">Machine Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var d in ViewBag.GetClaim_Travel)
                                                {
                                                    <tr>
                                                        @*<td class="text-center">
                                                            <button type="button" data-bs-toggle="offcanvas"
                                                                    href="#offcanvasExample" id="btnActionList" onclick="ApprovalHistory('@d.TravelClaimId_Encrypted')" class="btn  btnpress ListBtn">
                                                                <i class="fa-solid fa-list"></i>
                                                            </button>
                                                        </td>*@
                                                        <td class="text-center fixed-side1">
                                                            <a onclick="DeleteTravelClaim('@d.TravelClaimId_Encrypted','@d.Status')" id="btnDelete" style="cursor:pointer">
                                                                <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-nowrap">
                                                            <i class="fa-solid fa-circle-info text-success fa-lg" style="cursor: pointer;" onclick="ApproveStatus(@d.TravelClaimId)"></i> &nbsp;
                                                            @d.ApprovedDay
                                                        </td>
                                                        <td class="text-nowrap">@d.AutoApproval</td>
                                                        <td class="text-nowrap" style="text-align:right">@d.VoucherNo</td>
                                                        <td class="text-nowrap">@d.VoucherDate</td>
                                                        <td class="text-nowrap">@d.TravelType</td>
                                                        <td class="text-nowrap" style="text-align:right">@d.PerKMRate</td>
                                                        <td class="text-nowrap">@d.FromDate</td>
                                                        <td class="text-nowrap">@d.ToDate</td>
                                                        <td class="text-nowrap">@d.FromLocation</td>
                                                        <td class="text-nowrap">@d.ToLocation</td>
                                                        <td class="text-nowrap">@d.TravelPurpose</td>
                                                        <td class="text-nowrap">@d.Description</td>
                                                        <td class="text-nowrap" style="text-align:right">@d.TotalKM</td>
                                                        <td class="text-nowrap" style="text-align:right">@d.TotalKMAmount</td>
                                                        <td class="text-center">
                                                            
                                                            @if (d.TotalKMPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.TotalKMPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.Transport</td>

                                                        <td class="text-center">
                                                            @if (d.TransportPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.TransportPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }
                                                           
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.Food</td>
                                                        <td class="text-center">
                                                            @if (d.FoodPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.FoodPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }                                                            
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.Hotel</td>
                                                        <td class="text-center">
                                                            @if (d.HotelPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.HotelPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }
                                                           
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.Conveyance</td>
                                                        <td class="text-nowrap">@d.ConveyanceRemark</td>
                                                        <td class="text-center">
                                                            @if (d.ConveyancePath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.ConveyancePath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }

                                                          
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.OtherA</td>
                                                        <td class="text-nowrap">@d.OtherARemark</td>
                                                        <td class="text-center">
                                                            @if (d.OtherAPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.OtherAPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }

                                                            
                                                        </td>
                                                        <td class="text-nowrap" style="text-align:right">@d.OtherB</td>
                                                        <td class="text-nowrap">@d.OtherBRemark</td>
                                                        <td class="text-center">
                                                            @if (d.OtherBPath == "File Not Found")
                                                            {
                                                                <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <i class="fa fa-download fa-xl" onclick="DownloadFile('@d.OtherBPath.Replace("\\", "/")')"></i>
                                                                </a>
                                                            }
                                                            
                                                        </td>
                                                        @*<td class="text-nowrap" style="text-align:right">@d.TotalAmount</td>*@
                                                        <td>@d.TotalAmount</td>
                                                        <td>@d.ApprovedAmount</td>

                                                        <td class="text-nowrap">@d.ApprovedByName</td>
                                                        <td class="text-nowrap">@d.ApproveRejectDate</td>
                                                        <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                                        <td class="text-nowrap">@d.CreatedBy</td>
                                                        <td class="text-nowrap">@d.CreatedDate</td>
                                                        <td class="text-nowrap">@d.ModifiedBy</td>
                                                        <td class="text-nowrap">@d.ModifiedDate</td>
                                                        <td class="text-nowrap">@d.MachineName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>


<!-- #Start Cancel Request dialog -->
<div class="modal fade" id="CancelModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Cancel</h4>

            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            @* @Html.DropDownListFor(model => model.PunchMissingEmployeeID, new SelectList(ViewBag.GetAdditionalList, "Id", "Name"), new { id = "LeaveMasterLeaveYearId", name = "LeaveMasterLeaveYearId", @class = "form-select", autocomplete = "off" })*@
                                            <h6> Select Approver Name</h6>

                                            @Html.DropDownList("Id", new SelectList(ViewBag.GetManagerEmployee, "Id", "Name"), "--Select--", new { @class = "form-control", Id = "ddlManagerName" })
                                            <h1></h1>
                                            <span id="ErrorMessage" class="Error" style="color:red"></span>
                                            <h6> Enter Remark </h6>
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SendCancelRequest()" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress btn-sm CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End Cancel Request dialog -->
@*<div class="modal" id="modal_basic2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" style="display: none ;margin-top:50px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cancel</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row mb-3">
                        <label class="col-lg-4 col-form-label form-label" for="Remark">Remark:</label>
                        <div class="col-lg-8">
                            @Html.TextArea("Remark", new { @class = "input-sm form-control", id = "txtRejectRemark", placeholder = "Enter Remark" })

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="Ok btn btn-success" data-dismiss="modal" id="btnReject" value="Cancel" />
                </div>
            </div>
        </div>
    </div>*@




<!-- Start panel -->
<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false"
         data-bs-scroll=true>
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1"
                style="width: 100%;">
                <span>Approval History</span>
            </h6>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                
                <div class="card" style="padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.05); border-radius: 10px;">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-history text-primary me-2"></i>
                        <h4 class="m-0">Approval History</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-light">
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Name of Approver</th>
                                    <th>Role</th>
                                    <th>Comment</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>23-July -2025</td>
                                    <td>11:00</td>
                                    <td>EmployeeName</td>
                                    <td>Role</td>
                                    <td>Remark</td>
                                    <td>GeneralClaimAmount</td>
                                    <td class="text-success">Pending</td>
                                </tr>
                                <tr>
                                    <td>23-July-2025</td>
                                    <td>11:00</td>
                                    <td>EmployeeName</td>
                                    <td>Role</td>
                                    <td>Remark</td>
                                    <td>GeneralClaimAmount</td>
                                    <td class="text-success">Pending</td>
                                </tr>
                                <tr>
                                    <td>23-July-2025</td>
                                    <td>11:00</td>
                                    <td>EmployeeName</td>
                                    <td>Role</td>
                                    <td>Remark</td>
                                    <td>GeneralClaimAmount</td>
                                    <td class="text-success">Pending</td>
                                </tr>
                            </tbody>
                            @*<tbody>
                                @foreach (var item in ViewBag.ApprovalHistory)
                                {
                                    <tr>
                                        <td>@item.ApprovedDate</td>
                                        <td>@item.Time</td>
                                        <td>@item.EmployeeName</td>
                                        <td>@item.Role</td>
                                        <td>@item.Remark</td>
                                        <td>@item.GeneralClaimAmount</td>
                                        <td class="text-success">@item.Status</td>
                                    </tr>
                                }
                            </tbody>*@
                        </table>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>
<!-- END panel -->





<style>
    .timeline {
        max-width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .timeline:before {
            left: 32px;
        }

    .timeline-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .timeline-item:last-child {
            margin-bottom: 0;
        }

    .iconGreen {
        width: 24px;
        height: 24px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 15px;
    }

    .iconRed {
        width: 24px;
        height: 24px;
        background-color: #ff5b57;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 15px;
    }

    .text {
        flex-grow: 1;
    }

        .text p {
            margin: 0;
            font-size: 14px;
        }

        .text small {
            color: gray;
            font-size: 12px;
        }

    .button {
        text-align: center;
        margin-top: 20px;
    }

        .button button {
            background-color: #a8d935;
            border: none;
            padding: 10px 20px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

            .button button:hover {
                background-color: #8cc62f;
            }
</style>

<div class="modal fade" id="RequestInfoModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body-content" style="position: relative;">
                <div class="timeline">
                    <div class="panel-heading-btn" style="margin-top: -13px; position: absolute; right: 8px;" data-bs-dismiss="modal">
                        <a href="javascript:;" class="btn btn-icon btn-danger btnClear"
                           aria-hidden="true" id="CloseModel">
                            <i class="fa fa-xmark"></i>
                        </a>
                        
                    </div>
                    <div id="timelineMainDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>

    function DeleteTravelClaim(TravelClaimId_Encrypted,Status) {
        debugger

        if(Status!="Pending")
        {
            Swal.fire({
                icon: "error",
                text: "Approved/Rejected request can't delete",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this....!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            debugger
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("TravelClaimDelete", "ESS_ClaimReimbusement_TravelClaim")?TravelClaimId_Encrypted=' + TravelClaimId_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
</script>

<script>
    function CancelRequestFun(TravelClaimId,Status) {
        debugger;
        if(Status=="Pending" || Status=="Cancel")
        {
            if(Status=="Pending")
            {
                var Message="Pending request can't cancel";
                var Icon="error";
            }
            else{
                var Message="Request already cancel";
                var Icon="error";
            }

            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        localStorage.setItem('TravelClaimId', TravelClaimId);
        $("#CancelModal").modal('show');
    }
    //function CancelFuncation(TravelClaimId_Encrypted) {
    //    $('#myModalFinal').modal('show');
    //}
</script>

<script>
    function SendCancelRequest() {
        var ddlManagerName = $('select#ddlManagerName option:selected').val();
        if (!ddlManagerName) {
            $("#ErrorMessage").html("Please select approver name");
            $("#ddlManagerName").focus();
            return false;
        }
        $("#ErrorMessage").html("");

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!'
        }).then((result) => {
            if (result.isConfirmed) {
                var ClaimId = localStorage.getItem('TravelClaimId');
                var managerId = $("#ddlManagerName").val();
                var remark = $("#txtApproveRejectRemark").val();
                var origin = "TravelClaim";

                $("#CancelModal").modal('hide');
                $(".Userloaderbg").css("display", "flex");

                $.ajax({
                    url: '@Url.Action("CancelRequest", "ESS_ClaimReimbusement_TravelClaim")',
                    method: "GET",
                    data: { TravelClaimId: ClaimId, ddlManagerId: managerId, Remark: remark, Origin: origin },
                    success: function (response) {
                        Swal.fire({
                            icon: response.Icon,
                            text: response.Message
                        }).then(() => {
                            if (response.Icon === "success") {
                                window.location.href = '@Url.Action("GetList", "ESS_ClaimReimbusement_TravelClaim")';
                            }
                            $(".Userloaderbg").css("display","none");
                            $("#CancelModal").modal('hide');
                            $("#txtApproveRejectRemark").val("");
                        });
                    }
                });
            } else {
                $("#CancelModal").modal('hide');
                $("#ddlManagerName").val(null);
                $("#txtApproveRejectRemark").val("");
            }
        });
    }

</script>

<script>

    function DownloadFile(attachmentPath) {
        var correctedPath = attachmentPath.replace(/\//g, '\\');
        var url = '@Url.Action("DownloadAttachment", "ESS_ClaimReimbusement_TravelClaim")';

        $.ajax({
            url: url,
            type: 'POST',
            data: { DownloadAttachment: correctedPath },
            success: function (response) {
                debugger;
                if (response.Success) {
                    var fileName = response.FileName;
                    var fileData = atob(response.FileData);  // Decode the base64 string
                    var byteArray = new Uint8Array(fileData.length);
                    for (var i = 0; i < fileData.length; i++) {
                        byteArray[i] = fileData.charCodeAt(i);
                    }

                    var blob = new Blob([byteArray], { type: response.ContentType });
                    var downloadUrl = window.URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = downloadUrl;
                    a.download = fileName;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(downloadUrl);
                }
                else {
                    Swal.fire({
                        icon: response.Icon || 'error',
                        text: response.Message || 'An error occurred.',
                        allowOutsideClick: false
                    });
                }
            },
            error: function (xhr, status, error) {
                debugger
                Swal.fire({
                    icon: 'error',
                    text: 'An unexpected error occurred.',
                    allowOutsideClick: false
                });
            }
        });
    }

</script>


<script>

    function ApprovalHistory(TravelClaimId_Encrypted){
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetHistory", "ESS_ClaimReimbusement_TravelClaim")',
            data: { TravelClaimId_Encrypted:TravelClaimId_Encrypted },
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger
                
                if (response.ApprovalHistory && response.ApprovalHistory.length > 0) {          
                    debugger
                    $('#approvalHistoryContainer').empty();
                    let html = '<table class="table"><thead><tr><th>Property1</th><th>Property2</th></tr></thead><tbody>';               
                    $.each(response.ApprovalHistory, function (index, item) {                     
                        html += `<tr><td>${item.Property1 || 'N/A'}</td><td>${item.Property2 || 'N/A'}</td></tr>`;
                    });
                    html += '</tbody></table>';                    
                    $('#approvalHistoryContainer').html(html);
                } else {                  
                    $('#approvalHistoryContainer').html('<p>No approval history found.</p>');
                }
            },
            error: function (xhr, status, error) {              
                console.error('Error fetching approval history:', error);
                $('#approvalHistoryContainer').html('<p>Error loading approval history.</p>');
            }
        });
    }
</script>



<script>
    function ApproveStatus(DocId) {
        debugger
        $.ajax({
            url: '@Url.Action("RequestStatus", "ESS_ClaimReimbusement_TravelClaim")',
            method: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: { DocId: DocId },
            success: function (response) {
                debugger
                $('#RequestInfoModal').modal('show');
                var data = JSON.parse(response);
                var timelineHtml = '';
                for (var i = 0; i < data.length; i++) {
                    var icon = '';
                    var iconColor='';
                    var textColor = '';
                    if (data[i][5].Value === 'success') {
                        icon = '✔';
                        iconColor ="iconGreen";
                        textColor = 'Green';
                    } else if (data[i][5].Value === 'error') {
                        icon = '✘';
                        iconColor ="iconRed";
                        textColor = 'Red';
                    } else {
                        icon = '⏳';
                        iconColor ="iconRed";
                        textColor = 'Black';
                    }

                    timelineHtml += '<div class="timeline-item">' +
                                '<div class="' + iconColor + '"><span class="timelineIcon">' + icon + '</span></div>' +
                                '<div class="text">' +
                                '<b><p class="timelineRemark" style="color:' + textColor + ';">' + data[i][2].Value + '</p></b>' +
                                '<small class="timelineEmployeeName" style="color:Black;">' + data[i][3].Value + '</small><br />' +
                                 '<small class="timelineDate" style="color:Black;">' + data[i][1].Value + '</small>' +
                                '</div>' +
                                '</div>';
                }
                $('#timelineMainDiv').html(timelineHtml);
            }
        });
    }

</script>