@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.EmployeeWiseAttendance
@{
    ViewBag.Title = "ESS_TimeOffice_EmployeeWiseRegularization";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>


<style>
    .fa-share-from-square {
        transform: rotate(180deg);
    }

    .select2.select2-container {
        width: 100% !important;
    }
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*.table{
           --bs-table-active-bg: #9bc2ce !important;
       }*/
    /*tr:nth-child(even) {
             --bs-table-accent-bg: #D0D3D4   !important;
             }*/
    /*select Row CSS End*/
    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
        border-collapse: collapse;
        background-color: #eee;
    }

    .fixed-side {
        position: sticky;
        left: 0;
        background-color: #eee;
        border-collapse: collapse;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .fa-share-from-square {
        transform: rotate(180deg);
    }

    #tblEmployeeWise input[type="text"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblEmployeeWise input[type="datetime-local"] {
        height: 25px; /* Adjust the height as needed */
    }

    #tblEmployeeWise input[type="date"] {
        height: 25px; /* Adjust the height as needed */
    }


    #tblEmployeeLog td:nth-child(3) {
        display: none;
    }


    /*.divEmployeeLog {
        height: 250px; /* Adjust height as needed *
        overflow-y: auto;
    }*/

    /*.tblheadEmployeeLog {
        position: sticky;
        top: 0;
        border-color: black;
    }*/

    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td {
        border-color: black !important;
        background-color: white !important;
    }

    .dataTables_wrapper .dataTables_scroll .dataTables_scrollFootInner table.table-bordered tr th:first-child, .dataTables_wrapper .dataTables_scroll .dataTables_scrollHeadInner table.table-bordered tr th:first-child {
        border-color: black !important;
    }

    #ShiftIconColor {
        color: #f39c12;
    }

    .table-responsive {
        height: 120px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee-wise Punch Adjustment
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_AttendanceRegularization_SubMenu", "ESS_TimeOffice_AttendanceRegularization_SubMenu", new {id = 5, ScreenId= 363, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Employee-wise Punch Adjustment </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        "Employee Wise Attendance Regularization" refers to the process of systematically managing and correcting attendance records for each individual employee.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_TimeOffice_EmployeeWiseRegularization", "ESS_TimeOffice_EmployeeWiseRegularization", new { area = "ESS" })' id="formRegularization" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <abel class="form-label col-form-label col-md-4">
                                                Company Name
                                            </abel>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCompanyName" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.GetBusinessUnit, "Id", "Name"), new { @class = "form-select", name = "BusinessUnit", id = "ddlBranchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", type = "date", name = "FromDate", id = "txtFromDate" })
                                                @Html.ValidationMessage("FromDate", "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", type = "date", name = "ToDate", id = "txtToDate" })
                                                @Html.ValidationMessage("ToDate", "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                                <span id="ErrortxtGetUserPolicyName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "--Select-- ", new { @class = "form-select", name = "EmployeeName", id = "ddlEmployeeName" })
                                                <span id="ErrorddlEmployeeName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-8">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnload" onclick="LoadEmployeeAttendance()">
                                                    <i class="fa-solid fa-spinner"></i>&nbsp; Load Attendance
                                                </button>

                                                <button type="button" data-bs-toggle="offcanvas" class="btn btn-warning btnpress btn-sm" href="#offcanvasExample" id="btnActionList" onclick="funSetDate(this)" style="width:110px; margin-left: 5px;">
                                                    <i class="fa-solid fa-eye fa-lg blink"></i> &nbsp; Show Log
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-scroll divEmployeeLog">
                                        <div class="table-wrap">
                                            <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="tblEmployeeWise" style="width: 100%;">
                                                <thead class="table-active horizontal-scroll tblheadEmployeeLog" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                    <tr class="trheading">
                                                        <th class="text-start text-center">Action</th>
                                                        <th class="text-start text-center">Sr.No.</th>
                                                        <th class="text-start text-center">Date</th>
                                                        <th class="text-start text-center">In-Time</th>
                                                        <th class="text-start text-center">Out-Time</th>
                                                        <th class="text-start text-center">Remark</th>
                                                        <th hidden>Remark</th>
                                                        <th hidden>isRestricted</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int SrNo = 0;
                                                    }
                                                    @if (ViewBag.EmployeeLog != null)
                                                    {
                                                        foreach (var d in ViewBag.EmployeeLog)
                                                        {
                                                            SrNo++;
                                                            string formattedInTime = "";
                                                            string formattedOutTime = "";

                                                            DateTime myMaxDate = @d.InOut_AttendanceDate.AddDays(1);
                                                            DateTime myMinDate = @d.InOut_AttendanceDate.AddDays(0);
                                                            string MaxDate = myMaxDate.ToString("yyyy-MM-ddTHH:mm");
                                                            string MinDate = myMinDate.ToString("yyyy-MM-ddTHH:mm");

                                                            bool isRestricted = @d.isRestricted;
                                                            //bool isRestricted = true;
                                                            <tr>
                                                                @if (@d.InOut_InTime != null)
                                                                {
                                                                    if (@d.InOut_InTime.ToString("yyyy-MM-ddTHH:mm") != "0001-01-01T00:00")
                                                                    {
                                                                        formattedInTime = @d.InOut_InTime.ToString("yyyy-MM-ddTHH:mm");
                                                                    }
                                                                    else
                                                                    {
                                                                        formattedInTime = "";
                                                                    }
                                                                }
                                                                @if (@d.InOut_OutTime != null)
                                                                {
                                                                    if (@d.InOut_OutTime.ToString("yyyy-MM-ddTHH:mm") != "0001-01-01T00:00")
                                                                    {
                                                                        formattedOutTime = @d.InOut_OutTime.ToString("yyyy-MM-ddTHH:mm");
                                                                    }
                                                                    else
                                                                    {
                                                                        formattedOutTime = "";
                                                                    }
                                                                }
                                                                <td class="text-center" style="background-color:#eee">
                                                                    @if (!isRestricted)
                                                                    {
                                                                        <a onclick="removeRow(this)" id="btnDelete" style="cursor:pointer;">
                                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a style="cursor: not-allowed;" id="btnRestricted">
                                                                            <i class="fa-solid fa-lock text-dark fa-lg"></i>
                                                                        </a>
                                                                    }
                                                                </td>
                                                                <td class="text-center" style="background-color:#eee">@SrNo</td>
                                                                <td class="text-nowrap text-center"> <input type="date" value="@d.InOut_AttendanceDate.ToString("yyyy-MM-dd")" class="form-control" style="background-color:#eee" @(isRestricted ? "readonly" : "")></td>
                                                                @if (formattedInTime == "")
                                                                {
                                                                    <td class="text-nowrap" style="background-color:white !important">
                                                                        <input type="datetime-local" class="form-control InTime" id="txtInTime" min="@MinDate" max="@MaxDate" value="" name="timeInput" onclick="getRowNumber(this)" onchange="validateTimeInput(this)" style="width:170px" @(isRestricted ? "readonly" : "")>
                                                                        <span class="Error" id="ErrortxtInTime" style="display:none"></span>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="text-nowrap" style="background-color:white !important">
                                                                        <input type="datetime-local" class="form-control InTime" id="txtInTime" min="@d.InOut_AttendanceDate.ToString("yyyy-MM-ddTHH:mm")" max="@MaxDate" value="@d.InOut_InTime.ToString("yyyy-MM-ddTHH:mm")" name="timeInput" onclick="getRowNumber(this)" onchange="validateTimeInput(this)" style="width:170px" @(isRestricted ? "readonly" : "")>
                                                                        <span class="Error" id="ErrortxtInTime" style="display:none"></span>
                                                                    </td>
                                                                }
                                                                @if (formattedOutTime == "")
                                                                {
                                                                    <td class="text-nowrap" style="background-color:white !important">
                                                                        <input type="datetime-local" class="form-control OutTime" id="txtOutTime" min="@MinDate" max="@MaxDate" value="" onclick="getRowNumber(this)" name="timeInput" onchange="validateTimeInput(this)" style="width:170px" @(isRestricted ? "readonly" : "")>
                                                                        <span class="Error" id="ErrortxtOutTime" style="display:none"></span>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    //DateTime myDate = @d.InOut_AttendanceDate.AddDays(1);
                                                                    //string OutTimeMax = myDate.ToString("yyyy-MM-ddTHH:mm");
                                                                    <td class="text-nowrap" style="background-color:white !important">
                                                                        <input type="datetime-local" class="form-control OutTime" id="txtOutTime" min="@d.InOut_AttendanceDate.ToString("yyyy-MM-ddTHH:mm")" max="@MaxDate" value="@d.InOut_OutTime.ToString("yyyy-MM-ddTHH:mm")" onclick="getRowNumber(this)" name="timeInput" onchange="validateTimeInput(this)" style="width:170px" @(isRestricted ? "readonly" : "")>
                                                                        <span class="Error" id="ErrortxtOutTime" style="display:none"></span>
                                                                    </td>
                                                                }
                                                                @*<td class="text-nowrap text-center"><input type="time" value="@d.InTime" class="form-control"></td>
                                                                    <td class="text-nowrap text-center"><input type="time" value="@d.OutTime" class="form-control"></td>*@
                                                                <td class="text-start text-center"><input type="text" id="txtRemark" class="form-control" value="@d.InOut_inoutnote" @(isRestricted ? "readonly" : "")></td>
                                                                <td class="text-start text-center" hidden>@d.InOut_EmployeeId</td>
                                                                <td class="text-start text-center" hidden>@d.isRestricted</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <span class="Error" id="ErrortblEmployeeWise" style="margin-top: 12px; margin-right:31px; font-size:15px;"></span>

                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>

                                                    <a href="@Url.Action("ESS_TimeOffice_AttendanceRegularization_SubMenu", "ESS_TimeOffice_AttendanceRegularization_SubMenu", new { id=5 , ScreenId=363, area = "ESS" })">
                                                        <button type="button" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i> Back
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<!-- Start panel -->
<div class="row">
    <div class="col-lg-12">
        <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false" data-bs-scroll=true>
            <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
                <h6 class="offcanvas-title text-center" id="EmpName1"
                    style="width: 100%;">
                    <span id="EmpName"></span>
                </h6>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-5">
                                From date
                                <span class="important">*</span>
                            </label>
                            <div class="col-md-7">
                                @Html.TextBox("LogFromDate", null, new { @class = "form-control", id = "LogFromDate", type = "date" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-5">
                                To date
                                <span class="important">*</span>
                            </label>
                            <div class="col-md-7">
                                @Html.TextBox("LogToDate", null, new { @class = "form-control", id = "LogToDate", type = "date" })
                            </div>
                            <span class="Error" id="ErrorLogFromToDate" style="display:none"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-5">

                            </label>
                            <div class="col-md-7">
                                <button type="button" class="btn btn-primary btn-sm" id="btnload" onclick="LoadEmployeeLog()">
                                    <i class="fa-solid fa-spinner"></i>&nbsp; Load Log
                                </button>
                            </div>
                            <span class="Error" id="ErrorLogFromToDate" style="display:none"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 overflow-auto">

                        <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="tblEmployeeLog" style="width:100%;">
                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                <tr class="text-center">
                                    <th class="text-nowrap text-center">Log Date</th>
                                    <th class="text-nowrap text-center">In-Out</th>
                                    <th class="text-nowrap text-center" hidden></th>
                                    <th class="text-nowrap text-center">In</th>
                                    <th class="text-nowrap text-center">Out</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var d in ViewBag.EmployeeLog)
                                    {
                                        <tr onclick="tblEmployeeLogRowColor(this)">
                                            <td class="text-nowrap text-center">@d.LoDate</td>
                                            <td class="text-nowrap text-center">@d.Direction</td>
                                            <td hidden>TimeSend 24Hr</td>
                                            <td><i class="fa-regular fa-circle-up"></i></td>
                                            <td><i class="fa-regular fa-circle-up"></i></td>
                                        </tr>
                                    }*@
                            </tbody>
                        </table>

                    </div>
                </div>
                <br />
                @*<div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="tblShift" style="width: 100%;">
                                <thead style="background-color:#eee">
                                    <tr class="text-center">
                                        <th class="text-nowrap text-center">Action</th>
                                        <th class="text-nowrap text-center">Shift Name</th>
                                        <th class="text-nowrap text-center">Group Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>*@
                <br />
            </div>
        </div>
    </div>
</div>
<!-- END panel -->

<script>
    $(document).ready(function () {
        debugger;

        var GetSelectedEmpId = @Html.Raw(Json.Encode(TempData["GetSelectedEmpId"]));
        if (GetSelectedEmpId!="") {
            $("#ddlEmployeeName").val(GetSelectedEmpId);
        }

        var fromDateInput = document.getElementById("txtFromDate");
        var toDateInput = document.getElementById("txtToDate");
        let today = new Date();

        // Get yesterday's date by subtracting 1 day from today's date
        let yesterday = new Date();
        yesterday.setDate(today.getDate() - 1); // Subtract one day for yesterday
        let formattedYesterday = yesterday.toISOString().substr(0, 10); // Format yesterday's date

        // Set yesterday's date as the default value in both inputs
        $("#txtFromDate").val(formattedYesterday);
        $("#txtToDate").val(formattedYesterday);

        // Disable today's date by setting max to yesterday
        let SetMaxDays = formattedYesterday; // Yesterday's date is the max selectable date
        // Set the max attribute to yesterday, so today's date and future dates are disabled
        document.getElementById("txtFromDate").setAttribute("max", SetMaxDays);
        document.getElementById("txtToDate").setAttribute("max", SetMaxDays);


        //var currentDate = new Date();
        ////currentDate.setDate(currentDate.getDate() - 1);
        //var LogminDateString = currentDate.toISOString().split('T')[0];
        //fromDateInput.setAttribute("max", LogminDateString);
        //toDateInput.setAttribute("max", LogminDateString);

        var hasError = "";
        $("#ddlCompanyName").select2();
        $("#ddlBranchId").select2();
        $("#ddlEmployeeName").select2();
        var SetFromDate = @Html.Raw(Json.Encode(Session["SetFromDate"]));
        var SetToDate = @Html.Raw(Json.Encode(Session["SetToDate"]));
        if (SetToDate!=null)
        {
            $("#txtFromDate").val(SetFromDate);
            $("#txtToDate").val(SetToDate);
        }

        $(document).on('change', '#txtInTime, #txtOutTime', function () {
            debugger;
            var currentRow = $(this).closest("tr");
            var GetDate = currentRow.find("td").eq(2).find("input").val();
            var GetInTimes = currentRow.find("td").eq(3).find("input").val();
            var GetOutTimes = currentRow.find("td").eq(4).find("input").val();

            var GetInDate = GetInTimes.substring(0, 10);
            var GetOutDate = GetOutTimes.substring(0, 10);
            var GetInTime = GetInTimes.substring(11);
            var GetOutTime = GetOutTimes.substring(11);



            //if (GetInTimes == "") {
            //    row.find('#ErrortxtInTime').css('display', 'flex');
            //    row.find('#ErrortxtInTime').html("Invalid In Time");
            //    hasError = true; return false;
            //}
            //else {
            //    $("#ErrortxtInTime").html("");
            //    hasError = false;
            //}

            //if (tblRowData.InOut_OutTime == "") {
            //    row.find('#ErrortxtOutTime').css('display', 'flex');
            //    row.find('#ErrortxtOutTime').html("Invalid Out Time");
            //    hasError = true; return false;
            //}
            //else {
            //    $("#ErrortxtOutTime").html("");
            //    hasError = false;
            //}


            //For Date Check
            if (GetInDate === GetOutDate) // IF SAME DATE
            {
                //FOR CHECK TIME SHOULD NOT GRETER
                if (GetInTime > GetOutTime) {
                    //currentRow.find('#txtInTime').css('color', 'red');
                    currentRow.find('#ErrortxtOutTime').css('display', 'flex');
                    currentRow.find('#ErrortxtOutTime').html("Not Less Than In Time");
                    return false; hasError = true;
                }
                else {
                    //currentRow.find('#txtInTime').css('color', 'black');
                    currentRow.find('#ErrortxtOutTime').css('display', 'none');
                    currentRow.find('#ErrortxtOutTime').html("");
                    hasError = "";
                }
            }
            else if (GetInDate != GetOutDate)// IF DIFFRENT DATE
            {
                var fromDate = new Date(GetInDate);
                var toDate = new Date(GetOutDate);
                // COMPARE THE DATES
                if (fromDate > toDate) {
                    //currentRow.find('#txtInTime').css('color', 'red');
                    currentRow.find('#ErrortxtOutTime').css('display', 'flex');
                    currentRow.find('#ErrortxtOutTime').html("Not Less Than In Date");
                    return false; var hasError = true;
                }
                else {
                    //currentRow.find('#txtInTime').css('color', 'black');
                    currentRow.find('#ErrortxtOutTime').css('display', 'none');
                    currentRow.find('#ErrortxtOutTime').html("");
                    var hasError = "";
                }
            }
            //else if (GetInDate != GetOutDate)// IF DIFFRENT DATE
            //{
            //    var fromDate = new Date(GetInDate);
            //    var toDate = new Date(GetOutDate);
            //    // COMPARE THE DATES
            //    if (fromDate > toDate) {
            //        //currentRow.find('#txtInTime').css('color', 'red');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'flex');
            //        currentRow.find('#ErrortxtOutTime').html("Not Less Than In Date");
            //        return false; var hasError = true;
            //    }
            //    else {
            //        //currentRow.find('#txtInTime').css('color', 'black');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'none');
            //        currentRow.find('#ErrortxtOutTime').html("");
            //        var hasError = "";
            //    }

            //    //FOR IN TIME SHOULD NOT GRETER THAN 09:00 AM
            //    if (GetInTime > '09:00') {
            //        //currentRow.find('#txtInTime').css('color', 'red');
            //        currentRow.find('#ErrortxtInTime').css('display', 'flex');
            //        currentRow.find('#ErrortxtInTime').html("In Time Not Allow 09:00 AM");
            //        return false; var hasError = true;
            //    }
            //    else {
            //        //currentRow.find('#txtInTime').css('color', 'black');
            //        currentRow.find('#ErrortxtInTime').css('display', 'none');
            //        currentRow.find('#ErrortxtInTime').html
            //        var hasError = "";
            //    }
            //    //FOR OUT TIME SHOULD NOT GRETER THAN 09:00 AM
            //    if (GetOutTime > '05:00') {
            //        //currentRow.find('#txtInTime').css('color', 'red');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'flex');
            //        currentRow.find('#ErrortxtOutTime').html("Out Time Not Allow 05:00 AM");
            //        return false; var hasError = true;
            //    }
            //    else {
            //        //currentRow.find('#txtInTime').css('color', 'black');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'none');
            //        currentRow.find('#ErrortxtOutTime').html
            //        var hasError = "";
            //    }
            //}


            //var fromDates = new Date(GetInDate);
            //var toDates = new Date(GetOutDate);
            //if (GetDate < fromDates || GetDate < toDates)// IF DIFFRENT DATE
            //{

            //    //FOR IN TIME SHOULD NOT GRETER THAN 09:00 AM
            //    if (GetInTime > '09:00') {
            //        //currentRow.find('#txtInTime').css('color', 'red');
            //        currentRow.find('#ErrortxtInTime').css('display', 'flex');
            //        currentRow.find('#ErrortxtInTime').html("In Time Not Allow 09:00 AM");
            //        return false; var hasError = true;
            //    }
            //    else {
            //        //currentRow.find('#txtInTime').css('color', 'black');
            //        currentRow.find('#ErrortxtInTime').css('display', 'none');
            //        currentRow.find('#ErrortxtInTime').html
            //        var hasError = "";
            //    }
            //    //FOR OUT TIME SHOULD NOT GRETER THAN 09:00 AM
            //    if (GetOutTime > '05:00') {
            //        //currentRow.find('#txtInTime').css('color', 'red');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'flex');
            //        currentRow.find('#ErrortxtOutTime').html("Out Time Not Allow 05:00 AM");
            //        return false; var hasError = true;
            //    }
            //    else {
            //        //currentRow.find('#txtInTime').css('color', 'black');
            //        currentRow.find('#ErrortxtOutTime').css('display', 'none');
            //        currentRow.find('#ErrortxtOutTime').html
            //        var hasError = "";
            //    }
            //}
        });

        //SET DEFAULT DATE IS CURRENT DATE
        //var Get_today = new Date();
        //// Subtract one day
        ////Get_today.setDate(Get_today.getDate() - 1);
        //var Get_yyyy = Get_today.getFullYear();
        //var Get_mm = String(Get_today.getMonth() + 1).padStart(2, '0'); // January is 0!
        //var Get_dd = String(Get_today.getDate()).padStart(2, '0');
        //var SetTodaysDate = Get_yyyy + '-' + Get_mm + '-' + Get_dd;

        var CheckEmptyToDate = document.getElementById('txtToDate').value;
        var CheckEmptyToDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyToDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }


        $("#ddlCompanyName").on("change", function () {
            debugger;
            $("#tblEmployeeWise tbody tr").detach();
            $("#tblEmployeeLog  tbody tr").detach();

            $("#ddlBranchId").find("option").remove();
            $("#ddlEmployeeName").find("option").remove();
            var GetFromDate = $("#txtFromDate").val();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Report_Attendance_RptMenu", new { area = "Reports" })',
                data: { CmpId: CmpId, GetFromDate: GetFromDate },
                success: function (data) {
                    debugger;

                    var Branch = data.Branch;
                    if (Branch != null) {
                        //$("#ddlBranchId").append("<option value=''>All </option>");
                        $.each(Branch, function (i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    var EmployeeName = data.EmployeeName;
                    if (EmployeeName != null) {
                        $("#ddlEmployeeName").append("<option value=''>--Select-- </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeName").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }

                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        $("#ddlBranchId").on("change", function ()
        {
            debugger;
            $("#tblEmployeeWise tbody tr").detach();
            $("#tblEmployeeLog  tbody tr").detach();
            var CmpId = parseInt($("#ddlCompanyName").val());
            var UnitBranchId = parseInt($("#ddlBranchId").val());
            var GetFromDate = $("#txtFromDate").val();
            $("#ddlEmployeeName").find("option").remove();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployee", "ESS_TimeOffice_EmployeeWiseRegularization", new { area = "ESS" })',
                @*url: '@Url.Action("GetUnit", "Report_Attendance_RptMenu", new { area = "Reports" })',*@
                data: { UnitBranchId: UnitBranchId, CmpId: CmpId, GetFromDate: GetFromDate },
                success: function (data) {
                    var EmployeeName = data.EmployeeName;
                    if (data != null) {
                        $("#ddlEmployeeName").find("option").remove();
                        $("#ddlEmployeeName").append("<option value=''> --Select-- </option>");
                        $.each(EmployeeName, function (i, p) {
                            $("#ddlEmployeeName").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            });
        });

        $("#txtFromDate, #txtToDate").on("change", function () {
            debugger;
            //var input = document.getElementById("txtFromDate").value;
            //var input1 = document.getElementById("txtToDate").value;
            ////define two date object variables with dates inside it
            //fromDateObj = new Date(input);
            //toDateObj = new Date(input1);
            ////calculate time difference
            //var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            ////calculate days difference by dividing total milliseconds in a day
            //var days_differences = time_difference / (1000 * 60 * 60 * 24);
            //var days_difference = days_differences + 1;
            //// Check if toDate is greater than fromDate
            //var from = $("#txtFromDate").val();
            //var to = $("#txtToDate").val();
            //if (Date.parse(from) > Date.parse(to)) {

            //    $("#ErrortxtFromDate").html("From date should not be greater than todate");
            //    return false;
            //}
            //else {
            //    $("#ErrortxtFromDate").html("");
            //}
            //if (days_difference > 31) {
            //    $("#ErrortxtFromDate").html("You should not allow greter than 31 days"); return false;
            //}

            var fromInput = document.getElementById("txtFromDate");
            var toInput = document.getElementById("txtToDate");           
            if (!fromInput.checkValidity()) {
                $("#ErrortxtFromDate").html("Please enter valid From date");
                return;
            }
            if (!toInput.checkValidity()) {
                $("#ErrortxtToDate").html("Please enter valid To date");
                return;
            }
            var from = fromInput.value;
            var to = toInput.value;          
            if (from && to) {
                var fromDateObj = new Date(from);
                var toDateObj = new Date(to);
               
                if (fromDateObj > toDateObj) {
                    $("#ErrortxtFromDate").html("From date should not be greater than To date");
                    return false;
                }              
                var time_difference = toDateObj.getTime() - fromDateObj.getTime();
                var days_difference = (time_difference / (1000 * 60 * 60 * 24)) + 1;             
                if (days_difference > 31) {
                    $("#ErrortxtFromDate").html("You should not allow greater than 31 days");
                    return false;
                }              
                $("#ErrortxtFromDate").html("");
            }



            $("#ddlEmployeeName").find("option").remove();
            var GetFromDate = $("#txtFromDate").val();
            var GetToDate = $("#txtToDate").val();
            var BranchId = $("#ddlBranchId").val();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeNameDateWise", "ESS_TimeOffice_EmployeeWiseRegularization", new { area = "ESS" })',
                @*url: '@Url.Action("GetEmployeeNameDateWise", "Report_Attendance_RptMenu", new { area = "Reports" })',*@
                data: { CmpId: CmpId, BranchId: BranchId, GetFromDate: GetFromDate },
                success: function (data) {
                    debugger;

                    // $("#ddlEmployeeID").append("<option value=''>--Select-- </option>");
                    if (data != null) {
                        $("#ddlEmployeeName").find("option").remove();
                        $("#ddlEmployeeName").append("<option value=''> --Select-- </option>");
                        $.each(data, function (i, p) {
                            $("#ddlEmployeeName").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            })
        });


        $("#ddlEmployeeName").on("change", function () {
            $("#tblEmployeeWise tbody tr").detach();
            $("#tblEmployeeLog  tbody tr").detach();
        });

        $('#tblEmployeeWise').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            ordering: false, // Disable sorting
            searching: false, // Enable searching
            "bInfo": false
        });

        $('#tblEmployeeLog').DataTable({
            scrollY: 300,
            scrollCollapse: false,
            paging: false,
            scrollX: false,
            ordering: false, // Disable sorting
            searching: false, // Enable searching
            "bInfo": false
        });


        //FINAL SUBMIT
        $("#btnSubmit").click(function () {
            debugger;
            var CmpId = $("#ddlCompanyName").val();
            var BranchId = $("#ddlBranchId").val();
            var FromDate = $("#txtFromDate").val();
            var ToDate = $("#txtToDate").val();

            var hasError = "";
            var EmployeeId = $('select#ddlEmployeeName option:selected').val();
            var tbldata = [];
            $("#tblEmployeeWise tbody tr").each(function (index) {
                //var rowNumber = index + 1;
                var row = $(this).closest("tr");

                ////CHECK VALIDATION BEFORE CALCULATION
                //var from = row.find("td").eq(3).find("input").val();
                //var to = row.find("td").eq(4).find("input").val();
                //if (Date.parse(from) > Date.parse(to)) {
                //    $("#ErrortblEmployeeWise").html("From date should not be greater than todate in row no. " + rowNumber + "");
                //    return false;
                //}
                //else {
                //    $("#ErrortblEmployeeWise").html("");
                //}

                ////Convert DateTime To Date and Get Days Diffrent
                //var datefrom = from.split("T")[0];
                //var dateto = to.split("T")[0];
                //var startDate = new Date(datefrom);
                //var endDate = new Date(dateto);
                //var timeDifference = endDate - startDate;
                //var daysDifference = timeDifference / (1000 * 3600 * 24);

                //if (daysDifference > 1) {
                //    $("#ErrortblEmployeeWise").html("From date and To date diffrent should not greater than 2 days in row no. " + rowNumber + "");
                //    return false;
                //}
                //else {
                //    $("#ErrortblEmployeeWise").html("");
                //}
                debugger;
                var tblRowData = {};
                tblRowData.EmployeeId = EmployeeId;
                tblRowData.InOut_AttendanceDate = row.find("td").eq(2).find("input").val();
                tblRowData.InOut_InTime = row.find("td").eq(3).find("input").val();
                tblRowData.InOut_OutTime = row.find("td").eq(4).find("input").val();
                //tblRowData.InOut_InTime = row.find("td").eq(3).find("input[type='datetime-local']").val();
                //tblRowData.InOut_OutTime = row.find("td").eq(4).find("input[type='datetime-local']").val();
                tblRowData.InOut_inoutnote = row.find("td").eq(5).find("input").val();
                tblRowData.InOut_EmployeeId = row.find("td:eq(6)").html();
                tblRowData.isRestricted = row.find("td:eq(7)").html();
                var CheckInTimeError = row.find("#ErrortxtInTime").html();
                if (CheckInTimeError != "") {
                    row.find('#txtInTime').css('color', 'black').focus();
                    hasError = true;
                    return false;
                }
                else {
                    row.find('#txtInTime').css('color', 'black'); // Reset color
                    hasError = false;
                }

                var CheckOutTimeError = row.find("#ErrortxtOutTime").html();
                if (CheckOutTimeError != "") {
                    row.find('#txtOutTime').css('color', 'black').focus();
                    hasError = true;
                    return false;
                }
                else {
                    row.find('#txtOutTime').css('color', 'black'); // Reset color
                    hasError = false;
                }
                tbldata.push(tblRowData);
            });
            console.log(tbldata);
            debugger;
            if (tbldata.length == 0) {
                Swal.fire({
                    icon: "error",
                    text: "No Record In A Table",
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function () {
                    $(".Userloaderbg").css("display", "none");
                    return false;
                });
            }

            if (hasError == true) {
                return false;
            }

            $(".Userloaderbg").css("display", "flex");
            $.ajax({
                url: '@Url.Action("FinalSubmit", "ESS_TimeOffice_EmployeeWiseRegularization")',
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                data: JSON.stringify({ tbldata: tbldata, EmployeeId: EmployeeId, FromDate: FromDate, BranchId: BranchId,CmpId:CmpId, ToDate: ToDate }),
                success: function (response) {
                    debugger;
                    data = JSON.parse(response);
                    if (data != null) {
                        data = JSON.parse(response);
                        var Message1 = data.Message;
                        var Icon1 = data.Icon;
                        if (Icon1 == "error")
                        {
                            if (Message1 != null) {
                                $(".Userloaderbg").css("display", "none");
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    });
                                }
                            }
                        }
                        else
                        {
                            if (Message1 != null) {
                                $(".Userloaderbg").css("display", "none");
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $("#tblEmployeeWise tbody tr").detach();
                                            return false;
                                            //window.location.href = '@Url.Action("ESS_TimeOffice_EmployeeWiseRegularization", "ESS_TimeOffice_EmployeeWiseRegularization")';
                                        }
                                    });
                                }
                            }
                        }
                    }
                }
            });
        });

    });//ready function
</script>

<script>

    var rowIndex;
    function getRowNumber(input) {
        debugger;
        var row = input.parentNode.parentNode; // Get the parent row of the clicked input
        rowIndex = row.rowIndex; // Get the index of the row
        console.log("Row number: " + rowIndex); // Output the row number to console (you can change this as needed)
        clearInputStyles(input);
        //inputTypeId = row.find("input").attr("id");
        input.style.backgroundColor = 'lightgray';

    }

    function LoadEmployeeAttendance() {
        debugger;
        var EmployeeId = $('select#ddlEmployeeName option:selected').val();

        var checkError = $("#ErrortxtToDate").html();
        if (checkError != "") {
            return false;
        }

        if (EmployeeId == "") {
            $("#ErrorddlEmployeeName").html("Please select employee");
            return false;
        }
        else {
            $("#ErrorddlEmployeeName").html("");
        }
        $(".Userloaderbg").css("display", "flex");
        $("#formRegularization").submit();
    }

    //INSIDE SIDE SHOW LOG VIEW AUTO BIND SAME DATE
    function funSetDate() {
        var GettxtFromDate = $("#txtFromDate").val();
        var GettxtToDate = $("#txtToDate").val();

        let dateFD = document.getElementById("LogFromDate");
        let value = GettxtFromDate.split('/').reverse().join('-');
        dateFD.value = value;

        let dateTD = document.getElementById("LogToDate");
        let value1 = GettxtToDate.split('/').reverse().join('-');
        dateTD.value = value1;
        return false;
    }

    //THIS CODE IS USE FOR REMOVE ROW IN A TABLE
    function removeRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
        updateSrNo();
    }

    //LOAD EMPLOYEE LOG FOR VERIFY
    function LoadEmployeeLog() {
        debugger;

        var EmployeeId = $('select#ddlEmployeeName option:selected').val();
        var EmployeeName = $('select#ddlEmployeeName option:selected').text();
        $("#EmpName").html("Name: " + EmployeeName);
        if (EmployeeId == "") {
            $('#ErrorLogFromToDate').css('display', 'flex');
            $("#ErrorLogFromToDate").html("Please select employee name");
            return false;
        }
        else {
            $("#ErrorLogFromToDate").html("");
            $('#ErrorLogFromToDate').css('display', 'none');
        }
        ValidateLogDate();
        var CheckValidError = $("#ErrortxtToDate").html();
        if (CheckValidError != "") {
            return false;
        }

        var CheckErrorValid = $("#ErrorLogFromToDate").html();
        if (CheckErrorValid != "")
        {
            return false;
        }
        var LogFromDate = $("#LogFromDate").val();
        var LogToDate = $("#LogToDate").val();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetEmployeeLogAndShift", "ESS_TimeOffice_EmployeeWiseRegularization")',
            data: { EmployeeId: EmployeeId, LogFromDate: LogFromDate, LogToDate: LogToDate },
            success: function (data) {
                debugger;
                $("#tblEmployeeLog  tbody tr").detach();
                //$("#tblShift  tbody tr").detach();
                var Logdata = data.Logdata;
                //var Shiftdata = data.Shiftdata;
                var tableLogContent = '';
                //var tableShiftContent = '';

                for (var i = 0; i < Logdata.length; i++) {
                    tableLogContent += '<tr id="LogSelectRow_NotUse">';
                    tableLogContent += '<td class="text-nowrap">' + convertDateTime12Hr(Logdata[i][0].Value) + '</td>';
                    tableLogContent += '<td class="text-nowrap text-center">' + Logdata[i][1].Value + '</td>';
                    tableLogContent += '<td hidden>' + convertDateTime(Logdata[i][0].Value) + '</td>';
                    tableLogContent += '<td  class="text-nowrap text-center"><i class="fa-solid fa-square-check fa-lg" style="color:#5cce40;padding:0px;cursor:pointer;" onclick="funLogInOutTime(\'IN\', \'' + convertDateTime(Logdata[i][0].Value) + '\')"></i></td>';
                    tableLogContent += '<td  class="text-nowrap text-center"><i class="fa-solid fa-square-check fa-lg" style="color:#fe6966;padding:0px;cursor:pointer;" onclick="funLogInOutTime(\'OUT\', \'' + convertDateTime(Logdata[i][0].Value) + '\')"></i></td>';
                }
                $('#tblEmployeeLog tbody').append(tableLogContent);

                //for (var i = 0; i < Shiftdata.length; i++) {
                //    tableShiftContent += '<tr id="ShiftSelectRow">';
                //    tableShiftContent += '<td class="text-nowrap text-center" onclick="funSettblShift(\'' + Shiftdata[i][4].Value + '\')"> <i class="fa-solid fa-building-circle-arrow-right fa-xl" id="ShiftIconColor"></i> <span id="shiftText" style="font-size:8px;">Set Shift</span> </td>';
                //    tableShiftContent += '<td style="width: 70px;">' + Shiftdata[i][4].Value + '</td>';
                //    tableShiftContent += '<td>' + Shiftdata[i][5].Value + '</td>';
                //    tableShiftContent += '</tr>';
                //}
                //$('#tblShift tbody').append(tableShiftContent);
            }
        });
    }

    function updateSrNo() {
        var table = document.getElementById("tblEmployeeWise");
        var rows = table.getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i++) { // Assuming the first row is the header
            rows[i].cells[1].innerText = i; // Update SrNo, assuming it's in the first cell
        }
    }
    $("#txtFromDate, #txtToDate").on("change", function () {
        debugger;
        var input = document.getElementById("txtFromDate").value;
        var input1 = document.getElementById("txtToDate").value;
        fromDateObj = new Date(input);
        toDateObj = new Date(input1);
        var time_difference = toDateObj.getTime() - fromDateObj.getTime();
        var days_differences = time_difference / (1000 * 60 * 60 * 24);
        var days_difference = days_differences + 1;

        var from = $("#txtFromDate").val();
        var to = $("#txtToDate").val();
        if (Date.parse(from) > Date.parse(to)) {
            $("#ErrortxtToDate").html("From date should not be greater than todate");
            return false;
        }
        else {
            $("#ErrortxtToDate").html("");
        }
        if (days_difference > 31) {
            $("#ErrortxtToDate").html("You should not allow greter than 31 days");
            return false;
        }
        else {
            $("#ErrortxtToDate").html("");
        }
    });


    function ValidateLogDate() {
        debugger;
        var input = document.getElementById("LogFromDate").value;
        var input1 = document.getElementById("LogToDate").value;
        fromDateObj = new Date(input);
        toDateObj = new Date(input1);
        var time_difference = toDateObj.getTime() - fromDateObj.getTime();
        var days_differences = time_difference / (1000 * 60 * 60 * 24);
        var days_difference = days_differences + 1;

        var from = $("#LogFromDate").val();
        var to = $("#LogToDate").val();
        if (Date.parse(from) > Date.parse(to)) {
            $('#ErrorLogFromToDate').css('display', 'flex');
            $("#ErrorLogFromToDate").html("From date should not be greater than todate");
            return false;
        }
        else {
            $("#ErrorLogFromToDate").html("");
            $('#ErrorLogFromToDate').css('display', 'none');
        }
        if (days_difference > 31) {
            $('#ErrorLogFromToDate').css('display', 'flex');
            $("#ErrorLogFromToDate").html("You should not allow greter than 31 days");
            return false;
        }
        else {
            $("#ErrorLogFromToDate").html("");
            $('#ErrorLogFromToDate').css('display', 'none');
        }
    };

</script>

<script>
    //This Function use for only show in td tag
    function convertDateTime(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecToDateTime(getdate);
        return date;
    }
    function millisecToDateTime(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = ("0" + date.getHours()).slice(-2);
        var minutes = ("0" + date.getMinutes()).slice(-2);
        var yyyyMMdd = [date.getFullYear(), mnth, day].join("-");
        var hhmm = [hours, minutes].join(":");
        return yyyyMMdd + "T" + hhmm;
    }

    //This Function use for bind in input type
    function convertDateTime12Hr(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date1 = millisecToDateTime12Hour(getdate);
        return date1;
    }
    function millisecToDateTime12Hour(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = ("0" + date.getMinutes()).slice(-2);

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        hours = ("0" + hours).slice(-2);

        var yyyyMMdd = [date.getFullYear(), mnth, day].join("-");
        var hhmm = [hours, minutes].join(":");
        return yyyyMMdd + " " + hhmm + " " + ampm;
    }

    function funLogInOutTime(GetInOut, GetTime) {
        debugger;

        var $row = $('#tblEmployeeWise tbody tr:eq(' + (rowIndex - 1) + ')');
        if (GetInOut == "IN") {
            $row.find("td").eq(3).find("input").val(GetTime);
        }
        else if (GetInOut == "OUT") {
            $row.find("td").eq(4).find("input").val(GetTime);
        }

        //var $row = $('#tblEmployeeWise tbody tr:eq(' + (rowIndex - 1) + ')');
        //if (GetInOut == "IN") {
        //    $row.find("td").eq(3).find("input").val(LogTime);
        //}
        //else if (GetInOut == "OUT") {
        //    $row.find("td").eq(4).find("input").val(LogTime);
        //}
    }


    function clearInputStyles(input) {
        //var inputs = document.querySelectorAll('#tblEmployeeWise input[type="text"]');
        //var dates = document.querySelectorAll('#tblEmployeeWise input[type="date"]');
        var datetime = document.querySelectorAll('#tblEmployeeWise input[type="datetime-local"]');
        //inputs.forEach(function (input) {
        //    input.style.backgroundColor = ''; // Set background color to empty string to clear it
        //});
        //dates.forEach(function (input) {
        //    input.style.backgroundColor = ''; // Set background color to empty string to clear it
        //});
        datetime.forEach(function (input) {
            input.style.backgroundColor = ''; // Set background color to empty string to clear it
        });
    }
</script>

@*THIS CODE IS USE FOR DISABLED REIGHT CLICK AND DISABLED INSPECT OPTION*@
<script>
   //document.addEventListener('contextmenu', function (e) {
   //    e.preventDefault();
   //});
   //document.addEventListener('keydown', function (e) {
   //    if (e.key === 'F12' || (e.ctrlKey && e.shiftKey && e.key === 'I') || (e.ctrlKey && e.key === 'u')) {
   //        e.preventDefault();
   //    }
   //});
</script>