
@{
    ViewBag.Title = "ESS_TimeOffice_Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
          background-color: rgba(233, 236, 239, 0.5) !important;
      }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }



    th:nth-child(1), td:nth-child(1) {
        width: 60px; /* Set the width for the first column */
    }
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Approval Request
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Approval Request - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of positions authorised by manager.
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">

                        <!-- BEGIN table-responsive -->
                        <div class="table-scroll div1">
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage5">
                                    <thead>
                                        <tr class="trheading text-center">
                                            <th hidden>DocId</th>
                                            <th hidden>DocID_Encrypted</th>
                                            <th class="text-nowrap text-center">
                                                ALL <input type="checkbox" class="form-check-input" data-checked="all-checkbox" id="SelectAll" onchange="checkAll(this)" />
                                            </th>
                                            <th class="fixed-side text-center">View</th>
                                            <th class="fixed-side text-center">Log</th>
                                            <th class="text-nowrap text-center">Employee Name</th>
                                            <th class="text-nowrap text-center">Origin</th>
                                            <th class="text-nowrap text-center">Status</th>
                                            <th class="text-nowrap text-center">Pending Since</th>
                                            <th class="text-nowrap text-center">Date</th>
                                            <th class="text-nowrap text-center">Reason</th>
                                            <th class="text-nowrap text-center">Total Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyApproveReject">
                                        @foreach (var d in ViewBag.TimeOfficeApprovalList)
                                        {
                                            <tr>
                                                <td hidden>@d.DocID</td>
                                                <td hidden>@d.DocID_Encrypted</td>
                                                <td style="width:10px">
                                                    <span class="d-flex justify-content-center">
                                                        <input type="checkbox" class="form-check-input" data-checked="email-checkbox" value="@d.DocID_Encrypted" id="tblCheckbox">
                                                    </span>
                                                </td>
                                                <td class="text-center">
                                                    @*<button type="button" id="btnUpdate" onclick="ViewForApprover('@d.DocID_Encrypted','@d.Origin')"
                                                                class="btn btn-warning btnpress ListBtn">
                                                            <i class="fa-solid fa-eye" id="btnUpdate" onclick="ViewForApprover('@d.DocID_Encrypted','@d.Origin')"></i>
                                                        </button>*@
                                                    <i class="fa-solid fa-eye text-warning fa-lg" id="btnUpdate" style="cursor: pointer;" onclick="ViewForApprover('@d.DocID_Encrypted', '@d.Origin')"></i>
                                                </td>
                                                @*<td class="text-center">
                                                        <i class="fa-solid fa-circle-info text-success fa-lg" style="cursor: pointer;" onclick="ApproveStatus()"></i>
                                                    </td>*@

                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-danger fa-lg" style="cursor: pointer;" onclick="ViewEmployeeLog('@d.DocID', '@d.Origin')"></i>
                                                    @*<i class="fa-solid fa-eye text-warning fa-lg" id="btnGetLog" style="cursor: pointer;" onclick="ViewEmployeeLog('@d.DocID', '@d.Origin')"></i>*@
                                                </td>


                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@d.Origin</td>
                                                <td class="text-nowrap">@d.Status</td>
                                                <td class="text-nowrap">@d.PendingScience</td>
                                                <td class="text-nowrap">@d.FromToDate</td>
                                                <td class="text-nowrap">@d.Reason</td>
                                                <td class="text-nowrap">@d.TotalDuration</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-20px">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm" id="btnAllApprove" onclick="AllApproveReject('Approved')">
                                                    <i class="fa-solid fa-floppy-disk"></i> Approve
                                                </button>

                                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-success btn-sm" id="btnmodal-dialog1" value="Rejected">Reject</button>
                                                @*<button type="button" class="btn btn-success " id="btnAllApprove" onclick="AllApproveReject('Rejected')">
                                                        <i class="fa-solid fa-floppy-disk"></i> Reject
                                                    </button>*@

                                                <button type="submit" id="btnManualUpload" onclick="location.href='@Url.Action("AttendanceApprovedRejectedList", "ESS_TimeOffice_Approval", new { area = "ESS" })'" class="btn btn-danger btn-sm">
                                                    Approved Rejected List
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success " id="btnAllApprove" onclick="AllApproveReject('Rejected')">
                    <i class="fa-solid fa-floppy-disk"></i> Submit
                </button>
                @*<button type="button" onclick="Approved()" id="btnReject" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-floppy-disk"> </i> Submit
                    </button>*@
                <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>




<!-- #Start modal-dialog -->
<div class="modal fade" id="LogModel" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Employee Log</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal"aria-hidden="true" id="CloseModelHistory">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="table-scroll">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="tblEmployeeLog">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap text-center">Log Date</th>
                                                                <th class="text-nowrap text-center">I/O</th>
                                                                <th class="text-nowrap text-center">Remark</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyEmployeeLog"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            @*<div id="TaskDescription" style="padding:30px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
<!-- #End modal-dialog -->



<!-- #End modal-dialog -->
@*<div class="modal fade" id="RequestInfoModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h4 class="modal-title">Request Status</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                           aria-hidden="true">
                            <i class="fa fa-xmark"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">

                        <style>
                            body {
                                font-family: Arial, sans-serif;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100vh;
                                margin: 0;
                                background-color: #f9f9f9;
                            }

                            .timeline {
                                max-width: 400px;
                                background-color: white;
                                padding: 20px;
                                border-radius: 10px;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            }

                                .timeline:before {
                                    left: 12%;
                                }

                            .timeline-item {
                                display: flex;
                                align-items: center;
                                margin-bottom: 15px;
                            }

                                .timeline-item:last-child {
                                    margin-bottom: 0;
                                }

                            .icon {
                                width: 24px;
                                height: 24px;
                                background-color: green;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                margin-right: 15px;
                            }

                            .text {
                                flex-grow: 1;
                            }

                                .text p {
                                    margin: 0;
                                    font-size: 14px;
                                }

                                .text small {
                                    color: gray;
                                    font-size: 12px;
                                }

                            .button {
                                text-align: center;
                                margin-top: 20px;
                            }

                                .button button {
                                    background-color: #a8d935;
                                    border: none;
                                    padding: 10px 20px;
                                    color: white;
                                    font-size: 16px;
                                    cursor: pointer;
                                    border-radius: 5px;
                                }

                                    .button button:hover {
                                        background-color: #8cc62f;
                                    }
                        </style>

                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="icon">✔</div>
                                <div class="text">
                                    <p>ITR Filed</p>
                                    <small>25/07/2024</small>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon">✔</div>
                                <div class="text">
                                    <p>Pending for e-verification</p>
                                    <small>25/07/2024</small>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="icon">✔</div>
                                <div class="text">
                                    <p>Successfully e-verified</p>
                                    <small>25/07/2024</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script>
    function ApproveStatus() {
        $('#RequestInfoModal').modal('show');
    }
    function ViewForApprover(DocID_Encrypted, Origin) {
        debugger
        if (Origin == 'OD') {
            var url = '@Url.Action("ViewForOutdoorRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }
        if (Origin == 'PM') {
            var url = '@Url.Action("ViewForPunchMissingRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }
        if (Origin == 'PG') {
            var url = '@Url.Action("ViewForPersonalGetpassRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }
        if (Origin == 'WFH') {
            var url = '@Url.Action("ViewForWorkFromHomeRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }
        if (Origin == 'SL') {
            var url = '@Url.Action("ViewForShortLeaveRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }
        if (Origin == 'SC') {
            var url = '@Url.Action("ViewForShiftChangeRequestApprover", "ESS_TimeOffice_Approval")?DocId_Encrypted=' + DocID_Encrypted + '&Origin=' + Origin;
            window.location.href = url;
        }

    }



   function ViewEmployeeLog(DocId, Origin) {
        debugger;
        //if (Origin == 'OD') {
            var url = '@Url.Action("GetEmployeeLog", "ESS_TimeOffice_Approval")';
            $.getJSON(url, { DocId: DocId, Origin: Origin }, function (data) {
                debugger;
                const jsonData = JSON.parse(data);
                $('#LogModel').modal('show');

                $("#tbodyEmployeeLog").empty(); // Clear previous data
                $.each(jsonData, function (index, item) {
                    var row = `<tr>
                                <td class="text-center">${item.LogDate}</td>
                                <td class="text-center">${item.Direction}</td>
                                <td class="text-center">${item.C1}</td>
                           </tr>`;
                    $("#tbodyEmployeeLog").append(row);
                });
            });
        //}
    }


    var Resource = "";
    var ResourceEncrypted = "";
    function OpenModule() {
        debugger;
        var RecordList = new Array();
        $("#tbodyApproveReject").find(':checkbox:checked').each(function (i) {
            debugger
            var data = {};
            var currentRow = $(this).closest("tr");
            // Find column index dynamically based on column name
            var columnIndexMap = {};
            $("#tbodyApproveReject").closest("table").find("thead th").each(function (index) {
                columnIndexMap[$(this).text().trim()] = index;
            });
            // Get values dynamically using column names
            data.DocID = currentRow.find("td").eq(columnIndexMap["DocId"]).text().trim();
            data.DocID_Encrypted = currentRow.find("td").eq(columnIndexMap["DocID_Encrypted"]).html();
            data.Origin = currentRow.find("td").eq(columnIndexMap["Origin"]).html();
            data.Status = currentRow.find("td").eq(columnIndexMap["Status"]).html();//Status;
            data.RejectRemark = currentRow.find("td").eq(columnIndexMap["RejectRemark"]).html();//RejectRemark;

            RecordList.push(data);
        });

        //$("#tbodyApproveReject").find(':checkbox:checked').each(function (i) {
        //    var data = {};
        //    var currentRow = $(this).closest("tr");
        //    data.DocID = currentRow[0].cells[0].innerText;
        //    data.DocID_Encrypted = currentRow.find("td:eq(1)").html();
        //    data.Origin = currentRow.find("td:eq(5)").html();
        //    data.Status = Status;
        //    data.RejectRemark = RejectRemark;
        //    RecordList.push(data);
        //});
        if (RecordList == "") {
            debugger;
            //$("#myModalFinal").modal('hide');
            //document.getElementById("txtApproveRejectRemark").value = "";
            Swal.fire({
                icon: "error",
                text: "Select atleast one record",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }
        $("#myModalFinal").modal('show');
    }


    function Approved(ResourceId, ResourceId_Encrypted) {
        debugger
        var DocId = "";
        var Encrypted = "";
        var Status = "";
        if (ResourceId_Encrypted != undefined) {
            DocId = ResourceId;
            Encrypted = ResourceId_Encrypted;
            Status = "Approved";
        }
        else {
            DocId = Resource;
            Encrypted = ResourceEncrypted;
            Status = "Rejected";
        }
        var Remark = "";
        if (Status == "Rejected") {
            Remark = $("#txtApproveRejectRemark").val();
        }

        $.ajax({
            url: "@Url.Action("ForApprovalCandidate", "ESS_Recruitment_Menu")",
            method: "get",
            data: { DocId: DocId, Encrypted: Encrypted, Status: Status, Remark: Remark },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                            $(".Userloaderbg").css("display", "none");
                            $("#myModalFinal").modal('hide');
                            $("#txtApproveRejectRemark").val("");
                            location.reload();
                        }
                    }
                }
                else {
                    var Message1 = response.Message;
                    var Icon1 = response.Icon;
                    if (response.Icon == "success") {
                        if (Message1 != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                });
                                $(".Userloaderbg").css("display", "none");
                                $("#myModalFinal").modal('hide');
                                $("#txtApproveRejectRemark").val("");
                                location.reload();
                            }
                        }
                    }
                }
            }
        });
    }
</script>

<script>
    function AllApproveReject(Status) {
        debugger;
        var RejectRemark = document.getElementById("txtApproveRejectRemark").value;
        var RecordList = new Array();
        $("#tbodyApproveReject").find(':checkbox:checked').each(function (i) {
            var data = {};
            var currentRow = $(this).closest("tr");
            // Find column index dynamically based on column name
            var columnIndexMap = {};
            $("#tbodyApproveReject").closest("table").find("thead th").each(function (index) {
                columnIndexMap[$(this).text().trim()] = index;
            });
            // Get values dynamically using column names
            data.DocID = currentRow.find("td").eq(columnIndexMap["DocId"]).text().trim();
            data.DocID_Encrypted = currentRow.find("td").eq(columnIndexMap["DocID_Encrypted"]).html();
            data.Origin = currentRow.find("td").eq(columnIndexMap["Origin"]).html();
            data.Status = Status;
            data.RejectRemark = RejectRemark;

            RecordList.push(data);
        });
        
        //$("#tbodyApproveReject").find(':checkbox:checked').each(function (i) {
        //    var data = {};
        //    var currentRow = $(this).closest("tr");
        //    data.DocID = currentRow[0].cells[0].innerText;
        //    data.DocID_Encrypted = currentRow.find("td:eq(1)").html();
        //    data.Origin = currentRow.find("td:eq(5)").html();
        //    data.Status = Status;
        //    data.RejectRemark = RejectRemark;
        //    RecordList.push(data);
        //});

        if (RecordList == "") {
            debugger;
            $("#myModalFinal").modal('hide');
            document.getElementById("txtApproveRejectRemark").value = "";
            Swal.fire({
                icon: "error",
                text: "Select atleast one record",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    return false;
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    window.location.reload();
                    return false
                }
            });
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultipleApproveRejectRequest", "ESS_TimeOffice_Approval")",
            data: JSON.stringify({ ObjRecordList: RecordList }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                var datas = JSON.parse(data);
                if (datas != null) {
                    //$('#tblInbox').load();
                    Swal.fire({
                        icon: datas.Icon,
                        text: datas.Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            return false;
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            window.location.reload();
                            return false
                        }
                    }).then(function () {
                        var url = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';
                        window.location.href = url;
                    });
                }

                @*var url = '@Url.Action("Inbox", "Inbox")';
                window.location.href = url;*@
            }
        });
    }

    //Select All Checkboxes
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
</script>
