
@{
    ViewBag.Title = "ViewForOutdoorRequestApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.OutdoorApprovalList;
}

<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;"></h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="#" id="backButton">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            @*@Html.TextBox("EncrptId", new { Id = "hdnEncryptedId", Value= @Item.TravelClaimId_Encrypted })
                @Html.TextBox("DocId", new { Id = "hdnClaimId", Value = @Item.TravelClaimId })*@
            <input type="hidden" id="hdnEncryptedId" value="@Item.OutDoorCompanyId_Encrypted" />
            <input type="hidden" id="hdnDocIdId" value="@Item.OutDoorCompanyId" />
            <input type="hidden" id="hdnOrigin" value="@Item.Origin" />
            @*@Html.HiddenFor(model => model.ResourceId, new { id = "txtResourceId" })*@
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <a href="#modal-dialogForApproval1" onclick="Approved('Approved')" type="button" class="btn btn-success" id="btnmodal-dialog" value="Approved"><i class="fa-solid fa-check-double"></i>Approve</a>
                @*<a href="#modal-dialogForHoldReject1" onclick="showmodal(27 ,'Hold')" type="button" class="btn btn-warning" id="btnmodal-dialog1" value="Hold">Hold</a>*@
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-danger" id="btnmodal-dialog1" value="Rejected">Reject</button>
            </span>
            Outdoor Request
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header" style="margin:0px;">
                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.EmployeeName</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b>  &nbsp;  @Item.CompanyMobileNo <b></b><br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b> &nbsp;  @Item.CompanyMailID
                            </address>
                        </div>
                    </div>

                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@Item.EmployeeName</td>

                                            <th><span class="text-dark">OutDoor Company Type</span><br /></th>
                                            <td>@Item.OutDoorCompanyType</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Employee Business Unit</span><br /></th>
                                            <td>@Item.OutDoorCompanyBranchName</td>

                                            <th><span class="text-dark">Outdoor Visiting Unit</span><br /></th>
                                            <td>@Item.VisitingUnit</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Date</span><br /></th>
                                            <td>@Item.FromDate</td>

                                            <th><span class="text-dark">To Date</span><br /></th>
                                            <td>@Item.ToDate</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Time</span><br /></th>
                                            <td>@Item.FromTime</td>

                                            <th><span class="text-dark">To Time</span><br /></th>
                                            <td>@Item.ToTime</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Total Days</span><br /></th>
                                            <td>@Item.TotalDays</td>

                                            <th><span class="text-dark">Total Time</span><br /></th>
                                            <td>@Item.TotalDuration</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Description</span><br /></th>
                                            <td>@Item.Direction</td>
                                            <th><span class="text-dark">Reason</span><br /></th>
                                            <td>@Item.Reason</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Applied On</span><br /></th>
                                            <td>@Item.DocDate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>


<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<script>
    $(document).ready(function () {
        //ONE PAGE BACK WITH RELOAD BACKPAGE CODE
        document.getElementById('backButton').addEventListener('click', function() {
            if (window.history.length > 1) {
                window.history.back();
            }
        });
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });
</script>

<script>
    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";
        window.onafterprint = function(event) {
            setTimeout(function() {
                const backButton = document.getElementById('backButton');
                if (backButton) {
                    backButton.addEventListener('click', function() {
                        if (window.history.length > 1) {
                            window.history.back();
                        }
                    });
                } else {
                    console.log('Back button not found');
                }
            }, 0); // Add a slight delay to ensure the button is rendered
        };
        //Print Page
        window.print();
        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
    //var Resource="";
    //var ResourceEncrypted="";
    //var Status="";
    function OpenModule()
    {
        debugger;
        $("#myModalFinal").modal('show');
    }

    function Approved(Approver)
    {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                $(".Userloaderbg").css("display","flex");
                var DocId=$("#hdnDocIdId").val();
                var Encrypted=$("#hdnEncryptedId").val();
                var Origin=$("#hdnOrigin").val();
                var Status="";
                var Remark="";
                if(Approver=="Rejected")
                {
                    Remark = $("#txtApproveRejectRemark").val();
                    Status="Rejected";
                }
                else{
                    Status="Approved";
                }
                $.ajax({
                    url: "@Url.Action("ApproveRequest", "ESS_TimeOffice_Approval")",
                    method:"get",
                    data:{DocId:DocId,Encrypted:Encrypted,Status:Status,Remark:Remark,Origin:Origin},
                    success:function(response){
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        var ApproverMode1 = response.ApproverMode;
                        $(".Userloaderbg").css("display","none");
                        $("#myModalFinal").modal('hide');
                        $("#txtApproveRejectRemark").val("")

                        if (response.Icon=="error") {
                            if (Message1 != null) {
                                if (Message1 != null) {

                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            if(ApproverMode1=="Bulk")
                                            {
                                                window.location.href = '@Url.Action("ESS_TimeOffice_BulkApproval", "ESS_TimeOffice_BulkApproval")';
                                            }
                                            else{
                                                window.location.href = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';
                                            }
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }
                        }
                        else{
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            var ApproverMode1 = response.ApproverMode;
                            if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                if(ApproverMode1=="Bulk")
                                                {
                                                    window.location.href = '@Url.Action("ESS_TimeOffice_BulkApproval", "ESS_TimeOffice_BulkApproval")';
                                                }
                                                else{
                                                    window.location.href = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';
                                                }

                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {

                                            }
                                        })

                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
            }
        })
    }
    
</script>
