@model KompassHR.Areas.Setting.Models.Setting_TMS.TMS_Client
@{
    ViewBag.Title = "Setting_TMS_ClientMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }


    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    /*.table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }*/

    .table-scroll table {
    width: auto;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
 
    .table-scroll th, .table-scroll td {
    padding: 5px 8px;
    border: 1px solid lightgray;
    background: #fff;
    white-space: normal;
    vertical-align: middle;
}
    #tblEmployees th:first-child,
    #tblEmployees td:first-child {
    width: 150px;
}

 #tblEmployees th:nth-child(2),
#tblEmployees td:nth-child(2) {
    width: 400px;
}


    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Client Master
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 12, ScreenId = 85, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "Setting_TMS_ClientMaster", new { id =12 ,ScreenId =87, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Client Master- @ViewBag.AddUpdateTitle</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add client details for projects.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_TMS_ClientMaster", new { area = "Setting" })' id="SaveClienttMaster" method="post">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Client Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control", name = "ClientName", id = "txtClientName", autocomplete = "Off" })
                                                @Html.HiddenFor(model => model.ClientID_Encrypted)
                                                @Html.HiddenFor(model => model.ClientID)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Responsible Person
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ResponsiblePerson, new { @class = "form-control", name = "ResponsiblePerson", id = "txtResponsiblePerson", autocomplete = "Off" })
                                                <span id="txtResponsiblePersonError" class="text-danger" style="display:none; font-size:12px;"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" id="btnAdd" class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-scroll div1 mb-4">
                                            <div class="table-wrap" style="min-height: 100px; height:fit-content; overflow-y: auto;">
                                                <table class="table mb-0 table-bordered table-hover  text-dark align-middle" id="tblEmployees">
                                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                        <tr class="text-center">
                                                            <th class="text-nowrap">Delete</th>
                                                            <th class="text-nowrap">Responsible Person</th>
                                                        
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblBodyEmployees">
                                                        @{
                                                            if (Model.ClientDetails != null)
                                                            {
                                                                for (int i = 0; i < Model.ClientDetails.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <a onclick="Delete('@Model.ClientDetails[i].ClientDetailsId',this)" style="cursor:pointer;">
                                                                                <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                                            </a>
                                                                        </td>

                                                                        <td>
                                                                            @Html.HiddenFor(m => m.ClientDetails[i].ClientDetailsId)
                                                                            @Model.ClientDetails[i].ResponsiblePerson
                                                                            <input type="hidden" name="ClientDetails[@i].ResponsiblePerson" value="@Model.ClientDetails[i].ResponsiblePerson" />

                                                                        </td>
                                                                    
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                            </label>
                                            <div class="col-md-8 ">
                                                @Html.CheckBoxFor(model => model.IsActive)
                                                <label class="form-label">
                                                    Is Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>

    $("#btnGetList").click(function () {
        debugger;
        var url = '@Url.Action("GetList", "Setting_TMS_ClientMaster")';
        window.location.href = url;
    });


    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

    });
</script>


<script>
    $(document).on("click", ".btnDelete", function () {
        debugger
    const row = $(this).closest("tr");

    Swal.fire({
        title: 'Are you sure?',
        text: "This will remove the row!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            row.fadeOut(300, function () {
                $(this).remove();
                Swal.fire('Deleted!', 'Row removed successfully.', 'success');
            });
        }
    });
});
</script>

<script>
    function Delete(ClientDetailsId)
     {
             debugger;
             const DeleteButtons = Swal.mixin({
                 customClass: {
                     cancelButton: ' btnpress',
                     confirmButton: ' btnpress'
                 },
                 buttonsStyling: true
             })
             DeleteButtons.fire({
                 title: 'Are you sure?',
                 text: "You won't be able to revert this!",
                 icon: 'warning',
                 confirmButtonColor: '#d33',
                 cancelButtonColor: '#3085d6',
                 showCancelButton: true,
                 confirmButtonText: 'Yes, delete it!',
                 cancelButtonText: 'No, cancel!',
                 reverseButtons: false,
                 allowOutsideClick: () => {
                     const popup = Swal.getPopup()
                     popup.classList.remove('swal2-show')
                     setTimeout(() => {
                         popup.classList.add('animate__animated', 'animate__headShake')
                     })
                     setTimeout(() => {
                         popup.classList.remove('animate__animated', 'animate__headShake')
                     }, 500)
                     return false
                 }

             }).then((result) => {
                 if (result.isConfirmed) {
                     window.location.href = '@Url.Action("DeleteRow", "Setting_TMS_ClientMaster")?ClientDetailsId=' + ClientDetailsId;

                 } else if (
                     result.dismiss === Swal.DismissReason.cancel
                 ) {

                 }
             })
         }


</script>


<script>
    
    $("#btnAdd").click(function () {
        debugger
        var ResponsiblePerson = $("#txtResponsiblePerson").val();
        //var priority = $("#ddlPriority option:selected").val(); 
        //var priorityText = $("#ddlPriority option:selected").text(); 
        //var employee = $("#ddlEmployee option:selected").val(); 
        //var employeeText = $("#ddlEmployee option:selected").text(); 
        //var deadline = $("#txtDeadline").val();


        let valid = true;

        if (ResponsiblePerson === "") {
            $("#txtResponsiblePersonError").text("Responsible person is required").show();
            valid = false;
        } else {
            $("#txtResponsiblePersonError").hide();
        }
  
       
        if (!valid)
            return;
     
        var index = $("#tblBodyEmployees tr").length;

        var newRow = "<tr>" +
             "<td class='text-center'>" +
        "<button type='button' class='btn btn-sm btnDelete'>" +
        "<i class='fa-solid fa-trash-alt text-danger fa-lg'></i>" +
        "</button>" +
        "</td>" +

            "<td>" + ResponsiblePerson +
            
            "<input type='hidden' name='ClientDetails[" + index + "].ClientDetailsId' value='0'/>" +
            "<input type='hidden' name='ClientDetails[" + index + "].ResponsiblePerson' value='" + ResponsiblePerson + "'/></td>" 
            "</tr>";

        $("#tblBodyEmployees").append(newRow);


        // Clear textbox
        $("#txtResponsiblePerson").val("");
        $("#txtResponsiblePerson").focus();
    });

</script>

<script>
    jQuery.validator.addMethod(
       "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },"erreur expression reguliere"
     );

    $('#SaveClienttMaster').validate({
        rules: {
            ClientName: {
                required: true,
            },
            //ResponsiblePerson:{
            //   required:true,

            //},

        },
        messages: {
            ClientName: {
                required:"Client name is required",
            },
            //ResponsiblePerson:{
            //    required:"Responsible Person name is required",
            //},
        },
    });

    var form = $("#SaveClienttMaster");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }
        var ClientName = $("#txtClientName").val();
        var ClientIDEncrypted = $("#ClientID_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsClientMasterExists", "Setting_TMS_ClientMaster")',
            method: "get",
            data: { ClientName: ClientName, ClientIDEncrypted: ClientIDEncrypted },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    $("#SaveClienttMaster").submit();
                }
            }
        });

    });
</script>
