
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/


    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }
    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 80px !important;

    }

    .fixed-side {
        position: sticky !important;
        left: 0;
        z-index:1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 80px !important;
        z-index: 1;
    }*/
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Company Bank
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Payroll_Menu", "Setting_Payroll_Menu", new { id = 6, ScreenId = 287, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Company Bank - List</h4>
                   
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of Company Bank created.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("Setting_Payroll_CompanyBank", "Setting_Payroll_CompanyBank", new { area = "Setting" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle TablePage" id="fixed-header"
                                           style="width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="fixed-side">Update</th>
                                                <th class="fixed-side1">Delete</th>
                                                <th class="text-nowrap">Company Name </th>
                                                <th class="text-nowrap">Business Unit Name </th>
                                                <th class="text-nowrap">Bank Name </th>
                                                <th class="text-nowrap">Branch Name </th>
                                                <th class="text-nowrap">IFSCCode </th>
                                                <th class="text-nowrap">AccountNo </th>
                                                <th class="text-nowrap">IsDefault </th>
                                                <th class="text-nowrap">Created By</th>
                                                <th class="text-nowrap">Created Date</th>
                                                <th class="text-nowrap">Modified By</th>
                                                <th class="text-nowrap">Modified Date</th>
                                                <th class="text-nowrap">Machine Name</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.CompanyBankList)
                                            {
                                                <tr>

                                                    <td class="text-center">
                                                        <i class="fa-solid fa-pen-to-square fa-lg text-Dark" onclick="Update('@d.CompanyBankId_Encrypted')" id="btnUpdate" style="cursor:pointer;"></i>
                                                    </td>
                                                    <td class="text-center">
                                                        <i class="fa-solid fa-trash-alt text-danger fa-lg" onclick="Delete('@d.CompanyBankId_Encrypted')" id="btnDelete" style="cursor:pointer;"></i>
                                                    </td>
                                                    <td>@d.ShortName</td>
                                                    <td>@d.CompanyBranchName</td>
                                                    <td>@d.BankName</td>
                                                    <td>@d.BankBranchName</td>
                                                    <td>@d.IFSCCode</td>
                                                    <td>@d.AccountNo</td>
                                                    <td>@d.IsDefault</td>
                                                    <td>@d.CreatedBy</td>
                                                    <td>@d.CreatedDate</td>
                                                    <td>@d.ModifiedBy</td>
                                                    <td>@d.ModifiedDate</td>
                                                    <td>@d.MachineName</td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
    function Update(CompanyBankId_Encrypted) {
        var url = '@Url.Action("Setting_Payroll_CompanyBank", "Setting_Payroll_CompanyBank")?CompanyBankId_Encrypted=' + CompanyBankId_Encrypted;
        window.location.href = url;
    }

    function Delete(CompanyBankId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "Setting_Payroll_CompanyBank")?CompanyBankId_Encrypted=' + CompanyBankId_Encrypted;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
    function View(FNFNoDuesMappingID){
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("View", "Setting_FullAndFinal_DuesMapping")',
            data: { FNFNoDuesMappingID:FNFNoDuesMappingID},
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                const data = JSON.parse(response);
                const modal = $('#QuestionDetails');
                const tableBody = $('#tblBodyQuestionDetails');

                modal.modal(data.length > 0 ? 'show' : 'hide');
                tableBody.empty(); // Clear existing rows

                if (data) {
                    data.forEach(item => {
                        const row = $('<tr>');

                        const optionsCell = item.find(e => e.Key === "RequiredClearanceName");


                        row.append(`<td>${optionsCell ? optionsCell.Value : ''}</td>`);


                        tableBody.append(row);
                    });
                }
            }
        });
    }
</script>

