@model KompassHR.Areas.Setting.Models.Setting_EventAndNews.Event_Reward
@{
    ViewBag.Title = "Setting_EventAndNews_RewardAndRecognition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Reward / Recognition
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_EventAndNews_Menu", "Setting_EventAndNews_Menu",  new { id = 20,ScreenId=101, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Reward / Recognition -  <b>@ViewBag.AddUpdateTitle</b> </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add employee details for Reward & Recognition here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_EventAndNews_RewardAndRecognition", new { area = "Setting" })'  id="SaveReward" method="post" enctype="multipart/form-data">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", type = "text", id = "txtDocNo", autocomplete = "Off", @readonly = "readonly", style = "background-color:#eee;", Value = @ViewBag.DocNo.DocNo })
                                                @Html.HiddenFor(model => model.RewardID_Encrypted, new { id = "RewardID_Encrypted" })
                                                @Html.HiddenFor(model => model.RewardID)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", type = "date", id = "dateDocDate", autocomplete = "Off", Name = "DocDate", @readonly = "readonly", style = "background-color:#eee;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Business  Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.GetBranchname, "Id", "Name"), "--Select--", new { id = "ddlBranchID", @class = "form-select", autocomplete = "off", name = "BranchID" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.RewardEmployeeID, new SelectList(ViewBag.GetEmployeeName, "Id", "Name"), "--Select--", new { id = "ddlRewardEmployeeID", @class = "form-select", autocomplete = "off", name = "RewardEmployeeID" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Title
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.RewardTitle, new { @class = "form-control", type = "text", id = "txtRewardTitle", autocomplete = "Off", Name = "RewardTitle" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.RewardDescripition, new { @class = "form-control", type = "text", id = "txtRewardDescripation", autocomplete = "Off", Name = "RewardDescripition" })
                                            </div>                               
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.RewardFromDate, new { @class = "form-control", type = "date", id = "dateRewardFromDate", autocomplete = "Off", Name = "RewardFromDate" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.RewardToDate, new { @class = "form-control", type = "date", id = "dateRewardToDate", autocomplete = "Off", Name = "RewardToDate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Attachment
                                            </label>
                                            <div class="col-md-8">
                                                <input type="file" name="RewardFile" class="form-control" id="RewardFile" onchange="ResetFile()" />
                                                <label class="form-label col-form-label col-md-8" id="lblFileName">@TempData["FileName"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                            </label>
                                            <div class="col-md-8 ">
                                                @Html.CheckBoxFor(model => model.IsActive)
                                                &nbsp;
                                                <label class="form-label">
                                                    Is Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnGetRewardAndRecognitionSettingList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveReward").validate({
        rules: {
            DocDate: {
                required: true,
            },
            BranchID: {
                required: true,

            },
            RewardEmployeeID: {
                required: true,
            },
            RewardTitle: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            RewardDescripition: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            RewardFromDate: {
                required: true,
            },
            RewardToDate: {
                required: true,
            },
        },
        messages: {
            DocDate: {
                required: "Country name is required",
            },
            BranchID: {
                required: "Business unit is required",
            },
            RewardEmployeeID: {
                required: "Employee name is required",
            },
            RewardTitle: {
                required: "Title is required",
                regex: "Enter olny alphabate.",
            },
            RewardDescripition: {
                required: "Description is required",
                regex: "Enter olny alphabate.",
            },
            RewardFromDate: {
                required: "From date is required",
            },
            RewardToDate: {
                required: "To date is required",
            },
        }
    });

    var form = $("#SaveReward");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#dateRewardFromDate").removeClass('error');
            $("#dateRewardToDate").removeClass('error');
            $("#dateDocDate").removeClass('error');
            return false;
        }

        var RewardID_Encrypted=$("#RewardID_Encrypted").val();
        var RewardTitle=$("#txtRewardTitle").val();
        var BranchID=$("#ddlBranchID").val();
        var RewardEmployeeID=$("#ddlRewardEmployeeID").val();

        $.ajax({
            url: '@Url.Action("IsRewardExists", "Setting_EventAndNews_RewardAndRecognition")',
            method:"Get",
            data:{BranchID:BranchID,RewardTitle:RewardTitle,RewardID_Encrypted:RewardID_Encrypted,RewardEmployeeID:RewardEmployeeID},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveReward").submit();

                }
            }
        });

    });
</script>

<script>
 $(document).ready(function () {
     $("#ddlBranchID").select2();
     $("#ddlRewardEmployeeID").select2();

     $("#btnGetRewardAndRecognitionSettingList").click(function () {
         var url = '@Url.Action("GetList", "Setting_EventAndNews_RewardAndRecognition")';
         window.location.href = url;
     });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }


     var Doc = @Html.Raw(Json.Encode(TempData["DocDate"]));
     var FDate = @Html.Raw(Json.Encode(TempData["RewardFromDate"]));
     var TDate = @Html.Raw(Json.Encode(TempData["RewardToDate"]));


     if(Doc =="" || FDate == "" ||TDate == "")
     {

     }
     else
     {
         var DocDate =  convertDate(Doc);
         var FromDate =  convertDate(FDate);
         var ToDate = convertDate (TDate);

         $("#dateDocDate").val(DocDate);
         $("#dateRewardFromDate").val(FromDate);
         $("#dateRewardToDate").val(ToDate);
     }

     var date = new Date();
     var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
     $("#dateDocDate").val(dateString)

     $("#RewardFile").change(function () {
         ResetFile();
     });
 });//Ready Funcation
</script>

<script>
function ResetFile() {
    let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png', 'application/pdf'];
    let fileInput = document.getElementById('RewardFile');
    if (fileInput.files.length > 0) {
        let type = fileInput.files[0].type;
        if (allowedExtension.indexOf(type) > -1) {
            // valid
        } else {
            Swal.fire({
                text: 'File type should be allow only jpeg/jpg/png and pdf format.',
                icon: 'info',
                allowOutsideClick: false
            });
            fileInput.value = null;
        }
    }
    $("#lblFileName").text('');
}
</script>
<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }
</script>



