@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_WO

@{
    ViewBag.Title = "App_Attendance_WeekoffChange";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<style>
    .app-header-fixed {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .app-content {
        padding: 0px 0px;
    }

    .panel .panel-body {
        padding: 8px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<style>
    /*.form-label-container {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                    }*/

    .form-label-text {
        display: inline-flex;
        align-items: center;
        min-width: 120px; /* Adjust this value to fit your longest label */
    }

        .form-label-text i {
            margin-right: 0.5rem; /* Space between icon and label text */
        }
</style>

<style>
    @@media (max-width: 767px) {
        .row.mb-3.align-items-center {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

            .row.mb-3.align-items-center .col-md-4,
            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                max-width: none;
                padding-right: 10px;
                padding-left: 10px;
            }

            .row.mb-3.align-items-center .col-md-4 {
                flex: 0 0 auto;
                width: 40%;
            }

            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                width: 60%;
            }

        .form-label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .form-control,
        .form-select {
            width: 100%;
        }
    }
</style>

<link href="~/assets/MyCSS/Tailwindcss.css" rel="stylesheet" />

<div id="content" class="app-content">
    <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-body" data-scrollbar="false">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN panel -->
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form role="form" action="@Url.Action("App_SaveUpdate", "App_Attendance_Weekoffchange", new { area = "App" })" id="SaveAttenWO" method="post">
                                        @*<div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Week Off Date
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.WO_Date, new { @class = "form-control", type = "date", id = "WODate" })
                                                            @Html.HiddenFor(model => model.WOID_Encrypted, new { @class = "form-control", id = "WOID_Encrypted" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fa-solid fa-calendar-day text-blue-500"></i> From Date <span class="important">*</span>
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.WO_Date, new { @class = "form-control", type = "date", onkeydown = "return false;", id = "WODate" })
                                                @Html.HiddenFor(model => model.WOID_Encrypted, new { @class = "form-control", id = "WOID_Encrypted" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label"><span class="form-label-text"><i class="fas fa-lightbulb text-yellow-500"></i> Reason <span class="important">*</span></span>:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", name = "Remark", id = "txtRemark", autocomplete = "Off" })
                                            </div>
                                        </div>


                                        @*<div class="row ">
                                                <div class="col-md-12">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-2">
                                                            Remark
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", name = "Remark", id = "txtRemark", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="row">
                                                <div class="LastShortLeaveBx">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="BtnBx">
                                                                <div>
                                                                    <button type="button" id="btnSubmit" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                    </button>

                                                                    <button type="button" class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50" id="btnGetList" onclick="btnGetLists();">
                                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@


                                        <div class="col-md-12 LastShortLeaveBx">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm" id="btnGetList" onclick="btnGetLists();">
                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnGetList").click(function () {
        debugger;
        var url = '@Url.Action("App_GetList", "App_Attendance_Weekoffchange")';
        window.location.href = url;
    });
    $(document).ready(function () {
        var WODate = @Html.Raw(Json.Encode(TempData["WO_Date"]));
        $("#WODate").val(WODate);

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

    });
</script>

<script>
    jQuery.validator.addMethod(
       "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },"erreur expression reguliere"
     );

    $('#SaveAttenWO').validate({
        rules: {
            WO_Date:{
                required: true,
            },
            Remark: {
                required: true,
            },

        },
        messages: {
            WO_Date:{
                required: "Week Off date is required",
            },
            Remark: {
                required:"Remark is required",
            },
        },
    });

    var form = $("#SaveAttenWO");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if (form.valid() == false) {
            return false;
        }
        var WODate = $("#WODate").val();
        var Remark = $("#txtRemark").val();
        var WOID_Encrypted = $("#WOID_Encrypted").val();
        $.ajax({
            url: '@Url.Action("App_IsAttenWOExists", "App_Attendance_Weekoffchange")',
            method: "get",
            data: {
                WODate:WODate,
                Remark: Remark,
                WOID_Encrypted: WOID_Encrypted },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    $("#SaveAttenWO").submit();
                }
            }
        });

    });
</script>