@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Rpt_Attendance_PersonalGatepass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*select Row CSS End*/

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 12px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
        min-width: 270px;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }

    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.even td,
    .dataTables_wrapper .dataTables_scroll table.dataTable th, .dataTables_wrapper .dataTables_scroll tr.odd td {
        border-color: black !important;
        background-color: white !important;
    }
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Reports/Report_Attendance_RptMenu/Report_Attendance_RptMenu">Report Menu</a></li>
    </ol>
    <h1 class="page-header"> Personal Gatepass Report </h1>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Personal Gatepass Report  </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" EmpList-scrollbar="true">
                        <form role="form" action="/Reports/Rpt_Attendance_PersonalGatepass/Rpt_Attendance_PersonalGatepass" id="SavePersonalGatepass" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Company Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Business Unit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Department Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Sub Department Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Designation Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Grade Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Line Master
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Sub Unit
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.SubUnitId, new SelectList(ViewBag.SubUnit, "Id", "Name"), "All", new { @class = "form-select", name = "SubUnit", id = "ddlSubUnit" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            From date
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", type = "date", name = "FromDate" })
                                            <span id="ErrortxtFromDate" class="Error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            To Date
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", type = "date", name = "ToDate" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Employee Name
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                        <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @*<hr class="mt-15px">
                            <div class="row">
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered table-hover mb-0 " id="tblrptPersonalGatepass" style="width: 100%;">
                                            <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="trheading">
                                                    <th class="fixed-side text-nowrap" style="border-color:black !important;">Employee Name</th>
                                                    <th class="fixed-side1 text-nowrap">Employee No</th>
                                                    <th class="text-nowrap">Doc Date </th>
                                                    <th class="text-nowrap">Req Date</th>
                                                    <th class="text-nowrap">Department Name</th>
                                                    <th class="text-nowrap">Designation Name</th>
                                                    <th class="text-nowrap">Shift</th>
                                                    <th class="text-nowrap">Direction</th>
                                                    <th class="text-nowrap">For Time</th>
                                                    <th class="text-nowrap">Reason</th>
                                                    <th class="text-nowrap">Approve/Rejected by</th>
                                                    <th class="text-nowrap">Approve/Rejected Date</th>
                                                    <th class="text-nowrap">Rejected Reason</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAbnormalReport">
                                                @foreach (var d in ViewBag.GetPersonalGatePassReportList)
                                                {
                                                    <tr>
                                                        <td class="fixed-side text-nowrap" >@d.EmployeeName</td>
                                                        <td class="fixed-side1 text-nowrap" >@d.EmployeeNo</td>
                                                        <td class="text-nowrap">@d.DocDate</td>
                                                        <td class="text-nowrap">@d.ReqDate</td>
                                                        <td class="text-nowrap">@d.DepartmentName</td>
                                                        <td class="text-nowrap">@d.DesignationName</td>
                                                        <td class="text-nowrap">@d.PersonalGatepassShiftName</td>
                                                        <td class="text-nowrap">@d.Direction</td>
                                                        <td class="text-nowrap">@d.ForTime</td>
                                                        <td class="text-nowrap">@d.Reason</td>
                                                        <td class="text-nowrap">@d.ApprovedBy</td>
                                                        <td class="text-nowrap">@d.ApproveRejectDate</td>
                                                        <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <br />
                                        <span id="tblRowCount"></span>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('title').html("Personal Gatepass Report");

        var CheckEmptyDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlDepartmentId").select2();
        $("#ddlSubDepartmentId").select2();
        $("#ddlDesignationId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();
        $("#ddlSubUnit").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

         $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            $("#ddlSubUnit").find("option").remove();
            $("#ddlLineId").append("<option value=''>All </option>");
            $("#ddlSubUnit").append("<option value=''>All </option>");
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Report_Attendance_RptMenu")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var Branch = data.Branch;
                        if (Branch != null) {
                            $("#ddlBranchId").append("<option value=''>All </option>");
                            $.each(Branch, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var EmployeeName = data.EmployeeName;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }

                        else {
                            $('#ErrorESSPassword').html(" ");
                        }
                    }
                }
            })
        });

        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlSubDepartmentId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetSubDepartment", "Rpt_Attendance_PersonalGatepass")',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                        $.each(data, function(i, p) {
                            $("#ddlSubDepartmentId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            $("#ddlSubUnit").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Rpt_Attendance_PersonalGatepass")',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        var ListSubUnit = data.List_SubUnit;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (LineMaster != null) {
                            $("#ddlLineId").append("<option value=''>All </option>");
                            $.each(LineMaster, function (i, p) {
                                $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (ListSubUnit != null) {
                            $("#ddlSubUnit").append("<option value=''>All </option>");
                            $.each(ListSubUnit, function (i, p) {
                                $("#ddlSubUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });


        $("#txtFromDate, #txtToDate").on("change", function () {
            var input = document.getElementById("txtFromDate").value;
            var input1 = document.getElementById("txtToDate").value;
            //define two date object variables with dates inside it
            fromDateObj = new Date(input);
            toDateObj = new Date(input1);
            //calculate time difference
            var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            //calculate days difference by dividing total milliseconds in a day
            var days_differences = time_difference / (1000 * 60 * 60 * 24);
            var days_difference = days_differences + 1;
            // Check if toDate is greater than fromDate
            var from = $("#txtFromDate").val();
            var to = $("#txtToDate").val();
            if (Date.parse(from) > Date.parse(to)) {

                $("#ErrortxtFromDate").html("From date should not be greater than todate");
                return false;
            }
            else {
                $("#ErrortxtFromDate").html("");
            }
            if (days_difference > 31) {
                $("#ErrortxtFromDate").html("You should not allow greter than 31 days");
            }
        });


    });//REady Function

    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        var CmpId = $("#ddlCmpId").val();
        var BranchId = $("#ddlBranchId").val();
        var DepartmentId = $("#ddlDepartmentId").val();
        var SubDepartmentId = $("#ddlSubDepartmentId").val();
        var DesignationId = $("#ddlDesignationId").val();
        var GradeId = $("#ddlGradeId").val();
        var LineId = $("#ddlLineId").val();
        var SubUnitId = $("#ddlSubUnit").val();
        var EmployeeID = $("#ddlEmployeeID").val();
        var FromDate = $("#txtFromDate").val();
        var ToDate=$("#txtToDate").val();

        // Create a full URL with query parameters
        var url = '/Rpt_Attendance_PersonalGatepass/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) +'&CmpId='+ encodeURIComponent(CmpId) +'&DepartmentId='+encodeURIComponent(DepartmentId)+'&SubDepartmentId='+encodeURIComponent(SubDepartmentId)+'&DesignationId='+encodeURIComponent(DesignationId)+'&GradeId='+encodeURIComponent(GradeId)+'&LineId='+encodeURIComponent(LineId)+'&SubUnitId='+encodeURIComponent(SubUnitId)+'&EmployeeID='+encodeURIComponent(EmployeeID)+'&ToDate='+encodeURIComponent(ToDate);
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                var ToformattedDate = convertDateFormat(ToDate);
                // Create a Blob from the response data
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'PersonalGatepassReport('+formattedDate +' - '+ ToformattedDate+').xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }
</script>