
@model KompassHR.Areas.ESS.Models.ESS_TMS.TMS_MOM

@{
    ViewBag.Title = "ESS_TMS_MOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<style>
    .hide-show{
        display:none;
    }
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }

</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                MOM
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_Menu", "ESS_TMS_Menu",  new {id =12, ScreenId=194, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">MOM- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        MOM
                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_TMS_MOM", new { area = "ESS" })' id="SaveMOM" method="post">
                                @Html.HiddenFor(model => model.MOMId_Encrypted, new { id = "txtMOMId_Encrypted" })
                                @Html.HiddenFor(model => model.MOMId, new { id = "txtMOMId" })

                                <div class="card mb-4">
                                    <div class="card-header bg-light">
                                        <h5 class="card-title">
                                            <i class="fas fa-id-card me-2"></i>Basic Information
                                            @*<button type="button" id="btnStart" class="btn btn-primary btn-sm ">
                                                <i class="fas fa-sync"></i> Start
                                            </button>*@
                                        </h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Date
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", name = "DocDate", id = "txtDocDate", autocomplete = "Off", type = "date", Style = "background-color: #eee;", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Doc Id
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", id = "txtDocNo", autocomplete = "Off", type = "text", Value = @ViewBag.DocNo, Style = "background-color: #eee;", @readonly = "readonly" })
                                                        @*@Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", id = "txtDocNo", type = "number", name = "DocNo" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Start Time
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", id = "txtStartTime", type = "Time", name = "StartTime" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        End Time
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control", id = "txtEndTime", type = "Time", name = "EndTime" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-2">
                                                        Meeting Title
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", id = "txtTitle", type = "text", name = " Title" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-2">
                                                        Meeting Owner
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.TextBox("Owner", Session["EmployeeName"], new { @class = "form-control", id = "txtOwner", type = "text", @readonly = "readonly" })
                                                        @*@Html.TextBoxFor(model => model.Owner, new { @class = "form-control", id = "txtOwner", type = "text", name = "Owner" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-2">
                                                        Agenda
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.Agenda, new { @class = "form-control", id = "txtAgenda", type = "text", name = "Agenda" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-header bg-light">
                                        <h5 class="card-title mb-0">
                                            <i class="fas fa-file-contract me-2"></i>
                                            Meeting Information
                                        </h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Action Item
                                                    </label>
                                                    <div class="col-md-8">
                                                        @*<input type="text" class="form-control" id="txtActionItem" name="ActionItem"/>*@
                                                        @Html.TextBoxFor(model => model.ActionItem, new { @class = "form-control", id = "txtActionItem", type = "text", name = "ActionItem" })
                                                        <span id="txtActionItemError" class="text-danger" style="display:none;font-size:12px;"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Priority
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.Priority, new List<SelectListItem>
                                                    {new SelectListItem { Text = "High", Value = "High" },
                                                     new SelectListItem { Text = "Medium", Value = "Medium" },
                                                     new SelectListItem { Text = "Low", Value = "Low" }
                                                    }, "-- Select --", new { @class = "form-control", id = "ddlPriority", name = "Priority" })
                                                        <span id="txtPriorityError" class="text-danger" style="display:none;font-size:12px;"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Employee
                                                    </label>
                                                    <div class="col-md-8">
                                                        @*@Html.DropDownList("Employee", new SelectList(ViewBag.EmployeeName, "Id", "Name"), "-- Select--", new { @class = "form-control", id = "ddlEmployee" })*@
                                                        @Html.DropDownListFor(model => model.Employee, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "-- Select--", new { @class = "form-select form-control", id = "ddlEmployee", name = "Employee" })
                                                        <span id="txtEmployeeError" class="text-danger" style="display:none;font-size:12px;"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        DeadLine
                                                    </label>
                                                    <div class="col-md-8">
                                                        @*<input type="date" class="form-control" id="txtDeadline" name="Deadline" />*@
                                                        @Html.TextBoxFor(model => model.Deadline, new { @class = "form-control", id = "txtDeadline", type = "date", name = "Deadline" })
                                                        <span id="txtDeadlineError" class="text-danger" style="display:none; font-size:12px;"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" id="btnAdd" class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-plus"></i> Add
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-scroll div1 mb-4">
                                                    <div class="table-wrap" style="min-height: 100px; height:fit-content; overflow-y: auto; border:1px solid lightgray;">
                                                        <table class="table mb-0 table-bordered table-hover  text-dark align-middle" id="tblEmployees" style="width:100%;">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr class="text-center">
                                                                    <th class="text-nowrap">Delete</th>
                                                                    <th class="text-nowrap">Action Item</th>
                                                                    <th class="text-nowrap">Priority</th>
                                                                    <th class="text-nowrap">Employee</th>
                                                                    <th class="text-nowrap">DeadLine</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tblBodyEmployees">
                                                                @{
                                                            if (Model.MOMDetails != null)
                                                            {
                                                                for (int i = 0; i < Model.MOMDetails.Count; i++)
                                                                {
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <a onclick="Delete('@Model.MOMDetails[i].MOMDetailsId',this)" style="cursor:pointer;">
                                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                                        </a>
                                                                    </td>

                                                                    <td>
                                                                        @Html.HiddenFor(m => m.MOMDetails[i].MOMDetailsId)
                                                                        @Model.MOMDetails[i].ActionItem
                                                                        <input type="hidden" name="MOMDetails[@i].ActionItem" value="@Model.MOMDetails[i].ActionItem" />
                                                                    </td>
                                                                    <td>
                                                                        @Model.MOMDetails[i].Priority
                                                                        <input type="hidden" name="MOMDetails[@i].Priority" value="@Model.MOMDetails[i].Priority" />
                                                                    </td>
                                                                    <td>
                                                                        @Model.MOMDetails[i].EmployeeName
                                                                        <input type="hidden" name="MOMDetails[@i].Employee" value="@Model.MOMDetails[i].Employee" />
                                                                        <input type="hidden" name="MOMDetails[@i].EmployeeName" value="@Model.MOMDetails[i].EmployeeName" />
                                                                    </td>
                                                                    <td>
                                                                        @Model.MOMDetails[i].Deadline.ToString("yyyy-MM-dd")
                                                                        <input type="hidden" name="MOMDetails[@i].Deadline" value="@Model.MOMDetails[i].Deadline.ToString("yyyy-MM-dd")" />
                                                                    </td>

                                                                </tr>
                                                                }
                                                            }
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-header bg-light">
                                        <h5 class="card-title mb-0">
                                            <i class="fas fa-calendar-alt me-2"></i>Next Meeting
                                        </h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="col-md-6 mb-2">
                                            <div class="row mb-12px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Next Meeting
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(model => model.NextMeeting, new { @class = "form-check-input", id = "chkNextMeeting", name = "NextMeeting" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row hide-show">
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Date
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.NextMeetDate, new { @class = "form-control", id = "txtNextMeetDate", type = "date", name = "NextMeetDate" })
                                                        <span id="txtNextMeetDateError" class="text-danger" style="display:none; font-size:12px;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Time
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.NextMeetTime, new { @class = "form-control", id = "txtNextMeetTime", type = "Time", name = "NextMeetTime" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row hide-show">
                                            <div class="col-md-12 mb-2">
                                                <div class="row mb-12px">
                                                    <label class="form-label col-form-label col-md-2">
                                                        Agenda
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.NextMeetAgenda, new { @class = "form-control", id = "txtNextMeetAgenda", type = "text", name = "NextMeetAgenda" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card mb-4">
                                    <div class="card-header bg-light">
                                        <h5 class="card-title mb-0">
                                            <i class="fas fa-comments me-2"></i>
                                           Remarks
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-12 mb-2">
                                            <div class="row mb-12px">
                                                <label class="form-label col-form-label col-md-2">
                                                    Remark
                                                </label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", id = "txtRemark", type = "text", name = "Remark" })
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                    </div>

                                <div class="row">
                                            <div class="LastShortLeaveBx">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="BtnBx">
                                                            <div>
                                                                <button type="button" id="btnSubmit"
                                                                        class="btn btn-primary btn-sm">
                                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                </button>
                                                                <a href="@Url.Action("GetList", "ESS_TMS_MOM", new { area = "ESS" })">
                                                                    <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                                        <i class="fa-solid fa-share-from-square"></i> List
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END panel -->
        </div>
    </div>
    </div>


<script>
    $(document).ready(function () {
        debugger
        $('#ddlEmployee').select2();

        var DocDate = @Html.Raw(Json.Encode(TempData["DocDate"]));
        var Deadline = @Html.Raw(Json.Encode(TempData["Deadline"]));
        var NextMeetDate = @Html.Raw(Json.Encode(TempData["NextMeetDate"]));

        var StartTimeRaw = @Html.Raw(Json.Encode(TempData["StartTime"])); 
        var EndTimeRaw = @Html.Raw(Json.Encode(TempData["EndTime"]));     
        var NextMeetTimeRaw = @Html.Raw(Json.Encode(TempData["NextMeetTime"])); 

        $("#txtDocDate").val(DocDate);
        $("#txtDeadline").val(Deadline);
        $("#txtNextMeetDate").val(NextMeetDate);

        function convertTimeFormat(timeStr) {
            if (!timeStr) return "00:00"; // fallback
            return timeStr.replace(".", ":");
        }

        // Set the input values in proper format
        $("#txtStartTime").val(convertTimeFormat(StartTimeRaw));
        $("#txtEndTime").val(convertTimeFormat(EndTimeRaw));
        $("#txtNextMeetTime").val(convertTimeFormat(NextMeetTimeRaw));

        if (DocDate) {
            $("#txtDocDate").val(DocDate);
        } else {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            var currentDate = yyyy + '-' + mm + '-' + dd;
            $("#txtDocDate").val(currentDate);
        }

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $("#formReset").click(function () {
            $("#SaveMOM")[0].reset();
        });

    });
</script>

<script>
    $(document).on("click", ".btnDelete", function () {
        debugger
    const row = $(this).closest("tr");

    Swal.fire({
        title: 'Are you sure?',
        text: "This will remove the row!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
            row.fadeOut(300, function () {
                $(this).remove();
                Swal.fire('Deleted!', 'Row removed successfully.', 'success');
            });
        }
    });
});
</script>

<script>
     function Delete(MOMDetailsId)
     {
             debugger;
             const DeleteButtons = Swal.mixin({
                 customClass: {
                     cancelButton: ' btnpress',
                     confirmButton: ' btnpress'
                 },
                 buttonsStyling: true
             })
             DeleteButtons.fire({
                 title: 'Are you sure?',
                 text: "You won't be able to revert this!",
                 icon: 'warning',
                 confirmButtonColor: '#d33',
                 cancelButtonColor: '#3085d6',
                 showCancelButton: true,
                 confirmButtonText: 'Yes, delete it!',
                 cancelButtonText: 'No, cancel!',
                 reverseButtons: false,
                 allowOutsideClick: () => {
                     const popup = Swal.getPopup()
                     popup.classList.remove('swal2-show')
                     setTimeout(() => {
                         popup.classList.add('animate__animated', 'animate__headShake')
                     })
                     setTimeout(() => {
                         popup.classList.remove('animate__animated', 'animate__headShake')
                     }, 500)
                     return false
                 }

             }).then((result) => {
                 if (result.isConfirmed) {
                     window.location.href = '@Url.Action("Delete", "ESS_TMS_MOM")?MOMDetailsId=' + MOMDetailsId;

                 } else if (
                     result.dismiss === Swal.DismissReason.cancel
                 ) {

                 }
             })
         }
    

</script>

<script>
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveMOM').validate({

        rules: {
            DocId: {
                required: true,
            },
            DocDate:{
                required: true,
            },

          
        },
        messages: {
              DocId: {
                  required: "DocId is required",

              },
              DocDate:{
                  required: "Doc Date is required",
              },
           
        },
    });

    var form = $("#SaveMOM");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#txtDocDate").removeClass('error');
            return false;
        }
        var DocNo = $("#txtDocNo").val();
        //var BranchId = $("#ddlBranchId").val();

        var MOMId_Encrypted = $("#txtMOMId_Encrypted").val();
        var MOMId=$("#txtMOMId").val();


        $.ajax({
            url:"IsMOMExists",
            method:"get",
            data: {
                DocNo:DocNo,
                MOMId_Encrypted:MOMId_Encrypted,
                MOMId:MOMId
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    localStorage.removeItem("MOMTableData");
                    $("#SaveMOM").submit();
                }
            }
        });
    });
</script>

<script>
        $("#txtDeadline").on("change", function () {
            var docDate = new Date($("#txtDocDate").val());
            var deadline = new Date($(this).val());
    
            if ($(this).val() && deadline < docDate) {
                $("#txtDeadlineError").text("Deadline must be greater than or equal to Doc Date.").show();
                $(this).val(""); 
            } 
            else
            {
                $("#txtDeadlineError").hide();
            }
        });

        $("#txtNextMeetDate").on("change",function(){
            var docDate = new Date($("#txtDocDate").val());
            var NextMeetDate = new Date($(this).val());
            if ($(this).val() && NextMeetDate < docDate) {
                $("#txtNextMeetDateError").text("Next Meet Date must be greater than or equal to Doc Date.").show();
                $(this).val(""); 
            } 
            else
            {
                $("#txtNextMeetDateError").hide();
            }
            });
</script>

<script>
    $(document).ready(function ()
    {
        if ($("#chkNextMeeting").is(":checked"))
        {
            $(".hide-show").show();
        } else {
            $(".hide-show").hide();
        }

        $("#chkNextMeeting").change(function () {
            if ($(this).is(":checked")) {
                $(".hide-show").show();
            } else {
                $(".hide-show").hide();
            }
        });
    });

</script>

<script>
    $("#txtActionItem").on("input", function () {
        if ($(this).val() !== "") {
            $("#txtActionItemError").hide();
        }
    });

    $("#ddlPriority").change(function () {
        if ($(this).val() !== "") {
            $("#txtPriorityError").hide();
        }
    });

    $("#ddlEmployee").change(function () {
        var empText = $("#ddlEmployee option:selected").text();
        if (empText !== "-- Select Employee --") {
            $("#txtEmployeeError").hide();
        }
    });

    $("#txtDeadline").change(function () {
        if ($(this).val() !== "") {
            $("#txtDeadlineError").hide();
        }
    });


    $("#btnAdd").click(function () {
        debugger
        var actionItem = $("#txtActionItem").val();
        var priority = $("#ddlPriority option:selected").val(); 
        var priorityText = $("#ddlPriority option:selected").text(); 
        var employee = $("#ddlEmployee option:selected").val(); 
        var employeeText = $("#ddlEmployee option:selected").text(); 
        var deadline = $("#txtDeadline").val();

        //if (actionItem === "" || priority === "" || employee === "" || deadline === "") {
        //    alert("Please fill all fields before adding.");
        //    return;
        //}

        let valid = true;

            if (actionItem === "") {
                $("#txtActionItemError").text("Action Item is required").show();
                valid = false;
            } else {
                $("#txtActionItemError").hide();
            }
  

        if (priority === "") {
            $("#txtPriorityError").text("Priority is required").show();
            valid = false;
        } else {
            $("#txtPriorityError").hide();
        }

        if (employee === "" || employeeText === "-- Select Employee --") {
            $("#txtEmployeeError").text("Please Select a Employee.").show();
            valid = false;
        } else {
            $("#txtEmployeeError").hide();
        }

        if (deadline === "") {
            $("#txtDeadlineError").text("Deadline is required").show();
            valid = false;
        } else {
            $("#txtDeadlineError").hide();
        }

        if (!valid)
            return;
     
        var index = $("#tblBodyEmployees tr").length;

        var newRow = "<tr>" +
             "<td class='text-center'>" +
        "<button type='button' class='btn btn-sm btnDelete'>" +
        "<i class='fa-solid fa-trash-alt text-danger fa-lg'></i>" +
        "</button>" +
        "</td>" +
            "<td>" + actionItem + "<input type='hidden' name='MOMDetails[" + index + "].ActionItem' value='" + actionItem + "'/></td>" +
            "<td>" + priorityText + "<input type='hidden' name='MOMDetails[" + index + "].Priority' value='" + priority + "'/></td>" +
            "<td>" + employeeText + "<input type='hidden' name='MOMDetails[" + index + "].Employee' value='" + employee + "'/></td>" +
            "<td>" + deadline + "<input type='hidden' name='MOMDetails[" + index + "].Deadline' value='" + deadline + "'/></td>" +
            "</tr>";

        $("#tblBodyEmployees").append(newRow);

        // Save table data to localStorage
         saveTableToLocalStorage();

        $("#txtActionItem").val("");
        $("#ddlPriority").val("");
        $("#ddlEmployee").val("").trigger('change');
        $("#txtDeadline").val("");
    });


    function saveTableToLocalStorage() {
        debugger
        var tableData = [];
        $("#tblBodyEmployees tr").each(function() {
            var row = $(this);
            var rowData = {
                ActionItem: row.find("input[name*='ActionItem']").val(),
                Priority: row.find("input[name*='Priority']").val(),
                Employee: row.find("input[name*='Employee']").val(),
                EmployeeText: row.find("td").eq(3).text(),
                Deadline: row.find("input[name*='Deadline']").val()
            };
            tableData.push(rowData);
        });
        localStorage.setItem("MOMTableData", JSON.stringify(tableData));
    }
    $(document).on("click", ".btnDelete", function() {
        $(this).closest("tr").remove();
        saveTableToLocalStorage(); 
    });


</script>

<script>
    $(document).ready(function() {
        debugger
        var storedData = localStorage.getItem("MOMTableData");
        if (storedData) {
            var tableData = JSON.parse(storedData);
            var tbody = $("#tblBodyEmployees");
            tbody.empty();

            tableData.forEach(function(rowData, index) {
                var newRow = "<tr>" +
                    "<td class='text-center'>" +
                    "<button type='button' class='btn btn-sm btnDelete'>" +
                    "<i class='fa-solid fa-trash-alt text-danger fa-lg'></i>" +
                    "</button>" +
                    "</td>" +
                    "<td>" + rowData.ActionItem + "<input type='hidden' name='MOMDetails[" + index + "].ActionItem' value='" + rowData.ActionItem + "'/></td>" +
                    "<td>" + rowData.Priority + "<input type='hidden' name='MOMDetails[" + index + "].Priority' value='" + rowData.Priority + "'/></td>" +
                    "<td>" + rowData.EmployeeText + "<input type='hidden' name='MOMDetails[" + index + "].Employee' value='" + rowData.Employee + "'/></td>" +
                    "<td>" + rowData.Deadline + "<input type='hidden' name='MOMDetails[" + index + "].Deadline' value='" + rowData.Deadline + "'/></td>" +
                    "</tr>";
                tbody.append(newRow);
            });
        }
    });

</script>

<script>
    var alertShown = false;
    setInterval(function () {
        var timeText = $("#timer").text().trim();
        var timerPart = timeText.slice(-5);
        var parts = timerPart.split(":");
        if (parts.length === 2) {
            var minutes = parseInt(parts[0], 10);
            var seconds = parseInt(parts[1], 10);
           // if (minutes === 14 && seconds === 35) {
                //alert("Your session is about to expire. The page will reload now.");
                //alertShown = true;
                //location.reload(true);
            //}
            if (minutes === 1 && seconds === 1) {
                //alert("Your session will expire in 1 minute. The page will reload now.");
                //alertShown = true;
                location.reload(true);
            }
        }
    }, 1000);
</script>



