@model KompassHR.Areas.Setting.Models.Setting_Marketplace.MarketPlace_Category
@{
    ViewBag.Title = "Setting_Marketplace_MarketCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Market Place Category
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_MarketPlace_Menu", "Setting_MarketPlace_Menu", new {id = 14, ScreenId=91, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Market Place Category- Add </h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define market place category here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Setting/Setting_Marketplace_MarketCategory/SaveUpdate" id="SaveMarketCategory" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Market Place Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.MarketPlaceCategory, new { id = "MarketPlaceCategory", name = "MarketPlaceCategory", @class = "form-control", type = "text", @autocomplete = "off" })
                                                @Html.HiddenFor(model => model.MarketPlaceCategoryID_Encrypted)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList"
                                                                class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }


        $("#btnGetList").click(function () {
            var url='@Url.Action("GetList", "Setting_Marketplace_MarketCategory", new { area = "Setting" })';
            window.location.href = url;
        });

        $("#formReset").click(function () {
            $("#SaveMarketCategory")[0].reset();
        })

    });//Ready Funcation


</script>



<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveMarketCategory').validate({
        rules: {
            MarketPlaceCategory: {
                required: true,

            },

        },
        messages: {
            MarketPlaceCategory: {
                required: "Market place category name is required",

            },
        },
    });


    var form = $("#SaveMarketCategory");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var PlaceCategory = $("#MarketPlaceCategory").val();
        var MarketPlaceCategoryIDEncrypted = $("#MarketPlaceCategoryID_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsMarketCategoryExists", "Setting_Marketplace_MarketCategory", new { area = "Setting" })',
            method:"get",
            data: { PlaceCategory: PlaceCategory, MarketPlaceCategoryIDEncrypted: MarketPlaceCategoryIDEncrypted },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveMarketCategory").submit();

                }
            }
        });

    });
</script>
