@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Reports_Attendance_TotalEmployeePresent_In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*select Row CSS End*/

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 12px !important;
        height: 20px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    /*.div1 td:nth-child(6) {
        position: sticky !important;
        left: 579px !important;
    }

    .fixed-side5 {
        position: sticky !important;
        left: 579px !important;
        z-index: 1;
    }

    .div1 td:nth-child(5) {
        position: sticky !important;
        left: 434px !important;
    }

    .fixed-side4 {
        position: sticky !important;
        left: 434px !important;
        z-index: 1;
    }

    .div1 td:nth-child(4) {
        position: sticky !important;
        left: 320.5px !important;
    }

    .fixed-side3 {
        position: sticky !important;
        left: 320.5px !important;
        z-index: 1;
    }

    .div1 td:nth-child(3) {
        position: sticky !important;
        left: 203px !important;
    }

    .fixed-side2 {
        position: sticky !important;
        left: 203px !important;
        z-index: 1;
    }*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Total Employee Present IN Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_DailyAttendace_RptSubMenu", "Report_DailyAttendace_RptSubMenu", new {id = 5, ScreenId=326, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Total Employee Present IN Report</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            A Total Employee Present IN Report typically summarizes attendance records for a specific day.
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">

                            <div class="row justify-content-center">
                                <form role="form" action="/Reports/Reports_Attendance_TotalEmployeePresent_In/Reports_Attendance_TotalEmployeePresent_In" id="rptTotalEmployeePresentIn" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company
                                                    @*<span class="important">*</span>*@
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Department
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Sub Department
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Designation
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Grade
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Line Master
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    @*Employee Name*@
                                                    Sub Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubUnitId, new SelectList(ViewBag.SubUnit, "Id", "Name"), "All", new { @class = "form-select", name = "SubUnit", id = "ddlSubUnit" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Contractor Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ContractorId, new SelectList(ViewBag.GetContractor, "Id", "Name"), "All", new { @class = "form-select", name = "ContractorId", id = "ddlContractorId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">

                                                    Date
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", name = "FromDate", type = "date", id = "txtFromDate" })
                                                    <span id="ErrorFromDate" class="Error"></span>
                                                </div>
                                                @*<div class="col-md-2">
                                                        <button type="button" onclick="PresentIn()" class="btn btn-sm btn-success">Show</button>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row justify-content-end">
                                                <div class="col-auto">
                                                    <div class="BtnBx d-flex gap-2">
                                                        <button type="button" class="btn btn-primary" id="btnPrint" onclick="Print()">
                                                            <i class="fa-solid fa-print fa-xl"></i> Print
                                                        </button>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered table-hover mb-0 " id="tblrptTotalEmployeePresentIn" style="width: 100%;">
                                            <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="trheading">
                                                    @if (ViewBag.TotalEmployeePresentInReport.ToString() == "" || ViewBag.TotalEmployeePresentInReport.Count == 0)
                                                    {

                                                        <th style="border-color:black !important;">Employee Name</th>
                                                        <th style="border-color:black !important;">Employee No. </th>
                                                    }
                                                    else
                                                    {

                                                        <th class="fixed-side" style="border-color:black !important;">Employee Name</th>
                                                        <th class="fixed-side1" style="border-color:black !important;">Employee No. </th>
                                                    }

                                                    <th class="text-nowrap" style="border-color:black !important;">Employee Card No. </th>
                                                    <th class="text-nowrap" style="border-color:black !important;"> Company </th>
                                                    <th class="text-nowrap" style="border-color:black !important;"> Business Unit  </th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Gender</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Joining Date</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Service</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Department</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Contractor</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Grade</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Designation</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Critical Stage Y/N</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Critical Stage</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Assesment Level</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Line Master</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Attendance Date</th>
                                                    <th class="text-nowrap" style="border-color:black !important;">In Time </th>
                                                    <th class="text-nowrap" style="border-color:black !important;">Punch Date Time</th>


                                                </tr>
                                            </thead>
                                            <tbody id="tblrptPresentIn">
                                                @foreach (var d in ViewBag.TotalEmployeePresentInReport)
                                                {
                                                    <tr>


                                                        <td class="fixed-side" style="background-color:white !important; border-color:black !important; min-width:270px;">@d.EmployeeName</td>
                                                        <td class="fixed-side1" style="background-color:white !important; border-color:black !important;">@d.EmployeeNo</td>
                                                        <td class="fixed-side2" style="background-color:white !important; border-color:black !important;">@d.EmployeeCardNo</td>
                                                        <td class="fixed-side3" style="background-color:white !important; border-color:black !important;">@d.Company</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.BusinessUnit</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Gender</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.DOJ</td>

                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Service</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Department</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Contractor</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Grade</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Designation</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.CriticalStageYesNo</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.CriticalStagName</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.AssessmentLevel</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Line</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.AttendanceDate</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.InTime</td>
                                                        <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.PunchDateTime</td>


                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <br />
                                        <span id="tblRowCount"></span>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var today = new Date().toISOString().split('T')[0];
        document.getElementById("txtFromDate").setAttribute("max", today);// Disable Date After Todate
        document.getElementById("txtFromDate").setAttribute("min", today); // Disable Date Before Todate
        $('title').html("Total Employee Present In Report");
        var CheckEmptyDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
        }

        

                   
        document.getElementById("txtFromDate").addEventListener("blur", function () {
            debugger
            var dateValue = this.value;

            if (dateValue.includes("-")) {
                var parts = dateValue.split("-"); 
                dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
            }
            var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
            if (!regex.test(dateValue)) {
                $("#ErrorFromDate").html("Please enter valid date in DD-MM-YYYY format");
                this.value = "";
                this.focus();
                return;
            } else {
                $("#ErrorFromDate").html("");
            }
        });
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlDepartmentId").select2();
        $("#ddlSubDepartmentId").select2();
        $("#ddlDesignationId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();
        $("#ddlSubUnit").select2();
        $("#dllType").select2();

        $("#ddlContractorId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            $("#ddlContractorId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var GetFromDate = document.getElementById('txtFromDate').value;
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Report_Attendance_RptMenu")',
                data: { CmpId: CmpId, GetFromDate:GetFromDate },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var Branch = data.Branch;
                        if (Branch != null) {
                            $("#ddlBranchId").append("<option value=''>All </option>");
                            $.each(Branch, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var EmployeeName = data.EmployeeName;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var GetContractorDropdown = data.GetContractorDropdown;
                        if (GetContractorDropdown != null) {
                            $("#ddlContractorId").append("<option value=''>All </option>");
                            $.each(GetContractorDropdown, function (i, p) {
                                $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        else {
                            $('#ErrorESSPassword').html(" ");
                        }
                    }
                }
            })
        });

        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlSubDepartmentId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetSubDepartment", "Reports_Attendance_TotalEmployeePresent_In")',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlSubDepartmentId").find("option").remove();
                        $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                    }
                    else {
                        if (data != null) {
                            $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                            $.each(data, function (i, p) {
                                $("#ddlSubDepartmentId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            $("#ddlSubUnit").find("option").remove();
            $("#ddlContractorId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Reports_Attendance_TotalEmployeePresent_In")',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        var ListSubUnit = data.List_SubUnit;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (LineMaster != null) {
                            $("#ddlLineId").append("<option value=''>All </option>");
                            $.each(LineMaster, function (i, p) {
                                $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (ListSubUnit != null) {
                            $("#ddlSubUnit").append("<option value=''>All </option>");
                            $.each(ListSubUnit, function (i, p) {
                                $("#ddlSubUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var GetContractorDropdown = data.GetContractorDropdown;
                        if (GetContractorDropdown != null) {
                            $("#ddlContractorId").append("<option value=''>All </option>");
                            $.each(GetContractorDropdown, function (i, p) {
                                $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

    }); //Ready Function End

    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        //var CmpId = $("#ddlCmpId").val();
        //var BranchId = $("#ddlBranchId").val();
        //var DepartmentId = $("#ddlDepartmentId").val();
        //var SubDepartmentId = $("#ddlSubDepartmentId").val();
        //var DesignationId = $("#ddlDesignationId").val();
        //var GradeId = $("#ddlGradeId").val();
        //var LineId = $("#ddlLineId").val();
        //var SubUnitId = $("#ddlSubUnit").val();
        //var EmployeeID = $("#ddlEmployeeID").val();
        //var FromDate = $("#txtFromDate").val();

        var DepartmentId = encodeURIComponent($("#ddlDepartmentId").val());
        var SubDepartmentId = encodeURIComponent($("#ddlSubDepartmentId").val());
        var DesignationId = encodeURIComponent($("#ddlDesignationId").val());
        var GradeId = encodeURIComponent($("#ddlGradeId").val());
        var LineId = encodeURIComponent($("#ddlLineId").val());
        var SubUnitId = encodeURIComponent($("#ddlSubUnit").val());
        var EmployeeID = encodeURIComponent($("#ddlEmployeeID").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var CmpID = encodeURIComponent($("#ddlCmpId").val());
        var ContractorId=encodeURIComponent($("#ddlContractorId").val());
        //var ToDate=encodeURIComponent($("#txtToDate").val());
        var url = `@Url.Action("DownloadExcelFile", "Reports_Attendance_TotalEmployeePresent_In")?BranchId=${branchId}&CmpID=${CmpID}&DepartmentId=${DepartmentId}&SubDepartmentId=${SubDepartmentId}&DesignationId=${DesignationId}&GradeId=${GradeId}&LineId=${LineId}&SubUnitId=${SubUnitId}&EmployeeID=${EmployeeID}&FromDate=${FromDate}&ContractorId=${ContractorId}`;
        // Create a full URL with query parameters
        // var url = '/Reports_Attendance_TotalEmployeePresent_In/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId) + '&FromDate=' + encodeURIComponent(FromDate) +'&CmpId='+ encodeURIComponent(CmpId) +'&DepartmentId='+encodeURIComponent(DepartmentId)+'&SubDepartmentId='+encodeURIComponent(SubDepartmentId)+'&DesignationId='+encodeURIComponent(DesignationId)+'&GradeId='+encodeURIComponent(GradeId)+'&LineId='+encodeURIComponent(LineId)+'&SubUnitId='+encodeURIComponent(SubUnitId)+'&EmployeeID='+encodeURIComponent(EmployeeID);
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                //var ToformattedDate = convertDateFormat(ToDate);
                // Create a Blob from the response data
                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                // Create a temporary anchor element to initiate the download
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'TotalEmployeePresentInReport('+formattedDate+').xlsx';
                anchorElement.click();
                // Clean up
                window.URL.revokeObjectURL(url);
                $(".Userloaderbg").css("display", "none");
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
                // Handle error scenarios here
            }
        });
    }

    function convertDateFormat(dateString) {
        // Create a Date object from the input string
        var dateParts = dateString.split('-');
        var year = dateParts[0];
        var month = dateParts[1];
        var day = dateParts[2];

        // Convert month number to month name abbreviation
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var monthName = monthNames[parseInt(month, 10) - 1]; // Adjust index to zero-based

        // Construct the formatted date string
        return day + ' ' + monthName + ' ' + year;
    }

</script>

<script>
    function Print() {
        $(".Userloaderbg").css("display", "flex");
        var DepartmentId = encodeURIComponent($("#ddlDepartmentId").val());
        var SubDepartmentId = encodeURIComponent($("#ddlSubDepartmentId").val());
        var DesignationId = encodeURIComponent($("#ddlDesignationId").val());
        var GradeId = encodeURIComponent($("#ddlGradeId").val());
        var LineId = encodeURIComponent($("#ddlLineId").val());
        var SubUnitId = encodeURIComponent($("#ddlSubUnit").val());
        var EmployeeID = encodeURIComponent($("#ddlEmployeeID").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var CmpID = encodeURIComponent($("#ddlCmpId").val());
        var ContractorId=encodeURIComponent($("#ddlContractorId").val());
        //var ToDate=encodeURIComponent($("#txtToDate").val());
        var url = `@Url.Action("Print", "Reports_Attendance_TotalEmployeePresent_In")?BranchId=${branchId}&CmpID=${CmpID}&DepartmentId=${DepartmentId}&SubDepartmentId=${SubDepartmentId}&DesignationId=${DesignationId}&GradeId=${GradeId}&LineId=${LineId}&SubUnitId=${SubUnitId}&EmployeeID=${EmployeeID}&FromDate=${FromDate}&ContractorId=${ContractorId}`;


        $.ajax({
            url: url,
            method: "GET",
            success: function (html) {
                $(".Userloaderbg").css("display", "none");

                // If empty file returned
                if (html.length === 0) {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found'
                    });
                    return;
                }
                //var rawMonth = document.getElementById('GetMonth').value;
                //if (rawMonth) {
                //    var dateObj = new Date(rawMonth + "-01");
                //  //  var formatted = dateObj.toLocaleString('default', { month: 'short', year: 'numeric' }); // "Jun 2025"
                //    $('title').html("Total Employee Present IN Report - (" + formatted + ")");
                //} else {

                //}
                $('title').html("Total Employee Present IN Report");
                var printFrame = document.createElement('iframe');
                printFrame.style.position = 'absolute';
                printFrame.style.left = '-9999px';
                document.body.appendChild(printFrame);

                var frameDoc = printFrame.contentWindow || printFrame.contentDocument;
                if (frameDoc.document) frameDoc = frameDoc.document;

                frameDoc.open();
                frameDoc.write(`<html><head><title>Print</title></head><body>${html}</body></html>`);
                frameDoc.close();

                printFrame.contentWindow.focus();
                printFrame.contentWindow.print();

                document.body.removeChild(printFrame);
            }
        });
    }
</script>