@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_WeekOffAdjust.WeekOffAdjust_List
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
            background-color: rgba(233, 236, 239, 0.5) !important;
        }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Public Holiday Off Adjustment
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Public Holiday Adjustment - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of Public Holiday adjustment .
                    </p>
                </div>
                <div class="panel-body">
                    <form role="form" action="@Url.Action("GetList", "ESS_TimeOffice_PublicHolidayAdjust")" id="SaveWOAdjustmentGetList" method="post">
                        <div class="row">
                            <div class="col-md-2">
                                <div>
                                    <a href="@Url.Action("ESS_TimeOffice_PublicHolidayAdjust", "ESS_TimeOffice_PublicHolidayAdjust", new { area = "ESS" })">
                                        <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                            <i class="fa-solid fa-plus"></i> &nbsp; Add
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Company Name
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), new { id = "ddlCmpId", @class = "form-select", name = "CmpId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Business Unit
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.WOBranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), new { id = "ddlWOBranchId", @class = "form-select", name = "WOBranchId" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Public Holiday From Date
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.WOFromDate, new { @class = "form-control", type = "date", id = "dateWOFromDate", Name = "WOFromDate" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-4">
                                        Public Holiday Adjust Date
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.WOAdjustDate, new { @class = "form-control", type = "date", id = "dateWOAdjustDate", Name = "WOAdjustDate" })
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btnshow" onclick="showList()" class="btn btn-primary btn-sm  mb-10px">
                                            <i class="fa-solid fa-eye"></i> &nbsp; show
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>

                                </div>

                            </div>
                        </div>
                    </form>

                    <!-- BEGIN table-responsive -->
                    <div class="table-scroll">
                        <div class="table-wrap">
                            <table class="table table-bordered align-middle" id="tblHeadWeeklyAdjustment"
                                   style="width: 100%;">
                                <thead class="text-center" style="background-color: rgba(233, 236, 239, 1) !important;">
                                    <tr class="trheading text-center">
                                        <th class="fixed-side1"> <input type="checkbox" name="checkbox" id="chkIsMenuCheckBox" value="0" onclick="checkAllCheckboxes(this, 'Select')">Delete (All)</th>
                                        <th class="text-nowrap text-center"> Employee Name</th>
                                        <th class="text-nowrap text-center">Company  </th>
                                        <th class="text-nowrap text-center">Business Name</th>
                                        <th class="text-nowrap text-center">Department Name</th>
                                        <th class="text-nowrap text-center">Public Holiday From Date </th>
                                        <th class="text-nowrap text-center">Public Holiday Adjust Date</th>
                                        <th class="text-nowrap text-center">Created By </th>
                                        <th class="text-nowrap text-center">Created Date</th>
                                        <th class="text-nowrap text-center">Machine Name</th>
                                        <th hidden class="text-nowrap text-center">BranchID</th>
                                        <th hidden class="text-nowrap text-center">EmployeeID</th>
                                        <th hidden class="text-nowrap text-center">WeekOffAdjustId_Encrypted</th>
                                    </tr>
                                </thead>
                                <tbody id="tblbodyWeeklyAdjustment">
                                    @foreach (var d in ViewBag.GetWeekOffAdjustList)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <input type="checkbox" class="form-check-input" data-checked="email-checkbox" id="tblCheckbox">
                                                @*<button type="button" id="btnDelete" onclick="DeleteAdjustment('@d.WeekOffAdjustId_Encrypted')"
                                                            class="btn btn-danger ListBtn btnpress">
                                                        <i class="fa-solid fa-trash-alt"></i>
                                                    </button>*@
                                            </td>
                                            <td class="text-nowrap">@d.EmployeeName</td>
                                            <td class="text-nowrap">@d.CompanyName</td>
                                            <td class="text-nowrap">@d.BranchName</td>
                                            <td class="text-nowrap">@d.DepartmentName</td>
                                            <td class="text-nowrap">@d.PHFromDate</td>
                                            <td class="text-nowrap">@d.PHAdjustDate</td>
                                            <td>@d.CreatedBy</td>
                                            <td>@d.CreatedDate</td>
                                            <td>@d.MachineName</td>
                                            <td hidden>@d.PHBranchId</td>
                                            <td hidden>@d.PublicHolidayAdjustId</td>
                                            <td hidden>@d.PublicHolidayAdjustId_Encrypted</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-20px">
                        <div class="LastShortLeaveBx">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="BtnBx">
                                        <div>
                                            <button type="button" class="btn btn-primary btn-sm" id="btnAllDelete" onclick="DeleteAdjustment()">
                                                <i class="fa-solid fa-floppy-disk"></i> Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#ddlCmpId").select2();
        $("#ddlWOBranchId").select2();
        $('title').html("Weekly Off Adjustment");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $('#tblHeadWeeklyAdjustment').DataTable({
            scrollY: 300,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
        });

        //$('#tblHeadWeeklyAdjustment').DataTable({
        //    scrollY: 300,
        //    scrollCollapse: true,
        //    paging: false,
        //    scrollX: true,
        //    searching: true, // Enable searching
        //    stripeClasses: [] // Disable alternating row colors
        //});

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlWOBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_TimeOffice_PublicHolidayAdjust")',
                data: { CmpId: CmpId },
                success: function (data) {
                    var BranchName=data.BranchName;

                    if (BranchName !=null) {
                        // $("#ddlWOBranchId").append("<option value=''>All </option>");
                        $.each(BranchName, function(i, p) {
                            $("#ddlWOBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                }
            })
        })

    })//REady function

    function checkAllCheckboxes(checkbox, checkboxType) {
        var checkboxes = document.querySelectorAll('[id^="' + checkboxType + 'CheckBox"]');
        checkboxes.forEach(function (cb) {
            cb.checked = checkbox.checked;
        });
        if (checkboxType === 'Select' ) {

            var typeIndex = ['Select'].indexOf(checkboxType);
            var dynamicCheckboxes = document.querySelectorAll('#tblbodyWeeklyAdjustment tr td:nth-child(' + (typeIndex + 1) + ') input[type="checkbox"]');
            dynamicCheckboxes.forEach(function (dynamicCheckbox) {
                dynamicCheckbox.checked = checkbox.checked;
            });
        }
    }

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#SaveWOAdjustmentGetList').validate({
        rules: {
            WOFromDate: {
                required: true,
            },
            WOAdjustDate: {
                required: true,
            },
        },
        messages: {
            WOFromDate: {
                required: "Week off from date is required",
            },
            WOAdjustDate: {
                required: "Week off adjust date is required",
            },
        },
    });

    var form = $("#SaveWOAdjustmentGetList");
    form.validate();
    function showList() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#dateWOFromDate").removeClass("error");
            $("#dateWOAdjustDate").removeClass("error");
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#SaveWOAdjustmentGetList").submit();
    }


    function DeleteAdjustment() {
        debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var RecordList = new Array();
                $("#tblbodyWeeklyAdjustment").find(':checkbox:checked').each(function (i) {
                    var data = {};
                    var currentRow = $(this).closest("tr");
                    data.EmployeeID = currentRow.find("td:eq(11)").html();
                    data.WOBranchId = currentRow.find("td:eq(10)").html();
                    data.WOFromDate = currentRow.find("td:eq(5)").html();
                    data.WOAdjustDate =  currentRow.find("td:eq(6)").html();
                    data.WeekOffAdjustId_Encrypted =  currentRow.find("td:eq(12)").html();
                    RecordList.push(data);
                });

                if (RecordList == "") {
                    debugger;

                    Swal.fire({
                        icon: "error",
                        text: "Select atleast one record",
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            return false;
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            window.location.reload();
                            return false
                        }
                    });
                    return false;
                }
                $(".Userloaderbg").css("display", "flex");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "ESS_TimeOffice_PublicHolidayAdjust")",
                    data: JSON.stringify({ ObjRecordList: RecordList }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        debugger;
                        $(".Userloaderbg").css("display", "none");
                        var datas = JSON.parse(data);
                        if (datas != null) {
                            //$('#tblInbox').load();
                            Swal.fire({
                                icon: datas.Icon,
                                text: datas.Message,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    return false;
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    window.location.reload();
                                    return false
                                }
                            }).then(function () {
                                var url = '@Url.Action("GetList", "ESS_TimeOffice_PublicHolidayAdjust")';
                                window.location.href = url;
                            });
                        }
                    }
                });

                return false;

                //window.location.href = 'Url.Action("Delete", "ESS_TimeOffice_PublicHolidayAdjust")?WeekOffAdjustId_Encrypted=' + WeekOffAdjustId_Encrypted;
            }
        })
    }
</script>