@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Travel Plans
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Travel_Menu", "ESS_Travel_Menu",  new { id = 16,ScreenId=233, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <!-- BEGIN col-12 -->
                <!-- BEGIN row -->
                <!-- BEGIN panel-heading -->
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Travel Desk</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- END panel-heading -->
                <div class="panel-body">
                    <div class="row mb-20px">
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-blue mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">TOTAL REQUEST</div>
                                    <div class="stats-number">
                                        @ViewBag.LocalPlanDetails11.TotalBooking
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Approvals pending with me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="idget widget-stats bg-teal mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">COMPLETE APPROVED REQUEST</div>
                                    <div class="stats-number">
                                        @ViewBag.LocalPlanDetails11.Booked                                  
                                      </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 40.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Approvals pending with me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-purple mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">PENDING REQUEST</div>
                                    <div class="stats-number">
                                        @ViewBag.LocalPlanDetails11.PendingRequest                                                      </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 76.3%;"></div>
                                    </div>
                                    <div class="stats-desc">Open raised by me </div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-4 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-dark mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">CANCELED REQUEST</div>
                                    @ViewBag.LocalPlanDetails11.CancelRequest                                                      <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 54.9%;"></div>
                                    </div>
                                    <div class="stats-desc"> Pending for actions</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-orange mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">TOTAL PLANS</div>
                                    <div class="stats-number">
                                        @*<a href="#" id="AnchorInterview" onClick="Showdata('RECR07','Interviews pending with me')" style="color:white;">@ViewBag.GetInterviews[0].Interviews</a>*@
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 23.5%;"></div>
                                    </div>
                                    <div class="stats-desc">Pending with me</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <!-- BEGIN col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-pink mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">COMPLETED PLAN</div>
                                    <div class="stats-number">
                                        @*<a href="#" id="AnchorDatabaseCandidates" onClick="Showdata('DatabaseCandidates','Database Candidates')" style="color:white;">@ViewBag.GetDatabaseCandidates[0].CandidateDatabase</a>*@
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 10.5%;"></div>
                                    </div>
                                    <div class="stats-desc">More than last week (10.5%)</div>
                                </div>
                            </div>
                        </div>
                        <!-- END col-2 -->
                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-dark mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">PENDING PLAN</div>
                                    @*<div class="stats-number"><a href="#" id="AchorCandidate" onClick="Showdata('CandidatesPendingForAction','Candidates Pending for actions')" style="color:white;">@ViewBag.GetCandidates[0].Candidates</a></div>*@
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 54.9%;"></div>
                                    </div>
                                    <div class="stats-desc"> Pending for actions</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6">
                            <div class="widget widget-stats bg-pink mb-7px">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                                <div class="stats-content" style="height:120px;">
                                    <div class="stats-title">CANCEL PLAN</div>
                                    <div class="stats-number">
                                        @*<a href="#" id="AnchorDatabaseCandidates" onClick="Showdata('DatabaseCandidates','Database Candidates')" style="color:white;">@ViewBag.GetDatabaseCandidates[0].CandidateDatabase</a>*@
                                    </div>
                                    <div class="stats-progress progress">
                                        <div class="progress-bar" style="width: 10.5%;"></div>
                                    </div>
                                    <div class="stats-desc">More than last week (10.5%)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END widget-list -->
                <!-- END col-12 -->

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Travel Plans - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        View Plans status here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <!-- BEGIN table-responsive -->
                        <div class="table-scroll div1">
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="data-table-combine"
                                       style="width: 100%;">
                                    <thead>
                                        <tr class="trheading">
                                            <th class="text-nowrap text-center">View</th>
                                            <th hidden class="text-nowrap text-center">TravelPlanEmployeeId</th>
                                            <th hidden class="text-nowrap text-center">TravelCalenderID</th>
                                            <th class="text-nowrap text-center">PlanType</th>
                                            <th class="text-nowrap text-center">Mode</th>
                                            <th class="text-nowrap text-center">EmployeeName</th>
                                            <th class="text-nowrap text-center">StartDate</th>
                                            <th class="text-nowrap text-center">EndDate</th>
                                            <th class="text-nowrap text-center">StartLocation</th>
                                            <th class="text-nowrap text-center">EndLocation</th>
                                            <th class="text-nowrap text-center">Note</th>
                                            <th class="text-nowrap text-center">BookingType</th>
                                            <th class="text-nowrap text-center">BookingStatus</th>
                                            <th class="text-nowrap text-center">CancelPlanDescription</th>
                                            <th class="text-nowrap text-center">RejectionRemark</th>
                                            <th hidden class="text-nowrap text-center">CompId</th>
                                            <th hidden class="text-nowrap text-center">BranchId</th>
                                        </tr>
                                    </thead>
                                    <tbody>
        @foreach (var d in ViewBag.TravelPlanDetails)
        {
            <tr>
                <td class="text-center">
                    <button type="button" onclick="UpdateLoan('@d.TravelPlanID_Encrypted')" id="UpdateBtn"
                            class="btn btn-success btnpress ListBtn">
                        <i class="fa-solid fa-pencil-alt"></i>
                    </button>
                </td>

                <td hidden class="text-nowrap">@d.TravelPlanEmployeeId</td>
                <td hidden class="text-nowrap">@d.TravelCalenderID</td>
                <td class="text-nowrap">@d.PlanType</td>
                <td class="text-nowrap">@d.Mode</td>
                <td class="text-nowrap">@d.EmployeeName</td>
                <td class="text-nowrap">@Convert.ToDateTime(d.StartDate).ToString("yyyy-MM-dd")</td>
                <td class="text-nowrap">@Convert.ToDateTime(d.EndDate).ToString("yyyy-MM-dd")</td>
                <td class="text-nowrap">@d.StartLocation</td>
                <td class="text-nowrap">@d.EndLocation</td>
                <td class="text-nowrap">@d.Note</td>
                <td class="text-nowrap">@d.BookingType</td>
                <td class="text-nowrap">@d.BookingStatus</td>
                <td class="text-nowrap">@d.CancelPlanDescription</td>
                <td class="text-nowrap">@d.RejectionRemark</td>

            </tr>
        }

                                        @foreach (var d in ViewBag.AccomodationPlanDetails)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <button type="button" onclick="Accomodation('@d.AccomodationPlanID_Encrypted')" id="UpdateBtn"
                                                            class="btn btn-success btnpress ListBtn">
                                                        <i class="fa-solid fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                             
                                                <td hidden class="text-nowrap">@d.AccomodationPlanEmployeeId</td>
                                                <td hidden class="text-nowrap">@d.TravelCalenderID</td>
                                                <td class="text-nowrap">@d.PlanType</td>
                                                <td class="text-nowrap">@d.Mode</td>
                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@Convert.ToDateTime(d.StartDate).ToString("yyyy-MM-dd")</td>
                                                <td class="text-nowrap">@Convert.ToDateTime(d.EndDate).ToString("yyyy-MM-dd")</td>
                                                <td class="text-nowrap">N/A</td>
                                                <td class="text-nowrap">N/A</td>
                                                <td class="text-nowrap">@d.Note</td>
                                                <td class="text-nowrap">@d.BookingType</td>
                                                <td class="text-nowrap">@d.BookingStatus</td>
                                                <td class="text-nowrap">@d.CancelPlanDescription</td>
                                                <td class="text-nowrap">@d.RejectionRemark</td> 
                                            </tr>
                                        }

                                        
                                        @foreach (var d in ViewBag.LocalPlanDetails)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <button type="button" onclick="LocTrans('@d.LocalTranPlanID_Encrypted')" id="UpdateBtn"
                                                            class="btn btn-success btnpress ListBtn">
                                                        <i class="fa-solid fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                              
                                                <td hidden class="text-nowrap">@d.LTPlanEmployeeId</td>
                                                <td hidden class="text-nowrap">@d.TravelCalenderID</td> 
                                                <td class="text-nowrap">@d.PlanType</td>
                                                <td class="text-nowrap">@d.Mode</td>
                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@Convert.ToDateTime(d.StartDate).ToString("yyyy-MM-dd")</td>
                                                <td class="text-nowrap">@Convert.ToDateTime(d.EndDate).ToString("yyyy-MM-dd")</td>
                                                <td class="text-nowrap">@d.StartLocation</td>
                                                <td class="text-nowrap">@d.EndLocation</td>
                                                <td class="text-nowrap">@d.Note</td>
                                                <td class="text-nowrap">@d.BookingType</td>
                                                <td class="text-nowrap">@d.BookingStatus</td>
                                                <td class="text-nowrap">@d.CancelPlanDescription</td>
                                                <td class="text-nowrap">@d.RejectionRemark</td>
                                            </tr>
                                        }
    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    debugger
  var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
        if (Message != null) {
        Swal.fire({
        icon: Icon,
        text: Message,
        allowOutsideClick: () => {
        const popup = Swal.getPopup()
        popup.classList.remove('swal2-show')
        setTimeout(() => {
        popup.classList.add('animate__animated', 'animate__headShake')
        })
        setTimeout(() => {
        popup.classList.remove('animate__animated', 'animate__headShake')
        }, 500)
        return false
        }
        });
        }
        }

      });
</script>

<script>

    function UpdateLoan(TravelPlanID_Encrypted) {
        var url = '@Url.Action("TravelApproval", "ESS_Travel_ManagerApprovalTravel")?TravelPlanID_Encrypted=' + TravelPlanID_Encrypted;
            window.location.href = url;
    }
    function Accomodation(AccomodationPlanID_Encrypted) {
        var url = '@Url.Action("AccomodationApproval", "ESS_Travel_ManagerApprovalTravel")?AccomodationPlanID_Encrypted=' + AccomodationPlanID_Encrypted;
            window.location.href = url;
    }
    function LocTrans(LocalTranPlanID_Encrypted) {
        var url = '@Url.Action("LocTransportApproval", "ESS_Travel_ManagerApprovalTravel")?LocalTranPlanID_Encrypted=' + LocalTranPlanID_Encrypted;
        window.location.href = url;
    }
</script>


