
@{
    ViewBag.Title = "TravelApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KompassHR.Areas.ESS.Models.ESS_Travel.Travel_Plan_Travel
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- BEGIN #loader -->
    @*<div id="loader" class="app-loader">
            <span class="spinner"></span>
        </div>*@
    <!-- END #loader -->
    <!-- BEGIN #app -->
    <div id="app" class="app app-header-fixed app-sidebar-fixed">
        <!-- BEGIN #header -->
        <div id="header" class="app-header">
            <!-- BEGIN navbar-header -->
            
        </div>
       
        <div id="content" class="app-content">

            <div class="panel panel-inverse" id="Travel">
                <!-- BEGIN panel-heading -->
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h3 class="panel-title">Travel Plan</h3>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div id="ioniconsTabContent" class="tab-content rounded-bottom fs-13px">
                        <!-- BEGIN tab-pane -->
                        <div class="tab-pane fade show active" id="outline">
                            <!-- BEGIN row -->
                            <div class="row">
                                <div class="invoice">

                                    <!-- END invoice-company -->
                                    <!-- BEGIN invoice-header -->
                                    <div class="invoice-header">
                                        <div class="invoice-from">
                                            <small></small>
                                            <address class="mt-5px mb-5px">
                                                <strong class="text-dark"></strong><br />
                                                <b>Employee Name</b>&nbsp; :&nbsp;&nbsp; @ViewBag.TravelPlanDetails.EmployeeName<br />
                                                <b>Travel Purpose</b> &nbsp; :&nbsp;&nbsp;@ViewBag.Calender.TravelPurpose<br />
                                                <b>Travel Type </b> :&nbsp;&nbsp;@ViewBag.Calender.TravelType<br />

        </address>
    </div>
    <div class="invoice-to">
        <small></small>
        <address class="mt-5px mb-5px">
            <strong class="text-dark"></strong><br />
            <b>
                Purpose Description
            </b> :@ViewBag.Calender.PurposeDescription&nbsp;&nbsp;<br />
            <b>Travel Note</b>&nbsp;:@ViewBag.Calender.TravelNote&nbsp;&nbsp;<br />
            <b>Travel Status</b>&nbsp; :.&nbsp;&nbsp;<br />
        </address>
    </div>

    <div class="invoice-date">
        <small> </small><br />
        <div class="date text-dark mt-5px"></div><br />
        <div class="date text-dark mt-5px"></div>
        <div class="invoice-detail">
            <b>Start Date :</b> @Convert.ToDateTime(ViewBag.Calender.TourStart).ToString("dd/MMM/yyyy")<br /><br />
                                                <b>End Date:</b>@Convert.ToDateTime(ViewBag.Calender.TourEnd).ToString("dd/MMM/yyyy")
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END invoice-header -->
                                    <!-- BEGIN invoice-content -->
                                    <div class="invoice-content">
                                        <!-- BEGIN table-responsive -->
                                        <div class="table-responsive row">
                                            <div class="col-md-6">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Plan Type</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.PlanType</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Mode</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.Mode</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Start Date</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@Convert.ToDateTime(ViewBag.TravelPlanDetails.StartDate).ToString("yyyy-MM-dd")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">End Date</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@Convert.ToDateTime(ViewBag.TravelPlanDetails.EndDate).ToString("yyyy-MM-dd")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Start Location</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.StartLocation</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Start Time</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.StartTime</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">End Location</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.EndLocation</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">End Time</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.EndTime</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Travel Meal Preference</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.TravelMealPreference</td>
                                                        </tr>
                                                        @*<tr>
                                                                <td>
                                                                    <span class="text-dark">Dinner</span><br />
                                                                </td>
                                                                <td class="text-center"></td>
                                                            </tr>*@

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-6">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Booking Type</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.BookingType</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Booking Status</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.BookingStatus</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Travel Confirmed</span><br /></b>

                                                            </td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Reimbursement</span><br /></b>

                                                            </td>
                                                            <td class="text-center"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>
                                                                    <span class="text-dark">Settlement Done</span><br />
                                                                </b>
                                                            </td>
                                                            <td class="text-center"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b><span class="text-dark">Note</span><br /></b>

                                                            </td>
                                                            <td class="text-center">@ViewBag.TravelPlanDetails.Note</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            @using (Html.BeginForm("Save", "ESS_Travel_ManagerApprovalTravel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {

                                                <br />

                                                <br />
                                                <div class="form-group row">


                                                    <div class="col-md-6">

                                                        <label class="mb-2">Note<span class="text-danger">*</span></label>

                                                        @Html.TextAreaFor(model => model.RejectionRemark, new { @class = "form-control", id = "DocNote", type = "text" })
                                                        @Html.ValidationMessageFor(model => model.RejectionRemark, "", new { @class = "help-block", id = "ErrorDocNote", @style = "color:red" })

                                                    </div>
                                                    <div hidden>
                                                        @Html.TextAreaFor(model => model.TravelPlanID_Encrypted, new { @class = "form-control", id = "TravelPlanID_Encrypted", Value= @ViewBag.TravelPlanDetails.TravelPlanID_Encrypted, type = "text" })
                                                        @Html.TextAreaFor(model => model.DocNo, new { @class = "form-control", id = "DocNo", type = "text" })


                                                    </div>
                                                </div>

                                                      
                                                        <br />
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label form-label">&nbsp;</label>
                                                            <div class="col-lg-8">
                                                                <button type="submit" id="ApproveTravel" class="btn btn-success">Approve</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" id="RejectTravel" class="btn btn-danger">Reject</button>

                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-primary d-lg-block m-l-15" onclick="location.href='@Url.Action("Traveldesk", "TravelDesk", new { area = "TravelDesk" })'" style="float:right;"><i class="icon-prev"></i>&nbsp;Back  </button>

                                                            </div>
                                                        </div>     
                                            }
                                        </div>

                                        <div id="footer" class="app-footer m-0">
                                            &copy; 2022 Probus All Right Reserved
                                        </div>

                                    </div>

                                </div>


                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END tab-pane -->

                    </div>
                    <!-- END tab-content -->
                </div>
               
            </div>
          
        </div>
      
        <a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        <!-- END scroll-top-btn -->
    </div>
    <!-- END #app -->
    <!-- ================== BEGIN core-js ================== -->
   
    <!-- ================== END page-js ================== -->
</body>
</html>

<script>
    $(document).ready(function () {
        debugger
        var DID = @Html.Raw(Json.Encode(ViewBag.TravelPlanDetails));
        var t=DID[2].Value;
        $("#DocNo").val(t);
  var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
        if (Message != null) {
        Swal.fire({
        icon: Icon,
        text: Message,
        allowOutsideClick: () => {
        const popup = Swal.getPopup()
        popup.classList.remove('swal2-show')
        setTimeout(() => {
        popup.classList.add('animate__animated', 'animate__headShake')
        })
        setTimeout(() => {
        popup.classList.remove('animate__animated', 'animate__headShake')
        }, 500)
        return false
        }
        });
        }
        }


        $("#RejectTravel").click(function(){
            @*
            var url = '@Url.Action("TravelReject", "ESS_Travel_ManagerApprovalTravel")?TravelPlanID_Encrypted=' + PlanIdency+','+'RejectionRemark='+ RejectedRemark;
            window.location.href = url;*@
            debugger
            var RejectedRemark=$("#DocNote").val();
            if(RejectedRemark ==null || RejectedRemark =="")
            {
                $('#ErrorDocNote').html("Reject Reason is Required!");
                $('#DocNote').val('');
                $('#DocNote').focus();
                return false;
            }
            var PlanIdency=$("#TravelPlanID_Encrypted").val();
            var DocNo=$("#DocNo").val();

            $.ajax({
                type: "GET",
                url: "TravelReject",
                data: { TravelPlanID_Encrypted:PlanIdency,RejectionRemark:RejectedRemark,DocNo:DocNo},
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data)
                {
                    debugger
                    var obj = $.parseJSON(data);
                    if(obj==true){
                      var url = '@Url.Action("GetList", "ESS_Travel_ManagerApprovalTravel",new { area="ESS"})';
                    window.location.href = url;
                    }
                    else{

                       var url = '@Url.Action("GetList", "ESS_Travel_ManagerApprovalTravel",new { area="ESS"})';
                    window.location.href = url;
                    }

                }
            });

        })



      });
        </script>