@model KompassHR.Areas.Reports.Models.TaxFilters

@{
    ViewBag.Title = "Reports_Tax_RegimeDeclaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Regime Declaration Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Reports_Tax_RptMenu", "Reports_Tax_RptMenu", new {id = 9, ScreenId=571, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Regime Declaration Report </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" href="@Url.Action("Reports_Tax_TaxComputaion", "Reports_Tax_TaxComputaion" , new { area = "Reports" })" id="formAttendance_WorkDuration" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Financial Year
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.FinancialYear, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "ddlTaxFyearId", @class = "form-select", autocomplete = "off", name = "TaxFyearId" })
                                                <span id="ErrorddlFyear" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Regime
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.RegimeTypeID, new List<SelectListItem>{
                                                  new SelectListItem {Text ="NewRegime", Value="2"},
                                                new SelectListItem {Text ="OldRegime", Value="1"}
                                            }, "--Select--", new { @class = "form-select", id = "RegimeTypeID", name = "RegimeType", autocomplete = "Off" })

                                                <span id="ErrorddlRegime" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>






<script>
    function downloadExcelFile() {
        debugger;
        $(".Userloaderbg").css("display", "flex");
        var Fyear = $('#ddlTaxFyearId option:selected').text();
       var FYearID = encodeURIComponent($("#ddlTaxFyearId").val());
       var RegimeTypeID = encodeURIComponent($("#RegimeTypeID").val());

       var url = `@Url.Action("DownloadExcelFile", "Reports_Tax_RegimeDeclaration")?FYearID=${FYearID}&RegimeTypeID=${RegimeTypeID}&Fyear=${Fyear}`;

            $.ajax({
                url: url,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob' // Set the response type to blob
                },
                success: function(data) {
                    debugger;
                    $(".Userloaderbg").css("display", "none");
                    if(data.size==0)
                    {
                        Swal.fire({
                            icon: 'error',
                            text: 'Record Not Found',
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                return false
                            }
                        });
                        $(".Userloaderbg").css("display", "none");
                        return false;
                    }

                    // Create a Blob from the response data
                    var formattedDate = Fyear;
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    // Create a temporary anchor element to initiate the download
                    var anchorElement = document.createElement('a');
                    var url = window.URL.createObjectURL(blob);
                    anchorElement.href = url;
                    anchorElement.download = 'RegimeDeclaration(' + formattedDate + ').xlsx';
                    anchorElement.click();
                    // Clean up
                    window.URL.revokeObjectURL(url);
                },
                error: function(xhr, status, error) {
                    console.error('Error downloading file:', error);
                }
            });


    }
</script>


