
@{
    ViewBag.Title = "Module_Preboarding_VerificationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Candidate Verified List
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Preboarding_Menu", "Module_Preboarding_Menu", new {id = 2, ScreenId=137, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Candidate Verification List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define a list of documents that are required for pre-boarding. This may include identification proof, educational certificates, employment history, and any other relevant documents.

                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle TablePage" id="fixed-header"
                                           style="width: 100%;">
                                        <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr class="text-center">
                                                <th class="fixed-side">Verfication</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Reference No </th>
                                                <th class="text-nowrap">Company Name </th>
                                                <th class="text-nowrap">Business Unit</th>
                                                <th class="text-nowrap">Department Name </th>
                                                <th class="text-nowrap">Designation Name</th>
                                                <th class="text-nowrap">Grade Name</th>
                                                <th class="text-nowrap">Reporting Date</th>
                                                <th class="text-nowrap">Mobile No </th>
                                                <th class="text-nowrap">Preboard Submit Status </th>
                                                <th class="text-nowrap">Preboard Submit Date </th>

                                                <th class="text-nowrap">Personal Submit Status </th>
                                                <th class="text-nowrap">Personal Submit Date </th>
                                                <th class="text-nowrap">Personal Approved By </th>

                                                <th class="text-nowrap">Address Submit Status </th>
                                                <th class="text-nowrap">Address Submit Date </th>
                                                <th class="text-nowrap">Address Approved By </th>

                                                <th class="text-nowrap">Reference Submit Status </th>
                                                <th class="text-nowrap">Reference Submit Date </th>
                                                <th class="text-nowrap">Reference Approved By </th>

                                                <th class="text-nowrap">Bank Submit Status </th>
                                                <th class="text-nowrap">Bank Submit Date </th>
                                                <th class="text-nowrap">Bank Approved By </th>

                                                <th class="text-nowrap">Statutory Submit Status </th>
                                                <th class="text-nowrap">Statutory Submit Date </th>
                                                <th class="text-nowrap">Statutory Approved By </th>

                                                <th class="text-nowrap">Family Submit Status </th>
                                                <th class="text-nowrap">Family Submit Date </th>
                                                <th class="text-nowrap">Family Approved By </th>

                                                <th class="text-nowrap">Qualification Submit Status </th>
                                                <th class="text-nowrap">Qualification Submit Date </th>
                                                <th class="text-nowrap">Qualification Approved By </th>

                                                <th class="text-nowrap">Document Submit Status </th>
                                                <th class="text-nowrap">Document Submit Date </th>
                                                <th class="text-nowrap">Document Approved By </th>

                                                <th class="text-nowrap">Photo Submit Status </th>
                                                <th class="text-nowrap">Photo Submit Date </th>
                                                <th class="text-nowrap">Photo Approved By </th>

                                                <th class="text-nowrap">Signature Submit Status </th>
                                                <th class="text-nowrap">Signature Submit Date </th>
                                                <th class="text-nowrap">Signature Approved By </th>

                                                <th class="text-nowrap">PreEmployer Submit Status </th>
                                                <th class="text-nowrap">PreEmployer Submit Date </th>
                                                <th class="text-nowrap">PreEmployer Approved By </th>

                                                <th class="text-nowrap">Skill Submit Status </th>
                                                <th class="text-nowrap">Skill Submit Date </th>
                                                <th class="text-nowrap">Skill Approved By </th>

                                                <th class="text-nowrap">Language Submit Status </th>
                                                <th class="text-nowrap">Language Submit Date </th>
                                                <th class="text-nowrap">Language Approved By </th>

                                                <th class="text-nowrap">Other Submit Status </th>
                                                <th class="text-nowrap">Other Submit Date </th>
                                                <th class="text-nowrap">Other Approved By </th>

                                                <th class="text-nowrap">FinalApproval Submit Status </th>
                                                <th class="text-nowrap">FinalApproval Submit Date </th>
                                                <th class="text-nowrap">FinalApproval Approved By </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetFinalSubmitList)
                                            {
                                                <tr>
                                                    @if (d.Verify_FinalApproval_Status == "Approved")
                                                    {
                                                        <td class="text-center">
                                                            <a id="btnmodal-dialog1">
                                                                <i class="fa-solid fa-xmark fa-xl text-dark" style="color:black"></i>
                                                            </a>

                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <button type="button" onclick="UpdateVerificationList('@d.Fid','@d.FID_Encrypted','@d.CmpId')" id="btnUpdate"
                                                                    class="btn btn-success btnpress ListBtn">
                                                                <i class="fa-solid fa-check"></i>
                                                            </button>
                                                        </td>
                                                    }

                                                    <td>@d.EmployeeName</td>
                                                    <td>@d.ReferenceNo</td>
                                                    <td>@d.CompanyName</td>
                                                    <td>@d.BranchName</td>
                                                    <td>@d.DepartmentName</td>
                                                    <td>@d.DesignationName</td>
                                                    <td>@d.GradeName</td>
                                                    <td>@d.JoiningDate</td>
                                                    <td>@d.Mobile1</td>
                                                    <td>@d.PreboardSubmitDate</td>
                                                    <td>@d.PreboardSubmitStatus</td>
                                                    <td>@d.Verify_Personal_Status</td>
                                                    <td>@d.Verify_Personal_Date</td>
                                                    <td>@d.PersonalVerifierName</td>

                                                    <td>@d.Verify_Address_Status</td>
                                                    <td>@d.Verify_Address_Date</td>
                                                    <td>@d.AddressVerifierName</td>

                                                    <td>@d.Verify_References_Status</td>
                                                    <td>@d.Verify_References_Date</td>
                                                    <td>@d.ReferenceVerifierName</td>

                                                    <td>@d.Verify_Bank_Status</td>
                                                    <td>@d.Verify_Bank_Date</td>
                                                    <td>@d.BankVerifierName</td>

                                                    <td>@d.Verify_Statutory_Status</td>
                                                    <td>@d.Verify_Statutory_Date</td>
                                                    <td>@d.StatutoryVerifierName</td>

                                                    <td>@d.Verify_Family_Status</td>
                                                    <td>@d.Verify_Family_Date</td>
                                                    <td>@d.FamilyVerifierName</td>

                                                    <td>@d.Verify_Qualification_Status</td>
                                                    <td>@d.Verify_Qualification_Date</td>
                                                    <td>@d.QualificationVerifierName</td>

                                                    <td>@d.Verify_Document_Status</td>
                                                    <td>@d.Verify_Document_Date</td>
                                                    <td>@d.DocumentVerifierName</td>

                                                    <td>@d.Verify_Photo_Status</td>
                                                    <td>@d.Verify_Photo_Date</td>
                                                    <td>@d.PhotoVerifierName</td>

                                                    <td>@d.Verify_Signature_Status</td>
                                                    <td>@d.Verify_Signature_Date</td>
                                                    <td>@d.SignatureVerifierName</td>

                                                    <td>@d.Verify_PreEmployer_Status</td>
                                                    <td>@d.Verify_PreEmployer_Date</td>
                                                    <td>@d.PreEmployerVerifierName</td>

                                                    <td>@d.Verify_Skill_Status</td>
                                                    <td>@d.Verify_Skill_Date</td>
                                                    <td>@d.SkillVerifierName</td>

                                                    <td>@d.Verify_Language_Status</td>
                                                    <td>@d.Verify_Language_Date</td>
                                                    <td>@d.LanguageVerifierName</td>

                                                    <td>@d.Verify_Other_Status</td>
                                                    <td>@d.Verify_Other_Date</td>
                                                    <td>@d.OtherVerifierName</td>

                                                    <td>@d.Verify_FinalApproval_Status</td>
                                                    <td>@d.Verify_FinalApproval_Date</td>
                                                    <td>@d.FinalApprovalVerifierName</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }
    });
</script>


<script>

    function UpdateVerificationList(Fid,FID_Encrypted,CmpId) {
        debugger
        var url = '@Url.Action("Module_Preboarding_EmployeeApproval", "Module_Preboarding_EmployeeApproval")?FID_Encrypted=' + FID_Encrypted + '&Fid=' + Fid  + '&CmpId=' + CmpId;
        window.location.href = url;
    }


    function OnboardEmployee(Fid,FID_Encrypted,CmpId,BranchID,Verify_FinalApproval_Status) {
        debugger
        if (Verify_FinalApproval_Status=="Approved")
        {
            var url = '@Url.Action("Module_Employee_Onboarding", "Module_Employee_Onboarding")?FID_Encrypted=' + FID_Encrypted + '&Fid=' + Fid+'&BranchID='+BranchID+'&CmpId='+CmpId;
            window.location.href = url;
        }
        else{

            Swal.fire({
                icon: "error",
                text: "Final Verification is pending",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });

        }

    }
</script>



