
@model KompassHR.Areas.ESS.Models.ESS_Logistic.Logistics_Booking

@{
    ViewBag.Title = "ESS_Logistic_CourierBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .select2.select2-container {
        width: 100% !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h1 class="fs-5 fw-bold m-0" style="font-family: Roboto;">
                Courier Booking
            </h1>
            <ol class="list-unstyled d-flex m-0 p-0">
                <li class="me-3">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })" title="Home">
                        <img src="~/assets/MenuImages/Home.png" alt="Home" class="img-fluid" style="max-height: 24px;">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Logistic_Menu", "ESS_Logistic_Menu", new { id = 43, ScreenId = 765, area = "ESS" })" title="Back">
                        <img src="~/assets/MenuImages/Back.png" alt="Back" class="img-fluid" style="max-height: 24px;">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">
                        <i class="fas fa-file-signature"></i> Courier Booking - @ViewBag.AddUpdateTitle
                    </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand" title="Expand">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>

                <div class="alert alert-info d-flex align-items-center mb-0 rounded-0">
                    <div class="me-3">
                        <i class="fas fa-info-circle fa-2x"></i>
                    </div>
                    <div>
                        <h5 class="alert-heading mb-1">Courier Booking Information</h5>
                        <p class="mb-0">This form is for creating and managing courier service provider information system.</p>
                    </div>
                </div>

                <div class="panel-body">
                    <form role="form" action="@Url.Action("SaveUpdate", "ESS_Logistic_CourierBooking", new { area = "ESS" })" id="SaveCourierBooking" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(model => model.CourierBookingId_Encrypted, new { id = "CourierBookingId_Encrypted" })

                        <div class="card mb-4">
                            <div class="card-header bg-light">
                                <h5 class="card-title mb-0">
                                    <i class="fas fa-id-card me-2"></i>Basic Information
                                </h5>
                            </div>

                            <div class="card-body">
                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Doc No</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                                            @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control mb-5px", id = "txtDocNo", @readonly = "readonly", Value = ViewBag.DocNo?.DocNo, style = "background-color: #eee;" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Doc Date</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-trademark"></i></span>
                                            @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", id = "txtDocDate", autocomplete = "Off", type = "date", style = "background-color: #eee;", @readonly = "readonly", Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Employee Name <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-list"></i></span>
                                            <span style="flex: 1 1 auto; width: 1%; min-width: 0;">
                                                @Html.DropDownListFor(model => model.BookingEmployeeId, new SelectList(ViewBag.GetEmployee, "Id", "Name"), "--Select--", new { @class = "form-control form-select", id = "ddlBookingEmployeeId" })
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Parcel Type <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-list"></i></span>
                                            @Html.DropDownListFor(model => model.ParcelType,
                                                new SelectList(new[] {
                                                    new { Value = "", Text = "--Select--" },
                                                    new { Value = "Document", Text = "Document" },
                                                    new { Value = "Parcel", Text = "Parcel" },
                                                    new { Value = "Both", Text = "Both" }
                                                }, "Value", "Text"),
                                                new { @class = "form-select", id = "ddlParcelType", required = "required", onchange = "onParcelTypeChange()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-12">
                                        <label class="form-label">Description<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3, autocomplete = "off", placeholder = "Description add here", required = "required", id = "Description", name = "Description" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Courier Service Provider</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-industry"></i></span>
                                            <span style="flex: 1 1 auto; width: 1%; min-width: 0;">
                                                @Html.DropDownListFor(model => model.CourierServiceProviderId, new SelectList(ViewBag.GetCourierServiceProvider, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlCourierServiceProviderId", onchange = "onCourierServiceProviderChange()" })
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Tracking Number</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            @Html.TextBoxFor(model => model.TrackingNumber, new { type = "text", @class = "form-control", id = "txtTrackingNumber", name = "TrackingNumber" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Source Address <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                            @Html.TextAreaFor(model => model.SourceAddress, new { @class = "form-control", rows = 3, autocomplete = "off", placeholder = "Source address", required = "required", id = "SourceAddress" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Destination Address <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                            @Html.TextAreaFor(model => model.DestinationAddress, new { @class = "form-control", rows = 3, autocomplete = "off", placeholder = "Destination address", required = "required", id = "DestinationAddress" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">HandOver Courier</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                            @Html.TextBoxFor(model => model.HandOverCourier, new { type = "text", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Courier Charges</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            @Html.TextBoxFor(model => model.CourierCharges, new { type = "text", @class = "form-control" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Attachment</label>
                                        <div class="input-group">
                                            <input type="file" class="form-control" id="Attachment" name="Attachment" accept=".pdf">

                                        </div>
                                        <small class="text-muted">Accepted formats: PDF(Max 5MB)</small><br/>
                                       @if (Model != null && !string.IsNullOrEmpty(Model.Attachment))
                                       {
                                            <a href="@Url.Action("DownloadAttachment", "ESS_Logistic_CourierBooking", new { DownloadAttachment = Model.Attachment })"
                                               class="btn btn-sm btn-link">
                                                <i class="fas fa-download"></i><label class="form-label col-form-label col-md-12" id="fileUploadFile-lbltext">@TempData["Attachment"]</label>
                                            </a>
                                       }
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-12">
                                        <div class="d-flex">
                                            <span class="me-2">
                                                @Html.CheckBoxFor(model => model.IsConfidential, new { id = "chkIsConfidential", @class = "chkIsConfidential" })
                                            </span>
                                            <label class="form-label">Is Confidential</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Form Actions -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary me-2">
                                        <i class="fa-solid fa-floppy-disk me-1"></i> Submit
                                    </button>
                                    <button type="button" id="btnGetList" class="btn btn-danger">
                                        <i class="fa-solid fa-share-from-square me-1"></i> List
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnGetList").click(function () {debugger
        window.location.href = '@Url.Action("GetList", "ESS_Logistic_CourierBooking", new { area = "ESS" })';
    });

    function onParcelTypeChange() {debugger
        var ParcelType = document.getElementById("ddlParcelType").value;
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetCourierServiceProvider", "ESS_Logistic_CourierBooking", new { area = "ESS" })',
            data: { ParcelType: ParcelType },
            success: function (data) {
                $("#ddlCourierServiceProviderId").empty();
                var CourierServiceProvider = data.CourierServiceProvider || [];
                if (CourierServiceProvider.length > 0) {
                    $.each(CourierServiceProvider, function (i, p) {
                        $("#ddlCourierServiceProviderId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });
                }
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }

    function onCourierServiceProviderChange() {debugger
        var CourierServiceProviderId = document.getElementById("ddlCourierServiceProviderId").value;
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetCourierServiceProviderSourceAddress", "ESS_Logistic_CourierBooking", new { area = "ESS" })',
            data: { CourierServiceProviderId: CourierServiceProviderId },
            success: function (data) {
                $("#ddlCourierServiceProviderId").text(data)
            },
            error: function () {
                alert("Error loading business units or managers.");
            }
        });
    }

    $(document).ready(function () {
        $("#ddlBookingEmployeeId").select2();
        $("#ddlCourierServiceProviderId").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $("#formReset").click(function () {
            $("#SaveCourierBooking")[0].reset();
        });

    });//Ready Funcation
</script>

<script>

    function onlyNumbers(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveCourierBooking').validate({
        rules: {
            BookingEmployeeId: {
                required: true,
            },
            ParcelType:{
                required:true,
            },
            Description: {
                required:true,
            },
            SourceAddress: {
                required:true,
            },
            DestinationAddress: {
                required:true,
            },

            CourierServiceProviderId: {
                required:true,
            },
        },
        messages: {
            BookingEmployeeId: {
                required: "Employee Name is required",
            },
            ParcelType:{
                required:"Parcel Type is required.",
            },
            Description: {
                required:"Description is required.",
            },
            SourceAddress: {
                required:"Source Address is required.",
            },
            DestinationAddress: {
                required:"Destination Address is required.",
            },
            CourierServiceProviderId: {
                required:"Courier Service Provider is required.",
            },
        },

        errorElement: "span",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else {
                error.insertAfter(element);
            }
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass("is-invalid").addClass("is-valid");
        },
        submitHandler: function (form) {
            form.submit();
        }
    });

    var form = $("#SaveCourierBooking");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var DocNo=$("#txtDocNo").val();
        var DocDate=$("#txtDocDate").val();
        var BookingEmployeeId=$("#ddlBookingEmployeeId").val();
        var CourierBookingId_Encrypted=$("#CourierBookingId_Encrypted").val();
        var ParcelType=$("#ddlParcelType").val();
        var Destination=$("#ddlDestination").val();

        $.ajax({
            url:"IsCourierBookingExists",
            method:"get",
            data:{CourierBookingId_Encrypted:CourierBookingId_Encrypted,
                BookingEmployeeId:CourierBookingId_Encrypted,
                ParcelType:ParcelType,
                Destination:Destination
            },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveCourierBooking").submit();
                }
            }
        });
    });
</script>

