@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Courier Booking
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Logistic_Menu", "ESS_Logistic_Menu",  new { id = 43,ScreenId=765, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title"> Courier Booking - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of Courier Booking created.

                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ESS_Logistic_CourierBooking", "ESS_Logistic_CourierBooking", new { area = "ESS" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle TablePage" id="data-table-combine"
                                           style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th class="fixed-side">Update</th>
                                                <th class="fixed-side1">Delete</th>
                                                <th class="text-nowrap">Doc No</th>
                                                <th class="text-nowrap">Doc Date</th>
                                                <th class="text-nowrap">Employee Name</th>
                                                <th class="text-nowrap">Parcel Type</th>
                                                <th class="text-nowrap">Courier Service Provider Name</th>
                                                <th class="text-nowrap">Description</th>
                                                <th class="text-nowrap">Attachment File </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetCourierBookingList)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <a onclick="UpdateCourierBooking('@d.CourierBookingId_Encrypted')" id="btnUpdate" style="cursor:pointer;">
                                                            <i class="fa-solid fa-pen-to-square fa-lg text-Dark"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a onclick="DeleteCourierBooking('@d.CourierBookingId')" id="btnDelete" style="cursor:pointer;">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                    <td>@d.DocNo</td>
                                                    <td>@d.DocDate</td>
                                                    <td>@d.EmployeeName</td>
                                                    <td>@d.ParcelType</td>
                                                    <td>@d.CourierServiceProviderName</td>
                                                    <td class="text-start text-center">
                                                        <input type="hidden" id="hiddenDescription_@d.DocNo" value="@d.Description" />
                                                        <i class="fa-solid fa-receipt fa-lg" onclick="AssignTaskDesc(encodeURIComponent(document.getElementById('hiddenDescription_@d.DocNo').value))" style="cursor:pointer; color: #ff5b57;"></i>
                                                    </td>
                                                    <td class="text-center">
                                                        @if (@d.Attachment != "")
                                                        {
                                                            <a href="@Url.Action("DownloadAttachment","ESS_Logistic_CourierBooking", new { DownloadAttachment = @d.Attachment })"><i class="fa fa-download"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-solid fa-xmark" style="color: red;"></i>
                                                        }

                                                        @*<a href="@Url.Action("DownloadAttachment","ESS_TMS_Timesheet", new { DownloadAttachment = @d.AssignFilePath })"><i class="fa fa-download"></i></a>*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

 <!-- #Start modal-dialog -->
<div class="modal fade" id="modal_basic3" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Description</h4>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div id="txtDescription"></div>
                                            @* @Html.TextArea("TaskStatus", new { @class = "summernote", style = "border: 2px solid #000; padding: 10px;", id = "txtDescription", @placeholder = "Description....", autocomplete = "Off", contenteditable = "false" })*@
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-success btnpress" onclick="dismissModal('modal_basic3')">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(document).ready(function () {
        $('title').html("Courier Booking");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
    function UpdateCourierBooking(CourierBookingId_Encrypted) {
        var url = '@Url.Action("ESS_Logistic_CourierBooking", "ESS_Logistic_CourierBooking")?CourierBookingId_Encrypted=' + CourierBookingId_Encrypted;
        window.location.href = url;
    }

    function DeleteCourierBooking(CourierBookingId) {debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "ESS_Logistic_CourierBooking")?CourierBookingId=' + CourierBookingId;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
</script>

<script>
    function AssignTaskDesc(encodedHtml)
    {
        $('#txtDescription').html('');
        const AssignDesc = decodeURIComponent(encodedHtml);
        $('#modal_basic3').modal('show');
        $('#modal_basic3').on('shown.bs.modal', function () {
            $('#txtDescription').html(AssignDesc);
            //$('#txtDescription').summernote('pasteHTML', WorkOnTask);
        });
    }

    function dismissModal(modalId) {
        $('#' + modalId).modal('hide');
    }
</script>