@model KompassHR.Areas.ESS.Models.ESS_Training.Training_TrainingCalender

@{
    ViewBag.Title = "ESS_Training_TrainingCalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }


    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .card-row-title {
        color: #1d76c6;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    .note-editable{
        border:groove;
        font-size:16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Training Calendar
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_LMS_Training_Training", "ESS_LMS_Training_Training",  new { id = 38,ScreenId=589, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Training Calendar</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Information related to the training calender.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" method="post" action='@Url.Action("SaveUpdate", "ESS_Training_TrainingCalender", new { area = "ESS" })' enctype="multipart/form-data" id="SaveTrainingCalender">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Training Details
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Course
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TraningCategoryId, new SelectList(ViewBag.CategoryName, "Id", "Name"), "--Select--", new { id = "ddlCategoryID", name = "CategoryID", @class = "form-select", autocomplete = "off", onchange = "OnTrainingCategoryChanged();OnTrainingCategoryIdChanged()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <div class="col-md-12 d-flex justify-content-between align-items-center">
                                                <label class="form-label col-form-label mb-0">
                                                    Training Category <span class="important">*</span>
                                                </label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="selectAllSubcategory" />
                                                    <label class="form-check-label" for="selectAllSubcategory"><b>Select All</b></label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-1">
                                                <select id="ddlTrainingSubcategoryID" class="form-control" multiple="multiple"></select>
                                                <span id="ddlTrainingSubcategoryID-error" style="display:none; font-size:12px;color:red;"></span>
                                                <input type="hidden" id="SelectedTrainingSubcategories" name="SelectedTrainingSubcategories" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingTypeId, new SelectList(ViewBag.GetTrainingType, "Id", "Name"), "--Select--", new { id = "ddlTrainingTypeID", name = "TrainingTypeID", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Calender Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.TrainingCalenderName, new { @class = "form-control", name = "TrainingCalenderName", @id = "txtTrainingCalenderName", autocomplete = "Off", @maxlength = 100 })
                                                @Html.HiddenFor(model => model.TrainingCalenderId_Encrypted, new { @class = "form-control", id = "TrainingCalenderId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.TrainingDescription, new { @class = "summernote", style = "border: 1px solid #000;", id = "txtTrainingDescription", @placeholder = "Description....", autocomplete = "Off", contenteditable = "true" })
                                                @*@Html.TextAreaFor(model => model.TrainingDescription, new { @class = "form-control", name = "TrainingDescription", @id = "txtTrainingDescription", autocomplete = "off", @maxlength = 500, rows = 1 })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Department <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                <div>
                                                    <input type="checkbox" id="selectAllDepartments" />
                                                    <label for="selectAllDepartments"><b>Select All</b></label>
                                                </div>

                                                <select id="ddlDepartmentID" name="Department" class="form-control" multiple="multiple">
                                                    @{
                                                        var selectedDepartments = ViewBag.SelectedDepartmentIds as List<string> ?? new List<string>();
                                                    }

                                                    @foreach (var dept in ViewBag.DepatmentList)
                                                    {
                                                        var selected = selectedDepartments.Contains(dept.Id.ToString()) ? "selected" : "";
                                                        <option value="@dept.Id" @selected>@dept.Name</option>
                                                    }
                                                </select>

                                                <span class="help-block" id="ErrorDepartmentID" style="color:red"></span>
                                                <input type="hidden" id="SelectedDepartments" name="SelectedDepartments" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Scheduling Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Month Year
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.MonthYear, new { @class = "form-control", name = "MonthYear", type = "datetime-local", id = "txtMonthYear", required = "required" })
                                                @Html.ValidationMessage("FromDate", "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Mode of Training
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.ModeOfTraining,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Selected = true },
                                                new SelectListItem { Value = "Offline", Text = "Offline" },
                                                new SelectListItem { Value = "Online", Text = "Online" }
                                                }, "Value", "Text"),
                                                new { id = "txtModeOfTraining", name = "ModeOfTraining", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Venue/Location/Link
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", name = "Location", @id = "txtLocation", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                               GPS Latitude
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.GPSLattitude, new { @class = "form-control", name = "MonthYear", id = "txtGPSLattitude", required = "required" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                               GPS Longitude
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.GPSLongitude, new { @class = "form-control", name = "MonthYear",  id = "txtGPSLongitude", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Enrollment & Capacity Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Who will provide the training <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingProviderSource,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Internal", Text = "Internal" },
                                                new SelectListItem { Value = "External", Text = "External" },
                                                new SelectListItem { Value = "Agency", Text = "Agency" }
                                                }, "Value", "Text"),
                                                new { id = "txtTrainingProviderSource", name = "TrainingProviderSource", @class = "form-select", autocomplete = "off", onchange = "OnTrainingProviderSourceChanged()" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Internal Trainer Dropdown -->
                                    <div class="col-md-6" id="ddltraineremployee" style="display: none;">
                                        <label class="form-label col-form-label col-md-12">Internal Trainer <span class="important">*</span></label>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.TrainingProviderId, new SelectList(ViewBag.GetIntenalTraineeEmployee, "Id", "Name"), "--Select--", new { id = "ddlEmployeeID", name = "EmployeeID", @class = "form-select", autocomplete = "off" })
                                            <span class="text-danger" id="errorInternal"></span>
                                            @Html.HiddenFor(model => model.TrainingProvidedBy, new { id = "TrainingProvidedBy" })
                                        </div>
                                    </div>

                                    <!-- Agency Dropdown -->
                                    <div class="col-md-6" id="ddlagency" style="display: none;">
                                        <label class="form-label col-form-label col-md-12">Training Agency <span class="important">*</span></label>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.TrainingAgencyId, new SelectList(ViewBag.GetAgency, "Id", "Name"), "--Select--", new { id = "ddlTrainingAgencyID", name = "TrainingAgencyID", @class = "form-select", autocomplete = "off" })
                                            <span class="text-danger" id="errorAgency"></span>
                                            @Html.HiddenFor(model => model.TrainingProvidedBy, new { id = "TrainingProvidedBy" })
                                        </div>
                                    </div>

                                    <!-- External Trainer Dropdown -->
                                    <div class="col-md-6" id="ddltrainer" style="display: none;">
                                        <label class="form-label col-form-label col-md-12">External Trainer <span class="important">*</span></label>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.TrainerId, new SelectList(ViewBag.GetTrainer, "Id", "Name"), "--Select--", new { id = "ddlTrainerID", name = "TrainerID", @class = "form-select", autocomplete = "off" })
                                            <span class="text-danger" id="errorTrainer"></span>
                                            @Html.HiddenFor(model => model.TrainingProvidedBy, new { id = "TrainingProvidedBy" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Frequency
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingfrequencyId, new SelectList(ViewBag.GetTrainingFrequency, "Id", "Name"), "--Select--", new { id = "ddlTrainingfrequencyID", name = "TrainingfrequencyID", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Enrolled Participiant
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.EnrolledCount, new { @class = "form-control", name = "EnrolledCount", @id = "txtEnrolledCount", autocomplete = "Off", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3" hidden>
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Maximum Participants
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.MaxParticipants, new { @class = "form-control", name = "MaxParticipants", @id = "txtMaxParticipants", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" hidden>
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Minimum Participants
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.MinParticipants, new { @class = "form-control", name = "MinParticipants", @id = "txtMinParticipants", autocomplete = "Off", onInput = "OnValidateMinParticipants()" })
                                                <span id="ValidatorMinParticipants" style="display:none;color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" hidden>
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                WaitList Allowed
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.WaitList,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Yes", Text = "Yes" },
                                                new SelectListItem { Value = "No", Text = "No" }

                                                }, "Value", "Text"),
                                                new { id = "txtWaitList", name = "WaitList", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Assessment
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Assessment Required
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.AssesmentRequired,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Yes", Text = "Yes" },
                                                new SelectListItem { Value = "No", Text = "No" }
                                                }, "Value", "Text"),
                                                new { id = "txtAssesmentRequired", name = "AssesmentRequired", @class = "form-select", autocomplete = "off", onchange = "OnAssesmentRequiredChanged()" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Assessment Type
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.AssesmentTypeId, new SelectList(ViewBag.GetAssesmentType, "Id", "Name"), "--Select--", new { id = "ddlAssesmentTypeID", name = "AssesmentTypeID", @class = "form-select", autocomplete = "off", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Enrollment
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Enrollment Required
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.IsEnrollmentRequired,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Yes", Text = "Yes" },
                                                new SelectListItem { Value = "No", Text = "No" }
                                                }, "Value", "Text"),
                                                new { id = "txtIsEnrollmentRequired", name = "IsEnrollmentRequired", @class = "form-select", autocomplete = "off", onchange = "OnEnrollmentRequiredChanged()" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 enrollmentDateSection" style="display:none">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Enrollment Last Date
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.EnrollmentLastDate, new { @class = "form-control", type = "date", id = "dateEnrollmentLastDate", Value = TempData["EnrollmentLastDate"] != null ? TempData["EnrollmentLastDate"] : "", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row enrollmentDateSection" style="display:none" >
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Fees Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingFeesType,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Paid", Text = "Paid" },
                                                new SelectListItem { Value = "UnPaid", Text = "UnPaid" }
                                                }, "Value", "Text"),
                                                new { id = "ddlTrainingFeesType", name = "TrainingFeesType", @class = "form-select", autocomplete = "off", onchange = "OnFeesTypeChanged()" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 divTrainingFeesAmount" id="divTrainingFeesAmount"  style="display:none">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Fees
                                            </label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">₹</span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.TrainingFeesAmount, new { @class = "form-control", type = "number", step = "any", min = "0", id = "txtTrainingFeesAmount", autocomplete = "off" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.Label("Per Person", htmlAttributes: new { @class = "form-label" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row divTrainingFeesAmount"  style="display:none">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Training Fees Paid Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.TrainingFeesPaidType,
                                                new SelectList(new List<SelectListItem>
                                                {
                                                new SelectListItem { Value = "", Text = "--Select--", Disabled = true, Selected = true },
                                                new SelectListItem { Value = "Salary", Text = "Salary" },
                                                new SelectListItem { Value = "QRScan", Text = "QRScan" }
                                                }, "Value", "Text"),
                                                new { id = "ddlTrainingFeesPaidType", name = "TrainingFeesPaidType", @class = "form-select", autocomplete = "off", onchange = "OnFeesPaidTypeChanged()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row divTrainingFeesAmount" id="divQRAttachment" style="display: none;">
                                    <div class="col-md-6">
                                        <div class="row mb-2">
                                            <label class="form-label col-form-label col-md-12">
                                                QR Code Attachment
                                            </label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.EnrollmentAttachment, null, new
                                                   {
                                                       @class = "form-control",
                                                       type = "file",
                                                       id = "fileEnrollmentAttachment",
                                                       autocomplete = "off",
                                                       accept = ".pdf, .jpeg, .jpg, .png"
                                                   })
                                                    <!-- Eye Icon as a button to preview -->
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#photoPreviewModal" title="Preview QR">
                                                        <i class="fa-solid fa-eye fa-xl text-warning"></i>
                                                    </button>
                                                </div>
                                                <span class="form-label" hidden>@Model.EnrollmentAttachment</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="divBannerFile">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <label class="form-label col-form-label col-md-12">
                                                Banner File
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.BannerFile, new { type = "file", @class = "form-control", id = "fileBanner" })
                                                <span class="form-label">@Model.BannerFile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <span style="color:blue">What's Included : </span>
                                <br /><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-10px">
                                            <div class="col-md-12">
                                              
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.CourseMaterial, new { @class = "form-check-input", id = "courseMaterial" })
                                                    <label class="form-check-label" for="courseMaterial">Course Material</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.FoodIncluded, new { @class = "form-check-input", id = "foodIncluded" })
                                                    <label class="form-check-label" for="foodIncluded">Food</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.Accommodation, new { @class = "form-check-input", id = "accommodation" })
                                                    <label class="form-check-label" for="accommodation">Accommodation</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.Travel, new { @class = "form-check-input", id = "travel" })
                                                    <label class="form-check-label" for="travel">Travel</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.Certificate, new { @class = "form-check-input", id = "travel" })
                                                    <label class="form-check-label" for="travel">Certificate</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_Training_TrainingCalender", new { id = 22, ScreenId = 555, area = "ESS" })">
                                                            <button type="button" id="btnGetList"
                                                                    class="btn btn-danger btn-sm">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<!-- Modal for photo preview -->
<!-- Modal -->
<div class="modal fade" id="photoPreviewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- smaller size for QR -->
        <div class="modal-content bg-transparent border-0 shadow-none">
            <div class="modal-body p-0 text-center">
                <img id="previewImage"
                     src="data:image/png;base64,@(TempData["QRScanImage"])"
                     alt="QR Code"
                     class="img-fluid rounded" style="max-height: 400px;" />
            </div>
        </div>
    </div>
</div>


<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300",
        toolbar: [
        // Customize toolbar here (remove 'insert' options for image/video)
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font'],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    function OnEnrollmentRequiredChanged() {
        var selectedValue = $('#txtIsEnrollmentRequired').val();
        if (selectedValue === "Yes") {
            $('.enrollmentDateSection').css('display', 'flex');
        } else {
            $('.enrollmentDateSection').css('display', 'none');
            //$('#dateEnrollmentLastDate').val('');
        }
    }

    function OnFeesTypeChanged() {
        var selectedValue = $('#ddlTrainingFeesType').val();
        if (selectedValue === "Paid") {
            $('.divTrainingFeesAmount').css('display', 'flex');
        } else {
            $('.divTrainingFeesAmount').css('display', 'none');
            $('#txtTrainingFeesAmount').val('');
            $('#ddlTrainingFeesPaidType').val('');
            
        }
    }

    function OnFeesPaidTypeChanged() {
        var selectedValue = $('#ddlTrainingFeesPaidType').val();
        if (selectedValue === "QRScan") {
            $('#divQRAttachment').css('display', 'flex');
        } else {
            $('#divQRAttachment').css('display', 'none');
            $('#fileEnrollmentAttachment').val('');
            
        }
    }


</script>

<script>
    $(document).ready(function () {
        var selectedValue = $('#txtIsEnrollmentRequired').val();
        if (selectedValue === "Yes") {
            $('.enrollmentDateSection').css('display', 'flex');
        } else {
            $('.enrollmentDateSection').css('display', 'none');
            //$('#dateEnrollmentLastDate').val('');
        }

        var selectedValue = $('#ddlTrainingFeesPaidType').val();
        if (selectedValue === "QRScan") {
            $('#divQRAttachment').css('display', 'flex');
        } else {
            $('#divQRAttachment').css('display', 'none');
        }

        var selectedValue1 = $('#ddlTrainingFeesType').val();
        if (selectedValue1 === "Paid") {
            $('.divTrainingFeesAmount').css('display', 'flex');
        } else {
            $('.divTrainingFeesAmount').css('display', 'none');
            //$('#dateEnrollmentLastDate').val('');
        }

        $("#ddlCategoryID").select2();
        $("#ddlTrainerID").select2();
        $("#ddlTrainingTypeID").select2();
        $('#ddlEmployeeID').select2();
        $("#ddlTrainingfrequencyID").select2();
        $("#ddlTrainingAgencyID").select2();
        $("#ddlTrainingfrequencyID").select2();
        $("#ddlAssesmentTypeID").select2();
        var MonthYear = @Html.Raw(Json.Encode(TempData["MonthYear"]));
        $("#txtMonthYear").val(MonthYear);
        
        OnTrainingCategoryChanged();
        // OnTrainingProviderSourceChanged();
        OnAssesmentRequiredChanged();

        //***********Multiselect Training Subcategory******************//
        $('#ddlTrainingSubcategoryID').select2({
            placeholder: "Select Training Subcategory",

            width: '100%'
        });

        // Handle "Select All" checkbox
        $("#selectAllSubcategory").click(function () {
            if (this.checked) {
                $("#ddlTrainingSubcategoryID > option").prop("selected", true).trigger("change");
            } else {
                $("#ddlTrainingSubcategoryID > option").prop("selected", false).trigger("change");
            }
        });

        $("#ddlTrainingSubcategoryID").on("change", function () {
            var total = $("#ddlTrainingSubcategoryID option").length;
            var selected = $("#ddlTrainingSubcategoryID").val().length || 0;
            $("#selectAllSubcategory").prop("checked", total === selected);
        });

        $("form").submit(function () {debugger;
            var selectedValues = $("#ddlTrainingSubcategoryID").val();
            $("#SelectedTrainingSubcategories").val(selectedValues ? selectedValues.join(",") : "");
        });


        //***********Multiselect department******************//
        $('#ddlDepartmentID').select2({
            placeholder: "Select Departments",
            width: '100%'
        });

        // Handle "Select All" checkbox
        $("#selectAllDepartments").click(function () {
            if (this.checked) {
                $("#ddlDepartmentID > option").prop("selected", true).trigger("change");
            } else {
                $("#ddlDepartmentID > option").prop("selected", false).trigger("change");
            }
        });

        $("#ddlDepartmentID").on("change", function () {
            var total = $("#ddlDepartmentID option").length;
            var selected = $("#ddlDepartmentID").val().length || 0;
            $("#selectAllDepartments").prop("checked", total === selected);
        });

        $("form").submit(function () {
            var selectedValues = $("#ddlDepartmentID").val();
            $("#SelectedDepartments").val(selectedValues ? selectedValues.join(",") : "");

            var selectedsubcategoryValues = $("#ddlTrainingSubcategoryID").val();
            $("#SelectedTrainingSubcategories").val(selectedsubcategoryValues ? selectedsubcategoryValues.join(",") : "");
        });

        //***********Multiselect department******************//

        $("#ddlEmployeeID").change(function () {
            var selectedText = $("#ddlEmployeeID option:selected").text();
            $("#TrainingProvidedBy").val(selectedText);
        });

        $("#ddlTrainingAgencyID").change(function () {
            var selectedText = $("#ddlTrainingAgencyID option:selected").text();
            $("#TrainingProvidedBy").val(selectedText);
        });

        $("#ddlTrainerID").change(function () {
            var selectedText = $("#ddlTrainerID option:selected").text();
            $("#TrainingProvidedBy").val(selectedText);
        });
    });

    //[Min participant validation]
    function OnValidateMinParticipants() {
        var maxParticipants = parseInt(document.getElementById("txtMaxParticipants").value, 10);
        var minParticipants = parseInt(document.getElementById("txtMinParticipants").value, 10);
        // If MinParticipants is greater than MaxParticipants, show the error message
        if (minParticipants > maxParticipants) {
            document.getElementById("ValidatorMinParticipants").innerText = "Minimum Participants must be less than or equal to Maximum Participants."; // Set the error text
            document.getElementById("ValidatorMinParticipants").style.display = "inline";  // Display the error message
        } else {
            document.getElementById("ValidatorMinParticipants").style.display = "none";
        }
    }
</script>


@*//[Biniding trainer /Agency/internal trainer dropdown]*@
<script>
    var selectedSubCategoryIds = @Html.Raw(Json.Encode(ViewBag.SelectedSubCategoryIds ?? new List<string>()));

    function OnTrainingCategoryChanged() {
        debugger;
        var categoryID = document.getElementById("ddlCategoryID").value;
        //  document.getElementById("txtTrainingProviderSource").selectedIndex = 0;
        OnTrainingProviderSourceChanged();

        $("#ddlEmployeeID").find("option").remove();
        $("#ddlTrainingSubcategoryID").empty();

        $.ajax({
            url: '@Url.Action("GetInternalTrainer", "ESS_Training_TrainingCalender")',
            method: "GET",
            data: { categoryID: categoryID },
            success: function (data) {
                debugger;
                // Bind internal trainers
                //if (data.InternalEmployees) {
                //    alert('ok');
                //    $("#ddlEmployeeID").find("option").remove();
                //    $("#ddlEmployeeID").append("<option value=''>--Select--</option>");
                //    $.each(data.InternalEmployees, function (i, emp) {
                //        $("#ddlEmployeeID").append("<option value='" + emp.Id + "'>" + emp.Name + "</option>");
                //    });
                //}
                if (data.TrainingSubcategories) {;
                    $.each(data.TrainingSubcategories, function (i, subcat) {
                        var selected = selectedSubCategoryIds.includes(subcat.Id.toString()) ? "selected" : "";
                        $("#ddlTrainingSubcategoryID").append(
                            "<option value='" + subcat.Id + "' " + selected + ">" + subcat.Name + "</option>"
                        );
                    });
                }
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error:", xhr.responseText);
            }
        });
    }

    function OnTrainingProviderSourceChanged() {debugger;
       
        var selectedValue = document.getElementById("txtTrainingProviderSource").value;
        var categoryID = document.getElementById("ddlCategoryID").value;
        // Hide all dropdowns & clear errors
        document.getElementById("ddltraineremployee").style.display = "none";
        document.getElementById("ddlagency").style.display = "none";
        document.getElementById("ddltrainer").style.display = "none";

        document.getElementById("errorInternal").innerText = "";
        document.getElementById("errorAgency").innerText = "";
        document.getElementById("errorTrainer").innerText = "";

        // Show the relevant dropdown based on selection
        if (selectedValue === "Internal") {
            document.getElementById("ddltraineremployee").style.display = "block";

            var selectedTrainerId = '@Model.TrainingProviderId';

            $("#ddlEmployeeID").find("option").remove();
            $.ajax({
                url: '@Url.Action("GetInternalTrainer", "ESS_Training_TrainingCalender")',
                method: "GET",
                data: { categoryID: categoryID },
                success: function (data) {
                    debugger;
                    if (data != null) {
                      
                        $("#ddlEmployeeID").append("<option value=''>--Select--</option>");
                        $.each(data.InternalEmployees, function (i, p) {
                            var isSelected = (p.Id == selectedTrainerId) ? "selected" : "";
                            $('#ddlEmployeeID').append("<option value='" + p.Id + "' " + isSelected + ">" + p.Name + "</option>");
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.log("AJAX Error:", xhr.responseText);
                }
            });

        } else if (selectedValue === "Agency") {
            document.getElementById("ddlagency").style.display = "block";
        } else if (selectedValue === "External") {
            document.getElementById("ddltrainer").style.display = "block";
        }
    }

    function validateTrainingProvider() {
        var selectedValue = document.getElementById("txtTrainingProviderSource").value;
        var isValid = true;

        // Reset error messages
        document.getElementById("errorInternal").innerText = "";
        document.getElementById("errorAgency").innerText = "";
        document.getElementById("errorTrainer").innerText = "";

        if (selectedValue === "Internal") {
            var internalTrainer = document.getElementById("ddlEmployeeID").value;
            if (!internalTrainer) {
                document.getElementById("errorInternal").innerText = "Please select an Internal Trainer.";
                isValid = false;
            }
        } else if (selectedValue === "Agency") {
            var agencyTrainer = document.getElementById("ddlTrainingAgencyID").value;
            if (!agencyTrainer) {
                document.getElementById("errorAgency").innerText = "Please select a Training Agency.";
                isValid = false;
            }
        } else if (selectedValue === "External") {
            var externalTrainer = document.getElementById("ddlTrainerID").value;
            if (!externalTrainer) {
                document.getElementById("errorTrainer").innerText = "Please select an External Trainer.";
                isValid = false;
            }
        }

        return isValid;
    }

    // Ensure the correct dropdown is shown when the page loads (if a value is pre-selected)
    //document.addEventListener("DOMContentLoaded", function () {debugger;
    //    OnTrainingProviderSourceChanged();
    //});

    function OnAssesmentRequiredChanged() {debugger;
        var requiredValue = $('#txtAssesmentRequired').val();
        if (requiredValue === "Yes") {
            $('#ddlAssesmentTypeID').prop('disabled', false);
        } else {
            $('#ddlAssesmentTypeID').prop('disabled', true);
        }
    }

</script>

<script>
    $(document).ready(function () {debugger;
        $("#formReset").click(function () {
            $("#SaveTrainingCalender")[0].reset();
        });

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

    });// Ready end

    @*$("#btnTrainer").click(function () {
        debugger;
        var url = '@Url.Action("GetList", "ESS_Prime_TrainerProfile")';
        window.location.href = url;
    });*@
</script>

<script>
    $.validator.addMethod("fileExtension", function (value, element, param) {
        if (element.files.length === 0) return true; // skip if no file
        var extension = value.split('.').pop().toLowerCase();
        return param.split(',').includes(extension);
    }, "Invalid file type.");

    // Add regex validation method
    $.validator.addMethod("regex", function (value, element, regexp) {
        if (regexp.constructor != RegExp)
            regexp = new RegExp(regexp);
        else if (regexp.global)
            regexp.lastIndex = 0;
        return this.optional(element) || regexp.test(value);
    }, "Invalid format.");

    $('#SaveTrainingCalender').validate({
        rules: {
            TrainingCalenderName: { required: true },
            SelectedTrainingSubcategories: { required: true },
            TrainingTypeId: { required: true },
            TrainingfrequencyId: { required: true },
            ModeOfTraining: { required: true },
            TraningCategoryId: { required: true }, // Keep if your form uses this name
            TrainingInstitute: { required: true },
            TrainingDescription: { required: true },
            TrainerId: { required: true },
            MaxParticipants: { required: true },
            MinParticipants: { required: true },
            TrainingProviderSource: { required: true },
            AssesmentRequired: { required: true },
            TrainingFeesType: { required: true },

            BannerFile: {
                required: {
                    depends: function () {
                        var existing = $('#divBannerFile span.form-label').text().trim();
                        return existing === '';
                    }
                },
                fileExtension: "jpg,jpeg,png,pdf,mp4,avi,mov,wmv,mkv"
            },

            EnrollmentLastDate: {
                required: {
                    depends: function () {
                        return $('#txtIsEnrollmentRequired').val() === 'Yes';
                    }
                }
            },

            TrainingFeesAmount: {
                required: {
                    depends: function () {
                        return $('#ddlTrainingFeesType').val() === 'Paid';
                    }
                },
                number: true
            },

            EnrollmentAttachment: {
                required: {
                    depends: function () {
                        var isQR = $('#ddlTrainingFeesPaidType').val() === 'QRScan';
                        var existing = $('#divQRAttachment span.form-label').text().trim();
                        return isQR && existing === '';
                    }
                },
                fileExtension: "jpg,jpeg,png,pdf,mp4,avi,mov,wmv,mkv"
            }
        },

        messages: {
            TrainingCalenderName: { required: "Training Calender Name is required." },
            SelectedTrainingSubcategories: { required: "Please select a training sub-category." },
            TrainingTypeId: { required: "Please select a training type." },
            TrainingfrequencyId: { required: "Please select a training frequency." },
            ModeOfTraining: { required: "Mode of training is required." },
            TraningCategoryId: { required: "Please select training category." },
            TrainingInstitute: { required: "Please select training institute." },
            TrainingDescription: { required: "Training description is required." },
            TrainerId: { required: "Please select trainer." },
            MaxParticipants: { required: "Maximum participants is required." },
            MinParticipants: { required: "Minimum participants is required." },
            TrainingProviderSource: { required: "Please select training provider." },
            AssesmentRequired: { required: "Please select assessment required." },
            TrainingFeesType: { required: "Training fees type is required." },
            BannerFile: {
                required: "Banner file is required.",
                fileExtension: "Only jpg, jpeg, png, pdf, mp4, avi, mov, wmv, mkv files are allowed."
            },
            EnrollmentLastDate: { required: "Enrollment last date is required." },
            TrainingFeesAmount: {
                required: "Fees amount is required.",
                number: "Please enter a valid number."
            },
            EnrollmentAttachment: {
                required: "QR code attachment is required when you choose QRScan.",
                fileExtension: "Only jpg, jpeg, png, pdf, mp4, avi, mov, wmv, mkv files are allowed."
            }
        }
    });

    //$("#ddlTrainingSubcategoryID").rules("add", {
    //    required: true,
    //    messages: {
    //        required: "Please select at least one training sub-category."
    //    }
    //});

    var form = $("#SaveTrainingCalender");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;
        var selectedSubcategories = $("#ddlTrainingSubcategoryID").val();
        var isValid = true;

        if (!selectedSubcategories || selectedSubcategories.length === 0) {
            $("#ddlTrainingSubcategoryID-error").text("Please select at least one training sub-category.").show();
            $("#ddlTrainingSubcategoryID").addClass("error");
            isValid = false;
        } else {
            $("#ddlTrainingSubcategoryID-error").text("").hide();
            $("#ddlTrainingSubcategoryID").removeClass("error");
        }
        if (!form.valid()) {
            $("#txtEstablishedDate").removeClass("error");
            return false;
        }

        if (!isValid) {
            return false;
        }

        $("#SaveTrainingCalender").submit();
    });
</script>
