
@{
    ViewBag.Title = "App_CancelApproveRejectDetails";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<link href="~/assets/MyCSS/Tailwindcss.css" rel="stylesheet" />
<style>
    .app-header-fixed {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .app-content {
        padding: 5px 5px;
    }

    .pace-running {
        background-color: #fff;
    }
</style>

<style>
    /* Fixed circular "+" button for all screen sizes */
    .mobile-fixed-add-btn {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1050;
        width: 50px;
        height: 50px;
    }

        .mobile-fixed-add-btn .btn {
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }
</style>

<div class="max-w-3xl mx-auto bg-white min-h-screen">
    <!-- Sticky Header with Tabs -->
    <div class="fixed top-0 left-0 w-full bg-white z-50 shadow">
        <div class="flex justify-center py-1">
            <!-- Centering buttons using flex -->
            <div class="flex gap-3 justify-center w-full max-w-md">
                <button onclick="showTab('LeaveType')" id="btnLeaveType"
                        class="px-4 py-1.5 rounded-full text-sm font-medium whitespace-nowrap bg-blue-600 text-white transition">
                    @TempData["Origin"] Details
                </button>
                <button onclick="showTab('History')" id="btnHistory"
                        class="px-4 py-1.5 rounded-full text-sm font-medium whitespace-nowrap bg-gray-100 text-gray-700 hover:bg-gray-200 transition">
                    History
                </button>
            </div>
        </div>
    </div>

    <div class="pt-10">
        <!-- Leave Type Content -->
        <div id="LeaveType" class="flex flex-wrap justify-center gap-2 p-2 bg-white">
            @{
                string Origin = TempData["Origin"] as string;
                IEnumerable<dynamic> GetList = null;
                dynamic d = null;

                // Check which list is not null or empty
                var leaveList = ViewBag.GetLeaveDetails as IEnumerable<dynamic>;
                var outdoorList = ViewBag.GetOutDoorDetails as IEnumerable<dynamic>;
                var punchmissList = ViewBag.GetPunchMissingDetails as IEnumerable<dynamic>;
                var shiftchangeList = ViewBag.GetShiftChangeDetails as IEnumerable<dynamic>;
                var workfromhomeList = ViewBag.GetWorkFromHomeDetails as IEnumerable<dynamic>;
                var coffList = ViewBag.GetCoffDetails as IEnumerable<dynamic>;
                var personalgatepassList = ViewBag.GetPersonalGatepassDetails as IEnumerable<dynamic>;
                var GetTravelClaimList = ViewBag.GetTravelClaimDetails as IEnumerable<dynamic>;
                var GetGeneralClaimList = ViewBag.GetGeneralClaimDetails as IEnumerable<dynamic>;
                if (leaveList != null && leaveList.Any())
                {
                    GetList = leaveList;
                }
                else if (outdoorList != null && outdoorList.Any())
                {
                    GetList = outdoorList;
                }
                else if (punchmissList != null && punchmissList.Any())
                {
                    GetList = punchmissList;
                }
                else if (shiftchangeList != null && shiftchangeList.Any())
                {
                    GetList = shiftchangeList;
                }
                else if (workfromhomeList != null && workfromhomeList.Any())
                {
                    GetList = workfromhomeList;
                }
                else if (personalgatepassList != null && personalgatepassList.Any())
                {
                    GetList = personalgatepassList;
                }
                else if (coffList != null && coffList.Any())
                {
                    GetList = coffList;
                }
                else if (GetTravelClaimList != null && GetTravelClaimList.Any())
                {
                    GetList = GetTravelClaimList;
                }
                else if (GetGeneralClaimList != null && GetGeneralClaimList.Any())
                {
                    GetList = GetGeneralClaimList;
                }
                d = GetList?.FirstOrDefault();
                var GetColors = new List<string> { "red-400", "green-400", "blue-400", "purple-400", "yellow-400", "pink-400", "teal", "indigo", "orange" };
                var rnd = new Random(Guid.NewGuid().GetHashCode());
                var randomColor = GetColors[rnd.Next(GetColors.Count)];
                string color = $"bg-{randomColor}";
                string borderClass = $"border-t-4 border-{randomColor}";
            }
            @switch (Origin)
            {
                case "Leave":
                    if (d != null)
                    {
                    <!-- ====================== LEAVE DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelID" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        <div class="text-xs text-gray-500">@d.EmployeeNo</div>
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applyed On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate : "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-file-lines text-blue-500 mr-1"></i> Doc No
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.RequestCancelDocId</td>
                                        </tr>

                                        @*<tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-id-badge text-green-500 mr-1"></i> Employee ID
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.EmployeeId</td>
                                        </tr>*@
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-calendar-day text-purple-500 mr-1"></i> From Date
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.FromDate</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-calendar-check text-emerald-500 mr-1"></i> To Date
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.ToDate</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-clock text-indigo-500 mr-1"></i> Leave Type
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.LeaveMasterDayType</td>
                                        </tr>
                                        @*<tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-leaf text-teal-500 mr-1"></i> Leave Type
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.RequestCancelID</td>
                                        </tr>*@
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-briefcase text-pink-500 mr-1"></i> Shift Name
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.LeaveMasterShiftName</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-hourglass-half text-yellow-500 mr-1"></i> Total Days
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.TotalDays</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-comment-dots text-red-500 mr-1"></i> Reason
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.Reason</td>
                                        </tr>
                                        <tr class="border-b">
                                            <td class="py-1 font-medium text-gray-700">
                                                <i class="fa-solid fa-info-circle text-gray-600 mr-1"></i> Status
                                            </td>
                                            <td class="px-1">:</td>
                                            <td>@d.Status</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"  class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== LEAVE DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-red-600 text-sm font-medium">No data found for Leave request.</div>
                    }
                    break;


                case "OD":
                    if (d != null)
                    {
                    <!-- ====================== OUTDOOR DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelDocId" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @d.EmployeeName.Substring(0, 1)
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        <div class="text-xs text-gray-500">@d.EmployeeNo</div>
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applied On</div>
                                    <div>@d.CreatedDate</div>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-solid fa-hashtag text-purple-600"></i></td><td class="font-medium">Doc No.</td><td class="px-1">:</td><td>@d.RequestCancelID</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-user-tie text-blue-600"></i></td><td class="font-medium">Origin</td><td class="px-1">:</td><td>@d.Origin</td></tr>
                                        @*<tr><td class="py-1"><i class="fas fa-user-tie text-blue-600"></i></td><td class="font-medium">Type</td><td class="px-1">:</td><td>@d.OutDoorCompanyType</td></tr>*@
                                        <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600"></i></td><td class="font-medium">Shift Name</td><td class="px-1">:</td><td>@d.OutDoorCompanyShiftName</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-alt text-orange-600"></i></td><td class="font-medium">From Date</td><td class="px-1">:</td><td>@d.FromDate - @d.FromTime</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-alt text-yellow-600"></i></td><td class="font-medium">To Date</td><td class="px-1">:</td><td>@d.TODATE - @d.ToTime</td></tr>
                                        @*<tr><td class="py-1"><i class="fas fa-clock text-green-600"></i></td><td class="font-medium">Total Days/Hrs.</td><td class="px-1">:</td><td>@d.TotalDays</td></tr>*@
                                        <tr><td class="py-1"><i class="fas fa-comment text-indigo-600"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.CancelReason</td></tr>
                                        @*<tr><td class="py-1"><i class="fas fa-moon text-pink-600"></i></td><td class="font-medium">Night Shift</td><td class="px-1">:</td><td>@d.IsNightShift</td></tr>*@
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-info-circle text-teal-600"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>
                                        @*<tr><td class="py-1"><i class="fas fa-user-check text-cyan-600"></i></td><td class="font-medium">Approve By</td><td class="px-1">:</td><td>@d.ApproveRejectBy</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-check text-blue-600"></i></td><td class="font-medium">Approved Date</td><td class="px-1">:</td><td>@d.ApproveRejectDate</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-comment-dots text-pink-600"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>*@
                                    </tbody>
                                </table>
                            </div>
                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')"
                                   class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"
                                        class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== OUTDOOR DETAILS END ================================-->
                    }
                    else
                    {
                        <div class="text-black-600 text-sm font-medium">No data found for Outdoor request.</div>
                    }
                    break;

                case "PM":
                    if (d != null)
                    {
                    <!-- ====================== PUNCH MISSING DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelID" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @d.EmployeeName.Substring(0, 1)
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        @*<div class="text-xs text-gray-500">@d.EmployeeNo</div>*@
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Created On</div>
                                    <div>@d.CreatedDate</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-hashtag text-blue-600"></i></td><td class="font-medium">Doc No</td><td class="px-1">:</td><td>@d.RequestCancelDocId</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-moon text-indigo-600"></i></td><td class="font-medium">Shift Name</td><td class="px-1">:</td><td>@d.PunchMissingShiftName</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-day text-yellow-600"></i></td><td class="font-medium">For Date</td><td class="px-1">:</td><td>@d.PunchMissingLogDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-green-600"></i></td><td class="font-medium">For Time</td><td class="px-1">:</td><td>@d.PunchMissingLogTime</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-sign-in-alt text-orange-600"></i></td><td class="font-medium">In/Out Type</td><td class="px-1">:</td><td>@d.PunchMissingInOut</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-solid fa-comment text-blue-600"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.CancelReason</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-info-circle text-teal"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>
                                        @*<tr><td class="py-1"><i class="fa-solid fa-user-tie text-orange-600"></i></td><td class="font-medium">Approve By</td><td class="px-1">:</td><td>@d.ApprovedBy</td></tr>
                                        <tr><td class="py-1"><i class="fa-solid fa-calendar-days text-blue-600"></i></td><td class="font-medium">Approve Date</td><td class="px-1">:</td><td>@d.ApproveRejectDate</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fa-solid fa-comment-dots text-red-600"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>*@
                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')"
                                   class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"
                                        class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== PUNCH MISSING DETAILS END ================================-->
                    }
                    else
                    {
                        <div class="text-black-600 text-sm font-medium">No data found for Punch Missing request.</div>
                    }
                    break;

                case "WFH":
                    if (d != null)
                    {
                    <!-- ====================== WORK FROM HOME DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelID" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        @*<div class="text-xs text-gray-500">@d.EmployeeNo</div>*@
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Created On</div>
                                    <div>@d.CreatedDate</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-flag text-blue-600 mr-1"></i></td><td class="font-medium">Shift Name</td><td class="px-1">:</td><td>@d.WFHShiftName</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600 mr-1"></i></td><td class="font-medium">From Date</td><td class="px-1">:</td><td>@d.FromDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-id-card-alt text-indigo-600 mr-1"></i></td><td class="font-medium">To Date</td><td class="px-1">:</td><td>@d.ToDate</td></tr>

                                        <tr><td class="py-1"><i class="fas fa-user text-green-600 mr-1"></i></td><td class="font-medium">Total Days</td><td class="px-1">:</td><td>@d.TotalDays</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-hashtag text-gray-600 mr-1"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.CancelReason</td></tr>

                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1" class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                     <!-- ====================== WORK FROM HOME DETAILS END ===============================-->
                    }
                    else
                    {
                        <div class="text-black-600 text-sm font-medium">No data found for Work From Home request.</div>
                    }
                    break;

                case "SC":
                    if (d != null)
                    {
                     <!-- ====================== SHIFT CHANGE DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelID" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        @*<div class="text-xs text-gray-500">@d.EmployeeNo</div>*@
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applied On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate : "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        @*<tr><td class="py-1"><i class="fas fa-flag text-blue-600"></i></td><td class="font-medium">Current Status</td><td class="px-1">:</td><td>@d.CurrentStatus</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600"></i></td><td class="font-medium">Designation</td><td class="px-1">:</td><td>@d.Designation</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-file-alt text-indigo-600"></i></td><td class="font-medium">Doc No</td><td class="px-1">:</td><td>@d.DocNo</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-id-card text-blue-500"></i></td><td class="font-medium">Employee ID</td><td class="px-1">:</td><td>@d.EmployeeId</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-user text-green-600"></i></td><td class="font-medium">Employee Name</td><td class="px-1">:</td><td>@d.EmployeeName</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-hashtag text-gray-600"></i></td><td class="font-medium">Employee No</td><td class="px-1">:</td><td>@d.EmployeeNo</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-lock text-red-600"></i></td><td class="font-medium">Encrypted ID</td><td class="px-1">:</td><td>@d.EncryptedId</td></tr>
                                                    <tr><td class="py-1"><i class="fas fa-user-tag text-yellow-600"></i></td><td class="font-medium">First Name</td><td class="px-1">:</td><td>@d.FirstName</td></tr>
                                                <tr><td class="py-1"><i class="fas fa-map-marker-alt text-cyan-600"></i></td><td class="font-medium">Origin</td><td class="px-1">:</td><td>@d.Origin</td></tr>
                                                <tr><td class="py-1"><i class="fas fa-location-arrow text-indigo-500"></i></td><td class="font-medium">Origin Short Name</td><td class="px-1">:</td><td>@d.OriginShortName</td></tr>
                                            <tr><td class="py-1"><i class="fas fa-phone-alt text-pink-600"></i></td><td class="font-medium">Mobile No</td><td class="px-1">:</td><td>@d.MobileNo</td></tr>*@

                                        <tr><td class="py-1"><i class="fas fa-hashtag text-blue-600"></i></td><td class="font-medium">Doc No.</td><td class="px-1">:</td><td>@d.RequestCancelDocId</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-green-700"></i></td><td class="font-medium">Shift Name</td><td class="px-1">:</td><td>@d.shiftname</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-day text-orange-600"></i></td><td class="font-medium">From Date</td><td class="px-1">:</td><td>@d.FromDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-day text-yellow-600"></i></td><td class="font-medium">To Date</td><td class="px-1">:</td><td>@d.ToDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-comment text-gray-700"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.CancelReason</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-info-circle text-blue-700"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>
                                        @*<tr><td class="py-1"><i class="fa-solid fa-user-tie text-orange-600"></i></td><td class="font-medium">Approve By</td><td class="px-1">:</td><td>@d.ApproveRejectBy</td></tr>
                                        <tr><td class="py-1"><i class="fa-solid fa-calendar-days text-blue-600"></i></td><td class="font-medium">Approve Date</td><td class="px-1">:</td><td>@d.ApproveRejectDate</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fa-solid fa-comment-dots text-red-600"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>*@

                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1" class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== SHIFT CHANGE DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-black-600 text-sm font-medium">No data found for Shift Change request.</div>
                    }
                    break;

                case "CO":
                    if (d != null)
                    {
                    <!-- ====================== COFF DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelDocId" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        @*<div class="text-xs text-gray-500">@d.EmployeeNo</div>*@
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Created On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate : "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-hashtag text-blue-600"></i></td><td class="font-medium">Coff Request ID</td><td class="px-1">:</td><td>@d.RequestCancelDocId</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-file-alt text-green-600"></i></td><td class="font-medium">Doc No</td><td class="px-1">:</td><td>@d.DocNo</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-sun text-yellow-600"></i></td><td class="font-medium">Day Type</td><td class="px-1">:</td><td>@d.CoffRequestDayType</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-alt text-orange-600"></i></td><td class="font-medium">From Date</td><td class="px-1">:</td><td>@d.FromDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-alt text-pink-600"></i></td><td class="font-medium">To Date</td><td class="px-1">:</td><td>@d.ToDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-comment text-gray-600"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.Reason</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-info-circle text-teal-600"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>

                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"
                                        class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== COFF DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-black-600 text-sm font-medium">No data found for Coff request.</div>
                    }
                    break;

                case "PG":
                    if (d != null)
                    {
                    <!-- ====================== PERSONAL GATE PASS DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.RequestCancelID_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.RequestCancelID" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        @*<div class="text-xs text-gray-500">@d.EmployeeNo</div>*@
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applied On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate: "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-solid fa-hashtag text-purple-600"></i></td><td class="font-medium">Doc No</td><td class="px-1">:</td><td>@d.RequestCancelDocId</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600"></i></td><td class="font-medium">Shift Name</td><td class="px-1">:</td><td>@d.PersonalGatepassShiftName</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-purple-600"></i></td><td class="font-medium">From Date Time</td><td class="px-1">:</td><td>@d.FromTime</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-indigo-600"></i></td><td class="font-medium">To Date Time</td><td class="px-1">:</td><td>@d.ToTime</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-hourglass-half text-pink-600"></i></td><td class="font-medium">Total Duration</td><td class="px-1">:</td><td>@d.TotalDuration</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-comment text-gray-600"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.CancelReason</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-info-circle text-teal-600"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>
                                        @*<tr><td class="py-1"><i class="fas fa-user-check text-cyan-600"></i></td><td class="font-medium">Approved By</td><td class="px-1">:</td><td>@d.ApproveRejectBy</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-check text-orange-600"></i></td><td class="font-medium">Approve Date</td><td class="px-1">:</td><td>@d.ApproveRejectDate</td></tr>
                                        <tr class="border-b"><td class="py-1"><i class="fas fa-comment-dots text-red-500"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>*@
                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')" class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1" class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== PERSONAL GATE PASS DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-red-600 text-sm font-medium">No data found for Personal Gate Pass request.</div>
                    }
                    break;


                case "TravelClaim":
                    if (d != null)
                    {
                    <!-- ====================== TRAVEL CLAIM DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <!-- Header -->
                            <input type="hidden" class="hdnEncryptedId" value="@d.TravelClaimId_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.TravelClaimId" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.employeename</div>
                                        <div class="text-xs text-gray-500">@d.EmployeeNo</div>
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applied On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate.ToString("dd/MM/yyyy") : "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-solid fa-hashtag text-purple-600"></i></td><td class="font-medium">From Location</td><td class="px-1">:</td><td>@d.FromLocation</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600"></i></td><td class="font-medium">To Location</td><td class="px-1">:</td><td>@d.ToLocation</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-purple-600"></i></td><td class="font-medium">From Date</td><td class="px-1">:</td><td>@d.FromDate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-indigo-600"></i></td><td class="font-medium">To date</td><td class="px-1">:</td><td>@d.ToDate</td></tr>

                                        <tr><td class="py-1"><i class="fas fa-comment text-gray-600"></i></td><td class="font-medium">Total KM</td><td class="px-1">:</td><td>@d.TotalKM</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-info-circle text-teal-600"></i></td><td class="font-medium">Per KM Rate</td><td class="px-1">:</td><td>@d.PerKMRate</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-user-check text-cyan-600"></i></td><td class="font-medium">Total Amount</td><td class="px-1">:</td><td id="txtTCTotalAmount">@d.TotalAmount</td></tr>
                                        @*<tr class="py-1"><td class="py-1"><i class="fas fa-comment-dots text-red-500"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>*@

                                        <tr class="border-b">
                                            <td><i class="fas fa-hourglass-half text-pink-600"></i></td>
                                            <td class="font-medium">Approve Amount</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" id="txtTCApproveAmount" name="ApproveAmount" placeholder="Enter amount" style="max-width: 120px;" />
                                                <span id="ErrortxtTCApproveAmount" class="Error"></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Total KM Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.TotalKMPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.TotalKMPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Transport Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.TransportPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.TransportPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Food Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.FoodPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.FoodPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Hotel Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.HotelPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.HotelPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Conveyance Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.ConveyancePath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.ConveyancePath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Other A Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.OtherAPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.OtherAPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>

                                        <tr class="border-b">
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Other B Path</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.OtherBPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.OtherBPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')"
                                   class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"
                                        class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== TRAVEL CLAIM DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-red-600 text-sm font-medium">No data found for Travel claim request.</div>
                    }
                    break;


                case "GeneralClaim":
                    if (d != null)
                    {
                    <!-- ====================== GENERAL CLAIM DETAILS START ==============================-->
                        <div class="bg-white rounded-xl shadow-md w-full max-w-md @borderClass p-3 search-card">
                            <input type="hidden" class="hdnEncryptedId" value="@d.GeneralClaimId_Encrypted" />
                            <input type="hidden" class="hdnDocId" value="@d.GeneralClaimId" />
                            <input type="hidden" class="hdnOrigin" value="@d.Origin" />
                            <!-- Header -->
                            <div class="flex justify-between items-start mb-2">
                                <div class="flex items-center space-x-3">
                                    <div class="w-10 h-10 @color text-white rounded-full flex items-center justify-center font-semibold text-lg">
                                        @(d.EmployeeName != null ? d.EmployeeName.Substring(0, 1) : "?")
                                    </div>
                                    <div>
                                        <div class="text-sm font-semibold text-gray-800">@d.EmployeeName</div>
                                        <div class="text-xs text-gray-500">@d.EmployeeNo</div>
                                    </div>
                                </div>
                                <div class="text-right text-xs text-gray-500">
                                    <div>Applied On</div>
                                    <div>@(d.CreatedDate != null ? d.CreatedDate.ToString("dd/MM/yyyy") : "-")</div>
                                </div>
                            </div>

                            <!-- Body -->
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-gray-700">
                                    <tbody>
                                        <tr><td class="py-1"><i class="fas fa-solid fa-hashtag text-purple-600"></i></td><td class="font-medium">Doc No</td><td class="px-1">:</td><td>@d.DocNo</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-briefcase text-purple-600"></i></td><td class="font-medium">Category Name</td><td class="px-1">:</td><td>@d.ExpenseCategoryName</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-purple-600"></i></td><td class="font-medium">Claim Amount</td><td class="px-1">:</td><td id="txtGCTotalAmount">@d.GeneralClaimAmount</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-clock text-indigo-600"></i></td><td class="font-medium">Description</td><td class="px-1">:</td><td>@d.GeneralClaimDescription</td></tr>

                                        <tr><td class="py-1"><i class="fas fa-comment text-gray-600"></i></td><td class="font-medium">Reason</td><td class="px-1">:</td><td>@d.Reason</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-info-circle text-teal-600"></i></td><td class="font-medium">Status</td><td class="px-1">:</td><td>@d.Status</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-user-check text-cyan-600"></i></td><td class="font-medium">Approved By</td><td class="px-1">:</td><td>@d.ApproveRejectBy</td></tr>
                                        <tr><td class="py-1"><i class="fas fa-calendar-check text-orange-600"></i></td><td class="font-medium">Approve Date</td><td class="px-1">:</td><td>@d.ApproveRejectDate</td></tr>
                                        <tr class="py-1"><td class="py-1"><i class="fas fa-comment-dots text-red-500"></i></td><td class="font-medium">Remark</td><td class="px-1">:</td><td>@d.ApproveRejectRemark</td></tr>

                                        <tr>
                                            <td class="py-1"><i class="fas fa-comment text-gray-600"></i></td>
                                            <td class="font-medium">Attachment</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                @if (@d.AttachmentPath != "")
                                                {
                                                    <a href="#"><i class="fa fa-download fa-xl" onclick="DownloadFile('@d.AttachmentPath.Replace("\\", "/")')"></i></a>
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-xmark fa-xl" style="color: red;"></i>
                                                }
                                            </td>
                                        </tr>
                                        <tr class="border-b">
                                            <td><i class="fas fa-hourglass-half text-pink-600"></i></td>
                                            <td class="font-medium">Approve Amount</td>
                                            <td class="px-1">:</td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" id="txtGCApproveAmount" name="ApproveAmount" placeholder="Enter amount" style="max-width: 120px;" />
                                                <span id="ErrortxtGCApproveAmount" class="Error"></span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <!-- Footer Buttons -->
                            <div class="flex flex-wrap justify-start items-center gap-3 mt-2">
                                <a href="#modal-dialogForApproval1" id="btnmodal-dialog" onclick="Approved(this, 'Approved')"
                                   class="text-blue-600 border border-blue-500 px-2 py-1 rounded-md hover:bg-blue-50">
                                    <i class="fa-solid fa-check-double"></i> Approve
                                </a>

                                <button href="#modal-dialogForHoldReject1" onclick="OpenModule(this)" id="btnmodal-dialog1"
                                        class="text-red-600 border border-red-500 px-2 py-1 rounded-md hover:bg-red-50">
                                    <i class="fa fa-trash"></i> Reject
                                </button>
                            </div>
                        </div>
                    <!-- ====================== GENERAL CLAIM DETAILS END ==============================-->
                    }
                    else
                    {
                        <div class="text-red-600 text-sm font-medium">No data found for general claim request.</div>
                    }
                    break;
            }

        </div>
    </div>

    <!-- History Section -->
    <div id="History" class="hidden p-0">
        <div class="bg-white p-3 rounded-lg shadow">
            @{
                var leavehistory = ViewBag.GetLeaveHistory as List<dynamic>;
                int index = 0;
            }
            @if (leavehistory != null && leavehistory.Any())
            {
            <div class="space-y-3">
                @foreach (var item in leavehistory)
                    {
                        string color1 = "";
                        string borderClass1 = "";

                        switch (index % 10)
                        {
                            case 0:
                                color1 = "bg-red-400";
                                borderClass1 = "border-l-4 border-red-400";
                                break;
                            case 1:
                                color1 = "bg-blue-400";
                                borderClass1 = "border-l-4 border-blue-400";
                                break;
                            case 2:
                                color1 = "bg-green-400";
                                borderClass1 = "border-l-4 border-green-400";
                                break;
                            case 3:
                                color1 = "bg-yellow-400";
                                borderClass1 = "border-l-4 border-yellow-400";
                                break;
                            case 4:
                                color1 = "bg-purple-400";
                                borderClass1 = "border-l-4 border-purple-400";
                                break;
                            case 5:
                                color1 = "bg-pink-400";
                                borderClass1 = "border-l-4 border-pink-400";
                                break;
                            case 6:
                                color1 = "bg-indigo-400";
                                borderClass1 = "border-l-4 border-indigo-400";
                                break;
                            case 7:
                                color1 = "bg-teal";
                                borderClass1 = "border-l-4 border-teal";
                                break;
                            case 8:
                                color1 = "bg-orange";
                                borderClass1 = "border-l-4 border-orange";
                                break;
                            case 9:
                                color1 = "bg-cyan";
                                borderClass1 = "border-l-4 border-cyan";
                                break;
                        }

                        index++; // Increment after assigning
                    <div class="@borderClass1 pl-4 bg-white rounded-md shadow-sm p-3">
                        <div class="text-sm text-gray-700 font-semibold">
                            <i class="fa-solid fa-hashtag text-blue-500"></i> Doc No: @item.DocNo
                        </div>
                        <div class="text-sm text-gray-600 mt-1">
                            <i class="fa-solid fa-comment text-purple-500"></i> Remark: @item.Remark
                        </div>
                    </div>
                    }
            </div>
            }
            else
            {
            <div class="text-center text-gray-500">No history data available yet.</div>
            }
        </div>
    </div>
</div>

<!-- JavaScript for Toggle -->
<script>
    function showTab(tab) {
        const leave = document.getElementById("LeaveType");
        const history = document.getElementById("History");
        const btnLeave = document.getElementById("btnLeaveType");
        const btnHistory = document.getElementById("btnHistory");

        if (tab === "LeaveType") {
            leave.classList.remove("hidden");
            history.classList.add("hidden");

            btnLeave.classList.add("bg-blue-600", "text-white");
            btnLeave.classList.remove("bg-gray-100", "text-gray-700");

            btnHistory.classList.remove("bg-blue-600", "text-white");
            btnHistory.classList.add("bg-gray-100", "text-gray-700");
        } else {
            leave.classList.add("hidden");
            history.classList.remove("hidden");

            btnHistory.classList.add("bg-blue-600", "text-white");
            btnHistory.classList.remove("bg-gray-100", "text-gray-700");

            btnLeave.classList.remove("bg-blue-600", "text-white");
            btnLeave.classList.add("bg-gray-100", "text-gray-700");
        }
    }
</script>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <input type="hidden" id="modalDocId" />
                                            <input type="hidden" id="modalEncryptedId" />
                                            <input type="hidden" id="modalOrigin" />
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved(this,'Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    function OpenModule(btn) {
        debugger;
        var container = $(btn).closest('.search-card');
        var docId = container.find('.hdnDocId').val();
        var encryptedId = container.find('.hdnEncryptedId').val();
        var origin = container.find('.hdnOrigin').val();

        // Set values into modal hidden fields
        $('#modalDocId').val(docId);
        $('#modalEncryptedId').val(encryptedId);
        $('#modalOrigin').val(origin);
        $("#myModalFinal").modal('show');
    }

    function Approved(elem,Approver) {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                $(".Userloaderbg").css("display", "flex");
                var DocId = $("#modalDocId").val();
                var Encrypted = $("#modalEncryptedId").val();
                var Origin = $("#modalOrigin").val();
                var Status = "";
                var Remark = "";




                if (Approver == "Rejected") {
                    DocId = $('#modalDocId').val();
                    Encrypted = $('#modalEncryptedId').val();
                    Origin = $('#modalOrigin').val();
                    Remark = $("#txtApproveRejectRemark").val();
                    Status = "Rejected";
                }
                else {
                    var container = $(elem).closest('.search-card');
                    DocId = container.find('.hdnDocId').val();
                    Encrypted = container.find('.hdnEncryptedId').val();
                    Origin = container.find('.hdnOrigin').val();
                    Status = "Approved";
                }
                //if (Approver == "Rejected") {
                //    Remark = $("#txtApproveRejectRemark").val();
                //    Status = "Rejected";
                //}
                //else {
                //    Status = "Approved";
                //}
                $("#myModalFinal").modal('hide');
                
                $.ajax({
                    url: "@Url.Action("RequestForCancelApprove", "App_Login")",
                    method: "get",
                    data: { DocId: DocId, Encrypted: Encrypted, Status: Status, Remark: Remark, Origin: Origin },
                    success: function (response) {
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon == "error") {
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: false
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $(".Userloaderbg").css("display", "none");
                                            $("#txtApproveRejectRemark").val("")
                                            @*window.location.href = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';*@
                                        } else if (
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }
                        }
                        else {
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            if (response.Icon == "success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: false
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("App_ApproveRejectList", "App_Login")';
                                            } else if (
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {
                                            }
                                        })
                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            } else if (
                            result.dismiss === Swal.DismissReason.cancel
                       ) {
            }
        })
    }
</script>
