@model KompassHR.Areas.Setting.Models.Setting_IncomeTax.IncomeTax_DocumentOpenClose

@{
    ViewBag.Title = "Setting_IncomeTax_MonthWiseDoc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-weight: 600;
        font-size: 12px;
        padding: 4px !important;
        vertical-align: middle;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    .fa-eye {
        font-size: 16px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /*.lbl{
            border: none;
            outline: none;
            text-align: center;
        }*/
</style>



<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Month Wise Document Setting
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_IncomeTax_Menu", "Setting_IncomeTax_Menu", new { id = 9, ScreenId =74, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Month Wise Document Setting - <b>@ViewBag.AddUpdateTitle</b> </h4>
                   
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                        Define month wise start date and end date to add investment details.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_IncomeTax_MonthWiseDoc", new { area = "Setting" })' id="SaveDocSetting" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="col-md-1"></div>
                                            <label class="form-label col-form-label col-md-1">
                                                Type
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.OpenCloseTypeID, new SelectList(ViewBag.DocumentList, "Id", "Name"), "--Select--", new { id = "ddlDocumentName", @class = "form-select", name = "OpenCloseTypeID" })
                                                @Html.ValidationMessageFor(model => model.OpenCloseTypeID, "", new { @class = "help-block", @id = "ErrorDocumentName", @style = "color:red" })
                                                @Html.HiddenFor(model => model.DocumentOpenCloseId_Encrypted,new { id= "DocumentOpenCloseId_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">April</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            <div class="row">
                                                                @Html.HiddenFor(model => model.AprMonth, new { @class = "form-control", id = "txtAprMonth", autocomplete = "Off", Value = "4", Required = "required" })
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @*onkeypress= "event.charCode ==189 return false"*@
                                                                    @*onkeypress= "return numbervalidate(event)"*@
                                                                    @Html.TextBoxFor(model => model.AprFromDay, new { @class = "form-control ThirtyDays check", id = "AprilFromDay", min = "0", onkeypress = "return event.charCode >=48", autocomplete = "Off", name = "AprFromDay", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.AprToDay, new { @class = "form-control ThirtyDays check", id = "AprilToDay", onkeypress = "return event.charCode >=48", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorAprMonth", "", new { @class = "help-block", id = "ErrorAprMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">May</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.MayMonth, new { @class = "form-control", id = "txtMay", autocomplete = "Off", Value = "5", Required = "required" })
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.MayFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "MayFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.MayToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "MayToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorMayMonth", "", new { @class = "help-block", id = "ErrorMayMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">June</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            <div class="row">
                                                                @Html.HiddenFor(model => model.JunMonth, new { @class = "form-control", id = "txtJune", autocomplete = "Off", Value = "6", Required = "required" })
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JunFromDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "JuneFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JunToDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "JuneToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorJunMonth", "", new { @class = "help-block", id = "ErrorJunMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">July</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.JulMonth, new { @class = "form-control", id = "txtJuly", autocomplete = "Off", Value = "7", Required = "required" })
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JulFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "JulyFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JulToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "JulyToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorJulMonth", "", new { @class = "help-block", id = "ErrorJulMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">
                                                    August
                                                </h5>
                                                <div class="row">
                                                    @Html.HiddenFor(model => model.AugMonth, new { @class = "form-control", id = "txtAugust", autocomplete = "Off", Value = "8", Required = "required" })
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            <div class="row">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.AugFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "AugustFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.AugToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "AugustToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorAugMonth", "", new { @class = "help-block", id = "ErrorAugMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">
                                                    September
                                                </h5>
                                                <div class="row">
                                                    @Html.HiddenFor(model => model.SepMonth, new { @class = "form-control", id = "SepMonth", autocomplete = "Off", Value = "9", Required = "required" })
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.SepFromDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "SepFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.SepToDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "SepToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorSepMonth", "", new { @class = "help-block", id = "ErrorSepMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">October</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.OctMonth, new { @class = "form-control", id = "OctMonth", autocomplete = "Off", Value = "10", Required = "required" })
                                                            <div class="row">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.OctFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "OctFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.OctToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "OctToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorOctMonth", "", new { @class = "help-block", id = "ErrorOctMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">November</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.NovMonth, new { @class = "form-control", id = "txtNovMonth", autocomplete = "Off", Value = "11", Required = "required" })
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.NovFromDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "NovFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.NovToDay, new { @class = "form-control ThirtyDays check", onkeypress = "return event.charCode >=48", id = "NovToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorNovMonth", "", new { @class = "help-block", id = "ErrorNovMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">December</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.DecMonth, new { @class = "form-control", id = "txtDecMonth", autocomplete = "Off", Value = "12", Required = "required" })
                                                            <div class="row">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.DecFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "DecFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.DecToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "DecToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorDecMonth", "", new { @class = "help-block", id = "ErrorDecMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">January</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.JanMonth, new { @class = "form-control", id = "txtJanMonth", autocomplete = "Off", Value = "1", Required = "required" })
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JanFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "JanFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.JanToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "JanToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorJanMonth", "", new { @class = "help-block", id = "ErrorJanMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">February</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.FebMonth, new { @class = "form-control", id = "txtFebMonth", autocomplete = "Off", Value = "2", Required = "required" })
                                                            <div class="row ">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.FebFromDay, new { @class = "form-control Feb check", onkeypress = "return event.charCode >=48", id = "FebFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.FebToDay, new { @class = "form-control Feb check", onkeypress = "return event.charCode >=48", id = "FebToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorFebMonth", "", new { @class = "help-block", id = "ErrorFebMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h5 class="text-start bg-cyan text-white p-2 mb-0">
                                                    March
                                                </h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="formBx">
                                                            @Html.HiddenFor(model => model.MarMonth, new { @class = "form-control", id = "MarMonth", autocomplete = "Off", Value = "3", Required = "required" })
                                                            <div class="row">
                                                                <label class="form-label col-form-label col-md-2">
                                                                    From Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.MarFromDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "MarFromDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                <label class="form-label col-form-label col-md-2">
                                                                    To Day
                                                                </label>
                                                                <div class="col-md-4">
                                                                    @Html.TextBoxFor(model => model.MarToDay, new { @class = "form-control ThirtyOneDays check", onkeypress = "return event.charCode >=48", id = "MarToDay", autocomplete = "Off", type = "number" })
                                                                </div>
                                                                @Html.ValidationMessage("ErrorMarMonth", "", new { @class = "help-block", id = "ErrorMarMonth", @style = "color:red" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">Submit</button>
                                                    <a href="@Url.Action("GetList", "Setting_IncomeTax_MonthWiseDoc", new { area = "Setting" })">
                                                        <button type="button" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlDocumentName").select2();
        var Message1 = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon1 = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message1 != null) {
            if (Message1 != null) {
                Swal.fire({
                    icon: Icon1,
                    text: Message1,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        $(".ThirtyDays").on("input", function () {
            debugger;
            var inputValue = parseInt($(this).val());
            var min = 0;
            var max = 30;
            if (isNaN(inputValue) || inputValue < min || inputValue > max) {
                $(this).val("");
            }
        });

        $(".ThirtyOneDays").on("input", function () {
            var inputValue = parseInt($(this).val());
            var min = 0;
            var max = 31;
            if (isNaN(inputValue) || inputValue < min || inputValue > max) {
                $(this).val("");
            }
        });

        $(".Feb").on("input", function () {
            var inputValue = parseInt($(this).val());
            var min = 0;
            var max = 29;
            if (isNaN(inputValue) || inputValue < min || inputValue > max) {
                $(this).val("");
            }
        });

        let Message = "From day must be smaller than or equal to To Day";

        $(".check").keyup(function () {
            debugger;
            var AprilFromDay = document.getElementById('AprilFromDay').value;
            var AprilToDay = document.getElementById('AprilToDay').value;
            if (AprilFromDay != "" && AprilToDay != "")
            {
                if (AprilFromDay.toString().length < 2)
                    AprilFromDay = "0" + AprilFromDay;

                if (AprilToDay.toString().length < 2)
                    AprilToDay = "0" + AprilToDay;

                if (AprilFromDay > AprilToDay)
                {
                    $('#ErrorAprMonth').html(Message);
                    $("#AprilFromDay").val("");
                    $("#AprilToDay").val("");
                    return false;
                }
                else
                    $('#ErrorAprMonth').html("");
            }

            var MayFromDay = document.getElementById('MayFromDay').value;
            var MayToDay = document.getElementById('MayToDay').value;
            if (MayFromDay != "" && MayToDay != "")
            {
                if (MayFromDay.toString().length < 2)
                    MayFromDay = "0" + MayFromDay;

                if (MayToDay.toString().length < 2)
                    MayToDay = "0" + MayToDay;

                if (MayFromDay > MayToDay) {
                    $('#ErrorMayMonth').html(Message);
                    $("#MayFromDay").val("");
                    $("#MayToDay").val("");
                }
                else
                    $('#ErrorMayMonth').html("");
            }

            var JuneFromDay = document.getElementById('JuneFromDay').value;
            var JuneToDay = document.getElementById('JuneToDay').value;
            if (JuneFromDay != "" && JuneToDay != "")
            {
                if (JuneFromDay.toString().length < 2)
                    JuneFromDay = "0" + JuneFromDay;

                if (JuneToDay.toString().length < 2)
                    JuneToDay = "0" + JuneToDay;

                if (JuneFromDay > JuneToDay) {
                    $('#ErrorJunMonth').html(Message);
                    $("#JuneFromDay").val("");
                    $("#JuneToDay").val("");
                    return false;
                }
                else
                    $('#ErrorJunMonth').html("");
            }

            var JulyFromDay = document.getElementById('JulyFromDay').value;
            var JulyToDay = document.getElementById('JulyToDay').value;
            if (JulyFromDay != "" && JulyToDay != "")
            {
                if (JulyFromDay.toString().length < 2)
                    JulyFromDay = "0" + JulyFromDay;

                if (JulyToDay.toString().length < 2)
                    JulyToDay = "0" + JulyToDay;

                if (JulyFromDay > JulyToDay) {
                    $('#ErrorJulMonth').html(Message);
                    $("#JulyFromDay").val("");
                    $("#JulyToDay").val("");
                    return false;
                }
                else
                    $('#ErrorJulMonth').html("");
            }

            var AugustFromDay = document.getElementById('AugustFromDay').value;
            var AugustToDay = document.getElementById('AugustToDay').value;
            if (AugustFromDay != "" && AugustToDay != "")
            {
                if (AugustFromDay.toString().length < 2)
                    AugustFromDay = "0" + AugustFromDay;

                if (AugustToDay.toString().length < 2)
                    AugustToDay = "0" + AugustToDay;

                if (AugustFromDay > AugustToDay) {
                    $('#ErrorAugMonth').html(Message);
                    $("#AugustFromDay").val("");
                    $("#AugustToDay").val("");
                    return false;
                }
                else
                    $('#ErrorAugMonth').html("");
            }

            var SepFromDay = document.getElementById('SepFromDay').value;
            var SepToDay = document.getElementById('SepToDay').value;
            if (SepFromDay != "" && SepToDay != "")
            {
                if (SepFromDay.toString().length < 2)
                    SepFromDay = "0" + SepFromDay;

                if (SepToDay.toString().length < 2)
                    SepToDay = "0" + SepToDay;

                if (SepFromDay > SepToDay) {
                    $('#ErrorSepMonth').html(Message);
                    $("#SepFromDay").val("");
                    $("#SepToDay").val("");
                    return false;
                }
                else
                    $('#ErrorSepMonth').html("");
            }

            var OctFromDay = document.getElementById('OctFromDay').value;
            var OctToDay = document.getElementById('OctToDay').value;
            if (OctFromDay != "" && OctToDay != "")
            {
                if (OctFromDay.toString().length < 2)
                    OctFromDay = "0" + OctFromDay;

                if (OctToDay.toString().length < 2)
                    OctToDay = "0" + OctToDay;

                if (OctFromDay > OctToDay) {
                    $('#ErrorOctMonth').html(Message);
                    $("#OctFromDay").val("");
                    $("#OctToDay").val("");
                    return false;
                }
                else
                    $('#ErrorOctMonth').html("");
            }

            var NovFromDay = document.getElementById('NovFromDay').value;
            var NovToDay = document.getElementById('NovToDay').value;
            if (NovFromDay != "" && NovToDay != "")
            {
                if (NovFromDay.toString().length < 2)
                    NovFromDay = "0" + NovFromDay;

                if (NovToDay.toString().length < 2)
                    NovToDay = "0" + NovToDay;

                if (NovFromDay > NovToDay) {
                    $('#ErrorNovMonth').html(Message);
                    $("#NovFromDay").val("");
                    $("#NovToDay").val("");
                    return false;
                }
                else
                    $('#ErrorNovMonth').html("");
            }

            var DecFromDay = document.getElementById('DecFromDay').value;
            var DecToDay = document.getElementById('DecToDay').value;
            if (DecFromDay != "" && DecToDay != "")
            {
                if (DecFromDay.toString().length < 2)
                    DecFromDay = "0" + DecFromDay;

                if (DecToDay.toString().length < 2)
                    DecToDay = "0" + DecToDay;

                if (DecFromDay > DecToDay) {
                    $('#ErrorDecMonth').html(Message);
                    $("#DecFromDay").val("");
                    $("#DecToDay").val("");
                    return false;
                }
                else
                    $('#ErrorDecMonth').html("");
            }

            var JanFromDay = document.getElementById('JanFromDay').value;
            var JanToDay = document.getElementById('JanToDay').value;
            if (JanFromDay != "" && JanToDay != "")
            {
                if (JanFromDay.toString().length < 2)
                    JanFromDay = "0" + JanFromDay;

                if (JanToDay.toString().length < 2)
                    JanToDay = "0" + JanToDay;

                if (JanFromDay > JanToDay) {
                    $('#ErrorJanMonth').html(Message);
                    $("#JanFromDay").val("");
                    $("#JanToDay").val("");
                    return false;
                }
                else
                    $('#ErrorJanMonth').html("");
            }

            var FebFromDay = document.getElementById('FebFromDay').value;
            var FebToDay = document.getElementById('FebToDay').value;
            if (FebFromDay != "" && FebToDay != "")
            {
                if (FebFromDay.toString().length < 2)
                    FebFromDay = "0" + FebFromDay;

                if (FebToDay.toString().length < 2)
                    FebToDay = "0" + FebToDay;

                if (FebFromDay > FebToDay) {
                    $('#ErrorFebMonth').html(Message);
                    $("#FebFromDay").val("");
                    $("#FebToDay").val("");
                    return false;
                }
                else
                    $('#ErrorFebMonth').html("");
            }

            var MarFromDay = document.getElementById('MarFromDay').value;
            var MarToDay = document.getElementById('MarToDay').value;
            if (MarFromDay != "" && MarToDay != "")
            {
                if (MarFromDay.toString().length < 2)
                    MarFromDay = "0" + MarFromDay;

                if (MarToDay.toString().length < 2)
                    MarToDay = "0" + MarToDay;

                if (MarFromDay > MarToDay) {
                    $('#ErrorMarMonth').html(Message);
                    $("#MarFromDay").val("");
                    $("#MarToDay").val("");
                    return false;
                }
                else
                    $('#ErrorMarMonth').html("");
            }

        });

        $("#ddlDocumentName").change(function () {
            debugger
            var  OpenCloseTypeID=encodeURIComponent($("#ddlDocumentName").val());
            if (OpenCloseTypeID=="")
            {
                $("#ErrorDocumentName").html("Select Type");return false;
            }
            else{
                var url = '@Url.Action("Setting_IncomeTax_MonthWiseDoc", "Setting_IncomeTax_MonthWiseDoc")?OpenCloseTypeID=' + OpenCloseTypeID;
                window.location.href = url;
            }
          
        });

    });

</script>
<script>

    jQuery.validator.addMethod(
   "regex",
    function(value, element, regexp) {
        if (regexp.constructor != RegExp)
            regexp = new RegExp(regexp);
        else if (regexp.global)
            regexp.lastIndex = 0;
        return this.optional(element) || regexp.test(value);
    },"erreur expression reguliere"
 );
    $("#SaveDocSetting").validate({
        rules: {
            OpenCloseTypeID: {
                required: true,
            },
        },
        messages: {
            OpenCloseTypeID: {
                required: "Type is required",
            },
        }
    });

    var form = $("#SaveDocSetting");
    form.validate();
    $("#btnSubmit").click(function (e) {
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        debugger;
        $("#SaveDocSetting").submit();
    });
</script>
