@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_PayrollFine
@{
    ViewBag.Title = "Module_Payroll_FineAndPenalty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<style>
    .tblAddData td:nth-child(2) {
        display: none;
    }

    /*.tblAddData td:nth-child(6) {
        display: none;
    }

    .tblAddData td:nth-child(7) {
        display: none;
    }*/

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu", new { id = 6, area = "Module" })">Payroll Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Fine And Penalty </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Fine And Penalty  - Add @*<b>@ViewBag.AddUpdateTitle</b>*@  </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add fine and penalty here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Module_Payroll_FineAndPenalty", "Module_Payroll_FineAndPenalty", new { area = "Module" })' id="SaveFineAndPenalty" method="post">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Doc Date

                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", name = "DocDate", type = "date", id = "txtDocDate" })
                                                @Html.HiddenFor(model => model.PayrollFineID_Encrypted, new { id = "PayrollFineID_Encrypted" })
                                                @Html.HiddenFor(model => model.PayrollFineID)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-3">
                                                Paid Month /Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.PayrollFineMonthYear, new { @class = "form-control", type = "month", id = "datePayrollFineMonthYear", autocomplete = "Off", Name = "PayrollFineMonthYear" })
                                                @Html.ValidationMessageFor(model => model.PayrollFineMonthYear, "", new { @class = "help-block", @id = "ErrorPayrollFineMonthYear", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.GetCompanyName, "Id", "Name"), "--Select--", new { id = "ddlCmpID", @class = "form-select", name = "CmpID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.PayrollFineBranchID, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { id = "ddlPayrollFineBranchID", @class = "form-select", name = "PayrollFineBranchID" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Employee Name
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.PayrollFineEmployeeId, new SelectList(ViewBag.GetEmployeeList, "Id", "Name"), "--Select--", new { id = "ddlPayrollFineEmployeeId", @class = "form-select", autocomplete = "off", name = "PayrollFineEmployeeId" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                            </label>
                                            <div class="col-md-2">
                                                <button type="button" id="btnLoadEmployee" onclick="GetOtherEarning()"
                                                        class="btn btn-primary btn-sm">
                                                    <i class="fa-thin fa-user-magnifying-glass"></i>Load
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN table-responsive -->
                                    <div class="table-scroll div1">
                                        <div class="table-wrap">
                                            <table class="table table-bordered align-middle tblAddData TablePage5" id="tblFinePenaltyHead" style="width: 100%;">
                                                <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                    <tr class="text-center">
                                                        <th class="text-nowrap text-center" style="border-color:black !important;"> Employee No</th>
                                                        <th hidden class="text-nowrap"> Employee Id</th>
                                                        <th class="text-nowrap text-center" style="border-color:black !important;"> Employee Name </th>
                                                        <th class="text-nowrap text-center" style="border-color:black !important;"> Amount</th>
                                                        <th class="text-nowrap text-center" style="border-color:black !important;"> Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblEmployeeListFinePenalty">
                                                    @foreach (var d in ViewBag.GetPayrollFineLoad)
                                                    {
                                                        <tr>
                                                            <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.EmployeeNo</td>
                                                            <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.EmployeeId</td>
                                                            <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.EmployeeName</td>
                                                            <td class="text-nowrap" style="background-color:white !important; border-color:black !important;"><input type='number' autocomplete='Off' id='txttableAmount' style="text-align:right; height:23px;  background-color:white !important; border-color:black !important; " class='form-control Amounttxt' onkeyup='AmountSum()'></td>
                                                            <td class="text-nowrap" style="background-color:white !important; border-color:black !important;"><input type="text" id='txttableRemark' style="height:23px;  background-color:white !important; border-color:black !important; " class='form-control Remarktxt'></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                @*<div class="col-md-4">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Employee No
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.PayrollFineAmount, new { @class = "form-control", type = "text", id = "txtOtherEarning", autocomplete = "Off", Name = "OtherEarningAmount" })
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Total Record  :
                                        </label>

                                        <div class="col-md-9">
                                            <input type='text' id='lblTotalRecord' class='form-control' readonly="readonly" style="background:#eee">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-3">
                                            Total Amount :
                                        </label>
                                        <div class="col-md-9">
                                            <input type='text' id='lblTotalAmount' class='form-control' readonly="readonly" style="background:#eee">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Amount
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.PayrollFineAmount, new { @class = "form-control totalAmount", type = "text", id = "txtPayrollFineAmount", Name = "PayrollFineAmount", @style = "text-align:right", onkeypress = " return numbervalidate(event)" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                            Remark
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PayrollFineRemarks, new { @class = "form-control", type = "text", id = "txtPayrollFineRemarks", autocomplete = "Off", Name = "txtPayrollFineRemarks" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="BtnBx">
                                        <div>
                                            <button type="button" id="btnApply"
                                                    class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-floppy-disk"></i> Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="LastShortLeaveBx">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit"
                                                            class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-floppy-disk"></i> Submit
                                                    </button>
                                                    <a href="@Url.Action("GetList", "Module_Payroll_FineAndPenalty", new { area = "Module" })">
                                                        <button type="button"
                                                                class="btn btn-danger btn-sm" id="btnGetOtherEarningList">
                                                            <i class="fa-solid fa-share-from-square"></i>
                                                            List
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //$('#tblFinePenaltyHead').DataTable({
        //    scrollY: 300,
        //    scrollCollapse: true,
        //    paging: false,
        //    scrollX: true,
        //    searching: true, // Enable searching
        //});
        $("#ddlCmpID").select2();
        $("#ddlPayrollFineBranchID").select2();
        $("#ddlPayrollFineEmployeeId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }
        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#txtDocDate").val(dateString);


        $("#ddlCmpID").on("change", function () {
            $("#ddlPayrollFineBranchID").find("option").remove();
            var CmpId = $("#ddlCmpID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Module_Payroll_FineAndPenalty")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlPayrollFineBranchID").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlPayrollFineBranchID").append("<option value='" + p.BranchId +"'>" + p.BranchName +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })


        $("#ddlPayrollFineBranchID").on("change", function () {
            debugger
            $("#ddlPayrollFineEmployeeId").find("option").remove();
            var BranchId = $("#ddlPayrollFineBranchID").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Module_Payroll_FineAndPenalty")',
                data: { BranchId: BranchId },
                success: function (data) {
                    if (data !=null) {
                        $("#ddlPayrollFineEmployeeId").append("<option value=''>All </option>");
                        $.each(data, function(i, p) {
                            $("#ddlPayrollFineEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

        var GetOtherEarningEmployeeLoad = @Html.Raw(Json.Encode(ViewBag.GetPayrollFineLoad));
        var OtherEarninglength=GetOtherEarningEmployeeLoad.length;
        debugger;
        if(GetOtherEarningEmployeeLoad=="")
        {
            $("#lblTotalRecord").val("0");
        }
        else{
            $("#lblTotalRecord").val(OtherEarninglength);
        }

    });//Ready Funcation

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#SaveFineAndPenalty').validate({
        rules: {
            CmpID: {
                required: true,
            },
            PayrollFineBranchID: {
                required: true,
            },
            PayrollFineMonthYear: {
                required: true,
            },
        },
        messages: {
            CmpID: {
                required: "Company name is required",
            },
            PayrollFineBranchID: {
                required: "Business unit is required",
            },

            PayrollFineMonthYear: {
                required: "Paid Month /Year is required",
            },
        },
    });

    var form = $("#SaveFineAndPenalty");
    form.validate();
    function GetOtherEarning() {
        debugger;
        form.valid();
        if (form.valid() == false) {
            $("#datePayrollFineMonthYear").removeClass("error");
            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#SaveFineAndPenalty").submit();
    }
</script>


<script>
    $("#btnSubmit").click(function () {
        debugger;
        var DocDate=$("#txtDocDate").val();
        var PayrollFineMonthYear=$("#datePayrollFineMonthYear").val();
        var CmpID=$("#ddlCmpID").val();
        var PayrollFineBranchID=$("#ddlPayrollFineBranchID").val();
        var PayrollFineID_Encrypted=$("#PayrollFineID_Encrypted").val();
        var table = document.getElementById("tblEmployeeListFinePenalty");
        var rowCount = table.rows.length;
        var Record = [];
        debugger;
        for (i = 0; i <= rowCount-1; i++) {
            debugger;
            var data = {};
            data.PayrollFineEmployeeId = table.rows[i].cells[1].textContent;
            var LblValue = table.rows.item(i).cells;
            data.PayrollFineAmount = LblValue[3].firstChild.value;
            data.PayrollFineRemarks =LblValue[4].firstChild.value;
            Record.push(data);
        }
        $.ajax({
            type:"POST",
            url:'@Url.Action("IsFineAndPenaltyExists", "Module_Payroll_FineAndPenalty")',
            data:JSON.stringify({Record:Record,CmpID:CmpID,PayrollFineBranchID:PayrollFineBranchID,PayrollFineMonthYear:PayrollFineMonthYear,PayrollFineID_Encrypted:PayrollFineID_Encrypted,DocDate:DocDate}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success:function(response){
                debugger;
                var DATA = JSON.parse(response);
                var Message1 = DATA.Message;
                var Icon1 = DATA.Icon;
                if (Icon1=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{

                    debugger;
                    var table = document.getElementById("tblEmployeeListFinePenalty");
                    var rowCount = table.rows.length;
                    var Record = new Array();
                    debugger;

                    for (i = 0; i <= rowCount-1; i++) {
                        debugger;
                        var data = {};
                        data.OtherEarningEmployeeId = table.rows[i].cells[1].textContent;
                        var LblValue = table.rows.item(i).cells;
                        data.PayrollFineAmount = LblValue[3].firstChild.value;
                        data.PayrollFineRemarks =LblValue[4].firstChild.value;
                        Record.push(data);
                    }
                    debugger;
                    $.ajax({
                        type:"POST",
                        url:'@Url.Action("SaveUpdate", "Module_Payroll_FineAndPenalty")',
                        data:JSON.stringify({Record:Record,CmpID:CmpID,PayrollFineBranchID:PayrollFineBranchID,PayrollFineMonthYear:PayrollFineMonthYear,PayrollFineID_Encrypted:PayrollFineID_Encrypted,DocDate:DocDate}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success:function(response){
                            var data =  JSON.parse(response);
                            var Message1 = data.Message;
                            var Icon1 = data.Icon;
                            if (data !=null) {
                                if (Message1 != null) {

                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            // return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("Module_Payroll_FineAndPenalty", "Module_Payroll_FineAndPenalty")';
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })

                                }
                            }
                        }
                    });
                }
            }
        });
    });
</script>

<script>
    $("#btnApply").click(function () {
        debugger;
        //For  Amonut===============================================
        var table = document.getElementById("tblEmployeeListFinePenalty");
        debugger;
        var rowCount = table.rows.length;
        for (i = 0; i <= rowCount-1; i++) {
            var LblValue = table.rows.item(i).cells;
            var ValueAmount= LblValue[3].firstChild.value;

            if(ValueAmount!="")
            {
                $(".Amounttxt").val();
            }
                //else if (ValueAmount === '')
                //{
                //    var txtAmount=$("#txtPayrollFineAmount").val();
                //    table.rows.item(i).cells.val(txtAmount);
                //      //  var t = $(this).find("input[type=number]");
                //}
            else
            {
                var txtAmount=$("#txtPayrollFineAmount").val();
                $(".Amounttxt").val(txtAmount);

                $("#txtPayrollFineAmount").val("");
            }
        }

        //For  Remark============================================================
        var tableRemark=  $("#txttableRemark").val();
        if(tableRemark!="")
        {
            $("#txttableRemark").val();
        }
        else{
            var txtRemark=$("#txtPayrollFineRemarks").val();
            $(".Remarktxt").val(txtRemark);
            $("#txtPayrollFineRemarks").val("");
        }

        //For Total Amount==========================================================
        var table = document.getElementById("tblEmployeeListFinePenalty");
        debugger;
        $("#lblTotalAmount").val("");
        var rowCount = table.rows.length;
        for (i = 0; i <= rowCount-1; i++) {
            debugger;
            var lblValueAmount=$("#lblTotalAmount").val();
            var LblValue = table.rows.item(i).cells;
            var ValueAmount=PayrollFineRemarks =LblValue[3].firstChild.value;
            var sum= 0;
            var AmountA = Number(lblValueAmount);
            var AmountB = Number(ValueAmount);
            var sum = AmountA+AmountB;
            $('#lblTotalAmount').val(sum);
        }

    })

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }

    function AmountSum(){
        debugger;
        $('#lblTotalAmount').val("");
        var table = document.getElementById("tblEmployeeListFinePenalty");
        debugger;
        var rowCount = table.rows.length;
        for (i = 0; i <= rowCount-1; i++) {
            debugger;
            var lblValueAmount=$("#lblTotalAmount").val();
            var LblValue = table.rows.item(i).cells;
            var ValueAmount=PayrollFineRemarks =LblValue[3].firstChild.value;
            var sum= 0;
            var AmountA = Number(lblValueAmount);
            var AmountB = Number(ValueAmount);
            var sum = AmountA+AmountB;
            $('#lblTotalAmount').val(sum);
        }
    }

</script>






