@model KompassHR.Areas.ESS.Models.ESS_PMS.PMS_CompanyObjectiveCreation
@{
    ViewBag.Title = "ESS_PMS_CompanyObjectiveCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //int currentYear = DateTime.Now.Year;
    //var yearList = new List<SelectListItem>
    //{
    //    new SelectListItem { Text = "-- Select Year --", Value = "" },
    //    new SelectListItem { Text = currentYear.ToString(), Value = currentYear.ToString(), Selected = true },
    //    new SelectListItem { Text = (currentYear + 1).ToString(), Value = (currentYear + 1).ToString() }
    //};
}


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }

 
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Company Objectives Creation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "ESS_PMS_CompanyObjectiveCreation",  new { id = 11,ScreenId=600, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Smart Goals - @ViewBag.AddUpdateTitle </h4>
                    <!-- Panel buttons -->
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">This form is for creating company goals within the PMS system.</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="@Url.Action("SaveUpdate", "ESS_PMS_CompanyObjectiveCreation", new { area = "ESS" })" id="SaveCompanyObjective" method="post" enctype="multipart/form-data">
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row align-items-center">
                                            <label class="form-label col-form-label col-md-2">
                                                Year <span class="important">*</span>
                                            </label>

                                            <!-- Year dropdown -->
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.YearId,
                    new SelectList(ViewBag.YearList, "Id", "Name"),
                    "--Select--",
                    new { id = "Year", @class = "form-select", name = "YearId" })
                                                @Html.HiddenFor(model => model.CompanyObjectiveCreationId_Encrypted,
                    new { id = "CompanyObjectiveCreationId_Encrypted" })
                                            </div>

                                            <!-- Objective count text aligned nicely -->
                                            <div class="col-md-7 d-flex align-items-center">
                                                <div style="background:#f5f9ff; border-left:4px solid #007bff;
                padding:8px 14px; border-radius:6px; font-size:13px;
                color:#333; font-style:italic; box-shadow:0 1px 3px rgba(0,0,0,0.08);">
                                                    @if (ViewBag.YearObjectiveList != null)
                                                    {
                                                        foreach (var item in ViewBag.YearObjectiveList)
                                                        {
                                                            <div style="margin-bottom:4px;">
                                                                <i class="fa fa-bullseye" style="color:#007bff; margin-right:6px;"></i>
                                                                <strong>(@item.PMS_Year)</strong> - @item.ObjectiveCount objectives have been created.
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>



                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Objective Title <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ObjectiveTitle, new
                                           {
                                               id = "txtObjectiveTitle",
                                               @class = "form-control",
                                               autocomplete = "off",
                                               onkeypress = "return validateText(event,this)",
                                               oninput = "cleanText(this)"
                                           })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-2">
                                                Goal Title <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @*@Html.TextBoxFor(model => model.GoalTitle, new { id = "txtGoalTitle", name = "GoalTitle", @class = "form-control", autocomplete = "Off" })*@
                                 @Html.TextBoxFor(model => model.GoalTitle, new
                            {
                                id = "txtGoalTitle",
                                @class = "form-control",
                                autocomplete = "off",
                                onkeypress = "return validateText(event,this)",
                                oninput = "cleanText(this)"
                            })
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Goal Type <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.GoalType, new List<SelectListItem>{
                                                    new SelectListItem {Text ="Departmental", Value="Departmental"},
                                                    new SelectListItem {Text ="Individual", Value="Individual"},
                                                    new SelectListItem {Text ="Team", Value="Team"},
                                                    new SelectListItem {Text ="Developmental", Value="Developmental"},
                                                    new SelectListItem {Text ="Financial", Value="Financial"} // Fixed duplicate value
                                                }, "--Select--", new { @class = "form-select", name = "GoalType", @id = "txtGoalType" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Goal Category <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.GoalCategory, new List<SelectListItem>{
                                                    new SelectListItem {Text ="Functional/Job-related", Value="Functional/Job-related"},
                                                    new SelectListItem {Text ="Learning & Development", Value="Learning & Development"},
                                                    new SelectListItem {Text ="Leadership/Behavioral", Value="Leadership/Behavioral"},
                                                    new SelectListItem {Text ="Innovation", Value="Innovation"},
                                                    new SelectListItem {Text ="Contribution to Team Goals", Value="Contribution to Team Goals"}
                                                }, "--Select--", new { @class = "form-select", name = "GoalCategory", @id = "txtGoalCategory" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Smart Goal <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.SmartGoal, new { id = "txtSmartGoal", name = "SmartGoal", @class = "summernote", style = "border: 2px solid #000; padding: 10px;", contenteditable = "true" })


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Department
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentList, "DepartmentId", "DepartmentName"), "--Select--", new { id = "ddlDepartmentId", @class = "form-select", autocomplete = "off", name = "DepartmentId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Target Type <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TargetType, new SelectList(ViewBag.TragetTypeList, "Name", "Name"), "--Select--", new { @class = "form-select", @id = "txtTargetType" })


                                                @*@Html.DropDownListFor(model => model.TargetType, new List<SelectListItem>{
                                                    new SelectListItem {Text ="Monthly", Value="Monthly"},
                                                    new SelectListItem {Text ="Quarterly", Value="Quarterly"},
                                                    new SelectListItem {Text ="Biannually", Value="Biannually"},
                                                    new SelectListItem {Text ="Annually", Value="Annually"},
                                                    new SelectListItem {Text ="Custom", Value="Custom"}
                                                }, "--Select--", new { @class = "form-select", name = "TargetType", @id = "TargetType1" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row align-items-center">
                                            <label class="form-label col-form-label col-md-4" for="Target">
                                                Target <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Target, new { id = "txtTarget", @class = "form-control", placeholder = "Enter target value" })
                                                <span id="teamtarget"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row align-items-center">
                                            <label class="form-label col-form-label col-md-4" for="UOM">
                                                UOM <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @*@Html.TextBoxFor(model => model.UOM, new { id = "txtUOM", @class = "form-control", placeholder = "e.g., Percentage, Number" })*@
                                                @Html.DropDownListFor(model => model.UOM, new SelectList(ViewBag.UOMList, "Name", "Name"), "--Select--", new { @class = "form-select", @id = "txtUOM" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Start Date <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new
           {
               id = "txtStartDate",
               name = "StartDate",
               @class = "form-control",
               type = "date",
               onchange = "validateDates()"
           })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                End Date <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new
           {
               id = "txtEndDate",
               name = "EndDate",
               @class = "form-control",
               type = "date",
               onchange = "validateDates()"
           })
                                                <span id="endDateError" style="color:red;font-size:13px;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Goal Owner
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("GoalOwnerSelect", new SelectList(ViewBag.EmployeeList, "EmployeeId", "EmployeeName"), "--Select--", new { id = "ddlGoalOwner", @class = "form-select", multiple = "multiple", autocomplete = "off" })
                                                @Html.HiddenFor(model => model.GoalOwner, new { id = "GoalOwnerHidden" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="SubmitBtn" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" id="btnGetList" class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

      $(document).ready(function () {
var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlGoalOwner").on('change', function () {
            debugger
            selectedGoalOwners = $(this).val() || [];
            $("#GoalOwnerHidden").val(selectedGoalOwners.join(','));
            console.log("Selected Goal Owners:", selectedGoalOwners.join(',')); // For debugging
        });



    });
        $(document).ready(function () {
            $("#ddlDepartmentId").select2();
            $("#TargetType").select2();
            $("#ddlGoalOwner").select2({
                placeholder: "Select Goal Owners",
                allowClear: true
            });


        });

    debugger
        var goalOwner = $("#GoalOwnerHidden").val();
        var GoalCategory=$("#txtGoalCategory").val();
        if (goalOwner) {
            selectedGoalOwners = goalOwner.split(',').filter(id => id);
            $("#ddlGoalOwner").val(selectedGoalOwners).trigger('change');
        }

        //function validateDateRange() {
        //    debugger;
        //    var targetType = $("#TargetType1").val();
        //    var startDateInput = $("#txtStartDate").val();
        //    var endDateInput = $("#txtEndDate").val();

        //    // Skip validation if any field is empty
        //    if (!targetType || !startDateInput || !endDateInput) {
        //        return true; // Allow submission if fields are empty (validation handled by jQuery validate)
        //    }

        //    var startDate = new Date(startDateInput);
        //    var endDate = new Date(endDateInput);
        //    var $endDateParent = $("#txtEndDate").parent();
        //    var errorClass = "error";
        //    var errorMessageId = "targetTypeError";

        //    // Remove any existing custom error message
        //    $endDateParent.find(`#${errorMessageId}`).remove();
        //    $("#txtEndDate").removeClass(errorClass);

        //    // Check if dates are valid
        //    if (isNaN(startDate) || isNaN(endDate)) {
        //        return true; // Let jQuery validate handle empty/invalid dates
        //    }

        //    // Calculate difference in days (inclusive of start date)
        //    var diffTime = endDate - startDate;
        //    var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1; // +1 to include both start and end dates
        //    var isValid = true;
        //    var errorMessage = "";

        //    // Validate date range based on TargetType
        //    switch (targetType) {
        //        case "Monthly":
        //            isValid = diffDays >= 28 && diffDays <= 32; // Adjusted to allow 31 days
        //            errorMessage = "Duration must be between 28 and 31 days for Monthly targets.";
        //            break;
        //        case "Quarterly":
        //            isValid = diffDays >= 90 && diffDays <= 93;
        //            errorMessage = "Duration must be between 90 and 92 days for Quarterly targets.";
        //            break;
        //        case "Biannually":
        //            isValid = diffDays >= 180 && diffDays <= 185;
        //            errorMessage = "Duration must be between 180 and 184 days for Biannually targets.";
        //            break;
        //        case "Annually":
        //            isValid = diffDays >= 360 && diffDays <= 367;
        //            errorMessage = "Duration must be between 360 and 366 days for Annually targets.";
        //            break;
        //        case "Custom":
        //            isValid = diffDays > 0;
        //            errorMessage = "End date must be after start date for Custom targets.";
        //            break;
        //        default:
        //            isValid = true;
        //    }

        //    // Display or clear error message
        //    if (!isValid) {
        //        var errorHtml = `<label id="${errorMessageId}" class="${errorClass}" style="color: red; font-size: 12px; text-align: left; height: 25px;">${errorMessage}</label>`;
        //        $endDateParent.append(errorHtml);
        //        $("#txtEndDate").addClass(errorClass);
        //    }

        //    return isValid;
        //}
        $("#SaveCompanyObjective").validate({
            rules: {
                YearId: {
                    required: true
                },
                ObjectiveTitle: {
                    required: true,
                    maxlength: 255
                },
                GoalTitle: {
                    required: true,
                    maxlength: 255
                },
                GoalType: {
                    required: true
                },
                GoalCategory: {
                    required: true
                },
                SmartGoal: {
                    required: true
                },
                TargetType: {
                    required: true
                },
                StartDate: {
                    required: true
                },
                EndDate: {
                    required: true
                }
            },
            messages: {
                YearId: {
                    required: "Please select a year."
                },
                ObjectiveTitle: {
                    required: "Please enter an objective title.",
                    maxlength: "Objective title cannot exceed 255 characters."
                },
                GoalTitle: {
                    required: "Please enter a goal title.",
                    maxlength: "Goal title cannot exceed 255 characters."
                },
                GoalType: {
                    required: "Please select a goal type."
                },
                GoalCategory: {
                    required: "Please select a goal category."
                },
                SmartGoal: {
                    required: "Please enter a smart goal."
                },
                TargetType: {
                    required: "Please select a target type."
                },
                StartDate: {
                    required: "Please select a start date."
                },
                EndDate: {
                    required: "Please select an end date."
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
            },
            highlight: function (element) {
                $(element).addClass("error");
            },
            unhighlight: function (element) {
                $(element).removeClass("error");
            }
        });


    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
    var form = $("#SaveCompanyObjective");
    form.validate();
    $(document).ready(function () {
        debugger

        $("#SubmitBtn").on("click", function () {
            debugger
            form.valid();
            debugger
            if (form.valid() == false) {
                return false;
            }

            //if (!validateDateRange(true)) {
            //    // Prevent submission and show error message
            //    return false;
            //}
                var objectiveTitle = $("#txtObjectiveTitle").val();
                var goalCreationIDEncrypted = "@ViewBag.GoalCreationIDEncrypted" || ""; // Adjust based on how GoalCreationIDEncrypted is provided

                $.ajax({
                    url: "@Url.Action("IsObjectiveTitleExists", "ESS_PMS_CompanyObjectiveCreation", new { area = "ESS" })",
                    type: "GET",
                data: {
                    ObjectiveTitle: objectiveTitle,
                    GoalCreationIDEncrypted: goalCreationIDEncrypted
                },
                success: function (response) {
                    debugger
                    if (response === true) {
                        validationMethod();
                    } else if (response.Message && response.Icon) {
                        swal({
                            title: "Validation Error",
                            text: response.Message,
                            icon: response.Icon
                        });
                    } else {
                        swal("Error!", "Unable to validate objective title.", "error");
                    }
                },
                error: function () {
                    swal("Error!", "An error occurred while validating the objective title.", "error");
                }
            });

        });
    });


    $("#btnGetList").on("click", function () {
        debugger
        window.location.href = "@Url.Action("GetList", "ESS_PMS_CompanyObjectiveCreation", new { area = "ESS" })";
    });
        function validationMethod() {
            debugger
        var form = $("#SaveCompanyObjective");
                form.submit();
        }

        function validateText(e, element) {
            var char = String.fromCharCode(e.which);

            // Prevent first space
            if (char === " " && element.value.length === 0) {
                return false;
            }

            // Allow only letters, numbers and space
            if (!/^[a-zA-Z0-9 ]$/.test(char)) {
                return false;
            }

            return true;
        }

        function cleanText(element) {
            // Remove leading space
            element.value = element.value.replace(/^\s+/, '');

            // Remove emoji or special characters if pasted
            element.value = element.value.replace(/[^a-zA-Z0-9 ]/g, '');
        }

        function validateDates() {

            var startDate = document.getElementById("txtStartDate").value;
            var endDate = document.getElementById("txtEndDate").value;
            var errorSpan = document.getElementById("endDateError");

            errorSpan.innerHTML = "";

            if (startDate && endDate) {
                if (endDate < startDate) {
                    errorSpan.innerHTML = "End Date cannot be earlier than Start Date";
                    document.getElementById("txtEndDate").value = "";
                }
            }
        }
</script>