@model KompassHR.Areas.ESS.Models.ESS_FNF.FNF_EmployeeResignation
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "ESS_FNF_Resignation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a = ViewBag.EmployeeDetails;
    string today = DateTime.Now.ToString("yyyy-MM-dd");
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<!-- Summernote CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs5.min.css" rel="stylesheet">

<!-- Summernote JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs5.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #0d68cb;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
    /* Custom large modal */
    .modal-xl {
        max-width: 90%; /* Adjust this value for larger size */
    }

    . /*app-loader.loaded {
        display: none !important;
    }*/
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Resignation
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_FNF_Menu", "ESS_FNF_Menu",  new { id = 7,ScreenId=168, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Resignation - @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Fill in below form for resignation here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Save", "ESS_FNF_Resignation", new { area = "ESS" })' method="post" id="SaveResignation" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empbx">
                                            <span>
                                                <h4> <i class="fa-solid fa-user"></i> @Session["EmployeeName"] -  @ViewBag.EmployeeDetails.EmployeeNo </h4>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-briefcase"></i>  @Session["DepartmentName"] / @Session["DesignationName"] </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @ViewBag.EmployeeDetails.JoiningDate - (@ViewBag.EmployeeDetails.WorkDuration ) </h6>
                                            </span>
                                            <span>
                                                <h6><i class="fa-solid fa-calendar"></i> @ViewBag.EmployeeDetails.GradeName </h6>
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> @ViewBag.EmployeeDetails.EndNoticePeriod </h6>
                                                @Html.HiddenFor(model => model.NoticePeriodDays, new { id = "DayMonth", value = @ViewBag.EmployeeDetails?.DayMonth })
                                                @Html.HiddenFor(model => model.NoticePeriodType, new { id = "NoticePeriodType" })
                                            </span>
                                            <span>
                                                <h6> <i class="fa-solid fa-calendar"></i> Notice Period End Date : @ViewBag.EmployeeDetails.NoticePeriodEndDate </h6>
                                                @Html.HiddenFor(model => model.NoticePeriodEndDate, new { id = "hdnNoticePeriodEndDate" })
                                            </span>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Resignation
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", type = "text", id = "txtDocNo", autocomplete = "Off", @readonly = "readonly", Value = @ViewBag.DocNo.DocNo, Style = "background-color: lightgray;" })
                                                @Html.HiddenFor(model => model.FnfId_Encrypted, new { id = "FnfID_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Reason <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.FnfReasonId, new SelectList(ViewBag.GetReasonName, "ReasonId", "ReasonName"), "--Select--", new { id = "FnfReasonId", @class = "form-select", autocomplete = "off", name = "Reason" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Resignation Date <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ResignationDate, new { @class = "form-control", type = "date", id = "dateResignationDate", autocomplete = "off" , Value = today , min = today, max = today })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Actual Last Working Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LastWorkingDate, new { @class = "form-control", name = "LastWorkingDate", type = "date", id = "dateLastWorkingDate" })
                                                <span id="errLastWorkingDate" style="color:red"></span>
                                             </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="col-md-2"></label>
                                            <div class="col-md-4">
                                                @Html.CheckBoxFor(model => model.IsImmediatelyRelieve)
                                                &nbsp;  <label class="form-check-label form-label">Does the Company Permit Immediate Relieving</label>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.CheckBoxFor(model => model.IsNoticePeriodPurchase)
                                                &nbsp;  <label class="form-check-label form-label">Is There an Option to Buy Out the Notice Period</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="form-label col-form-label col-md-4">
                                            Attachment
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="AssignFilePath" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Remark
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.Remark, new { @class = "summernote", style = "border: 1px solid #000;", id = "Remark", @required = "required", autocomplete = "Off", contenteditable = "true" })
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            For Future Communication Details
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Mobile Numer
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PrimaryMobile, new { @class = "form-control", name = "MobileNumer", type = "text", id = "txtMobileNumer", autocomplete = "Off", maxlength = "10", pattern = "\\d{10}", oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                E-Mail ID
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PersonalEmailId, new { @class = "form-control", name = "MailID", type = "email", id = "txtMailID", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Address
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.FullAddress, new { @class = "form-control", name = "Address", id = "txtAddress", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" hidden>
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="col-md-12">
                                                @Html.CheckBoxFor(model => model.AcceptTerms, new { @id = "ChkacceptTerms" })
                                                @*@Html.CheckBoxFor(model => model.AcceptTerms)*@
                                                &nbsp;  <label class="form-check-label form-label">I agree to the terms and conditions.</label><a href="#" id="readMoreLink" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#readMoreModal">Read More</a>
                                                <br /><span id="ErrorChkacceptTerms" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" align="right">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_FNF_Resignation", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetResignationList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="readMoreModal" tabindex="-1" aria-labelledby="readMoreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreModalLabel">Terms And Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Render content as raw HTML -->
                <div id="termsEditor"></div>
            </div>
            <div class="modal-footer">
                <!-- Footer with a close button -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Send Resignation Mail</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-3">
                                    <button type="button" id="btnReject" onclick="SendMail()" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-floppy-disk"> </i> Send Mail
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(document).ready(function() {
        debugger;
        $("#FnfReasonId").select2();
        var FnfEmpolyeeDetails = @Html.Raw(Json.Encode(ViewBag.EmployeeDetails));

        //$("#dateLastWorkingDate")

        var LastWorkingDate = @Html.Raw(Json.Encode(TempData["LastWorkingDate"] ?? ""));
        $("#dateLastWorkingDate").val(LastWorkingDate);
        $('#readMoreModal').on('shown.bs.modal', function () {
            debugger;
            var rawContent ='@Html.Raw(ViewBag.TermAndConditionName?.TermsAndConditionName ?? "")'
            if(rawContent!="")
            {
                $('#termsEditor').html(rawContent);
            }
            $('#termsEditor').summernote('disable');
        });

        $("#dateLastWorkingDate").on("change", function () {debugger;
            let lastWorking = new Date($(this).val());
            let resignation = new Date($("#dateResignationDate").val());
            let noticeEnd = new Date($("#hdnNoticePeriodEndDate").val());
            $("#errLastWorkingDate").text("");
            if ($(this).val() === "") {
                return;
            }
            // Validation 1: Last working date should NOT be greater than notice period end date
            if (lastWorking > noticeEnd) {debugger
                $("#errLastWorkingDate").text("Last working date cannot be greater than notice period end date.");
                return;
            }
            // Validation 2: Last working date should NOT be less than resignation date
            if (lastWorking < resignation) {debugger
                $("#errLastWorkingDate").text("Last working date cannot be less than resignation date.");
                return;
            }
        });

    });
</script>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null)     if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#myModal").modal('show');

                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {

                    }
                })
            }
        }

        $("#formReset").click(function () {
            $("#SaveResignation")[0].reset()
        });
    });
</script>

<script>

    $("#SaveResignation").validate({
        rules: {
            FnfEmployeeId: {
                required: true,
            },
            ResignationDate: {
                required: true,
            },
            FnfReasonId: {
                required: true,
            },
            LastWorkingDate :
                {
                    required:true,
                },
            //AcceptTerms:
            //    {
            //        required:true,
            //    },
        },
        messages: {

            FnfEmployeeId: {
                required: "Please select the Employee Name",
            },
            ResignationDate: {
                required: "Resignation date is required",
            },
            FnfReasonId: {
                required: "Please Select the reason",
            },
            LastWorkingDate:{
                required:"Actual Last Working Date is required",
            },
            //AcceptTerms:{
            //    required:"Select Terms And Conditions",
            //},
        },
        errorPlacement: function (error, element) {
            if (element.attr("id") === "acceptTerms") {
                error.insertAfter(element.next("label")); // Place error message below the checkbox
            } else {
                error.insertAfter(element); // Default placement for other fields
            }
        }

    });


    var form = $("#SaveResignation");
    form.validate();

    $("#btnSubmit").click(function () {
        // function SaveResignation() {
        //var isChecked = $("#ChkacceptTerms").prop('checked');
        //if (!isChecked) {
        //    $("#ErrorChkacceptTerms").html("You must accept the terms.");
        //    return false;
        //} else {
        //    $("#ErrorChkacceptTerms").html("");
        //}
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#dateResignationDate").removeClass('error');
            return false;
        }
        var FnfIDEncrypted=$("#FnfID_Encrypted").val();
        $.ajax({
            url: '@Url.Action("IsFnfResignationExists", "ESS_FNF_Resignation")',
            method:"get",
            data:{FnfIDEncrypted:FnfIDEncrypted},
            success:function(response){
                debugger;
                $(".Userloaderbg").css("display", "none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $(".Userloaderbg").css("display", "flex");
                    $("#SaveResignation").submit();
                    //   SendMail();

                }
            }
        });
        //}
    });
</script>
<script>
    $(".summernote").summernote({
        placeholder: 'Enter your Remark here...',
        height: 300,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['fullscreen']]
        ]
    });

    $(document).ready(function() {
        $(".Userloaderbg").css("display", "none");
        $('#readMoreModal').on('shown.bs.modal', function () {
            $('#termsEditor').summernote({
                height: 200, // Set editor height
                toolbar: false, // Disable the toolbar for read-only view
                disableDragAndDrop: true, // Disable dragging
                codeviewFilter: false,
                codeviewIframeFilter: true
            });

            // Set Summernote content as read-only
            $('#termsEditor').summernote('disable');
        });
    });

</script>

@*<script>
        function SendMail() {
            $.ajax({
                url: '@Url.Action("SendMail", "ESS_FNF_Resignation")',
                //  url:"SendMail",
                method:"get",
                data:{},
                success:function(response){
                    debugger;
                    var data1=JSON.stringify(response);
                    var data=JSON.parse(data1);
                    var Message1=data.Message;
                    var Icon1=data.Icon;

                    if (Message1 != null) { debugger
                        if (Icon1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                            $("#myModal").modal('hide');
                        }
                    }
                }

            })
        }
    </script>*@

<script>
    function model()
    {
        $("#myModal").modal('show');
    }
</script>
<script>
    $(document).ready(function () {

       
    });
</script>
