@model KompassHR.Areas.Setting.Models.Setting_Preboarding.Preboarding_GeneralSetting

@{
    ViewBag.Title = "Setting_Preboarding_GeneralSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Compulsory Link Setting
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Preboarding_Menu", "Setting_Preboarding_Menu", new { id = 2, ScreenId = 39, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Compulsory Link Setting - @ViewBag.AddUpdateTitle</h4>
                 
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define your preboarding Compulsory Link Setting like emails SMS template etc.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Preboarding_GeneralSetting", new { area = "Setting" })' id="SavePreboardingGeneralSetting" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Age Limit Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AgeLimitYear, new { @class = "form-control", type = "text", name = "AgeLimitYear", id = "txtAgeLimitYear", autocomplete = "Off", Maxlength = 4 })
                                                @Html.HiddenFor(model => model.PreGeneralSettingId_Encrypted)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Preboarding link Expiry(Days)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PreboardingLinkExpiryDays, new { @class = "form-control", type = "text", name = "PreboardingLinkExpiryDays", id = "txtPreboardingLinkExpiryDays", autocomplete = "Off", onkeypress = "return event.charCode >=48", Maxlength = 2 })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Preboarding Link
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PreboardingLink, new { @class = "form-control", type = "text", name = "PreboardingLink", id = "txtPreboardingLink", autocomplete = "Off" })

                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-md-6">
                                            <div class="row mb-15px">
                                                <div class="col-md-6 mt-10px">
                                                    @Html.CheckBoxFor(model => model.EmailBCC_IsRequired, new { id = "EmailBCC_IsRequired" })
                                                    <label class="form-check-label form-label">
                                                         BCC Is Required
                                                    </label>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>

                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Email Subject
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.Email_SubjectForPreboarding, new { @class = "form-control", type = "text", name = "Email_SubjectForPreboarding", id = "txtEmail_SubjectForPreboarding", autocomplete = "Off" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Email Body
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.Email_BodyPreboarding, new { @class = "form-control", type = "text", name = "remark", id = "txtEmail_BodyPreboarding", autocomplete = "Off" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <div class="col-md-6 mt-12px">
                                                    @Html.CheckBoxFor(model => model.IsSendSMS, new { id = "IsSendSMS" })
                                                    <label class="form-check-label form-label">
                                                           Send SMS
                                                    </label>
                                                </div>
                                                <div class="col-md-6 mt-12px">
                                                    @Html.CheckBoxFor(model => model.IsSendWhatsapp, new { id = "IsSendWhatsapp" })
                                                    <label class="form-check-label form-label">
                                                            Send SMS On Whatsapp
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    SMS Template
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.SMSTemplate, new { @class = "form-control", type = "text", name = "SMSTemplate", id = "txtSMSTemplate", autocomplete = "Off" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Joining Reminder To HR(Days)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ReporingToHrAlertDays_Reporting, new { @class = "form-control", type = "number", name = "ReporingToHrAlertDays_Reporting", id = "txtReporingToHrAlertDays_Reporting", autocomplete = "Off", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Alert Candidate Not Login(Days)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ReportingToHrAlertDays_CandidateNotLogin, new { @class = "form-control", type = "number", name = "ReportingToHrAlertDays_CandidateNotLogin", id = "txtReportingToHrAlertDays_CandidateNotLogin", autocomplete = "Off", onkeypress = "return event.charCode >=48" })

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        @*<button type="button" class="btn btn-danger btn-sm" id="btnPreboardingGeneralSettingGetList">
                                                                <i class="fa-solid fa-share-from-square"></i>List
                                                            </button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#formReset").click(function () {
            $("#SavePreboardingGeneralSetting")[0].reset();
        });

        @*$("#btnPreboardingGeneralSettingGetList").click(function () {
            var url = '@Url.Action("GetList", "Setting_Preboarding_GeneralSetting")';
            window.location.href = url;
        });*@

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });// Ready end
</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SavePreboardingGeneralSetting').validate({
        rules: {
            AgeLimitYear: {
                required: true,
            },
            PreboardingLinkExpiryDays: {
                required: true,
            },
            PreboardingLink: {
                required: true,
            },
            ReporingToHrAlertDays_Reporting: {
                required: true,
            },
            ReportingToHrAlertDays_CandidateNotLogin: {
                required: true,
            },


        },
        messages: {
            AgeLimitYear: {
                required:"Age Limit Year is required",
            },
            PreboardingLinkExpiryDays: {
                required:"Preboarding link valid days is required",
            },
            PreboardingLink: {
                required:"Preboarding link is required",
            },
            ReporingToHrAlertDays_Reporting: {
                required:"Joining reminder is required",
            },
            ReportingToHrAlertDays_CandidateNotLogin: {
                required:"Alert candidate not login is required",
            },

        },
    });
</script>