@model KompassHR.Areas.Module.Models.Module_Payroll.Payroll_ComplianceCalender

@{
    ViewBag.Title = "Module_Payroll_ComplianceCalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .note-editable {
        border: groove;
        font-size: 16px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Payroll Compliance calender
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Payroll_Menu", "Module_Payroll_Menu",  new {id =6, ScreenId=159, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title"> Payroll Compliance calender- @ViewBag.AddUpdateTitle</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Payroll Compliance calender
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Module_Payroll_ComplianceCalender", new { area = "Module" })' id="SaveComplianceCalender" method="post"  enctype="multipart/form-data">
                                @Html.HiddenFor(model => model.ComplianceCalenderId_Encrypted, new { id = "txtComplianceCalenderId_Encrypted" })
                                @Html.HiddenFor(model => model.ComplianceCalenderId, new { id = "txtComplianceCalenderId" })

                                @*<div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No.
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => Model.DocNo, new { @class = "form-control mb-5px", @id = "txtDocNo", @readonly = "readonly", Value = @ViewBag.DocNo, Style = "background-color: #eee;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Due Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control", id = "txtDueDate", name = "DueDate", autocomplete = "Off", type = "date", @readonly = "readonly", Style = "background-color: #eee;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Compliance Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ComplianceName,
                                               new { id = "txtComplianceName", @class = "form-control", autocomplete = "off", name = "ComplianceName" })
                                               </div>
                                            </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Compliance Category
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ComplianceCategoryId, new SelectList(ViewBag.ComplianceCategory, "Id", "Name"), "Select", new { id = "ddlComplianceCategoryId", @class = "form-select", autocomplete = "off", name = "ComplianceCategoryId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                            
                                    <div class="col-md-6">
                                        <div class="row align-items-center">
                                            <label class="form-label col-form-label col-md-4">
                                                Authority Person
                                             <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.EmployeeIds, new SelectList(ViewBag.EmployeeList, "Id", "Name"), "--Select--", new { id = "ddlEmployeeId", @class = "form-select", multiple = "multiple", autocomplete = "off" })
                                                @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.EmployeeList, "Id", "Name"), "--Select--", new { id = "EmployeeId", @class = "form-select", autocomplete = "off", style = "display: none;" })

                                            </div>
                                        </div>
                                    </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-4">
                                                    Remark
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Remark, new { id = "txtRemark", @class = "form-control", autocomplete = "off", name = "Remark" })
                                                </div>
                                            </div>
                                        </div>
                           

                                        @*<div class="col-md-6">
                <div class="row">
                    <label class="form-label col-form-label col-md-4">
                        Status
                        <span class="important">*</span>
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Status,
                       new List<SelectListItem>
                       {
                         new SelectListItem { Text = "Select", Value = "" },
                         new SelectListItem { Text = "Private", Value = "1" },
                            new SelectListItem { Text = "Public", Value = "2" },
                        },
                       new { id = "ddlStatus", @class = "form-select", name = "Status" })
                    </div>

                </div>
            </div>*@

                                    </div>

                             

                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Complience Information
                                        </div>
                                    </div>
                                </div>

                             

                                @*<div class="row mb-15px">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Attachment
                                            </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="file" class="form-control" id="Attachment" name="Attachment" accept=".pdf">
                                                </div>
                                            </div>

                                            @if (Model != null && !string.IsNullOrEmpty(Model.Attachment))
                                            {
                                                <a href="@Url.Action("DownloadAttachment", "ESS_Curve_Reminder", new { DownloadAttachment = Model.Attachment })"
                                                   class="btn btn-sm btn-link">
                                                    <i class="fas fa-download"></i><label class="form-label col-form-label col-md-12" id="fileUploadFile-lbltext">@TempData["Attachment"]</label>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                End Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", id = "txtEndDate", name = "EndDate", autocomplete = "Off", type = "date", value = Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "" })
                                            </div>
                                        </div>
                                    </div>
                                    </div>*@

                                <div class="row mb-15px">
                                        <!-- Frequency -->
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-4">
                                                    Frequency <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.Frequency,
                                                  new List<SelectListItem>
                                                {
                                               //new SelectListItem { Text = "One Time", Value = "OneTime" },
                                               //new SelectListItem { Text = "Hourly", Value = "Hourly" },
                                               //new SelectListItem { Text = "Daily", Value = "Daily" },
                                               // new SelectListItem { Text = "Weekly", Value = "Weekly" },
                                               new SelectListItem { Text = "Monthly", Value = "Monthly" },
                                               new SelectListItem { Text = "Quarterly", Value = "Quarterly" },
                                               new SelectListItem { Text = "Yearly", Value = "Yearly" }
                                                 },
                                               "Select", new { @class = "form-select", name = "Frequency", id = "ddlFrequency" })
                                                </div>
                                            </div>
                                        </div>

                                        @*<!-- One Time Fields -->
                                        <div class="col-md-6" id="oneTimeFields" style="display:none;">
                                            <div class="row">
                                                <!-- Date -->
                                                <label class="form-label col-form-label col-md-2">
                                                    Date
                                                </label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.OneTimeDate,
                                                 new { @class = "form-control", type = "date", id = "txtDate", value = Model.OneTimeDate.HasValue ? Model.OneTimeDate.Value.ToString("yyyy-MM-dd") : "" })
                                                    @Html.ValidationMessageFor(model => model.OneTimeDate, "", new { @class = "text-danger", id = "OneTimeDateError" })

                                                </div>

                                                <!-- Time -->
                                                <label class="form-label col-form-label col-md-2">
                                                    Time
                                                </label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.Time,
                                                new
                                                {
                                                    @class = "form-control",
                                                    type = "time",
                                                    id = "txttime",
                                                    value = Model.Time.HasValue ? Model.Time.Value.ToString(@"hh\:mm") : ""
                                                })
                                                </div>

                                            </div>
                                        </div>

                                        <!-- Hourly Fields -->
                                        <div class="col-md-6" id="HourlyFields" style="display:none;">
                                            <div class="row">
                                                <!-- Hours -->
                                                <label class="form-label col-form-label col-md-4">
                                                    Hour
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.Hours, new SelectList(Enumerable.Range(1, 12)), "Select", new { @class = "form-control", id = "txtHours" })
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Daily Fields -->
                                        <div class="col-md-6" id="DailyFields" style="display:none;">
                                            <div class="row">
                                                <!-- Daily Time -->
                                                <label class="form-label col-form-label col-md-4">
                                                    Daily Time
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.DailyTime,
                                                new { @class = "form-control", type = "time", id = "txtDailyTime" })
                                                </div>
                                            </div>
                                        </div>*@


                                        <!----Weekly-->

                                        @*<div class="col-md-6" id="WeeklyFields" style="display:none;">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-4">
                                                    Days
                                                </label>

                                                <div class="col-md-8">
                                                    @{
                                                    var selectedDays = Model.WeeklyDays ?? new List<string>();
                                                    }

                                                    @foreach (var day in new[]
                                                 {
                                                        "Monday","Tuesday","Wednesday",
                                                         "Thursday","Friday","Saturday","Sunday"
                                                         })
                                                {
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           name="WeeklyDays"
                                                           value="@day"
                                                           id="day_@day"
                                                           @(selectedDays.Contains(day) ? "checked" : "") />
                                                    <label class="form-check-label" for="day_@day">
                                                        @day
                                                    </label>
                                                </div>
                                                }
                                                </div>
                                            </div>
                                        </div>*@

                                        <!-- Monthly Fields -->
                                        <div class="col-md-6" id="MonthlyFields" style="display:none;">
                                            <div class="row">
                                                <!-- Daily Time -->
                                                <label class="form-label col-form-label col-md-4">
                                                    Due Day
                                                </label>

                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.MonthDate,
                                                new { @class = "form-control", type = "number", id = "txtMonthDate"})
                                                   
                                                     @Html.ValidationMessageFor(model => model.MonthDate, "", new { @class = "text-danger", id = "monthDateError" })

                                                </div>
                                            </div>
                                        </div>

                                        <!-- Quarterly Fields -->
                                        @*<div class="col-md-6" id="QuarterlyFields" style="display:none;">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-4">
                                                    Due Date
                                                </label>
                                                <div class="col-md-8">*@
                                                    @*@Html.TextBoxFor(model => model.QuarterlyDate,
                                                new { @class = "form-control", type = "date", id = "txtQuarterlyDate", value = Model.QuarterlyDate.HasValue ? Model.QuarterlyDate.Value.ToString("yyyy-MM-dd") : "" })*@
                                                   
                                                    @*@Html.TextBoxFor(model => model.QuarterlyDate,
                                                   new{ @class = "form-control", @id = "txtQuarterlyDate", autocomplete = "off"})

                                                     @Html.ValidationMessageFor(model => model.QuarterlyDate, "", new { @class = "text-danger", id = "QuarterlyDateError" })

                                                </div>

                                            </div>
                                        </div>*@


                                      <div class="col-md-6" id="QuarterlyFields" style="display:none;">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                               Due Date
                                            </label>
                                            <div class="col-md-8">
                                                @{
                                                    var quarters = new List<string> { "Q1", "Q2", "Q3", "Q4" };
                                                    var selectedQuarterDates = Model.QuarterlyDateList ?? new Dictionary<string, string>();
                                                }

                                                @foreach (var quarter in quarters)
                                                  {
                                                    <div class="row mb-2">
                                                        <label class="col-md-3 col-form-label">
                                                            @quarter :
                                                        </label>

                                                        @*<div class="col-md-8">
                                                            @Html.TextBox($"QuarterlyDateList[{quarter}]",selectedQuarterDates.ContainsKey(quarter) ? selectedQuarterDates[quarter] : "",
                                                            new{ @class = "form-control quarterlyDate", autocomplete = "off", @readonly = (quarter != "Q1") ? "readonly" : null })
                                                        </div>*@
                                                        <div class="col-md-8">
                                                            @Html.TextBox($"QuarterlyDateList[{quarter}]",
                                                             selectedQuarterDates.ContainsKey(quarter) ? selectedQuarterDates[quarter] : "",
                                                             new{ @class = "form-control quarterlyDate" + (quarter != "Q1" ? " readonlyQuarter" : ""), autocomplete = "off", @readonly = (quarter != "Q1") ? "readonly" : null } )
                                                        </div>

                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>



                                        <!-- Yearly Fields -->
                                        <div class="col-md-6" id="YearlyFields" style="display:none;">
                                            <div class="row">
                                                <!-- Yearly Date -->
                                                <label class="form-label col-form-label col-md-4">
                                                    Due Date
                                                </label>
                                                <div class="col-md-8">
                                                    @*@Html.TextBoxFor(model => model.YearlyDate,
                                                new { @class = "form-control", type = "date", id = "txtYearlyDate", value = Model.YearlyDate.HasValue ? Model.YearlyDate.Value.ToString("yyyy-MM-dd") : "" })*@
                                                   

                                                    @Html.TextBoxFor(model => model.YearlyDate,
                                                   new { @class = "form-control", @id = "txtYearlyDate", autocomplete = "off" })

                                                     @Html.ValidationMessageFor(model => model.YearlyDate, "", new { @class = "text-danger", id = "YearlyDateError" })


                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Alert Before Days
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Reminder, Enumerable.Range(1, 10).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), "Select",
                                               new { id = "txtReminder", @class = "form-select", autocomplete = "off", name = "Reminder" })
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit"
                                                                    class="btn btn-primary btn-sm">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Module_Payroll_ComplianceCalender", new { area = "Module" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnDesignationGetList">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

</form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


<script>
    function toggleFrequencyFields(frequency)
    {
        $("#MonthlyFields,#QuarterlyFields,#YearlyFields").hide();

        switch (frequency) {
            //case "OneTime":
            //    $("#oneTimeFields").show();
            //    break;
            //case "Hourly":
            //    $("#HourlyFields").show();
            //    break;
            //case "Daily":
            //    $("#DailyFields").show();
            //    break;
            //case "Weekly":
            //    $("#WeeklyFields").show();
            //    break;
            case "Monthly":
                $("#MonthlyFields").show();
                break;
            case "Quarterly":
                $("#QuarterlyFields").show();
                break;
            case "Yearly":
                $("#YearlyFields").show();
                break;
        }
    }

    $(document).ready(function () {
        toggleFrequencyFields($("#ddlFrequency").val());
        $("#ddlFrequency").change(function () {
            toggleFrequencyFields($(this).val());
        });
    });



    //$("#txtMonthDate").change(function () {
    //    var monthDateVal = $(this).val();
    //    var endDateVal = $("#txtEndDate").val();
    //    var errorSpan = $("#monthDateError");

    //    if (monthDateVal && endDateVal) {
    //        var monthDate = new Date(monthDateVal);
    //        var endDate = new Date(endDateVal);

    //        if (monthDate > endDate) {
    //            errorSpan.text("Monthly date cannot be greater than End Date!");
    //            $(this).val("");
    //        }
    //    }
    //});

    $("#txtMonthDate").on("input", function () {
        var value = $(this).val();
        var errorSpan = $("#monthDateError");
        value = value.replace(/[^0-9]/g, '');
        $(this).val(value);

        if (value !== "") {
            var num = parseInt(value);

            if (num < 1 || num > 31) {
                errorSpan.text("Please enter a valid date between 1 and 31.");
            } else {
                errorSpan.text(""); // clear error
            }
        } else {
            errorSpan.text("");
        }
    });


    //$("#txtDate").change(function () {
    //    debugger
    //    var OneTimeDateVal = $(this).val();
    //    var endDateVal = $("#txtEndDate").val();
    //    var errorSpan = $("#OneTimeDateError");

    //    if (OneTimeDateVal && endDateVal) {
    //        var OneTimeDate = new Date(OneTimeDateVal);
    //        var endDate = new Date(endDateVal);

    //        if (OneTimeDate > endDate) {
    //            errorSpan.text("One Time Date cannot be greater than End Date!");
    //            $(this).val("");
    //        }
    //    }
    //});

    //$("#txtQuarterlyDate").change(function () {
    //    var QuarterlyDateVal = $(this).val();
    //    var endDateVal = $("#txtEndDate").val();
    //    var errorSpan = $("#QuarterlyDateError");

    //    if (QuarterlyDateVal && endDateVal) {
    //        var QuarterlyDate = new Date(QuarterlyDateVal);
    //        var endDate = new Date(endDateVal);

    //        if (QuarterlyDate > endDate) {
    //            errorSpan.text("Quarterly Date cannot be greater than End Date!");
    //            $(this).val("");
    //        }
    //    }
    //});


    $('#txtYearlyDate').datepicker({
        format: "dd-mm",
        autoclose: true,
        todayHighlight: true,
        startView: "months",
        minViewMode: "days"
    });

    
    $('.quarterlyDate').not('.readonlyQuarter').datepicker({
        format: "dd-mm",
        autoclose: true,
        todayHighlight: true,
        startView: "months",
        minViewMode: "days"
    });

    $(document).on("change", "input[name='QuarterlyDateList[Q1]']", function () {
        let q1 = $(this).val(); 
        if (!q1) {
            $("input[name='QuarterlyDateList[Q2]']").val("");
            $("input[name='QuarterlyDateList[Q3]']").val("");
            $("input[name='QuarterlyDateList[Q4]']").val("");
            return;
        }

        let parts = q1.split("-");
        let day = parseInt(parts[0]);
        let month = parseInt(parts[1]);
        let baseDate = new Date(2000, month - 1, day);

        function addMonths(date, months) {
            let d = new Date(date);
            d.setMonth(d.getMonth() + months);
            let dd = ('0' + d.getDate()).slice(-2);
            let mm = ('0' + (d.getMonth() + 1)).slice(-2);
            return dd + "-" + mm;
        }

        $("input[name='QuarterlyDateList[Q2]']").val(addMonths(baseDate, 3));
        $("input[name='QuarterlyDateList[Q3]']").val(addMonths(baseDate, 6));
        $("input[name='QuarterlyDateList[Q4]']").val(addMonths(baseDate, 9));
    });

    //$("#txtYearlyDate").change(function () {
    //    var YearlyDateVal = $(this).val();
    //    var endDateVal = $("#txtEndDate").val();
    //    var errorSpan = $("#YearlyDateError");

    //    if (YearlyDateVal && endDateVal) {
    //        var YearlyDate = new Date(YearlyDateVal);
    //        var endDate = new Date(endDateVal);

    //        if (YearlyDate > endDate) {
    //            errorSpan.text("Yearly date cannot be greater than End Date!");
    //            $(this).val("");
    //        }
    //    }
    //});


</script>

<script>
    $(document).ready(function () {
        debugger
        @*var EndDate = @Html.Raw(Json.Encode(TempData["EndDate"]));
        if (EndDate) {
            document.getElementById('txtEndDate').value = EndDate;
        }*@

        @*var OneTimeDate = @Html.Raw(Json.Encode(TempData["OneTimeDate"]));
        if (OneTimeDate) {
            document.getElementById('txtDate').value = OneTimeDate;
        }
        var Time = @Html.Raw(Json.Encode(TempData["Time"]));
        if (Time) {
            document.getElementById('txttime').value = Time;
        }*@

        @*var MonthDate = @Html.Raw(Json.Encode(TempData["MonthDate"]));
        if (MonthDate) {
            document.getElementById('txtMonthDate').value = MonthDate;
        }*@

        var QuarterlyDate = @Html.Raw(Json.Encode(TempData["QuarterlyDate"]));
        if (QuarterlyDate) {
            var parts = QuarterlyDate.split('-'); 
            var formatted = parts[2] + "-" + parts[1];
            document.getElementById('txtQuarterlyDate').value = formatted;

           // document.getElementById('txtQuarterlyDate').value = QuarterlyDate;
        }
      
        var YearlyDate = @Html.Raw(Json.Encode(TempData["YearlyDate"]));
        if (YearlyDate) {
            // document.getElementById('txtYearlyDate').value = YearlyDate;
            var parts = YearlyDate.split('-'); 
            var formatted = parts[2] + "-" + parts[1];
            document.getElementById('txtYearlyDate').value = formatted;
        }

        @*var DueDate = @Html.Raw(Json.Encode(TempData["DueDate"]));*@
        //document.getElementById('txtDueDate').value = DueDate;
        //var today = new Date().toISOString().split('T')[0];
        //$("#txtDueDate").val(today);

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message && Icon) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: false // Disable outside clicks
            }).then(() => {
                window.location.reload();
            });
        }


        /* -------------------------
         FIX EMPLOYEE MULTI SELECT
     ------------------------- */

        var EMPId = @Html.Raw(Json.Encode(TempData["Employeeid"]));
        if (EMPId && EMPId.length > 0) {
            var empArray = EMPId.split(',');
            $("#ddlEmployeeId").val(empArray).trigger("change.select2");
        }

        $("#ddlEmployeeId").select2({
            placeholder: "Select Authority Name",
            allowClear: true
        });

        $("#ddlEmployeeId").select2({
            placeholder: "Select Authority Name",
            allowClear: true
        }).trigger('change.select2');

        
        $('#EmployeeIds').select2({
            width: '100%',
            closeOnSelect: false
        });

        $('#EmployeeIds').on('change', function () {
            debugger
            var $this = $(this);
            var allOption = $this.find('option[value="all"]');
            var otherOptions = $this.find('option').not('[value="all"]');

            if ($this.val() && $this.val().includes('all')) {
                otherOptions.prop('selected', true);
                $this.val(otherOptions.map(function () { return this.value; }).get());
                $this.trigger('change');
            }
        });

    });
</script>

<script>

    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function (value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   }, "erreur expression reguliere"
);

    $("#SaveComplianceCalender").validate({

        rules: {
            ComplianceName:
                {
                required: true,
                },
            ComplianceCategoryId:
                {
                required: true,
                },
            //Authority:
            //    {
            //        required: true,
            //    },
            EmployeeIds:{
                required: true,
            },

            Frequency:{
                required:true,
            },
            //Status:{
            //    required:true,
            //},
            //EndDate:{
            //    required:true,
            //},


        },
        messages: {

            ComplianceName: {
                required: "Enter the Compliance Name",
            },
            ComplianceCategoryId: {
                required: "Select the category",
            },
            EmployeeIds: {
                required: "Select Authority Name",
            },
            Frequency:{
                required:"Select a Frequency",
            },
            //Status:{
            //    required:"Select a Status",
            //},
            //EndDate:{
            //    required:"End Date is required"
            //},

        },
        errorPlacement: function (error, element) {
            if (element.hasClass("select2-hidden-accessible")) {
                // Insert error after Select2's container
                error.insertAfter(element.next('.select2'));
            } else {
                error.insertAfter(element);
            }
        },

    });


    var form = $("#SaveComplianceCalender");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;

        form.valid();
        if (form.valid() == false) {
            return false;
        }
        form.submit();
    });

    @*var ComplianceCalenderId_Encrypted = $("#txtComplianceCalenderId_Encrypted").val();
        var ComplianceName = $("#txtComplianceName").val();
        var ComplianceCategoryId = $("#ddlComplianceCategoryId").val();
        var DueDate=$("#txtDueDate").val();
       // var FinantialYear=$("#ddlFinantialYear").val();

        $.ajax({
            url: '@Url.Action("IsExists", "Module_Payroll_ComplianceCalender")',
            method: "get",
            data:
                {
                    ComplianceCalenderId_Encrypted: ComplianceCalenderId_Encrypted,
                    ComplianceName:ComplianceName,
                    ComplianceCategoryId:ComplianceCategoryId,
                    DueDate:DueDate,
                   // FinantialYear:FinantialYear
                },

            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: false
                        }).then(() => {
                            const p = Swal.getPopup();
                            p.classList.add('animate__headShake');
                            setTimeout(() => p.classList.remove('animate__headShake'), 500);
                        });
                    }
                }
                else
                {
                    debugger;
                    $("#SaveComplianceCalender").submit();
                }
            }
        });
    });*@

    
    var form = $("#SaveComplianceCalender");
    form.validate();

    $(document).on('input', '#txtBasic', function () {
        this.value = this.value.replace(/[^0-9.]/g, '');
        if (this.value === "0") {
            ("#errorBasic").text="Basic not allowed 0";
            this.value = "";
        }
    });

    $(document).on('input', '#txtDA', function () {
        this.value = this.value.replace(/[^0-9.]/g, '');
    });

</script>