@model KompassHR.Areas.Setting.Models.Setting_Statutory.Payroll_LWFSlab
@{
    ViewBag.Title = "Setting_Statutory_LWFSlab";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .lbl {
        border: none;
        outline: none;
        text-align: center;
    }

    /*tblAddData td:nth-child(1) {
        display: none;
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    .tblAddData td:nth-child(8) {
        display: none;
    }*/



    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                LWF Slabs
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Statutory_Menu", "Setting_Statutory_Menu", new { id =15 ,ScreenId =93, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">LWF Slabs <span>- @ViewBag.AddUpdateTitle</span></h4>
                   
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define LWF slab here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        @*<div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name<span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpID, new SelectList(ViewBag.GetCompanyname, "Id", "Name"), "--Select--", new { id = "ddlCmpID", @class = "form-select", autocomplete = "off", name = "CmpID" })
                                                </div>
                                            </div>*@
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                State Name <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.LWFStateCode, new SelectList(ViewBag.GetstatesName, "Id", "Name"), "--Select--", new { id = "ddlLWFStateCode", @class = "form-select", autocomplete = "off", name = "LWFStateCode" })
                                                @Html.ValidationMessageFor(model => model.LWFStateCode, "", new { @class = "help-block", @id = "ErrorLWFStateCode", @style = "color:red" })
                                                @Html.HiddenFor(model => model.LWFSlabId_Encrypted, new { @id = "LWFSlabId_Encrypted" })
                                                @Html.HiddenFor(model => model.LWFSlabMasterId_Encrypted, new { @id = "LWFSlabMasterId_Encrypted" })
                                                @Html.HiddenFor(model => model.LWFSlabMasterId, new { @id = "LWFSlabMasterId" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Remark <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", name = "Remark", type = "text", id = "txtRemark", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "help-block", @id = "ErrorRemark", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Lower Limit (Rs.) <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LowerLimit, new { @class = "form-control", name = "LowerLimit", type = "number", id = "txtLowerLimit", autocomplete = "Off", @onchange = "check()" })
                                                @Html.ValidationMessageFor(model => model.LowerLimit, "", new { @class = "help-block", @id = "ErrorLowerLimit", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Upper Limit (Rs.) <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.UpperLimit, new { @class = "form-control", name = "UpperLimit", type = "number", id = "txtUpperLimit", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.UpperLimit, "", new { @class = "help-block", @id = "ErrorUpperLimit", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                LWF Employee (Rs.) <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LWFEmployee, new { @class = "form-control", name = "LWFEmployee", type = "number", id = "txtLWFEmployee", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.LWFEmployee, "", new { @class = "help-block", @id = "ErrorLWFEmployee", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                LWF Employer (Rs.) <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LWFEmployer, new { @class = "form-control", name = "LWFEmployer", type = "number", id = "txtLWFEmployer", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.LWFEmployer, "", new { @class = "help-block", @id = "ErrorLWFEmployer", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <table class="table table-bordered" id="tblLWFMonth" style="width: 100%;">
                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr>
                                                    <th class="text-nowrap width-45">Select</th>
                                                    <th class="text-nowrap">Months</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="1" id="chkLWFDeductionMonth1" />
                                                    </td>
                                                    <td class="form-label">January</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="2" id="chkLWFDeductionMonth2" />
                                                    </td>
                                                    <td class="form-label">February</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="3" id="chkLWFDeductionMonth3" />
                                                    </td>
                                                    <td class="form-label">March</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="4" id="chkLWFDeductionMonth4" />
                                                    </td>
                                                    <td class="form-label">April</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="5" id="chkLWFDeductionMonth5" />
                                                    </td>
                                                    <td class="form-label">May</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk text-center" value="6" id="chkLWFDeductionMonth6" />
                                                    </td>
                                                    <td class="form-label">June</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="7" id="chkLWFDeductionMonth7" />
                                                    </td>
                                                    <td class="form-label">July</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="8" id="chkLWFDeductionMonth8" />
                                                    </td>
                                                    <td class="form-label">August</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="9" id="chkLWFDeductionMonth9" />
                                                    </td>
                                                    <td class="form-label">September</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="10" id="chkLWFDeductionMonth10" />
                                                    </td>
                                                    <td class="form-label">October</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="11" id="chkLWFDeductionMonth11" />
                                                    </td>
                                                    <td class="form-label">November</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="LWFDeductionMonth" class="form-check chk" value="12" id="chkLWFDeductionMonth12" />
                                                    </td>
                                                    <td class="form-label">December</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        @Html.ValidationMessageFor(model => model.LWFDeductionMonth, "", new { @class = "help-block", @id = "ErrorLWFDeductionMonth", @style = "color:red" })

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnAdd" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered tblAddData" id="AddedTable" style="width: 100%">
                                            <thead>
                                                <tr class="text-center">
                                                    <th class="text-nowrap">State</th>
                                                    <th class="text-nowrap">Lower Limit</th>
                                                    <th class="text-nowrap">Upper Limit</th>
                                                    <th class="text-nowrap">LWF Employee</th>
                                                    <th class="text-nowrap">LWF Employer</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tblLWFSlab"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button type="button" id="btnDeleteRow"
                                                    class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash-alt"></i> Delete Row
                                            </button>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                                <i class="fa-solid fa-floppy-disk"></i> Submit
                                                            </button>
                                                            <a href="@Url.Action("GetList", "Setting_Statutory_LWFSlab", new { area = "Setting" })">
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetLWFSlabList">
                                                                    <i class="fa-solid fa-share-from-square"></i>
                                                                    List
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    //<<-----------------------------------Ready function Start----------------------------------------->>
    $(document).ready(function () {
        $("#ddlLWFStateCode").select2();
        var payroll_lwfslabget =@Html.Raw(Json.Encode(ViewBag.LWFSlabLimit));
        debugger;
        if(payroll_lwfslabget!=null)
        {
            for(var i=0;i <= payroll_lwfslabget.length-1;i++)
            {
                var table = document.getElementById("tblLWFSlab");
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                var count = $('#tblLWFSlab tr').length;

                row.insertCell(0).innerHTML = "" + payroll_lwfslabget[i][0].Value + "";
                row.insertCell(1).innerHTML = "" + payroll_lwfslabget[i][1].Value + "";
                row.insertCell(2).innerHTML = "" + payroll_lwfslabget[i][2].Value + "";
                row.insertCell(3).innerHTML = "" + payroll_lwfslabget[i][3].Value + "";
                row.insertCell(4).innerHTML = "" + payroll_lwfslabget[i][4].Value + "";
            }
        }
        debugger;
        var count1 = $('#tblLWFSlab tr').length;
        if (count1!="" ) {
            $("#ddlLWFStateCode").attr("disabled", "disabled");
            $('#ddlLWFStateCode').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
            $("#txtLowerLimit").attr("disabled", "disabled");
            //$(".chk").attr("disabled", "disabled");
            $("#txtRemark").attr("disabled", "disabled");
        }
        else
        {
            $("#ddlLWFStateCode").removeAttr("disabled");
            $("#txtLowerLimit").removeAttr("disabled");
            //$(".chk").removeAttr("disabled");
            $("#txtRemark").removeAttr("disabled");
        }

        debugger;
        var LowerLast= $('#tblLWFSlab').find('tr').last();
        if(LowerLast.length!=0){
            var LowerLastCell= LowerLast[0].cells;
            var LowerLastCellHTML= LowerLastCell[2].innerHTML;
            var LowerLimit = LowerLastCellHTML
            $("#txtLowerLimit").val(LowerLimit);

            var sum= 0;
            var LowerTotal=Number( $('#txtLowerLimit').val());
            var sum = (LowerTotal+1);
            $("#txtLowerLimit").val(sum);
        }

        var LWFSlabMonth = @Html.Raw(Json.Encode(ViewBag.LWFSlabMonth));

        // Iterate through the LWFSlabMonth array and set the checkboxes
        LWFSlabMonth.forEach(function (slab) {
            // Construct the checkbox ID dynamically
            var checkboxId = "#chkLWFDeductionMonth" + slab.LWFSlab_Month;

            // Check the checkbox if IsApplicable is true
            if (slab.IsApplicable) {
                $(checkboxId).prop("checked", true);
            } else {
                $(checkboxId).prop("checked", false);
            }
        });
    });


    //<<-------------------------------------Ready function end-------------------------------------------------->>



    $("#btnSubmit").click(function () {
        debugger;
        var LWFSlabMasterId_Encrypted= $("#LWFSlabMasterId_Encrypted").val();
        var StateCode=$("#ddlLWFStateCode").val();
        var Remark=$("#txtRemark").val();
        $(".Userloaderbg").css("display", "flex");

        $.ajax({
            url: '@Url.Action("IsLWFSlabExists", "Setting_Statutory_LWFSlab")',
            method:"get",
            data: { LWFSlabMasterId_Encrypted: LWFSlabMasterId_Encrypted,StateCode:StateCode,Remark:Remark },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    $(".Userloaderbg").css("display", "none");
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }

                else{
                    var LWFSlabMasterId_Encrypted= $("#LWFSlabMasterId_Encrypted").val();
                    var StateCode=$("#ddlLWFStateCode").val();
                    var Remark=$("#txtRemark").val();
                    var LWFSlabMasterId=$("#LWFSlabMasterId").val();
                    var table = document.getElementById("tblLWFSlab");
                    var rowCount = table.rows.length;
                    var Task = new Array();
                    var data = {};
                    for (i = 0; i <= rowCount-1; i++) {
                        var data = {};
                        data.LowerLimit = table.rows[i].cells[1].innerHTML;
                        data.UpperLimit = table.rows[i].cells[2].innerHTML;
                        data.LWFEmployee = table.rows[i].cells[3].innerHTML;
                        data.LWFEmployer = table.rows[i].cells[4].innerHTML;
                        Task.push(data);
                    }

                    var table = document.getElementById("tblLWFMonth");
                    var Record = [];

                    // Loop through all rows in the table
                    $("#tblLWFMonth tbody tr").each(function () { // Target only tbody rows
                        var LWFMonth = {};
                        var currentRow = $(this);
                        var checkbox = currentRow.find(':checkbox');

                        if (checkbox.length > 0) { // Ensure there is a checkbox in the row
                            LWFMonth.LWFSlab_Month = checkbox.val(); // Get the value of the checkbox
                            LWFMonth.IsApplicable = checkbox.prop('checked') ? "true" : "false"; // Set IsApplicable based on checkbox state
                            Record.push(LWFMonth);
                        }
                    });
                    $(".Userloaderbg").css("display", "flex");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveUpdate", "Setting_Statutory_LWFSlab")',
                        data: JSON.stringify({Task: Task,StateCode: StateCode, Remark: Remark,LWFSlabMasterId_Encrypted:LWFSlabMasterId_Encrypted,Record:Record,LWFSlabMasterId:LWFSlabMasterId}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (response)
                        {
                            debugger;
                            var data =  JSON.parse(response);
                            var Message1 = data.Message;
                            var Icon1 = data.Icon;
                            if (data !=null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("Setting_Statutory_LWFSlab", "Setting_Statutory_LWFSlab")';
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                                // location.reload();
                            }
                        }
                    });
                }
            }

        });
    });


</script>

<script>
    //<<----------------------------------Upperlimit Validation----------------------------------------------------->>
    $("#txtUpperLimit").keyup(function () {
        var LowerLimit = Number($('#txtLowerLimit').val());
        var UpperLimit = Number($('#txtUpperLimit').val());

        if(UpperLimit <= LowerLimit)
        { $('#ErrorUpperLimit').html("Upper Limit is Always Greater"); return false;}
        else{ $('#ErrorUpperLimit').html("");}

        if(UpperLimitval=="")
        {$('#ErrorUpperLimit').html("Enter Upper Limit");  return false;}
        else{$('#ErrorUpperLimit').html("");}
    });
    //<<----------------------------------Upperlimit Validation----------------------------------------------------->>
    //<<---------------------------------Validation----------------------------------------------------->>
    $('#ddlLWFStateCode').change(function()  {
        var LWFStateCodeval = $("#ddlLWFStateCode").val();
        if(LWFStateCodeval=="")
        {$('#ErrorLWFStateCode').html("Enter State name");  return false;}
        else{$('#ErrorLWFStateCode').html("");}

    });
    $('#txtLowerLimit').keyup(function()  {
        var LowerLimitval = $("#txtLowerLimit").val();
        if(LowerLimitval=="")
        {$('#ErrorLowerLimit').html("Enter Lower Limit");  return false;}
        else{$('#ErrorLowerLimit').html("");}

    });
    $('#txtLWFEmployee').keyup(function()  {
        var LWFEmployeeval = $("#txtLWFEmployee").val();
        if(LWFEmployeeval=="")
        {$('#ErrorLWFEmployee').html("Enter LWF employee");  return false;}
        else{$('#ErrorLWFEmployee').html("");}

    });
    $('#txtLWFEmployer').keyup(function()  {
        var LWFEmployerval = $("#txtLWFEmployer").val();
        if(LWFEmployerval=="")
        {$('#ErrorLWFEmployer').html("Enter LWF employer");  return false;}
        else{$('#ErrorLWFEmployer').html("");}

    });
    //<<----------------------------------Validation----------------------------------------------------->>

    //<<-------------------------------------Add Row To Inner html-------------------------------------------------->>
    $("#btnAdd").click(function (e) {
        //For the Arry Splitt into ,
        var array = $('.chk:checked').map(function(){
            return this.value;
        }).get();

        var LWFStateCode = $('#ddlLWFStateCode option:selected').text();
        var LowerLimit = $('#txtLowerLimit').val();
        var GetRemark = $('#txtRemark').val();
        var UpperLimit = $('#txtUpperLimit').val();
        var LWFEmployee = $('#txtLWFEmployee').val();
        var LWFEmployer = $('#txtLWFEmployer').val();

        if(LWFStateCode=="--Select--")
        {$('#ErrorLWFStateCode').html("State name is required");   return false;}
        else{ $('#ErrorLWFStateCode').html("");}

        if(LowerLimit=="")
        {$('#ErrorLowerLimit').html("Lower limit is required");   return false;}
        else{ $('#ErrorLowerLimit').html("");}

        if(GetRemark=="")
        {$('#ErrorRemark').html("Remark is required");   return false;}
        else{ $('#ErrorRemark').html("");}

        if(UpperLimit=="")
        {$('#ErrorUpperLimit').html("Upper limit is required");   return false;}
        else{ $('#ErrorUpperLimit').html("");}

        if(LWFEmployee=="")
        {$('#ErrorLWFEmployee').html("LWF employee is required");   return false;}
        else{ $('#ErrorPTAmount').html("");}

        if(LWFEmployer=="")
        {$('#ErrorLWFEmployer').html("LWF employer is required");   return false;}
        else{ $('#ErrorLWFEmployer').html("");}

        if ($('#chkLWFDeductionMonth1').is(":checked") ||$('#chkLWFDeductionMonth2').is(":checked") || $('#chkLWFDeductionMonth3').is(":checked") || $('#chkLWFDeductionMonth4').is(":checked") || $('#chkLWFDeductionMonth5').is(":checked") || $('#chkLWFDeductionMonth6').is(":checked") || $('#chkLWFDeductionMonth7').is(":checked") || $('#chkLWFDeductionMonth8').is(":checked") || $('#chkLWFDeductionMonth9').is(":checked") || $('#chkLWFDeductionMonth10').is(":checked") ||$('#chkLWFDeductionMonth11').is(":checked") || $('#chkLWFDeductionMonth12').is(":checked") )
        {
            $('#ErrorLWFDeductionMonth').html("");
        }
        else{
            $('#ErrorLWFDeductionMonth').html("Please select atleast one checkbox");   return false;}

        //for upper limit is always greater
        var sum= 0;
        var IncomeTotal=Number( $('#txtUpperLimit').val());
        var sum = IncomeTotal+1;

        //to add row into list
        e.preventDefault();
        var LWFtateCodeText = $('#ddlLWFStateCode option:selected').text();
        var LowerLimit = $('#txtLowerLimit').val();
        var UpperLimit = $('#txtUpperLimit').val();
        var LWFEmployee = $('#txtLWFEmployee').val();
        var LWFEmployer = $('#txtLWFEmployer').val();
        //var LWFDeductionMonth = $('#chkLWFDeductionMonth').val(b);

        var table = document.getElementById("tblLWFSlab");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        var count = $('#tblLWFSlab tr').length;

        row.insertCell(0).innerHTML = "" + LWFtateCodeText + "";
        row.insertCell(1).innerHTML = "" + LowerLimit + "";
        row.insertCell(2).innerHTML = "" + UpperLimit + "";
        row.insertCell(3).innerHTML = "" + LWFEmployee + "";
        row.insertCell(4).innerHTML = "" + LWFEmployer + "";

        $('#txtLowerLimit').val(''),
        $('#txtUpperLimit').val(''),
        $('#txtLWFEmployee').val(''),
        $('#txtLWFEmployer').val('');
        $('#chkLWFDeductionMonth').val('');
        $('#txtLowerLimit').val(sum);

        debugger;
        var count1 = $('#tblLWFSlab tr').length;
        if (count1!="" ) {
            $("#ddlLWFStateCode").attr("disabled", "disabled");
            $('#ddlLWFStateCode').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
            //document.querySelector('#ddlLWFStateCode').style.backgroundColor = '#e9ecef';
            $("#txtLowerLimit").attr("disabled", "disabled");
            $(".chk").attr("disabled", "disabled");
            $("#txtRemark").attr("disabled", "disabled");
        }
        else
        {
            $("#ddlLWFStateCode").removeAttr("disabled");
            $("#txtLowerLimit").removeAttr("disabled");
            $(".chk").removeAttr("disabled");
            $("#txtRemark").removeAttr("disabled");
        }
    });
    //<<-------------------------------------Add Row To Inner html-------------------------------------------------->>

    //<<--------------------------------------------Delete The Row Of Inner HTML------------------------------------------------>>

    $("#btnDeleteRow").click(function () {
        debugger;
        var table = document.getElementById("tblLWFSlab");
        var rowCount = table.rows.length;
        table.deleteRow(rowCount -1);
        $(".chk").removeAttr("disabled");
        var LowerLast= $('#tblLWFSlab').find('tr').last();
        if(LowerLast.length!=0){
            var LowerLastCell= LowerLast[0].cells;
            var LowerLastCellHTML= LowerLastCell[2].innerHTML;
            var LowerLimit = LowerLastCellHTML
            $("#txtLowerLimit").val(LowerLimit);

            var sum= 0;
            var LowerTotal=Number( $('#txtLowerLimit').val());
            var sum = (LowerTotal+1);
            $("#txtLowerLimit").val(sum);
        }

        var table = document.getElementById("tblLWFSlab");
        var rowCount = table.rows.length;
        if (rowCount==0)
        {
            $("#ddlLWFStateCode").removeAttr("disabled");
            $("#txtLowerLimit").removeAttr("disabled");
            $("#txtRemark").removeAttr("disabled");
            $('#ddlLWFStateCode').next('.select2').find('.select2-selection').css('background-color', '');

            $("#txtLowerLimit").val("");

        }


    });
    //<<--------------------------------------------Delete The Row Of Inner HTML------------------------------------------------>>
</script>

@*<script>
        $("#ddlLWFStateCode").change(function () {
            debugger;
            var LWFStateCode = $('#ddlLWFStateCode option:selected').val();

            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetLowerlimit", "Setting_Statutory_LWFSlab")',
                //url: 'GetLowerlimit',
                data: { LWFStateCode: LWFStateCode },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        var SetData = Object.values(data[0]);
                        var UpperLimit = Object.values(SetData[0])
                        $("#txtLowerLimit").val(UpperLimit[1]);
                        var sum= 0;
                        var LowerTotal=Number( $('#txtLowerLimit').val());
                        var sum = (LowerTotal+1);
                        $("#txtLowerLimit").val(sum);
                        if(UpperLimit[1]==null)
                        {
                            $("#txtLowerLimit").removeAttr("disabled");

                        }
                        else{
                            $("#txtLowerLimit").attr("disabled", "disabled");
                        }
                    }
                },

            });

        });

    </script>*@
@*// location.reload();
    ////var EncryptedLast= $('#tblLWFSlab').find('tr').last();
    ////var EncryptedCell= EncryptedLast[0].cells;
    ////var EncryptedCellText = EncryptedCell[0].innerHTML;
    ////var LWFSlabId_Encrypted = EncryptedCellText*@

@*if(LWFSlabId_Encrypted=="")
    {

    }
    else
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Setting_Statutory_LWFSlab")',
            //  url: "Delete",
            data:{LWFSlabId_Encrypted:LWFSlabId_Encrypted},
            dataType: "text",
            success: function (data)
            {
                var Message = @Html.Raw(Json.Encode(TempData["Message"]));
                var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
                var LWFStateCode = @Html.Raw(Json.Encode(TempData["LWFStateCode"]));
                var StateId_Encrypted = @Html.Raw(Json.Encode(TempData["StateId_Encrypted"]));

                debugger;
                if (Message != null) {
                    Swal.fire({
                        // title: 'Saved',
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup();
                            popup.classList.remove('swal2-show');

                            // Add animation class after removal of swal2-show
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake');
                            }, 0); // Ensure the animation class is added properly

                            // Remove animation class after 500ms
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake');
                            }, 500);

                            return false; // Prevents closing of the popup when clicking outside
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Construct URL with query parameters
                            const url = '@Url.Action("Setting_Statutory_LWFSlab", "Setting_Statutory_LWFSlab")' +
                                        '?LWFStateCode=' + encodeURIComponent(LWFStateCode) +
                                        '&StateId_Encrypted=' + encodeURIComponent(StateId_Encrypted);
                            window.location.href = url;
                        }
                    });
                }


            }
        })
    }*@

@*<script>
        $('#MonthTable').DataTable({
            scrollY: 200,
            scrollX: true,
            scrollCollapse: true,
            searching: false,
            paging: false,
            fixedColumns: true,
            info: false,
            responsive: true,
            sorting: false
        });

        $('#AddedTable').DataTable({
            scrollY: true,
            scrollX: true,
            scrollCollapse: true,
            searching: false,
            paging: false,
            fixedColumns: true,
            info: false,
            responsive: true,
            sorting: false
        });
    </script>*@
