
@{
    ViewBag.Title = "ESS_Travel_Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KompassHR.Areas.ESS.Models.ESS_Travel.Travel_Calender

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Travel Calender
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_FNF_Menu", "ESS_FNF_Menu",  new { id = 16,ScreenId=233, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Travel Calender Request - <b>@ViewBag.AddUpdateTitle</b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>

                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                      Travel Desk
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/ESS/ESS_Travel_Calender/Save" id="SaveCalender" method="post" data-parsley-validate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc
                                                No.
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", name = "DocNo", type = "text", id = "DocNo",Value = @ViewBag.DocNo.DocNo, autocomplete = "Off", @readonly = "readonly", Style = "background-color: lightgray;" })
                                                @Html.HiddenFor(model => model.TravelCalenderID_Encrypted, new { id = "TravelCalenderID_Encrypted" })
                                                @Html.HiddenFor(model => model.TravelBranchID, new { id = "TravelBranchID" })
                                                @Html.HiddenFor(model => model.CmpId, new { id = "CmpId" })
                                                @Html.HiddenFor(model => model.DocDate, new { id = "DocDate" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                              Travel Purpose
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TravelCalenderTravelPurposeID, new SelectList(ViewBag.GetPurposeName, "TravelPurposeID", "TravelPurpose"), "--Select--", new { id = "TravelCalenderTravelPurposeID", @class = "form-select", autocomplete = "off", name = "TravelCalenderTravelPurposeID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Purpose Description
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PurposeDescription, new { @class = "form-control", name = "PurposeDescription", type = "text", id = "PurposeDescription", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Travel Type
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TravelType, new SelectList(new List<object>() {
                                           new {text="International",value="International"},
                                              new {text="Domestic",value="Domestic"},
                                              new {text="Local",value="Local"},
                                       }, "text", "value"), "--Select--", new { @class = "form-control form-select", @id = "TravelType" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                               Day Type
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DayType ,new SelectList(new List<object>() {
                                           new {text="Full Day",value="Full Day"},
                                              new {text="Half Day",value="Half Day"},
                                       }, "text", "value"), "--Select--", new { @class = "form-control form-select", @id = "DayType" })   
                                                @Html.HiddenFor(model => model.NoofDays, new { id = "NoofDays" })

                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                From Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TourStart, new { @class = "form-control", type = "date", id = "TourStart", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.TourStart, "", new { @class = "help-block", id = "ErrorTourStart", @style = "color:red" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                To Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TourEnd, new { @class = "form-control", name = "TourEnd", type = "date", id = "TourEnd", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.TourEnd, "", new { @class = "help-block", id = "ErrorTourEnd", @style = "color:red" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                No of days
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.NoofDays, new { @class = "form-control", Type = "text", id = "NoofDays1",@readonly="readonly"})

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Additional Employee with me
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.AdditionalEmployee, new { @class = "form-control", name = "AdditionalEmployee", type = "text", id = "AdditionalEmployee", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Confidential <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Confidential, new SelectList(new List<object>() {
                                           new {text="Yes",value="Yes"},
                                              new {text="No",value="No"},
                                       }, "text", "value"), "--Select--", new { @class = "form-control form-select", @id = "Confidential" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Travel Note
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TravelNote, new { @class = "form-control", name = "TravelNote", type = "text", id = "TravelNote", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                </div> 

                                <br /> 
                                <div class="row" align="right">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="/ESS/ESS_Travel_Calender/GetList">
                                                            <button type="button" id="btnGetList"
                                                                    class="btn btn-danger btn-sm">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Company = @Html.Raw(Json.Encode(ViewBag.GetCompanyname));
        $("#ddlCompanyName").val(Company);
        debugger
      
        var dt = @Html.Raw(Json.Encode(ViewBag.StartDate));
        var dt1 = @Html.Raw(Json.Encode(ViewBag.EndDate));
        debugger;
        if(dt == null || dt == "")
        {

        }
        else
        {
            var Fromdatedt =  convertDate(dt);
            var Todate =  convertDate(dt1);
            $("#TourStart").val(Fromdatedt);
            $("#TourEnd").val(Todate);
        }

        $("#TourStart").change(function(){
          
            debugger
            var TourStart =$("#TourStart").val();
            var TourEnd =$("#TourEnd").val();
            var today=new Date();
            var today1=YYYYMMDD(today);

            if(TourStart!="" && TourEnd =="" )
            {
                
                    if(TourStart>=today1)
                    {
                        $('#ErrorTourStart').html("");
                    }
                    else
                    {

                        $('#ErrorTourStart').html("Please enter date greater than today date and less than tour end date!");
                        $('#TourStart').val('');
                        $('#TourStart').focus();
                        return false;
                    }
               
            }
            if(TourStart!="" && TourEnd !="" )
            {
                if(TourStart>=today1)
                {
                    if(TourStart<=TourEnd)
                    {
                        $('#ErrorTourStart').html("");
                    }
                    else
                    {

                        $('#ErrorTourStart').html("Please enter date greater than today date and less than tour end date!");
                        $('#TourStart').val('');
                        $('#TourEnd').val('');
                        $('#TourStart').focus();
                        return false;
                    }
                }
                else
                {
                        $('#ErrorTourStart').html("Please enter date greater than today date and less than tour end date!");
                        $('#TourStart').val('');
                        $('#TourEnd').val('');
                        $('#TourStart').focus();
                        return false;
                }
            }
          

        });


        $("#TourEnd").change(function(){
            debugger
            function dateDiffInDays(date1, date2) {
                const diffInMs = Math.abs(date2 - date1); // Difference in milliseconds
                const msPerDay = 1000 * 60 * 60 * 24; // Number of milliseconds in a day

                return Math.floor(diffInMs / msPerDay); // Convert milliseconds to days
            }
            var TourStart =$("#TourStart").val();
            var TourEnd =$("#TourEnd").val();
            // Example usage
            const date1 = new Date(TourStart); // First date
            const date2 = new Date(TourEnd); // Second date

            if(TourStart!="" && TourEnd =="")
            {
                
                if(TourStart<=TourEnd)
                {
                    $('#ErrorTourEnd').html("");
                }
                else
                {

                    $('#ErrorTourEnd').html("Please enter date greater than tour start date !");
                    $('#TourEnd').val('');
                    $('#TourEnd').focus();
                    return false;
                }
               
            }
            if(TourStart!="" && TourEnd !="" )
            {
               
                    if(TourStart<=TourEnd)
                    {
                        $('#ErrorTourStart').html("");
                    }
                    else
                    {

                        $('#ErrorTourEnd').html("Please enter date greater than tour start date!");
                        $('#TourEnd').val('');
                        $('#TourEnd').val('');
                        $('#TourEnd').focus();
                        return false;
                    }
               
            }



            const differenceInDays = dateDiffInDays(date1, date2); // Calculate the difference
            var v1 = parseFloat(differenceInDays);
            var v2 = parseFloat(1);
            var v3= parseFloat(v1+v2)
            $("#NoofDays1").val(v3);
        })
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#formReset").click(function () {
            $("#SaveCalender")[0].reset()
        });




    });

    

</script>

<script>

    $("#SaveCalender").validate({
        rules: {
            TravelCalenderTravelPurposeID: {
                required: true,
            },
            PurposeDescription: {
                required: true,
            },
            TravelType: {
                required: true,
            },
            DayType :
                {
                    required:true,
                },
            TourStart :
               {
                   required:true,
               },
            TourEnd :
               {
                   required:true,
               },
            NoofDays :
              {
                  required:true,
              },
            
            AdditionalEmployee :
              {
                  required:true,
              },
            Confidential :
              {
                  required:true,
              },
            TravelNote :
             {
                 required:true,
             },
        },
        messages: {

            TravelCalenderTravelPurposeID: {
                required: "Please select the travel purpose",
            },
            PurposeDescription: {
                required: "Purpose description is required",
            },
            TravelType: {
                required: "Please Select the travel type",
            },
            DayType:{
                required:"Day type is required",
            },
            TourStart:{
                required:"Please select tour start date",
            },
            TourEnd:{
                required:"Please select tour end date",
            },
            NoofDays:{
                required:"Please select tour end date",
            },
            AdditionalEmployee:{
                required:"Additional employee count is required",
            },
            Confidential:{
                required:"Confidential is required",
            },
            TravelNote:{
                required:"Confidential is required",
            }

            
        },

    });

   
    var form = $("#SaveCalender");
    form.validate();
    $("#btnSubmit").click(function () {
   // function SaveResignation() {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#TourStart").removeClass('error');
            return false;
        }
        if(form.valid()==false)
        {
            $("#TourEnd").removeClass('error');
            return false;
        }
        var TravelCalenderID_Encrypted=$("#TravelCalenderID_Encrypted").val();
        var TourStart=$("#TourStart").val();
        var TourEnd=$("#TourEnd").val();
        $.ajax({
            url:"IsTravelCalenderExists",   
            method:"get",
            data:{TravelCalenderID_Encrypted:TravelCalenderID_Encrypted,TourStart:TourStart,TourEnd:TourEnd},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveCalender").submit();

                }
            }
        });
    //}
    });
</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }


    function YYYYMMDD(data) {
        var Today = new Date();
        var d =("0" + Today.getDate()).slice(-2)
        var m = ("0" + (Today.getMonth() + 1)).slice(-2);
        var y = Today.getFullYear();
        var ddmmyy = y+"-"+m+"-"+d;
        return ddmmyy;
    }
</script>
