
@{
    ViewBag.Title = "ViewForTMSRequestApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.TaskApproval;

}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        /*font-size: 13px;
        font-family: Arial;*/
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Task Approval Request
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="#" id="backButton">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>


    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            <input type="hidden" id="hdnEncryptedId" value="@Item.TaskAssignID_Encrypted" />
            <input type="hidden" id="hdnTaskAssignID" value="@Item.TaskAssignID" />

            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <a href="#modal-dialogForApproval1" onclick="Approved('Approved')" type="button" class="btn btn-success" id="btnApproved" value="Approved"><i class="fa-solid fa-check-double"></i>Approve</a>
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-danger" id="btnRejected" value="Rejected">Reject</button>
            </span>
            Task Request For
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card" style="padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.05); border-radius:10px;">
                <div id="card">
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"></i>&nbsp;&nbsp;
                                <strong class="text-dark">@Item.EmployeeName</strong><br />

                                <i class="fa-solid fa-building"></i>&nbsp;&nbsp;&nbsp;
                                <b>Department :</b> @Item.DepartmentName<br />

                                <i class="fa-regular fa-handshake"></i>&nbsp;&nbsp;
                                <b>Designation :</b> @Item.DesignationName<br />
                            </address>
                        </div>
                    </div>

                    <div class="invoice-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Employee Name :</th>
                                            <td>@Item.EmployeeName</td>

                                            <th>Doc Date :</th>
                                            <td>@Item.DocDate</td>
                                        </tr>

                                        <tr>
                                            <th>Client :</th>
                                            <td>@Item.ClientName</td>

                                            <th>Task Title :</th>
                                            <td>@Item.TaskTittle</td>
                                        </tr>

                                        <tr>
                                            <th>Project :</th>
                                            <td>@Item.ProjectName</td>

                                            <th>Task Description :</th>
                                            <td class="text-start">
                                                <input type="hidden"
                                                       id="taskDesc_@Item.DocNo"
                                                       value="@Item.Description" />
                                                <i class="fa-solid fa-receipt fa-lg"
                                                   style="cursor:pointer;color:#ff5b57;"
                                                   onclick="AssignTaskDesc(encodeURIComponent(document.getElementById('taskDesc_@Item.DocNo').value))">
                                                </i>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Module :</th>
                                            <td>@Item.ModuleName</td>

                                            <th>Document :</th>
                                            <td>
                                                @if (Item.AssignFilePath == "")
                                                {
                                                    <span>File Not Found</span>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("DownloadFile","ESS_TMS_Approval",new { fileName = Item.AssignFilePath })">
                                                        <i class="fa-solid fa-download fa-lg text-primary"></i>
                                                    </a>
                                                }
                                            </td>
                                           
                                        </tr>

                                        <tr>
                                            <th>Task Category :</th>
                                            <td>@Item.TaskCategoryName</td>

                                            <th>Task SubCategory :</th>
                                            <td>@Item.TaskSubCategoryName</td>
                                        </tr>

                                        <tr>
                                            <th>For Date :</th>
                                            <td>@Item.ForDate</td>

                                            <th>For Time :</th>
                                            <td>@Item.Time</td>
                                        </tr>

                                        <tr>
                                            <th>Work Date :</th>
                                            <td>@Item.TaskDate</td>

                                            <th>Work Time :</th>
                                            <td>@Item.WorkTime</td>
                                        </tr>

                                        <tr>
                                            <th>Work On Task :</th>
                                            <td class="text-start">
                                                <input type="hidden"
                                                       id="workTask_@Item.DocNo"
                                                       value="@Item.WorkOnTask" />
                                                <i class="fa-solid fa-receipt fa-lg"
                                                   style="cursor:pointer;color:#ff5b57;"
                                                   onclick="AssignTaskDesc(encodeURIComponent(document.getElementById('workTask_@Item.DocNo').value))">
                                                </i>
                                            </td>

                                            <th>Complete Percentage :</th>
                                            <td>@Item.CompletePercentage %</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.05); border-radius: 10px;">

                        <div class="d-flex align-items-center mb-3">
                            <i class="fa fa-history text-primary me-2"></i>
                            <h4 class="m-0">Task History</h4>
                            <h6 class="m-0 ms-auto text-muted">Top 10 Record</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="bg-light">
                                    <tr class="trheading">
                                        <th class="text-nowrap">Doc Date </th>
                                        <th class="text-start text-nowrap">Employee Name</th>
                                        <th class="text-nowrap">Project Name </th>
                                        <th class="text-nowrap">Module Name </th>
                                        <th class="text-nowrap">Client Name </th>
                                        <th class="text-nowrap">Task Category </th>
                                        <th class="text-nowrap">Task SubCategory </th>
                                        <th class="text-nowrap">Task Title </th>
                                        <th class="text-nowrap">Task Description </th>
                                        <th class="text-nowrap">Date </th>
                                        <th class="text-nowrap">Task Time </th>
                                        <th class="text-nowrap">Task Status </th>
                                        <th class="text-nowrap">Complete Percentage </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Taskdetails != null)
                                    {
                                        foreach (var d in ViewBag.Taskdetails)
                                        {
                                            <tr>
                                                <td class="text-nowrap">@d.docdate</td>
                                                <td class="text-start text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@d.ProjectName</td>
                                                <td class="text-nowrap">@d.ModuleName</td>
                                                <td class="text-nowrap">@d.ClientName</td>
                                                <td class="text-nowrap">@d.TaskCategoryName</td>
                                                <td class="text-nowrap">@d.TaskSubCategoryName</td>
                                                <td class="text-nowrap">@d.TaskTittle</td>
                                                <td class="text-start text-center">
                                                    <input type="hidden" id="hiddenDescription_@d.DocNo" value="@d.Description" />
                                                    <i class="fa-solid fa-receipt fa-lg" onclick="AssignTaskDesc(encodeURIComponent(document.getElementById('hiddenDescription_@d.DocNo').value))" style="cursor:pointer; color: #ff5b57;"></i>
                                                </td>
                                                <td class="text-nowrap">@d.ForDate</td>
                                                <td class="text-nowrap">@d.Time</td>
                                                <td class="text-center">@d.TaskStatus</td>
                                                <td class="text-center">@d.CompletePercentage</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>

            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<!-- #Start modal-dialog -->
<div class="modal fade" id="modal_basic3" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Task Description</h4>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div id="txtTaskStatus"></div>
                                            @* @Html.TextArea("TaskStatus", new { @class = "summernote", style = "border: 2px solid #000; padding: 10px;", id = "txtTaskStatus", @placeholder = "Description....", autocomplete = "Off", contenteditable = "false" })*@
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-success btnpress" onclick="dismissModal('modal_basic3')">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function AssignTaskDesc(encodedHtml)
    {
        $('#txtTaskStatus').html('');
        const AssignDesc = decodeURIComponent(encodedHtml);
        $('#modal_basic3').modal('show');
        $('#modal_basic3').on('shown.bs.modal', function () {
            $('#txtTaskStatus').html(AssignDesc);
            //$('#txtTaskStatus').summernote('pasteHTML', WorkOnTask);
        });
    }

    function dismissModal(modalId) {
        $('#' + modalId).modal('hide');
    }
</script>
<!-- #End modal-dialog -->
<script>
    $(document).ready(function () {
        debugger;
        //ONE PAGE BACK WITH RELOAD BACKPAGE CODE
        document.getElementById('backButton').addEventListener('click', function() {
            if (window.history.length > 1) {
                window.history.back();
            }
        });
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));


        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        debugger;

        var TMSApprovalStatus = @Html.Raw(Json.Encode(TempData["TMSApprovalStatus"]));
        if(TMSApprovalStatus=="Pending")
        {

        }
        else if (TMSApprovalStatus=="L2- Approved")
        {
            $("#btnApproved").hide();

        }
        else if(TMSApprovalStatus=="L1- Rejected" || TMSApprovalStatus=="L2- Rejected")
        {
            $("#btnRejected").hide();
        }

    });
</script>

<script>
    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";
        window.onafterprint = function(event) {
            setTimeout(function() {
                const backButton = document.getElementById('backButton');
                if (backButton) {
                    backButton.addEventListener('click', function() {
                        if (window.history.length > 1) {
                            window.history.back();
                        }
                    });
                } else {
                    console.log('Back button not found');
                }
            }, 0); // Add a slight delay to ensure the button is rendered
        };
        //Print Page
        window.print();
        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
    //var Resource="";
    //var ResourceEncrypted="";
    //var Status="";
    function OpenModule()
    {
        debugger;
        $("#myModalFinal").modal('show');
    }
    function Approved(Approver)
    {
        {
            debugger
            const Approved = Swal.mixin({
                customClass: {
                    cancelButton: ' btnpress',
                    confirmButton: ' btnpress'
                },
                buttonsStyling: true
            })
            Approved.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                showCancelButton: true,
                confirmButtonText: 'Yes submit!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: false,

                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    debugger;
                    $(".Userloaderbg").css("display","flex");
                    var DocId=$("#hdnTaskAssignID").val();
                    var Encrypted=$("#hdnEncryptedId").val();
                    var Origin="Task";

                    var Status="";
                    var Remark="";
                    if(Approver=="Rejected")
                    {
                        Remark = $("#txtApproveRejectRemark").val();
                        Status="Rejected";
                    }
                    else{
                        Status="Approved";
                    }
                    $("#myModalFinal").modal('hide');
                    $.ajax({
                        url: "@Url.Action("ApproveTMSRequest", "ESS_TMS_Approval")",
                        method:"get",
                        data:{DocId:DocId,Encrypted:Encrypted,Status:Status,Remark:Remark,Origin:Origin},
                        success:function(response){
                            debugger;
                            $(".Userloaderbg").css("display","none");
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            var ApproverMode1 = response.ApproverMode;
                            if (response.Icon=="error") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: false
                                        });

                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("")
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                if(ApproverMode1=="Bulk")
                                                {
                                                    window.location.href = '@Url.Action("ESS_TimeOffice_BulkApproval", "ESS_TimeOffice_BulkApproval")';
                                                }
                                                else{
                                                    window.location.href = '@Url.Action("ESS_TMS_Approval", "ESS_TMS_Approval")';
                                                }
                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {

                                            }
                                        })
                                    }
                                }
                            }
                            else{
                                var Message1 = response.Message;
                                var Icon1 = response.Icon;
                                var ApproverMode1 = response.ApproverMode;
                                //if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                if(ApproverMode1=="Bulk")
                                                {
                                                    window.location.href = '@Url.Action("ESS_TimeOffice_BulkApproval", "ESS_TimeOffice_BulkApproval")';
                                                }
                                                else{
                                                    window.location.href = '@Url.Action("ESS_TMS_Approval", "ESS_TMS_Approval")';
                                                }

                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {
                                            }
                                        })
                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                                //}
                            }
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                ) {

                }
            })
        }
    }
</script>

