@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Rpt_PublicHoliday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    /*select Row CSS End*/

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 12px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Public Holiday Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_DailyAttendace_RptSubMenu", "Report_DailyAttendace_RptSubMenu", new {id = 5, ScreenId=326, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">@*@i.SET_MODULES.FormName*@  Public Holiday Report </h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            A "Public Holiday Report" typically refers to a record that tracks instances of employees' absences due to public holidays.
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action="/Reports/Rpt_PublicHoliday/Rpt_PublicHoliday" id="rptPublicHoliday" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Department
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Sub Department
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubDepartmentId, new SelectList(ViewBag.SubDepartmentName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "SubDepartmentId", id = "ddlSubDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Designation
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Grade
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "GradeId", id = "ddlGradeId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Line Master
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.LineId, new SelectList(ViewBag.LineName, "Id", "Name"), "All", new { @class = "form-select", name = "LineId", id = "ddlLineId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Sub Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SubUnitId, new SelectList(ViewBag.SubUnit, "Id", "Name"), "All", new { @class = "form-select", name = "SubUnit", id = "ddlSubUnit" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    From date
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", id = "txtFromDate", type = "date", name = "FromDate" })
                                                    <span id="ErrortxtFromDate" class="Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    To Date
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", id = "txtToDate", type = "date", name = "ToDate" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Contractor Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ContractorId, new SelectList(ViewBag.GetContractor, "Id", "Name"), "All", new { @class = "form-select", name = "ContractorId", id = "ddlContractorId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Public Holiday
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.Type, new List<SelectListItem>
                                               {
                                                   /*new SelectListItem { Text="All",Value="All" },*/
                                                   new SelectListItem { Text="PH",Value="PH" },
                                                   new SelectListItem { Text="PH(P)",Value="PH(P)" },

                                               }, "All", new { @class = "form-select", name = "Type", id = "dllType" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-10">
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                                <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                @*<hr class="mt-15px">
                                    <div class="row">
                                        <div class="table-scroll div1">
                                            <div class="table-wrap">
                                                <table class="table table-bordered table-hover mb-0 " id="tblrptPublicHoliday" style="width: 100%;">
                                                    <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                                        <tr class="trheading">
                                                            @if (ViewBag.GetPublicHolidayReport.ToString() == "" || ViewBag.GetPublicHolidayReport.Count == 0)
                                                            {
                                                                <th style="border-color:black !important;">Employee Name</th>
                                                                <th style="border-color:black !important;">Employee No</th>
                                                            }
                                                            else
                                                            {
                                                                <th class="fixed-side" style="border-color:black !important;">Employee Name</th>
                                                                <th class="fixed-side1" style="border-color:black !important;">Employee No</th>
                                                            }
                                                            @*<th class="text-nowrap text-center">Sr.No.</th>*
                                                            <th class="text-nowrap" style="border-color:black !important;">Employee Card No</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Company Name</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Business Unit</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Gender</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Joining Date</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Service</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Department Name</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Designation Name</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Grade Name</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Contractor Name</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Assessment Level</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Critical Stage Y/N</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Critical Stage</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Line</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Attendance Date</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Shift</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">In Time</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Out Time</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Duration</th>
                                                            <th class="text-nowrap" style="border-color:black !important;">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblAbnormalReport">
                                                        @foreach (var d in ViewBag.GetPublicHolidayReport)
                                                        {
                                                            <tr>
                                                                @*<td class="text-nowrap">@d.SrNo </td>*
                                                                <td class="fixed-side"  style="background-color:white !important; border-color:black !important; min-width:270px;">@d.EmployeeName</td>
                                                                <td class="fixed-side1" style="background-color:white !important; border-color:black !important;">@d.EmployeeNo</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.EmployeeCardNo</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Company</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.BusinessUnit</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Gender</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.DOJ</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Service</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Department</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Designation</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Grade</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Contractor</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.AssessmentLevel</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.CriticalStageYesNo</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.CriticalStagName</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Line</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.AttendanceDate</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Shift</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.InTime</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.OutTime</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Duration</td>
                                                                <td class="text-nowrap" style="background-color:white !important; border-color:black !important;">@d.Status</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <br />
                                                <span id="tblRowCount"></span>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('title').html("Public Holiday Report");
        var CheckEmptyDate = document.getElementById('txtFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('txtFromDate').value = SetTodaysDate;
            document.getElementById('txtToDate').value = SetTodaysDate;
        }

        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlDepartmentId").select2();
        $("#ddlSubDepartmentId").select2();
        $("#ddlDesignationId").select2();
        $("#ddlLineId").select2();
        $("#ddlGradeId").select2();
        $("#ddlEmployeeID").select2();
        $("#ddlSubUnit").select2();
        $("#ddlContractorId").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }


        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            $("#ddlLineId").find("option").remove();
            $("#ddlContractorId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var GetFromDate = $("#txtFromDate").val();
            var GetToDate = $("#txtToDate").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Report_Attendance_RptMenu")',
                data: { CmpId: CmpId,GetFromDate:GetFromDate },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var Branch = data.Branch;
                        if (Branch != null) {
                            $("#ddlBranchId").append("<option value=''>All </option>");
                            $.each(Branch, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var EmployeeName = data.EmployeeName;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var GetContractorDropdown = data.GetContractorDropdown;
                        if (GetContractorDropdown != null) {
                            $("#ddlContractorId").append("<option value=''>All </option>");
                            $.each(GetContractorDropdown, function (i, p) {
                                $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        else {
                            $('#ErrorESSPassword').html(" ");
                        }
                    }
                }
            })
        });


        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlSubDepartmentId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetSubDepartment", "Rpt_PublicHoliday")',
                data: { DepartmentId: DepartmentId },
                success: function (data) {
                    debugger;
                    if (data == false) {
                        $("#ddlSubDepartmentId").find("option").remove();
                        $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                    }
                    else {
                        if (data != null) {
                            $("#ddlSubDepartmentId").append("<option value=''>All </option>");
                            $.each(data, function (i, p) {
                                $("#ddlSubDepartmentId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            $("#ddlLineId").find("option").remove();
            $("#ddlEmployeeID").find("option").remove();
            $("#ddlSubUnit").find("option").remove();
            $("#ddlContractorId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            var UnitBranchId = $("#ddlBranchId").val();
            var GetFromDate = $("#txtFromDate").val();
            var GetToDate = $("#txtToDate").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetUnit", "Report_Attendance_RptMenu")',
                data: { CmpId: CmpId, UnitBranchId: UnitBranchId,GetFromDate:GetFromDate },
                success: function (data){
                    debugger;
                    if (data == false) {
                        $("#ddlLineId").find("option").remove();
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlSubUnit").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $("#ddlLineId").append("<option value=''>All </option>");
                        $("#ddlSubUnit").append("<option value=''>All </option>");
                    }
                    else {
                        var EmployeeName = data.EmployeeName;
                        var LineMaster = data.List_LineMaster;
                        var ListSubUnit = data.List_SubUnit;
                        if (EmployeeName != null) {
                            $("#ddlEmployeeID").append("<option value=''>All </option>");
                            $.each(EmployeeName, function (i, p) {
                                $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (LineMaster != null) {
                            $("#ddlLineId").append("<option value=''>All </option>");
                            $.each(LineMaster, function (i, p) {
                                $("#ddlLineId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        debugger;
                        if (ListSubUnit != null) {
                            $("#ddlSubUnit").append("<option value=''>All </option>");
                            $.each(ListSubUnit, function (i, p) {
                                $("#ddlSubUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        var GetContractorDropdown = data.GetContractorDropdown;
                        if (GetContractorDropdown != null) {
                            $("#ddlContractorId").append("<option value=''>All </option>");
                            $.each(GetContractorDropdown, function (i, p) {
                                $("#ddlContractorId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                    }
                }
            })
        });

        $("#txtFromDate, #txtToDate").on("change", function () {
            debugger;
            var input = document.getElementById("txtFromDate").value;
            var input1 = document.getElementById("txtToDate").value;
            //define two date object variables with dates inside it
            fromDateObj = new Date(input);
            toDateObj = new Date(input1);
            //calculate time difference
            var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            //calculate days difference by dividing total milliseconds in a day
            var days_differences = time_difference / (1000 * 60 * 60 * 24);
            var days_difference = days_differences + 1;
            // Check if toDate is greater than fromDate
            var from = $("#txtFromDate").val();
            var to = $("#txtToDate").val();
            if (Date.parse(from) > Date.parse(to)) {

                $("#ErrortxtFromDate").html("From date should not be greater than todate");
                return false;
            }
            else {
                $("#ErrortxtFromDate").html("");
            }
            if (days_difference > 31) {
                $("#ErrortxtFromDate").html("You should not allow greter than 31 days");return false;
            }
            $("#ddlEmployeeID").find("option").remove();
            var GetFromDate = $("#txtFromDate").val();
            var GetToDate = $("#txtToDate").val();
            var BranchId = $("#ddlBranchId").val();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeNameDateWise", "Report_Attendance_RptMenu")',
                data: {CmpId:CmpId, BranchId: BranchId ,GetFromDate:GetFromDate },
                success: function (data) {
                    debugger;

                    // $("#ddlEmployeeID").append("<option value=''>--Select-- </option>");
                    if (data != null) {
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value=''>All </option>");
                        $.each(data, function (i, p) {
                            $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            })
        });
        //$("#txtFromDate, #txtToDate").on("change", function () {
        //    debugger;
        //    var input = document.getElementById("txtFromDate").value;
        //    var input1 = document.getElementById("txtToDate").value;
        //    //define two date object variables with dates inside it
        //    fromDateObj = new Date(input);
        //    toDateObj = new Date(input1);
        //    //calculate time difference
        //    var time_difference = toDateObj.getTime() - fromDateObj.getTime();
        //    //calculate days difference by dividing total milliseconds in a day
        //    var days_differences = time_difference / (1000 * 60 * 60 * 24);
        //    var days_difference = days_differences + 1;
        //    // Check if toDate is greater than fromDate
        //    var from = $("#txtFromDate").val();
        //    var to = $("#txtToDate").val();
        //    if (Date.parse(from) > Date.parse(to)) {

        //        $("#ErrortxtFromDate").html("From date should not be greater than todate");
        //        return false;
        //    }
        //    else {
        //        $("#ErrortxtFromDate").html("");
        //    }
        //    if (days_difference > 31) {
        //        $("#ErrortxtFromDate").html("You should not allow greter than 31 days");
        //    }
        //});


    }); //Ready Function
</script>

<script>
    function downloadExcelFile() {
        $(".Userloaderbg").css("display", "flex");
        //var CmpId = $("#ddlCmpId").val();
        //var BranchId = $("#ddlBranchId").val();
        //var DepartmentId = $("#ddlDepartmentId").val();
        //var SubDepartmentId = $("#ddlSubDepartmentId").val();
        //var DesignationId = $("#ddlDesignationId").val();
        //var GradeId = $("#ddlGradeId").val();
        //var LineId = $("#ddlLineId").val();
        //var SubUnit = $("#ddlSubUnit").val();
        //var EmployeeID = $("#ddlEmployeeID").val();
        //var FromDate = $("#txtFromDate").val();
        //var ToDate=$("#txtToDate").val();
        //var Type=$("#dllType").val();

        var DepartmentId = encodeURIComponent($("#ddlDepartmentId").val());
        var SubDepartmentId = encodeURIComponent($("#ddlSubDepartmentId").val());
        var DesignationId = encodeURIComponent($("#ddlDesignationId").val());
        var GradeId = encodeURIComponent($("#ddlGradeId").val());
        var LineId = encodeURIComponent($("#ddlLineId").val());
        var SubUnitId = encodeURIComponent($("#ddlSubUnit").val());
        var EmployeeID = encodeURIComponent($("#ddlEmployeeID").val());
        var FromDate = encodeURIComponent($("#txtFromDate").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var CmpID = encodeURIComponent($("#ddlCmpId").val());
        var ToDate=encodeURIComponent($("#txtToDate").val());
        var Type=encodeURIComponent($("#dllType").val());
        var  ContractorId=encodeURIComponent($("#ddlContractorId").val());
        var url = `@Url.Action("DownloadExcelFile", "Rpt_PublicHoliday")?BranchId=${branchId}&CmpID=${CmpID}&DepartmentId=${DepartmentId}&SubDepartmentId=${SubDepartmentId}&DesignationId=${DesignationId}&GradeId=${GradeId}&LineId=${LineId}&SubUnitId=${SubUnitId}&EmployeeID=${EmployeeID}&FromDate=${FromDate}&ToDate=${ToDate}&Type=${Type}&ContractorId=${ContractorId}`;

        // Create a full URL with query parameters
        //var url = '/Rpt_PublicHoliday/DownloadExcelFile?BranchId=' + encodeURIComponent(BranchId)+ '&CmpId=' + encodeURIComponent(CmpId)+'&DepartmentId='+encodeURIComponent(DepartmentId)+'&SubDepartmentId='+encodeURIComponent(SubDepartmentId)+'&DesignationId='+encodeURIComponent(DesignationId)+'&GradeId='+encodeURIComponent(GradeId)+'&LineId='+encodeURIComponent(LineId)+'&SubUnit='+encodeURIComponent(SubUnit)+'&EmployeeID='+encodeURIComponent(EmployeeID)+'&FromDate='+encodeURIComponent(FromDate)+'&ToDate='+encodeURIComponent(ToDate)+'&Type='+encodeURIComponent(Type);
        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }
                var formattedDate = convertDateFormat(FromDate);
                var ToformattedDate = convertDateFormat(ToDate);

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'PublicHoliday('+formattedDate +' - '+ ToformattedDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>