
@{
    ViewBag.Title = "ViewForLeaveCancelApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.CancelApprovalList;
}


<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Approval Request
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_CancelApproval", "ESS_TimeOffice_CancelApproval", new {id = 5, ScreenId=255, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="invoice">
        <div class="invoice-company">
            <input type="hidden" id="hdnEncryptedId" value="@Item.RequestCancelID_Encrypted" />
            <input type="hidden" id="hdnDocIdId" value="@Item.RequestCancelID" />
            <input type="hidden" id="hdnOrigin" value="@Item.Origin" />
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary btn-sm" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <a href="#modal-dialogForApproval1" onclick="Approved('Approved')" type="button" class="btn btn-success btn-sm" id="btnmodal-dialog" value="Approved"><i class="fa-solid fa-check-double"></i>Approve</a>
                @*<a href="#modal-dialogForHoldReject1" onclick="showmodal(27 ,'Hold')" type="button" class="btn btn-warning" id="btnmodal-dialog1" value="Hold">Hold</a>*@
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-danger btn-sm" id="btnmodal-dialog1" value="Rejected">Reject</button>
            </span>
            Cancel Request For Leave
        </div>

        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.EmployeeName</b></strong><br />
                                @*<i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Request Cancel Date&nbsp;:</b> &nbsp;@Item.RequestCancelEntryDate<br />*@
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                            </address>
                        </div>
                        <div class="invoice-to">
                            <b><small class="smallFrom">For,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;  <b> Leave </b> &nbsp;:&nbsp;@Item.LeaveTypeShortName <br />
                                @*<i class="fa-solid fa-desktop"> </i>&nbsp; <b>Reason</b> &nbsp;:&nbsp; @Item.Reason <br />*@
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;  <b> Total days </b> &nbsp;:&nbsp;@Item.TotalDays <br />

                            </address>
                        </div>
                    </div>
                    <div class="invoice-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@Item.EmployeeName</td>

                                            <th><span class="text-dark">Shift Name</span><br /></th>
                                            <td>@Item.LeaveMasterShiftName</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Request Cancel Date</span><br /></th>
                                            <td>@Item.RequestCancelEntryDate</td>

                                            <th><span class="text-dark">Cancel Reason</span><br /></th>
                                            <td>@Item.CancelReason</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Date</span><br /></th>
                                            <td>@Item.FromDate</td>

                                            <th><span class="text-dark">To Date</span><br /></th>
                                            <td>@Item.ToDate</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Leave Group Name</span><br /></th>
                                            <td>@Item.LeaveGroupName</td>

                                            <th><span class="text-dark">Leave Day Type</span><br /></th>
                                            <td>@Item.LeaveMasterDayType</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Cancel</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
    function printDiv() {
        var divElements = document.getElementById('card').innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";
        window.print();
        document.body.innerHTML = oldPage;
    }

    function OpenModule()
    {
        debugger;
        $("#myModalFinal").modal('show');
    }

    function Approved(Approver)
    {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                $(".Userloaderbg").css("display","flex");
                var DocId=$("#hdnDocIdId").val();
                var Encrypted=$("#hdnEncryptedId").val();
                var Origin=$("#hdnOrigin").val();
                var Status="";
                var Remark="";
                if(Approver=="Rejected")
                {
                    Remark = $("#txtApproveRejectRemark").val();
                    Status="Rejected";
                }
                else{
                    Status="Approved";
                }
                $("#myModalFinal").modal('hide');
                $.ajax({
                    url: "@Url.Action("RequestForCancelApprove", "ESS_TimeOffice_CancelApproval")",
                    method:"get",
                    data:{DocId:DocId,Encrypted:Encrypted,Status:Status,Remark:Remark,Origin:Origin},
                    success:function(response){
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon=="error") {
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $(".Userloaderbg").css("display", "none");
                                            $("#txtApproveRejectRemark").val("");
                                            @*@*window.location.href = '@Url.Action("ESS_TimeOffice_Approval", "ESS_TimeOffice_Approval")';*@
                                        } else if (
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }
                        }
                        else{
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("ESS_TimeOffice_CancelApproval", "ESS_TimeOffice_CancelApproval")';
                                            } else if (
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {
                                            }
                                        })
                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            } else if (
                        result.dismiss === Swal.DismissReason.cancel
                   ) {
            }
        })
    }
</script>

