@model KompassHR.Areas.Reports.Models.DailyAttendanceReportFilter
@{
    ViewBag.Title = "Reports_Grievance_EmployeeWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    /*select Row CSS Start*/
    body table.dataTable tbody tr.selected td {
        background: #fff7cc !important;
        color: black !important;
        font-weight: 600;
    }

    table.dataTable.table-hover > tbody > tr.selected:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }

    /*Table Row Hover   rgba(0, 0, 0, 0.075);*/
    table.dataTable.table-hover > tbody > tr:hover > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
    }
    /*Table select Row BackGround Color */
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #D0D3D4 !important;
        color: white;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 12px !important;
        height: 20px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 270px !important;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 270px !important;
        z-index: 1;
    }

    .div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0px !important;
        z-index: 1;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
        /*background-color: rgba(233, 236, 239, 0.7) !important;
    }


    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
    }


</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Employee Wise Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Report_Grievance_RptMenu", "Report_Grievance_RptMenu", new {id = 42, ScreenId=755, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Employee Wise Report</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            Export employee Wise Report..
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">
                            <div class="row justify-content-center">
                                <form role="form" action="/Reports/Rpt_Daily_Attendance/Rpt_Daily_Attendance" id="formDailyAttendanceeReport" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company

                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "All", new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Department
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.DepartmentName, "Id", "Name"), "All", new { @class = "form-select", name = "DepartmentId", id = "ddlDepartmentId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Designation
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.DesignationId, new SelectList(ViewBag.DesignationName, "Id", "Name"), "All", new { @class = "form-select", name = "DesignationId", id = "ddlDesignationId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                   Category
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GrievanceCategoryId, new SelectList(ViewBag.CategoryName, "Id", "Name"), "All", new { @class = "form-select", name = "GrievanceCategoryId", id = "ddlCategoryId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                   SubCategory
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.GrievanceSubCategoryId, new SelectList(ViewBag.SubCategoryName, "Id", "Name"), "All", new { @class = "form-select", name = "GrievanceSubCategoryId", id = "ddlSubCategoryId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    From Date
                                                    <span class="important"></span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", name = "FromDate", type = "date", id = "GetFromDate"})
                                                    <span id="ErrorFromDate" class="Error"></span>
                                                    @*@Html.ValidationMessage("FromDate", "", new { @class = "help-block", id = "ErrortxtFromDate1", @style = "color:red" })*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    To Date
                                                    <span class="important"></span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", name = "ToDate", type = "date", id = "GetToDate"})
                                                    <span id="ErrorToDate" class="Error"></span>

                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                       
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Employee Names
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.EmployeeName, "Id", "Name"), "All", new { @class = "form-select", name = "EmployeeID", id = "ddlEmployeeID" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Status
                                                </label>

                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>{
                                              new SelectListItem { Text = "All", Value = "All" },
                                                                        new SelectListItem {Text ="Pending", Value="Pending"},
                                                                        new SelectListItem {Text ="Approved", Value="Approved"},
                                                                         new SelectListItem {Text ="Rejected", Value="Rejected"},
                                                                      },
                                               new { @class = "form-select", id = "ddlStatus", type = "text", name = "Status", autocomplete = "Off" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                   Gender
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>{
                                                                          new SelectListItem {Text ="All", Value="All"},
                                                                        new SelectListItem {Text ="Male", Value="Male"},
                                                                        new SelectListItem {Text ="Female", Value="Female"},
                                                                      },
                                               new { @class = "form-select", id = "ddlGender", type = "text", name = "Gender", autocomplete = "Off" })
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <div class="row">
                                        <div class="LastShortLeaveBx">
                                            <div class="row">
                                                <div class="col-md-10">
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="BtnBx">
                                                        <div>
                                                            <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                                <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger
        var FromDate = document.getElementById("GetFromDate").value;
        var ToDate = document.getElementById("GetToDate").value;
        $('title').html("Check In Out");
        var CheckEmptyDate = document.getElementById('GetFromDate').value;
        if (CheckEmptyDate == "") {
            document.getElementById('GetFromDate').value = SetTodaysDate;
            document.getElementById('GetToDate').value = SetTodaysDate;
        }


        document.getElementById("GetFromDate").addEventListener("blur", function () {
            debugger
            var dateValue = this.value;

            if (dateValue.includes("-")) {
                var parts = dateValue.split("-"); 
                dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
            }
            var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
            if (!regex.test(dateValue)) {
                $("#ErrorFromDate").html("Please enter valid date in DD-MM-YYYY format");
                this.value = "";
                this.focus();
                return;
            } else {
                $("#ErrorFromDate").html("");
            }
        });


        document.getElementById("GetToDate").addEventListener("blur", function () {
            debugger
            var dateValue = this.value;

            if (dateValue.includes("-")) {
                var parts = dateValue.split("-"); 
                dateValue = parts[2] + "-" + parts[1] + "-" + parts[0];
            }
            var regex = /^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)\d\d$/;
            if (!regex.test(dateValue)) {
                $("#ErrorToDate").html("Please enter valid date in DD-MM-YYYY format");
                this.value = "";
                this.focus();
                return;
            } else {
                $("#ErrorToDate").html("");
            }
        });



        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        $("#ddlEmployeeID").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
           // $("#ddlEmployeeID").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            if (CmpId) {
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetBusinessUnit", "Reports_Grievance_EmployeeWiseReport")',
                    data: { CmpId: CmpId },
                    success: function (data) {
                        debugger;
                        if (data.Branch != null) {
                            $("#ddlBranchId").append("<option value='0'>All</option>");
                            $.each(data.Branch, function (i, p) {
                                $("#ddlBranchId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        }
                        else {
                            $('#ErrorESSPassword').html(" ");
                        }
                    }
                });
            }
        });

        $("#ddlBranchId").on("change", function () {
            debugger;
            var CmpId = $("#ddlCmpId").val();
            var BranchId = $(this).val();

            if (CmpId && CmpId !== "" && BranchId && BranchId !== "") {
                loadEmployee(CmpId, BranchId);
                loadDepartment(CmpId, BranchId);
            } else {
                $("#ddlEmployeeID").find("option").remove();
                $("#ddlDepartmentId").find("option").remove();
                $("#ddlEmployeeID").append("<option value='0'>All</option>");
                $("#ddlDepartmentId").append("<option value='0'>All</option>");
            }
        });

        @*function loadEmployee(CmpId, BranchId) {
            debugger
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Reports_Grievance_EmployeeWiseReport")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlEmployeeID").find("option").remove();
                        $("#ddlEmployeeID").append("<option value='0'>All</option>");
                        $.each(data, function (i, p) {
                            $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                }
            });
        }*@

        function loadEmployee(CmpId, BranchId) {
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetEmployeeName", "Reports_Grievance_EmployeeWiseReport")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    $("#ddlEmployeeID").find("option").remove();
                    $("#ddlEmployeeID").append("<option value='0'>All</option>");
                    $.each(data, function (i, p) {
                        $("#ddlEmployeeID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                    });

                    // 🔍 Enable search using select2
                    $("#ddlEmployeeID").select2({
                        placeholder: "Search Employee",
                        allowClear: true
                    });
                }
            });
        }

        function loadDepartment(CmpId, BranchId) {
            debugger
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetDepartmentName", "Reports_Grievance_EmployeeWiseReport")',
                data: { CmpId: CmpId, BranchId: BranchId },
                success: function (data) {
                    debugger;
                 if (data != null) {
                        $("#ddlDepartmentId").find("option").remove();
                        $("#ddlDepartmentId").append("<option value='0'>All</option>");
                        $.each(data, function (i, p) {
                            $("#ddlDepartmentId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                   
                }
                }
            });
        }

        $("#ddlDepartmentId").on("change", function () {
            debugger;
            $("#ddlDesignationId").find("option").remove();
            var DepartmentId = $("#ddlDepartmentId").val();
            var CmpId = $("#ddlCmpId").val();
            var BranchId = $("#ddlBranchId").val();

            if (DepartmentId && CmpId && BranchId) {
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetDesignationName", "Reports_Grievance_EmployeeWiseReport")', // Fixed action name
                    data: {
                        CmpId: CmpId,
                        BranchId: BranchId,
                        DepartmentId: (DepartmentId == null || DepartmentId == "0" ? 0 : DepartmentId) 

                        //DepartmentId: DepartmentId
                    },
                    success: function (data) {
                        debugger;
                        if (data != null && data.length > 0) {
                            $("#ddlDesignationId").append("<option value='0'>All</option>");
                            $.each(data, function (i, p) {
                                $("#ddlDesignationId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        } else {
                            $("#ddlDesignationId").append("<option value='0'>No Designations Found</option>");
                        }
                    },
                    //error: function (xhr, status, error) {
                    //    console.error("Error loading designations:", error);
                    //    $("#ddlDesignationId").append("<option value=''>Error Loading</option>");
                    //}
                });
            }
        });


        $("#ddlCategoryId").on("change", function () {
            debugger;
            $("#ddlSubCategoryId").find("option").remove();
            var GrievanceCategoryId = $("#ddlCategoryId").val();
            //var CmpId = $("#ddlCmpId").val();
            //var BranchId = $("#ddlBranchId").val();
           // var DepartmentId=$("ddlDepartmentId").val();
            if (GrievanceCategoryId) {
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetSubCategoryName", "Reports_Grievance_EmployeeWiseReport")', 
                    data: {
                       // CmpId: CmpId,
                        //BranchId: BranchId,
                        //DepartmentId: DepartmentId,
                      //  GrievanceCategoryId:GrievanceCategoryId
                        GrievanceCategoryId: (GrievanceCategoryId == null || GrievanceCategoryId == "0" ? 0 : GrievanceCategoryId)
                    },
                    success: function (data) {
                        debugger;
                        if (data != null && data.length > 0) {
                            $("#ddlSubCategoryId").append("<option value='0'>All</option>");
                            $.each(data, function (i, p) {
                                $("#ddlSubCategoryId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                            });
                        } else {
                            $("#ddlSubCategoryId").append("<option value='0'>No Subcategory Found</option>");
                        }
                    },
                  
                });
            }
        });

    });

    $("#GetFromDate, #GetToDate").on("change", function () {
        debugger;
        var input = document.getElementById("GetFromDate").value;
        var input1 = document.getElementById("GetToDate").value;
        fromDateObj = new Date(input);
        toDateObj = new Date(input1);
        var time_difference = toDateObj.getTime() - fromDateObj.getTime();
        var days_differences = time_difference / (1000 * 60 * 60 * 24);
        var days_difference = days_differences + 1;
        var from = $("#GetFromDate").val();
        var to = $("#GetToDate").val();

        if (Date.parse(from) > Date.parse(to)) {
            $("#ErrorFromDate").html("From date should not be greater than todate");
            return false;
        }
        else {
            $("#ErrorFromDate").html("");
        }

        if (days_difference > 31) {
            $("#ErrorFromDate").html("You should not allow greater than 31 days");
            return false;
        }

    });

    jQuery.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },
        "erreur expression reguliere"
    );

</script>

<script>
    function downloadExcelFile() {
        debugger;

        var CmpId = encodeURIComponent($("#ddlCmpId").val());
        var branchId = encodeURIComponent($("#ddlBranchId").val());
        var FromDate = encodeURIComponent($("#GetFromDate").val());
        var ToDate = encodeURIComponent($("#GetToDate").val());
        var EmployeeId = encodeURIComponent($("#ddlEmployeeID").val());
        var DepartmentId = encodeURIComponent($("#ddlDepartmentId").val());
        var Status=encodeURIComponent($("#ddlStatus").val());
        var Gender=encodeURIComponent($("#ddlGender").val());
        var DesignationId=encodeURIComponent($("#ddlDesignationId").val());
        var GrievanceCategoryId=encodeURIComponent($("#ddlCategoryId").val());
        var GrievanceSubCategoryId=encodeURIComponent($("#ddlSubCategoryId").val());



        $(".Userloaderbg").css("display", "flex");
        var url = `@Url.Action("DownloadExcelFile", "Reports_Grievance_EmployeeWiseReport")?BranchId=${branchId}&FromDate=${FromDate}&ToDate=${ToDate}&CmpId=${CmpId}&EmployeeId=${EmployeeId}&DepartmentId=${DepartmentId}&Status=${Status}&DesignationId=${DesignationId}&Gender=${Gender}&GrievanceCategoryId=${GrievanceCategoryId}&GrievanceSubCategoryId=${GrievanceSubCategoryId}`;

        $.ajax({
            url: url,
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function(data) {
                debugger;
                $(".Userloaderbg").css("display", "none");
                if(data.size==0)
                {
                    Swal.fire({
                        icon: 'error',
                        text: 'Record Not Found',
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            return false
                        }
                    });
                    $(".Userloaderbg").css("display", "none");
                    return false;
                }

                var formattedDate = convertMonthYearFormat(FromDate);
                var formattedToDate = convertMonthYearFormat(ToDate);

                var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var anchorElement = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                anchorElement.href = url;
                anchorElement.download = 'EmployeeWiseReport('+formattedDate+' to '+formattedToDate+').xlsx';
                anchorElement.click();
                window.URL.revokeObjectURL(url);
            },
            error: function(xhr, status, error) {
                console.error('Error downloading file:', error);
            }
        });
    }
</script>







