@model KompassHR.Areas.Reports.Models.MonthWiseFilter
@{
    ViewBag.Title = "Pending_OTList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
      .fa-share-from-square {
        transform: rotate(180deg);
    }   
    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-top: 0px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
        width: 10px !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
        height: 10px;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .div1 th:nth-child(1) {
        position: sticky !important;
        left: 0;
    }

    .div1 th:nth-child(2) {
        position: sticky !important;
        left: 80px !important;
    }

    .fixed-side0 {
        position: sticky !important;
        left: 0;
        z-index: 1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 80px !important;
        z-index: 1;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        /*background-color: rgba(233, 236, 239, 1) !important;*/
        background-color: rgba(233, 236, 239, 0.7) !important;
    }

    /*th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column *
    }*/

    /*#tblOTApprovalList td:nth-child(2) {
        display: none;
    }*/
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new { id = 5, ScreenId=150, area = "ESS" })">Attendance Menu</a></li>
    </ol>
    <h1 class="page-header">Pending OT List </h1>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Pending OT List</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">

                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content;">
                        <div class="row justify-content-center">
                            <div class="row justify-content-center">
                                <form role="form" action="/ESS/ESS_TimeOffice_OTApproval/Pending_OTList" id="FormOTPendingList" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Company Name
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), new { @class = "form-select", name = "CompanyName", id = "ddlCmpId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Business Unit
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), new { @class = "form-select", type = "text", name = "BranchId", id = "ddlBranchId" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Month
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Month, new { @type = "month", @class = "form-control", @id = "txtMonthYear" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <div class="col-md-2">
                                                    <button type="button" onclick="funOTPendingList()" class="btn btn-sm btn-success">Show</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="mt-15px">
                        <div class="row">
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table" id="tblPendingOT" style="width: 100%;">
                                        <thead class="table-active horizontal-scroll" style="background-color: rgba(233, 236, 239, 1) !important;">
                                            <tr class="trheading">
                                                <th class="fixed-side0 text-center" style="border-color:black !important;background-color:#eee; z-index:3">
                                                    Action
                                                </th>
                                                <th class="fixed-side1 text-center" style="border-color:black !important;z-index:3">Date</th>
                                                <th class="fixed-side2 text-center" style="border-color:black !important;z-index:3">Day</th>
                                                <th class="fixed-side3 text-center" style="border-color:black !important;">Total Active Worker</th>
                                                <th class="text-nowrap text-center" style="border-color:black !important;">Total Approved OT</th>
                                                <th class="text-nowrap text-center" style="border-color:black !important;">Total Rejected OT</th>
                                                <th class="text-nowrap text-center" style="border-color:black !important;">Total Pending OT</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyPendingOT">
                                            @if (ViewBag.OTPendingList != null)
                                            {
                                                foreach (var d in ViewBag.OTPendingList)
                                                {
                                                    <tr>
                                                        <td class="fixed-side0 text-center" style="background-color:white !important;background-color:#eee !important; border-color:black !important;">
                                                            <button type="button" class="btn btn-success btn-sm" id="btnGetDetails" onclick="btnSelectedRow(this)" style="padding: 2px 5px; font-size: 10px;">
                                                                Details
                                                            </button>

                                                        </td>

                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.Date</td>
                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.Day</td>
                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.ActiveEmp_Worker</td>
                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.ApprovedOT</td>
                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.RejectedOT</td>
                                                        <td class="text-nowrap text-center" style="background-color:white !important; border-color:black !important;">@d.PendingOT</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <span id="tblRowCount"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-20px">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <a href="@Url.Action("ESS_TimeOffice_OTApproval", "ESS_TimeOffice_OTApproval", new { id=5 , ScreenId=360, area = "ESS" })">
                                                    <button type="submit" id="btnManualUpload" class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i> Back
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ddlBranchId").select2();
        $("#ddlCmpId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        //$('title').html("Outdoor ");
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

        $("#ddlCmpId").on("change", function () {
            debugger;
            $("#ddlBranchId").find("option").remove();
            var CmpId = $("#ddlCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_TimeOffice_OTApproval")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data !=null) {
                        //$("#ddlBranchId").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#ddlBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });


        // Get the current date
        var today = new Date();
        var year = today.getFullYear();
        var month = String(today.getMonth() + 1).padStart(2, '0');
        document.getElementById('txtMonthYear').value = `${year}-${month}`;
    });
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#FormOTPendingList').validate({
        rules: {
            CmpId: {
                required: true,
            },
            BranchId: {
                required: true,
            },
            Month: {
                required: true,
            }
        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            BranchId: {
                required: "Business unit is required",
            },
            Month: {
                required: "Month is required",
            }
        },
    });

    var form = $("#FormOTPendingList");
    form.validate();
    function funOTPendingList() {
        debugger;
        form.valid();
        if (form.valid() == false) {

            return false;
        }
        $(".Userloaderbg").css("display", "flex");
        $("#FormOTPendingList").submit();
    }

    function btnSelectedRow(element) {
        var currentRow = $(element).closest("tr");
        //var col0 = currentRow.find("td:eq(0)").html();
        var Date = currentRow.find("td:eq(1)").html();
        var BranchId = $("#ddlBranchId").val();

        // Construct the URL with query string parameters
        var url = '@Url.Action("ESS_TimeOffice_OTApproval", "ESS_TimeOffice_OTApproval")' +
                  '?GetDetailsDate=' + encodeURIComponent(Date) +
                  '&GetDetailsBranchId=' + encodeURIComponent(BranchId);
        window.location.href = url;
    }
</script>
