
@model KompassHR.Areas.ESS.Models.ESS_Vendor.Mas_Vendor_Documents
@{
    ViewBag.Title = "ESS_Vendor_DocumentUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    /*.div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }*/

    .fixed-side {
        position: sticky;
        left: 0px;
    }

    /*.fixed-side1 {
        position: sticky;
        left: 62px;
    }*/
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }


    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .empbx h4 {
        margin-bottom: 5px;
    }

    .empbx h6 i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .empbx {
        margin-bottom: 20px;
    }

    .card-row-title {
        color: blue;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .modal {
    z-index: 1055 !important;
}

.modal-backdrop {
    z-index: 1050 !important;
}

.modal-body img {
    max-width: 100%;
    max-height: 65vh;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
}

</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Vendor Documents
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_EmployeeList", "Module_Employee_EmployeeList", new {id = 3, ScreenId=142, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">

                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Vendor Documents - @ViewBag.AddUpdateTitle</h4>
                    
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add Vendor Documents.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">


                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Vendor_DocumentUpload", new { area = "ESS" })' id="SaveVendorDocuments" method="post" enctype="multipart/form-data">
                                
                                <div class="row mb-15px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Document Uploads
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <!-- GST Certificate -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                GST Certificate
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileGSTCertificate" name="GSTCertificate" accept=".pdf,.jpg,.png" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.GSTCertificate))
                                                {
                                                    <a href="@Url.Content(Model.GSTCertificate)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <!-- PAN Card -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                PAN Card
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="filePANCard" name="PANCard" accept=".pdf,.jpg,.png" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.PANCard))
                                                {
                                                    <a href="@Url.Content(Model.PANCard)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                                @Html.HiddenFor(model => model.VendorId, new { id = "VendorId", Value = Session["VendorId"] })
                                                @Html.HiddenFor(model => model.VendorDocumentId_Encrypted, new { id = "VendorDocumentId_Encrypted" })




                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- EPF/ESI Certificate -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                EPF/ESI Certificate
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileEPFOCerificate" name="EPFOCerificate" accept=".pdf,.jpg,.png" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.EPFOCerificate))
                                                {
                                                    <a href="@Url.Content(Model.EPFOCerificate)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Labour License -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Labour License
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileLabourLicense" name="LabourLicense" accept=".pdf,.jpg,.png" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.LabourLicense))
                                                {
                                                    <a href="@Url.Content(Model.LabourLicense)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Cancelled Cheque -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Cancelled Cheque
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileCancelledCheque" name="CancelledCheque" accept=".pdf,.jpg,.png" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.CancelledCheque))
                                                {
                                                    <a href="@Url.Content(Model.CancelledCheque)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Company Profile -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Company Profile
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileCompanyProfile" name="CompanyProfile" accept=".pdf,.doc,.docx" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.CompanyProfile))
                                                {
                                                    <a href="@Url.Content(Model.CompanyProfile)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Signed Agreement -->
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-12">
                                                Signed Agreement
                                            </label>
                                            <div class="col-md-12">
                                                <input type="file" class="form-control" id="fileSignedAgreement" name="SignedAgreement" accept=".pdf,.doc,.docx" />
                                                @if (Model != null && !string.IsNullOrEmpty(Model.SignedAgreement))
                                                {
                                                    <a href="@Url.Content(Model.SignedAgreement)" target="_blank" class="mt-1 d-block">
                                                        <i class="fa-solid fa-file-pdf"></i> View Current File
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons Section -->
                                <div class="row mb-20px">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="VendorDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-sm" type="button" id="btnSubmit">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("Module_Vendor_List", "Module_Vendor", new { area = "Module" })">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm" id="btnBack">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Documents Table -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered align-middle" id="fixed-header" style="width: 100%;">
                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr class="text-center">
                                                    <th class="text-nowrap">Action</th>
                                                    <th class="text-nowrap">Vendor</th>
                                                    <th class="text-nowrap">GST Certificate</th>
                                                    <th class="text-nowrap">PAN Card</th>
                                                    <th class="text-nowrap">EPF/ESI</th>
                                                    <th class="text-nowrap">Labour License</th>
                                                    <th class="text-nowrap">Cancelled Cheque</th>
                                                    <th class="text-nowrap">Company Profile</th>
                                                    <th class="text-nowrap">Signed Agreement</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.DocumentDetails != null)
                                                {
                                                    foreach (var d in ViewBag.DocumentDetails)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <button type="button" onclick="DeleteDocument('@d.VendorDocumentId_Encrypted')" id="btnDelete"
                                                                        class="btn btn-danger btn-sm btnpress">
                                                                    <i class="fa-solid fa-trash-alt"></i>
                                                                </button>
                                                            </td>
                                                            <td>@d.VendorName</td>
                                                            <td class="text-center">
                                                              

                                                                @if (!string.IsNullOrEmpty(d.GSTCertificate))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.GSTCertificate')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>
                                                                }

                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.PANCard))
                                                                {
                                                                  
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.PANCard')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.EPFOCerificate))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.EPFOCerificate')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.LabourLicense))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.LabourLicense')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>                                                       }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.CancelledCheque))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.CancelledCheque')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>                                                             }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.CompanyProfile))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.CompanyProfile')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>                                                               }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!string.IsNullOrEmpty(d.SignedAgreement))
                                                                {
                                                                    <a href="javascript:void(0)"
                                                                       onclick="viewDocument('@d.VendorDocumentId','@d.SignedAgreement')">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                    </a>                                                              }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<!-- View Document Modal -->
<div class="modal fade" id="viewDocModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Document Preview</h5>
                <button type="button" class="close" onclick="closePreviewModal()">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body text-center" id="docPreviewBody"
                 style="min-height:70vh; display:flex; align-items:center; justify-content:center;">
            </div>

        </div>
    </div>
</div>




<div class="row">
    @Html.Action("Vendor_SidebarMenu", "ESS_Vendor_ContactDetails")
</div>



<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });


    $("#SaveVendorDocuments").validate({
        rules: {
            GSTCertificate: {
                required: function (element) {
                    return $("#fileGSTCertificate").get(0).files.length === 0;
                }
            },
            PANCard: {
                required: function (element) {
                    return $("#filePANCard").get(0).files.length === 0;
                }
            },
            EPFOCerificate: {
                required: function (element) {
                    return $("#fileEPFOCerificate").get(0).files.length === 0;
                }
            },
            LabourLicense: {
                required: function (element) {
                    return $("#fileLabourLicense").get(0).files.length === 0;
                }
            },
            CancelledCheque: {
                required: function (element) {
                    return $("#fileCancelledCheque").get(0).files.length === 0;
                }
            },
            CompanyProfile: {
                required: function (element) {
                    return $("#fileCompanyProfile").get(0).files.length === 0;
                }
            },
            SignedAgreement: {
                required: function (element) {
                    return $("#fileSignedAgreement").get(0).files.length === 0;
                }
            }
        },
        messages: {
            messages: {
                GSTCertificate: { required: "Please upload GST Certificate" },
                PANCard: { required: "Please upload PAN Card" },
                EPFOCerificate: { required: "Please upload EPF/ESI Certificate" },
                LabourLicense: { required: "Please upload Labour License" },
                CancelledCheque: { required: "Please upload Cancelled Cheque" },
                CompanyProfile: { required: "Please upload Company Profile" },
                SignedAgreement: { required: "Please upload Signed Agreement" }
            },
        }
    });

    var form1 = $("#SaveVendorDocuments");
    form1.validate();
    $('#btnSubmit').click(function () {
        debugger
        if (form1.valid() == false) {
            return false;
        }
        var VendorId = $("#VendorId").val();
        var VendorDocumentId_Encrypted = $('#VendorDocumentId_Encrypted').val();
        $.ajax({
            url: '@Url.Action("IsVendorDocumentExist", "ESS_Vendor_DocumentUpload")',
            method: "get",
            data: { VendorId: VendorId, VendorDocumentId_Encrypted: VendorDocumentId_Encrypted },
            success: function (response) {
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon == "error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else {
                    $("#SaveVendorDocuments").submit();

                }
            }
        });
    });
</script>

<script>
    function viewDocument(encId, fileName) {

        if (!encId || !fileName) {
            alert("Document not available");
            return;
        }

        var fileUrl = '@Url.Action("ViewVendorDocument","ESS_Vendor_DocumentUpload")'
            + '?encId=' + encodeURIComponent(encId)
            + '&fileName=' + encodeURIComponent(fileName);

        var extension = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
        var previewHtml = "";

        if (["jpg", "jpeg", "png"].includes(extension)) {
            previewHtml = `<img src="${fileUrl}" />`;
        }
        else if (extension === "pdf") {
            previewHtml = `
                <iframe src="${fileUrl}"
                        style="width:100%; height:65vh; border:none;"></iframe>
            `;
        }
        else {
            previewHtml = `
                <p>
                    Preview not supported.<br/>
                    <a href="${fileUrl}" target="_blank">Download File</a>
                </p>
            `;
        }

        $("#docPreviewBody").html(previewHtml);

        $("#viewDocModal").modal({
            backdrop: 'static',
            keyboard: true
        }).modal('show');
    }

    function closePreviewModal() {
        $("#docPreviewBody").html('');
        $("#viewDocModal").modal('hide');
    }
</script>



