@model KompassHR.Areas.ESS.Models.ESS_EmployeeReview.Review_Employee
@{
    ViewBag.Title = "ESS_EmployeeReview_TeamReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky;
        left: 62px;
    }

    .fixed-side {
        position: sticky;
        left: 0;
    }

    .fixed-side1 {
        position: sticky;
        left: 62px;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/ESS/ESS_WorkForce_Menu/ESS_WorkForce_Menu/?id=29">Employee Review Menu </a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Team Review </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Team Review</h4>                   
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add employee review comments here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/ESS/ESS_EmployeeReview_TeamReview/SaveUpdate" id="SaveTeamReview" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Doc No
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", type = "text", id = "txtDocNo", autocomplete = "Off", name = "DocNo", Value = @ViewBag.DocNo.DocNo,@readonly="readonly", style="Background-Color:#eee" })
                                                @Html.HiddenFor(model => model.EmployeeReviewId_Encrypted)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px"> 
                                            <label class="form-label col-form-label col-md-4">
                                                Doc Date
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", type = "date", id = "dateDocDate", autocomplete = "Off", name = "DocDate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Employee
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ReviewEmployeeId, new SelectList(ViewBag.GetEmployeeName, "Id", "Name"), "--Select--", new { id = "ddlReviewerEmployeeId", name = "ReviewerEmployeeId", @class = "form-select" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Review Tittle
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ReviewTittle, new { @class = "form-control", type = "text", id = "txtReviewTittle", autocomplete = "Off", name = "ReviewTittle" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", type = "text", id = "txtDescription", autocomplete = "Off", name = "Description" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Suggetion
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Suggestion, new { @class = "form-control", type = "text", id = "txtSuggestion", autocomplete = "Off", name = "Suggestion" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md126">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Review Panal
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.ReviewPanel, new { @class = "form-control", type = "text", id = "txtReviewPanel", autocomplete = "Off", name = "ReviewPanel" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Rating
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Rating, new List
                                                <SelectListItem>
                                                {
                                                   new SelectListItem { Text = "High",Value = "1"},
                                                   new SelectListItem { Text = "Medium",Value = "2"},
                                                   new SelectListItem { Text = "Low",Value = "3"},
                                                   }, "--Select--",
                                                   new { @class = "form-select", @id = "txtRating", @name = "Rating" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Next Review Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.NextReviewDate, new { @class = "form-control", type = "date", id = "txtNextReviewDate", autocomplete = "Off", name = "NextReviewDate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-4 d-flex">
                                                <div class="title d-flex align-items-center">
                                                    Last Record :                                                   
                                                    <span>@ViewBag.LastRecored</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm" id="btnGetList">
                                                            <i class="fa-solid fa-share-from-square"></i> List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    debugger;
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }

</script>


<script>
    $("#btnGetList").click(function () {
        var url = '@Url.Action("Getlist", "ESS_EmployeeReview_TeamReview")';
        window.location.href = url;
    });

    $(document).ready(function () {     

        debugger;       
        $("#ddlReviewerEmployeeId").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }

     

        $("#formReset").click(function () {
            $("#SaveTeamReview")[0].reset()
        });


        var DocDate=  @Html.Raw(Json.Encode(TempData["DocDate"]));
        var NextReviewDate =  @Html.Raw(Json.Encode(TempData["NextReviewDate"]));
        debugger;
        if(DocDate==""||NextReviewDate=="")
        {

        }
        else
        {
            var DocDate =  convertDate(DocDate);
            var NextReviewDate =  convertDate(NextReviewDate);
            $("#dateDocDate").val(DocDate);
            $("#txtNextReviewDate").val(NextReviewDate);
        }


        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
        $("#dateDocDate").val(dateString);

    });//ready Funcation




    jQuery.validator.addMethod(
    "regex",
        function(value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        },"erreur expression reguliere"
    );

    $('#SaveTeamReview').validate({
        rules: {
            DocDate: {
                required: true,
            },
            ReviewEmployeeId: {
                required: true,
            },
            ReviewTittle: {
                required: true,
            },
            Description: {
                required: true,
            },
            Suggestion: {
                required: true,
            },
            ReviewPanel: {
                required: true,
            },
            NextReviewDate:{
                required:true,
            },
            Rating:{
                required:true,
            },
        },
        messages: {
            DocDate: {
                required: "Doc Date is required",
            },
           ReviewEmployeeId: {
                required: "Employee name is required",
            },
           ReviewTittle: {
               required: "Review Tittle is required",
            },
           Description: {
               required: "Description is required",
            },
           Suggestion: {
                required: "StartTime is required",
            },
           ReviewPanel: {
               required: "Review Panel is required",
           },
           NextReviewDate:{
               required: "Next Review Date is required",
           },
           Rating:{
               required:"Rating is required"
           }
        },
    });


    var form = $("#SaveTeamReview");
    form.validate();
    $("#btnSubmit").click(function(){
        if(form.valid()==false)
        {
            $("#txtNextReviewDate").removeClass('error');          
            return false;
        }
    });

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("txtNextReviewDate").setAttribute("min", today);
    document.getElementById("dateDocDate").setAttribute("min", today);
    document.getElementById("dateDocDate").setAttribute("max", today);
</script>



