@model KompassHR.Areas.Setting.Models.Setting_IncomeTax.IncomeTax_TANBuMapping
@{
    ViewBag.Title = "Setting_IncomeTax_TANBuMapping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-weight: 600;
        font-size: 12px;
        padding: 4px !important;
        vertical-align: middle;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    .fa-eye {
        font-size: 16px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 10px;
    }
</style>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                TAN and BU Mapping
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_IncomeTax_Menu", "Setting_IncomeTax_Menu", new { id = 9, ScreenId =74, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> TAN and BU Mapping - <b>@ViewBag.AddUpdateTitle</b> </h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define TAN and BU Mapping here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_IncomeTax_TANBuMapping", new { area = "Setting" })' id="SaveTANBuMapping" method="post">
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="formBx1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Company
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.TANBuMappingCmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { id = "TANBuMappingCmpId", @class = "form-select", name = "TANBuMappingCmpId" })
                                                            @Html.HiddenFor(model => model.TANBuMappingID)
                                                            @Html.HiddenFor(model => model.TANBuMappingID_Encrypted, new { id = "TANBuMappingID_Encrypted" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Business Unit
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.TANBuMappingBranchId, new SelectList(ViewBag.BranchName, "Id", "Name"), "--Select--", new { id = "TANBuMappingBranchId", @class = "form-select", autocomplete = "off", name = "TANBuMappingBranchId" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">                                               
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            TAN
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.TANId, new SelectList(ViewBag.GetTAN, "Id", "Name"), "--Select--", new { id = "TANId", @class = "form-select", autocomplete = "off", name = "TANId" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>  
                                
                                
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_IncomeTax_TANBuMapping", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetDeductorDetailsList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>




<script>
    $(document).ready(function () {
        debugger;
        $("#TANBuMappingCmpId").select2();
        $("#TANBuMappingBranchId").select2();
        $("#TANId").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }



        $("#TANBuMappingCmpId").on("change", function () {
            debugger;
            $("#TANBuMappingBranchId").find("option").remove();
            var CmpId = $("#TANBuMappingCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Setting_IncomeTax_TANBuMapping")',              
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger
                    if (data.data !=null) {
                        $("#TANBuMappingBranchId").append("<option>--Select-- </option>");
                        $.each(data.data, function(i, p) {
                            $("#TANBuMappingBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }

                    if (data.TAN !=null) {
                        $.each(data.TAN, function(i, p) {
                            $("#TANId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });

    });
</script>



<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveTANBuMapping").validate({

        rules: {
            TANBuMappingCmpId: {
                required: true,

            },
            TANBuMappingBranchId: {
                required: true,

            },
            TANId: {
                required: true,

            }
           
        },
        messages: {
            TANBuMappingCmpId: {
                required: "Company is required",

            },
            TANBuMappingBranchId: {
                required: "Business Unit Mobile is required",

            },
            TANId: {
                required: "TAN is required",

            }
        }
    });

    var form = $("#SaveTANBuMapping");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var TANBuMappingCmpId=$("#TANBuMappingCmpId").val();
        var TANBuMappingID_Encrypted=$("#TANBuMappingID_Encrypted").val();
        var TANBuMappingBranchId=$("#TANBuMappingBranchId").val();
        var TANId=$("#TANId").val();
        $.ajax({
            url:"IsTANBUExists",
            method:"get",
            data:{TANBuMappingBranchId:TANBuMappingBranchId,TANBuMappingID_Encrypted:TANBuMappingID_Encrypted,TANId:TANId},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveTANBuMapping").submit();

                }
            }
        });
    });
</script>