@model KompassHR.Areas.ESS.Models.ESS_Tax.IncomeTax_Fyear
@{
    ViewBag.Title = "ESS_Tax_InvestmentFYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Error {
        font-size: 12px;
        color: red;
    }
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                IT Declaration (Financial Year)
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Tax_ITDeclarationMenu", "ESS_Tax_ITDeclarationMenu", new {id = 9, ScreenId=526, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">IT Declaration (Financial Year)</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_Tax_InvestmentFYear", "ESS_Tax_InvestmentFYear", new { area = "ESS" })' id="InvestmentFYear" method="post" data-parsley-validate="true">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Financial Year<span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.TaxFyearId, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "TaxFyearId", @class = "form-select", autocomplete = "off", name = "TaxFyearId" })
                                                <span id="ErrorFyearId" class="Error"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnIncomeTaxNext">
                                                    Start  <i class="fa-solid fa-arrow-right-long"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnIncomeTaxNext">
                                                            Next  <i class="fa-solid fa-arrow-right-long"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnIncomeTaxNext").click(function () {
        debugger;
        var TaxFyearId = Number($('#TaxFyearId').val());
        var TaxYear = $('#TaxFyearId :selected').text();
        if (TaxYear == "--Select--") {
            $('#ErrorFyearId').html("Select financial year");
            return false;
        }
        else {
            $('#ErrorFyearId').html("");
        }
        $.ajax({
            url: "@Url.Action("SendTaxFyearIdAndYear", "ESS_Tax_InvestmentFYear")",
            method: "get",
            data: { TaxFyearId: TaxFyearId, TaxYear: TaxYear },
            success: function (data) {
                debugger;
                var ModuleId = data.ModuleId;
                if (data.GetFyearId == 0) {
                    Swal.fire({
                        icon: "error",
                        text: "Income tax rule/setting is not available for this financial year.",
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup()
                            popup.classList.remove('swal2-show')
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake')
                            })
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake')
                            }, 500)
                            // return false
                        }
                    });
                        
                    //$('#ErrorFyearId').html("IncomeTax setting not found in this year");
                    return false;
                }
                else {
                    //$('#ErrorFyearId').html("");
                    var url = '@Url.Action("ESS_Tax_InvestmentMenu", "ESS_Tax_InvestmentMenu")?id=' + ModuleId;
                    window.location.href = url;
                }
               
            }

        });
    });

  
</script>

