
@{
    ViewBag.Title = "Personal Gatepass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Personal Gatepass
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Personal Gatepass - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> 
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of personal gatepass list.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ESS_TimeOffice_PersonalGatePass", "ESS_TimeOffice_PersonalGatePass", new { area = "ESS" })">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="data-table-combine"
                                           style="width: 100%;">
                                        <thead>
                                            <tr class="trheading">
                                                <th class="text-nowrap">Cancel</th>
                                                <th class="text-nowrap">Delete</th>
                                                <th class="text-nowrap">Status</th>
                                                <th class="text-start text-nowrap">Doc No </th>
                                                <th class="text-start text-nowrap">Req Date</th>
                                                <th class="text-start text-nowrap">Shift</th>
                                                <th class="text-start text-nowrap">For Time</th>
                                                <th class="text-start text-nowrap">Reason</th>
                                                <th class="text-start text-nowrap">Approve/Rejected by</th>
                                                <th class="text-start text-nowrap">Approve/Rejected Date</th>
                                                <th class="text-start text-nowrap">Rejected Reason</th>
                                                <th class="text-nowrap text-center">Auto/Manually</th>
                                                <th class="text-nowrap text-center">Out/In Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.PersoanlGetpass)
                                            {
                                                <tr>
                                                    @if (@d.CancelStatus != " ")
                                                    {
                                                        <td class="text-center"> @d.CancelStatus</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <a href="#modal-dialogForHoldReject1" onclick="CancelRequestFun(@d.PersonalGatepassId,'@d.Status')" id="btnmodal-dialog1">
                                                                <i class="fa-solid fa-xmark fa-xl text-dark" style="color:black"></i>
                                                            </a>
                                                        </td>
                                                    }
                                                    <td class="text-center">
                                                        <a id="btnDelete" onclick="DeletePersonalGetPass('@d.PersonalGatepassId_Encrypted','@d.PersonalGatepassId','@d.Status')"
                                                           style="cursor:pointer">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <i class="fa-solid fa-circle-info text-success fa-lg" style="cursor: pointer;" onclick="ApproveStatus(@d.PersonalGatepassId)"></i> &nbsp;
                                                        @d.ApprovedDay
                                                    </td>
                                                    <td class="text-nowrap">@d.DocNo</td>
                                                    <td class="text-nowrap">@d.ReqDate</td>
                                                    <td class="text-nowrap">@d.PersonalGatepassShiftName</td>
                                                    <td class="text-nowrap">@d.ForTime</td>
                                                    <td class="text-nowrap">@d.Reason</td>
                                                    <td class="text-nowrap">@d.ApprovedBy</td>
                                                    <td class="text-nowrap">@d.ApproveRejectDate</td>
                                                    <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                                    <td class="text-nowrap">@d.ApprovedAutoManually</td>
                                                    <td class="text-nowrap">@d.Visitor_INOut</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- #Start Cancel Request dialog -->
<div class="modal fade" id="CancelModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title">Request For Cancellation</h5>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            @* @Html.DropDownListFor(model => model.PunchMissingEmployeeID, new SelectList(ViewBag.GetAdditionalList, "Id", "Name"), new { id = "LeaveMasterLeaveYearId", name = "LeaveMasterLeaveYearId", @class = "form-select", autocomplete = "off" })*@
                                            <h6> Select Approver Name <span class="important">*</span></h6>

                                            @Html.DropDownList("Id", new SelectList(ViewBag.GetManagerEmployee, "Id", "Name"), "--Select--", new { @class = "form-control", Id = "ddlManagerName" })
                                            <h1></h1>
                                            <span id="ErrorMessage" class="Error" style="color:red"></span>
                                            <h6> Enter Remark <span class="important">*</span></h6>
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                            <span id="AreaErrorMessage" class="Error" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SendCancelRequest()" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                @*<button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                        <i class="fa-solid fa-share-from-square"></i> Cancel
                    </button>*@
            </div>
        </div>
    </div>
</div>
<!-- #End Cancel Request dialog -->


<style>
    .timeline {
        max-width: 400px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .timeline:before {
            left: 32px;
        }

    .timeline-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .timeline-item:last-child {
            margin-bottom: 0;
        }

    .iconGreen {
        width: 24px;
        height: 24px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 15px;
    }

    .iconRed {
        width: 24px;
        height: 24px;
        background-color: #ff5b57;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 15px;
    }

    .text {
        flex-grow: 1;
    }

        .text p {
            margin: 0;
            font-size: 14px;
        }

        .text small {
            color: gray;
            font-size: 12px;
        }

    .button {
        text-align: center;
        margin-top: 20px;
    }

        .button button {
            background-color: #a8d935;
            border: none;
            padding: 10px 20px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

            .button button:hover {
                background-color: #8cc62f;
            }
</style>

<div class="modal fade" id="RequestInfoModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body-content" style="position: relative;">
                <div class="timeline">
                    <div class="panel-heading-btn" style="margin-top: -13px; position: absolute; right: 8px;" data-bs-dismiss="modal">
                        <a href="javascript:;" class="btn btn-icon btn-danger btnClear"
                           aria-hidden="true" id="CloseModel">
                            <i class="fa fa-xmark"></i>
                        </a>
                        @*<a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal" aria-hidden="true">
                                <i class="fa fa-xmark"></i>
                            </a>*@
                    </div>
                    <div id="timelineMainDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var Duration =@Html.Raw(Json.Encode(ViewBag.Duration));
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        $('title').html("PersonalGatepass");
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }


    });//Reday Funcation


    function DeletePersonalGetPass(PersonalGatepassId_Encrypted,PersonalGatepassId,Status) {
        if(Status!="Pending")
        {
            Swal.fire({
                icon: "error",
                text: "Approved/Rejected request can't delete",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("PersonalGetPassDelete", "ESS_TimeOffice_PersonalGatePass")?PersonalGatepassId_Encrypted=' + PersonalGatepassId_Encrypted+'&PersonalGatepassId='+PersonalGatepassId;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
</script>


<script>

    function CancelRequestFun(PersonalGatepassId,Status)
    {
        if(Status=="Pending" || Status=="Cancel")
        {
            if(Status=="Pending")
            {
                var Message="Pending request can't cancel";
                var Icon="error";
            }
            else{
                var Message="Request already cancel";
                var Icon="error";
            }

            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }
            });
            return false;
        }
        debugger;
        localStorage.setItem('PersonalGatepassId',PersonalGatepassId);
        $("#CancelModal").modal('show');
    }
    function SendCancelRequest()
    {
        //$("#CancelModal").modal('show');
        var ddlManagerName = $('select#ddlManagerName option:selected').val();
        var txtApproveRejectRemark = $('#txtApproveRejectRemark').val();
        if(ddlManagerName=="")
        {
            $("#ErrorMessage").html("Select approver name");
            $("#ddlManagerName").focus();
            return false;
        }
        else
        {
            $("#ErrorMessage").html("");
        }
        if(txtApproveRejectRemark=="")
        {
            $("#AreaErrorMessage").html("Please enter remark");
            $("#txtApproveRejectRemark").focus();
            return false;
        }
        else
        {
            $("#AreaErrorMessage").html("");
        }
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var GetPGId = localStorage.getItem('PersonalGatepassId');

                var ddlManagerId = $("#ddlManagerName").val();
                var Origin="PG";
                Remark = $("#txtApproveRejectRemark").val();
                $("#CancelModal").modal('hide');
                $(".Userloaderbg").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("CancelRequest", "ESS_TimeOffice_PersonalGatePass")",
                    method:"get",
                    data:{PersonalGatepassId:GetPGId,ddlManagerId:ddlManagerId,Remark:Remark,Origin:Origin},
                    success:function(response){
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon=="error") {
                            $(".Userloaderbg").css("display", "none");
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    })
                                    .then((result) => {
                                        if (result.isConfirmed) {
                                            $("#CancelModal").modal('hide');
                                            $("#txtApproveRejectRemark").val("")
                                            window.location.href = '@Url.Action("ESS_TimeOffice_GetApproveRejectPersOnalGatepassList", "ESS_TimeOffice_PersonalGatePass")';
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }
                        }
                        else{
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("ESS_TimeOffice_GetApproveRejectPersOnalGatepassList", "ESS_TimeOffice_PersonalGatePass")';
                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {

                                            }
                                        })

                                        $("#CancelModal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            } else if (
                /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                $("#CancelModal").modal('hide');
                $("#ddlManagerName").val(null);
                $("#txtApproveRejectRemark").val("");

            }
        })
    }
</script>


<script>
    function ApproveStatus(DocId) {
        $.ajax({
            url: '@Url.Action("RequestStatus", "ESS_TimeOffice_PersonalGatePass")',
            method: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: { DocId: DocId },
            success: function (response) {
                debugger
                $('#RequestInfoModal').modal('show');
                var data = JSON.parse(response);
                var timelineHtml = '';
                for (var i = 0; i < data.length; i++) {
                    var icon = '';
                    var iconColor='';
                    var textColor = '';
                    if (data[i][5].Value === 'success') {
                        icon = '✔';
                        iconColor ="iconGreen";
                        textColor = 'Green';
                    } else if (data[i][5].Value === 'error') {
                        icon = '✘';
                        iconColor ="iconRed";
                        textColor = 'Red';
                    } else {
                        icon = '⏳';
                        iconColor ="iconRed";
                        textColor = 'Black';
                    }

                    timelineHtml += '<div class="timeline-item">' +
                                '<div class="' + iconColor + '"><span class="timelineIcon">' + icon + '</span></div>' +
                                '<div class="text">' +
                                '<b><p class="timelineRemark" style="color:' + textColor + ';">' + data[i][2].Value + '</p></b>' +
                                '<small class="timelineEmployeeName" style="color:Black;">' + data[i][3].Value + '</small><br />' +
                                 '<small class="timelineDate" style="color:Black;">' + data[i][1].Value + '</small>' +
                                '</div>' +
                                '</div>';
                }
                $('#timelineMainDiv').html(timelineHtml);
            }
        });
    }

</script>

