@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_PersonalGatepass
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>



<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
  
</style>



    <div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/ESS/ESS_TimeOffice_Menu/ESS_TimeOffice_Menu/?id=5">Attendance Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Personal Getpass</h1>
    <!-- END page-header -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Personal Getpass - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        
                        
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/ESS/ESS_TimeOffice_PersonalGatePass/ESS_TimeOffice_PersonalGatePass">
                                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                                </button>
                            </a>
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage" id="data-table-combine"
                                           style="width: 100%;">
                                        <thead>
                                            <tr class="trheading">
                                                <th class="text-nowrap">Cancel</th>
                                                <th class="text-nowrap">Status</th>
                                                <th class="text-nowrap text-center">Auto/Manually</th>
                                                <th class="text-start text-nowrap">Doc No </th>
                                                <th class="text-start text-nowrap">Doc Date </th>
                                                <th class="text-start text-nowrap">Req Date</th>
                                                <th class="text-start text-nowrap">Shift</th>
                                                <th class="text-start text-nowrap">Direction</th>
                                                <th class="text-start text-nowrap">For Time</th>
                                                <th class="text-start text-nowrap">Reason</th>
                                                <th class="text-start text-nowrap">Approve/Rejected by</th>
                                                <th class="text-start text-nowrap">Approve/Rejected Date</th>
                                                <th class="text-start text-nowrap">Rejected Reason</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.PersoanlGetpass)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <button type="button" id="btnDelete" onclick="CancelFunction(@d.PersonalGatepassId)"
                                                                class="btn btn-danger ListBtn btnpress">
                                                            <i class="fa-solid fa-xmark"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-nowrap">@d.ApprovedDay</td>
                                                    <td class="text-nowrap">@d.ApprovedAutoManually</td>
                                                    <td class="text-nowrap">@d.DocNo</td>
                                                    <td class="text-nowrap">@d.CreatedDate</td>
                                                    @*<td class="text-nowrap">@d.EmployeeName</td>
                                                    <td class="text-nowrap">@d.EmployeeNo</td>*@
                                                    <td class="text-nowrap">@d.ReqDate</td>
                                                    <td class="text-nowrap">@d.PersonalGatepassShiftName</td>
                                                    <td class="text-nowrap">@d.Direction</td>
                                                    <td class="text-nowrap">@d.ForTime</td>
                                                    <td class="text-nowrap">@d.Reason</td>
                                                    <td class="text-nowrap">@d.Manager1</td>
                                                    <td class="text-nowrap">@d.ApproveRejectDate</td>
                                                    <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Remark For Cancel Request</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                @*<input type="button" onclick="ApproveReject('Reject')" class="Ok btn btn-success" data-bs-dismiss="modal" id="btnReject" value="Submit" />*@
                <button type="button" onclick="ApproveReject('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
                @*<input type="button" class="Ok btn btn-close" data-bs-dismiss="modal" id="btnCancel" value="Cancel" />*@
            </div>
        </div>
    </div>
</div>

<script>
    function CancelFunction(PersonalGatepassId) {
        $('#myModal').modal('show');
    }
</script>

