
@{
    ViewBag.Title = "ESS_ContractorAtten_ViewForOutdoorRequestApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Item = ViewBag.OutdoorApprovalList;
}

<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_Contractor_Menu", "ESS_Contractor_Menu", new { id = 27, ScreenId=307, area = "ESS" })">Contractor Menu</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("ESS_ContractorAttendance_Approval", "ESS_ContractorAttendance_Approval", new { id = 27, ScreenId=333, area = "ESS" })">Approval List</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header hidden-print"> Approval Request <small></small></h1>
    <!-- END page-header -->
    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            
            <input type="hidden" id="hdnEncryptedId" value="@Item.OutDoorCompanyId_Encrypted" />
            <input type="hidden" id="hdnDocIdId" value="@Item.OutDoorCompanyId" />
            <input type="hidden" id="hdnOrigin" value="@Item.Origin" />
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                <a href="#modal-dialogForApproval1" onclick="Approved('Approved')" type="button" class="btn btn-success" id="btnmodal-dialog" value="Approved"><i class="fa-solid fa-check-double"></i>Approve</a>
                @*<a href="#modal-dialogForHoldReject1" onclick="showmodal(27 ,'Hold')" type="button" class="btn btn-warning" id="btnmodal-dialog1" value="Hold">Hold</a>*@
                <button href="#modal-dialogForHoldReject1" onclick="OpenModule()" type="button" class="btn btn-danger" id="btnmodal-dialog1" value="Rejected">Reject</button>
            </span>
            Contractor Outdoor Request 
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <b><small class="smallFrom">From,</small></b>
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>&nbsp;&nbsp;   <strong class="text-dark"><b>@Item.EmployeeName</b></strong><br />
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Department&nbsp;:</b> &nbsp;@Item.DepartmentName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;<b>Designation&nbsp;:</b> &nbsp;  @Item.DesignationName <b></b><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;&nbsp; <b>Phone&nbsp;:</b>  &nbsp;  @Item.CompanyMobileNo <br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp; <b>Email &nbsp;:</b> &nbsp;  @Item.CompanyMailID
                            </address>
                        </div>
                    </div>

                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><span class="text-dark">Employee Name</span><br /></th>
                                            <td>@Item.EmployeeName</td>

                                            <th><span class="text-dark">Outdoor Company Type</span><br /></th>
                                            <td>@Item.OutDoorCompanyType</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Date</span><br /></th>
                                            <td>@Item.FromDate</td>

                                            <th><span class="text-dark">To Date</span><br /></th>
                                            <td>@Item.ToDate</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">From Time</span><br /></th>
                                            <td>@Item.FromTime</td>

                                            <th><span class="text-dark">To Time</span><br /></th>
                                            <td>@Item.ToTime</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Total Days</span><br /></th>
                                            <td>@Item.TotalDays</td>

                                            <th><span class="text-dark">Total Time</span><br /></th>
                                            <td>@Item.TotalDuration</td>
                                        </tr>
                                        <tr>
                                            <th><span class="text-dark">Description</span><br /></th>
                                            <td>@Item.Direction</td>

                                            <th><span class="text-dark">Reason</span><br /></th>
                                            <td>@Item.Reason</td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>


<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true" id="CloseModel">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->
<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }
        @*var List = @Html.Raw(Json.Encode(ViewBag.ResourceApprovalList));
        debugger;
        var Encrypted=List[1].Value;
        var id=List[0].Value;
        $("#txtResourceId_Encrypted").val(Encrypted);
        $("#txtResourceId").val(id);*@
    });
</script>

<script>
    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";
        //Print Page
        window.print();
        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
    //var Resource="";
    //var ResourceEncrypted="";
    //var Status="";
    function OpenModule()
    {
        debugger;
        $("#myModalFinal").modal('show');
    }

    function Approved(Approver)
    {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var DocId=$("#hdnDocIdId").val();
                var Encrypted=$("#hdnEncryptedId").val();
                var Origin=$("#hdnOrigin").val();
                var Status="";
                var Remark="";
                if(Approver=="Rejected")
                {
                    Remark = $("#txtApproveRejectRemark").val();
                    Status="Rejected";
                }
                else{
                    Status="Approved";
                }
                $(".Userloaderbg").css("display","flex");
                $.ajax({
                    url: "@Url.Action("ApproveRequest", "ESS_ContractorAttendance_Approval")",
                    method:"get",
                    data:{DocId:DocId,Encrypted:Encrypted,Status:Status,Remark:Remark,Origin:Origin},
                    success:function(response){
                        debugger;
                        //$(".Userloaderbg").css("display","none");
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon=="error") {
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    });

                                    $("#myModalFinal").modal('hide');
                                    $("#txtApproveRejectRemark").val("")
                                    .then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("ESS_ContractorAttendance_Approval", "ESS_ContractorAttendance_Approval")';
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }
                        }
                        else{
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("ESS_ContractorAttendance_Approval", "ESS_ContractorAttendance_Approval")';
                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {

                                            }
                                        })

                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
</script>
