@model KompassHR.Areas.Setting.Models.Setting_UserAccessPolicy.UserPolicyMapping
@{
    ViewBag.Title = "Setting_UserAccessPolicy_UserPolicyMapping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="~/assets/js/CaptchaVerification.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                User Policy Mapping
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_UserAccessPolicy_Menu", "Setting_UserAccessPolicy_Menu", new { id = 32, ScreenId = 121, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">User Policy Mapping - @ViewBag.AddUpdateTitle </h4>
                
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        User Policy Mapping ensures users are assigned appropriate access and permissions based on their roles and organizational policies.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_UserAccessPolicy", new { area = "Setting" })' id="SaveUserPolicyMapping" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Employee Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.GetEmpolyeeName, "Id", "Name"), "--Select--", new { @class = "form-control", name = "EmpolyeeName", id = "txtGetEmpolyeeName" })
                                                <span id="ErrortxtGetEmpolyeeName" class="Error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" id="btnshow" onclick="ShowPolicyName()" class="btn btn-primary btn-sm">Show</button>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="panel-body">
                                                <div class="table-scroll div1">
                                                    <div class="table-wrap">
                                                        <div>
                                                            
                                                        </div>
                                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr class="trheading">
                                                                    <th class="text-center" style="width:70px;"><label><input type="checkbox" class="allChecked" name="checkbox" id="AllCheckBox" value="value"><b>&nbsp; All</b></label></th>
                                                                    <th class="text-nowrap" hidden>UserGroupId</th>
                                                                    <th class="text-center">Policy Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tblPolicyName">
                                                                @if (ViewBag.GetUserPolicyList != null)
                                                                {
                                                                    foreach (var d in ViewBag.GetUserPolicyList)
                                                                    {
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <!-- Checkbox with conditional checked attribute -->
                                                                                @{
                                                                                    var check = d.IsActive ? "checked" : "";
                                                                                }
                                                                                <input type="checkbox" id="chkIsActive_@d.UserGroupId" @check style="cursor:pointer" />
                                                                            </td>
                                                                            <td hidden>@d.UserGroupId</td>
                                                                            <td>@d.UserGroupName</td>
                                                                        </tr>
                                                                       }
                                                                 }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="BtnBx">
                                                <div>
                                                    <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#txtGetEmpolyeeName").select2();
    });
</script>
<script>
    function ShowPolicyName() {
        var EmployeeId = $("#txtGetEmpolyeeName").val();
        if (EmployeeId == "") {
            $("#ErrortxtGetEmpolyeeName").html("Employee name id required");
            return false;
        }
        else {
            $("#ErrortxtGetEmpolyeeName").html("");
        }
        var employeeID = $("#txtGetEmpolyeeName").val();
        const url = '@Url.Action("Setting_UserAccessPolicy_UserPolicyMapping", "Setting_UserAccessPolicy_UserPolicyMapping", new { area = "Setting" })';
        window.location.href = url + '?EmployeeID=' + employeeID;
    }
</script>
<script>
    $("#AllCheckBox").on("click", function () {
        debugger;
        var isChecked = $(this).prop('checked');
        $("#tblPolicyName tr").each(function () {
            $(this).find("input").prop('checked', isChecked);
        });
    });

    $("#btnSubmit").click(function () {
        debugger
        $(".Userloaderbg").css("display", "flex");
        var table = document.getElementById("tblPolicyName");
        var employee = $("#txtGetEmpolyeeName").val();
        var rowCount = table.rows.length;
        var userpolicymap = [];

        for (var i = 0; i < rowCount; i++) {
            var data = {};
            var checkbox = table.rows[i].cells[0].children[0]; // Get the checkbox in the first cell
            if (checkbox.checked) {  // Only collect data if the checkbox is checked
                data.EmployeeID = employee;
                data.IsActive = checkbox.checked;
                data.MapPolicyId = table.rows[i].cells[1].innerHTML;
                userpolicymap.push(data);
            }
        }

        console.log(userpolicymap);
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpadte", "Setting_UserAccessPolicy_UserPolicyMapping")',
            //url: "SaveUpadte",
            data: JSON.stringify({ userpolicymap: userpolicymap, EmployeeId: employee }),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
                var Message1 = data.Message;
                var Icon1 = data.Icon;
                if (Icon1 != null) {
                    if (Message1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup()
                                popup.classList.remove('swal2-show')
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake')
                                })
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                }, 500)
                                // return false
                            }
                        }).then(function () {
                            var url = '@Url.Action("Setting_UserAccessPolicy_UserPolicyMapping", "Setting_UserAccessPolicy_UserPolicyMapping")';
                            window.location.href = url;
                        })
                    }
                }
            }
        });
    });
</script>
