@model KompassHR.Areas.Setting.Models.Setting_HRSpace.HRSpace_Letter
@{
    ViewBag.Title = "ESS_HRSpace_AddLetters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Scripts -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<!-- Summernote -->
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
  
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    h6 {
        margin-top: -20px;
        padding: 0 10px;
    }

    mark {
        background-color: #fff;
        font-size: 15px;
        padding: 0 5px;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* ✅ Fix: Table pasted from Word should show completely */
   
    /* --- FIX for table getting cut in Summernote --- */
.note-editable {
    overflow-x: auto !important;
    overflow-y: auto !important;
    white-space: normal !important;
    word-break: break-word !important;
    max-width: 100% !important;
    /*min-height: 400px !important;*/
}

/* BODY editor only */
#Letter_Description + .note-editor .note-editable {
    min-height: 400px !important;
}

/* HEADER editor */
#Letter_Header + .note-editor .note-editable {
    min-height: 100px !important;
}

/* FOOTER editor */
#Letter_Footer + .note-editor .note-editable {
    min-height: 100px !important;
}

.note-editable table {
    width: auto !important;
    max-width: none !important;
    border-collapse: collapse !important;
    table-layout: auto !important;
}

.note-editable table td,
.note-editable table th {
    border: 1px solid #000 !important;
    padding: 6px !important;
    white-space: normal !important;
    vertical-align: middle !important;
}

</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Letters
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new {area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_HRSpace_LettersMenu", "ESS_HRSpace_LettersMenu", new { id = 41, ScreenId =668, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Letters - @ViewBag.AddUpdateTitle</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define company-wise Letters here!
                    </p>
                </div>

                <div class="panel-body" style="height: 100% !important;">
                    <form role="form" action='@Url.Action("SaveUpdate", "ESS_HRSpace_AddLetters", new { area = "ESS" })' id="SaveLetter" method="post">
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Company <span class="important">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "CmpId" })
                                @Html.HiddenFor(model => model.LetterId_Encrypted, new { id = "LetterId_Encrypted" })
                            </div>
                        </div>

                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Letter <span class="important">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.HRSpace_letterMaster_Id, new SelectList(ViewBag.GetLetters, "Id", "Name"), "--Select--", new { @class = "form-select", id = "HRSpace_letterMaster_Id" })
                                @*@Html.TextBoxFor(model => model.LetterName, new { id = "LetterName", @class = "form-control", autocomplete = "off" })*@
                            </div>
                        </div>

                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Letter Header <span class="important">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Letter_Header, new { @class = "summernote", id = "Letter_Header" })
                            </div>
                        </div>

                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Letter Body <span class="important">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Letter_Description, new { @class = "summernote", id = "Letter_Description" })
                            </div>
                        </div>

                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Letter Footer <span class="important">*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Letter_Footer, new { @class = "summernote", id = "Letter_Footer" })
                            </div>
                        </div>

                        <!-- ✅ Added Checkbox Row -->
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">
                                Send to Employee?
                            </label>
                            <div class="col-md-8">
                                <label class="form-check">
                                    @Html.CheckBoxFor(model=>model.IsSendToEmployee, new { @class = "form-check-input", id = "IsSendToEmployee" })
                                    <span class="form-check-label">Do you want to send this letter to the employee?</span>
                                </label>
                            </div>
                        </div>

                        <div class="text-center mt-3">
                            <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-floppy-disk"></i> Submit
                            </button>
                            <a href="@Url.Action("GetList", "ESS_HRSpace_AddLetters", new { area = "ESS" })" class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-share-from-square"></i> List
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(".summernote").each(function () {
        debugger
       

        $(this).summernote({
            placeholder: '',
            fontNames: [
                'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Futura Md BT',
                'Georgia', 'Helvetica', 'Impact', 'Lucida Console',
                'Tahoma', 'Times New Roman', 'Trebuchet MS', 'Verdana',
                'Open Sans', 'Roboto', 'Lato', 'Montserrat', 'Poppins',
                'Calibri', 'Cambria', 'Garamond', 'Bookman', 'Candara'
            ],
            fontNamesIgnoreCheck: [
                'Open Sans', 'Roboto', 'Lato', 'Montserrat', 'Poppins'
            ],
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['fontsize', 'color']],
                ['fontname', ['fontname']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'codeview']]
            ],
            callbacks: {
                onPaste: function (e) {
                    var clipboardData = (e.originalEvent || e).clipboardData;
                    var htmlData = clipboardData.getData('text/html');
                    if (htmlData) {
                        e.preventDefault();
                        htmlData = htmlData.replace(/\swidth=(")?\d+(\.\d+)?(pt|px|%)?(")?/gi, '');
                        htmlData = htmlData.replace(/<table/gi, '<table style="width:auto;"');
                        document.execCommand('insertHTML', false, htmlData);
                    }
                }
            }
        });

    });


    //$(".summernote").summernote({
    //    placeholder: '',
    //    //height: 400,
    //    fontNames: [
    //       'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Futura Md BT',
    //       'Georgia', 'Helvetica', 'Impact', 'Lucida Console',
    //       'Tahoma', 'Times New Roman', 'Trebuchet MS', 'Verdana',
    //       'Open Sans', 'Roboto', 'Lato', 'Montserrat', 'Poppins',
    //       'Calibri', 'Cambria', 'Garamond', 'Bookman', 'Candara'
    //    ],
    //    fontNamesIgnoreCheck: [
    //        'Open Sans', 'Roboto', 'Lato', 'Montserrat', 'Poppins'
    //        // Add any other custom/web fonts here that aren't system defaults
    //        // (Safe to include all your added ones if unsure)
    //    ],
    //    toolbar: [
    //        ['style', ['bold', 'italic', 'underline', 'clear']],
    //        ['font', ['fontsize', 'color']],
    //        ['fontname', ['fontname']],  // <-- This ensures the font dropdown is enabled (it should already be via your toolbar)
    //        ['para', ['ul', 'ol', 'paragraph']],
    //        ['table', ['table']],
    //        ['insert', ['link', 'picture']],
    //        ['view', ['fullscreen', 'codeview']]
    //    ],
    //    callbacks: {
    //        // Your existing onPaste callback...
    //        onPaste: function (e) {
    //            var clipboardData = (e.originalEvent || e).clipboardData || window.clipboardData;
    //            var htmlData = clipboardData.getData('text/html');
    //            if (htmlData) {
    //                e.preventDefault();
    //                htmlData = htmlData.replace(/\swidth=(")?\d+(\.\d+)?(pt|px|%)?(")?/gi, '');
    //                htmlData = htmlData.replace(/<table/gi, '<table style="width:auto;"');
    //                document.execCommand('insertHTML', false, htmlData);
    //            }
    //        }
    //    }
    //});










    // ✅ Ensure table remains visible after paste
    $('.summernote').on('summernote.paste', function () {
        setTimeout(function () {
            $('.note-editable table').css({
                'width': 'auto',
                'max-width': 'none',
                'table-layout': 'auto'
            });
        }, 200);
    });

</script>




<script>
    var Message = @Html.Raw(Json.Encode(TempData["Message"]));
    var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
    if (Message != null) {
        if (Icon != null) {
            Swal.fire({
                icon: Icon,
                text: Message,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    // return false
                }
            }).then(function() {
                window.location.reload();
            });
        }
    }
</script>



<script>
    // Helper function to format a Date object as 'YYYY-MM-DD'
    function formatToYYYYMMDD(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 0-based index
        const day = String(date.getDate()).padStart(2, '0'); // Always '01' here
        return `${year}-${month}-${day}`;
    }
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    $("#SaveLetter").validate({
        rules: {
            CmpId: {
                required: true,
            },
            HRSpace_letterMaster_Id: {
                required: true,
            },
            Letter_Description: {
                required: true,
            },
        },
        messages: {
            CmpId: {
                required: "Please select company",
            },
            HRSpace_letterMaster_Id: {
                required: "Please select letter",
            },
            Letter_Description: {
                required: "Please enter description ",
            },
        },

    });
    //IsValidation Check
    var form = $("#SaveLetter");
    form.validate();
    $("#btnSubmit").click(function () {

        $("#CmpId").select2();
        $("#HRSpace_letterMaster_Id").select2();

        debugger;
        form.valid();
        if(form.valid()==false)
        {
            //$("#dateToDate").removeClass('error');
            return false;
        }
        var CmpId = $("#CmpId").val();
        var LetterId_Encrypted = $("#LetterId_Encrypted").val();
        var HRSpace_letterMaster_Id = $("#HRSpace_letterMaster_Id").val();
        $.ajax({
            url: "@Url.Action("IsLetterExists", "ESS_HRSpace_AddLetters")",
            method:"get",
            data: { CmpId: CmpId, LetterId_Encrypted: LetterId_Encrypted ,HRSpace_letterMaster_Id:HRSpace_letterMaster_Id},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveLetter").submit();
                }
            }
        });

    });
</script>
