@model KompassHR.Areas.Setting.Models.Setting_IncomeTax.IncomeTax_DeductorResponsible
@{
    ViewBag.Title = "Setting_IncomeTax_DeductorDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />
<style>
    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-weight: 600;
        font-size: 12px;
        padding: 4px !important;
        vertical-align: middle;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    .fa-eye {
        font-size: 16px;
    }

    .formBx {
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        margin-bottom: 10px;
    }
</style>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Deductor Details
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_IncomeTax_Menu", "Setting_IncomeTax_Menu", new { id = 9, ScreenId =74, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Deductor Details - <b>@ViewBag.AddUpdateTitle</b> </h4>
                 
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define deuctor details here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_IncomeTax_DeductorDetails", new { area = "Setting" })' id="SaveDeductorDetails" method="post">
                                <h5 class="text-start bg-cyan text-white p-2 mb-0">Deductor Detail</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="formBx">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Company
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.CompanyName, "Id", "Name"), "--Select--", new { id = "ddlCompanyName", @class = "form-select", name = "CompanyName" })
                                                            @Html.HiddenFor(model => model.DeductorResponsibleId)
                                                            @Html.HiddenFor(model => model.DeductorResponsibleId_Encrypted, new { id = "DeductorResponsibleId_Encrypted" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            TAN of
                                                            Employer
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorTAN, new { @class = "form-control", id = "txtDeductorTAN", autocomplete = "Off", name = "DeductorTAN" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            PAN of
                                                            Employer
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorPAN, new { @class = "form-control", id = "txtDeductorPAN", name = "DeductorPAN", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-2">
                                                            Name
                                                            of Employer
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(model => model.DeductorName, new { @class = "form-control", id = "txtDeductorName", name = "DeductorName", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Employer
                                                            /
                                                            Deductor Division / Business Unit
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorDivision, new { @class = "form-control", id = "txtDeductorDivision", name = "DeductorDivision", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Flat
                                                            / Door /
                                                            Block No
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorFlatDoorBlockNo, new { @class = "form-control", id = "txtDeductorFlatDoorBlockNo", name = "DeductorFlatDoorBlockNo", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Name
                                                            of Premises /
                                                            Building
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorNameofPremisesBuilding, new { @class = "form-control", id = "txtDeductorNameofPremisesBuilding", name = "DeductorNameofPremisesBuilding", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Road
                                                            / Street /
                                                            Lane
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorRoadStreetLane, new { @class = "form-control", id = "txtDeductorRoadStreetLane", name = "DeductorRoadStreetLane", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Area /
                                                            Locality
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorAreaLocality, new { @class = "form-control", id = "txtDeductorAreaLocality", name = "DeductorAreaLocality", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Town
                                                            / City /
                                                            District
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorTownCityDistrict, new { @class = "form-control", id = "txtDeductorTownCityDistrict", name = "DeductorTownCityDistrict", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            State
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorState, new { @class = "form-control", id = "txtDeductorState", name = "DeductorState", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            State
                                                            Code
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorStateCode, new { @class = "form-control", id = "txtDeductorStateCode", name = "DeductorStateCode", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Pincode
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorPin, new { @class = "form-control", id = "txtDeductorPin", name = "DeductorPin", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Is Changed Address Deductor
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.IsChangeAddressDeductor, new SelectList(new List<object>() {
                                                                 new {text="Y",value="Yes"},
                                                                 new {text="N",value="No"},
                                                                  }, "text", "value"), "--Select--", new { @class = "form-select ", id = "ddlIsChangeAddressDeductor", name = "IsChangeAddressDeductor" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr class="mt-0">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Employer
                                                            /
                                                            Deductor Email ID
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorEmail, new { @class = "form-control", id = "txtDeductorEmail", name = "DeductorEmail", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Employer
                                                            /
                                                            Deductor STD Code
                                                            @*<span class="important">*</span>*@
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorSTD, new { @class = "form-control", id = "txtDeductorSTD", name = "DeductorSTD", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Employer
                                                            / Deductor Moblie No.
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorMobile, new { @class = "form-control", id = "txtDeductorMobile", name = "DeductorMobile", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Employer
                                                            / Deductor Tel-Phone No.
                                                            @*<span class="important">*</span>*@
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DeductorPhone, new { @class = "form-control", id = "txtDeductorPhone", name = "DeductorPhone", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr class="mt-0">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Deductor
                                                            Type
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">

                                                            @Html.DropDownListFor(model => model.DeductorType, new SelectList(new List<object>() {
                                                                 new {text="A-Center Government",value="A-Center Government"},
                                                                 new {text="S-State Government",value="S-State Government"},
                                                                 new {text="D-Statutory body (Central Govt.)",value="D-Statutory body (Central Govt.)"},
                                                                 new {text="E-Statutory body (State Govt.)",value="E-Statutory body (State Govt.)"},
                                                                 new {text="H-Autonomous body (State Govt.)",value="H-Autonomous body (State Govt.)"},
                                                                 new {text="L-Local Authority (Central Govt.)",value="L-Local Authority (Central Govt.)"},
                                                                 new {text="N-Local Authority (State Govt.)",value="N-Local Authority (State Govt.)"},
                                                                 new {text="K-Company",value="K-Company"},
                                                                 new {text="M-Branch / Division of Company",value="M-Branch / Division of Company"},
                                                                 new {text="P-Association of Person (AOP)",value="P-Association of Person (AOP)"},
                                                                 new {text="T-Association of Person (Trust)",value="T-Association of Person (Trust)"},
                                                                 new {text="J-Artificial Juridical Person",value="J-Artificial Juridical Person"},
                                                                 new {text="B-Body of Individuals",value="B-Body of Individuals"},
                                                                 new {text="Q-Individual/HUF",value="Q-Individual/HUF"},
                                                                 new {text="F-Firm",value="F-Firm"},
                                                                  }, "text", "value"), "--Select--", new { @class = "form-control ", name = "DeductorType", id = "ddlDeductorType" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            RPU File Name
                                                            @*<span class="important">*</span>*@
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.RPUFileName, new { @class = "form-control", id = "txtRPUFileName", name = "RPUFileName", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="form-label col-form-label col-md-2">
                                                            Name
                                                            of return
                                                            Preparation Utility
                                                            @*<span class="important">*</span>*@
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ReturnUtility, new { @class = "form-control", id = "txtReturnUtility", name = "ReturnUtility", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h5 class="text-start bg-cyan text-white p-2 mb-0">Responsible Detail</h5>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="formBx">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Name
                                                            of Person Responsible for paying Salary / Deduction
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleName, new { @class = "form-control", id = "txtResponsibleName", name = "ResponsibleName", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Designation
                                                            of Person Responsible for paying Salary / Deduction
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleDesignation, new { @class = "form-control", id = "txtResponsibleDesignation", name = "ResponsibleDesignation", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Responsible Person 's PAN

                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsiblePAN, new { @class = "form-control", id = "txtResponsiblePAN", name = "ResponsiblePAN", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Is Changed Address Responsible
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.IsChangeAddressResponsible, new SelectList(new List<object>() {
                                                                 new {text="Y",value="Yes"},
                                                                 new {text="N",value="No"},
                                                                  }, "text", "value"), "--Select--", new { @class = "form-select ", name = "IsChangeAddressResponsible", id = "ddlIsChangeAddressResponsible" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Flat
                                                            / Door /
                                                            Block No
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleFlatDoorBlockNo, new { @class = "form-control", id = "txtResponsibleFlatDoorBlockNo", name = "ResponsibleFlatDoorBlockNo", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Name
                                                            of Premises /
                                                            Building
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleNameofPremisesBuilding, new { @class = "form-control", id = "txtResponsibleNameofPremisesBuilding", name = "ResponsibleNameofPremisesBuilding", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Road
                                                            / Street /
                                                            Lane
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleRoadStreetLane, new { @class = "form-control", id = "txtResponsibleRoadStreetLane", name = "ResponsibleRoadStreetLane", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Area /
                                                            Locality
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleAreaLocality, new { @class = "form-control", id = "txtResponsibleAreaLocality", name = "ResponsibleAreaLocality", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Town
                                                            / City /
                                                            District
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleTownCityDistrict, new { @class = "form-control", id = "txtResponsibleTownCityDistrict", name = "ResponsibleTownCityDistrict", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            State
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ResponsibleState, new { @class = "form-control", id = "txtResponsibleState", name = "ResponsibleState", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                State
                                                                Code
                                                                <span class="important">*</span>
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsibleStateCode, new { @class = "form-control", id = "txtResponsibleStateCode", name = "ResponsibleStateCode", autocomplete = "Off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                Pincode
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsiblePin, new { @class = "form-control", id = "txtResponsiblePin", name = "ResponsiblePin", autocomplete = "Off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr class="mt-0">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                Responsible
                                                                Person's Email ID
                                                                <span class="important">*</span>
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsibleEmail, new { @class = "form-control", id = "txtResponsibleEmail", name = "ResponsibleEmail", autocomplete = "Off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                Responsible Person's  STD Code
                                                                @*<span class="important">*</span>*@
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsibleSTD, new { @class = "form-control", id = "txtResponsibleSTD", name = "ResponsibleSTD", autocomplete = "Off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                Responsible Person's Moblie No.
                                                                <span class="important">*</span>
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsibleMobile, new
                                                           {
                                                               @class = "form-control",
                                                               id = "txtResponsibleMobile",
                                                               name = "ResponsibleMobile",
                                                               autocomplete = "Off"@*, Required = "required"*@ })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row mb-15px">
                                                            <label class="form-label col-form-label col-md-4">
                                                                Responsible Person's Tel-Phone No.
                                                                @*<span class="important">*</span>*@
                                                            </label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ResponsiblePhone, new { @class = "form-control", id = "txtResponsiblePhone", name = "ResponsiblePhone", autocomplete = "Off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h5 class="text-start bg-cyan text-white p-2 mb-0">Form 16 </h5>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="formBx">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Full Name
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Form16FullName, new { @class = "form-control", id = "txtForm16FullName", name = "Form16FullName", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            S/O
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Form16SO, new { @class = "form-control", id = "txtForm16SO", name = "Form16SO", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Designation
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Form16Designation, new { @class = "form-control", id = "txtForm16Designation", name = "Form16Designation", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4">
                                                            Place
                                                            <span class="important">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Form16Palace, new { @class = "form-control", id = "txtForm16Palace", name = "Form16Palace", autocomplete = "Off" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_IncomeTax_DeductorDetails", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetDeductorDetailsList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                            </a>

</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END panel -->
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCompanyName").select2();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)

                        return false
                    }
                });
            }
        }

    });
</script>

<script>

    jQuery.validator.addMethod(
   "regex",
    function(value, element, regexp) {
        if (regexp.constructor != RegExp)
            regexp = new RegExp(regexp);
        else if (regexp.global)
            regexp.lastIndex = 0;
        return this.optional(element) || regexp.test(value);
    },"erreur expression reguliere"
 );


    $("#SaveDeductorDetails").validate({
        rules: {
            CmpId: {
                required: true,
            },
            DeductorTAN: {
                required: true,
                //regex: /^[A-Z]{4}[0-9]{5}[A-Z]{1}$/,
            },
            DeductorPAN: {
                required: true,
                //regex: /^[A-Z]{3}[P]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}$/,
            },
            DeductorName: {
                required: true,
               // regex: /^[a-zA-Z ]+$/,
            },
            DeductorDivision: {
                required: true,
               // regex: /^[a-zA-Z ]+$/,
            },
            DeductorFlatDoorBlockNo: {
                required: true,
                //regex: /^[a-zA-Z0-9/,/-/ ]+$/,
            },
            DeductorNameofPremisesBuilding: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            DeductorRoadStreetLane: {
                required: true,
               // regex: /^[a-zA-Z0-9 ]+$/,
            },
            DeductorAreaLocality: {
                required: true,
               // regex: /^[a-zA-Z0-9 ]+$/,
            },

            DeductorTownCityDistrict: {
                required: true,
              //  regex: /^[a-zA-Z ]+$/,
            },
            DeductorState: {
                required: true,
              //  regex: /^[a-zA-Z ]+$/,
            },
            DeductorStateCode: {
                required: true,
               // regex: /^[a-zA-Z0-9/-/ ]+$/,
            },
            //DeductorPin: {
            //    required: true,
            //},
            IsChangeAddressDeductor: {
                required: true,
            },
            DeductorEmail: {
                required: true,
                //email:true
            },
            //DeductorSTD: {
            //    required: true,
            //   // regex: /^[a-zA-Z0-9]+$/,
            //},
            DeductorMobile: {
                required: true,
               // minlength:10,
               // maxlength:10,
            },
            //DeductorPhone: {
            //    required: true,
            //},
            DeductorType: {
                required: true,
            },
            //RPUFileName: {
            //    required: true,
            //    //regex: /^[a-zA-Z ]+$/,
            //},
            //ReturnUtility: {
            //    required: true,
            //  //  regex: /^[a-zA-Z ]+$/,
            //},
            ResponsibleName: {
                required: true,
               // regex: /^[a-zA-Z ]+$/,
            },
            ResponsibleDesignation: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            ResponsiblePAN: {
                required: true,
               // regex: /^[A-Z]{3}[P]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}$/,
            },
            IsChangeAddressResponsible: {
                required: true,
            },
            ResponsibleFlatDoorBlockNo: {
                required: true,
               // regex: /^[a-zA-Z0-9/,/-/ ]+$/,
            },
            ResponsibleNameofPremisesBuilding: {
                required: true,
               // regex: /^[a-zA-Z0-9 ]+$/,
            },
            ResponsibleRoadStreetLane: {
                required: true,
               // regex: /^[a-zA-Z ]+$/,
            },
            ResponsibleAreaLocality: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            ResponsibleTownCityDistrict: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            ResponsibleState: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            ResponsibleStateCode: {
                required: true,
                //regex: /^[a-zA-Z0-9 ]+$/,
            },

            //ResponsiblePin: {
            //    required: true,
            //},
            ResponsibleEmail: {
                required: true,
                //email:true,
            },
            //ResponsibleSTD: {
            //    required: true,
            //},
            ResponsibleMobile: {
                required: true,
               // minlength:10,
               // maxlength:10,
            },
            //ResponsiblePhone: {
            //    required: true,
            //},
            Form16FullName: {
                required: true,
               // regex: /^[a-zA-Z ]+$/,
            },
            Form16SO: {
                required: true,
            },
            Form16Designation: {
                required: true,
                //regex: /^[a-zA-Z ]+$/,
            },
            Form16Palace: {
                required: true,
                //regex: /^[a-zA-Z0-9 ]+$/,
            },
        },
        messages: {
            CmpId: {
                required: "Company name required",
            },
            DeductorTAN: {
                required: "TAN is required",
              //  regex: "Enter valid TAN",
            },
            DeductorPAN: {
                required: "PAN is required",
               // regex: "Enter valid PAN",
            },
            DeductorName: {
                required: "Name of employer is required",
               // regex: "Enter valid name.",
            },
            DeductorDivision: {
                required: "Division /Business unit  is required",
            },
            DeductorFlatDoorBlockNo: {
                required: "Flat / Door / Block No is required",
              //  regex: "Enter valid Flat / Door / Block No",
            },
            DeductorNameofPremisesBuilding: {
                required: "Name of premises / Building  is required",
               // regex: "Enter valid name of premises / Building",
            },
            DeductorRoadStreetLane: {
                required: "Road / Street / Lane  is required",
               // regex: "Enter valid road / Street / Lane",
            },
            DeductorAreaLocality: {
                required: "Area / Locality is required",
               // regex: "Enter valid area / Locality",
            },
            DeductorTownCityDistrict: {
                required: "Town / City / District  is required",
              //  regex: "Enter valid town / City / District",
            },
            DeductorState: {
                required: "State is required",
              //  regex: "Enter valid state",
            },
            DeductorStateCode: {
                required: "State code is required",
                //regex: "Enter valid state code",
            },
            //DeductorPin: {
            //    required: "Pincode is required",
            //},
            IsChangeAddressDeductor: {
                required: "Is changed address deductor is required",

            },
            DeductorEmail: {
                required: "Employer / Deductor Email ID is required",
             //   regex: "Enter valid EmailID ",
            },
            //DeductorSTD: {
            //    required: "Employer / Deductor STD Code  is required",
            //   // regex: "Enter valid Employer / Deductor STD Code ",
            //},
            DeductorMobile: {
                required: "Employer / Deductor moblie number is required",
               // minlength:"Please enter 10 digit mobile no.",
                //maxlength:"Please enter 10 digit mobile no.",
            },
            //DeductorPhone: {
            //    required: "Employer / Deductor Tel-Phone number is required",
            //   // regex: "Enter valid Tel-Phone number",
            //},
            DeductorType: {
                required: "Deductor type is required",
            },
            //RPUFileName: {
            //    required: "RPU file name  is required",
            //   // regex: "Enter valid name",
            //},
            //ReturnUtility: {
            //    required: "Name of return preparation utility is required",
            //    //regex: "Enter valid name of return",
            //},
            ResponsibleName: {
                required: "Name of person is required",
                //regex: "Enter valid name",
            },
            ResponsibleDesignation: {
                required: "Designation of person is required",
               // regex: "Enter valid designation",
            },
            ResponsiblePAN: {
                required: "Responsible person PAN  is required",
               // regex: "Enter valid PAN",
            },
            IsChangeAddressResponsible: {
                required: "Is changed address responsible is required",
            },
            ResponsibleFlatDoorBlockNo: {
                required: "Flat / Door / Block No is required",
               // regex: "Enter valid Flat / Door / Block No",
            },
            ResponsibleNameofPremisesBuilding: {
                required: "Name of Premises / Building  is required",
                regex: "Enter valid name of Premises / Building",

            },
            ResponsibleRoadStreetLane: {
                required: "Road / Street / Lane  is required",
                //regex: "Enter valid road / Street / Lane",
            },
            ResponsibleAreaLocality: {
                required: "Area / Locality is required",
               // regex: "Enter valid area / Locality",
            },
            ResponsibleTownCityDistrict: {
                required: "Town / City / District is required",
               // regex: "Enter valid town / City / District",
            },
            ResponsibleState: {
                required: "State is required",
                //regex: "Enter valid state name",
            },

            ResponsibleStateCode: {
                required: "State Code  is required",
                //regex: "Enter valid state code",
            },
            //ResponsiblePin: {
            //    required: "Name of employer is required",
            //},
            ResponsibleEmail: {
                required: "Responsible person EmailID is required",
                //regex: "Enter valid EmailID",
            },
            //ResponsibleSTD: {
            //    required: "Responsible person STD code is required",
            //    //regex: "Enter valid STD code",
            //},
            ResponsibleMobile: {
                required: "Responsible person moblie number is required",
                //regex: "Enter valid mobile number",
               // minlength:"Please enter 10 digit mobile no.",
              ///  maxlength:"Please enter 10 digit mobile no.",
            },
            ResponsiblePhone: {
                required: "Responsible person Tel-Phone number  is required",
                //regex: "Enter valid phone number",
            },
            Form16FullName: {
                required: "Full name is required",
               // regex: "Enter valid name",
            },
            Form16SO: {
                required: "S/O is required",
            },
            Form16Designation: {
                required: "Designation is required",
               // regex: "Enter valid designation",
            },
            Form16Palace: {
                required: "Place  is required",
               // regex: "Enter valid place name",
            },

        }
    });


    var form = $("#SaveDeductorDetails");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }

        var CmpId=$("#ddlCompanyName").val();
        var DeductorTAN=$("#txtDeductorTAN").val();
        var DeductorPAN=$("#txtDeductorPAN").val();
        var DeductorResponsibleId_Encrypted=$("#DeductorResponsibleId_Encrypted").val();
        $.ajax({
            url:"IsDeductorDetailsExists",
            method:"get",
            data:{CmpId:CmpId,DeductorTAN:DeductorTAN,DeductorPAN:DeductorPAN,DeductorResponsibleId_Encrypted:DeductorResponsibleId_Encrypted},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveDeductorDetails").submit();

                }
            }
        });
    });
</script>


