@model KompassHR.Areas.ESS.Models.ESS_Training.TrainingCalender_Document
@{
    ViewBag.Title = "TrainingSubCategoryUploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #txtURL-error, #fileUploadFile-error, label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .lbltext {
        text-align: left;
        height: 25px;
        color: green;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 80px; /* Set the width for the first column */
    }

    #ListLMSLibrary tbody tr {
        background-color: #fff !important;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Upload Training Calender Document
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetList", "ESS_Training_TraningSubCategory", new {  area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Upload Training Sub-Category Document</h4>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Upload training Sub-Category document here.
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdateUploadFile", "ESS_Training_TraningSubCategory", new { area = "ESS" })' id="SaveTrainingCalender_Doc" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Title
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", type = "text", name = "Title", id = "txtTitle", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-block", @id = "ErrorTitle", @style = "color:red" })
                                                @Html.HiddenFor(model => model.TrainingCalenderDocId, new { @id = "TrainingCalenderDocId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Upload File
                                            </label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="file" onchange="ResetFile()" name="DocumentPath" id="DocumentPath" accept=".jpg,.jpeg,.png,.pdf" />
                                                @Html.ValidationMessageFor(model => model.DocumentPath, null, new { @class = "help-block", @id = "ErrorDocumentPath", @style = "color:red" })
                                                <label class="form-label col-form-label col-md-8" id="fileUploadFile-lbltext">@TempData["FileName"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr />
                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <table class="table table-bordered TablePage4" id="" style="width: 100%">
                                <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                    <tr>
                                        <th class="text-nowrap">Delete  </th>
                                        <th class="text-nowrap">Title  </th>
                                        <th class="text-nowrap">Document Name </th>
                                        <th class="text-nowrap">FilteType</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.GetListTrainingSubCategory)
                                    {
                                        <tr>

                                            <td class="text-center">
                                                <a onclick="DeleteSubCategory('@d.TrainingSubCategoryDocId_Encrypted','@d.DocumentPath','@d.Training_TrainingCategory_TrainingSubCategoryId')" id="btnDelete"
                                                   style="cursor:pointer">
                                                    <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                </a>
                                            </td>

                                            <td>@d.Title</td>
                                            <td>@d.DocumentPath</td>
                                            <td>@d.FilteType</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
<!-- Modal for photo preview -->
<div class="modal fade" id="photoPreviewModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Photo Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="previewImage" src="" alt="Photo" class="img-fluid rounded" style="max-height: 400px;" />
                <p id="previewTitle" class="mt-2 text-muted small"></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
        $('.ListLMSLibrary').DataTable({
            scrollY: 200,
            scrollCollapse: true,
            paging: false,
            scrollX: true,
            searching: true, // Enable searching
            strippedclass:[]// Enable searching
        });
    });//Ready Funcation
</script>
<script>
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
   function(value, element, regexp) {
       if (regexp.constructor != RegExp)
           regexp = new RegExp(regexp);
       else if (regexp.global)
           regexp.lastIndex = 0;
       return this.optional(element) || regexp.test(value);
   },"erreur expression reguliere"
);

    // Use for Add validation in form
    $("#SaveTrainingCalender_Doc").validate({
        rules: {

            Title:{
                required: true,
            },
            DocumentPath: {
                required: true,
            },
        },
        messages: {

            Title:{
                required: "Title is required",
            },
            DocumentPath: {
                required: "Choose a file",
            },
        }
    });


    var form = $("#SaveTrainingCalender_Doc");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        if(form.valid()==false)
        {
            return false;
        }
        $("#SaveTrainingCalender_Doc").submit();
        @*var CmpID=$("#ddlCmpID").val();
        var LMSLibrary_CategoryId=$("#ddlLMSLibrary_CategoryId").val();
        var TrainingSubCategoryDocId_Encrypted=$("#TrainingSubCategoryDocId_Encrypted").val();
        var Title=$("#txtTitle").val();
        $.ajax({
            url: '@Url.Action("IsLMSCategoryExists", "Setting_LMS_Category")',
            method:"get",
            data:{CmpID:CmpID, LMSLibrary_CategoryId:LMSLibrary_CategoryId,TrainingSubCategoryDocId_Encrypted:TrainingSubCategoryDocId_Encrypted,Title:Title },
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveTrainingCalender_Doc").submit();
                }
            }
        });*@

    });

    function ResetFile()
    {
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf'];
        let type = document.getElementById('fileupload').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }else{
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf",
            })
            document.getElementById("fileUploadFile").value = null;
        }

        $("#lblFileName").text('');
    }

</script>
<script>
    function DeleteSubCategory(TrainingSubCategoryDocId_Encrypted,DocumentPath,Training_TrainingCategory_TrainingSubCategoryId) {
            const DeleteButtons = Swal.mixin({
                customClass: {
                    cancelButton: ' btnpress',
                    confirmButton: ' btnpress'
                },
                buttonsStyling: true
            })
            DeleteButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: false,
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("DeleteDocument", "ESS_Training_TraningSubCategory")' +
                    '?TrainingSubCategoryDocId_Encrypted=' + encodeURIComponent(TrainingSubCategoryDocId_Encrypted) +
                    '&FileName=' + encodeURIComponent(DocumentPath) +
                    '&Training_TrainingCategory_TrainingSubCategoryId=' + encodeURIComponent(Training_TrainingCategory_TrainingSubCategoryId);

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {

                }
            })
        }


</script>
<script>
   function DownloadTrainingCalenderDoc(TrainingCalenderId,attachmentPath) {
       debugger;
       var url = '@Url.Action("DownloadAttachment", "ESS_Training_TraningSubCategory")'
        + '?TrainingCalenderId=' + TrainingCalenderId
        + '&DownloadAttachment=' + encodeURIComponent(attachmentPath);
    window.location.href = url;
}

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {debugger;
        var photoFile = @Html.Raw(Json.Encode(TempData["PhotoFile"]));
        if (photoFile) {
            document.getElementById('previewImage').src = photoFile.FileSrc;
            document.getElementById('previewTitle').textContent = photoFile.Title;

            var modal = new bootstrap.Modal(document.getElementById('photoPreviewModal'));
            modal.show();
        }
    });


    //const fileList = @Html.Raw(Json.Encode(TempData["FileList"]));
    const timestamp = new Date().getTime(); // For cache busting

    fileList.forEach((file, index) => {
        const fileType = file.FileType.toUpperCase();
        //const fileSrc = `${file.FileSrc}?v=${timestamp}`;
        const baseSrc = file.FileSrc.replace(/\\/g, "/"); // replace \ with /
        const fileSrc = `${baseSrc}`; // only one query string
        const Title = file.Title;
        const LibraryDocId = file.LibraryDocId;
        var isValid = file.IsReadDocument;
        let iconClass = '';
        switch (fileType) {
            case 'PDF':
                iconClass = 'fa-file-pdf text-danger';
                break;
            case 'JPG':
            case 'JPEG':
            case 'PNG':
                iconClass = 'fa-file-image text-warning';
                break;
            case 'MP4':
            case 'WEBM':
            case 'AVI':
                iconClass = 'fa fa-video-camera';
                break;
            default:
                iconClass = 'fa-file text-secondary';
        }
        // Append to table with preview icon

        const statusIcon = Boolean(isValid)
            ? '<i class="fa fa-check fa-xl" style="color:green;"></i>'
            : '<i class="fa fa-times fa-xl" style="color:red;"></i>';
        $('#fileListTableBody').append(`
        <tr>
            <td hidden>${LibraryDocId}</td>
            <td><i class="fa ${iconClass} fa-lg"></i> &nbsp ${file.Title || 'Unnamed'}</td>
            <td hidden>${fileType}</td>
            <td class="text-center">${statusIcon}</td>
            <td class="text-center">
            <i class="fa fa-eye fa-lg" style="cursor:pointer; color:blue;"
               onclick="previewFile('${fileSrc}', '${fileType}' , '${LibraryDocId}', '${isValid}'  )"></i>
            </td>
        </tr>
    `);

        // Optional: still render thumbnails on the right if needed
        if (fileType === "PDF") {
            $("#PDFfileContainer").append(`
            <div class="pdf-wrapper mb-3" onclick='showPDF("${fileSrc}")'>
                <iframe src="${fileSrc}#toolbar=0&navpanes=0&scrollbar=0" height="100%" width="100%"></iframe>
            </div>
        `);
        }
        if (["JPG", "PNG", "JPEG"].includes(fileType)) {
            $("#ImagefileContainer").append(`
            <div class="image-wrapper mb-3" onclick='showImage("${fileSrc}")'>
                <img src="${fileSrc}" height="200px" width="100%" />
            </div>
        `);
        }

    });

</script>

