
@{
    ViewBag.Title = "ApprovalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky !important;
        left: 0px !important;
    }

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 78px !important;
    }

    .fixed-side {
        position: sticky !important;
        left: 0;
        z-index: 1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 78px;
        z-index: 1;
    }*/
</style>

<div id="content" class="app-content">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Approval Request
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    
    <!-- END page-header -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Approval Request - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div> 
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        This is the list of positions authorised by manager.
                    </p>
                </div>
                @*<div class="row">
                    <div class="LastShortLeaveBx">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="BtnBx">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("ApprovedRejectedList", "ESS_Recruitment_ResourcesRequisition", new { area = "ESS" })">
                                <button type="submit" id="btnManualUpload"
                                        class="btn btn-primary btn-sm">
                                    Approved Rejected List
                                </button>
                            </a> 
                            <br/> 
                            <br /> 
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage2" id="data-table-combine"
                                           style="width: 100%;">
                                        <thead>
                                            <tr class="trheading text-center">
                                                <th class="fixed-side">View</th>

                                                <th class="text-nowrap text-center">Requisition No </th>
                                                <th class="text-nowrap text-center"> Requisition Date</th>
                                                <th class="text-nowrap text-center">Requisition Rasied By</th>
                                                <th class="text-nowrap text-center">Company Name </th>
                                                <th class="text-nowrap text-center">Business Unit</th>
                                                <th class="text-nowrap text-center">Department Name </th>
                                                <th class="text-nowrap text-center">Designation Name</th>
                                                <th class="text-nowrap text-center">Grade Name</th>
                                                <th class="text-nowrap text-center">Priority  </th>
                                                <th class="text-nowrap text-center"> Confidential</th>
                                                <th class="text-nowrap text-center">Total Position</th>
                                                <th class="text-nowrap text-center">Position Type</th>
                                                <th class="text-nowrap text-center">Work Type</th>
                                                <th class="text-nowrap text-center">Closing Date</th>
                                                <th class="text-nowrap text-center">Requisition Status</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.ResourceApprovalList)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <i class="fa-solid fa-eye text-danger fa-lg" onclick="ViewForApprover('@d.DocNo' ,'@d.ResourceId_Encrypted')"></i>

                                                        @*<button type="button" id="btnUpdate" onclick="ViewForApprover('@d.DocNo' ,'@d.ResourceId_Encrypted')"
                                                                class="btn btn-warning btnpress ListBtn">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </button>*@
                                                    <td class="text-nowrap">@d.DocNo</td>
                                                    <td class="text-nowrap">@d.DocDate</td>
                                                    <td class="text-nowrap">@d.EmployeeName</td>
                                                    <td class="text-nowrap">@d.CompanyName</td>
                                                    <td class="text-nowrap">@d.BranchName</td>
                                                    <td class="text-nowrap">@d.DepartmentName</td>
                                                    <td class="text-nowrap">@d.DesignationName</td>
                                                    <td class="text-nowrap">@d.GradeName</td>
                                                    <td class="text-nowrap">@d.Priority </td>
                                                    <td class="text-nowrap">@d.Confidential</td>
                                                    <td class="text-nowrap">@d.TotalPositions</td>
                                                    <td class="text-nowrap">@d.WorkType</td>
                                                    <td class="text-nowrap">@d.PositionType</td>
                                                    <td class="text-nowrap">@d.ClosingDate</td>
                                                    <td class="text-nowrap">@d.Status</td>
                                                    @*<td class="text-nowrap">@d.ResourceRequestStatus</td>*@

                                                    @*<td class="text-nowrap">@d.LegalBond</td>
                                        <td class="text-nowrap">@d.LegalBondDuration</td>
                                        <td class="text-nowrap">@d.MinExperience</td>
                                        <td class="text-nowrap">@d.MaxExperience</td>
                                        <td class="text-nowrap">@d.PreferredTechnicalSkills</td>
                                        <td class="text-nowrap">@d.MusthaveTechnicalSkills</td>
                                        <td class="text-nowrap">@d.Qualification</td>
                                        <td class="text-nowrap">@d.PositionBudgeted</td>
                                        <td class="text-nowrap">@d.Currency </td>
                                        <td class="text-nowrap">@d.MinBudget</td>
                                        <td class="text-nowrap">@d.MaxBudget</td>
                                        <td class="text-nowrap">@d.MinAge</td>
                                        <td class="text-nowrap">@d.MaxAge</td>
                                        <td class="text-nowrap">@d.PreferredLanguage</td>
                                        <td class="text-nowrap">@d.PreferredMaritalStatus</td>
                                        <td class="text-nowrap">@d.PreferredGender</td>
                                        <td class="text-nowrap">@d.PreferredShiftTiming</td>
                                        <td class="text-nowrap">@d.Residence</td>
                                        <td class="text-nowrap">@d.Competencies</td>
                                        <td class="text-nowrap">
                                            @if (d.AttachFile == "File Not Found")
                                            {
                                                <span>@d.AttachFile</span>
                                            }
                                            else
                                            {
                                                <a type="button" class="btn btn-success ListBtn btnpress" href="~/ESS/ESS_Recruitment_ResourcesRequisition/DownloadFile?ResourceRequest=@d.AttachFile" download>
                                                    <i class="fa-solid fa-download"></i>
                                                </a>
                                            }
                                        </td>
                                        <td class="text-nowrap">@d.Status</td>
                                        <td>@d.CreatedBy</td>
                                        <td>@d.CreatedDate</td>
                                        <td>@d.ModifiedBy</td>
                                        <td>@d.ModifiedDate</td>
                                        <td>@d.MachineName</td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved()" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->





<script>
    function ViewForApprover(DocNo,ResourceId_Encrypted) {
        var url = '@Url.Action("ViewForRequestApprover", "ESS_Recruitment_ResourcesRequisition")?ResourceId_Encrypted=' + ResourceId_Encrypted+'&DocNo='+DocNo;
        window.location.href = url;

    }
           
    </script>



 <script>
     $(document).ready(function () {

         
             var Message = @Html.Raw(Json.Encode(TempData["Message"]));
             var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

             debugger;
             if (Message != null) {
                 if (Message != null) {
                     Swal.fire({
                         icon: Icon,
                         text: Message,
                         allowOutsideClick: () => {
                             const popup = Swal.getPopup()
                             popup.classList.remove('swal2-show')
                             setTimeout(() => {
                                 popup.classList.add('animate__animated', 'animate__headShake')
                             })
                             setTimeout(() => {
                                 popup.classList.remove('animate__animated', 'animate__headShake')
                             }, 500000)
                             return false
                         }
                     });
                 }
             }

          var options = {
            dom: '<"dataTables_wrapper dt-bootstrap"<"row"<"col-xl-7 d-block d-sm-flex d-xl-block justify-content-center"<"d-block d-lg-inline-flex me-0 me-md-3"l><"d-block d-lg-inline-flex"B>><"col-xl-5 d-flex d-xl-block justify-content-center"fr>>t<"row"<"col-md-5"i><"col-md-7"p>>>',
            buttons: [
              { extend: 'copy', className: 'btn-sm' },
              { extend: 'csv', className: 'btn-sm' },
              { extend: 'excel', className: 'btn-sm' }
              
            ],
            responsive: false,
            colReorder: false,
            keys: true,
            rowReorder: false,
            select: false,
            buttons:true,
            processing: true,
            serverSide: false,
            stateSave: true,
        };

        if ($(window).width() <= 767) {
            options.rowReorder = false;
            options.colReorder = false;
        }
        $('.TablePageRecruit').DataTable(options);
     })
       
    </script>