@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_ResourceRequest
@{
    ViewBag.Title = "ESS_Recruitment_ResourcesRequisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>

<style>
    .card-row-title {
        color:  blue;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }


    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }



    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div id="content" class="app-content">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Resource Request
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Resource Request - @ViewBag.AddUpdateTitle </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>

                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        To make a resource request, complete this form.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "ESS_Recruitment_ResourcesRequisition", new { area = "ESS" })' id="SaveResourcesRecruitment" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-8">
                                                Resource Requisition Number (System Generated)
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.DocNo, new { @class = "form-control", id = "DocNo", type = "text", autocomplete = "Off", Value = @ViewBag.DocNo.DocNo, @readonly = "readonly", Style = "background-color: #e9ecef;" })
                                                @Html.HiddenFor(model => model.ResourceId_Encrypted)
                                                @Html.HiddenFor(model => model.ResourceId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Requisition Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control", id = "txtDocDate", type = "date", name = "DocDate", autocomplete = "Off", @readonly = "readonly", Style = "background-color: #e9ecef;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Job Information
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Company Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CmpId, new SelectList(ViewBag.ComapnyName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtCmpId", type = "text", name = "CmpId", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.CmpId, "", new { @class = "help-block", id = "ErrorCmpId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ResourceBranchId, new SelectList(ViewBag.GetBranchName, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtBranchId", type = "text", name = "ResourceBranchId", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.ResourceBranchId, "", new { @class = "help-block", id = "ErrorResourceBranchId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Department
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.DepatmentList, "Id", "Name"), "--Select--", new { @class = "form-control", id = "txtDepartment", type = "text", name = "Department", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "help-block", id = "ErrorDepartmentID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Designation
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.DesignationID, new SelectList(ViewBag.DesignationList, "Id", "Name"), "--Select--", new { @class = "form-control", id = "txtDesignation", type = "text", name = "Designation", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.DesignationID, "", new { @class = "help-block", id = "ErrorDesignationID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Grade
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.GradeID, new SelectList(ViewBag.GradeList, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtGrade", type = "text", name = "Grade", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "help-block", id = "ErrorGradeID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Total Position
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TotalPositions, new { @class = "form-control", id = "txtTotalPositions", type = "text", name = "TotalPositions", autocomplete = "Off", onkeypress = " return numbervalidate(event)", Maxlength = 3 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Position Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PositionTypeID, new SelectList(ViewBag.PositionType, "Id", "Name"), "--Select--", new { @class = "form-control", id = "txtPositionType", type = "text", name = "PositionType", autocomplete = "Off" })
                                                @Html.ValidationMessageFor(model => model.PositionTypeID, "", new { @class = "help-block", id = "ErrorPositionTypeID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="ReplacementDiv">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                If Replacement
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.EmployeeifReplacement, new SelectList(ViewBag.GetReplacementEmployee, "Id", "Name"), "--Select--", new { @class = "form-select", id = "ddlEmployeeifReplacement", type = "text", name = "EmployeeifReplacement", autocomplete = "Off" })
                                                @*@Html.TextBoxFor(model => model.EmployeeifReplacement, new { @class = "form-control", id = "txtEmployeeifReplacement", type = "text", name = "EmployeeifReplacement", autocomplete = "Off" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Closing Date
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ClosingDate, new { @class = "form-control", id = "txtClosingDate", type = "date", name = "ClosingDate", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Work Type @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @{
                                                    var workTypeList = ViewBag.WorkType as IEnumerable<dynamic>; // or the correct model type
                                                    var defaultSelectedValue = workTypeList?.FirstOrDefault()?.Id;
                                                }
                                                @Html.DropDownListFor(model => model.WorkTypeID,
                                                new SelectList(workTypeList ?? new List<dynamic>(), "Id", "Name", defaultSelectedValue),
                                                new { @class = "form-select", id = "txtWorkType", type = "text", name = "WorkType", autocomplete = "Off" })

                                                @*@Html.DropDownListFor(model => model.WorkTypeID, new SelectList(ViewBag.WorkType, "Id", "Name", ViewBag.WorkType[0].Id), new { @class = "form-select", id = "txtWorkType", type = "text", name = "WorkType", autocomplete = "Off" })*@
                                                @Html.ValidationMessageFor(model => model.WorkTypeID, "", new { @class = "help-block", id = "ErrorWorkTypeID", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Legal Bond@*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.LegalBond, new List<SelectListItem>{
                                               new SelectListItem {Text ="No", Value="false"},
                                               new SelectListItem {Text ="Yes", Value="true"},

                                                                      }, "--Select--",
                                               new { @class = "form-control", id = "txtLegalBond", name = "LegalBond", autocomplete = "Off" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Legal Bond (In Months)
                                                @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LegalBondDuration, new { @class = "form-control", id = "txtLegalBondDuration", type = "number", name = "LegalBondDuration", autocomplete = "Off", onkeypress = " return numbervalidate(event)", Maxlength = 2 })
                                                @Html.ValidationMessageFor(model => model.LegalBondDuration, "", new { @class = "help-block", id = "ErrortxtLegalBondDuration", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Priority
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Priority, new List<SelectListItem>{new SelectListItem {Text ="High", Value="High"},
                                                                                                                        new SelectListItem {Text ="Medium", Value="Medium"},
                                                                                                                          new SelectListItem {Text ="Low", Value="Low"},
                                                                                                     }, "--Select--", new { @class = "form-control", id = "txtPriority", type = "text", name = "Priority", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.Confidential)
                                                @*<input type="checkbox" class="form-check-inline">*@
                                                <label class="form-label"> Confidential </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Technical Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Candidate Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.CandidateType,
                                                   new List<SelectListItem>{new SelectListItem {Text ="Fresher", Value="Fresher"},
                                                   new SelectListItem {Text ="Intern", Value="Intern"},
                                                   new SelectListItem {Text ="Experience", Value="Experience"},
                                                  }, "--Select--", new { @class = "form-select", id = "txtCandidateType", type = "text", name = "CandidateType", autocomplete = "Off" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Min. Experience (In Years)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MinExperience, new { @class = "form-control", id = "txtMinExperience", type = "text", name = "MinExperience", autocomplete = "Off", Maxlength = 3, onkeypress = " return numbervalidate(event)" })
                                                @*@Html.ValidationMessageFor(model => model.MinExperience, "", new { @class = "help-block", id = "ErrortxtMinExperience", @style = "color:red" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Max. Experience (In Years)
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MaxExperience, new { @class = "form-control", id = "txtMaxExperience", type = "text", name = "MaxExperience", autocomplete = "Off", Maxlength = 3, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.MaxExperience, "", new { @class = "help-block", id = "ErrorMaxExperience", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Preferred Technical Skills

                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PreferredTechnicalSkills, new { @class = "form-control", id = "txtPreferredTechnicalSkills", type = "text", name = "PreferredTechnicalSkills", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Must Have Technical Skills
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MusthaveTechnicalSkills, new { @class = "form-control", id = "txtMusthaveTechnicalSkills", type = "text", name = "MusthaveTechnicalSkills", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Qualification
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", id = "txtQualification", type = "text", name = "Qualification", autocomplete = "Off" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Budget Information
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Position Budgeted@*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PositionBudgeted, new List<SelectListItem>{new SelectListItem {Text ="No", Value="false"},
                                                                                                                               new SelectListItem {Text ="Yes", Value="true"}, },
                                                                                                                               "--Select--", new { @class = "form-control", id = "txtPositionBudgeted", type = "text", name = "PositionBudgeted", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Currency @*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Currency, new SelectList(ViewBag.Currency, "Id", "Name", ViewBag.Currency[0].Id), new { @class = "form-select", id = "txtCurrency", type = "text", name = "Currency", autocomplete = "Off" })
                                                @*@Html.DropDownListFor(model => model.Currency, new SelectList(ViewBag.Currency, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtCurrency", type = "text", name = "Currency", autocomplete = "Off" })*@
                                                @*@Html.DropDownListFor(model => model.Currency, new SelectList(ViewBag.Currency, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtCurrency", name = "Currency" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Min. Budget (in lakhs)@*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MinBudget, new { @class = "form-control", id = "txtMinBudget", type = "number", name = "MinBudget", autocomplete = "Off", onkeypress = "return event.charCode >=48" })
                                                @Html.ValidationMessageFor(model => model.MinBudget, "", new { id = "ErrorMinBudget", @style = "color:red", @class = "help-block" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Max. Budget (in lakhs)@*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MaxBudget, new { @class = "form-control", id = "txtMaxBudget", type = "number", name = "MaxBudget", autocomplete = "Off", onkeypress = "return event.charCode >=48" })
                                                @Html.ValidationMessageFor(model => model.MaxBudget, "", new { id = "ErrorMaxBudget", @style = "color:red", @class = "help-block" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Preferred Candidate
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Minimum Age (In Years)<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MinAge, new { @class = "form-control", id = "txtMinAge", type = "text", name = "MinAge", autocomplete = "Off", Maxlength = 2, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "help-block", id = "ErrorMinAge", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Maximum Age (In Years)<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.MaxAge, new { @class = "form-control", id = "txtMaxAge", type = "text", name = "MaxAge", autocomplete = "Off", Maxlength = 2, onkeypress = " return numbervalidate(event)" })
                                                @Html.ValidationMessageFor(model => model.MaxAge, "", new { @class = "help-block", id = "ErrorMaxAge", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                    Language <span class="important">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PreferredLanguage, new { @class = "form-control", id = "txtPreferredLanguage", type = "text", name = "PreferredLanguage", autocomplete = "Off" })
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Marital Status <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PreferredMaritalStatus, new List<SelectListItem>{
                                                                        new SelectListItem {Text ="Any", Value="Any"},
                                                                        new SelectListItem {Text ="Married ", Value="Married "},
                                                                         new SelectListItem {Text ="Unmarried", Value="Unmarried"},
                                                                      },
                                               new { @class = "form-control", id = "txtPreferredMaritalStatus", type = "text", name = "PreferredMaritalStatus", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Gender<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.PreferredGender, new List<SelectListItem>{
                                                                         new SelectListItem {Text ="Any", Value="Any"},
                                                                        new SelectListItem {Text ="Male", Value="Male"},
                                                                         new SelectListItem {Text ="Female", Value="Female"},
                                                                      }, new { @class = "form-control", id = "txtPreferredGender", type = "text", name = "PreferredGender", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    @*<div class="col-md-6">
                                                <div class="row mb-15px">
                                                    <label class="form-label col-form-label col-md-4">
                                                        Shift Timing<span class="important">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PreferredShiftTiming, new { @class = "form-control", id = "txtPreferredShiftTiming", type = "text", name = "PreferredShiftTiming", autocomplete = "Off" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Residence@*<span class="important">*</span>*@
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Residence, new List<SelectListItem>{
                                                 new SelectListItem {Text ="Local", Value="Local"},
                                                                        new SelectListItem {Text ="Expat", Value="Expat"},

                                                                      },
                                               new { @class = "form-control", id = "txtResidence", type = "text", name = "Residence", autocomplete = "Off" })

                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Compentencies<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Competencies, new { @class = "form-control", id = "txtCompetencies", type = "text", name = "Competencies", autocomplete = "Off" })

                                            </div>
                                        </div>*@
                                </div>

                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Attachment
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Attach File
                                            </label>
                                            <div class="col-md-8">
                                                <input type="file" name="AttachFile" class="form-control" id="txtAttachFile" onchange="ResetFile()" />
                                                <label class="form-label col-form-label col-md-8" id="lblFileName">@TempData["AttachFile"]</label>

                                                @if (TempData["AttachFile"] == "" || TempData["AttachFile"] == null)
                                                {

                                                }
                                                else
                                                {
                                                    <a type="button" class="btn btn-success ListBtn btnpress" href="@Url.Action("DownloadFile", "ESS_Recruitment_ResourcesRequisition", new { ResourceRequest = TempData["FilePath"], area = "ESS" })" download>
                                                        <i class="fa-solid fa-download"></i>
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Job Description Template
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.JDTemplateId, new SelectList(ViewBag.JobDescriptionTemplate, "Id", "Name"), "--Select--", new { @class = "form-select", id = "txtJDTemplate", type = "text", name = "JDTemplate", autocomplete = "Off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0">
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Additional Information
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-label col-form-label col-md-4">Job Description </label>
                                <input type="hidden" id="hiddenJdTemplate" name="HiddenField" />
                                @Html.TextAreaFor(model => model.Remark, new { @class = "summernote", style = "border: 1px solid #000;", id = "Remark", @required = "required", @placeholder = "Job Description....", autocomplete = "Off", contenteditable = "true"})

                            </div>
                        </div>
                        <div class="row">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                                <a href="@Url.Action("GetList", "ESS_Recruitment_ResourcesRequisition", new { area = "ESS" })">
                                                    <button type="button" id="btnGetList"
                                                            class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-share-from-square"></i>
                                                        List
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel -->
</div>

<script>
    $("#myForm").submit(function (e) {
        e.preventDefault(); // Prevent form from submitting normally

        var formData = new FormData(this); // Capture form data

        $.ajax({
            url: '@Url.Action("SaveUpdate", "ESS_Recruitment_ResourcesRequisition")',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (!response.success) {
                    Swal.fire({
                        icon: response.icon,
                        title: "Error",
                        text: response.message
                    });
                } else {
                    Swal.fire({
                        icon: response.icon,
                        title: "Success",
                        text: response.message
                    }).then(() => {
                        location.reload(); // Reload the page if needed
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Something went wrong. Please try again."
                });
            }
        });
    });
</script>

<script>

    $(document).ready(function () {
        debugger;
        @*var a=  @Html.Raw(Json.Encode(Session["CompanyId"]));
        var b=  @Html.Raw(Json.Encode(Session["EmployeeBranchId"]));
        var c=  @Html.Raw(Json.Encode(Session["EmployeeDepartmentId"]));
        var d=  @Html.Raw(Json.Encode(Session["EmployeeDesignationId"]));
        var id= @Html.Raw(Json.Encode(Session["EmployeeId"]));
        $("#txtCmpId").val(a).select2();
        $("#txtBranchId").val(b).select2();
        $("#txtDepartment").val(c).select2();
        $("#txtDesignation").val(d).select2();*@

        @*$("#txtBranchId").find("option").remove();
        var EmpID = id;
        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetBU", "ESS_Recruitment_ResourcesRequisition")',
            data: { EmpID: EmpID },
            success: function (data) {
                if (data !=null) {
                    $("#txtBranchId").append("<option value=0>--Select-- </option>");
                    $.each(data, function(i, p) {
                        $("#txtBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    });
                    if (data.length === 1) {
                        $("#txtBranchId").val(data[0].Id);
                    }
                }
                else {
                    $('#ErrorESSPassword').html(" ");
                }
            }
        })*@

        @*$("#txtJDTemplate").find("option").remove();
        var DeptId = c;
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("JdDropdown", "ESS_Recruitment_ResourcesRequisition")',
                data: { DeptId: DeptId },
                success: function (JobTemplate) {
                    if (JobTemplate != null && JobTemplate.length > 0) {
                        $("#txtJDTemplate").append("<option value=0>--Select-- </option>");
                        $.each(JobTemplate, function (i, p) {
                            $("#txtJDTemplate").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });

                        // If only one value exists, set it as selected
                        if (JobTemplate.length === 1) {
                            $("#txtJDTemplate").val(JobTemplate[0].Id);
                        }
                    } else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            });*@
        $("#txtJDTemplate").select2();
        $("#ReplacementDiv").hide();
        $("#txtMinBudget").attr("disabled", true);
        $("#txtMaxBudget").attr("disabled", true);
        $("#txtLegalBondDuration").attr("disabled", "disabled");

        $("#txtCmpId").on("change", function () {
            debugger;
            $("#txtBranchId").find("option").remove();
            var CmpId = $("#txtCmpId").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "ESS_Recruitment_ResourcesRequisition")',
                data: { CmpId: CmpId },
                success: function (data) {
                    if (data !=null) {
                        $("#txtBranchId").append("<option value=0>--Select-- </option>");
                        $.each(data, function(i, p) {
                            $("#txtBranchId").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });
        @*$("#txtDepartment").on("change", function () {
            debugger;
            $("#txtJDTemplate").find("option").remove();
            var DeptId = $("#txtDepartment").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("JdDropdown", "ESS_Recruitment_ResourcesRequisition")',
                data: { DeptId: DeptId },
                success: function (JobTemplate) {
                    if (JobTemplate !=null) {
                        $("#txtJDTemplate").append("<option value=0>--Select-- </option>");
                        $.each(JobTemplate, function(i, p) {
                            $("#txtJDTemplate").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        });*@
        @*$("#txtDepartment").on("change", function () {
            debugger;
            $("#txtJDTemplate").find("option").remove();
            var DeptId = $("#txtDepartment").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("JdDropdown", "ESS_Recruitment_ResourcesRequisition")',
                data: { DeptId: DeptId },
                success: function (JobTemplate) {
                    if (JobTemplate != null && JobTemplate.length > 0) {
                        $("#txtJDTemplate").append("<option value=0>--Select-- </option>");
                        $.each(JobTemplate, function (i, p) {
                            $("#txtJDTemplate").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });

                        // If only one value exists, set it as selected
                        if (JobTemplate.length === 1) {
                            $("#txtJDTemplate").val(JobTemplate[0].Id);
                        }
                    } else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            });
        });*@

        $("#txtJDTemplate").change(function () {
            debugger;
            var JDTemplate = $('#txtJDTemplate option:selected').val();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("JDDescription", "ESS_Recruitment_ResourcesRequisition")',
                data: { JDTemplate: JDTemplate },
                success: function (data) {
                    debugger;
                    if (data != null && data.length > 0 && data[0].length > 0) {
                        var data = [
                            [{ Value: data[0][0].Value }]
                        ];
                        var encodedValue = $("<div/>").text(data[0][0].Value).html();
                        $("#hiddenJdTemplate").val(encodedValue);

                        $('#Remark').val( data[0][0].Value);



                        //var a = $("#hiddenJdTemplate").val(data[0][0].Value);
                        //console.log(a);
                        $(".note-editable").html(data[0][0].Value);
                    }
                    else
                    {
                        $('#Remark').val(null);
                    }
                }
            });
        });

        debugger
        $("#txtPositionType").change(function(){
            debugger;
            var PositionType=  $('#txtPositionType option:selected').html()
            var DepartmentIds= $("#txtDepartment").val();
            var DesignationIds= $("#txtDesignation").val();

            if(DepartmentIds!="" && DesignationIds!="")
            {
                $("#ErrorDepartmentID").html("");
                $("#ErrorDesignationID").html("");
            }
            else{ $("#ErrorDepartmentID").html("Please select department name");return false;
                $("#ErrorDesignationID").html("Please select designation Name"); return false;}
            if(PositionType=="Replacement")
            {

                $("#ReplacementDiv").show();
                $("#ddlEmployeeifReplacement").find("option").remove();
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetRepalcementEmployee", "ESS_Recruitment_ResourcesRequisition")',
                    data: { DepartmentIds: DepartmentIds,DesignationIds:DesignationIds },
                    success: function (data) {
                        if (data !=null) {
                            $("#ddlEmployeeifReplacement").append("<option value=0>--Select-- </option>");
                            $.each(data, function(i, p) {
                                $("#ddlEmployeeifReplacement").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                            });
                        }
                        else {
                            $('#ErrorESSPassword').html(" ");
                        }
                    }
                })
            }
            else{
                $("#ReplacementDiv").hide();
                $("#ddlEmployeeifReplacement").find("option").remove();
            }

        });

        $("#txtDesignation").change(function(){
            var DesignationID =$("#txtDesignation").val();
            debugger;
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetDesignationWiseDetails", "ESS_Recruitment_ResourcesRequisition")',
                data: { DesignationID: DesignationID },
                success: function (DesignationList) {
                    debugger;
                    if (DesignationList !=null) {
                        var MinAge=DesignationList[0].Value;
                        var MaxAge=DesignationList[1].Value;
                        var MinExprience=DesignationList[2].Value;
                        var MaxExprience=DesignationList[3].Value;
                        var MinBudget=DesignationList[4].Value;
                        var MaxBudget=DesignationList[5].Value;
                        $("#txtMinExperience").val(MinExprience);
                        $("#txtMaxExperience").val(MaxExprience);
                        $("#txtMinAge").val(MinAge);
                        $("#txtMaxAge").val(MaxAge);
                        if(MinBudget!=null || MaxBudget!=null )
                        {
                            $("#txtPositionBudgeted").val("true").select2();
                            $("#txtMinBudget").attr("disabled", false);
                            $("#txtMaxBudget").attr("disabled", false);
                            $("#txtMinBudget").val(MinBudget);
                            $("#txtMaxBudget").val(MaxBudget);

                        }
                        else{
                            $("#txtPositionBudgeted").val("false").select2();
                            $("#txtMinBudget").attr("disabled", true);
                            $("#txtMaxBudget").attr("disabled", true);
                            $("#txtMinBudget").val("");
                            $("#txtMaxBudget").val("");
                        }

                    }
                    else {
                        $("#txtMinExperience").val("");
                        $("#txtMaxExperience").val("");
                        $("#txtMinAge").val("");
                        $("#txtMaxAge").val("");
                        $("#txtMinBudget").val("");
                        $("#txtMaxBudget").val("");
                    }
                }
            })
        });
        debugger
        $("#txtPositionBudgeted").change(function(){
            debugger;
            $("#txtMinBudget").val("");
            $("#txtMaxBudget").val("");
            var PositionBudgeted =  $("#txtPositionBudgeted").val();
            if(PositionBudgeted=="true")
            {
                $("#txtMinBudget").prop("disabled", false);
                $("#txtMaxBudget").prop("disabled", false);
            }
            else if(PositionBudgeted=="false")
            {
                $("#txtMinBudget").prop("disabled", true);
                $("#txtMaxBudget").prop("disabled", true);
            }

        });

        $("#txtLegalBond").change(function(){
            debugger;
            $("#txtLegalBondDuration").val("");
            var LegalBond =   $("#txtLegalBond").val();
            if(LegalBond == "false")
            {
                $("#txtLegalBondDuration").prop("disabled", true);
            }
            else if(LegalBond == "true")
            {
                $("#txtLegalBondDuration").prop("disabled", false);

            }
        });

        @*var Action = @Html.Raw(Json.Encode(TempData["Action"]));*@


        //if(Action == "Update")
        //{
        //    $("#txtLegalBondDuration").prop("disabled", false);
        //    $("#txtMinBudget").prop("disabled", false);
        //    $("#txtMaxBudget").prop("disabled", false);
        //}
        //else
        //{
        //    $("#txtLegalBondDuration").prop("disabled", true);
        //    $("#txtMinBudget").prop("disabled", true);
        //    $("#txtMaxBudget").prop("disabled", true);
        //}

        var PositionBudgeted = @Html.Raw(Json.Encode(TempData["PositionBudgeted"]));
        if(PositionBudgeted==false)
        {
            $("#txtMinBudget").prop("disabled", true);
            $("#txtMaxBudget").prop("disabled", true);
        }
        else if (PositionBudgeted==true){
            $("#txtMinBudget").prop("disabled", false);
            $("#txtMaxBudget").prop("disabled", false);
        }
        var LegalBond = @Html.Raw(Json.Encode(TempData["LegalBond"]));
        if(LegalBond==false)
        {
            $("#txtLegalBondDuration").prop("disabled", true);
        }
        else if(LegalBond==true){
            $("#txtLegalBondDuration").prop("disabled", false);
        }
        var PositionTypeID = @Html.Raw(Json.Encode(TempData["PositionTypeID"]));
        var EmployeeifReplacement = @Html.Raw(Json.Encode(TempData["EmployeeifReplacement"]));
        var Currency = @Html.Raw(Json.Encode(TempData["Currency"]));
        var JDTemplate=@Html.Raw(Json.Encode(TempData["JDTemplate"]));
      

      @*function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}

var Remark1 = @Html.Raw(Json.Encode(TempData["Remark"] ?? ""));

// Decode twice
var decodedOnce = decodeHtml(Remark1);
var decodedTwice = decodeHtml(decodedOnce);

$('#Remark').summernote('code', decodedTwice);*@


        if(PositionTypeID==2)
        {
            $("#ReplacementDiv").show();
            $("#ddlEmployeeifReplacement").val(EmployeeifReplacement).select2();
        }
        if(Currency!=null)
        {
            $("#txtCurrency").val(Currency).select2();
            $("#txtJDTemplate").val(JDTemplate);
        }



        $("#txtCmpId").select2();
        $("#txtBranchId").select2();
        $("#txtDesignation").select2();
        $("#txtDepartment").select2();
        $("#txtGrade").select2();
        $("#txtPositionType").select2();
        $("#txtWorkType").select2();
        $("#txtLegalBond").select2();
        $("#txtLegalBond").select2();
        $("#txtPriority").select2();
        $("#txtPositionBudgeted").select2();
        $("#txtPreferredGender").select2();
        $("#txtCurrency").select2();
        $("#txtPreferredMaritalStatus").select2();
        $("#txtResidence").select2();
        $("#ddlEmployeeifReplacement").select2();

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        var Doc = @Html.Raw(Json.Encode(TempData["DocDate"]));
        var ClosingDate = @Html.Raw(Json.Encode(TempData["ClosingDate"]));

        if(Doc =="" || ClosingDate == "")
        {

        }
        else
        {
            var DocDate =  convertDate(Doc);
            var ClosingDate =  convertDate(ClosingDate);

            $("#txtDocDate").val(DocDate);
            $("#txtClosingDate").val(ClosingDate);
        }

       


    });//Ready Funcation

    $("#txtCandidateType").change(function () {
        debugger
        var CandidateType = $("#txtCandidateType").val();

        if (CandidateType == "Fresher" || CandidateType == "Intern") {
            $("#txtMinExperience").val("0").prop("readonly", true);
            $("#txtMaxExperience").val("0").prop("readonly", true);
        } 
        else if (CandidateType == "Experience") {
            $("#txtMinExperience").val("").prop("readonly", false);
            $("#txtMaxExperience").val("").prop("readonly", false);
        }
    });

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }

    function ResetFile()
    {
        let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png','application/pdf','application/docx','application/doc','application/msword','application/vnd.openxmlformats-officedocument.wordprocessingml.document'];
        let type = document.getElementById('txtAttachFile').files[0].type;

        if(allowedExtension.indexOf(type)>-1)
        {
        }
        else
        {
            Swal.fire({
                icon: "error",
                text: "File type should be jpeg/jpg/png/pdf/docx/doc",
            })
            //alert('File type should be jpeg/jpg/png/pdf/docx/doc')
            document.getElementById("txtAttachFile").value = null;
        }
        $("#lblFileName").text('');
    }

    var date = new Date();
    var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];
    $("#txtDocDate").val(dateString);

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("txtClosingDate").setAttribute("min", today);

    //====================StartCompareminOrMaxAge==================

    $("#txtMaxAge,#txtMinAge").change(function(){
        debugger;
        var minAge= parseInt(document.getElementById('txtMinAge').value);
        var maxAge=parseInt(document.getElementById('txtMaxAge').value);
        if(minAge>maxAge)
        {
            $("#ErrorMaxAge").html("Candidate age should be more than Minimum age.");return false;
        }
        else
        {
            $("#ErrorMaxAge").html("");
        }
        if(minAge<18)
        {
            $("#ErrorMinAge").html("Candidate should be aged over 18!");return false;
        }
        else
        {
            $("#ErrorMinAge").html("");
        }
    });


    $("#txtMaxExperience ,#txtMinExperience").change(function(){
        debugger;
        var minExperience= Number(document.getElementById('txtMinExperience').value);
        var maxExperience=Number(document.getElementById('txtMaxExperience').value);
        if(minExperience>maxExperience)
        {
            $("#ErrorMaxExperience").html("Minimum experience should be not greater than Maximum experience"); return false;
        }
        else
        {
            $("#ErrorMaxExperience").html("");
        }
    });


    //$("#txtMinExperience").change(function(){
    //    debugger;
    //    var minExperience= parseInt(document.getElementById('txtMinExperience').value);
    //    var maxExperience=parseInt(document.getElementById('txtMaxExperience').value);
    //    if(minExperience>maxExperience)
    //    {
    //        $("#ErrortxtMinExperience").html("Min experience less than max experience");
    //    }
    //    else
    //    {
    //        $("#ErrortxtMinExperience").html("");
    //    }
    //});

    //====================EndCompareminormaxBuget==================

    //====================StartCompareminormaxBuget==================

    $("#txtMaxBudget ,#txtMinBudget").change(function(){
        debugger;
        var minbudget= Number(document.getElementById('txtMinBudget').value);
        var maxbuget=Number(document.getElementById('txtMaxBudget').value);
        if(minbudget>maxbuget)
        {
            $("#ErrorMaxBudget").html("Min budget should be less than Max budget.");return false;
        }
        else
        {
            $("#ErrorMaxBudget").html("");
        }
    });


    //$("#txtMinBudget").change(function(){
    //    debugger;
    //    var minbudget= Number(document.getElementById('txtMinBudget').value);
    //    var maxbuget= Number(document.getElementById('txtMaxBudget').value);
    //    if(minbudget<maxbuget)
    //    {
    //        $("#ErrorMinBudget").html("Min Buget greter Than maxbuget");
    //    }
    //    else
    //    {
    //        $("#ErrorMinBudget").html("");
    //    }
    //});


    $("#txtLegalBondDuration").keyup(function() {
        var LegalboandMonth=  $("#txtLegalBondDuration").val();
        LegalboandMonth>60 ? $("#ErrortxtLegalBondDuration").html("Not allow greter than 60") : $("#ErrortxtLegalBondDuration").html("");
    });

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }


    //====================EndCompareminormaxBuget==================

    function DeleteFunction(ResourceId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Ready to submit your software request?',
            text: "Ensure all required fields are completed before submitting.",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("DeleteRecruitment", "ESS_Recruitment_ResourcesRequisition")?ResourceId_Encrypted=' + ResourceId_Encrypted;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );

    $('#SaveResourcesRecruitment').validate({
        rules: {
            CmpId: {
                required: true,
            },
            ResourceBranchId:{
                required: true,
            },
            DesignationID: {
                required: true,
            },
            DepartmentID: {
                required: true,
            },
            GradeID: {
                required: true,
            },
            ClosingDate: {
                required: true,
            },
            TotalPositions: {
                required: true,
            },
            PositionTypeID: {
                required: true,
            },
            MinExperience: {
                required: true,
            },
            MaxExperience: {
                required: true,
            },

            MinExperience: {
                required: true,
            },
            MaxExperience: {
                required: true,
            },
            Qualification: {
                required: true,
            },
            PreferredLanguage:{
                required: true,
            },
            PreferredLanguage:{
                required: true,
            },
            //PreferredTechnicalSkills:{
            //    required: true,
            //},
            //MusthaveTechnicalSkills:{
            //    required: true,
            //},
            PositionBudgeted:{
                required: true,
            },
            MinAge:{
                required: true,
            },
            MaxAge:{
                required: true,
            },
            PreferredMaritalStatus:{
                required: true,
            },
            PreferredGender:{
                required: true,
            },
            //WorkTypeID:{
            //    required: true,
            //},
            ////PreferredShiftTiming:{
            ////    required: true,
            ////},
            ////Residence:{
            ////    required: true,
            ////},
            //Competencies:{
            //    required: true,
            //},
            //Priority:{
            //    required: true,
            //},
            DocDate:{
                required: true,
            },
            Currency:{
                required: true,
            },
            ClosingDate:{
                required: true,
            },

        },
        messages: {
            CmpId: {
                required: "Company name is required",
            },
            ResourceBranchId:{
                required: "Business unit is required",
            },
            DesignationID: {
                required: "Designation name is required",
            },
            DepartmentID: {
                required: "Department name is required",
            },
            GradeID: {
                required: "Grade name is required",
            },
            ClosingDate: {
                required: "Closing date is required",
            },
            TotalPositions: {
                required: "Total positions is required",
            },
            PositionTypeID: {
                required: "Position Type is required",
            },
            MinExperience: {
                required: "Min Experience is required",
            },
            MaxExperience: {
                required: "Max experience is required",
            },
            MinExperience: {
                required:"Min experience is required",
            },

            Qualification: {
                required:"Qualification is required",
            },
            //PreferredLanguage: {
            //    required:"Language is required",
            //},
            //PreferredTechnicalSkills: {
            //    required:"Preferred technical skills is required",
            //},
            //MusthaveTechnicalSkills: {
            //    required:"Must have technical skills is required",
            //},
            PositionBudgeted:{
                required:"Position budgeted skills is required",
            },
            MinAge:{
                required: "Min age is required",
            },
            MaxAge:{
                required: "Max age is required",
            },
            PreferredMaritalStatus:{
                required: "Marital status is required",
            },
            PreferredGender:{
                required: "Gender  is required",
            },
            //WorkTypeID:{
            //    required: "Work type  is required",
            //},
            //PreferredShiftTiming:{
            //    required: "Shift timing  is required",
            //},
            //Residence:{
            //    required: "Residence is required",
            //},
            //Competencies:{
            //    required: "Competencies is required",
            //},
            //Priority:{
            //    required:"Priority is required",
            //},
            DocDate:{
                required: "DocDate is required",
            },
            Currency:{
                required: "Currency is required",
            },
            ClosingDate:{
                required: "Closing date is required",
            },

        },
    });

    var form = $("#SaveResourcesRecruitment");
    form.validate();
    $("#btnSubmit").click(function () {
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Ready to submit your request?',
            text: "Ensure all required fields are completed before submitting.",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes Proceed!',
            cancelButtonText: 'No, Cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                form.valid();
                if(form.valid()==false)
                {
                    $("#txtClosingDate").removeClass("error");
                    return false;
                }
                var Department=$("#txtDepartment").val();
                var Designation=$("#txtDesignation").val();
                var ClosingDate=$("#txtClosingDate").val();
                var CmpId=$("#txtCmpId").val();
                var BranchId=$("#txtBranchId").val();
                var txtWorkType=$("#txtWorkType").val();
                var txtGrade=$("#txtGrade").val();
                var legalbond=$("#txtLegalBond").val();



                //if(CmpId=="")
                //{
                //    $("#ErrorCmpId").html("Company name is required"); return false;
                //}
                //else
                //{
                //    $("#ErrorCmpId").html("");
                //}
                if(BranchId==0)
                {
                    $("#ErrorResourceBranchId").html("Business unit is required"); return false;
                }
                else
                {
                    $("#ErrorResourceBranchId").html("");
                }

                if(legalbond=="true")
                {
                    var legalbondMonth=$("#txtLegalBondDuration").val();
                    if(legalbondMonth=="")
                    {$('#ErrortxtLegalBondDuration').html("Legal bond (month) is required");return false}
                }

                else{ $('#ErrortxtLegalBondDuration').html("");}
                //if(Department=="")
                //{
                //    $("#ErrorDepartmentID").html("Department name is required"); return false;
                //}
                //else
                //{
                //    $("#ErrorDepartmentID").html("");
                //}
                //if(Designation=="")
                //{
                //    $("#ErrorDesignationID").html("Designation is required"); return false;
                //}
                //else
                //{
                //    $("#ErrorDesignationID").html("");
                //}
                //if(txtGrade=="")
                //{
                //    $("#ErrorGradeID").html("Grade name is required"); return false;
                //}
                //else
                //{
                //    $("#ErrorGradeID").html("");
                //}

                //if(txtWorkType=="")
                //{
                //    $("#ErrorWorkTypeID").html("Work type is required"); return false;
                //}
                //else
                //{
                //    $("#ErrorWorkTypeID").html("");
                //}

                var ResourceEncrypted=$("#ResourceId_Encrypted").val();
                $(".Userloaderbg").css("display", "flex");
                $.ajax({
                    url: '@Url.Action("IsRecruitmentExists", "ESS_Recruitment_ResourcesRequisition")',
                    method:"get",
                    data:{Designation:Designation,ClosingDate:ClosingDate,ResourceEncrypted:ResourceEncrypted,CmpId:CmpId,BranchId:BranchId, Department:Department, Grade:txtGrade},
                    success:function(response){
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon=="error") {
                            $(".Userloaderbg").css("display", "none");
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    });
                                }
                            }
                        }
                        else{
                            $(".Userloaderbg").css("display", "flex");
                            //$("#SaveResourcesRecruitment").submit(function (event) {
                            //    // Set hidden field value before submitting
                            //    $("#hiddenJdTemplate").val();
                            //});
                            $("#SaveResourcesRecruitment").submit();

                        }
                    }
                });

            } else if (
                /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                    ) {

            }
        })
    });
</script>

<script>
    function millisecTodate(milliDate) {
        var date = new Date(milliDate);
        var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        hours = hours < 10 ? '0'+hours : hours;
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var ddmmyyyy = [date.getFullYear(), mnth,day].join("-");
        return ddmmyyyy;
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var date = millisecTodate(getdate);
        return date;
    }
</script>

<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });

    debugger
    var isViewMode = '@ViewBag.EditOrView' == "View";
    if (isViewMode) {
        disableFormElements();
        $("#btnSubmit").hide();
        $(".panel-title").text("Resource Request - View");
    }

    function disableFormElements() {
        $("input, select, textarea, button").not("#btnGetList").prop("disabled", true);
        $(".summernote").summernote("disable");
        $("#SaveResourcesRecruitment").addClass("form-disabled");
        $("button").not("#btnGetList").off("click");
    };
    
</script>