@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_Interview
@{
    ViewBag.Title = "ConductInterview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<style>
    .table > :not(caption) > * > * {
        border-bottom: none;
    }

    .tblAddData td:nth-child(1) {
        display: none;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Conduct Interview <small>header small text goes here...</small>
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="panel panel-inverse">
        <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
            <h4 class="panel-title">Conduct Interview</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <br />
        <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
            <p class="pb-0">
                Depending on the organization's process, the list may serve as a tool for capturing interview feedback and evaluations from interviewers. This feedback can be used to assess candidates' qualifications, skills, and fit for the position.
            </p>
        </div>
        <div class="panel-body">
            <form action="/ESS/ESS_Recruitment_Interview/SaveUpdate" id="SaveInterviewSchedule" method="post">
                @*<form action="/Recruitment/Recruitment/SaveConductInterview" id="SaveConductInterview" method="post">*@
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <label for="form-field-8"><b><h6>Title :</h6></b></label>
                    </div>
                    <div class="col-md-6">
                        Conduct Interview
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <label for="form-field-8"><b><h6>Interview Date :</h6></b></label>
                    </div>
                    <div class="col-md-6">
                        @ViewBag.ConductInterviewList.InterviewDate
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <label for="form-field-8"><b><h6>Interview Time :</h6></b></label>
                    </div>
                    <div class="col-md-6">
                        @ViewBag.ConductInterviewList.InterviewTime
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <label for="form-field-8"><b><h5>Join with Link:</h5></b></label>
                    </div>
                    <div class="col-md-6">
                        <a href="#" target="_blank">@ViewBag.ConductInterviewList.MeetingLink</a>
                    </div>
                </div>

                @if (ViewBag.ChecklistName.Count != 0)
                {
                    <table id="tableCheckList" class="table table-striped table-bordered align-middle tblAddData">
                        <thead class="text-center">
                            <tr>
                                <th hidden>Fid</th>
                                <th>Key Compentencies</th>
                                <th>Rate Out Of</th>
                                <th>Rate Obtained</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody id="tbltableCheckListBody"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"> <h3 class="text-center">Total</h3></td>
                                <td colspan="1"> <h3 class="text-center">Total</h3></td>
                                <td>
                                    <input type="text" class="form-control TotalCount" id="txtRateof" style="text-align:right" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" class="form-control TotalCount" id="txtTotalCount" style="text-align:right" disabled="disabled" />
                                </td>
                            </tr>
                        </tfoot>

                    </table>

                }
                    <hr />

                <div class="form">
                        <div class="panel-body">
                            <div class="card-header">
                                <div class="row">
                                    <div class="row mb-15px">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-2">
                                                    Skills
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-10">
                                                    @Html.DropDownList("Name", new SelectList(ViewBag.GetSkillsList, "Name", "Name"), "--Select--", new { @class = "form-control select2", Id = "ddlSkillName", @required = "required" })
                                                    @Html.ValidationMessage("Name", "", new { @class = "help-block", id = "ErrorNameSkill", @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="form-label col-form-label col-md-2">
                                                    Remark
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-10">

                                                    @Html.DropDownList("Remark", new SelectList(ViewBag.GetRemarkList, "Name", "Name"), "--Select--", new { @class = "form-control select2", Id = "ddlRemark", @required = "required" })
                                                    @Html.ValidationMessage("Name", "", new { @class = "help-block", id = "ErrorRemark", @style = "color:red" })
                                                  </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <center><button type="button" class="btn btn-primary" id="btnAdd"> Add</button></center>
                                        </div>
                                    </div>
                                    <br />
                                    <!--/row-->
                                    <!--/span-->
                                </div>
                                <br />

                                <br />
                                <br />

                                <div class="table-scroll div1">
                                    <div class="table-wrap">
                                        <table class="table table-bordered" id="AddedTable" style="width: 100%">
                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                <tr>
                                                    <th><center>Delete</center></th>
                                                    <th><center>Skills</center></th>
                                                    <th><center>Remark</center></th>

                                                </tr>
                                            </thead>
                                            <tbody id="tblskillName"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row d-flex mb-3">
                            <label class="col-lg-3 col-form-label form-label" for="Remark">Result<span style="color:red">*</span></label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.InterviewStatus,
                            new List<SelectListItem>{new SelectListItem {Text ="Selected", Value="Selected"},
                                                   new SelectListItem {Text ="Hold", Value="Hold"},
                                                      new SelectListItem {Text ="Rejected", Value="Rejected"},
                                                  }, "--Select--", new { @class = "form-select", id = "ddlInterviewStatus", type = "text", name = "InterviewStatus", autocomplete = "Off" })
                                @Html.ValidationMessageFor(model => model.InterviewStatus, "", new { id = "ErrorInterviewStatus", @style = "color:red", @class = "help-block" })
                                @Html.HiddenFor(model => model.InterviewId, new { id = "txtInterviewId" })
                                @Html.HiddenFor(model => model.InterviewResumeId, new { id = "txtInterviewResumeId" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="SelectCandidate">
                    <div class="col-md-12">
                        <div class="form-group row d-flex mb-3">
                            <label class="col-lg-3 col-form-label form-label" for="Remark">Remark</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Reason, new { @class = "form-control", id = "txtReason", type = "text", name = "Reason", autocomplete = "Off" })
                                @Html.ValidationMessage("Remark", "", new { @class = "help-block", id = "ErrorRemark", @style = "color:red" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <center>
                            <label class="mb-2">
                                <button type="button" class="btn btn-success" id="btnSubmit" >Submit</button>
                            </label>
                        </center>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- END panel -->
</div>


<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Remark For Reject</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                       aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtFinalApproveRejectRemark" class="form-control" rows="4"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="FinalApproval('Rejected')" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->




<script>
    $(document).ready(function () {
        debugger;
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        var ConductInterview = @Html.Raw(Json.Encode(ViewBag.ConductInterviewList));
        if(ConductInterview!=null)
        {
            var ResumeInterviewID= ConductInterview[3].Value;
            var InterviewID= ConductInterview[4].Value;
            $("#txtInterviewResumeId").val(ResumeInterviewID);
            $("#txtInterviewId").val(InterviewID);
        }

        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }

        var ChecklistName =@Html.Raw(Json.Encode(ViewBag.ChecklistName));
        debugger;
        if(ChecklistName!=null)
        {
            for(var i=0;i <= ChecklistName.length-1;i++)
            {
                var Count=0;
                var RateOf=$("#txtRateof").val();
                var RateCount=ChecklistName[i][2].Value
                Count=Number(RateOf)+Number(RateCount);
                $("#txtRateof").val(Count);
                var table = document.getElementById("tbltableCheckListBody");
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                var count = $('#tbltableCheckListBody tr').length;

                row.insertCell(0).innerHTML = "" + ChecklistName[i][0].Value + "";
                row.insertCell(1).innerHTML = "" + ChecklistName[i][1].Value + "";
                row.insertCell(2).innerHTML = "" + ChecklistName[i][2].Value + "";
                row.insertCell(3).innerHTML = "<input type='text'  autocomplete = 'Off' id='txttableRate' onkeypress = 'return numbervalidate(event)' class='form-control Ratetxt'  onkeyup='AmountSum(this)'>" ;
                row.insertCell(4).innerHTML = "<input type='text'  autocomplete = 'Off' id='txttableRemark' class='form-control Remarktxt'>" ;
            }
        }
    });
</script>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function numbervalidate(key) {
        var presskeys = (key.which) ? key.which : key.presskeys;
        if (!(presskeys == 8 || presskeys == 46) && (presskeys < 48 || presskeys > 57)) {
            return false;
        }
    }

    $("#ddlSkillName").on("change", function () {
        debugger;
        $("#ddlRemark").find("option").remove();
        var Skill= $("#ddlSkillName").val();

        $.ajax({
            type: 'GET',
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            url: 'GetSkillsRemark',
            data: { Skill: Skill },
            success: function (data) {
                if (data !=null) {
                    $("#ddlRemark").append("<option value=0>--Select-- </option>");
                    $.each(data, function(i, p) {
                        $("#ddlRemark").append("<option value='" + p.Id +"'>" + p.Name +"</option>");
                    });
                }
                else {
                    $('#ErrorESSPassword').html(" ");
                }
            }
        })
    });
</script>

<script>
    $("#btnAdd").click(function () {
        debugger;
        var SkillName = $('#ddlSkillName').val();
        if(SkillName=="")
        {$('#ErrorNameSkill').html("Please select skill");  $("#ddlSkillName").focus(); return false;}
        else{ $('#ErrorNameSkill').html("");}
        var Remark = $('#ddlRemark option:selected').text();

        if(Remark!="--Select-- ")
        {
            $("#ErrorRemark").html("");
        }
        else{
            $("#ErrorRemark").html("Remark is required");return false;

        }
        var table = document.getElementById("tblskillName");
        var GetTableRecord = table.innerText;
        var CheckContaint = GetTableRecord.includes(SkillName);
        if (CheckContaint == true) {
            Swal.fire({
                title: "",
                text: "Remark already added against Assessment Result",
                icon: "warning",
                confirmButtonText: "OK"
            });
            return false;
        }
        else {
            debugger;

            var table = document.getElementById("tblskillName");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var count = $('#tblskillName tr').length;
            row.insertCell(0).innerHTML = '<center><a type="button" id="btnDelete" class="btn btn-danger ListBtn btnpress" onclick="deleterow()"><i class="fa-solid fa-trash-alt"></i></a></center>';
            row.insertCell(1).innerHTML = ""+ SkillName + "";
            row.insertCell(2).innerHTML = ""+ Remark + "";


            $('#ddlSkillName').val('');
            $('#ddlRemark').val('');
        }
    })
</script>



<script>
    function AmountSum() {
        debugger;
        var tablett = document.getElementById("tbltableCheckListBody");
        var rowCount11 = tablett.rows.length;
        let total=0;
        for (var i = 0; i <= rowCount11; i++) {
            var LblValue = tablett.rows.item(i).cells;
            var AcheivedRate = LblValue[3].firstChild.value;
            var RateOutof= LblValue[2].innerText;
            if(Number(AcheivedRate)>Number(RateOutof))
            {
                Swal.fire({
                    title: "",
                    text: "Rate Obtained should not greater than rate out of",
                    icon: "warning",
                    confirmButtonText: "OK"

                });

                return false;
            }
            total = Number(AcheivedRate) + total;
            $("#txtTotalCount").val(total);
        }
    }


    function deleterow() {
        var table = document.getElementById("tblskillName");
        var rowCount = table.rows.length;

        table.deleteRow(rowCount -1);
    }
</script>

<script>
    $("#btnSubmit").click(function() {
        debugger
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                debugger;
                var table = document.getElementById("tblskillName");
                var rowCount = table.rows.length;
                var TaskSkill = [];

                for (i = 0; i <= rowCount-1; i++) {
                    //var data = {};
                    var dataSkill = {};
                    dataSkill.Interview_Skill_Name = table.rows[i].cells[1].innerText;
                    dataSkill.Interview_Skill_Description = table.rows[i].cells[2].innerText;
                    TaskSkill.push(dataSkill);

                }

                debugger;
                var table = document.getElementById("tbltableCheckListBody");
                if(table!=null)
                {
                    var rowCount = table.rows.length;
                    var TaskChecklist = [];
                    var dataChecklist = {};
                    for (j = 0; j <= rowCount-1; j++) {
                        var dataChecklist = {};
                        dataChecklist.InterviewResultCheckListId = table.rows[j].cells[0].innerHTML;
                        dataChecklist.InterviewResultCheckListRate = table.rows[j].cells[2].innerHTML;
                        var LblValue = table.rows.item(j).cells;
                        dataChecklist.InterviwerRate= LblValue[3].firstChild.value;
                        dataChecklist.InterviewResultRemark= LblValue[4].firstChild.value;
                        TaskChecklist.push(dataChecklist);
                    }
                }
               

                var Result = $("#ddlInterviewStatus").val();
                var Reason = $("#txtReason").val();
                var InterviewResult= $("#txtTotalCount").val();
                var InterviewResumeId= $("#txtInterviewResumeId").val();
                var InterviewID=$("#txtInterviewId").val();
                if(Result!="")
                {
                    $("#ErrorInterviewStatus").html("");
                }
                else{
                    $("#ErrorInterviewStatus").html("Result is required");return false;
                    //$("#ErrorResult").hmtl("Result is required");return false;
                }

                if(TaskSkill.length==0)
                {
                    Swal.fire({
                        title: "",
                        text: "Please fill the interview checklist and skills",
                        icon: "warning",
                        confirmButtonText: "OK"

                    });

                    return false;
                }

                $(".Userloaderbg").css("display", "flex");

                $.ajax({
                    type: "POST",
                    url: "SaveUpdate",
                    data: JSON.stringify({Result:Result,Reason:Reason,InterviewResult:InterviewResult,InterviewResumeId:InterviewResumeId,InterviewID:InterviewID}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (response)
                    {
                        var data =  JSON.parse(response);
                        var Message1 = data.Message;
                        var Icon1 = data.Icon;
                        if (data !=null) {
                            if (Message1 != null) {

                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        // return false
                                    }

                                }).then(function () {
                                    var url = '@Url.Action("ESS_Recruitment_Interview", "ESS_Recruitment_Interview")';
                                    window.location.href = url;
                                });

                            }
                        }
                    }
                });

            } else if (
                /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
              ) {

            }
        })
    })
</script>