@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_Interview
@{
    ViewBag.Title = "ViewForCoductInterview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var @Item = ViewBag.CandiadateScheduleList;
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 15px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 25px;
    }

    .table, tr, td, th, .invoice, .smallFrom {
        border: none;
        font-size: 13px;
        font-family: Arial;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Candidate Details
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible rounded-0 mb-0 fade show">
        Candidates assessment results and interview comments are captured on this form.
    </div>
    <!-- END page-header -->
    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            @Html.HiddenFor(model => model.InterviewId_Encrypted, new { id = "txtInterviewId_Encrypted" })
            @Html.HiddenFor(model => model.InterviewId, new { id = "txtInterviewId" })
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary btn-sm" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
                @if (Item.InterviewAccept == false)
                {
                    @*<a href="#" type="button" class="btn btn-success" id="btnAcceptInterview">Accept</a>*@
                    <button type="button" class="btn btn-success btn-sm" id="btnAcceptInterview" onclick="OpenModal('Approved')">Accept</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnRejectInterview" onclick="OpenModal('Rejected')">Reject</button>
                }
                else
                {
                    <button type="button" class="btn btn-success btn-sm" id="btnConductInterview">Conduct Interview</button>
                }
            </span>
            Recruitment for @Item.DesignationName
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>     <strong class="text-dark">&nbsp;@Item.CandidateName</strong><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;    <b>Phone:</b>&nbsp; +@Item.MobileNo <br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp;<b>Email:</b>&nbsp;  @Item.EmailId
                            </address>
                        </div>
                        <div class="invoice-to">
                            <small>   </small>
                            <br />
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp; &nbsp; <b> Current Organization:</b>&nbsp; @Item.LastCompanyName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;  <b>  Current Designation: </b>&nbsp; @Item.LastDesignation<br />
                                <i class="fa-solid fa-info"></i> &nbsp;&nbsp; &nbsp; <b>Experience:</b> &nbsp;@Item.TotalExperience<br />
                            </address>
                        </div>

                        <div class="invoice-date">
                            <small> </small>
                            <br />
                            <div class="date text-dark mt-5px"></div>
                            <div class="invoice-detail">
                                <i class="fa-solid fa-calendar-days"></i> <b> Notice Period (Days): </b>@Item.NoticePeriodDays<br />
                            </div>
                        </div>
                    </div>
                    <!-- END invoice-header -->
                    <!-- BEGIN invoice-content -->
                    <div class="invoice-content">
                        <!-- BEGIN table-responsive -->
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Interview Date</span><br />
                                            </th>
                                            <td>@Item.InterviewDate</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Current CTC</span><br />
                                            </th>
                                            <td>@Item.CTC</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Gender</span><br />
                                            </th>
                                            <td>@Item.Gender</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Current City</span><br />
                                            </th>
                                            <td>@Item.CurrentCity</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Nationality</span><br />
                                            </th>
                                            <td>@Item.Nationality</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Highest Qualification</span><br />
                                            </th>
                                            <td>@Item.HighestQualification</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Technical Skill</span><br />
                                            </th>
                                            <td>@Item.TechnicalDetails </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">HR Notes</span><br />
                                            </th>
                                            <td>@Item.HRComment </td>
                                        </tr>
                                        @if (!string.IsNullOrEmpty(Item.ResumePath))
                                        {
                                            <tr>
                                                <td><strong>Resume File</strong></td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(Item.ResumePath))
                                                    {
                                                        <a href="@Url.Action("DownloadFile", "ESS_Recruitment_CandidateList", new { filePath = Item.ResumeFullPath })" class="btn btn-link p-0 m-0">
                                                            <i class="fa fa-download"></i> Download
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Interview Time</span><br />
                                            </th>
                                            <td>@Item.InterviewTime</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Expected CTC</span><br />
                                            </th>
                                            <td>@Item.ExpectedCTC</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Marital Status </span><br />
                                            </th>
                                            <td>@Item.MaritalStatus</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Ready to Travel</span><br />
                                            </th>
                                            <td>@Item.ReadyToTraval</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Age</span><br />
                                            </th>
                                            <td>@Item.Age</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark"> Specific Qualification</span><br />
                                            </th>
                                            <td>@Item.QualificationRemark</td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <span class="text-dark">Communication Skill</span><br />
                                            </th>
                                            <td>@Item.CommunicationSkill</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <span class="text-dark">Candidate Comment</span><br />
                                            </th>
                                            <td>@Item.CandidateComment</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        @if (ViewBag.ApprovalRemarkList.Count != 0)
                        {
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="data-table-combine"
                                       style="width: 100%;">
                                    <thead>
                                        <tr class="trheading">
                                            <th class="text-nowrap">Approved By</th>
                                            <th class="text-nowrap">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.ApprovalRemarkList)
                                        {
                                            <tr>

                                                <td class="text-nowrap">@d.EmployeeName</td>
                                                <td class="text-nowrap">@d.ApproveRejectRemark</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <!-- END invoice-content -->
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END #content -->
@*<!-- #Start Appprove Reject Modal -dialog -->
    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h4 class="modal-title">Interview Schedule</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                           aria-hidden="true">
                            <i class="fa fa-xmark"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- BEGIN panel -->
                    <div class="modal-body-content">
                        <form action="/ESS/ESS_Recruitment_Interview/RejectInterview" id="SaveInterviewSchedule" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                          Reschedule/Cancel
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.InterviewStatus,
                                                     new List<SelectListItem>{new SelectListItem {Text ="Reschedule", Value="Reschedule"},
                                                                             new SelectListItem {Text ="Cancel", Value="Cancel"},
                                                                            }, "--Select--", new { @class = "form-select", id = "txtInterviewStatus", type = "text", name = "txtInterviewStatus", autocomplete = "Off" })
                                            @Html.HiddenFor(model => model.InterviewId_Encrypted, new { id = "txtInterviewId_Encrypted" })
                                            @Html.HiddenFor(model => model.InterviewId, new { id = "txtInterviewId" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-4">
                                          Reason
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Reason, new { @class = "form-control", id = "txtReason", type = "text", name = "Reason", autocomplete = "Off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- END panel -->
                            <div class="modal-footer">
                                <button type="submit" id="btnSubmit" onclick="Approved()" class="btn btn-primary btn-sm">
                                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                                </button>
                                <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                                    <i class="fa-solid fa-share-from-square"></i> Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #End modal-dialog -->*@

<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModalFinal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title"> Remark </h4>
                <div class="panel-heading-btn">
                    @*<a href="javascript:;" class="btn btn-icon btn-danger btnClear" data-bs-dismiss="modal"
                           aria-hidden="true" id="CloseModel">
                            <i class="fa fa-xmark"></i>
                        </a>*@
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <textarea id="txtApproveRejectRemark" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Approved()" id="btnReject" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-floppy-disk"> </i> Submit
                </button>
                <button type="button" id="btnCancel" class="btn btn-danger btn-sm btnpress CloseModel" data-bs-dismiss="modal">
                    <i class="fa-solid fa-share-from-square"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- #End modal-dialog -->


<script>
    $(document).ready(function () {
        var List = @Html.Raw(Json.Encode(ViewBag.CandiadateScheduleList));
        debugger;
        var Encrypted=List[1].Value;
        var id=List[0].Value;
        $("#InterviewId_Encrypted").val(Encrypted);
        $("#InterviewId").val(id);


    });//ready
</script>
<script>
    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }

    @*$("#btnConductInterview").click(function () {
        debugger;
        alert('hi')
        var url = '@Url.Action("ConductInterview", "ESS_Recruitment_Interview");
        window.location.href = url;
    });*@


    @*function Interview() {
        alert('hi')
        var url = '@Url.Action("ConductInterview", "ESS_Recruitment_Interview");
        window.location.href = url;
    }*@



</script>

<script>

    var StatusMark="";
    function OpenModal(Approver){
        debugger;
        StatusMark=Approver;
        $("#myModalFinal").modal('show');
    }

    function Approved()
    {
        debugger
        const Approved = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        Approved.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes submit!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,

            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                debugger;
                var Status="";
                var Remark="";
                if(StatusMark=="Rejected")
                {
                    Remark = $("#txtApproveRejectRemark").val();
                    Status="Rejected";

                }
                else{
                    Remark = $("#txtApproveRejectRemark").val();
                    Status="Approved";
                }
                $("#myModalFinal").modal('hide');
                $(".Userloaderbg").css("display", "flex");

                $.ajax({
                    url: "@Url.Action("InterviewAcceptReject", "ESS_Recruitment_Interview")",
                    method:"get",
                    data:{Status:Status,Remark:Remark},
                    success:function(response){
                        debugger;
                        var Message1 = response.Message;
                        var Icon1 = response.Icon;
                        if (response.Icon=="error") {
                            if (Message1 != null) {
                                if (Message1 != null) {
                                    Swal.fire({
                                        icon: Icon1,
                                        text: Message1,
                                        allowOutsideClick: () => {
                                            const popup = Swal.getPopup()
                                            popup.classList.remove('swal2-show')
                                            setTimeout(() => {
                                                popup.classList.add('animate__animated', 'animate__headShake')
                                            })
                                            setTimeout(() => {
                                                popup.classList.remove('animate__animated', 'animate__headShake')
                                            }, 500)
                                            return false
                                        }
                                    });

                                    $("#myModalFinal").modal('hide');
                                    $("#txtApproveRejectRemark").val("")
                                    .then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '@Url.Action("ESS_Recruitment_Interview", "ESS_Recruitment_Interview")';
                                        } else if (
                                            /* Read more about handling dismissals below */
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {

                                        }
                                    })
                                }
                            }

                        }

                        else{
                            var Message1 = response.Message;
                            var Icon1 = response.Icon;
                            if (response.Icon=="success") {
                                if (Message1 != null) {
                                    if (Message1 != null) {
                                        Swal.fire({
                                            icon: Icon1,
                                            text: Message1,
                                            allowOutsideClick: () => {
                                                const popup = Swal.getPopup()
                                                popup.classList.remove('swal2-show')
                                                setTimeout(() => {
                                                    popup.classList.add('animate__animated', 'animate__headShake')
                                                })
                                                setTimeout(() => {
                                                    popup.classList.remove('animate__animated', 'animate__headShake')
                                                }, 500)
                                                return false
                                            }
                                        })
                                        .then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '@Url.Action("ESS_Recruitment_Interview", "ESS_Recruitment_Interview")';
                                            } else if (
                                                /* Read more about handling dismissals below */
                                                result.dismiss === Swal.DismissReason.cancel
                                            ) {

                                            }
                                        })

                                        $("#myModalFinal").modal('hide');
                                        $("#txtApproveRejectRemark").val("");
                                    }
                                }
                            }
                        }
                    }
                });

            }
        })
    }

    $("#btnConductInterview").click(function () {
        debugger;
        $.ajax({
            type: "get",
            url: "@Url.Action("GetChecklist", "ESS_Recruitment_Interview", new { area = "ESS" })",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "text",
      success: function (response) {
    debugger;
    if (response == "false") {
        Swal.fire({
            icon: 'warning',
            title: 'Checklist Not Found',
            text: 'A checklist has not been defined for this interview. Do you want to continue without it?',
            showCancelButton: true,
            confirmButtonText: 'Yes, Continue',
            cancelButtonText: 'No, Cancel',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var InterviewId_Encrypted = $("#txtInterviewId_Encrypted").val();
                var url = '@Url.Action("ConductInterview", "ESS_Recruitment_Interview")?InterviewId_Encrypted=' + InterviewId_Encrypted;
                window.location.href = url;
            }
        });
    }
    else {
        var InterviewId_Encrypted = $("#txtInterviewId_Encrypted").val();
        var url = '@Url.Action("ConductInterview", "ESS_Recruitment_Interview")?InterviewId_Encrypted=' + InterviewId_Encrypted;
        window.location.href = url;
    }
}


        })
    });
</script>
