
@{
    ViewBag.Title = "Module_Employee_EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var shadowClasses = new[] { "blue-shadow", "yellow-shadow", "green-shadow", "red-shadow" };
    var rnd = new Random();
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<style>
    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
    text-align:center;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
  

    }
        .box2 .info {
       
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

        .box2 .imgbx {

    padding:12px;
    font-family:Open Sans,sans-serif;
          border: 1px solid #dedede;
    border-radius: 10px;
   
    display:flex;
    justify-content:center;
    align-items:center;
        }
    .blue-shadow {
    box-shadow: 0px 0px 10px #63b0f7;
    }
    .yellow-shadow{
        box-shadow: 0px 0px 10px #f6f763;
    }
    .green-shadow {
        box-shadow: 0px 0px 10px #b2fd9d;
    }
    .red-shadow {
        box-shadow: 0px 0px 10px #fd9d9d
    }


        /*.box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
           
        }*/
        .box2 img {
             width: 50px;
    height: 50px;
    filter: brightness(1.2);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
           
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
           
            text-align: center;
            display: flex;
            justify-content: center;
            color:#000;
            text-transform: capitalize;
            margin-top: 2px;
      
          
        }



    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .width-45 {
        width: 45px !important;
    }

    .table {
        --bs-table-striped-bg: rgba(0, 0, 255, 0.02);
    }

    .text-nowrap {
        font-size: 12px;
    }

    tbody tr td {
        font-size: 12px;
        padding: 4px !important;
    }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    /*.div1 td:nth-child(1) {
        position: sticky;
        left: 0;
    }

    .div1 td:nth-child(2) {
        position: sticky !important;
        left: 61px !important;
    }

    .div1 td:nth-child(3) {
        position: sticky !important;
        left: 237px !important;
    }*/

    /*.fixed-side {
        position: sticky !important;
        left: 0;
        z-index:1;
    }

    .fixed-side1 {
        position: sticky !important;
        left: 61px !important;
        z-index: 1;
    }
    .fixed-side2 {
        position: sticky !important;
        left: 237px !important;
        z-index: 1;
    }*/
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Active Manpower
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Module_Employee_Menu", "Module_Employee_Menu", new {id = 3, ScreenId=140, area = "Module" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">@*@i.SET_MODULES.FormName*@ Active Manpower - List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Below is a list of all active employees, consultants, trainees
                    </p>
                </div>
                <div class="panel-body">
                    @*<a href="/Module/Module_Employee_Onboarding/Module_Employee_Onboarding">*@
                    @*<button type="button" class="btn btn-success btnpress  mb-10px" onclick="AdminFormNew('AdminNew')">
                            <i class="fa-solid fa-plus"></i> &nbsp; Add
                        </button>*@

                    <!-- BEGIN table-responsive -->
                    <div class="table-scroll div1">
                        <div class="table-wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN table-responsive -->
                                    <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage EmployeeDetails" id="tblEmployeeDetails"
                                           style="width: 100%;">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="fixed-side">Action</th>
                                                <th class="fixed-side1">Employee Name</th>
                                                <th class="fixed-side2">Employee No.</th>
                                                <th hidden Class="text-nowrap width-45">EmployeeId</th>
                                                <th hidden Class="text-nowrap width-45">CmpId</th>
                                                <th hidden Class="text-nowrap width-45">BranchId</th>
                                                <th class="text-nowrap width-45">Employee Card No.</th>
                                                <th class="text-nowrap width-45">Company Name</th>
                                                <th class="text-nowrap width-45">Business Unit</th>
                                                <th class="text-nowrap width-45">Sub Unit Name</th>
                                                <th class="text-nowrap width-45">Department</th>
                                                <th class="text-nowrap width-45">Designation</th>
                                                <th class="text-nowrap width-45">Grade</th>
                                                <th class="text-nowrap width-45">Primary Mobile No.</th>
                                                <th class="text-nowrap width-45">Joining Date</th>
                                                <th hidden class="text-nowrap 49">EmployeeDepartmentID</th>
                                                <th hidden class="text-nowrap 49">EmployeeDesignationID</th>
                                                <th class="text-nowrap width-45">Group Name</th>
                                                @*<th class="text-nowrap width-45">Confirmation date</th>
                                                    <th class="text-nowrap width-45">Is Confirm</th>
                                                    <th class="text-nowrap width-45">Status</th>
                                                    <th class="text-nowrap width-45">Leave Group</th>
                                                    <th class="text-nowrap width-45">Emp group/level</th>
                                                    <th hidden class="text-nowrap 21">SetupAdmin</th>
                                                    <th hidden class="text-nowrap 22">SetupPersonal</th>
                                                    <th hidden class="text-nowrap 23">SetupReporting</th>
                                                    <th hidden class="text-nowrap 24">SetupAttendance</th>
                                                    <th hidden class="text-nowrap 25">SetupCTC</th>
                                                    <th hidden class="text-nowrap 26">SetupESS</th>
                                                    <th hidden class="text-nowrap 27">SetupJobdiscription</th>
                                                    <th hidden class="text-nowrap 28">SetupVerification</th>
                                                    <th hidden class="text-nowrap 29">SetupVms</th>
                                                    <th hidden class="text-nowrap 30">SetupChecklist</th>
                                                    <th hidden class="text-nowrap 31">SetupPolicy</th>
                                                    <th hidden class="text-nowrap 32">SetupAssets</th>
                                                    <th hidden class="text-nowrap 33">SetupInsurance</th>
                                                    <th hidden class="text-nowrap 34">SetupMedicalHistory</th>
                                                    <th hidden class="text-nowrap 35">SetupAddress</th>
                                                    <th hidden class="text-nowrap 36">SetupRefernce</th>
                                                    <th hidden class="text-nowrap 37">SetupBank</th>
                                                    <th hidden class="text-nowrap 38">SetupStatutory</th>
                                                    <th hidden class="text-nowrap 39">SetupFamily</th>
                                                    <th hidden class="text-nowrap 40">SetupQualification</th>
                                                    <th hidden class="text-nowrap 41">SetupExperience</th>
                                                    <th hidden class="text-nowrap 42">SetupSkills</th>
                                                    <th hidden class="text-nowrap 43">SetupLanguage</th>
                                                    <th hidden class="text-nowrap 44">SetupBond</th>
                                                    <th hidden class="text-nowrap 45">SetupUploadPhoto</th>
                                                    <th hidden class="text-nowrap 46">SetupUploadSignature</th>
                                                    <th hidden class="text-nowrap 47">SetupUploadDocument</th>
                                                    <th hidden class="text-nowrap 48">SetupOthers</th>
                                                    <th hidden class="text-nowrap 49">SetupGeneralReporting</th>
                                                *@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetEmployeeInfoList)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <button type="button" data-bs-toggle="offcanvas"
                                                                href="#offcanvasExample" id="btnActionList" onclick="EmployeeDetails(this)" class="btn  btnpress ListBtn">
                                                            <i class="fa-solid fa-list"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-nowrap 1">@d.employeename</td>
                                                    <td class="text-nowrap 2">@d.employeeno</td>
                                                    <td hidden class="text-nowrap 3">@d.EmployeeId</td>
                                                    <td hidden class="text-nowrap 4">@d.CmpID</td>
                                                    <td hidden class="text-nowrap 5">@d.EmployeeBranchId</td>
                                                    <td class="text-nowrap 6">@d.employeecardno</td>
                                                    <td class="text-nowrap 7">@d.CompanyName</td>
                                                    <td class="text-nowrap 8">@d.BusinessUnit</td>
                                                    <td class="text-nowrap 9">@d.UnitName</td>
                                                    <td class="text-nowrap 10">@d.departmentname</td>
                                                    <td class="text-nowrap 11">@d.designationname</td>
                                                    <td class="text-nowrap 12">@d.gradename</td>
                                                    <td class="text-nowrap 13">@d.PrimaryMobile</td>
                                                    <td class="text-nowrap 15">@d.joiningdate</td>
                                                    <td hidden class="text-nowrap 50">@d.EmployeeDepartmentID</td>
                                                    <td hidden class="text-nowrap 50">@d.EmployeeDesignationID</td>
                                                    <td class="text-nowrap">@d.GroupName</td>
                                                    @*<td class="text-nowrap 16">@d.ConfirmationDate</td>
                                                        <td class="text-nowrap 17">@d.IsConfirmation</td>
                                                        <td class="text-nowrap 18">@d.Status</td>
                                                        <td class="text-nowrap 19">@d.LeaveGroupname</td>
                                                        <td class="text-nowrap 20">@d.employeelevel</td>*@

                                                    @*Hiddden Feilds for Check Flag*@

                                                    @*<td hidden class="text-nowrap 21">@d.SetupAdmin</td>
                                                        <td hidden class="text-nowrap 22">@d.SetupPersonal</td>
                                                        <td hidden class="text-nowrap 23">@d.SetupReporting</td>
                                                        <td hidden class="text-nowrap 24">@d.SetupAttendance</td>
                                                        <td hidden class="text-nowrap 25">@d.SetupCTC</td>
                                                        <td hidden class="text-nowrap 26">@d.SetupESS</td>
                                                        <td hidden class="text-nowrap 27">@d.SetupJobdiscription</td>
                                                        <td hidden class="text-nowrap 28">@d.SetupVerification</td>
                                                        <td hidden class="text-nowrap 29">@d.SetupVms</td>
                                                        <td hidden class="text-nowrap 30">@d.SetupChecklist</td>
                                                        <td hidden class="text-nowrap 31">@d.SetupPolicy</td>
                                                        <td hidden class="text-nowrap 32">@d.SetupAssets</td>
                                                        <td hidden class="text-nowrap 33">@d.SetupInsurance</td>
                                                        <td hidden class="text-nowrap 34">@d.SetupMedicalHistory</td>
                                                        <td hidden class="text-nowrap 35">@d.SetupAddress</td>
                                                        <td hidden class="text-nowrap 36">@d.SetupRefernce</td>
                                                        <td hidden class="text-nowrap 37">@d.SetupBank</td>
                                                        <td hidden class="text-nowrap 38">@d.SetupStatutory</td>
                                                        <td hidden class="text-nowrap 39">@d.SetupFamily</td>
                                                        <td hidden class="text-nowrap 40">@d.SetupQualification</td>
                                                        <td hidden class="text-nowrap 41">@d.SetupExperience</td>
                                                        <td hidden class="text-nowrap 42">@d.SetupSkills</td>
                                                        <td hidden class="text-nowrap 43">@d.SetupLanguage</td>
                                                        <td hidden class="text-nowrap 44">@d.SetupBond</td>
                                                        <td hidden class="text-nowrap 45">@d.SetupUploadPhoto</td>
                                                        <td hidden class="text-nowrap 46">@d.SetupUploadSignature</td>
                                                        <td hidden class="text-nowrap 47">@d.SetupUploadDocument</td>
                                                        <td hidden class="text-nowrap 48">@d.SetupOthers</td>
                                                        <td hidden class="text-nowrap 49">@d.SetupGeneralReporting</td>
                                                    *@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Start panel -->
<div class="row">
    <div class="offcanvas offcanvas-end" id="offcanvasExample" data-bs-backdrop="false"
         data-bs-scroll=true>
        <div class="offcanvas-header" style="border-bottom: 1px solid #d3d3d38a;">
            <h6 class="offcanvas-title text-center" id="EmpName1"
                style="width: 100%;">
                <span id="EmpName">@Session["OnboardEmployeeName"]</span>
            </h6>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row">
                @foreach (var item in ViewBag.GetUserMenuList)
                {
                    var shadowClass = shadowClasses[rnd.Next(shadowClasses.Length)];

                    <div class="col-md-4 col-6 d-flex justify-content-center">
                        <a href="@Url.Action(item.ViewName.ToString(), item.ControllerName.ToString(), new { area = item.AreaName.ToString(), id = item.ModuleID, ScreenId = item.ScreenId })" style="text-decoration:none !important;">
                            <div class="box2">
                                <div class="info">
                                    @*<i class="@item.Icon"></i>*@
                                        <div class="imgbx @shadowClass">
                                            <img src="~/assets/MenuImages/@item.Icon" />
                                        </div>
                                   
                                    <div class="d-flex flex-column  justify-center">
                                        <h7>@item.ScreenDisplayMenuName</h7>
                                        <span class="box2Checkmark">
                                            <i class="fa-regular fa-circle-check text-green" id="@($"{item.ScreenSourceMenuName}_Submit")"></i>
                                            <i class="fa-regular fa-circle-xmark text-red" id="@($"{item.ScreenSourceMenuName}_NotSubmit")"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END panel -->



<script>
   
    function EmployeeDetails(tblRow) {
        debugger;
        var currentRow = $(tblRow).closest("tr");
        var EmpId = currentRow.find("td:eq(3)").html();
        var CmpId = currentRow.find("td:eq(4)").html();
        var BranchId = currentRow.find("td:eq(5)").html();
        var EmpName = currentRow.find("td:eq(1)").html();
        var EmployeeNo = currentRow.find("td:eq(2)").html();
        var EmpDesignation = currentRow.find("td:eq(11)").html();
        var EmpDepartment = currentRow.find("td:eq(10)").html();
        var EmpDoj = currentRow.find("td:eq(14)").html();
        var EmpDepartmentId = currentRow.find("td:eq(15)").html();
        var EmpDesignationId = currentRow.find("td:eq(16)").html();


        $("#EmpName").html(EmpName);
        $.ajax({
            type: "GET",
            url: '@Url.Action("OnboardingForm", "Module_Employee_EmployeeList")',
            data: { EmpId: EmpId, CmpId: CmpId, BranchId: BranchId, EmpName: EmpName, EmpDoj: EmpDoj, EmpDepartment: EmpDepartment, EmpDesignation: EmpDesignation, EmployeeNo: EmployeeNo, EmpDepartmentId: EmpDepartmentId, EmpDesignationId: EmpDesignationId },
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                debugger;
                var data = JSON.parse(response);
               
                //$("#hdnEmpId").val(SetEmpId);
                if (data.SetupFlag == 0) {
                    $("#Admin_NotSubmit").show();
                    $("#Admin_Submit").hide();

                    $("#Personal_NotSubmit").show();
                    $("#Personal_Submit").hide();

                    $("#Reporting_NotSubmit").show();
                    $("#Reporting_Submit").hide();

                    $("#Attendance_NotSubmit").show();
                    $("#Attendance_Submit").hide();

                    $("#CTC_NotSubmit").show();
                    $("#CTC_Submit").hide();

                    $("#ESS_NotSubmit").show();
                    $("#ESS_Submit").hide();

                    $("#JobDescription_NotSubmit").show();
                    $("#JobDescription_Submit").hide();

                    $("#Verfication_NotSubmit").show();
                    $("#Verfication_Submit").hide();

                    $("#VMS_NotSubmit").show();
                    $("#VMS_Submit").hide();

                    $("#Checklist_NotSubmit").show();
                    $("#Checklist_Submit").hide();

                    $("#Policy_NotSubmit").show();
                    $("#Policy_Submit").hide();

                    $("#Assets_NotSubmit").show();
                    $("#Assets_Submit").hide();

                    $("#Insurance_NotSubmit").show();
                    $("#Insurance_Submit").hide();

                    $("#MedicalHistory_NotSubmit").show();
                    $("#MedicalHistory_Submit").hide();

                    $("#Address_NotSubmit").show();
                    $("#Address_Submit").hide();

                    $("#Bank_NotSubmit").show();
                    $("#Bank_Submit").hide();

                    $("#Reference_NotSubmit").show();
                    $("#Reference_Submit").hide();

                    $("#Family_NotSubmit").show();
                    $("#Family_Submit").hide();

                    $("#Statutory_NotSubmit").show();
                    $("#Statutory_Submit").hide();

                    $("#PreEmployeer_NotSubmit").show();
                    $("#PreEmployeer_Submit").hide();

                    $("#Qualifications_NotSubmit").show();
                    $("#Qualifications_Submit").hide();

                    $("#Skill_NotSubmit").show();
                    $("#Skill_Submit").hide();

                    $("#Language_NotSubmit").show();
                    $("#Language_Submit").hide();

                    $("#Signature_NotSubmit").show();
                    $("#Signature_Submit").hide();

                    $("#Documents_NotSubmit").show();
                    $("#Documents_Submit").hide();

                    $("#UploadPhoto_NotSubmit").show();
                    $("#UploadPhoto_Submit").hide();

                    $("#Bond_NotSubmit").show();
                    $("#Bond_Submit").hide();

                    $("#UploadDocument_NotSubmit").show();
                    $("#UploadDocument_Submit").hide();

                    $("#GeneralReporting_NotSubmit").show();
                    $("#GeneralReporting_Submit").hide();

                    $("#ChartTypeAssign_NotSubmit").show();
                    $("#ChartTypeAssign_Submit").hide();

                    $("#Category_Group_Assign_NotSubmit").show();
                    $("#Category_Group_Assign_Submit").hide();
                }
                else {
                    var data = JSON.parse(response);
                    var jsonObject = {};
                    data.SetupFlag[0].forEach(function (item) {
                        jsonObject[item.Key] = item.Value;
                    });

                    var SetUpAdmin = data.SetupFlag[0][1].Value;
                    if (SetUpAdmin == true) {
                        $("#Admin_Submit").show();
                        $("#Admin_NotSubmit").hide();
                    }
                    else {
                        $("#Admin_NotSubmit").show();
                        $("#Admin_Submit").hide();
                    }

                    var SetUpPersonal = data.SetupFlag[0][0].Value;
                    if (SetUpPersonal == true) {
                        $("#Personal_Submit").show();
                        $("#Personal_NotSubmit").hide();
                    }
                    else {
                        $("#Personal_NotSubmit").show();
                        $("#Personal_Submit").hide();
                    }

                    var SetUpReporting = data.SetupFlag[0][4].Value;
                    if (SetUpReporting == true) {
                        $("#Reporting_Submit").show();
                        $("#Reporting_NotSubmit").hide();
                    }
                    else {
                        $("#Reporting_NotSubmit").show();
                        $("#Reporting_Submit").hide();
                    }

                    var SetUpAttendence = data.SetupFlag[0][5].Value;
                    if (SetUpAttendence == true) {
                        $("#Attendance_Submit").show();
                        $("#Attendance_NotSubmit").hide();
                    }
                    else {
                        $("#Attendance_NotSubmit").show();
                        $("#Attendance_Submit").hide();
                    }

                    var SetUpCTC = data.SetupFlag[0][6].Value;
                    if (SetUpCTC == true) {
                        $("#CTC_Submit").show();
                        $("#CTC_NotSubmit").hide();
                    }
                    else {
                        $("#CTC_NotSubmit").show();
                        $("#CTC_Submit").hide();
                    }

                    var SetUpESS = data.SetupFlag[0][7].Value;
                    if (SetUpESS == true) {
                        $("#ESS_Submit").show();
                        $("#ESS_NotSubmit").hide();
                    }
                    else {
                        $("#ESS_NotSubmit").show();
                        $("#ESS_Submit").hide();
                    }

                    var SetUpJobDecriptions = data.SetupFlag[0][8].Value;
                    if (SetUpJobDecriptions == true) {
                        $("#JobDescription_Submit").show();
                        $("#JobDescription_NotSubmit").hide();
                    }
                    else {
                        $("#JobDescription_NotSubmit").show();
                        $("#JobDescription_Submit").hide();
                    }

                    var SetUpVerification = data.SetupFlag[0][9].Value;
                    if (SetUpVerification == true) {
                        $("#Verfication_Submit").show();
                        $("#Verfication_NotSubmit").hide();
                    }
                    else {
                        $("#Verfication_NotSubmit").show();
                        $("#Verfication_Submit").hide();
                    }

                    var SetUpVMS = data.SetupFlag[0][10].Value;
                    if (SetUpVMS == true) {
                        $("#VMS_Submit").show();
                        $("#VMS_NotSubmit").hide();
                    }
                    else {
                        $("#VMS_NotSubmit").show();
                        $("#VMS_Submit").hide();
                    }

                    var SetUpChecklist = data.SetupFlag[0][2].Value;
                    if (SetUpChecklist == true) {
                        $("#Checklist_Submit").show();
                        $("#Checklist_NotSubmit").hide();
                    }
                    else {
                        $("#Checklist_NotSubmit").show();
                        $("#Checklist_Submit").hide();
                    }

                    var SetUpPolicy = data.SetupFlag[0][11].Value;
                    if (SetUpPolicy == true) {
                        $("#Policy_Submit").show();
                        $("#Policy_NotSubmit").hide();
                    }
                    else {
                        $("#Policy_NotSubmit").show();
                        $("#Policy_Submit").hide();
                    }

                    var SetUpAssest = data.SetupFlag[0][12].Value;
                    if (SetUpAssest == true) {
                        $("#Assets_Submit").show();
                        $("#Assets_NotSubmit").hide();
                    }
                    else {
                        $("#Assets_NotSubmit").show();
                        $("#Assets_Submit").hide();
                    }

                    var SetUpInsurance = data.SetupFlag[0][13].Value;
                    if (SetUpInsurance == true) {
                        $("#Insurance_Submit").show();
                        $("#Insurance_NotSubmit").hide();
                    }
                    else {
                        $("#Insurance_NotSubmit").show();
                        $("#Insurance_Submit").hide();
                    }

                    var SetUpMedicalHistory = data.SetupFlag[0][14].Value;
                    if (SetUpMedicalHistory == true) {
                        $("#MedicalHistory_Submit").show();
                        $("#MedicalHistory_NotSubmit").hide();
                    }
                    else {
                        $("#MedicalHistory_NotSubmit").show();
                        $("#MedicalHistory_Submit").hide();
                    }

                    var SetUpAddress = data.SetupFlag[0][15].Value;
                    if (SetUpAddress == true) {
                        $("#Address_Submit").show();
                        $("#Address_NotSubmit").hide();
                    }
                    else {
                        $("#Address_NotSubmit").show();
                        $("#Address_Submit").hide();
                    }

                    var SetUpReference = data.SetupFlag[0][16].Value;
                    if (SetUpReference == true) {
                        $("#Reference_Submit").show();
                        $("#Reference_NotSubmit").hide();
                    }
                    else {
                        $("#Reference_NotSubmit").show();
                        $("#Reference_Submit").hide();
                    }

                    var SetUpBank = data.SetupFlag[0][17].Value;
                    if (SetUpBank == true) {
                        $("#Bank_Submit").show();
                        $("#Bank_NotSubmit").hide();
                    }
                    else {
                        $("#Bank_NotSubmit").show();
                        $("#Bank_Submit").hide();
                    }

                    var SetUpStatutory = data.SetupFlag[0][18].Value;
                    if (SetUpStatutory == true) {
                        $("#Statutory_Submit").show();
                        $("#Statutory_NotSubmit").hide();
                    }
                    else {
                        $("#Statutory_NotSubmit").show();
                        $("#Statutory_Submit").hide();
                    }

                    var SetUpFamily = data.SetupFlag[0][19].Value;
                    if (SetUpFamily == true) {
                        $("#Family_Submit").show();
                        $("#Family_NotSubmit").hide();
                    }
                    else {
                        $("#Family_NotSubmit").show();
                        $("#Family_Submit").hide();
                    }

                    var SetUpQualification = data.SetupFlag[0][20].Value;
                    if (SetUpQualification == true) {
                        $("#Qualifications_Submit").show();
                        $("#Qualifications_NotSubmit").hide();
                    }
                    else {
                        $("#Qualifications_NotSubmit").show();
                        $("#Qualifications_Submit").hide();
                    }

                    var SetUpPreEmployer = data.SetupFlag[0][22].Value;
                    if (SetUpPreEmployer == true) {
                        $("#PreEmployeer_Submit").show();
                        $("#PreEmployeer_NotSubmit").hide();
                    }
                    else {
                        $("#PreEmployeer_NotSubmit").show();
                        $("#PreEmployeer_Submit").hide();
                    }

                    var SetUpSkills = data.SetupFlag[0][23].Value;
                    if (SetUpSkills == true) {
                        $("#Skill_Submit").show();
                        $("#Skill_NotSubmit").hide();
                    }
                    else {
                        $("#Skill_NotSubmit").show();
                        $("#Skill_Submit").hide();
                    }

                    var SetUpLanguage = data.SetupFlag[0][24].Value;
                    if (SetUpLanguage == true) {
                        $("#Language_Submit").show();
                        $("#Language_NotSubmit").hide();
                    }
                    else {
                        $("#Language_NotSubmit").show();
                        $("#Language_Submit").hide();
                    }

                    var SetUpBond = data.SetupFlag[0][26].Value;
                    if (SetUpBond == true) {
                        $("#Bond_Submit").show();
                        $("#Bond_NotSubmit").hide();
                    }
                    else {
                        $("#Bond_NotSubmit").show();
                        $("#Bond_Submit").hide();
                    }

                    var SetUpPhoto = data.SetupFlag[0][27].Value;
                    if (SetUpPhoto == true) {
                        $("#UploadPhoto_Submit").show();
                        $("#UploadPhoto_NotSubmit").hide();
                    }
                    else {
                        $("#UploadPhoto_NotSubmit").show();
                        $("#UploadPhoto_Submit").hide();
                    }

                    var SetUpSignature = data.SetupFlag[0][21].Value;
                    if (SetUpSignature == true) {
                        $("#Signature_Submit").show();
                        $("#Signature_NotSubmit").hide();
                    }
                    else {
                        $("#Signature_NotSubmit").show();
                        $("#Signature_Submit").hide();
                    }

                    var SetUpUploadDocument = data.SetupFlag[0][28].Value;
                    if (SetUpUploadDocument == true) {
                        $("#UploadDocument_Submit").show();
                        $("#UploadDocument_NotSubmit").hide();
                    }
                    else {
                        $("#UploadDocument_NotSubmit").show();
                        $("#UploadDocument_Submit").hide();
                    }

                    var SetUpOther = data.SetupFlag[0][25].Value;
                    if (SetUpOther == true) {
                        $("#Other_Submit").show();
                        $("#Other_NotSubmit").hide();
                    }
                    else {
                        $("#Other_NotSubmit").show();
                        $("#Other_Submit").hide();
                    }

                    var SetUpGeneralReporting = data.SetupFlag[0][3].Value;
                    if (SetUpGeneralReporting == true) {
                        $("#GeneralReporting_Submit").show();
                        $("#GeneralReporting_NotSubmit").hide();
                    }
                    else {
                        $("#GeneralReporting_NotSubmit").show();
                        $("#GeneralReporting_Submit").hide();
                    }

                    var SetUpChartTypeAssign = data.SetupFlag[0][29].Value;
                    if (SetUpChartTypeAssign == true) {
                        $("#ChartTypeAssign_Submit").show();
                        $("#ChartTypeAssign_NotSubmit").hide();
                    }
                    else {
                        $("#ChartTypeAssign_NotSubmit").show();
                        $("#ChartTypeAssign_Submit").hide();
                    }

                    var SetupLMSGroupAssign = jsonObject.SetupLMSGroupAssign;
                    if (SetupLMSGroupAssign == true) {
                        $("#Category_Group_Assign_Submit").show();
                        $("#Category_Group_Assign_NotSubmit").hide();
                    }
                    else {
                        $("#Category_Group_Assign_NotSubmit").show();
                        $("#Category_Group_Assign_Submit").hide();
                    }

                    var SetupEmployeeAsset = jsonObject.SetupEmployeeAsset;
                    if (SetupEmployeeAsset == true) {
                        $("#Employee_Asset_Submit").show();
                        $("#Employee_Asset_NotSubmit").hide();
                    }
                    else {
                        $("#Employee_Asset_NotSubmit").show();
                        $("#Employee_Asset_Submit").hide();
                    }
                }
            }
        });
    }
</script>

