
@{
    ViewBag.Title = "ESS_MyPolicyAndLibrary_MyLibrary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

<html>
<head>
    <style>
        .box {
            width: 100px;
            height: 100px;
            backdrop-filter: blur(25px) saturate(00%);
            background-color: rgba(255, 255, 255, 1);
            border-radius: 12px;
            border: 3px solid rgba(255, 255, 255, 1);
            margin: 5px;
            box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.03), inset 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
            padding: 15px 0px;
            font-family: 'Montserrat', sans-serif;
            position: relative;
            z-index: 0;
        }

            .box:hover {
                /* BORDER:2PX SOLID #666; */
                border: 2px solid #007bff;
                cursor: pointer;
                transform: translateY(-4px);
            }


            .box .info i {
                font-size: 18px;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                color: #007bff;
            }

            .box :hover.INFO i,
            .box:hover .info h7 {
                COLOR: #000;
            }

            .box .info h7 {
                font-size: 11px;
                text-align: center;
                display: flex;
                justify-content: center;
                font-weight: 900 !important;
                text-transform: capitalize;
                margin-bottom: 2px;
                padding: 0 10px;
                color: #444;
            }

        .Col-md-2 {
            margin: 10px 0;
        }

        a .icon2 {
            text-align: center;
            width: 100%;
        }

            a .icon2 i {
                font-size: 40px;
                color: #007bff;
            }

        .icon2 h7 {
            font-weight: 600;
        }
    </style>
</head>
<body>

    <div id="content" class="app-content">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
                <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                    Liabrary
                </h1>
                <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                    <li style="margin-right: 10px;">
                        <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                            <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ESS_MyPolicyAndLibrary_Menu", "ESS_MyPolicyAndLibrary_Menu",  new { id = 17,ScreenId=205, area = "ESS" })">
                            <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                        <h4 class="panel-title">Menu</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        </div>
                    </div>
                    <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                        <p class="pb-0">
                            This is the document center for corporate policy here!
                        </p>
                    </div>
                    <div class="panel-body" style="max-height: fit-content; background: #f5f8ff;" id="PolicyLibrary">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    @foreach (var d in ViewBag.GetEmployeeName)
                                    {
                                        <div class="col-md-3 col-6 d-flex justify-content-center">
                                            <a style="text-decoration: none; color: #000;">
                                                <div class="icon2" onclick="DocumentName('@d.CompanyDocumentLibraryCategoryId')">
                                                    <i class="fa-regular fa-folder-open"></i>
                                                    <br>
                                                    <h1 hidden>@d.CompanyDocumentLibraryId</h1>
                                                    <h1 hidden>@d.CompanyDocumentLibraryCategoryId</h1>
                                                    <h7>@d.DocumentCategoryName</h7>
                                                </div>
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    function DocumentName(CompanyDocumentLibraryCategoryId) {
        var url = '@Url.Action("GetList", "ESS_MyPolicyAndLibrary_MyLibrary")?CompanyDocumentLibraryCategoryId=' + CompanyDocumentLibraryCategoryId;
        window.location.href = url;
    }

</script>
