
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
               My Liabrary List
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_MyPolicyAndLibrary_MyLibrary", "ESS_MyPolicyAndLibrary_MyLibrary",  new { id = 17,ScreenId=207, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">My Library List</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        
                          
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        View your company policy here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="true">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body py-4" style="background: #f5f8ff;" id="PolicyLibrary">
                                <div class="mb-4">
                                    <div class="table-responsive">
                                        <table class="table table-hover align-middle policy-table">
                                            <thead>
                                                <tr class="group-header">
                                                    <th colspan="3">
                                                        <i class="fa-solid fa-layer-group"></i> My Library
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var d in ViewBag.ListOfLibrary)
                                                {
                                                    <tr>
                                                        <td class="text-center action-col">
                                                            <a href="@Url.Action("Download", "ESS_MyPolicyAndLibrary_MyLibrary", new { DocumentPath = d.DocumentPath })" class="w-sm-200px">
                                                                <i class="fa fa-download text-primary fa-xl"></i>
                                                            </a>
                                                            @*@{
                                                                string filePath = d.DocumentPath?.ToLower() ?? "";

                                                                bool isPdf = filePath.StartsWith("data:application/pdf") || filePath.EndsWith(".pdf");
                                                                bool isExcel = filePath.EndsWith(".xls") || filePath.EndsWith(".xlsx") || filePath.EndsWith(".csv");
                                                                bool isImage = filePath.EndsWith(".jpg") || filePath.EndsWith(".jpeg") ||
                                                                               filePath.EndsWith(".png") || filePath.EndsWith(".gif") ||
                                                                               filePath.EndsWith(".bmp") || filePath.StartsWith("data:image/");
                                                                bool isWord = filePath.EndsWith(".doc") || filePath.EndsWith(".docx") ||
                                                                              filePath.StartsWith("data:application/msword") ||
                                                                              filePath.StartsWith("data:application/vnd.openxmlformats-officedocument.wordprocessingml.document");
                                                            }

                                                            @if (isPdf)
                                                            {
                                                                <a href="@Url.Action("Download", "ESS_MyPolicyAndLibrary_MyLibrary", new { DocumentPath = d.DocumentPath })" class="w-sm-200px">
                                                                    <i class="fa fa-file-pdf text-danger fa-2x"></i>
                                                                </a>
                                                            }
                                                            else if (isWord)
                                                            {
                                                                <a href="@Url.Action("Download", "ESS_MyPolicyAndLibrary_MyLibrary", new { DocumentPath = d.DocumentPath })" class="w-sm-200px">
                                                                    <i class="fa fa-file-word text-primary fa-2x"></i>
                                                                </a>
                                                            }
                                                            else if (isImage)
                                                            {
                                                                <a href="@Url.Action("Download", "ESS_MyPolicyAndLibrary_MyLibrary", new { DocumentPath = d.DocumentPath })" class="w-sm-200px">
                                                                    <i class='fa fa-file-image text-primary fa-2x'></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("Download", "ESS_MyPolicyAndLibrary_MyLibrary", new { DocumentPath = d.DocumentPath })" class="w-sm-200px">
                                                                    <i class="fa fa-download text-primary fa-2x"></i>
                                                                </a>
                                                            }*@
                                                        </td>
                                                        <td class="text">@d.Description</td>
                                                    </tr>
                                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <style>
                                .policy-table {
                                    background: #fff;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
                                }

                                    .policy-table .group-header th {
                                        background: #e9f2ff;
                                        color: #0d6efd;
                                        font-weight: 600;
                                        font-size: 16px;
                                        border-bottom: 2px solid #cfe2ff;
                                        padding: 10px 12px;
                                    }

                                    .policy-table tr:hover {
                                        background: #f8fbff;
                                        transition: background 0.2s ease;
                                    }

                                    .policy-table td {
                                        vertical-align: middle;
                                        padding: 10px 12px;
                                    }

                                    .policy-table .action-col {
                                        width: 50px;
                                    }
                            </style>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>
