@model KompassHR.Areas.Setting.Models.Setting_Conference.Conference_List
@{
    ViewBag.Title = "Setting_Conference_ConferenceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>
<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="/ESS/ESS_AdminDashboard_Dashboard/ESS_AdminDashboard_Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Setting/Setting_Conference_Menu/Setting_Conference_Menu">Conference Menu</a></li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header"> Conference List </h1>
    <!-- END page-header -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                 <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Conference List - Add </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define conference rooms and cabins setting here.
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="/Setting/Setting_Conference_ConferenceList/SaveUpdate" id="FormConferenceSettingList" method="post">
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Business Unit
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.MasBranch, "BranchId", "BranchName"), "--Select--", new { @class = "form-select", type = "text", id = "ddlBuniessUnit", autocomplete = "Off", name = "BranchID" })
                                                @Html.HiddenFor(model => model.ConferenceListID_Encrypted, new { id= "ConferenceListID_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-15px">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="form-label col-form-label col-md-4">
                                                Conference Name
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ConferenceName, new { @name = "ConferenceName", @class = "form-control", @id = "txtConferenceName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Description
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.ConferenceDescription, new { @name = "ConferenceDescription", @rows = "3", @class = "form-control", @id = "txtConferenceDescription" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="submit" id="SubmitBtn"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href='/Setting/Setting_Conference_ConferenceList/GetList'>
                                                            <button type="button"
                                                                    class="btn btn-danger btn-sm">
                                                                <i class="fa-solid fa-share-from-square"></i>
                                                                List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>

<script>
      //use for add regex function
      jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


      $("#FormConferenceSettingList").validate({
          rules: {
              BranchID: {
                  required: true,
                  regex: /^[a-zA-Z0-9]+$/,
              },
              ConferenceName: {
                  required: true,
                  regex: /^[a-zA-Z ]+$/,
              },
              ConferenceDescription: {
                  required: true,
                  //regex: /^[a-zA-Z ]+$/,
              },
          },
          messages: {
              BranchID: {
                  required: "Bank name is required",
                  regex: "Enter olny alphabate.",
              },
              ConferenceName: {
                  required: "Conference name is required",
                  regex: "Enter olny alphabate.",
              },
              ConferenceDescription: {
                  required: "Conference description is required",
                  //regex: "Enter olny alphabate.",
              },
          }
      });
      var form = $("#FormConferenceSettingList");
      form.validate();
      $("#btnSubmit").click(function () {
          debugger;
          form.valid();
          if(form.valid()==false)
          {
              return false;
          }
          var BuniessUnit=$("#ddlBuniessUnit").val();
          var ConferenceName=$("#txtConferenceName").val();
          var ConferenceListID_Encrypted=$("#ConferenceListID_Encrypted").val();
          $.ajax({
              url:"IsConferenceExists",
              method:"get",
              data:{BuniessUnit:BuniessUnit,ConferenceName:ConferenceName,ConferenceListID_Encrypted:ConferenceListID_Encrypted},
              success:function(response){
                  debugger;
                  var Message1 = response.Message;
                  var Icon1 = response.Icon;
                  if (response.Icon=="error") {
                      if (Message1 != null) {
                          if (Message1 != null) {
                              Swal.fire({
                                  icon: Icon1,
                                  text: Message1,
                                  allowOutsideClick: () => {
                                      const popup = Swal.getPopup()
                                      popup.classList.remove('swal2-show')
                                      setTimeout(() => {
                                          popup.classList.add('animate__animated', 'animate__headShake')
                                      })
                                      setTimeout(() => {
                                          popup.classList.remove('animate__animated', 'animate__headShake')
                                      }, 500)
                                      return false
                                  }
                              });
                          }
                      }
                  }
                  else{
                      $("#FormConferenceSettingList").submit();

                  }
              }
          });

      });
</script>