@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.Atten_OutDoorCompany

@{
    ViewBag.Title = "App_Attendance_Outdoor";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}


<style>
    .app-header-fixed {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .app-content {
        padding: 0px 0px;
    }

    .panel .panel-body {
        padding: 8px;
    }

    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<style>
    /*.form-label-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }*/

    .form-label-text {
        display: inline-flex;
        align-items: center;
        min-width: 120px; /* Adjust this value to fit your longest label */
    }

        .form-label-text i {
            margin-right: 0.5rem; /* Space between icon and label text */
        }
</style>

<style>
    @@media (max-width: 767px) {
        .row.mb-3.align-items-center {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
    /*@@media (max-width: 576px) {
    .form-label-container {
        text-align: left;
    }*/
            .row.mb-3.align-items-center .col-md-4,
            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                max-width: none;
                padding-right: 10px;
                padding-left: 10px;
            }

            .row.mb-3.align-items-center .col-md-4 {
                flex: 0 0 auto;
                width: 40%;
            }

            .row.mb-3.align-items-center .col-md-8 {
                flex: 1;
                width: 60%;
            }

        .form-label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .form-control,
        .form-select {
            width: 100%;
        }

        #divMaxAllow {
        flex-wrap: nowrap;
    }
    }
</style>

<link href="~/assets/MyCSS/Tailwindcss.css" rel="stylesheet" />

<div id="content" class="app-content">
    <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-body" data-scrollbar="false">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN panel -->
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <form role="form" action='@Url.Action("App_SaveUpdate", "App_Attendance_Outdoor", new { area = "App" })' id="SaveOutDoor" method="post" data-parsley-validate="true">
                                        @Html.HiddenFor(model => Model.OutDoorCompanyID)
                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4">
                                                <div class="form-label-container">
                                                    <label class="form-label">
                                                        <span class="form-label-text">
                                                            <i class="fa-solid fa-hashtag text-purple-600"></i> Doc No.
                                                        </span>:
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => Model.DocNo, new { @class = "form-control mb-5px", @id = "txtDocNo", Value = @ViewBag.DocNo, @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.OutDoorCompanyID_Encrypted)
                                            </div>
                                        </div>


                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label"><span class="form-label-text"><i class="fas fa-briefcase text-purple-600"></i> Shift <span class="important">*</span></span>:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="hidden" name="OutDoorCompanyShiftName" id="ShiftName" />
                                                <input type="hidden" id="hdnLunchTime" />
                                                @Html.DropDownListFor(model => model.OutDoorCompanyShiftId, new SelectList(ViewBag.GetShiftList, "ShiftId", "ShiftName"), "--Select--", new { id = "ddlShift", name = "OutDoorCompanyShiftId", @class = "form-select", autocomplete = "off" })
                                            </div>
                                        </div>


                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4">
                                                <div class="form-label-container">
                                                    <label class="form-label">
                                                        <span class="form-label-text">
                                                            <i class="fa-solid fa-cash-register text-green-500"></i> Outdoor Type
                                                            <span class="important">*</span>
                                                        </span>:
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.OutDoorCompanyType, new List<SelectListItem>{
                                                new SelectListItem {Text ="Short Period", Value="Short Period"},
                                                new SelectListItem {Text ="Full Day", Value="Full Day"},
                                                //new SelectListItem {Text ="1st Half", Value="1st Half"},
                                                //new SelectListItem {Text ="2nd Half", Value="2nd Half"}
                                            }, "--Select--", new { @class = "form-select", name = "OutDoorCompanyType", @id = "OutDoorCompanyType" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-12 col-md-4 form-label-container mb-2 mb-md-0">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-tachometer-alt text-purple-600"></i>
                                                        Max Allow (Min)
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-12 col-md-8 mb-2 mb-md-0" id="TotalMinutesSection">
                                                @Html.TextBoxFor(model => model.TotalMinutes, new { @name = "TotalMinutes", @class = "form-control", @id = "txtTotalMinutes", Type = "text", @readonly = "readonly", @style = "background-color:#eee;" })
                                            </div>
                                            <div class="col-12 col-md-8 d-flex align-items-center" id="divMaxAllow">
                                                @Html.CheckBoxFor(model => model.IsNightShift, new { id = "chkIsNightShift", @class = "IsNightShift me-2" })
                                                <label class="form-label col-form-label">Is Night Shift</label>
                                            </div>
                                        </div>


                                        <div class="row" id="HdnDirecationandTotalMinutes">
                                            @*<div class="col-md-6" id="Direcation">
                                                    <div class="row mb-15px">
                                                        <label class="form-label col-form-label col-md-4"> Direction <span class="important">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.Direction, new List<SelectListItem>{
                                                            new SelectListItem {Text ="Shift InTime", Value="Shift InTime"},
                                                            new SelectListItem {Text ="Shift Between", Value="Shift Between"},
                                                            new SelectListItem {Text ="Shift OutTime", Value="Shift OutTime"}
                                                          }, "--Select--", new { @class = "form-select", name = "Year", @id = "ddlDirecation" })
                                                            @Html.ValidationMessageFor(model => model.Direction, "", new { @class = "help-block", id = "ErrorddlDirecation", @style = "color:red" })
                                                        </div>
                                                    </div>
                                                </div>*@

                                        </div>



                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fa-solid fa-calendar-day text-blue-500"></i> From Date <span class="important">*</span>
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, new
                                           {
                                               @name = "FromDate",
                                               @class = "form-control",
                                               @id = "txtFromDate",
                                               Type = "date"@*, onkeydown = "return false"*@ })
                                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "help-block", id = "ErrortxtFromDate", @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fa-solid fa-calendar-check text-blue-600"></i> To Date <span class="important">*</span>
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, new
                                           {
                                               @name = "ToDate",
                                               @class = "form-control",
                                               @id = "txtToDate",
                                               Type = "date"@*, onkeydown = "return false*@ })
                                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "help-block", id = "ErrortxtToDate", @style = "color:red" })
                                            </div>
                                        </div>


                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-clock text-success"></i> From Time <span class="important">*</span>
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromTime, new { @name = "FromTime", @class = "form-control", @id = "txtFromTime", type = "time" })
                                                @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "help-block", id = "ErrortxtFromTime", @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-clock text-success"></i> To Time <span class="important">*</span>
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToTime, new { @name = "ToTime", @class = "form-control", @id = "txtToTime", type = "time" })
                                                @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "help-block", id = "ErrortxtToTime", @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-stopwatch text-purple-600"></i> Total (Min)
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TotalDuration, new { @name = "TotalDuration", @class = "form-control", @id = "txtTotalDuration", type = "text", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.TotalDuration, "", new { @class = "help-block", id = "ErrortxtTotalDuration", @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-calendar-alt text-purple-600"></i> Total Days
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.TotalDays, new { @name = "TotalDays", @class = "form-control", @id = "txtTotalDays", type = "text", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label">
                                                    <span class="form-label-text">
                                                        <i class="fas fa-map-marker-alt text-purple-600"></i>  Visiting Unit
                                                    </span>:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.VisitingBranchID, new SelectList(ViewBag.VisitingBranchName, "Id", "Name"), "Other", new { @class = "form-control", id = "txtVisitingBranchID", name = "VisitingBranchID" })
                                                @Html.ValidationMessageFor(model => model.VisitingBranchID, "", new { @class = "help-block", id = "ErrorVisitingBranchID", @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="row mb-3 align-items-center">
                                            <div class="col-md-4 form-label-container">
                                                <label class="form-label"><span class="form-label-text"><i class="fas fa-lightbulb text-yellow-500"></i> Reason <span class="important">*</span></span>:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.Reason, new { @name = "Reason", @class = "form-control", @id = "txtReason" })
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="LastShortLeaveBx">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="BtnBx">
                                                            <div>

                                                                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm" value="Submit">
                                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" id="btnGetList" onclick="btnGetLists();">
                                                                    <i class="fa-solid fa-share-from-square"></i> List
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END panel -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- #Start NotificationModalPopUp modal-dialog -->
<div class="modal fade" id="NotificationModalPopUp" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Manager Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger" data-bs-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">Manager 1</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("ManagerName1", new { @class = "control-label", id = "lblManager1Name" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblManager1EmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager1Mobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">Manager 2</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("ManagerName2", new { @class = "control-label", id = "lblManager2Name" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblManager2EmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblManager2Mobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="teambx">
                                            <div class="teamheading">HR</div>
                                            <div class="teambody">
                                                <div class="teamcontactBx">
                                                    <div class="teamname">
                                                        <i class="fa-solid fa-user"></i>
                                                        @Html.Label("HR", new { @class = "control-label", id = "lblHRName" })
                                                    </div>
                                                    <div class="teamEmail">
                                                        <i class="fa fa-envelope"></i>
                                                        @Html.Label("EmailId", new { @class = "control-label", id = "lblHREmailId" })
                                                    </div>
                                                    <div class="teamMob">
                                                        <i class="fa fa-phone"></i>
                                                        @Html.Label("MobileNo", new { @class = "control-label", id = "lblHRMobile" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>

            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-primary btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-floppy-disk"> </i> Ok
                </button>
                @*<input type="button" class="Ok btn btn-close" data-bs-dismiss="modal" id="btnCancel" value="Cancel" />*@
            </div>
        </div>
    </div>
</div>


<script>
    function btnGetLists()
    {
        var url = '@Url.Action("App_GetList", "App_Attendance_Outdoor")';
        window.location.href = url;
    }

    $(document).ready(function () {
        //Validation for back day days Min Days
        debugger;
        var OutdoorBranchID = @Html.Raw(Json.Encode(Session["BranchID"]));
        $("#txtVisitingBranchID").select2();
        $("#txtVisitingBranchID").val(OutdoorBranchID).select2();

        var BackDatedDays = @Html.Raw(Json.Encode(ViewBag.BackDatedDays));
        var FutureDatedDays = @Html.Raw(Json.Encode(ViewBag.FutureDatedDays));
        var fromDateInputMin = document.getElementById("txtFromDate");
        var toDateInputMin = document.getElementById("txtToDate");
        var currentDateMin = new Date();
        var minDate = new Date();
        minDate.setDate(currentDateMin.getDate() - BackDatedDays);
        var minDateString = minDate.toISOString().split('T')[0];
        fromDateInputMin.setAttribute("min", minDateString);
        toDateInputMin.setAttribute("min", minDateString);

        //Validation for back day days Max Days
        var fromDateInputMax = document.getElementById("txtFromDate");
        var toDateInputMax = document.getElementById("txtToDate");
        var currentDateMax = new Date();
        var MaxDate = new Date();
        MaxDate.setDate(currentDateMax.getDate() + FutureDatedDays);
        var maxDateString = MaxDate.toISOString().split('T')[0];
        fromDateInputMax.setAttribute("max", maxDateString);
        toDateInputMax.setAttribute("max", maxDateString);

        //End Validation for back day days
        document.querySelector('#txtDocNo').style.backgroundColor = '#e9ecef';
        document.querySelector('#txtTotalDuration').style.backgroundColor = '#e9ecef';
        document.querySelector('#txtTotalDays').style.backgroundColor = '#e9ecef';
        $("#txtTotalMinutes").prop("readonly", true);
        document.querySelector('#txtTotalMinutes').style.backgroundColor = '#eee';
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }

        var date = new Date();
        var dateString = new Date(date.getTime() - (date.getTimezoneOffset() * 60000 )).toISOString().split("T")[0];

        $('#OutDoorCompanyType').change(function () {
            debugger;
            document.getElementById("divMaxAllow").style.display = "block";
            var SelectedDay = $('#OutDoorCompanyType').val();
            var FromTime = $("#txtFromTime").val();
            var ToTime = $("#txtToTime").val();

            //Ask Time Diff Code Start
            $.ajax({
                type: "Get",
                url: '@Url.Action("App_GetTotalDuration", "App_Attendance_Outdoor", new { area = "App" })',
                data: { FromTime:FromTime , ToTime:ToTime},
                dataType: "text",
                success: function (data) {
                    debugger;
                    var a = JSON.parse(data);
                    var GetnewTime = a.data.Hours*60 + a.data.Minutes;
                    $('#txtTotalDuration').val(GetnewTime);
                    var TotalTime = $('#txtTotalMinutes').val();
                    var GetTotalTime=TotalTime.replaceAll("Min", "");
                    var SetTotalTime =Number(GetTotalTime);
                    if(GetnewTime>SetTotalTime)
                    {
                        $("#ErrortxtTotalDuration").html("Total duration not greater than : " + TotalTime );
                        return false;
                    }
                    else{
                        $("#ErrortxtTotalDuration").html("");
                    }
                }
            });

            var SelectedDay = $('#OutDoorCompanyType').val();
            var Duration = @Html.Raw(Json.Encode(ViewBag.OutDoorCompanyShortHrs));
            var IstHalfDuration = @Html.Raw(Json.Encode(ViewBag.OutDoorCompanyIstHalfDuration));
            var IIndHalfDuration = @Html.Raw(Json.Encode(ViewBag.OutDoorCompanyIIndHalfDuration));
            var FullDayDuration = @Html.Raw(Json.Encode(ViewBag.OutDoorCompanyFullDayDuration));
            if(SelectedDay == "Full Day" )
            {
                debugger;
                var ShiftId = $("#ddlShift").val();
                //$("#txtToDate").prop("disabled", false);
                $("#txtToDate").prop("readonly", false);
                document.querySelector('#txtToDate').style.backgroundColor = '';
                $.ajax({
                    async: true,
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("App_OutDoorType", "App_Attendance_Outdoor", new { area = "App" })',
                    data: { DayType:"Full Day",ShiftId: ShiftId },
                    success: function (data){
                        debugger;
                        var SetData = Object.values(data[0]);

                        $('#txtFromTime').val(SetData[0].Value);
                        $('#txtToTime').val(SetData[1].Value);
                        $('#txtTotalDuration').val(SetData[2].Value);

                        //Ashafak Added
                        var TotalTime = $('#txtTotalMinutes').val();
                        var GetTotalTime=TotalTime.replaceAll("Min", "");
                        var SetTotalTime =Number(GetTotalTime);
                        var TotalDuration = $('#txtTotalDuration').val();
                        if(TotalDuration>SetTotalTime)
                        {
                            $("#ErrortxtTotalDuration").html("Total duration not greater than : " + TotalTime );
                            return false;
                        }
                        else{
                            $("#ErrortxtTotalDuration").html("");
                        }
                        // $('#txtTotalDuration').val(b);
                    },
                });
                $("#txtTotalDays").val('1')
                $("#txtFromDate").val(dateString);
                $("#txtToDate").val(dateString);
                $("#txtTotalMinutes").val(FullDayDuration);
                document.querySelector('#txtToDate').style.backgroundColor = '';
                //$("#ddlDirecation").prop("disabled", true);
                $("#txtTotalMinutes").prop("readonly", true);
                $("#txtToDate").attr('readOnly', false);
            }
            if(SelectedDay ==  "1st Half" )
            {
                var ShiftId = $("#ddlShift").val();
                $.ajax({
                    async: true,
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("App_OutDoorType", "App_Attendance_Outdoor", new { area = "App" })',
                    data: { DayType:"1st Half",ShiftId: ShiftId },
                    success: function (data){
                        debugger;
                        var SetData = Object.values(data[0]);
                        var a = Object.values(SetData[0]);
                        var b = Object.values(SetData[1]);
                        var duration = Object.values(SetData[2]);
                        document.getElementById("txtFromTime").value = a[1];
                        document.getElementById("txtToTime").value = b[1];
                        document.getElementById("txtTotalDuration").value = duration[1];

                        //Ashafak Added
                        //$("#txtToDate").attr("disabled", "disabled");
                        $("#txtToDate").prop("readonly", true);
                        var TotalTime = $('#txtTotalMinutes').val();
                        var GetTotalTime=TotalTime.replaceAll("Min", "");
                        var SetTotalTime =Number(GetTotalTime);
                        var TotalDuration = $('#txtTotalDuration').val();
                        if(TotalDuration>SetTotalTime)
                        {
                            $("#ErrortxtTotalDuration").html("Total duration not greater than : " + TotalTime );
                            return false;
                        }
                        else{
                            $("#ErrortxtTotalDuration").html("");
                        }
                    },
                });
                $("#txtTotalDays").val('0.5');
                $("#txtToDate").datepicker("option", "minDate", -1);
                $("#txtToDate").datepicker("option", "maxDate", -2);
                $("#txtToDate").attr('readonly', 'readonly');
                $("#txtTotalMinutes").val(IstHalfDuration);
                document.querySelector('#txtToDate').style.backgroundColor = '#e9ecef';
                $("#txtFromDate").val(dateString);
                $("#txtToDate").val(dateString);
                //$("#ddlDirecation").prop("disabled", true);
                //$("#txtTotalMinutes").prop("readonly", true);
                //document.querySelector('#txtTotalMinutes').style.backgroundColor = '#eee';
            }
            if(SelectedDay ==  "2nd Half")
            {
                var ShiftId = $("#ddlShift").val();
                $.ajax({
                    async: true,
                    type: 'GET',
                    dataType: 'JSON',
                    url:'@Url.Action("App_OutDoorType", "App_Attendance_Outdoor", new { area = "App" })',
                    data: { DayType:"2nd Half",ShiftId: ShiftId },
                    success: function (data){
                        debugger;
                        var SetData = Object.values(data[0]);
                        var a = Object.values(SetData[0]);
                        var b = Object.values(SetData[1]);
                        var duration = Object.values(SetData[2]);
                        document.getElementById("txtFromTime").value = a[1];
                        document.getElementById("txtToTime").value = b[1];
                        document.getElementById("txtTotalDuration").value = duration[1];

                        //Ashafak Added
                        var TotalTime = $('#txtTotalMinutes').val();
                        var GetTotalTime=TotalTime.replaceAll("Min", "");
                        var SetTotalTime =Number(GetTotalTime);
                        var TotalDuration = $('#txtTotalDuration').val();
                        if(TotalDuration>SetTotalTime)
                        {
                            $("#ErrortxtTotalDuration").html("Total duration not greater than : " + TotalTime );
                            return false;
                        }
                        else{
                            $("#ErrortxtTotalDuration").html("");
                        }
                    },
                });

                $("#txtTotalDays").val('0.5')
                $("#txtToDate").attr('readOnly', true);
                $("#txtFromDate").val(dateString);
                $("#txtToDate").val(dateString);
                $("#txtTotalMinutes").val(IIndHalfDuration);
                document.querySelector('#txtToDate').style.backgroundColor = '#e9ecef';
                //$("#ddlDirecation").prop("disabled", true);
                //$("#txtTotalMinutes").prop("readonly", true);
                //document.querySelector('#txtTotalMinutes').style.backgroundColor = '#e9ecef';
            }

            if(SelectedDay == "Short Period")
            {
                debugger;
                document.getElementById("divMaxAllow").style.display = "none";

                var ShiftId = $("#ddlShift").val();
                $.ajax({
                    async: true,
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("App_OutDoorType", "App_Attendance_Outdoor", new { area = "App" })',
                    data: { DayType:"Short Period",ShiftId: ShiftId },
                    success: function (data){
                        debugger;
                        var SetData = Object.values(data[0]);
                        var a = Object.values(SetData[0]);
                        var b = Object.values(SetData[1]);
                        var duration = Object.values(SetData[2]);
                        document.getElementById("txtFromTime").value = a[1];
                        document.getElementById("txtToTime").value = b[1];
                        document.getElementById("txtTotalDuration").value = duration[1];

                        //Ashafak Added
                        var TotalTime = $('#txtTotalMinutes').val();
                        var GetTotalTime=TotalTime.replaceAll("Min", "");
                        var SetTotalTime =Number(GetTotalTime);
                        var TotalDuration = $('#txtTotalDuration').val();
                        var StartDate= document.getElementById('txtFromDate').value;
                        $('#txtToDate').val(StartDate);
                        var SHPToDate=$('#txtToDate').val();
                        //if(SHPToDate!="")
                        //{
                        var StartDate = document.getElementById('txtFromDate').value;
                        var toDateInputMax = document.getElementById("txtToDate");

                        // Convert StartDate to a Date object
                        var currentDateMax = new Date(StartDate);

                        // Add 1 day to the currentDateMax
                        var MaxDate = new Date();
                        MaxDate.setDate(currentDateMax.getDate() + 1);

                        // Format the MaxDate to 'YYYY-MM-DD'
                        var maxDateString = MaxDate.toISOString().split('T')[0];

                        // Set the max attribute on the toDate input
                        toDateInputMax.setAttribute("max", maxDateString);
                        if(TotalDuration>SetTotalTime)
                        {
                            $("#ErrortxtTotalDuration").html("Total duration not greater than : " + TotalTime );
                            return false;
                        }
                        else{
                            $("#ErrortxtTotalDuration").html("");
                        }
                    },
                });
                $("#txtTotalDays").val('0')
                ///$("#txtToDate").attr('readOnly', true);
                //$("#ddlDirecation").attr('required', 'required');
                //$("#ErrorddlDirecation").html("Direcation is required");
                $("#txtTotalMinutes").val(Duration);
                $("#txtFromDate").val(dateString);
                $("#txtToDate").val(dateString);
                //document.querySelector('#txtToDate').style.backgroundColor = '#e9ecef';
                //$("#ddlDirecation").prop("disabled", false);
                //$("#txtTotalMinutes").prop("readonly", false);
                //document.querySelector('#txtTotalMinutes').style.backgroundColor = '';
            }

        });

        var CheckLunchTime;
        $('#ddlShift').change(function () {
            debugger;
            var ShiftId = $("#ddlShift").val();

            $("#OutDoorCompanyType").val(null);
            $("#txtTotalMinutes").val("");

            $("#txtFromDate").val("");
            $("#txtToDate").val("");

            $.ajax({
                type: "Get",
                url:'@Url.Action("App_GetLunchTime", "App_Attendance_Outdoor", new { area = "App" })',
                data: { ShiftId:ShiftId },
                dataType: "text",
                success: function (data) {
                    debugger;
                    var GetData = JSON.parse(data);
                    var LunchTime = GetData.data[0].Value;

                    $("#hdnLunchTime").val(LunchTime);
                    CheckLunchTime =  $("#hdnLunchTime").val();

                }
            });
        });
        //$('#ddlDirecation').change(function () {
        //    debugger;
        //    var GetDirection = $('#ddlDirecation').val();
        //    if(GetDirection =="Shift InTime")
        //    {
        //        $("#txtFromTime").prop("readonly", true);
        //        $("#txtToTime").prop("readonly", false);
        //        document.querySelector('#txtFromTime').style.backgroundColor = '#eee';
        //        document.querySelector('#txtToTime').style.backgroundColor = '';
        //    }
        //    if(GetDirection =="Shift OutTime")
        //    {
        //        $("#txtFromTime").prop("readonly", false);
        //        $("#txtToTime").prop("readonly", true);
        //        document.querySelector('#txtFromTime').style.backgroundColor = '';
        //        document.querySelector('#txtToTime').style.backgroundColor = '#eee';
        //    }
        //    if(GetDirection =="Shift Between")
        //    {
        //        $("#txtFromTime").prop("readonly", false);
        //        $("#txtToTime").prop("readonly", false);
        //        document.querySelector('#txtFromTime').style.backgroundColor = '';
        //        document.querySelector('#txtToTime').style.backgroundColor = '';
        //    }
        //});
        $("#txtToTime,#txtFromTime").change(function () {
            debugger;
            const getFromDate = document.getElementById('txtFromDate').value;
            const getToDate = document.getElementById('txtToDate').value;

            var OutdoorType= $("#OutDoorCompanyType").val();
            if(OutdoorType=="1st Half")
            {
                var inputTime = document.getElementById("txtFromTime").value;
                var gurrenTime = CheckLunchTime; // Change this to your desired "gurren time"

                if (inputTime > gurrenTime) {
                    $('#ErrortxtFromTime').html("This time not allow for 1st Half.");
                    return false;
                } else {
                    $('#ErrortxtFromTime').html("");
                }
            }
            if(OutdoorType=="2nd Half")
            {
                var inputTime = document.getElementById("txtFromTime").value;
                var gurrenTime = CheckLunchTime; // Change this to your desired "gurren time"

                if (inputTime < gurrenTime) {
                    $('#ErrortxtFromTime').html("This time not allow for 2nd Half.");
                    return false;
                } else {
                    $('#ErrortxtFromTime').html("");
                }
            }
            if(OutdoorType!="Full Day")
            {
                var FromTime = $("#txtFromTime").val();
                var ToTime = $("#txtToTime").val();
                var difference = (strToMins(ToTime) - strToMins(FromTime));
                //$('#txtTotalDuration').val(difference);
                var ChangeTotalMinute=$("#txtTotalMinutes").val();
                var NumberChangeTotalMinute = ChangeTotalMinute.replace(" Min","");
                var ChangeTotalMinutes=Number(NumberChangeTotalMinute);
                var inputString = $("#txtTotalDuration").val();
                if (inputString.includes('-')) {
                    if (FromTime >= ToTime && getFromDate === getToDate) {
                        $('#ErrortxtToTime').html("To time should not be less than from time");
                        return false;
                    }
                    else
                    {
                        $('#ErrortxtToTime').html("");
                    }
                    if(FromTime < ToTime){
                        $('#ErrortxtToTime ,#ErrortxtFromTime').html("");
                    }
                    else {
                        $('#ErrortxtToTime').html("");
                    }
                }
                else
                {
                    $('#ErrortxtToTime').html("");
                }
                if(ChangeTotalMinutes<difference)
                {
                    $('#ErrortxtTotalDuration').html("Total duration should not greater than Max allowed time");return false;
                }
                else{
                    $('#ErrortxtTotalDuration').html("");
                    $('#ErrortxtToTime').html("");
                    $('#ErrortxtFromTime').html("");
                }

            }
            else{
                var FromTime = $("#txtFromTime").val();
                var ToTime = $("#txtToTime").val();
                var difference = (strToMins(ToTime) - strToMins(FromTime));
                //$('#txtTotalDuration').val(difference);
                var inputString = $("#txtTotalDuration").val();
                if (inputString.includes('-')) {
                    if (FromTime >= ToTime && getFromDate === getToDate) {
                        $('#ErrortxtToTime').html("To time should not be less than from time");
                        return false;
                    }
                    else
                    {
                        $('#ErrortxtToTime').html("");
                    }
                    if(FromTime < ToTime){
                        $('#ErrortxtToTime ,#ErrortxtFromTime').html("");
                    }
                    else {
                        $('#ErrortxtToTime').html("");
                    }
                }
                else
                {
                    $('#ErrortxtToTime').html("");
                }
            }

            //if (ToTime == "" || ToTime == null) {
            //    $('#txtFromTime').html("");
            //} else if (FromTime >= ToTime) {
            //    $('#ErrortxtFromTime').html("From Time should be less than To time");
            //    return false;
            //}else if(FromTime < ToTime){
            //    $('#ErrortxtFromTime ,#ErrortxtToTime').html("");
            //}
            //else {
            //    $("#ErrortxtFromTime").html("");
            //}


        });

        //$("#txtToTime").change(function(){
        //    debugger;
        //    var FromTime = $("#txtFromTime").val();
        //    var ToTime = $("#txtToTime").val();

        //    if (FromTime >= ToTime) {
        //        $('#ErrortxtToTime').html("To time should be greater than from time");
        //        return false;
        //    }else if(FromTime < ToTime){
        //        $('#ErrortxtFromTime ,#ErrortxtToTime').html("");
        //    }
        //    else {
        //        $('#ErrortxtToTime').html("");
        //    }
        //    var difference = (strToMins(ToTime) - strToMins(FromTime));
        //    $('#txtTotalDuration').val(difference);
        //});


        function strToMins(t) {
            var s = t.split(":");
            return Number(s[0]) * 60 + Number(s[1]);
        }

        function minsToStr(t) {
            return Math.trunc(t / 60)+':'+('00' + t % 60).slice(-2);
        }

        $("#txtFromDate").change(function () {
            debugger;
            var SelectedDay = $('#OutDoorCompanyType').val();
            if(SelectedDay == "Full Day")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
                var EndDate= document.getElementById('txtToDate').value;

                var sDate = new Date(StartDate);
                var eDate = new Date(EndDate);
                var Time = Math.abs(eDate - sDate);
                var days = Math.ceil(Time/(1000 * 60 * 60 * 24))+1;
                //$("#txtTotalDays").val(days);
                var StartDate= document.getElementById('txtFromDate').value;
                var EndDate= document.getElementById('txtToDate').value;
                var eDate = new Date(EndDate);
                var sDate = new Date(StartDate);
                if(StartDate!= '' && EndDate!= '' && sDate > eDate)
                {
                    $("#ErrortxtToDate").html("To date should not be less than from date.");
                    $("#txtToDate").val('');
                    $("#txtTotalDays").val('');
                }
                else{
                    $("#ErrortxtToDate").html("");
                }
                calculateTimeDifference();
            }

            if(SelectedDay == "1st Half")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
            }
            if(SelectedDay == "2nd Half")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
            }
            if(SelectedDay == "Short Period")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
                var SHPToDate=$('#txtToDate').val();
                //if(SHPToDate!="")
                //{
                var StartDate = document.getElementById('txtFromDate').value;
                var toDateInputMax = document.getElementById("txtToDate");

                // Convert StartDate to a Date object
                var currentDateMax = new Date(StartDate);

                // Add 1 day to the currentDateMax
                var MaxDate = new Date();
                MaxDate.setDate(currentDateMax.getDate() + 1);

                // Format the MaxDate to 'YYYY-MM-DD'
                var maxDateString = MaxDate.toISOString().split('T')[0];

                // Set the max attribute on the toDate input
                toDateInputMax.setAttribute("max", maxDateString);
                //}
                calculateTimeDifference();
            }

        });

        $("#txtToDate").change(function () {
            debugger;
            var SelectedDay = $('#OutDoorCompanyType').val();
            var StartDate= document.getElementById('txtFromDate').value;
            var EndDate= document.getElementById('txtToDate').value;
            var eDate = new Date(EndDate);
            var sDate = new Date(StartDate);
            if(StartDate!= '' && EndDate!= '' && sDate > eDate)
            {
                $("#ErrortxtToDate").html("To date should not be less than from date.");
                $("#txtToDate").val('');
                $("#txtTotalDays").val('');
            }
            else{
                $("#ErrortxtToDate").html("");
            }
            if(SelectedDay == "Full Day")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                var EndDate= document.getElementById('txtToDate').value;

                var sDate = new Date(StartDate);
                var eDate = new Date(EndDate);
                var Time = Math.abs(eDate - sDate);
                var days = Math.ceil(Time/(1000 * 60 * 60 * 24))+1;
                //$("#txtTotalDays").val(days);
                var StartDate= document.getElementById('txtFromDate').value;
                var EndDate= document.getElementById('txtToDate').value;
                var eDate = new Date(EndDate);
                var sDate = new Date(StartDate);
                if(StartDate!= '' && EndDate!= '' && sDate > eDate)
                {
                    $("#ErrortxtToDate").html("To date should not be less than from date.");
                    $("#txtToDate").val('');
                    $("#txtTotalDays").val('');
                }
                else{
                    $("#ErrortxtToDate").html("");
                }
                calculateTimeDifference();
            }

            if(SelectedDay == "1st Half")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
            }
            if(SelectedDay == "2nd Half")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                $('#txtToDate').val(StartDate);
            }
            if(SelectedDay == "Short Period")
            {
                var StartDate= document.getElementById('txtFromDate').value;
                //$('#txtToDate').val(StartDate);
                var SHPToDate=$('#txtToDate').val();
                //if(SHPToDate!="")
                //{
                var StartDate = document.getElementById('txtFromDate').value;
                var toDateInputMax = document.getElementById("txtToDate");

                // Convert StartDate to a Date object
                var currentDateMax = new Date(StartDate);

                // Add 1 day to the currentDateMax
                var MaxDate = new Date();
                MaxDate.setDate(currentDateMax.getDate() + 1);

                // Format the MaxDate to 'YYYY-MM-DD'
                var maxDateString = MaxDate.toISOString().split('T')[0];

                // Set the max attribute on the toDate input
                toDateInputMax.setAttribute("max", maxDateString);
                //}

                calculateTimeDifference();
            }

        });

        $("#formReset").click(function () {
            $("#SaveOutDoor")[0].reset();
        })

    });//ready funcation for SelectedDay


    function DeleteOutDoor(OutDoorCompanyId_Encrypted) {
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("App_OutDoorComapnyDelete", "App_Attendance_Outdoor")?OutDoorCompanyId_Encrypted=' + OutDoorCompanyId_Encrypted;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

    jQuery.validator.addMethod(
   "regex",
       function(value, element, regexp) {
           if (regexp.constructor != RegExp)
               regexp = new RegExp(regexp);
           else if (regexp.global)
               regexp.lastIndex = 0;
           return this.optional(element) || regexp.test(value);
       },"erreur expression reguliere"
    );

    $('#SaveOutDoor').validate({
        rules: {
            OutDoorCompanyShiftId:{
                required: true,
            },
            OutDoorCompanyEmployeeID: {
                required: true,
            },
            OutDoorCompanyType:{
                required: true,
            },
            FromDate:{
                required: true,
            },
            ToDate:{
                required: true,
            },
            FromTime:{
                required: true,
            },
            ToTime:{
                required: true,
            },
            Reason:{
                required: true,
            }

        },
        messages: {
            OutDoorCompanyShiftId:{
                required: "Shift is required",
            },
            OutDoorCompanyEmployeeID: {
                required: "Please select the Employee Name",
            },
            OutDoorCompanyType: {
                required: "Outdoor type is required",
            },
            FromDate:{
                required: "From Date is required",
            },
            ToDate:{
                required: "To Date is required",
            },
            FromTime:{
                required: "From Time is required",
            },
            ToTime:{
                required: "To Time is required",
            },
            Reason:{
                required: "Reason is required",
            }
        },
    });


    var form = $("#SaveOutDoor");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;

        form.valid();
        if(form.valid()==false)
        {
            $("#txtFromDate").removeClass('error');
            $("#txtToDate").removeClass('error');
            $("#txtFromTime").removeClass('error');
            $("#txtToTime").removeClass('error');
            return false;
        }

        var SelectedDay = $('#OutDoorCompanyType').val();
        var isChecked = document.getElementById("chkIsNightShift").checked;
        if(SelectedDay == "Short Period")
        {
            ShortPeriod_GetDifference();
        }
        if(SelectedDay == "Full Day" && isChecked==false)
        {
            FullDay_GetDifference();
        }
        if(SelectedDay == "Full Day" && isChecked==true)
        {
            FullDayNight_GetDifference();
        }

        debugger;
        var GetMaxMinutes = Number($('#txtTotalMinutes').val());
        var GetdifferenceMinutes = Number($('#txtTotalDuration').val());
        if (GetdifferenceMinutes<0) {
            $("#ErrortxtTotalDuration").html("Total min. should not be less than 0");
            return false;
        }
        else
        {
            $("#ErrortxtTotalDuration").html("");
        }
        if (GetMaxMinutes < GetdifferenceMinutes) {
            $("#ErrortxtTotalDuration").html("Total min. should not be greater than Max allow min");
            return false;
        }
        else
        {
            $("#ErrortxtTotalDuration").html("");
        }
        //return false;
        //var OutdoorType= $("#OutDoorCompanyType").val();
        //if(OutdoorType!="Full Day")
        //{
        //    var txtTotalDuration=Number($("#txtTotalDuration").val());
        //    var ChangeTotalMinute=$("#txtTotalMinutes").val();
        //    var NumberChangeTotalMinute = ChangeTotalMinute.replace(" Min","");
        //    var ChangeTotalMinutes=Number(NumberChangeTotalMinute);
        //    if(txtTotalDuration>ChangeTotalMinutes)
        //    {
        //        $('#ErrortxtTotalDuration').html("Total duration should not greater than Max allowed time");return false;
        //    }
        //    else{
        //        $('#ErrortxtTotalDuration').html("");
        //    }

        //}
        //else{
        //    var txtTotalDuration=Number($("#txtTotalDuration").val());
        //    var ChangeTotalMinute=$("#txtTotalMinutes").val();
        //    var NumberChangeTotalMinute = ChangeTotalMinute.replace(" Min","");
        //    var ChangeTotalMinutes=Number(NumberChangeTotalMinute);
        //    if(txtTotalDuration>ChangeTotalMinutes)
        //    {
        //        $('#ErrortxtTotalDuration').html("Total duration should not greater than Max allowed time");return false;
        //    }
        //    else{
        //        $('#ErrortxtTotalDuration').html("");
        //    }
        //  //  $('#ErrortxtTotalDuration').html("");
        //}


        var OutDoorCompanyIDEncrypted = $("#OutDoorCompanyID_Encrypted").val();
        var Fromdate=$("#txtFromDate").val();
        var Todate=$("#txtToDate").val();
        var FromTime=$("#txtFromTime").val();
        var ToTime = $("#txtToTime").val();
        var OutDoorCompanyType = $("#OutDoorCompanyType").val();

        var TotalDuration =Number($("#txtTotalDuration").val());
        var TotalMinutes = $('#txtTotalMinutes').val();
        var GetTotalMinutes= TotalMinutes.replaceAll("Min", "");
        var ShiftId = $("#ddlShift").val();
        if(OutDoorCompanyType == "Short Period")
        {
            if(GetTotalMinutes < TotalDuration)
            {
                $("#ErrortxtTotalDuration").html("");
                $("#ErrortxtTotalDuration").html("Please Select valid time");
                return false;
            }
            else
            {
                $("#ErrortxtTotalDuration").html("");
            }
        }
        //if( FromTime > ToTime || ToTime < FromTime || Fromdate > Todate )
        //{
        //    return false;
        //}

        var IsNightShift = $("#chkIsNightShift").prop("checked");
        if (IsError==true)
        {
            return false;
        }

        $(".Userloaderbg").css("display", "flex");
        $.ajax({
            url: '@Url.Action("App_IsOutdoorExists", "App_Attendance_Outdoor", new { area = "App" })',
            method:"get",
            data:{Fromdate:Fromdate,Todate:Todate,FromTime:FromTime,ToTime:ToTime,OutDoorCompanyType:OutDoorCompanyType,ShiftId:ShiftId,IsNightShift:IsNightShift}, //,AdditionalNotifyPerson:AdditionalNotifyPerson
            success:function(response){
                debugger;
                //$(".Userloaderbg").css("display", "none");
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    return false;
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            }).then(function() {
                                $(".Userloaderbg").css("display", "none");
                            });
                        }
                    }
                    return false;
                }
                else{
                    $("#SaveOutDoor").submit();
                }
            }
        });

    });

    //CapthaVerification code added in CapthaVerification.js file.
    $(".Close").click(function () {
        $("#mainCaptcha").val("");
        $("#txtInput").val("");
        $("#success").html("");
        $("#error").html("");
    });

</script>

@*Added new calculate Days and Time validation below*@
<script>
    const getFromDate = document.getElementById('txtFromDate');
    const getToDate = document.getElementById('txtToDate');
    const getFromTime = document.getElementById('txtFromTime');
    const getToTime = document.getElementById('txtToTime');
    const changeTotalMinute = parseInt(document.getElementById('txtTotalMinutes').value, 10);

    // Call this function on chnage fromdate todate fromtime & totime
    function calculateTimeDifference() {
        debugger;
        const fromDateTime = new Date(`${getFromDate.value}T${getFromTime.value}`);
        const toDateTime = new Date(`${getToDate.value}T${getToTime.value}`);
        // Calculate difference in milliseconds
        const diffInMs = toDateTime - fromDateTime;
        const fromDateOnly = new Date(fromDateTime);
        const toDateOnly = new Date(toDateTime);
        const totalDays = Math.floor((toDateOnly - fromDateOnly) / (1000 * 60 * 60 * 24));
        let days = Math.floor(diffInMs / (1000 * 60 * 60 * 24));
        const totalHours = diffInMs / (1000 * 60 * 60);
        const remainingHours = totalHours % 24;
        days += 1;
        //if (remainingHours >= 16) {

        //}
        //Calculate the remaining hours, minutes, and seconds
        const hours = Math.floor((diffInMs % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((diffInMs % (1000 * 60 * 60)) / (1000 * 60));
        const Totalmin = hours*60+minutes;
        $("#txtTotalDuration").val(Totalmin);
        $("#txtTotalDays").val(days);
    }
    // Onchnage 4 tab for real-time calculations
    [getFromDate, getToDate, getFromTime, getToTime].forEach(input => {
        input.addEventListener('change', calculateTimeDifference);
    });
</script>

<script>
    var IsError=false;
    function ShortPeriod_GetDifference() {
        debugger;
        $('#ErrortxtToDate').html("");
        $("#ErrortxtTotalDuration").html("");
        //var MaxMinutes = Number($('#txtTotalMinutes').val());

        var fromDate = document.getElementById("txtFromDate").value;
        var toDate = document.getElementById("txtToDate").value;
        var fromTime = document.getElementById("txtFromTime").value;
        var toTime = document.getElementById("txtToTime").value;

        if (fromDate && toDate && fromTime && toTime) {
            // Combine date and time
            var startDateTime = new Date(fromDate + "T" + fromTime);
            var endDateTime = new Date(toDate + "T" + toTime);

            if (endDateTime >= startDateTime) {
                // Calculate the difference in milliseconds
                var differenceMs = endDateTime - startDateTime;

                // Convert to minutes
                var differenceMinutes = Math.floor(differenceMs / (1000 * 60));

                // Update the TotalMinutes field
                document.getElementById("txtTotalDuration").value = differenceMinutes;
                document.getElementById("txtTotalDays").value = 0;
                IsError=false;

            }
            else
            {
                $("#ErrortxtToDate").html("To Date should be greater than From Date");
                IsError=true;
                return false;
                //document.getElementById("txtTotalMinutes").value = "";
            }
        }
    }

    function FullDay_GetDifference() {
        debugger;
        IsError=false;
        $('#ErrortxtToDate').html("");
        $("#ErrortxtTotalDuration").html("");
        //var MaxMinutes = Number($('#txtTotalMinutes').val());

        var fromDate = document.getElementById("txtFromDate").value;
        var toDate = document.getElementById("txtToDate").value;
        var fromTime = document.getElementById("txtFromTime").value;
        var toTime = document.getElementById("txtToTime").value;

        if (fromDate && toDate && fromTime && toTime) {
            // Combine date and time
            var startDateTime = new Date(fromDate + "T" + fromTime);
            var endDateTime = new Date(fromDate + "T" + toTime);
            var endDateTime1 = new Date(toDate + "T" + toTime);

            //if (endDateTime >= startDateTime) {
            // Calculate the difference in milliseconds
            var differenceMs = endDateTime - startDateTime;

            // Convert to minutes
            var differenceMinutes = Math.floor(differenceMs / (1000 * 60));

            // Calculate total days difference
            var differenceMs1 = endDateTime1 - startDateTime;
            var totalDays = Math.floor(differenceMs1 / (1000 * 60 * 60 * 24));
            var GetTotalDays = totalDays+1;

            // Update the TotalMinutes field
            document.getElementById("txtTotalDuration").value = differenceMinutes;
            document.getElementById("txtTotalDays").value = GetTotalDays;

            //if (MaxMinutes < differenceMinutes && differenceMinutes<0) {
            //    $("#ErrortxtTotalDuration").html("Total min. should not greater than Max allow min");
            //    return false;
            //}
            //}
            //else
            //{
            //    //$("#ErrortxtToDate").html("To Date should be greater than From Date");
            //    //document.getElementById("txtTotalMinutes").value = "";
            //}
        }
    }

    function FullDayNight_GetDifference() {
        debugger;
        $('#ErrortxtToDate').html("");
        $("#ErrortxtTotalDuration").html("");
        var fromDate = document.getElementById("txtFromDate").value;
        var toDate = document.getElementById("txtToDate").value;
        var fromTime = document.getElementById("txtFromTime").value;
        var toTime = document.getElementById("txtToTime").value;

        if (toDate == fromDate) {
            $("#ErrortxtToDate").html("From Date & To Date should not be equal");
            IsError=true;
            return false;
        }
        else
        {
            $("#ErrortxtToDate").html("");
            IsError=false;
        }

        if (fromDate && toDate && fromTime && toTime) {
            // Combine date and time
            var startDateTime = new Date(fromDate + "T" + fromTime);
            //var endDateTime = new Date(fromDate + "T" + toTime);
            var endDateTime = new Date(fromDate + "T" + toTime);
            endDateTime.setDate(endDateTime.getDate() + 1);
            var endDateTime1 = new Date(toDate + "T" + toTime);


            //if (endDateTime >= startDateTime) {
            // Calculate the difference in milliseconds
            var differenceMs =  endDateTime-startDateTime;
            // Convert to minutes
            var differenceMinutes = Math.floor(differenceMs / (1000 * 60));

            // Calculate total days difference
            var differenceMs1 = endDateTime1 - startDateTime;
            var differenceMinutes1 = Math.floor(differenceMs1 / (1000 * 60));
            var totalDays = Math.floor(differenceMs1 / (1000 * 60 * 60 * 24));
            var GetTotalDays = totalDays+1;

            // Update the TotalMinutes field
            document.getElementById("txtTotalDuration").value = differenceMinutes;
            document.getElementById("txtTotalDays").value = GetTotalDays;

            //}
            //else
            //{
            //    //$("#ErrortxtToDate").html("To Date should be greater than From Date");
            //    //document.getElementById("txtTotalMinutes").value = "";
            //}
        }
    }

    // Attach event listeners to calculate on date or time change
    //document.getElementById("txtFromDate").addEventListener("change", calculateMinutesDifference);
    //document.getElementById("txtToDate").addEventListener("change", calculateMinutesDifference);
    //document.getElementById("txtFromTime").addEventListener("change", calculateMinutesDifference);
    //document.getElementById("txtToTime").addEventListener("change", calculateMinutesDifference);
</script>


