@model KompassHR.Areas.Setting.Models.Setting_Preboarding.Preboarding_EmailTemplate
@{
    ViewBag.Title = "Setting_Preboarding_EmailTemplate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
<link href="~/assets/MyCDN/MenuFontStyle.css" rel="stylesheet" />

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
</style>


<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Email Template
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("ESS_AdminDashboard_Dashboard", "ESS_AdminDashboard_Dashboard", new { id = 32, ScreenId = 121, area = "ESS" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Setting_Preboarding_Menu", "Setting_Preboarding_Menu", new { id = 2, ScreenId = 39, area = "Setting" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Settings">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Email Template - @ViewBag.AddUpdateTitle</h4>

                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Add email template here!
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("SaveUpdate", "Setting_Preboarding_EmailTemplate", new { area = "Setting" })' id="SaveEmailTemplate" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-2">
                                                Document Type
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.DocOrigin, new SelectList(ViewBag.GetEmailDocOrigin, "Id", "Name"), "--Select--", new { id = "txtDocOrigin", @class = "form-select", autocomplete = "off", name = "DocOrigin" })
                                                @Html.HiddenFor(model => model.EmailTemplateID_Encrypted, new { id = "EmailTemplateID_Encrypted" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-10px">
                                    <div class="col-md-12">
                                        <div class="card-row-title">
                                            Email
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                            </label>
                                            <div class="col-md-8 ">
                                                @Html.CheckBoxFor(model => model.SendEmail, new { name = "SendEmail" })
                                                &nbsp;
                                                <label class="form-label">
                                                    Send Email
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @*<div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                </label>
                                                <div class="col-md-8 ">
                                                    @Html.CheckBoxFor(model => model.BCCIsRequired, new { name = "BCCIsRequired" })
                                                    &nbsp;
                                                    <label class="form-label">
                                                        BCC
                                                    </label>
                                                </div>
                                            </div>*@

                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Email Subject
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.EmailSubject, new { @class = "form-control", type = "text", id = "txtEmailSubject", autocomplete = "Off", name = "EmailSubject" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-2">
                                        Email Body
                                        <span class="important">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.EmailBody, new { @class = "form-control auto-resize", type = "text", id = "txtCostCenterName", autocomplete = "Off", name = "CostCenterName" })
                                    </div>
                                </div>
                                <div hidden>
                                    <div class="row mb-10px">
                                        <div class="col-md-12">
                                            <div class="card-row-title">
                                                SMS
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                </label>
                                                <div class="col-md-8 ">
                                                    @Html.CheckBoxFor(model => model.SendSMS, new { name = "SendSMS" })
                                                    &nbsp;
                                                    <label class="form-label">
                                                        Send SMS
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            SMS Body
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.SMSBody, new { @class = "form-control", type = "text", id = "txtSMSBody", autocomplete = "Off", name = "SMSBody" })
                                        </div>
                                    </div>

                                    <div class="row mb-10px">
                                        <div class="col-md-12">
                                            <div class="card-row-title">
                                                Whatsapp
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-4">
                                                </label>
                                                <div class="col-md-8 ">
                                                    @Html.CheckBoxFor(model => model.SendWhatsapp, new { name = "SendWhatsapp" })
                                                    &nbsp;
                                                    <label class="form-label">
                                                        Send Whatsapp
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            Whatsapp Body
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.WhatsappBody, new { @class = "form-control", type = "text", id = "txtWhatsappBody", autocomplete = "Off", name = "WhatsappBody" })
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit"
                                                                class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "Setting_Preboarding_EmailTemplate", new { area = "Setting" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnGetEmailTemplate">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }
    });
</script>

<script>
    //use for add regex function
    jQuery.validator.addMethod(
        "regex",
         function(value, element, regexp) {
             if (regexp.constructor != RegExp)
                 regexp = new RegExp(regexp);
             else if (regexp.global)
                 regexp.lastIndex = 0;
             return this.optional(element) || regexp.test(value);
         },"erreur expression reguliere"
      );
    $("#SaveEmailTemplate").validate({
        rules: {
            DocOrigin:{
                required: true,
            },
        },
        messages: {
            DocOrigin:{
                required: "Document type is required",
            },
        }
    });
    var form = $("#SaveEmailTemplate");
    form.validate();
    $("#btnSubmit").click(function () {
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            return false;
        }
        var EmailTemplateID_Encrypted=$("#EmailTemplateID_Encrypted").val();
        var DocOrigin=$("#txtDocOrigin").val();
        $.ajax({
            url: "IsEmailValidationExists",
            method:"get",
            data :{EmailTemplateID_Encrypted:EmailTemplateID_Encrypted,DocOrigin:DocOrigin},
            success:function(response){
                debugger;
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (response.Icon=="error") {
                    if (Message1 != null) {
                        if (Message1 != null) {
                            Swal.fire({
                                icon: Icon1,
                                text: Message1,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false
                                }
                            });
                        }
                    }
                }
                else{
                    $("#SaveEmailTemplate").submit();
                }
            }
        });

    });
</script>

<script>
    window.addEventListener('load', () => {
        document.querySelectorAll('.auto-resize').forEach(el => {
            el.style.height = 'auto';
            el.style.height = el.scrollHeight + 'px';
        });
    });

</script>