@model KompassHR.Areas.ESS.Models.ESS_TMS.TMS_TeamAssign
@{
    ViewBag.Title = "ESS_TMS_TeamAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 13px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 11px;
    }

    .tblAddData td:nth-child(2) {
        display: none;
    }

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        /*overflow: auto;*/
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px !important;
        background-color: #F5F5F5;
    }
    /* Horizontal scrollbar */
    .dataTables_scrollBody::-webkit-scrollbar {
        height: 45px;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 100px; /* Set the width for the first column */
        text-align: center;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Team Assign
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TMS_Menu", "ESS_TMS_Menu",  new { id = 12,ScreenId=194, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Team Assign</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">
                        Define team assign here!
                    </p>
                </div>
                <div class="panel-body" data-scrollbar="false">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("ESS_TMS_TeamAssign", "ESS_TMS_TeamAssign", new { area = "ESS" })' id="SaveTeamAssign" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Team Manager Name<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TeamManagerId, new SelectList(ViewBag.TeamManagerList, "Id", "Name"), "--Select--", new { id = "ddlTeamManagerId", @class = "form-select" })
                                                @Html.HiddenFor(model => model.TeamAssignId, new { @id = "TeamAssignId" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Team Employee Name<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TeamEmployeeId, new SelectList(ViewBag.TeamEmployeeList, "Id", "Name"), "--All--", new { id = "ddlTeamEmployeeId", @class = "form-select" })
                                                @Html.ValidationMessage("TeamEmployeeId", "", new { @class = "help-block", id = "ErrorTeamEmployeeId", @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Client Name<span class="important">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ClientID, new SelectList(ViewBag.TMSClient, "Id", "Name"), "--Select--", new { id = "ddlClientID", name = "ClientID", @class = "form-select" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-4">
                                                Project Name
                                            </label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.TMSProject, "Id", "Name"), "--Select--", new { id = "ddlProjectID", name = "ProjectID", @class = "form-select" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <button type="button" id="btnAdd" class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-plus"></i> Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-scroll div1">
                                            <div class="table-wrap" style="height: 270px; overflow-y: auto;">
                                                <table class="table table-bordered table-hover mb-0 text-dark align-middle" id="tblEmployees" style="width:100%;">
                                                    <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                        <tr class="text-center">
                                                            <th class="text-nowrap text-center">Delete</th>
                                                            <th class="text-nowrap">S.N</th>
                                                            <th class="text-nowrap" hidden>Team Assign Id</th>
                                                            <th class="text-nowrap">Team Manager Name</th>
                                                            <th class="text-nowrap">Client Name</th>
                                                            <th class="text-nowrap">Project Name</th>
                                                            <th class="text-nowrap" hidden>Employee Id</th>
                                                            <th class="text-nowrap">Team Employee Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblBodyEmployees"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">
                                                            <i class="fa-solid fa-floppy-disk"></i> Submit
                                                        </button>
                                                        <a href="@Url.Action("GetList", "ESS_TMS_TeamAssign", new { area = "ESS" })">
                                                            <button type="button" class="btn btn-danger btn-sm" id="btnPunchMissingList">
                                                                <i class="fa-solid fa-share-from-square"></i> List
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ddlTeamManagerId").select2();
        $("#ddlProjectID").select2();
        $("#ddlClientID").select2();
        $("#ddlTeamEmployeeId").select2();
        var TeamEmployee = @Html.Raw(Json.Encode(ViewBag.GetTeamEmployee));

        // For the DOM manipulation approach
        if (TeamEmployee != null) {
            var table = document.getElementById("tblBodyEmployees");

            for (var i = 0; i < TeamEmployee.length; i++) {
                var row = table.insertRow(table.rows.length);
                debugger

                // Delete button cell
                var deleteButtonCell = row.insertCell(0);
                deleteButtonCell.innerHTML = `<center>
                    <button type="button" onclick="deleteRow(this)" class="btn btn-xs" style="cursor:pointer;">
                        <i class="fa-solid fa-trash-alt text-danger fa-lg"></i></button> </center>`;
                row.insertCell(1).innerHTML = TeamEmployee[i][0].Value;  

                var TeamAssignIdCell = row.insertCell(1);

                TeamAssignIdCell.innerHTML = TeamEmployee[i][1].Value; 
                TeamAssignIdCell.hidden = true;  // Hide this cell

                row.insertCell(3).innerHTML = TeamEmployee[i][2].Value;  // Team Manager Name
                row.insertCell(4).innerHTML = TeamEmployee[i][4].Value;  // Client Name
                row.insertCell(5).innerHTML = TeamEmployee[i][6].Value;  // Project Name

                // Hidden Employee Id (4th cell, but 5th column including delete button)
                var empIdCell = row.insertCell(6);
                empIdCell.innerHTML = TeamEmployee[i][7].Value;  
                empIdCell.hidden = true;  

                row.insertCell(7).innerHTML = TeamEmployee[i][8].Value;
            }
        }

        $("#ddlTeamManagerId").on("change", function () {
            var TeamManagerId = $(this).val();
            $("#ddlTeamEmployeeId").find("option").remove();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetTeamEmployee", "ESS_TMS_TeamAssign", new { area = "ESS" })',
                data: { TeamManagerId: TeamManagerId },
                success: function (data) {
                    var TeamEmployee = data.TeamEmployee || [];
                    if (TeamEmployee.length > 0) {
                        $("#ddlTeamEmployeeId").append("<option value=''>--All--</option>");
                        $.each(TeamEmployee, function (i, p) {
                            $("#ddlTeamEmployeeId").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                },
                error: function () {
                    alert("Error loading business units or managers.");
                }
            });
        })

        $("#ddlClientID").on("change", function () {
            var Clientd = $(this).val();
            $("#ddlProjectID").find("option").remove();

            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetProject", "ESS_TMS_TeamAssign", new { area = "ESS" })',
                data: { Clientd: Clientd },
                success: function (data) {
                    var Project = data.Project || [];
                    if (Project.length > 0) {
                        $("#ddlProjectID").append("<option value=''>--Select--</option>");
                        $.each(Project, function (i, p) {
                            $("#ddlProjectID").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                },
                error: function () {
                    alert("Error loading business units or managers.");
                }
            });
        })

    });
</script>

<script>

    jQuery.validator.addMethod(
    "regex",
     function (value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     }, "erreur expression reguliere"
  );

    $('#SaveTeamAssign').validate({
        rules: {
            TeamManagerId: {
                required: true,
            },
            ClientID: {
                required: true,
            },
            ProjectID: {
                required: true,
            },
           
        },
        messages: {
            TeamManagerId: {
                required: "Team Manager is required",
            },
            ClientID: {
                required: "Client is required",
            },
            ProjectID: {
                required: "Project is required",
            },
            
        },
    });
    var form = $("#SaveTeamAssign");
    form.validate();

    $("#btnSubmit").click(function () {
        debugger;

        var rowCount = $('#tblBodyEmployees tr').length;
        if (rowCount === 0) {
            Swal.fire({
                icon: 'warning',
                text: 'Please add at least one employee to the list!',
                allowOutsideClick: false
            });
            return false;
        }


        $(".Userloaderbg").css("display", "flex");

        var TeamAssign = [];
        $('#tblBodyEmployees tr').each(function () {debugger
            var data = {
                TeamAssignId: $(this).find('td:eq(2)').text(),
                TeamManagerId: $("#ddlTeamManagerId").val(),
                ClientID: $("#ddlClientID").val(),
                ProjectID: $("#ddlProjectID").val(),
                TeamEmployeeId: $(this).find('td:eq(6)').text()
            };
            TeamAssign.push(data);
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdate", "ESS_TMS_TeamAssign")',
            data: JSON.stringify({ TeamAssign: TeamAssign}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $(".Userloaderbg").css("display", "none");
                if (response.Icon) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message,
                        allowOutsideClick: false
                    }).then(function () {
                        if (response.Icon === 'success') {
                            window.location.href = '@Url.Action("GetList", "ESS_TMS_TeamAssign")';
                        }
                    });
                }
            },
            error: function () {
                $(".Userloaderbg").css("display", "none");
                Swal.fire({
                    icon: 'error',
                    text: 'An error occurred while processing your request.',
                    allowOutsideClick: false
                });
            }
        });
    });
</script>

<script>
    $("#btnAdd").click(function (e) {
        debugger;

        if (!form.valid()) {
            return false;
        }

        var TeamEmployeeId = $("#ddlTeamEmployeeId").val();
        var TeamEmployeeName = $("#ddlTeamEmployeeId option:selected").text();

        if (!TeamEmployeeName) {
            $("#ErrorTeamEmployeeId").text("Team Employee is required.").show();
            return false;
        }
        else {
            $("#ErrorTeamEmployeeId").text("").hide();
        }

        $(".Userloaderbg").css("display", "flex");

        var TeamManagerId = $("#ddlTeamManagerId").val();
        var TeamManagerName = $("#ddlTeamManagerId option:selected").text();
        var ClientId = $("#ddlClientID").val();
        var ClientName = $("#ddlClientID option:selected").text();
        var ProjectId = $("#ddlProjectID").val();
        var ProjectName = $("#ddlProjectID option:selected").text();
        var TeamAssignId = "";

        if (TeamEmployeeId === "") {
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetTeamEmployee", "ESS_TMS_TeamAssign", new { area = "ESS" })',
                data: { TeamManagerId: TeamManagerId },
                success: function (data) {
                    var TeamEmployee = data.TeamEmployee || [];
                    var anyAdded = false;
                    var currentRowCount = $('#tblBodyEmployees tr').length;

                    $.each(TeamEmployee, function (i, employee) {
                        var isDuplicate = false;
                        $('#tblBodyEmployees tr').each(function () {
                            var existingEmployeeId = $(this).find('td:eq(6)').text();
                            if (existingEmployeeId === employee.Id.toString()) {
                                isDuplicate = true;
                                return false;
                            }
                        });

                        if (!isDuplicate) {
                            anyAdded = true;
                            var newRow = '<tr>' +
                                '<td style="text-align:center;">' + '<button type="button" class="btn btn-xs" onclick="deleteRow(this)" style="cursor:pointer;">' + '<i class="fa-solid fa-trash-alt text-danger fa-lg"></i>' + '</button>' + '</td>' +
                                '<td>' + (currentRowCount + i + 1) + '</td>' + // Sr. No.
                                '<td hidden>' + TeamAssignId + '</td>' +
                                '<td>' + TeamManagerName + '</td>' +
                                '<td>' + ClientName + '</td>' +
                                '<td>' + (ProjectName === "--Select--" ? "" : ProjectName) + '</td>' +
                                '<td hidden>' + employee.Id + '</td>' +
                                '<td>' + employee.Name + '</td>' +
                                '</tr>';
                            $('#tblBodyEmployees').append(newRow);
                        }
                    });

                    if (!anyAdded) {
                        Swal.fire({
                            icon: 'info',
                            text: 'All employees are already in the list!',
                            allowOutsideClick: false
                        });
                    }

                    $("#ddlTeamEmployeeId").val('').trigger('change');
                    updateFormState();
                    $(".Userloaderbg").css("display", "none");
                },
                error: function () {
                    alert("Error loading employees.");
                    $(".Userloaderbg").css("display", "none");
                }
            });
        }
        else {
            var isDuplicate = false;
            $('#tblBodyEmployees tr').each(function () {
                var existingEmployeeId = $(this).find('td:eq(6)').text();
                if (existingEmployeeId === TeamEmployeeId) {
                    isDuplicate = true;
                    return false;
                }
            });

            if (isDuplicate) {
                Swal.fire({
                    icon: 'warning',
                    text: 'This employee is already added to the list!',
                    allowOutsideClick: false
                }).then(() => {
                    $(".Userloaderbg").css("display", "none");
                });
                return false;
            }

            var rowCount = $('#tblBodyEmployees tr').length;
            var newRow = '<tr>' +
                '<td style="text-align:center;">' + '<button type="button" class="btn btn-xs" onclick="deleteRow(this)" style="cursor:pointer;">' + '<i class="fa-solid fa-trash-alt text-danger fa-lg"></i>' + '</button>' + '</td>' +
                '<td>' + (rowCount + 1) + '</td>' + // Sr. No.
                '<td hidden>' + TeamAssignId + '</td>' +
                '<td>' + TeamManagerName + '</td>' +
                '<td>' + ClientName + '</td>' +
                '<td>' + (ProjectName === "--Select--" ? "" : ProjectName) + '</td>' +
                '<td hidden>' + TeamEmployeeId + '</td>' +
                '<td>' + TeamEmployeeName + '</td>' +
                '</tr>';

            $('#tblBodyEmployees').append(newRow);
            $(".Userloaderbg").css("display", "none");
            $("#ddlTeamEmployeeId").val('').trigger('change');
            updateFormState();
        }
    });

    function updateFormState() {
        var count = $('#tblBodyEmployees tr').length;
        if (count > 0) {
            $("#ddlTeamManagerId").attr("disabled", "disabled");
            $('#ddlTeamManagerId').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
            $("#ddlProjectID").attr("disabled", "disabled");
            $('#ddlProjectID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
            $("#ddlClientID").attr("disabled", "disabled");
            $('#ddlClientID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
        } else {
            $("#ddlTeamManagerId").removeAttr("disabled");
            $("#ddlProjectID").removeAttr("disabled");
            $("#ddlClientID").removeAttr("disabled");
        }
    }

   function deleteRow(button) {
    debugger;
    const row = $(button).closest('tr');
    const teamAssignId = row.find('td:eq(2)').text(); // TeamAssignId is now in column index 2

    var TeamManagerId = $("#ddlTeamManagerId").val();
    var ClientId = $("#ddlClientID").val();
    var ProjectId = $("#ddlProjectID").val();
    var TeamEmployeeId = row.find('td:eq(6)').text(); // EmployeeId is now in column index 6
    var TeamAssignId1 = $("#TeamAssignId").val();

    const DeleteButtons = Swal.mixin({
        customClass: {
            cancelButton: ' btnpress',
            confirmButton: ' btnpress'
        },
        buttonsStyling: true
    })

    DeleteButtons.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: false,
        allowOutsideClick: () => {
            const popup = Swal.getPopup()
            popup.classList.remove('swal2-show')
            setTimeout(() => {
                popup.classList.add('animate__animated', 'animate__headShake')
            })
            setTimeout(() => {
                popup.classList.remove('animate__animated', 'animate__headShake')
            }, 500)
            return false
        }
    }).then((result) => {
        if (result.isConfirmed) {
            if (teamAssignId) {
                // Show loader before AJAX call
                $(".Userloaderbg").css("display", "flex");

                // AJAX call to delete
                $.ajax({
                    url: '@Url.Action("Delete", "ESS_TMS_TeamAssign")',
                    type: 'POST',
                    data: {
                        TeamManagerId: TeamManagerId,
                        ClientId: ClientId,
                        ProjectId: ProjectId,
                        TeamEmployeeId: TeamEmployeeId
                    },
                    success: function (response) {
                        // Hide loader after success
                        $(".Userloaderbg").css("display", "none");

                        if (response.Icon) {
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'Record has been deleted.',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                var url = '@Url.Action("ESS_TMS_TeamAssign", "ESS_TMS_TeamAssign")' +
                                    '?TeamAssignId=' + TeamAssignId1 +
                                    '&TeamManagerId=' + TeamManagerId +
                                    '&ClientID=' + ClientId +
                                    '&ProjectID=' + ProjectId;
                                window.location.href = url;
                            });
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Failed to delete the assignment.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function() {
                        // Hide loader on error
                        $(".Userloaderbg").css("display", "none");
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while deleting.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
            else {
                row.fadeOut(300, function() {
                    $(this).remove();
                    // Renumber all remaining rows
                    $('#tblBodyEmployees tr').each(function(index) {
                        $(this).find('td:eq(1)').text(index + 1); // Sr. No. is in column index 1
                    });
                    updateFormState();

                    // Show success message for local row removal
                    Swal.fire({
                        title: 'Deleted!',
                        text: 'Record has been deleted..',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                });
            }
        } else if (result.dismiss === Swal.DismissReason.cancel) {
        }
    });
}
</script>
@*<script>
        $("#btnAdd").click(function (e) {
            debugger;

            // First validate the form
            if (!form.valid()) {
                return false;
            }

            // Get selected values
            var TeamEmployeeId = $("#ddlTeamEmployeeId").val();
            var TeamEmployeeName = $("#ddlTeamEmployeeId option:selected").text();

            // Validate Team Employee selection
            if (!TeamEmployeeId && TeamEmployeeName === "--Select--") {
                $("#ErrorTeamEmployeeId").text("Team Employee is required.").show();
                return false;
            }
            else {
                $("#ErrorTeamEmployeeId").text("").hide();
            }

            // Show loader at the start
            $(".Userloaderbg").css("display", "flex");

            // Get other selected values
            var TeamManagerId = $("#ddlTeamManagerId").val();
            var TeamManagerName = $("#ddlTeamManagerId option:selected").text();
            var ClientId = $("#ddlClientID").val();
            var ClientName = $("#ddlClientID option:selected").text();
            var ProjectId = $("#ddlProjectID").val();
            var ProjectName = $("#ddlProjectID option:selected").text();
            var TeamAssignId = "";

            // If "--All--" is selected, get all employees for this manager
            if (TeamEmployeeId === "") {
                $.ajax({
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetTeamEmployee", "ESS_TMS_TeamAssign", new { area = "ESS" })',
                    data: { TeamManagerId: TeamManagerId },
                    success: function (data) {
                        var TeamEmployee = data.TeamEmployee || [];
                        var anyAdded = false;

                        $.each(TeamEmployee, function (i, employee) {
                            // Check if employee is already added
                            var isDuplicate = false;
                            $('#tblBodyEmployees tr').each(function () {
                                var existingEmployeeId = $(this).find('td:eq(5)').text();
                                if (existingEmployeeId === employee.Id.toString()) {
                                    isDuplicate = true;
                                    return false;
                                }
                            });

                            if (!isDuplicate) {
                                anyAdded = true;
                                var newRow = '<tr>' +
                                    '<td style="text-align:center;">' + '<button type="button" class="btn btn-xs" onclick="deleteRow(this)" style="cursor:pointer;">' + '<i class="fa-solid fa-trash-alt text-danger fa-lg"></i>' + '</button>' + '</td>' +
                                    '<td hidden>' + TeamAssignId + '</td>' +
                                    '<td>' + TeamManagerName + '</td>' +
                                    '<td>' + ClientName + '</td>' +
                                    '<td>' + (ProjectName === "--Select--" ? "" : ProjectName) + '</td>' +
                                    '<td hidden>' + employee.Id + '</td>' +
                                    '<td>' + employee.Name + '</td>' +
                                    '</tr>';
                                $('#tblBodyEmployees').append(newRow);
                            }
                        });

                        if (!anyAdded) {
                            Swal.fire({
                                icon: 'info',
                                text: 'All employees are already in the list!',
                                allowOutsideClick: false
                            });
                        }

                        $("#ddlTeamEmployeeId").val('').trigger('change');
                        updateFormState();
                        $(".Userloaderbg").css("display", "none");
                    },
                    error: function () {
                        alert("Error loading employees.");
                        $(".Userloaderbg").css("display", "none");
                    }
                });
            }
            else {
                // Check for duplicates
                var isDuplicate = false;
                $('#tblBodyEmployees tr').each(function () {
                    var existingEmployeeId = $(this).find('td:eq(5)').text();
                    if (existingEmployeeId === TeamEmployeeId) {
                        isDuplicate = true;
                        return false;
                    }
                });

                if (isDuplicate) {
                    Swal.fire({
                        icon: 'warning',
                        text: 'This employee is already added to the list!',
                        allowOutsideClick: false
                    }).then(() => {
                        $(".Userloaderbg").css("display", "none");
                    });
                    return false;
                }

                // Create new row if not duplicate
                var newRow = '<tr>' +
                    '<td style="text-align:center;">' + '<button type="button" class="btn btn-xs" onclick="deleteRow(this)" style="cursor:pointer;">' + '<i class="fa-solid fa-trash-alt text-danger fa-lg"></i>' + '</button>' + '</td>' +
                    '<td hidden>' + TeamAssignId + '</td>' +
                    '<td>' + TeamManagerName + '</td>' +
                    '<td>' + ClientName + '</td>' +
                    '<td>' + (ProjectName === "--Select--" ? "" : ProjectName) + '</td>' +
                    '<td hidden>' + TeamEmployeeId + '</td>' +
                    '<td>' + TeamEmployeeName + '</td>' +
                    '</tr>';

                $('#tblBodyEmployees').append(newRow);
                $(".Userloaderbg").css("display", "none");
                $("#ddlTeamEmployeeId").val('').trigger('change');
                updateFormState();
            }

        });

        function updateFormState() {
            var count = $('#tblBodyEmployees tr').length;
            if (count > 0) {
                $("#ddlTeamManagerId").attr("disabled", "disabled");
                $('#ddlTeamManagerId').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                $("#ddlProjectID").attr("disabled", "disabled");
                $('#ddlProjectID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
                $("#ddlClientID").attr("disabled", "disabled");
                $('#ddlClientID').next('.select2').find('.select2-selection').css('background-color', '#e9ecef');
            } else {
                $("#ddlTeamManagerId").removeAttr("disabled");
                $("#ddlProjectID").removeAttr("disabled");
                $("#ddlClientID").removeAttr("disabled");
            }
        }

        function deleteRow(button) {
            debugger;
            const row = $(button).closest('tr');
            const teamAssignId = row.find('td:eq(1)').text();

            var TeamManagerId = $("#ddlTeamManagerId").val();
            var ClientId = $("#ddlClientID").val();
            var ProjectId = $("#ddlProjectID").val();
            var TeamEmployeeId = row.find('td:eq(5)').text();
            var TeamAssignId1 = $("#TeamAssignId").val();

            if (TeamAssignId) {
                // Show loader before AJAX call
                $(".Userloaderbg").css("display", "flex");

                // AJAX call to delete
                $.ajax({
                    url: '@Url.Action("Delete", "ESS_TMS_TeamAssign")',
                    type: 'POST',
                    data: { TeamManagerId: TeamManagerId ,
                        ClientId:ClientId,
                        ProjectId:ProjectId,
                        TeamEmployeeId:TeamEmployeeId
                    },
                    success: function (response) {debugger
                        debugger
                        if (response.Icon) {
                            debugger
                            var url = '@Url.Action("ESS_TMS_TeamAssign", "ESS_TMS_TeamAssign")' +
                              '?TeamAssignId=' + TeamAssignId1 +
                              '&TeamManagerId=' + TeamManagerId +
                              '&ClientID=' + ClientId +
                              '&ProjectID=' + ProjectId;
                            window.location.href = url;
                        }
                        // Hide loader after success
                        $(".Userloaderbg").css("display", "none");
                    },
                    error: function() {
                        // Hide loader on error
                        $(".Userloaderbg").css("display", "none");
                    }
                });
            }
            else {
                row.fadeOut(300, function() {
                    $(this).remove();
                    updateFormState();
                });
            }
        }
    </script>*@
<script>
    $(document).ready(function () {
        $('title').html("Team Assign");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>