@model KompassHR.Areas.Reports.Models.TaxFilters

@{
    ViewBag.Title = "Reports_Tax_MonthlyTaxForPayroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required library for validation -->
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<style>
    label.error, .Error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }
</style>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Monthly Tax For Payroll Report
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Reports_Tax_RptMenu", "Reports_Tax_RptMenu", new {id = 9, ScreenId=571, area = "Reports" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title">Monthly Tax For Payroll Report </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action='@Url.Action("Reports_Tax_MonthlyTaxForPayroll", "Reports_Tax_MonthlyTaxForPayroll", new { area = "Report" })' id="SaveDateWiseReports" method="post">

                                <div class="row">
                                    @*<div class="col-md-5">
                                            <div class="row mb-15px">
                                                <label class="form-label col-form-label col-md-3">
                                                    Financial Year
                                                    <span class="important">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.FinancialYear, new SelectList(ViewBag.GetTaxFyear, "Id", "Name"), "--Select--", new { id = "ddlTaxFyearId", @class = "form-select", autocomplete = "off", name = "TaxFyearId" })
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="col-md-5">
                                        <div class="row mb-15px">
                                            <label class="form-label col-form-label col-md-3">
                                                Month Year
                                                <span class="important">*</span>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.MonthYear, new { id = "txtMonthYear", @class = "form-control", autocomplete = "off", name = "MonthYear", type = "month" })
                                                <span id="errorMonthYear" style="color:red; display:none;">Please select Month Year before exporting.</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="LastShortLeaveBx">
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="BtnBx">
                                                    <div>
                                                        <button type="button" class="btn btn-success" id="btlExportToExcel" onclick="downloadExcelFile()">
                                                            <i class="fa-regular fa-file-excel fa-xl"></i> Export To Excel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-inverse" data-sortable-id="index-1">
                                            <div class="panel-body" data-scrollbar="true">
                                                <!-- BEGIN table-responsive -->
                                                <div class="table-scroll div1">
                                                    <div class="table-wrap">
                                                        <table class="table table-bordered table-hover mb-0 text-dark align-middle TablePage tblAddData">
                                                            <thead style="background-color: rgba(233, 236, 239, 1) !important;">
                                                                <tr>
                                                                    <th class="text-nowrap"></th>
                                                                    <th class="text-nowrap"></th>
                                                                    <th class="text-nowrap"></th>
                                                                    <th class="text-nowrap"></th>
                                                                    <th class="text-nowrap"></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- END table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        debugger;
        $("#ddlCompanyName").select2();
        $("#ddlBuniessUnit").select2();

        $("#ddlCompanyName").on("change", function () {
            $("#ddlBuniessUnit").find("option").remove();
            var CmpId = $("#ddlCompanyName").val();
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetBusinessUnit", "Reports_Tax_MonthlyTaxForPayroll")',
                data: { CmpId: CmpId },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        $("#ddlBuniessUnit").append("<option value=''>All</option>");
                        $.each(data, function (i, p) {
                            debugger;
                            $("#ddlBuniessUnit").append("<option value='" + p.Id + "'>" + p.Name + "</option>");
                        });
                    }
                    else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            })
        })

    });
    //use for add regex function
    jQuery.validator.addMethod(
  "regex",
        function (value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        }, "erreur expression reguliere"
);

    $("#SaveDateWiseReports").validate({
        rules: {
            MonthYear: {
                required: true,
            },
        },
        messages: {
            MonthYear: {
                required: "Year is required"
            },
        }
    });
    var form = $("#SaveDateWiseReports");
    form.validate();



</script>

<script>
   function downloadExcelFile() {
    debugger;

    var MonthYear = $("#txtMonthYear").val();

    if (!MonthYear) {
        $("#errorMonthYear").show();
        return false;
    } else {
        $("#errorMonthYear").hide(); // Hide if previously shown
    }

    $(".Userloaderbg").css("display", "flex");
    var encodedMonthYear = encodeURIComponent(MonthYear);
    var url = `@Url.Action("DownloadExcelFile", "Reports_Tax_MonthlyTaxForPayroll")?MonthYear=${encodedMonthYear}`;

    $.ajax({
        url: url,
        method: 'GET',
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            $(".Userloaderbg").css("display", "none");
            if (data.size == 0) {
                Swal.fire({
                    icon: 'error',
                    text: 'Record Not Found',
                    allowOutsideClick: false
                });
                return false;
            }

            var formattedDate = convertMonthYearFormat(decodeURIComponent(MonthYear));
            var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

            var anchorElement = document.createElement('a');
            var downloadUrl = window.URL.createObjectURL(blob);
            anchorElement.href = downloadUrl;
            anchorElement.download = 'MonthlyTaxForPayroll(' + formattedDate + ').xlsx';
            anchorElement.click();

            window.URL.revokeObjectURL(downloadUrl);
        },
        error: function (xhr, status, error) {
            console.error('Error downloading file:', error);
            $(".Userloaderbg").css("display", "none");
        }
    });
}

</script>

