@model KompassHR.Areas.ESS.Models.ESS_TimeOffice.CheckInOut
@{
    ViewBag.Title = "ESS_TimeOffice_CheckInOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables.net/js/jquery.dataTables.js"></script>

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
        background-color: rgba(233, 236, 239, 0.5) !important;
    }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }

    .ListBtn {
        background-color: transparent;
        color: #000;
        font-size: 15px !important;
        padding: 5px 8px !important;
        border: none;
    }

        .ListBtn:hover {
            background-color: transparent;
            color: #000;
        }

            .ListBtn:hover i {
                transition: all 0.5s;
                transform: scale(1.5);
            }



    .box2 {
        width: 100px;
        height: 100px;
        padding: 15px 0px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        z-index: 0;
        margin-bottom: 10px;
    }

        .box2:hover {
            border: 2px solid #ff9c19;
            border-radius: 10px;
            cursor: pointer;
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.03), 0px -15px 25px rgba(0, 0, 0, 0.03), 0 15px 25px rgba(0, 0, 0, 0.05);
        }

            .box2:hover .info i {
                color: #ff9c19;
            }


        .box2 .info i {
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            color: #007bff;
        }

        .box2 .info h7 {
            position: relative;
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 900 !important;
            text-transform: capitalize;
            margin-bottom: 2px;
            padding: 0 10px;
            color: #444;
        }

    .FS-12PX {
        font-size: 12px !important;
    }

    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    .width-45 {
        width: 45px !important;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }

    .select2.select2-container {
        width: 100% !important;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Check In - Out
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_TimeOffice_Menu", "ESS_TimeOffice_Menu", new {id = 5, ScreenId=150, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <!-- END breadcrumb -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading" style="background-color:@Session["HeaderColor"]; color:@Session["HeaderTextColor"]">
                    <h4 class="panel-title"> Check In - Out</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="alert alert-yellow rounded-0 pb-0 d-flex align-items-center mb-0 text-black">
                    <p class="pb-0">

                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="row mb-15px">
                                <label class="form-label col-form-label col-md-4 col-12">
                                    Location Name
                                    <span class="important">*</span>
                                </label>
                                <div class="col-md-6 col-10">
                                    @Html.DropDownListFor(model => model.CheckInOutLocationId, new SelectList(ViewBag.LocationName, "Id", "Name"), "--Select--", new { @class = "form-control", id = "txtLocationName", type = "text", name = "CmpId", autocomplete = "Off" })
                                    @Html.ValidationMessageFor(model => model.CheckInOutLocationId, "", new { @class = "help-block", @id = "ErrorLocationName", @style = "color:red" })
                                </div>
                                <div class="col-md-2 col-2">
                                    <button type="button" onclick="openMap()" class="btn btn-sm btn-success">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-8 col-8 ">
                            <button type="button" onclick="funCheckInOut('IN')" class="btn btn-sm btn-success me-4">
                                <i class="fa-solid fa-person-arrow-down-to-line"></i>  Check-In
                            </button>

                            <button type="button" onclick="funCheckInOut('OUT')" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-person-arrow-up-from-line"></i> Check-Out
                            </button>
                        </div>

                        <div class="col-lg-2 col-md-4 col-4 ">
                            <button type="button" onclick="OpenModal()" class="btn btn-sm btn-success">
                                Get Location
                            </button>

                        </div>

                    </div>
                    <hr />
                    <form role="form" action='@Url.Action("ESS_TimeOffice_CheckInOut", "ESS_TimeOffice_CheckInOut", new { area = "ESS" })' id="formCheckInOut" method="post">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="row mb-3 align-items-center">
                                    <!-- Employee Name -->
                                    <label class="form-label col-md-2">
                                        Employee Name <span class="important">*</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.GetEmployeeList ?? new List<SelectListItem>(), "Id", "Name"),
                                            new { id = "ddlEmployeeId", name = "EmployeeId", @class = "form-select w-100", autocomplete = "off" }
                                        )
                                        <span class="text-danger small mt-1" id="ErrorddlEmployeeId"></span>
                                    </div>

                                    <!-- Date -->
                                    <label class="form-label col-md-2">
                                        Date <span class="important">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", id = "txtDate", type = "date", name = "Date" })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "help-block text-danger", id = "ErrorDate" })
                                    </div>

                                    <!-- Button -->
                                    <div class="col-md-1">
                                        <button type="button" onclick="GetList()" class="btn btn-sm btn-success w-100">
                                            Show
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="row mb-15px">
                                        <label class="form-label col-form-label col-md-2">
                                            Employee Name <span class="important">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("EmployeeName", new SelectList(ViewBag.GetEmployeeList ?? new List<SelectListItem>(), "Id", "Name"),
                                                            "--Select--",
                                                            new { id = "ddlEmployeeId", name = "EmployeeId", @class = "form-select w-100", autocomplete = "off" })
                                            <span class="text-danger small mt-1" id="ErrorddlEmployeeId"></span>
                                        </div>
                                        <label class="form-label col-form-label col-md-4 col-12">
                                            Date
                                            <span class="important">*</span>
                                        </label>
                                        <div class="col-md-6 col-10">
                                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", id = "txtDate", type = "date", name = "Date" })
                                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "help-block", @id = "ErrorDate", @style = "color:red" })
                                        </div>
                                        <div class="col-md-2 col-2">
                                            <button type="button" onclick="GetList()" class="btn btn-sm btn-success">
                                                Show
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </form>

                    <div class="row">
                        <div class="col-md-12 overflow-auto">

                            <table class="table table-bordered align-middle TablePage2" id="data-table-combine"
                                   style="width: 100%;">
                                <thead class="text-center">
                                    <tr>
                                        <th class="text-nowrap">Location Name</th>
                                        <th class="text-nowrap">Type</th>
                                        <th class="text-nowrap">Origin</th>
                                        <th class="text-nowrap">Check In/Out Date </th>
                                        <th class="text-nowrap">Latitue </th>
                                        <th class="text-nowrap">Longitude </th>
                                        <th class="fixed-side text-center">View</th>
                                        <th class="text-nowrap">Selfie </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in ViewBag.CheckInOutList)
                                    {
                                        <tr>
                                            <td>@d.LocationName</td>
                                            <td>@d.CheckInOutDirection</td>
                                            @if (@d.Origin != "")
                                            {
                                                <td>@d.Origin</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@d.CheckInOutDateTime</td>
                                            <td>@d.CheckInOutLatitude</td>
                                            <td>@d.CheckInOutLongitude</td>
                                            <td class="text-center">
                                                <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;"
                                                   onclick="ViewMap('@d.CheckInOutLatitude', '@d.CheckInOutLongitude')"></i>
                                            </td>
                                            @if (d.SelfiePath != null)
                                            {
                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;"
                                                       onclick="ViewSelfie('@d.SelfiePath','@d.CheckInOutDateTime','@d.LocationName','@d.CheckInOutDirection','@d.CheckInOutEmployeeId')"></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                                @*<tbody>
                                        @foreach (var d in ViewBag.CheckInOutList)
                                        {
                                            <tr>
                                                <td>@d.LocationName</td>
                                                <td>@d.CheckInOutDirection</td>
                                                <td>@d.CheckInOutDateTime</td>
                                                <td>@d.CheckInOutLatitude</td>
                                                <td>@d.CheckInOutLongitude</td>
                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;"
                                                       onclick="ViewMap('@d.CheckInOutLatitude', '@d.CheckInOutLongitude')"></i>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@

                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- #Start Appprove Reject Modal -dialog -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title">Current Location</h4>

            </div>
            <div class="modal-body">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <form action="" id="Save" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-10px">
                                    <label class="form-label col-form-label col-md-12">
                                        Registered Latitude
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.DatabaseLatitude, new { @class = "form-control", name = "CheckIn", id = "txtDatabaseLatitude", @readonly = "readonly", @style = "background-color: #eee;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-10px">
                                    <label class="form-label col-form-label col-md-12">
                                        Registered Longitude

                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.DatabaseLongitude, new { @class = "form-control", name = "CheckOut", id = "txtDatabaseLongitude", @readonly = "readonly", @style = "background-color: #eee;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-10px">
                                    <label class="form-label col-form-label col-md-12">
                                        Current Latitude
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", name = "CheckIn", id = "txtLatitude", @readonly = "readonly", @style = "background-color: #eee;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-10px">
                                    <label class="form-label col-form-label col-md-12">
                                        Current Longitude
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", name = "CheckOut", id = "txtLongitude", @readonly = "readonly", @style = "background-color: #eee;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-15px">
                                    <label class="form-label col-form-label col-md-12">
                                        <h6>Total Distance is: <span id="spanDistance"></span> Meters</h6>
                                    </label>
                                    <div id="DivHiddenDistance">
                                        <label class="form-label col-form-label col-md-12">
                                            <h6>Allowed Range is: <span id="spanHiddenDistance"></span> Meters</h6>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END panel -->
                        <div class="modal-footer">
                            <button type="button" id="btnCancel" class="btn btn-danger btnpress btnClear" data-bs-dismiss="modal">
                                <i class="fa-solid fa-share-from-square"></i> Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Selfie Modal -->
<div class="modal fade" id="selfieModal" tabindex="-1" aria-labelledby="selfieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin: 0 auto; display: table;">
        <div class="modal-content p-0" style="
             border-radius 16px;
             box-shadow 0 10px 25px rgba(0, 0, 0, 0.3);
             background #ffffff;
             min-width 320px;
             overflow hidden;">

            <!-- Header -->
            <div class="modal-header border-bottom" style="
                 background-color #f8f9fa;
                 padding 12px 16px;">
                <div class="d-flex align-items-center">

                    <h5 class="modal-title mb-0" id="selfieModalLabel" style="font-weight: 600;">📷Selfie Viewer</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        style="background-color: transparent;"></button>
            </div>

            <!-- Body -->
            <div class="modal-body p-3 text-center">
                <img id="selfieImage"
                     src=""
                     alt="Selfie"
                     style="max-width: 100%; height: auto; border-radius: 12px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);" />
                <div id="selfieDetails" class="mt-3 text-start px-2">
                    <!-- Dynamic content here -->
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function ViewSelfie(filePath, dateTime, locationName, direction,Id) {
        debugger;
        const encoded = encodeURIComponent(filePath);
        const selfieUrl = '/ESS_TimeOffice_CheckInOut/ViewSelfie?filePath=' + encoded+ '&Id=' + Id;;

        $('#selfieImage').attr('src', selfieUrl);

        const formattedDateTime = new Date(dateTime).toLocaleString('en-IN', {
            dateStyle: 'medium',
            timeStyle: 'short'
        });

        $('#selfieDetails').html(`
        <table class="table table-borderless mb-0" style="font-size: 14px;">
            <tr>
                <td><strong>&nbsp;📍&nbsp; Location</strong></td>
                <td>: ${locationName}</td>
            </tr>
            <tr>
                <td><strong>➡️ Direction</strong></td>
                <td>: ${direction}</td>
            </tr>
            <tr>
                <td><strong>🕒 Date & Time</strong></td>
                <td>: ${formattedDateTime}</td>
            </tr>
        </table>
    `);

        $('#selfieModal').modal('show');
    }



    function OpenModal()
    {
        debugger;
        let CheckInOutLocationId = $('#txtLocationName option:selected').val();
        if(CheckInOutLocationId=="")
        {
            $('#ErrorLocationName').html("Location name is required");

            return false;
        }
        else{ $('#ErrorLocationName').html("");}
        $("#myModal").modal('show');
    }


function funCheckInOut(Direction) {
    debugger;
    var Latitude = $("#txtLatitude").val();
    var Longitude = $("#txtLongitude").val();
    var CheckInOutLocationId = $('#txtLocationName option:selected').val();
    var DiffTotaldistance = Number($("#spanDistance").html()); // Distance in meters
    var AllowrangeTotaldistance = Number($("#spanHiddenDistance").html()); // Allowed range in meters
    if (CheckInOutLocationId == "") {
        $('#ErrorLocationName').html("Location name is required");
        return false;
    } else {
        $('#ErrorLocationName').html("");
    }

    if (CheckInOutLocationId == "1") {
        $(".Userloaderbg").css("display", "flex");
        location.href = '@Url.Action("SaveCheckInOut", "ESS_TimeOffice_CheckInOut")?Latitude=' + Latitude + '&Longitude=' + Longitude + '&Direction=' + Direction + '&CheckInOutLocationId=' + CheckInOutLocationId;
    } else {
        if (DiffTotaldistance > AllowrangeTotaldistance) {
            var Message = "Employee is out of range";
            var Icon = "error";
            if (Message != null) {
                if (Icon != null) {
                    Swal.fire({
                        icon: Icon,
                        text: Message,
                        allowOutsideClick: () => {
                            const popup = Swal.getPopup();
                            popup.classList.remove('swal2-show');
                            setTimeout(() => {
                                popup.classList.add('animate__animated', 'animate__headShake');
                            });
                            setTimeout(() => {
                                popup.classList.remove('animate__animated', 'animate__headShake');
                            }, 500);
                        }
                    }).then(function () {
                        return false;
                    });
                }
            }
        } else {
            $(".Userloaderbg").css("display", "flex");
            location.href = '@Url.Action("SaveCheckInOut", "ESS_TimeOffice_CheckInOut")?Latitude=' + Latitude + '&Longitude=' + Longitude + '&Direction=' + Direction + '&CheckInOutLocationId=' + CheckInOutLocationId;
        }
    }
}
</script>

<script>
    $(document).ready(function () {
        debugger;
        $("#ddlEmployeeId").select2();
        $("#txtLocationName").select2();
        $("#DivDatabaseLocation").hide();
        $("#DivHiddenDistance").hide();
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));

        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        // return false
                    }
                }).then(function() {
                    window.location.reload();
                });
            }
        }


        if (navigator.geolocation) {debugger;
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            console.log("Geolocation is not supported by your browser");
        }

        function successCallback(position) {
            debugger;
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            $("#txtLatitude").val(latitude);
            $("#txtLongitude").val(longitude);
        }

        function errorCallback(error) {
            console.log("Error getting geolocation: " + error.message);
        }



        $("#txtLocationName").change(function(){
    debugger;
    let GetLocationName = $('#txtLocationName option:selected').val();
    $.ajax({
        type: 'GET',
        dataType: 'JSON',
        contentType: "application/json; charset=utf-8",
        url: '@Url.Action("GetClientLatitudeAndLangitude", "ESS_TimeOffice_CheckInOut")',
        data: { GetLocationName: GetLocationName },
        success: function (data) {
            debugger;
            if (data.length != 0) {
                var GetLocationLatitude = data[0][0].Value;
                var GetLocationLongitude = data[0][1].Value;
                var GetLocationHiddenLatitude = data[0][2].Value; // This is LocationAreaRange
                $('#txtDatabaseLatitude').val(GetLocationLatitude);
                $('#txtDatabaseLongitude').val(GetLocationLongitude);
                $('#spanHiddenDistance').html(GetLocationHiddenLatitude); // Already in meters if database query is updated
                var lat1 = $('#txtLatitude').val();
                var lon1 = $('#txtLongitude').val();
                var DatabaseLatitude = $('#txtDatabaseLatitude').val();
                var DatabaseLongitude = $('#txtDatabaseLongitude').val();

                getDistanceFromLatLonInMeters(lat1, lon1, DatabaseLatitude, DatabaseLongitude); // Updated function name
            } else {
                $('#ErrorESSPassword').html(" ");
            }
        }
    });
});


    });

    function GetLocation() {
        debugger;
        let GetLocationName = $('#txtLocationName option:selected').val();
        if (GetLocationName == "1") {
            // Logic for special case
        } else {
            if (GetLocationName == "") {
                $('#ErrorLocationName').html("Location name is required");
                return false;
            } else {
                $('#ErrorLocationName').html("");
            }
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetClientLatitudeAndLangitude", "ESS_TimeOffice_CheckInOut")',
                data: { GetLocationName: GetLocationName },
                success: function (data) {
                    debugger;
                    if (data.length != 0) {
                        var GetLocationLatitude = data[0][0].Value;
                        var GetLocationLongitude = data[0][1].Value;
                        $('#txtDatabaseLatitude').val(GetLocationLatitude);
                        $('#txtDatabaseLongitude').val(GetLocationLongitude);
                        var lat1 = $('#txtLatitude').val();
                        var lon1 = $('#txtLongitude').val();
                        var DatabaseLatitude = $('#txtDatabaseLatitude').val();
                        var DatabaseLongitude = $('#txtDatabaseLongitude').val();

                        getDistanceFromLatLonInMeters(lat1, lon1, DatabaseLatitude, DatabaseLongitude); // Updated function name
                    } else {
                        $('#ErrorESSPassword').html(" ");
                    }
                }
            });
        }
    }


    function getDistanceFromLatLonInMeters(lat1, lon1, DatabaseLatitude, DatabaseLongitude) {
        debugger;
        var R = 6371000; // Radius of the earth in meters
        var dLat = deg2rad(DatabaseLatitude - lat1); // deg2rad below
        var dLon = deg2rad(DatabaseLongitude - lon1);
        var a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(DatabaseLatitude)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c; // Distance in meters
        $('#spanDistance').html(Math.round(d)); // Round to nearest meter for display
    }

    function deg2rad(deg) {
        return deg * (Math.PI / 180);
    }
    //var Latitude = $("#txtLatitude").val();
    //var Longitude = $("#txtLongitude").val();
    //$.ajax({
    //    url: "SaveCheckInOut",
    //    Type: "post",
    //    contentType: "application/json; charset=utf-8",
    //    dataType: "text",
    //    data: { Latitude: Latitude, Longitude: Longitude },
    //    success: function (response) {
    //        debugger;
    //        var data = JSON.parse(response);
    //        var Message1 = data.Message;
    //        var Icon1 = data.Icon;
    //        if (data.Icon == "error") {
    //            if (Message1 != null) {
    //                Swal.fire({
    //                    icon: Icon1,
    //                    text: Message1,
    //                    allowOutsideClick: () => {
    //                        const popup = Swal.getPopup()
    //                        popup.classList.remove('swal2-show')
    //                        return false;
    //                        setTimeout(() => {
    //                            popup.classList.add('animate__animated', 'animate__headShake')
    //                        })
    //                        setTimeout(() => {
    //                            popup.classList.remove('animate__animated', 'animate__headShake')
    //                        }, 500)
    //                        return false;
    //                    }
    //                });
    //            }
    //            return false;
    //        }
    //        else {
    //            //$("#SaveLeave").submit();
    //        }
    //    }
    //});

    //use for add regex function
    jQuery.validator.addMethod(
    "regex",
     function(value, element, regexp) {
         if (regexp.constructor != RegExp)
             regexp = new RegExp(regexp);
         else if (regexp.global)
             regexp.lastIndex = 0;
         return this.optional(element) || regexp.test(value);
     },"erreur expression reguliere"
  );


    $('#formCheckInOut').validate({
        rules: {
            Date: {
                required: true,
            },

        },
        messages: {
            Date: {
                required: "Date is required",
            },

        },
    });
    var form = $("#formCheckInOut");
    form.validate();

    function GetList(){
        debugger;
        form.valid();
        if(form.valid()==false)
        {
            $("#Date").removeClass('error');
            return false;
        }
        $("#formCheckInOut").submit();
    }

</script>

<script>
    function openMap() {
        debugger;
        let CheckInOutLocationId = $('#txtLocationName option:selected').val();
        if (CheckInOutLocationId == "") {
            $('#ErrorLocationName').html("Location name is required");
            return false;
        } else {
            $('#ErrorLocationName').html("");
        }

        var latitude = $("#txtDatabaseLatitude").val();
        var longitude = $("#txtDatabaseLongitude").val();

        if (isNaN(latitude) || isNaN(longitude) || latitude === "" || longitude === "") {
            $('#ErrorLocationName').html("Valid latitude and longitude are required");
            return false;
        }

        var mapsUrl = "https://www.google.com/maps?q=" + latitude + "," + longitude + "&z=15&output=embed";

        // Open the URL in a new tab
        window.open(mapsUrl, "_blank");
    }

</script>

<script>
    function ViewMap(latitude, longitude) {
        debugger;

        // Validate
        if (isNaN(latitude) || isNaN(longitude) || latitude === "" || longitude === "") {
            alert("Valid latitude and longitude are required");
            return false;
        }

        $('#ErrorLocationName').html(""); // clear any previous error

        // Google Maps URL
        var mapsUrl = "https://www.google.com/maps?q=" + latitude + "," + longitude + "&z=15&output=embed";

        // Open in new tab
        window.open(mapsUrl, "_blank");
    }
</script>
