
@{
    ViewBag.Title = "GetTrainingPlanList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Tooltip {
        position: relative;
    }

        .Tooltip button {
            width: 35px;
        }

        .Tooltip:hover .Tooltip-text {
            display: flex;
            position: absolute;
        }

        .Tooltip .Tooltip-text {
            z-index: 1;
            min-width: 45px;
            max-width: fit-content;
            background-color: black;
            color: #fff;
            top: 40px;
            right: -18px;
            padding: 5px 8px;
            border-radius: 6px;
            display: none;
            justify-content: center;
            position: absolute;
            margin-right: 10px;
        }

            .Tooltip .Tooltip-text::after {
                content: "";
                position: absolute;
                top: -20px;
                right: 20px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

    .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }

    /*.trheading {
          background-color: rgba(233, 236, 239, 0.5) !important;
      }*/

    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }

    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }



    th:nth-child(1), td:nth-child(1) {
        width: 60px; /* Set the width for the first column */
    }
</style>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<div id="content" class="app-content">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Training Plan
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_LMS_Training_Training", "ESS_LMS_Training_Training",  new { id = 38,ScreenId=589, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("ESS_Training_TrainingPlan", "ESS_Training_TrainingPlan", new { area = "ESS" })">
                <button type="button" class="btn btn-primary btn-sm  mb-10px">
                    <i class="fa-solid fa-plus"></i> &nbsp; Add
                </button>
            </a>
        </div>
    </div>
    <style>
        .nav-tabs .nav-link.active {
            background-color: #eee !important; /* Background for selected tab */
            color: #000000 !important; /* Text color for selected tab */
            font-weight: bold;
            border-color: #ddd #ddd #fff;
        }
    </style>
    @{
        var headerColor = Session["HeaderColor"] != null ? Session["HeaderColor"].ToString() : "#343a40";
        var headerTextColor = Session["HeaderTextColor"] != null ? Session["HeaderTextColor"].ToString() : "#ffffff";
    }
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN tabs -->
            <ul class="nav nav-tabs nav-tabs-inverse nav-justified" data-sortable-id="index-2"
                style="background-color:@headerColor; color:@headerTextColor">
                <li class="nav-item">
                    <a href="#tabTrainingPlan" data-bs-toggle="tab" class="nav-link active">
                        <i class="fa fa-scroll fa-lg me-5px"></i>
                        <span class="d-none d-md-inline">Training Plan List</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabCalendarList" data-bs-toggle="tab" class="nav-link">
                        <i class="fa fa-newspaper fa-lg me-5px"></i>
                        <span class="d-none d-md-inline">Training Calendar List</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tabCompletedList" data-bs-toggle="tab" class="nav-link">
                        <i class="fa fa-elevator fa-lg me-5px"></i>
                        <span class="d-none d-md-inline">Batch Completed List</span>
                    </a>
                </li>

                @*<li class="nav-item">
                        <a href="#tabPendingList" data-bs-toggle="tab" class="nav-link">
                            <i class="fa fa-elevator fa-lg me-5px"></i>
                            <span class="d-none d-md-inline">Pending Batch Employee List</span>
                        </a>
                    </li>*@

                <li class="nav-item">
                    <a href="#tabPendingBatchList" data-bs-toggle="tab" class="nav-link">
                        <i class="fa fa-elevator fa-lg me-5px"></i>
                        <span class="d-none d-md-inline">Pending Training Batch List</span>
                    </a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content panel rounded-0 rounded-bottom mb-20px" data-sortable-id="index-3">

                <!-- Training Plan -->
                <div class="tab-pane fade show active" id="tabTrainingPlan">
                    <div class="h-500px p-3" data-scrollbar="true">
                        <div class="table-scroll">
                            <div class="table-wrap">
                                <table class="table table-bordered align-middle TablePage2" id="tbl1" style="width: 100%;">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="text-center">Delete</th>
                                            <th class="text-center">View</th>
                                            <th class="fixed-side1">Upload File</th>
                                            <th class="text-nowrap">Training Calender Name</th>
                                            <th class="text-nowrap">Batch</th>
                                            <th class="text-nowrap">Start Date</th>
                                            <th class="text-nowrap">Start Time</th>
                                            <th class="text-nowrap">End Date</th>
                                            <th class="text-nowrap">End Time</th>
                                            @*<th class="text-nowrap">Created By</th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">Modify By</th>
                                            <th class="text-nowrap">Modified Date</th>
                                            <th class="text-nowrap">Machine Name</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetTrainingtPlan)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <a onclick="DeleteTrainingPlan('@d.TrainingPlan_MasterId')" style="cursor:pointer;">
                                                        <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;"
                                                       onclick="ViewEmployee('@d.TrainingCalenderId', '@d.Batch','Training Plan')"></i>
                                                </td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("TrainingPlanUploadFile", "ESS_Training_TrainingPlan" , new { area="ESS" , TrainingPlan_MasterId_Encrypted=d.TrainingPlan_MasterId_Encrypted, TrainingPlan_MasterId = d.TrainingPlan_MasterId })" style="cursor:pointer">
                                                        <i class="fa-solid fa-upload fa-xl"></i>
                                                        @*<i class="fa-solid fa-arrow-up text-success fa-lg"></i>*@
                                                    </a>
                                                </td>
                                                <td>@d.TrainingCalenderName</td>
                                                <td>@d.Batch</td>
                                                <td>@d.StartDate</td>
                                                <td>@d.StartTime</td>
                                                <td>@d.EndDate</td>
                                                <td>@d.EndTime</td>
                                                @*<td>@d.CreatedBy</td>
                                                <td>@d.CreatedDate</td>
                                                <td>@d.ModifiedBy</td>
                                                <td>@d.ModifiedDate</td>
                                                <td>@d.MachineName</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Calendar List -->
                <div class="tab-pane fade" id="tabCalendarList">
                    <div class="h-500px p-3" data-scrollbar="true">
                        <div class="table-scroll">
                            <div class="table-wrap">
                                <table class="table table-bordered align-middle TablePage2" id="tbl2" style="width: 100%;">
                                    <thead class="text-center">
                                        <tr>
                                            @*<th class="fixed-side">Update</th>
                                                <th class="fixed-side">Delete</th>
                                                <th class="fixed-side1">Upload File</th>
                                                <th class="fixed-side1">View File</th>*@

                                            <th class="text-nowrap">Training Calendar Name </th>
                                            @*<th class="text-nowrap">Training Description</th>*@
                                            <th class="text-nowrap">Traning Course</th>
                                            <th class="text-nowrap">Traning Category</th>
                                            <th class="text-nowrap">Training Type</th>
                                            <th class="text-nowrap">Department</th>
                                            <th class="text-nowrap">Month</th>
                                            <th class="text-nowrap">Mode Of Training</th>
                                            <th class="text-nowrap">Training Provider Source</th>
                                            <th class="text-nowrap">Training Provided By</th>
                                            <th class="text-nowrap">Location</th>
                                            @*<th class="text-nowrap">Created By</th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">Modify By</th>
                                            <th class="text-nowrap">Modified Date </th>
                                            <th class="text-nowrap">Machine Name</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetTrainingCalender)
                                        {
                                            <tr>

                                                @*<td class="text-center">
                                                        <a onclick="UpdateTrainingCalender('@d.TrainingCalenderId_Encrypted')" id="btnUpdate" style="cursor:pointer;  ">
                                                            <i class="fa-solid fa-pen-to-square fa-lg text-Dark"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a onclick="DeleteTrainingCalender('@d.TrainingCalenderId')" id="btnDelete" style="cursor:pointer;">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="@Url.Action("TrainingUploadFile", "ESS_Training_TrainingCalender", new { area = "ESS" , TrainingCalenderId_Encrypted= d.TrainingCalenderId_Encrypted, TrainingCalenderId = d.TrainingCalenderId })"
                                                           style="cursor:pointer">
                                                            <i class="fa-solid fa-upload fa-xl"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="@Url.Action("TrainingDocumentView", "ESS_Training_TrainingCalender", new { area = "ESS" ,  TrainingCalenderId = d.TrainingCalenderId })"
                                                           style="cursor:pointer">
                                                            <i class="fa fa-eye fa-lg" style="cursor:pointer; color:blue;"></i>
                                                        </a>
                                                    </td>*@
                                                <td class="text-nowrap">@d.TrainingCalenderName</td>
                                                @*<td>@d.TrainingDescription</td>*@
                                                <td>@d.TrainingCategory</td>
                                                <td>@d.TrainingSubcategory</td>
                                                <td>@d.TrainingTypeName</td>
                                                <td>@d.DepartmentNames</td>
                                                <td>@d.MonthYear</td>
                                                <td>@d.ModeOfTraining</td>
                                                <td>@d.TrainingProviderSource</td>
                                                <td>@d.TrainingProvidedBy</td>
                                                <td>@d.Location</td>
                                                @*<td>@d.CreatedBy</td>
                                                <td>@d.CreatedDate</td>
                                                <td>@d.ModifiedBy</td>
                                                <td>@d.ModifiedDate</td>
                                                <td>@d.MachineName</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Completed List -->
                <div class="tab-pane fade" id="tabCompletedList">
                    <div class="h-500px p-3" data-scrollbar="true">
                        <div class="table-scroll">
                            <div class="table-wrap">
                                <table class="table table-bordered align-middle TablePage2" id="tbl3" style="width: 100%;">
                                    <thead class="text-center">
                                        <tr>
                                            @*<th class="text-center">Delete</th>*@
                                            <th class="text-center">View</th>
                                            <th class="text-nowrap">Training Calender Name </th>
                                            <th class="text-nowrap">Batch</th>
                                            <th class="text-nowrap">Start Date</th>
                                            <th class="text-nowrap">Start Time</th>
                                            <th class="text-nowrap">End Date</th>
                                            <th class="text-nowrap">End Time</th>
                                            <th class="text-nowrap">Training Conducted Status</th>
                                            @*<th class="text-nowrap">Created By</th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">Modify By</th>
                                            <th class="text-nowrap">Modified Date </th>
                                            <th class="text-nowrap">Machine Name</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetCompleteTraining)
                                        {
                                            <tr>
                                                @*<td class="text-center">
                                                        <a onclick="DeleteTrainingConduct('@d.TrainingPlan_MasterId')" id="btnDelete" style="cursor:pointer;">
                                                            <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                        </a>
                                                    </td>*@
                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;" onclick="ViewEmployee('@d.TrainingCalenderId', '@d.Batch','Batch Completed')"></i>
                                                </td>
                                                <td>@d.TrainingCalenderName</td>
                                                <td>@d.Batch</td>
                                                <td>@d.StartDate</td>
                                                <td>@d.StartTime</td>
                                                <td>@d.EndDate</td>
                                                <td>@d.EndTime</td>
                                                <td>@(d.IsTrainingConduct ? "Yes" : "No")</td>
                                                @*<td>@d.CreatedBy</td>
                                                <td>@d.CreatedDate</td>
                                                <td>@d.ModifiedBy</td>
                                                <td>@d.ModifiedDate</td>
                                                <td>@d.MachineName</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending List -->
                @*<div class="tab-pane fade" id="tabPendingList">
                        <div class="h-500px p-3" data-scrollbar="true">
                            <div class="table-scroll">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle TablePage2" id="tbl4" style="width: 100%;">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-center">Delete</th>
                                                <th class="text-center">View</th>
                                                <th class="text-nowrap">Training Calender Name </th>
                                                <th class="text-nowrap">Batch</th>
                                                <th class="text-nowrap">Start Date</th>
                                                <th class="text-nowrap">Start Time</th>
                                                <th class="text-nowrap">End Date</th>
                                                <th class="text-nowrap">End Time</th>
                                                <th class="text-nowrap">Training Conducted Status</th>
                                                <th class="text-nowrap">Created By</th>
                                                <th class="text-nowrap">Created Date</th>
                                                <th class="text-nowrap">Modify By</th>
                                                <th class="text-nowrap">Modified Date </th>
                                                <th class="text-nowrap">Machine Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var d in ViewBag.GetPendingTraining)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                            <a onclick="DeleteTrainingConduct('@d.TrainingPlan_MasterId')" id="btnDelete" style="cursor:pointer;">
                                                                <i class="fa-solid fa-trash-alt text-danger fa-lg"></i>
                                                            </a>
                                                        </td>
                                                    <td class="text-center">
                                                        <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;" onclick="ViewEmployeePending('@d.TrainingCalenderId', '@d.Batch')"></i>
                                                    </td>
                                                    <td>@d.TrainingCalenderName</td>
                                                    <td>@d.Batch</td>
                                                    <td>@d.StartDate</td>
                                                    <td>@d.StartTime</td>
                                                    <td>@d.EndDate</td>
                                                    <td>@d.EndTime</td>
                                                    @*<td>@(d.IsTrainingConduct ? "Yes" : "No")</td>*
                                                    <td>@d.CreatedBy</td>
                                                    <td>@d.CreatedDate</td>
                                                    <td>@d.ModifiedBy</td>
                                                    <td>@d.ModifiedDate</td>
                                                    <td>@d.MachineName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!-- Pending List -->
                <div class="tab-pane fade" id="tabPendingBatchList">
                    <div class="h-500px p-3" data-scrollbar="true">
                        <div class="table-scroll">
                            <div class="table-wrap">
                                <table class="table table-bordered align-middle TablePage2" id="tbl5" style="width: 100%;">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="text-nowrap">View</th>
                                            <th class="text-nowrap">Training Calender Name </th>
                                            <th class="text-nowrap">Batch</th>
                                            <th class="text-nowrap">Start Date</th>
                                            <th class="text-nowrap">Start Time</th>
                                            <th class="text-nowrap">End Date</th>
                                            <th class="text-nowrap">End Time</th>
                                            @*<th class="text-nowrap">Training Conducted Status</th>*@
                                            @*<th class="text-nowrap">Created By</th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">Modify By</th>
                                            <th class="text-nowrap">Modified Date </th>
                                            <th class="text-nowrap">Machine Name</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in ViewBag.GetPendingTrainingBatch)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <i class="fa-solid fa-eye text-warning fa-lg" style="cursor: pointer;"
                                                       onclick="ViewEmployee('@d.TrainingCalenderId', '@d.Batch','Pending Batch')"></i>
                                                </td>
                                                <td>@d.TrainingCalenderName</td>
                                                <td>@d.Batch</td>
                                                <td>@d.StartDate</td>
                                                <td>@d.StartTime</td>
                                                <td>@d.EndDate</td>
                                                <td>@d.EndTime</td>
                                                @*<td>@(d.IsTrainingConduct ? "Yes" : "No")</td>*@
                                                @*<td>@d.CreatedBy</td>
                                                <td>@d.CreatedDate</td>
                                                <td>@d.ModifiedBy</td>
                                                <td>@d.ModifiedDate</td>
                                                <td>@d.MachineName</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- #Start modal-dialog -->
<div class="modal fade" id="EmployeeListModel" data-bs-backdrop="static" data-bs-keyboard="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h4 class="modal-title" id="dynamictitle"></h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-icon btn-danger CloseModelHistory" data-bs-dismiss="modal" aria-hidden="true" id="CloseModelHistory">
                        <i class="fa fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body" style="height: 500px; overflow-y: auto;">
                <!-- BEGIN panel -->
                <div class="modal-body-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-15px">
                                            <div class="table-scroll">
                                                <div class="table-wrap">
                                                    <table class="table table-bordered table-hover mb-0 table-wrap align-middle tblEmployeeList" id="tblEmployeeList">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap text-center">S.N</th>
                                                                <th class="text-nowrap text-center">Attend</th>
                                                                <th class="text-nowrap text-left">Employee Name</th>
                                                                <th class="text-nowrap text-left">Designation</th>
                                                                <th class="text-nowrap text-left">Department</th>
                                                                <th class="text-nowrap text-right">Mobile</th>
                                                                <th class="text-nowrap text-left">Email Id</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyEmployeeList"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel -->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //$('title').html("Training Plan");
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                        return false
                    }
                });
            }
        }
    });
</script>
<script>
    function ViewEmployee(TrainingCalenderId, Batch, ListType) {
        debugger;
        var url = '@Url.Action("ShowEmployeeList", "ESS_Training_TrainingPlan")';
        $.getJSON(url, { TrainingCalenderId: TrainingCalenderId, Batch: Batch }, function (data) {
            debugger;
            const jsonData = JSON.parse(data);
            $('#EmployeeListModel').modal('show');
            $("#dynamictitle").html(ListType + '-' + "List");
            //$('#tblEmployeeList tr').not(function(){ return !!$(this).has('th').length; }).remove();
            // Destroy previous instance if exists
            if ($.fn.DataTable.isDataTable('.tblEmployeeList')) {
                $('.tblEmployeeList').DataTable().clear().destroy();
            }

            $("#tbodyEmployeeList").empty();
            $.each(jsonData, function (index, item) {debugger;
                var icon = item.IsTrainingConduct
                var statusText=""
                if (ListType=="Batch Completed")
                {
                    statusText = item.IsTrainingConduct
                                ? '<span class="text-success">Present</span>'
                                : '<span class="text-danger">Absent</span>';
                }
                if (ListType=="Training Plan" || ListType=="Pending Batch") {
                    statusText='<span class="text-success">Pending</span>';
                }
                
                var row = `<tr>
                                <td class="text-center">${item.SN}</td>
                                <td class="text-center">${statusText}</td>
                                <td class="text-left">${item.EmployeeName}</td>
                                <td class="text-left">${item.DesignationName}</td>
                                <td class="text-left">${item.DepartmentName}</td>
                                <td class="text-right">${item.PrimaryMobile}</td>
                                <td class="text-left">${item.PersonalEmailId}</td>
                           </tr>`;
                $("#tbodyEmployeeList").append(row);
            });

            
            $('.tblEmployeeList').DataTable({
                dom: '<"dataTables_wrapper dt-bootstrap"<"row"<"col-xl-7 d-block d-sm-flex d-xl-block justify-content-center"<"d-block d-lg-inline-flex me-0 me-md-3"l><"d-block d-lg-inline-flex"B>><"col-xl-5 d-flex d-xl-block justify-content-center"fr>>t<"row"<"col-md-5"i><"col-md-7"p>>>',
                buttons: [
                  { extend: 'copy', className: 'btn-sm',enabled: true  },
                  { extend: 'csv', className: 'btn-sm' ,enabled: true },
                  { extend: 'excel', className: 'btn-sm' ,enabled: true },
                  { extend: 'pdf', className: 'btn-sm'   ,enabled: true },
                  { extend: 'print', className: 'btn-sm' ,enabled: true }
                ],
                searching: true, // Enable search
                paging: true,
                info: true,
                ordering: true,
            });
        });
    }


    function ViewEmployeePending(TrainingCalenderId, Batch) {
        debugger;
        var url = '@Url.Action("ShowPendingEmployeeList", "ESS_Training_TrainingConduct")';
        $.getJSON(url, { TrainingCalenderId: TrainingCalenderId, Batch: Batch }, function (data) {
            debugger;
            const jsonData = JSON.parse(data);
            $('#EmployeeListModel').modal('show');
            
           
            $("#tbodyEmployeeList").empty();
            $.each(jsonData, function (index, item) {debugger;
                var icon = item.IsTrainingConduct
                ? '<i class="fas fa-check-circle fa-lg text-success"></i>'
                : '<i class="fas fa-times-circle fa-lg text-danger"></i>';
                var row = `<tr>
                                <td class="text-center">${item.SN}</td>
                                <td class="text-center">${icon}</td>
                                <td class="text-left">${item.EmployeeName}</td>
                                <td class="text-left">${item.DesignationName}</td>
                                <td class="text-left">${item.DepartmentName}</td>
                                <td class="text-right">${item.PrimaryMobile}</td>
                                <td class="text-left">${item.PersonalEmailId}</td>
                           </tr>`;
                $("#tbodyEmployeeList").append(row);
            });
        });
    }

    function DeleteTrainingPlan(TrainingPlan_MasterId) {debugger;
        const DeleteButtons = Swal.mixin({
            customClass: {
                cancelButton: ' btnpress',
                confirmButton: ' btnpress'
            },
            buttonsStyling: true
        })
        DeleteButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false,
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            }

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "ESS_Training_TrainingPlan")?TrainingPlan_MasterId=' + TrainingPlan_MasterId;

            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }

</script>
