
@{
    ViewBag.Title = "AddLeadActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    .hidden-column {
        display: none;
    }
</style>

<div id="content" class="app-content">
    <div class="row">
        @*<div class="col-12">
            <button type="button" class="btn btn-danger d-lg-block m-b-15" onclick="location.href='@Url.Action("Lead_Dashboard", "CRM")'" style="float:right;"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
        </div>*@
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("Lead_Dashboard", "CRM",  new { id = 45,ScreenId=803, area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title"> Add Lead Activity -</b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" action="/CRM/CRM/SaveLeadActivity" id="SaveLeadActivity" method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="email">Company Name:<span class="text-danger">*</span></label>
                                @Html.DropDownList("ACCMAIN_Fid", new SelectList(ViewBag.CompanyList, "Fid", "CompanyName"), "Select", new { @class = "form-control form-select", name = "ACCMAIN_Fid", Id = "txtACCMAIN_Fid" })

                                @Html.Hidden("Encrypted_Id", "", new { @class = "form-control", id = "ACCACTIVITY_EncryptedId" })
                                @Html.Hidden("BUCode", "", new { @class = "form-control", id = "BUCode" })
                                @Html.Hidden("isredirect", "", new { @class = "form-control", name = "isredirect", Value = true })
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="fullname">Contact Person:<span class="text-danger">*</span></label>
                                @Html.DropDownList("ACCCONTACT_Fid", new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Select", new { @class = "form-control form-select", name = "ACCCONTACT_Fid", Id = "txtACCCONTACT_Fid1" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3" style="display:none;">
                                <label class="mb-2" for="fullname">Origin:</label>
                                @Html.TextBox("ContactPerson", "", new { @class = "form-control", name = "ContactPerson", id = "txtContactPerson", autocomplete = "Off", Value = "Lead" })

                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="fullname">Activity Type:<span class="text-danger">*</span></label>
                                @Html.DropDownList("ActivityType", new SelectList(new List<Object> {
                            new { value = "Site Survey" , text = "Site Survey" },
                            new { value = "Site Visit"  , text = "Site Visit"  },
                               new { value = "General Discussion" , text = "General Discussion" },
                                   new { value = "Complaint Resolution" , text = "Complaint Resolution" },
                                   new { value = "Proposal Discussion" , text = "Proposal Discussion" },},
                            "value", "text"), "Select", new { @class = "form-control form-select", name = "ActivityType", id = "txtActivityType", autocomplete = "Off" })
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="email">Activity Date:<span class="text-danger">*</span></label>
                                @Html.TextBox("ActivityDate", "", new { @class = "form-control", name = "ActivityDate", id = "txtActivityDate", autocomplete = "Off", type = "date" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="email">Description:</label>
                                @Html.TextArea("EmailId", "", new { @class = "form-control", name = "EmailId", id = "txtEmailId", autocomplete = "Off" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="email">Status:<span class="text-danger">*</span></label>
                                @Html.DropDownList("Status", new SelectList(new List<Object>
                            {
                            new { value = "Open" , text = "Open" },
                            new { value = "WIP"  , text = "WIP"  },
                            new { value = "Close" , text = "Close" },},
                            "value", "text"), "Select", new { @class = "form-control form-select", name = "Status", id = "txtStatus", autocomplete = "Off" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="mb-2" for="email">Attachment:<span class="text-danger">*</span></label>
                                @Html.TextBox("Attachement", "", new { @class = "form-control", name = "file", id = "txtfile", type = "file", autocomplete = "Off" })
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="mb-2" for="email">Share Activity:</label>
                                    @Html.DropDownList("ShareAcctivityToOperation", new SelectList(new List<Object>
                            {
                            new { value = "false" , text = "No" },
                            new { value = "true"  , text = "Yes"  } },
                            "value", "text"), new { @class = "form-control form-select", name = "ShareAcctivityToOperation", id = "ShareAcctivityToOperation", autocomplete = "Off" })

                                </div>
                                <div class="col-md-4 mb-3 empDiv" id="empDiv">
                                    <label class="mb-2" for="ContractEndDate">Employee </label>
                                    @Html.DropDownList("ShareAcctEmployee", new SelectList(ViewBag.OpsList, "Fid", "EmployeeName"), new { @class = "form-select m-b-10 select2-multiple", multiple = "multiple", name = "ShareAcctEmployee", id = "ShareAcctEmployee", style = "width:100%" })
                                </div>

                                <div class="col-md-4 mb-3 empDiv">
                                    <div class="col-md-5">
                                        <label class="col-md-6"> </label>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <div class="d-flex">
                                            @Html.CheckBox("TodoCheck", new { id = "TodoCheck" })
                                            <label class="" for="ContractEndDate"> <span> &nbsp; &nbsp; Add to ToDo List</span>  </label>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <br />
                        <div class="row" align="center">
                            <div class="LastShortLeaveBx">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="BtnBx">
                                            <div>
                                                <button type="button" id="ActivitySubmit"
                                                        class="btn btn-primary btnpress">
                                                    <i class="fa-solid fa-floppy-disk"></i> Submit
                                                </button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <br />
                    <div class="row">
                        <div class="col-12 overflow-auto">

                            <table id="tableCriteria3" class="table table-striped table-bordered align-middle table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Origin</th>
                                        <th>Activity Type</th>
                                        <th>Activity Date</th>
                                        <th>Contact Person</th>
                                        <th hidden>Description</th>
                                        <th>Status</th>
                                        <th>Attachment</th>
                                        <th hidden>ContactFid</th>
                                        <th hidden>EncryptedId</th>
                                        <th hidden>ShareAcctivityToOperation</th>
                                        <th hidden>ShareAcctEmployee</th>
                                        <th hidden>ToDoCheck</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function confirmDelete(url) {
        debugger
        Swal.fire({
            title: 'Are you sure you want to delete this?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                debugger
                window.location.href = url;
            }
        });
    }
    $(document).ready(function () {
        debugger



        function convertDate(dateString) {
            debugger
            var timestamp = dateString.match(/\/Date\((\d+)\)\//);

            if (timestamp) {
                var date = new Date(parseInt(timestamp[1], 10));

                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2);
                var day = ('0' + date.getDate()).slice(-2);

                return year + '-' + month + '-' + day;
            }
            else {
                return null;
            }
        }

        function formatDate(dateStr) {
            debugger
            var date = new Date(dateStr);
            var year = date.getFullYear();
            var month = ('0' + (date.getMonth() + 1)).slice(-2);
            var day = ('0' + date.getDate()).slice(-2);
            return year + '-' + month + '-' + day;

        }

        $('#ShareAcctivityToOperation').change(function () {
            debugger
            var selectedValue = $(this).val();

            if (selectedValue !== "true") {
                $('.empDiv').hide();
                $('#ShareAcctEmployee').val(null).trigger('change');
                $('#ShareAcctEmployee').prop('disabled', true).trigger('change');;
            } else {
                $('.empDiv').show();

                $('#ShareAcctEmployee').prop('disabled', false).trigger('change');;
            }
        });

            var selectedValue = $('#ShareAcctivityToOperation').val();

            if (selectedValue !== "true") {

                $('.empDiv').hide();

                $('#ShareAcctEmployee').prop('disabled', true);
            }

            $("#tableCriteria3").on('click', '.btnselect', function () {
                debugger;
                var table = document.getElementById("tableCriteria3");
                var rowCount = table.rows.length;
                var currentRow = $(this).closest("tr");
                var currentRow = $(this).closest("tr");

                var ActivityType = currentRow.find("td:eq(2)").text();
                var ActivityDate = currentRow.find("td:eq(3)").text();
                var ContactPerson = currentRow.find("td:eq(8)").text();
                var Status = currentRow.find("td:eq(6)").text();
                var Description = currentRow.find("td:eq(5)").text();
                var EncryptedId = currentRow.find("td:eq(9)").text();
                var ShareAcctivityToOperation = currentRow.find("td:eq(10)").text();
                var ToDoCheck = currentRow.find("td:eq(12)").text();
                $("#TodoCheck").prop("checked", ToDoCheck.toLowerCase() == "true");
                ShareAcctivityToOperation = (ShareAcctivityToOperation.trim() === "True" || ShareAcctivityToOperation.trim() === "true") ? "true" : "false";
                $('#ShareAcctivityToOperation').val(ShareAcctivityToOperation);
                $('#ShareAcctivityToOperation').change();

                var ShareAcctEmployee = currentRow.find("td:eq(11)").text().split(',').map(function (item) {
                    return item.trim();
                });

                $('#ShareAcctEmployee').val(ShareAcctEmployee).trigger('change');
                var ActivityDate = currentRow.find("td:eq(3)").text();
                var formattedDate = formatDate(ActivityDate);
                $('#txtActivityDate').val(formattedDate);

                $('#txtActivityType').val(ActivityType).trigger('change');
                $('#txtACCCONTACT_Fid1').val(ContactPerson).trigger('change');
                $('#txtStatus').val(Status).trigger('change');
                $('#txtEmailId').val(Description);
                $('#ACCACTIVITY_EncryptedId').val(EncryptedId);
            });



        $('#txtACCMAIN_Fid').change(function () {
            debugger
            var txtACCMAIN_Fid = $(this).val();
            $('#txtACCCONTACT_Fid1').empty();

            if (txtACCMAIN_Fid !== "") {
                $.ajax({
                    url: "@Url.Action("GetConPerson", "CRM")",
                    method: "get",
                    data: { txtACCMAIN_Fid: txtACCMAIN_Fid },
                    success: function (response) {
                        debugger;
                        $('#BUCode').val(response.BuCode.BUCode);
                        $('#txtACCCONTACT_Fid1').append('<option value="">' + '--Select--' + '</option>');
                        $.each(response.EmployeeList, function (index, emp) {
                            $('#txtACCCONTACT_Fid1').append($('<option/>', {
                                value: emp.Fid,
                                text: emp.ContactPerson,
                            }));
                        });
                        $("#tableCriteria3").find('tr:not(:first)').remove();
                        var Obj = response.ACCActivityList;
                        var table = document.getElementById("tableCriteria3");

                        $.each(Obj, function (Key, item) {

                            var rowCount = table.rows.length;
                            var row = table.insertRow(rowCount);
                            var count = $('#tableCriteria3 tr').length;
                            var valueObj = {};
                            $.each(item, function(index, element) {
                                valueObj[element.Key] = element.Value;
                            });
                            row.insertCell(0).innerHTML = `<center><a href="#" onclick="confirmDelete('${DeleteActivity(valueObj.Encrypted_Id)}')"><i class="fa fa-trash" style="color:red;"></i></a>&nbsp;<a href="#" title="edit"><i class="fa fa-pen-to-square btnselect"></i></a></center>`;
                            row.insertCell(1).innerHTML = (valueObj.Origin || '');
                            row.insertCell(2).innerHTML = (valueObj.ActivityType || '');
                            debugger
                            var d3 = convertDate(valueObj.ActivityDate);
                            let dt2 = new Date(d3);
                            var dd = String(dt2.getDate()).padStart(2, '0');
                            var mm = String(dt2.getMonth() + 1).padStart(2, '0');
                            var yyyy = dt2.getFullYear();
                            dt2 = yyyy + '-' + mm + '-' + dd;
                            row.insertCell(3).innerHTML = dt2 || '';

                            row.insertCell(4).innerHTML = (valueObj.ContactPersonName || '');
                            row.insertCell(5).innerHTML = (valueObj.Description || '');
                            row.insertCell(6).innerHTML = (valueObj.Status || '');
                            var cell = row.insertCell(7);
                            var baseUrl = '@Url.Action("GetViewFile", "CRM")';

                            if (valueObj.Attachment) {
                                var filePath = encodeURIComponent(valueObj.Attachment);
                                var linkHtml = `<center><a href="#" onclick="window.open('${baseUrl}?FilePath=${filePath}', '_blank');"><i class="fa fa-eye"></i></a></center>`;
                                cell.innerHTML = linkHtml;
                            } else {
                                cell.innerHTML = '';
                            }
                        
                                row.insertCell(8).innerHTML = (valueObj.contactFid || '');
                            row.insertCell(9).innerHTML = (valueObj.Encrypted_Id || '');
                            row.insertCell(10).innerHTML = (valueObj.ShareAcctivityToOperation);
                            row.insertCell(11).innerHTML = (valueObj.ShareAcctEmployee);
                            row.insertCell(12).innerHTML = (valueObj.TodoCheck);

                            row.cells[8].classList.add("hidden-column");
                            row.cells[9].classList.add("hidden-column");
                            row.cells[5].classList.add("hidden-column");
                            row.cells[10].classList.add("hidden-column");
                            row.cells[11].classList.add("hidden-column");
                            row.cells[12].classList.add("hidden-column");


                        });

                        function DeleteActivity(Encrypted_Id) {
                            var accEncryptedId = '@Html.Raw(ViewBag.EncryptedId)';
                            var url = '@Url.Action("DeleteActivity", "CRM", new { EncryptedId = "__Activity_ENCRYPTED_ID__", Identity = "Lead_Dashboard" })';
                            url = url.replace('__Activity_ENCRYPTED_ID__', Encrypted_Id);
                            return url;
                        }

                        $("#txtActivityType").val(null).trigger('change');
                        $("#txtEmailId").val(null);
                        $("#txtActivityDate").val(null);
                        $("#txtfile").val(null);
                        $("#txtStatus").val(null).trigger('change');
                        $("#txtACCCONTACT_Fid").val(null).trigger('change');
                        $("#ACCACTIVITY_EncryptedId").val(null);
                        $("#ShareAcctivityToOperation").val("false").trigger('change');
                        $("#ShareAcctEmployee").val(null).trigger('change');
                        $("#TodoCheck").prop("checked", false);

                    },
                    error: function(xhr, status, error) {
                        debugger

                        if(xhr.status == 500)
                        {
                            Swal.fire({
                                icon: "error",
                                text: xhr.statusText,
                                allowOutsideClick: () => {
                                    const popup = Swal.getPopup()
                                    popup.classList.remove('swal2-show')
                                    setTimeout(() => {
                                        popup.classList.add('animate__animated', 'animate__headShake')
                                    })
                                    setTimeout(() => {
                                        popup.classList.remove('animate__animated', 'animate__headShake')
                                    }, 500)
                                    return false;
                                }
                            });
                        }
                        else{
                            // Log any error in the console (you can customize this as needed)
                            window.location.href = '/Home/Logout';
                            //alert("An error occurred while fetching the services.");
                        }
                    }
                })
            }
        });
    });
</script>
<script>
    $("#SaveLeadActivity").validate({
        rules: {
            Origin: {
                required: true
            },
            ActivityType: {
                required: true
            },
            ActivityDate: {
                required: true
            },
          
            Status:{
                required: true
            },
            Description:{
                required: true
            },
            Attachement:{
                required: true
            },
            ACCMAIN_Fid: {
                required: true
            },
            ACCCONTACT_Fid: {
                required: true
            }

        },
        messages: {
            Origin: {
                required: "Location is required"
            },
            ActivityType: {
                required: "Activity Type is required"
            },
            ActivityDate: {
                required: "Activity Date is required"
            },
            ACCCONTACT_Fid: {
                required: "Contact Person is required"
            },
            Status:{
                required: "Status is required"
            },
            Description:{
                required: "Description is required"
            },
            Attachement:{
                required: "Attachement is required"
            },
            ACCMAIN_Fid: {
                required: "Company is required"
            }
        }
    });
var formActivity = $("#SaveLeadActivity");
$("#ActivitySubmit").click(function () {
    debugger
    if (formActivity.valid()) {
        var formData = new FormData();
        var Encrypted_Id = $("#ACCACTIVITY_EncryptedId").val();
        var ACCMAIN_Fid = $("#txtACCMAIN_Fid").val();
        var ActivityType = $("#txtActivityType").val();
        var Description = $("#txtEmailId").val();
        var ActivityDate = $("#txtActivityDate").val();
        var Attachment = $("#txtfile")[0].files[0];
        var Status = $("#txtStatus").val();
        var Origin = $("#txtContactPerson").val();
        var ACCCONTACT_Fid = $("#txtACCCONTACT_Fid1").val();
        var ShareAcctivityToOperation = $("#ShareAcctivityToOperation").val();
        var ShareAcctEmployee = $("#ShareAcctEmployee").val();
        var TodoCheck = $('#TodoCheck').is(":checked");
        var BUCode = $("#BUCode").val();

        formData.append("BUCode", BUCode);
        formData.append("Encrypted_Id", Encrypted_Id);
        formData.append("ACCMAIN_Fid", ACCMAIN_Fid);
        formData.append("ActivityType", ActivityType);
        formData.append("Description", Description);
        formData.append("ActivityDate", ActivityDate);
        formData.append("Attachment", Attachment);
        formData.append("Status", Status);
        formData.append("Origin", Origin);
        formData.append("ACCCONTACT_Fid", ACCCONTACT_Fid);
        formData.append("ShareAcctivityToOperation", ShareAcctivityToOperation);
        formData.append("ShareAcctEmployee", ShareAcctEmployee);
        formData.append("ToDoCheck", TodoCheck);

        $.ajax({
            url: "SaveLeadActivity",
            method: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                debugger
                var Message1 = response.Message;
                var Icon1 = response.Icon;
                if (Icon1 == "success" || Icon1 == "error") {
                    if (Message1 != null && Icon1 != null) {
                        Swal.fire({
                            icon: Icon1,
                            text: Message1,
                            allowOutsideClick: () => {
                                const popup = Swal.getPopup();
                                popup.classList.remove('swal2-show');
                                setTimeout(() => {
                                    popup.classList.add('animate__animated', 'animate__headShake');
                                });
                                setTimeout(() => {
                                    popup.classList.remove('animate__animated', 'animate__headShake');
                                }, 500);
                            }
                        }).then(() => {
                            window.location.href = '@Url.Action("OpportunityList", "CRM")';
                        });
                    }
                }
            }
        });
    }  else {
        return false;
    }
    });
</script>
