
@model KompassHR.Areas.CRMS.Models.ACCINVOICE

@{
    ViewBag.Title = "AddNewInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var htmlAttributes = new Dictionary<string, object>
    {
        { "class", "form-control" },
        { "type", "month" },
        { "id", "BillMonth" },
        { "required", "required" }
    };
    if (Model.Encrypted_Id != null)
    {
        htmlAttributes.Add("readonly", "readonly");
    }


    var htmlAttributesSite = new Dictionary<string, object>
    {
        { "class", "form-control form-select" },
        { "id", "ACCSITES_Fid" },
        { "required","required" }
    };
    if (Model.Encrypted_Id != null)
    {
        htmlAttributesSite.Add("disabled", "disabled");
    }
}


<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input[type="radio"] {
        display: none;
    }
</style>

<div id="content" class="app-content">

    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">

    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->

    <div>
        <button type="button" class="btn btn-primary me-1 mb-1 " onclick="location.href='@Url.Action("InvoiceList","CRM")'"><i class="fa fa-list fa-sm" title="List" style="font-size:x-small"></i> List</button>
    </div>
    <!-- END page-header -->
    <!-- BEGIN row -->
    <div class="row">
        <div class="col-12">

            <!-- BEGIN panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Add New Invoice</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <form action="/CRMS/CRM/AddNewInvoice" id="SaveInvoice" method="post" data-parsley-validate="true" enctype="multipart/form-data">

                        <div class="form-group row">
                            <div class="col-md-6 mb-3">
                                <label class="mb-2"> Site Name <span class="text-danger">*</span></label>

                                @Html.DropDownListFor(model => model.ACCSITES_Fid, new SelectList(ViewBag.SiteList, "Fid", "SiteName"), "--Select--", new
                           {
                               @class = "form-control form-select",
                               id = "ACCSITES_Fid",
                               required = "required",
                               onchange = "loadInvoiceDetails()"
                           })
                                @Html.HiddenFor(model => model.Mid)
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="mb-2"> Month <span class="text-danger">*</span></label>

                                @Html.TextBoxFor(model => model.BillMonth, "{0:yyyy-MM}", new
                           {
                               @class = "form-control",
                               type = "month",
                               id = "BillMonth",
                               required = "required",
                               onchange = "loadInvoiceDetails()"
                           })
                                @*@Html.TextBoxFor(model => model.Forthemonthof, "{0:yyyy-MM}", new { @class = "form-control", Type = "month", id = "Forthemonthof", required = "required" @*, value = Model.Forthemonthof.ToString("MMM,yyyy"), @readonly = @isReadOnly})*@
                                @Html.ValidationMessageFor(model => model.BillMonth, "", new { @class = "help-block", id = "ErrorBillMonth", @style = "color:red" })
                                @Html.HiddenFor(Model => Model.Encrypted_Id, new { @id = "Encrypted_Id" })

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Invoice Number <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.InvoiceNumber, new
                           {
                               @class = "form-control",
                               //Type = "Number",
                               id = "InvoiceNumber" @*required = "required",*@ ,
                               //onkeypress = "return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                           })
                            </div>



                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Invoice Date <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.InvoiceDate, "{0:yyyy-MM-dd}", new { @class = "form-control", Type = "Date", id = "InvoiceDate", required = "required" })
                                @*@Html.TextBoxFor(model => model.Forthemonthof, "{0:yyyy-MM}", new { @class = "form-control", Type = "month", id = "Forthemonthof", required = "required" @*, value = Model.Forthemonthof.ToString("MMM,yyyy"), @readonly = @isReadOnly})*@
                                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "help-block", id = "ErrorInvoiceDate", @style = "color:red" })

                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Due Date <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.DueDate, "{0:yyyy-MM-dd}", new { @class = "form-control", Type = "date", id = "DueDate", required = "required" })
                                @*@Html.TextBoxFor(model => model.Forthemonthof, "{0:yyyy-MM}", new { @class = "form-control", Type = "month", id = "Forthemonthof", required = "required" @*, value = Model.Forthemonthof.ToString("MMM,yyyy"), @readonly = @isReadOnly})*@
                                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "help-block", id = "ErrorDueDate", @style = "color:red" })

                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="row">
                                <!-- Invoice Basic Amount -->
                                <div class="col-md-4 mb-3">
                                    <label class="mb-2">Invoice Basic Amount <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.InvoiceBasicAmountstring, new
                               {
                                   @class = "form-control",
                                   id = "InvoiceBasicAmount",
                                   oninput = "calculateTaxFromPercentage();",
                                   autocomplete = "off"
                               })
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label class="mb-2">Invoice Tax Percentage (%) <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.InvoiceTaxPercentagestring, new
                               {
                                   @class = "form-control",
                                   type = "number",
                                   id = "InvoiceTaxPercentage",
                                   min = "0",
                                   max = "100",
                                   autocomplete = "off",
                                   oninput = "calculateTaxFromPercentage()"
                               })
                                </div>


                                <!-- Calculated Tax -->
                                <div class="col-md-4 mb-3">
                                    <label class="mb-2">Calculated Amount (From %)</label>
                                    <input type="text" class="form-control" id="PercentageResult" readonly />
                                </div>

                                <!-- Total Amount -->
                                <div class="col-md-4 mb-3">
                                    <label class="mb-2">Invoice Total Amount <span class="text-danger">*</span></label>


                                    @Html.TextBoxFor(model => model.InvoiceTaxAmountstring, new
                               {
                                   @class = "form-control",
                                   type = "number",
                                   id = "InvoiceTaxAmount",
                                   @readonly = "readonly"

                               })
                                </div>
                            </div>
            
                            </div>

                         <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-2">Invoice Copy<span class="text-danger"></span></label>
                                    <input class="form-control" type="file" name="InvoiceCopyFile" id="InvoiceCopyFile"
                                           data-file-link="@ViewBag.Invoice" @(Model.Encrypted_Id == null ? "required" : "") />
                                    <div id="file-link-container-InvoiceCopy" style="display: @(ViewBag.Invoice != "" ? "block" : "none")">
                                        @if (ViewBag.Invoice != "" && ViewBag.Invoice != null)
                                        {
                                            <a id="view-file-link-InvoiceCopy" href="@Url.Action("GetViewFile", "CRM", new { FilePath = ViewBag.Invoice, area="CRMS" })" target="_blank">View File</a>
                                            @*<a href="#" onclick="window.open('@Url.Action("GetViewFile", "CRM", new {FilePath=ViewBag.Invoice})', '_blank');"><i class="fa fa-eye"></i>View File</a>*@

                                        }
                                    </div>
                                </div>



                                <div class="col-md-6 mb-3">
                                    <label class="mb-2">Supporting Document<span class="text-danger"></span></label>
                                    <input class="form-control" type="file" name="SupportingDocumentFile" id="SupportingDocumentFile"
                                           data-file-link="@ViewBag.SupDoc" />
                                    <div id="file-link-container-SupportingDocument" style="display: @(ViewBag.SupDoc != "" ? "block" : "none")">
                                        @if (ViewBag.SupDoc != "" && ViewBag.SupDoc != null)
            {
                                            <a id="view-file-link-SupportingDocument" href="@Url.Action("GetViewFile", "CRM", new { FilePath = ViewBag.SupDoc, area="CRMS" })" target="_blank">View File</a>
                                        }
                                    </div>
                 
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <center>
                                    <input type="submit" id="btnSubmit" class="btn btn-primary btnpress" value="Save" />
                                </center>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- END panel -->

        </div>
    </div>
    <!-- END row -->

    <div id="footer" class="app-footer m-0">
        &copy;
        <script>document.write(new Date().getFullYear())</script> Probus All Right Reserved
    </div>

</div>

<script>
    $("#SaveInvoice").validate({
        rules: {
            BillMonth: {
                required: true
            },
            InvoiceNumber: {
                required: true
            },
            InvoiceDate: {
                required: true
            },
            DueDate: {
                required: true
            },
            InvoiceBasicAmountstring : {
                required: true
            },
            InvoiceTaxPercentagestring: {
                required: true
            },
            InvoiceTaxAmountstring : {
                required: true
            },
            //InvoicePaidAmountstring : {
            //    required: true
            //},
            //InvoiceBalanceAmountstring : {
            //    required: true
            //}
        },
        messages: {
            BillMonth: {
                required: "Month of Invoice is required"
            },
            InvoiceNumber: {
                required: "InvoiceNumber  is required"
            },
            InvoiceDate: {
                required: "Invoice Date  is required"
            },
            DueDate: {
                required: "Due Date  is required"
            },
            InvoiceBasicAmountstring : {
                required: "Invoice Basic Amount  is required"
            },
            InvoiceTaxPercentagestring: {
                required: "Invoice Percentage is required"
            },
            InvoiceTaxAmountstring : {
                required: "Invoice Tax Amount  is required"
            },
          //  InvoicePaidAmountstring : {
            //    required: "Invoice Paid Amount  is required"
            //},
            //InvoiceBalanceAmountstring : {
            //    required: "Invoice Balance Amount  is required"
            //}
        }
    });

    $(document).ready(function(){
        calculateTotal();
    });

    function isNumberKey(evt, element) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        // Allow backspace, delete, arrow keys
        if (charCode == 8 || charCode == 37 || charCode == 39) {
            return true;
        }
        // Prevent dot (.)
        if (charCode == 46) {
            return false;
        }
        // Allow only numbers and limit the length to 9 characters
        if (charCode >= 48 && charCode <= 57) {
            if (element.value.length >= 9) {
                return false;
            }
            return true;
        }
        return false;
    }

    function calculateTotal() {
        debugger
        var basicAmount = parseFloat(document.getElementById('InvoiceBasicAmount').value) || 0;
        var taxAmount = parseFloat(document.getElementById('InvoiceTaxAmount').value) || 0;
        var totalAmount = basicAmount + taxAmount;

        document.getElementById('InvoiceTaxAmount').value = totalAmount.toFixed(2); // Display with 2 decimal places
    }



    var form = $('#SaveInvoice');
    form.validate();


    $('#btnSubmit').click(function () {
        debugger
        if (form.valid()) {

            var Encrypted_Id = $("#Encrypted_Id").val();
            var BillMonth = $("#BillMonth").val();
            //var EmailId = $("#EmailId").val();
            form.submit();

        }
        else {
            return false;
        }
    });
</script>


<script>

    const MAX_FILE_SIZE = 5 * 1024 * 1024;

    document.querySelectorAll('input[type="file"]').forEach(input => {
        let replacingFile = false; // Flag to track if user confirmed replacement

        input.addEventListener('click', function (event) {
            debugger
            const existingFile = input.getAttribute('data-file-link');
            const file = event.target.files[0];
            if (file) {
                replacingFile = true;
            }
            if (existingFile && !replacingFile) {
                event.preventDefault();

                Swal.fire({
                    title: 'File Already Uploaded',
                    text: 'You have already uploaded a file. Do you want to replace it?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, replace it!',
                    cancelButtonText: 'No, keep the existing file'
                }).then((result) => {
                    if (result.isConfirmed) {
                        replacingFile = true; // Set the flag to true
                        input.click(); // Open the file explorer
                    } else {
                        // Clear the file input if user decides not to replace
                        input.value = '';
                    }
                });
            }
            else {
                replacingFile = false;
                return;
            }
        });

        // Listen for the change event to handle file selection
        input.addEventListener('change', function (event) {
            replacingFile = true;
            const file = event.target.files[0];
            if (file) {
                // Check file size
                if (file.size > MAX_FILE_SIZE) {
                    Swal.fire({
                        title: 'File Size Exceeded',
                        text: 'The file size must be less than 5 MB.',
                        icon: 'error'
                    });
                    input.value = ''; // Clear the input if the file is too large
                } else {
                    if (replacingFile) {
                        const fileLinkContainerId = `file-link-container-${input.name === 'InvoiceCopyFile' ? 'InvoiceCopy' : 'SupportingDocument'}`;
                        // Hide the view file link
                        document.getElementById(fileLinkContainerId).style.display = 'none';
                        replacingFile = false; // Reset the flag after handling the change
                    }
                }
            }
        });
    });
</script>

<script>
    function calculateTaxFromPercentage() {
        const basicAmount = parseFloat(document.getElementById("InvoiceBasicAmount").value) || 0;
        const percentage = parseFloat(document.getElementById("InvoiceTaxPercentage").value) || 0;

        const calculatedTax = (basicAmount * percentage) / 100;

        // Show calculated tax
        document.getElementById("PercentageResult").value = calculatedTax.toFixed(2);

        // Now calculate total using updated tax
        calculateTotalFromAll();
    }

    function calculateTotalFromAll() {
        const basicAmount = parseFloat(document.getElementById("InvoiceBasicAmount").value) || 0;
        const calculatedTax = parseFloat(document.getElementById("PercentageResult").value) || 0;
        const total = basicAmount + calculatedTax;

        document.getElementById("InvoiceTaxAmount").value = total.toFixed(2);
    }
</script>

<script>
    function loadInvoiceDetails() {
        debugger
        var siteId = $('#ACCSITES_Fid').val();
        var month = $('#BillMonth').val();

        if (siteId && month) {
            $.ajax({
                url: '/CRMS/CRM/GetInvoiceDetails', // <-- Change to your actual controller & action
                type: 'GET',
                data: { siteId: siteId, month: month },
                success: function (data) {
                    debugger
                    if (data.success) {
                        $('#InvoiceBasicAmount').val(data.basicAmount);
                        $('#InvoiceTaxPercentage').val(data.taxPercentage);
                        calculateTaxFromPercentage(); // Optional
                    } else {
                        $('#InvoiceBasicAmount').val('');
                        $('#InvoiceTaxPercentage').val('');
                        $('#PercentageResult').val('');
                        $('#InvoiceTaxAmount').val('');
                        alert("No invoice data found.");
                    }
                },
                error: function () {
                    alert("Error loading invoice data.");
                }
            });
        }
    }
</script>
