@model KompassHR.Areas.CRMS.Models.ACCMAIN
@{
    ViewBag.Title = "CRM_OpportunityForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="app-content">
    @*<ol class="breadcrumb float-xl-end">
            <li class="breadcrumb-item"><a href="/Dashboard/Dashboard/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/ESS/ESS_FNF_Menu/ESS_FNF_Menu"> FNF Menu</a></li>
        </ol>*@

    <div class="row">
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("OpportunityList", "CRM",  new {Id=45,ScreenId=804,area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title"> Opportunity Information -</b></h4>
                    <div class="panel-heading-btn">
                        <a href="@Url.Action("OpportunityList", "CRM", new { area = "CRM" })" class="btn btn-xs btn-icon btn-default">
                            <i class="fa fa-home fa-lg"></i>
                        </a>
                    </div>
                    &nbsp;
                    @if (ViewBag.EncryptedId != null)
                    {
                        <div class="panel-heading-btn">
                            <a href="@Url.Action("OpportunityDetails", "CRM", new { EncryptedId = ViewBag.EncryptedId, area = "CRM" })" class="btn btn-xs btn-icon btn-default">
                                <i class="fa fa-angle-left fa-lg"></i>
                            </a>
                        </div>
                    }
                    &nbsp;

                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default"
                           data-toggle="panel-expand"><i class="fa fa-expand fa-lg"></i></a>
                    </div>

                </div>


                <div class="panel-body">
                    <div id="ioniconsTabContent" class="tab-content rounded-bottom fs-13px">
                        <!-- BEGIN tab-pane -->
                        <div class="tab-pane fade show active" id="outline">
                            <!-- BEGIN row -->
                            <div class="row">
                                <div class="invoice">
                                    <!-- BEGIN invoice-content -->
                                    <div class="invoice-content">
                                        <div class="table-responsive row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Field</th>
                                                            <th class="text-center">Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>Opportunity Title:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.LeadName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Business Unit:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.BusinessUnit)</td>
                                                        </tr>
                                                        @*<tr>
                                                                <td><b>Lead Type:</b></td>
                                                                <td class="text-center">@Html.DisplayFor(model => model.LeadType)</td>
                                                            </tr>*@
                                                        <tr>
                                                            <td><b>Company Name:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.CompanyName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Company Category:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.CompanyCategory)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Organization Type:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.OrganisationType)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Opportunity Source:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.LeadSource)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Industry Vertical:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.IndustryType)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Priority:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.LeadPriority)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Company Email:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.CompanyEmail)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Contact No:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.CompanyContactNumber)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>CIN No.:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.CINNo)</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Company Rating:</b></td>
                                                            <td class="text-center">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    if (i <= Model.CompanyRating)
                                                                    {
                                                                        <span class="star" style="color: gold;">&#9733;</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="star">&#9734;</span>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                        @*<tr>
                                                            <td><b>Summary:</b></td>
                                                            <td class="text-center">@Html.DisplayFor(model => model.Summary)</td>
                                                        </tr>*@
                                                        <tr>
                                                            <td><b>Summary:</b></td>
                                                            <td  class="text-center">@Html.Raw(Model.Summary)</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- END table-responsive -->
                                    </div>
                                    <!-- END invoice-content -->
                                </div>
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END tab-pane -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

