
@{
    ViewBag.Title = "CurrentMonthActiveLeads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="app-content">

    <div class="d-flex flex-wrap">
        @*<button type="button" class="btn btn-danger d-lg-block m-l-15 me-1 mb-1" onclick="location.href='@Url.Action("LeadDashboard", "CRM",new { area = "CRM"})'"><i class="fa fa-arrow-left fa-sm" title="Add New" style="font-size:x-small"></i> Back</button>*@
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("LeadDashboard", "CRM",  new {area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>


    <div class="panel panel-inverse" id="ShiftRuleId">
        <!-- BEGIN panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">
                Report Lead Name
            </h4>
            <div class="panel-heading-btn">

                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <!-- END panel-heading -->
        <!-- BEGIN panel-body -->
        <div class="panel-body" id="LEAType">

            <div class="row">
                <!-- BEGIN col-12 -->

            </div>

            <div class="row">
                <div class="col-12 overflow-auto">

                    <table id="data-table-combine15" class="table table-striped table-bordered align-middle">
                        <thead>
                            <tr>
                                @*<th class="width-45"></th>*@
                                <th class="text-nowrap">Lead Date</th>
                                <th class="text-nowrap">LeadPriority</th>
                                <th class="text-nowrap">LeadName</th>
                                <th class="text-nowrap">CompanyName</th>
                                <th class="text-nowrap">CompanyCategory</th>
                                <th class="text-nowrap">OrgnisationType</th>
                                <th class="text-nowrap">LeadType</th>
                                <th class="text-nowrap">Origin</th>
                                <th class="text-nowrap">Stage</th>
                                <th class="text-nowrap">CompanyEmail</th>
                                <th class="text-nowrap">CompanyContractNumber</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (ViewBag.LeadList != null)
                            {
                                foreach (var item in ViewBag.LeadList)
                                {
                                    <tr>
                                        <td>@Convert.ToDateTime(item.Fdate).ToString("dd/MM/yyyy")</td>
                                        <td>@item.LeadPriority</td>
                                        <td>@item.LeadName</td>
                                        <td>@item.CompanyName</td>
                                        <td>@item.CompanyCategory</td>
                                        <td>@item.OrganisationType</td>
                                        <td>@item.LeadType</td>
                                        <td>@item.Origin</td>
                                        <td>@item.Stage</td>
                                        <td>@item.CompanyEmail</td>
                                        <td>@item.CompanyContractNumber</td>
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


