
@{
    ViewBag.Title = "Lead_by_Stage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="app-content">
 
    <!-- BEGIN page-header -->
    @*<div class="d-flex flex-wrap">
        <button type="button" class="btn btn-danger me-1 mb-1" onclick="window.location.href='@Url.Action("ViewListList", "CRM",new {modules="Lead", area ="CRMS"})'">
            <i class="fa fa-arrow-left fa-sm" title="Back" style="font-size: x-small;"></i> Back
        </button>
    </div>*@  <!-- END page-header -->
    <div class="row">
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("ViewListList", "CRM",  new {modules="Lead",area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>

    <div class="panel panel-inverse" id="MAS_ReportNameList">
        <!-- BEGIN panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">
                Lead by Stage
            </h4>
            <div class="panel-heading-btn">
                <a href="@Url.Action("Lead_Dashboard", "CRM", new { area = "CRMS" })" class="btn btn-xs btn-icon btn-default">
                    <i class="fa fa-home fa-lg"></i>
                </a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <!-- END panel-heading -->
        <!-- BEGIN panel-body -->
        <div class="panel-body" id="LEAType">

            <form action="/CRMS/CRM/Lead_by_Stage" id="Search" method="get" data-parsley-validate="true">
                <div class="form-group row">
                    <div class="col-md-3 mb-3">
                        <label class="mb-2"> Stage Name @*<span class="text-danger">*</span>*@</label>
                        @Html.DropDownList("LeadStages", new SelectList(ViewBag.Leadstages, "Fid", "Stage"), "--Select--", new { @class = "form-control form-select", id = "Stage" })
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="mb-2">From Date: </label>
                        @Html.TextBox("FromDate", null, "{yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "FromDate" })
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="mb-2">To Date: </label>
                        @Html.TextBox("ToDate", null, "{yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "ToDate" })
                    </div>
                    <div class="col-md-3 mb-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-sm btn-primary me-1 mb-1" name="action" value="search">
                            <i class="fa fa-search" title="Search" style="font-size: x-small;"></i> Search
                        </button>
                        <button type="button" class="btn btn-sm btn-danger me-1 mb-1" onclick="location.href='@Url.Action("Lead_by_Stage", "CRM",new {area="CRM"})'">
                            <i class="fa fa-reply" title="Reset" style="font-size: x-small;"></i> Reset
                        </button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12 overflow-auto">

                    <table id="data-table-combine15" class="table table-striped table-bordered align-middle">
                        <thead>
                            <tr>
                                @*<th class="width-45"></th>*@
                                <th class="text-nowrap ">Lead Stage</th>
                                <th class="text-nowrap ">Lead Source</th>
                                <th class="text-nowrap ">Lead Name</th>
                                <th class="text-nowrap">Company Name</th>
                                <th class="text-nowrap ">Lead Created Date</th>
                                <th class="text-nowrap">Owner Name</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var employeeName = ViewBag.EmployeeName as string;
                            }

                            @foreach (var item in ViewBag.Lead_by_StagesList)
                            {
                                <tr>
                                    <td>@item.Stage</td>
                                    <td>@item.LeadSource</td>
                                    <td>@item.LeadName</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.Fdate.ToString("dd-MMM-yyyy")</td>
                                    <td>@item.EmployeeName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>




