
@{
    ViewBag.Title = "Lead_Master_Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="content" class="app-content">


    @*<div class="d-flex flex-wrap">
        <button type="button" class="btn btn-danger me-1 mb-1" onclick="window.location.href='@Url.Action("ViewListList", "CRM",new {modules="Lead", area ="CRMS"})'">
            <i class="fa fa-arrow-left fa-sm" title="Back" style="font-size: x-small;"></i> Back
        </button>
    </div>*@  <!-- END page-header -->

    <div class="row">
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("ViewListList", "CRM",  new {modules="Lead",area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>

    <div class="panel panel-inverse" id="MAS_ReportNameList">
        <!-- BEGIN panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">
                Lead Mater Report
            </h4>
            <div class="panel-heading-btn">
                <a href="@Url.Action("Lead_Dashboard", "CRM", new { area = "CRMS" })" class="btn btn-xs btn-icon btn-default">
                    <i class="fa fa-home fa-lg"></i>
                </a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <!-- END panel-heading -->
        <!-- BEGIN panel-body -->
        <div class="panel-body" id="LEAType">

            <form action="/CRMS/CRM/Lead_Master_Report" id="Search" method="get" data-parsley-validate="true">
                <div class="form-group row">

                    @*<div class="col-md-3 mb-3">
                            <label class="mb-2">From Date: </label>
                            @Html.TextBox("FromDate", null, "{yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "FromDate" })
                        </div>*@

                    <div class="col-md-3 mb-3">
                        <label class="mb-2">From Date: </label>
                        @Html.TextBox("FromDate", null, "{yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "FromDate" })
                        <span class="text-danger" id="FromDateError" style="display: none;">Please select a date.</span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="mb-2">To Date: </label>
                        @Html.TextBox("ToDate", null, "{yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "ToDate" })
                    </div>
                    <div class="col-md-3 mb-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-sm btn-primary me-1 mb-1" name="action" value="search">
                            <i class="fa fa-search" title="Search" style="font-size: x-small;"></i> Search
                        </button>
                        <button type="button" class="btn btn-sm btn-danger me-1 mb-1" onclick="location.href='@Url.Action("Lead_Transfer_Report", "CRM",new {area="CRM"})'">
                            <i class="fa fa-reply" title="Reset" style="font-size: x-small;"></i> Reset
                        </button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12 overflow-auto">
                    <table id="data-table-combine15" class="table table-striped table-bordered align-middle">
                        <thead>
                            <tr>
                                <th class="text-nowrap ">Lead Name</th>
                                <th class="text-nowrap">Company Name</th>
                                <th class="text-nowrap">Owner</th>
                                <th class="text-nowrap "> Generated Date</th>
                                <th class="text-nowrap">Business Unit</th>
                                <th class="text-nowrap">Lead Type</th>
                                <th class="text-nowrap">Lead Priority</th>
                                <th class="text-nowrap">Industry Type</th>
                                <th class="text-nowrap">LeadSource</th>
                                <th class="text-nowrap">CompanyEmail</th>
                                <th class="text-nowrap">CompanyContactNumber</th>

                                <th class="text-nowrap">ContactPerson</th>
                                <th class="text-nowrap">CountryCode</th>
                                <th class="text-nowrap">MobileNo</th>
                                <th class="text-nowrap">WhatsappNo</th>
                                <th class="text-nowrap">LinkedInProfile</th>
                                <th class="text-nowrap">EmailId</th>

                                <th class="text-nowrap">CINNo</th>
                                <th class="text-nowrap">CompanyRating(/5)</th>
                                <th class="text-nowrap">Stage</th>
                                <th class="text-nowrap">Area(SqFt)</th>
                                <th class="text-nowrap">ContractStartDate</th>
                                <th class="text-nowrap">ContractEndDate</th>
                                <th class="text-nowrap">ExpectedContractValue</th>
                                <th class="text-nowrap">RateRevision</th>
                                <th class="text-nowrap">DurationInMonths</th>
                                <th class="text-nowrap">PaymentTermsInDays</th>
                                <th class="text-nowrap">PenaltyApplicable</th>
                                <th class="text-nowrap">NeedsPatrolling</th>
                                <th class="text-nowrap">PatrollingNotes</th>
                                <th class="text-nowrap">ReferenceName</th>
                                <th class="text-nowrap">TenderApplicable</th>
                                <th class="text-nowrap">TenderNumber</th>
                                <th class="text-nowrap">Tendersource</th>


                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in ViewBag.data)
                            {
                                <tr>
                                    <td>@item.LeadName</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.EmployeeName</td>
                                    <td>@item.Fdate.ToString("dd/MMM/yyyy")</td>
                                    <td>@item.BusinessUnit</td>
                                    <td>@item.LeadType</td>
                                    <td>@item.LeadPriority</td>
                                    <td>@item.IndustryType</td>
                                    <td>@item.LeadSource</td>
                                    <td>@item.CompanyEmail</td>
                                    <td>@item.CompanyContactNumber</td>
                                    <td>@item.ContactPerson</td>
                                    <td>@item.CountryCode</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.WhatsappNo</td>
                                    <td>@item.LinkedInProfile</td>
                                    <td>@item.EmailId</td>


                                    <td>@item.CINNo</td>
                                    <td>
                                        @{
                                            int rating;
                                            bool isValid = int.TryParse(item.CompanyRating, out rating); // Convert NVARCHAR to integer
                                            rating = isValid ? rating : 0; // Default to 0 if null or invalid
                                        }
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (rating > 0) // For ratings greater than 0
                                            {
                                                if (i <= rating)
                                                {
                                                    <span class="fa fa-star" style="color: gold;"></span> <!-- Filled Star -->
                                                }
                                                else
                                                {
                                                    <span class="fa fa-star-o" style="color: gold;"></span> <!-- Empty Star -->
                                                }
                                            }
                                            else // For 0 or NULL ratings
                                            {
                                                <span class="fa fa-star-o" style="color: gray;"></span> <!-- Neutral Empty Star -->
                                            }
                                        }
                                    </td>
                                    <td>@item.Stage</td>
                                    <td>@item.AreaInSqureFt</td>
                                    <td>@(item.ContractStartDate != null ? item.ContractStartDate.ToString("dd/MMM/yyyy") : " - ")</td>
                                    <td>@(item.ContractEndDate != null ? item.ContractEndDate.ToString("dd/MMM/yyyy") : " - ")</td>
                                    <td>@item.ExpectedContractValue</td>
                                    <td>@item.RateRevision</td>
                                    <td>@item.DurationInMonths</td>
                                    <td>@item.PaymentTermsInDays</td>
                                    <td>@item.PenaltyApplicable</td>
                                    <td>@item.NeedsPatrolling</td>
                                    <td>@item.PatrollingNotes</td>
                                    <td>@item.ReferenceName</td>
                                    <td>@item.TenderApplicable</td>
                                    <td>@item.TenderNumber</td>
                                    <td>@item.Tendersource</td>


                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>


