
@model KompassHR.Areas.CRMS.Models.MAS_CHKMEASUR

@{
    ViewBag.Title = "MAS_CHKMAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
       
    </ol>

    <div>
        <button type="button" class="btn btn-primary mb-3" onclick="location.href='@Url.Action("CheckMaster","CRM",new { Id= ViewBag.Accmain})'">
            <i class="fa fa-list fa-sm" title="List"></i> List
        </button>
    </div>

    <div class="panel panel-inverse" data-sortable-id="table-basic-4">
        <div class="panel-heading">
            <h4 class="panel-title">Check Master</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>


        <div class="panel-body">
            <form id="LocationCategoryForm">


                <div class="row">
                    <!-- Site Name -->
                    <div class="col-md-6 mb-3">
                        <label for="SiteName" class="form-label">Site Name <span class="text-danger">*</span></label>
                        @if (Model.Fid > 0)  // Edit mode
                        {
                            <input type="text" class="form-control" value="@ViewBag.SiteName" readonly />
                                <input type="hidden" name="ACCSITES_Fid" value="@Model.ACCSITES_Fid" />
                        }
                        else  // Create mode
                        {
                            <select name="ACCSITES_Fid" class="form-control form-select" required>
                                <option value="">-- Select Site --</option>
                                @foreach (var site in ViewBag.SiteList)
                {
                                    <option value="@site.Fid" @(Model.ACCSITES_Fid == site.Fid ? "selected" : "")>
                                        @site.SiteName
                                    </option>
                                }
                            </select>
                        }
                    </div>

                    <!-- Activity Name -->
                    <div class="col-md-6 mb-3">
                        <label for="ActivityName" class="form-label">Activity Name <span class="text-danger">*</span></label>
                        @if (Model.Fid > 0)
                        {
                            <input type="text" class="form-control" value="@ViewBag.ActivityName" readonly />
                                <input type="hidden" name="MAS_CHKMOPS_Fid" value="@Model.MAS_CHKMOPS_Fid" />
                        }
                        else
                        {
                            <select name="MAS_CHKMOPS_Fid" class="form-control form-select" required>
                                <option value="">-- Select Activity --</option>
                                @foreach (var activity in ViewBag.Activity)
                {
                                    <option value="@activity.Fid" @(Model.MAS_CHKMOPS_Fid == activity.Fid ? "selected" : "")>
                                        @activity.ActivityName
                                    </option>
                                }
                            </select>
                        }
                    </div>

                    <!-- Reporting Role -->
                    <div class="col-md-6 mb-3">
                        <label for="ReportingRole" class="form-label">Reporting Role <span class="text-danger">*</span></label>
                        @if (Model.Fid > 0)
                        {
                            <input type="text" class="form-control" value="@ViewBag.ReportingRole" readonly />
                                <input type="hidden" name="MAS_REPORLEVEL_Fid" value="@Model.MAS_REPORLEVEL_Fid" />
                        }
                        else
                        {
                            <select name="MAS_REPORLEVEL_Fid" class="form-control form-select" required>
                                <option value="">-- Select Role --</option>
                                @foreach (var report in ViewBag.Report)
                                {
                                    <option value="@report.Fid" @(Model.MAS_REPORLEVEL_Fid == report.Fid ? "selected" : "")>
                                        @report.ReportingRole
                                    </option>
                                }
                            </select>
                        }
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="mb-2" for="ActivityCount">Activity Count<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.ActivityCount, new { @class = "form-control", type = "number", min = "1", required = "required" })
                    </div>
                    <!-- Activity Unit (Editable) -->
                    <div class="col-md-6 mb-3">
                        <label class="mb-2" for="ActivityUnit">Activity Unit(In Days)<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.ActivityUnit, new { @class = "form-control", type = "number", min = "1", required = "required" })
                    </div>
                </div>



                <!-- Submit Button -->
                <div class="text-center mt-4">
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div id="footer" class="app-footer m-0">
        &copy;
        <script>document.write(new Date().getFullYear())</script> Probus Software. All Rights Reserved
    </div>
</div>







<script>
$("#btnSave").click(function (e) {
    e.preventDefault(); // Prevent default form submission

    var formData = {
        Fid: "@(Model?.Fid ?? 0)",  // Get Fid from model, default to 0 for insert
        ACCSITES_Fid: $("select[name='ACCSITES_Fid']").val(),
        MAS_CHKMOPS_Fid: $("select[name='MAS_CHKMOPS_Fid']").val(),
        MAS_REPORLEVEL_Fid: $("select[name='MAS_REPORLEVEL_Fid']").val(),
        ActivityCount: $("input[name='ActivityCount']").val(),
        ActivityUnit: $("input[name='ActivityUnit']").val()
    };

    // Validate required fields
    if (!formData.ActivityCount || !formData.ActivityUnit) {
        Swal.fire({
            icon: 'warning',
            title: 'Validation Error!',
            text: 'Please fill all required fields.'
        });
        return;
    }

    // Disable button to prevent multiple submissions
    $("#btnSave").prop("disabled", true).text("Saving...");

    // AJAX Call to Save or Update Data
    $.ajax({
        url: '@Url.Action("MAS_CHKMAS", "CRM")',
        type: 'POST',
        data: formData,
        dataType: 'json',
        success: function (response) {
            Swal.fire({
                icon: response.status,
                title: response.message
            }).then(() => {
                if (response.status === "success") {
                    window.location.reload();
                } else {
                    $("#btnSave").prop("disabled", false).text("Save");
                }
            });
        },
        error: function () {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Something went wrong, please try again.'
            });
            $("#btnSave").prop("disabled", false).text("Save");
        }
    });
});
</script>

