
@{
    ViewBag.Title = "OpportunityList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .mailbox-content-body1 {
        height: 500px; /* Adjust the height as needed */
        overflow-y: auto; /* Enables vertical scrolling */
    }
</style>

<style>
    .searchbtn {
        display: flex;
        position: relative;
    }

        .searchbtn input {
            width: 170px;
        }

        .searchbtn button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            background: 0 0;
            border-radius: 0 30px 30px 0;
            display: flex;
            align-items: center;
        }

    #ESSDashboard .menu-submenu {
        box-sizing: border-box;
        display: block;
    }

        #ESSDashboard .menu-submenu .Opportunity {
            font-size: 14px;
            color: #fff !important;
        }

    .page-num.active {
        background-color: #007bff;
        color: white;
    }

    .page-num {
        margin: 0 2px;
        cursor: pointer;
    }

    .btn-group button {
        margin: 0 2px;
    }

        .btn-group button :hover {
            cursor: pointer;
        }
</style>


<script>
    $(document).ready(function () {
        $("#ESSDashboard").addClass("expand");;
    });


</script>

@if (Convert.ToBoolean(Session["IsMobile"]) != false)
{
    <style>
        .MobileHidden {
            display: none !important;
        }

        .app-header-fixed {
            padding-top: 20px !important;
        }

        .mailbox-sidebar-header.d-flex.justify-content-center {
            justify-content: end !important;
        }
    </style>
}


<div id="content" class="app-content p-0">

    <div class="row">
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("CRM_SalesForce_Menu", "CRM_SalesForce_Menu", new { id = 45,ScreenId=801, area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>
    <br />


    <!-- BEGIN mailbox -->
    <div class="mailbox">
        <!-- BEGIN mailbox-sidebar -->
        <div class="mailbox-sidebar">
            <div class="mailbox-sidebar-header d-flex justify-content-center">
                <a href="#emailNav" data-bs-toggle="collapse" class="btn btn-dark btn-sm me-auto d-block d-lg-none MobileHidden">
                    <i class="fa fa-cog"></i>
                </a>

            </div>
            <div class="mailbox-sidebar-content collapse d-lg-block" id="emailNav">
                <!-- BEGIN scrollbar -->
                <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
                    <div class="nav-title"><b>Quick Menu</b></div>
                    <ul class="nav nav-inbox">
                        @*<li class="active"><a href="email_inbox.html"><i class="fa fa-hdd fa-lg fa-fw me-2"></i>Service<span class="badge bg-gray-600 fs-10px rounded-pill ms-auto fw-bolder pt-4px pb-5px px-8px">52</span></a></li>*@
                        <li><a href="@Url.Action("AddOpportunityContact", "CRM", new { area = "CRMS" })"><i class="fa fa-square-phone fa-lg fa-fw me-2"></i> Contact</a></li>
                        <li><a href="@Url.Action("AddOpportunityLocation", "CRM", new { area = "CRMS" })"><i class="fa fa-location-dot fa-lg fa-fw me-2"></i>Location</a></li>
                        <li><a href="@Url.Action("AddOpportunityCommunication", "CRM", new { area = "CRMS" })"><i class="fa fa-comments fa-lg fa-fw me-2"></i>Communication</a></li>
                        <li><a href="@Url.Action("AddOpportunityActivity", "CRM", new { area = "CRMS" })"><i class="fa fa-list-check fa-lg fa-fw me-2"></i>Activities</a></li>
                        @*<li><a href="@Url.Action("AddLeadActivity", "CRM", new { area = "CRM" })"><i class="fa fa-trash-alt fa-lg fa-fw me-2"></i>Activities</a></li>*@

                    </ul>
                </div>
                <!-- END scrollbar -->
            </div>
        </div>
        <!-- END mailbox-sidebar -->
        <!-- BEGIN mailbox-content -->
        <div class="mailbox-content">
            <div class="mailbox-content-header">
                <!-- BEGIN btn-toolbar -->
                <div class="btn-toolbar align-items-center">
                    @*<div class="form-check me-2">
                            <input type="checkbox" class="form-check-input" data-checked="email-checkbox" id="emailSelectAll" data-change="email-select-all" />
                            <label class="form-check-label" for="emailSelectAll"></label>
                        </div>*@
                    <div class="dropdown me-2">
                        <button id="sortbtn" class="btn btn-white btn-sm" data-bs-toggle="dropdown">
                            View All <span class="caret ms-3px"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="javascript:;" class="dropdown-item" onclick="Stage('All')"><i class="fa fa-circle fs-9px fa-fw me-2"></i> All</a>
                            <a href="javascript:;" class="dropdown-item" onclick="Stage('Proposal')"><i class="fa fa-circle fs-9px fa-fw me-2 text-success"></i> Proposal</a>
                            <a href="javascript:;" class="dropdown-item" onclick="Stage('Under Review')"><i class="fa fa-circle fs-9px fa-fw me-2 text-blue"></i> Under Review</a>
                            <a href="javascript:;" class="dropdown-item" onclick="Stage('Negotiations')"><i class="fa fa-circle fs-9px fa-fw me-2 text-warning"></i> Negotiations</a>
                        </div>
                    </div>

                    <div class="button me-2">
                        <button class="btn btn-white btn-sm" onclick="location.href='@Url.Action("OppportunityTransfer", "CRM", new { area = "CRMS" })'">
                            Opportunity Transfer
                        </button>
                    </div>
                    <div class="button me-2">
                        <button class="btn btn-white btn-sm" onclick="location.href='@Url.Action("ViewListList", "CRM", new {modules="Opportunity", area = "CRMS" })'">
                            Reports
                        </button>
                    </div>

                    <div class="form-group searchbtn">
                        <input type="text" id="searchInput" class="form-control" placeholder="Enter keyword">
                        <button type="button" id="searchButton" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="w-100 d-sm-none d-block mb-2 hide" data-email-action="divider"></div>
                    <!-- BEGIN btn-group -->
                    <!-- END btn-group -->
                </div>
                <!-- END btn-toolbar -->
            </div>
            <div class="mailbox-content-body">
                <div id="mailbox-list" data-height="100%" data-skip-mobile="true" class="mailbox-content-body1">
                    <!-- BEGIN list-email -->
                    @*@foreach (var item in ViewBag.List)
                        {
                            <ul class="list-group list-group-lg no-radius list-email">
                                <li class="list-group-item unread @item.Stage"  data-leadname="@item.LeadName" data-companyname="@item.CompanyName" data-summary="@item.Summary">
                                    <div class="email-checkbox">
                                        <div class="form-check">
                                            <label class="form-check-label" for="emailCheckbox1"></label>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("OpportunityDetails", "CRM", new { EncryptedId= @item.Encrypted_Id })" class="email-user bg-blue">
                                        <span class="text-white">O</span>
                                    </a>
                                    <div class="email-info">
                                        <a href="@Url.Action("OpportunityDetails", "CRM", new { EncryptedId= @item.Encrypted_Id  })">
                                            <span class="email-sender">@item.LeadName</span>
                                            <span class="email-title">@item.CompanyName</span>
                                            <span class="email-desc">@HtmlHelpers.StripHtmlTags(item.Summary)</span>
                                            <span class="email-time" style="justify-content:flex-start; margin-left: 10px;">
                                                @for (int i = 0; i < item.CompanyRating; i++)
                                                {
                                                    <i class="fas fa-star text-warning"></i>
                                                }
                                            </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        }*@
                    <!-- END list-email -->
                </div>
            </div>
            <div id="pagination" class="mailbox-content-footer d-flex align-items-center">

                @*<div class="text-dark fw-bold">1,232 messages</div>
                    <div class="btn-group ms-auto">
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-fw fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </button>
                    </div>*@
            </div>
            @*<div class="mailbox-content-footer d-flex align-items-center">
                    <div class="text-dark fw-bold">1,232 messages</div>
                    <div class="btn-group ms-auto">
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-fw fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </button>
                    </div>
                </div>*@
        </div>

        <!-- END mailbox-content -->
    </div>
    <!-- END mailbox -->
</div>


<script>
    $(document).ready(function () {
        // Load all records into the list
        debugger
        var allData = @Html.Raw(Json.Encode(ViewBag.List)); // Get all the data passed from the controller
        var currentPage = 1;
        var pageSize = 10;
        var totalPages = Math.ceil(allData.length / pageSize);
        // Function to render the list based on the current page and search term




        window.Stage = function(e) {
            debugger
            if (e == "Proposal") {
                $('#sortbtn').text(e + ' ').append('<span class="caret ms-3px"></span>');


                //$(".Negotiations").css("display", "none");
                //$(".Under").css("display", "none");
                //$(".Lost ").css("display", "none");

            }
            if (e == "Under Review") {
                $('#sortbtn').text(e + ' ').append('<span class="caret ms-3px"></span>');
                //$(".Under").css("display", "flex");
                //$(".Proposal").css("display", "none");
                //$(".Negotiations").css("display", "none");
                //$(".Lost ").css("display", "none");
            }
            if (e == "Negotiations") {
                $('#sortbtn').text(e + ' ').append('<span class="caret ms-3px"></span>');


                //$(".Negotiations").css("display", "flex");
                //$(".Proposal").css("display", "none");
                //$(".Under").css("display", "none");
                //$(".Lost ").css("display", "none");
            }
            else if (e == "All") {
                $('#sortbtn').text('View All' + ' ').append('<span class="caret ms-3px"></span>');
                //$(".Proposal").css("display", "flex");
                //$(".Under").css("display", "flex");
                //$(".Negotiations").css("display", "flex");
                //$(".Lost ").css("display", "flex");
            }
            renderList(allData,1);
        }

        function renderList(data, page) {


            debugger
            var filteredData = data.filter(function (item) {

                var searchTerm = $('#searchInput').val().toLowerCase();
                return item.LeadName.toLowerCase().includes(searchTerm) ||
                       item.CompanyName.toLowerCase().includes(searchTerm) ||
                       item.Summary.toLowerCase().includes(searchTerm);
            });
            debugger
            var text = $('#sortbtn').text();
            if ($('#sortbtn').text().includes("Proposal")) {
                filteredData = filteredData.filter(item => item.Stage === "Proposal");
            }
            else if ($('#sortbtn').text().includes("Negotiations")) {
                filteredData = filteredData.filter(item => item.Stage === "Negotiations");
            }
            else if ($('#sortbtn').text().includes("Under Review")) {
                filteredData = filteredData.filter(item => item.Stage === "Under Review");
            }
            else {
                filteredData = filteredData; // If "All" is selected, show everything
            }

            var paginatedData = filteredData.slice((page - 1) * pageSize, page * pageSize);

            var listHtml = '';
            paginatedData.forEach(function (item) {

                listHtml += `
                    <ul class="list-group list-group-lg no-radius list-email">
                        <li class="list-group-item unread ${item.Stage}" data-leadname="${item.LeadName}" data-companyname="${item.CompanyName}">
                            <div class="email-checkbox">
                                <div class="form-check">
                                    <label class="form-check-label" for="emailCheckbox1"></label>
                                </div>
                            </div>
                            <a href="/CRMS/CRM/OpportunityDetails?EncryptedId=${item.Encrypted_Id}" class="email-user bg-blue">
                                <span class="text-white">L</span>
                            </a>
                            <div class="email-info">
                                <a href="/CRMS/CRM/OpportunityDetails?EncryptedId=${item.Encrypted_Id}">
                                    <span class="email-sender">${item.LeadName}</span>
                                    <span class="email-title">${item.CompanyName}</span>

                                    <span class="email-time" style="justify-content:flex-start; margin-left: 10px;">
                                        ${Array(item.CompanyRating).fill('<i class="fas fa-star text-warning"></i>').join('')}
                                    </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                `;
            });
            //<span class="email-desc">${item.Summary}</span>
            $('#mailbox-list').html(listHtml); // Insert the list into the page
            renderPagination(filteredData.length, page);
        }

        // Function to render the pagination controls


        function renderPagination(totalItems, currentPage) {
            debugger

            var paginationHtml = `
        <div class="text-dark fw-bold">${totalItems} results</div>
        <div class="btn-group ms-auto">
    `;

            // "First" and "Prev" buttons
            if (currentPage > 1) {
                paginationHtml += `<button class="btn btn-white btn-sm" id="firstPage">First</button>`;
                paginationHtml += `<button class="btn btn-white btn-sm" id="prevPage">Prev</button>`;
            }

            // Page number range (show 5 before and 5 after the current page)
            var startPage = Math.max(1, currentPage - 2);
            var endPage = Math.min(Math.ceil(totalItems / pageSize), currentPage + 2);
            endPage = totalItems <= pageSize ? startPage : endPage;
            totalPages = endPage === 1 ? 1 : Math.ceil(allData.length / pageSize);
            // Display page numbers
            for (var i = startPage; i <= endPage; i++) {
                paginationHtml += `
            <button class="btn btn-white btn-sm page-num ${i === currentPage ? 'active' : ''}" data-page="${i}">${i}</button>
        `;
            }

            // "Next" and "Last" buttons
            if (currentPage < totalPages) {
                paginationHtml += `<button class="btn btn-white btn-sm" id="nextPage">Next</button>`;
                paginationHtml += `<button class="btn btn-white btn-sm" id="lastPage">Last</button>`;
            }

            paginationHtml += `</div>`;
            $('#pagination').html(paginationHtml); // Insert pagination controls into the page
        }


        //    function renderPagination(totalItems, currentPage) {
        //        var totalPages = Math.ceil(totalItems / pageSize);
        //        var paginationHtml = `
        //    <div class="text-dark fw-bold">${totalItems} results</div>
        //    <div class="btn-group ms-auto">
        //`;

        //        // Previous page button
        //        if (currentPage > 1) {
        //            paginationHtml += `<button class="btn btn-white btn-sm" id="prevPage">Prev</button>`;
        //        }

        //        // Page number buttons
        //        for (var i = 1; i <= totalPages; i++) {
        //            paginationHtml += `
        //        <button class="btn btn-white btn-sm page-num ${i === currentPage ? 'active' : ''}" data-page="${i}">${i}</button>
        //    `;
        //        }

        //        // Next page button
        //        if (currentPage < totalPages) {
        //            paginationHtml += `<button class="btn btn-white btn-sm" id="nextPage">Next</button>`;
        //        }

        //        paginationHtml += `</div>`;
        //        $('#pagination').html(paginationHtml); // Insert pagination controls into the page
        //    }

        //function renderPagination(totalItems, currentPage) {
        //    var totalPages = Math.ceil(totalItems / pageSize);
        //    var paginationHtml = `
        //        <div class="text-dark fw-bold">${totalItems} results</div>
        //        <div class="btn-group ms-auto">
        //            ${currentPage > 1 ? `<button class="btn btn-white btn-sm" id="prevPage">Prev</button>` : ''}
        //            ${currentPage < totalPages ? `<button class="btn btn-white btn-sm" id="nextPage">Next</button>` : ''}
        //        </div>
        //    `;

        //    $('#pagination').html(paginationHtml); // Insert pagination controls into the page
        //}

        // Event listener for the search input field
        $('#searchInput').on('keyup', function () {
            renderList(allData, 1); // Re-render the list whenever the search term changes
        });

        // Event listener for the search button
        $('#searchButton').on('click', function () {
            renderList(allData, 1); // Trigger the search and render list
        });
        // Event listener for "First" page
        $(document).on('click', '#firstPage', function () {
            currentPage = 1; // Set the page to the first page
            renderList(allData, currentPage); // Re-render the list
        });

        // Event listener for "Prev" button
        $(document).on('click', '#prevPage', function () {
            if (currentPage > 1) {
                currentPage--;
                renderList(allData, currentPage); // Re-render the list when the previous page is clicked
            }
        });

        // Event listener for pagination page numbers
        $(document).on('click', '.page-num', function () {
            var page = $(this).data('page');
            currentPage = page; // Set the current page to the clicked page
            renderList(allData, currentPage); // Re-render the list when a page number is clicked
        });

        // Event listener for "Next" button
        $(document).on('click', '#nextPage', function () {
            var totalPages = Math.ceil(allData.filter(item =>
                item.LeadName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
                item.CompanyName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
                item.Summary.toLowerCase().includes($('#searchInput').val().toLowerCase())
            ).length / pageSize);

            if (currentPage < totalPages) {
                currentPage++;
                renderList(allData, currentPage); // Re-render the list when the next page is clicked
            }
        });

        // Event listener for "Last" page
        $(document).on('click', '#lastPage', function () {
            currentPage = totalPages; // Set the page to the last page
            renderList(allData, currentPage); // Re-render the list
        });





        //$(document).on('click', '.page-num', function () {
        //    var page = $(this).data('page');
        //    currentPage = page; // Set the current page to the clicked page
        //    renderList(allData, currentPage); // Re-render the list when a page number is clicked
        //});

        //// Pagination event listeners

        //$(document).on('click', '#prevPage', function () {
        //    if (currentPage > 1) {
        //        currentPage--;
        //        renderList(allData, currentPage); // Re-render the list when the previous page is clicked
        //    }
        //});

        ////$(document).on('click', '#prevPage', function () {
        ////    if (currentPage > 1) {
        ////        currentPage--;
        ////        renderList(allData, currentPage); // Re-render list when previous page is clicked
        ////    }
        ////});


        //$(document).on('click', '#nextPage', function () {
        //    var totalPages = Math.ceil(allData.filter(item =>
        //        item.LeadName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
        //        item.CompanyName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
        //        item.Summary.toLowerCase().includes($('#searchInput').val().toLowerCase())
        //    ).length / pageSize);

        //    if (currentPage < totalPages) {
        //        currentPage++;
        //        renderList(allData, currentPage); // Re-render the list when the next page is clicked
        //    }
        //});

        //$(document).on('click', '#nextPage', function () {
        //    debugger
        //    var totalPages = Math.ceil(allData.filter(item =>
        //        item.LeadName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
        //        item.CompanyName.toLowerCase().includes($('#searchInput').val().toLowerCase()) ||
        //        item.Summary.toLowerCase().includes($('#searchInput').val().toLowerCase())
        //    ).length / pageSize);
        //    debugger
        //    if (currentPage < totalPages) {
        //        currentPage++;
        //        renderList(allData, currentPage); // Re-render list when next page is clicked
        //    }
        //});

        // Initial render
        renderList(allData, currentPage);
    });
</script>


<script>
    //$(document).ready(function () {
    //    $('#searchInput').on('keyup', function () {
    //        var keyword = $(this).val().toLowerCase();

    //        $('.list-group-item').each(function () {
    //            var leadName = $(this).data('leadname') ? $(this).data('leadname').toLowerCase() : '';
    //            var companyName = $(this).data('companyname') ? $(this).data('companyname').toLowerCase() : '';
    //            var summary = $(this).data('summary') ? $(this).data('summary').toLowerCase() : '';

    //            if (leadName.includes(keyword) || companyName.includes(keyword) || summary.includes(keyword)) {
    //                $(this).show();
    //            } else {
    //                $(this).hide();
    //            }
    //        });
    //    });

    //    $('#searchButton').on('click', function () {
    //        $('#searchInput').trigger('keyup');
    //    });
    //});
</script>



