@model KompassHR.Areas.CRMS.Models.ACCMAIN

@{
    ViewBag.Title = "OpportunityDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #e4e7e8;
    }
</style>

<style>
    #nv-stacked-area-chart1 svg:nth-of-type(2) {
        display: none;
    }
</style>

<style>
    p {
        margin-top: -8px;
        margin-bottom: 0.9375rem;
    }

    .note .note-content {
        padding: 5px;
        flex: 1;
        margin-bottom: -18px;
    }

    .note .note-icon {
        width: 72px;
        font-size: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-primary {
        background-color: #b3d7ff;
        color: #00254d;
        height: 86px;
    }

    .alert-warning {
        background-color: #ffdfb3;
        color: #4d2d00;
    }

    .alert-gray-500 {
        background-color: #dedede;
        color: #2c2c2c;
    }


    .alert-success {
        background-color: #d4edda;
        color: #155724;
    }

    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
    }
</style>

<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">

    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header mb-3">Opportunity Dashboard</h1>
    <!-- END page-header -->
    <!-- BEGIN daterange-filter -->
    @using (Html.BeginForm("OpportunityDashboard", "CRM", FormMethod.Post, new { id = "SENDDATA", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-lg-2 col-md-4 col-12 mb-3 mb-md-0 order-1 order-md-0">
                @Html.TextBoxFor(model => model.Fdate, "{0:yyyy-MM}", new
           {
               @class = "btn btn-white text-truncate form-control w-100",
               type = "month",
               id = "single-date",
               //value = mmValue,
               autocomplete = "Off",
               onchange = "updateDate()"
           })
            </div>

            <div class="col-md-6 col-12 mb-3 me-2 order-0 order-md-1">
                <a href="@Url.Action("CRM_Dashboard1", "CRM", new { area = "CRMS" })" class="btn btn-warning me-2" style="width: 51px">
                    @*<i class="fa fa-home"></i>*@ MD
                </a>
                <a href="@Url.Action("LeadDashboard", "CRM", new { area = "CRMS" })" class="btn btn-success me-2" style="width: 51px">
                    @*<i class="fa fa-home"></i>*@ LD
                </a>

                <a href="@Url.Action("AccountDashboard", "CRM", new { area = "CRMS" })" class="btn btn-primary me-2" style="width: 51px">
                    @*<i class="fa fa-home"></i>*@ AD
                </a>
            </div>
        </div>
    }
    <!-- END daterange-filter -->
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-xl-6">
            <!-- BEGIN card -->
            <div class="card border-0 mb-3 overflow-hidden text-dark">
                <!-- BEGIN card-body -->
                <div class="card-body">
                    <!-- BEGIN row -->
                    <div class="row">
                        <!-- BEGIN col-7 -->
                        <div class="col-xl-7 col-lg-8">
                            <!-- BEGIN title -->
                            <div class="mb-3">
                                <b>Total Contract Value</b>
     
                            </div>
                            <!-- END title -->
                            <!-- BEGIN total-sales -->
                            <div class="d-flex mb-1">
                                <h2 class="mb-0">₹<span data-animation="number" data-value="@ViewBag.SumTCV.SumTCV">0.00</span></h2>
                            </div>
                            <!-- END total-sales -->
                            <!-- BEGIN percentage -->
                            <div class="mb-3">
                                @*<i class="fa fa-caret-up"></i> <span data-animation="number" data-value="33.21">0.00</span>% compare to last week*@
                            </div>
                            <!-- END percentage -->
                            <hr />
                            <!-- BEGIN row -->
                            <div class="row text-truncate">
                                <!-- BEGIN col-6 -->
                                <div class="col-6">
                                    <div class="">Number Of Proposals</div>
                                    <div class="fs-18px mb-5px fw-bold" data-animation="number" data-value="@ViewBag.CountTP.ProposalCount">0</div>
                                    <div class="progress h-5px rounded-3 bg-silver mb-5px">
                                        <div class="progress-bar progress-bar-striped rounded-right bg-green" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- END col-6 -->
                                <!-- BEGIN col-6 -->
                                <div class="col-6">
                                    <div class="">Avg. Proposal per Month</div>
                                    <div class="fs-18px mb-5px fw-bold">₹<span data-animation="number" data-value="@ViewBag.AvgTP"></span></div>
                                    <div class="progress h-5px rounded-3 bg-silver mb-5px">
                                        <div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- END col-6 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END col-7 -->
                        <!-- BEGIN col-5 -->
                        <div class="col-xl-5 col-lg-4 align-items-center d-flex justify-content-center">
                            <img src="~/assets/img/svg/img-1.svg" height="100" class="d-none d-lg-block" />
                        </div>
                        <!-- END col-5 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END card-body -->
            </div>
            <!-- END card -->
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-xl-6">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-6 -->
                <div class="col-sm-6">
                    <!-- BEGIN card -->
                    @*<div class="col-sm-6">*@
                    <!-- BEGIN widget-card -->
                    <a href="#" class="widget-card rounded" data-id="widget">
                        <div class="widget-card-cover rounded" style="background-image: url(/assets/img/gallery/gallery-portrait-11-thumb.jpg) ;filter: blur(2px)"></div>
                        <div class="widget-card-content" style="padding-bottom:0px">
                            <b class="text-white"></b>
                        </div>
                        <div class="widget-card-content bottom">
                            <i class="fab fa-pushed fa-5x text-indigo"></i>
                            <h3 class="text-white mt-10px"><b>@ViewBag.ActivityCount<br /></b></h3>
                            <h4 class="text-white mt-10px"><b>Number Of Activity Performed</b></h4>
                        </div>
                    </a>
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-sm-6 mb-10px">
                    <div class="card border-0 bg-dark text-white">
                        <div class="h-200px rounded-top card-img" style="background-image: url('/assets/img/gallery/gallery-10.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; filter: blur(5px)"></div>
                        <div class="card-img-overlay">
                            <h4 class="card-title">Total Comunication Count</h4>
                            @if (ViewBag.CommunicationCount != null)
                            {
                                <p class="card-text"><h4>@ViewBag.CommunicationCount.CommunicationCount</h4></p>
                            }
                            <p class="card-text">This is counting how many communication entries exist for prospects who are not in the "Lost" stage and have valid, non-deleted communication records.</p>
                        </div>
                    </div>
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="row gx-2 mb-20px">
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-teal mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title text-black">OpportunityCount</div>
                            <div class="stats-number">@ViewBag.OpportunityCount.OpportunityCount</div>
                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-blue mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title text-black">Praposal Amount</div>
                            <div class="stats-number">@ViewBag.ExpectedClosingCount</div>

                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-purple mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                        <div class="stats-content">

                            <div class="stats-title">Total Managment Value</div>
                            <div class="stats-number" style="font-size:large; margin-bottom:23px;">@ViewBag.ManagementCount</div>
                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-orange mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">PENDING INVOICE</div>
                            <div class="stats-number">20</div>
                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-dark mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">Tender Applicable</div>
                            <div class="stats-number">@ViewBag.TenderApplCount.TenderApplCount</div>
                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
                <!-- BEGIN col-4 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-stats bg-pink mb-7px">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-exclamation-triangle fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">Service Count</div>
                            <div class="stats-number">@ViewBag.Count</div>

                        </div>
                    </div>
                </div>
                <!-- END col-4 -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-inverse" data-sortable-id="ui-general-3">
                <!-- BEGIN panel-heading -->
                <div class="panel-heading bg-warning">
                    <h4 class="panel-title">Notes</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- END panel-heading -->
                <!-- BEGIN panel-body -->
                <div class="panel-body">
                    @{
                        var alertClasses = new[] { "alert-primary", "alert-success", "alert-warning", "alert-gray-500", "alert-info" };
                        int index = 0;
                    }

                    <div data-scrollbar="true" data-height="230px" style="height: 230px;">
                        @if (ViewBag.Opportunity != null)
                        {
                            foreach (var item in ViewBag.Opportunity)
                            {

                                var firstLetter = string.IsNullOrEmpty(item.CompanyName) ? "?" : item.CompanyName.ToString().Substring(0, 1).ToUpper();
                                var alertClass = alertClasses[index % alertClasses.Length]; // Rotate colors

                                <div class="note @alertClass mb-2 d-flex align-items-center">
                                    <div class="note-icon me-2">
                                        <div style="width: 39px; height: 38px; background-color: #c5f2ec; color: black; display: flex; align-items: center; justify-content: center; border-radius: 50%; font-weight: initial;">
                                            @firstLetter
                                        </div>
                                    </div>

                                    <div class="note-content">
                                        <h4><b>@item.CompanyName</b></h4>
                                        <p>
                                            <strong>Lead:</strong> @item.LeadName<br />
                                            <strong>Stage:</strong> @item.Stage
                                        </p>
                                    </div>
                                </div>

                                index++; // Only increment when a company is shown
                            }

                        }
                        else
                        {
                            <div class="note alert-secondary">
                                <div class="note-content">
                                    <p>No opportunities found.</p>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN row -->
        <div class="row">

            <div class="widget rounded mb-4" data-id="widget">
                <!-- BEGIN widget-header -->
                <div class="widget-header">
                    <h4 class="widget-header-title">Audience Overview</h4>
                    <div class="widget-header-icon"><a href="#" class="text-body text-opacity-50"><i class="fa fa-fw fa-upload"></i></a></div>
                    <div class="widget-header-icon"><a href="#" class="text-body text-opacity-50"><i class="fa fa-fw fa-cog"></i></a></div>
                </div>
                <!-- END widget-header -->
                <!-- BEGIN widget-content -->
                <div class="row m-0">
                    <div class="col widget-chart-content">
                        <div id="nv-stacked-area-chart1" style="height: 108%"></div>
                    </div>

                    <div class="col-lg-4 p-3">
                        <div class="widget-chart-info">
                            <h4 class="widget-chart-info-title">Opportunity</h4>
                            <p class="widget-chart-info-desc">Opportunity Count by its Stages.</p>
                            @foreach (var item in ViewBag.OpportunityCountAll)
                            {
                                <div class="widget-chart-info-progress">
                                    <b>@item.Stage</b>
                                    <span class="float-end">@item.counts</span>
                                </div>
                                <br />
                            }
                        </div>
                        <hr />         
                    </div>
                </div>
                <!-- END widget-content -->
            </div>

            <!-- END col-4 -->
        </div>
        <!-- END row -->
    </div>

   </div>
    <script src="~/assets/js/demo/chart-d3.demo.js"></script>

    @*new chart*@
    <script>
    var handleStackedAreaChart = function () {
        "use strict";
        debugger
        var List = @Html.Raw(Json.Encode(ViewBag.Data));
        //var LeadList = @Html.Raw(Json.Encode(ViewBag.LeadgraphData));

        function parseDate(dateString) {
            const timestamp = dateString.replace('/Date(', '').replace(')/', '');
            return parseInt(timestamp, 10); // Return the timestamp as an integer
        }

        var stackedAreaChartData = [
          {
              'key': 'OpportunityCount',
              'color': 'red',
              'values': []
              }
        ];

        List.forEach(function(entry) {
            var opportunityCount = entry.find(item => item.Key === 'OpportunityCount').Value;
            var date = entry.find(item => item.Key === 'date').Value;
            var timestamp = parseDate(date);
            stackedAreaChartData[0].values.push([timestamp, opportunityCount]);  // For OpportunityCount
        });

        stackedAreaChartData.forEach(function(series) {
            series.values.sort(function(a, b) {
                return a[0] - b[0]; // Sort by the timestamp (first element of the array)
            });
        });

        nv.addGraph(function () {
            var stackedAreaChart = nv.models.stackedAreaChart()
                .useInteractiveGuideline(true)
                .x(function (d) { return d[0] })
                .y(function (d) { return d[1] })
                .controlLabels({ stacked: 'Stacked' })
                .showControls(false)
                .duration(300);

            stackedAreaChart.xAxis.tickFormat(function (d) {
                return d3.time.format('%b %d')(new Date(d));
            });
            //stackedAreaChart.yAxis.tickFormat(d3.format(',.4f'));

            d3.select('#nv-stacked-area-chart1')
              .append('svg')
              .datum(stackedAreaChartData)
              .transition().duration(1000)
              .call(stackedAreaChart)
              .each('start', function () {
                  setTimeout(function () {
                      d3.selectAll('#nv-stacked-area-chart1 *').each(function () {
                          if (this.__transition__)
                              this.__transition__.duration = 1;
                      })
                  }, 0)
              });

            nv.utils.windowResize(stackedAreaChart.update);
            return stackedAreaChart;
        });
    };

    $(document).ready(function () {
        debugger
        handleStackedAreaChart();
    });
    </script>

    <script>

    function updateDate() {
        debugger;

        // Get the selected date value from the input
        const selectedDate = document.getElementById("single-date").value;
        if (selectedDate) {
            const dateParts = selectedDate.split("-");
            const year = dateParts[0];  // Year part (e.g., "2024")
            const month = dateParts[1]; // Month part (e.g., "10")
            console.log("Month:", month); // e.g., "10"
            console.log("Year:", year);   // e.g., "2024"
            var formattedDate = `${month}-${year}`;
            $("#SENDDATA").submit();
        }
    }
    </script>

