@model KompassHR.Areas.CRMS.Models.ACCOWNERS

@{
    ViewBag.Title = "OppportunityTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" defer></script>
@*<script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/vendor.min.js"></script>*@
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
        display: flex;
    }

    .active {
        background-color: #f0f0f0;
    }

    #ESSDashboard .menu-submenu {
        box-sizing: border-box;
        display: block;
    }

        #ESSDashboard .menu-submenu .Opportunity {
            font-size: 14px;
            color: #fff !important;
        }
</style>


<div id="content" class="app-content">
    <div class="row">
     
        <ol style="list-style: none; padding: 0; margin: 0; ">
            <li style="float:right; margin-right: 15px;">
                <a href="@Url.Action("OpportunityList", "CRM",  new { id = 45,ScreenId=804, area = "CRMS" })">
                    <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                </a>
            </li>
        </ol>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Opportunity Transfer Form</h4>
                    <div class="panel-heading-btn">
                        <a href="@Url.Action("OpportunityList", "CRM", new { area = "CRMS" })" class="btn btn-xs btn-icon btn-default">
                            <i class="fa fa-home fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" action="/CRMS/CRM/SaveOppportunityTransfer" id="SaveLeadTransfer" method="post" data-parsley-validate="">
                        <div class="row">
                            @*<div class="col-md-4 mb-3">
                                <label class="mb-2" for="fullname">Company Name:</label>
                                @Html.HiddenFor(model => model.BUCode, new { id = "cname" })
                                @Html.DropDownListFor(model => model.Mid, new SelectList(ViewBag.CompanyList, "Fid", "CompanyName"), "Select", new { @class = "form-control form-select", Id = "CompanyName1" })
                            </div>*@
                            <div class="col-md-4 mb-3">
                                <label class="mb-2" for="fullname">Company Name:</label>
                                @Html.HiddenFor(model => model.BUCode, new { id = "cname" })
                                @Html.DropDownListFor(model => model.Mid, new SelectList(ViewBag.CompanyList1, "Fid", "CompanyName"), "Select", new { @class = "form-control form-select", Id = "CompanyName1" })
                            </div>



                            <div class="col-md-4 mb-3">
                                <label class="mb-2" for="fullname">Lead Name:</label>
                                @Html.HiddenFor(model => model.BUCode, new { id = "BUCode" })
                                @Html.DropDownListFor(model => model.ACCMAIN_Fid,
                               Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control form-select", id = "ACCMAIN_Fid" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="mb-2" for="fullname">Employee Name :</label>
                                @Html.DropDownListFor(model => model.TranferBy_Fid, new SelectList(ViewBag.EmployeeList, "Fid", "EmployeeName"), "Select", new { @class = "form-control form-select", name = "TranferBy_Fid", Id = "txtTranferBy_Fid" })
                                <small id="employeeLeadCount" class="text-muted"></small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="leadRemark" class="form-label">Add Remark :</label>
                                @Html.TextAreaFor(model => model.TransferRemark, new { @class = "form-control", rows = "4", placeholder = "Enter your remarks here..." })
                            </div>

                        </div>
                        @*<div class="row">
                                <div class="col-md-3 mb-3">
                                    <label class="mb-2" for="fullname">Date :</label>
                                    @Html.TextBox("TransferDate", "", new { @class = "form-control", name = "TransferDate", id = "txtTransferDate", autocomplete = "off",type="date" })
                                </div>
                            </div>*@

                        <div class="form-group row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div class="panel-body inv" style="display:none; border:1px solid #ccc; padding:15px;">
                    <h4>Opportunity Summery</h4>
                    <table class="table table-bordered">
                        <tr><th>Lead Created Date</th><td id="LeadCreatedDate"></td></tr>
                        <tr><th>Created By</th><td id="CreatedBy"></td></tr>
                        <tr><th>Stage</th><td id="Stage"></td></tr>
                        <tr><th>Lead Source</th><td id="LeadSource"></td></tr>
                        <tr><th>Contact Person</th><td id="ContactPerson"></td></tr>
                        <tr><th>Email</th><td id="EmailId"></td></tr>
                        <tr><th>Mobile</th><td id="MobileNo"></td></tr>
                        @*<tr>
                                <th>Summary</th>
                                <td>
                                    <div id="summaryContainer">Loading...</div>
                                </td>
                            </tr>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#SaveLeadTransfer").validate({
        rules: {
            ACCMAIN_Fid: {
                required: true
            },
            TranferBy_Fid: {
                required: true
            },
            TransferDate: {
                required: true
            }
        },
        messages: {
            ACCMAIN_Fid: {
                required: "Company Name Is Required"
            },
            TranferBy_Fid: {
                required: "Employee Name Is Required"
            },
            TransferDate: {
                required: "Date Is Required"
            }
        }
    });



    var form1 = $("#SaveLeadTransfer");
    $("#btnSubmit").click(function () {
        debugger
        if (form1.valid()) {
            var ACCMAIN_Fid = $("#ACCMAIN_Fid").val();
            var TranferBy_Fid = $("#txtTranferBy_Fid").val();
            var TransferDate = $("#txtTransferDate").val();
            $.ajax({
                url: "IsTransferExist",
                method: "get",
                data: { ACCMAIN_Fid: ACCMAIN_Fid, TranferBy_Fid: TranferBy_Fid },
                success: function (response) {
                    debugger;
                    var Message1 = response.Message;
                    var Icon1 = response.Icon;
                    if (response.Icon == "error") {
                        if (Message1 != null) {
                            if (Message1 != null) {
                                Swal.fire({
                                    icon: Icon1,
                                    text: Message1,
                                    allowOutsideClick: () => {
                                        const popup = Swal.getPopup()
                                        popup.classList.remove('swal2-show')
                                        setTimeout(() => {
                                            popup.classList.add('animate__animated', 'animate__headShake')
                                        })
                                        setTimeout(() => {
                                            popup.classList.remove('animate__animated', 'animate__headShake')
                                        }, 500)
                                        return false
                                    }
                                });
                            }
                        }
                    }
                    else {
                        $("#SaveLeadTransfer").submit();
                    }
                }
            });
        } else {
            return false
        }

    });
    $(document).ready(function () {

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                    }
                });
            }
        }
        $('#ACCMAIN_Fid').change(function () {
            debugger
            var ACCMAIN_Fid = $(this).val();
            var TranferBy_Fid = $('#txtTranferBy_Fid').val(); // replace with actual field or session value

            if (ACCMAIN_Fid) {
                $.ajax({
                    url: '@Url.Action("GetAllLeadDetails", "CRM")',
                    type: 'GET',
                    data: {
                        ACCMAIN_Fid: ACCMAIN_Fid,
                        TranferBy_Fid: TranferBy_Fid
                    },
                    success: function (data) {
                        $('#LeadCreatedDate').text(data.LeadCreatedDate);
                        $('#CreatedBy').text(data.CreatedBy);
                        $('#Stage').text(data.Stage);
                        $('#LeadSource').text(data.LeadSource);
                        $('#ContactPerson').text(data.ContactPerson);
                        $('#EmailId').text(data.EmailId);
                        $('#MobileNo').text(data.MobileNo);
                        $('#LeadOwnerCount').text(data.LeadOwnerCount);
                        $('#TransferByCount').text(data.TransferByCount);

                        $('#employeeLeadCount').text(data.TotalCount);

                        //  $('#summaryContainer').html(data.Summary);


                        $('.panel-body.inv').show();
                    }
                });
            }
        });



        $('#txtTranferBy_Fid').change(function () {
            debugger
            var TranferBy_Fid = $('#txtTranferBy_Fid').val(); // replace with actual field or session value

            if (ACCMAIN_Fid) {
                $.ajax({
                    url: '@Url.Action("GetAllCounts", "CRM")',
                    type: 'GET',
                    data: {

                        TranferBy_Fid: TranferBy_Fid
                    },
                    success: function (data) {
                        $('#LeadOwnerCount').text(data.LeadOwnerCount);
                        $('#TransferByCount').text(data.TransferByCount);
                        $('#opportunityCount').text(data.opportunityCount);
                        $('#opportunityTransferByCount').text(data.opportunityTransferByCount);
                        $('#employeeLeadCount').text("Currently working on " +  data.TotalCount + " Leads and " +  data.opportunityTotalCount   + " opportunities.");

                        $('.panel-body.inv').show();
                    }
                });
            }
        });


        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500)
                    }
                });
            }
        }



        $('#CompanyName1').change(function () {
            var selectedCompany = $(this).val();
            if (selectedCompany) {
                $.ajax({
                    url: '@Url.Action("GetOpportunityByCompany", "CRM")',
                    type: 'GET',
                    data: { companyName: selectedCompany },
                    success: function (data) {
                        var leadDropdown = $('#ACCMAIN_Fid');
                        leadDropdown.empty();
                        leadDropdown.append($('<option>').text('Select').val(''));
                        $.each(data, function (i, item) {
                            leadDropdown.append($('<option>').text(item.LeadName).val(item.Fid));
                        });
                    }
                });
            }
        });


    @*$('#ACCMAIN_Fid').change(function () {
        debugger
        var ACCMAIN_Fid = $(this).val();
        $('#BUCode').empty();

        //$('#txtTranferBy_Fid').empty();

        if (ACCMAIN_Fid !== "") {
            $.ajax({
                url: "@Url.Action("GetbucodeLT", "CRM")",
                method: "get",
            data: { ACCMAIN_Fid: ACCMAIN_Fid },
            success: function (response) {
                debugger;
                $('#BUCode').val(response.BUCode);
                //$('#txtTranferBy_Fid').append('<option value="">' + '--Select--' + '</option>');
                //$.each(response.EmployeeList, function (index, emp) {
                //    $('#txtTranferBy_Fid').append($('<option/>', {
                //        value: emp.Fid,
                //        text: emp.EmployeeName,
                //    }));
                //});
            }
        })
            }
    })*@
    })

</script>


