
@{
    ViewBag.Title = "SiteMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="~/Admin/Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="~/Admin/Admin/MAS_IndustryType">Industry Type</a></li>
    </ol>

    <div class="d-flex flex-wrap">
        @*<button type="button" class="btn btn-danger d-lg-block m-l-15 me-1 mb-1" onclick="location.href='@Url.Action("AccountDetails", "CRM", new { EncryptedId = Convert.ToString(Session["EnIdSL"]) })'"><i class="fa fa-arrow-left fa-sm" title="Back" style="font-size:x-small"></i> Back</button>*@
        <button type="button"
                onclick="location.href='@Url.Action("AccountDetails", "CRM", new { EncryptedId = Convert.ToString(Session["EnIdSL"]) })'"
                style="background: none; border: none; padding: 0; cursor: pointer;">
            <img src="~/assets/MenuImages/Back.png"
                 alt="Back"
                 style="width: 28px; height: auto;">
        </button>

    </div>

    <div class="panel panel-inverse" data-sortable-id="table-basic-4">
        <div class="panel-heading">
            <h4 class="panel-title">Site Mapping</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="formContainer">
                    <form id="SaveAssociateSite" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Site Name </label>
                                @Html.DropDownList("ACCSITES_Fid", new SelectList(ViewBag.SiteName, "Fid", "SiteName"), "--Select--", new { @class = "form-control form-select", id = "ACCSITES_Fid", autocomplete = "off" })
                                @Html.Hidden("SiteEncrypted_Id", null, new { id = "SiteEncrypted_Id" })
                                @Html.Hidden("BUCode", null, new { id = "CompanyName" })
                                @Html.Hidden("Level", null, new { id = "Level" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Manager Type </label>
                                @Html.DropDownList("ReportingLevel", new SelectList(ViewBag.ReportingLevel, "ReportingLever", "ReportingRole"), "--Select--", new { @class = "form-control form-select", id = "ReportingLevel", autocomplete = "off" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="mb-2" for="Employees">Employee Name<span class="text-danger">*</span></label>
                                <select name="MAS_Employee_Fid" class="select2 form-control form-select" id="MAS_Employee_Fid" required>
                                    <option>--Select--</option>
                                </select>
                                @*@Html.DropDownList("MAS_Employee_Fid", new SelectList(ViewBag.EmployeeList, "Fid", "EmployeeName"), "--Select--", new { @class = "form-control form-select", id = "MAS_Employee_Fid", autocomplete = "off" })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label class="mb-2"> Active Since <span class="text-danger">*</span></label>
                                @Html.TextBox("ActiveFrom", null, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "ActiveFrom", required = "required" })
                            </div>
                            <div class="col-md-4 col-lg-4 mb-3">
                                <label class="mb-2"> No Of Site Visits <span class="text-danger">*</span></label>
                                @Html.TextBox("NoOfSiteVisit", null, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "number", id = "NoOfSiteVisit" })

                            </div>
                            <div class="col-md-4 col-lg-6 col-xl-4 mb-3">
                                <label class="mb-2">Unit Of Site Visit (In Days)<span class="text-danger">*</span></label>
                                @Html.DropDownList("UnitOfSiteVisit", new SelectList(new List<object>() {
                                    new { text = "7", value = 7 },
                                    new { text = "15", value = 15 },
                                    new { text = "30", value = 30 }
                                }, "value", "text"), "--Select--", new { @class = "form-control form-select", @id = "UnitOfSiteVisit" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <center>
                                    <input type="button" id="SiteSubmit" class="btn btn-success btnpress" value="Save" />
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
                <br />
                <div class="row mt-4">
                    <table id="SiteLoclist" class="table table-striped table-bordered align-middle">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th hidden>Fid</th>
                                <th hidden>SiteId</th>
                                <th>Site Name</th>
                                <th>Manager Type</th>
                                <th hidden>Manager Level</th>
                                <th hidden>Employee Fid</th>
                                <th>Employee Name</th>
                                <th>Active Since</th>
                                <th>No. of Visits</th>
                                <th>Visit Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.sitelist)
                            {
                                <tr>
                                    <td>
                                        <button type="button"
                                                class="btn btn-sm btn-primary editSiteName"
                                                data-encrypted-id="@item.Fid"
                                                data-site-id="@item.ACCSITE_Fid"
                                                data-site-name="@item.SiteName"
                                                data-reporting-role="@item.ReportingRole"
                                                data-reporting-level="@item.Level"
                                                data-employee-fid="@item.MAS_EMployee_Fid"
                                                data-employee-name="@item.EmployeeName"
                                                data-active-from="@item.ActiveFrom"
                                                data-no-of-site-visit="@item.NoOfSiteVisit"
                                                data-unit-of-site-visit="@item.UnitOfSiteVisit">
                                            Edit
                                        </button>
                                        <button class="btn btn-sm btn-danger" onclick="deleteSite('@item.Fid')">Delete</button>
                                    </td>
                                    <td hidden>@item.Fid</td>
                                    <td hidden>@item.SiteId</td>
                                    <td>@item.SiteName</td>
                                    <td>@item.ReportingRole</td>
                                    <td hidden>@item.Level</td>
                                    <td hidden>@item.MAS_Employee_Fid</td>
                                    <td>@item.EmployeeName</td>
                                    <td>@item.ActiveFrom.ToString("yyyy-MMM-dd")</td>
                                    <td>@item.NoOfSiteVisit</td>
                                    <td>@item.UnitOfSiteVisit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="app-footer m-0">
        &copy;
        <script>document.write(new Date().getFullYear())</script> Probus Software. All Right Reserved
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#MAS_Employee_Fid').select2({
            allowClear: true,
            width: '100%'
        });
    });

</script>

<script>
    window.editEmployeeId = null;

    $(document).ready(function () {
        $('#ReportingLevel').change(function () {
            debugger
            var reportingLevel = $(this).val();
            $('#MAS_Employee_Fid').empty();

            if (reportingLevel !== "") {
                $.ajax({
                    url: "@Url.Action("GetEmployeeTypeWise", "CRM", new { area = "CRMS" })",
                    method: "GET",
                    data: { ACCSITES_Fid: reportingLevel },
                    success: function (response) {
                        debugger
                        $('#MAS_Employee_Fid').append('<option value="">' + '--Select--' + '</option>');
                        $.each(response.EmployeeList, function (index, emp) {
                            debugger
                            $('#MAS_Employee_Fid').append($('<option/>', {
                                value: emp.Fid,
                                text: emp.EmployeeName,
                            }));
                        });

                        // Set employee dropdown value if editing
                        if (window.editEmployeeId) {
                            $('#MAS_Employee_Fid').val(window.editEmployeeId);
                            window.editEmployeeId = null;
                        }
                    }
                });
            }
        });

        // --- EDIT BUTTON FUNCTIONALITY USING data-* ---
        $(document).on("click", ".editSiteName", function () {
            debugger
            $("#SiteEncrypted_Id").val($(this).data("encrypted-id"));
            $("#ACCSITES_Fid").val($(this).data("site-id")).change();
            $("#ReportingLevel").val($(this).data("reporting-level")).change();
            // $("#MAS_Employee_Fid").val($(this).data("employee-fid")).change();
            window.editEmployeeId = $(this).data("employee-fid"); // For Employee dropdown after AJAX
            var activeFrom = $(this).data("active-from");
            $("#ActiveFrom").val(activeFrom || "")
            $("#NoOfSiteVisit").val($(this).data("no-of-site-visit"));
           // var unitOfSiteVisit = $(this).data("unit-of-site-visit");
            $("#UnitOfSiteVisit").val(String($(this).data("unit-of-site-visit")));
        });
    });

    $("#SaveAssociateSite").validate({
        rules: {
            ACCSITES_Fid: { required: true },
            ActiveFrom: { required: true },
            UnitOfSiteVisit: { required: true },
            NoOfSiteVisit: { required: true },
            //MAS_Employee_Fid: { required: true }
        },
        messages: {
            ACCSITES_Fid: { required: "Site Name is required" },
            ActiveFrom: { required: "Active Since is required" },
            UnitOfSiteVisit: { required: "Unit Of Site Visit is required" },
            NoOfSiteVisit: { required: "No Of Site Visits is required" },
          //  MAS_Employee_Fid: { required: "Employee Name is required" }
        }
    });

    var form2 = $("#SaveAssociateSite");
    form2.validate();

    // Save or Update
    $("#SiteSubmit").click(function () {
        if (form2.valid()) {
            var formData = {
                Encrypted_Id: $("#SiteEncrypted_Id").val(),
                ACCSITE_Fid: $("#ACCSITES_Fid").val(),
                ActiveFrom: $("#ActiveFrom").val(),
                MAS_Employee_Fid: $("#MAS_Employee_Fid").val(),
                Level: $("#ReportingLevel").val(),
                BUCode: $("#CompanyName").val(),
                UnitOfSiteVisit: $("#UnitOfSiteVisit").val(),
                NoOfSiteVisit: $("#NoOfSiteVisit").val()
            };

            $.ajax({
                url: "/CRMS/CRM/MANG_AscSiteCreation",
                method: "POST",
                data: formData,
                success: function (response) {
                    Swal.fire({
                        icon: response.Icon,
                        text: response.Message,
                        allowOutsideClick: false
                    }).then(function () {
                        location.reload(); // Reload to reflect changes
                    });
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        text: 'Failed to save the record.'
                    });
                }
            });
        } else {
            return false;
        }
    });

    function deleteSite(fid) {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to delete this record?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/CRMS/CRM/DeleteSiteMapping',
                    method: 'POST',
                    data: { Fid: fid },
                    success: function (response) {
                        Swal.fire({
                            icon: response.Icon,
                            text: response.Message
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            text: 'Failed to delete the record.'
                        });
                    }
                });
            }
        });
    }
</script>
