@model KompassHR.Areas.CRMS.Models.ACCSITES

@{
    ViewBag.Title = "SiteCloseCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label.error {
        text-align: left;
        height: 25px;
        color: red;
        font-size: 12px;
    }

    .error {
        text-align: left;
        height: 35px;
    }

    input[type="radio"] {
        display: none;
    }
</style>

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end">

    </ol>

    <!-- BEGIN page-header -->
    <div class="d-flex flex-wrap">
        @{ var EncryptedId = ViewBag.EncryptedId as string; }

        <button type="button"
                onclick="location.href='@Url.Action("AccountDetails", "CRM", new { EncryptedId = Convert.ToString(Session["EnIdSL"]) })'"
                style="background: none; border: none; padding: 0; cursor: pointer;">
            <img src="~/assets/MenuImages/Back.png"
                 alt="Back"
                 style="width: 28px; height: auto;">
        </button>

      @*<button type="button" class="btn btn-danger d-lg-block m-l-15 me-1 mb-1" onclick="location.href='@Url.Action("AccountDetails", "CRM", new { EncryptedId = EncryptedId })'"><i class="fa fa-arrow-left fa-sm" title="Back" style="font-size:x-small"></i> Back</button>*@
    </div>    <!-- END page-header -->

    <div class="panel panel-inverse" data-sortable-id="table-basic-4">
        <!-- BEGIN panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">Site close</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- END panel-heading -->
        <!-- BEGIN panel-body -->
        <div class="panel-body">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-12 -->
                <div class="col-12">
                    <form action="/CRMS/CRM/SiteCloseCreation" id="SaveSiteCloseForm" method="post" data-parsley-validate="true">

                        <div class="form-group row">

                            <div class="col-md-6 mb-3">
                                <label class="mb-2"> Site Name : <span class="text-danger">*</span></label>
                                @Html.DropDownListFor(model => model.SiteName, new SelectList(ViewBag.Sites, "Fid", "SiteName"), "--Select--", new { @class = "form-control", Type = "text", id = "SiteName", name = "SiteName", required = "required" })
                                @Html.HiddenFor(model => model.Encrypted_Id, new { id = "Encrypted_Id" })
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="mb-2" for="Employees">Location Name<span class="text-danger">*</span></label>
                                <select name="Fid" class="select2 form-control form-select" id="Location" required>
                                    <option>--Select--</option>
                                </select>
                            </div>

                     
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 mb-3">
                                <label class="mb-2"> Location Close Date : <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.SiteCloseDate, new { @class = "form-control", Type = "date", id = "SiteCloseDate", name = "SiteCloseDate", required = "required" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="mb-2"> Location Close Reason : <span class="text-danger">*</span></label>
                                @Html.TextAreaFor(model => model.SiteCloseReason, new { @class = "form-control", Type = "text", id = "SiteCloseReason", name = "SiteCloseReason", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <center>
                                    <label class="mb-2">
                                        <input type="submit" id="btnSubmit" class="btn btn-success btnpress" value="Save" />
                                    </label>
                                </center>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- END panel-body -->

    </div>
    <div id="footer" class="app-footer m-0">
        &copy;
        <script>document.write(new Date().getFullYear())</script> Probus Software. All Right Reserved
    </div>
</div>


<script>

    $(document).ready(function () {


        $('#SiteName').change(function () {
            debugger
            var Fid = $(this).val();
            $('#Location').empty();

            if (Fid !== "") {
                $.ajax({
                    url: "@Url.Action("GetLocation", "CRM")",
                    method: "get",
                data: { Fid: Fid },
                success: function (response) {
                    debugger;

                    $('#Location').append('<option value="">' + '--Select--' + '</option>');
                    $.each(response.Location, function (index, emp) {
                        $('#Location').append($('<option/>', {
                            value: emp.Fid,
                            text: emp.LocationName,
                        }));
                    });
                }
            })
            }
        });
    });

</script>

