@model KompassHR.Areas.ESS.Models.ESS_Recruitment.Recruitment_OfferLetterGeneration
@{
    ViewBag.Title = "ViewForCandidateStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<style>
    .note-toolbar {
        display: none;
    }

    .note-editable {
        height: 100% !important;
        [contenteditable="false"];
    }

    .card-row-title {
        color: #e63c3c;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: #009ce7 1px solid;
    }
</style>


<div id="content" class="app-content">
    <!-- BEGIN breadcrumb -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 18px; font-family: roboto; transform: translateY(4px); margin: 0;">
                Candidate Details
            </h1>
            <ol style="list-style: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 10px;">
                    <a href="@Url.Action("Dashboard", "Dashboard", new { area = "" })">
                        <img src="~/assets/MenuImages/Home.png" style="max-width: 100%; height: auto;" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ESS_Recruitment_Menu", "ESS_Recruitment_Menu", new {id = 1, ScreenId=126, area = "ESS" })">
                        <img src="~/assets/MenuImages/Back.png" style="max-width: 100%; height: auto;" alt="Back">
                    </a>
                </li>
            </ol>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible rounded-0 mb-0 fade show">
        Candidates assessment results and interview comments are captured on this form.
    </div>
    <!-- END page-header -->
    <!-- BEGIN invoice -->
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        <div class="invoice-company">
            <!-- BEGIN modal -->
            <span class="float-end hidden-print">
                <button type="button" class="btn  btn-primary" onclick="printDiv();" id="search"><i class="ace-icon fa fa-print align-top bigger-125"></i>&nbsp; Print</button>
            </span>
            <!-- BEGIN modal -->
            Recruitment for : @ViewBag.CandidateStatusProfile.DesignationName
        </div>
        <!-- END invoice-company -->
        <form class="form">
            <div class="card">
                <div id="card">
                    <!-- BEGIN invoice-header -->
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-user"> </i>     <strong class="text-dark">&nbsp;@ViewBag.CandidateStatusProfile.CandidateName</strong><br />
                                <i class="fa-solid fa-phone-volume"> </i>&nbsp;    <b>Phone:</b>&nbsp; +@ViewBag.CandidateStatusProfile.MobileNo <br />
                                <i class="fa-solid fa-envelope"> </i>&nbsp;&nbsp;<b>Email:</b>&nbsp;  @ViewBag.CandidateStatusProfile.EmailId
                            </address>
                        </div>
                        <div class="invoice-to">
                            <small>   </small>
                            <br />
                            <address class="mt-5px mb-5px">
                                <i class="fa-solid fa-building"> </i>&nbsp;&nbsp; &nbsp; <b> Current Organization:</b>&nbsp; @ViewBag.CandidateStatusProfile.LastCompanyName<br />
                                <i class="fa-regular fa-handshake"> </i>&nbsp;&nbsp;  <b>  Current Designation: </b>&nbsp; @ViewBag.CandidateStatusProfile.LastDesignation<br />
                                <i class="fa-solid fa-info"></i> &nbsp;&nbsp; &nbsp; <b>Experience:</b> &nbsp;@ViewBag.CandidateStatusProfile.TotalExperience<br />
                            </address>
                        </div>

                        <div class="invoice-date">
                            <small> </small>
                            <br />
                            <div class="date text-dark mt-5px"></div>
                            <div class="invoice-detail">
                                <i class="fa-solid fa-calendar-days"></i> <b> Notice Period (Days): </b>@ViewBag.CandidateStatusProfile.NoticePeriodDays<br />
                            </div>
                        </div>
                    </div>
                    <!-- END invoice-header -->
                    <br />
                    <!-- BEGIN invoice-content -->
                    <div class="row mb-15px">
                        <div class="col-md-12">
                            <div class="card-row-title">
                                Interview Checklist
                            </div>
                        </div>
                    </div>
                    <div class="invoice-content">
                        <table id="tableCheckList" class="table table-striped table-bordered align-middle">
                            <thead class="text-center">
                                <tr>

                                    <th>Key Compentencies</th>
                                    <th>Rate Out Of</th>
                                    <th>Rate Obtained</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in ViewBag.CandidateChecklistProfile)
                                {
                                    <tr>

                                        <td>@d.Remarks</td>
                                        <td>@d.InterviewResultCheckListRate</td>
                                        <td>@d.InterviwerRate</td>
                                        <td>@d.InterviewResultRemark</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="1"> <h3 class="text-center">Total</h3></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtInterviewResultCheckListRate" style="background-color:#eee" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="txtInterviwerRate" @*style="text-align:right"*@ style="background-color:#eee" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*<div class="row mb-15px">
                        <div class="col-md-12">
                            <div class="card-row-title">
                                Skill Set
                            </div>
                        </div>
                    </div>
                    <div class="invoice-content">
                        <table id="tableCheckList" class="table table-striped table-bordered align-middle">
                            <thead class="text-center">
                                <tr>
                                    <th>Skill Name</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in ViewBag.CandidateSkillProfile)
                                {
                                    <tr class="text-center">
                                        <td>@d.Interview_Skill_Name</td>
                                        <td>@d.Interview_Skill_Description</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>*@
                </div>
            </div>
        </form>
        <!-- BEGIN invoice-footer -->
    </div>
    <!-- END invoice -->
</div>


<script>
    $(document).ready(function () {

        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        var Interview = @Html.Raw(Json.Encode(ViewBag.CandidateChecklistProfile));
        if(Interview!=null)
        {
            for(var i=0;i <= Interview.length-1;i++)
            {
                var Count=0;
                var Count1=0;
                var txtInterviewResultCheckListRate = $("#txtInterviewResultCheckListRate").val();
                var InterviewResultCheckListRate=Interview[i][1].Value;
                Count=Number(txtInterviewResultCheckListRate)+Number(InterviewResultCheckListRate);
                $("#txtInterviewResultCheckListRate").val(Count);

                var txtInterviwerRate= $("#txtInterviwerRate").val();
                var InterviwerRate=Interview[i][2].Value;
                Count1=Number(txtInterviwerRate)+Number(InterviwerRate);
                $("#txtInterviwerRate").val(Count1);
            }
        }


        debugger;
        if (Message != null) {
            if (Message != null) {
                Swal.fire({
                    icon: Icon,
                    text: Message,
                    allowOutsideClick: () => {
                        const popup = Swal.getPopup()
                        popup.classList.remove('swal2-show')
                        setTimeout(() => {
                            popup.classList.add('animate__animated', 'animate__headShake')
                        })
                        setTimeout(() => {
                            popup.classList.remove('animate__animated', 'animate__headShake')
                        }, 500000)
                        return false
                    }
                });
            }
        }

    });

    function printDiv() {

        //Get the HTML of div
        var divElements = document.getElementById('card').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head></head><body>    " +
        divElements + "    </body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }

</script>